<div class="answer" id="form_answer_template" style="display: none; _width: 100%;">

  <table style="width: 100%; position: relative; _height: 10px; min-height: 10px;">
    <tr>
      <td class="answer_select" style="width: 30px;">
        <div style="width: 30px;" class="answer_box">
          <% click_to_set_correct = t('titles.click_to_set_as_correct', "Click to set this answer as correct") %>
          <a href="#" class="select_answer_link no-hover" role="button" title="<%= click_to_set_correct %>"><%= image_tag "blank_answer.png", :class => "answer_image", :alt => click_to_set_correct %></a><br/>
          <span class="answer_weight"><input class="float_value" type="text" style="width: 25px;" aria-label="<%= t('answer_weight', "Answer Weight") %>" name="answer_weight"/>%</span>
        </div>
      </td><td>
        <div class="select_answer answer_type">
          <label for="answer_text"><b><%= t 'possible_answer', 'Possible Answer' %></b></label>
          <input type="text" class="disabled_answer" style="width: 200px;" name="answer_text" aria-label="<%= t 'possible_answer', 'Possible Answer' %>" placeholder="<%= t('answer_text', 'Answer Text') %>" />
          <input type="hidden" name="answer_html"/>
          <span class="answer_html" style="display:inline-block;"></span>
        </div>
        <div class="fixed_answer answer_type">
          <b class="answer_text" tabindex="0"></b>
        </div>
        <div class="short_answer answer_type">
          <label class="short_answer_header" for="answer_text"><b><%= t 'possible_answer', 'Possible Answer' %></b></label>
          <input type="text" name="answer_text" aria-label="<%= t 'possible_answer', 'Possible Answer' %>" placeholder="<%= t('answer_text', 'Answer Text') %>"/>
        </div>
        <div class="matching_answer answer_match answer_type">
          <div class="answer_match_left">
            <% matching_left_text = t('matching_left', 'Matching left side') %>
            <input type="text" style="width: 85%;" name="answer_match_left" placeholder="<%= matching_left_text %>" aria-label="<%= matching_left_text %>"/>
          </div>
          <input type="hidden" name="answer_match_left_html"/>
          <div class="answer_match_left_html"></div>
          <div class="answer_match_middle">&nbsp;
          </div>
          <div class="answer_match_right">
            <% matching_right_text = t('matching_right', 'Matching right side') %>
            <input type="text" style="width: 95%;" name="answer_match_right" placeholder="<%= matching_right_text %>" aria-label="<%= matching_right_text %>"/>
          </div>
          <div class="clear"></div>
        </div>
        <div class="numerical_answer answer_type">
          <select style="font-weight: bold;" class="numerical_answer_type" name="numerical_answer_type" aria-label="<%= t 'numerical_answer', 'Numerical Answer' %>">
            <option value="exact_answer"><%= before_label(:exact_answer, "Exact Answer") %></option>
            <option value="range_answer"><%= before_label(:answer_in_range, "Answer in the Range") %></option>
          </select>
          <span class="exact_answer numerical_answer_text">
            <%= t(:exact_answer_with_error_margin_accessible, "*exact answer* with error margin #error margin#", :wrapper => {
                  '*' => '<input class="float_value long" type="text" style="width: 50px;" name="answer_exact" aria-label="\1"/>',
                  '#' => '<input class="float_value long" type="text" style="width: 70px;" name="answer_error_margin" aria-label="\1"/>' }) %>
          </span>
          <span class="range_answer numerical_answer_text">
            <%= t(:answer_in_range_accessible, "between *range start* and #range end#", :wrapper => {
                  '*' => '<input class="float_value long" type="text" style="width: 50px;" name="answer_range_start" aria-label="\1"/>',
                  '#' => '<input class="float_value long" type="text" style="width: 50px;" name="answer_range_end" aria-label="\1"/>' }) %>
          </span>
        </div>
        <div class="answer_comments comment empty">
          <div class="comment_top"></div>
          <% edit_comment_text = t('titles.click_to_enter_answer_comments', "Click to enter comments, if the student chooses this answer") %>
          <a href="#" class="comment_focus" title="<%= edit_comment_text %>">
            <span class="ellipsis">...</span>
            <i class="icon-edit standalone-icon"><span class="screenreader-only"><%= edit_comment_text %></span></i>
          </a>
          <span id="comments_header" class="details"><%= before_label(:answer_comments, "Comments, if the student chooses this answer") %></span>
          <input type="hidden" name="answer_comment_html" />
          <div class="answer_comment_html comment_html"></div>
        </div>
        <div style="display: none;">
          <span class="blank_id">&nbsp;</span>
          <span class="id">&nbsp;</span>
          <span class="match_id">&nbsp;</span>
        </div>
      </td><td style="vertical-align: top; padding-top: 0.5em; text-align: right; width: 40px;">
        <div class="question_actions">
          <% edit_html_text = t('titles.edit_as_html', "Toggle editing answer text as HTML") %>
          <% delete_html_text = t('titles.delete_answer', "Delete this Answer") %>
          <a href="#" class="edit_html" title="<%= edit_html_text %>"><i class="icon-edit standalone-icon"><span class="screenreader-only"><%= edit_html_text %></span></i></a>
          <a href="#" class="delete_answer_link" title="<%= delete_html_text %>"><i class="icon-trash standalone-icon"><span class="screenreader-only"><%= delete_html_text %></span></i></a>
        </div>
      </td>
    </tr>
  </table>
</div>

