<% data = question_teaser %>
<div class="quiz_sortable question_holder question_teaser" id="question_teaser_<%= question_teaser ? question_teaser[:id] : "blank" %>" style="<%= hidden unless question_teaser %>">
  <div class="display_question question">
    <div class="move">
      <%= image_tag "move.png", :class => "move_icon", "aria-hidden" => true %>
      <a href="#" role="button" class="screenreader-only move_to"><%= t('move_to', 'Move To...') %></a>
    </div>
    <div class="header">
      <a href="#" class="question_name question_teaser_link" title="<%= t('titles.click_to_show_details', "Click to show full question details") %>"><%= hash_get(data, :question_name) %></a>
    </div>
    <div class="links">
      <a href="#" class="edit_teaser_link no-hover" title="<%= t('titles.edit_this_question', "Edit this Question") %>"><%= image_tag "edit.png" %></a>
      <a href="#" class="delete_question_link no-hover" title="<%= t('titles.delete_this_question', "Delete this Question") %>"><%= image_tag "delete.png" %></a>
      <a href="<%= context_url(@context, :context_quiz_quiz_question_url, @quiz.id, question_teaser ? question_teaser[:id] : "{{ id }}") %>" class="update_question_url">&nbsp;</a>
    </div>
    <div class="text">
      <div class="teaser question_text user_content">
        <%= user_content(hash_get(data, :question_text)) %>
      </div>
    </div>
    <div class="bottom_links">
      <span class="id" style="display: none;"><%= question_teaser && question_teaser[:id] %></span>
      <div class="question_points hidden" style="display: none;"><%= hash_get(question_teaser, :points_possible, "0") %></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
