<%
   group = question_group || nil
   if group && hash_get(group, :assessment_question_bank_id)
     question_bank = @banks_hash[hash_get(group, :assessment_question_bank_id)]
   end
%>
<div class="quiz_sortable group_top <%= 'question_bank_top' if question_bank %>" style="<%= "display: none;" unless group %>" id="group_top_<%= hash_get(group, :id, 'template') %>">
  <%= form_for :quiz_group, :url => context_url(@context, :context_quiz_quiz_groups_url, @quiz.id), :html => {:class => "quiz_group_form"} do |f| %>
    <%= render partial: "quizzes/quizzes/move_handle" %>

  <div style="float: left;">
    <input type="hidden" name="quiz_group[assessment_question_bank_id]" class="bank_id"/>
    <span class="group_display name" style="font-weight: bold; padding-right: 20px;"><%= hash_get(group, :name, t(:default_group_name, "Group")) %></span>
    <input name="quiz_group[name]" aria-label=<%= t('labels.group_name', "Group Name") %> type="text" value="Group Name" class="group_edit" value="<%= hash_get(group, :name, t(:default_group_name, "Group")) %>"/>
    <span class="group_display">
      <%= t(:show_questions_and_points, "Pick *%{num_questions}* questions, #%{num_points}# pts per question",
            :num_questions => hash_get(group, :pick_count, 1),
            :num_points => hash_get(group, :question_points, 1),
            :wrapper => {
              '*' => '<span class="pick_count">\1</span>',
              '#' => '<span class="question_points">\1</span>'
            }) %>
    </span>
    <span class="group_edit">
      <%= t(:edit_questions_and_points, "Pick *%{num_questions}* questions, #%{num_points}# pts per question",
            :num_questions => hash_get(group, :pick_count, 1),
            :num_points => hash_get(group, :question_points, 1),
            :wrapper => {
              '*' => "<input name='quiz_group[pick_count]' aria-label='#{h(t('labels.number_of_questions', "Number of Questions"))}' type='text' style='width: 20px;' value='\1'/>",
              '#' => "<input name='quiz_group[question_points]' class='float_value' aria-label='#{h(t('labels.points_per_question', "Points per Question"))}' type='text' style='width: 20px;' value='\1'/>"
            }) %>
    </span>
    <% if !group %>
      <div class="group_edit">
        <a href="#" class="icon-search find_bank_link"><%= t('links.link_to_a_question_bank', "Link to a Question Bank") %></a>
      </div>
    <% end %>
  </div>
  <div style="float: right;" class="links">
    <span class="local_group_links">
      <% collapse_title = t('titles.collapse_group', "Collapse Group") %>
      <% expand_title = t('titles.expand_group', "Expand Group") %>
      <% add_question_title = t('titles.add_question_to_group', "Add Question to this Group") %>
      <a href="#" class="collapse_link group_display no-hover" title="<%= collapse_title %>"><i class="icon-arrow-up standalone-icon"><span class="screenreader-only"><%= collapse_title %></span></i></a>
      <a href="#" class="expand_link group_display hidden no-hover" title="<%= expand_title %>"><i class="icon-arrow-down standalone-icon"><span class="screenreader-only"><%= expand_title %></span></i></a>
      <a href="#" class="add_question_link group_display no-hover" title="<%= add_question_title %>"><i class="icon-add standalone-icon"><span class="screenreader-only"><%= add_question_title %></span></i></a>
    </span>
    <% edit_group_title = t('titles.edit_group_details', "Edit Group Details") %>
    <% delete_group_title = t('titles.delete_group', "Delete Group") %>
    <a href="#" class="edit_group_link group_display no-hover" title="<%= edit_group_title %>"><i class="icon-edit standalone-icon"><span class="screenreader-only"><%= edit_group_title %></span></i></a>
    <a href="#" class="delete_group_link group_display no-hover" title="<%= delete_group_title %>"><i class="icon-trash standalone-icon"><span class="screenreader-only"><%= delete_group_title %></span></i></a>
  </div>
  <div class="clear"></div>
  <div class="button-container">
    <button type="button" class="group_edit cancel_button btn btn-small"/><%= t('#buttons.cancel', "Cancel") %></button>
    <button type="submit" class="group_edit submit_button btn btn-small btn-primary"><%= t('buttons.update', "Update") %></button>
  </div>
  <div style="display: none;">
    <a href="<%= context_url(@context, :context_quiz_quiz_group_url, @quiz.id, hash_get(group, :id, "{{ id }}")) %>" class="update_group_url">&nbsp;</a>
    <a href="<%= context_url(@context, :api_v1_context_quiz_group_reorder_url, @quiz.id, hash_get(group, :id, "{{ id }}")) %>" class="reorder_group_questions_url">&nbsp;</a>
  </div>
  <% end %>
</div>
<% if !group || question_bank %>
  <div class="assessment_question_bank" style="<%= hidden unless question_bank %>"><%= before_label(:question_bank, "Questions will be pulled from the bank") %>
    <a href="/<%= question_bank.try(:context_type).try(:underscore).try(:pluralize) || '{{ context_type_string }}' %>/<%= question_bank.try(:context_id) || '{{ context_id }}' %>/question_banks/<%= question_bank.try(:id) || '{{ bank_id }}' %>" class="bank_name bank_name_link" style="font-weight: bold; <%= hidden unless question_bank %>"><%= question_bank.try(:title) %></a>
    <span class="bank_name" style="font-weight: bold; <%= hidden if question_bank %>"><%= question_bank.try(:title) %></span>
  </div>
<% end %>
<% hash_get(group, :questions, []).each do |question| %>
  <%= render :partial => "display_question", :object => question, :locals => {:in_group => true, :editing => true, :asset_string => "quiz_question_#{question['id']}"} %>
<% end %>
<div class="group_bottom" style="<%= "display: none;" unless group %>" id="<%= "group_bottom_template" unless group %>">
  &nbsp;
</div>
