<% content_for :head do%>
  <base target="_top" />
<% end %>
<ul id="quiz_student_details">
  <li>
    <span class="title"><%= t('headers.due', 'Due') %></span>
    <span class="value">
      <% if @quiz.multiple_due_dates_apply_to?(@current_user) %>
        <%=  t(:multiple_due_dates, 'Multiple Due Dates') %>
      <% elsif due_at = @quiz.overridden_for(@current_user).due_at %>
        <span <%= context_sensitive_datetime_title(due_at, @quiz.context) %>>
          <%= datetime_string(due_at) %>
        </span>
      <% else %>
        <%= t(:no_due_date, 'No due date') %>
      <% end %>
    </span>
  </li>

  <li style="<%= hidden if @quiz.quiz_type == 'survey' %>">
    <span class="title"><%= t('headers.points', "Points") %></span>
    <span class="value"><%= @quiz.points_possible || 0 %></span>
  </li>

  <li>
    <span class="title"><%= t('headers.questions', "Questions") %></span>
    <span class="value"><%= @question_count || 0 %></span>
  </li>
  <%= render :partial => "shared/available_dates", :locals => {:association => @quiz} %>
  <li>
    <span class="title"><%= t('headers.time_limit', "Time Limit") %></span>
    <span class="value">
      <% if @quiz.time_limit %>
        <%= t(:time_limit, "Minute", :count => @quiz.time_limit + ((@submission && @submission.extra_time) || 0)) %>
      <% else %>
        <%= t(:none, "None") %>
      <% end %>
    </span>
  </li>

  <% if @quiz.allowed_attempts && @quiz.allowed_attempts != 1 %>
    <li>
      <span class="title"><%= t(:allowed_attempts, "Allowed Attempts") %></span>
      <span class="value">
        <% if @quiz.allowed_attempts > 0 %>
          <%= ((@submission && @submission.extra_attempts) || 0) + @quiz.allowed_attempts %>
        <% else %>
          <%= t(:unlimited, "Unlimited") %>
        <% end %>
      </span>
    </li>
  <% end %>

  <% if @quiz.require_lockdown_browser %>
    <li>
      <span class="value"><%= t(:requires_lockdown, "Requires Respondus LockDown Browser") %></span>
    </li>
  <% end %>
</ul>
