<%
  # these titles are used in more than one spot below
  admin_manage_title = t('Manage')
  admin_delete_title = t("Delete")
  admin_show_rubric_title = t("Show Rubric")
%>
<div class="header-bar-right">
  <div class="header-group-left">
    <span id="quiz_display_points_possible">
      <%= t("Points %{n}", :n => raw("<span style=\"margin-left:5px\" class=\"points_possible\">#{@quiz.points_possible}</span>")) %>
    </span>

    <% if @quiz.published? %>
      <span id='quiz-draft-state' class='published-status published'>
        <i class="icon-publish"></i><span class="screenreader-only"><%= t("Published") %></span>
        <%= t("Published") %>
      </span>
    <% else %>
      <span id='quiz-draft-state' class='published-status unpublished'>
        <i class="icon-unpublished"></i><span class="screenreader-only"><%= t("Not Published") %></span>
        <%= t("Not Published") %>
      </span>
    <% end %>
  </div>

  <div class="header-group-right">
    <div class="admin-links al-dropdown__container">
      <a class="al-trigger btn" role="button" aria-haspopup="true" aria-owns="manage-toolbar" href="#">
        <i class="icon-settings"></i>
        <i class="icon-mini-arrow-down"></i>
        <span class="screenreader-only"><%= admin_manage_title %></span>
      </a>
      <ul id="manage-toolbar" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false">
        <% if @assignment %>
          <li role="presentation">
            <a href="#" rel="<%= context_url(@context, :context_assignment_rubric_url, @assignment.id) %>" class="show_rubric_link" tabindex="-1" role="menuitem">
              <i class="icon-rubric"></i><span class="screenreader-only"><%= admin_show_rubric_title %></span>
              <%= admin_show_rubric_title %>
            </a>
          </li>
          <a href="<%= context_url(@context, :context_rubrics_url) %>" class="icon-rubric" id="add_rubric_url" style="display:none">&nbsp;</a>
        <% end %>
        <li role="presentation">
        <% if @quiz.grants_right?(@current_user, :delete) %>
          <a href="<%= context_url(@context, :context_quiz_url, @quiz) %>" class="delete_quiz_link" tabindex="-1" role="menuitem">
            <i class="icon-trash"></i><span class="screenreader-only"><%= admin_delete_title %></span>
            <%= admin_delete_title %>
          </a>
        <% else %>
          <a class="disabled" tabindex="-1" role="menuitem" aria-disabled=true>
            <i class="icon-trash"></i><span class="screenreader-only"><%= admin_delete_title %></span>
            <%= admin_delete_title %>
          </a>
        <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>
