<%
# Copyright (C) 2016 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div class="form-actions" id="quiz_edit_actions">
  <div class="row-fluid">
    <div class="span6 notify">
      <label for="quiz_notify_of_update" class="checkbox">
        <input type="checkbox" name="quiz[notify_of_update]" id="quiz_notify_of_update" value="1" />
        <%= t('Notify users this quiz has changed') %>
      </label>
    </div>
    <div class="span6">
      <%= link_to (clean_return_to(params[:return_to]) || context_url(@context, :context_quiz_url, @quiz)), :role => 'button', :class => 'btn', :id => 'cancel_button' do %>
        <%= t("Cancel") %>
      <% end %>
      <% unless @quiz.published %>
        <button type="submit" class="save_and_publish btn btn-publish"><%= t("Save & Publish") %></button>
      <% end %>
      <button type="submit" class="save_quiz_button btn btn-primary"><%= t("Save") %></button>
    </div>
  </div>
</div>
