<% quiz_summary ||= nil
   q = quiz_summary || nil
  submission = nil
  submission = @submissions_hash[q.id] if q
  submission = nil if submission && submission.settings_only?
  unpublished ||= false
  start = Time.now
%>
<li class="quiz clearfix <%= 'unpublished' if unpublished %>" id="summary_quiz_<%= q ? q.id : "blank" %>" style="position: relative">
  <div class="title">
    <a href="<%= context_url(@context, :context_quiz_url, q) %>" class="quiz_title"><%= q.quiz_title || q.readable_type %></a>
    <span class="quiz_id" style="display: none;"><%= (q && q.id) || nbsp %></span>
    <% if q && q.assignment_id && q.assignment.try(:points_possible) %>
      <span style="font-size: 0.8em; font-weight: normal;">(<%= t(:assignment_points_possible, "pt", :count => q.assignment.points_possible) %>)</span>
    <% end %>
  </div>

  <div class="description user_content">
    <% if q.available? %>
      <div style="float: right; margin: 0 0 0 20px;">
        <div style="border-bottom: 1px solid #ccc;">
          <% if submission %>
            <%= before_label(:latest_submission, "Latest Submission") %>
          <% elsif q.survey? %>
            <%= before_label(:survey_details, "Survey Details") %>
          <% else %>
            <%= before_label(:quiz_details, "Quiz Details") %>
          <% end %>
        </div>
        <% if submission && submission.completed? %>
          <%= datetime_string(submission.finished_at) %><br/>
          <% if q.muted? %>
            <%= t(:points_possible, "%{points_possible} points possible", :points_possible => q.points_possible) %><br />
            <%= image_tag "sound_mute.png", :alt => t("#gradebooks.grade.muted", "Muted"), :class => "muted_icon" %>
            <%= t(:student_mute_notification, "Instructor is working on grades") %>
          <% else %>
            <% unless q.ungraded? %>
              <%= score_out_of_points_possible(submission.score, q.points_possible) %>
            <% end %>
          <% end %>
        <% elsif submission %>
          <%= datetime_string(submission.started_at) %><br/>
          <% if q.cant_go_back? %>
            <%= link_to(resume_poll_message(q), course_quiz_url(@context, q)) %>
          <% elsif !q.locked? %>
            <%= link_to(resume_poll_message(q), context_url(@context, :context_quiz_take_url, q.id, :user_id => @current_user && @current_user.id), :method => :post) %>
          <% end %>
        <% else %>
          <% unless q.ungraded? %>
            <%= q.points_possible ? t(:quiz_points_possible, "Point", :count => q.points_possible) : t(:quiz_no_points, "No Points") %><br/>
          <% end %>
          <%= t(:question_count, "Question", :count => q.question_count) %>
        <% end %>
      </div>
      <% if q.multiple_due_dates_apply_to?(@current_user) %>
        <%= before_label(:quiz_due, "Due") %>
        <%= multiple_due_date_tooltip(q, @currentuser,
            :text => t(:quiz_multiple_due_dates, "Multiple Dates"),
            :href => context_url(@context, :context_quiz_url, q)) %>
        <br/>
      <% elsif due_at = q.overridden_for(@current_user).due_at %>
        <%= before_label(:quiz_due, "Due") %>
        <%= friendly_datetime(due_at, context: @context) %>
        <br/>
      <% end %>
      <% if q.time_limit %>
        <%= before_label(:quiz_time_limit, "Time Limit") %> <%= duration_in_minutes(q.time_limit.minutes) %><br/>
      <% end %>
      <% if q.allowed_attempts && q.allowed_attempts != 1 %>
        <% if q.allowed_attempts > 0 %>
          <%= before_label(:allowed_attempts, "Allowed Attempts") %> <%= q.allowed_attempts %><br/>
          <% if submission %>
            <%= before_label(:attempts_left, "Attempts Left") %> <%= q.allowed_attempts - submission.attempt %><br/>
          <% end %>
        <% else %>
          <%= t(:unlimited_attempts, "Unlimited Attempts") %><br/>
          <% if submission %>
            <%= before_label(:attempts_so_far, "Attempts So Far") %> <%= submission.attempt %><br/>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= t(:question_count, "Question", :count => q.unpublished_question_count) %>
    <% end %>
    <div class="user_content" style="margin-top: 5px;">
      <%= user_content(truncate_html(q.description || t(:no_details, "No Details"), :num_words => 50)) %>
    </div>
    <div class="clear"></div>
  </div>

  <% if can_do(q, @current_user, :update) %>
  <div class="quiz_actions" style="position: absolute; top: 5px; right: 5px; font-weight: normal;">
    <div>
      <a href="<%= context_url(@context, :edit_context_quiz_url, q) %>" title="<%= quiz_edit_text(q) %>" class="edit_quiz_link no-hover icon-edit standalone-icon">
        <span class="screenreader-only"><%= quiz_edit_text(q) %></span>
      </a>
      <a href="<%= context_url(@context, :context_quiz_url, q) %>" title="<%= quiz_delete_text(q) %>" class="delete_quiz_link no-hover icon-trash standalone-icon">
        <span class="screenreader-only"><%= quiz_delete_text(q) %></span>
      </a>
    </div>
  </div>
  <% end %>
</li>
