<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<base target="_top" />
<ul id="quiz_student_details">
  <li>
    <span class="title"><%= t('headers.due', 'Due') %></span>
    <span class="value">
      <% if @quiz.multiple_due_dates_apply_to?(@current_user) %>
        <%=  t(:multiple_due_dates, 'Multiple Due Dates') %>
      <% elsif due_at = @quiz.overridden_for(@current_user).due_at %>
        <span <%= context_sensitive_datetime_title(due_at, @quiz.context) %>>
          <%= datetime_string(due_at) %>
        </span>
      <% else %>
        <%= t(:no_due_date, 'No due date') %>
      <% end %>
    </span>
  </li>

  <li style="<%= hidden if @quiz.quiz_type == 'survey' %>">
    <span class="title"><%= t('headers.points', "Points") %></span>
    <span class="value"><%= render_score(@quiz.points_possible) || 0 %></span>
  </li>

  <li>
    <span class="title"><%= t('headers.questions', "Questions") %></span>
    <span class="value"><%= @question_count || 0 %></span>
  </li>
  <%= render :partial => "shared/available_dates", :locals => {:association => @quiz} %>
  <li>
    <span class="title"><%= t('headers.time_limit', "Time Limit") %></span>
    <span class="value">
      <% if @quiz.time_limit %>
        <%= t(:time_limit, "Minute", :count => @quiz.time_limit + ((@submission && @submission.extra_time) || 0)) %>
      <% else %>
        <%= t(:none, "None") %>
      <% end %>
    </span>
  </li>

  <% if @quiz.allowed_attempts && @quiz.allowed_attempts != 1 %>
    <li>
      <span class="title"><%= t(:allowed_attempts, "Allowed Attempts") %></span>
      <span class="value">
        <% if @quiz.allowed_attempts > 0 %>
          <%= ((@submission && @submission.extra_attempts) || 0) + @quiz.allowed_attempts %>
        <% else %>
          <%= t(:unlimited, "Unlimited") %>
        <% end %>
      </span>
    </li>
  <% end %>

  <% if @quiz.require_lockdown_browser %>
    <li>
      <span class="value"><%= t(:requires_lockdown, "Requires Respondus LockDown Browser") %></span>
    </li>
  <% end %>
</ul>
