<% content_for :page_title, t(:page_titles, "Quizzes") %>
<% js_bundle :quizzes_index_legacy %>


<% js_bundle :quizzes_index_legacy %>

<% content_for :right_side do %>
  <% if can_do(@context.quizzes.scoped.new, @current_user, :create) %>
    <div class="rs-margin-lr rs-margin-top">
      <%
        # Create New Quiz title
        cnq_title = t('links.create_new_quiz', "Create a New Quiz")
      %>
      <a href="<%= context_url(@context, :new_context_quiz_url, :fresh => 1) %>" class="btn button-sidebar-wide new-quiz-link"><i class="icon-add"><span class="screenreader-only"><%= cnq_title %></span></i> <%= cnq_title %></a>
      <% if can_do(@context, @current_user, :manage_assignments) && feature_enabled?(:question_banks) %>
        <%
          # Manage Question Banks title
          mqb_title = t('links.manage_question_banks', "Manage Question Banks")
        %>
        <a href="<%= context_url(@context, :context_question_banks_url) %>" class="btn button-sidebar-wide"><i class="icon-question"><span class="screenreader-only"><%= mqb_title %></span></i> <%= mqb_title %></a>
      <% end %>
      <% if can_do(@context, @current_user, :manage_assignments) && @unpublished_quizzes.length > 1 %>
        <a href="#" class="btn button-sidebar-wide publish_multiple_quizzes_link"><%= t('links.publish_multiple_quizzes', "Publish Multiple Quizzes") %></a>
      <% end %>
    </div>
  <% end %>
<% end %>
<% content_for :stylesheets do %>
  <style>
  ul.quiz_list {
    margin-top: 5px;
    padding-left: 10px;
  }
  ul.quiz_list li.quiz {
    list-style-type: none;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  ul.quiz_list li.quiz.unpublished {
    border-width: 2px;
  }
  ul.quiz_list li.quiz div.title {
    font-size: 1.2em;
    font-weight: bold;
  }
  ul.quiz_list li.quiz div.description {
    font-size: 0.85em;
    margin-left: 20px;
  }
  </style>
<% end %>
<% if can_do(@context, @current_user, :manage_assignments) && @unpublished_quizzes && !@unpublished_quizzes.empty? %>
  <h2><%= t('headers.unpublished_quizzes', "Unpublished Quizzes") %></h2>
  <ul class="quiz_list" id="unpublished_quizzes">
    <%= render :partial => "quiz_summary", :collection => @unpublished_quizzes, :locals => {:unpublished => true} %>
  </ul>
  <div title="<%= t('headers.publish_multiple_quizzes', "Publish Multiple Quizzes") %>" id="publish_multiple_quizzes_dialog" style="display: none;">
    <%= form_tag context_url(@context, :context_quizzes_publish_url), :id => "publish_quizzes_form" do %>
      <%= before_label(:publish_multiple_quizzes, "Select the quizzes you would like to publish at this time") %>
      <ul class="quiz_list unstyled_list">
        <li class="quiz_item blank" style="display: none;">
          <input type="checkbox" value="1" name="quizzes[]" class="id"/>
          <label class="title">&nbsp;</label>
        </li>
      </ul>
      <div class="button-container">
        <button type="submit" class="btn submit_button"><%= t('buttons.publish_quizzes', "Publish Quizzes") %></button>
        <button type="button" class="btn btn button-secondary cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
      </div>
    <% end %>
  </div>
<% end %>
<% if @assignment_quizzes.empty? && @open_quizzes.empty? %>
  <h2><%= t('headers.course_quizzes', "Course Quizzes") %></h2>
  <%= t(:no_quizzes, "No quizzes available") %>
<% end %>
<% if !@assignment_quizzes.empty? %>
  <h2><%= t('headers.assignment_quizzes', "Assignment Quizzes") %></h2>
  <ul class="quiz_list">
    <%= render :partial => "quiz_summary", :collection => @assignment_quizzes %>
  </ul>
<% end %>
<% if !@open_quizzes.empty? %>
  <h2><%= t('headers.practice_quizzes', "Practice Quizzes") %></h2>
  <ul class="quiz_list">
    <%= render :partial => "quiz_summary", :collection => @open_quizzes %>
  </ul>
<% end %>
<% if !@surveys.empty? %>
  <h2><%= t('headers.surveys', "Surveys") %></h2>
  <ul class="quiz_list">
    <%= render :partial => "quiz_summary", :collection => @surveys %>
  </ul>
<% end %>

<% if (@quizzes.any?{|q| q.lock_at || q.unlock_at} || @context.try_rescue(:module_based?)) && !can_do(@context, @current_user, :manage_content) %>
  <a href="<%= context_url(@context, :context_locks_url) %>" id="quiz_locks_url" style="display: none;">&nbsp;</a>
  <%= image_tag "lock_small.png", :style => "display: none;", :class => "content_lock_icon", :id => "quiz_lock_icon", :title => t('titles.this_quiz_is_locked', "This quiz is currently locked.  Click for more details."), :alt => "locked" %>
  <a href="<%= context_url(@context, :context_context_modules_url) %>" id="context_modules_url" style="display: none;">&nbsp;</a>
<% end %>