<%
  jammit_css :quizzes, :tinymce
  js_bundle :quizzes_bundle
  js_env :QUIZZES => {:QUIZ => true}
  content_for :page_title, (@quiz.quiz_title || !@quiz.quiz_title.empty? ? @quiz.quiz_title : t(:default_page_title, 'New Quiz'))
%>

<%
  # these titles are used in more than one spot below
  admin_manage_title = t('manage', 'Manage')
  admin_delete_title = t('titles.delete', "Delete")
  admin_show_rubric_title = t('links.show_assignment_rubric', "Show Rubric")
%>

<% content_for :right_side do %>
  <%= render :partial => "shared/wiki_sidebar" %>

  <ul class="page-action-list">
    <li><%= link_to t('new_assignment', 'New Assignment'),
            new_course_assignment_url(@context),
            :class => 'icon-assignment' %></li>
    <li><%= link_to t('new_discussion', 'New Discussion'),
            new_course_discussion_topic_url(@context),
            :class => 'icon-discussion-new' %></li>
  </ul>
<% end %>

<% if @context.feature_enabled?(:draft_state) %>
<div class="header-bar" id="quiz_edit_header">
  <div class="header-bar-right">
    <div class="header-group-left">
      <span id="quiz_display_points_possible">
        <%= t(:points_possible, "Points %{n}", :n => raw("<span style=\"margin-left:5px\" class=\"points_possible\">#{@quiz.points_possible}</span>")) %>
      </span>

      <% if @quiz.published? %>
        <% quiz_draft_state_title = t('buttons.published', "Published") %>
        <span id='quiz-draft-state' class='published-status published'>
          <i class="icon-publish"><span class="screenreader-only"><%= quiz_draft_state_title %></span></i>
          <%= quiz_draft_state_title %>
        </span>
      <% else %>
        <% quiz_draft_state_title = t('buttons.not_published', "Not Published") %>
        <span id='quiz-draft-state' class='published-status unpublished'>
          <i class="icon-unpublished"><span class="screenreader-only"><%= quiz_draft_state_title %></span></i>
          <%= quiz_draft_state_title %>
        </span>
      <% end %>
    </div>

    <div class="header-group-right">
      <div class="admin-links" role="application">
        <a class="al-trigger btn" role="button" aria-haspopup="true" aria-owns="manage-toolbar" href="#">
          <i class="icon-settings"></i>
          <i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only"><%= admin_manage_title %></span>
        </a>
        <ul id="manage-toolbar" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false">
          <% if @assignment %>
            <li role="presentation">
              <a href="#" rel="<%= context_url(@context, :context_assignment_rubric_url, @assignment.id) %>" class="show_rubric_link" tabindex="-1" role="menuitem">
                <i class="icon-rubric"><span class="screenreader-only"><%= admin_show_rubric_title %></span></i>
                <%= admin_show_rubric_title %>
              </a>
            </li>
            <a href="<%= context_url(@context, :context_rubrics_url) %>" class="icon-rubric" id="add_rubric_url" style="display:none">&nbsp;</a>
          <% end %>
          <li role="presentation">
            <a href="<%= context_url(@context, :context_quiz_url, @quiz) %>" class="delete_quiz_link" tabindex="-1" role="menuitem">
              <i class="icon-trash"><span class="screenreader-only"><%= admin_delete_title %></span></i>
              <%= admin_delete_title %>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<% end %>

<div id="quiz_edit_wrapper">
  <div class="form">

  <% if @has_student_submissions %>
    <% has_student_submissions_title = t('warnings.has_student_submissions', <<-TEXT)
      Students have either already taken or started taking this quiz, so be careful
      about editing it.  If you change any quiz questions in a significant way, you
      may want to consider regrading students who took the old version of the quiz.
      TEXT
    %>
    <div class="alert alert-info" id="student_submissions_warning">
      <i class="icon-warning"><span class="screenreader-only"><%= has_student_submissions_title %></span></i> <%= has_student_submissions_title %>
    </div>
  <% end %>

  <% if @context.feature_enabled?(:draft_state) %>
  <div class="title">
    <label for="quiz_title" class="screenreader-only"><%= t('quiz_title', 'Quiz Title') %></label>
    <%= text_field :quiz, :title, :placeholder => "Quiz Title", :maxlength => "254" %>
  </div>
  <% else %>
  <div class="row-fluid">
    <div class="span6">
    <%= text_field :quiz, :title, :placeholder => "Quiz Title", :maxlength => "254" %>
    </div>
    <div class="span6">
      <div class="admin-link-hover-area">
        <div class="admin-links" role="application">
          <a class="al-trigger btn" role="button" aria-haspopup="true" aria-owns="manage-toolbar" href="#">
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only"><%= admin_manage_title %></span>
          </a>
          <ul id="manage-toolbar" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false">
            <% if @assignment %>
              <li role="presentation">
                <a href="#" rel="<%= context_url(@context, :context_assignment_rubric_url, @assignment.id) %>" class="show_rubric_link" tabindex="-1" role="menuitem">
                  <i class="icon-rubric"><span class="screenreader-only"><%= admin_show_rubric_title %></span></i>
                  <%= admin_show_rubric_title %>
                </a>
              </li>
              <a href="<%= context_url(@context, :context_rubrics_url) %>" class="icon-rubric" id="add_rubric_url" style="display:none">&nbsp;</a>
            <% end %>

            <li role="presentation">
              <a href="<%= context_url(@context, :context_quiz_url, @quiz) %>" class="delete_quiz_link" tabindex="-1" role="menuitem">
                <i class="icon-trash"><span class="screenreader-only"><%= admin_delete_title %></span></i>
                <%= admin_delete_title %>
              </a>
            </li>

          </ul>
        </div>
        <div id="quiz_display_points_possible">
          <%= t(:points_possible, "Points %{n}", :n => raw("<span style=\"margin-left:5px\" class=\"points_possible\">#{@quiz.points_possible}</span>")) %>
        </div>
      </div>

    </div>
  </div>
  <% end %>

  <div style="display: none;" id="quiz_urls">
    <a href="<%= context_url(@context, :context_quiz_url, @quiz.id) %>" class="update_quiz_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_quiz_quiz_questions_url, @quiz.id) %>" class="add_question_url">&nbsp;</a>
    <a href="<%= context_url(@context, :api_v1_context_quiz_reorder_url, @quiz.id) %>" class="reorder_questions_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_quiz_quiz_groups_url, @quiz.id) %>" class="add_group_url">&nbsp;</a>
  </div>

  <div id="quiz_tabs">
    <ul>
      <li><a href="#options_tab">Settings</a></li>
      <li><a href="#questions_tab">Questions</a></li>
    </ul>

    <div id="options_tab">
      <%= form_tag context_url(@context, :context_quiz_url, @quiz.id), {:method => :put, :id => "quiz_options_form", :class => 'form-horizontal bootstrap-form'} do %>
        <div style="position: relative;">
          <div style="margin: 15px 0 25px;">
            <%= before_label(:quiz_instructions, "Quiz Instructions") %>
            <div style="float: right; font-size: 0.8em; cursor: pointer;">
              <a href="#" class="toggle_description_views_link"><%= t '#editor.switch_editor_html', "HTML Editor" %></a>
              <a href="#" class="toggle_description_views_link" style="display:none;"><%= t '#editor.switch_editor_rich_text', "Rich Content Editor" %></a>
            </div>
            <textarea id="quiz_description" style="display: block;width: 100%;margin: 0px auto;height: 125px"><%= @quiz.description %></textarea>
          </div>

          <fieldset>
            <div class="control-group">
              <label class="control-label" for="quiz_assignment_id"><%= t(:quiz_type, "Quiz Type") %></label>
              <div class="controls">
                <select name="quiz[quiz_type]" id="quiz_assignment_id">
                  <option value="practice_quiz"><%= render_quiz_type('practice_quiz') %></option>
                  <option value="assignment" <%= 'selected' if @quiz.quiz_type == 'assignment' %> ><%= render_quiz_type('assignment') %></option>
                  <option value="graded_survey" <%= 'selected' if @quiz.quiz_type == 'graded_survey' %> ><%= render_quiz_type('graded_survey') %></option>
                  <option value="survey" <%= 'selected' if @quiz.quiz_type == 'survey' %> ><%= render_quiz_type('survey') %></option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="quiz_assignment_group_id"><%= t(:group, "Assignment Group") %></label>
              <div class="controls">
                <select name="quiz[assignment_group_id]" id="quiz_assignment_group_id">
                  <% current_group_id = @quiz.assignment && @quiz.assignment.assignment_group_id || @quiz.assignment_group_id
                     @context.assert_assignment_group %>
                  <% @context.assignment_groups.active.each do |g| %>
                    <option value="<%= g.id %>" <%= 'selected' if g.id == current_group_id%>><%= g.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="control-group" id="quiz_points_possible" style="<%= hidden unless @quiz.quiz_type == 'graded_survey' %>">
              <%= label :quiz, :points_possible, :quiz_score, :en => "Score", :class => 'control-label' %>
                <div class="controls">
                  <%= text_field :quiz, :points_possible, :style => "width: 50px;" %> pts
                  <div style="font-size: 0.8em;">
                    <%= t('hints.quiz_score', "students will automatically receive full credit once they take the survey") %>
                  </div>
                </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <p class="option-caption"><strong>Options</strong></p>

                <label class="checkbox" for="quiz_shuffle_answers">
                  <%= check_box :quiz, :shuffle_answers %>
                  <%= t(:shuffle_answers, "Shuffle Answers") %>
                </label>

                <div>
                  <label class="checkbox inline nowrap" for="time_limit_option" style="margin-top:-3px;">
                    <input type="checkbox" <%= "checked" if @quiz.time_limit %> name="time_limit" id="time_limit_option"/>
                    <%= t('label.time_limit', "Time Limit") %>
                  </label>

                  <label class="checkbox inline" for="quiz_time_limit" style="padding-top:0;">
                    <%= text_field :quiz, :time_limit, :style => "width: 30px;", :"aria-label" => t(:time_limit, "How many minutes?") %>
                    <%= t(:minutes, "Minutes") %>
                  </label>
                </div>

                <div class="quiz_survey_setting" style="<%= hidden unless @quiz.survey? %>">
                  <label class="checkbox" for="quiz_anonymous_submissions">
                    <%= check_box :quiz, :anonymous_submissions %>
                    <%= t('anonymous_submissions', "Keep Submissions Anonymous") %>
                  </label>
                </div>

                <!-- Multiple Attempts -->
                <div class="option-group">
                  <label class="checkbox" for="multiple_attempts_option">
                    <input type="checkbox" <%= "checked" if @quiz.allowed_attempts && @quiz.allowed_attempts != 1 %> name="multiple_attempts" value="1" id="multiple_attempts_option" />
                    <%= t('labels.allow_multiple_attempts', "Allow Multiple Attempts") %>
                  </label>
                  <div class="options" id="multiple_attempts_suboptions">
                    <div>
                      <label for="keep_score_select" class="inline"><%= t(:score_to_keep, "Quiz Score to Keep") %></label>
                      <%= select(:quiz, :scoring_policy, [[render_score_to_keep('keep_highest'), 'keep_highest'], [render_score_to_keep('keep_latest'), 'keep_latest']], {}, :id => 'keep_score_select') %>
                    </div>
                    <div style="margin-top:5px">
                      <label for="limit_attempts_option" class="checkbox inline nowrap">
                        <input type="checkbox" <%= "checked" if @quiz.allowed_attempts && @quiz.allowed_attempts > 1 %> name="limit_attempts" id="limit_attempts_option"/>
                        <%= t(:limited_attempts, "Allowed Attempts") %>
                      </label>
                      <%= text_field :quiz, :allowed_attempts, :tabindex => "0", :value => (@quiz.allowed_attempts == -1 ? 1 : @quiz.allowed_attempts), :"aria-label" => t(:allowed_attempts, "Number of allowed attempts") %>
                    </div>
                  </div>
                </div>

                <!-- Response/CA Visibility -->
                <% if @quiz.restrict_answers_for_concluded_course? %>
                <div class="option-group disabled">
                  <label class="checkbox" for="never_hide_results">
                    <span data-tooltip title="<%= t('students_cannot_view_responses_after_course_concludes', 'Students cannot view quiz responses after course concludes') %>">
                      <input id="never_hide_results" type="checkbox" disabled="disable" />
                      <%= t('labels.never_hide_results', "Let Students See Their Quiz Responses") %>
                    </span>
                  </label>
                </div>
                <% else %>
                <div class="option-group">
                  <label class="checkbox" for="never_hide_results">
                    <input type="hidden" name="quiz[hide_results][never]" value="0"/>
                    <input type="checkbox" name="quiz[hide_results][never]" value="1" id="never_hide_results" <%= 'checked' if @quiz.hide_results != 'always' %> />
                    <%= t('labels.never_hide_results', "Let Students See Their Quiz Responses") %>
                  </label>
                  <div class="show_quiz_results_options options">
                    <div id="hide_results_only_after_last_holder">
                      <label class="checkbox" for="hide_results_only_after_last">
                        <input type="hidden" name="quiz[hide_results][last_attempt]" value="0"/>
                        <input type="checkbox" name="quiz[hide_results][last_attempt]" value="1" id="hide_results_only_after_last" <%= 'checked' if @quiz.hide_results == 'until_after_last_attempt' %> />
                        <%= t('labels.hide_results_only_after_last', "Only After Their Last Attempt") %>
                      </label>
                    </div>

                    <div>
                      <label class="checkbox" for="quiz_one_time_results">
                        <%= check_box :quiz, :one_time_results %>
                        <%= t(:one_time_results, "Only Once After Each Attempt") %>
                      </label>
                    </div>

                    <div>
                      <label class="checkbox" for="quiz_show_correct_answers">
                        <%= check_box :quiz, :show_correct_answers %>
                        <%= t(:show_correct_answers, "Let Students See The Correct Answers") %>
                      </label>
                    </div>

                    <div id="quiz_show_correct_answers_options" class="options">
                      <div>
                        <label for="quiz_show_correct_answers_at" class="inline">
                          <%= t(:show_correct_answers_at, 'Show Correct Answers at') %>
                        </label>

                        <div class="date_field_container inline">
                          <%= text_field :quiz, :show_correct_answers_at,
                            :class => "input-medium date_field",
                            :type => "text",
                            :value => @quiz.show_correct_answers_at.as_json %>
                        </div>
                      </div>
                      <div>
                        <label for="quiz_hide_correct_answers_at" class="inline">
                          <%= t(:hide_correct_answers_at, 'Hide Correct Answers at') %>
                        </label>

                        <div class="date_field_container inline">
                          <%= text_field :quiz, :hide_correct_answers_at,
                            :class => "input-medium date_field",
                            :type => "text",
                            :value => @quiz.hide_correct_answers_at.as_json %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>

                <!-- OQAAT -->
                <div class="option-group">
                  <label class="checkbox" for="quiz_one_question_at_a_time">
                    <%= hidden_field_tag "quiz[one_question_at_a_time]", "0", :id => nil %>
                    <%= check_box_tag "quiz[one_question_at_a_time]", "1", @quiz.one_question_at_a_time?, :class => "element_toggler"  %>
                    <%= t('one_question_at_a_time', 'Show one question at a time') %>
                  </label>
                  <div id="one_question_at_a_time_options" style="<%= 'display:none;' unless @quiz.one_question_at_a_time? %>" class="options">
                    <label class="checkbox" for="quiz_cant_go_back">
                      <%= hidden_field_tag "quiz[cant_go_back]", "0", :id => nil %>
                      <%= check_box_tag "quiz[cant_go_back]", "1", @quiz.cant_go_back? %>
                      <%= t('cant_go_back', "Lock questions after answering") %>
                    </label>
                  </div>
                </div>

                <p class="option-caption"><strong><%= t('labels.restrict_quiz', "Quiz Restrictions") %></strong></p>

                <!-- Quiz Restrictions -->
                <div class="option-group">
                  <label class="checkbox" for="enable_quiz_access_code">
                    <input type="checkbox" <%= 'checked' if !@quiz.access_code.blank? %> id="enable_quiz_access_code">
                    <%= t('labels.require_access_code', "Require an access code") %>
                  </label>

                  <div class="options control-group">
                    <input type="text" name="quiz[access_code]" id="quiz_access_code" value="<%= @quiz.access_code %>" placeholder="ex: Password85" />
                  </div>
                </div>
                <div class="option-group">
                  <label class="checkbox" for="enable_quiz_ip_filter">
                    <input type="checkbox" <%= 'checked' if !@quiz.ip_filter.blank? %> id="enable_quiz_ip_filter">
                    <%= t('labels.ip_filter', "Filter IP Addresses") %>
                  </label>
                  <div class="options control-group">
                    <input type="text" name="quiz[ip_filter]" id="quiz_ip_filter" value="<%= @quiz.ip_filter %>" maxlength="255" placeholder="ex: 192.168.217.1" />
                    <%= link_to(image_tag("find.png"), '#', :class => 'ip_filtering_link', :title => t('titles.find_ip_address_filter', 'Find IP Address Filter')) %>
                  </div>
                </div>
                <% if feature_enabled?(:lockdown_browser) && !@quiz.lockdown_browser_use_lti_tool? %>
                  <div class="option-group">
                    <label class="checkbox" for="quiz_require_lockdown_browser">
                      <%= check_box :quiz, :require_lockdown_browser %>
                      <%= t(:require_lockdown_browser, "Require Respondus LockDown Browser") %>
                    </label>
                    <div id="lockdown_browser_suboptions" class="options" style="display: none;">
                      <label class="checkbox" for="quiz_require_lockdown_browser_for_results">
                        <%= check_box :quiz, :require_lockdown_browser_for_results %>
                        <%= t(:require_lockdown_browser_for_results, "Required to view quiz results") %>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </fieldset>

          <hr>

          <% if @context.feature_enabled?(:differentiated_assignments) %>
            <div class="text-center pad-box-mini" style="margin-bottom:10px">
              <span>
                <em>
                <%= mt(:only_visible_to_overrides_note, "Note: This quiz is **only** visible to the section(s) specified below:") %>
                </em>
              </span>
            </div>
          <% end %>

          <div class="js-assignment-overrides"></div>

        </div>
      <% end %>
    </div>

    <div id="questions_tab">
      <div id="show_question_details_wrap">
        <input type="checkbox" id="show_question_details"
               <%= "disabled='disabled'" if @quiz.active_quiz_questions.size> Quizzes::QuizzesController::QUIZ_QUESTIONS_DETAIL_LIMIT %>
        />
        <label for="show_question_details"> <%= t('labels.show_question_details', "Show Question Details") %></label>
        <br/>
        <% if @quiz.quiz_questions.active.size > Quizzes::QuizzesController::QUIZ_QUESTIONS_DETAIL_LIMIT %>
        <span id='question-detail-disabled' class='hint'>
          <%= t('hints.question_detail_disabled', 'NOTE: Question details not available when more than %{question_count}.',
                :question_count => Quizzes::QuizzesController::QUIZ_QUESTIONS_DETAIL_LIMIT) %>
        </span>
        <% end %>
      </div>
      <div id="questions" class="question_editing brief show_correct_answers" style="border-width:0">
        <% @quiz.root_entries.each do |question| %>
          <% if question[:entry_type] == "quiz_group" %>
            <%= render :partial => "question_group", :object => question %>
          <% else %>
            <%= render :partial => (@quiz.quiz_questions.active.size > Quizzes::QuizzesController::QUIZ_QUESTIONS_DETAIL_LIMIT ? "question_teaser" : "display_question"), :object => question, :locals => {:editing => true, :asset_string => "quiz_question_#{question['id']}"} %>
          <% end %>
        <% end %>
      </div>
      <%= render :partial => "question_teaser", :object => nil, :locals => {:editing => true } %>
      <%= render :partial => "display_question", :object => nil, :locals => {:editing => true } %>
      <%= render :partial => "display_answer", :object => nil %>
      <%= render :partial => "form_answer", :object => nil %>
      <%= render :partial => "form_question", :object => nil %>
      <%= render :partial => "question_group", :object => nil %>
      <%= render :partial => "find_question_from_bank" %>
      <div style="text-align: center; margin: -1px 1px 1px" class="add_question question_editing">
        <% new_question_title = t('links.new_question', "New Question") %>
        <% new_question_group_title = t('links.new_question_group', "New Question Group") %>
        <a href="#" class="add_question_link btn">
          <i class="icon-add"><span class="screenreader-only"><%= new_question_title %></span></i>
          <%= new_question_title %>
        </a>
        <a href="#" class="add_question_group_link btn" style="margin-left: 20px; margin-right: 20px;">
          <i class="icon-add"><span class="screenreader-only"><%= new_question_group_title %></span></i>
          <%= new_question_group_title %>
        </a>
        <% if feature_enabled?(:question_banks) %>
          <% find_questions_title = t('links.find_questions', "Find Questions") %>
          <a href="#" class="find_question_link btn">
            <i class="icon-search"><span class="screenreader-only"><%= find_questions_title %></span></i>
            <%= find_questions_title %>
          </a>
        <% end %>
      </div>
    </div>
  </div>

  </div>

  <% if @context.feature_enabled?(:draft_state) %>
  <div class="form-actions" id="quiz_edit_actions">
    <div class="row-fluid">
      <div class="span6 notify">
        <label for="quiz_notify_of_update" class="checkbox">
          <input type="checkbox" name="quiz[notify_of_update]" id="quiz_notify_of_update" value="1" />
          <%= t('labels.quiz_notify', 'Notify users this quiz has changed') %>
        </label>
      </div>
      <div class="span6">
        <%= link_to context_url(@context, :context_quiz_url, @quiz), :class => 'btn', :id => 'cancel_button' do %>
          <%= t('links.cancel', "Cancel") %>
        <% end %>
        <button type="submit" class="save_quiz_button btn btn-primary"><%= t('buttons.save', "Save") %></button>
      </div>
    </div>
  </div>

  <% else %>
  <div class="form-actions">
    <div class="row-fluid">
      <div class="span6" style="text-align:left; line-height:28px;">
        <label for="quiz_notify_of_update" class="checkbox">
          <input type="checkbox" name="quiz[notify_of_update]" id="quiz_notify_of_update" value="1" />
          <%= t('labels.quiz_notify', 'Notify users this quiz has changed') %>
        </label>
      </div>
      <div class="span6">
        <%= link_to context_url(@context, :context_quiz_url, @quiz), :class => 'btn', :style => 'width:50px', :id => 'cancel_button' do %><%= t('links.cancel', "Cancel") %><% end %>
        <button type="submit" class="save_quiz_button btn btn-primary" style="width:90px"><%= t('buttons.save', "Save") %></button>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="question_generated" style="display: none;">
  <div class="question_generated_description"></div>
  <textarea style="width: 600px; height: 400px;" id="copy_paste_box"></textarea>
</div>
<%= render :partial => 'equations_help' %>
<div id="ip_filters_dialog" style="display: none;">
  <h2><%= t('headers.ip_filters', "What are Quiz IP Filters?") %></h2>
  <p class="explanation"><%= t(:ip_filters, <<-TEXT)
  Quiz IP filters are a way to limit access to quizzes to
  computers in a specified IP range.  Filters can be a comma-separated
  list of addresses, or an address followed by a mask
  ("192.168.217.1", "192.168.217.1/24" or "192.168.217.1/255.255.255.0").
  TEXT
  %></p>
  <p class="searching_message"><%= t(:retrieving_filters, "Retrieving Filters...") %></p>
  <table class="filters" style="display: none;">
    <tbody>
      <tr class="ip_filter blank" style="display: none;" title="<%= t('titles.click_to_select_filter', "Click to select this filter") %>">
        <td class="name_and_account">
          <div class="name">&nbsp;</div>
          <div class="account">&nbsp;</div>
        </td>
        <td class="filter">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
