<% content_for :page_title, join_title(@quiz.title, t(:page_title, "Statistics")) %>
<% js_bundle :quiz_statistics %>
<% content_for :stylesheets do %>
<style>
#statistics {
  width: 100%;
  border-collapse: collapse;
}
#statistics table {
  border-collapse: collapse;
}
#statistics td {
  vertical-align: top;
}
#statistics table.results td {
  text-align: center;
  font-size: 0.7em;
  padding: 2px 5px;
}
#statistics td.multi_row {
  border-bottom: 1px dotted #ccc;
}
tr.group td {
  font-size: 1.1em;
  font-weight: bold;
}
tr.question td.question_name, tr.group td.group_name {
  min-width: 30%;
  padding-left: 10px;
  padding-right: 20px;
}
tr.question.group_row td.question_name {
  padding-left: 30px;
}
tr.question td.question_name .question_name {
  font-weight: bold;
}
tr.question td.question_name .question_attempts {
  font-size: 0.8em;
  margin-left: 10px;
}
tr.question td.question_name .question_text {
  font-size: 0.8em;
  margin-left: 10px;
}
tr.question td.question_name .question_details {
  font-size: 0.8em;
  padding-left: 10px;
}
tr.question td .number_answer.correct_answer {
  color: #5CA93D;
}
#statistics .response {
  min-width: 50px;
}
#statistics .response_bar {
  margin: 100px 5px 0;
  width: auto;
  border: 1px solid #999;
  background: #bbb;
  height: 0px;
}
#statistics .correct_answer {
  font-weight: bold;
}
#statistics .correct_answer .response_bar {
  border-color: #5CA93D;
  background: #8EC778;
}
#statistics tr.spacer td {
  border-top: 1px solid #ddd;
}
#statistics tr.group {
  border-top: 1px solid #ddd;
}
#statistics tr.group_bottom {
  border-top: 1px solid #ddd;
}
#statistics tr.group_row td {
  background: #f6f6f6;
}
#statistics tr.spacer.group_row td {
  border-top: 0px solid #ddd;
}
#statistics_summary {
  border-collapse: collapse;
}
#statistics_summary th {
  text-align: left;
  font-size: 1.2em;
}
#statistics_summary td {
  border-bottom: 1px dotted #ccc;
  padding: 2px 5px;
}
#statistics .answer {
  cursor: pointer;
}
#statistics .number_answer {
  cursor: pointer;
}
#statistics .calculated_data {
  padding: 5px 0;
}
#statistics .calculated_data .attempts {
  font-size: 0.8em;
}

#statistics .essay_answers {
  max-height: 150px;
  overflow: auto;
}
#statistics .essay_answer {
  padding: 5px;
  border-bottom: 1px dotted #ccc;
  max-height: 2.7em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
#statistics .essay_answer.expanded {
  max-height: 100px;
  cursor: inherit;
  overflow: auto;
}
</style>
<% end %>

<% content_for :right_side do %>
  <% if !@context.large_roster? %>
    <h2><%= @quiz.survey? ?
      t('headers.users_have_taken_this_survey', "%{count} users have taken this survey", :count => @statistics[:unique_submission_count]) :
      t('headers.users_have_taken_this_quiz', "%{count} users have taken this quiz", :count => @statistics[:unique_submission_count]) %></h2>
    <div class="rs-margin-lr rs-margin-bottom">
      <table id="statistics_summary">
        <tr>
          <td><%= before_label(:average_time, "Average Time") %></td>
          <td><%= time_ago_in_words(Time.now + @statistics[:submission_duration_average]) %></td>
        </tr>
      <% if @quiz.graded? %>
        <tr>
          <td><%= before_label(:average_correct, "Average Correct") %></td>
          <td><%= render_score(@statistics[:submission_correct_count_average]) %></td>
        </tr><tr>
          <td><%= before_label(:average_incorrect, "Average Incorrect") %></td>
          <td><%= render_score(@statistics[:submission_incorrect_count_average]) %></td>
        </tr><tr>
          <td><%= before_label(:high_score, "High Score") %></td>
          <td><%= render_score(@statistics[:submission_score_high]) %></td>
        </tr><tr>
          <td><%= before_label(:low_score, "Low Score") %></td>
          <td><%= render_score(@statistics[:submission_score_low]) %></td>
        </tr><tr>
          <td><%= before_label(:mean_score, "Mean Score") %></td>
          <td><%= render_score(@statistics[:submission_score_average]) %></td>
        </tr><tr>
          <td><%= before_label(:standard_deviation, "Standard Deviation") %></td>
          <td><%= render_score(@statistics[:submission_score_stdev]) %></td>
        </tr>
      <% end %>
      </table>
    </div>
  <% end %>
  <div class="rs-margin-lr">
    <% if params[:all_versions] %>
      <% if (@statistics && @statistics[:multiple_attempts_exist]) || @context.large_roster? %>
        <%= @quiz.survey? ?
          t(:survey_all_version_disclaimer, "This report is showing survey statistics based on all attempts for all users.") :
          t(:quiz_all_version_disclaimer, "This report is showing quiz statistics based on all attempts for all users.") %><br/>
      <% end %>
      <div style="margin-top: 5px;">
        <% if (@statistics && @statistics[:multiple_attempts_exist]) || @context.large_roster? %>
          <a href="<%= context_url(@context, :context_quiz_statistics_url, @quiz.id) %>" class="btn button-sidebar-wide"><%= t('links.count_only_latest_attempts', "Count Only Each Latest Attempt") %></a>
        <% end %>
      </div>
    <% else %>
      <% if (@statistics && @statistics[:multiple_attempts_exist]) || @context.large_roster? %>
        <%= @quiz.survey? ?
          t(:survey_latest_version_disclaimer, "This report is showing survey statistics based on the latest attempt for each user.") :
          t(:quiz_latest_version_disclaimer, "This report is showing quiz statistics based on the latest attempt for each user.") %><br/>
      <% end %>
      <div style="margin-top: 5px;">
        <% if (@statistics && @statistics[:multiple_attempts_exist]) || @context.large_roster? %>
          <a href="<%= context_url(@context, :context_quiz_statistics_url, @quiz.id, :all_versions => '1') %>" class="btn button-sidebar-wide"><%= mt('links.count_all_attempts', "Count **All** Attempts") %></a>
        <% end %>
      </div>
    <% end %>
    <div class="quiz-reports"></div>
  </div>
<% end %>

<% if !@context.large_roster? %>
  <h1><%= @quiz.survey? ? t('headers.survey_statistics', "Survey Statistics") : t('headers.quiz_statistics', "Quiz Statistics") %></h1>
  <table id="statistics">
  <% @statistics[:questions].each do |question_type, data| %>
    <% if question_type == 'group' %>
      <tr class="group group_row">
        <td colspan="3" class="group_name"><%= data[:name] %></td>
      </tr>
      <% data[:questions].each do |question_type, question| %>
        <%= render :partial => 'question_statistic', :object => question, :locals => {:in_group => true, :ignore_correct_answers => @quiz.quiz_type == 'survey' || @quiz.quiz_type == 'graded_survey'} %>
      <% end %>
      <tr class="group_bottom">
        <td colspan="3">&nbsp;</td>
      </tr>
    <% else %>
      <%= render :partial => 'question_statistic', :object => data, :locals => {:ignore_correct_answers => @quiz.quiz_type == 'survey' || @quiz.quiz_type == 'graded_survey'} %>
    <% end %>
  <% end %>
  </table>
  <div id="submitted_users" style="display: none;">
    <%
      # A submitted user can either be:
      # 1. User Model
      # 2. TemporaryUser Struct
      #   (defined in models/quiz_statistics/student_analysis.rb at the top around line 4)
      #   Temporary Users are ones that are not logged in and ergo don't have a user id.
      #   The id below is a temporary_user_code
    %>
    <% @submitted_users.each_with_index do |user, idx| %>
      <div class="user user_<%= user.id %>">
        <% if @quiz.survey? && @quiz.anonymous_submissions %>
          <%= t(:student_n, "Student %{student_counter}", :student_counter => idx + 1) %>
        <% else %>
          <%= user.short_name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="submitted_users_dialog" style="display: none;">
    <h2><%= t('headers.for_question', "For %{question_name}", :question_name => raw('<span class="question_name" style="font-style: italic;">&nbsp;</span>')) %></h2>
    <div><%= before_label(:users_selected_the_answer, "The following users selected the answer, %{answer_text}", :answer_text => raw('<span class="answer_text" style="font-style: italic;">&nbsp;</span>')) %></div>
    <ul class="users">
      <li class="user blank" style="display: none;">
        <a href="#" class="name user">&nbsp;</a>
        <span class="name uncounted">&nbsp;</span>
      </li>
    </ul>
  </div>

<% else %>
  <p><%= t(:class_too_large, "This course is too large to display statistics. They can still be downloaded from the right hand sidebar.") %></p>
<% end %>
