  <div class="desc">
    <%= t 'attempt_history', 'Attempt History' %>
  </div>
  <table class="table table-bordered" summary="<%= t('quiz_attempt_history_description', 'A table that shows your quiz attempt history. Each attempt is on the left side. The attempt, time, and score are across the top.')%>">
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col"><%= t 'attempt', 'Attempt' %></th>
        <th  scope="col"><%= t 'time', 'Time' %></th>
        <th scope="col"><%= t 'score', 'Score' %></th>
        <% if submission_has_regrade?(@submission) %>
        <th  scope="col" class="regraded"><%= t 'regraded', 'Regraded' %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @versions.size > 1 %>
        <% version, index = @versions.reverse.each_with_index.detect {|k, v| k.score == @submission.kept_score } %>
        <% if version %>
          <%= render :partial => "submission_version", :locals => {:version => version, :index => @versions.length - index, :kept => true} %>
        <% end %>
      <% end %>

      <% (@versions.reverse!).each_with_index do |version, index| %>
        <%= render :partial => "submission_version", :locals => {:version => version, :index => @versions.length - index, :kept => false} %>
      <% end %>
    </tbody>
  </table>

  <% if @versions.detect {|v| v.pending_review? } %>
  <p class="submission-pending-review">
    <em>*</em> <%= t 'questions_not_graded', 'Some questions not yet graded' %>
  </p>
  <% end %>
