<span class="non-screenreader" aria-hidden="true">
  {{#unless hideGrade}}
    {{#ifAll submission submission.excused}}
      {{#t}}Excused{{/t}}
    {{else}}
      {{#ifAll submission submission.submitted_or_graded}}

        {{#with submission}}
          {{#if notYetGraded}}

            {{#unless restrict_quantitative_data}}
                <span class="score-display">
                {{#t "empty_points_possible"}}
                -/{{pointsPossible}} pts
                {{/t}}
                </span>
                &nbsp;&#124;&nbsp;
                <span class="grade-display">
                {{#t}}
                  Not Yet Graded
                {{/t}}
                </span>
            {{/unless}}

          {{else}}
            {{#unless restrict_quantitative_data}}
                <span class="score-display">
                    {{#t "score_with_points_possible"}}
                    <b>{{score}}</b>/{{pointsPossible}} pts
                    {{/t}}
                </span>
                {{#ifAll gradeDisplay pointsPossible}}
                  &nbsp;&#124;&nbsp;
                {{/ifAll}}
            {{/unless}}
            {{#if gradeDisplay}}
              <span class="grade-display">
                <strong>
                  {{gradeDisplay}}
                </strong>
              </span>
            {{/if}}

          {{/if}}
        {{/with}}

      {{else}}
          {{#unless restrict_quantitative_data}}
            <span data-tooltip="" class="score-display" title='{{#t "no_submission"}}No Submission{{/t}}'>
              {{#t "empty_points_possible"}}
              -/{{pointsPossible}} pts
              {{/t}}
            </span>
          {{/unless}}

      {{/ifAll}}
    {{/ifAll}}
  {{/unless}}
</span>

<span class="screenreader-only">
  {{#if hideGrade}}
    {{#t "assignment_grading_type_is_not_graded"}}
      This assignment will not be assigned a grade.
    {{/t}}
  {{else}}
    {{#ifAll submission submission.excused}}
      {{#t}}This assignment has been excused.{{/t}}
    {{else}}
      {{#ifAll submission submission.submitted_or_graded}}

        {{#with submission}}
          {{#if notYetGraded}}

            {{#if restrict_quantitative_data}}
                {{#t "assignment_not_yet_graded_rqd_screenreader"}}
                    Assignment not yet graded.
                {{/t}}
            {{else}}
                {{#t "assignment_not_yet_graded_screenreader"}}
                  Assignment not yet graded. {{pointsPossible}} points possible.
                {{/t}}
            {{/if}}

          {{else}}

            {{#if restrict_quantitative_data}}
                {{gradeDisplayForScreenreader}}
            {{else}}
                {{#t "score_with_points_possible_screenreader"}}
                  Score: {{score}} out of {{pointsPossible}} points.
                {{/t}}
                {{gradeDisplayForScreenreader}}
            {{/if}}

          {{/if}}

        {{/with}}

      {{else}}

        {{#if restrict_quantitative_data}}
            {{#t "no_submission_for_assignment_rqd_screenreader"}}
                No submission for this assignment.
            {{/t}}
        {{else}}
            {{#t "no_submission_for_assignment_screenreader"}}
              No submission for this assignment. {{pointsPossible}} points possible.
            {{/t}}
        {{/if}}

      {{/ifAll}}

    {{/ifAll}}
  {{/if}}

</span>
