<div
  id="assignment_{{id}}"
  class="ig-row {{#ifAll canManage published}}ig-published{{/ifAll}} {{#if is_master_course_master_content}}is-master{{/if}}"
  data-item-id="{{labelId}}"
>
  {{#if isDuplicating}}
    <div class="ig-row__layout">
      {{>ui/shared/spinner/jst/_spinner.handlebars}} {{#t}}Making a copy of "{{originalAssignmentName}}"{{/t}}
    </div>
  {{else}} {{#if isCloningAlignment}}
    <div class="ig-row__layout">
      {{>ui/shared/spinner/jst/_spinner.handlebars}} {{#t}}Cloning Alignments of "{{originalAssignmentName}}"{{/t}}
    </div>
  {{else}} {{#if failedToDuplicate}}
    <span aria-live="polite" role="alert" aria-atomic="true">{{#t}}Oops! Something went wrong with making a copy of "{{originalAssignmentName}}"{{/t}}</span>
    <div class="duplicate-failed-actions">
      <button class="duplicate-failed-retry btn btn-primary">
        <span class="screenreader-only">{{#t}}Retry duplicating "{{originalAssignmentName}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Retry{{/t}}</span>
      </button>
      {{#unless is_master_course_child_content}}
      <button class="duplicate-failed-cancel btn">
        <span class="screenreader-only">{{#t}}Cancel duplicating "{{originalAssignmentName}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Cancel{{/t}}</span>
      </button>
      {{/unless}}
    </div>
  {{else}} {{#if failedToCloneAlignment}}
    <span aria-live="polite" role="alert" aria-atomic="true">{{#t}}Oops! Something went wrong with cloning alignments of "{{originalAssignmentName}}"{{/t}}</span>
    <div class="alignment-clone-failed-actions">
      <button class="alignment-clone-failed-retry btn btn-primary">
        <span class="screenreader-only">{{#t}}Retry cloning "{{originalAssignmentName}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Retry{{/t}}</span>
      </button>
      {{#unless is_master_course_child_content}}
      <button class="alignment-clone-failed-cancel btn">
        <span class="screenreader-only">{{#t}}Cancel cloning "{{originalAssignmentName}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Cancel{{/t}}</span>
      </button>
      {{/unless}}
    </div>
  {{else}} {{#if isMigrating}}
    <div class="ig-row__layout">
      {{>ui/shared/spinner/jst/_spinner.handlebars}} {{#t}}Migrating "{{name}}"{{/t}}
    </div>
  {{else}} {{#if failedToMigrate}}
    <span aria-live="polite" role="alert" aria-atomic="true">{{#t}}Oops! Something went wrong with migrating "{{name}}"{{/t}}</span>
    <div class="migrate-failed-actions">
      <button class="migrate-failed-retry btn btn-primary">
        <span class="screenreader-only">{{#t}}Retry migrating "{{name}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Retry{{/t}}</span>
      </button>
      <button class="duplicate-failed-cancel btn">
        <span class="screenreader-only">{{#t}}Cancel migrating "{{name}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Cancel{{/t}}</span>
      </button>
    </div>
  {{else}} {{#if isImporting}}
    <div class="ig-row__layout">
      {{>ui/shared/spinner/jst/_spinner.handlebars}} {{#t}}Importing "{{name}}"{{/t}}
    </div>
  {{else}} {{#if failedToImport}}
    <span aria-live="polite" role="alert" aria-atomic="true">{{#t}}Oops! Something went wrong importing "{{name}}"{{/t}}</span>
    <div class="import-failed-actions">
      <button class="import-failed-cancel btn">
        <span class="screenreader-only">{{#t}}Cancel importing "{{name}}"{{/t}}</span>
        <span aria-hidden="true">{{#t}}Cancel{{/t}}</span>
      </button>
    </div>
  {{else}}
    <div class="ig-row__layout">
    {{#if canManage}}
    <div aria-hidden='true' class="ig-handle">
      <span class="draggable-handle{{#unless canMove}} disabled{{/unless}}">
        <i class="icon-drag-handle"></i>
      </span>
    </div>
    {{/if}}
    <div class="ig-type-icon">
      {{#if isMasteryConnectTool}}
        <img src="/images/icons/{{#if published}}mc-assignment-pub.svg{{else}}mc-assignment-unpub.svg{{/if}}" alt="Mastery Connect" style="width: 1rem; height: 1rem;"/>
      {{else}}
        <i aria-hidden="true" class='icon-{{iconType}}'></i>
      {{/if}}
      <span class="screenreader-only">{{objectTypeDisplayName}}</span>
    </div>
    <div class="ig-info">
      <a href="{{htmlUrl}}" class="ig-title" aria-live="polite" {{#if quizzesRespondusEnabled}}target="_blank"{{/if}}>
        {{name}}
      </a>
      <div class="ig-details">
        {{#if canManage}}
          {{#if has_modules}}
            <div class="ig-details__item ig-details__item--wrap-text modules">
              {{#ifEqual module_count 1}}
                {{module_name}} {{#t}}Module{{/t}}
              {{else}}
                <a
                  title='{{joined_names}}'
                  class="tooltip_link"
                  data-tooltip-selector="#module_tooltip_{{labelId}}"
                >{{#t}}Multiple Modules{{/t}}</a>
              {{/ifEqual}}
              <div id="module_tooltip_{{labelId}}" style="display:none;">
                {{#each modules}}
                  <span>{{this}}</span>
                {{/each}}
              </div>
            </div>
          {{/if}}
        {{/if}}
        {{#if showAvailability}}
        <div class="ig-details__item assignment-date-available" data-view="date-available">
        </div>
        {{/if}}
        {{#if showDueDate}}
          <div class="ig-details__item assignment-date-due" data-view="date-due">
          </div>
        {{/if}}
        {{#unless restrict_quantitative_data}}
            {{#if pointsPossible}}
              <div class="ig-details__item js-score">
                <span class="screenreader-only">
                  {{#t}}{{n pointsPossible}} Points Possible{{/t}}
                </span>
                <span class="non-screenreader" aria-hidden="true">
                  {{#t}}{{n pointsPossible}} pts{{/t}}
                </span>
              </div>
            {{else}}
              <span class="js-score screenreader-only">
                {{#t}}No Points Possible{{/t}}
              </span>
            {{/if}}
        {{else}}
            <div class="ig-details__item js-score">
            </div>
        {{/unless}}
        {{#if isMasteryConnectTool}}
          <div class="ig-details__item mc-objectives">{{externalToolData.objectives}}</div>
        {{/if}}
      </div>
    </div>
    {{#if canOpenManageOptions}}
      {{#if showSpeedGraderLinkFlag}}
        <div class="ig-admin">
        {{#if canManage}}
          {{#if cyoe.isTrigger}}
            <a href="{{htmlEditUrl}}?return_to={{return_to}}#mastery-paths-editor" title="{{#t}}Edit Mastery Paths for {{name}}{{/t}}">{{#t}}Mastery Paths{{/t}}</a>
          {{/if}}
          {{#if cyoe.isReleased}}
            <span class="pill mastery-path-icon" aria-hidden="true" data-tooltip title="{{#t}}Released by Mastery Path: {{cyoe.releasedLabel}}{{/t}}">
              <i class="icon-mastery-path"></i>{{cyoe.releasedLabel}}
            </span>
            <span class="screenreader-only">{{#t}}Released by Mastery Path: {{cyoe.releasedLabel}}{{/t}}</span>
          {{/if}}
          <span class="sis-button" data-view="sis-button"></span>
          <span class="lock-icon" data-view="lock-icon"></span>
          <span class="publish-icon" data-view="publish-icon"></span>
        {{/if}}
        <div class="inline-block">
          <button
            class="al-trigger al-trigger-gray Button--icon-action"
            id="assign_{{id}}_manage_link"
            tabindex="0"
          >
            <i class="icon-more" aria-hidden="true"></i>
            <span class="screenreader-only">{{#t}}Settings for Assignment {{name}}{{/t}}</span>
          </button>

          <ul
            id="assignment_{{id}}_settings_list"
            class="al-options"
          >
            {{#if canManage }}
                {{#if canEdit}}
                  <li>
                    <a
                      class="edit_assignment icon-edit"
                      id="assignment_{{id}}_settings_edit_item"
                      aria-label="{{#t}}Edit Assignment {{name}}{{/t}}"
                      data-focus-returns-to="assign_{{id}}_manage_link"
                    >{{#t}}Edit{{/t}}</a>
                  </li>
                {{else}}
                  <li>
                    <a
                      class="edit_assignment icon-edit disabled"
                      id="assignment_{{id}}_settings_edit_item"
                      aria-label="{{#t}}Edit Assignment {{name}}{{/t}}"
                      aria-disabled="true"
                    >{{#t}}Edit{{/t}}</a>
                    <span class="screenreader-only">{{#t}}You do not have permissions to edit this moderated assignment{{/t}}</span>
                  </li>
                {{/if}}
                {{#if canShowBuildLink}}
                  {{#if canEdit}}
                    <li>
                      <a
                        class="icon-quiz"
                        id="assignment_{{id}}_settings_build_item"
                        aria-label="{{#t}}Build {{name}}{{/t}}"
                        data-focus-returns-to="assign_{{id}}_manage_link"
                        href="{{htmlBuildUrl}}"
                      >{{#t}}Build{{/t}}</a>
                    </li>
                  {{else}}
                    <li>
                      <a
                        class="icon-quiz disabled"
                        id="assignment_{{id}}_settings_build_item"
                        aria-label="{{#t}}Build {{name}}{{/t}}"
                        data-focus-returns-to="assign_{{id}}_manage_link"
                        href="{{htmlBuildUrl}}"
                      >{{#t}}Build{{/t}}</a>
                      <span class="screenreader-only">{{#t}}You do not have permissions to build this moderated assignment{{/t}}</span>
                    </li>
                  {{/if}}
                {{/if}}
                {{#if showSpeedGraderLink}}
                  <li class="speed-grader-link-container {{#if initialUnpublishedState}}hidden{{/if}}">
                    <a
                      class="speed-grader-link icon-speed-grader"
                      id="assignment_{{id}}_link_to_speed_grader"
                      href="/courses/{{courseId}}/gradebook/speed_grader?assignment_id={{id}}"
                      aria-label="{{#t}}Navigate to Speed Grader for {{name}}{{/t}}"
                      data-focus-returns-to="assign_{{id}}_manage_link"
                      >{{#t}}SpeedGrader{{/t}}</a>
                  </li>
                {{/if}}
                {{#if canDuplicate}}
                <li>
                  <a
                    class="duplicate_assignment icon-copy-course"
                    id="assignment_{{id}}_settings_duplicate_item"
                    aria-label="{{#t}}Duplicate Assignment {{name}}{{/t}}"
                    data-focus-returns-to="assign_{{id}}_manage_link"
                  >{{#t}}Duplicate{{/t}}</a>
                </li>
                {{/if}}
                {{#if canEdit}}
                {{#if differentiatedModulesFlag}}
                  <li>
                    <a
                      class="assign-to-link icon-permissions"
                      id="assign_to_{{id}}_link"
                      href="{{id}}%>"
                      data-assignment-name="{{name}}"
                      data-assignment-context-id="{{courseId}}"
                      data-assignment-id="{{id}}"
                      data-assignment-type="{{item_assignment_type}}"
                      title="<%= {{#t}}Assign this Assignment{{/t}} %>"
                      aria-label="{{#t}}Assign To...{{/t}}"
                      data-focus-returns-to="assign_{{id}}_manage_link"
                    >{{#t}}Assign To...{{/t}}</a>
                  </li>
                {{/if}}
                {{/if}}
            {{/if}}
            {{#unless is_locked}}
              <li>
                {{#if canDelete}}
                  <a
                    class="delete_assignment icon-trash"
                    id="assignment_{{id}}_settings_delete_item"
                    aria-label="{{#t}}Delete Assignment {{name}}{{/t}}"
                    data-focus-returns-to="assign_{{id}}_manage_link"
                  >{{#t "delete"}}Delete{{/t}}</a>
                {{else}}
                  <a
                    class="delete_assignment icon-trash disabled"
                    id="assignment_{{id}}_settings_delete_item"
                    aria-label="{{#t}}Delete Assignment {{name}}{{/t}}"
                    aria-disabled=true
                  >{{#t "delete"}}Delete{{/t}}</a>
                {{/if}}
              </li>
            {{/unless}}
            {{#if canMove}}
                <li>
                  <a
                    class="move_assignment icon-updown"
                    id="assignment_{{id}}_settings_move_item"
                    aria-label='{{#t}}Move Assignment {{name}}{{/t}}'
                    data-focus-returns-to="assign_{{id}}_manage_link"
                  >{{#t}}Move To…{{/t}}</a>
                </li>
                {{else}}
                <li>
                  <a
                    class="move_assignment icon-updown disabled"
                    id="assignment_{{id}}_settings_move_item"
                    aria-label='{{#t}}Move Assignment {{name}}{{/t}}'
                    aria-disabled=true
                  >{{#t}}Move To…{{/t}}</a>
                </li>
                {{/if}}
            {{#if DIRECT_SHARE_ENABLED}}
              <li>
                <a
                    class="send_assignment_to icon-user"
                    id="assignment_{{id}}_settings_share_user"
                    aria-label="{{#t}}Send Assignment {{name}} to another user{{/t}}"
                >{{#t}}Send To...{{/t}}</a>
              </li>
              <li>
                <a
                  class="copy_assignment_to icon-duplicate"
                  id="assignment_{{id}}_settings_copy_to"
                  aria-label="{{#t}}Copy Assignment {{name}} to another course{{/t}}"
                >{{#t}}Copy To...{{/t}}</a>
              </li>
            {{/if}}
            {{#if cyoe.isCyoeAble}}
                <li>
                  <a
                    href="{{htmlEditUrl}}?return_to={{return_to}}#mastery-paths-editor"
                    class="edit_mastery_paths icon-mastery-path"
                    id="assignment_{{id}}_settings_edit_item_mastery_paths"
                    aria-label="{{#t}}Edit Assignment {{name}} Mastery Paths{{/t}}"
                    data-focus-returns-to="assign_{{id}}_manage_link"
                    title="{{#t}}Edit Mastery Paths for {{name}}{{/t}}"
                  >{{#t}}Mastery Paths{{/t}}</a>
                </li>
                {{/if}}
            {{#if canManage}}{{>ui/shared/external-tools/jst/_external_tools_menu.handlebars menu_tools}}{{/if}}
          </ul>
        </div>
      </div>
      {{else}}
        <div class="ig-admin">
        {{#if canManage}}
          {{#if cyoe.isTrigger}}
            <a href="{{htmlEditUrl}}?return_to={{return_to}}#mastery-paths-editor" title="{{#t}}Edit Mastery Paths for {{name}}{{/t}}">{{#t}}Mastery Paths{{/t}}</a>
          {{/if}}
          {{#if cyoe.isReleased}}
            <span class="pill mastery-path-icon" aria-hidden="true" data-tooltip title="{{#t}}Released by Mastery Path: {{cyoe.releasedLabel}}{{/t}}">
              <i class="icon-mastery-path"></i>{{cyoe.releasedLabel}}
            </span>
            <span class="screenreader-only">{{#t}}Released by Mastery Path: {{cyoe.releasedLabel}}{{/t}}</span>
          {{/if}}
          <span class="sis-button" data-view="sis-button"></span>
          <span class="lock-icon" data-view="lock-icon"></span>
          <span class="publish-icon" data-view="publish-icon"></span>
        {{/if}}
        <div class="inline-block">
          <button
            class="al-trigger al-trigger-gray Button--icon-action"
            id="assign_{{id}}_manage_link"
            tabindex="0"
          >
            <i class="icon-more" aria-hidden="true"></i>
            <span class="screenreader-only">{{#t}}Settings for Assignment {{name}}{{/t}}</span>
          </button>

          <ul
            id="assignment_{{id}}_settings_list"
            class="al-options"
          >
            {{#if canManage }}
                {{#if canEdit}}
                  <li>
                    <a
                      class="edit_assignment icon-edit"
                      id="assignment_{{id}}_settings_edit_item"
                      aria-label="{{#t}}Edit Assignment {{name}}{{/t}}"
                      data-focus-returns-to="assign_{{id}}_manage_link"
                    >{{#t}}Edit{{/t}}</a>
                  </li>
                {{else}}
                  <li>
                    <a
                      class="edit_assignment icon-edit disabled"
                      id="assignment_{{id}}_settings_edit_item"
                      aria-label="{{#t}}Edit Assignment {{name}}{{/t}}"
                      aria-disabled="true"
                    >{{#t}}Edit{{/t}}</a>
                    <span class="screenreader-only">{{#t}}You do not have permissions to edit this moderated assignment{{/t}}</span>
                  </li>
                {{/if}}
                {{#if canShowBuildLink}}
                  {{#if canEdit}}
                    <li>
                      <a
                        class="icon-quiz"
                        id="assignment_{{id}}_settings_build_item"
                        aria-label="{{#t}}Build {{name}}{{/t}}"
                        data-focus-returns-to="assign_{{id}}_manage_link"
                        href="{{htmlBuildUrl}}"
                      >{{#t}}Build{{/t}}</a>
                    </li>
                  {{else}}
                    <li>
                      <a
                        class="icon-quiz disabled"
                        id="assignment_{{id}}_settings_build_item"
                        aria-label="{{#t}}Build {{name}}{{/t}}"
                        data-focus-returns-to="assign_{{id}}_manage_link"
                        href="{{htmlBuildUrl}}"
                      >{{#t}}Build{{/t}}</a>
                      <span class="screenreader-only">{{#t}}You do not have permissions to build this moderated assignment{{/t}}</span>
                    </li>
                  {{/if}}
                {{/if}}
                {{#if canDuplicate}}
                <li>
                  <a
                    class="duplicate_assignment icon-copy-course"
                    id="assignment_{{id}}_settings_duplicate_item"
                    aria-label="{{#t}}Duplicate Assignment {{name}}{{/t}}"
                    data-focus-returns-to"assign_{{id}}_manage_link"
                  >{{#t}}Duplicate{{/t}}</a>
                </li>
                {{/if}}
                {{#if canEdit}}
                {{#if differentiatedModulesFlag}}
                  <li>
                    <a
                      class="assign-to-link icon-permissions"
                      id="assign_to_{{id}}_link"
                      href="{{id}}%>"
                      data-assignment-name="{{name}}"
                      data-assignment-context-id="{{courseId}}"
                      data-assignment-id="{{id}}"
                      data-assignment-type="{{item_assignment_type}}"
                      title="<%= {{#t}}Assign this Assignment{{/t}} %>"
                      aria-label="{{#t}}Assign To...{{/t}}"
                      data-focus-returns-to="assign_{{id}}_manage_link"
                    >{{#t}}Assign To...{{/t}}</a>
                  </li>
                {{/if}}
                {{/if}}
                {{#if canMove}}
                <li>
                  <a
                    class="move_assignment icon-updown"
                    id="assignment_{{id}}_settings_move_item"
                    aria-label='{{#t}}Move Assignment {{name}}{{/t}}'
                    data-focus-returns-to="assign_{{id}}_manage_link"
                  >{{#t}}Move To…{{/t}}</a>
                </li>
                {{else}}
                <li>
                  <a
                    class="move_assignment icon-updown disabled"
                    id="assignment_{{id}}_settings_move_item"
                    aria-label='{{#t}}Move Assignment {{name}}{{/t}}'
                    aria-disabled=true
                  >{{#t}}Move To…{{/t}}</a>
                </li>
                {{/if}}
                {{#if cyoe.isCyoeAble}}
                <li>
                  <a
                    href="{{htmlEditUrl}}?return_to={{return_to}}#mastery-paths-editor"
                    class="edit_mastery_paths icon-mastery-path"
                    id="assignment_{{id}}_settings_edit_item_mastery_paths"
                    aria-label="{{#t}}Edit Assignment {{name}} Mastery Paths{{/t}}"
                    data-focus-returns-to="assign_{{id}}_manage_link"
                    title="{{#t}}Edit Mastery Paths for {{name}}{{/t}}"
                  >{{#t}}Mastery Paths{{/t}}</a>
                </li>
                {{/if}}
            {{/if}}
            {{#unless is_locked}}
              <li>
                {{#if canDelete}}
                  <a
                    class="delete_assignment icon-trash"
                    id="assignment_{{id}}_settings_delete_item"
                    aria-label="{{#t}}Delete Assignment {{name}}{{/t}}"
                    data-focus-returns-to="assign_{{id}}_manage_link"
                  >{{#t "delete"}}Delete{{/t}}</a>
                {{else}}
                  <a
                    class="delete_assignment icon-trash disabled"
                    id="assignment_{{id}}_settings_delete_item"
                    aria-label="{{#t}}Delete Assignment {{name}}{{/t}}"
                    aria-disabled=true
                  >{{#t "delete"}}Delete{{/t}}</a>
                {{/if}}
              </li>
            {{/unless}}
            {{#if DIRECT_SHARE_ENABLED}}
              <li>
                <a
                    class="send_assignment_to icon-user"
                    id="assignment_{{id}}_settings_share_user"
                    aria-label="{{#t}}Send Assignment {{name}} to another user{{/t}}"
                >{{#t}}Send To...{{/t}}</a>
              </li>
              <li>
                <a
                  class="copy_assignment_to icon-duplicate"
                  id="assignment_{{id}}_settings_copy_to"
                  aria-label="{{#t}}Copy Assignment {{name}} to another course{{/t}}"
                >{{#t}}Copy To...{{/t}}</a>
              </li>
            {{/if}}
            {{#if canManage}}{{>ui/shared/external-tools/jst/_external_tools_menu.handlebars menu_tools}}{{/if}}
          </ul>
        </div>
      </div>
      {{/if}}
    {{/if}}
    </div>

    {{#if canManage}}<form data-view="edit-assignment" class="form-dialog"></form>{{/if}}
  {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
</div>
<div id="assignment_student_peer_review_{{id}}">
<div id="assign-to-mount-point"></div>
</div>
