<%
  content_for :page_title, "Gradebook - #{@context.name}"
  @body_classes << "gradebook2 full-width"
  @show_left_side = false
  add_crumb t(:go_back_to_the_old_gradebook, "Go back to the old gradebook"), context_url(@context, :change_gradebook_version_context_gradebook_url, :reset => true), :id => 'change_gradebook_version_link_holder'
  jammit_css :slickgrid, :gradebook2
  js_bundle :gradebook2
%>
<div id="gradebook_wrapper" class="use-css-transitions-for-show-hide" style="display:none;">
  <div id="gradebook-toolbar">
    <button style="display:none;" id="section_to_show">Showing: <span id="section_being_shown">All Sections</span></button>
    <button id="gradebook_settings">&nbsp;</button>
    <ul style="display: none;">
      <li><a href="<%= context_url(@context, :context_gradebook_url) %>/history"><%= t('view_grading_history', 'View Grading History') %></a></li>
      <li><a href="<%= context_url(@context, :context_gradebook_url) %>.csv"><%= t('download_scores', 'Download Scores (.csv)') %></a></li>
      <li><a class="gradebook_upload_link" href="#"><%= t('upload_scores', 'Upload Scores (from .csv)') %></a></li>
      <% if @context.allows_grade_publishing_by(@current_user) && can_do(@context, @current_user, :manage_grades) %>
      <li><a id="publish_to_sis" href="<%= context_url(@context, :context_details_url, :fragment => "tab-grade-publishing") %>"><%= t('publish_to_sis', 'Publish grades to SIS') %></a></li>
      <% end %>
      <li><a class="dialog_opener" role="button" aria-controls="assignment_group_weights_dialog" href="<%= context_url(@context, :context_assignments_url) %>"><%= t('set_group_weights', 'Set Group Weights') %></a></li>
      <li><a data-arrange-columns-by="due_date" href="#"><label><%= t('arrange_columns_by_due_date', 'Arrange columns by due date') %><input type="radio" name="arrange-columns-by" /></label></a></li>
      <li><a data-arrange-columns-by="assignment_group" href="#"><label><%= t('arrange_columns_by_group', 'Arrange columns by assignment group') %><input type="radio" name="arrange-columns-by" /></label></a></li>
      <li><a href="#"><label><%= t('show_attendance_columns', 'Show Attendance Columns') %> <input type="checkbox" id="show_attendance" /></label></a></li>
      <li><a href="#"><label><%= t('include_ungraded', "Treat Ungraded as 0's") %><input type="checkbox" id="include_ungraded_assignments" /></label></a></li>
    </ul>
  </div>
  <div id="gradebook-grid-wrapper">
    <div id="gradebook_students_grid"></div>
    <div id="gradebook_grid"></div>
  </div>
  <div style="display:none;">
    <%= render :partial => "shared/message_students" %>
    <%= render :partial => 'submissions/submission_download' %>
  </div>
</div>
