<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
   id = user_note.new_record? ? 'user_note_blank' : "user_note_#{user_note.id}"
   style = user_note.new_record? ? 'display: none;' : ''
   creator = user_note.creator.try_rescue(:name) || nil
   title = user_note.try_rescue(:title) || '{{ title }}'
%>
<div id="<%= id %>" class="user_note communication_message" style="<%= style %>" role="listitem">
  <div class="note_left">
    <div class="header clearfix">
      <div class="header_title">
        <div class="title subject">
          <%= title %>
        </div>
        <% if creator || user_note.created_at %>
          <div class="sub_title creator_name">
            <% if creator && user_note.created_at %>
              <%= t 'subheader', "%{creator} on %{created_at}", :creator => creator, :created_at => datetime_string(user_note.created_at) %>
            <% elsif creator %>
              <%= creator %>
            <% elsif user_note.created_at %>
              <span class="created_at time_ago_date" data-timestamp="<%= user_note.created_at.iso8601 %>"><%= datetime_string user_note.created_at %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content user_note_content">
      <div class="inner_content user_content formatted_note">
        <%= user_content(user_note.try_rescue(:formatted_note)) || nbsp %>
      </div>
    </div>
  </div>

  <div class="note_right">
    <% if user_note.new_record? %>
      <a href="#" class="delete_user_note_link delete_link no-hover icon-trash" title="<%= t "Delete entry %{title}", :title => title %>"><span class="screenreader-only"><%= t "Delete entry %{title}", :title => title %></span></a>
    <% else %>
      <% if can_do(user_note, @current_user, :delete) %>
        <a href="<%= user_user_note_path(user_note.user, user_note) %>" class="delete_user_note_link delete_link no-hover icon-trash" title="<%= t "Delete entry %{title}", :title => title %>"><span class="screenreader-only"><%= t "Delete entry %{title}", :title => title %></span></a>
      <% else %>
        &nbsp;
      <% end %>
    <% end %>
  </div>
</div>
