<% jammit_css :quizzes %>
You got <%= @submission.score %> out of <%= @quiz.points_possible %>
<% submission_data = @submission.data %>
<div id="questions" class="assessment_results">
  <% @quiz.stored_questions.each do |q| %>
    <%= render :partial => "quizzes/display_question", :object => q, :locals => {:user_answer => submission_data.find{|a| a.question_id == q.id}, :assessment_results => true} %>
  <% end %>
</div>
You got <%= @submission.score %> out of <%= @quiz.points_possible %>
