<div class="answer" id="form_answer_template" style="display: none; _width: 100%;">
  
  <table style="width: 100%; position: relative; _height: 10px; min-height: 10px;">
    <tr>
      <td class="answer_select" style="width: 30px;">
        <div style="width: 30px;" class="answer_box">
          <a href="#" class="select_answer_link no-hover" title="<%= t('titles.click_to_set_as_correct', "Click to set this answer as correct") %>"><%= image_tag "blank_answer.png", :class => "answer_image" %></a><br/>
          <span class="answer_weight"><input class="float_value" type="text" style="width: 25px;" name="answer_weight"/>%</span>
        </div>
      </td><td>
        <div class="select_answer answer_type">
          <b><%= before_label(:answer_text, "Answer text") %></b>
          <input type="text" style="width: 200px;" name="answer_text" placeholder="<%= t('anser_text', 'Answer Text') %>" />
          <input type="hidden" name="answer_html"/>
          <span class="answer_html" style="display:inline-block;"></span>
        </div>
        <div class="fixed_answer answer_type">
          <b class="answer_text"></b>
        </div>
        <div class="short_answer answer_type">
          <b class="short_answer_header"><%= before_label(:possible_answer, "Possible Answer") %></b>
          <input type="text" name="answer_text" placeholder="<%= t('answer_text', 'Answer Text') %>"/>
        </div>
        <div class="matching_answer answer_match answer_type">
          <div class="answer_match_left">
            <input type="text" style="width: 95%;" name="answer_match_left" placeholder="<%= t('matching_left', 'Matching left side') %>"/>
          </div>
          <input type="hidden" name="answer_match_left_html"/>
          <div class="answer_match_left_html"></div>
          <div class="answer_match_middle">&nbsp;
          </div>
          <div class="answer_match_right">
            <input type="text" style="width: 95%;" name="answer_match_right" placeholder="<%= t('matching_right', 'Matching right side') %>" />
          </div>
          <div class="clear"></div>
        </div>
        <div class="numerical_answer answer_type">
          <select style="font-weight: bold;" class="numerical_answer_type" name="numerical_answer_type">
            <option value="exact_answer"><%= before_label(:exact_answer, "Exact Answer") %></option>
            <option value="range_answer"><%= before_label(:answer_in_range, "Answer in the Range") %></option>
          </select>
          <span class="exact_answer numerical_answer_text">
            <%= t(:exact_answer_with_error_margin, "%{exact_answer} with error margin %{error_margin}",
                  :exact_answer => raw('<input class="float_value long" type="text" style="width: 50px;" name="answer_exact"/>'),
                  :error_margin => raw('<input class="float_value long" type="text" style="width: 70px;" name="answer_error_margin"/>')) %>
          </span>
          <span class="range_answer numerical_answer_text">
            <%= t(:answer_in_range, "between %{lower_bound} and %{upper_bound}",
                  :lower_bound => raw('<input class="float_value long" type="text" style="width: 50px;" name="answer_range_start"/>'),
                  :upper_bound => raw('<input class="float_value long" type="text" style="width: 50px;" name="answer_range_end"/>')) %>
          </span>
        </div>
        <div class="answer_comments empty">
          <div class="comment_top"></div>
          <a href="#" class="comment_focus" title="<%= t('titles.click_to_enter_answer_comments', "Click to enter comments, if the student chooses this answer") %>">...</a>
          <span class="comments_header"><%= before_label(:answer_comments, "Comments, if the student chooses this answer") %></span>
          <textarea style="width: 95%;" name="answer_comment" class="comments answer_comment_box"></textarea>
          <span class="answer_comment_html" style="display:none"></span>
        </div>
        <div style="display: none;">
          <span class="blank_id">&nbsp;</span>
          <span class="id">&nbsp;</span>
          <span class="match_id">&nbsp;</span>
        </div>
      </td><td style="vertical-align: top; padding-top: 0.5em; text-align: right; width: 40px;">
        <div class="question_actions">
          <a href="#" class="edit_html atr-edit" title="<%= t('titles.edit_as_html', "Edit HTML") %>"><%= t('titles.edit_as_html', "Edit HTML") %></a>
          <a href="#" class="delete_answer_link atr-delete" title="<%= t('titles.delete_answer', "Delete this Answer") %>"><%= t('titles.delete_answer', "Delete this Answer") %></a>
        </div>
      </td>
    </tr>
  </table>
</div>

