<% quiz ||= submission_score.quiz; context ||= quiz.context %>
<% if submission_score.pending_review? %>
  <% if can_do(quiz, @current_user, :grade) %>
    <a href="<%= context_url(context, :context_quiz_history_url, quiz) %>?version=<%= submission_score.version_number %><%= "&user_id=#{@submission.user_id}" %>" class="no-hover">
    <%= image_tag "pending_review.png", :title => t('titles.score_needs_review', "This score needs review") %></a>
  <% else %>
    <%= image_tag "hourglass.png", :title => t('titles.score_pending_review', "This score is pending review, and may change") %>
  <% end %>
<% end %>
<%= submission_score.score %>
