<div id="quiz_details">
  <table class="table">
    <thead>
      <th>
        <%= submitted_students_title(@quiz, @submitted_students) %>
      </th>
      <th>
        <%= unsubmitted_students_title(@quiz, @unsubmitted_students) %>
      </th>
    </thead>
    <tbody>
      <%
        [@submitted_students.size, @unsubmitted_students.size, 1].max.times do |index|
          student = @submitted_students[index]
          unsubmitted_student = @unsubmitted_students[index]
          submission = student.present? ? @submissions[student.id] : nil
      %>
      <tr>
        <td>
          <% if @submitted_students.empty? && index == 0 %>
            <%= no_submitted_students_msg(@quiz) %>
          <% elsif student.present? && submission.present? %>
            <% if submission.pending_review? %>
              <% warn_msg = t('titles.submission_needs_review', "This submission needs review") %>
              <i class="icon-warning" title="<%= warn_msg %>"></i>
            <% end %>
          <a href="<%= polymorphic_path([@context, @quiz, :history], :quiz_submission_id => submission.id) %>" class="name">
            <% if @quiz.anonymous_survey? %>
              <%= t(:anonymous_student, "Student %{n}", :n => index + 1) %>
            <% else %>
              <%= student.name %>
            <% end %>
          </a>
          <% end %>
        </td>
        <td>
          <span>
            <% if @unsubmitted_students.empty? && !@submitted_students.empty? && index == 0 %>
              <%= no_unsubmitted_students_msg(@quiz) %>
            <% elsif unsubmitted_student.present? && !@quiz.anonymous_survey? %>
              <%= unsubmitted_student.name %>
            <% end %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
<%# Doing this here instead of js_env because js_env doesn't get called
  with render :layout => false %>
window.ENV = window.ENV || {};
window.ENV.QUIZ_SUBMISSION_LIST = <%= raw(@quiz_submission_list) %>;
</script>
