<% content_for :page_title do %><%= join_title @quiz.readable_type, @quiz.quiz_title %><% end %>

<% content_for :right_side do %>
  <div class="rs-margin-lr rs-margin-top">
  <% if @submission && params[:preview] %>
    <a id="preview_mode_link" href="<%= context_url(@context, :edit_context_quiz_url, @quiz) %>" class="button button-sidebar-wide"><%= image_tag "edit.png" %> <%= @quiz.survey? ? t('links.keep_editing_survey', "Keep Editing This Survey") : t('links.keep_editing_quiz', "Keep Editing This Quiz") %></a><br/>
  <% end %>
  <h3 style="margin: 0px;"><%= t('headers.questions', "Questions") %></h3>
  <ul id="question_list" style="max-height: 200px; overflow: auto;">
    <% @submission.questions_as_object.compact.each do |q| %>
      <li id="list_question_<%= q[:id] %>" class="list_question <%= "marked" if @stored_params["question_#{q[:id]}_marked"] %>">
        <a class="jump_to_question_link" href="#question_<%= q[:id] %>"><%= q[:question_name] %></a>
      </li>
    <% end %>
  </ul>
  <% if @submission.finished_at %>
    <div class="quiz_score">
      <%= before_label(:score, "Score") %>
      <%= t(:score_out_of_points_possible, "%{score} out of %{points_possible}",
            :score => raw("<span class=\"score_value\">#{@submission.score}</span>"),
            :points_possible => @quiz.points_possible) %>
    </div>
  <% end %>
  <div>
    <div id="last_saved_indicator"><%= t("not_saved", "Not saved") %></div>
    <span class="time_header"><%= before_label(:time_running, "Time Running") %></span>
    <span style="font-size: 0.8em; padding-left: 10px;">
      <a href="#" class="hide_time_link"><%= t('links.hide_time_running', "Hide") %></a>
    </span>
    <% if @submission.end_at %>
      <div style="font-size: 0.8em;">
        <%= before_label(:attempt_due, "Attempt due") %>
        <%= datetime_string(@submission.end_at) %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="time_running"></div>
  </div>

<% end %>
<% jammit_css :quizzes %>

<h2><%= @quiz.quiz_title || @quiz.readable_type %></h2>
<% if @submission.preview? %>
<h3><%= image_tag "warning.png" %> <%= t('headers.draft_preview', "This is a preview of the draft version of the quiz") %></h3>
<% end %>
<%= before_label(:started, "Started") %>
<%= datetime_string(@submission.started_at) %>

<% js_block do %><%= javascript_include_tag "tinymce/jscripts/tiny_mce/tiny_mce.js" %><% end %>
<% js_bundle :take_quiz %>
<div id="questions" class="assessing">
<%
  form_params = { :controller => :quiz_submissions, :action => :create, :quiz_id => @quiz.id, :user_id => (@current_user && @current_user.id) }
  if session['lockdown_browser_popup']
    form_params.merge!(Canvas::LockdownBrowser.plugin.base.quiz_exit_params(self))
  end
%>
<% form_tag context_url(@context, form_params), {:id => "submit_quiz_form"} do %>
<input type="hidden" name="attempt" value="<%= @submission.attempt %>"/>
<% if @submission.preview? %>
  <input type="hidden" name="preview" value="1"/>
<% end %>
<div style="display: none;" id="quiz_urls">
  <a href="<%= context_url(@context, :backup_context_quiz_quiz_submissions_url, @quiz.id) %>?user_id=<%= @current_user && @current_user.id %><%= "&preview=1" if @submission.preview? %>" class="backup_quiz_submission_url">&nbsp;</a>
  <span class="started_at"><%= @submission.started_at.iso8601 %></span>
  <span class="now"><%= ActiveSupport::TimeWithZone.new(Time.now.utc, Time.zone).iso8601 %></span>
  <span class="end_at"><%= @submission.end_at && @submission.end_at.iso8601 %></span>
  <span class="time_limit"><%= @quiz.time_limit || nbsp %></span>
</div>
<%= render :partial => "display_question", :collection => @submission.questions_as_object, :locals => {:assessing => true } %>
<div class="button-container">
  <button type="submit" class="button submit_button"><%= t('buttons.submit_answer', "Submit Answers") %></button>
</div>
<% end %>
</div>
<div style="font-size: 1.2em; display: none;" id="times_up_dialog">
  <%= before_label(:times_up, "Time's Up!  Submitting results in") %>
  <div style="text-align: center; font-size: 1.2em; margin: 10px;" class="countdown_seconds"></div>
  <div class="button-container">
    <button type="button" class="submit_quiz_button button"><%= t('buttons.out_of_time_submit', "Ok, fine") %></button>
  </div>
</div>
