<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  self.instance_variables.each do |name|
    if name.match(/\A@content_for/)
      instance_variable_set(name, nil)
    end
  end
  add_body_class 'full-width'
%>
<% provide :page_title, t('title', 'Page Error') %>

<div class="ic-Error-page">
  <img class="ic-Error-img" role="presentation" alt="" aria-hidden="true" src="/images/500_pageerror.svg">
  <h1><%= t('headings.page', %{Page Error}) %></h1>
  <p><%= t("Something broke unexpectedly.") %>
    <br><%= t("If you have a moment, *click here to tell us what happened*.", :wrapper => '<a href="#" class="submit_error_link">\1</a>') %></p>
  <% if (defined? message) && message %>
    <p><%= t('error', 'Error:') %> <%= message %></p>
  <% end %>
  <div class="ic-Error-form">
    <%= render :partial => "shared/errors/error_form", :locals => {:error_category => '400'} %>
  </div>
</div>
