<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  self.instance_variables.each do |name|
    if name.match(/\A@content_for/)
      instance_variable_set(name, nil)
    end
  end
  exception ||= nil
%>
<% content_for :page_title, t('title', 'Session Timeout') %>

<div style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 50px;">
  <h2><%= t('headings.page', %{Page Error}) %></h2>
  <p><%= t('description', %{There was a problem with your last request.  You may have tried to perform an action after a long period of inactivity.  If that's the case, try going back, reloading the page you were working on, and resubmitting.  If not, please let us know what you were doing when the error happened.}) %></p>
  <%= render '/shared/errors/error_help' if ENV['SHOW_ERROR_HELP'] == 'true' %>
  <a href="#" style="font-size: 1.2em;" class="submit_error_link discussion-topic"><%= t('#links.errors.feedback', %{Click here to tell us what happened}) %></a>
  <%= render :partial => "shared/errors/error_form", :locals => {:status => status, :error_category => 'AUT'} %>
</div>
