<%= htmlify(@docstring.strip, :markdown) %>

<% @json_objects.each do |name, json| %>
<% properties = render_properties(json) %>
  <div class='object_definition'>
  <h3><a name="<%= name %>"><%= name[0,1] =~ /[aeiou]/i ? "An" : "A" %> <%= name %> object looks like:</a></h3>
<pre class="example code brush:js">
<%= html_syntax_highlight(properties ? properties : json, :plain) %>
</pre>
  </div>
<% end %>
