<div class="group-description" role='button' tabindex='0' aria-controls="group_detail-{{id}}" aria-expanded='false'>
  <div class="outcome-icon" aria-label="{{#t}}expand/collapse {{title}} Outcome Group{{/t}}">
    <i class="icon-mini-arrow-down collapsed-arrow"></i>
    <i class="icon-mini-arrow-up expanded-arrow"></i>
  </div>
  <h3 class="group-title"><span role='button' tabindex='0'>{{title}}</span></h3>
  <div class="group-status">
    <ul class="pill">
      <li
      {{#if mastery_count}}
        class="has-mastery"
      {{else}}
        class="no-mastery"
      {{/if}}
        >{{mastery_count}}</li>
      <li>{{count}}</li>
    </ul>
  </div>
</div>
<div id="group_detail-{{id}}" class="outcomes">
</div>
