<div class="group-description">
  <div class="outcome-icon {{status}}" data-tooltip title="{{statusTooltip}}" aria-label="Outcome Group: {{title}} status is {{statusTooltip}}">
    {{#if started}}
      {{#ifEqual status 'mastery'}}
        <i class="icon-complete"></i>
      {{else}}
        {{#ifEqual status 'near'}}
          <i class="icon-partial"></i>
        {{else}}
          <i class="icon-trouble"></i>
        {{/ifEqual}}
      {{/ifEqual}}
    {{else}}
      <i class="icon-empty"></i>
    {{/if}}
  </div>
  <h3 class="group-title">{{title}}</h3>
  <div class="group-status" aria-label="{{mastery_count}} out of {{count}} outcomes mastered">
    <strong>{{mastery_count}}</strong>/{{count}} <span>Outcomes</span>
  </div>
</div>
<div class="outcomes">
</div>
