<div class="outcome-icon {{status}}" data-tooltip="top" title="{{statusTooltip}}" aria-label="Outcome: {{title}} has a status of {{statusTooltip}}">
  {{#if scoreDefined}}
    {{#ifEqual status 'mastery'}}
      {{addIcon 'complete'}}
    {{else}}
      {{#ifEqual status 'near'}}
        {{addIcon 'partial'}}
      {{else}}
        {{addIcon 'trouble'}}
      {{/ifEqual}}
    {{/ifEqual}}
  {{else}}
    <i class="icon-empty"></i>
  {{/if}}
</div>
<div class="outcome-properties">
  <div class="title" data-tooltip title="{{#if hover_name}}{{hover_name}}: {{/if}}{{description}}">
    <h4>{{friendly_name}}</h4>
  </div>
  <div class="description">{{{description}}}</div>
</div>
<div class="outcome-score outcome-bar-wrapper">
  {{view progress}}
  <span class="score" aria-label="Score: {{roundedScore}} out of {{points_possible}} points with mastery at {{mastery_points}}">
    <strong>{{#if scoreDefined}}{{roundedScore}}{{else}}-{{/if}}</strong>/{{mastery_points}}
  </span>
  <a href="#tab-outcomes/{{id}}" aria-haspopup='true' aria-owns='outcome_detail'>
    {{#t 'alignment_count'}}<strong>{{count}}</strong> Alignments{{/t}}
  </a>
</div>
