<div class="outcome-modal">
  <div class="title">{{title}}</div>
  <div class="outcome-bar-wrapper">
	  <div class="score"><strong>{{#if scoreDefined}}{{score}}{{else}}-{{/if}}</strong>/{{mastery_points}}</div>
	  {{view progress}}
	</div>
  <div class="description">{{{description}}}</div>

	<div class="alignments"></div>
</div>
