<div class="outcome-properties">
  <div class="title">{{title}}</div>
  <div class="description">{{{description}}}</div>
</div>
<div class="score">
  {{#if score_defined}}{{score}}{{else}}-{{/if}}/{{mastery_points}}
</div>
