<li>
  <button type="button" data-id="{{id}}" data-name="{{name}}" aria-label="{{#if selected}}{{#t}}Remove {{name}}{{/t}}{{else}}{{#t}}Add {{name}}{{/t}}{{/if}}">
    <i class="icon-{{type}}" aria-hidden="true"></i>
    {{name}}

    {{#if selected}}
      <i class="icon-end" aria-hidden="true"></i>
      <input type="hidden" id="input_{{id}}" name="{{type}}[]" value="{{collaborator_id}}" />
    {{else}}
      <i class="icon-add" aria-hidden="true"></i>
    {{/if}}
  </button>
</li>
