<div class="assignment <%= 'blank' unless assignment %>" title="<%= assignment.title rescue '' %>">
  <span class="assignment_type <%= assignment.submission_types.split(",")[0] rescue '' %>">&nbsp;</span>
  <span class="title"><%= assignment.title rescue nbsp %></span>
  <span class="date">
    &nbsp;
    <span class="due_date" style="display: none;"><%= date_string(assignment.due_at, :long) rescue nbsp %></span>
    <span class="due_time"><%= time_string(assignment.due_at) rescue nbsp %></span>
  </span>
  <span class="points" style="<%= 'visibility: hidden;' unless assignment && assignment.points_possible %>">
    out of 
    <span class="points_possible"><%= assignment.points_possible rescue nbsp %></span>
  </span>
  <span class="assignment_group_name"><%= assignment.assignment_group.name rescue nbsp %></span>
  <span class="all_day" style="display: none;"><%= event.all_day rescue false %></span>
  <div class="links">
    <a href="<%= context_url(@context, :context_assignment_url, assignment ? assignment.id : "{{ id }}") %>" class="edit_assignment_link no-hover" title="<%= t 'links.edit_assignment', 'Edit Assignment' %>"><%= image_tag "edit.png" %></a>
    <a href="<%= context_url(@context, :context_assignment_url, assignment ? assignment.id : "{{ id }}") %>" class="delete_assignment_link no-hover" title="<%= t 'links.delete_assignment', 'Delete Assignment' %>"><%= image_tag "delete.png" %></a>
  </div>
  <div class="assignment_group_id" style="display: none;"><%= assignment.assignment_group_id rescue nbsp %></div>
  <div class="submission_types" style="display: none;"><%= assignment.submission_types rescue '' %></div>
  <div class="description"><%= assignment.description rescue '' %></div>
</div>
