<% editable ||= false %>
<div id="group_weight" class="<%= 'not_percent_weighted' unless @context.group_weighting_scheme == 'percent' %>">
  <h2><%= t 'titles.assignment_groups', "Assignment Groups" %></h2>
  <table id="group_weight_table">
    <% tally = 0 %>
    <tbody>
    <% @context.assignment_groups.each do |group| %>
      <% tally += group.group_weight || 0 %>
      <tr id="group_weight_<%= group.id %>" class="group_weight">
        <td style="min-width: 200px;">
          <%= image_tag "move.png", :class => "move" %>
          <span class="name"><%= group.name %></span>
          <span class="id" style="display: none;"><%= group.id %></span>
        </td>
        <td style="white-space: nowrap;" class="percent_weight">
          <input type="text" class="weight" value="<%= group.group_weight || 0 %>" style="width: 35px;">%
        </td>
        <td>
          <div class="links">
            <a href="<%= context_url(@context, :context_assignment_group_url, group.id) %>" class="edit_group_link assignment_group_url no-hover" title="<%= t 'links.edit_group', "Edit Group Name" %>"><%= image_tag "edit.png" %></a>
            <a href="<%= context_url(@context, :context_assignment_group_url, group.id) %>" class="delete_group_link no-hover" title="<%= t 'links.delete_group', "Delete Group" %>"><%= image_tag "delete.png" %></a>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
    <tr>
      <td colspan="3" style="padding-left: 20px;">
        <a href="#" class="add_group_weight_link add-small" style="font-size: 0.8em;"><%= t 'links.add_group', "Add Assignment Group" %></a>
      </td>
    </tr>
    <tr id="group_weight_blank" style="display: none;" class="group_weight">
      <td style="min-width: 200px;">
        <%= image_tag "move.png", :class => "move" %>
        <span class="name">&nbsp;</span>
        <span class="id" style="display: none;">&nbsp;</span>
      </td>
      <td style="white-space: nowrap;" class="percent_weight"><input type="text" class="weight" value="0" style="width: 35px;">%</td>
      <td>
        <div class="links">
          <a href="<%= context_url(@context, :context_assignment_group_url, "{{ id }}") %>" class="delete_group_link no-hover"><%= image_tag "delete.png" %></a>
        </div>
      </td>
    </tr>
    <tr class="percent_weight">
      <td class="total"><%= t 'labels.total', 'Total' %></td>
      <td id="group_weight_total" class="total" style="text-align: right;"><%= number_to_percentage(tally, :precision => 0) %></td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <input type="checkbox" id="weight_final_grade" <%= 'checked' if @context.group_weighting_scheme == 'percent' %>/>
  <label for="weight_final_grade"><%= t 'labels.weight_groups', "Weight final grade by groups" %></label>
</div>