<form id="assignment_form">
  <div style="float: left;">
    <input type="text" name="assignment[title]"/>
    <div style="margin-left: 5px;">
      type: 
      <select name="assignment[submission_types]" class="icon_select">
        <option value="on_paper" class="on_paper"><%= t 'options.assignment', "Assignment" %></option>
        <option value="online_upload" class="online_upload"><%= t 'options.file_upload', "File Upload" %></option>
        <option value="discussion_topic" class="discussion_topic"><%= t 'options.discussion', "Discussion" %></option>
        <option value="online_quiz" class="online_quiz"><%= t 'options.quiz', "Quiz" %></option>
        <option value="not_graded" class="not_graded"><%= t 'options.not_graded', "Not Graded" %></option>
      </select>
    </div>
  </div>
  <div style="float: left; padding-left: 10px;">
    due: <input type="text" name="assignment[due_at]" class="datetime_field" style="width: 100px;"/>
  </div>
  <div style="float: left; padding-left: 10px;">
    points: <input type="text" name="assignment[points_possible]" style="width: 20px;"/>
  </div>
  <div style="float: left; padding-left: 10px;">
    group: 
    <select name="assignment[assignment_group_id]">
      <% @context.assignment_groups.each do |group| %>
        <option value="<%= group.id %>"><%= group.name %></option>
      <% end %>
      <option value="new"><%= t 'options.new_group', "[ New Group ]" %></option>
    </select>
  </div>
  <div class="clear"></div>
  <div>
    <textarea id="assignment_description" name="assignment[description]" style="width: 100%; height: 200px;"></textarea>
  </div>
  <div>
    <button type="submit" class="btn"><%= t 'buttons.save_assignment', "Save Assignment" %></button>
    <button type="button" class="btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
  </div>
</form>