<h3><%= check_box :copy, :all_course_settings, :class => "copy_all", :checked => false %><%= label :copy, :all_course_settings, image_tag('file_multiple.png') + " " + t('labels.copy_settings', "Settings from %{course}", :course => @source_course.name) %></h3>

<% if @source_course.assignment_groups.active.length > 0 %>
  <h3><%= check_box :copy, :all_assignments, :class => "copy_all", :checked => true %><%= label :copy, :all_assignments, image_tag('assignment.png') + " " + t('labels.assignment', "Assignments for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% @source_course.assignment_groups.active.each do |group| %>
      <li>
        <h4><%= check_box "copy[assignment_groups]", mig_id(group), :class => "copy_all" %><%= label :copy, mig_id(group), group.name %></h4>
        <ul class="unstyled_list asset_list">
          <% group.assignments.active.each do |assignment| %>
            <li>
              <%= check_box "copy[assignments]", mig_id(assignment) %>
              <%= label "copy[assignments]", mig_id(assignment), assignment.title %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.context_modules.active.length > 0 %>
  <h3><%= check_box :copy, :all_context_modules, :class => "copy_all", :checked => true %><%= label :copy, :all_context_modules, image_tag('ball.png') + " " + t('labels.modules', "Modules for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% @source_course.context_modules.active.each do |mod| %>
      <li>
        <%= check_box "copy[context_modules]", mig_id(mod) %>
        <%= label "copy[context_modules]", mig_id(mod), mod.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.learning_outcomes.active.length > 0 %>
  <h3><%= check_box :copy, :all_learning_outcomes, :class => "copy_all", :checked => true %><%= label :copy, :all_learning_outcomes, image_tag('flagged_question_dim.png') + " " + t('labels.learning_outcomes', "Learning Outcomes for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% root = LearningOutcomeGroup.default_for(@source_course) %>
    <% root.sorted_content.each do |item| %>
      <% if item.is_a? LearningOutcome %>
        <li>
          <%= check_box "copy[learning_outcomes]", mig_id(item) %>
          <%= label "copy[learning_outcomes]", mig_id(item), item.short_description %>
        </li>
      <% else %>
        <h4><%= check_box "copy[learning_outcome_groups]", mig_id(item), :class => "copy_all" %><%= label "copy[learning_outcome_groups]", mig_id(item), item.title %></h4>
        <ul class="unstyled_list asset_list">
          <% item.sorted_content.each do |sub| %>
              <% if sub.is_a? LearningOutcome %>
                <li>
                  <%= check_box "copy[learning_outcomes]", mig_id(sub) %>
                  <%= label "copy[learning_outcomes]", mig_id(sub), sub.short_description %>
                </li>
              <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @source_course.rubric_associations.length > 0 %>
  <h3><%= check_box :copy, :all_rubrics, :class => "copy_all", :checked => true %><%= label :copy, :all_rubrics, image_tag('flagged_question_dim.png') + " " + t('labels.rubrics', "Rubrics for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% @source_course.rubric_associations.each do |assoc|
       rub = assoc.rubric
    %>
      <li>
        <%= check_box "copy[rubrics]", mig_id(rub) %>
        <%= label "copy[rubrics]", mig_id(rub), rub.title %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.quizzes.active.length > 0 %>
  <h3><%= check_box :copy, :all_quizzes, :class => "copy_all", :checked => true %><%= label :copy, :all_quizzes, image_tag('quiz.png') + " " + t('labels.quizzes', "Quizzes for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% @source_course.quizzes.active.each do |quiz| %>
      <li>
        <%= check_box "copy[quizzes]", mig_id(quiz) %>
        <%= label "copy[quizzes]", mig_id(quiz), quiz.title %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.assessment_question_banks.active.length > 0 %>
  <h3><%= check_box :copy, :all_assessment_question_banks, :class => "copy_all", :checked => true %><%= label :copy, :all_assessment_question_banks, image_tag('quiz.png') + " " + t('labels.question_banks', "Question Banks for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% @source_course.assessment_question_banks.active.each do |bank| %>
      <li>
        <%= check_box "copy[assessment_question_banks]", mig_id(bank) %>
        <%= label "copy[assessment_question_banks]", mig_id(bank), bank.title %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.folders.active.length > 0 && @source_course.attachments.active.length > 0 %>
  <h3><%= check_box :copy, :all_attachments, :class => "copy_all", :checked => true %><%= label :copy, :all_attachments, image_tag('download.png') + " " + t('labels.files', "Files for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list root_asset_list">
    <% @source_course.folders.active.sort_by { |f| f.full_name }.each do |folder| %>
      <% if folder.attachments.active.length > 0 %>
        <li>
          <h4><%= check_box "copy[folders]", mig_id(folder), :class => "copy_all" %><%= label "copy[folders]", mig_id(folder), folder.full_name %></h4>
          <ul class="unstyled_list asset_list">
            <% folder.attachments.active.each do |file| %>
              <li><%= check_box "copy[attachments]", mig_id(file) %><%= label "copy[attachments]", mig_id(file), file.display_name %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @source_course.wiki.wiki_pages.active.length > 0 %>
  <h3><%= check_box :copy, :all_wiki_pages, :class => "copy_all", :checked => true %><%= label :copy, :all_wiki_pages, image_tag('course_content_icon.png') + " " + t('labels.wiki_ages', "Wiki Pages for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list asset_list">
    <% @source_course.wiki.wiki_pages.active.each do |page| %>
      <li><%= check_box "copy[wiki_pages]", mig_id(page) %><%= label "copy[wiki_pages]", mig_id(page), page.title %></li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.discussion_topics.active.length > 0 %>
  <h3><%= check_box :copy, :all_discussion_topics, :class => "copy_all" %><%= label :copy, :all_discussion_topics, image_tag('word_bubble.png') + " " + t('labels.discussions', "Discussions for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list asset_list">
    <% @source_course.discussion_topics.active.each do |topic| %>
      <li><%= check_box "copy[discussion_topics]", mig_id(topic) %><%= label "copy[discussion_topics]", mig_id(topic), topic.title %>
        <div style="font-size: 0.8em; padding-left: 25px;">
          <%= check_box "copy[discussion_entries]", mig_id(topic), :class => "secondary_checkbox skip" %><%= label "copy[discussion_entries]", mig_id(topic), :copy, :en => "include entries from the old course" %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.calendar_events.active.length > 0 %>
  <h3><%= check_box :copy, :all_calendar_events, :class => "copy_all", :checked => true %><%= label :copy, :all_calendar_events, image_tag('due_date_icon.png') + " " + t('labels.events', "Events for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list asset_list">
    <% @source_course.calendar_events.active.each do |event| %>
      <li><%= check_box "copy[calendar_events]", mig_id(event) %><%= label "copy[calendar_events]", mig_id(event), event.title %>
        -
        <span style="font-size: 0.8em;"><%= datetime_string(event.start_at) %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @source_course.context_external_tools.active.length > 0 %>
  <h3><%= check_box :copy, :all_context_external_tools, :class => "copy_all", :checked => true %><%= label :copy, :all_context_external_tools, t('labels.external_tools', "External Tools for %{course}", :course => @source_course.name) %></h3>
  <ul class="unstyled_list asset_list">
    <% @source_course.context_external_tools.active.each do |tool| %>
      <li><%= check_box "copy[context_external_tools]", mig_id(tool) %><%= label "copy[context_external_tools]", mig_id(tool), tool.name %></li>
    <% end %>
  </ul>
<% end %>