<div style="margin-top: 20px;">
  <h3><%= check_box :copy, :shift_dates, :class => "shift_dates_checkbox" %><%= label :copy, :shift_dates, :en => "Adjust events and due dates" %></h3>
  <div style="display: none; margin-left: 50px;" class="shift_dates_settings">
    <div>
      <div style="margin-bottom: 5px;"><%= t 'labels.dates_range', "*%{course}* dates range", :course => @source_course.name, :wrapper => '<strong class="course_name">\1</strong>' %></div>
      <% ot 'from_to', "*from* %{start_date} **to** %{end_date}",
            :start_date => capture { %>
        <div style="float: left;"><%= text_field :copy, :old_start_date, :value => date_string(@source_course.real_start_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
      <% }, :end_date => capture { %>
        <div style="float: left;"><%= text_field :copy, :old_end_date, :value => date_string(@source_course.real_end_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
      <% }, :wrapper => { '*' => '<div style="float: left; margin-left: 10px;">\1&nbsp;</div>',
        '**' => '<div style="float: left;">&nbsp;\1&nbsp;</div>' } %>
      <div class="clear"></div>
    </div>
    <div>
      <div style="margin-bottom: 5px margin-top: 10px;"><%= mt 'labels.this_course_date_range', "**This Course** dates range" %></div>
      <% ot 'from_to', "*from* %{start_date} **to** %{end_date}",
            :start_date => capture { %>
        <div style="float: left;"><%= text_field :copy, :new_start_date, :value => date_string(@context.real_start_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
      <% }, :end_date => capture { %>
        <div style="float: left;"><%= text_field :copy, :new_end_date, :value => date_string(@context.real_end_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
      <% }, :wrapper => { '*' => '<div style="float: left; margin-left: 10px;">\1&nbsp;</div>',
        '**' => '<div style="float: left;">&nbsp;\1&nbsp;</div>' } %>
      <div class="clear"></div>
    </div>
    <div style="margin-top: 15px;">
      <%= t 'descriptions.day_substitutions', "You can also explicitly define day substitutions to adjust for changing class schedules
      (i.e. move everything that was on Mondays to now happen on Tuesdays)" %>
      <div class="substitutions" style="margin-top: 10px;"></div>
      <div style="display: none;">
        <div class="substitution substitution_blank">
          <%= t 'move_from_to', "Move everything on %{old_day} to happen on %{new_day}",
                :old_day => '<span class="old_select">&nbsp;</span>'.html_safe,
                :new_day => '<span class="new_select">&nbsp;</span>'.html_safe %>
          <a href="#" class="delete_substitution_link no-hover"><%= image_tag "delete_circle.png" %></a>
        </div>
        <select class="weekday_select weekday_select_blank">
          <% I18n.t('date.day_names').each_with_index do |name, idx| %>
            <option value="<%= idx %>"><%= name %></option>
          <% end %>
        </select>
      </div>
      <div>
        <a href="#" class="add_substitution_link add"><%= t 'links.add_day_substitution', "Define a day substitution" %></a>
      </div>
    </div>
  </div>
</div>
