<% warnings = cm.old_warnings_format %>
<% if warnings.any? || (cm.migration_settings[:last_error] && Account.site_admin.grants_right?(@current_user, :view_error_reports)) %>
  <a href="#" class="warnings_link"><%= t 'links.warnings', "Warnings/Errors" %></a><br>
  <div class="migration_warnings" style="display:none; margin-left:10px;">
    <% if cm.attachment %>
      <div><%= link_to "Download this archive", context_url(cm.context, :course_download_import_archive_url, cm) %></div>
    <% end %>
    <% if warnings.any? %>
      <div>
        <strong><%= before_label :warnings, "Warnings" %></strong><br>
        <% warnings.each do |warn| %>
          <div>
            <%= warn.first %>
            <% if Account.site_admin.grants_right?(@current_user, :view_error_reports) && warn.last.present? %>
              - <%= error_link_or_message(warn.last) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if cm.migration_settings[:last_error] && Account.site_admin.grants_right?(@current_user, :view_error_reports) %>
      <div>
        <strong><%= before_label :last_error, "Last Error" %></strong><br>
        <%= error_link_or_message(cm.migration_settings[:last_error]) %>
      </div>
    <% end %>
  </div>
<% end %>