<% @body_classes << "content-imports" %>
<% view ||= 'intro' %>
<ul id="import-steps">
  <li class="first <%= "active" if view == 'intro' %>"><a href="<%= context_url(@context, :context_imports_url) %>">
    <span class="title"><%= t '#wizard.step', "Step %{number}", :number => 1 %></span>
    <span class="subtitle"><%= t 'wizard_steps.intro', "Intro" %></span>
    </a>
  </li>
  <li class="wizard_step <%= "active" if view == 'files' %>"><a href="<%= context_url(@context, :context_import_files_url) %>">
    <span class="title"><%= t '#wizard.step', "Step %{number}", :number => 2 %></span>
    <span class="subtitle"><%= t 'wizard_steps.import_files', "Import Files" %></span>
    </a>
  </li>
  <% if qti_enabled? %>
      <li class="wizard_step <%= "active" if view == 'quizzes' %>"><a href="<%= context_url(@context, :context_import_quizzes_url) %>">
        <span class="title"><%= t '#wizard.step', "Step %{number}", :number => 3 %></span>
        <span class="subtitle"><%= t 'wizard_steps.import_quizzes', "Import Quizzes" %></span>
        </a>
      </li>
  <% end %>
</ul>
<% js_block do %>
  <script type="text/javascript">
  require([
    'jquery' /* $ */,
    'jquery.instructure_misc_plugins' /* chevronCrumbs */
  ], function($) {
    $(function(){
      $("#import-steps").chevronCrumbs();
    });
  });
  </script>
<% end %>
