<% @body_classes << "content-imports" %>
<% content_for :page_title do %><%= t :page_title, "Choose Content to Copy" %><% end %>
<% add_crumb t('crumbs.choose_course', "Choose Course"),  context_url(@context, :context_import_choose_course_url) %>
<% add_crumb t('crumbs.choose_content', "Choose Content") %>

<%
   js_env :COPY_COURSE_FINISH_URL => context_url(@context, :context_import_copy_course_finish_url)
   js_env :CONTENT_SELECT_URL => context_url(@context, :context_import_copy_course_checklist_url) + "?source_course=#{@source_course.id}"
%>

<% content_for :stylesheets do %>
<style>
.root_asset_list {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.root_asset_list > li {
  margin-bottom: 10px;
}
.root_asset_list h4 {
  margin: 0;
}
.asset_list {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
}
#copy_context_form h3 {
  color: #444;
}
</style>
<% end %>

<% form_tag context_url(@context, :context_import_copy_content_url), :id => "copy_context_form" do %>
    <input type="hidden" name="source_course" id="source_cource_id" value="<%= @source_course.id %>"/>
    <h2><%= t 'titles.copy_from_course', "Copy Content From %{course}", :course => @source_course.name %></h2>
    <p><%= t 'descriptions.copy_content', "Select the content you'd like copied into this course." %></p>

  <h3 style="margin-bottom: 10px;">
    <%= check_box :copy, :everything, :checked => true, :class => "copy_everything" %>
    <%= label :copy, :everything, t('labels.copy_everything', "Copy everything from %{course}", :course => @source_course.name) %>
  </h3>

  <div id="item_selections" style="display: none; position: relative;">
    <%= before_label('check', 'Check') %>
    <a href="#" id="check_everything"><%= t('check_everything', 'All') %></a> :
    <a href="#" id="uncheck_everything"><%= t('uncheck_everything', 'None') %></a>

    <div class="content_list"></div>
  </div>

  <%= render :partial => 'date_shift_form'  %>

  <div class="progress_bar_holder" style="display: none; margin-top: 10px;">
    <div class="copy_progress"></div>
  </div>
  <div class="button-container" style="margin-top: 20px;">
    <button class="btn btn-large submit_button" type="submit"><%= t 'buttons.import', "Import Course Content" %></button>
  </div>

<% end %>

<% js_bundle :copy_course %>
