<% @body_classes << "content-imports" %>
<% content_for :page_title do %><%= t :page_title, "Choose Course" %><% end %>

<% add_crumb t('crumbs.copy_from', "Choose Course"),  context_url(@context, :context_import_choose_course_url) %>
<div>
  <h2><%= t 'titles.copy_from', "Copy From another Course" %></h2>
  <p>
    <%= t 'descriptions.copy_from', "Select the course you want to copy from.  Then you can specify what exactly you want copied over." %>
  </p>
  <% form_tag context_url(@context, :context_import_choose_content_url), :method => :get do %>
    <table class="formtable">
      <tr>
        <td><label for="course_autocomplete_id_lookup"><%= before_label :search_for_course, "Search for Course" %></label></td>
        <td>
          <a href="<%= context_url(@current_user, :context_manageable_courses_url, :format => :json) %>" id="course_autocomplete_url" style="display: none;">&nbsp;</a>
          <input type="hidden" name="source_course" id="course_autocomplete_id"/>
          <input type="text" id="course_autocomplete_id_lookup" style="width: 250px;"/>
        </td>
      </tr><tr id="select-course-row">
        <td><label for="copy_from_course"><%= before_label :select_course, "Or Select from the List" %></label></td>
        <td id="course-select-wrapper">
          <select style="font-size: 1.2em; width: 250px;" id="copy_from_course">
            <option value="none"><%= t 'options.select_course', '[Select Course]' %></option>
          </select>
        </td>
      </tr><tr>
      <td></td>
      <td><input type="checkbox" id="include_concluded_courses" name="include_concluded_courses" /> <label for="include_concluded_courses">Include completed courses?</label></td>
      </tr><tr>
        <td colspan="2">
          <div id="course_autocomplete_name_holder" style="display: none; margin-top: 20px;">
            Selected Course:
            <span id="course_autocomplete_name" style="font-weight: bold;">&nbsp;</span>
            <div class="button-container">
              <button type="submit" class="btn"><%= t 'buttons.copy_from_course', "Copy From this Course" %></button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<% js_bundle :copy_course %>
