<% @body_classes << "content-imports" %>
<% content_for :page_title do %><%= t :page_title, "Copy From Another Course" %><% end %>

<% content_for :stylesheets do %>
<style>
.root_asset_list {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.root_asset_list > li {
  margin-bottom: 10px;
}
.root_asset_list h4 {
  margin: 0;
}
.asset_list {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
}
#copy_context_form h3 {
  color: #444;
}
</style>
<% end %>
<% if @copy_context %>
  <% add_crumb t('crumbs.copy_from_course', "Copy From %{course}", :course => @copy_context.name), "#{context_url(@context, :context_import_copy_url)}&import_id=#{@copy_context.id}" %>
  <% form_tag context_url(@context, :context_import_copy_url), :id => "copy_context_form" do %>
    <%= hidden_field :copy, :course_id, :value => @copy_context.id %>
    <h2><%= t 'titles.copy_from_course', "Copy Content From %{course}", :course => @copy_context.name %></h2>
    <p><%= t 'descriptions.copy_content', "Select the content you'd like copied into this course.  We'll try to auto-correct any mismatched
    due dates and calendar event dates as best we can." %></p>
    <h3 style="margin-bottom: 10px;"><%= check_box :copy, :everything, :class => "copy_everything" %> <%= label :copy, :everything, image_tag('checked.png', :style => 'width: 16px;') + " " + t('labels.copy_everything', "Copy Everything from %{course}", :course => @copy_context.name) %></h3>
    <h3><%= check_box :copy, :course_settings, :class => "copy_all", :checked => false %><%= label :copy, :course_settings, image_tag('file_multiple.png') + " " + t('labels.copy_settings', "Settings from %{course}", :course => @copy_context.name) %></h3>
    <% if @copy_context.assignment_groups.active.length > 0 %>
      <h3><%= check_box :copy, :all_assignments, :class => "copy_all", :checked => true %><%= label :copy, :all_assignments, image_tag('assignment.png') + " " + t('labels.assignment', "Assignments for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @copy_context.assignment_groups.active.each do |group| %>
          <li>
            <h4><%= check_box :copy, group.asset_string.to_sym, :class => "copy_all" %><%= label :copy, group.asset_string.to_sym, group.name %></h4>
            <ul class="unstyled_list asset_list">
              <% group.assignments.active.each do |assignment| %>
                <li>
                  <%= check_box :copy, assignment.asset_string.to_sym %>
                  <%= label :copy, assignment.asset_string.to_sym, assignment.title %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.context_modules.active.length > 0 %>
      <h3><%= check_box :copy, :all_modules, :class => "copy_all", :checked => true %><%= label :copy, :all_modules,image_tag('ball.png') + " " + t('labels.modules', "Modules for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @copy_context.context_modules.active.each do |mod| %>
          <li>
            <%= check_box :copy, mod.asset_string.to_sym %>
            <%= label :copy, mod.asset_string.to_sym, mod.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.learning_outcomes.active.length > 0 %>
      <h3><%= check_box :copy, :all_outcomes, :class => "copy_all", :checked => true %><%= label :copy, :all_modules,image_tag('flagged_question_dim.png') + " " + t('labels.learning_outcomes', "Learning Outcomes for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @copy_context.learning_outcomes.active.each do |mod| %>
          <li>
            <%= check_box :copy, mod.asset_string.to_sym %>
            <%= label :copy, mod.asset_string.to_sym, mod.short_description %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.quizzes.active.length > 0 %>
      <h3><%= check_box :copy, :all_quizzes, :class => "copy_all", :checked => true %><%= label :copy, :all_quizzes, image_tag('quiz.png') + " " + t('labels.quizzes', "Quizzes for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @copy_context.quizzes.active.each do |quiz| %>
          <li>
            <%= check_box :copy, quiz.asset_string.to_sym %>
            <%= label :copy, quiz.asset_string.to_sym, quiz.title %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.folders.active.length > 0 && @copy_context.attachments.active.length > 0 %>
      <h3><%= check_box :copy, :all_files, :class => "copy_all", :checked => true %><%= label :copy, :all_files, image_tag('download.png') + " " + t('labels.files', "Files for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @copy_context.folders.active.sort_by{|f| f.full_name}.each do |folder| %>
          <% if folder.attachments.length > 0 %>
            <li>
              <h4><%= check_box :copy, folder.asset_string.to_sym, :class => "copy_all" %><%= label :copy, folder.asset_string.to_sym, folder.full_name %></h4>
              <ul class="unstyled_list asset_list">
                <% folder.attachments.each do |file| %>
                  <li><%= check_box :copy, file.asset_string.to_sym %><%= label :copy, file.asset_string.to_sym, file.display_name %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.wiki.wiki_pages.active.length > 0 %>
      <h3><%= check_box :copy, :all_wiki_pages, :class => "copy_all", :checked => true %><%= label :copy, :all_wiki_pages, image_tag('course_content_icon.png') + " " + t('labels.wiki_ages', "Wiki Pages for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @copy_context.wiki.wiki_pages.active.each do |page| %>
          <li><%= check_box :copy, page.asset_string.to_sym %><%= label :copy, page.asset_string.to_sym, page.title %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.discussion_topics.active.length > 0 %>
      <h3><%= check_box :copy, :all_topics, :class => "copy_all" %><%= label :copy, :all_topics, image_tag('word_bubble.png') + " " + t('labels.discussions', "Discussions for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @copy_context.discussion_topics.active.each do |topic| %>
          <li><%= check_box :copy, topic.asset_string.to_sym, :class => 'skip_on_everything' %><%= label :copy, topic.asset_string.to_sym, topic.title %>
            <div style="font-size: 0.8em; padding-left: 25px;">
              <%= check_box :copy, "#{topic.asset_string}_entries".to_sym, :class => "secondary_checkbox skip" %><%= label :copy, "#{topic.asset_string}_entries".to_sym, :copy, :en => "include entries from the old course" %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @copy_context.calendar_events.active.length > 0 %>
      <h3><%= check_box :copy, :all_calendar_events, :class => "copy_all", :checked => true %><%= label :copy, :all_calendar_events, image_tag('due_date_icon.png') + " " + t('labels.events', "Events for %{course}", :course => @copy_context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @copy_context.calendar_events.active.each do |event| %>
          <li><%= check_box :copy, event.asset_string.to_sym %><%= label :copy, event.asset_string.to_sym, event.title %> - <span style="font-size: 0.8em;"><%= datetime_string(event.start_at) %></span></li>
        <% end %>
      </ul>
    <% end %>
    <div style="margin-top: 20px;">
      <h3><%= check_box :copy, :shift_dates, :class => "shift_dates_checkbox" %><%= label :copy, :shift_dates, :en => "Adjust events and due dates" %></h3>
      <div style="display: none; margin-left: 50px;" class="shift_dates_settings">
        <div>
          <div style="margin-bottom: 5px;"><%= mt 'labels.dates_range', "**%{course}** dates range", :course => @copy_context.name %></div>
          <% ot 'from_to', "*from* %{start_date} **to** %{end_date}",
                :start_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :old_start_date, :value => date_string(@copy_context.real_start_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :end_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :old_end_date, :value => date_string(@copy_context.real_end_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :wrapper => { '*' => '<div style="float: left; margin-left: 10px;">\1&nbsp;</div>',
            '**' => '<div style="float: left;">&nbsp;\1&nbsp;</div>' } %>
          <div class="clear"></div>
        </div>
        <div>
          <div style="margin-bottom: 5px margin-top: 10px;"><%= mt 'labels.dates_range', "**%{course}** dates range", :course => @context.name %></div>
          <% ot 'from_to', "*from* %{start_date} **to** %{end_date}",
                :start_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :new_start_date, :value => date_string(@context.real_start_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :end_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :new_end_date, :value => date_string(@context.real_end_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :wrapper => { '*' => '<div style="float: left; margin-left: 10px;">\1&nbsp;</div>',
            '**' => '<div style="float: left;">&nbsp;\1&nbsp;</div>' } %>
          <div class="clear"></div>
        </div>
        <div style="margin-top: 15px;">
          <%= t 'descriptions.day_substitutions', "You can also explicitly define day substitutions to adjust for changing class schedules
          (i.e. move everything that was on Mondays to now happen on Tuesdays)" %>
          <div class="substitutions" style="margin-top: 10px;"></div>
          <div style="display: none;">
            <div class="substitution substitution_blank">
              <%= t 'move_from_to', "Move everything on %{old_day} to happen on %{new_day}",
                    :old_day => '<span class="old_select">&nbsp;</span>'.html_safe,
                    :new_day => '<span class="new_select">&nbsp;</span>'.html_safe %>
              <a href="#" class="delete_substitution_link no-hover"><%= image_tag "delete_circle.png" %></a>
            </div>
            <select class="weekday_select weekday_select_blank">
              <% I18n.t('date.day_names').each_with_index do |name, idx| %>
                <option value="<%= idx %>"><%= name %></option>
              <% end %>
            </select>
          </div>
          <div>
            <a href="#" class="add_substitution_link add"><%= t 'links.add_day_substitution', "Define a day substitution" %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="progress_bar_holder" style="display: none; margin-top: 10px;">
      <div class="copy_progress"></div>
    </div>
    <div class="button-container" style="margin-top: 20px;">
      <button class="button big-button submit_button" type="submit"><%= t 'buttons.import', "Import Course Content" %></button>
    </div>
  <% end %>
<% else %>
  <% add_crumb t('crumbs.copy_from', "Copy From Another Course"),  context_url(@context, :context_import_copy_url) %>
  <div>
    <h2><%= t 'titles.copy_from', "Copy From another Course" %></h2>
    <p>
      <%= t 'descriptions.copy_from', "To copy content from another course to this one, you'll first need to select the
      course you want to copy from.  Then you can specify what exactly you want copied over." %>
    </p>
    <% if @possible_courses.empty? %>
      <p><%= t 'warnings.no_other_courses', "You don't have access to any additional courses." %></p>
    <% else %>
      <% form_tag context_url(@context, :context_import_copy_url), :method => :get do %>
        <table class="formtable">
          <tr>
            <td><label for="course_autocomplete_id_lookup"><%= before_label :search_for_course, "Search for Course" %></label></td>
            <td>
              <a href="<%= context_url(@current_user, :context_manageable_courses_url, :format => :json) %>" id="course_autocomplete_url" style="display: none;">&nbsp;</a>
              <input type="hidden" name="copy[course_id]" id="course_autocomplete_id"/>
              <input type="text" id="course_autocomplete_id_lookup" style="width: 250px;"/>
            </td>
          </tr><tr style="<%= hidden unless @possible_courses.length < 500 %>">
            <td><label for="copy_from_course"><%= before_label :select_course, "Or Select from the List" %></label></td>
            <td>
              <% if @possible_courses.length < 500 %>
                <select style="font-size: 1.2em; width: 250px;" id="copy_from_course">
                  <option value="none"><%= t 'options.select_course', "[Select Course]" %></option>
                  <%
                  term_map = @possible_courses.inject(Hash.new {|h, k| h[k] = [] }) {|h, c| h[c.enrollment_term] << c; h }
                  term_names = term_map.keys.inject(Hash.new(0)) {|h, term| h[term.name] += 1; h}
                  # sort by term start date (descending) and then by name
                  term_map.keys.sort {|a,b|
                    a.start_at == b.start_at ?
                      a.name.try(:downcase) <=> b.name.try(:downcase) :
                      (b.start_at || Time.at(0)) <=> (a.start_at || Time.at(0))
                  }.each do |term| %>
                    <% if term_names[term.name] > 1 %>
                      <optgroup label="<%= t('term_with_account', '%{term_name} (%{account_name})', :term_name => term.name, :account_name => term.root_account.name) %>">
                    <% else %>
                      <optgroup label="<%= term.name %>">
                    <% end %>
                      <% term_map[term].sort_by {|c| c.name || "zzzz" }.each do |course| %>
                        <option value="<%= course.id %>"><%= course.name %></option>
                      <% end %>
                    </optgroup>
                  <% end %>
                </select>
              <% end %>
            </td>
          </tr><tr>
            <td colspan="2">
              <div id="course_autocomplete_name_holder" style="display: none; margin-top: 20px;">
                Selected Course: 
                <span id="course_autocomplete_name" style="font-weight: bold;">&nbsp;</span>
                <div class="button-container">
                  <button type="submit" class="button"><%= t 'buttons.copy_from_course', "Copy From this Course" %></button>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>
<div id="copy_entries_dialog" style="display: none;">
  <h2><%= t 'titles.copy_discussion_replies', "Copy Discussion Replies?" %></h2>
  <%= t 'descriptions.copy_discussion_replies', "In addition to copying discussions, would you like to also
  copy all student replies to topic posts?" %>
  <div class="button-container" style="margin-top: 15px;">
    <button type="button" class="button"><%= t 'buttons.copy_topics', "Just Copy Topics" %></button>
    <button type="button" class="button include"><%= t 'buttons.copy_topics_and_replies', "Copy Topics and Replies" %></button>
  </div>
</div>
<% js_block :i18n_scope => 'content_imports' do %>
<script type="text/javascript">
$(document).ready(function() {
  var $frame = $("<iframe id='copy_course_target' name='copy_course_target' src='about:blank'/>");
  $("body").append($frame.hide());
  $("#copy_context_form").attr('target', 'copy_course_target');
  $(".copy_progress").progressbar();

  var checkup = function(url) {
    $.ajaxJSON(url, 'GET', {}, function(data) {
      var course_import = data.course_import;
      if(course_import) {
        $(".copy_progress").progressbar('option', 'value', course_import.progress);
      }
      if(course_import && course_import.workflow_state == 'completed') {
        location.href = location.href + "&import_id=" + course_import.id;
      } else if(course_import && course_import.workflow_state == 'failed') {
        var message = I18n.t('errors.failed', "Course Import failed with the following error:") + " \"import_" + course_import.id + "\"";
        $.flashError(message);
        $(".progress_bar_holder").after("<b>" + message + "</b>");
      } else {
        setTimeout(function() {
          checkup(url);
        }, 1500);
      }
    }, function() {
      setTimeout(function() {
        checkup(url);
      }, 3000);
    });
  };

  $("#copy_context_form").formSubmit({
    beforeSubmit: function(data) {
      $("#copy_context_form .submit_button").text(I18n.t('messages.copying', "Copying... this will take a few minutes")).attr('disabled', true);
      $(".progress_bar_holder").show();
    },
    success: function(data) {
      setTimeout(function() {
        checkup(data.course_import.check_url);
      }, 5000);
    }
  })
  $("#copy_entries_dialog button").click(function() {
    var $checkbox = $("#copy_all_topics");
    var include_secondaries = $(this).hasClass('include');
    if(include_secondaries) {
      $checkbox.parent().next("ul").find(":checkbox:not(.secondary_checkbox)").prop('checked', $checkbox.prop('checked')).each(function() { $(this).triggerHandler('change', true); });
    } else {
      $checkbox.parent().next("ul").find(":checkbox:not(.secondary_checkbox)").prop('checked', $checkbox.prop('checked'));
    }
    $("#copy_entries_dialog").dialog('close');
  });
  $("#copy_context_form :checkbox").bind('change', function(event, force_secondaries) {
    if(!$(this).attr('checked')) {
      force_secondaries = true;
    } 
    if($(this).hasClass('copy_all')) {
      if($(this).is('#copy_all_topics') && $(this).attr('checked')) {
        $("#copy_entries_dialog").dialog('close').dialog({
          autoOpen: false,
          title: I18n.t('titles.copy_discussion_replies', "Copy Discussion Replies?"),
          width: 370
        }).dialog('open');
      } else {
        $(this).parent().next("ul").find(":checkbox:not(.secondary_checkbox)").prop('checked', $(this).prop('checked')).each(function() { $(this).triggerHandler('change'); });
        $('#copy_everything').attr('checked', false);
      }
    } else if($(this).hasClass('copy_everything')) {
      $("#copy_context_form :checkbox:not(.secondary_checkbox):not(.copy_everything):not(.skip_on_everything):not(.shift_dates_checkbox)").prop('checked', $(this).prop('checked')).filter(":not(.copy_all)").each(function() { $(this).triggerHandler('change'); });
      $("#copy_all_topics").prop('checked', $(this).prop('checked')).triggerHandler('change');
    } else {
      $(this).parent().find(":checkbox.secondary_checkbox" + (force_secondaries ? '' : ':not(.skip)')).attr('checked', $(this).attr('checked'));
      if($(this).hasClass('secondary_checkbox') && $(this).attr('checked')) {
        $(this).parents("li").children(":checkbox").attr('checked', true);
      }
      if(!$(this).attr('checked')) {
        $(this).parents("ul").each(function() {
          $(this).prev("h2,h3,h4").find(":checkbox").attr('checked', false);
        });
        if(!$(this).is('#copy_shift_dates')){
          $('#copy_everything').attr('checked', false);
        }
      }
    }
  });
  $(".shift_dates_checkbox").change(function() {
    $(".shift_dates_settings").showIf($(this).attr('checked'));
  }).change();
  $(".add_substitution_link").click(function(event) {
    event.preventDefault();
    var $sub = $(".substitution_blank").clone(true).removeClass('substitution_blank');
    $(".substitutions").append($sub.hide());
    var $select = $(".weekday_select_blank").clone(true).removeClass('weekday_select_blank');
    $sub.find(".old_select").empty().append($select.clone(true));
    $sub.find(".new_select").empty().append($select);
    $sub.find(".old_select").children("select").change();
    $sub.slideDown();
  });
  $(".weekday_select").change(function() {
    if($(this).parents(".old_select").length > 0) {
      var $select = $(this).parents(".substitution").find(".new_select").children("select");
      $select.attr('name', 'copy[day_substitutions][' + $(this).val() + ']');
    }
  });
  $(".delete_substitution_link").click(function(event) {
    event.preventDefault();
    $(this).parents(".substitution").slideUp(function() {
      $(this).remove();
    });
  });
  $("#copy_context_form .copy_all").each(function() { $(this).triggerHandler('change'); });
  $(".date_field").date_field();
  $("#copy_from_course").change(function() {
    var select = $("#copy_from_course")[0];
    var idx = select.selectedIndex;
    var name = select.options[idx].innerHTML;
    var id = select.options[idx].value;
    if(id != "none") {
      $("#course_autocomplete_name_holder").show();
      $("#course_autocomplete_name").text(name);
      $("#course_autocomplete_id").val(id);
      $("#course_autocomplete_id_lookup").val("");
    }
  }).change();
  if($("#course_autocomplete_id_lookup:visible").length > 0) {
    $("#course_autocomplete_id_lookup").autocomplete({
      source: $("#course_autocomplete_url").attr('href'),
      select: function(event, ui){
        $("#course_autocomplete_name_holder").show();
        $("#course_autocomplete_name").text(ui.item.label);
        $("#course_autocomplete_id").val(ui.item.id);
        $("#copy_from_course").val("none");
      }
    });
  }
});
</script>
<% end %>
