<% add_crumb t('crumbs.copy_from_course', "Copy From %{course}", :course => @source_course.name) %>
<% add_crumb t('#crumbs.results', "Results") %>
<% content_for :page_title do %><%= t :page_title, "Copy Results From %{course}", :course => @source_course.name %><% end %>

<% content_for :stylesheets do %>
<style>
.root_asset_list {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.root_asset_list > li {
  margin-bottom: 10px;
}
.root_asset_list h4 {
  margin: 0;
}
.asset_list {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
}
#copy_results h3 {
  color: #444;
}
.added {
  padding-left: 20px;
  background: url(/images/add-small-dim.png) no-repeat left center;
}
.added_again {
  
}
</style>
<% end %>

<div id="copy_results">
  <h2><%= t 'titles.copy_succeeded', "Course Copy Succeeded" %></h2>
  <%= mt('descriptions.copy_succeeded', <<-HEREDOC, :url => calendar_url_for(@context))
Course content successfully imported!  You can review the results of the import below.

If you're not happy with any of the dates for assignments or events, you can easily
[change them by dragging and dropping on the course calendar](%{url}).
HEREDOC
    %>
  <p>
    <a href="<%= context_url(@context, :context_url) %>" class="back"><%= t 'links.back', "Back to the %{course} Home Page", :course => @context.name %></a>
  </p>
  <h2 style="margin-bottom: 10px;"><%= t 'titles.what_it_looks_like_now', "What %{course} Looks Like Now", :course => @context.name %></h2>
    <% if @context.assignment_groups.active.length > 0 %>
      <h3><%= image_tag 'assignment.png' %> <%= t('labels.assignment', "Assignments for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @context.assignment_groups.active.each do |group| %>
          <li>
            <h4 class="<%= 'added' if @copies.include?(group.asset_string) %>"><%= group.name %></h4>
            <ul class="unstyled_list asset_list">
              <% group.assignments.active.each do |assignment| %>
                <li class="<%= 'added' if @copies.include?(assignment.asset_string) %>">
                  <%= assignment.title %><% if assignment.due_at %> - <span style="font-size: 0.8em;"><%= datetime_string(assignment.due_at, :verbose) %></span><% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @context.folders.active.length > 0 && @context.attachments.active.length > 0 %>
      <h3><%= image_tag 'download.png' %> <%= t('labels.files', "Files for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @context.folders.by_name.active.sort_by{|f| f.full_name}.each do |folder| %>
          <% if folder.attachments.length > 0 %>
            <li>
              <h4 class="<%= 'added' if @copies.include?(folder.asset_string) %>"><%= folder.full_name %></h4>
              <ul class="unstyled_list asset_list">
                <% folder.attachments.by_display_name.each do |file| %>
                  <li class="<%= 'added' if @copies.include?(file.asset_string) %>"><%= file.display_name %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @context.wiki.wiki_pages.active.length > 0 %>
      <h3><%= image_tag 'course_content_icon.png' %> <%= t('labels.wiki_ages', "Wiki Pages for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @context.wiki.wiki_pages.active.each do |page| %>
          <li class="<%= 'added' if @copies.include?(page.asset_string) %>"><%= page.title %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @context.quizzes.active.not_for_assignment.length > 0 %>
      <h3><%= image_tag 'quiz.png' %> <%= t('labels.quizzes', "Quizzes for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @context.quizzes.active.each do |quiz| %>
          <li class="<%= 'added' if @copies.include?(quiz.asset_string) %>"><%= quiz.title %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @context.context_modules.active.length > 0 %>
      <h3><%= image_tag 'ball.png' %> <%= t('labels.modules', "Modules for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list root_asset_list">
        <% @context.context_modules.active.each do |mod| %>
          <li class="<%= 'added' if @copies.include?(mod.asset_string) %>"><%= mod.name %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @context.discussion_topics.active.length > 0 %>
      <h3><%= image_tag 'word_bubble.png' %> <%= t('labels.discussions', "Discussions for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @context.discussion_topics.active.each do |topic| %>
          <li class="<%= 'added' if @copies.include?(topic.asset_string) %>"><%= topic.title %><% if topic.delayed_post_at %> - <span style="font-size: 0.8em;">will be posted <%= datetime_string(topic.delayed_post_at, :verbose) %></span><% end %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @context.calendar_events.active.length > 0 %>
      <h3><%= image_tag 'due_date_icon.png' %> <%= t('labels.events', "Events for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @context.calendar_events.active.each do |event| %>
          <li class="<%= 'added' if @copies.include?(event.asset_string) %>"><%= event.title %><% if event.start_at %> - <span style="font-size: 0.8em;"><%= datetime_string(event.start_at, :verbose, event.end_at) %></span><% end %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @context.context_external_tools.active.length > 0 %>
      <h3><%= t('labels.external_tools', "External Tools for %{course}", :course => @context.name) %></h3>
      <ul class="unstyled_list asset_list">
        <% @context.context_external_tools.active.each do |tool| %>
          <li class="<%= 'added' if @copies.include?(tool.asset_string) %>"><%= tool.name %></li>
        <% end %>
      </ul>
    <% end %>
</div>
