<% content_for :page_title do %><%= t :page_title, "Import Files" %><% end %>

<div class="content-imports-wrapper">
  <h2><%= t :page_title, "Import Files" %></h2>
  <p><%= t :description, "You can upload a zipped collection of files into your course and we'll extract them all out for you.  This is an easy way to move files from another system into Canvas." %>
  </p>
  <%= render :partial => 'shared/zip_file_import_form' %>
</div>
<% js_block do %>
<script type="text/javascript">
require([
  'jquery' /* $ */
], function($) {

  $(function(){
    $("#zip_file_import_form .cancel_button")
      .attr("href", "<%= return_or_context_url %>")
      .text(<%= params[:return_to] ? t('#buttons.cancel', "Cancel").to_json.html_safe : t('buttons.skip', "Skip this Step").to_json.html_safe %>);
  });
});
</script>
<% end %>
