<% add_crumb t('crumbs.migrations', "Migrations") %>

<% content_for :page_title do %><%= t :page_title, "Active Migrations" %><% end %>

<% content_for :page_header do %>
  <h1><%= t :page_title, "Active Migrations" %></h1>
<% end %>

<% if @waiting.length > 0 %>
  <h2><%= t 'titles.migrations_needing_action', "Migrations Needing Action" %></h2>
  <% @waiting.each do |mig| %>
    <% 
       url = "/#{@context.class.to_s.downcase.pluralize}/#{@context.id}/imports/migrate/#{mig.id}"
    %>
      <p>
        <%= t :migration_needing_action, "%{plugin_type} migration - *Click here to choose the content to import.*",
              :plugin_type => mig.plugin_type, :wrapper => "<a href=\"#{url}\">\\1</a>" %>
      </p>
  <% end %>
<% end %>

<% if @successful.length > 0 %>
  <h2><%= t 'titles.successful_migrations', "Successful Migrations" %></h2>
  <% @successful.each do |mig| %>
    <div id="content_migration_<%= mig.id %>">
      <%= t :successful_migration, "%{plugin_type} migration - This migration was successfully imported.", :plugin_type => mig.plugin_type %>
      <%= render :partial => 'migration_warnings', :locals => {:cm => mig} %>
    </div>
  <% end %>
<% end %>

<% if @running.length > 0 %>
  <h2><%= t 'titles.migrations_in_progress', "Migrations Being Processed" %></h2>
  <% @running.each do |mig| %>
    <div>
      <%= t :migration_in_progress, "%{plugin_type} migration - This migration is being processed.", :plugin_type => mig.plugin_type %>
      <%= render :partial => 'migration_warnings', :locals => {:cm => mig} %>
    </div>
  <% end %>
<% end %>

<% if @failed.length > 0 %>
  <h2><%= t 'titles.failed_migrations', "Failed Migrations" %></h2>
  <% @failed.each do |mig| %>
    <div>
      <% if mig.migration_settings[:user_error_message] %>
        <%= t :failed_migration_with_error, "%{plugin_type} migration - %{error_message}", :plugin_type => mig.plugin_type, :error_message => mig.migration_settings[:user_error_message] %>
      <% else %>
        <%= t :failed_migration, "%{plugin_type} migration - There was an error with this migration. 
        Please let support know through the help button at the top of the page.", :plugin_type => mig.plugin_type %>
      <% end %>
      <%= render :partial => 'migration_warnings', :locals => {:cm => mig} %>
    </div>
  <% end %>
<% end %>

<% js_block do %>
  <script>
  require([
    'jquery' /* $ */
  ], function($) {
    $(".warnings_link").click(function(event) {
      event.preventDefault();
      $(this).parent().find("div.migration_warnings").toggle();
    });
  });
  </script>
<% end %>
