<% content_for :page_title do %><%= t :page_title, "Import Wizard" %><% end %>
<%= render :partial => 'wizard_secondary_nav', :locals => {:view => 'intro' } %>

<div class="content-imports-wrapper">
  <h2><%= t :page_title, "Import Wizard" %></h2>
  <p><%= t :description, "If you're moving to Canvas from another course management system, then chances are
  there are files, quizzes, assignments and things over there that you're going to want moved
  over here.  This wizard should make that process pretty easy." %>
  </p>
  <ul class="content-imports-instructions">
    <% steps = 0 %>
    <% if can_do(@context, @current_user, :manage_content, :manage_files) %>
      <% steps = steps +1 %>
      <li><a href="<%= context_url(@context, :context_import_files_url) %>"><%= t 'links.import_files', "Import Files" %></a> <%= t :if_any, "(if any)" %></li>
    <% end %>
    <% if can_do(@context, @current_user, :manage_content, :manage_quizzes) && qti_enabled? %>
        <% steps = steps +1 %>
        <li><a href="<%= context_url(@context, :context_import_quizzes_url) %>"><%= t 'links.import_quizzes', "Import Quizzes" %></a> <%= t :if_any, "(if any)" %></li>
    <% end %>
  </ul>
  <% if steps > 1 %>
    <p><%= t :skip_steps, "You may skip any steps that don't apply." %></p>
  <% end %>
  <p>
    <% if can_do(@context, @current_user, :manage_content) %>
      <h4><%= t 'titles.you_can_also', "You can also:" %></h4>
      <div>
        <p><a class="btn copy_from_another" href="<%= context_url(@context, :context_import_choose_course_url) %>"> <%= mt 'links.copy_course', "Copy content from **another Canvas course**" %></a></p>

        <% if exports_enabled? %>
          <p><a class="btn import_content_package" href="<%= context_url(@context, :context_import_migrate_url) %>"> <%= mt 'links.import_package', "Import content from a **content package** or from **another system**" %></a></p>
        <% end %>
      </div>
    <% end %>
  </p>
</div>
