<% add_crumb t('crumbs.migrate', "Migrate From Another System"),  context_url(@context, :context_import_migrate_url) %>
<% content_for :page_title do %><%= t :page_title, "Migrate from Another System" %><% end %>

<% jammit_css :content_imports %>

<div>
  <div id="copy_context_form_loading">
    <h2><%= t :page_title, "Migrate from Another System" %></h2>
    <p>
      <%= t :special_schools, "We're working with a select set of schools to provide a simpler, more
      automated migration process from other learning management systems.  If 
      your school shows up on the list, all you need to do is provide us with your
      login and password.  We'll extract the content from your course, and you can
      then specify which parts you'd like to have added to your new course." %>
    </p>
    <div style="font-size: 1.5em;">
      <%= t 'messages.loading', "Loading list of migrated resources..." %>
      <br>
      <%= image_tag 'ajax-loader-bar.gif' %>
    </div>
  </div>
  <% form_tag context_url(@context, :context_import_migrate_execute_url, @content_migration.id), :id => "copy_context_form", :style => "width: 600px; margin: 10px auto; display: none;", :class => 'form-inline' do %>
    <%= hidden_field :copy, :content_migration_id, :value => @content_migration.id %>
    <div style="display: none;" class="content_migration_id"><%= @content_migration.id %></div>
    <h2><%= t 'titles.copy_from', "Copy From %{course}", :course => '<span class="course_name">...</span>'.html_safe %></h2>
    <p><%= t :instructions, "Select the content you'd like copied into this course.  At the bottom you
    can also choose to adjust all dates for migrated items in case you've moved
    on to a new semester." %></p>
    <h3 style="margin-bottom: 10px;"><%= check_box :copy, :everything, :class => "copy_everything" %> <%= label :copy, :everything, image_tag('checked.png', :style => 'width: 16px;') + " " + t('labels.copy_everything', "Copy Everything") %></h3>
    <div id="copy_assignments_list">
      <h3><%= check_box :copy, :all_assignments, :class => "copy_all", :checked => true %><%= label :copy, :all_assignments, image_tag('assignment.png') + " " + t('#labels.assignments', "Assignments") %></h3>
      <ul class="unstyled_list root_asset_list">
          <li class="assignment" style="display: none;">
            <input type="checkbox" value="1" name="copy[assignments][id]" id="copy_assignments_id"/>
            <label for="copy_assignments_id" class="assignment_title">...</label>
          </li>
      </ul>
    </div>
    <div id="copy_quizzes_list">
      <h3><%= check_box :copy, :all_quizzes, :class => "copy_all", :checked => true %><%= label :copy, :all_quizzes, image_tag('quiz.png') + " " + t('#labels.quizzes', "Quizzes") %></h3>
      <ul class="unstyled_list root_asset_list quizzes_list">
        <li class="quiz" style="display: none;">
          <input type="checkbox" value="1" name="copy[quizzes][id]" id="copy_quizzes_id"/>
          <label for="copy_quizzes_id">...</label>
        </li>
      </ul>
      <ul>
        <li class="assessment_questions" style="display: none;">
          <input type="checkbox" value="1" name="copy[assessment_questions]" id="copy_assessment_questions"/>
          <label for="copy_assessment_questions"><%= t 'labels.copy_all_question_banks', "Copy All Question Banks" %></label>
        </li>
      </ul>
    </div>
    <div id="copy_files_list">
      <h3><%= check_box :copy, :all_files, :class => "copy_all", :checked => true %><%= label :copy, :all_files, image_tag('download.png') + " " + t('#labels.files', "Files") %></h3>
      <ul class="unstyled_list root_asset_list folder" style="display: none;">
        <li>
          <h4>
            <input type="checkbox" value="1" name="copy[folders][id]" id="copy_folders_id"/ class="copy_all">
            <label for="copy_folders_id">...</label>
          </h4>
          <ul class="unstyled_list asset_list">
            <li class="file">
              <input type="checkbox" value="1" name="copy[files][id]" id="copy_files_id"/>
              <label for="copy_files_id">...</label>
            </li>
          </ul>
        </li>
      </ul>
      <input type="checkbox" value="1" name="copy[files][id]" id="copy_files_id" style="display: none;"/>
    </div>
    <div id="copy_modules_list">
      <h3><%= check_box :copy, :all_modules, :class => "copy_all", :checked => true %><%= label :copy, :all_modules, image_tag('ball.png') + " " + t('#labels.learning_modules', "Learning Modules") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="module" style="display: none;">
          <input type="checkbox" value="1" name="copy[modules][id]" id="copy_modules_id"/>
          <label for="copy_modules_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_outline_folders_list">
      <h3><%= check_box :copy, :all_outline_folders, :class => "copy_all" %><%= label :copy, :all_outline_folders, image_tag('folder_closed.png') + " " + t('labels.content_folders', "Content Folders") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="outline_folder" style="display: none;">
          <input type="checkbox" value="1" name="copy[outline_folders][id]" id="copy_outline_folders_id"/>
          <label for="copy_outline_folders_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_topics_list">
      <h3><%= check_box :copy, :all_topics, :class => "copy_all" %><%= label :copy, :all_topics, image_tag('word_bubble.png') + " " + t('#labels.discussions', "Discussions") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="topic" style="display: none;">
          <input type="checkbox" value="1" name="copy[topics][id]" id="copy_topics_id"/>
          <label for="copy_topics_id">...</label>
          <div style="font-size: 0.8em; padding-left: 25px;">
            <input type="checkbox" value="1" name="copy[topic_entries][id]" id="copy_topic_entries_id" class="secondary_checkbox"/>
            <label for=""><%= t 'labels.include_posts', "also import posts in this topic" %></label>
          </div>
        </li>
      </ul>
    </div>
    <div id="copy_announcements_list">
      <h3><%= check_box :copy, :all_announcements, :class => "copy_all" %><%= label :copy, :all_announcements, image_tag('announcement_icon.png') + " " + t('#labels.announcements', "Announcements") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="announcement" style="display: none;">
          <input type="checkbox" value="1" name="copy[announcements][id]" id="copy_announcements_id"/>
          <label for="copy_announcements_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_events_list">
      <h3><%= check_box :copy, :all_calendar_events, :class => "copy_all" %><%= label :copy, :all_calendar_events, image_tag('due_date_icon.png') + " " + t('#labels.calendar_events', "Calendar Events") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="event" style="display: none;">
          <input type="checkbox" value="1" name="copy[events][id]" id="copy_events_id"/>
          <label for="copy_events_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_rubrics_list">
      <h3><%= check_box :copy, :all_rubrics, :class => "copy_all" %><%= label :copy, :all_rubrics, image_tag('rubric.png') + " " + t('#labels.rubrics', "Rubrics") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="rubric" style="display: none;">
          <input type="checkbox" value="1" name="copy[rubrics][id]" id="copy_rubrics_id"/>
          <label for="copy_rubrics_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_groups_list">
      <h3><%= check_box :copy, :all_groups, :class => "copy_all" %><%= label :copy, :all_groups, image_tag('ball.png') + " " + t('#labels.groups', "Groups") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="group" style="display: none;">
          <input type="checkbox" value="1" name="copy[groups][id]" id="copy_groups_id"/>
          <label for="copy_groups_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_assignment_groups_list">
      <h3><%= check_box :copy, :all_assignment_groups, :class => "copy_all" %><%= label :copy, :all_assignment_groups, image_tag('ball.png') + " " + t('labels.assignment_groups', "Assignment Groups") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="assignment_group" style="display: none;">
          <input type="checkbox" value="1" name="copy[assignment_groups][id]" id="copy_assignment_groups_id"/>
          <label for="copy_assignment_groups_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_wikis_list">
      <h3><%= check_box :copy, :all_wikis, :class => "copy_all" %><%= label :copy, :all_wikis, image_tag('ball.png') + " " + t('#labels.wikis', "Wikis") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="wiki" style="display: none;">
          <input type="checkbox" value="1" name="copy[wikis][id]" id="copy_wikis_id"/>
          <label for="copy_wikis_id">...</label>
        </li>
      </ul>
    </div>
    <div id="copy_external_tools_list">
      <h3><%= check_box :copy, :all_external_tools, :class => "copy_all" %><%= label :copy, :all_external_tools, image_tag('ball.png') + " " + t('#labels.external_tools', "External Tools") %></h3>
      <ul class="unstyled_list asset_list">
        <li class="external_tool" style="display: none;">
          <input type="checkbox" value="1" name="copy[external_tools][id]" id="copy_external_tools_id"/>
          <label for="copy_external_tools_id">...</label>
        </li>
      </ul>
    </div>
    <div style="margin-top: 20px;">
      <h3><%= check_box :copy, :shift_dates, :class => "shift_dates_checkbox" %><%= label :copy, :shift_dates, :en => "Adjust events and due dates" %></h3>
      <div style="display: none; margin-left: 50px;" class="shift_dates_settings">
        <div>
          <div style="margin-bottom: 5px;"><%= t 'labels.dates_range', "%{course} dates range", :course => '<strong class="course_name">...</strong>'.html_safe %></div>
          <% ot 'from_to', "*from* %{start_date} **to** %{end_date}",
                :start_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :old_start_date, :value => "", :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :end_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :old_end_date, :value => "", :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :wrapper => { '*' => '<div style="float: left; margin-left: 10px;">\1&nbsp;</div>',
            '**' => '<div style="float: left;">&nbsp;\1&nbsp;</div>' } %>
          <div class="clear"></div>
        </div>
        <div>
          <div style="margin-bottom: 5px margin-top: 10px;"><%= mt 'labels.this_course_date_range', "**This Course** dates range" %></div>
          <% ot 'from_to', "*from* %{start_date} **to** %{end_date}",
                :start_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :new_start_date, :value => date_string(@context.real_start_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :end_date => capture { %>
            <div style="float: left;"><%= text_field :copy, :new_end_date, :value => date_string(@context.real_end_date, :long), :class => "date_field", :style => "width: 120px;" %></div>
          <% }, :wrapper => { '*' => '<div style="float: left; margin-left: 10px;">\1&nbsp;</div>',
            '**' => '<div style="float: left;">&nbsp;\1&nbsp;</div>' } %>
          <div class="clear"></div>
        </div>
        <div style="margin-top: 15px;">
          <%= t 'descriptions.day_substitutions', "You can also explicitly define day substitutions to adjust for changing class schedules
          (i.e. move everything that was on Mondays to now happen on Tuesdays)" %>
          <div class="substitutions" style="margin-top: 10px;"></div>
          <div style="display: none;">
            <div class="substitution substitution_blank">
              <%= t 'move_from_to', "Move everything on %{old_day} to happen on %{new_day}",
                    :old_day => '<span class="old_select">&nbsp;</span>'.html_safe,
                    :new_day => '<span class="new_select">&nbsp;</span>'.html_safe %>
              <a href="#" class="delete_substitution_link no-hover"><%= image_tag "delete_circle.png" %></a>
            </div>
            <select class="weekday_select weekday_select_blank">
              <% I18n.t('date.day_names').each_with_index do |name, idx| %>
                <option value="<%= idx %>"><%= name %></option>
              <% end %>
            </select>
          </div>
          <div>
            <a href="#" class="add_substitution_link add"><%= t 'links.add_day_substitution', "Define a day substitution" %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="progress_bar_holder" style="display: none; margin-top: 10px;">
      <div class="copy_progress"></div>
      <div class="progress_message"><%= t 'messages.import_started', "The import process has started!  This can take a few hours for large courses, so feel free to leave this page.  We'll send you an email when the import process is completed." %></div>
    </div>
    <div class="button-container" style="margin-top: 20px;">
      <button class="btn btn-large submit_button" type="submit"><%= t 'buttons.import', "Import Course Content" %></button>
    </div>
  <% end %>
  <div id="course_importing" style="display: none;">
    <p><%= mt 'messages.importing', "**Thank you!**  We'll import the selected content from %{course}, and send you an email when the process is complete.  The process normally finishes within one hour.", :course => '<span class="course_name"></span>'.html_safe %>
    </p>
    <p>
      <a href="<%= context_url(@context, :context_url) %>" class="course_url back"><%= t 'links.back', "Back to Course Page" %></a>
    </p>
  </div>
</div>

<% js_bundle :content_imports %>
