<input type="hidden" name="included_messages[]" value="{{id}}" />
<div class="context-author pull-left">{{author.name}}</div>
<div class="pull-right">
  <span class="context-date">{{friendlyDatetime created_at}}</span>
  <button type="button" class="delete-btn" href="#" aria-label="{{#t "delete_message"}}Delete message{{/t}}">
    <i class="icon-end"></i>
  </button>
  </ul>
</div>
<div class="context-body" aria-live="polite">
  {{body}}
  {{#if isCondensable}}
    <a class="context-more pull-right" href="#">
      {{#if isCondensed}}
        {{#t "labels.more"}}more...{{/t}}
      {{else}}
        {{#t "labels.less"}}less...{{/t}}
      {{/if}}
    </a>
  {{/if}}
</div>
