<li data-id="{{id}}" class="{{classes}}">
  {{#if avatar_url}}<img src="{{avatar_url}}" class="avatar" />{{/if}}
  <a href="/conversations/{{id}}?conversation[workflow_state]=unread" class="action_mark_as_unread" title="{{#t "inbox_actions.mark_as_unread"}}Mark as Unread{{/t}}">{{#t "inbox_actions.mark_as_unread"}}Mark as Unread{{/t}}</a>
  <a href="/conversations/{{id}}?conversation[workflow_state]=read" class="action_mark_as_read" title="{{#t "inbox_actions.mark_as_read"}}Mark as Read{{/t}}">{{#t "inbox_actions.mark_as_read"}}Mark as Read{{/t}}</a>
  <a href="/conversations/{{id}}?conversation[starred]=true" class="action_star" title="{{#t "inbox_actions.action_star"}}Star{{/t}}">{{#t "inbox_actions.action_star"}}Star{{/t}}</a>
  <a href="/conversations/{{id}}?conversation[starred]=false" class="action_unstar" title="{{#t "inbox_actions.action_unstar"}}Unstar{{/t}}">{{#t "inbox_actions.action_unstar"}}Unstar{{/t}}</a>
  <span class="date">{{lastMessageAt}}</span>
  <img class="attachments" src="/images/messages/attach-gray.png" title="{{#t "has_attachments"}}This conversation has one or more attachments{{/t}}">
  <img class="media_objects" src="/images/messages/media-gray.png" title="{{#t "has_media"}}This conversation has one or more media comments{{/t}}">
  <span class="audience">{{{audienceHtml}}}</span>
  <span class="count"{{#if hideCount}} style="display:none"{{/if}}>{{message_count}}</span>
  <p>{{lastMessage}}</p>
  <span class="actions"><a href="#" title="{{#t "inbox_actions_description"}}Actions{{/t}}">{{#t "inbox_actions_description"}}Actions{{/t}}</a></span>
  <a href="/conversations/{{id}}" class="details_link">{{#t "read_more"}}more...{{/t}}</a>
</li>
