<li data-id="{{id}}" class="{{classes}} admin-link-hover-area">
  {{>avatar}}
  <a href="/conversations/{{id}}?conversation[workflow_state]=unread"
     class="action_mark_as_unread standard_action"
     data-track-category="Thread Actions"
     data-track-action="Individual Left Side"
     data-track-label="Mark as Unread"
     role="button"
     title="{{#t "inbox_actions.mark_as_unread"}}Mark as Unread{{/t}}">{{#t "inbox_actions.mark_as_unread"}}Mark as Unread{{/t}}</a>
  <a href="/conversations/{{id}}?conversation[workflow_state]=read"
     class="action_mark_as_read standard_action"
     data-track-category="Thread Actions"
     data-track-action="Individual Left Side"
     data-track-label="Mark as Read"
     role="button"
     title="{{#t "inbox_actions.mark_as_read"}}Mark as Read{{/t}}">{{#t "inbox_actions.mark_as_read"}}Mark as Read{{/t}}</a>
  <a href="/conversations/{{id}}?conversation[starred]=true"
     class="action_star standard_action"
     data-track-category="Thread Actions"
     data-track-action="Individual Left Side"
     data-track-label="Star"
     role="button"
     title="{{#t "inbox_actions.action_star"}}Star{{/t}}">{{#t "inbox_actions.action_star"}}Star{{/t}}</a>
  <a href="/conversations/{{id}}?conversation[starred]=false"
     class="action_unstar standard_action"
     data-track-category="Thread Actions"
     data-track-action="Individual Left Side"
     data-track-label="Unstar"
     role="button"
     title="{{#t "inbox_actions.action_unstar"}}Unstar{{/t}}">{{#t "inbox_actions.action_unstar"}}Unstar{{/t}}</a>

  <span class="date">{{lastMessageAt}}</span>

  <div class="conversation-summary">
    <img class="attachments" src="/images/messages/attach-gray.png" title="{{#t "has_attachments"}}This conversation has one or more attachments{{/t}}">
    <img class="media_objects" src="/images/messages/media-gray.png" title="{{#t "has_media"}}This conversation has one or more media comments{{/t}}">
    <span class="audience">{{{audienceHtml}}}</span>
  </div>

  <span class="count"{{#if hideCount}} style="display:none"{{/if}}>{{message_count}}</span>

  <p>{{lastMessage}}</p>

  <div class="admin-links" role="application">
    <button class="al-trigger btn btn-mini" data-kyle-menu-options='{"appendMenuTo": "#menu-wrapper", "notifyMenuActiveOnParent": "li.admin-link-hover-area"}'>
      <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
      <div class="screenreader-only">{{#t "inbox_actions_description"}}Message Actions Menu{{/t}}</div>
    </button>
    <ul class="al-options" data-id="{{id}}">
      <li><a href="/conversations/{{id}}?conversation[workflow_state]=unread"
             class="action_mark_as_unread standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Mark as Unread">
        {{#t "inbox_actions.mark_as_unread"}}Mark as Unread{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[workflow_state]=read"
             class="action_mark_as_read standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Mark as Read">
        {{#t "inbox_actions.mark_as_read"}}Mark as Read{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[starred]=false"
             class="action_unstar standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Unstar">
        {{#t "inbox_actions.action_unstar"}}Unstar{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[starred]=true"
             class="action_star standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Star">
        {{#t "inbox_actions.unstar"}}Star{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[subscribed]=0"
             class="action_unsubscribe standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Unsubscribe">
        {{#t "inbox_actions.unsubscribe"}}Unsubscribe{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[subscribed]=1"
             class="action_subscribe standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Subscribe">
        {{#t "inbox_actions.subscribe"}}Subscribe{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[workflow_state]=archived"
             class="action_archive standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Archive">
        {{#t "inbox_actions.archive"}}Archive{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}?conversation[workflow_state]=read"
             class="action_unarchive standard_action"
             data-track-category="Thread Actions"
             data-track-action="Individual Gear"
             data-track-label="Unarchive">
        {{#t "inbox_actions.unarchive"}}Unarchive{{/t}}
      </a></li>
      <li><a href="/conversations/{{id}}"
             class="action_delete_all">
        {{#t "inbox_actions.delete"}}Delete{{/t}}
      </a></li>
    </ul>
  </div>
  <a href="/conversations/{{id}}" class="details_link">{{#t "read_more"}}more...{{/t}}</a>
</li>
