<option value="">{{defaultOption}}</option>
<optgroup data-content-type="{{t "Favorite Courses"}}" label="{{#t "course_options.favorite"}}Favorite Courses{{/t}}">
  {{#favorites}}
    {{>[conversations/courseOption]}}
  {{/favorites}}
</optgroup>
<optgroup data-content-type="{{t "More Courses"}}" label="{{#t "course_options.more_courses"}}More Courses{{/t}}">
  {{#more}}
    {{>[conversations/courseOption]}}
  {{/more}}
</optgroup>
<optgroup data-content-type="{{t "Concluded Courses"}}" label="{{#t "course_options.concluded"}}Concluded{{/t}}">
  {{#concluded}}
    {{>[conversations/courseOption]}}
  {{/concluded}}
</optgroup>
<optgroup data-content-type="{{t "Groups"}}" label="{{#t "course_options.groups"}}Groups{{/t}}">
  {{#groups}}
    {{>[conversations/groupOption]}}
  {{/groups}}
</optgroup>
