<div class="row-fluid message-info">
	<div class="span10 user-info">
		<img src="{{author.avatar_url}}" alt="" class="avatar pull-left" />
		<a href="#" class="username">{{author.name}}{{#if participants.length}},{{/if}}</a>

		<span class="message-participants-wrapper">
			<span class="message-participants"
				    aria-live="polite"></span>

			<div class="hidden">
				<span class="summarized-message-participants">
					{{list summarizedParticipantNames}}...
				</span>
				<span class="full-message-participants">
					{{list participantNames}}
				</span>
			</div>

			{{#if summarizedParticipantNames}}
				<a href="#" class="message-participants-toggle"></a>
			{{/if}}
		</span>

		<span class="context">{{context_name}}</span>
	</div>

	<div class="span2 message-metadata">
		<div class="date pull-right">
			{{friendlyDatetime created_at}}
		</div>

    <ul class="actions pull-right unstyled">
      <li>
        <a href="#" class="icon-reply-2 reply-btn">
          <span class="screenreader-only">{{#t "reply"}}Reply{{/t}}</span>
        </a>
      </li>
      <li>
        <a href="#" class="icon-trash delete-btn">
          <span class="screenreader-only">{{#t "delete_message"}}Delete message{{/t}}</span>
        </a>
      </li>
      <li>
        <a href="#"
           data-kyle-menu-options='{"appendMenuTo": "body"}'
           class="al-trigger">
          <i class="icon-settings"></i>
          <i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "message_actions"}}Message actions{{/t}}</span>
        </a>
        <ul class="al-options">
          <li>
            <a href="#" class="forward-btn">{{#t "forward"}}Forward{{/t}}</a>
          </li>
        </ul>
      </li>
    </ul>
	</div>
</div>

<p>{{body}}</p>
