<div>
  <div class="message-header">
    <h2 class="subject" tabindex="-1" {{#if subject}}title="{{subject}}"{{/if}}>
    {{#if subject}}
      {{#if subject_url}}
        <a href={{subject_url}}>{{subject}}</a>
      {{else}}
        {{subject}}
      {{/if}}
    {{else}}
        ({{#t "no_subject"}}No subject{{/t}})
      {{/if}}
    </h2>

    <ul class="message-detail-actions pull-right unstyled">
      <li>
        <a href="#"
           class="icon-reply-2 reply-btn"
           title="{{#t "reply"}}Reply{{/t}}"
           data-tooltip>
          <span class="screenreader-only">{{#t "reply"}}Reply{{/t}}</span>
        </a>
      </li>
      {{#unless for_submission}}
      <li>
        <div class="inline-block" role="application">
          <a href="#"
             role="button"
             data-kyle-menu-options='{"appendMenuTo": "body"}'
             class="al-trigger"
             title="{{#t "more_options"}}More options{{/t}}"
             data-tooltip>
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only">{{#t "message_actions"}}Message actions{{/t}}</span>
          </a>
          <ul class="al-options message-header-menu">
            <li>
              <a href="#" class="reply-all-btn">{{#t "reply_all"}}Reply all{{/t}}</a>
            </li>
            <li>
              <a href="#" class="forward-btn">{{#t "forward"}}Forward{{/t}}</a>
            </li>
            <li>
              <a href="#" class="archive-btn">{{archiveToggleMessage}}</a>
            </li>

            <li><a href="#" class="star-toggle-btn">{{starToggleMessage}}</a></li>

            <li>
              <a href="#" class="delete-btn">{{#t "delete"}}Delete{{/t}}</a>
            </li>
          </ul>
        </div>
      </li>
      {{/unless}}
    </ul>
  </div>

  <ul class="message-content unstyled"></ul>
</div>
