<div class="row-fluid message-info">
  <div class="span8 user-info">
    {{>avatar author}}
    <div class="message-author-and-participants">
      <b class="username">{{author.name}}</b>{{#if participants.length}},{{/if}}

      <span class="message-participants-wrapper">
        <span class="message-participants"
              aria-live="polite"></span>

        <div class="hidden">
          <span class="summarized-message-participants">
            {{list summarizedParticipantNames}}...
          </span>
          <span class="full-message-participants">
            {{list participantNames}}
          </span>
        </div>

        {{#if summarizedParticipantNames}}
          <a href="#" class="message-participants-toggle"></a>
        {{/if}}
      </span>

      <span class="context">{{context_name}}</span>

    </div>
  </div>

	<div class="span4 message-metadata">
		<div class="date pull-right">
			{{tEventToString created_at "long" "tiny"}}
		</div>

    {{#unless for_submission}}
    <ul class="actions pull-right unstyled">
      <li>
        <a href="#"
           class="icon-reply-2 reply-btn"
           title="{{#t "reply"}}Reply{{/t}}"
           data-tooltip>
          <span class="screenreader-only">{{#t "reply"}}Reply{{/t}}</span>
        </a>
      </li>

      <li>
        <div class="inline-block">
          <a href="#"
             data-kyle-menu-options='{"appendMenuTo": "body"}'
             role="button"
             class="al-trigger"
             title="{{#t "more_options"}}More options{{/t}}"
             data-tooltip>
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only">{{#t "message_actions"}}Message actions{{/t}}</span>
          </a>
          <ul class="al-options">
            <li>
              <a href="#" class="reply-all-btn">{{#t "reply_all"}}Reply all{{/t}}</a>
            </li>
            <li>
              <a href="#" class="forward-btn">{{#t "forward"}}Forward{{/t}}</a>
            </li>
            <li>
              <a href="#" class="delete-btn">{{#t "delete"}}Delete{{/t}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    {{/unless}}
	</div>
</div>

<p>{{{bodyHTML}}}</p>

{{#if has_attachments}}
<ul class="message-attachments">
  {{#if media_comment}}
    <li><a class="instructure_inline_media_comment" data-media_comment_id="{{media_comment.media_id}}" href="{{media_comment.url}}">
      <i class="icon-media"></i> {{media_comment.display_name}}
    </a></li>
  {{/if}}
  {{#each attachments}}
    <li><a href="{{url}}">
      {{#if thumbnail_url}}
        {{! The thumbnail image is still huge, unfortunately. }}
        <!--img class="message-attachment-thumbnail" src="{{thumbnail_url}}" /-->
        <i class="icon-paperclip"></i>
      {{else}}
        <i class="icon-paperclip"></i>
      {{/if}}
      {{display_name}}
    </a></li>
  {{/each}}
</ul>
{{/if}}
