{{#if conversation}}
<form method="post" action="/conversations/{{conversation.id}}/add_message">
{{else}}
<form method="post" action="/conversations" class="new">
{{/if}}
  <ul class="conversations">
    <li>
      <span class="audience">
        {{#if conversation}}
          {{{audience}}}
        {{else}}
          {{#t "headings.new_message"}}New Message{{/t}}
        {{/if}}
      </span>
      {{#if addRecipientsEnabled}}
        <a href="/conversations/{{id}}/add_recipients" class="action_add_recipients">{{#t "inbox_actions.add_people"}}Add People{{/t}}</a>
      {{/if}}
    </li>
  </ul>
  <table>
    {{#unless conversation}}
    <tr class="recipient_info">
      <th><label>{{#t "labels.to"}}To:{{/t}}</th>
      <td><input type="text" name="recipients" data-finder_url="/conversations/find_recipients" class="recipients"></td>
    </tr>
    {{/unless}}
    <tr>
      <th><label>{{#t "labels.message"}}Message:{{/t}}</label></th>
      <td>
        <textarea name="body"
                  data-track-category="Compose Message"
                  data-track-action="Edit"
                  data-track-label="Body"
                  class="conversation_body">{{message}}</textarea>
      </td>
    </tr>
    {{#unless conversation}}
    <tr class="group_conversation_info" style="display:none">
      <th></th>
      <td>
        <label for="group_conversation">
          {{checkbox "group_conversation" class="group_conversation"}}
          {{#t "labels.group_conversation"}}This is a group conversation. Participants will see everyone's replies{{/t}}
        </label>
      </td>
    </tr>
    {{/unless}}
    <tr class="user_note_info" style="display:none">
      <th></th>
      <td>
        <label for="user_note">
          {{checkbox "user_note"
            data-track-category="Compose Message"
            data-track-action="Edit"
            data-track-label="Faculty Journal"
            class="user_note"}}
          {{#t "labels.add_to_faculty_journal"}}Add as a Faculty Journal entry{{/t}}
        </label>
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>
        {{#if mediaCommentsEnabled}}
          <div class="media_comment" style="display: none;" title="{{#t "titles.media_comment"}}Recorded media comment{{/t}}">
            <img src="/images/messages/media-gray.png">
            {{#t "media_comment"}}Media Comment{{/t}}
            <a href="#" class="remove_link icon-end black" style="float: right;" title="{{#t "titles.remove_media_comment"}}Remove media comment{{/t}}">
              <span class="screenreader-only">{{#t "titles.remove_media_comment"}}Remove media comment{{/t}}</span>
            </a>
            <div class="clear"></div>
          </div>
          <input type="hidden" name="media_comment_id">
          <input type="hidden" name="media_comment_type">
        {{/if}}
        <ul class="attachment_list"></ul>
        <a class="icon-paperclip action_add_attachment"
           href="#"
           data-track-category="Compose Message"
           data-track-action="Edit"
           data-track-label="Attach File"
           title="{{#t "titles.add_attachment"}}Add an attachment{{/t}}">{{#t "links.add_attachment"}}Attach{{/t}}</a>
        {{#if mediaCommentsEnabled}}
          <a class="action_media_comment icon-media"
             href="#"
             data-track-category="Compose Message"
             data-track-action="Edit"
             data-track-label="Audio Recording"
             title="{{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}"> {{#t "links.media_comment"}}Record{{/t}}</a>
        {{/if}}
        <div style="float: right">
          <input type="hidden" name="from_conversation_id" value="{{from_conversation_id}}">
          <input type="hidden" name="mode" value="async">
          <input type="hidden" name="scope" value="{{scope}}">
          <input type="hidden" name="filter" value="{{filter}}">
          {{#if conversation.beta}}
            <button type="button"
                    data-track-category="Compose Message"
                    data-track-action="Edit"
                    data-track-label="ReplyAll"
                    name="reply-type"
                    value="all"
                    class="btn">{{#t "buttons.reply_all"}}Reply all{{/t}}</button>
            <button type="submit"
                    data-track-category="Compose Message"
                    data-track-action="Edit"
                    data-track-label="Send"
                    class="btn btn-primary">{{#t "buttons.reply"}}Reply{{/t}}</button>
          {{else}}
            <button type="submit"
                    data-track-category="Compose Message"
                    data-track-action="Edit"
                    data-track-label="Send"
                    class="btn btn-primary">{{#t "buttons.send_message"}}Send{{/t}}</button>
          {{/if}}
        </div>
      </td>
    </tr>
  </table>
</form>
