<form class="compose_form" method="post"
  {{#if conversation}}
      action="/conversations/{{conversation.id}}/add_message" class="form-horizontal"
  {{else}}
      action="/conversations" class="form-horizontal new"
  {{/if}}
  >
  <div class="message-header">
    <input type="hidden" name="from_conversation_id" value="{{from_conversation_id}}">
    <input type="hidden" name="mode" value="async">
    <input type="hidden" name="scope" value="{{scope}}">
    <input type="hidden" name="filter" value="{{filter}}">
    <input type="hidden" name="group_conversation" value="true">

    <ul class="conversations" style='display:none;'>
      <li>
      <span class="audience">
        {{#if conversation}}
          {{{audience}}}
        {{else}}
          <!--{{#t "headings.new_message"}}New Message{{/t}}-->
        {{/if}}
      </span>
        {{#if addRecipientsEnabled}}
          <a href="/conversations/{{id}}/add_recipients" class="action_add_recipients">{{#t "inbox_actions.add_people"}}Add People{{/t}}</a>
        {{/if}}
      </li>
    </ul>

    <div class='message-header'>
      <div class='message-header-row'>
        <div class='message-header-label'>
          <label for="compose-message-course">
            {{#t "labels.course"}}Course{{/t}}
            <span class="screenreader-only">
              {{#t "labels.course_required"}}You must select a Course before entering recipients.{{/t}}
            </span>
          </label>
        </div>
        <div class='message-header-input'>
          <select id="compose-message-course" name="course"
                  data-track-category="Compose Course"
                  data-track-action="Edit"
                  data-track-label="Course"
                  class="message_course"
                  required="true"
                  value="{{course}}">
            <option>{{#t "labels.select_course"}}Select a course{{/t}}</option>
          </select>
          <span class="message_course_ro">{{#if course}}{{course}}{{else}}{{#t "no_course"}}No course{{/t}}{{/if}}</span>
          <input type="hidden" name="context_code" />
        </div>
      </div>

      <div class='message-header-row'>
        <div class='message-header-label'>
          <label for="compose-message-recipients">{{#t "labels.to"}}To{{/t}}</label>
        </div>
        <div class='message-header-input'>
          <div class="ac">
            <div class="ac-row">
              <div class="ac-input-cell">
                <div class="ac-input-box">
                  <ul class="ac-token-list"></ul>
                  <input type="search"
                         class="ac-input"
                         id="compose-message-recipients"
                         aria-expanded="false"
                         aria-activedescendant="ac-result-list"
                         aria-owns="ac-result-list-1"
                         aria-autocomplete="list"
                         role="combobox" />
                </div>
              </div>

              <div class="btn ac-search-btn"
                      id="recipient-search-btn"
                      role="button" tabindex="0">
                <i class="icon-address-book"></i>
                <span class="screenreader-only">
                  {{#t "search_names_groups_courses"}}Search names, groups, and courses{{/t}}
                </span>
              </div>
            </div>

            <div class="ac-result-wrapper" id="ac-result-list-1" aria-hidden="true">
              <div class="ac-result-container">
                <div class="ac-result-contents">
                  <ul class="ac-result-list collectionViewItems"></ul>
                  <div class="paginatedLoadingIndicator"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='message-header-row'>
        <div class='message-header-label'>
          <label for="compose-message-subject">{{#t "labels.subject"}}Subject{{/t}}</label>
        </div>
        <div class='message-header-input'>
          <input type="text" id="compose-message-subject" name="subject"
                 data-track-category="Compose Subject"
                 data-track-action="Edit"
                 data-track-label="Subject"
                 class="message_subject"
                 value="{{subject}}"
                 placeholder="{{#t "no_subject"}}No subject{{/t}}"
                 maxlength="255">
          <span class="message_subject_ro">{{#if subject}}{{subject}}{{else}}{{#t "no_subject"}}No subject{{/t}}{{/if}}</span>
        </div>
      </div>

      {{#unless conversation}}
        <div class="message-header-row">
          <div class="message-header-label"></div>
          <div class="message-header-input">
            <input type="hidden" name="bulk_message" value="0" />
            <label class="checkbox">
              <input type="checkbox" name="bulk_message" value="1" />
              {{#t "send_individual_messages"}}Send individual messages{{/t}}

              <i class="icon-question"
                 data-tooltip
                 title="{{#t "individual_message_explanation"}}This will send an individual message to each of the recipients{{/t}}"></i>
            </label>

          </div>
        </div>
      {{/unless}}

      <div class='message-header-row user_note_info' style="display: none">
        <div class='message-header-label'></div>
        <div class='message-header-input'>
          <input type="hidden" name="user_note" value="0" />
          <label class="checkbox">
            <input type="checkbox" name="user_note" class="user_note" value="1" />
            {{#t "labels.add_to_faculty_journal"}}Add as a Faculty Journal entry{{/t}}
          </label>
        </div>
      </div>

      <div class="message-header-row">
        <div class='message-header-label'></div>
        <div class='message-header-input'>
          <div class="media_comment" style="display: none;" title="{{#t "titles.media_comment"}}Recorded media comment{{/t}}">
            <img src="/images/messages/media-gray.png">
            {{#t "media_comment"}}Media Comment{{/t}}
            <a href="#" class="remove_link black" style="float: right;" title="{{#t "titles.remove_media_comment"}}Remove media comment{{/t}}"><i class="icon-end"></i> </a>
            <div class="clear"></div>
          </div>
          <input type="hidden" name="media_comment_id">
          <input type="hidden" name="media_comment_type">
          {{#if mediaCommentsEnabled}}
            <a class="action_media_comment"
               href="#"
               data-track-category="Compose Message"
               data-track-action="Edit"
               data-track-label="Audio Recording"
               title="{{#t "titles.record_media_comment"}}Record an audio or video comment{{/t}}">
              <i class="icon-media"></i> {{#t "links.media_comment"}}Record{{/t}}
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <hr class='header-separator' />

  <div class='message-body'>
    <textarea name="body"
              data-track-category="Compose Message"
              data-track-action="Edit"
              data-track-label="Body"
              aria-label="{{#t "body"}}Body{{/t}}"
              class="conversation_body">{{message}}</textarea>
    <div class='context_messages'></div>
  </div>

  <div class='attachments-pane'>
    <ul class='attachment_list' aria-label='{{#t "labels.attachments"}}Attachments{{/t}}' aria-live='polite'></ul>
  </div>

</form>
