<li class="message list-view border border-trbl"
    data-message-id="<%= message.id %>"
    data-secure-id="<%= message.reply_to_secure_id %>">
  <header>
    <span class="h6"><%= message.subject %></span>

    <span class="label label-<%= message.workflow_state %>">
      <%= message.workflow_state.capitalize %>
    </span>
  </header>

  <dl class="message-meta-data">
    <dt><%= t('titles.to', 'To') %></dt>
    <dd class="message-to"><%= message.to %></dd>

    <dt><%= t('titles.reply_to', 'Reply to') %></dt>
    <dd>
      <span class="message-reply"><%= message.reply_to_address %></span>
      (<a class="reply-button" href="#" role="button"><%= t('actions.reply', 'Reply') %></a>)
    </dd>

    <dt><%= t('titles.created_at', 'Created at') %></dt>
    <dd class="message-created-at"><%= message.created_at %></dd>

    <dt><%= t('titles.sent_at', 'Sent at') %></dt>
    <dd class="message-sent-at"><%= message.sent_at %></dd>
  </dl>

  <pre class="message-body well">
    <%= message.body %>
  </pre>
</li>
