<% external_feed ||= nil %>
<li style="<%= hidden unless external_feed %>" id="feed_<%= external_feed ? external_feed.id : 'blank' %>" class="feed">
  <a href="<%= context_url(@context, :context_announcements_external_feed_url, external_feed ? external_feed.id : "{{ id }}") %>" class="delete_feed_link no-hover" title="<%= t "alts.deleted_feed", "Delete this Feed" %>"><%= image_tag "delete.png" %></a>
 <div><a class="display_name" title="<%= external_feed && external_feed.url %>" href="<%= external_feed ? external_feed.url : '{{ url }}' %>"><%= external_feed ? external_feed.display_name : nbsp %></a></div>
  <div class="match" style="<%= hidden if external_feed && (!external_feed.header_match || external_feed.header_match == "") %>">
    <span><%= before_label :keyword, "Keyword" %></span> <span class="header_match"><%= external_feed && external_feed.header_match %></span>
  </div>
  <% if external_feed %>
    <div class="posts"><%= t "messages.external_feed_post_count", { :one => "1 Post Added", :other => "%{count} Posts Added" }, :count => external_feed.external_feed_entries.count %></div>
  <% end %>
</li>
