<div class="ig-row" id="conf_{{id}}">
  <div class="ig-row__layout">
    <div class="ig-info">
      {{#if recording}}
        <a class="ig-title element_toggler"
            href="#"
            aria-controls="conference-{{id}}"
            aria-expanded="false"
            role="button">
          <i class="icon-mini-arrow-right"></i>
          {{title}}
        </a>
      {{else}}
        <span class="ig-title">{{title}}</span>
      {{/if}}
      <div class="ig-details">
        <div class="ig-details__item">
          {{dateString ended_at}}
        </div>
        {{#if description}}
          <div class="ig-details__item ig-details__item--wrap-text">
            {{description}}
          </div>
        {{/if}}
        {{#if recording}}
          <div class="ig-details__item">
            {{#if multipleRecordings}}
              {{#t "recordings"}}{{recordingCount}} Recordings{{/t}}
            {{else}}
              {{#t "recording"}}1 Recording{{/t}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="ig-admin">
      {{#if permissions.delete}}
        <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="{{id}}-content-1" href="#">
          <i class="icon-settings"></i>
          <i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "settings"}}Settings{{/t}}</span>
        </a>
        <ul id="{{id}}-content-1" class="al-options" role="menu" aria-hidden="true" aria-expanded="false" aria-activedescendant="{{id}}-content-2">
          <li role="presentation">
            <a href="{{ url }}"
                class="icon-trash  delete_conference_link"
                id="{{id}}-content-3"
                role="menuitem"
                aria-label="{{#t "delete"}}Delete{{/t}}"
                title="{{#t "delete"}}Delete{{/t}}">{{#t "delete"}}Delete{{/t}}
            </a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</div>
{{#if recording}}
  <div class="ig-sublist" id="conference-{{id}}" style="display: none;">
    <ul>
      {{#each recordings}}
        <li>
          <div class="ig-row">
            <div class="ig-row__layout">
              <div class="ig-info">
                <div class="ig-details">
                  <a href="{{playback_url}}" target="_blank" class="ig-title">
                    {{title}}
                  </a>
                  {{dateString created_at}}
                  &nbsp;&#124;&nbsp;
                  {{minutesToHM duration_minutes}}
                </div>
              </div>
              <div class="ig-button">
                <a class="btn btn-small" target="_blank" href="{{playback_url}}">
                  {{#t "view"}}View{{/t}}
                </a>
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
