<div class="ig-row">
  <div class="ig-row__layout">
    {{#if recording}}
      <a class="ig-title ellipses element_toggler"
          href="#"
          aria-controls="conference-{{id}}"
          aria-expanded="false"
          role="button">
        <i class="icon-mini-arrow-right"></i>
        {{title}}
      </a>
    {{else}}
      <span class="ig-title ellipses">{{title}}</span>
    {{/if}}
    <div class="ig-details">
      <div class="ellipses">{{description}}</div>
      <div class="ellipses">{{dateString ended_at}}</div>
      {{#if recording}}
        {{#if multipleRecordings}}
          <div class="ellipses">{{#t "recordings"}}{{recordingCount}} Recordings{{/t}}</div>
        {{else}}
          <div class="ellipses">{{#t "recording"}}1 Recording{{/t}}</div>
        {{/if}}
      {{else}}
        <div class="ellipses">
          {{#t "no_recording"}}No Recordings{{/t}}
        </div>
      {{/if}}
    </div>
    <div class="ig-admin">
      {{#if permissions.delete}}
        <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="{{id}}-content-1" href="#">
          <i class="icon-settings"></i>
          <i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "settings"}}Settings{{/t}}</span>
        </a>
        <ul id="{{id}}-content-1" class="al-options" role="menu" aria-hidden="true" aria-expanded="false" aria-activedescendant="{{id}}-content-2">
          <li role="presentation">
            <a href="{{ url }}"
                class="icon-trash  delete_conference_link"
                id="{{id}}-content-3"
                role="menuitem"
                aria-label="{{#t "delete"}}Delete{{/t}}"
                title="{{#t "delete"}}Delete{{/t}}">{{#t "delete"}}Delete{{/t}}
            </a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</div>
{{#if recording}}
  <div class="ig-sublist" id="conference-{{id}}" style="display: none;">
    <ul>
      {{#each recordings}}
        <li>
          <div class="ig-row">
            <div class="ig-row__layout">
              <a href="{{playback_url}}" target="_blank" class="ig-title ellipses">{{title}}</a>
              <div class="ig-details">
                <div class="ellipses"></div>
                <div class="ellipses">{{dateString created_at}}</div>
                <div class="ellipses">{{minutesToHM duration_minutes}}</div>
              </div>
              <div class="ig-button">
                <a class="btn btn-small" target="_blank" href="{{playback_url}}">
                  {{#t "view"}}View{{/t}}
                </a>
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
