{{#each settings}}
  {{#if isBoolean}}
    <label class="checkbox" for="web_conference_user_settings_{{field}}">
      <input name="web_conference[user_settings][{{field}}]" type="hidden" value="0">
      <input
        id="web_conference_user_settings_{{field}}"
        name="web_conference[user_settings][{{field}}]"
        type="checkbox"
        value="1"
        {{#if ../../conference_started}}disabled="disabled"{{/if}}
        {{#if checked}}checked{{/if}}
        >
      {{description}}
    </label>
  {{/if}}
  {{#if isText}}
    <label for="web_conference_user_settings_{{field}}">
      {{description}}
      <input
        name="web_conference[user_settings][{{field}}]"
        id="web_conference_user_settings_{{field}}"
        type="text"
        value="{{value}}"
        {{#if ../../conference_started}}disabled="disabled"{{/if}}
        >
  {{/if}}
  {{#if isDatePicker}}
    <label for="web_conference_user_settings_{{field}}">
      {{description}}
        <input
          class="date_entry"
          id="web_conference_user_settings_{{field}}"
          name="web_conference[user_settings][{{field}}]"
          size="30"
          type="text"
          value="{{value}}"
          {{#if ../../conference_started}}disabled="disabled"{{/if}}
          >
  {{/if}}
{{/each}}