{{#if CAN.DELETE}}
  <td class="not_clickable" role="gridcell">
    {{#unless cannot_delete_by_master_course}}
      <input
        type="checkbox"
        class="select-page-checkbox"
        id={{page_id}}
        aria-label="{{#t}}Select {{title}} for deletion{{/t}}"
        {{#unless deletable}}disabled{{/unless}}
        {{#if isChecked}}{{#if deletable}}checked{{/if}}{{/if}}
      />
    {{/unless}}
  </td>
{{/if}}
<td role="gridcell">
  <div class="hide-overflow" role="text">
    <div class="wiki-page-title">
      <a href="{{html_url}}" id="wiki_page_index_item_title_{{page_id}}" class="wiki-page-link{{#if CAN.PUBLISH}} {{#unless published}}un{{/unless}}published{{/if}}">{{title}}</a>
    </div>
    {{#if front_page}}
      <div><span class="front-page"></span></div>
    {{/if}}
  </div>
  <div class="hide-overflow mobile-column" aria-hidden="true">
    <span>{{#t}}Created:{{/t}} {{tDateToString created_at "medium"}}</span>
    {{#if last_edited_by }}
      <span>{{#t}}Edited:{{/t}} {{tDateToString updated_at "medium"}}</span>
      <span>{{#t}}By{{/t}} {{last_edited_by.display_name}}</span>
    {{/if}}
    {{#if collectionHasTodoDate}}
      <span>
        {{#if todo_date}}
          {{#t}}To-Do Date:{{/t}} {{tDateToString todo_date "date_at_time"}}
        {{/if}}
      </span>
    {{/if}}
  </div>
</td>
<td role="gridcell">
  <div class="mobile-screenreader-only">
    {{tDateToString created_at "medium"}}
  </div>
</td>
<td role="gridcell">
  <div class="mobile-screenreader-only">
    {{#if last_edited_by }}
      <div style="display: inline" role="text">
      {{tDateToString updated_at "medium"}}
        <div class="hide-overflow">
          {{#t}}By{{/t}} {{last_edited_by.display_name}}
        </div>
      </div>
    {{/if}}
  </div>
</td>
{{#if collectionHasTodoDate}}
  <td role="gridcell">
    <div class="mobile-screenreader-only">
      {{#if todo_date}}
        {{tDateToString todo_date "date_at_time"}}
      {{/if}}
    </div>
  </td>
{{/if}}
{{#if CAN.OPEN_MANAGE_OPTIONS}}
  <td role="gridcell" class="master-content-lock-cell"></td>
  {{#if CAN.PUBLISH}}
    <td role="gridcell" class="publish-cell"></td>
  {{/if}}
  <td role="gridcell">
    <div class="inline-block">
      <a id="{{page_id}}-menu" aria-label="{{#t}}Settings for {{title}}{{/t}}" class="al-trigger al-trigger-gray" href="#" role="button" data-popup-within="#application">
        <i class="icon-more" aria-hidden="true"></i>
        <span class="screenreader-only">{{#t 'menu.settings'}}Settings{{/t}}</span>
      </a>
      <ul class="al-options">
          {{#if CAN.MANAGE}}
              {{#unless cannot_edit_by_master_course}}
                  {{#if CAN.UPDATE}}
                    <li><a href="#" class="icon-edit edit-menu-item" title="{{#t}}Edit{{/t}}">{{#t}}Edit{{/t}}</a></li>
                  {{/if}}
              {{/unless}}
              {{#unless cannot_delete_by_master_course}}
                  {{#if CAN.DELETE}}
                    <li>
                      <a href="#" class="icon-trash delete-menu-item{{#unless deletable}} disabled{{/unless}}"
                         title="{{#t}}Delete {{title}}{{/t}}" {{#unless deletable}}aria-disabled="true"{{/unless}}>
                         {{#t}}Delete{{/t}}
                      </a>
                    </li>
                  {{/if}}
              {{/unless}}
              {{#if front_page}}
                  {{#if CAN.UPDATE}}
                    <li>
                      <a href="#" class="unset-as-front-page-menu-item{{#unless published}} disabled{{/unless}}"
                         title="{{#t}}Remove as {{frontPageText}}{{/t}}" {{#unless published}}aria-disabled="true"{{/unless}}>
                          <i class="icon-remove-bookmark" aria-hidden="true">{{#t}}Remove as {{frontPageText}}{{/t}}</i>
                      </a>
                    </li>
                  {{/if}}
              {{/if}}
              {{#unless front_page}}
                  {{#if CAN.UPDATE}}
                    <li>
                      <a href="#" class="use-as-front-page-menu-item{{#unless published}} disabled{{/unless}}"
                         title="{{#t}}Use as {{frontPageText}}{{/t}}" {{#unless published}}aria-disabled="true"{{/unless}}>
                          <i class="icon-bookmark" aria-hidden="true">{{#t}}Use as {{frontPageText}}{{/t}}</i>
                      </a>
                    </li>
                  {{/if}}
              {{/unless}}
              {{#if CAN.DUPLICATE}}
                  <li>
                    <a href="#" class="icon-copy-course duplicate-wiki-page" title="{{#t}}Duplicate{{/t}}">
                      {{#t}}Duplicate{{/t}}
                    </a>
                  </li>
              {{/if}}
          {{/if}}
          {{#if DIRECT_SHARE_ENABLED}}
              <li>
                <a
                  href="#"
                  class="send-wiki-page-to icon-user"
                  aria-label="{{#t}}Send page to another user{{/t}}"
                >{{#t}}Send to...{{/t}}</a>
              </li>
              <li>
                <a
                  href="#"
                  class="copy-wiki-page-to icon-duplicate"
                  aria-label="{{#t}}Copy page to another course{{/t}}"
                >{{#t}}Copy to...{{/t}}</a>
              </li>
          {{/if}}
          {{#if CAN.MANAGE}}{{>ui/shared/external-tools/jst/_external_tools_menu.handlebars wiki_page_menu_tools}}{{/if}}
      </ul>
    </div>
  </td>
{{/if}}
