<div class="quiz-moderate allow-inputs">
  <table class="table quiz-table" id="moderate-table">
    <thead>
    <tr>
      <th class="check">{{input type='checkbox' checked=headerChecked}}</th>
      <th class="name">
        {{#t 'student'}}Student{{/t}}
      </th>
      <th>
        {{#t 'attempt'}}Attempt{{/t}}
      </th>
      <th>
        {{#t 'time'}}Time{{/t}}
      </th>
      <th>
        {{#t 'attempts_left'}}Attempts Left{{/t}}
      </th>
      <th>
        {{#t 'score'}}Score{{/t}}
      </th>
      <th>
        <a class="icon-refresh" href="#">
          <span class="screenreader-only">{{#t 'refresh'}}Refresh{{/t}}</span>
        </a>
      </th>
    </tr>
    </thead>

    <tbody>
    {{#each user in controller itemController='quiz.submission_row'}}
      <tr>
        <td class="check">{{input type='checkbox' checked=selected}}</td>
        <td class="name">
          {{#if hasSubmission}}
          <a {{bind-attr href='historyLink'}}>
              {{user.sortableName}}
            </a>
          {{else}}
            {{user.sortableName}}
          {{/if}}
        </td>
        <td>{{attempts}}</td>
        <td>{{user.friendlyTime}}</td>
        <td>{{remainingAttempts}}</td>
        <td>{{user.friendlyScore}}</td>
        <td>
          <a class="icon-edit" href="#" {{action 'editSubmissionUser' user}}>
            <span class="screenreader-only">{{#t 'edit'}}Edit{{/t}}</span>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>

  </table>
</div>
