<div class="quiz-moderate allow-inputs">
  <table class="table table-striped quiz-table" id="moderate-table">
    <thead>
    <tr>
      <th class="check">{{input type='checkbox' checked=headerChecked}}</th>
      <th class="name">
        {{#t 'student'}}Student{{/t}}
      </th>
      <th>
        {{#t 'attempt'}}Attempt{{/t}}
      </th>
      <th>
        {{#t 'time'}}Time{{/t}}
      </th>
      <th>
        {{#t 'attempts_left'}}Attempts Left{{/t}}
      </th>
      <th>
        {{#t 'score'}}Score{{/t}}
      </th>
      <th>
        <a {{bind-attr class="reloading::icon-refresh"}} {{action 'refreshData'}} href>
          <img {{bind-attr class=":icon-refreshing reloading::inactive" }}
               src='/images/ajax-reload-animated.gif' />
          <span class="screenreader-only">{{#t 'refresh'}}Refresh{{/t}}</span>
        </a>
      </th>
    </tr>
    </thead>

    <tbody>
    {{#each user in controller itemController='quiz.submission_row'}}
      <tr class='moderate-submission-row'>
        <td class="check">{{input type='checkbox' checked=selected}}</td>
        <td class="name">
          {{#if hasActiveSubmission}}
            <a {{bind-attr href='historyLink'}}>
              {{user.sortableName}}
            </a>
          {{else}}
            {{user.sortableName}}
          {{/if}}
          {{#if extraTimeAllowed}}
            <div class="extra-time">{{extraTimeOnAttempt}}</div>
          {{/if}}
        </td>
        <td>{{attempts}}</td>

        {{#if isActive}}
          <td>
            <i class="icon-clock"></i>
            {{runningTime}}
          </td>
        {{else}}
          <td>{{friendlyTime}}</td>
        {{/if}}

        <td>{{remainingStatusLabel}}{{remainingAttempts}}</td>
        <td>{{user.friendlyScore}}</td>
        <td>
          <a class="icon-edit" href="#" {{action 'studentExtension' user}}>
            <span class="screenreader-only">{{#t 'edit'}}Edit{{/t}}</span>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>

  </table>
</div>
