{{#if file}}
  <a title {{bind-attr href=file.url}} class="btn btn-link">
    <i class="icon-analytics"></i>
    {{readableTypeLabel}}
  </a>

  <div class="auxiliary">
    {{generatedAtLabel}}
  </div>
{{else}}
  <button
    {{! need [title] for tooltip to work}}
    title
    {{action "generate"}}
    {{bind-attr class=":btn :btn-link :generate-report isLocked:busy"}}>
    <i class="icon-analytics"></i>
    {{readableTypeLabel}}
  </button>

  <div class="auxiliary">
    <p>{{generationStatusLabel}}</p>

    {{#if isGenerating}}
      <div class="progress">
        <div class="bar"></div>
      </div>
    {{/if}}
  </div>
{{/if}}