<h4><%= @label ? @label : YARD::Tags::Library.labels[@name] %>:</h4>
<ul class="<%= @name %>">
  <% object.tags(@name).each do |tag| %>
    <li>
      <% unless @no_types %>
        <span class='type'><%= format_types(tag.types) %></span>
      <% end %>
      <%
        name, text = (tag.text || "").split(/\s/, 2)
      %>
      <% unless @no_names %>
        <span class='name'><%= h name %></span>
      <% end %>
      <% if text && !text.empty? %>
        <%= htmlify_line(text) %>
      <% end %>
    </li>
  <% end %>
</ul>
