<h4>Request Parameters:</h4>
<table class="request-params">
  <thead>
    <tr>
      <th class="param-name">Parameter</th>
      <th class="param-req"></th>
      <th class="param-type">Type</th>
      <% if @request_parameters.any?(&:deprecated?) %>
        <th class="param-deprecated"></th>
      <% end %>
      <th class="param-desc">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @request_parameters.each do |param| %>
    <tr class="request-param <%= param.deprecated? ? 'deprecated' : '' %>">
      <td><%= h param.name(json: false) %></td>
      <td>
        <% if param.required? %>
        Required
        <% end %>
      </td>
      <td><%= h param.swagger_type %></td>

      <% if @request_parameters.any?(&:deprecated?) %>
        <td>
          <% if param.deprecated? %>
            <div><strong>[DEPRECATED]</strong></div>
            <div>Effective <%= h param.effective_date %> (notice given <%= h param.notice_date %>)</div>
          <% end %>
        </td>
      <% end %>

      <td class="param-desc">
        <%= htmlify param.desc %>
        <% if param.enums.present? %>
        <p class="param-values">
          <span class="allowed">Allowed values:</span> <%= param.enums.map { |v| "<code class=enum>#{v}</code>" }.join(", ") %>
        </p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
