<% question_teaser ||= nil %>
<% data = question_teaser.try_rescue(:data) %>
<div class="quiz_sortable question_holder question_teaser" id="question_teaser_<%= question_teaser ? question_teaser.id : "blank" %>" style="<%= hidden unless question_teaser %>">
  <div class="display_question question">
    <%= render partial: "quizzes/quizzes/move_handle" %>

    <div class="header">
      <a href="#" class="question_name question_teaser_link" title="<%= t('full_details', 'Click to show full question details') %>"><%= hash_get(data, :question_name) %></a>
    </div>
    <div class="links">
      <a href="#" class="edit_teaser_link no-hover" title="<%= t 'links.edit_question', 'Edit this Question' %>"><%= image_tag "edit.png" %></a>
      <a href="#" class="delete_question_link no-hover" title="<%= t 'links.delete_question', 'Delete this Question' %>"><%= image_tag "delete.png" %></a>
      <a href="<%= context_url(@context, :context_question_bank_assessment_question_url, @bank, question_teaser ? question_teaser.id : "{{ id }}") %>" class="update_question_url">&nbsp;</a>
    </div>
    <div class="text">
      <div class="teaser question_text user_content">
        <%= user_content(hash_get(data, :question_text)) %>
      </div>
    </div>
    <div class="bottom_links">
      <a href="#" class="move_question_link"><%= t('move_bank', 'move/copy question to another bank') %></a>
      <span class="assessment_question_id id" style="display: none;"><%= question_teaser && question_teaser.id %></span>
    </div>
    <div class="clear"></div>
  </div>
</div>
