{{#ifEqual recipientType "Group"}}
  {{#each recipients}}
    <li>
      <span>{{name}}</span>
      <input name="recipients[]" type="hidden" value="group_{{id}}" />
    </li>
  {{/each}}
{{else}}
  {{#each recipients}}
    <li class="student-recipient">
      <span>{{name}}</span>
      <input name="recipients[]" type="hidden" value="{{id}}" />
    </li>
  {{/each}}
{{/ifEqual}}
