<div class="ig-row" data-id="{{id}}" id="conf_{{id}}">
  <div class="ig-row__layout">
    <div class="ig-info">
      {{#if recording}}
      <a class="ig-title element_toggler" href="#" aria-controls="conference-{{id}}" aria-expanded="false"
        role="button">
        <i class="icon-mini-arrow-right auto_rotate"></i>
        {{title}}
      </a>
      {{else}}
      <span class="ig-title">{{title}}</span>
      {{/if}}
      <span class="{{#if has_actions}}has_actions{{/if}}">
        {{#if started_at}}
        <span class="label label-success ig-row-label">{{#t "in_progress"}}In Progress{{/t}}</span>
        {{/if}}
      </span>
      <div class="ig-details">
        {{#if start_at}}
        <div class="ig-details__item">
          {{datetimeFormatted start_at}}
          {{#if end_at}}
          {{#t "to"}}to{{/t}}
          {{datetimeFormatted end_at}}
          {{/if}}
        </div>
        {{/if}}
        {{#if description}}
        <div class="ig-details__item ig-details__item--wrap-text">
          {{description}}
        </div>
        {{/if}}
        {{#if recording}}
        <div class="ig-details__item-recordings ig-details__item-recordings--wrap-text">
          {{#if multipleRecordings}}
          {{#t "recordings"}}{{recordingCount}} Recordings{{/t}}
          {{else}}
          {{#t "recording"}}1 Recording{{/t}}
          {{/if}}
        </div>
        {{/if}}
      </div>
    </div>
    <div class="ig-admin conference-loading-indicator" style="display: none;"></div>
    <div class="ig-admin">
      {{# if show_end}}
      <a class='btn btn-small close_conference_link' href="{{ url }}/close">{{#t "end_it_now"}}End{{/t}}</a>
      {{/if}}
      {{#if started_at}}
      {{#if permissions.join}}
      <a href="{{ join_url }}" class="btn btn-small join-button btn-primary" target="_blank">
        {{#t "join"}}Join{{/t}}
      </a>
      {{/if}}
      {{else}}
      {{#if permissions.initiate}}
      <a data-testid="start-button" href="{{ join_url }}" class="btn btn-small start-button" target="_blank" {{#unless
        id}}disabled="disabled" {{/unless}}>
        {{#t "start"}}Start{{/t}}
      </a>
      {{/if}}
      {{/if}}
      {{#if has_actions}}
      <div class="inline-block">
        <a class="al-trigger al-trigger-gray {{#unless id}}ui-state-disabled{{/unless}}" role="button"
          aria-haspopup="true" aria-owns="{{id}}-content-1" href="#" data-testid="settings-cog">
          <i class="icon-settings"></i>
          <i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "settings"}}Settings{{/t}}</span>
        </a>
        <ul id="{{id}}-content-1" class="al-options" role="menu" aria-hidden="true" aria-expanded="false"
          aria-activedescendant="{{id}}-content-2">

          {{#if permissions.update}}
          {{#if ENV.bbb_modal_update}}
          <li role="presentation">
            <a class="icon-reset sync_conference_link" id="{{id}}-content-2" role="menuitem" title="{{#t " sync"}}Sync
              Attendees{{/t}}">{{#t "sync"}}Sync Attendees{{/t}}</a>
            <form action="{{url}}" id="sync_attendees_{{id}}" style="margin:0;padding:0;display:inline" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" id="web_conference_sync_attendees" name="web_conference[sync_attendees]"
                value="1">
              <input type="hidden" id="web_conference_title" name="web_conference[title]" value="{{title}}">
              <div style="margin:0;padding:0;display:inline">
                <input name="authenticity_token" type="hidden" value="{{auth_token}}">
              </div>
            </form>
          </li>
          {{/if}}

          <li role="presentation">
            <a href="#conference_{{ id }}" class="icon-edit edit_conference_link" id="{{id}}-content-3" role="menuitem"
              title="{{#t " edit"}}Edit{{/t}}">{{#t "edit"}}Edit{{/t}}</a>
          </li>
          {{/if}}
          {{#if permissions.delete}}
          <li role="presentation">
            <a href="{{ url }}" class="icon-trash  delete_conference_link" id="{{id}}-content-4" role="menuitem"
              aria-label="{{#t " delete"}}Delete{{/t}}" title="{{#t " delete"}}Delete{{/t}}">{{#t "delete"}}Delete{{/t}}
            </a>
          </li>
          {{/if}}
        </ul>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{#if recording}}
<div class="ig-sublist" data-id="{{id}}" id="conference-{{id}}" style="display: none;">
  <ul>
    {{#each recordings}}
    <li class="recording">
      <div class="ig-row" data-id="{{recording_id}}" style="text-align: center;">
        <div class="ig-row__layout">
          <div class="ig-info">
            <div class="ig-details">
              {{#if ../../isAdobeConnect}}
              <a id="adobe-connect-playback-link" href="{{../playback_url}}" target="_blank" class="ig-title"
                style="line-height: inherit;" data-id="{{../recording_id}}" data-format="presentation">
                {{title}}
              </a>
              {{else}}
              <span>{{title}}</span>
              &nbsp;&nbsp;&nbsp;
              {{#each playback_formats}}
              {{#if show_to_students}}
              <a href="{{url}}" target="_blank" class="ig-title" style="line-height: inherit;"
                data-id="{{../../recording_id}}" data-format="presentation">
                {{#t "type"}}{{type}}{{/t}}
              </a>
              {{else}}
              {{#if ../../../../permissions.manage_recordings}}
              <a href="{{url}}" target="_blank" class="ig-title" style="line-height: inherit;"
                data-id="{{../../recording_id}}" data-format="presentation">
                {{#t "type"}}{{type}}{{/t}}
              </a>
              {{/if}}
              {{/if}}
              {{/each}}
              {{/if}}
              {{dateString created_at}}
              &nbsp;&#124;&nbsp;
              {{durationToString duration_minutes}}
            </div>
          </div>
          {{#if ../permissions.manage_recordings}}
          <div class="ig-button" data-id="{{recording_id}}" data-action="delete" data-url="{{../../url}}">
            <a href="#" class="btn btn-small icon-trash delete_recording_link" title="{{#t " delete"}}Delete{{/t}}">{{#t
              "delete"}}Delete{{/t}}
            </a>
          </div>
          {{/if}}
        </div>
      </div>
    </li>
    {{/each}}
  </ul </div>
  {{/if}}