{{#each settings}}
    <div class="control-group">
  {{#if isBoolean}}
    <label class="checkbox" for="web_conference_user_settings_{{field}}">
      <input name="web_conference[user_settings][{{field}}]" type="hidden" value="0">
      <input
        id="web_conference_user_settings_{{field}}"
        name="web_conference[user_settings][{{field}}]"
        type="checkbox"
        value="1"
        {{#if ../../conference_started}}disabled="disabled"{{/if}}
        {{#if checked}}checked{{/if}}
        >
      {{description}}
    </label>
  {{/if}}
  {{#if isText}}
    <label for="web_conference_user_settings_{{field}}">{{name}}</label>
      <input
        name="web_conference[user_settings][{{field}}]"
        id="web_conference_user_settings_{{field}}"
        type="text"
        value="{{value}}"
        {{#if ../../conference_started}}disabled="disabled"{{/if}}
        >
  {{/if}}
  {{#if isDatePicker}}
    <label for="web_conference_user_settings_{{field}}">{{name}}</label>
    <label class="screenreader-only" id="conference_settings_{{field}}_label">
      {{#t}}Pick the date and time for the following conference setting: {{/t}}
      {{name}}
      {{datepickerScreenreaderPrompt}}
    </label>
    <input
      class="date_entry"
      id="web_conference_user_settings_{{field}}"
      name="web_conference[user_settings][{{field}}]"
      size="30"
      type="text"
      value="{{value}}"
      {{#if ../../conference_started}}disabled="disabled"{{/if}}
      aria-labelledby="conference_settings_{{field}}_label"
      data-tooltip
      title="{{accessibleDateFormat}}"
      />
  {{/if}}
  {{#if isSelect}}
      <label for="web_conference_user_settings_{{field}}">{{name}}</label>
        <select id="web_conference_user_settings_{{field}}" name="web_conference[user_settings][{{field}}]">
          {{#each options}}
             <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
  {{/if}}
    </div>
{{/each}}
