<li>
  <a href="#" data-id="{{id}}">
    <i class="icon-{{type}}" aria-hidden="true"></i>
    {{name}}

    {{#if selected}}
      <i class="icon-end" aria-hidden="true"></i>
      <input type="hidden" id="input_{{id}}" name="{{type}}[]" value="{{collaborator_id}}" />
    {{else}}
      <i class="icon-add" aria-hidden="true"></i>
    {{/if}}
  </a>
</li>
