<div id="add_group" style="display: none;">
  <% form_for :assignment_group, :url => context_url(@context, :context_assignment_groups_url), :html => {:id => 'add_group_form', :style => 'display: none;'} do |form| %>

    <div class="form-inline pad-box-micro">
      <% group_name = t('labels.group_name', "Group Name") %>
      <%= form.text_field :name, :maxlength => "255", :'aria-labeled-by' => group_name, :placeholder => group_name %>
      <span class="percent_weighting"><%= form.text_field(:group_weight, :class => 'span1 align-right') %> <%= t(:percent_of_total_grade, "% of total grade") %></span>

      <span class="pull-right">
        <button type="button" class="btn btn-small cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
        <button type="submit" class="btn btn-primary btn-small"><%= t '#buttons.update', "Update" %></button>
      </span>
    </div>

    <span class="weighting">
      <%= before_label :assignments, "Assignments" %>
      <%= form.select :assignment_weighting_scheme,
                      { t('options.weighted_by_points', "Weighted By Points") => "by_points",
                        t('options.equally_weighted', "Equally Weighted") => "equal" } %>
    </span>

    <div class="form_rules"></div>

    <div class="rule pad-box-micro" id="assignment_group_rule_blank" style="display: none;">

      <a href="#" class="delete_rule_link no-hover pull-right pad-box-micro"><i class="icon-end standalone-icon"></i><span class="screen-reader-text"><%= t('links.delete_assignment', "Delete") %></span></a>

      <select name="rule_type" class="group_rule_type">
        <option value="drop_lowest"><%= t 'options.drop_lowest', "Drop the Lowest" %></option>
        <option value="drop_highest"><%= t 'options.drop_highest', "Drop the Highest" %></option>
        <option value="never_drop"><%= t 'options.never_drop', "Never Drop" %></option>
      </select>

      <span class="drop_scores">
        <span>
        <%= t :drop_x_scores_for_each_student, "%{scores} scores for each student",
                :scores => '<input type="text" class="drop_count align-right span1" name="scores_to_drop" title="#" size="2"/>'.html_safe %>
        </span>
      </span>

      <span class="never_drop_assignment" style="display: none;">
        <select name="assignment_to_never_drop" class="assignment_to_never_drop">
          <option value="0"><%= t 'options.no_assignments', "[No Assignments]" %></option>
        </select>
      </span>
    </div>

    <div class="pad-box-micro">
      <a href="#" class="add_rule_link btn"><%= t 'links.add_grading_rule', "Add grading rule" %></a>
    </div>

    <div class="clear"></div>
  <% end %>

  <a href="<%= context_url(@context, :controller => :assignment_groups, :action => :index) %>" class="assignment_groups_url">&nbsp;</a>

</div>

