<div id="add_assignment" style="display: none;">
  <% form_for :assignment,
              :url => context_url(@context, :controller => :assignments, :action => :create),
              :html => { :style => 'display: none;',
                         :id    => 'add_assignment_form',
                         :class => 'add_assignment_form form-inline' } do |f| %>

    <%= f.hidden_field   :assignment_group_id %>
    <%= hidden_field_tag :assignment_group_id %>

    <div class="pad-box-micro">
      <div class="row-fluid">
        <div class="span6">
          <%= f.text_field :title,
                           :maxlength => '254',
                           :class    => 'span10',
                           'aria-label' => t(:assignment_name, 'Assignment Name')
          %>
        </div>
        <div class="span4">
          <%= f.label :due_at, t('labels.due', 'due:') %>
          <%= f.text_field :due_at, :class => 'datetime_field span5' %>
        </div>
        <div class="span2 align-right">
          <span class="points">
            <%= f.label :points_possible, t('labels.points', 'points:') %>
            <%= f.text_field :points_possible, :size => 2, :class => 'span6' %>
          </span>
          <span class="no_points nobr" title="<%= t 'tooltips.assignment_is_quiz', "This assignment is a quiz, so points possible comes from the questions and can't be set manually." %>">
            <%= t('labels.quiz_points', 'quiz pts.') %>
          </span>
        </div>
      </div>
    </div>

    <div class="pad-box-micro">
      <div class="row-fluid">
        <div class="span6">
          <label for="assignment_submission_types"><%= t('labels.type', 'type') %>:</label>
          <select name="assignment[submission_types]" class="assignment_submission_types span8" id="assignment_submission_types">
            <option value="" class="current_submission_types"><%= t 'options.assignment', "Assignment" %></option>
            <option value="discussion_topic"><%= t 'options.discussion', "Discussion" %></option>
            <option value="online_quiz"><%= t 'options.quiz', "Quiz" %></option>
            <option value="external_tool"><%= t 'options.external_tool', "External Tool" %></option>
            <% if feature_enabled?(:attendance) %>
              <option value="attendance"><%= t 'options.attendance', "Attendance" %></option>
            <% end %>
            <option value="not_graded"><%= t 'options.not_graded', "Not Graded" %></option>
          </select>
        </div>
        
        <div class="span6 align-right">
          <a href="#" class="more_options_link btn btn-small"><%= t 'links.more_options', "More options" %></a>
          <button type="button" class="btn btn-small cancel_button"><%= t('#buttons.cancel', 'Cancel') %></button>
          <button type="submit" class="btn btn-small btn-primary"><%= t('#buttons.update', 'Update') %></button>
          <a href="#" style="font-size: 0.8em; display: none;"><%= t 'links.full_edit', "Full Edit" %></a>
        </div>
      </div>
    </div>
  <% end %>

  <a href="<%= context_url(@context, :controller => :assignments, :action => :create) %>" class="assignments_url">&nbsp;</a>
</div>
