<div id="add_group" style="display: none;">
  <% form_for :assignment_group, :url => context_url(@context, :context_assignment_groups_url), :html => {:id => 'add_group_form', :style => 'display: none; padding: 5px;'} do |form| %>
    <div style="float: left;">
    <%= form.text_field :name, :style => 'width: 175px; font-size: 1.3em;', :maxlength => "255", :title => t('labels.group_name', "Group Name") %>
    <span style="padding-left: 30px;" class="percent_weighting">
      <span style="font-size: 0.8em;">
      <%= t :percent_of_total_grade, "%{percent} % of total grade",
         :percent => form.text_field(:group_weight, :style => "width: 40px; font-size: 1.3em;") %>
      </span>
    </span>
    </div>
    <div class="button-container-right-aligned">
      <button type="button" class="btn btn-small cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
      <button type="submit" class="button btn-primary btn-small" style="margin-left: 0 !important"><%= t '#buttons.update', "Update" %></button>
    </div>
    <span style="padding-left: 10px; display: none;" class="weighting">
      <span style="font-size: 0.8em;"><%= before_label :assignments, "Assignments" %></span>
      <%= form.select :assignment_weighting_scheme,
                      { t('options.weighted_by_points', "Weighted By Points") => "by_points",
                        t('options.equally_weighted', "Equally Weighted") => "equal" } %>
    </span>
    <div class="form_rules" style="margin-left: 20px;">
    </div>
    <div class="rule" id="assignment_group_rule_blank" style="display: none; margin-top: 2px;">
      <a href="#" class="delete_rule_link no-hover"><i class="icon-end standalone-icon"></i><span class="screen-reader-text"><%= t('links.delete_assignment', "Delete") %></span></a>
      <select name="rule_type" class="group_rule_type">
        <option value="drop_lowest"><%= t 'options.drop_lowest', "Drop the Lowest" %></option>
        <option value="drop_highest"><%= t 'options.drop_highest', "Drop the Highest" %></option>
        <option value="never_drop"><%= t 'options.never_drop', "Never Drop" %></option>
      </select>
      <span class="drop_scores">
        <span style="font-size: 0.8em;">
        <%= t :drop_x_scores_for_each_student, "%{scores} scores for each student",
                :scores => '<input type="text" class="drop_count" name="scores_to_drop" title="#" size="2" style="text-align: center;"/>'.html_safe %>
        </span>
      </span>
      <span class="never_drop_assignment" style="display: none;">
        <select name="assignment_to_never_drop" class="assignment_to_never_drop">
          <option value="0"><%= t 'options.no_assignments', "[No Assignments]" %></option>
        </select>
      </span>
    </div>
    <span style="padding-left: 20px; font-size: 0.8em;"><a href="#" class="add_rule_link"><%= t 'links.add_grading_rule', "add grading rule" %></a></span>
    <div class="clear"></div>
  <% end %>
  <a href="<%= context_url(@context, :controller => :assignment_groups, :action => :index) %>" class="assignment_groups_url">&nbsp;</a>
</div>
