<% course_home ||= false %>
<p>
  <b><span class="assignment_count"><%= @context.assignments.active.length %></span> <span class="assignment_count_text"><%= @context.assignments.active.length == 1 ? "Assignment" : "Assignments" %></span></b>
  <span style="font-size: 0.8em;">( in <span class="assignment_group_count"><%= @groups.length %></span> <span class="assignment_group_count_text"><%= @groups.length == 1 ? "Group" : "Groups" %></span> )</span>
</p>
<p>
  <% if can_do(@context.assignments.new, @current_user, :create) %>
    <a href="<%= context_url(@context, :new_context_assignment_url) %>" class="add_assignment_link add groupless_link">
      Add Assignment
    </a> to 
    <select class="assignment_groups_select">
      <% @groups.each do |group| %>
        <option value="group_<%= group.id %>"><%= group.name %></option>
      <% end %>
    </select>
    <br/>
  <% end %>
  <% if can_do(@context.assignment_groups.new, @current_user, :create) %>
    <a href="#" class="add_group_link add"> Add Assignment Group</a>
  <% end %>
</p>
<%= render :partial => 'assignments/group_weights', :locals => {:editable => can_do(@context, @current_user, :manage_assignments)} %>
