<%= render :partial => "assignments/add_assignment_form" %>
<%= render :partial => "assignments/add_assignment_group_form" %>

<div style="<%= "display: none;" unless can_do(@context, @current_user, :manage_grades) %>margin-bottom: 16px; padding-left: 16px;" id="class_weighting_box">
  <input type="checkbox" id="class_weighting_policy" name="class_weighting_policy" <%= "checked" if (@context.group_weighting_scheme == 'percent') %>/>
  <label for="class_weighting_policy"><%= t 'labels.class_weighting_policy', "Weight the final grade based on assignment groups" %></label>
  <a href="<%= url_for (@context) %>" class="context_url" style="display: none;">&nbsp;</a>
</div>
<div id="groups" class="<%= 'groups_editable' if can_do(@context, @current_user, :manage_grades) || can_do(@context, @current_user, :manage_assignments) %>">
  <%= render :partial => "shared/assignment_group", :collection => @groups, :locals => { :multiple_groups => @groups.length > 1 } %>
</div>
<%= render :partial => "shared/assignment_group", :object => nil %>
<%= render :partial => "shared/assignment", :object => nil, :locals => {:context => @context} %>

<div style="display: none;">
  <a href="<%= context_url(@context, :controller => "assignment_groups", :action => "reorder") %>" class="reorder_groups_url">&nbsp;</a>
  <div id="delete_assignments_dialog" title="<%= t 'titles.delete_assignment_group', "Delete Assignment Group?" %>">
    <h2><%= t 'titles.delete_assignment_group', "Delete Assignment Group?" %></h2>
    <p><%= t('warnings.delete_assignment_group',
            "The assignment group %{group} has %{assignment_count} in it.  You can either delete these assignments or move them to another assignment group.",
            :group => '<span class="name" style="font-weight: bold;">&nbsp;</span>'.html_safe,
            :assignment_count => '<span class="assignment_count" style="font-weight: bold;">&nbsp;</span>'.html_safe) %>
    </p>
    <p>
      <input type="radio" name="action" value="delete" id="assignment_group_delete"/>
      <label for="assignment_group_delete"><%= t 'labels.delete_assignments_in_group', "Delete assignments in this group" %></label>
    </p>
    <p>
      <input type="radio" name="action" value="move" id="assignment_group_move"/>
      <label for="assignment_group_move"><%= t 'labels.move_assignments_to', "Move assignments from this group to " %></label>
      <select name="group_id" class="group_select" title="<%= t 'tooltips.target_group', "Select a group to move this assignment to" %>">
        <option value="" class="blank"><%= t 'options.select_group', "[ Select a Group ]" %></option>
      </select>
    </p>
    <div class="button-container">
      <button class="btn cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
      <button class="btn btn-primary delete_button"><%= t 'buttons.delete_group', "Delete Group" %></button>
    </div>
  </div>
</div>
<div id="full_assignment_details" style="display: none;">
  <!--%= render :partial => "shared/full_assignment", :object => @context.assignments.new, :locals => {:dialog => true} %-->
</div>
<%= image_tag "graded.png", :style => "width: 16px; display: none;", :id => "submitted_icon", :class => "submitted_icon" %>
