<% if @assignments.empty? %>
  <h2><%= t 'titles.assignments', "Assignments" %></h2>
  <%= t :no_assignments, "No Assignments created for this course." %>
<% else %>
  <% if @just_viewing_one_course %>
  <div id="groups_for_student" style="display: none;">
    <h2><%= t 'titles.course_assignments', "Course Assignments" %></h2>
    <%= render :partial => "shared/assignment_group",
               :collection => @groups,
               :locals => {
                 :skip_assignments => true,
                 :multiple_groups  => @groups.length > 1
               } %>
  </div>
  <% end %>
  <div id="assignments_for_student">
    <% [ { :label => t('titles.overdue_assignments', "Overdue Assignments"), :variable => @overdue_assignments},
         { :label => t('titles.ungraded_assignments', "Ungraded Assignments"), :variable => @ungraded_assignments},
         { :label => t('titles.upcoming_assignments', "Upcoming Assignments"), :variable => @future_assignments},
         { :label => t('titles.undated_assignments', "Undated Assignments"), :variable => @undated_assignments},
         { :label => t('titles.past_assignments', "Past Assignments"), :variable => @past_assignments}
       ].each do |group| %>
    <div style="margin-bottom: 25px; <%= hidden if !group[:variable] || group[:variable].empty? %>" class="assignment_list <%= 'show_context' unless @just_viewing_one_course %>">
      <h2><%= group[:label] %></h2>
      <%= render :partial    => "shared/assignment",
                 :collection => group[:variable],
                 :locals     => {
                   :submissions_hash => @submissions_hash,
                   :assignment_count => group[:variable].length
                 } %>
    </div>
    <% end %>
  </div>
<% end %>
<% if @just_viewing_one_course %>
<div id="group_weighting_scheme" style="display: none;"><%= @context.group_weighting_scheme %></div>
<% end %>
<% js_bundle 'legacy/assignments_list_content' %>
