<% if can_do(assignment, @current_user, :grade) || can_do(assignment.context, @current_user, :manage_assignments) %>
  <a href="<%= context_url(assignment.context, :edit_context_assignment_url, assignment.id, :return_to => request.url) %>" class="btn button-sidebar-wide"><%= image_tag "edit.png" %> <%= t :edit_assignment_settings, "Edit Assignment Settings" %></a>
  <a target="_blank" id="speedgrader_button" class="btn button-sidebar-wide" href="<%= context_url(assignment.context, :speed_grader_context_gradebook_url, :assignment_id => assignment.id) %>"><%= image_tag "grading_icon.png" %> <%= t :speed_grader, "Speed Grader" %></a>
<% end %>
