<% editable ||= false %>
<div id="group_weight" style="<%= hidden unless @context.group_weighting_scheme == 'percent' %>">
  <table id="group_weight_table">
    <thead><tr>
      <th style="width: 100%;"><%= t 'headers.assignment_group', "Assignment Group" %></th>
      <th><%= t 'headers.group_weight', "Weight" %></th>
    </tr></thead>
    <% tally = 0 %>
    <tbody>
    <% @groups.each do |group| %>
      <% tally += group.group_weight || 0 %>
      <tr id="group_weight_<%= group.id %>" class="group_weight">
        <td>
          <%= image_tag "move.png", :class => "move" %>
          <span class="name"><%= group.name %></span>
          <span class="id" style="display: none;"><%= group.id %></span>
        </td>
        <td style="white-space: nowrap;">
        <% if editable %>
          <input type="text" class="weight" value="<%= group.group_weight || 0 %>">%
        <% else %>
          <%= group.group_weight || 0 %>%
        <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <tr id="group_weight_blank" style="display: none;" class="group_weight">
      <td>
        <%= image_tag "move.png", :class => "move" %>
        <span class="name">&nbsp;</span>
        <span class="id" style="display: none;">&nbsp;</span>
      </td>
      <td style="white-space: nowrap;"><input type="text" class="weight" value="0">%</td>
    </tr>
    <tr>
      <td class="total"><%= t 'headers.total', "Total" %></td>
      <td id="group_weight_total" class="total" style="text-align: right;"><%= number_to_percentage(tally, :precision => 0) %></td>
    </tr>
  </table>
</div>