<li class="peer_review <%= request.try_rescue(:workflow_state) || 'assigned' %>" id="review_request_<%= request ? request.id : 'blank' %>" style="<%= hidden unless request %>">
  <span style="float: left;">
    <%= image_tag "pass.png", :alt => "finished", :title => "Finished" if request && request.completed? %>
    <%= image_tag "warning_dim.png", :alt => "incomplete", :title => "Assessment not yet Completed" if (request && !request.completed?) || request.nil? %>
    <%= image_tag "file.png" %>
    <a href="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, request ? request.asset.user_id : '{{ user_id }}') %>">
      <span class="asset_user_name"><%= request.try_rescue(:asset).try_rescue(:user).try_rescue(:last_name_first) || nbsp %></span>
    </a>
  </span>
  <span class="user_id" style="display: none;"><%= request.try_rescue(:asset).try_rescue(:user_id) || nbsp %></span>
  <div style="float: right;" class="review_links">
    <% user = request.try_rescue(:assessor).try_rescue(:name)
       user ||= t 'titles.user_default', "User"
       reminder = t 'titles.remind_reviewer', "Remind %{user} about Assessment", :user => user
       reminder = t 'titles.remind_reviewier_with_last_notification', "Remind %{user} about Assessment, last notified %{at}", :user => user, :at => datetime_string(request.updated_at) if request && request.assigned?
    %>
    <a class="remind_peer_review_link no-hover" style="<%= hidden if request && request.completed? %>" href="<%= context_url(@context, :context_assignment_remind_peer_review_url, @assignment.id, request ? request.id : '{{ id }}') %>" title="<%= reminder %>"><%= image_tag "reply.png" %></a>
    <a class="delete_review_link no-hover" href="<%= context_url(@context, :context_assignment_delete_peer_review_url, @assignment.id, request ? request.id : '{{ id }}') %>"><%= image_tag "delete.png" %></a>
  </div>
  <div class="clear"></div>
</li>
