<% cache(['submission_sidebar_render', @current_user_submission, Time.zone.utc_offset].cache_key) do %>
<div class="details">
  <h3 style="margin: 0;"><%= t 'titles.submission', "Submission" %></h3>
  <% if @assignment.expects_submission? %>
    <div class="header" style="margin-top:2px; font-weight: bold; font-size: 1.2em;">
      <% if @current_user_submission.has_submission? %>
        <%= image_tag "graded.png" %> <%= t 'titles.submission_turned_in', "Turned In!" %>
      <% else %>
        <%= image_tag "not_graded.png" %> <%= t 'titles.submission_not_turned_in', "Not Turned In!" %>
      <% end %>
    </div>
  <% end %>
  <div style="padding-left: 5px;">
    <span style="<%= "color: #800; font-weight: bold;" if @current_user_submission.late? %>">
      <% if @current_user_submission.late? %>
        <%= t 'messages.submission_late_timestamp', "%{submitted_at} (late)", :submitted_at => datetime_string(@current_user_submission.submitted_at) %>
      <% else %>
        <%= datetime_string(@current_user_submission.submitted_at) %>
      <% end %>
    </span>
    <br/>

    <a href="<%= context_url(@assignment.context, :context_assignment_submission_url, @assignment.id, @current_user.id) %>" class='forward'><%= t 'links.submission.details', "Submission Details" %></a><br/>
    <% if @current_user_submission.submission_type == "online_url" %>
      <a href="<%= @current_user_submission.url %>" target="_new" class='link'><%= t 'links.submission.view_original_page', "View the Original Page" %></a><br/>
    <% elsif @current_user_submission.submission_type == "online_upload" %>
      <% @current_user_submission.attachments.each do |attachment| %>
        <a href="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, @current_user_submission.user_id, :download => attachment.id) %>" class='file-big'><%= t 'links.submission.download_attachment', "Download %{attachment_display_name}", :attachment_display_name => attachment.display_name %></a><br/>
      <% end %>
    <% elsif @current_user_submission.submission_type == "online_quiz" %>
      <a href="<%= context_url(@assignment.context, :context_quiz_url, @assignment.quiz.id) %>" target="_new" class='quiz'>
        <%= @assignment.quiz.survey? ? t('links.submission.view_survey', "View the Survey Submission") :
          t('links.submission.view_quiz', "View the Quiz Submission") %></a><br />
    <% end %>
    <% if @current_user_submission.grade && !@assignment.muted? %>
      <br/>
      <%= t 'labels.grade', "Grade: %{grade} *(%{points_possible} pts possible)*", :grade => @current_user_submission.grade,
        :points_possible => @assignment.points_possible, :wrapper => '<span style="font-size: 0.8em;">\1</span>' %>
    <% end %>
    <% if @current_user_submission.rubric_assessment %>
      <a href="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, @current_user_submission.user_id) %>#rubric" class='rubric'><%= t 'links.view_rubric_evaluation', "View Rubric Evaluation" %></a>
    <% end %>
    <% if @assignment.has_peer_reviews? && @current_user_submission.user == @current_user %>
      <br/><b><%= t 'titles.assigned_peer_reviews', "Assigned Peer Reviews" %></b>
      <ul class="unstyled_list" style="margin: 5px 10px 10px;">
        <li style="<%= hidden unless @current_user_submission.assigned_assessments.empty? %>"><%= t 'labels.none_assigned', "None Assigned" %></li>
        <% @current_user_submission.assigned_assessments.each do |assessment| %>
          <li><a <%= assessment.completed? ? "class='pass' title='#{h(t('tooltips.finished', "finished"))}'" : "class='warning' title='#{h(t('tooltips.incomplete', "incomplete"))}'" %> href="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, assessment.asset.user_id) %> ">
            <%= assessment.asset_user_name %>
          </a></li>
        <% end %>
      </ul>
    <% end %>
    <div style="font-size: 11px; padding-top: 10px; max-height: 300px; overflow: auto;"><b><%= t 'titles.comments', "Comments:" %> </b>
      <% visible_comments = @current_user_submission.visible_submission_comments -%>
      <%= t('messages.no_comments', "No Comments") if visible_comments.empty? %>
      <% visible_comments.each do |comment| %>
        <div style="margin-left: 10px;">
          <%= comment.comment %>
          <div class="comment_attachments">
            <% comment.attachments.each do |attachment| %>
              <div class="comment_attachment">
                <a href="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, @current_user_submission.user_id, :comment_id => comment.id, :download => attachment.id) %>" class="comment_attachment_link <%= attachment.mime_class %>"><%= attachment.display_name %></a>
              </div>
            <% end %>
          </div>
          <div style="font-size: 0.8em; text-align: right; color: #888;">
            <%= t :comment_signature, "%{author}, %{created_at}", :author => comment.author_name, :created_at => datetime_string(comment.created_at) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% if @assignment.expects_submission? && can_do(@assignment, @current_user, :submit) %>
  <ul class="page-action-list">
    <li>
      <% late = @current_user_submission && @current_user_submission.late? ? 'late' : '' %>
      <% submit_text = @current_user_submission.has_submission? ? t('links.resubmit', "Re-submit Assignment") : t('links.submit', "Submit Assignment") %>
      <a href="#" class="submit_assignment_link resubmit_link <%= late %>">
        <i class='icon-add'></i> <%= submit_text %>
      </a>
    </li>
  </ul>
<% end %>
