<% 
  events = syllabus_row 
  date ||= nil
  date_passed ||= false
%>
<tr class="date <%= "date_passed" if date_passed %> <%= date.strftime("events_%m_%d_%Y") if date %>">
  <th scope='row' title="<%= date_string(date) if date %>" data-date="<%= date.strftime("%m/%d/%Y") if date %>" class="day_date"><%= date_string(date, :no_words) if date %></th>
  <td><%= date ? date.strftime("%a") : t('syllabus.other_day', "Other") %></td>
  <td class="details">
    <table class="detail_list">
    <% events.each_index do |idx|
      e = events[idx]
    %>
      <% event_type = e.class.to_s == "Assignment" ? "assignment" : "event" %>
      <tr class="syllabus_<%= event_type %>">
        <td class="name <%= "not_last" unless idx == events.length - 1 %>">
          <% if e.is_a?(Assignment) %>
            <a href="<%= context_url(@context, :context_assignment_url, e) %>"><%= e.title %></a>
          <% elsif e.is_a?(AppointmentGroup) %>
            <a href="<%= appointment_group_url(e.id) %>"><%= e.title %></a>
          <% else %>
            <a href="<%= calendar_url_for(e.effective_context, :event => e) %>"><%= e.title %></a>
          <% end %>
        </td>
        <td class="dates <%= "not_last" unless idx == events.length - 1 %>">
          <% if e.start_at %>
            <% is_assignment = e.respond_to?(:due_at)
            if is_assignment %>
              due by
              <%= time_string(e.due_at) %>
            <% else %>
              <%= time_string(e.start_at) %>
              <% if e.end_at != e.start_at %>
                to
                <% if e.end_at.to_date == date %>
                  <%= time_string(e.end_at) %>            
                <% else %>
                  <%= date_string(e.end_at) %> at
                  <%= time_string(e.end_at) %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>
