<% if @assignment.title.nil? %>
  <% content_for :page_title, t("Create Assignment") %>
<% else %>
  <% content_for :page_title, t("Edit Assignment") %>
<% end %>
<% content_for :right_side do %>
  <%= render "shared/wiki_sidebar" %>
<% end %>

<%
  css_bundle :assignments, :assignments_edit, :tinymce
  js_bundle :assignment_edit
%>

<% if @assignment.omit_from_final_grade %>
  <div class="alert alert-info omit-from-final-warning">
    <%= t("This assignment does not count toward the final grade.") %>
  </div>
<% end %>

<% if ConditionalRelease::Service.enabled_in_context?(@context) %>
<div id="edit_assignment_header-cr" class="header-bar"></div>
<% else %>
<div id="edit_assignment_header" class="header-bar"></div>
<% end %>

<%= render "groups/add_group_category" %>
<%= render "shared/select_content_dialog", :only => [:external_tools], lti_app_placements: [Lti::ResourcePlacement::ASSIGNMENT_SELECTION, Lti::ResourcePlacement::RESOURCE_SELECTION] %>
<div id="edit_letter_grades_form" style="display: none;">
  <%= render partial: "shared/grading_standard", object: @assignment.grading_standard, locals: {read_only: false} %>
  <a href="<%= context_url(@context, :context_grading_standards_url) %>" style="display: none;" class="create_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_grading_standard_url, "{{ id }}") %>" style="display: none;" id="update_grading_standard_url">&nbsp;</a>
</div>
