<% if @assignment.title.nil? %>
  <% content_for :page_title, t("Create Assignment") %>
<% else %>
  <% content_for :page_title, t("Edit Assignment") %>
<% end %>
<% content_for :right_side do %>
  <%= render "shared/wiki_sidebar" %>
<% end %>

<%
  css_bundle :assignments, :assignments_edit, :tinymce
  js_bundle :assignment_edit
%>

<script>
  function BZAssignmentEditPostProcess() {
    <% if @assignment.clone_of_id %>
      var a = document.getElementById("assignment_submission_type");
      a.setAttribute("readonly", "readonly");
      a = document.getElementById("assignment_description");
      a.setAttribute("readonly", "readonly");
      return false; // skip description editor initialization
    <% end %>

    return true; // continue normally
  }
</script>

<% if @assignment.clone_of_id %>
  <div style="text-align: center; font-weight: bold; margin-top: 4em; ">
    This assignment is <a href="/courses/<%=CONTENT_BANK%>/assignments/<%= @assignment.clone_of_id %>/edit">linked from the content library</a>.
    <br />
    <br />
    The description and submission type is copied from there, but you can edit other fields.


    <div>
    <button type="button" onclick="
      var http = new XMLHttpRequest();
      http.open('PUT', '/api/v1/courses/<%=@context.id%>/assignments/<%=@assignment.id%>', true);
      var data = 'assignment[clone_of_id]=&authenticity_token=' + encodeURIComponent(BZ_AuthToken);
      http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      http.onload = function() { location.reload(); };
      http.send(data);
    ">Detach and edit independently</button>
    </div>
  </div>
<% end %>

<% if ConditionalRelease::Service.enabled_in_context?(@context) %>
<div id="edit_assignment_header-cr" class="header-bar"></div>
<% else %>
<div id="edit_assignment_header" class="header-bar"></div>
<div id="edit_assignment_wrapper">
  <form id="edit_assignment_form" class="form-horizontal bootstrap-form">
  </form>
</div>
<% end %>

<%= render "groups/add_group_category" %>
<%= render "shared/select_content_dialog", :only => [:external_tools], lti_app_placements: [Lti::ResourcePlacement::ASSIGNMENT_SELECTION, Lti::ResourcePlacement::RESOURCE_SELECTION] %>
<div id="edit_letter_grades_form" style="display: none;">
  <%= render partial: "shared/grading_standard", object: @assignment.grading_standard, locals: {read_only: false} %>
  <a href="<%= context_url(@context, :context_grading_standards_url) %>" style="display: none;" class="create_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_grading_standard_url, "{{ id }}") %>" style="display: none;" id="update_grading_standard_url">&nbsp;</a>
</div>

