<% content_for :page_title do %><%= join_title @context.name, t(:page_title, "Assignments") %><% end %>
<% js_bundle :assignments %>

<% content_for :right_side do %>
  <div class="rs-margin-all">
    <a href="#" class="wizard_popup_link <%= 'auto_open' if params[:wizard] %> help"> <%= t 'links.wizard', "How Do I...?" %></a>
    <%= render :partial => 'assignments/assignments_right_side' %>
  </div>
<% end %>

<%= render :partial => 'assignments/assignments_content' %>

<% content_for :wizard_box do %>
  <%= render :partial => "assignments/wizard_box" %>
<% end %>

<% content_for :keyboard_navigation do %>
  <ul class="navigation_list" tabindex="-1">
    <li>
      <span class="keycode"><%= t 'keycodes.next_assignment_or_group', 'j' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.next_assignment_or_group', "Next Assignment/Group" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.previous_assignment_or_group', 'k' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.previous_assignment_or_group', "Previous Assignment/Group" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.edit_assignment_or_group', 'e' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.edit_assignment_or_group', "Edit Current Assignment/Group" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.delete_assignment_or_group', 'd' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.delete_assignment_or_group', "Delete Current Assignment/Group"%></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.add_assignment_or_group', 'a' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.add_assignment_or_group', "Add Assignment to Current Group" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.full_preview', 'f' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.full_preview', "Full Preview/Edit Assignment" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.close_active_dialog', 'esc' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.close_active_dialog', "Close the active dialog" %></span>
    </li>
  </ul>
<% end %>

<% if @context.try_rescue(:module_based?) && !can_do(@context, @current_user, :manage_content) %>
  <a href="<%= context_url(@context, :context_locks_url) %>" id="assignment_locks_url" style="display: none;">&nbsp;</a>
  <%= image_tag "lock.png", :style => "display: none;", :id => "assignment_lock_icon", :title => t(:assignment_locked, "This assignment is currently locked.  Visit the assignment details page for more information."), :alt => t(:assignment_locked_tooltip, "locked") %>
<% end %>
