<% content_for :page_title do %><%= join_title @context.name, @assignment.title, t(:page_title, "Peer Reviews") %><% end %>

<% content_for :right_side do %>
  <a href="<%= context_url(@context, :context_assignment_url, @assignment.id) %>" class='btn button-sidebar-wide'>
    <i class="icon-arrow-left"></i>
    <%= t 'links.back_to_assignment', "Back to Assignment" %>
  </a>
  <p><%= t :details, "To the left you can see the list of students for this assignment, and also
  which student submissions (if any) they have been assigned to review." %></p>
  <% unless @submissions.empty? %>
    <%= form_tag context_url(@context, :context_assignment_assign_peer_reviews_url, @assignment.id), {} do %>
      <h3 style="margin-bottom: 0;"><%= t 'titles.automatically_assign_reviews', "Automatically Assign Reviews" %></h3>
      <p><%= t 'descriptions.automatically_assign_reviews', "You can assign peer reviews to those users who have submitted but don't already have
      reviews assigned by clicking the button below." %></p>
      <% if @assignment.group_category %>
        <div>
          <%= check_box_tag "intra_group_peer_reviews", "1", @assignment.intra_group_peer_reviews %>
          <label for="intra_group_peer_reviews"><%= t("Allow intra-group peer reviews") %></label>
        </div>
      <% end %>
      <%= t :reviews_per_user, "%{count} reviews per user", :count => %{<input type="text" name="peer_review_count" value="#{@assignment.peer_review_count || 1}" style="width: 25px;"/>}.html_safe %>
      <div class='button-container button-container-right-aligned'>
        <button type="submit" class="btn btn-large"><%= t 'buttons.assign_peer_reviews', "Assign Peer Reviews" %></button>
      </div>
    <% end %>
  <% end %>
<% end %>
<% js_bundle 'legacy/assignments_peer_reviews' %>
<% content_for :stylesheets do %>
<style>
.peer_review {
  padding: 2px 5px;
}
.peer_review.submission-hover {
  background-color: #eee;
  -moz-border-radius: 3px;
}
.peer_review .review_links {
  display: none;
}
.peer_review.submission-hover .review_links {
  display: inline;
}
.student_reviews .person_gray {
  padding-left: 20px;
  background: url(/images/grading_icon_gray.png) no-repeat left center;
  color: #888;
}
.student_reviews .person {
  padding-left: 20px;
  background: url(/images/grading_icon.png) no-repeat left center;
}
</style>
<% end %>
<h1><%= t :title, "%{assignment} Peer Reviews", :assignment => @assignment.title %></h1>
  <% if @assignment.rubric_association %>
    <%= t :overview_with_rubric, "Student peer reviews will be considered complete when students have commented
      at least once on the page and filled out the rubric form for the assignment." %>
  <% else %>
    <%= t :overview, "Student peer reviews will be considered complete when students have commented
      at least once on the page." %>
  <% end %>
<ul class="unstyled_list" style="margin-left: 20px;">
  <li style="<%= hidden unless @students.empty? %>" class="no_students_message"><%= t 'messages.no_students_found', "No Students Found" %></li>
  <% @students.each do |student| %>
    <% submission = @submissions.to_a.find{|s| s.user_id == student.id} %>
    <li style="font-size: 1.2em; margin-bottom: 10px;" class="student_reviews">
      <a <%= submission && submission.has_submission? ? "class='person' title='#{h(t(:submitted, "submitted"))}'" : "class='person_gray' title='#{h(t(:not_yet_submitted, "not yet submitted"))}'" %> href="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, student.id) %>">
        <span class="assessor_name"><%= student.last_name_first %></span>
        <span class="user_id student_review_id" style="display: none;"><%= student.id %></span>
      </a>
      <ul class="unstyled_list peer_reviews" style="padding-left: 30px; font-size: 0.8em; width: 50%;">
        <li class="peer_review no_requests_message" style="<%= hidden unless !submission || submission.assigned_assessments.empty? %>"><%= t :none_assigned, "None Assigned" %></li>
        <% if submission %>
        <% Canvas::ICU.collate_by(submission.assigned_assessments) {|r| r.asset.user.sortable_name }.each do |request| %>
          <% if (request && request.asset && request.asset.user) %>
            <%= render :partial => 'peer_review_assignment', :locals => {:request => request} %>
          <% end %>
        <% end %>
        <% end %>
      </ul>
      <div style="margin-left: 25px; font-size: 0.7em;" class="assign_box">
        <a href="#" style="color: #888;" class="assign_peer_review_link add-small"><%= t 'links.assign_peer_review', "Give %{student} another submission to assess", :student => student.name %></a>
        <div class="form_content">
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= form_tag ".", {:id => "assign_peer_review_form", :style => "display: none;"} do %>
  <select name="reviewee_id">
    <option value=""><%= t 'options.select_student', "[ Select Student ]" %></option>
    <% @students.each do |student| %>
      <option value="<%= student.id %>" class="student_<%= student.id %>"><%= student.last_name_first %></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-small"><%= t 'buttons.add', 'Add' %></button>
<% end %>
<a href="<%= context_url(@context, :context_assignment_assign_peer_review_url, @assignment.id, '{{ reviewer_id }}') %>" style="display: none;" class="assign_peer_review_url">&nbsp;</a>
<ul style="display: none;">
<%= render :partial => 'peer_review_assignment', :locals => {:request => nil} %>
</ul>
