<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="Refresh" content="0; url=<%= @submission.url %>">
  <title><%= before_label @assignment.title %> <%= @submission.user.name %></title>
</head>
<body>
<h1><%= before_label @assignment.title %> <%= @submission.user.name %></h1>
<%= mt :redirect_message,
"This submission was a url, we're taking you to the url link now.  \n" +
"[Click Here to go to the submission](%{url})", :url => @submission.url %>
</body>
</html>