<% content_for :page_title do %><%= @assignment.new_record? ? t(:new_assignment, "New Assignment") : @assignment.title %>: <%= @context.name %><% end %>
<% content_for :right_side do %>
    <%= render :partial => "assignment_sidebar" %>
    <%= render :partial => "shared/wiki_sidebar" %>
<% end %>
<% js_block do %>
<script>
require([
  'INST' /* INST */,
  'jquery' /* $ */,
  'find_outcome',
  'jquery.instructure_forms' /* getFormData, formErrors */
], function(INST, $) {

window.limitToOneRubric = true;

$(document).ready(function() {
  $(".upload_submissions_link").click(function(event) {
    event.preventDefault();
    $("#re_upload_submissions_form").slideToggle();
  });
  $(".download_submissions_link").click(function(event) {
    event.preventDefault();
    INST.downloadSubmissions($(this).attr('href'));
    $(".upload_submissions_link").slideDown();
  });
  $("#re_upload_submissions_form").submit(function(event) {
    var data = $(this).getFormData();
    if(!data.submissions_zip) {
      event.preventDefault();
      event.stopPropagation();
    } else if(!data.submissions_zip.match(/\.zip$/)) {
      event.preventDefault();
      event.stopPropagation();
      $(this).formErrors({
        submissions_zip: <%= t('errors.upload_as_zip', "Please upload files as a .zip").to_json.html_safe %>
      });
    }
  });
  $("#edit_assignment_form").bind('assignment_updated', function(event, data) {
    if(data.assignment && data.assignment.peer_reviews) {
      $(".assignment_peer_reviews_link").slideDown();
    } else {
      $(".assignment_peer_reviews_link").slideUp();
    }
  });
});
});
</script>
<% end %>
<% content_for :stylesheets do %>
<style>
.time_slot {
  float: left;
  font-family: courier,monospace;
  padding: 0px 0.2em;
  margin-right: 1px;
  margin-top: 1px;
  cursor: pointer;
}
</style>
<% end %>
<% if @context.claimed? && params[:getting_started] %>
  <a href="<%= getting_started_assignments_url %>" class="back" style="font-size: 1.2em;"><%= t 'links.back_to_getting_started', "Back to Getting Started Wizard"%></a>
<% end %>
<% unless @assignment.new_record? %>
  <% if can_do(@assignment, @current_user, :update) %>
    <a href="<%= context_url(@context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;">&nbsp;</a>
  <% end %>
<% end %>
<% if @locked && !@locked[:due_at] %>
  <h2><%= @assignment.title %></h2>
  <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'assignment', @context) : t(:assignment_locked, "This assignment is currently locked.") %>
<% else %>
  <%= render :partial => "shared/full_assignment", :object => @assignment %>
<% end %>
<% if can_do(@assignment, @current_user, :submit) && !@locked %>
  <%= render :partial => "submit_assignment" %>
<% end %>

<% js_bundle :edit_rubric if can_do(@assignment, @current_user, :update) %>

<% unless @assignment.new_record? %>
  <div id="rubrics" style="margin-bottom: 10px;">
    <% if @assignment.rubric_association && @assignment.rubric_association.rubric %>
      <%= render :partial => "shared/rubric", :object => @assignment.rubric_association.rubric, :locals => {:association => @assignment, :rubric_association => @assignment.rubric_association, :editable => can_do(@assignment, @current_user, :update), :has_assessments => !@assignment.rubric_association.rubric_assessments.empty?, :edit_view => can_do(@assignment, @current_user, :update) } %>
    <% end %>
    <div style="display: none;" id="rubric_parameters">
      <input type="hidden" name="rubric_association[association_type]" value="Assignment"/>
      <input type="hidden" name="rubric_association[association_id]" value="<%= @assignment.id %>"/>
      <input type="hidden" name="rubric_association[purpose]" value="grading"/>
    </div>
    <% if can_do(@assignment, @current_user, :update) %>
      <%= render :partial => "shared/rubric_dialog", :locals => {:assignment => @assignment, :rubric => @assignment.rubric_association && @assignment.rubric_association.rubric} %>
    <% end %>
    <%= render :partial => "shared/rubric_criterion_dialog" %>
  </div>
  <%= render :partial => "shared/find_outcome" %>
  <%= render :partial => "shared/rubric", :object => nil, :locals => {:association => @assignment, :editable => can_do(@assignment, @current_user, :update), :has_assessments => false, :edit_view => true} %>
  <% if can_do(@assignment, @current_user, :update) %>
    <div style="text-align: center; font-size: 1.2em; margin-top: 10px; display: none;">
      <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_link rubric" style="<%= hidden if @assignment.rubric_association %>"><%= t 'links.assign_rubric', 'Assign Rubric' %></a>
    </div>
    <%= render :partial => "shared/rubric_forms" %>
  <% end %>
  <%= render :partial => "shared/aligned_outcomes", :locals => {:asset => @assignment} %>
  <%= render :partial => "shared/sequence_footer", :locals => {:asset => @assignment} if !@assignment.context_module_tags.empty? %>
<% end %>
