<%
  content_for :page_title, @assignment.new_record? ? t(:new_assignment, "New Assignment") : @assignment.title
  content_for :right_side, render(:partial => "assignment_sidebar")
%>

<% if @locked && !@locked[:due_at] %>
  <% js_bundle :module_sequence_footer %>
    
  <h1><%= @assignment.title %></h1>
  <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'assignment', @context) : t(:assignment_locked, "This assignment is currently locked.") %>

<% else %>

<%
  jammit_css :assignments
  js_bundle :assignment_show
%>

<div id="assignment_show" class="assignment content_underline_links">
  <% if can_do(@assignment, @current_user, :update) %>
    <div class='assignment-title'>
      <div class='title-content'>
        <h1 class="title">
          <%= @assignment.title %>
        </h1>
      </div>
      <div class='edit-content'>
        <% if @context.feature_enabled?(:draft_state) %>
          <button
            id="assignment_publish_button"
            data-id='<%= @assignment.id %>'
            class='btn <%= "published" if @assignment.published? %> <%= "disabled" if @assignment.has_student_submissions? %>'>
          </button>
        <% end %>
        <a href="<%= edit_polymorphic_path([@context, @assignment]) %>" class='btn edit_assignment_link'>
          <i class='icon-edit'></i> <%= t('links.edit', 'Edit') %>
        </a>

        <% if @assignment_menu_tools.present? %>
          <a class="al-trigger btn" role="button" aria-haspopup="true" aria-owns="toolbar-1" href="#">
            <i class="icon-settings"></i>
            <i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only"><%= t('manage', 'Manage') %></span>
          </a>
          <ul id="toolbar-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false">
          <% @assignment_menu_tools.each do |tool_hash| %>
            <li role="presentation">
              <a class="menu_tool_link" href="<%= tool_hash[:base_url] %>&assignments[]=<%= @assignment.id %>" tabindex="-1" role="menuitem">
                <% if tool_hash[:icon_url] %><img class="icon" src="<%= tool_hash[:icon_url] %>" /><% end %>
                <%= tool_hash[:title] %>
              </a>
            </li>
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <% else %>
    <!--Student View-->
    <h1 class="title">
      <%= @assignment.title %>
    </h1>
    <ul class='student-assignment-overview'>
      <li>
        <span class='title'><%= t :due_at, 'Due' %></span>
        <span class='value'>
          <span class="date_text">
            <% if @assignment.multiple_due_dates? %>
              <%= multiple_due_date_tooltip(@assignment, @current_user) %>
            <% elsif @assignment.due_at %>
              <% ot(:date_time_by, "%{date} by %{time}", :date => capture { %>
                <span class="display_date"><%= date_string(@assignment.due_at) rescue '' %></span><% }, :time => capture { %>
                <span class="display_time"><%= time_string(@assignment.due_at) rescue '' %></span><% }) %>
            <% else %>
              <%= t :no_due_date, 'No Due Date' %>
            <% end %>
          </span>
        </span>
      </li>
      <li>
        <span class='title'><%= t :points, 'Points' %></span>
        <span class='value'><%= @assignment.points_possible || t(:no_points, 'None') %></span>
      </li>
      <% if @assignment.expects_submission? || @assignment.expects_external_submission? %>
        <% turnitin_text = @assignment.turnitin_enabled? ? ' ' + t(:turnitin_enabled_short, '(Turnitin enabled)') : '' %>
        <li>
          <span class='title'><%= t :submitting, 'Submitting' %></span>
          <span class='value'><%= @assignment.readable_submission_types + turnitin_text %></span>
        </li>
        <% if @assignment.submission_types =~ /online_upload/ && !@assignment.allowed_extensions.blank? -%>
          <li>
            <span class='title'><%= t :submission_types, 'File Types' %></span>
            <span class='value'><%= @assignment.allowed_extensions.to_sentence %></span>
          </li>
        <% end %>
      <% end %>
      <div class="clear"></div>
    </ul>
  <% end %>

  <div class="clear"></div>

  <% if @locked %>
    <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'assignment', @context) : t('messages.locked', "This assignment is currently locked.") %>
  <% end %>

  <div class="clear"></div>

  <% description = !@assignment.description.blank? ? user_content(@assignment.description) : t('defaults.no_content', "No Content") %>
  <div class="description user_content <%= can_do(@assignment, @current_user, :update) ? "teacher-version" : "student-version" %>"><%= description %></div>

  <% if can_do(@assignment, @current_user, :update) %>
    <!--Teacher view-->

    <form class="form-horizontal bootstrap-form display-only" style="margin-top:18px;">
      <fieldset>
        <div class="control-group">
          <label class="control-label"><%= t(:points, 'Points') %></label>
          <div class="controls">
            <span class="value points_possible"><%= @assignment.points_possible || t(:no_points, 'None') %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><%= t :submitting, 'Submitting' %></label>
          <div class="controls">
            <span class="value"><%= @assignment.readable_submission_types || t(:no_submission, 'Nothing') %></span>
          </div>
        </div>
        <% if @assignment.submission_types =~ /online_upload/ && !@assignment.allowed_extensions.blank? -%>
          <div class="control-group">
            <label class="control-label"><%= t :submission_types, 'File Types' %></label>
            <div class="controls">
              <span class="value"><%= @assignment.allowed_extensions.to_sentence %></span>
            </div>
          </div>
        <% end -%>
        <% if @assignment.turnitin_enabled %>
          <div class="control-group">
            <label class="control-label"><%= t :turnitin, 'Turnitin' %></label>
            <div class="controls">
              <span class="value"><%= t :turnitin_enabled, 'Turnitin has been enabled for this assignment.' %></span>
            </div>
          </div>
        <% end %>
      </fieldset>
    </form>

    <table class="table assignment_dates">
      <thead>
        <tr>
          <th scope="col"><%= t(:due, 'Due') %></th>
          <th scope="col"><%= t(:for, 'For') %></th>
          <th scope="col"><%= t(:available_from, 'Available from') %></th>
          <th scope="col"><%= t(:until, 'Until') %></th>
        </tr>
      </thead>

      <%= render 'shared/override_list', :assignment => @assignment,
        :user => @current_user %>

    </table>

    <% if can_do(@assignment, @current_user, :update) %>
      <a
        href="<%= context_url(@context, :context_rubrics_url) %>"
        class="add_rubric_link btn button-sidebar-wide icon-add"
        style="<%= hidden if @assignment.rubric_association %>"
        role="button"
      ><%= t 'links.add_rubric', "Add Rubric" %></a>
    <% end %>

    <div class="course_id" style="display: none;"><%= @context.id if @context && @context.is_a?(Course) %></div>

  <% end %>

  <div style="display: none;">
    <span class="timestamp"><%= @assignment.due_at.to_i %></span>
    <span class="due_date_string"><%= @assignment.due_at.strftime("%m/%d/%Y") rescue "" %></span>
    <span class="due_time_string"><%= @assignment.due_at.strftime("%I:%M%p").downcase rescue "" %></span>
  </div>
</div>

<% end %>

<% if can_do(@assignment, @current_user, :submit) && !@locked %>
  <%= render :partial => "submit_assignment" %>
<% end %>

<% js_bundle :edit_rubric %>
<% jammit_css :learning_outcomes %>

<% if can_do(@assignment, @current_user, :update) %>
  <%# HACK! this is here because edit_rubric.js expects there to be a #add_rubric_url on the page and sets it's <form action="..."> to it %>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;"></a>
<% end %>

<div id="rubrics" style="margin-bottom: 10px;">
  <% if @assignment.rubric_association && @assignment.rubric_association.rubric %>
    <%= render :partial => "shared/rubric", :object => @assignment.rubric_association.rubric, :locals => {:association => @assignment, :rubric_association => @assignment.rubric_association, :editable => can_do(@assignment, @current_user, :update), :has_assessments => !@assignment.rubric_association.rubric_assessments.empty?, :edit_view => can_do(@assignment, @current_user, :update) } %>
  <% end %>
  <div style="display: none;" id="rubric_parameters">
    <input type="hidden" name="rubric_association[association_type]" value="Assignment"/>
    <input type="hidden" name="rubric_association[association_id]" value="<%= @assignment.id %>"/>
    <input type="hidden" name="rubric_association[purpose]" value="grading"/>
  </div>
  <% if can_do(@assignment, @current_user, :update) %>
    <%= render :partial => "shared/rubric_dialog", :locals => {:assignment => @assignment, :rubric => @assignment.rubric_association && @assignment.rubric_association.rubric} %>
  <% end %>
  <%= render :partial => "shared/rubric_criterion_dialog" %>
</div>
<%= render :partial => "shared/rubric", :object => nil, :locals => {:association => @assignment, :editable => can_do(@assignment, @current_user, :update), :has_assessments => false, :edit_view => true} %>
<% if can_do(@assignment, @current_user, :update) %>
  <div style="text-align: center; font-size: 1.2em; margin-top: 10px; display: none;">
    <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_link rubric" style="<%= hidden if @assignment.rubric_association %>"><%= t 'links.assign_rubric', 'Assign Rubric' %></a>
  </div>
  <%= render :partial => "shared/rubric_forms" %>
<% end %>
<%= render :partial => "shared/sequence_footer", :locals => {:asset => @assignment} if !@assignment.context_module_tags.empty? %>
