<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= before_label @assignment.title %> <%= @submission.user.name %></title>
</head>
<body>
<h1><%= before_label @assignment.title %> <%= @submission.user.name %></h1>
<div style="width: 600px; margin: 20px auto; border: 1px solid #888; padding: 20px;">
  <%= @submission.body %>
</div>
</body>
</html>