<div class="modules-toolbar">
  <div class="pull-right">
    <a href="#" class="btn preview-modules-button invisible" {{action 'togglePreview'}}>
      {{#if editable}}
        Preview
      {{else}}
        Exit preview
      {{/if}}
    </a>
    {{#linkTo 'modules.add' class="btn btn-primary add-module-button"}}
      <i class="icon-plus"></i> Module
    {{/linkTo}}
    <a href="#" class="btn modules-settings-button">
      <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
    </a>
  </div>
  {{view Ember.TextField class="invisible" valueBinding="searchQuery" type="search" placeholder="Search for module or item inside module"}}
</div>

<div class="item-group-container sortable-modules">
  {{#each module in model}}
    {{render "module" module}}
  {{/each}}
</div>

{{#if model.loading}}
  <div>
    {{instructure-spinner}}
  </div>
{{/if}}

{{outlet}}