{{#if this}}
  {{#if avatar_image_url}}
    <a
      {{#if html_url}} href="{{html_url}}" {{/if}}
      class="avatar"
      {{#if display_name}} title="{{display_name}}" {{/if}}
      data-user-id="{{id}}"
    ><img
      src="{{avatar_image_url}}"
      alt="{{display_name}}"
      {{! TODO: get rid of this when we have some kind of standard avatar styling }}
      style="max-width: 50px"
    ></a>
  {{/if}}
{{/if}}
