{{!-- same markup as ApplicationHelper#avatar, essensially --}}
{{#if this}}
  {{#ifAny avatar_url avatar_image_url}}
    {{#if alreadyEscaped}}
      <a
        {{#ifAny url html_url}}href="{{{or url html_url}}}"{{/ifAny}}
        class="avatar{{#if is_online}} online-now{{/if}}"
        style="background-image: url({{{or avatar_url avatar_image_url}}})">
        <span class="screenreader-only">{{{or display_name short_name}}}{{#if is_online}} (online now){{/if}}</span></a>
    {{else}}
      <a
        {{#ifAny url html_url}}href="{{or url html_url}}"{{/ifAny}}
        class="avatar{{#if is_online}} online-now{{/if}}"
        style="background-image: url({{or avatar_url avatar_image_url}})"
        ><span class="screenreader-only">{{or display_name short_name}}{{#if is_online}} (online now){{/if}}</span></a>
    {{/if}}
  {{/ifAny}}
{{/if}}
