{{#if assignment_grading_type_is_points}}
  <input  name="{{inputName}}"
          value="{{ grade }}"
          class="grading_value grading_box"
          id="student_grading_{{assignment.id}}"
          aria-labelledby="default_grade_points"
          aria-describedby="default_grade_description"
          {{ disabledIf isInPastGradingPeriodAndNotAdmin }}
          />
{{/if}}
{{#if assignment_grading_type_is_percent}}
  <span name="{{inputName}}" class="grading_box" id="student_grading_{{assignment.id}}">
    <input  name="{{inputName}}"
            type="text"
            name="grade"
            value="{{ grade }}"
            class="grading_value"
            aria-labelledby="default_grade_points"
            aria-describedby="default_grade_description"
            {{ disabledIf isInPastGradingPeriodAndNotAdmin }}
            />
  </span>
{{/if}}
{{#if assignment_grading_type_is_letter_grade}}
  <input  name="{{inputName}}"
          type="text"
          value="{{ grade }}"
          class="grading_value grading_box score_value"
          id="student_grading_{{assignment.id}}"
          aria-labelledby="default_grade_points"
          aria-describedby="default_grade_description"
          {{ disabledIf isInPastGradingPeriodAndNotAdmin }}
          />
{{/if}}
{{#if assignment_grading_type_is_gpa_scale}}
  <input  name="{{inputName}}"
          type="text"
          value="{{ grade }}"
          class="grading_value grading_box score_value"
          id="student_grading_{{assignment.id}}"
          aria-labelledby="default_grade_points"
          aria-describedby="default_grade_description"
          {{ disabledIf isInPastGradingPeriodAndNotAdmin }}
          />
{{/if}}
{{#if assignment_grading_type_is_pass_fail}}
  <select name="{{inputName}}"
          class="grading_value grading_box pass_fail"
          id="student_grading_{{assignment.id}}"
          {{ disabledIf isInPastGradingPeriodAndNotAdmin }}
          >
    <option value="">---</option>
    <option value="complete" {{selectedIf grade "complete"}}>{{#t "#gradebooks.grades.complete"}}Complete{{/t}}</option>
    <option value="incomplete" {{selectedIf grade "incomplete"}}>{{#t "#gradebooks.grades.incomplete"}}Incomplete{{/t}}</option>
    {{#if shouldShowExcusedOption}}
      <option value="EX" {{#if excused}}selected{{/if}}>{{#t}}Excused{{/t}}</option>
    {{/if}}
  </select>
{{/if}}

{{#if showPointsPossible}}
  <label>
    <span id="default_grade_points" style="font-size: 0.9em;" >
      {{#t}}
        out of {{n assignment.points_possible}}
      {{/t}}
    </span>
  </label>
{{/if}}
