<span class="turnitin_score_container_caret {{state}}"></span>
<a class="turnitin_similarity_score {{state}}" href="{{reportUrl}}" title="{{tooltip}}" target="_blank">
  {{#if icon}}
    <img src="{{icon}}"></img>
  {{else}}
    {{#ifEqual draft "true"}}
      <i class="icon-edit" title="{{drafttooltip}}" style="border: 1px solid; height: 1.4em;"></i>
    {{/ifEqual}}
    {{score}}
  {{/if}}
</a>
