<span class="vericite_score_container_caret {{state}}"></span>
<a class="turnitin_similarity_score {{state}}" href="{{reportUrl}}" title="{{tooltip}}" target="_blank">
  {{#if icon}}
    <img src="{{icon}}"></img>
  {{else}}
    {{score}}
  {{/if}}
</a>
