<div id="assignment-details-dialog" title="{{#t "grading_statistics_for_assignment"}}Grade statistics for: {{assignment.name}}{{/t}}">
  {{#if showDistribution}}
    <div class="distribution" style="display: block; ">
      <div class="bar-left"></div>
      <div class="none-left" title="{{#t "no_one_scored_lower"}}No one scored lower than {{min}}{{/t}}" style="width: {{noneLeftWidth}}%; left: {{noneLeftLeft}}%; "></div>
      <div class="some-left" title="{{#t "scores_lower_than_the_average"}}Scores lower than the average of {{average}}{{/t}}" style="width: {{someLeftWidth}}%; left: {{someLeftLeft}}%; "></div>
      <div class="some-right" title="{{#t "scores_higher_than_the_average"}}Scores higher than the average of {{average}}{{/t}}" style="width: {{someRightWidth}}%; left: {{someRightLeft}}%; "></div>
      <div class="none-right" title="{{#t "no_one_scored_higher"}}No one scored higher than {{max}}{{/t}}" style="width: {{noneRightWidth}}%; left: {{noneRightLeft}}%; "></div>
      <div class="bar-right"></div>
    </div>
  {{/if}}
  <table id="assignment-details-dialog-stats-table">
    <tr>
      <th scope="row">{{#t "average_score"}}Average Score:{{/t}}</th>
      <td>{{average}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "high_score"}}High Score:{{/t}}</th>
      <td>{{max}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "low_score"}}Low Score:{{/t}}</th>
      <td>{{min}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "total_graded_submissions"}}Total Graded Submissions:{{/t}}</th>
      <td>{{#t "count_of_submissions"}}{{cnt}} submissions{{/t}}</td>
    </tr>
  </table>
</div>
