<div class="CommentsView">
  <h3>
    {{#if entries.length}}
      {{entries.length}} Comments
    {{else}}
      No Comments
    {{/if}}
  </h3>
  <hr>
  {{#each entries}}
    <div class="image-block comment">
      <div class="image-block-image">
        {{>avatar author}}
      </div>
      <div class="image-block-content">
        {{#if canDelete}}<a href="#" data-delete-comment="{{id}}" class="close">&times;</a>{{/if}}
        <h5><a href="{{author.html_url}}">{{author.display_name}}</a> said:</h4>
        <div class="not-important">{{friendlyDatetime created_at pubdate=true}}</div>
        <p>{{{message}}}</p>
      </div>
    </div>
  {{/each}}
  <div class="image-block">
    <div class="image-block-image">
      {{>avatar currentUser}}
    </div>
    <div class="image-block-content">
      <form>
        <textarea name="message" placeholder="Add a comment..."></textarea>
        <div>
          <button class="btn btn-small" type="submit">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
