<li>
  <a
      href="#"
      class="thumbnail flickrImageResult"
      data-fullsize="{{fullsize}}"
      title="{{title}}"
      data-linkto="{{source}}">
    <img src="{{thumb}}" alt="{{title}}" width="75" height="75" />
  </a>
</li>
