<label for="move_select_{{cid}}">{{labelText}}</label>
<select 
  id="move_select_{{cid}}" 
  {{#unless lastList}}
  class="move_select_parent_collection"
  {{/unless}}
  >
  {{#each items}}
    <option
      {{#unless ../lastList}}
        {{selectedIf ../../assignmentGroupId id}}
      {{/unless}}
      value="{{id}}"
    >
      {{name}}
    </option>
  {{/each}}
  {{#if lastList}}
    <option value="last">{{#t 'move_to_end'}}-- At the bottom --{{/t}}</option>
  {{/if}}
</select>

