<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= title %></title>
  <!-- embedded styling will be inserted here -->
</head>
  <body>
    <h1 id="<%="#{title}_TOC"%>"><%="#{title} List"%></h1>
    <ol>
    <% content.each do |item| %>
      <li><a href="#<%= "#{item[:identifier]}" %>"><%= item[:title] %></a></li>
    <% end %>
    </ol>
    <div style="page-break-before:always;"></div>
    <% content.each do |item| %>
      <%=build(item)%>
      <div style="page-break-before:always;"></div>
    <% end %>
  </body>
</html>