<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= HtmlTextHelper.escape_html(title) %></title>
  <%= style %>
</head>
  <body>
    <h1 id="<%="#{HtmlTextHelper.escape_html(title)}_TOC"%>"><%="#{HtmlTextHelper.escape_html(title)}"%></h1>
    <ol>
    <% content.each do |item| %>
      <li><a href="#<%= "#{item[:identifier]}" %>"><%= HtmlTextHelper.escape_html(item[:title]) %></a></li>
    <% end %>
    </ol>
    <hr/>
    <a href="toc.xhtml"><%= I18n.t("Back to Table of Contents") %></a>
    <div style="page-break-before:always;"></div>
    <% content.each do |item| %>
      <%=build(item)%>
      <hr/>
      <p><a href="<%= "##{reference}.xhtml" %>"><%= I18n.t("Back to %{ref_title}", {ref_title: HtmlTextHelper.escape_html(title)}) %></a></p>
      <p><a href="toc.xhtml"><%= I18n.t("Back to Table of Contents") %></a></p>
      <div style="page-break-before:always;"></div>
    <% end %>
  </body>
</html>
