<% if item.has_key?(:local_path) %>
  <h2 id="<%= item[:identifier] %>">
    <%= item[:file_name] %>
  </h2>
  <%= convert_media_from_string!(<<-HTML)
    <a href="#{item[:local_path]}">
      #{I18n.t("Click here to see the file.")}
    </a>
    HTML
  %>
<% else %>
  <h2 id="<%= item[:linked_resource_id] %>">
    <%= HtmlTextHelper.escape_html(item[:title]) %>
  </h2>
  <%= I18n.t(
    "File %{filename} could not be included in the ePub document. Please see separate zip file for access.", {
      filename: HtmlTextHelper.escape_html(item[:title])
    })
  %>
<% end %>
