<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= HtmlTextHelper.escape_html(title) %></title>
  <%= style %>
</head>
  <body>
    <h1 id="<%= content[:identifier]%>"><%= HtmlTextHelper.escape_html(title) %></h1>
    <ol>
    <% content[:items].each do |item| %>
      <li>
        <% if item[:href] %>
          <a href="#<%= "#{item[:linked_resource_id]}" %>"><%= HtmlTextHelper.escape_html(item[:title]) %></a>
        <% else %>
          <p><%= HtmlTextHelper.escape_html(item[:title]) %></p>
        <% end %>
      </li>
    <% end %>
    </ol>
    <hr/>
    <a href="toc.xhtml"><%= I18n.t("Back to Table of Contents") %></a>

    <div style="page-break-before:always;"></div>
    <% if content[:locked] %>
      <% if content[:time_lock]%>
        <p>
          <%= I18n.t(<<~TEXT, datetime: friendly_date(Time.at(content[:unlock_at]).to_s))
            This module is locked until %{datetime}
          TEXT
          %>
        </p>
      <% end %>
      <% if content[:prerequisites].present? %>
        <p>
          <%= I18n.t(<<~TEXT, prerequisites: display_prerequisites(content[:prerequisites]))
            This module is locked until completing all of the requirements for the following modules: %{prerequisites}
          TEXT
          %>
        </p>
      <% end %>
    <% else %>
      <div style="page-break-before:always;"></div>
      <% content[:items].each do |item| %>
        <%=
          build(item) ||
          content_tag(:div, I18n.t("%{item_name} is not currently supported", { item_name: HtmlTextHelper.escape_html(item[:title]) }))
        %>
        <hr/>
        <p><a href="<%= "##{reference}.xhtml" %>">
          <%= I18n.t("Back to %{title}", title: HtmlTextHelper.escape_html(title)) %>
        </a></p>
        <p><a href="toc.xhtml"><%= I18n.t("Back to Table of Contents") %></a></p>
        <div style="page-break-before:always;"></div>
      <% end %>
    <% end %>
  </body>
</html>
