<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
  <body>
    <h1 id="<%= content[:migration_id]%>"><%= title %></h1>
    <ol>
    <% content[:items].each do |item| %>
      <li><a href="#<%= "#{item[:linked_resource_id]}" %>"><%= item[:title] %></a></li>
    <% end %>
    </ol>
    <hr/>
    <a href="toc.xhtml"><%= I18n.t("Back to Table of Contents") %></a>
    <div style="page-break-before:always;"></div>
    <% content[:items].each do |item| %>
      <%=build(item) || "<div>" + I18n.t("%{item_name} is not currently supported", { item_name: item[:title] }) + "</div>"%>
      <hr/>
      <p><a href="<%= "##{reference}.xhtml" %>"><%="Back to #{title}"%></a></p>
      <p><a href="toc.xhtml"><%= I18n.t("Back to Table of Contents") %></a></p>
      <div style="page-break-before:always;"></div>
    <% end %>
  </body>
</html>
