<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= I18n.t("Table of Contents") %></title>
  <%= style %>
</head>
  <body>
    <h1 id="#main_nav"><%= I18n.t("Table of Contents") %></h1>
    <h3><a href="syllabus.xhtml"><%= I18n.t("Syllabus") %></a></h3>
    <h3><a href="announcements.xhtml"><%= I18n.t("Announcements") %></a></h3>
    <h4><%= sort_by_content ? I18n.t("Course Content") : I18n.t("Course Modules") %></h4>
    <hr/>
    <% content.each do |resource| %>
      <h3><a href="<%= "#{resource[:reference]}.xhtml" %>"><%= "#{HtmlTextHelper.escape_html(resource[:title])}" %></a></h3>
      <ol>
        <% resource[:resource_content].each do |resource_item| %>
          <li>
            <%= link_to_content_item(resource_item) %>
          </li>
        <% end %>
      </ol>
    <% end %>
    <div style="page-break-before:always;"></div>
  </body>
</html>
