<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title>Wiki Pages</title>
</head>
  <body>
    <h1>Wiki Pages</h1>
    <ol>
    <% content.each_with_index do |item, index| %>
      <li><a href="<%= "#wiki#{index}" %>"><%= item[:title] %></a></li>
    <% end %>
    </ol>
    <div style="page-break-before:always;"></div>
    <% content.each_with_index do |item, index| %>
      <h2 id="<%="wiki#{index}"%>"><%= item[:title] %></h2>

      <p><%= item[:text] %></p>
      <hr/>
      <a href="wikis.xhtml">Back to Wiki Page Index</a>
      <div style="page-break-before:always;"></div>
    <% end %>
  </body>
</html>