<tr>
  <th scope="row" class="ic-Table--header-row">
    {{ag.name}}
  </th>

  <td class="assignment-group-grade">
    <span class="grade">
      {{#if hasGrade}}
        <span class="perc">{{percent}}</span>
        <span class="points">{{scoreDetail}}</span>
      {{else}}
        -
      {{/if}}
    </span>
  </td>

  <td>
    <span class="grade">
      {{#if letterGrade}}
        <span class='letter-grade-points'>{{letterGrade}}</span>
      {{else}}
        -
      {{/if}}
    </span>
  </td>

  <td>
    {{#if hasWeightedGroups}}
      <span class="weight">
        {{groupWeight}}
      </span>
    {{else}}
      -
    {{/if}}
  </td>
</tr>
