<tr class='key{{#if inactive}} inactive{{/if}}'>
    <td class="name">
        <img class="icon" alt="" src="{{ icon_url }}">
        {{name}}
        {{#if inactive }}<br/><i>inactive</i>{{/if}}
    </td>
    <td>
        <div>
            {{#if user_id }}
            <a href="/users/{{ user_id }}">
            {{/if}}
                {{ user_name }}
            {{#if user_id }}
            </a>
            {{/if}}
        </div>
        <div>{{ email }}</div>
        <div>
            {{#if account_id }}
            <a href="/accounts/{{ account_id }}">
            {{/if}}
                {{ account }}
            {{#if account_id }}
            </a>
            {{/if}}
        </div>
    </td>
    <td>
        <div class="details">
            <div>
               {{#t}}ID: {{id}}{{/t}}
            </div>
            <div>
               {{#t}}Key: <span class='api_key'>{{api_key}}</span>{{/t}}
            </div>
            <div>
                {{#if redirect_uri}}
                    {{#t}}URI: {{redirect_uri}}{{/t}}
                {{/if}}
            </div>
        </div>
    </td>
    <td>
        <div>
          {{#t}}Access Token Count: {{access_token_count}}{{/t}}
        </div>
        <div>
            {{#t}}Created:{{/t}} {{datetimeFormatted created_at}}
        </div>
        <div>
            {{#t}}Last Used:{{/t}} {{#ifExists last_used_at}}{{last_used_at}}{{else}}{{#t}}Never{{/t}}{{/ifExists}}
        </div>
    </td>
    <td class='notes'>
      {{#if notes}}
        <div>
            {{notes}}
        </div>
      {{/if}}
    </td>
    <td class='links'>
        <a href="#" class="edit_link" aria-label="{{#t}}Edit key {{name}}{{/t}}" title="{{#t "edit_key"}}Edit this key{{/t}}"><i class="icon-edit standalone-icon"></i></a>
        {{#if inactive}}
          <a href="#" role="checkbox" aria-checked="false" aria-label="{{#t}}Activate key {{name}}{{/t}}" class="activate_link" title="{{#t}}Activate this key{{/t}}"><i class="icon-unlock standalone-icon"></i></a>
        {{else}}
          <a href="#" role="checkbox" aria-checked="true" aria-label="{{#t}}Activate key {{name}}{{/t}}" class="deactivate_link" title="{{#t}}Deactivate this key{{/t}}"><i class="icon-lock standalone-icon"></i></a>
        {{/if}}
        <a href="#" class="delete_link" title="{{#t}}Delete this key{{/t}}"><i class="icon-trash standalone-icon"></i></a>
    </td>
</tr>
