<div class="form-dialog-content">
  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="role_label_{{label_id}}">
        {{#t "role_name"}}Role Name:{{/t}}
      </label>
      <div class="controls">
        <input id="role_label_{{label_id}}" type='text' name="label" value="{{ label }}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="role_type_{{label_id}}">
        {{#t "role_type"}}Base Type:{{/t}}
      </label>
      <div class="controls">
        <select id="role_type_{{label_id}}" name="base_role_type" {{#unless editable_type }}disabled{{/unless}}>
          {{#each base_role_types}}
            <option role="menuitem" value="{{value}}">{{ label }}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</div>
<div class="form-controls">
  <button
      class="cancel_button btn dialog_closer"
      type="button"
      >{{#t "cancel"}}Cancel{{/t}}</button>
  <button
      class="btn btn-primary"
      data-text-while-loading='{{#t "saving"}}Saving...{{/t}}'
      type="submit"
      >{{#t "save"}}Save{{/t}}</button>
</div>
