<div class="btn-group" {{#if addDefaultTitle }}title="Default"{{/if}}>
  <a class="btn btn-small dropdown-toggle {{#if default }}default_permission{{/if}}" href="#" data-toggle="dropdown" {{#if readOnly }}disabled="disabled" data-tooltip title="You do not have permission to change this" {{/if}}><i class="icon-check"></i><i class="icon-lock"></i></a>

  <div class="dropdown-menu" role="radiogroup">
    <input type="radio" name="permission-for-{{cid}}" value="0" role="radio" id="button-{{cid}}-0" {{#if enableChecked }}checked="checked"{{/if}} >
    <label tabindex="0" for="button-{{cid}}-0"><i class="icon-check"></i></i><span class="text">{{#t "rolebutton.enable"}}Enable{{/t}}</span></label>

    <input type="radio" name="permission-for-{{cid}}" value="0" role="radio" id="button-{{cid}}-1" {{#if enableAndLockChecked }}checked="checked"{{/if}}>
    <label tabindex=1 for="button-{{cid}}-1"><i class="icon-check"></i><i class="icon-lock"></i><span class="text">{{#t "rolebutton.enable_and_lock"}}Enable and Lock{{/t}}</span></label>

    <input type="radio" name="permission-for-{{cid}}" value="0" role="radio" id="button-{{cid}}-2" {{#if disableChecked }}checked="checked"{{/if}}>
    <label tabindex=2 for="button-{{cid}}-2"><i class="icon-x"></i><span class="text">{{#t "rolebutton.disable"}}Disable{{/t}}</span></label>

    <input type="radio" name="permission-for-{{cid}}" value="0" role="radio" id="button-{{cid}}-3" {{#if disableAndLockChecked }}checked="checked"{{/if}}>
    <label tabindex=3 for="button-{{cid}}-3"><i class="icon-x"></i><i class="icon-lock"></i><span class="text">{{#t "rolebutton.disable_and_lock"}}Disable and Lock{{/t}}</span></label>
    <li class="divider"></li>

    <input type="radio" name="permission-for-{{cid}}" value="0" role="radio" id="button-{{cid}}-4" {{#if systemDefaultChecked }}checked="checked"{{/if}}>
    <label tabindex=4 for="button-{{cid}}-4" class="clearfix"><span class="text">{{#t "rolebutton.use_default"}}Use Default{{/t}}</span></label>

    <input type="radio" name="permission-for-{{cid}}" value="0" role="radio" id="button-{{cid}}-5" {{#if systemDefaultLockedChecked }}checked="checked"{{/if}}>
    <label tabindex=5 for="button-{{cid}}-5" class="clearfix"><i class="icon-lock"></i><span class="text">{{#t "rolebutton.use_default_and_lock"}}Use Default and Lock{{/t}}</span></label>
 </div>
</div>
