<% 
  add_crumb(t('#crumbs.wiki_page_revisions', "Revisions"), context_url(@context, :context_wiki_page_wiki_page_revisions_url, @page))
  add_crumb(datetime_string(@revision.model.updated_at), context_url(@context, :context_wiki_page_wiki_page_revision_url, @page, @revision))
%>

<% content_for :page_title do %><%= @page.title.titleize %><% end %>
<% content_for :right_side do %>
  <div class="rs-margin-lr rs-margin-top">
    <ul class="unstyled_list wide_spacing">
      <% if can_do(@page, @current_user, :update) %>
        <li>
          <% form_for(@revision, :url => context_url(@context, :context_wiki_page_wiki_page_revision_url, @page, @revision)) do |f| %>
          <div class="button-container">
            <button type="submit" class="button"><%= image_tag "reply.png", :alt => "Rollback" %> <%= t 'buttons.roll_back_version', 'Roll-back to this Version' %></button><br /><br />
          </div>
          <% end %>
        </li>
      <% end %>
      <li>
        <div>
          <a href="<%= context_url(@context, :context_wiki_page_url, @page) %>" class="forward"><%= t 'links.go_to_latest', 'Go to Latest Version' %></a>
          <ul class="item_list" style='line-height: 14px; font-size: 11px; padding-left:21px; '>
            <% if @revision.model.user %>
              <li><%= t 'labels.by_user', 'by %{user}', :user => context_user_name(@context, @page.user) %></li>
            <% else %>
              <li><%= t 'labels.by_content_importer', 'by Content Importer' %></li>
            <% end %>
            <li><%= t 'labels.on_date', 'on *%{date_time}*', :date_time => datetime_string(@page.updated_at),
              :wrapper => "<span title='#{time_ago_in_words_with_ago @page.updated_at}'>\\1</span>" %></li>
          </ul>
        </div>
      </li>
      <li><a href="<%= context_url(@context, :context_wiki_page_wiki_page_revisions_url, @page) %>" class="history"><%= t 'links.back_to_history', 'Back to Revision history' %></a></li>
    </ul>
  </div>
<% end %>

<div id="wiki_show_view_main">
  <div id="last_edited_by" class="clearfix">
    <h2><%= t 'not_most_recent_version_warning', 'This is NOT the most recent version' %></h2>
    <% if @revision.model.user %>
      <h3><%= t 'saved_by', 'Saved: *%{time_ago}* by %{user}', :user => @revision.model.user_name,
        :time_ago => time_ago_in_words_with_ago(@revision.model.updated_at),
        :wrapper => "<span title='#{datetime_string(@revision.model.updated_at)}'>\\1</span>" %></h3>
    <% else %>
      <h3><%= t('imported_at', 'Imported: *%{time_ago}*',
                :time_ago => time_ago_in_words_with_ago(@revision.model.updated_at),
                :wrapper => "<span title='#{datetime_string(@revision.model.updated_at)}'>\\1</span>") %></h3>
    <% end %>
  </div>
  <div id="wiki_body">
    <%= user_content(@revision.model.body) %>
  </div>
</div>
