<li class="user" id="user_{{id}}">
  <a class="avatar" href="/courses/{{course_id}}/users/{{id}}">
    <span class="hidden-inline-text">{{name}} {{#t "profile"}}Profile{{/t}}</span>
    <img src="{{avatar_url}}" alt="" />
  </a>

  <div class="user-details">
    <a class="user_name" href="/courses/{{course_id}}/users/{{id}}">
      {{name}}
      <span class="hidden-inline-text">{{#t "course_profile"}}Course Profile{{/t}}</span>
    </a>
    <div class="more_info">
      <div class="short_name">{{short_name}}</div>
      <div class="email">{{email}}</div>
      <ul class="sections">
        {{#each sectionNames}}
          <li class="section">{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div style="clear: left;"></div>
</li>
