<fieldset id="submission_type_fields">
  <div class="form-column-left">
    <legend>
      <label for="assignment_submission_type">
        {{#t "submission_type"}}Submission Type{{/t}}
      </label>
    </legend>
  </div>
  <div class="form-column-right">
    <div class="border border-trbl border-round">

      {{!-- Submission type accepted --}}
      <select id="assignment_submission_type" name="submission_type" style="margin-left: 0;{{fullWidthIf isUpdateAssignmentSubmissionTypeLaunchButtonEnabled}}"
        aria-controls="assignment_online_submission_types,assignment_external_tool_settings,assignment_group_selector,assignment_peer_reviews_fields"
        {{disabledIfIncludes frozenAttributes "submission_types"}}>
        {{#if defaultToolName}}
        <option value="default_external_tool" {{selectedIf isDefaultTool}}>
          {{defaultToolName}}
        </option>
        {{/if}}
        <option value="none" {{selectedIf defaultToNone}}>
          {{#t "submission_types.no_submission"}}No Submission{{/t}}
        </option>
        <option value="online" {{selectedIf defaultToOnline}}>
          {{#t "submission_types.online"}}Online{{/t}}
        </option>
        <option value="on_paper" {{selectedIf defaultToOnPaper}}>
          {{#t "submission_types.on_paper"}}On Paper{{/t}}
        </option>
        <option value="external_tool" {{selectedIf isGenericExternalTool}}>
          {{#t "submission_types.external_tool"}}External Tool{{/t}}
        </option>
        {{#if submissionTypeSelectionTools}}
        {{#each submissionTypeSelectionTools}}
        <option value="external_tool_placement_{{this.id}}" {{selectedIf this.id ../selectedSubmissionTypeToolId}}>
          {{this.base_title}}
        </option>
        {{/each}}
        {{/if}}
      </select>
      {{#if submissionTypesFrozen}}
      <input type="hidden" name="submission_type" value="{{submissionType}}" />
      {{/if}}

      {{!-- Online submission types --}}
      <div id="assignment_online_submission_types" aria-enabled="{{isOnlineSubmission}}"
        style="{{hiddenUnless isOnlineSubmission}}">

        <div class="subtitle" style="margin-left: 0;">
          <strong>
            {{#t 'online_entry_options'}}Online Entry Options{{/t}}
          </strong>
        </div>

        <label class="checkbox" for="assignment_text_entry">
          {{checkbox "acceptsOnlineTextEntries"
          id="assignment_text_entry"
          name="online_submission_types[online_text_entry]"
          aria-label=(t "Online Submission Type - Text Entry")
          disabled=submissionTypesFrozen}}
          {{#t "labels.allow_text_entry"}}Text Entry{{/t}}
        </label>

        <label class="checkbox" for="assignment_online_url">
          {{checkbox "acceptsOnlineURL"
          id="assignment_online_url"
          name="online_submission_types[online_url]"
          aria-label=(t "Online Submission Type - Website URL")
          disabled=submissionTypesFrozen}}
          {{#t "labels.allow_url"}}Website URL{{/t}}
        </label>
        {{#if kalturaEnabled}}
        <label class="checkbox" for="assignment_media_recording">
          {{checkbox "acceptsMediaRecording"
          id="assignment_media_recording"
          name="online_submission_types[media_recording]"
          aria-label=(t "Online Submission Type - Media Recordings")
          disabled=submissionTypesFrozen}}
          {{#t "labels.allow_media_recordings"}}Media Recordings{{/t}}
        </label>
        {{/if}}
        <label class="checkbox" for="assignment_annotated_document">
          {{checkbox "acceptsAnnotatedDocument"
          id="assignment_annotated_document"
          name="online_submission_types[student_annotation]"
          aria-controls="restrict_file_extensions_container"
          aria-label=(t "Online Submission Type - Student Annotation")
          disabled=submissionTypesFrozen}}
          {{#t "labels.allows_annotated_document"}}Student Annotation{{/t}}
        </label>
        <div id="assignment_annotated_document_info" style="{{hiddenUnless acceptsAnnotatedDocument}}">
          {{#t}}Consider selecting multiple submission types to accommodate students who may not be able to create
          annotations.{{/t}}
        </div>
        <div id="annotated_document_chooser_container" class="nested" aria-expanded="{{acceptsAnnotatedDocument}}"
          style="{{hiddenUnless acceptsAnnotatedDocument}}; padding: 0 0 0 42px;">
        </div>
        <input type="hidden" name="annotatable_attachment_id" id="annotatable_attachment_id" />
        <label class="checkbox" for="assignment_online_upload">
          {{checkbox "acceptsOnlineUpload"
          id="assignment_online_upload"
          name="online_submission_types[online_upload]"
          aria-controls="restrict_file_extensions_container"
          aria-label=(t "Online Submission Type - File Uploads")
          disabled=submissionTypesFrozen}}
          {{#t "labels.allow_file_uploads"}}File Uploads{{/t}}
        </label>

        {{!-- Online submission restrict file types? --}}
        <div id="restrict_file_extensions_container" class="nested" aria-expanded="{{acceptsOnlineUpload}}"
          style="{{hiddenUnless acceptsOnlineUpload}}">

          <label class="checkbox" for="assignment_restrict_file_extensions">
            {{checkbox "restrictFileExtensions"
            id="assignment_restrict_file_extensions"
            name="restrict_file_extensions"
            aria-controls="allowed_extensions_container"
            aria-label=(t "Online Submission Type - File Uploads - Restrict Upload File Types")
            disabled=submissionTypesFrozen}}
            {{#t "labels.restrict_file_extensions"}}
            Restrict Upload File Types
            {{/t}}
          </label>

          {{!-- Online submission allowed extensions --}}
          <div id="allowed_extensions_container" aria-expanded="{{restrictFileExtensions}}"
            style="{{hiddenUnless restrictFileExtensions}}" class="nested">
            <label for="assignment_allowed_extensions" class="hidden-readable">
              {{#t "labels.allowed_extensions"}}Allowed File Extensions{{/t}}
            </label>

            <input
              id="assignment_allowed_extensions"
              name="allowed_extensions"
              type="text"
              maxlength="254"
              placeholder="{{#t "labels.allowed_extensions"}}Allowed File Extensions{{/t}}"
              aria-labelledby="explanation_nest"
              value="{{join allowedExtensions ", "}}"
              {{disabledIfIncludes frozenAttributes "submission_types"}} />
            <div id="explanation_nest" class="explanation nest">
              {{#t "descriptions.allowed_extensions"}}
              Enter a list of accepted extensions, for example: doc,xls,txt
              {{/t}}
            </div>
          </div>
        </div>

        {{!-- Turnitin (online assignments only) --}}
        <div style="{{hiddenUnless turnitinAvailable}}">
          <label for="assignment_turnitin_enabled" class="checkbox">
            {{checkbox "turnitinEnabled"
            id="assignment_turnitin_enabled"
            name="turnitin_enabled"
            aria-controls="advanced_turnitin_settings_link"
            disabled=isPlagiarismPlatformLocked}}
            {{#t "label.turnitin_enabled"}}Enable Turnitin Submissions{{/t}}
          </label>
          {{#if isPlagiarismPlatformLocked}}
            <div class="plagiarism_locked_explanation alert assignment-edit-group-alert">
              {{#t}}
                Students have already submitted homework on this assignment, so plagiarism platform settings cannot be changed.
              {{/t}}
            </div>
          {{/if}}
          <div class="nested">
            <a href="#" id="advanced_turnitin_settings_link" aria-expanded="{{turnitinEnabled}}"
              style="{{hiddenUnless turnitinEnabled}}">
              {{#t "advanced_turnitin_settings"}}Advanced Turnitin Settings{{/t}}
            </a>
          </div>
        </div>
        {{!-- VeriCite (online assignments only) --}}
        <div style="{{hiddenUnless vericiteAvailable}}">
          <label for="assignment_vericite_enabled" class="checkbox">
            {{checkbox "vericiteEnabled"
            id="assignment_vericite_enabled"
            name="vericite_enabled"
            aria-controls="advanced_turnitin_settings_link"
            disabled=isPlagiarismPlatformLocked}}
            {{#t "label.vericite_enabled"}}Enable VeriCite Submissions{{/t}}
          </label>
          {{#if isPlagiarismPlatformLocked}}
            <div class="plagiarism_locked_explanation alert assignment-edit-plagiarism-alert">
              {{#t}}
                Students have already submitted homework on this assignment, so plagiarism platform settings cannot be changed.
              {{/t}}
            </div>
          {{/if}}
          <div class="nested">
            <a href="#" id="advanced_turnitin_settings_link" aria-expanded="{{vericiteEnabled}}"
              style="{{hiddenUnless vericiteEnabled}}">
              {{#t "advanced_vericite_settings"}}Advanced VeriCite Settings{{/t}}
            </a>
          </div>
        </div>

        {{!-- Student Annotation Usage Rights Container used for React rendering --}}
        <div id="annotated_document_usage_rights_container"></div>
      </div>

      {{!-- LTI launch button for getting additional data for external tool assignments (when selected via placement)
      --}}
      <div id="assignment_submission_type_selection_tool_launch_container"
        style="{{hiddenUnless selectedSubmissionTypeToolId}}">

        <div data-component="AssignmentSubmissionTypeSelectionLaunchButton"></div>


        <input type="hidden" id="assignment_submission_type_external_data" name="external_tool_tag_attributes[external_data]"
          value="{{externalToolDataStringified}}" />
        {{!-- this is very specific to Mastery Connect currently. We could potentially make this a dynamic partial
        based on the type of external data --}}
        <div>
          <h2>
            <span id="mc_external_data_assessment">{{name}}</span>
          </h2>
          <div id="mc_external_data_points">{{externalToolData.points}} {{#if externalToolData.points}}
            {{#t}}Points{{/t}} {{/if}}</div>
          <div id="mc_external_data_objectives">{{externalToolData.objectives}}</div>
          <div> </div>
          <h3>
            <span id="mc_external_data_tracker">{{externalToolData.trackerName}}</span>
          </h3>
          <div id="mc_external_data_tracker_alignment">{{externalToolData.trackerAlignment}}</div>
          <div id="mc_external_data_students">{{externalToolData.studentCount}} {{externalToolDataStudentLabelText}}</div>
        </div>
      </div>
      <div id="assignment_submission_type_selection_tool_dialog"></div>

      {{!-- Default external tool configuration --}}
      <div id="default_external_tool_container" data-component="DefaultToolForm"
        style="{{hiddenUnless isNonPlacementExternalTool}}">
      </div>

      {{!-- External tool submissions --}}
      <div id="assignment_external_tool_settings" style="{{hiddenUnless isNonPlacementExternalTool}}">
        <div class="subtitle" style="margin-left: 0px;">
          <strong>
            {{#t 'external_tool_options'}}External Tool Options{{/t}}
          </strong>
        </div>
        <div class="pad-box-mini" style="padding: 10px 0 0">
          <div class="ic-Form-control">
            <label class="ic-Label" for="assignment_external_tool_tag_attributes_url">
              {{#t}}Enter or find an External Tool URL{{/t}}
            </label>

            <input id="assignment_external_tool_tag_attributes_custom_params"
                   name="external_tool_tag_attributes[custom_params]"
                   type="hidden"
                   value="{{externalToolCustomParamsStringified}}" />
            <input id="assignment_external_tool_tag_attributes_line_item"
                   name="external_tool_tag_attributes[line_item]"
                   type="hidden"
                   value="{{externalToolLineItemStringified}}" />
            <input id="assignment_external_tool_tag_attributes_iframe_width"
                   name="external_tool_tag_attributes[link_settings][selection_width]"
                   type="hidden"
                   value="{{externalToolIframeWidth}}" />
            <input id="assignment_external_tool_tag_attributes_iframe_height"
                   name="external_tool_tag_attributes[link_settings][selection_height]"
                   type="hidden"
                   value="{{externalToolIframeHeight}}"/>

            <div class="ic-Input-group">
              <div class="ic-Input-group__add-on" aria-hidden="true">
                <i class="icon-link"></i>
              </div>

              <input id="assignment_external_tool_tag_attributes_url"
                     name="external_tool_tag_attributes[url]"
                     class="ic-Input"
                     type="url"
                     value="{{externalToolUrl}}"
                     placeholder="http://www.example.com/launch"
                  {{disabledIfIncludes frozenAttributes "submission_types"}} />
              <button id="assignment_external_tool_tag_attributes_url_find"
                      class="Button"
                      type="button"
                      {{disabledIfIncludes frozenAttributes "submission_types"}}
              >
                  {{#t}}Find{{/t}}
              </button>

              {{#if submissionTypesFrozen}}
              <input name="external_tool_tag_attributes[url]"
                     type="hidden"
                     value="{{externalToolUrl}}" />
              {{/if}}

            </div>
          </div>
          <input id="assignment_external_tool_tag_attributes_content_type"
                 name="external_tool_tag_attributes[content_type]"
                 type="text"
                 style="display: none" />
          <input id="assignment_external_tool_tag_attributes_content_id"
                 name="external_tool_tag_attributes[content_id]"
                 type="text"
                 style="display: none" />
        </div>

        {{#if groupCategoryId}}
        <div class="alert assignment-edit-external-tool-alert">
          {{#t "external_tool_group_warning"}}
          Group assignments can't use External Tools.
          The group setting will be unchecked when you save
          {{/t}}
        </div>
        {{/if}}
      </div>
      {{#unless isQuizLTIAssignment}}
      <div id="external_tool_new_tab_container" style="display: none;">
        <label for="assignment_external_tool_tag_attributes_new_tab" class="checkbox">
          <!-- creates 2 inputs with the same name: 1st is [type='hidden'] and 2nd is [type='checkbox'] with id -->
          {{checkbox "externalToolNewTab"
          id="assignment_external_tool_tag_attributes_new_tab"
          name="external_tool_tag_attributes[new_tab]"
          disabled=submissionTypesFrozen}}
          {{#t "label.external_tool_new_tab"}}Load This Tool In A New Tab{{/t}}
        </label>
      </div>
      {{/unless}}

    </div>
  </div>
</fieldset>
