<div id="edit_assignment_wrapper">
  {{#if frozen}}
    <div class="alert alert-info">
      <i class="icon-warning"></i> {{#t}}Some settings have been administratively locked.{{/t}}
    </div>
  {{/if}}
  {{#if inClosedGradingPeriod}}
    <div class="alert alert-info">
      <i class="icon-warning"></i> {{#t}}Some settings have been disabled because the assignment is in a closed grading period.{{/t}}
    </div>
  {{/if}}


  <div class="control-group">
    {{#if lockedItems.content}}
      <h1 id="assignment_name" class="title">{{name}}</h1>
      <input type="hidden" name="name" value="{{name}}"></input>
    {{else}}
      <div>
        <label for="assignment_name">{{#t}}Assignment Name{{/t}}</label>
        <input id="assignment_name"
          name="name"
          placeholder="{{#t "assignment_name"}}Assignment Name{{/t}}"
          value="{{name}}"
          type="text"
          maxlength="254"
          class="input-block-level"
          {{#if inClosedGradingPeriod}}
            readonly
          {{/if}}
          {{disabledIfIncludes frozenAttributes "title"}}
          autofocus></input>
      </div>
    {{/if}}
  </div>

  {{#unless isQuizLTIAssignment}}
    <div class="control-group">
      {{#ifIncludes frozenAttributes "description"}}
        <div class="frozen-description user_content">
          {{convertApiUserContent description}}
        </div>
      {{else}}
        {{#if lockedItems.content}}
          <div id="assignment_description" class="assignment_description">
            {{convertApiUserContent description}}
          </div>
        {{else}}
          <textarea id="assignment_description"
            name="description"
            aria-label="{{#t "description"}}Description{{/t}}"
            {{disabledIfIncludes frozenAttributes "description"}}>
            {{convertApiUserContent description forEditing=1}}
          </textarea>
        {{/if}}
      {{/ifIncludes}}
    </div>
  {{/unless}}

  <div class="control-group">

    <div class="form-column-left no-group">
      <label for="assignment_points_possible">
        {{#t "points_possible"}}Points{{/t}}
      </label>
    </div>

    <div class="form-column-right" style="display: inline-flex">
      <input id="assignment_points_possible"
        name="points_possible"
        style="width: 100%;"
        value="{{n pointsPossible}}"
        type="text"
        {{#ifAny inClosedGradingPeriod lockedItems.points cannotEditGrades}}
          readonly
        {{/ifAny}}
        {{disabledIfIncludes frozenAttributes "points_possible"}}
      ></input>
      {{#unless lockedItems.points}}
        <div aria-live="polite" role="alert">
          <div id=point_change_warning class="alert">
            {{#t}}If you change an assignment's points possible, you must regrade any submissions.{{/t}}
           </div>
        </div>
      {{/unless}}
    </div>

  </div>


  <div id="assignment_group_selector" class="control-group"></div>

  <div id="grading_type_selector"></div>

  <div id="graded_assignment_fields"
    aria-expanded="{{not isNotGraded}}"
    style="{{hiddenIf isNotGraded}}">

    {{!--this empty div is in place to push the checkbox to the right of it--}}
    <div class="form-column-left"></div>
    <div id="omit-from-final-grade" class="form-column-right" style="margin-top: 14px;">
      <label class="checkbox">
        {{#if inClosedGradingPeriod}}
          {{checkbox "omitFromFinalGrade"
            id="assignment_omit_from_final_grade"
            name="omit_from_final_grade"
            readonly="readonly"
            aria-readonly="true"
          }}
        {{else}}
          {{checkbox "omitFromFinalGrade"
            id="assignment_omit_from_final_grade"
            name="omit_from_final_grade"
          }}
        {{/if}}
        {{#t}}Do not count this assignment towards the final grade{{/t}}
      </label>
    </div>
    {{#if hideZeroPointQuizzesOptionEnabled}}
      {{#if isQuizLTIAssignment}}
          <div id="assignment_hide_in_gradebook_option">
            <div id="hide-in-gradebook-set">
              <div class="form-column-left"></div>
              <div id="hide_in_gradebook" class="form-column-right">
                <label class="checkbox">
                  {{#if inClosedGradingPeriod}}
                    {{checkbox "hideInGradebook"
                      id="assignment_hide_in_gradebook"
                      name="hide_in_gradebook"
                      readonly="readonly"
                      aria-readonly="true"
                    }}
                  {{else}}
                    {{checkbox "hideInGradebook"
                      id="assignment_hide_in_gradebook"
                      name="hide_in_gradebook"
                    }}
                  {{/if}}
                  {{#t}}Do not display in gradebook or the student's grade page{{/t}}
                </label>
              </div>
            </div>
          </div>
      {{/if}}
    {{/if}}

    {{>ui/features/assignment_edit/jst/_submission_types_form.handlebars}}

    {{#if assignment_attempts}}
      <div id="allowed_attempts_fields" class="control-group">
        <div class="form-column-left">
          {{#t "submission_attempts"}}Submission Attempts{{/t}}
        </div>
        <div class="form-column-right">
          <div class="border border-trbl border-round">
            <div id="allowed-attempts-target"></div>
          </div>
        </div>
      </div>
    {{/if}}

    <div id="similarity_detection_tools">
    </div>

    {{#unless isLargeRoster}}
      <div id="group_category_selector"
        class="control-group"
        style="{{hiddenIf isExternalTool}}">
      </div>
    {{/unless}}

    {{#unless isLargeRoster}}
      <div id="assignment_peer_reviews_fields"
        class="control-group"
        style="{{hiddenIf isExternalTool}}">
      </div>
    {{/unless}}

    {{#if postToSISEnabled}}
      <div>
        <div class="form-column-left">{{#t}}Sync to {{postToSISName}}{{/t}}</div>
          <div class="form-column-right" style="margin-top: 14px;">
            <label class="checkbox">
              {{checkbox "postToSIS"
                id="assignment_post_to_sis"
                name="post_to_sis"
              }}
              {{#t}}Include this assignment's grades when syncing to your school's Student Information System{{/t}}
            </label>
        </div>
      </div>
    {{/if}}

    {{#unless isQuizLTIAssignment}}
      <span data-component="ModeratedGradingFormFieldGroup"></span>
    {{/unless}}

    {{#if anonymousGradingEnabled}}
      <div>
        <div class="form-column-left">{{#t}}Anonymous Grading{{/t}}</div>
        <div id="enable-anonymous-grading" class="form-column-right">
          <div class="border border-trbl border-round">
            <label class="checkbox">
              {{checkbox "anonymousGrading"
                class="GradeAnonymously__Checkbox"
                id="assignment_anonymous_grading"
                name="anonymous_grading"
              }}
              {{#t}}Graders cannot view student names{{/t}}
            </label>

            <label class="checkbox" for="assignment_graders_anonymous_to_graders" style="{{hiddenUnless showGradersAnonymousToGradersCheckbox}}">
              {{checkbox "gradersAnonymousToGraders"
                id="assignment_graders_anonymous_to_graders"
                name="graders_anonymous_to_graders"
              }}
              {{#t}}Graders cannot view each other's names{{/t}}
            </label>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if anonymousInstructorAnnotationsEnabled}}
      <div>
        <div class="form-column-left">{{#t}}Anonymous Instructor Annotations{{/t}}</div>
        <div class="form-column-right" style="margin-top: 14px;">
          <label class="checkbox">
            {{checkbox "anonymousInstructorAnnotations" id="assignment_anonymous_instructor_annotations" name="anonymous_instructor_annotations"}}
            {{#t}}Anonymize all annotations made by instructors on submissions for this assignment in DocViewer{{/t}}
          </label>
        </div>
      </div>
    {{/if}}
  </div>

  {{#if canFreeze}}
    <div class="form-column-left"></div>
    <div class="form-column-right">
      <div>
        <label class="checkbox" for="assignment_freeze_on_copy">
          {{checkbox "freezeOnCopy"
            id="assignment_freeze_on_copy"
            name="freeze_on_copy"}}
            {{#t "freeze_properties"}}Lock assignment properties when copied{{/t}}
        </label>
      </div>
    </div>
  {{/if}}
  <fieldset id="overrides-wrapper">
    <div class="form-column-left">
      <legend id="assignment_overrides">
        <label for="assignment_overrides">
          {{#if differentiatedModulesEnabled}}
            {{#t}}Assign Access{{/t}}
          {{else}}
            {{#t}}Assign{{/t}}
          {{/if}}
        </label>
      </legend>
    </div>
    <div class="overrides-column-right js-assignment-overrides overrideFormFlex">
    </div>
  </fieldset>
</div>

{{#if conditionalReleaseServiceEnabled}}
<div id="mastery-paths-editor" style="display: none">
  <div id="conditional_release_target"></div>
</div>
{{/if}}

{{#if isQuizLTIAssignment}}
  <input type="hidden" name="quiz_lti" value="1"></input>
{{/if}}

<input type='hidden' id="secure_params" name="secure_params" value="{{secureParams}}"></input>

<div id="assignment_external_tools"></div>

<div class="form-actions">
  <div class="pull-left">
    <label class="checkbox" style="text-align:left;" for="assignment_notify_of_update">
      {{checkbox "notifyOfUpdate"
        id="assignment_notify_of_update"
        name="notify_of_update"}}
      {{#t "notify_content_change"}}Notify users that this content has changed{{/t}}
    </label>
  </div>
  <div class="assignment__action-buttons">
    <button type="button" class="btn cancel_button">
      {{#t "#buttons.cancel"}}Cancel{{/t}}
    </button>
    {{#unless published}}
      <button type="button" class="btn btn-default save_and_publish">
        {{#t "buttons.save_and_publish"}}Save & Publish{{/t}}
      </button>
    {{/unless}}
    {{#if showBuildButton}}
      <button type="button" class="btn btn-default save_button">
        {{#t "buttons.save"}}Save{{/t}}
      </button>
      <button type="submit" class="btn btn-primary build_button">
        {{#t "buttons.build"}}Build{{/t}}
      </button>
    {{else}}
      <button type="submit" class="btn btn-primary">
        {{#t "buttons.save"}}Save{{/t}}
      </button>
    {{/if}}
  </div>
</div>
