<%
# from https://github.com/instructure/color-slicer, start:270
colors = [
  'rgb(74,118,178)',
  'rgb(79,128,69)',
  'rgb(203,63,119)',
  'rgb(26,127,147)',
  'rgb(146,112,5)',
  'rgb(131,102,180)',
  'rgb(47,130,106)',
  'rgb(203,71,64)',
  'rgb(43,123,169)',
  'rgb(103,125,43)',
  'rgb(184,76,150)',
  'rgb(29,129,133)'
]
%>
<ul id="course_summaries" class="clearfix">
<% @courses.each_with_index do |c, i| %>
  <li class="course_summary span3 border border-trbl">
    <div class="course_text">
      <h3 class="pad-box-mini border border-b" style="background-color: <%= colors[i % colors.count] %>">
        <a href="/courses/<%= c.id %>"><%= c.name %></a>
      </h3>
      <p class="pad-box-mini"><%= c.public_description %></p>
      <% if @current_user && c.open_enrollment %>
        <p>
          <a class="btn course_enrollment_link" data-open-as-dialog="" href="/enroll/<%= c.self_enrollment_code %>">
            <i class="icon-user-add"></i>
            <%= t(:join_course, 'Join this Course') %>
          </a>
        </p>
      <% end %>
    </div>
  </li>
<% end %>
</ul>
<% if @prevPage %>
  <a class="pull-left" id="previous-link" href="<%= @prevPage %>"><%= t(:previous, 'Previous') %></a>
<% end %>
<% if @nextPage %>
  <a class="pull-right" id="next-link" href="<%= @nextPage %>"><%= t(:next, 'Next') %></a>
<% end %>
