<h2 id="dialog_message" style="color: #666; font-size: 24px;"><%= t :retrieving_content, "Retrieving Content..." %></h2>
<a href="<%= external_content_oembed_retrieve_url(:url => "{{ url }}", :endpoint => "{{ endpoint }}") %>" id="oembed_retrieve_url" style="display: none;">&nbsp;</a>
<% js_block do %>
<script>
require([
  'jquery' /* $ */,
  'jquery.ajaxJSON' /* ajaxJSON */,
  'jquery.instructure_misc_helpers' /* replaceTags */
], function($) {

  var data = <%= raw((@retrieved_data || {}).to_json) %>;
  var callback = '<%= params[:service] %>';
  var parentWindow = window.parent;
  while(parentWindow && parentWindow.parent != parentWindow && !parentWindow[callback]) {
    parentWindow = parentWindow.parent;
  }
  function dataReady(data) {
    if(parentWindow[callback] && parentWindow[callback].ready) {
      parentWindow[callback].ready(data);
      setTimeout(function() {
        $("#dialog_message").text("<%= t :popup_success, "Success! This popup should close on its own..." %>");
      }, 1000);
    } else {
      $("#dialog_message").text("<%= t :content_failure, "Content retrieval failed, please try again or notify your system administrator of the error." %>");
    }
  }
  if(data.embed_type == 'oembed') {
    var url = $.replaceTags($.replaceTags($("#oembed_retrieve_url").attr('href'), 'endpoint', encodeURIComponent(data.endpoint)), 'url', encodeURIComponent(data.url));
    $.ajaxJSON(url, 'GET', {}, function(data) {
      dataReady(data);
    }, function() {
      $("#dialog_message").text("<%= t :oembed_failure, "Content retrieval failed, please try again or notify your system administrator of the error." %>");
    });
  } else {
    dataReady(data);
  }

});
</script>
<% end %>
