<fieldset>

  <div class="control-group" style="margin-bottom:9px">
    <label for="assignment_submission_type" class="control-label">
      {{#t "submission_type"}}Submission Type{{/t}}
    </label>
    <div class="controls">
      <select id="assignment_submission_type"
        name="submission_type"
        aria-controls="assignment_online_submission_types,assignment_external_tool_settings,assignment_group_selector,assignment_peer_reviews_fields"
        {{disabledIfIncludes frozenAttributes "submission_types"}}>
        <option value="none" {{selectedIf submissionType "none"}}>
          {{#t "submission_types.no_submission"}}No Submission{{/t}}
        </option>
        <option value="online" {{selectedIf submissionType "online"}}>
          {{#t "submission_types.online"}}Online{{/t}}
        </option>
        <option value="on_paper" {{selectedIf submissionType "on_paper"}}>
          {{#t "submission_types.on_paper"}}On Paper{{/t}}
        </option>
        <option value="external_tool" {{selectedIf submissionType "external_tool"}}>
          {{#t "submission_types.external_tool"}}External Tool{{/t}}
        </option>
      </select>
    </div>
  </div>

  <div id="assignment_online_submission_types"
    class="control-group"
    aria-enabled="{{isOnlineSubmission}}"
    style="{{hiddenUnless isOnlineSubmission}}">

    <div class="controls">
      <label class="checkbox">
        <input id="assignment_text_entry"
          name="online_submission_types[online_text_entry]"
          type="checkbox"
          {{checkedIf acceptsOnlineTextEntries}}
          {{disabledIfIncludes frozenAttributes "submission_types"}}/>
        {{#t "labels.allow_text_entry"}}Allow Text Entry{{/t}}
      </label>
    </div>

    <div class="controls">
      <label class="checkbox">
        <input id="assignment_online_url"
          name="online_submission_types[online_url]"
          type="checkbox"
          {{checkedIf acceptsOnlineURL}}
          {{disabledIfIncludes frozenAttributes "submission_types"}}/>
        {{#t "labels.allow_url"}}Allow Website URL{{/t}}
      </label>
    </div>

    <div class="controls">
      {{#if kalturaEnabled}}
        <label class="checkbox">
          <input id="assignment_media_recording"
            name="online_submission_types[online_media_recording]"
            type="checkbox"
            {{checkedIf acceptsOnlineMediaRecording}}
            {{disabledIfIncludes frozenAttributes "submission_types"}}/>
          {{#t "labels.allow_media_recordings"}}Allow Media Recordings{{/t}}
        </label>
      {{/if}}
    </div>

    <div class="controls">
      <label class="checkbox" for="assignment_online_upload">
        <input id="assignment_online_upload"
          name="online_submission_types[online_upload]"
          type="checkbox"
          aria-controls="restrict_file_extensions_container"
          {{checkedIf acceptsOnlineUpload}}
          {{disabledIfIncludes frozenAttributes "submission_types"}}/>
        {{#t "labels.allow_file_uploads"}}Allow File Uploads{{/t}}
      </label>
    </div>

    <div id="restrict_file_extensions_container"
      aria-expanded="{{acceptsOnlineUpload}}"
      style="{{hiddenUnless acceptsOnlineUpload}}">
      <div class="controls">
        <label class="checkbox" for="assignment_restrict_file_extensions">
          <input id="assignment_restrict_file_extensions"
            name="restrict_file_extensions"
            type="checkbox"
            aria-controls="allowed_extensions_container"
            {{checkedIf restrictFileExtensions}}
            {{disabledIfIncludes frozenAttributes "submission_types"}}/>
          {{#t "labels.restrict_file_extensions"}}
            Restrict Upload File Types
          {{/t}}
        </label>
      </div>

      <div id="allowed_extensions_container"
        aria-expanded="{{restrictFileExtensions}}"
        style="{{hiddenUnless restrictFileExtensions}}">
        <label for="assignment_allowed_extensions" class="hidden-readable">
          {{#t "labels.allowed_extensions"}}Allowed File Extensions{{/t}}
        </label>
        <div class="controls">
          <input id="assignment_allowed_extensions"
            name="allowed_extensions"
            type="text"
            placeholder="{{#t "labels.allowed_extensions"}}Allowed File Extensions{{/t}}"
            value="{{join allowedExtensions ","}}"
            {{disabledIfIncludes frozenAttributes "submission_types"}}/>
            <p class="help-block">
              {{#t "descriptions.allowed_extensions"}}
                enter a list of accepted extensions, for example: doc,xls,txt
              {{/t}}
            </p>
        </div>
      </div>
    </div>

    <div class="controls" style="{{hiddenUnless turnitinAvailable}}">
      <label for="assignment_turnitin_enabled" class="checkbox">
        <input id="assignment_turnitin_enabled"
          name="turnitin_enabled"
          type="checkbox"
          aria-controls="advanced_turnitin_settings_link"
          {{checkedIf turnitinEnabled}}
          {{disabledIfIncludes frozenAttributes "submission_types"}}/>
        {{#t "label.turnitin_enabled"}}Enable Turnitin Submissions{{/t}}
      </label>

      <a href="#"
        id="advanced_turnitin_settings_link"
        aria-expanded="{{turnitinEnabled}}"
        style="{{hiddenUnless turnitinEnabled}}">
        {{#t "advanced_turnitin_settings"}}Advanced Turnitin Settings{{/t}}
      </a>
    </div>

  </div>

  <div id="assignment_external_tool_settings" style="{{hiddenUnless isExternalTool}}">

    <div class="control-group" style="margin-bottom:9px">
      <label for="assignment_external_tool_tag_attributes_url" class="control-label">
        {{#t "label.external_tool_url"}}External Tool URL{{/t}}
      </label>
      <div class="controls">
        <input id="assignment_external_tool_tag_attributes_url"
          name="external_tool_tag_attributes[url]"
          type="text"
          value="{{externalToolUrl}}"
          {{disabledIfIncludes frozenAttributes "submission_types"}}/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <label for="assignment_external_tool_tag_attributes_new_tab" class="checkbox">
          <input id="assignment_external_tool_tag_attributes_new_tab"
            name="external_tool_tag_attributes[new_tab]"
            type="checkbox"
            {{checkedIf externalToolNewTab}}
            {{disabledIfIncludes frozenAttributes "submission_types"}}/>
          {{#t "label.external_tool_new_tab"}}Load This Tool In A New Tab{{/t}}
        </label>
      </div>
    </div>

  </div>

</fieldset>
