<div id="assignment_group_{{id}}" data-id="{{id}}" class="assignment_group">

  <div class="ig-header" style="position:relative;">
    {{#if ENV.PERMISSIONS.manage}}
      <span class="sortable-handle">
        <a href="#" class="icon-drag-handle">
        <span class="screenreader-only accessibility-warning">{{#t}}Warning: for improved accessibility of reordering assignments and groups, please use the Move To Dialog option found in the menu.{{/t}}</span>
        </a>
      </span>
    {{/if}}
    {{#if course_home}}
      <h3 class="ig-header-title">
        <a
        class="element_toggler accessible-toggler"
        aria-controls="assignment_group_{{id}}_assignments"
        aria-expanded="true"
        aria-label="{{name}} {{toggleMessage}}"
        tabindex="0"
        href="#"
        >
          <i class="icon-mini-arrow-down"></i>
          {{name}}
        </a>
        {{#if hasIntegrationData}}
          <i class="icon-sis-imported" aria-hidden="true" title='{{#t}}Imported from SIS{{/t}}'></i>
          <span class="screenreader-only">{{#t}}Imported from SIS{{/t}}</span>
        {{/if}}
      </h3>
    {{else}}
      <h2 class="ig-header-title">
        <a
        class="element_toggler accessible-toggler"
        aria-controls="assignment_group_{{id}}_assignments"
        aria-expanded="true"
        aria-label="{{name}} {{toggleMessage}}"
        tabindex="0"
        href="#"
        >
          <i class="icon-mini-arrow-down" aria-hidden="true"></i>
          {{name}}
        </a>
        {{#if hasIntegrationData}}
          <i class="icon-sis-imported" aria-hidden="true" title='{{#t}}Imported from SIS{{/t}}'></i>
          <span class="screenreader-only">{{#t}}Imported from SIS{{/t}}</span>
        {{/if}}
      </h2>
    {{/if}}

    <div class="ag-header-controls">
      {{#ifAny showWeight showRules}}
        <ul class="pill">
          {{#if showWeight}}
            <li>{{#t}}{{groupWeight}}% of Total{{/t}}</li>
          {{/if}}
          {{#if showRules}}
            <li>
              <a
                href='#'
                title='{{#toSentence displayableRules}}{{this}}{{/toSentence}}'
                class="tooltip_link"
                data-tooltip-selector="#ag_{{id}}_rules_tooltip"
              >{{rulesText}}<i class="icon-mini-arrow-down"></i></a>
              <div id="ag_{{id}}_rules_tooltip" style="display:none;">
                {{#each displayableRules}}
                  <span>{{this}}</span><br/>
                {{/each}}
              </div>
            </li>
          {{/if}}
        </ul>
      {{/ifAny}}

      {{#if ENV.PERMISSIONS.manage}}
        <a
          href="#"
          class="btn add_assignment"
          title='{{#t}}Add Assignment to {{name}}{{/t}}'
        >
          {{! icon is separate from <a> tag because it is the only visible content in the button }}
          <span class="screenreader-only">{{#t}}Add Assignment to {{name}}{{/t}}</span>
          <i class="icon-plus"></i>
        </a>

        <div class="inline-block">
          <a id="ag_{{id}}_manage_link" class="al-trigger btn" href="#" tabindex="0" role="button">
            <span class="screenreader-only">{{#t}}Manage {{name}}{{/t}}</span>
            <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          </a>
          <ul class="al-options">
            <li>
              <a
                class="edit_group icon-edit"
                aria-label="{{#t}}Edit Assignment Group{{/t}}"
                data-focus-returns-to="ag_{{id}}_manage_link"
              >{{#t}}Edit{{/t}}</a>
            </li>
            {{#if canDelete}}
            <li>
              <a
                class="delete_group icon-trash"
                aria-label='{{#t}}Delete Assignment Group{{/t}}'
                data-focus-returns-to="ag_{{id}}_manage_link"
              >{{#t}}Delete{{/t}}</a>
            </li>
            {{else}}
            <li>
              <a
                class="delete_group icon-trash disabled"
                aria-label='{{#t}}Delete Assignment Group{{/t}}'
                aria-disabled=true
              >{{#t}}Delete{{/t}}</a>
            </li>
            {{/if}}
            {{#if canMove}}
            <li>
              <a
                class="move_group icon-updown"
                aria-label='{{#t}}Move Assignment Group{{/t}}'
                data-focus-returns-to="ag_{{id}}_manage_link"
              >{{#t}}Move To…{{/t}}</a>
            </li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
    </div>


  </div>

  <div id="assignment_group_{{id}}_assignments" class="assignment-list" >
    <ul class="collectionViewItems ig-list draggable"></ul>
  </div>

  {{#if ENV.PERMISSIONS.manage}}
    <form data-view="createAssignment" class="form-dialog"></form>
    <form data-view="editAssignmentGroup" class="form-dialog"></form>
    <form data-view="deleteAssignmentGroup" class="form-dialog"></form>
    <form data-view="moveAssignmentGroup" class="form-dialog"></form>
  {{/if}}
</div>
