{{#if multipleDueDates}}
  <strong>{{#t "available"}}Available{{/t}}</strong>

  <a title class="vdd_tooltip_link"
     aria-labelledby="vdd_tooltip_{{selector}}"
     data-tooltip-selector="#vdd_tooltip_{{selector}}"
     {{#if linkHref}}href="{{linkHref}}"{{/if}}
     >{{#t "multiple_dates"}}Multiple Dates{{/t}}</a>

  <div id="vdd_tooltip_{{selector}}" style="display:none;">
    <dl class="vdd_tooltip_content dl-horizontal">
      {{#each allDates}}
        <div class="clearfix">
          <dt>{{dueFor}}</dt>
          <dd>
            <dd>
              {{#if available}}
                {{#t "available"}}Available{{/t}}
              {{/if}}

              {{>[assignments/available_date_description]}}
            </dd>
          </dd>
        </div>
      {{/each}}
    </dl>
  </div>
{{else}}
  <span class="default-dates">
    {{#with defaultDates}}
      {{>[assignments/available_date_description]}}
    {{/with}}
  </span>
{{/if}}
