<form>
  {{#with assignment_override}}
  <div class="token-input-wrapper">
    <div class="token-input" name="course_section_id" aria-labelledby="overrides_course_section">
    </div>
  </div>
  <div class="date_field_container">
    <label class="screenreader-only" id="overrides_due_date_accessible_label_{{uniqid}}">
      {{#t}}Due Date:{{/t}}
      {{datepickerScreenreaderPrompt}}
    </label>
    <input value="{{datetimeFormatted due_at}}" name="due_at" type="text"
    class="input-small date_field" aria-labelledby="overrides_due_date_accessible_label_{{uniqid}}"
    data-tooltip title="{{accessibleDateFormat}}">
  </div>

  <div class="date_field_container">
    <label class="screenreader-only" id="overrides_unlock_at_accessible_label_{{uniqid}}">
      {{#t}}Available From Date:{{/t}}
      {{datepickerScreenreaderPrompt}}
    </label>
    <input name="unlock_at" value="{{datetimeFormatted unlock_at}}" type="text"
    class="date_field" aria-labelledby="overrides_unlock_at_accessible_label_{{uniqid}}"
    data-tooltip title="{{accessibleDateFormat}}">
  </div>

  <div class="date_field_container to">
    <span class="screenreader-only" id="overrides_lock_at_accessible_label_{{uniqid}}">
      {{#t}}Available Until Date:{{/t}}
      {{datepickerScreenreaderPrompt}}
    </span>
    <input name="lock_at" value="{{datetimeFormatted lock_at}}" type="text"
    class="date_field" aria-labelledby="overrides_lock_at_accessible_label_{{uniqid}}"
    data-tooltip title="{{accessibleDateFormat}}">
  </div>

  <div>
    <a
      href="#"
      class="remove-link"
      role="button"
      title='{{#t "overrides.remove_these_dates"}}Remove These Dates{{/t}}'
      aria-label='{{#t "overrides.remove_these_dates"}}Remove These Dates{{/t}}'
    ><i class="icon-x"></i>
    </a>
  </div>
  {{/with}}
</form>
