<form>
  {{#with assignment_override}}
  <span class="screenreader-only" id="overrides_course_section_accessible_label_{{uniqid}}">
    {{#t}}For Section{{/t}}
  </span>
  <select class="section-list input-small" name="course_section_id"
  aria-labelledby="overrides_course_section_accessible_label_{{uniqid}}">
  </select>

  <div class="date_field_container">
    <span class="screenreader-only" id="overrides_due_date_accessible_label_{{uniqid}}">
      {{#t "overrides.due_date"}}Due Date{{/t}}
    </span>
    <input value="{{datetimeFormatted due_at false}}" name="due_at" type="text"
    class="input-small date_field" aria-labelledby="overrides_due_date_accessible_label_{{uniqid}}">
  </div>

  <div class="date_field_container">
    <span class="screenreader-only" id="overrides_unlock_at_accessible_label_{{uniqid}}">
      {{#t}}Available From Date{{/t}}
    </span>
    <input name="unlock_at" value="{{datetimeFormatted unlock_at false}}" type="text"
    class="date_field" aria-labelledby="overrides_unlock_at_accessible_label_{{uniqid}}">
  </div>

  <div class="date_field_container to">
    <span class="screenreader-only" id="overrides_lock_at_accessible_label_{{uniqid}}">
      {{#t}}Available Until Date{{/t}}
    </span>
    <input name="lock_at" value="{{datetimeFormatted lock_at false}}" type="text"
    class="date_field" aria-labelledby="overrides_lock_at_accessible_label_{{uniqid}}">
  </div>

  <div>
    <a
      href="#"
      class="remove-link"
      role="button"
      title='{{#t "overrides.remove_these_dates"}}Remove These Dates{{/t}}'
      aria-label='{{#t "overrides.remove_these_dates"}}Remove These Dates{{/t}}'
    ><i class="icon-end"></i>
    </a>
  </div>
  {{/with}}
</form>
