{{#if frozen}}
  <div class="alert alert-info">
    <i class="icon-warning"></i> {{#t "warnings.assignment_is_frozen"}}Some settings have been administratively locked.{{/t}}
  </div>
{{/if}}

<div class="control-group">
  <div>
    <input id="assignment_name"
      name="name"
      placeholder="{{#t "assignment_name"}}Assignment Name{{/t}}"
      aria-label="{{#t "assignment_name"}}Assignment Name{{/t}}"
      value="{{name}}"
      type="text"
      maxlength="254"
      class="input-block-level"
      {{disabledIfIncludes frozenAttributes "title"}}/>
  </div>
</div>

<div class="control-group">
  {{#ifIncludes frozenAttributes "description"}}
    <div class="frozen-description user_content">
      {{convertApiUserContent description}}
    </div>
  {{else}}
    <div style="float: right;">
      <a href="#" class="rte_switch_views_link">
        {{#t "#editor.switch_editor_html"}}HTML Editor{{/t}}
      </a>
      <a href="#" class="rte_switch_views_link" style="display:none;">
        {{#t "#editor.switch_editor_visual"}}Visual Editor{{/t}}
      </a>
    </div>
    <div style="clear:both;"></div>
    <textarea id="assignment_description"
      name="description"
      aria-label="{{#t "description"}}Description{{/t}}"
      style="width: 100%; min-height: 300px;"
      {{disabledIfIncludes frozenAttributes "description"}}>
      {{convertApiUserContent description forEditing=1}}
    </textarea>
  {{/ifIncludes}}

</div>

<div class="control-group">

  <div class="form-column-left no-group">
    <label for="assignment_points_possible">
      {{#t "points_possible"}}Points{{/t}}
    </label>
  </div>

  <div class="form-column-right">
    <input id="assignment_points_possible"
      name="points_possible"
      value="{{pointsPossible}}"
      type="text"
      {{disabledIfIncludes frozenAttributes "points_possible"}}/>
  </div>
</div>


<fieldset id="assignment_group_selector" class="control-group">
</fieldset>

<div id="grading_type_selector"></div>

{{#if postToSISEnabled}}
<div class="form-column-left"></div>
<div class="form-column-right">
    <fieldset>
        <label class="checkbox">
          {{checkbox "postToSIS"
          id="assignment_post_to_sis"
          name="post_to_sis"
          }}
          {{#t "post_to_sis"}}Post to SIS{{/t}}
        </label>
    </fieldset>
</div>
{{/if}}

<div id="graded_assignment_fields"
  aria-expanded="{{not isNotGraded}}"
  style="{{hiddenIf isNotGraded}}">

  {{>[assignments/submission_types_form]}}

  {{#unless isLargeRoster}}
    <fieldset id="group_category_selector"
      class="control-group"
      style="{{hiddenIf isExternalTool}}">
    </fieldset>
  {{/unless}}

  {{#unless isLargeRoster}}
    <fieldset id="assignment_peer_reviews_fields"
      class="control-group"
      style="{{hiddenIf isExternalTool}}">
    </fieldset>
  {{/unless}}

</div>

{{#if canFreeze}}
  <div class="form-column-left"></div>
  <div class="form-column-right">
    <fieldset>
      <label class="checkbox" for="assignment_freeze_on_copy">
        {{checkbox "freezeOnCopy"
          id="assignment_freeze_on_copy"
          name="freeze_on_copy"}}
          {{#t "freeze_properties"}}Lock assignment properties when copied{{/t}}
      </label>
    </fieldset>
  </div>
{{/if}}

<div class='js-assignment-overrides'></div>

<div class="form-actions flush" style="padding-left: 10px;">

  <div style="float: left; min-width: 300px;">
    <label class="checkbox" style="text-align:left;" for="assignment_notify_of_update">
      {{checkbox "notifyOfUpdate"
        id="assignment_notify_of_update"
        name="notify_of_update"}}
      {{#t "notify_content_change"}}Notify users that this content has changed{{/t}}
    </label>
  </div>

  <button type="button" class="btn cancel_button">
    {{#t "#buttons.cancel"}}Cancel{{/t}}
  </button>
  <button type="submit" class="btn btn-primary">
    {{#t "buttons.update"}}Update Assignment{{/t}}
  </button>

</div>
