<div class="form-column-left">
  {{#if sectionLabel}}{{sectionLabel}}{{else}}{{#t 'group_assignment_header'}}Group Assignment{{/t}}{{/if}}
</div>

<div class="form-column-right">
  <div class="border border-trbl border-round">
    {{!-- Group Assignment selection --}}
    <label class="checkbox flush" for="has_group_category">
      {{checkbox "has_group_category"
      id="has_group_category"
      prefix=prefix
      checked=groupCategoryId
      aria-role="option"
      aria-checked=ariaChecked
      aria-controls="group_category_options"
      disabled=hasGroupCategoryDisabled}}
      {{#if fieldLabel}}{{fieldLabel}}{{else}}{{#t "is_group_assignment"}}This is a Group Assignment{{/t}}{{/if}}
    </label>

    {{!-- Individual grading? --}}
    <div id="group_category_options" style="{{hiddenUnless groupCategoryId}}">
      <div class="nested">
        {{#unless hideGradeIndividually}}
          <label class="checkbox" for="assignment_grade_students_individually">
            {{checkbox "grade_group_students_individually"
              id="assignment_grade_students_individually"
              prefix=prefix
              checked=gradeGroupStudentsIndividually
              disabled=gradeIndividuallyDisabled}}
            {{#t "grade_group_students_individually"}}
              Assign Grades to Each Student Individually
            {{/t}}
          </label>
        {{/unless}}

        {{!-- Group selection --}}
        <label for="group_category_id">
          {{#t "group_set"}}Group Set{{/t}}
        </label>
        <select id="assignment_group_category_id"
          name="{{#if nested}}assignment[group_category_id]{{else}}group_category_id{{/if}}"
          {{disabledIf groupCategoryIdDisabled}}>
          {{#each groupCategories}}
            <option value="{{id}}" {{selectedIf ../groupCategoryId this.id}}>
              {{name}}
            </option>
          {{/each}}
          <option value="new">
            [ {{#t "group_category_options"}}New Group Category{{/t}} ]
          </option>
        </select>
        {{#if differentiatedAssignmentsEnabled}}
          <div class="alert assignment-edit-group-alert">
            {{#t "differentiated_groups_warning"}}Differentiated group assignments may yield unexpected results.{{/t}}
          </div>
        {{/if}}
      </div>
    </div>
    {{#if groupCategoryLocked}}
      <div class="group_category_locked_explanation alert assignment-edit-group-alert">
        {{#if lockedMessage}}{{lockedMessage}}{{else}}
          {{#t "group_category_locked_explanation"}}Students have already
          submitted homework on this assignment, so group settings cannot be
          changed.{{/t}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
