<div class="form-column-left">
  {{#t 'group_assignment_header'}}Group Assignment{{/t}}
</div>

<div class="form-column-right">
  <div class="border border-trbl border-round">
    {{!-- Group Assignment selection --}}
    <label class="checkbox flush">
      {{checkbox "has_group_category"
        id="assignment_has_group_category"
        prefix=prefix
        checked=groupCategoryId
        disabled=hasGroupCategoryDisabled}}
      {{#t "is_group_assignment"}}This is a Group Assignment{{/t}}
    </label>

    {{!-- Individual grading? --}}
    <div class="nested">
      <div id="group_category_options" style="{{hiddenUnless groupCategoryId}}">
        <label class="checkbox" >
          {{checkbox "grade_group_students_individually"
            id=null
            prefix=prefix
            checked=gradeGroupStudentsIndividually
            disabled=gradeIndividuallyDisabled}}
          {{#t "grade_group_students_individually"}}
            Assign Grades to Each Student Individually
          {{/t}}
        </label>

        {{!-- Group selection --}}
        <label for="group_category_id">
          {{#t "group_set"}}Group Set{{/t}}
        </label>
        <select id="assignment_group_category_id"
          name="{{#if nested}}assignment[group_category_id]{{else}}group_category_id{{/if}}"
          {{disabledIf groupCategoryIdDisabled}}>
          {{#each groupCategories}}
            <option value="{{id}}" {{selectedIf ../groupCategoryId this.id}}>
              {{name}}
            </option>
          {{/each}}
          <option value="new">
            [ {{#t "group_category_options"}}New Group Category{{/t}} ]
          </option>
        </select>
      </div>
    </div>

    {{#if groupCategoryLocked}}
      <div class="group_category_locked_explanation alert"
           style="margin: 15px 20px 0">
        {{#t "group_category_locked_explanation"}}Students have already
        submitted homework on this assignment, so group settings cannot be
        changed.{{/t}}
      </div>
    {{/if}}
  </div>
</div>
