<li class='tool'>
  <a href='#'>
    {{#if homework_submission.icon_url}}
      <img style="max-width: 25px; max-height: 25px;" alt="" src='{{homework_submission.icon_url}}'/>
    {{else}}
      {{#if icon_url}}
        <img style="max-width: 25px; max-height: 25px;" alt="" src='{{icon_url}}'/>
      {{else}}
        <img alt="" src='/images/link.png'/>
      {{/if}}
    {{/if}}

    {{display_text}}
  </a>
</li>