<div class="controls">
  <label class="checkbox" for="assignment_peer_reviews">
    <input id="assignment_peer_reviews"
    name="{{#if nested}}assignment[peer_reviews]{{else}}peer_reviews{{/if}}"
      type="checkbox"
      aria-controls="peer_reviews_details"
      {{checkedIf peerReviews}}
      {{disabledIfIncludes frozenAttributes "peer_reviews"}}/>
    {{#t "labels.require_peer_reviews"}}Require Peer Reviews{{/t}}
  </label>
</div>

<div id="peer_reviews_details"
  aria-expanded="{{peerReviews}}"
  style="{{hiddenUnless peerReviews}}">

  <div class="controls">
    <label class="radio" for="assignment_manual_peer_reviews">
      <input name="{{#if nested}}assignment[automatic_peer_reviews]{{else}}automatic_peer_reviews{{/if}}"
        id="assignment_manual_peer_reviews"
        type="radio"
        value="0"
        aria-controls="automatic_peer_reviews_options"
        {{checkedUnless automaticPeerReviews}}
        {{disabledIfIncludes frozenAttributes "peer_reviews"}}/>
      {{#t "labels.manually_assign_peer_reviews"}}
        Manually Assign Peer Reviews
      {{/t}}
    </label>

    <label class="radio" for="assignment_automatic_peer_reviews">
      <input name="{{#if nested}}assignment[automatic_peer_reviews]{{else}}automatic_peer_reviews{{/if}}"
        id="assignment_automatic_peer_reviews"
        type="radio"
        value="1"
        aria-controls="automatic_peer_reviews_options"
        {{checkedIf automaticPeerReviews}}
        {{disabledIfIncludes frozenAttributes "peer_reviews"}}/>
      {{#t "labels.automatically_assign_peer_reviews"}}
        Automatically Assign Peer Reviews
      {{/t}}
    </label>
  </div>

  <div id="automatic_peer_reviews_options"
    aria-enabled="{{automaticPeerReviews}}"
    style="{{hiddenUnless automaticPeerReviews}}">

    <div class="control-group">
      <label for="assignment_peer_review_count" class="control-label">
        {{#t "reviews_per_user"}}Reviews Per User{{/t}}
      </label>
      <div class="controls">
        <input id="assignment_peer_review_count"
          name="{{#if nested}}assignment[peer_review_count]{{else}}peer_review_count{{/if}}"
          value="{{peerReviewCount}}"
          type="text"
          {{disabledIfIncludes frozenAttributes "peer_reviews"}}/>
      </div>
    </div>

    <div class="control-group">
      <label for="assignment_peer_reviews_assign_at" class="control-label">
        {{#t "locked_until"}}Assign Reviews{{/t}}
      </label>
      <div class="controls">
        <input id="assignment_peer_reviews_assign_at"
          name="{{#if nested}}assignment[peer_reviews_assign_at]{{else}}peer_reviews_assign_at{{/if}}"
          class="date_field datetime_field hasDatePicker"
          value="{{datetimeFormatted peerReviewsAssignAt}}"
          type="text"
          {{disabledIfIncludes frozenAttributes "peer_reviews"}}/>
        <div class="explanation" style="font-size:0.8em;color:#888;">
          {{#t "peer_reviews_assign_at_explanation"}}
            Must come after due date. If blank, uses due date.
          {{/t}}
        </div>
      </div>
    </div>

  </div>

</div>
