{{!
  TODO: Replace this with new styelguide forms once the
  upgrade to bootstrap is complete. The needed change would
  be to add class="well form-horizontal bootstrap-form".
}}
<form id="assignment_vericite_settings">
  <div class="control-group">
    <div class="controls">
      <label for="settings_originality_report_visibility"
      class="control-label">
        {{#t "vericite_settings.originality_report_visibility"}}
          Students Can See the Originality Report
        {{/t}}
      </label>
      <br/>
      <select id="settings_originality_report_visibility"
        name="originality_report_visibility">
        <option value="immediate"
        {{selectedIf originalityReportVisibility "immediate"}} >
          {{#t "vericite_settings.originality_report_visible_immediately"}}
            Immediately
          {{/t}}
        </option>
        <option value="after_grading"
        {{selectedIf originalityReportVisibility "after_grading"}} >
          {{#t "vericite_settings.originality_report_visible_after_grading"}}
            After the assignment is graded
          {{/t}}
        </option>
        <option value="after_due_date"
        {{selectedIf originalityReportVisibility "after_due_date"}} >
          {{#t "vericite_settings.originality_report_visible_after_due_date"}}
            After the Due Date
          {{/t}}
        </option>
        <option value="never"
        {{selectedIf originalityReportVisibility "never"}} >
          {{#t "vericite_settings.originality_report_never"}}
            Never
          {{/t}}
        </option>
      </select>
    </div>
  </div>

  <fieldset>
    <h5>
      {{#t "vericite_settings.labels.do_not_consider"}}
        Do Not Consider
      {{/t}}
    </h5>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox" for="exclude_quoted">
          {{checkbox "exclude_quoted" checked=excludeQuoted}}
          {{#t "vericite_settings.labels.exclude_quoted"}}
            Quoted Material
          {{/t}}
        </label>
      </div>
    </div>
  </fieldset>

  
  <div class="button-container">
    <button type="submit" class="btn btn-primary">
      {{#t "buttons.update_settings"}}
        Update Settings
      {{/t}}
    </button>
  </div>

</form>
