<td class="center">
  {{>avatar}}
</td>
<td>
  <a href="{{html_url}}"
     data-student_id="{{id}}"
     data-course_id="{{course_id}}"
     class="roster_user_name student_context_card_trigger">{{name}}</a>
  {{#if isPending}}<span class="label label-info" title="{{#t "pending_acceptance_explanation"}}This user has not yet accepted the invitation to the course{{/t}}">{{#t "pending_acceptance_of_invitation"}}pending{{/t}}</span>{{/if}}
  {{#if isInactive}}<span class="label" title="{{#t}}This user is currently not able to access the course{{/t}}">{{#t}}inactive{{/t}}</span>{{/if}}
</td>
{{#if canViewLoginIdColumn}}
<td>
  {{#if canViewLoginId}}
    {{login_id}}
  {{/if}}
</td>
{{/if}}
{{#if canViewSisIdColumn}}
<td>
  {{#if canViewSisId}}
    {{sis_id}}
  {{/if}}
</td>
{{/if}}
<td>
  {{#each sections}}
  <div class="section">{{name}}</div>
  {{/each}}
</td>
<td>
  {{#each enrollments}}
  <div>{{enrollmentName role}}</div>
  {{/each}}
</td>
{{#if ENV.permissions.read_reports}}
<td>
  {{#each enrollments}}
    <div {{contextSensitiveDatetimeTitle last_activity_at }}>
      {{datetimeFormatted last_activity_at}}
    </div>
  {{/each}}
</td>
<td>
  <div>{{total_activity_string}}</div>
</td>
{{/if}}
<td class="right">
  {{#if canManage}}
  <div class="admin-links">
    <a role="button" class="al-trigger al-trigger-gray" href="javascript:void(0)">
      <i class="icon-more" aria-hidden="true"></i>
      <span class="screenreader-only">{{#t "manage_user"}}Manage {{name}}{{/t}}</span></a>
    <ul class="al-options">
      {{#if canResendInvitation}}
        <li><a href="#" data-event="resendInvitation"><i class="icon-email" aria-hidden="true"></i> {{#t "links.resend_invitation"}}Resend Invitation{{/t}}</a></li>
      {{/if}}
      {{#if canLinkStudents}}
        <li><a href="#" data-event="linkToStudents"><i class="icon-link" aria-hidden="true"></i> {{#t "links.link_to_students"}}Link to Students{{/t}}</a></li>
      {{/if}}
      {{#if canEditSections}}
        <li><a href="#" data-event="editSections"><i class="icon-edit" aria-hidden="true"></i> {{#t "links.edit_sections"}}Edit Sections{{/t}}</a></li>
      {{/if}}
      {{#if canEditRoles}}
        <li><a href="#" data-event="editRoles"><i class="icon-edit" aria-hidden="true"></i> {{#t}}Edit Role{{/t}}</a></li>
      {{/if}}
      <li><a href="{{url}}"><i class="icon-user" aria-hidden="true"></i> {{#t "links.user_details"}}User Details{{/t}}</a></li>

      {{#if canRemoveUsers}}
        <li class="ui-menu-item"><hr /></li>
        {{#if isInactive}}
          <li><a href="#" data-event="reactivateUser"><i class="icon-user" aria-hidden="true"></i>  {{#t}}Re-activate User{{/t}}</a></li>
        {{else}}
          <li><a href="#" data-event="deactivateUser"><i class="icon-deactivate-user" aria-hidden="true"></i> {{#t}}Deactivate User{{/t}}</a></li>
        {{/if}}
        <li><a href="#" data-event="removeFromCourse"><i class="icon-trash" aria-hidden="true"></i> {{#t "links.remove_from_course"}}Remove From Course{{/t}}</a></li>
      {{/if}}
      {{#each customLinks}}
        <li><a href="{{url}}"><i class="{{icon_class}}"></i> {{text}}</a></li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</td>
