<div class="discussion-content">
  <div class="discussion-row{{#if ENV.permissions.publish}} {{#if published}}discussion-published{{else}}discussion-unpublished{{/if}}{{/if}}">
    {{#if permissions.moderate}}
      <div class="draggable-handle">
        <i class="icon-drag-handle"></i>
      </div>
    {{/if}}

    <div class="discussion-type">
      {{#if assignment}}
        <i class="icon-assignment" aria-hidden="true"></i>
        <span class="screenreader-only">{{#t "graded_discussion"}}Graded discussion{{/t}}</span>
      {{/if}}
    </div>

    <div class="discussion-title">
      <a href="{{html_url}}" class="title">{{title}}</a>
      <small>{{#t "last_post_date"}}Last post {{display_last_reply_at}}{{/t}}</small>
    </div>

    <div class="discussion-date-available">
      {{#with defaultDates}}
        {{#unless closed}}
          {{>[assignments/available_date_description]}}
        {{/unless}}
      {{/with}}
    </div>

    <div class="discussion-due-date">
      {{#if assignment}}
        {{#if assignment.due_at}}
        <span class="discussion-date-type">{{#t "due"}}Due{{/t}}</span>
        {{datetimeFormatted assignment.due_at}}
        {{else}}
          {{#t "no_due_date"}}No Due Date{{/t}}
        {{/if}}
      {{/if}}
    </div>

    <div class="discussion-status">
      <span id="publish-icon" class="publish-icon" {{#if ENV.DRAFT_STATE}} data-view="publishIcon" {{/if}}></span>
      <a href="#" data-view="toggleableSubscriptionIcon" class="subscription-toggler">
        <span class="screenreader-only">
          {{#if subscribed}}
            {{#t "user_subscribed"}}You are subscribed to this topic. Click to unsubscribe.{{/t}}
          {{else}}
            {{#t "user_unsubscribed"}}You are not subscribed to this topic. Click to subscribe.{{/t}}
          {{/if}}
        </span>
      </a>
    </div>

    <div class="discussion-unread-status">
      <div class="new-and-total-badge pull-right">
        <span class="new-items"
              title="{{unread_count_tooltip}}"
              aria-hidden="true"
              data-tooltip>
          {{unread_count}}
        </span>
        <span class="screenreader-only">
          {{unread_count_tooltip}}
        </span>

        <div class="total-items"
             title="{{reply_count_tooltip}}"
             aria-hidden="true"
             data-tooltip>
          {{discussion_subentry_count}}
        </div>
        <div class="screenreader-only">
          {{reply_count_tooltip}}
        </div>
      </div>
    </div>


    <div class="discussion-actions">
      {{#if permissions.delete}}
        <a href="#" class="al-trigger">
          <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "manage"}}Manage{{/t}}</span>
        </a>

        <ul class="al-options">
          <li>
            <a href="#" class="icon-lock">
              {{#if locked}}
                {{#t "open_to_comments"}}Open to comments{{/t}}
              {{else}}
                {{#t "close_for_comments"}}Close for comments{{/t}}
              {{/if}}
            </a>
          </li>
          <li>
            <a href="#" class="icon-trash">{{#t "delete"}}Delete{{/t}}</a>
          </li>
          {{#if pinnable}}
            <li>
              <a href="#" class="icon-pin">
                {{#if pinned}}
                  {{#t "unpin"}}Unpin{{/t}}
                {{else}}
                  {{#t "pin"}}Pin{{/t}}
                {{/if}}
              </a>
            </li>
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>
