<div class="discussion-content" id="{{id}}_discussion_content">
  <div class="discussion-row{{#if ENV.permissions.publish}} {{#if published}}discussion-published{{else}}discussion-unpublished{{/if}}{{/if}}">
    {{#if permissions.moderate}}
      <div class="draggable-handle">
        <i class="icon-drag-handle"></i>
      </div>
    {{/if}}

    <div class="discussion-type">
      {{#if assignment}}
        {{#if assignment.peer_reviews}}
          <i class="icon-peer-review" aria-hidden="true"></i>
        {{/if}}
        <i class="icon-assignment" aria-hidden="true"></i>
      {{/if}}
    </div>

    <div class="discussion-title">
      <h3 class="inline-block discussion-title-block">
        {{#if assignment}}
          <span class="screenreader-only">{{#t "graded_discussion"}}Graded discussion: {{/t}}</span>
        {{/if}}
        <a href="{{html_url}}" class="title">{{title}}</a>
      </h3>
      {{#if display_last_reply_at}}
        <small {{ contextSensitiveDatetimeTitle last_reply_at }}>{{#t "last_post_date"}}Last post {{display_last_reply_at}}{{/t}}</small>
      {{/if}}
    </div>

    <div class="discussion-date-available">
      {{#with defaultDates}}
        {{#unless closed}}
          {{>[assignments/available_date_description]}}
        {{/unless}}
      {{/with}}
    </div>

    <div class="discussion-due-date">
      {{#if assignment}}
        {{#if assignment.due_at}}
          <span class="discussion-date-type">
            {{#t "due"}}Due{{/t}}
          </span>
          <span {{ contextSensitiveDatetimeTitle assignment.due_at }}>
            {{datetimeFormatted assignment.due_at}}
          </span>
        {{else}}
          {{#t "no_due_date"}}No Due Date{{/t}}
        {{/if}}
      {{/if}}
    </div>

    <div class="discussion-status">
      <span id="publish-icon" class="publish-icon" data-view="publishIcon"></span>
      <a href="#" data-view="toggleableSubscriptionIcon" class="subscription-toggler" role="button">
        <span class="screenreader-only"></span>
      </a>
    </div>

    <div class="discussion-unread-status">
      <div class="new-and-total-badge pull-right">
        <span class="new-items"
              title="{{unread_count_tooltip}}"
              aria-hidden="true"
              data-tooltip>
          {{unread_count}}
        </span>
        <span class="screenreader-only">
          {{unread_count_tooltip}}
        </span>

        <div class="total-items"
             title="{{reply_count_tooltip}}"
             aria-hidden="true"
             data-tooltip>
          {{discussion_subentry_count}}
        </div>
        <div class="screenreader-only">
          {{reply_count_tooltip}}
        </div>
      </div>
    </div>


    <div class="discussion-actions">
      {{#if permissions.delete}}
        <a href="#" class="al-trigger al-trigger-gray" role="button" id="manage_link">
          <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "manage"}}Manage{{/t}}</span>
        </a>

        <ul class="al-options">
          {{#if locked}}
            <li>
              <a href="#" class="icon-lock">
                {{#t "open_for_comments"}}Open for Comments{{/t}}
              </a>
            </li>
          {{else}}
            {{#if can_lock}}
              <li>
                <a href="#" class="icon-lock">
                  {{#t "close_for_comments"}}Close for Comments{{/t}}
                </a>
              </li>
            {{/if}}
          {{/if}}
          <li>
            <a href="#" class="icon-trash">{{#t "delete"}}Delete{{/t}}</a>
          </li>
          {{#if pinnable}}
            <li>
              <a href="#" class="icon-pin">
                {{#if pinned}}
                  {{#t "unpin"}}Unpin{{/t}}
                {{else}}
                  {{#t "pin"}}Pin{{/t}}
                {{/if}}
              </a>
            </li>
            {{#if pinned}}
              <li>
                <a href="#"
                  class="move_item icon-updown"
                >{{#t "move"}}Move To&hellip;{{/t}}</a>
              </li>
            {{/if}}
          {{/if}}
          {{#if ENV.permissions.manage_content}}
            {{>ExternalTools/external_tools_menu discussion_topic_menu_tools}}
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>
