<div class="discussion-content" id="{{id}}_discussion_content">
  <div class="discussion-row{{#if ENV.permissions.publish}} {{#if published}}discussion-published{{else}}discussion-unpublished{{/if}}{{/if}}">
    {{#if permissions.moderate}}
      <div class="draggable-handle">
        <i class="icon-drag-handle"></i>
      </div>
    {{/if}}

    <div class="discussion-type">
      {{#if assignment}}
        {{#if assignment.peer_reviews}}
          <i class="icon-peer-review" aria-hidden="true"></i>
        {{/if}}
        <i class="icon-assignment" aria-hidden="true"></i>
      {{/if}}
    </div>

    <div class="discussion-title">
      <h3 class="inline-block discussion-title-block">
        {{#if assignment}}
          <span class="screenreader-only">{{#t}}Graded discussion: {{/t}}</span>
        {{/if}}
        <a href="{{html_url}}" class="title">{{title}}</a>
      </h3>
      {{#if display_last_reply_at}}
        <small {{ contextSensitiveDatetimeTitle last_reply_at }}>{{#t}}Last post {{display_last_reply_at}}{{/t}}</small>
      {{/if}}
    </div>

    <div class="discussion-date-available">
      {{#with defaultDates}}
        {{#unless closed}}
          {{>[assignments/available_date_description]}}
        {{/unless}}
      {{/with}}
    </div>

    <div class="discussion-due-date">
      {{#if assignment}}
        <div class="ig-details__item assignment-date-due" data-view="date-due">
        </div>
      {{/if}}
    </div>

    {{#if permissions.update}}
      {{#if assignment}}
        {{#if cyoe.isTrigger}}
        <div>
          <a href="discussion_topics/{{id}}/edit?return_to={{return_to}}#mastery-paths-editor" title="{{#t}}Edit Mastery Paths for {{title}}{{/t}}">{{#t}}Mastery Paths{{/t}}</a>
        </div>
        {{/if}}
        {{#if cyoe.isReleased}}
        <span class="pill mastery-path-icon" data-tooltip title="{{#t}}Released by Mastery Path{{/t}}">
          <i class="icon-mastery-path"></i>{{cyoe.releasedLabel}}
        </span>
        {{/if}}
      {{/if}}
    {{/if}}

    <div class="discussion-status">
      <span id="publish-icon" class="publish-icon" data-view="publishIcon"></span>
      <a href="#" data-view="toggleableSubscriptionIcon" class="subscription-toggler" role="button">
        <span class="screenreader-only"></span>
      </a>
    </div>

    <div class="discussion-unread-status">
      <div class="new-and-total-badge pull-right">
        <span class="new-items"
              title="{{unread_count_tooltip}}"
              aria-hidden="true"
              data-tooltip>
          {{unread_count}}
        </span>
        <span class="screenreader-only">
          {{unread_count_tooltip}}
        </span>

        <div class="total-items"
             title="{{reply_count_tooltip}}"
             aria-hidden="true"
             data-tooltip>
          {{discussion_subentry_count}}
        </div>
        <div class="screenreader-only">
          {{reply_count_tooltip}}
        </div>
      </div>
    </div>

    <div class="discussion-actions">
      {{#if permissions.delete}}
        <a href="#" class="al-trigger al-trigger-gray" role="button" id="manage_link">
          <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t}}Manage{{/t}}</span>
        </a>

        <ul class="al-options">
          {{#if locked}}
            <li>
              <a href="#" class="icon-lock">
                {{#t}}Open for Comments{{/t}}
              </a>
            </li>
          {{else}}
            {{#if can_lock}}
              <li>
                <a href="#" class="icon-lock">
                  {{#t}}Close for Comments{{/t}}
                </a>
              </li>
            {{/if}}
          {{/if}}
          {{#if pinnable}}
            <li>
              <a href="#" class="icon-pin">
                {{#if pinned}}
                  {{#t}}Unpin{{/t}}
                {{else}}
                  {{#t}}Pin{{/t}}
                {{/if}}
              </a>
            </li>
            {{#if pinned}}
              <li>
                <a href="#"
                  class="move_item icon-updown"
                >{{#t}}Move To&hellip;{{/t}}</a>
              </li>
            {{/if}}
          {{/if}}
          {{#if cyoe.isCyoeAble}}
          <li>
            <a href="discussion_topics/{{id}}/edit?return_to={{return_to}}#mastery-paths-editor" class="icon-mastery-path" title="{{#t}}Edit Mastery Paths for {{title}}{{/t}}">{{#t}}Mastery Paths{{/t}}</a>
          </li>
          {{/if}}
          <li>
            <a href="#" class="icon-trash" title="{{#t}}Delete{{/t}}">{{#t}}Delete{{/t}}</a>
          </li>
          {{#if ENV.permissions.manage_content}}
            {{>ExternalTools/external_tools_menu discussion_topic_menu_tools}}
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>
