<fieldset>
  <div class="control-group">
    <label class="hidden-inline-text" for="discussion-title">{{#t "topic_title"}}Topic Title{{/t}}</label>
    <input type="text"
           id="discussion-title"
           name="title"
           placeholder="{{#t "topic_title"}}Topic Title{{/t}}"
           value="{{title}}"
           maxlength="254"
           style="font-size: 15px; width: 99%">
  </div>
  <div class="control-group">
      <div style="float: right;">
        <a href="#" class="rte_switch_views_link">{{#t "#editor.switch_views"}}Switch Views{{/t}}</a>
      </div>
      <div style="clear:both;"></div>
      <textarea name="message"
              style="width: 100%; min-height: 200px;">{{convertApiUserContent message forEditing=1}}</textarea>
  </div>

</fieldset>
{{#if canAttach}}
<fieldset>

  <div class="control-group">
    <label class="control-label" for="attachment_uploaded_data">{{#t "attachment"}}Attachment{{/t}}</label>
    <div class="controls">
      {{#each attachments}}
        <div class="attachmentRow">
          <a href="{{url}}" class="{{mimeClass content-type}}">{{display_name}}</a>
          <button type="button" class="removeAttachment close" style="float:none">×</button>
        </div>
      {{/each}}
      <input type="file"
             name="attachment"
             {{#if attachments}}style="display:none"{{/if}}
             id="attachment_uploaded_data" >
    </div>
  </div>

</fieldset>
{{/if}}
<fieldset>

  {{#ifAny isTopic contextIsCourse canModerate showAssignment}}
  <div class="control-group">
    <label class="control-label">{{#t "options"}}Options{{/t}}</label>
    <div class="controls">
      {{#if isTopic}}
        <label class="checkbox">
          <input name="threaded" type="hidden" value="0" />
          <input type="checkbox"
                 {{#ifEqual discussion_type "threaded"}}checked{{/ifEqual}}
                 name="threaded">
          {{#t "allow_threaded_replies"}}Allow threaded replies{{/t}}
        </label>
      {{/if}}
      {{#if contextIsCourse}}
        <label class="checkbox">
          <input name="delay_posting" type="hidden" value="0" />
          <input type="checkbox"
                 {{#if delayed_post_at}}checked{{/if}}
                 name="delay_posting"
                 class="element_toggler"
                 aria-controls="discussion_topic_delay_post_container">
          {{#t "delay_posting"}}Delay posting{{/t}}
        </label>
        <label id="discussion_topic_delay_post_container"
               style="{{hiddenUnless delayed_post_at}}"
               class="checkbox">
          {{#t "post_at"}}Post At{{/t}}
          <input type="text"
                 class="datetime_field input-medium"
                 name="delayed_post_at"
                 {{! TODO: what would be the best way to get this formatted right? }}
                 value="{{datetimeFormatted delayed_post_at}}">
        </label>
        <label class="checkbox">
          {{checkbox "require_initial_post"}}
          {{#t "users_must_post_before_seeing_replies"}}Users must post before seeing replies{{/t}}
        </label>
      {{/if}}
      {{#if canModerate}}
        <label class="checkbox">
          <input name="podcast_enabled" type="hidden" value="0" />
          <input type="checkbox"
                 {{#if podcast_url}}checked{{/if}}
                 name="podcast_enabled"
                 class="element_toggler"
                 aria-controls="podcast_has_student_posts_container">
          {{#t "enable_podcast_feed"}}Enable podcast feed{{/t}}
        </label>
  
        <label id="podcast_has_student_posts_container"
               style="{{hiddenUnless podcast_url}}"
               class="checkbox">
          {{checkbox "podcast_has_student_posts"}}
          {{#t "include_replies_in_podcast_feed"}}Include Replies in podcast feed{{/t}}
        </label>
      {{/if}}
      {{#if showAssignment}}
        <label class="checkbox">
          <input name="assignment[set_assignment]" type="hidden" value="0" />
          <input type="checkbox"
                 id="use_for_grading"
                 class="element_toggler"
                 aria-controls="assignment_options"
                 name="assignment[set_assignment]"
                 {{#if useForGrading}}checked{{/if}}
                 value="1">
          {{#t "use_for_grading"}}Use for grading{{/t}}
        </label>
      {{/if}}
    </div>
  </div>
  {{/ifAny}}

</fieldset>

{{#if showAssignment}}
  <fieldset id="assignment_options" style="{{hiddenUnless useForGrading}}">

    <div class="control-group">
      <label class="control-label" for="discussion_topic_assignment_points_possible">{{#t "points_possible"}}Points possible{{/t}}</label>
      <div class="controls">
        <input type="number"
               id="discussion_topic_assignment_points_possible"
               name="assignment[points_possible]"
               value="{{assignment.points_possible}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="discussion_topic_assignment_assignment_group_id">{{#t "assignment_group"}}Assignment Group{{/t}}</label>
      <div class="controls">
        <select name="assignment[assignment_group_id]" id="discussion_topic_assignment_assignment_group_id" disabled>
          <option>{{#t "loading"}}Loading...{{/t}}</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="discussion_topic_assignment_due_at">{{#t "due"}}Due{{/t}}</label>
      <div class="controls">
        <input type="text"
               class="datetime_field"
               id="discussion_topic_assignment_due_at"
               name="assignment[due_at]"
               {{! TODO: what would be the best way to get this formatted right? }}
               value="{{datetimeFormatted assignment.due_at}}">
      </div>
    </div>

  </fieldset>
{{/if}}

<div class="form-actions">
  <button type="submit"
          data-text-while-loading="{{#t "saving"}}Saving...{{/t}}"
          class="btn btn-primary">{{#t "save"}}Save{{/t}}</button>
</div>

