{{#if permissions.moderate}}
  <div class="discussion-column">
    <span class="discussion-drag-handle"
          tabindex="0"
          data-tooltip
          title="{{#t}}Drag up or down to reorder{{/t}}"></span>
  </div>
{{/if}}

<div class="discussion-column image-block">
  <div class="image-block-content">
    <div>
      <div class="image-block-image" aria-hidden="true">
        {{>avatar author}}
      </div>
      <a href="{{html_url}}" class="discussion-title" >{{title}}</a>
      {{#if author}}
        <a class="discussion-author" href="{{author.html_url}}">{{author.display_name}}</a>
      {{/if}}
      <div class="discussion-summary ellipsis">{{summary}}</div>
    </div>
    <div class="discussion-actions-container">
      <div class="discussion-unread-container">
        <div class="new-and-total-badge">
          <span class="new-items"
                data-tooltip
                title="{{unread_count_tooltip}}">{{#if unread_count}}{{n unread_count}}{{/if}}</span>
          <span class="total-items"
                data-tooltip
                title="{{reply_count_tooltip}}">{{#if discussion_subentry_count}}{{n discussion_subentry_count}}{{/if}}</span>
        </div>
      </div>
      <div class="discussion-last-reply">
        {{friendlyDatetime last_reply_at contextSensitive=true}}
      </div>
      <span data-view="lock-icon" class="lock-icon"></span>
      <div class="discussion-info-icons">
        {{#if locked}}
          <i data-tooltip
             title="{{#t}}This topic is closed for comments{{/t}}"
             class="icon-lock"
             tabindex="0"><span class="screenreader-only">{{#t}}This topic is closed for comments{{/t}}</span></i>
        {{/if}}

        {{#if podcast_url}}
          <a href="{{podcast_url}}"
             data-tooltip
             title="{{#t}}Topic Podcast Feed{{/t}}"><i class="icon-rss"></i></a>
        {{/if}}

        {{#each attachments}}
          <a href="{{url}}"
             data-tooltip
             title="{{#t}}Attached: {{display_name}}{{/t}}"><i class="icon-paperclip"></i></a>
        {{/each}}
        {{#if assignment_id}}
          <i data-tooltip
             title="{{#t}}This topic is used for grading{{/t}}"
             class="icon-assignment"></i>
        {{/if}}

        <i class="icon-pin discussion-info-icons-pin {{#unless pinned}}invisible-pin{{/unless}}">
          <span class="screenreader-only">{{#t}}This topic is marked as pinned{{/t}}</span>
        </i>
      </div>
    </div>
  </div>
</div>
