{{#if permissions.moderate}}
  <div class="discussion-column">
    <span class="discussion-drag-handle"
          tabindex="0"
          data-tooltip
          title="{{#t "drag_up_or_down_to_reorder"}}Drag up or down to reorder{{/t}}"></span>
  </div>
{{/if}}

{{#if permissions.delete}}
  <label class="discussion-column">
    <input class="toggleSelected" type="checkbox" aria-label="{{title}}" {{#if selected}}checked{{/if}} >
  </label>
{{/if}}
<div class="discussion-column image-block">
  <div class="image-block-image">
    {{>avatar author}}
  </div>
  <div class="image-block-content">
    <div class="discussion-actions">
      {{#if permissions.delete}}
        <a href="#" class="al-trigger al-trigger-gray" role="button" id="manage_link" aria-haspopup="true">
          <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only">{{#t "manage"}}Manage{{/t}} announcement with title {{title}}</span>
        </a>

        <ul class="al-options">
          {{#if locked}}
            <li>
              <a href="#" class="icon-lock">
                {{#t "open_to_comments"}}Open to comments{{/t}}
              </a>
            </li>
          {{else}}
            {{#if can_lock}}
              <li>
                <a href="#" class="icon-lock">
                  {{#t "close_for_comments"}}Close for comments{{/t}}
                </a>
              </li>
            {{/if}}
          {{/if}}
          <li>
            <a href="#" class="icon-trash">{{#t "delete"}}Delete{{/t}}</a>
          </li>
        </ul>
      {{/if}}
    </div>
    <div class="discussion-unread-container">
      <div class="new-and-total-badge">
        <span class="new-items"
              data-tooltip
              title="{{unread_count_tooltip}}">{{#if unread_count}}{{unread_count}}{{/if}}</span>
        <span class="total-items"
              data-tooltip
              title="{{reply_count_tooltip}}">{{#if discussion_subentry_count}}{{discussion_subentry_count}}{{/if}}</span>
      </div>
    </div>
    <div class="discussion-last-reply">
      {{friendlyDatetime last_reply_at contextSensitive=true}}
    </div>
    <div class="discussion-info-icons">
      {{#if locked}}
        <i data-tooltip
           title="{{#t "locked"}}This topic is closed for comments{{/t}}"
           class="icon-lock"
           tabindex="0"><span class="screenreader-only">{{#t "locked"}}This topic is closed for comments{{/t}}</span></i>
      {{/if}}

      {{#if podcast_url}}
        <a href="{{podcast_url}}"
           data-tooltip
           title="{{#t "topic_podcast_feed"}}Topic Podcast Feed{{/t}}"><i class="icon-rss"></i></a>
      {{/if}}

      {{#each attachments}}
        <a href="{{url}}"
           data-tooltip
           title="{{#t "attached_file_name"}}Attached: {{display_name}}{{/t}}"><i class="icon-paperclip"></i></a>
      {{/each}}
      {{#if assignment_id}}
        <i data-tooltip
           title="{{#t "this_topic_is_used_for_grading"}}This topic is used for grading{{/t}}"
           class="icon-assignment"></i>
      {{/if}}
    </div>
    <a href="{{html_url}}" class="discussion-title" >{{title}}</a>
    {{#if author}}
      <a class="discussion-author" href="{{author.html_url}}">{{author.display_name}}</a>
    {{/if}}
    <div class="discussion-summary ellipsis">{{summary}}</div>
  </div>
</div>
