{{#each tree.folders}}
<li class="folder" tabindex="0" role="menuitem">
  {{name}}
  <ul>
    {{#each files}}
    <li class="file {{extension}}" id="document_{{document_id}}" tabindex="0" role="button" aria-live="true">
      <span class="filename">{{name}}</span>
      <a class="popout no-hover" href="{{alternate_url.href}}" title="{{../../title_text}}" target="_blank">
        <img src="/images/popout.png"/>
      </a>
      <div class="clear"></div>
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}
{{#each tree.files}}
<li class="file {{extension}}" id="document_{{document_id}}" tabindex="0" role="button">
  <span class="filename">{{name}}</span>
  <a class="popout no-hover" href="{{alternate_url.href}}" title="{{../title_text}}" target="_blank">
    <img src='/images/popout.png'/>
  </a>
  <div class="clear"></div>
</li>
{{/each}}
