<div class="row-fluid feature {{id}}">
  <div class="span7">
    <span
       class="element_toggler"
       aria-controls="{{id}}-details"
       aria-expanded="false"
       role="button"
       tabindex="0">
       <span class="screenreader-only">
         {{#t "toggle_feature_details_screenreader_info"}}Toggle feature details for {{title}} {{/t}}
       </span>
       <i class="icon-mini-arrow-right"></i>
    </span>
    <span class="feature-title">{{title}}</span>

    {{#each labels}}
      <span class="label label-{{cssClass}}">{{name}}</span>
    {{/each}}
  </div>

  <div class="span5 text-right">
    {{#if threeState}}
      <div id="ff_{{id}}" class="ui-buttonset ui-buttonset--feature-settings">
        <div class="ff-background ff-left {{#if disableOff}}ff-disabled{{/if}}">
          <input type="radio" id="ff_off_{{id}}" name="ff_{{id}}" class="ff_button" {{#if isOff}}checked{{/if}} {{#if disableOff}}disabled{{/if}} data-id="{{id}}" data-action="off">
          <label for="ff_off_{{id}}" role="button" aria-disabled="{{disableOff}}">
              {{#t "off"}}Off{{/t}}
          </label>
        </div>
        <div class="ff-background {{#if disableAllow}}ff-disabled{{/if}} {{#if isSiteAdmin}}ff-right{{/if}}">
          <input type="radio" id="ff_allowed_{{id}}" name="ff_{{id}}" class="ff_button" {{#if isAllowed}}checked{{/if}} {{#if disableAllow}}disabled{{/if}} data-id="{{id}}" data-action="allowed">
          <label for="ff_allowed_{{id}}" role="button" aria-disabled="{{disableAllow}}">
            {{#t "allow"}}Allow{{/t}}
          </label>
        </div>
        {{#unless isSiteAdmin}}
          <div class="ff-background ff-right {{#if disableOn}}ff-disabled{{/if}}">
            <input type="radio" id="ff_on_{{id}}" name="ff_{{id}}" class="ff_button" {{#if isOn}}checked{{/if}} {{#if disableOn}}disabled{{/if}} data-id="{{id}}" data-action="on">
            <label for="ff_on_{{id}}" role="button" aria-disabled="{{disableOn}}">
              {{#t "on"}}On{{/t}}
            </label>
           </div>
        {{/unless}}
      </div>
    {{else}}
      <div class="ic-Toggle ic-Toggle--feature-settings">
        <input id="ff_toggle_{{id}}" class="ff_toggle" type="checkbox" {{#if isOn}}checked{{/if}} {{#if disableToggle}}disabled{{/if}} data-id="{{id}}">
        <label for="ff_toggle_{{id}}">
          <div class="ic-Toggle__label-text"><span class="screenreader-only">{{#t}}Enable feature: {{title}}{{/t}}</span></div>
          <div class="ic-Toggle__switch" data-checked="{{#t "on"}}On{{/t}}" data-unchecked="{{#t "off"}}Off{{/t}}" {{#if disableToggle}}disabled{{/if}}></div>
        </label>
      </div>
    {{/if}}
  </div>
</div>

<div class="feature-details row-fluid" id="{{id}}-details">
  <div class="span10">
    <p tabindex="0" class="feature-description">
      {{#if releaseOn}}
        {{#t "estimated_release"}}Estimated Release:{{/t}}
        <span class="feature-release-date">
          {{tDateToString (fudge releaseOn) "medium"}}
        </span>
        </br>
      {{/if}}
      {{#if description}}
        {{description}}
      {{else}}
        ({{#t "no_description"}}no description{{/t}})
      {{/if}}
    </p>
  </div>

  <div class="span2 text-right feature-detail-links">
    {{#if releaseNotesUrl}}
    <a href="{{releaseNotesUrl}}" class="feature-release-notes-link">
        {{#t "release_notes"}}release notes{{/t}}
      </a>
    {{/if}}
  </div>
</div>
