<%= fields_for(:account_authorization_config, aac) do |f| %>
  <%= f.hidden_field :auth_type, value: 'cas' %>
  <%= f.hidden_field :id %>
  <table class="formtable" style="margin-left: 20px;">
    <%= render partial: "form_header",
               locals: { auth_type: t("CAS"), account: account, aac: aac } %>
    <tr>
      <td><%= f.blabel :auth_base, en: "CAS URL" %></td>
      <td class="nobr">
        <%= f.text_field :auth_base, class: "auth_form" %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 200px;">
        <%= f.blabel :unknown_user_url, en: "Unknown User Url" %>
      </td>
      <td style="vertical-align: top;" class="nobr">
        <%= f.text_field :unknown_user_url,
              class: "auth_form",
              style: "width: 300px;",
              placeholder: cas_login_url(no_auto: 'true') %>
        <span class="auth_form" style="font-size: smaller;">
          <br/>
          <%= t(:unknown_user_url_description,
                "The url to redirect to when an authenticated user is not "\
                "found in Canvas.") %>
        </span>
      </td>
    </tr>
    <%= render partial: "form_footer",
               locals: { presenter: presenter, account: account, aac: aac, f: f } %>
  </table>
<% end %>
