<% @account_config = @account_configs.first %>
<% @account_config ||= @account.account_authorization_configs.scoped.new %>
<% form_id = @account_config.cas_authentication? ? 'auth_form' : 'cas_form' %>
<% active = @account_config.cas_authentication? ? 'class="active"' : '' %>
<div id="cas_div" <%= raw active %>>
<%= form_tag(context_url(@account, :context_update_all_authorization_configs_url), :method => :put, :id => form_id, :class => "auth_type cas_form") do %>
  <%= fields_for :account_authorization_config, @account_config, :index => 0 do |f| %>
    <%= f.hidden_field :auth_type, :value => 'cas' %>
    <%= f.hidden_field :id %>
    <table class="formtable" style="margin-left: 20px;">
      <tr>
        <td><%= f.blabel :auth_type, :en => "Type" %></td>
        <td>
          <span class="auth_form">
            <%= @account_config.auth_type || 'CAS' %>
          </span>
          <span class="auth_info"><%= @account_config.auth_type || 'CAS' %></span>
        </td>
      </tr>
      <tr>
        <td><%= f.blabel :auth_base, :en => "CAS URL" %></td>
        <td class="nobr">
          <%= f.text_field :auth_base, :class => "auth_form", :style => "width: 450px;" %>
          <span class="auth_info auth_base"><%= @account_config.auth_base %></span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 200px;"><%= f.blabel :login_handle_name, :en => "Login Label" %></td>
        <td style="vertical-align: top;" class="nobr">
          <%= f.text_field :login_handle_name, :class => "auth_form", :style => "width: 300px;", :placeholder => AccountAuthorizationConfig.default_delegated_login_handle_name %>
          <span class="auth_info auth_login_handle_name"><%= @account_config.login_handle_name || AccountAuthorizationConfig.default_login_handle_name %></span>
          <span class="auth_form" style="font-size: smaller;">
            <br><%= t(:login_handle_name_description, "The label used for unique login identifiers. Examples: Login, Username, Student ID, etc.") %>
          </span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 200px;"><%= f.blabel :unknown_user_url, :en => "Unknown User Url" %></td>
        <td style="vertical-align: top;" class="nobr">
          <%= f.text_field :unknown_user_url, :class => "auth_form", :style => "width: 450px;", :placeholder => cas_login_url(:no_auto=>'true') %>
          <span class="auth_info auth_unknown_user_url"><%= @account_config.unknown_user_url %></span>
          <span class="auth_form" style="font-size: smaller;">
            <br><%= t(:unknown_user_url_description, "The url to redirect to when an authenticated user is not found in Canvas.") %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="form-actions">
            <span class="auth_form">
              <button type="button" class="btn cancel_button"><%= t("#buttons.cancel", "Cancel") %></button>
              <button type="submit" class="btn btn-primary"><%= t(:save_button, "Save Authentication Settings") %></button>
            </span>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
</div>
