<%= fields_for(:account_authorization_config, aac) do |f| %>
  <%= f.hidden_field :auth_type, value: 'facebook' %>
  <%= f.hidden_field :id %>
  <table class="formtable" style="margin-left: 20px;">
    <%= render partial: "form_header",
               locals: { auth_type: t("Facebook"), presenter: presenter, aac: aac } %>
    <% unless AccountAuthorizationConfig::Facebook.globally_configured? %>
        <tr>
          <td></td>
          <td><%= mt(<<-TEXT, facebook_url: "https://developers.facebook.com/", callback_url: oauth2_login_callback_url)
You will need to create a [new app on Facebook](%{facebook_url}), and enable Client OAuth Login
in Advanced Settings.  You should configure %{callback_url} as the Valid OAuth redirect URI.
After you save your app, make a note of the App ID and App Secret, and enter them here.
TEXT
          %></td>
        </tr>
        <tr>
          <td style="vertical-align: top; width: 200px;">
            <%= f.blabel :app_id, en: "App ID" %>
          </td>
          <td style="vertical-align: top;" class="nobr">
            <%= f.text_field :app_id, class: "auth_form", style: "width: 300px;" %>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top; width: 200px;">
            <%= f.blabel :app_secret, en: "App Secret" %>
          </td>
          <td style=" vertical-align: top;" class="nobr">
            <%= f.text_field :app_secret, value: '', class: "auth_form" %>
            <% if aac.auth_crypted_password -%>
            <span class="auth_form" style="font-size: smaller;">
              <br/>
              <%= t("Leave blank to continue using the current app secret.") %>
            </span>
            <% end %>
          </td>
        </tr>
    <% end %>
    <tr>
      <td style="vertical-align: top; width: 200px;">
        <%= f.blabel :unknown_user_url, en: "Unknown User Url" %>
      </td>
      <td style="vertical-align: top;" class="nobr">
        <%= f.text_field :unknown_user_url,
                         class: "auth_form",
                         style: "width: 450px;",
                         placeholder: login_url %>
        <span class="auth_info auth_unknown_user_url">
          <%= aac.unknown_user_url %>
        </span>
        <span class="auth_form" style="font-size: smaller;">
          <br/>
          <%= t(:unknown_user_url_description,
                "The url to redirect to when an authenticated user is not "\
                "found in Canvas.") %>
        </span>
      </td>
    </tr>
    <%= render partial: "form_footer",
               locals: { presenter: presenter, account: account, aac: aac, f: f } %>
  </table>
<% end %>
