<% unless AccountAuthorizationConfig::Facebook.globally_configured? %>
    <p><%= mt(<<-TEXT, facebook_url: "https://developers.facebook.com/", callback_url: oauth2_login_callback_url)
You will need to create a [new app on Facebook](%{facebook_url}), and enable Client OAuth Login
in Advanced Settings.  You should configure %{callback_url} as the Valid OAuth redirect URI.
After you save your app, make a note of the App ID and App Secret, and enter them here.
TEXT
      %></p>
    <div class="ic-Form-control">
      <%= f.label :app_id, 'App ID', class: 'ic-Label' %>
      <%= f.text_field :app_id, class: 'ic-Input' %>
    </div>
    <div class="ic-Form-control">
      <%= f.label :app_secret, 'App Secret', class: 'ic-Label' %>
      <%= f.password_field :app_secret, class: 'ic-Input' %>
    </div>
<% end %>
<%= render partial: 'login_attribute_dropdown', locals: { f: f, aac: aac } %>
