<div class="federated_attributes">
  <h4><%= t 'Federated Attributes' %></h4>
  <p><%= t <<-TEXT
Federated attributes are information sent from your authentication provider that can be used
to automatically update corresponding information for users in Canvas each time they log in.
TEXT
%></p>
  <table class="ic-Table">
    <thead>
      <th style="<%= hidden unless aac.jit_provisioning? %>" class="provisioning_only_column">
        <%= t 'Provisioning Only' %>
        <a
          class="icon-info"
          data-tooltip='{"tooltipClass":"popover popover-padded", "position":"right"}'
          title= "<%= t <<-TEXT
        If an attribute is marked as provisioning only, then it will only be used when Just in Time
        Provisioning creates a new user, and will not be kept up to date each time the user logs in.
        TEXT
        %>"
          >
          <span class="screenreader-only"><%= t 'What does Provisioning Only mean?' %></span>
        </a>
      </th>
      <th><%= t 'Canvas Attribute' %></th>
      <th><%= t 'Provider Attribute' %></th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <% aac.federated_attributes.each do |(canvas_attribute, provider_attribute)| %>
        <tr>
          <td class="provisioning_only_column<%= ' federated_attributes_none' unless aac.jit_provisioning? %>">
            <label class="ic-Label screenreader-only" for="authentication_provider[federated_attributes][<%= canvas_attribute %>][provisioning_only]"><%= t 'Provisioning Only' %></label>
            <input type="checkbox" id="authentication_provider[federated_attributes][<%= canvas_attribute %>][provisioning_only]" name="authentication_provider[federated_attributes][<%= canvas_attribute %>][provisioning_only]" <%= 'checked="checked"'.html_safe if provider_attribute['provisioning_only'] %>/>
          </td>
          <td class="canvas_attribute"><span class="screenreader-only"><%= t 'Canvas Attribute' %></span><span class="canvas_attribute_name"><%= canvas_attribute %></span></td>
          <td><label class="ic-Label screenreader-only" for="authentication_provider[federated_attributes][#{canvas_attribute}][attribute]"><%= t 'Provider Attribute' %></label>
            <%= presenter.federated_provider_attribute(aac, canvas_attribute, provider_attribute['attribute']) %></td>
          <td>
            <button type="button" class="Button Button--icon-action remove_federated_attribute"><i class="icon-trash"><span class="screenreader-only"><%= t 'Remove Attribute' %></span></i></button>
          </td>
        </tr>
      <% end %>
      <tr style="display: none" class="attribute_template">
        <td class="provisioning_only_column<%= ' federated_attributes_none' unless aac.jit_provisioning? %>">
          <label class="ic-Label screenreader-only"><%= t 'Provisioning Only' %></label>
          <input type="checkbox" /></td>
        <td class="canvas_attribute"><span class="screenreader-only"><%= t 'Canvas Attribute' %></span><span class="canvas_attribute_name"></span></td>
        <td class="provider_attribute_column"><label class="ic-Label screenreader-only"><%= t 'Provider Attribute' %></label><%= presenter.federated_provider_attribute(aac) %></td>
        <td>
          <button type="button" class="Button Button--icon-action remove_federated_attribute"><i class="icon-trash"><span class="screenreader-only"><%= t 'Remove Attribute' %></span></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <% attrs = presenter.available_federated_attributes(aac) %>
  <div class="<%= attrs.empty? ? 'federated_attributes_none' : 'add_attribute' %>">
    <label class="ic-Label screenreader-only"><%= t 'Choose attribute to add' %></label>
    <select class="ic-Input canvas_attribute federated_attributes_select">
      <% attrs.each do |attr| %>
        <option><%= attr %></option>
      <% end %>
    </select>
    <button class="Button Button--primary addAttribute--Button add_federated_attribute_button">
      <i class="icon-plus"></i>
      <span class="screenreader-only"><%= t 'Add Attribute' %></span>
      <span aria-hidden="true"><%= t 'Attribute' %></span>
    </button>
  </div>

  <% if aac.federated_attributes.empty? %>
    <input type='hidden' name='authentication_provider[federated_attributes]' value='' class='no_federated_attributes'>
  <% end %>
</div>
