<% if presenter.configs.length > 1 %>
  <tr>
    <td><%= f.blabel :position, en: "Position" %></td>
    <td>
      <%= f.select(:position,
                    presenter.position_options(aac),
                    {},
                    { class: "input-xlarge" }) %>
    </td>
  </tr>
<% end %>

<tr>
  <td colspan="4">
    <div class="form-actions">
      <% unless aac.new_record? %>
        <%= link_to(account_account_authorization_config_url(account, aac), {
                      method: "delete",
                      rel: 'nofollow',
                      id: "delete-aac-#{aac.id}",
                      data: {
                        confirm: t('Are you sure?'),
                        disable_with: t('deleting...')
                      }
                    }) do %>
          <i class="icon-trash"></i>
          <%= t("Delete") %>
        <% end %>
      <% end %>
      <button type="submit" class="btn btn-primary">
        <%= t(:save_button, "Save Authentication Settings") %>
      </button>
    </div>
  </td>
</tr>
