<%= fields_for(:account_authorization_config, aac) do |f| %>
    <%= f.hidden_field :auth_type, value: 'google' %>
    <%= f.hidden_field :id %>
    <table class="formtable" style="margin-left: 20px;">
      <%= render partial: "form_header",
                 locals: { auth_type: t("Google"), presenter: presenter, aac: aac } %>
      <% unless AccountAuthorizationConfig::Google.globally_configured? %>
          <tr>
            <td></td>
            <td>
              <%= mt(<<-TEXT, google_url: "https://console.developers.google.com/project", callback_url: oauth2_login_callback_url)
You will ned to create a web application in the [Google Developer Console](%{google_url}).
You should add %{callback_url} as a redirect URI.
After you create your app, make a note of the Client ID and Client Secret, and enter them here.
TEXT
              %>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; width: 200px;">
              <%= f.blabel :client_id, en: "Client ID" %>
            </td>
            <td style="vertical-align: top;" class="nobr">
              <%= f.text_field :client_id, class: "auth_form", style: "width: 300px;" %>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; width: 200px;">
              <%= f.blabel :client_secret, en: "Client Secret" %>
            </td>
            <td style=" vertical-align: top;" class="nobr">
              <%= f.text_field :client_secret, value: '', class: "auth_form" %>
              <% if aac.auth_crypted_password -%>
            <span class="auth_form" style="font-size: smaller;">
              <br/>
              <%= t("Leave blank to continue using the current client secret.") %>
            </span>
              <% end %>
            </td>
          </tr>
      <% end %>
      <%= render partial: "form_footer",
                 locals: { presenter: presenter, account: account, aac: aac, f: f } %>
    </table>
<% end %>
