<% if aac.try(:last_timeout_failure).present? %>
<p class='last_timeout_failure'>
  <%= t :ldap_timeout_failure_help2,
        "If Canvas times out too many times communicating with the LDAP server,"\
          " it will block further login attempts from using that LDAP "\
          "server for %{time}. Your LDAP server last timed out at %{timestamp}.",
        time: distance_of_time_in_words(aac.failure_wait_time),
        timestamp: datetime_string(aac.last_timeout_failure) %>
</p>
<% end %>

<div class="ic-Form-control">
  <%= f.label :auth_host, t('Host'), class: 'ic-Label' %>
  <%= f.text_field :auth_host, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :auth_port, t('Port'), class: 'ic-Label' %>
  <%= f.text_field :auth_port, class: 'ic-Input', style: 'width: 50px;' %>
</div>
<div class="ic-Form-control ic-Form-control--radio" %>
  <div class="ic-Radio">
    <%= f.radio_button :auth_over_tls, 'start_tls', id: "start_tls_#{aac.id}", checked: aac.auth_over_tls == 'start_tls' %>
    <%= f.label :auth_over_tls, t('Start TLS'), for: "start_tls_#{aac.id}", class: 'ic-Label' %>
  </div>
  <div class="ic-Radio">
    <%= f.radio_button :auth_over_tls, 'simple_tls', id: "simple_tls_#{aac.id}", checked: aac.auth_over_tls == 'simple_tls' %>
    <%= f.label :auth_over_tls, t('Simple TLS'), for: "simple_tls_#{aac.id}", class: 'ic-Label' %>
  </div>
  <div class="ic-Radio">
    <%= f.radio_button :auth_over_tls, false, id: "no_tls_#{aac.id}", checked: !aac.auth_over_tls %>
    <%= f.label :auth_over_tls, t('No TLS'), for: "no_tls_#{aac.id}", class: 'ic-Label' %>
  </div>
</div>
<div class="ic-Form-control">
  <%= f.label :auth_base, t('Base'), class: 'ic-Label' %>
  <%= f.text_field :auth_base, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :auth_filter, t('Filter'), class: 'ic-Label' %>
  <%= f.text_field :auth_filter, class: 'ic-Input' %>
  <div class="help-block">
    <%= t(:auth_filter_description,
          "Use *%{placeholder}* as a placeholder for the username "\
          "supplied by the user. \nFor example: "\
          "*(sAMAccountName=%{placeholder})*",
          placeholder: '{{login}}',
          wrapper: '<code>\1</code>') %>
  </div>
</div>
<div class="ic-Form-control">
  <%= f.label :identifier_format, t('Login Attribute'), class: 'ic-Label' %>
  <%= f.text_field :identifier_format, class: 'ic-Input' %>
  <div class="help-block">
    <%= t(:identifer_format_description,
          "The LDAP attribute to use to look up the Canvas login. "\
          "Leave blank to use the username supplied by the user.") %>
  </div>
</div>
<div class="ic-Form-control">
  <%= f.label :auth_username, t('Username'), class: 'ic-Label' %>
  <%= f.text_field :auth_username, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :auth_password, t('Password'), class: 'ic-Label' %>
  <%= f.password_field :auth_password, class: 'ic-Input' %>
</div>
