<%= f.hidden_field :auth_type, :value => 'ldap' %>
<%= f.hidden_field :id %>

<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_host, :en => "Host" %></td>
  <td style="vertical-align: top;" class="nobr">
    <%= f.text_field :auth_host, :class => "auth_form", :style => "width: 300px;" %>
    <span class="auth_info auth_host"><%= account_config.auth_host %></span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_port, :en => "Port" %></td>
  <td style="vertical-align: top;" class="nobr">
    <%= f.text_field :auth_port, :class => "auth_form", :style => "width: 50px;" %>
    <span class="auth_info auth_port"><%= account_config.auth_port %></span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_over_tls, :en => "Over TLS?" %></td>
  <td style="vertical-align: top;" class="nobr">
    <%= f.radio_button :auth_over_tls, 'start_tls', :class => "auth_form" %>
    <%= f.label :auth_over_tls_start_tls, :auth_over_tls_start_tls, :en => "StartTLS", :class => "auth_form" %>
    <%= f.radio_button :auth_over_tls, 'simple_tls', :class => "auth_form" %>
    <%= f.label :auth_over_tls_simple_tls, :auth_over_tls_simple_tls, :en => "Simple TLS", :class => "auth_form" %>
    <%= f.radio_button :auth_over_tls, 'false', :class => "auth_form", :checked => !account_config.auth_over_tls %>
    <%= f.label :auth_over_tls_false, :auth_over_tls_false, :en => "No TLS", :class => "auth_form" %>
    <span class="auth_info auth_over_tls">
    <%= case account_config.auth_over_tls
        when 'start_tls'
          t 'labels.start_tls', "StartTLS"
        when 'simple_tls'
          t 'labels.simple_tls', "Simple TLS"
        else
          t 'labels.no_tls', "No TLS"
        end
     %></span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_base, :en => "Base" %></td>
  <td colspan="3" style="vertical-align: top;" class="nobr">
    <%= f.text_field :auth_base, :class => "auth_form", :style => "width: 300px;" %>
    <span class="auth_info auth_base"><%= account_config.auth_base %></span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_filter, :en => "Filter" %></td>
  <td style="vertical-align: top;" class="nobr">
    <%= f.text_field :auth_filter, :class => "auth_form", :style => "width: 300px;" %>
    <span class="auth_info auth_filter"><%= account_config.ldap_filter %></span>
    <span class="auth_form" style="font-size: smaller;">
      <br>
      <%= t(:auth_filter_description,
             "Use *%{placeholder}* as a placeholder for the username supplied by the user. For example: *(sAMAccountName=%{placeholder})*", :placeholder => '{{login}}', :wrapper => '<code>\1</code>') %>
    </span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :identifier_format, :en => "Login ID Attribute" %></td>
  <td style="vertical-align: top;" class="nobr">
    <%= f.text_field :identifier_format, :class => "auth_form", :style => "width: 300px;" %>
    <span class="auth_info identifier_format"><%= account_config.identifier_format %></span>
    <span class="auth_form" style="font-size: smaller;">
      <br>
      <%= t(:identifer_format_description,
             "The LDAP attribute to use to look up the Canvas login. Leave blank to use the username supplied by the user.") %>
    </span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_username, :en => "Username" %></td>
  <td style="vertical-align: top;" class="nobr">
    <%= f.text_field :auth_username, :class => "auth_form", :style => "width: 300px;" %>
    <span class="auth_info auth_username"><%= account_config.auth_username %></span>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 200px;"><%= f.blabel :auth_password, :en => "Password" %></td>
  <td style=" vertical-align: top;" class="nobr">
    <%= f.text_field :auth_password, :value => '', :class => "auth_form" %>
    <span class="auth_info auth_password"><%= "********" if account_config.auth_crypted_password %></span>
    <% if account_config.auth_crypted_password -%>
      <span class="auth_form" style="font-size: smaller;">
        <br><%= t(:auth_password_description, "Leave blank to continue using the current password.") %>
      </span>
    <% end %>
  </td>
</tr>
