<% css_bundle :saml_fields %>
<div class="ic-Form-control">
  <%= f.label :idp_entity_id, t('IdP Entity ID'), class: 'ic-Label' %>
  <%= f.text_field :idp_entity_id, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :log_in_url, t('Log On URL'), class: 'ic-Label' %>
  <%= f.text_field :log_in_url, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :log_out_url, t('Log Out URL'), class: 'ic-Label' %>
  <%= f.text_field :log_out_url, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :certificate_fingerprint, t('Certificate Fingerprint'), class: 'ic-Label' %>
  <%= f.text_field :certificate_fingerprint, class: 'ic-Input' %>
</div>
<%= render partial: 'login_attribute_dropdown', locals: { f: f, aac: aac } %>
<div class="ic-Form-control">
  <%= f.label :identifier_format, 'Identifier Format', class: 'ic-Label' %>
  <%= f.select(:identifier_format,
               presenter.saml_identifiers,
               {},
               class: 'ic-Input') %>
</div>
<div class="ic-Form-control">
  <%= f.label :requested_authn_context, 'Authentication Context', class: 'ic-Label' %>
  <%= f.select(:requested_authn_context,
               presenter.saml_authn_contexts,
               {},
               class: 'ic-Input') %>
</div>
<% if @account.settings[:self_registration] %>
    <div id="parent_reg_selected" data-parent-reg-selected="<%= presenter.parent_reg_selected %>"></div>
    <div class="ic-Form-control">
      <%= f.label :parent_registration, "Parent Registration", class: 'ic-Label' %>
      <%= f.check_box :parent_registration, class: "parent_reg_warning" %>
      <span class="SAML_parent_default" ><%= t "Use this configuration for parent/observer registration" %></span>
      <div class="parent_form_message">
        <div class="parent_form_message_layout">
          <i class="parent_icon_warning"></i>
          <span class="parent_warning_message"></span>
        </div>
      </div>
    </div>
<% end %>
