<div class="ic-Form-control">
  <%= f.label :idp_entity_id, t('IdP Entity ID'), class: 'ic-Label' %>
  <%= f.text_field :idp_entity_id, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :log_in_url, t('Log On URL'), class: 'ic-Label' %>
  <%= f.text_field :log_in_url, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :log_out_url, t('Log Out URL'), class: 'ic-Label' %>
  <%= f.text_field :log_out_url, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :certificate_fingerprint, t('Certificate Fingerprint'), class: 'ic-Label' %>
  <%= f.text_field :certificate_fingerprint, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :login_attribute, 'Login Attribute', class: 'ic-Label' %>
  <%= f.select(:login_attribute,
               presenter.saml_login_attributes,
               {},
               class: 'ic-Input') %>
</div>
<div class="ic-Form-control">
  <%= f.label :identifier_format, 'Identifier Format', class: 'ic-Label' %>
  <%= f.select(:identifier_format,
               presenter.saml_identifiers,
               {},
               class: 'ic-Input') %>
</div>
<div class="ic-Form-control">
  <%= f.label :requested_authn_context, 'Authentication Context', class: 'ic-Label' %>
  <%= f.select(:requested_authn_context,
               presenter.saml_authn_contexts,
               {},
               class: 'ic-Input') %>
</div>
