<% add_crumb t(:page_title, "Authentication Settings") %>
<% @active_tab = "authentication" %>
<% content_for :page_title do %><%= t(:page_title, "Authentication Settings")%><% end %>

<% content_for :right_side do %>
    <div class="rs-margin-lr rs-margin-top">
        <%  has_auth = @account_configs.any? %>
        <a href="#" class="edit_auth_link btn button-sidebar-wide" style="<%= hidden if !has_auth || @account.saml_authentication? %>"><%= image_tag "edit.png" %><%= t(:edit_auth_link, "Edit Details")%></a>
        <a href="#" class="test_ldap_link btn button-sidebar-wide" style="<%= hidden unless @account_configs.map {|c| c.auth_type}.include?("ldap") %>"><%= image_tag "pending_review.png" %><%= t(:test_ldap_link, "Test Authentication")%></a>
        <%= link_to image_tag("delete.png") + t(:delete_auth_link, "Remove Authentication"), context_url(@account, :context_remove_all_authorization_configs_url), :confirm => t(:delete_auth_confirmation, "Are you sure? Users may not be able to log in if this is removed."), :method => :delete, :class=>"delete_auth_link btn button-sidebar-wide", :style => "#{ hidden unless has_auth}" %>
        <div class="add_auth_div" style="<%= hidden if has_auth %>">
          <span class="add"><%= t(:add_auth_desc, "Add an identity provider to this account:")%></span><br/>
          <% options = [[:CAS, 'cas'], [:LDAP, 'ldap']] %>
          <% options << [:SAML, 'saml'] if AccountAuthorizationConfig.saml_enabled %>
          <%= select("", "", options, {:include_blank=>t(:choose_auth_type_option, "Choose an authentication service")}, :id => "add_auth_select") %>
        </div>
    </div>
<% end %>

<h2><%= t(:settings_title, "Authentication Settings") %></h2>

<p>
  <%= t(:settings_description, 'In order for a user to authenticate through an external identity provider (IdP),
  the user must have a login identifier that is both linked to this account and 
  that matches the unique identifier returned by the IdP. To see a user\'s current
  logins, see the "Login Information" section on the user\'s profile page. (Found
  by searching for the user on the "Users" tab.)') %><br/>
  <%= mt(:profile_page_link_example, 'For example, here is your profile page: [%{friendlyname}](%{url})',
         :friendlyname => @current_user.last_name_first_or_unnamed, :url => context_url(@account, :context_user_url, @current_user)) %>
</p>

<% if ips = Setting.get('account_authorization_config_ip_addresses', nil).presence %>
<p>
  <%= t(:ip_address_list_description, "If you are using an authentication service that requires the Canvas servers to contact your servers directly, such as LDAP, you'll need to make sure that your servers can accept connections from these IP addresses:") %>
<pre>
<%= ips.split(",").join("\n") %>
</pre>
</p>
<% end %>

<% if @account.canvas_authentication? && !@account.ldap_authentication? %>
  <p>
    <%= mt(:canvas_login_tip, "If you configure settings that cause you to not be able to log in you can add
*%{url1}* to the end of your login url. This will let you login
using the normal Canvas login procedure. For this account the url would be %{url2}",
    :url1 => "?canvas_login=1", :url2 => "http://#{@account.domain}/login?canvas_login=1") %>
  </p>
<% end %>

<h3><%= t(:current_settings_title, "Current Integration") %></h3>

<%= render :partial => "cas_settings" %>
<%= render :partial => "ldap_settings" %>
<%= render :partial => "ldap_settings_test" %>
<%= render :partial => "saml_settings" if AccountAuthorizationConfig.saml_enabled %>
<% unless @account_configs.any? %>
    <div id="no_auth"><%= t(:no_auth_type_description, "This account does not currently integrate with an identity provider.") %></div>
<% end %>

<style>
    #auth_form .auth_form {
        display: none;
    }
    #auth_form .auth_info, #auth_form .debugging {
        display: inline;
    }
    #auth_form.editing .auth_form {
        display: inline;
    }
    #auth_form.editing .auth_info, #auth_form.editing .debugging {
        display: none;
    }

    #cas_div, #ldap_div, #saml_div {
        display: none;
    }
    #cas_div.active, #ldap_div.active, #saml_div.active {
        display: block;
    }
    #auth_form .ldap_secondary {
      margin-top: 15px;
    }
</style>

<% js_bundle :account_authorization_configs %>
