<% add_crumb "Authentication Settings" %>
<% @active_tab = "authentication" %>
<% content_for :page_title do %>Authentication Settings<% end %>

<% content_for :page_header do %>
    <h1>Authentication Settings</h1>
<% end %>

<% content_for :page_subhead do %>
    <h2><%= @account.name %></h2>
<% end %>

<% content_for :right_side do %>
    <div class="rs-margin-lr rs-margin-top">
        <%  has_auth = !@account_config.auth_type.nil? %>
        <a href="#" class="edit_auth_link button button-sidebar-wide" style="<%= hidden unless has_auth %>"><%= image_tag "edit.png" %>Edit Details</a>
        <%= link_to image_tag("delete.png") + 'Remove Authentication', context_url(@account, :context_account_authorization_config_url, @account.id), :confirm => 'Are you sure? Users may not be able to log in if this is removed.', :method => :delete, :class=>"delete_auth_link button button-sidebar-wide", :style => "#{ hidden unless has_auth}" %>
        <div class="add_auth_div" style="<%= hidden if has_auth %>">
          <span class="add">Add an identity provider to this account:</span><br/>
          <%= select("", "", [[:CAS, 'cas'], [:LDAP, 'ldap'], [:SAML, 'saml']],{:include_blank=>"Choose an authentication service"}, :id => "add_auth_select") %>
        </div>
    </div>
<% end %>

<h2>Authentication Settings</h2>
<%= render :partial => "cas_settings" %>
<%= render :partial => "ldap_settings" %>
<%= render :partial => "saml_settings" %>
<% unless @account_config.auth_type %>
    <div id="no_auth">This account doesn't currently integrate with an identity provider.</div>
<% end %>

<style>
    #auth_form .auth_form {
        display: none;
    }
    #auth_form .auth_info {
        display: inline;
    }
    #auth_form.editing .auth_form {
        display: inline;
    }
    #auth_form.editing .auth_info {
        display: none;
    }

    #cas_div, #ldap_div, #saml_div {
        display: none;
    }
    #cas_div.active, #ldap_div.active, #saml_div.active {
        display: block;
    }
</style>

<% js_block do %>
<script>
  var new_type = null;
  
  $(".edit_auth_link").click(function(event) {
    event.preventDefault();
    $("#auth_form").addClass('editing').find(":text:first").focus().select();
  });
  
  $("#add_auth_select").change(function(event) {
      event.preventDefault();
      $("#auth_form").find(".cancel_button:first").click();
      new_type = $(this).find(":selected").val();
      if(new_type == "" || new_type == null){
          new_type = null;
      }
      else{
          $("#" + new_type + "_div").addClass('active');
          $("#" + new_type + "_form").attr('id', 'auth_form');
          $("#no_auth").css('display', 'none');
          $("#auth_form").addClass('editing').find(":text:first").focus().select();
      }
  });
  
  $(".auth_type").each(function(i){
      $(this).find(".cancel_button").click(function() {
        $("#auth_form").removeClass('editing');
          if ( $('#no_auth').length && new_type ){
              $("#no_auth").css('display', 'inline');
              $("#" + new_type + "_div").removeClass('active');
              $("#auth_form").attr('id', new_type + '_form');
              new_type = null;
          }
      }).end().find(":text").keycodes('esc', function() {
        $(this).parents("#auth_form").find(".cancel_button:first").click();
      });
      
      $(this).formSubmit({
        beforeSubmit: function() {
          $(this).loadingImage().removeClass('editing');
        },
        success: function(data) {
          $(this).loadingImage('remove');
          var aac = data.account_authorization_config;
          $("#auth_form").fillTemplateData({data: aac});
          $(".edit_auth_link").show();
          $(".delete_auth_link").show();
          $(".add_auth_div").hide();
          new_type = null;
        }
      });
  });
  
</script>
<% end %>
