{{#ifAll atLeastOnePageFetched length}}
  <h1 class="screenreader-only">{{#t "announcements_title"}}Announcements{{/t}}</h1>
  <div class="ic-Action-header">
    <div class="ic-Action-header__Primary">
      <div class="ic-Multi-input index_view_filter_form">
        <input id="searchTerm"
              class="ic-Input"
              placeholder="{{t "Search title, body, or author"}}"
              aria-label="{{t "Search title, body, or author"}}"
              value="{{searchTerm}}"
              type="search">
        <span id="discussionsFilter">
          <input type="checkbox"
                id="onlyUnread"
                aria-label="{{t "filter announcements by unread"}}"
                {{#if onlyUnread}}checked{{/if}} /><label aria-hidden="true" for="onlyUnread">{{#t "unread"}}Unread{{/t}}</label>
        </span>
      </div>
    </div>
    <div class="ic-Action-header__Secondary">
      {{#if options.atom_feed_url}}
        <a class="btn"
           href="{{options.atom_feed_url}}"
           data-tooltip
           title="{{#t "rss_feed"}}RSS feed{{/t}}">
           <span class="screenreader-only">{{#t "rss_feed"}}RSS feed{{/t}}</span>
           <i class="icon-rss"></i>
        </a>
      {{/if}}
      <span id="actionsForSelectedDiscussions" class="screenreader-only">
        <input type="checkbox" id="lock" disabled="disabled"/>
        <label for="lock" data-tooltip title="{{#t "lock_for_comments"}}Lock for comments{{/t}}">
          <i class="icon-lock"></i>
          <span class="screenreader-only">{{#t "lock_for_comments"}}Lock for comments{{/t}}</span>
        </label>
        <button id="delete" data-tooltip data-tooltip title="{{#t "delete"}}Delete{{/t}}" disabled="disabled">
          <i class="icon-trash"></i>
          <span class="screenreader-only">{{#t "delete"}}Delete{{/t}}</span>
        </button>
      </span>

      {{#if options.permissions.create}}
        <a
          href="{{new_topic_url}}"
          class="btn btn-primary icon-plus"
          id="new-discussion-btn"
          role="button"
          title='{{#t "title_add_announcement"}}Add Announcement{{/t}}'
          aria-label='{{#t "title_add_announcement"}}Add Announcement{{/t}}'
        >{{#t}}Announcement{{/t}}</a>
      {{/if}}
    </div>
  </div>
  <div class="nothingMatchedFilter" style="display:none;">
    <p>
      {{#t "your_search_did_not_match_any_announcements"}}Your search did not match any announcements.{{/t}}
    </p>
    <p>
    {{#t "suggestions"}}Suggestions:{{/t}}
    <ul>
      <li>{{#t "make_sure_all_search_terms_are_spelled_correctly"}}Make sure all search terms are spelled correctly.{{/t}}</li>
      <li>{{#t "try_different_more_general_or_fewer_keywords"}}Try different, more general, or fewer keywords.{{/t}}</li>
      <li>{{#t "try_disabling_the_unread_filters"}}Try disabling the "Unread" filter.{{/t}}</li>
    </ul>
  </div>
  <div class="discussionTopicIndexList"></div>
{{else}}
  {{#if lastPageFetched}}
    <div style="margin:auto; text-align: center; margin-top: 80px">
      <h1>
        {{#t "there_are_no_announcements_show"}}There are no announcements to show{{/t}}
      </h1>
      {{#if options.permissions.create}}
        <a href="{{new_topic_url}}" class="btn btn-large btn-primary">
          <i class="icon-plus"></i> 
          {{#t}}Announcement{{/t}}
        </a>
      {{/if}}
    </div>
  {{else}}
    <h1>{{#t "loading"}}Loading...{{/t}}</h1>
  {{/if}}
{{/ifAll}}
