<% @body_classes << "full-width" %>

<% content_for :page_title, t(:page_title, "Conversations") %>

<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_conversation_format_path(@current_user.feed_code, :atom), {:title => t('titles.rss.conversations', "Conversations Atom Feed")}) %>
  <% end %>
<% end %>

<% js_bundle :conversations %>
<% jammit_css :conversations %>

<div id="inbox">
  <div id="conversations">
    <div id="actions">
      <ul class="buttons">
        <% unless @disallow_messages %>
          <li>
            <a href="#"
               id="action_compose_message"
               title="<%= t('titles.compose_new_message', 'Write a new message') %>"
               data-track-category="Compose Message"
               data-track-action="Click"
               data-track-label="New Message Symbol"
               style="background-image: url(/images/messages/compose-button-sprite.png)"><%= t('links.compose_new_message', 'New Message') %></a>
          </li>
        <% end %>
      </ul>
      <ul class="menus">
        <li><a href="#" id="menu_views"></a>
          <span></span>
          <div>
            <ul class="first">
              <li><b><%= t(:inbox_view, "VIEW") %></b></li>
            </ul>
            <ul>
              <li data-scope="inbox"
                  data-track-category="Combo_Box"
                  data-track-action="Select_Folder"
                  data-track-label="Inbox"><%= link_to t('inbox_views.inbox', "Inbox"), '#' %></li>
              <li data-scope="unread"
                  data-track-category="Combo_Box"
                  data-track-action="Select_Folder"
                  data-track-label="Unread"><%= link_to t('inbox_views.unread_messages', "Unread"), '#' %></li>
              <li data-scope="starred"
                  data-track-category="Combo_Box"
                  data-track-action="Select_Folder"
                  data-track-label="Starred"><%= link_to t('inbox_views.starred_messages', "Starred"), '#' %></li>
              <li data-scope="sent"
                  data-track-category="Combo_Box"
                  data-track-action="Select_Folder"
                  data-track-label="Sent"><%= link_to t('inbox_views.sent_messages', "Sent"), '#' %></li>
            </ul>
            <ul class="last">
              <li data-scope="archived"
                  data-track-category="Combo_Box"
                  data-track-action="Select_Folder"
                  data-track-label="Archived"><%= link_to t('inbox_views.archived_messages', "Archived"), '#' %></li>
            </ul>
          </div>
        </li>
      </ul>
      <div id="context_tags_filter">
        <label for="context_tags">
          <%= before_label :filter, "Filter" %>
        </label>
        <%= text_field_tag :context_tags, nil, 'data-finder_url' => search_recipients_url %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="conversations"><ul></ul></div>
    <p id="no_messages" style="display:none"></p>
  </div>
  <div id="messages">
    <div aria-live="polite">
      <div id="message_actions">
        <ul>
          <li><%= link_to t('inbox_actions.forward', "Forward"), {}, :id => :action_forward %></li>
          <li><%= link_to t('inbox_actions.delete', "Delete"), conversation_remove_messages_url('{{ id }}'), :id => :action_delete %></li>
        </ul>
        <a href="#" id="cancel_bulk_message_action"><%= t '#buttons.cancel', 'Cancel' %></a>
      </div>
    </div>
    <ul id="message_status"></ul>
      <div>
        <a id="help-btn"
           class="al-trigger"
           data-track-category="Help"
           data-track-action="Click"
           data-track-label="Question Mark"
           href="#"
           role="button"
           aria-haspopup="true"
           aria-owns="help-menu-items">
          <i class="icon-question"></i>
          <i class="icon-mini-arrow-down"></i>
          <span class="screenreader-only"><%= t 'help', "Help" %></span>
        </a>

        <ul id="help-menu-items"
            class="al-options"
            role="menu"
            tabindex="0"
            aria-hidden="true"
            aria-expanded="false"
            aria-activedescendant="new-conversations-opt-in-menu-item">
          <li role="presentation">
            <a id="try-new-conversations-menu-item" href="/conversations/toggle_new_conversations?use_new_conversations=1" data-method="post" rel="nofollow" tabindex="-1" role="menuitem" title="<%= t 'try_new_conversations', "Try New Conversations" %>"><%= t 'try_new_conversations', "Try New Conversations" %></a>
          </li>
          <li role="presentation">
            <a href="#" id="conversations-intro-menu-item" tabindex="-1" role="menuitem" title="<%= t 'conversations_intro', "Conversations Intro" %>"><%= t 'conversations_intro', "Conversations Intro" %></a>
          </li>
        </ul>
      </div>
    <div id="create_message_form"></div>
    <ul class="messages">
    </ul>
  </div>
  <div class="spin_holder"></div>
</div>

<div id="menu-wrapper"></div>

<ul style="display:none">
  <li id="message_blank"
      data-track-category="Individual Message"
      data-track-action="Click"
      data-track-label="Message Block"
      class="message">
    <span class="date"></span>
    <b class="audience"></b>
    <span class="actions">
      <a href="#"
         data-track-category="Individual Message"
         data-track-action="Click"
         data-track-label="New Message..."
         class="send_private_message"><%= t :send_private_message, "New message..." %></a>
    </span>
    <p></p>
    <input type="checkbox"
           data-track-category="Individual Message"
           data-track-action="Click"
           data-track-label="Check Box"
          />
    <ul class='message_attachments'>
      <li class='media_object_blank'>
        <a href="#" class="instructure_inline_media_comment media_comment no-underline" title="<%= t('titles.play_media_comment', "Play media comment") %>">
          <%= image_tag "messages/media-gray.png" %>
          <span class="media_comment_id" style="display: none;"></span>
          <span class='title'></span>
        </a>
      </li>
      <li class='attachment_blank'>
        <a href="#" title="<%= t('titles.download_attachment', "Download attachment") %>">
          <%= image_tag "messages/attach-gray.png" %> 
          <span class='title'></span>
        </a>
      </li>
    </ul>
  </li>
  <li id="submission_blank" class="submission">
    <ul>
      <li class="header">
        <span class="submission_date"><%= before_label('submitted', "Submitted") %> <span class="date">&nbsp;</span></span>
        <a target="_blank"
           data-track-category="Individual Message"
           data-track-action="Click"
           data-track-label="Open message in new window"
           href="<%= course_assignment_submission_path(:course_id => '{{ course_id }}',
                                                       :assignment_id => '{{ assignment_id }}',
                                                       :id => '{{ id }}') %>"
           style="text-decoration: none;"
           title="<%= t('titles.view_submission', "Open submission in new window.") %>">
          <b class="title"></b>
        </a>
        <span class="audience" title="<%= t('titles.submission_author', "Submission Author") %>"></span>
        <span class="score" title="<%= t('titles.submission_score', "Submission Score") %>"></span>
        <div class="clear"></div>
      </li>
      <li class="comment">
        <span class="date"></span>
        <b class="audience"></b>
        <p></p>
        <div class="clear"></div>
      </li>
      <li class="more">
        <a href="#">
          <%= t('more_messages', "%{count} more...", :count => raw('<span class="hidden"></span>')) %>
        </a>
      </li>
    </ul>
    <input type="checkbox" />
  </li>
</ul>

<form id="add_recipients_form" method="post">
  <p>
    <%= t :add_recipients_instructions, "People you add to the conversation will see all previous messages." %>
  </p>
  <%= text_field_tag :recipients, nil, :id => 'add_recipients', 'data-finder_url' => search_recipients_url, :class => "recipients", :style => "width: 370px" %>
</form>

<%= form_tag conversations_url, :id => 'forward_message_form' do %>
  <table>
    <tr id="recipient_info">
      <th><%= label_tag :forward_recipients, :to, :en => "To", :before => true %></th>
      <td>
        <%= text_field_tag :recipients, nil, :id => :forward_recipients,
          'data-finder_url' => search_recipients_url,
          :class => "recipients" %>
      </td>
  </tr>
    <tr><th><%= label_tag :body, :message, :en => "Message", :before => true %></th><td><%= text_area_tag :body, nil, :id => :forward_body %></td></tr>
  </table>
  <ul class="messages"></ul>
  <input type="hidden" name="group_conversation" value="1" />
<% end %>
