<% @body_classes << "full-width" %>

<% content_for :page_title, t(:page_title, "Conversations") %>

<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_conversation_format_path(@current_user.feed_code, :atom), {:title => t('titles.rss.conversations', "Conversations Atom Feed")}) %>
  <% end %>
<% end %>

<% add_crumb "", '#', :id => 'help_crumb' %>

<% js_bundle :conversations %>
<% jammit_css :conversations %>

<div id="inbox">
  <div id="conversations">
    <div id="actions">
      <ul class="buttons">
        <% unless @disallow_messages %>
        <li><a href="#" id="action_compose_message" title="<%= t('titles.compose_new_message', 'Write a new message') %>" style="background-image: url(/images/messages/compose-button-sprite.png)"><%= t('links.compose_new_message', 'New Message') %></a></li>
        <% end %>
      </ul>
      <ul class="menus">
        <li><a href="#" id="menu_views"></a>
          <span></span>
          <div>
            <ul class="first">
              <li><b><%= t(:inbox_view, "VIEW") %></b></li>
            </ul>
            <ul>
              <li data-scope="inbox"><%= link_to t('inbox_views.inbox', "Inbox"), '#' %></li>
              <li data-scope="unread"><%= link_to t('inbox_views.unread_messages', "Unread"), '#' %></li>
              <li data-scope="starred"><%= link_to t('inbox_views.starred_messages', "Starred"), '#' %></li>
              <li data-scope="sent"><%= link_to t('inbox_views.sent_messages', "Sent"), '#' %></li>
            </ul>
            <ul>
              <li data-scope="archived"><%= link_to t('inbox_views.archived_messages', "Archived"), '#' %></li>
            </ul>
            <ul class="last">
              <li><%= link_to t('inbox_views.discussion_replies', "Discussion Replies"), discussion_replies_url %></li>
            </ul>
          </div>
        </li>
      </ul>
      <div id="context_tags_filter">
        <label for="context_tags">
          <%= before_label :filter, "Filter" %>
        </label>
        <%= text_field_tag :context_tags, nil, 'data-finder_url' => search_recipients_url %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="conversations"><ul></ul></div>
    <p id="no_messages" style="display:none"></p>
  </div>
  <div id="messages">
    <div id="message_actions">
      <ul>
        <li><%= link_to t('inbox_actions.forward', "Forward"), {}, :id => :action_forward %></li>
        <li><%= link_to t('inbox_actions.delete', "Delete"), conversation_remove_messages_url('{{ id }}'), :id => :action_delete %></li>
      </ul>
      <a href="#" id="cancel_bulk_message_action"><%= t '#buttons.cancel', 'Cancel' %></a>
    </div>
    <% form_tag conversations_url, :id => 'create_message_form' do %>
      <ul class="conversations">
        <li>
          <span class="audience"><%= t('headings.new_message', 'New Message') %></span>
          <%= link_to t('inbox_actions.add_people', "Add People..."), conversation_add_recipients_url('{{ id }}'), :id => :action_add_recipients %>
        </li>
      </ul>
      <table>
        <tr id="recipient_info"><th><%= label_tag :recipients, :to, :en => "To", :before => true %></th><td><%= text_field_tag :recipients, nil, 'data-finder_url' => search_recipients_url, :class => "recipients" %></td></tr>
        <tr><th><%= label_tag :body, :message, :en => "Message", :before => true %></th><td><%= text_area_tag :body %></td></tr>
        <tr id="group_conversation_info"><th></th><td><%= check_box_tag :group_conversation %> <%= label_tag :group_conversation, :en => "This is a group conversation. Participants will see everyone's replies" %></td></tr>
        <tr id="user_note_info"><th></th><td><%= check_box_tag :user_note, "1", false, :id => :add_to_faculty_journal %> <%= label_tag :add_to_faculty_journal, :en => "Add as a Faculty Journal entry" %></td></tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            <% if feature_enabled?(:kaltura) %>
              <div class="media_comment" style="display: none;" title="<%= t('titles.media_comment', "Recorded media comment") %>">
                <%= image_tag "messages/media-gray.png" %>
                <%= t('media_comment', %{Media Comment}) %>
                <a href="#" class="remove_link" style="float: right;" title="<%= t('titles.remove_media_comment', "Remove media comment") %>"><%= image_tag "delete_circle.png" %></a>
                <div class="clear"></div>
              </div>
              <input type="hidden" name="media_comment_id" id="media_comment_id">
              <input type="hidden" name="media_comment_type" id="media_comment_type">
            <% end %>
            <ul id="attachment_list">
              <li id="attachment_blank" class="attachment" style="display: none;" title="<%= t('titles.attachment', "File to attach") %>">
                <%= image_tag "messages/attach-gray.png" %> 
                <input type="file" class="file_input"/>
                <a href="#" class="remove_link" style="float: right;" title="<%= t('titles.remove_attachment', "Remove attachment") %>"><%= image_tag "delete_circle.png" %></a>
                <div class="clear"></div>
              </li>
            </ul>
            <a id="action_add_attachment" href="#" title="<%= t('titles.add_attachment', "Add an attachment") %>"><%= image_tag "messages/attach-blue.png" %> <%= t('links.add_attachment', %{Attach}) %></a>
            <% if feature_enabled?(:kaltura) %>
              <a id="action_media_comment" href="#" title="<%= t('titles.record_media_comment', "Record an audio or video comment") %>"><%= image_tag "messages/media-blue.png" %> <%= t('links.media_comment', %{Record}) %></a>
            <% end %>
            <div style="float: right">
              <input type="hidden" name="from_conversation_id" id="from_conversation_id">
              <button type="submit" class="button"><%= t('buttons.send_message', 'Send') %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
    <ul class="messages">
    </ul>
  </div>
  <div class="spin_holder"></div>
</div>
<ul style="display:none">
  <li id="message_blank" class="message">
    <span class="date"></span>
    <b class="audience"></b>
    <span class="actions"><a href="#/conversations?user_id={{ user_id }}&amp;from_conversation_id={{ from_conversation_id }}" class="send_private_message"><%= t :send_private_message, "New message..." %></a></span>
    <p></p>
    <input type="checkbox" />
    <ul class='message_attachments'>
      <li class='media_object_blank'>
        <a href="#" class="instructure_inline_media_comment media_comment no-underline" title="<%= t('titles.play_media_comment', "Play media comment") %>">
          <%= image_tag "messages/media-gray.png" %>
          <span class="media_comment_id" style="display: none;"></span>
          <span class='title'></span>
        </a>
      </li>
      <li class='attachment_blank'>
        <a href="#" title="<%= t('titles.download_attachment', "Download attachment") %>">
          <%= image_tag "messages/attach-gray.png" %> 
          <span class='title'></span>
        </a>
      </li>
    </ul>
  </li>
  <li id="submission_blank" class="submission">
    <ul>
      <li class="header">
        <span class="submission_date"><%= before_label('submitted', "Submitted") %> <span class="date">&nbsp;</span></span>
        <a target="_blank" href="<%= course_assignment_submission_path(
          :course_id => '{{ course_id }}',
          :assignment_id => '{{ assignment_id }}',
          :id => '{{ id }}') %>" style="text-decoration: none;" title="<%= t('titles.view_submission', "Open submission in new window.") %>">
          <b class="title"></b>
        </a>
        <span class="audience" title="<%= t('titles.submission_author', "Submission Author") %>"></span>
        <span class="score" title="<%= t('titles.submission_score', "Submission Score") %>"></span>
        <div class="clear"></div>
      </li>
      <li class="comment">
        <span class="date"></span>
        <b class="audience"></b>
        <p></p>
        <div class="clear"></div>
      </li>
      <li class="more">
        <a href="#">
          <%= t('more_messages', "%{count} more...", :count => raw('<span class="hidden"></span>')) %>
        </a>
      </li>
    </ul>
    <input type="checkbox" />
  </li>
</ul>
<div id="conversation_actions">
  <span></span>
  <div>
    <ul>
      <li><%= link_to t('inbox_actions.mark_as_unread', "Mark as Unread"), conversation_url('{{ id }}', :conversation => {:workflow_state => "unread"}), :id => 'action_mark_as_unread', :class => :standard_action %></li>
      <li><%= link_to t('inbox_actions.mark_as_read', "Mark as Read"), conversation_url('{{ id }}', :conversation => {:workflow_state => "read"}), :id => 'action_mark_as_read', :class => :standard_action %></li>
      <li><%= link_to t('inbox_actions.unstar', "Unstar"), conversation_url('{{ id }}', :conversation => {:starred => false}), :id => 'action_unstar', :class => :standard_action %></li>
      <li><%= link_to t('inbox_actions.star', "Star"), conversation_url('{{ id }}', :conversation => {:starred => true}), :id => 'action_star', :class => :standard_action %></li>
    </ul>
    <ul>
      <li><%= link_to t('inbox_actions.unsubscribe', "Unsubscribe"), conversation_url('{{ id }}', :conversation => {:subscribed => 0}), :id => :action_unsubscribe, :class => :standard_action %></li>
      <li><%= link_to t('inbox_actions.subscribe', "Subscribe"), conversation_url('{{ id }}', :conversation => {:subscribed => 1}), :id => :action_subscribe, :class => :standard_action %></li>
    </ul>
    <ul>
      <li><%= link_to t('inbox_actions.archive', "Archive"), conversation_url('{{ id }}', :conversation => {:workflow_state => "archived"}), :id => :action_archive, :class => :standard_action %></li>
      <li><%= link_to t('inbox_actions.unarchive', "Unarchive"), conversation_url('{{ id }}', :conversation => {:workflow_state => "read"}), :id => :action_unarchive, :class => :standard_action %></li>
      <li><%= link_to t('inbox_actions.delete', "Delete"), conversation_url('{{ id }}'), :id => :action_delete_all %></li>
    </ul>
  </div>
</div>

<form id="add_recipients_form" method="post">
  <p>
    <%= t :add_recipients_instructions, "People you add to the conversation will see all previous messages." %>
  </p>
  <%= text_field_tag :recipients, nil, :id => 'add_recipients', 'data-finder_url' => search_recipients_url, :class => "recipients", :style => "width: 370px" %>
</form>

<% form_tag conversations_url, :id => 'forward_message_form' do %>
  <table>
    <tr id="recipient_info"><th><%= label_tag :forward_recipients, :to, :en => "To", :before => true %></th><td><%= text_field_tag :recipients, nil, :id => :forward_recipients, 'data-finder_url' => search_recipients_url, :class => "recipients" %></td></tr>
    <tr><th><%= label_tag :body, :message, :en => "Message", :before => true %></th><td><%= text_area_tag :body, nil, :id => :forward_body %></td></tr>
  </table>
  <ul class="messages"></ul>
  <input type="hidden" name="group_conversation" value="1" />
<% end %>
