<td class="rating">
  <div class="rating-wrap">
    <div class="show">
      <h5>{{description}}</h5>
      <span class="points">{{points}}</span> {{#t "points"}}Points{{/t}}
      <a href="#" class="edit_rating active" title="{{#t "edit_criterion_rating"}}Edit criterion rating{{/t}}"><i class="icon-edit"></i></a>
    </div>
    <div class="edit">
      <div class="row-fluid">
        <div class="span8">
          <input type="text" name="ratings[{{_index}}][description]" class="outcome_rating_description" value="{{description}}">
        </div>
        <div class="span4">
          <input type="text" name="ratings[{{_index}}][points]" style="width: 20px;" class="outcome_rating_points" value="{{points}}"> {{#t "pts"}}pts{{/t}}
        </div>
      </div>

      <div class="buttons row-fluid">
        <div class="span12">
          <button class="btn btn-small btn-primary save_rating_link" type="button">{{#t "close_rating"}}Ok{{/t}}</button>
          <button class="btn btn-small delete_rating_link" type="button">{{#t "delete_criterion"}}Delete{{/t}}</button>
        </div>
      </div>
    </div>
    <div class="insert">
      <a href="#" class="insert_rating" title="{{#t "insert_criterion_rating"}}Insert criterion rating{{/t}}">
        {{#t "insert_rating"}}Insert{{/t}}
        <span></span>
      </a>
    </div>
  </div>
</td>
