<td class="rating">
  <div class="rating-wrap">
    <div class="show" aria-expanded="true">
      <h5>{{description}}</h5>
      <span class="points">{{points}}</span> {{#t "points"}}Points{{/t}}
      <a
        href="#"
        class="edit_rating active"
        title='{{#t "edit_criterion_rating_title"}}Edit "{{description}} criterion rating{{/t}}'
        aria-label='{{#t "edit_criterion_rating_title"}}Edit "{{description}} criterion rating{{/t}}'
        role=button
        tabindex=0
        aria-controls="edit_rating_{{_index}}"><i class="icon-edit"></i></a>
    </div>
    <div
      class="edit"
      id="edit_rating_{{_index}}"
      role=region
      aria-expanded="false"
      tabindex=-1
    >
      <div class="row-fluid" class="outcomes-edit-row">
        <div class="span7">
          <input type="text" name="ratings[{{_index}}][description]" class="outcome_rating_description" value="{{description}}" aria-label="{{#t "rating_description"}}Criterion rating description{{/t}}">
        </div>
        <div class="span4 offset1">
          <input type="text" name="ratings[{{_index}}][points]" style="width: 20px;" class="outcome_rating_points" value="{{points}}" aria-label="{{#t "criterion_rating_points"}}Criterion rating points{{/t}}"> <span class="outcomes-points-label">{{#t "pts"}}pts{{/t}}</span>
        </div>
      </div>

      <div class="buttons row-fluid">
        <div class="span12">
          <div class="button-container">
            <button
              class="btn btn-small delete_rating_link"
              type="button"
            >{{#t "delete_criterion"}}Delete{{/t}}</button>
            <button
              class="btn btn-small btn-primary save_rating_link"
              aria-controls="edit_rating_{{_index}}"
              type="button"
            >{{#t "close_rating"}}Ok{{/t}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="insert">
      <a href="#" class="insert_rating" title="{{#t "insert_criterion_rating"}}Insert criterion rating{{/t}}" tabindex=0 role=button aria-label="{{#t "insert_criterion_rating"}}Insert criterion rating{{/t}}">
        {{#t "insert_rating"}}Insert{{/t}}
        <span class="arrow-icon"></span>
      </a>
    </div>
  </div>
</td>
