<form action="{{url}}" class="learning_outcome" method="post">

  <label class="span3" for="title">{{#t "title"}}Name this outcome{{/t}}:</label>
  <input class="outcome_title span3" name="title" id=title size="50" type="text" value="{{title}}" placeholder="{{#t}}New Outcome{{/t}}">

  <label class="span3" for="display_name">{{#t "display_name"}}Friendly name (optional){{/t}}:</label>
  <input class="outcome_display_name span3" name="display_name" id=display_name size="50" type="text" value="{{display_name}}">

  <label for="description">{{#t "description"}}Describe this outcome{{/t}}:</label>

  <div style="float: right;">
    <a href="#" class="rte_switch_views_link">
      {{t "HTML Editor"}}
    </a>
    <a href="#" class="rte_switch_views_link" style="display:none;">
      {{t "Rich Content Editor"}}
    </a>
  </div>
  <div style="clear:both;"></div>

  <textarea cols="40" name="description" id=description rows="20" style="width: 100%; height: 150px;">{{description}}</textarea>

  <div id="outcome_criterion_dialog" style="display: none;">
    {{#t "criterion_dialog"}}Learning outcomes can be included in assignment rubrics as an easy way
    to assess mastery of outcomes aligned to specific assignments.  When you define
    a learning outcome, you should also define a criterion that can be used
    when building assignment rubrics.  Define as many rubric columns as you
    need, and specify a point threshold that will be used to define mastery
    of this outcome.{{/t}}
  </div>

  <label>
    {{#t "criterion"}}Criterion ratings{{/t}}:
    <a class="outcome_information_link" title="{{#t "criterion_info_link"}}Click to learn about criterion ratings{{/t}}" tabindex=0 href="#"><i class="icon-question"></i></a>
  </label>
  <table class="criterion">
    <tbody>
      <tr>
        {{#eachWithIndex ratings}}
          {{> [outcomes/criterion]}}
        {{/eachWithIndex}}
       <td class="total">
         <h5 class="total">{{#t "total_points"}}Total Points{{/t}}</h5>
         <div class="points_possible">
           {{#t "points"}}{{points_possible}} Points{{/t}}
         </div>
       </td>
      </tr>
    </tbody>
  </table>
  <div>
    <label for="mastery_points" style="display: inline">{{#t "mastery"}}Mastery at{{/t}}:</label>
    <input type="text" name="mastery_points" style="width: 20px;" class="mastery_points" id="mastery_points" value="{{mastery_points}}">
  </div>
  <div>
    <label for="calculation_method" style="display: inline">{{#t "calculation_method"}}Calculation Method{{/t}}:</label>
    <select name="calculation_method" class="calculation_method" id="calculation_method" data-calculation-method="{{calculation_method}}" value="{{calculation_method}}">
      {{#each calculationMethods}}
        <option value="{{@key}}" {{#ifEqual @key ../calculation_method}} selected="selected" {{/ifEqual}}>{{friendlyString}}</option>
      {{/each}}
    </select>
  </div>
  <div class="content-box">
    <div class="grid-row">
      <div class="col-xs-2"></div>
      <div class="col-xs-10">
        <div class="content-box border border-trbl border-round" id="calculation_int_container">
          <div class="grid-row" style="padding: 10px">
            <div class="col-xs-4 border border-r" id="calculation_int_left_side">
              <div id="calculation_int_left_side_top">
                <label for="calculation_int" id="calculation_int_label" style="display:inline"></label>
                <input type="text" name="calculation_int" class="outcomes_narrow_text_input" id="calculation_int" value="{{calculation_int}}" />
              </div>
              <div id="calculation_int_left_side_bottom">
                <span id="calculation_int_range_info" class="outcomes-calculation-int-italics"></span>
              </div>
            </div>
            <div class="col-xs-8" id="calculation_int_right_side">
              <div class="content-box" style="margin:0px">
                <div class="grid-row">
                  <div class="col-xs-2">
                    <span class="outcomes-calculation-int-italics">{{#t "example"}}Example:{{/t}}</span>
                  </div>
                  <div class="col-xs-10">
                    <span id="calculation_int_example" class="outcomes-calculation-int-italics"></span>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-12">
                    <span id="calculation_int_example_line_1" class="outcomes-calculation-int-italics"></span>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-12">
                    <span id="calculation_int_example_line_2" class="outcomes-calculation-int-italics"></span>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-12">
                    <span id="calculation_int_example_line_3" class="outcomes-calculation-int-italics"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="align-right">
    <button type="button" class="btn cancel_button">{{#t "#buttons.cancel"}}Cancel{{/t}}</button>
    <button type="submit" class="btn btn-primary submit_button">{{#t "#buttons.save"}}Save{{/t}}</button>
  </div>
</form>
