<h2 class="screenreader-outcome-title screenreader-only" tabindex="0" aria-alert="true">
  {{title}}
</h2>
<h2 class="title" role="presentation">
  <i class="icon-note-light"></i>
  {{#unless isLargeRoster}}
    <a href='{{html_url}}'>{{title}}</a>
  {{else}}
    {{title}}
  {{/unless}}
</h2>
<div class="description">
  {{{description}}}
</div>
<table class="criterion">
  <tr>
    {{#each ratings}}
    <td class="rating">
      <h5>{{description}}</h5>
      {{#t "points.rating"}}{{points}} Points{{/t}}
    </td>
    {{/each}}
    <td class="total">
      <h5 class="total">{{#t "total_points"}}Total Points{{/t}}</h5>
      {{#t "points.total"}}{{points_possible}} Points{{/t}}
    </td>
  </tr>
</table>

{{#if setQuizMastery}}
  <label for="outcome_mastery_at">
    {{#t "mastery_at_label"}}Set mastery for any score at or above:{{/t}}
    <input type="text" name="mastery_at" id="outcome_mastery_at" value="60" />
    %
  </label>
{{else}}
  {{#if useForScoring}}
    <label for="outcome_use_for_scoring">
      <input type="checkbox" id="outcome_use_for_scoring" class="criterion_for_scoring" checked />
      {{#t "use_for_scoring"}}Use this criterion for scoring{{/t}}
    </label>
  {{else}}
    <p>{{#t "point_mastery"}}Mastery: {{mastery_points}} Points{{/t}}</p>
  {{/if}}
{{/if}}

<div id="calculation_method" data-calculation-method="{{calculation_method}}">{{#t}}Calculation Method{{/t}}: {{calc_method_str}}</div>

<div class="content-box">
  <div class="grid-row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <div class="content-box border border-trbl border-round" id="calculation_int_container">
        <div class="grid-row" style="padding: 10px">
          <div class="col-xs-4 border border-r" id="calculation_int_left_side">
            <div id="calculation_int_left_side_top">
              <span id="calculation_int_label"></span>
              <span id="calculation_int">{{calculation_int}}</span>
            </div>
            <div id="calculation_int_left_side_bottom">
              <span id="calculation_int_range_info" class="outcomes-calculation-int-italics"></span>
            </div>
          </div>
          <div class="col-xs-8" id="calculation_int_right_side">
            <div class="content-box" style="margin:0px">
              <div class="grid-row">
                <div class="col-xs-2">
                  <span class="outcomes-calculation-int-italics">{{#t "example"}}Example:{{/t}}</span>
                </div>
                <div class="col-xs-10">
                  <span id="calculation_int_example" class="outcomes-calculation-int-italics"></span>
                </div>
              </div>
              <div class="grid-row">
                <div class="col-xs-12">
                  <span id="calculation_int_example_line_1" class="outcomes-calculation-int-italics"></span>
                </div>
              </div>
              <div class="grid-row">
                <div class="col-xs-12">
                  <span id="calculation_int_example_line_2" class="outcomes-calculation-int-italics"></span>
                </div>
              </div>
              <div class="grid-row">
                <div class="col-xs-12">
                  <span id="calculation_int_example_line_3" class="outcomes-calculation-int-italics"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if assessed}}
  <div id="assessed_info_banner" class="alert alert-info">
    <span>{{#t}}This outcome has been used to assess a student and cannot be edited or deleted{{/t}}</span>
  </div>
{{/if}}

{{#unless readOnly}}
  <a href="#" style="float:right" class="move_button ui-button ui-widget ui-state-default ui-corner-all" role="button">
    {{#t}}Move Outcome{{/t}}
  </a>

  {{#if native}}
    <a href="#" style="float:right" class="edit_button ui-button ui-widget ui-state-default ui-corner-all" role="button"
      {{#if assessed}} disabled tabindex="-1" aria-hidden="true" {{/if}}>
      {{#t "links.edit_outcome"}}Edit Outcome{{/t}}
    </a>
  {{/if}}

  <a href="#" style="float:right" class="delete_button ui-button ui-widget ui-state-default ui-corner-all" role="button"
    {{#if assessed}} disabled tabindex="-1" aria-hidden="true" {{/if}}>
    {{#t "links.delete_outcome"}}Delete Outcome{{/t}}
  </a>
{{/unless}}
