<h2 class="title">
  <i class="icon-note-light"></i>
  {{#unless isLargeRoster}}
    <a href='{{html_url}}'>{{title}}</a>
  {{else}}
    {{title}}
  {{/unless}}
</h2>
<div class="description">
  {{{description}}}
</div>
<table class="criterion">
  <tr>
    {{#each ratings}}
    <td class="rating">
      <h5>{{description}}</h5>
      {{#t "points.rating"}}{{points}} Points{{/t}}
    </td>
    {{/each}}
    <td class="total">
      <h5 class="total">{{#t "total_points"}}Total Points{{/t}}</h5>
      {{#t "points.total"}}{{points_possible}} Points{{/t}}
    </td>
  </tr>
</table>

{{#unless readOnly}}
{{#if native}}
<a href="#" style="float:right" class="edit_button ui-button ui-widget ui-state-default ui-corner-all" role="button">
  {{#t "links.edit_outcome"}}Edit Outcome{{/t}}
</a>
{{/if}}
<a href="#" style="float:right" class="delete_button ui-button ui-widget ui-state-default ui-corner-all" role="button">
  {{#t "links.delete_outcome"}}Delete Outcome{{/t}}
</a>
{{/unless}}

{{#if setQuizMastery}}
  <label for="outcome_mastery_at">
    {{#t "mastery_at_label"}}Set mastery for any score at or above:{{/t}}
    <input type="text" name="mastery_at" id="outcome_mastery_at" value="60" />
    %
  </label>
{{else}}
  {{#if useForScoring}}
    <label for="outcome_use_for_scoring">
      <input type="checkbox" id="outcome_use_for_scoring" class="criterion_for_scoring" checked />
      {{#t "use_for_scoring"}}Use this criterion for scoring{{/t}}
    </label>
  {{else}}
    <p>{{#t "point_mastery"}}Mastery at {{mastery_points}} points{{/t}}</p>
  {{/if}}
{{/if}}

