<h2 class="screenreader-outcome-title screenreader-only" tabindex="0">
  {{title}}
</h2>
<h2 class="title" role="presentation">
  <i class="icon-outcomes" aria-hidden="true"></i>
  {{#unless isLargeRoster}}
    <a href='{{html_url}}'>{{title}}</a>
  {{else}}
    {{title}}
  {{/unless}}
</h2>
<div class="description">
  {{{description}}}
</div>
<table class="criterion">
  <tr>
    {{#each ratings}}
    <td class="rating">
      <h5>{{description}}</h5>
      {{#t "points.rating"}}{{points}} Points{{/t}}
    </td>
    {{/each}}
    <td class="total">
      <h5 class="total">{{#t "total_points"}}Total Points{{/t}}</h5>
      {{#t "points.total"}}{{points_possible}} Points{{/t}}
    </td>
  </tr>
</table>

{{#if setQuizMastery}}
  <label for="outcome_mastery_at">
    {{#t "mastery_at_label"}}Set mastery for any score at or above:{{/t}}
    <input type="text" name="mastery_at" id="outcome_mastery_at" value="60" />
    %
  </label>
{{else}}
  {{#if useForScoring}}
    <label for="outcome_use_for_scoring">
      <input type="checkbox" id="outcome_use_for_scoring" class="criterion_for_scoring" checked />
      {{#t "use_for_scoring"}}Use this criterion for scoring{{/t}}
    </label>
  {{else}}
    <p>{{#t "point_mastery"}}Mastery: {{mastery_points}} Points{{/t}}</p>
  {{/if}}
{{/if}}

<div id="calculation_method" data-calculation-method="{{calculation_method}}">
  {{#t}}Calculation Method{{/t}}: {{ friendlyCalculationMethod }}
</div>

<div class="content-box">
  <div class="grid-row">
    <!-- Hook for OutcomeCalculationMethodFormView -->
    <div class="col-xs-12 outcome-calculation-method-form"></div>
  </div>
</div>

{{#if assessedInContext}}
  <div id="assessed_info_banner" class="alert alert-info">
    <span>
      {{#t}}This outcome has been used to assess a student and cannot be edited or deleted{{/t}}
    </span>
  </div>
{{/if}}

{{#if can_move}}
  <div class="pull-right">
    <button class="move_button ui-button ui-widget ui-state-default ui-corner-all">
      <span aria-hidden="true">{{#t}}Move{{/t}}</span>
      <span class="screenreader-only">{{#t}}Move Outcome{{/t}}</span>
    </button>
    {{#if can_edit}}
      <button class="edit_button ui-button ui-widget ui-state-default ui-corner-all"
        {{#if assessedInContext}} disabled {{/if}}>
        <span aria-hidden="true">{{#t "links.edit_outcome"}}Edit{{/t}}</span>
        <span class="screenreader-only">{{#t}}Edit Outcome{{/t}}</span>
      </button>
    {{/if}}
    {{#if can_remove}}
      <button class="delete_button ui-button ui-widget ui-state-default ui-corner-all"
        {{#if assessedInContext}} disabled {{/if}}>
        <span aria-hidden="true">{{#t "links.delete_outcome"}}Delete{{/t}}</span>
        <span class="screenreader-only">{{#t}}Delete Outcome{{/t}}</span>
      </button>
    {{/if}}
  </div>
{{/if}}
