<div class="outcome-modal">
  <div class="title"{{#if hover_name}} data-tooltip title="{{hover_name}}"{{/if}}>
    {{friendly_name}}
  </div>
  <div class="outcome-bar-wrapper">
    <div class="score"><strong>{{#if scoreDefined}}{{nf roundedScore format="outcomeScore"}}{{else}}-{{/if}}</strong>/{{nf mastery_points format="outcomeScore"}}</div>
    {{view progress}}
  </div>
  <div class="description">{{{description}}}</div>

  <div class="alignments"></div>
</div>
