<fieldset>
  <legend><%= t :select_quizzes, "Select Quizzes to Export" %></legend>
    <div style="overflow: auto; max-height: 200px">
    <%= check_box :copy, :all_quizzes, :class => "copy_all", :checked => true %><%= label :copy, :all_quizzes, t('labels.all_quizzes', "All Quizzes") %>
    <ul class="unstyled_list" style="margin-left: 20px;">
      <% @context.quizzes.active.each do |quiz| %>
        <li>
          <%= check_box "copy[quizzes]", mig_id(quiz), :class => 'quiz_item', :checked => true %>
          <%= label "copy[quizzes]", mig_id(quiz), quiz.title %>
        </li>
      <% end %>
    </ul>
  </div>
</fieldset>