<meta name="Content-Type" content="text/html;charset=UTF-8">
<meta charset="UTF-8">
<title><%= options[:page_title] %></title>
<link rel="stylesheet" href="<%= url_for("css/common.css") %>" type="text/css" media="screen" charset="utf-8" />
<link href="<%= url_for("css/prettify.css") %>" rel="stylesheet" type="text/css" media="screen" />
<script src="<%= url_for("js/jquery.min.js") %>" type="text/javascript"></script>
<script src="<%= url_for("js/prettify.js") %>" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  // set up pretty-printing in static docs generated from .md files
  $('pre.code.bash').addClass('prettyprint language-bash');
  $('pre.code.html').addClass('prettyprint language-html');
  $('pre.code.xml').addClass('prettyprint language-xml');
  $('pre.code.json').addClass('prettyprint language-js');
  $('pre.code.javascript').addClass('prettyprint language-js');
  prettyPrint();
});
</script>
