<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>
  <body>

    <div id="alert-header" style="background-color: red">
        <h1>Starting June 30th 2016 UTC Canvas Access Tokens will start Expiring. You will need to use Refresh tokens to generate new Access Tokens.  See the <a>Refresh Tokens</a> section for more info.</h1>
    </div>

    <div id="header">
      <%= erb(:header) %>
    </div>

    <div id="sidebar">
      <%= erb(:sidebar) %>
    </div>

    <div id="content"><%= yieldall %></div>

    <%= erb(:footer) %>
  </body>
</html>
