<nav>
  <h2 class='first'>Basics</h2>
  <a href="<%= url_for("authentication.html") %>" class="<%= 'current' if options[:object] == 'authentication.html' %>">Authentication</a>
  <a href="<%= url_for("oauth.html") %>" class="<%= 'current' if options[:object] == 'oauth.html' %>">OAuth</a>
  <a href="<%= url_for("object_ids.html") %>" class="<%= 'current' if options[:object] == 'object_ids.html' %>">SIS IDs</a>
  <a href="<%= url_for("sis_csv.html") %>" class="<%= 'current' if options[:object] == 'sis_csv.html' %>">SIS CSV</a>
  <a href="<%= url_for("pagination.html") %>" class="<%= 'current' if options[:object] == 'pagination.html' %>">Pagination</a>
  <h2>Resources</h2>
  <% options[:resources].each_with_index do |(resource, controllers), i| %>
    <% link = url_for("#{topicize resource}.html")
       klass = []
       klass << "current" if resource == options[:object] %>
    <a class="<%= klass.join(' ') %>" href="<%= link %>"><%= resource %></a>
  <% end %>
  <h2>External Tools</h2>
  <a href="<%= url_for("tools_intro.html") %>" class="<%= 'current' if options[:object] == 'tools_intro.html' %>">Introduction</a>
  <a href="<%= url_for("assignment_tools.html") %>" class="<%= 'current' if options[:object] == 'assignment_tools.html' %>">Grading</a>
  <a href="<%= url_for("navigation_tools.html") %>" class="<%= 'current' if options[:object] == 'navigation_tools.html' %>">Navigation</a>
  <a href="<%= url_for("editor_button_tools.html") %>" class="<%= 'current' if options[:object] == 'editor_button_tools.html' %>">Rich Editor</a>
  <a href="<%= url_for("link_selection_tools.html") %>" class="<%= 'current' if options[:object] == 'link_selection_tools.html' %>">Link Selection</a>
  <a href="<%= url_for("tools_xml.html") %>" class="<%= 'current' if options[:object] == 'tools_xml.html' %>">Configuring</a>
</nav>
