<header>
  <span class="question-attempts">{{attemptsLabel}}</span>
  <aside class="pull-right">
    <button {{action "showDetails"}} class="btn">
      <i {{bind-attr class="detailsVisible:icon-collapse:icon-expand"}}></i>
    </button>
  </aside>

  <div class="question-text">
    {{{questionText}}}
  </div>
</header>

<div>
  <nav class="row-fluid answer-set-tabs">
    {{#each set in answerSets}}
      {{#with set}}
        <button {{bind-attr class="active:active"}} {{action "activateAnswer" id}}>
          {{{text}}}
        </button>
      {{/with}}
    {{/each}}
  </nav>

  <div class="row-fluid">
    {{#if activeAnswer}}
      <section class="correct-answer-ratio-section">
        {{render "quiz/statistics/questions/fill_in_multiple_blanks/correct_pie" controller}}
      </section>

      <section class="answer-distribution-section">
        {{render "quiz/statistics/questions/fill_in_multiple_blanks/answer_bars" controller}}
      </section>
    {{/if}}
  </div>
</div>

{{#if activeAnswer}}
  {{partial "quiz/statistics/questions/multiple_choice/answers"}}
{{/if}}