<%
# Copyright (C) 2014 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div class="discussion-section alert alert-info">
  <p>
    <%= t :separated_conversation_notice, "Since this is a group discussion, each group has its own conversation for this topic. Here are the ones you have access to:" %>
    <ul>
      <% @group_topics.each do |group_and_topic| %>
        <li>
          <a href="<%= context_url(group_and_topic[:group], :context_discussion_topics_url, :root_discussion_topic_id => @topic.id) %>"><%= group_and_topic[:group].name %></a>
          <%= render :partial => 'new_and_total_badge', :locals => {
                     :unread_count => group_and_topic[:topic].unread_count(@current_user),
                     :reply_count => group_and_topic[:topic].discussion_entries.active.size } if group_and_topic[:topic] %>
        </li>
      <% end %>
    </ul>
    <% if show_da_note %>
      <p> <%= t "Note: for differentiated group topics, some threads may not have any students assigned." %> </p>
    <% end %>
  </p>
</div>
