<%
  content_for :page_title, topic_page_title(@topic)

  js_bundle :discussion_topics_edit
  css_bundle :tinymce, :grading_standards, :assignments_edit, :discussions_edit
%>

<% content_for(:right_side) do %>
  <%= render :partial => 'shared/wiki_sidebar' %>
<% end %>

<% if @context.is_a?(Course) %>
<%= render :partial => "groups/add_group_category" %>
<div id="edit_letter_grades_form" style="display: none;">
  <%= render partial: "shared/grading_standard", object: @topic.assignment.try(:grading_standard), locals: {read_only: false} %>
  <a href="<%= context_url(@context, :context_grading_standards_url) %>" style="display: none;" class="create_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_grading_standard_url, "{{ id }}") %>" style="display: none;" id="update_grading_standard_url">&nbsp;</a>
</div>
<% end %>
