<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>
 <% js_env :context_rubric_associations_url => context_url(@context, :context_rubric_associations_url) rescue nil %>

<%
  provide :page_title, join_title( t(:topic, "Topic"), @topic.title)
  @discussion_presenter = DiscussionTopicPresenter.new(@topic, @current_user)
  @no_reply = @topic.homeroom_announcement?(@context)
%>

<% if (@headers || !@locked) && (show_crs_graphs = can_do(@context, @current_user, :view_all_grades) && ConditionalRelease::Service.triggers_mastery_paths?(@topic.assignment, @current_user, session)) %>
  <% provide :right_side do %>
    <div id="sidebar_content" class="rs-margin-bottom">
      <% if show_crs_graphs %>
        <div id="crs-graphs"></div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% provide_blank :right_side %>
<% end %>

<% if !@headers %>
  <div style="width: 600px; margin: 10px auto;">
  <h2><%= @topic.title %></h2>
<% end %>

<% if @unlock_at && @unlock_at > Time.now && !can_do(@context, @current_user, :moderate_forum) %>
  <div id="discussion-managebar" class="toolbarView">
    <div class="headerBar">
      <div class="topic">
        <div class="entry-content">
         <h1 class="discussion-title"><%= @topic.title %></h1>
         <div class="discussion-fyi">
           <% if @topic.is_a?(Announcement) %>
             <%= t(:announcement_locked_until, "This announcement is locked until %{time}", time: datetime_string(@unlock_at)) %>
           <% else %>
             <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'topic', @context) : t(:topic_time_locked, "This topic is locked until %{time}", time: datetime_string(@unlock_at)) %>
           <% end %>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div id="module_sequence_footer"></div>
  <div id="keyboard-shortcut-modal"></div>
<% else %>
  <div id="discussion-managebar" class="toolbarView">
    <div class="headerBar">
      <div class="form-inline" style="overflow: visible;">
        <div id="keyboard-shortcut-modal-info" tabindex="0">
          <span class="accessibility-warning">
            <%= t 'Press ALT + F8 to see a list of keyboard shortcuts' %>
          </span>
        </div>
        <div class="pull-right">
          <% if !@topic.is_announcement && can_do(@context, @current_user, :moderate_forum) %>
            <% if @topic.published? && !@topic.can_unpublish? %>
              <% unpublish_tooltip = t('tooltips.cannot_unpublish_discussion', "Can't unpublish if there are student replies") %>
              <span data-tooltip="left" title="<%= unpublish_tooltip %>" id='course-status' class='published-status published'>
                <button
                  id="topic_publish_button"
                  data-id='<%= @topic.id %>'
                  class='btn disabled <%= "published" if @topic.published? %>'>
                </button>
              </span>
            <% else %>
              <button
                id="topic_publish_button"
                data-id='<%= @topic.id %>'
                class='btn <%= "published" if @topic.published? %>'>
              </button>
            <% end %>
          <% end %>

          <% if @topic.grants_right?(@current_user, :update) %>
            <a href="<%= context_url(@topic.context,
                                     :edit_context_discussion_topic_url,
                                     @topic) %>"
               class="btn edit-btn" role="button">
                 <i class="icon-edit" aria-hidden="true"></i>
                 <%= t(:edit, 'Edit') %>
            </a>
          <% end %>

          <% if @current_user.present? %>
            <div class="admin-links">
              <a class="al-trigger btn announcement_cog" href="#" role="button">
                <i class="icon-more" aria-hidden="true"></i>
                <span class="screenreader-only">
                   <% if @topic.is_a?(Announcement) %>
                    <%= t :manage_announcement, 'Manage Announcement' %>
                   <% else %>
                    <%= t :manage_discussion, 'Manage Discussion' %>
                   <% end %>
                  </span>
              </a>
              <ul class="al-options">
                <% unless @initial_post_required %>
                  <li><a href="#" class="mark_all_as_read"><i class="icon-mark-as-read" aria-hidden="true"></i> <%= t :mark_all_as_read, 'Mark All as Read' %></a></li>
                  <% if false # keep this command out of the interface for now %>
                    <li><a href="#" class="mark_all_as_unread"><%#= <i class="icon-mark-as-unread" aria-hidden="true"></i> %> <%= t :mark_all_as_unread, 'Mark All as Unread' %></a></li>
                  <% end %>
                <% end %>

                <% if !editing_restricted?(@topic) && can_do(@topic, @current_user, :delete)%>
                  <li><a href="<%= context_url(@context, :context_discussion_topic_url, @topic.id) %>" class="delete_discussion" data-method="delete" rel="nofollow" data-confirm="<%= t :confirm_delete_discussion, 'Are you sure you want to delete this discussion?' %>"><i class="icon-trash"></i> <%= t :delete, 'Delete' %></a></li>
                <% end %>

                <% if @topic.for_assignment? && @discussion_presenter.allows_speed_grader? && @assignment_presenter.can_view_speed_grader_link?(@current_user) %>
                  <li><a href="<%= context_url(@topic.assignment.context,
                                               :speed_grader_context_gradebook_url,
                                               :assignment_id => @topic.assignment.id) %>"
                         target="_blank">
                    <i class="icon-speed-grader" aria-hidden="true"></i>
                    <%= t :speed_grader, "SpeedGrader™" %>
                  </a></li>
                <% end %>

                <% if @discussion_presenter.show_peer_reviews?(@current_user) %>
                  <li><a class="assignment_peer_reviews_link"
                     href="<%= context_url(@topic.assignment.context,
                                           :context_assignment_peer_reviews_url,
                                           @topic.assignment.id) %>">
                    <i class="icon-peer-review" aria-hidden="true"></i>
                    <%= t 'links.peer_reviews', "Peer Reviews" %>
                  </a></li>
                <% end %>

                <% if @discussion_presenter.should_show_rubric?(@current_user) %>
                  <li>
                    <a
                      class="rubric_dialog_trigger"
                      href="#"
                      data-no-rubric-exists="<%= !@discussion_presenter.has_attached_rubric? %>"
                      data-focus-returns-to=".announcement_cog"
                    >
                      <i class="icon-rubric" aria-hidden="true"></i>
                      <%= @discussion_presenter.has_attached_rubric? ? t(:show_rubric, "Show Rubric") : t(:add_rubric, "Add Rubric") %>
                    </a>
                  </li>
                <% end %>

                <% unless @discussion_presenter.comments_disabled? %>
                  <% if @topic.locked? %>
                    <% if can_do(@context, @current_user, :moderate_forum) %>
                      <li><a href="#" data-mark-locked="false" class="discussion_locked_toggler"><i class="icon-unlock"></i> <%= t(:unlock_topic, %{Open for Comments}) %></a></li>
                    <% end %>
                  <% elsif can_do(@context, @current_user, :moderate_forum) && @topic.can_lock? %>
                    <li><a href="#" data-mark-locked="true" class="discussion_locked_toggler"><i class="icon-lock"></i> <%= t(:lock_topic, %{Close for Comments}) %></a></li>
                  <% end %>
                <% end %>

                <% if @discussion_presenter.can_direct_share? %>
                  <li><a href="#", class="direct-share-send-to-menu-item"><i class="icon-user" aria-hidden="true"></i> <%= t("Send To...") %></a></li>
                  <li><a href="#", class="direct-share-copy-to-menu-item"><i class="icon-duplicate" aria-hidden="true"></i> <%= t("Copy To...") %></a></li>
                <% end %>

                <% if can_do(@context, @current_user, :manage_content, *RoleOverride::GRANULAR_MANAGE_COURSE_CONTENT_PERMISSIONS) %>
                  <%= external_tools_menu_items((@discussion_topic_menu_tools || []), {link_class: "menu_tool_link", settings_key: :discussion_topic_menu, in_list: true, url_params: {:discussion_topics => [@topic.id]}}) %>
                <% end %>
              </ul>
            </div>
            <% if @discussion_presenter.should_show_rubric?(@current_user) %>
              <%# HACK! this is here because edit_rubric.js expects there to be a #add_rubric_url on the page and sets it's <form action="..."> to it %>
              <% if can_do(@topic.assignment, @current_user, :update) %>
                <a href="<%= context_url(@topic.assignment.context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;"></a>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="discussion_container">
    <article id="discussion_topic" class="admin-link-hover-area topic discussion_entry <%= @topic.class.to_s.underscore %> <%= 'has_podcast' if @topic.podcast_enabled %> <%= 'has_unread_entries' if @topic.unread_count(@current_user) > 0 %> can_be_marked_as_read <%= @topic.read_state(@current_user) %>" data-mark-read-url="<%= context_url(@topic.context, :api_v1_context_discussion_topic_mark_read_url, @topic) %>">
      <div class="entry-content <%= 'no-reply' if @no_reply %>">
        <% if @topic.for_assignment? %>
          <%= render :partial => 'assignment_details' %>
          <%= render :partial => 'peer_reviews' %>
        <% end %>
        <% if @topic.todo_date? %>
          <%= render :partial => 'assignment_todo' %>
        <% end %>
        <% if @topic.for_group_discussion? %>
          <%= render :partial => 'group_discussion', :locals => {show_da_note: (@topic.for_assignment? && @topic.assignment.only_visible_to_overrides)} %>
        <% end %>
        <header class="discussion-section clearfix">
          <%= avatar((@topic.user), context_code: @context.asset_string, skip_url: true) if @topic.user %>
          <div class="discussion-header-content right-of-avatar">
            <div class="pull-left">
              <h1 class="discussion-title"><%= @topic.title %></h1>
              <div class="discussion-subtitle">
                <% if @topic.user %>
                  <%= link_to context_user_name(@topic.context, @topic.user),
                                                context_url(@topic.context, :context_user_url, @topic.user_id),
                                                @discussion_presenter.author_link_attrs %>
                <% end %>
              </div>
              <div id="section_tooltip_root"></div>
              <% if @topic.root_topic.try(:context) && @topic.root_topic.try(:context) != @context %>
                <span class="discussion-subtitle">
                  <%= t(:from_context, "From *%{context_name}*", {
                          :context_name => @topic.root_topic.context.short_name,
                          :wrapper => "<a href='#{context_url(@topic.root_topic.context, :context_url)}'>\\1</a>" }) %>
                </span>
              <% end %>
            </div>

            <div class="discussion-header-right pull-right">
              <% if can_do(@context, @current_user, :moderate_forum) %>
                <div class="discussion-pubdate"><%= friendly_datetime @topic.posted_at, context: @topic.context %></div>
              <% end %>
              <%= render :partial => 'new_and_total_badge', :locals => { :unread_count => @topic.unread_count(@current_user), :reply_count => @topic.discussion_subentry_count } %>
            </div>
          </div>
        </header>

        <div class="discussion-section message_wrapper">
          <% unless @locked.is_a?(Hash) && !@locked[:can_view] && !can_do(@topic, @current_user, :update) %>
            <div data-bind="message" class="message user_content"><%= public_user_content(@topic.message) %></div>
          <% end %>
          <% if @unlock_at && @unlock_at > Time.now && @topic.is_a?(Announcement) %>
            <div class="discussion-fyi">
              <%= t 'announcement_locked', 'The content of this announcement will not be visible to users until %{date}', :date => datetime_string(@unlock_at) %>
            </div>
          <% end %>
          <% if @locked %>
            <% unless @no_reply %>
              <div class="discussion-fyi">
                <% if @topic.is_a? Announcement %>
                  <%= t 'announcement_closed', 'This announcement is closed for comments' %>
                <% elsif @locked.is_a?(Hash) %>
                  <%= lock_explanation(@locked, 'topic', @context) %>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <% if @topic.editor_id && @topic.user_id && @topic.editor_id != @topic.user_id %>
            <div class="discussion-fyi">
              <%= t 'edited_by', 'This topic was edited by %{user}', :user => link_to(context_user_name(@topic.context, @topic.editor_id), context_url(@topic.context, :context_user_url, @topic.editor_id)) %>
            </div>
          <% end %>

          <% if @topic.podcast_enabled %>
            <% if @context_enrollment %>
              <div class="discussion-fyi">
                <a class="icon-rss" href="<%= feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss) %>"><%= t :topic_podcast_feed_link, "Topic Podcast Feed" %></a>
              </div>
            <% elsif @context.available? %>
              <div class="discussion-fyi">
                <a class="icon-rss" href="<%= feeds_topic_format_path(@topic.id, @context.feed_code, :rss) %>"><%= t :topic_podcast_feed_link, "Topic Podcast Feed" %></a>
              </div>
            <% end %>
          <% end %>

          <% if @topic.external_feed %>
            <div class="discussion-fyi">
              <%= t 'retrieved_from_feed', 'Retrieved from %{feed}', :feed => link_to(@topic.external_feed.display_name, @topic.external_feed.url) %>
            </div>
          <% end %>

          <% if @topic.attachment %>
            <div>
              <a href="<%= context_url(@topic.attachment.context, :context_file_download_url, @topic.attachment_id) %>" class="<%= @topic.attachment.mime_class %>"><%= @topic.attachment.display_name %></a>
            </div>
          <% end %>
        </div>
      </div>
      <% unless  @no_reply %>
        <div id="discussion-toolbar" class="toolbarView">
          <div class="headerBar" data-sticky>
            <div class="form-inline headerBar__layout">
              <div class="headerBar__controls">
                <label class="screenreader-only" for="discussion-search">
                  <%= t("Search entries or author") %>
                </label>
                <span id="search_entries_container"></span>
                <input
                  id               = "discussion-search"
                  type             = "hidden"
                  placeholder      = "<%= t("Search entries or author") %>"
                  size             = 50
                >

                <span class="screenreader-only" id="onlyUnreadAccessibleLabel"><%= t("Filter replies by unread") %></span>
                <input
                  type    = "checkbox"
                  id      = "onlyUnread"
                  aria-labelledby="onlyUnreadAccessibleLabel"/>
                <label for="onlyUnread" aria-hidden="true"><%= t('unread', 'Unread') %></label>

                <% if can_do(@context, @current_user, :moderate_forum) %>
                  <input type="checkbox" id="showDeleted" aria-labelledby="showDeletedAccessibleLabel"/>
                  <label for="showDeleted">
                    <i class="icon-eye" title="<%= t("Show deleted replies") %>"></i>
                    <span class="screenreader-only" id="showDeletedAccessibleLabel"><%= t("Show deleted replies") %></span>
                  </label>
                <% end %>

                &nbsp; &nbsp;
                <button id="collapseAll" class="btn disableWhileFiltering" title="<%= t('collapse_replies', 'Collapse replies') %>" aria-label="<%= t('collapse_replies', 'Collapse replies') %>">
                  <i class="icon-expand" aria-hidden="true"> </i>
                  <span class="screenreader-only">Collapse replies</span>
                </button>
                <button id="expandAll" class="btn disableWhileFiltering" title="<%= t('expand_replies', 'Expand replies') %>" aria-label="<%= t('expand_replies', 'Expand replies') %>">
                  <i class="icon-collapse" aria-hidden="true"></i>
                  <span class="screenreader-only">Expand replies</span>
                </button>
              </div>
              <div class="discussion_subscribe headerBar__subscribe">
                <a href='#' class='btn topic-subscribe-button' data-tooltip="bottom"
                  title="<%= t('topic_subscribe_tooltip', 'You are unsubscribed and will not be notified of new comments') %>"
                  role="button"
                  aria-label="<%= t('You are unsubscribed and will not be notified of new comments. Click to subscribe') %> ">
                  <i class='icon-discussion-check' aria-hidden="true"></i>
                  <%= t(:topic_subscribe, 'Subscribe') %>
                </a>
                <a href='#' class='btn topic-unsubscribe-button btn-success' data-tooltip="bottom"
                  title="<%= t('topic_subscribed_tooltip', 'You are subscribed and will be notified of new comments') %>"
                  role="button"
                  aria-label="<%= t('You are subscribed and will be notified of new comments. Click to unsubscribe') %> ">
                  <i class='icon-discussion-check' aria-hidden="true"></i>
                  <%= t(:topic_unsubscribe, 'Subscribed') %>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </article>

    <% unless @no_reply %>
    <div id="discussion_subentries" class="discussion_subentries">
      <% if @initial_post_required %>
        <span><%= t :initial_post_required, "Replies are only visible to those who have posted at least one reply." %></span>
      <% else %>
        <span><%= t :loading_replies, "Loading replies..." %></span>
      <% end %>
    </div>
    <% end %>

    <div id="filterResults" class="discussion_subentries hidden"></div>

  </div>

  <% unless @topic.is_announcement && Account.site_admin.feature_enabled?(:assignment_edit_placement_not_on_announcements) %>
    <%= prefetch_assignment_external_tools %>
  <% end %>

  <div id="direct-share-mount-point"></div>

  <% if @headers != false %>
    <div id="module_sequence_footer"></div>
  <% else %>
    <%=
      render :partial => "shared/sequence_footer", :locals => {:asset => @sequence_asset, :context => @sequence_asset.context} if @sequence_asset
    %>
  <% end %>

  <% if !@headers %>
    </div>
  <% end %>

  <div id="keyboard-shortcut-modal"></div>
<% end %>
