<% content_for :page_title do %><%= join_title t(:topic, "Topic"), @topic.title %><% end %>

<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :atom), {:title => t(:discussion_atom_feed_title, "Discussion Atom Feed")}) %>
    <% if @topic.podcast_enabled %>
      <%= auto_discovery_link_tag(:rss, feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss), {:title => t(:discussion_podcast_feed_title, "Discussion Podcast Feed")}) %>
    <% end %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_topic_format_path(@topic.id, @context.feed_code, :atom), {:title => t(:discussion_atom_feed_title, "Discussion Atom Feed")}) %>
    <% if @topic.podcast_enabled %>
      <%= auto_discovery_link_tag(:rss, feeds_topic_format_path(@topic.id, @context.feed_code, :rss), {:title => t(:discussion_podcast_feed_title, "Discussion Podcast Feed")}) %>
    <% end %>
  <% end %>
<% end %>

<% if @headers != false && !@locked %>
  <% content_for :right_side do %>
    <% if @topic_uneditable %>
      <div class="rs-margin-lr">
        <%= t :separated_conversation_notice, "The conversation for this topic has been separated into separate groups.  Below are the list of group topics you have access to." %>
        <ul class="unstyled_list" style="line-height: 1.8em; margin: 5px 20px 10px;">
        <% @groups.select{|g| can_do(g, @current_user, :read) }.each do |group| %>
          <li class="unstyled_list">
            <% cnt = (@topics || []).find{|t| t.context == group}.discussion_entries.count rescue 0 %>
            <b><a href="<%= context_url(group, :context_discussion_topics_url, :root_discussion_topic_id => @topic.id) %>"><%= group.name %></a></b> - <%= t :post_count, "Post", :count => cnt %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="rs-margin-lr">
        <% if can_do(@context, @current_user, :manage_grades) %>
          <a href="<%= context_url(@context, :context_discussion_topic_url, @topic, :combined => 1) %>" class="button"><%= image_tag "forward.png" %> <%= t :show_all_posts, "Show Posts from all Topics" %></a>
        <% end %>
      </div>
    <% else %>
      <div class="rs-margin-all">
        <div id="sidebar_content">
          <p>
            <b><%= t :message_count, { :one => "*1* **post**", :other => "*%{count}* **posts**" }, :count => @entries.length, :wrapper => { '*' => '<span class="message_count">\1</span>', '**' => '<span class="message_count_text">\1</span>' } %></b>
            <% if @entries.length > 0 && !@topic_agglomerated %>
              <span style="font-size: 0.8em; padding-left: 10px;">( <%= t :total_message_count, "*%{count}* including subtopics", :wrapper => '<span class="total_message_count">\1</span>', :count => @topic.discussion_entries.active.length %> )</span>
            <% end %>
          </p>
          <% if @topic_agglomerated %>
            <p>
              <%= t :topic_agglomerated_notice, "This view shows all the messages from all this topic's group topics.  If you want to comment or edit posts, you'll have to visit each topic individually." %>
              <ul class="unstyled_list" style="line-height: 1.8em; margin: 5px 20px 10px;">
                <% @groups.select{|g| can_do(g, @current_user, :read) }.each do |group| %>
                  <li class="unstyled_list">
                    <% cnt = (@topics || []).find{|t| t.context == group}.discussion_entries.count rescue 0 %>
                    <b><a href="<%= context_url(group, :context_discussion_topics_url, :root_discussion_topic_id => @topic.id) %>"><%= group.name %></a></b> - <%= t :post_count, "Post", :count => cnt %>
                  </li>
                <% end %>
              </ul>
            </p>
          <% end %>
          <% if @topic.locked? %>
            <p>
              <%= image_tag 'lock.png' %><%= t :topic_locked_notice, "This topic is closed for comments." %>
            </p>
          <% end %>
          <div>
            <% if can_do(@topic, @current_user, :update) %>
              <a href="#" class="edit_topic_link button button-sidebar-wide"><%= image_tag "edit.png", :alt => "" %> <%= t :edit_topic, "Edit Topic" %></a>
            <% end %>
            <% if can_do(@topic, @current_user, :reply) && !params[:combined] %>
              <a href="#" class="add_entry_link button button-sidebar-wide"><%= image_tag "add.png", :alt => "" %> <%= t :add_new_topic, "Add New Entry" %></a>
            <% end %>
            <% if can_do(@topic, @current_user, :delete) && !params[:combined] %>
              <%= link_to image_tag('delete.png') + " " + t(:delete_topic, "Delete Topic"), context_url(@context, :context_discussion_topic_url, @topic), :method => :delete, :confirm => t(:delete_confirm, "Are you sure you want to delete this topic?"), :class => "button button-sidebar-wide" %>
            <% end %>
            <% if can_do(@context, @current_user, :moderate_forum) %>
              <% if !@topic.locked? && (!@topic.assignment.try(:due_at) || @topic.assignment.due_at <= Time.now) %>
                <% form_for @topic, :url => context_url(@context, :context_discussion_topic_url, @topic.id), :html => {:method => :put} do |f| %>
                  <input type="hidden" name="discussion_topic[event]" value="lock"/>
                  <button type="submit" class="button button-sidebar-wide"><%= image_tag('lock.png') %> <%= t(:lock_topic, %{Close for Comments}) %></button>
                <% end %>
              <% elsif @topic.locked? %>
                <% form_for @topic, :url => context_url(@context, :context_discussion_topic_url, @topic.id), :html => {:method => :put} do |f| %>
                  <input type="hidden" name="discussion_topic[event]" value="unlock"/>
                  <button type="submit" class="button button-sidebar-wide"><%= image_tag('unlock.png') %><%= t(:unlock_topic, %{Re-Open for Comments}) %></button>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div id="podcast_link_holder" style="<%= hidden unless @topic.podcast_enabled %>">
            <% if @context_enrollment %>
              <p>
                <a class="feed" href="<%= feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss) %>"><%= t :topic_podcast_feed_link, "Topic Podcast Feed" %></a>
              </p>
            <% elsif @context.available? %>
              <p>
                <a class="feed" href="<%= feeds_topic_format_path(@topic.id, @context.feed_code, :rss) %>"><%= t :topic_podcast_feed_link, "Topic Podcast Feed" %></a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <%= render :partial => "shared/wiki_sidebar" %>
    <% end %>
    <% if @topic.for_assignment? %>
      <div class="rs-margin-lr">
        <%= mt :topic_for_assignment, "This topic is for the assignment  \n**%{title}**", :title => @topic.assignment.title %>
        <div style="font-size: 0.8em; margin-bottom: 10px;">
          <% if @topic.assignment.points_possible %>
            <% if @topic.assignment.due_at %>
              <%= t :points_possible_and_due, {:one => "1 pt, due %{date}", :other => "%{count} pts, due %{date}"}, :count => @topic.assignment.points_possible, :date => datetime_string(@topic.assignment.due_at) %>
            <% else %>
              <%= t :points_possible, {:one => "1 pt", :other => "%{count} pts"}, :count => @topic.assignment.points_possible %>
            <% end %>
          <% else %>
            <% if @topic.assignment.due_at %>
              <%= t :just_due, "due %{date}", :date => datetime_string(@topic.assignment.due_at) %>
            <% end %>
          <% end %>
        </div>
        <%= render :partial => 'assignments/external_grader_sidebar', :locals => { :assignment => @topic.assignment } %>
        <% if can_do(@topic.assignment, @current_user, :update) || @assignment.try(:rubric_association).try(:rubric) %>
          <a href="#" rel="<%= context_url(@assignment.context, :context_assignment_rubric_url, @assignment.id) %>" class="show_rubric_link button button-sidebar-wide"><%= image_tag "rubric.png" %> <%= t :show_assignment_rubric, "Show Assignment Rubric" %></a>
        <% end %>
        <% if can_do(@assignment, @current_user, :grade) %>
          <a style="<%= hidden unless @assignment.has_peer_reviews? %>" class="assignment_peer_reviews_link button button-sidebar-wide" href="<%= context_url(@assignment.context, :context_assignment_peer_reviews_url, @assignment.id) %>"><%= image_tag "word_bubble.png", :alt => "" %> <%= t 'links.peer_reviews', "Peer Reviews" %></a>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% js_bundle :topic %>
<% js_block do %>
  <script>
    var messageCount = <%= @entries.length %>, totalMessageCount = <%= @topic.discussion_entries.active.length %>;
    </script>
<% end %>
<a href="<%= context_url(@context, :context_discussion_topic_permissions_url, @topic.id) %>" class="discussion_entry_permissions_url" style="display: none;">&nbsp;</a>
<% if @headers == false || @locked %>
  <div style="width: 600px; margin: 10px auto;">
<% end %>
<% if @assignment %>
  <% if can_do(@assignment, @current_user, :update) %>
    <a href="<%= context_url(@assignment.context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;">&nbsp;</a>
  <% end %>
<% end %>
<% if (@topic && @topic.context_module_tag && @topic.context_module_tag.context_module) || (@topic.for_assignment? && @topic.assignment.context_module_tag && @topic.assignment.context_module_tag.context_module) %>
  <%= render :partial => "shared/context_module_legend", :object => (@topic && @topic.context_module_tag && @topic.context_module_tag.context_module) || (@topic.assignment && @topic.assignment.context_module_tag && @topic.assignment.context_module_tag.context_module) %>
<% end %>
<% if @headers == false || @locked %>
  <h2><%= @topic.title %></h2>
<% end %>
<% if @locked %>
  <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'topic', @context) : t(:locked_topic, "This topic is currently locked.") %>
<% else %>
  <%
    js_bundle :wiki, :topics
    jammit_css :tinymce
  %>
  <% js_block do %><script>var CURRENT_USER_NAME_FOR_TOPICS=<%= context_user_name(@context, @current_user).to_json.html_safe %>;</script><% end %>
  <div style="display: none;" id="topic_urls">
    <a href="<%= context_url(@context, {:controller => :discussion_entries, :action => :create}) %>" class="add_entry_url">&nbsp;</a>
  </div>
  <% cache(['topic_entries_render', @topic.cache_key, @topic_agglomerated, can_do(@topic, @current_user, :edit), Time.zone.utc_offset, @initial_post_required].join('/')) do %>
    <%= render :partial => "shared/topics", :object => [@topic], :locals => { 
      :topic_type => "discussion_topic", :single_topic => true } %>
    <div id="entry_list" class="entry_list <%= 'agglomerated' if @topic_agglomerated %>">
      <% if @initial_post_required %>
        <h3 id="initial_post_required" style="margin: 20px 0;"><%= t :initial_post_required, "Replies are only visible to those who have posted at least one reply." %></h3>
      <% else %>
          <%= render :partial => "entry", :collection => @entries, :locals => {:topic => @topic} %>
      <% end %>
    </div>
  <% end %>
  <% if !@topic_uneditable && can_do(@topic, @current_user, :reply) && !params[:combined]%>
    <div style="text-align: center; margin: 10px;">
      <a href="#" id="add_entry_bottom" class="add_entry_link add button big-button"> <%= image_tag "add.png" %> <%= t :add_new_entry, "Add New Entry" %></a><br/>
    </div>
  <% elsif @topic.locked? %>
    <div style="text-align: center; margin: 10px;">
      <%= image_tag 'lock.png' %><%= t :topic_locked, "This topic is closed for comments" %>
    </div>
  <% end %>
  <%= render :partial => "entry", :object => nil, :locals => {:topic => @topic} %>
  <% form_for((@topic.discussion_entries.new), :url => context_url(@context, {:controller => 'discussion_entries', :action => 'create'}), :html => {:id => 'add_entry_form', :style => 'display: none; padding: 5px;'}) do |f| %>
    <%= f.hidden_field :discussion_topic_id %>
    <%= f.hidden_field :parent_id %>
    <div class="details_box" style="margin-bottom: 0px;">
      <div style="float: right;"><a href="#" class="switch_entry_views_link" style="font-size: 0.8em;"><%= t :switch_views, "Switch Views" %></a></div>
      <div class="clear"></div>
    </div>
    <div class="content_box" style="margin-bottom: 5px;">
      <%= f.text_area :message, :class => 'entry_content', :style => 'width: 100%; height: 200px;' %>
    </div>
    <% if can_do(@topic.discussion_entries.new, @current_user, :attach) %>
    <div>
      <div class="no_attachment" style="float: right;">
        <a href="#" class="add_attachment_link add"> <%= t :attach_file, "Attach File" %></a>
      </div>
      <div class="current_attachment" style="display: none; text-align: left;">
        <div>
          <input type="hidden" name="discussion_entry[remove_attachment]" value="0" class="entry_remove_attachment"/>          
          <span style="font-size: 0.8em;"><%= before_label :file_attached, "File Attached" %> </span>
          <span class="attachment_name" style="font-weight: bold;">&nbsp;</span>
          <a href="#" class="delete_attachment_link no-hover"><%= image_tag "delete_circle.png" %></a>
        </div>
        <a href="#" class="replace_attachment_link" style="font-size: 0.8em; padding-left: 20px;"><%= t :replace_file, "Replace File" %></a>
      </div>
      <div style="display: none;" class="upload_attachment">
        <% before_label :file, "File" %> <input type="file" name="attachment[uploaded_data]" class="attachment_uploaded_data"/>
        <a href="#" class="cancel_attachment_link no-hover" style="padding-left: 10px;"><%= image_tag "delete_circle.png" %></a>
      </div>
    </div>
    <% end %>
    <div class="button_box button-container" style="float: left;">
      <button type="submit" class="button"><%= t :post_entry, "Post Entry" %></button>
      <button type="button" class="cancel_button button-secondary"><%= t "#buttons.cancel", "Cancel" %></button>
    </div>
    <div class="clear"></div>
  <% end %>
  <% 
    sequence_asset = @topic
    sequence_asset = @topic.root_topic if @topic.root_topic && !@topic.context_module_tag && @topic.root_topic.context_module_tag
    sequence_asset = @topic.assignment if @topic.assignment && !@topic.context_module_tag && @topic.assignment.context_module_tag
  %>
  <%= render :partial => "shared/sequence_footer", :locals => {:asset => sequence_asset, :context => sequence_asset.context} if sequence_asset.context_module_tag %>
  <div style="display: none;">
    <a href="<%= context_url(@context, {:controller => :discussion_entries, :action => :create}) %>" class="add_entry_url">&nbsp;</a>
  </div>
<% end %>
<% if @headers == false || @locked %>
  </div>
<% end %>

<% content_for :keyboard_navigation do %>
  <ul class="navigation_list" tabindex="-1">
    <li>
      <span class="keycode">j</span>
      <span class="colon">:</span>
      <span class="description"><%= t :next_message, "Next Message" %></span>
    </li>
    <li>
      <span class="keycode">k</span>
      <span class="colon">:</span>
      <span class="description"><%= t :previous_message, "Previous Message" %></span>
    </li>
    <li>
      <span class="keycode">e</span>
      <span class="colon">:</span>
      <span class="description"><%= t :edit_current_message, "Edit Current Message" %></span>
    </li>
    <li>
      <span class="keycode">d</span>
      <span class="colon">:</span>
      <span class="description"><%= t :delete_current_message, "Delete Current Message" %></span>
    </li>
    <li>
      <span class="keycode">r</span>
      <span class="colon">:</span>
      <span class="description"><%= t :reply_to_message, "Reply to Current Message" %></span>
    </li>
    <li>
      <span class="keycode">n</span>
      <span class="colon">:</span>
      <span class="description"><%= t :reply_to_topic, "Reply to Topic" %></span>
    </li>
  </ul>
<% end %>
