<%
  content_for :page_title, join_title( t(:topic, "Topic"), @topic.title)
  @presenter = DiscussionTopicPresenter.new(@topic, @current_user)
%>

<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :atom), {:title => t(:discussion_atom_feed_title, "Discussion Atom Feed")}) %>
    <% if @topic.podcast_enabled %>
      <%= auto_discovery_link_tag(:rss, feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss), {:title => t(:discussion_podcast_feed_title, "Discussion Podcast Feed")}) %>
    <% end %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_topic_format_path(@topic.id, @context.feed_code, :atom), {:title => t(:discussion_atom_feed_title, "Discussion Atom Feed")}) %>
    <% if @topic.podcast_enabled %>
      <%= auto_discovery_link_tag(:rss, feeds_topic_format_path(@topic.id, @context.feed_code, :rss), {:title => t(:discussion_podcast_feed_title, "Discussion Podcast Feed")}) %>
    <% end %>
  <% end %>
<% end %>

<% if @headers || !@locked %>
  <% content_for :right_side do %>
    <div id="sidebar_content" class="rs-margin-all">
    </div>
    <%= render :partial => "shared/wiki_sidebar" %>
  <% end %>
<% end %>
<% if !@headers %>
  <div style="width: 600px; margin: 10px auto;">
  <h2><%= @topic.title %></h2>
<% end %>
<%
  js_bundle :discussion
  jammit_css :tinymce, :discussions, :learning_outcomes
%>

<% if @unlock_at && @unlock_at > Time.now && !can_do(@context, @current_user, :moderate_forum) %>
  <div id="discussion-managebar" class="toolbarView">
    <div class="headerBar">
      <div class="topic">
        <div class="entry-content">
         <h1 class="discussion-title"><%= @topic.title %></h1>
         <div class="discussion-fyi">
           <% if @topic.is_a?(Announcement) %>
             <%= t(:announcement_locked_until, "This announcement is locked until %{time}", time: datetime_string(@unlock_at)) %>
           <% else %>
             <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'topic', @context) : t(:topic_time_locked, "This topic is locked until %{time}", time: datetime_string(@unlock_at)) %>
           <% end %>
         </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div id="discussion-managebar" class="toolbarView">
    <div class="headerBar">
      <div class="row-fluid form-inline" style="overflow: visible;">
        <div class="pull-right">
          <% if !@topic.is_announcement && can_do(@context, @current_user, :moderate_forum) %>
            <button
              id="topic_publish_button"
              data-id='<%= @topic.id %>'
              class='btn <%= "published" if @topic.published? %> <%= "disabled" if @topic.published? && !@topic.can_unpublish? %>'>
            </button>
          <% end %>

          <% if @topic.grants_right?(@current_user, :update) %>
            <a href="<%= context_url(@topic.context,
                                     :edit_context_discussion_topic_url,
                                     @topic) %>"
               class="btn edit-btn" role="button">
                 <i class="icon-edit" aria-hidden="true"></i>
                 <%= t(:edit, 'Edit') %>
            </a>
          <% end %>

          <% if @current_user.present? %>
            <div class="admin-links">
              <a class="al-trigger btn announcement_cog" href="#" role="button">
                <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
                <span class="screenreader-only">
                   <% if @topic.is_a?(Announcement) %>
                    <%= t :manage_announcement, 'Manage Announcement' %>
                   <% else %>
                    <%= t :manage_discussion, 'Manage Discussion' %>
                   <% end %>
                  </span>
              </a>
              <ul class="al-options">
                <li><a href="#" class="mark_all_as_read"><i class="icon-mark-as-read" aria-hidden="hidden"></i> <%= t :mark_all_as_read, 'Mark All as Read' %></a></li>
                <% if false # keep this command out of the interface for now %>
                  <li><a href="#" class="mark_all_as_unread"><%#= <i class="icon-mark-as-unread" aria-hidden="hidden"></i> %> <%= t :mark_all_as_unread, 'Mark All as Unread' %></a></li>
                <% end %>

                <% if can_do(@topic, @current_user, :delete) %>
                  <li><a href="<%= context_url(@context, :context_discussion_topic_url, @topic.id) %>" class="delete_discussion" data-method="delete" rel="nofollow" data-confirm="<%= t :confirm_delete_discussion, 'Are you sure you want to delete this discussion?' %>"><i class="icon-trash"></i> <%= t :delete, 'Delete' %></a></li>
                <% end %>

                <% if @presenter.can_grade?(@current_user) && @presenter.allows_speed_grader? %>
                  <li><a href="<%= context_url(@topic.assignment.context,
                                               :speed_grader_context_gradebook_url,
                                               :assignment_id => @topic.assignment.id) %>"
                         target="_blank">
                    <i class="icon-speed-grader" aria-hidden="hidden"></i>
                    <%= t :speed_grader, "SpeedGrader™" %>
                  </a></li>
                <% end %>

                <% if @presenter.show_peer_reviews?(@current_user) %>
                  <li><a class="assignment_peer_reviews_link"
                     href="<%= context_url(@topic.assignment.context,
                                           :context_assignment_peer_reviews_url,
                                           @topic.assignment.id) %>">
                    <i class="icon-peer-review" aria-hidden="hidden"></i>
                    <%= t 'links.peer_reviews', "Peer Reviews" %>
                  </a></li>
                <% end %>

                <% if @presenter.should_show_rubric?(@current_user) %>
                  <li>
                    <a
                      class="rubric_dialog_trigger"
                      href="#"
                      data-no-rubric-exists="<%= !@presenter.has_attached_rubric? %>"
                      data-url="<%= context_url(@topic.assignment.context, :context_assignment_rubric_url, @topic.assignment.id) %>"
                      data-focus-returns-to=".announcement_cog"
                    >
                      <i class="icon-rubric" aria-hidden="hidden"></i>
                      <%= @presenter.has_attached_rubric? ? t(:show_rubric, "Show Rubric") : t(:add_rubric, "Add Rubric") %>
                    </a>
                  </li>
                <% end %>

                <% unless @presenter.comments_disabled? %>
                  <% if @locked %>
                    <% if can_do(@context, @current_user, :moderate_forum) %>
                      <li><a href="#" data-mark-locked="false" class="discussion_locked_toggler"><i class="icon-unlock"></i> <%= t(:unlock_topic, %{Open for Comments}) %></a></li>
                    <% end %>
                  <% elsif can_do(@context, @current_user, :moderate_forum) && @topic.can_lock? %>
                    <li><a href="#" data-mark-locked="true" class="discussion_locked_toggler"><i class="icon-lock"></i> <%= t(:lock_topic, %{Close for Comments}) %></a></li>
                  <% end %>
                <% end %>

                <% if can_do(@context, @current_user, :manage_content) %>
                  <% (@discussion_topic_menu_tools || []).each do |tool_hash| %>
                    <li>
                      <a class="menu_tool_link" href="<%= tool_hash[:base_url] %>&discussion_topics[]=<%= @topic.id %>" tabindex="-1" role="menuitem">
                        <% if tool_hash[:icon_url] %><img class="icon" src="<%= tool_hash[:icon_url] %>" /><% end %>
                        <%= tool_hash[:title] %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <% if @presenter.should_show_rubric?(@current_user) %>
              <%# HACK! this is here because edit_rubric.js expects there to be a #add_rubric_url on the page and sets it's <form action="..."> to it %>
              <% if can_do(@topic.assignment, @current_user, :update) %>
                <a href="<%= context_url(@topic.assignment.context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;"></a>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="discussion_container">
    <article id="discussion_topic" class="admin-link-hover-area topic discussion_entry <%= @topic.class.to_s.underscore %> <%= 'has_podcast' if @topic.podcast_enabled %> <%= 'has_unread_entries' if @topic.unread_count(@current_user) > 0 %> can_be_marked_as_read <%= @topic.read_state(@current_user) %>" data-mark-read-url="<%= context_url(@topic.context, :api_v1_context_discussion_topic_mark_read_url, @topic) %>">
      <div class="entry-content">
        <% if @topic.for_assignment? %>
          <%= render :partial => 'assignment_details' %>
          <% if @presenter.has_peer_reviews?(@current_user) %>
            <%= render :partial => 'peer_reviews' %>
          <% end %>
        <% end %>
        <% if @topic.for_group_discussion? %>
          <%= render :partial => 'group_discussion' %>
        <% end %>
        <header class="discussion-section clearfix">
          <%= avatar((@topic.user), context_code: @context.asset_string) if @topic.user %>
          <div class="discussion-header-content right-of-avatar">
            <div class="pull-left">
              <h1 class="discussion-title"><%= @topic.title %></h1>
              <div class="discussion-subtitle">
                <% if @topic.user %>
                  <a class="author" href="<%= context_url(@topic.context, :context_user_url, @topic.user_id) %>" title="<%= t :authors_name, "Author's name" %>"><%= context_user_name(@topic.context, @topic.user) %></a>
                <% end %>
              </div>
              <% if @topic.root_topic.try(:context) && @topic.root_topic.try(:context) != @context %>
                <span class="discussion-subtitle">
                  <%= t(:from_context, "From *%{context_name}*", {
                          :context_name => @topic.root_topic.context.short_name,
                          :wrapper => "<a href='#{context_url(@topic.root_topic.context, :context_url)}'>\1</a>" }) %>
                </span>
              <% end %>
            </div>

            <div class="discussion-header-right pull-right">
              <% if can_do(@context, @current_user, :moderate_forum) %>
                <div class="discussion-pubdate"><%= friendly_datetime @topic.posted_at, context: @topic.context %></div>
              <% end %>
              <%= render :partial => 'new_and_total_badge', :locals => { :unread_count => @topic.unread_count(@current_user), :reply_count => @topic.discussion_subentry_count } %>
            </div>
          </div>
        </header>

        <div class="discussion-section message_wrapper">
          <div data-bind="message" class="message user_content"><%= user_content(@topic.message) %></div>
          <% if @unlock_at && @unlock_at > Time.now && @topic.is_a?(Announcement) %>
            <div class="discussion-fyi">
              <%= t 'announcement_locked', 'The content of this announcement will not be visible to users until %{date}', :date => datetime_string(@unlock_at) %>
            </div>
          <% end %>
          <% if @locked %>
            <div class="discussion-fyi">
              <% if @topic.is_a? Announcement %>
                <%= t 'announcement_closed', 'This announcement is closed for comments' %>
              <% else %>
                <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'topic', @context) : t(:locked, "This topic is closed for comments") %>
              <% end %>
            </div>
          <% end %>

          <% if @topic.editor_id && @topic.user_id && @topic.editor_id != @topic.user_id %>
            <div class="discussion-fyi">
              <%= t 'edited_by', 'This topic was edited by %{user}', :user => link_to(context_user_name(@topic.context, @topic.editor_id), context_url(@topic.context, :context_user_url, @topic.editor_id)) %>
            </div>
          <% end %>

          <% if @topic.podcast_enabled %>
            <% if @context_enrollment %>
              <div class="discussion-fyi">
                <a class="icon-rss" href="<%= feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss) %>"><%= t :topic_podcast_feed_link, "Topic Podcast Feed" %></a>
              </div>
            <% elsif @context.available? %>
              <div class="discussion-fyi">
                <a class="icon-rss" href="<%= feeds_topic_format_path(@topic.id, @context.feed_code, :rss) %>"><%= t :topic_podcast_feed_link, "Topic Podcast Feed" %></a>
              </div>
            <% end %>
          <% end %>

          <% if @topic.external_feed %>
            <div class="discussion-fyi">
              <%= t 'retrieved_from_feed', 'Retrieved from %{feed}', :feed => link_to(@topic.external_feed.display_name, @topic.external_feed.url) %>
            </div>
          <% end %>

          <% if @topic.attachment %>
            <div>
              <a href="<%= context_url(@topic.attachment.context, :context_file_download_url, @topic.attachment_id) %>" class="<%= @topic.attachment.mime_class %>"><%= @topic.attachment.display_name %></a>
            </div>
          <% end %>
        </div>
      </div>

      <div id="discussion-toolbar" class="toolbarView">
        <div class="headerBar" data-sticky>
          <div class="row-fluid form-inline" style="overflow: visible;">
            <div class="span9">
              <input
                id               = "discussion-search"
                type             = "text"
                aria-label       = "<%= t("Search entries or author") %>"
                placeholder      = "<%= t("Search entries or author") %>"
                size             = 50
              >

              <input
                type    = "checkbox"
                id      = "onlyUnread"
                aria-label = "<%= t("filter replies by unread") %>"
              ><label aria-hidden="true" for="onlyUnread"><%= t('unread', 'Unread') %></label>

              &nbsp; &nbsp;
              <button id="collapseAll" class="btn disableWhileFiltering" title="<%= t('collapse_replies', 'Collapse replies') %>" aria-label="<%= t('collapse_replies', 'Collapse replies') %>">
                <%= image_tag 'discussions/collapse_icon.png', :alt => t('collapse_replies', 'Collapse replies') %>
              </button>
              <button id="expandAll" class="btn disableWhileFiltering" title="<%= t('expand_replies', 'Expand replies') %>" aria-label="<%= t('expand_replies', 'Expand replies') %>">
                <%= image_tag 'discussions/expand_icon.png', :alt => t('expand_replies', 'Expand replies') %>
              </button>

            </div>

            <div class="span3 right-align">
              <a href='#' class='btn topic-subscribe-button' data-tooltip="bottom"
                 title="<%= t('topic_subscribe_tooltip', 'You are unsubscribed and will not be notified of new comments') %>"
                 aria-label="<%= t('topic_subscribe_tooltip', 'You are unsubscribed and will not be notified of new comments') %>">
                <i class='icon-discussion-check' aria-hidden="hidden"></i>
                <%= t(:topic_subscribe, 'Subscribe') %>
              </a>
              <a href='#' class='btn topic-unsubscribe-button btn-success' data-tooltip="bottom"
                 title="<%= t('topic_subscribed_tooltip', 'You are subscribed and will be notified of new comments') %>"
                 aria-label="<%= t('topic_subscribed_tooltip', 'You are subscribed and will be notified of new comments') %>">
                <i class='icon-discussion-check' aria-hidden="hidden"></i>
                <%= t(:topic_unsubscribe, 'Subscribed') %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div id="discussion_subentries" class="discussion_subentries">
      <% if @initial_post_required %>
        <span><%= t :initial_post_required, "Replies are only visible to those who have posted at least one reply." %></span>
      <% else %>
        <span><%= t :loading_replies, "Loading replies..." %></span>
      <% end %>
    </div>

    <div id="filterResults" class="discussion_subentries hidden"></div>

  </div>

  <% if @headers != false %>
    <div id="module_sequence_footer"></div>
  <% else %>
    <%=
      render :partial => "shared/sequence_footer", :locals => {:asset => @sequence_asset, :context => @sequence_asset.context} if @sequence_asset
    %>
  <% end %>

  <% if !@headers %>
    </div>
  <% end %>

  <% content_for :keyboard_navigation do %>
    <ul class="navigation_list" tabindex="-1">
      <li>
        <span class="keycode">j</span>
        <span class="colon">:</span>
        <span class="description"><%= t :next_message, "Next Message" %></span>
      </li>
      <li>
        <span class="keycode">k</span>
        <span class="colon">:</span>
        <span class="description"><%= t :previous_message, "Previous Message" %></span>
      </li>
      <li>
        <span class="keycode">e</span>
        <span class="colon">:</span>
        <span class="description"><%= t :edit_current_message, "Edit Current Message" %></span>
      </li>
      <li>
        <span class="keycode">d</span>
        <span class="colon">:</span>
        <span class="description"><%= t :delete_current_message, "Delete Current Message" %></span>
      </li>
      <li>
        <span class="keycode">r</span>
        <span class="colon">:</span>
        <span class="description"><%= t :reply_to_message, "Reply to Current Message" %></span>
      </li>
      <li>
        <span class="keycode">n</span>
        <span class="colon">:</span>
        <span class="description"><%= t :reply_to_topic, "Reply to Topic" %></span>
      </li>
    </ul>
  <% end %>
<% end %>
