<% content_for :page_title do %>Topic: <%= @topic.title %><% end %>

<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :atom), {:title => "Discussion Atom Feed"}) %>
    <% if @topic.podcast_enabled %>
      <%= auto_discovery_link_tag(:rss, feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss), {:title => "Discussion Podcast Feed"}) %>
    <% end %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_topic_format_path(@topic.id, @context.feed_code, :atom), {:title => "Discussion Atom Feed"}) %>
    <% if @topic.podcast_enabled %>
      <%= auto_discovery_link_tag(:rss, feeds_topic_format_path(@topic.id, @context.feed_code, :rss), {:title => "Discussion Podcast Feed"}) %>
    <% end %>
  <% end %>
<% end %>

<% if @headers != false && !@locked %>
  <% content_for :right_side do %>
    <% if @topic_uneditable %>
      <div class="rs-margin-lr">
        The conversation for this topic has been separated into separate groups.  Below are the list of group topics you have access to.
        <ul class="unstyled_list" style="line-height: 1.8em; margin: 5px 20px 10px;">
        <% @groups.select{|g| can_do(g, @current_user, :read) }.each do |group| %>
          <li class="unstyled_list">
            <% cnt = (@topics || []).find{|t| t.context == group}.discussion_entries.count rescue 0 %>
            <b><a href="<%= context_url(group, :context_discussion_topics_url, :root_discussion_topic_id => @topic.id) %>"><%= group.name %></a></b> - <%= pluralize(cnt, 'Post') %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="rs-margin-lr">
        <% if can_do(@context, @current_user, :manage_grades) %>
          <a href="<%= context_url(@context, :context_discussion_topic_url, @topic, :combined => 1) %>" class="button"><%= image_tag "forward.png" %> Show Posts from all Topics</a>
        <% end %>
      </div>
    <% else %>
      <div class="rs-margin-all">
        <div id="sidebar_content">
          <p>
            <b><span class="message_count"><%= @entries.length %></span> <span class="message_count_text"><%= @entries.length == 1 ? 'post' : 'posts' %></span></b>
            <% if @entries.length > 0 && !@topic_agglomerated %>
              <span style="font-size: 0.8em; padding-left: 10px;">( <span class="total_message_count"><%= @topic.discussion_entries.active.length %></span> including subtopics )</span>
            <% end %>
          </p>
          <p>
            <% if @topic_agglomerated %>
              This view shows all the messages from all this topic's group topics.  If you want to 
              comment or edit posts, you'll have to visit each topic individually.
              <ul class="unstyled_list" style="line-height: 1.8em; margin: 5px 20px 10px;">
              <% @groups.select{|g| can_do(g, @current_user, :read) }.each do |group| %>
                <li class="unstyled_list">
                  <% cnt = (@topics || []).find{|t| t.context == group}.discussion_entries.count rescue 0 %>
                  <b><a href="<%= context_url(group, :context_discussion_topics_url, :root_discussion_topic_id => @topic.id) %>"><%= group.name %></a></b> - <%= pluralize(cnt, 'Post') %>
                </li>
              <% end %>
              </ul>
            <% else %>
            <% end %>
          </p>
          <p>
            <% if can_do(@topic, @current_user, :update) %>
              <a href="#" class="edit_topic_link button button-sidebar-wide"><%= image_tag "edit.png", :alt => "" %> Edit Topic</a>
            <% end %>
            <% if can_do(@topic, @current_user, :reply) && !params[:combined] %>
              <a href="#" class="add_entry_link button button-sidebar-wide"><%= image_tag "add.png", :alt => "" %> Add New Entry</a>
            <% end %>
            <% if can_do(@topic, @current_user, :delete) && !params[:combined] %>
              <a href="#" class="delete_topic_link button button-sidebar-wide"><%= image_tag "delete.png", :alt => "" %> Delete Topic</a>
            <% end %>
          </p>
          <div id="podcast_link_holder" style="<%= hidden unless @topic.podcast_enabled %>">
            <% if @context_enrollment %>
              <p>
                <a class="feed" href="<%= feeds_topic_format_path(@topic.id, @context_enrollment.feed_code, :rss) %>">Topic Podcast Feed</a>
              </p>
            <% elsif @context.available? %>
              <p>
                <a class="feed" href="<%= feeds_topic_format_path(@topic.id, @context.feed_code, :rss) %>">Topic Podcast Feed</a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <%= render :partial => "shared/wiki_sidebar" %>
    <% end %>
    <% if @topic.for_assignment? %>
      <div class="rs-margin-lr">
        This topic is for the assignment<br/><strong><%= @topic.assignment.title %></strong>
        <div style="font-size: 0.8em; margin-bottom: 10px;">
          <% if @topic.assignment.points_possible %>
            <%= pluralize(@topic.assignment.points_possible, "pt") %><%= ',' if @topic.assignment.due_at %>
          <% end %>
          <% if @topic.assignment.due_at %>
            due <%= datetime_string(@topic.assignment.due_at) %>
          <% end %>
        </div>
        <% if can_do(@topic.assignment, @current_user, :grade) || can_do(@topic.assignment.context, @current_user, :manage_assignments) %>
          <a href="<%= context_url(@topic.assignment.context, :edit_context_assignment_url, @topic.assignment_id, :return_to => request.url) %>" class="button button-sidebar button-sidebar-wide"><%= image_tag "edit.png" %> Edit Assignment Settings</a>
          <% if !@topic.assignment.submissions.having_submission.empty? %>
            <a target="_blank" class="button button-sidebar button-sidebar-wide" href="<%= context_url(@topic.assignment.context, :speed_grader_context_gradebook_url, :assignment_id => @topic.assignment_id) %>"><%= image_tag "grading_icon.png" %> Speed Grader</a>
          <% end %>
        <% end %>
        <% if can_do(@topic.assignment, @current_user, :update) || @assignment.try(:rubric_association).try(:rubric) %>
          <a href="#" rel="<%= context_url(@context, :context_assignment_rubric_url, @assignment.id) %>" class="show_rubric_link button button-sidebar-wide"><%= image_tag "rubric.png" %> Show Assignment Rubric</a>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% jammit_js :topic %>
<% js_block do %>
  <script>
    var messageCount = <%= @entries.length %>, totalMessageCount = <%= @topic.discussion_entries.active.length %>;
    </script>
<% end %>
<a href="<%= context_url(@context, :context_discussion_topic_permissions_url, @topic.id) %>" class="discussion_entry_permissions_url" style="display: none;">&nbsp;</a>
<% if @headers == false || @locked %>
  <div style="width: 600px; margin: 10px auto;">
<% end %>
<% if @assignment %>
  <% if can_do(@assignment, @current_user, :update) %>
    <a href="<%= context_url(@context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;">&nbsp;</a>
  <% end %>
<% end %>
<% if (@topic && @topic.context_module_tag && @topic.context_module_tag.context_module) || (@topic.for_assignment? && @topic.assignment.context_module_tag && @topic.assignment.context_module_tag.context_module) %>
  <%= render :partial => "shared/context_module_legend", :object => (@topic && @topic.context_module_tag && @topic.context_module_tag.context_module) || (@topic.assignment && @topic.assignment.context_module_tag && @topic.assignment.context_module_tag.context_module) %>
<% end %>
<% if @headers == false || @locked %>
  <h2><%= @topic.title %></h2>
<% end %>
<% if @locked %>
  <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'topic', @context) : "This topic is currently locked." %>
<% else %>
  <% jammit_js :wiki, :topics %>
  <% js_block do %><%= javascript_include_tag "tinymce/jscripts/tiny_mce/tiny_mce.js" %><% end %>
  <div style="display: none;" id="topic_urls">
    <a href="<%= context_url(@context, {:controller => :discussion_entries, :action => :create}) %>" class="add_entry_url">&nbsp;</a>
  </div>
  <% cache(['topic_entries_render', @topic.cache_key, @topic_agglomerated, can_do(@topic, @current_user, :edit), Time.zone.utc_offset, @initial_post_required].join('/')) do %>
    <%= render :partial => "shared/topics", :object => [@topic], :locals => { 
      :topic_type => "discussion_topic", :single_topic => true } %>
    <div style="display: none;" class="current_user_name"><%= h context_user_name(@context, @current_user) %></div>
    <div id="entry_list" class="entry_list <%= 'agglomerated' if @topic_agglomerated %>">
      <% if @initial_post_required %>
        <h3 id="initial_post_required" style="margin: 20px 0;">Replies are only visible to those who have posted at least one reply.</h3>
      <% else %>
          <%= render :partial => "entry", :collection => @entries, :locals => {:topic => @topic} %>
      <% end %>
    </div>
  <% end %>
  <% if !@topic_uneditable && can_do(@topic, @current_user, :reply) && !params[:combined]%>
    <div style="text-align: center; margin: 10px;">
      <a href="#" class="add_entry_link add button big-button"> <%= image_tag "add.png" %> Add New Entry</a><br/>
    </div>
  <% end %>
  <%= render :partial => "entry", :object => nil, :locals => {:topic => @topic} %>
  <% form_for((@topic.discussion_entries.new), :url => context_url(@context, {:controller => 'discussion_entries', :action => 'create'}), :html => {:id => 'add_entry_form', :style => 'display: none; padding: 5px;'}) do |f| %>
    <%= f.hidden_field :discussion_topic_id %>
    <%= f.hidden_field :parent_id %>
    <div class="details_box" style="margin-bottom: 0px;">
      <div style="float: right;"><a href="#" class="switch_entry_views_link" style="font-size: 0.8em;">Switch Views</a></div>
      <div class="clear"></div>
    </div>
    <div class="content_box" style="margin-bottom: 5px;">
      <%= f.text_area :message, :class => 'entry_content', :style => 'width: 100%; height: 200px;' %>
    </div>
    <% if can_do(@topic.discussion_entries.new, @current_user, :attach) %>
    <div>
      <div class="no_attachment" style="float: right;">
        <a href="#" class="add_attachment_link add"> Attach File</a>
      </div>
      <div class="current_attachment" style="display: none; text-align: left;">
        <div>
          <input type="hidden" name="discussion_entry[remove_attachment]" value="0" class="entry_remove_attachment"/>          
          <span style="font-size: 0.8em;">File Attached: </span>
          <span class="attachment_name" style="font-weight: bold;">&nbsp;</span>
          <a href="#" class="delete_attachment_link no-hover"><%= image_tag "delete_circle.png" %></a>
        </div>
        <a href="#" class="replace_attachment_link" style="font-size: 0.8em; padding-left: 20px;">Replace File</a>
      </div>
      <div style="display: none;" class="upload_attachment">
        File: <input type="file" name="attachment[uploaded_data]" class="attachment_uploaded_data"/>
        <a href="#" class="cancel_attachment_link no-hover" style="padding-left: 10px;"><%= image_tag "delete_circle.png" %></a>
      </div>
    </div>
    <% end %>
    <div class="button_box button-container" style="float: left;">
      <button type="submit" class="button">Post Entry</button>
      <button type="button" class="cancel_button button-secondary">Cancel</button>
    </div>
    <div class="clear"></div>
  <% end %>
  <% 
    sequence_asset = @topic
    sequence_asset = @topic.assignment if @topic.assignment && !@topic.context_module_tag && @topic.assignment.context_module_tag
  %>
  <%= render :partial => "shared/sequence_footer", :locals => {:asset => sequence_asset} if sequence_asset.context_module_tag %>
  <div style="display: none;">
    <a href="<%= context_url(@context, {:controller => :discussion_entries, :action => :create}) %>" class="add_entry_url">&nbsp;</a>
  </div>
<% end %>
<% if @headers == false || @locked %>
  </div>
<% end %>

<% content_for :keyboard_navigation do %>
  <ul class="navigation_list" tabindex="-1">
    <li>
      <span class="keycode">j</span>
      <span class="colon">:</span>
      <span class="description">Next Message</span>
    </li>
    <li>
      <span class="keycode">k</span>
      <span class="colon">:</span>
      <span class="description">Previous Message</span>
    </li>
    <li>
      <span class="keycode">e</span>
      <span class="colon">:</span>
      <span class="description">Edit Current Message</span>
    </li>
    <li>
      <span class="keycode">d</span>
      <span class="colon">:</span>
      <span class="description">Delete Current Message</span>
    </li>
    <li>
      <span class="keycode">r</span>
      <span class="colon">:</span>
      <span class="description">Reply to Current Message</span>
    </li>
    <li>
      <span class="keycode">n</span>
      <span class="colon">:</span>
      <span class="description">Reply to Topic</span>
    </li>
  </ul>
<% end %>
