<div class="outcome-cell-wrapper">
  {{#if description}}
    <span class="outcome-description">{{description}}</span>
  {{else}}
    <span class="outcome-score">{{nf score format="outcomeScore"}}</span> /{{nf masteryScore format="outcomeScore"}}
  {{/if}}
    <span class="outcome-result {{className}}" style="{{color}}"></span>
</div>
