<div id="assignment-details-dialog" title="{{#t "grading_statistics_for_assignment"}}Grade statistics for: {{assignment.name}}{{/t}}">
  {{#if showDistribution}}
    <div class="distribution" style="display: block; " aria-hidden="true">
      <div class="zero">0</div>
      <div class="zero-point">&nbsp;</div>
      <div class="min-point" style="left: {{lowLeft}}%;">&nbsp;</div>
      <div class="whisker" style="left: {{lowLeft}}%; width: {{lowLqWidth}}%;">&nbsp;</div>
      <div class="left-box" style="left: {{lqLeft}}%; width: {{medianLowWidth}}%;">&nbsp;</div>
      <div class="right-box" style="left: {{medianLeft}}%; width: {{medianHighWidth}}%;">&nbsp;</div>
      <div class="whisker" style="left: {{uqLeft}}%; width: {{highWidth}}%;">&nbsp;</div>
      <div class="max-point" style="left: {{highLeft}}%;">&nbsp;</div>
      <div class="total-point" style="left: {{maxLeft}}%;">&nbsp;</div>
      <div class="points-possible">{{assignment.points_possible}}</div>
    </div>
  {{/if}}
  <table id="assignment-details-dialog-stats-table">
    <tr>
      <th scope="row">{{#t "average_score"}}Average Score:{{/t}}</th>
      <td>{{average}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "high_score"}}High Score:{{/t}}</th>
      <td>{{max}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "upper_quartile"}}Upper Quartile:{{/t}}</th>
      <td>{{upperQuartile}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "median"}}Median Score:{{/t}}</th>
      <td>{{median}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "lower_quartile"}}Lower Quartile:{{/t}}</th>
      <td>{{lowerQuartile}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "low_score"}}Low Score:{{/t}}</th>
      <td>{{min}}</td>
    </tr>
    <tr>
      <th scope="row">{{#t "total_graded_submissions"}}Total Graded Submissions:{{/t}}</th>
      <td>{{#t "count_of_submissions"}}{{cnt}} submissions{{/t}}</td>
    </tr>
  </table>
</div>
