<% term ||= nil %>
<tr class="term" id="term_<%= term ? term.id : "blank" %>" style="<%= hidden unless term %>">
  <td class="header">
    <div class="show_term">
      <span class="name"><%= term.name rescue nbsp %></span>
    </div>
    <div class="show_term" style="font-size: 0.8em;">
      <% if term && (term.sis_source_id && can_do(term.root_account, @current_user, :read_sis) || can_do(term.root_account, @current_user, :manage_sis)) %>
        <div style="font-size: 0.8em;">
          <%= before_label :sis_id, "SIS ID" %> <span class="sis_source_id"><%= term.sis_source_id %></span>
        </div>
      <% end %>
      <%= term && t(:course_count, "Course", :count => term.courses.active.count) %><br/>
      <%= term && t(:user_count, "User", :count => term.users_count) %>
    </div>
    <%= form_for (term || EnrollmentTerm.new), :url => (term ? context_url(@context, :context_term_url, term.id) : context_url(@context, :context_terms_url)), :html => {:class => "enrollment_term_form", :method => (term ? :put : :post)} do |f| %>
        <div class="control-group edit_term">
          <label class="control-label" for="enrollment_term_name"><%= t :name, 'Term Name:' %></label>
          <div class="controls">
            <%= f.text_field :name, :class => "input-xlarge" %>
          </div>
        </div>
      <% if term && can_do(@root_account, @current_user, :manage_sis) %>
        <div class="control-group edit_term">
          <label class="control-label" for="enrollment_term_sis_source_id"><%= t :sis_source_id, 'SIS ID:' %></label>
          <div class="controls">
            <%= f.text_field :sis_source_id, :class => "input-xlarge" %>
          </div>
        </div>
      <% end %>
      <div class="edit_term edit_term_buttons">
        <button class="btn button-secondary cancel_button" type="button"><%= t '#buttons.cancel', "Cancel" %></button>
        <button class="btn btn-primary submit_button" type="submit"><%= term ? t('buttons.update', "Update Term") : t('buttons.add', "Add Term") %></button>
      </div>
    <% end %>
  </td>
  <% types = [StudentEnrollment, TeacherEnrollment, TaEnrollment, DesignerEnrollment] %>
  <td class="permissions">
    <table>
      <tr class="general_dates">
        <td>
          <%= mt :term_runs_from, "**Term Runs** from" %>&nbsp;
        </td>
        <%= render :partial => 'timespan', :locals => { :object => term, :key => '', :start_tooltip => t('titles.term_starts', "Term starts"),
                                                        :end_tooltip => t('titles.term_ends', "Term ends"), :whenever => [true, true] } %>
      </tr>
    <% types.each do |type| %>
      <% override = term.enrollment_dates_overrides.where(context_type: @context.class.to_s, context_id: @context, enrollment_type: type.to_s).first if term %>
      <% override ||= EnrollmentDatesOverride.new %>
      <% type_string = type.to_s.underscore %>
      <% start_whenever = true %>
      <tr class="<%= "#{type_string}_dates"%>">
        <td>
          <% case type_string
              when 'student_enrollment'
                start_tooltip = t 'tooltips.term_starts_students', "For students the term starts"
                end_tooltip = t 'tooltips.term_ends_students', "For students the term ends"
                access_label = mt 'labels.students_can_access_from', "**Students** can access from"
                start_whenever = false
              when 'teacher_enrollment'
                start_tooltip = t 'tooltips.term_starts_teachers', "For teachers the term starts"
                end_tooltip = t 'tooltips.term_ends_teachers', "For teachers the term ends"
                access_label = mt 'labels.teachers_can_access_from', "**Teachers** can access from"
              when 'ta_enrollment'
                start_tooltip = t 'tooltips.term_starts_tas', "For TAs the term starts"
                end_tooltip = t 'tooltips.term_ends_tas', "For TAs the term ends"
                access_label = mt 'labels.tas_can_access_from', "**TAs** can access from"
              when 'designer_enrollment'
                start_tooltip = t 'tooltips.term_starts_designers', "For designers the term starts"
                end_tooltip = t 'tooltips.term_ends_designers', "For designers the term ends"
                access_label = mt 'labels.designers_can_access_from', "**Designers** can access from"
              end
          %>
          <%= access_label %>
          &nbsp;
        </td>
        <%= render :partial => 'timespan', :locals => { :object => override, :key => "[overrides][#{type_string}]",
                                                        :start_tooltip => start_tooltip, :end_tooltip => end_tooltip,
                                                        :date_class_prefix => "#{type_string}_", :whenever => [start_whenever, false] } %>
      </tr>
    <% end %>
    </table>
  </td>
  <td class="links">
    <a href="#" class="edit_term_link no-hover"><i class="icon-edit standalone-icon"></i></a>
    <% if term && term.courses.active.exists? %>
      <a href="#" class="cant_delete_term_link no-hover"><i class="icon-end standalone-icon"></i></a>
    <% elsif term != @context.default_enrollment_term %>
      <a href="#" class="delete_term_link no-hover"><i class="icon-trash standalone-icon"></i></a>
    <% end %>
  </td>
</tr>
