<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% date_class_prefix ||= "" %>
<% ot(:timespan, "%{start_at} *to* %{end_at}", :start_at => capture { %>
    <td class="start_date">
      <div class="show_term">
        <span class="<%= date_class_prefix %>start_at"><%= datetime_string(object.try(:start_at), :full) || (whenever[0] ? t('date.unspecified', "whenever") : t('date.term_start', "term start")) %></span>
      </div>
      <div class="edit_term">
        <div class="date_field_container">
          <label class="screenreader-only" id="<%= key %>_start_at_label">
            <%= start_tooltip %> <%= datepicker_screenreader_prompt %>
          </label>
          <input type="text"
            name="enrollment_term<%= key %>[start_at]"
            value="<%= datetime_string(object.try(:start_at), :long) %>"
            title="<%= accessible_date_format %>"
            class="date_field"
            style="width: 120px;"
            aria-labelledby="<%= key %>_start_at_label"
            data-tooltip />
        </div>
      </div>
    </td>
  <% }, :wrapper => capture { %>
    <td>
      &nbsp;\1&nbsp;
    </td>
  <% }, :end_at => capture { %>
    <td class="end_date">
      <div class="show_term">
        <span class="<%= date_class_prefix %>end_at"><%= datetime_string(object.try(:end_at), :full) || (whenever[1] ? t('date.unspecified', "whenever") : t('date.term_end', "term end")) %></span>
      </div>
      <div class="edit_term">
        <div class="date_field_container">
          <label class="screenreader-only" id="<%= key %>_end_at_label">
            <%= end_tooltip %> <%= datepicker_screenreader_prompt %>
          </label>
          <input
            type="text"
            name="enrollment_term<%= key %>[end_at]"
            value="<%= datetime_string(object.try(:end_at), :long) %>"
            title="<%= accessible_date_format %>"
            class="date_field"
            style="width: 120px;"
            aria-labelledby="<%= key %>_end_at_label"
            data-tooltip />
        </div>
      </div>
    </td>
  <% }) %>
