<% @active_tab = "terms" %>
<% content_for :page_title do %><%= t :page_title, "%{account} Terms", :account => @context.name %><% end %>

<% js_bundle 'legacy/terms_index' %>
<% css_bundle :terms %>

<h1><%= t 'titles.term_details', "Term Details" %></h1>
<div class="terms-wrapper">
  <table id="terms">
    <% @terms.each do |term| %>
      <%= render :partial => "term", :object => term %>
    <% end %>
    <%= render :partial => "term", :object => nil %>
    <tr>
      <td colspan="3">
        <a href="#" class="icon-add add_term_link"><%= t "Add New Term" %></a>
      </td>
    </tr>
  </table>
</div>
<a href="<%= context_url(@context, :context_term_url, "{{ id }}") %>" class="term_url" style="display: none;">&nbsp;</a>
