<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% eportfolio ||= nil %>
<li id="portfolio_<%= eportfolio ? eportfolio.id : "blank" %>" style="<%= hidden unless eportfolio %> display: block; margin-bottom: 20px;">
  <a href="<%= eportfolio_path(eportfolio ? eportfolio.id : "{{ id }}") %>" class="icon-folder" style="font-size: 1.2em;"><span class="name"><%= eportfolio.name rescue nbsp %></span></a>
  <div style="padding-<%= direction('left') %>: 30px;">
    <%= t(:entry_count, { :one => "*1* page", :other => "*%{count}* pages" },
          :count => (eportfolio.eportfolio_entries.length rescue 0),
          :wrapper => '<span class="entry_count">\1</span>') %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= t(:updated_at, "last updated %{updated_at}", :updated_at => raw("<span class=\"updated_at\">#{datetime_string(eportfolio.updated_at) rescue nbsp}</span>")) %>
  </div>
</li>
