<li id="portfolio_<%= eportfolio ? eportfolio.id : "blank" %>" style="<%= hidden unless eportfolio %> display: block; margin-bottom: 20px;">
  <a href="<%= eportfolio_path(eportfolio ? eportfolio.id : "{{ id }}") %>" style="font-size: 1.2em;">
    <%= image_tag "folder_big.png" %>
    <span class="name"><%= eportfolio.name rescue nbsp %></span>
  </a>
  <div style="padding-left: 30px;">
    <span class="entry_count"><%= eportfolio.eportfolio_entries.length rescue 0 %></span> pages &nbsp;&nbsp;&nbsp;&nbsp;
    last updated <span class="updated_at"><%= datetime_string(eportfolio.updated_at) rescue nbsp %></span>
  </div>
</li>
