<div id="section_pages">
  <h2>
    <%= @category.name %>
    <% if can_do(@portfolio, @current_user, :manage) %>
    <div style="float: right; margin-right: 10px; font-size: 0.8em;">
      <a href="#" class="manage_pages_link" style="font-style: italic;" title="<%= t('titles.manage_pages', "Add, remove or rearrange pages for this section") %>"><%= manage_pages_link_text %></a>
    </div>
    <% end %>
  </h2>
  <div class="rs-margin-lr">
    <div class="editing_box" style="font-size: 0.8em;">
      <%= t(:edit_instructions, "Click any page name to rename it, or click and drag to reorder.") %>
    </div>
    <div class="displaying_box" style="font-size: 0.8em;">
      <%= t('headers.page_list', "Pages for this section") %>
    </div>
    <ul id="page_list">
      <% @category.eportfolio_entries.each do |e| %>
        <li id="page_<%= e.id %>" class="page <%= "current" if e == @page %>">
          <a href="#" class="edit_page_link" title="<%= t('titles.rename_page', "Rename Page") %>">
            <i class="icon-edit standalone-icon"></i>
          </a>
          <a class="page_url no-hover" href="<%= eportfolio_named_category_entry_path(@portfolio, @category.slug, e.slug) %>">
            <span class="name"><%= e.name %></span>
          </a>
          <a class="rename_page_url" href="<%= eportfolio_entry_path(@portfolio, e.id) %>" style="display: none;">&nbsp;</a>
          &nbsp;<a href="#" class="remove_page_link" title="<%= t('titles.delete_page', "Delete this Page") %>"><i class="icon-trash standalone-icon"></i></a>
        </li>
      <% end %>
      <li id="page_blank" class="page unsaved" style="display: none;">
        <a href="#" class="edit_page_link" title="<%= t('titles.rename_page', "Rename Page") %>">
          <i class="icon-edit standalone-icon"></i>
        </a>
        <a class="page_url no-hover" href="<%= eportfolio_named_category_entry_path(@portfolio, @category.slug, "{{ slug }}") %>">
          <span class="name"><%= t(:default_page_name, "Page Name") %></span>
        </a>
        <a class="rename_page_url" href="<%= eportfolio_entry_path(@portfolio, "{{ id }}") %>" style="display: none;">&nbsp;</a>
        &nbsp;<a href="#" class="remove_page_link" title="<%= t('titles.delete_page', "Delete this Page") %>"><i class="icon-trash standalone-icon"></i></a>
      </li>
    </ul>
    <a href="#" class="add_page_link icon-add"><%= t('links.add_page', "Add Another Page") %></a>
    <div class="editing_box button-container">
      <button type="button" class="done_editing_button btn btn-primary"><%= t('buttons.done_editing', "Done Editing") %></button>
    </div>
    <a href="<%= eportfolio_entries_path(@portfolio) %>" class="add_page_url" style="display: none;">&nbsp;</a>
    <a href="<%= eportfolio_reorder_entries_url(@portfolio.id, @category.id) %>" class="reorder_pages_url">&nbsp;</a>
  </div>
</div>
<span id="page_name_holder" style="display: none;">
<input type="text" id="page_name"/>
</span>
