<% content_for :page_title do %><%= @page.name %> -- <%= @category.name %> -- <%= @portfolio.name %><% end %>
<% jammit_js :eportfolio %>
<% js_block do %><%= javascript_include_tag "tinymce/jscripts/tiny_mce/tiny_mce.js" %><% end %>

<% content_for :auto_discovery do %>
  <% if can_do(@portfolio, @current_user, :update) %>
    <%= auto_discovery_link_tag(:atom, feeds_eportfolio_path(@portfolio.id, :atom, :verifier => @portfolio.uuid), {:title => "Eportfolio Atom Feed"}) %>
  <% elsif @portfolio.public %>
    <%= auto_discovery_link_tag(:atom, feeds_eportfolio_path(@portfolio.id, :atom), {:title => "Eportfolio Atom Feed"}) %>
  <% end %>
<% end %>

<% content_for :left_side do %>
  <h3 id="section-tabs-header"><%= @portfolio.name %></h3>
  <a href="<%= url_for(@portfolio.user) %>" id="section-tabs-header-subtitle" class="ellipsis"><%= @portfolio.user.name %></a>
  <%= render :partial => "eportfolios/section_list" %>
<% end %>

<% content_for :right_side do %>
  <div id="page_sidebar">
    <% if can_do(@portfolio, @current_user, :manage) && !@owner_view %>
      <div class="rs-margin-all">
        <a href="#" class="wizard_popup_link">
          <%= image_tag "help.png" %> How Do I...?
        </a>
      </div>
    <% end %>
    <%= render :partial => "eportfolios/page_list" %>
    <% if can_do(@portfolio, @current_user, :manage) && !@owner_view %>
    <div class="rs-margin-lr edit_content_link_holder">
      <a href="#" class="edit_content_link button button-sidebar-wide"><%= image_tag "edit.png" %> Edit this Page</a>
      <a href="<%= eportfolio_path(@portfolio.id) %>" class="back">Back to Portfolio Dashboard</a>
    </div>
    <div id="edit_page_sidebar">
      <h2 class="header">Add Content</h2>
      <div class="rs-margin-lr">
        <ul>
          <li><a class="add_content_link add_rich_content_link" href="#">Rich Text Content</a></li>
          <li><a class="add_content_link add_html_link" href="#">HTML/Embedded Content</a></li>
          <li><a class="add_content_link add_submission_link" href="#">Course Submission</a></li>
          <li><a class="add_content_link add_file_link" href="#">Image/File Upload</a></li>
        </ul>
        <div class="form_content button-container">
          <button type="button" class="submit_button button small-button button-default">Save Page</button>
          <button type="button" class="preview_button button small-button">Preview</button>
          <button type="button" class="cancel_button button-secondary">Cancel</button>
        </div>
        <div class="preview_content button-container">
          <button type="button" class="submit_button button small-button button-default">Save Page</button>
          <button type="button" class="keep_editing_button button small-button">Keep Editing</button>
          <button type="button" class="cancel_button button-secondary">Cancel</button>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% if @owner_view %>
  <h2>Welcome to Your ePortfolio</h2>
  <p>If this is your first time here, you may want to pop up the wizard and
  see how best to get started.  Otherwise you can quickly add recent submissions
  or just jump straight to the portfolio.
  </p>
  <ul class="unstyled_list" style="padding-left: 20px; margin-bottom: 20px; line-height: 1.8em; font-size: 1.2em;">
    <li><a href="#" class="wizard_popup_link help">Getting Started Wizard</a></li>
    <li><a href="?view=preview" class="forward"> Go to the Actual ePortfolio</a></li>
  </ul>
  
  <% if @portfolio.public %>
    <h3>Your ePortfolio is Public</h3>
    <p>That means anyone who knows the address of your portfolio can view it.  You can
    make your portfolio private by 
    <a href="#" class="portfolio_settings_link"><b>changing your portfolio settings</b></a>.
  <% else %>
    <h3>Your ePortfolio is Private</h3>
    <p>That means people can't find it or even view it without permission.  You can see 
    it since it's your portfolio, but if you want to let anybody else see it, you'll 
    need to copy and share the the following special link so they can access your portfolio:
    </p>
    <p>
      <a href="<%= eportfolio_path(@portfolio.id, :verifier => @portfolio.uuid) %>"><b style="font-size: 1.2em;">Copy and share this link to give others access to your private ePortfolio.</b></a>
    </p>
  <% end %>
  
  <h3>Recent Submissions</h3>
  <p>Click any submission to add it to a new page in your ePortfolio.</p>
  <% if @portfolio.user.submissions.empty? %>
    <div style="margin: 5px 20px;">No Submissions Found</div>
  <% end %>
  <ul class="submission_list" id="recent_submissions" style="max-height: 200px; overflow: auto;">
    <% @portfolio.user.submissions.each do |submission| %>
      <% already_used = (@used_submission_ids.include?(submission.id) rescue false) %>
      <li class="submission <%= 'already_used' if already_used %>" title="<%= "This submission is already included in your portfolio" if already_used %>" id="recent_submission_<%= submission.id %>">
        <a href="<%= eportfolio_entry_preview_submission_path(@portfolio, @page, submission.id) %>" style="display: none;" class="submission_preview_url"></a>
        <div style="float: right; font-size: 0.8em; color: #aaa; margin-right: 20px; margin-top: 0.5em;">
          <%= datetime_string(submission.submitted_at || submission.updated_at) %>
          &nbsp;<a href="<%= context_url(submission.assignment.context, :context_assignment_submission_url, submission.assignment_id, submission.id) %>" target="_blank" class="no-hover"><%= image_tag "popout.png", :title => "View the Submission" %></a>
        </div>
        <span class="text" style="font-size: 1.2em;">
          <span class="text assignment_title"><%= submission.assignment.title %></span>
          <span style="font-size: 0.8em; padding-left: 5px;" class="text context_name"><%= submission.assignment.context.name %></span>
        </span>
        <div style="font-size: 0.8em; color #aaa; margin-left: 20px;"><%= pluralize(submission.attachments.length, "Attachment") unless submission.attachments.empty? %></div>
        <span class="submission_id" style="display: none;"><%= submission.id %></span>
        <div class="clear"></div>
      </li>
    <% end %>
  </ul>
  <ul id="eportfolio_structure" style="display: none;">
    <% @portfolio.eportfolio_categories.each do |category| %>
      <li id="structure_category_<%= category.id %>" class="category">
        <ul class="entry_list">
          <% category.eportfolio_entries.each do |entry| %>
          <li id="structure_entry_<%= entry.id %>" class="entry">
            <span class="name"><%= entry.name %></span>
          </li>
          <% end %>
        </ul>
        <span class="name"><%= category.name %></span>
      </li>
    <% end %>
    <li id="structure_category_blank" class="category">
      <ul class="entry_list">
      </ul>
      <span class="name">&nbsp;</span>
    </li>
    <li id="structure_entry_blank" class="entry">
      <span class="name">&nbsp;</span>
    </li>
  </ul>
  <form id="add_submission_form" style="display: none;">
    <input type="hidden" name="section_1[section_type]" value="rich_text"/>
    <input type="hidden" name="section_1[content]" class="submission_description" value=""/>
    <input type="hidden" name="section_2[section_type]" value="submission"/>
    <input type="hidden" name="section_2[submission_id]" class="submission_id" value=""/>
    <input type="hidden" name="section_count" value="2"/>
    <p style="font-size: 0.8em;">To make a new page for this submission, select a section and enter the name for the
    new page.</p>
    <table class="formtable">
      <tr>
        <td>Section:</td>
        <td>
          <select id="category_select" name="eportfolio_entry[eportfolio_category_id]">
            <% @portfolio.eportfolio_categories.each do |category| %>
              <option value="<%= category.id %>" id="category_select_<%= category.id %>"><%= category.name %></option>
            <% end %>
            <option value="new" id="category_select_blank" style="display: none;">New Section</option>
          </select>
        </td>
      </tr><tr>
        <td>Page Name:</td>
        <td><input type="text" name="eportfolio_entry[name]" style="width: 100px;"/></td>
      </tr><tr>
        <td colspan="2" style="padding-left: 20px; font-size: 0.8em; padding-top: 10px;">
          Current Pages
          <ul id="page_select_list" class="unstyled_list" style="padding-left: 20px; margin-top: 5px;">
            <li class="page_select" id="page_select_blank" style="display: none;">
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <div class="button-container">
      <button type="submit" class="button">Add Page</button>
      <button type="button" class="cancel_button button-secondary">Cancel</button>
    </div>
    <div style="display: none;">
      <a class="add_eportfolio_entry_url" href="<%= eportfolio_entries_path(@portfolio.id) %>">&nbsp;</a>
      <a class="eportfolio_named_entry_url" href="<%= eportfolio_named_category_entry_path(@portfolio.id, "{{ category_slug }}", "{{ slug }}") %>">&nbsp;</a>
    </div>
  </form>
<% else %>
  <% if can_do(@portfolio, @current_user, :manage) %>
  <div style="float: right; display: none;"><a href="#" class="edit_content_link edit">Edit This Page</a></div>
  <% end %>
  <h2><%= @page.name %></h2>
  <% idx = 1 %>
  <% form_for @page, :url => eportfolio_entry_url(@portfolio, @page), :html => {:id => "edit_page_form" } do |f| %>
  <div class="form_content">
    <%= f.label :name, "Page Name:" %>
    <%= f.text_field :name %>
  </div>
  <div id="page_content">
    <% @page.content_sections.each do |c| %>
      <%= render :partial => "eportfolios/page_section", :object => c, :locals => {:idx => idx} %>
      <% idx = idx + 1 %>
    <% end %>
  </div>
  <div class="form_content">
    <%= f.check_box :allow_comments, :class => "allow_comments" %>
    <%= f.label :allow_comments, "Allow Comments on this Page" %>
    <div style="margin-left: 40px;" class="show_comments_box <%= "disabled" unless @page.allow_comments %>">
      <%= f.check_box :show_comments, :class => "show_comments" %>
      <%= f.label :show_comments, "Make Comments Public" %>
    </div>
  </div>
  <div class="form_content button-container">
    <button type="submit" class="button button-default">Save Page</button>
    <button type="button" class="preview_button button">Preview</button>
    <button type="button" class="cancel_button button-secondary">Cancel</button>
  </div>
  <div class="preview_content button-container">
    <button type="submit" class="button button-default">Save Page</button>
    <button type="button" class="keep_editing_button button">Keep Editing</button>
    <button type="button" class="cancel_button button-secondary">Cancel</button>
  </div>
  <table class="formtable" style="width: 100%; display: none;">
    <tr>
      <td colspan="2">
        <div style="text-align: right; margin-right: 5%;">
          <a href="#" class="switch_views_link" style="font-size: 0.8em;">Switch Views</a>
        </div>
        <%= f.text_area :content, :id => "edit_page_content", :style => "width: 98%; height: 300px;" %>
      </td>
    </tr><tr>
    </tr>
  </table>
  <% end %>
  <%= render :partial => "eportfolios/page_section", :object => nil, :locals => {:idx => "blank"} %>
  <% js_block do %>
  <script>
  var sectionCountIdx = <%= idx %>;
  </script>
  <% end %>
  <% if can_do(@portfolio, @current_user, :manage) %>
  <div id="edit_content_templates" style="display: none;">
    <div class="edit_rich_text_content form_content" style="display: none;">
      <textarea class="edit_section" id="edit_section_blank" style="width: 95%; margin-left: auto; margin-right: auto; height: 200px;"></textarea>
    </div>
    <div class="edit_html_content form_content" style="display: none;">
      Copy and paste your HTML code into the box below:<br/>
      <textarea class="edit_section" id="edit_html_section_blank" style="width: 95%; margin-left: auto; margin-right: auto; height: 150px;"></textarea>
    </div>
    <div class="edit_submission_content form_content" style="display: none;">
      Select an assignment submission to embed in this page:<br/>
      <% if @portfolio.user.submissions.empty? %>
        <div style="margin: 5px 20px;">No Submissions Found</div>
      <% end %>
      <ul class="submission_list">
        <% @portfolio.user.submissions.each do |submission| %>
          <li class="submission <%= 'already_used' if (@used_submission_ids.include?(submission.id) rescue false) %>" id="submission_<%= submission.id %>">
            <a href="<%= eportfolio_entry_preview_submission_path(@portfolio, @page, submission.id) %>" style="display: none;" class="submission_preview_url"></a>
            <div style="float: right; font-size: 0.8em; color: #aaa; margin-right: 20px; margin-top: 0.5em;"><%= datetime_string(submission.submitted_at || submission.updated_at) %></div>
            <span class="text" style="font-size: 1.2em;"><%= submission.assignment.title %>, <%= submission.assignment.context.name %></span>
            <div style="font-size: 0.8em; color #aaa; margin-left: 20px;"><%= pluralize(submission.attachments.length, "Attachment") unless submission.attachments.empty? %></div>
            <div class="clear"></div>
          </li>
        <% end %>
      </ul>
      <div class='button-container button-container-right-aligned'>
        <button type="button" class="select_submission_button button small-button">Select Submission</button>
        <button type="button" class="cancel_content_button button-secondary">Cancel</button>
      </div>
    </div>
    <div class="edit_attachment_content form_content" style="display: none;">
      <div style="width: 400px; margin: 0 auto; text-align: left;">
        Select a file to include on this page:<br/>
        <div class="file_list" style="margin-left: 50px; max-height: 200px; overflow: auto;">
          <b><%= "No Files Uploaded" if @portfolio.user.attachments.active.empty? %></b>
          <% unless @portfolio.user.attachments.active.empty? %>
            <%= render :partial => "files/nested_content", :object => (@folders.select{|f| !f.parent_folder_id}), :locals => {:folders => @folders} %>
          <% end %>
        </div><br/>
        Or upload a new file:<br/>
        <%= file_field :attachment, :uploaded_data, :class => "file_upload", :style => "padding-left: 50px;" %>
        <div style="font-size: 0.8em; margin-left: 20px;">limit 50MB per file</div>
      </div>
      <div class='button-container button-container-right-aligned'>
        <button type="button" class="upload_file_button button small-button">Select/Upload File</button>
        <button type="button" class="cancel_content_button button-secondary">Cancel</button>
      </div>
    </div>
    <div class="loading_submission" style="text-align: center;">
      <%= image_tag "ajax-loader-bar.gif" %><br/>
      Loading Submission: <span class="submission_name">&nbsp;</span>...
    </div>
    <div class="uploading_file" style="text-align: center;">
      <%= image_tag "ajax-loader-bar.gif" %><br/>
      Uploading: <span class="file_name">&nbsp;</span>...
    </div>
    <% form_for :attachment, :url => context_url(@portfolio.user, :controller => :files, :action => :create, :format => "text"), :html => {:id => "upload_file_form"} do |f| %>
    <% end %>
    <iframe class="submission_preview" style="border: 1px solid #aaa; width: 95%; height: 300px; display: block; margin-left: auto; margin-right: auto;" src="about:blank">
    </iframe>
  </div>
  <div style="display: none;">
    <% @files.each do |file| %>
      <div id="file_uuid_<%= file.id %>"><%= file.uuid %></div>
    <% end %>
  </div>
  <% end %>

<% end %>
<% form_for @portfolio, :url => eportfolio_path(@portfolio), :html => {:style => "display: none; position: relative;", :id => "edit_eportfolio_form"} do |f| %>
<table class="formtable">
  <tr>
    <td><%= f.label :name, "ePortfolio Name:" %></td>
    <td><%= f.text_field :name %></td>
  </tr><tr>
    <td colspan="2">
      <%= f.check_box :public %>
      <%= f.label :public, "Make it Public" %>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="button-container-right-aligned">
      <button type="submit" class="button">Update ePortfolio</button>
    </td>
  <td>
</table>
<% end %>
<% if !@owner_view %>
<div id="page_comments_holder" style="margin-top: 50px;">
  <h2 style="<%= hidden unless @page.show_comments || @page.allow_comments || can_do(@portfolio, @current_user, :update) %>">Page Comments</h2>
  <% if @page.show_comments || can_do(@portfolio, @current_user, :update) %>
    <% if !@page.page_comments.empty? || @page.show_comments %>
    <% if !@page.show_comments %>
      <p>Right now only you can see the comments for this page.  You can make the 
      comments public if you like by <a href="#" class="edit_content_link"><b>changing the settings for this page</b></a>.
      </p>
    <% end %>
    <% end %>
    <div id="page_comments" style="padding: 5px 20px;">
      <%= "No Comments" if @page.page_comments.empty? %>
      <%= render :partial => "eportfolios/page_comment", :collection => @page.page_comments %>
    </div>
    <%= render :partial => "eportfolios/page_comment", :object => nil %>
  <% elsif @page.allow_comments %>
    <p>Comments for this page are private.  You can make comments, but only the portfolio's owner
    will be able to see them.</p>
  <% end %>
  <% if @page.allow_comments %>
    <% form_for :page_comment, :url => eportfolio_entry_page_comments_path(@portfolio.id, @page.id), :html => {:id => "add_page_comment_form", :style => "margin-top: 20px;"} do |f| %>
      <h3>Add a New Comment:</h3>
      <% if @current_user %>
        <%= f.text_area :message, :style => "width: 400px; height: 75px;" %>
        <div class="button-container">
          <button type="submit" class="button">Add Comment</button>
        </div>
      <% else %>
        <div style="text-align: center; font-size: 1.2em; margin: 10px;">
          You must be <a href="<%= login_path %>"><b>logged in</b></a> to make comments on this page.
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
<% if @owner_view %>
  <div style="text-align: left; font-size: 1.2em; margin: 30px 10px 0;">
    <a href="<%= eportfolio_export_portfolio_path(@portfolio.id) %>" class="download_eportfolio_link download">Download the contents of this ePortfolio as a zip file</a>
    <div style="display: none; font-size: 1.2em;" id="downloading_eportfolio_message">
      <span class="message">
      Collecting ePortfolio resources. this may take a while if you have a lot of files 
      in your ePortfolio.
      </span>
      <div style="margin: 20px 10px;">
        <div id="export_progress"></div>
      </div>
    </div>
  </div>
  <div style="text-align: left; font-size: 1.2em; margin: 30px 10px 0;">
    <a href="<%= eportfolio_url(@portfolio.id) %>" class="delete_eportfolio_link delete">Delete this ePortfolio</a>
  </div>
  <% form_tag eportfolio_url(@portfolio.id), {:method => :delete, :id => "delete_eportfolio_form", :style => "margin-top: 20px; margin-left: 20px; display: none;"} do %>
    You currently have <%= pluralize(@portfolio.eportfolio_entries.count, "page") %> in this ePortfolio.  
    Are you sure you want to delete the entire ePortfolio?
    <div class="button-container">
      <button type="submit" class="button">Delete ePortfolio</button>
      <button type="button" class="button-secondary delete_eportfolio_link">Cancel</button>
    </div>
  <% end %>
<% end %>
<div style="display: none;">
  <a href="<%= eportfolio_entry_view_file_path(@portfolio.id, @page.id, "{{ uuid }}") %>" class="eportfolio_download_url">&nbsp;</a>
  <div id="eportfolio_category_id"><%= @category.id %></div>
  <div id="eportfolio_view_image" style="text-align: center;">
    <a href="#" class="eportfolio_download" title="View the Original File"><img src="#" class="eportfolio_image"/><a/>
  </div>
  <div id="eportfolio_download_file" style="text-align: center;">
    <a href="#" class="eportfolio_download">Click here to download <span class="filename">&nbsp;</span></a>
  </div>
</div>

<%= render :partial => "eportfolios/wizard_box" %>
