<%
# Copyright (C) 2013 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p><%= t "App Center will appear in the \"Apps\" tab on the settings page of either a course or account. " +
                 "The URL provided below should point to a valid App Center endpoint (for example, %{url} -- be sure to omit the trailing slash",
                 url: "https://www.eduappcenter.com" %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :token, :en => "Access Token" %></td>
      <td>
        <%= f.text_field :token, value: settings[:token] %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :base_url, :en => "Base URL" %></td>
      <td>
        <%= f.text_field :base_url, value: settings[:base_url] %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :apps_index_endpoint, :en => "Apps Index Endpoint" %></td>
      <td>
        <%= f.text_field :apps_index_endpoint, value: settings[:apps_index_endpoint] %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :app_reviews_endpoint, :en => "App Show Endpoint" %></td>
      <td>
        <%= f.text_field :app_reviews_endpoint, value: settings[:app_reviews_endpoint] %>
      </td>
    </tr>
  </table>
<% end %>
