<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p><%= mt(:description, <<-TEXT)
This plugin allows admins to check a property on assignments that makes the configured
properties un-editable once the assignment is copied into another course.
TEXT
        %></p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.check_box "no_copying", {}, 'yes', 'no' %>
        <%= f.label "no_copying", t('no_copying_frozen', "Don't allow frozen assignments to be copied.") %>
      </td>
    </tr>
    <% Assignment::FREEZABLE_ATTRIBUTES.sort.each do |att| %>
      <tr>
        <td colspan=2><%= f.check_box att, {}, 'yes', 'no' %>
        <%= f.label att, att %></td>
      </tr>
    <% end %>
  </table>
<% end %>
