<%
  js_bundle :big_blue_button
%>
<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <%= mt :description, "You will need access to a [BigBlueButton](%{url}) instance.", :url => "http://bigbluebutton.org" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :domain, :en => "Domain" %></td>
      <td>
        <%= f.text_field :domain %><br>
        <%= mt :domain_description, "**hostname** or **ip address** of your BigBlueButton installation (e.g. bigbluebutton.mycompany.com)" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret, :en => "Secret" %></td>
      <td>
        <%= f.password_field :secret, :autocomplete => false %><br>
        <%= mt :secret_description, "This is the %{parameter_name} parameter that can be found in the %{filename} config file.", :parameter_name => markdown_safe('**beans.dynamicConferenceService.securitySalt**'), :filename => markdown_safe('**bigbluebutton.properties**') %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :recording_enabled, :id => "recordings_enabled_checkbox" %> <%= f.label :recording_enabled, :en => "Enable recordings" %>
      </td>
    </tr>
    <tr id="recording_feature_options">
      <td></td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.select :recording_options, options_for_select(BigBlueButtonConference::RECORDING_OPTIONS.map{ |k,v| [v, k] }, :selected => (WebConference.config(BigBlueButtonConference.to_s) && WebConference.config(BigBlueButtonConference.to_s).key?(:recording_options)) ? WebConference.config(BigBlueButtonConference.to_s)[:recording_options] : '1' ), :id => "recording_options" %>
      </td>
    </tr>
    <tr id="recording_option_enabled" style="display:none;">
      <td></td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.check_box :recording_option_enabled %> <%= f.label :recording_option_enabled, :en => "Recording option true by default" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :invitations_enabled, :class => "invitations_enabled_checkbox" %> <%= f.label :invitations_enabled, :en => "Invitations are sent to all participants by default." %>
      </td>
    </tr>
  </table>
<% end %>
