<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <%= mt :description, "You will need access to a [BigBlueButton](%{url}) instance.", :url => "http://bigbluebutton.org" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :domain, :en => "Domain" %></td>
      <td>
        <%= f.text_field :domain %><br>
        <%= mt :domain_description, "**hostname** or **ip address** of your BigBlueButton installation (e.g. bigbluebutton.mycompany.com)" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret, :en => "Secret" %></td>
      <td>
        <%= f.password_field :secret, :autocomplete => false %><br>
        <%= mt :secret_description, "This is the %{parameter_name} parameter that can be found in the %{filename} config file.", :parameter_name => markdown_safe('**beans.dynamicConferenceService.securitySalt**'), :filename => markdown_safe('**bigbluebutton.properties**') %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :recording_enabled %> <%= f.label :recording_enabled, :en => "Allow conferences to be recorded." %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :free_trial %> <%= f.label :free_trial, :en => "Mark this BigBlueButton instance as a free trial" %>
      </td>
    </tr>
    <% if @domain_root_account.feature_enabled?(:bbb_avatar) && !@domain_root_account.site_admin? %>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :send_avatar %> <%= f.label :send_avatar, :en => "Send user avatar to BigBlueButton on join" %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :replace_with_alternatives %> <%= f.label :replace_with_alternatives, :en => "Disable BigBlueButton conferences; show a list of alternatives instead" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :use_fallback %> <%= f.label :use_fallback, :en => "Use BigBlueButton Fallback Plugin settings to look for recordings for conferences that weren't hosted by the currently configured BBB instance." %>
      </td>
    </tr>
  </table>
<% end %>
