<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <%= mt :description, "You will need access to a [BigBlueButton](%{url}) instance.", :url => "http://bigbluebutton.org" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :domain, :en => "Domain" %></td>
      <td>
        <%= f.text_field :domain %><br>
        <%= mt :domain_description, "**hostname** or **ip address** of your BigBlueButton installation (e.g. bigbluebutton.mycompany.com)" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret, :en => "Secret" %></td>
      <td>
        <%= f.password_field :secret, :autocomplete => false %><br>
        <%= mt :secret_description, "This is the %{parameter_name} parameter that can be found in the %{filename} config file.", :parameter_name => markdown_safe('**beans.dynamicConferenceService.securitySalt**'), :filename => markdown_safe('**bigbluebutton.properties**') %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :recording_enabled %> <%= f.label :recording_enabled, :en => "Allow conferences to be recorded." %>
      </td>
    </tr>
  </table>
<% end %>
