<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings do |f| %>
    <table style="width: 600px;" class="formtable">
      <tr>
        <td colspan="2"><%= mt(<<~TEXT, clever_url: "http://apps.clever.com/signup", callback_url: clever_callback_url)
You will need to [register an application on Clever](%{clever_url}).
You should configure %{callback_url} as the redirect URL.
After you create your app, make a note of the Client ID and Client Secret, and enter them here.
TEXT
        %></td>
      </tr>
      <tr>
        <td><%= f.blabel :client_id, :en => "Client ID" %></td>
        <td>
          <%= f.text_field :client_id, value: settings[:client_id] %>
        </td>
      </tr>
      <tr>
        <td><%= f.blabel :client_secret, :en => "Client Secret" %></td>
        <td>
          <%= f.password_field :client_secret, autocomplete: false %>
        </td>
      </tr>
    </table>
<% end %>
