<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p><%= t(:description, <<-TEXT, :console_command => "Setting.set('show_feedback_link', 'true')")
          Error reporting can be enabled on the console by calling
          %{console_command}.  Once this is
          enabled you can specify an email address or a POST URL where
          error messages will be delivered.
          TEXT
        %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :action, :en => "Action" %></td>
      <td>
        <%= f.select :action, [[t('options.nothing', 'Do Nothing'), 'nothing'], [t('options.email', 'Send an Email'), 'email'], [t('options.post', 'Post to a URL'), 'post']], {}, :class => "select_action" %>
      </td>
    </tr>
    <tr class="email sub_setting" style="display: none;">
      <td><%= f.blabel :email, :en => "Email Address" %></td>
      <td>
        <%= f.text_field :email %>
      </td>
    </tr>
    <tr class="post sub_setting" style="display: none;">
      <td><%= f.blabel :url, :en => "URL" %></td>
      <td>
        <%= f.text_field :url %>
      </td>
    </tr>
    <tr class="post sub_setting" style="display: none;">
      <td><%= f.blabel :subject_parameter, :en => "Subject Param" %></td>
      <td>
        <%= f.text_field :subject_param %>
        <div class="hint"><%= t('hints.subject_param', "The subject of the message will be sent with this key") %></div>
      </td>
    </tr>
    <tr class="post sub_setting" style="display: none;">
      <td><%= f.blabel :body_parameter, :en => "Body Param" %></td>
      <td>
        <%= f.text_field :body_param %>
        <div class="hint"><%= t('hints.body_param', "The body of the message will be sent with this key") %></div>
      </td>
    </tr>
  </table>
<% end %>
<% js_bundle 'legacy/plugins_error_reporting_settings' %>
