<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p><%= t(:description, <<~TEXT)
EtherPad is now an open source project.  There are a number of public
hosted instances of EtherPad that you can use if you'd like.  These
include:
TEXT
        %></p>
        <ul>
          <li><a href="http://piratepad.net/"><%= t(:pirate_pad, "Pirate Pad") %></a></li>
          <li><a href="http://primarypad.com/"><%= t(:primary_pad, "Primary Pad") %></a></li>
          <li><a href="http://sketchpad.cc/"><%= t(:sketchpad, "SketchPad") %></a></li>
          <li><a href="http://www.edupad.ch/"><%= t(:edupad, "eduPad") %></a></li>
          <li><a href="http://typewith.me/"><%= t(:typewithme, "TypeWith.me") %></a></li>
        </ul>

        <p><%= mt(:host_your_own, "Or you can always [set up your own EtherPad site](%{etherpad_url}).", :etherpad_url => 'http://etherpad.org/') %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :domain, :en => "Domain" %></td>
      <td>
        <%= f.text_field :domain, value: settings[:domain] %>
        <div class="hint"><%= t('hints.domain', "Don't include the \"http://\" part or any slashes") %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :name, :en => "Name" %></td>
      <td>
        <%= f.text_field :name, value: settings[:name] %>
      </td>
    </tr>
  </table>
<% end %>
