<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p><%= t(:description, <<-TEXT)
EtherPad is now an open source project.  There are a number of public
hosted instances of EtherPad that you can use if you'd like.  These
include:
TEXT
        %></p>
        <ul>
          <li><a href="http://piratepad.net/"><%= t(:pirate_pad, "Pirate Pad") %></a></li>
          <li><a href="http://primarypad.com/"><%= t(:primary_pad, "Primary Pad") %></a></li>
          <li><a href="http://sketchpad.cc/"><%= t(:sketchpad, "SketchPad") %></a></li>
          <li><a href="http://www.edupad.ch/"><%= t(:edupad, "eduPad") %></a></li>
          <li><a href="http://typewith.me/"><%= t(:typewithme, "TypeWith.me") %></a></li>
        </ul>

        <p><%= mt(:host_your_own, "Or you can always [set up your own EtherPad site](%{etherpad_url}).", :etherpad_url => 'http://etherpad.org/') %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :domain, :en => "Domain" %></td>
      <td>
        <%= f.text_field :domain %>
        <div class="hint"><%= t('hints.domain', "Don't include the \"http://\" part or any slashes") %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :name, :en => "Name" %></td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
  </table>
<% end %>
