<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 600px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(:description, <<-TEXT, :site_url => raw('<span class="nobr">https://&lt; ' + t(:domain_name, 'domain') + ' &gt;/</span>'), :canvas_url => raw('<span class="nobr">https://&lt; ' + t(:domain_name, 'domain') + ' &gt;/facebook</span>'), :facebook_url => "http://www.facebook.com/developers")
You will need to create a [new app on facebook.com](%{facebook_url}), and add 'App on Facebook' as a platform.
Set the following configuration options to ensure your Facebook app
works correctly:

* **Settings -- App on Facebook -- Canvas Page:** make a note of whatever you choose (the part after apps.facebook.com) and enter in the form below
* **Settings -- App on Facebook -- Canvas URL:** set to %{canvas_url}
* After you save your app, make a note of the App ID, Client Token and App Secret
TEXT
      %></td>
    </tr>
    <tr>
      <td colspan="2" class="sub">
        <h3><%= t('headers.domain_settings', "Domain Settings") %></h3>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :app_id, :en => "App ID" %></td>
      <td>
        <%= f.text_field :app_id %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :api_key, :en => "API Key" %></td>
      <td>
        <%= f.text_field :api_key %>
        <span class="hint"><%= t('hints.api_key', "Also referred to as Client Token") %></span>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret, :en => "App Secret" %></td>
      <td>
        <%= f.text_field :secret %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :canvas_name, :en => "Canvas Name" %></td>
      <td>
        <%= f.text_field :canvas_name %>
        <span class="hint"><%= t('hints.canvas_name', 'this is the path specified in "Canvas Page"') %></span>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :canvas_domain, :en => "Canvas Domain" %></td>
      <td>
        <%= f.text_field :canvas_domain %>
        <span class="hint"><%= t('hints.canvas_domain', 'this is the domain specified in "Canvas URL"') %></span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :disable_ssl %>
        <%= f.label :disable_ssl, :en => "Disable SSL" %>
        <div class="hint"><%= t('hints.disable_ssl', "Use only for local testing") %></div>
      </td>
    </tr>
  </table>
<% end %>
