<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(:description, <<-TEXT, :linkedin_url => 'https://www.linkedin.com/secure/developer', :oauth_url => raw('<span class="nobr">https://&lt; ' + t(:domain_name, 'domain') + ' &gt;/oauth_success?service=linked_in</span>'))
You will need to register a [new app on LinkedIn](%{linkedin_url}).
Set the following configuration options to ensure your LinkedIn integration
works correctly:

* **Application Type:** set to "Web Application"
* **Live Status:** set to "Live"
* **OAuth Redirect URL:** set to %{oauth_url}
* After you save your app, make a note of the API Key and Secret Key
TEXT
      %></td>
    </tr>
    <tr>
      <td><%= f.blabel :api_key, :en => "API Key" %></td>
      <td>
        <%= f.text_field :api_key %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret_key, :en => "Secret Key" %></td>
      <td>
        <%= f.text_field :secret_key %>
      </td>
    </tr>
  </table>
<% end %>
