<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(<<-TEXT, :linkedin_url => 'https://www.linkedin.com/secure/developer', :callback_url => raw('<span class="nobr">https://&lt; ' + t(:domain_name, 'domain') + ' &gt;/oauth_success?service=linked_in</span>'))
You will need to [register an application on LinkedIn](%{linkedin_url}).
You should add %{callback_url} as an OAuth 2.0 authorized redirect URL, and set the Application Status to Live
After you create your application, make a note of the Client ID and Client Secret, and enter them here.
TEXT
      %></td>
    </tr>
    <tr>
      <td><%= f.blabel :client_id, :en => "Client ID" %></td>
      <td>
        <%= f.text_field :client_id %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :client_secret, :en => "Client Secret" %></td>
      <td>
        <%= f.password_field :client_secret %>
      </td>
    </tr>
  </table>
<% end %>
