<%
# Copyright (C) 2016 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings do |f| %>
  <table style="width: 600px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(:description, <<~TEXT, ms_app_url: "https://portal.azure.com/", callback_url: oauth2_login_callback_url, wrappers: { "*" => "<code>\\1</code>" })
You will need to register a [new app with Microsoft](%{ms_app_url}) under *App registrations*.
You should configure %{callback_url} as the Redirect URI.
After you save your app, make a note of the Application ID and Secret, and enter them here.
TEXT
      %></td>
    </tr>
    <tr>
      <td><%= f.blabel :application_id, en: "Application ID" %></td>
      <td>
        <%= f.text_field :application_id, value: settings[:application_id] %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :application_secret, en: "Application Secret" %></td>
      <td>
        <%= f.password_field :application_secret, autocomplete: false %>
      </td>
    </tr>
  </table>
<% end %>
