<% fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(:description, <<-TEXT, :scribd_url => 'http://www.scribd.com/developers')
You will need to [sign up for a Scribd API Account](%{scribd_url}).
Make a note of your API key and API secret.  These are available from
"Settings -> API" in your profile after creation.
TEXT
      %></td>
    </tr>
    <tr>
      <td><%= f.blabel :api_key, :en => "API key" %></td>
      <td>
        <%= f.text_field :api_key %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret_key, :en => "API secret" %></td>
      <td>
        <%= f.text_field :secret_key %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.check_box :enable_html5_viewer %> <%= f.label :enable_html5_viewer, :en => "Enable HTML5 Document Viewer" %>
      </td>
    </tr>
  </table>
<% end %>
