<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p><%= mt(:description, <<-TEXT, :tinychat_url => 'http://tinychat.com/developer/dashboard')
You will need to register a [new app on Tinychat](%{tinychat_url}).
Make a note of your app's Public Key and Secret Key values.
TEXT
        %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :api_key, :en => "Public Key" %></td>
      <td>
        <%= f.text_field :api_key %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :secret_key, :en => "Secret Key" %></td>
      <td>
        <%= f.text_field :secret_key %>
      </td>
    </tr>
  </table>
<% end %>
