<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(<<~TEXT, twitter_url: "https://apps.twitter.com/", callback_url: oauth_login_callback_url)
You will need to [register an application on Twitter](%{twitter_url}).
You should configure %{callback_url} as the Callback URL, and set Access Level to
Read, Write, and Access direct messages
After you create your application, make a note of the Consumer Key and Consumer Secret, and enter them here.
TEXT
      %></td>
    </tr>
    <tr>
      <td><%= f.blabel :consumer_key, :en => "Consumer Key" %></td>
      <td>
        <%= f.text_field :consumer_key, value: settings[:consumer_key] %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :consumer_secret, :en => "Consumer Secret" %></td>
      <td>
        <%= f.password_field :consumer_secret %>
      </td>
    </tr>
  </table>
<% end %>
