<%= fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2"><%= mt(<<-TEXT, twitter_url: "https://apps.twitter.com/", callback_url: oauth_login_callback_url)
You will need to [register an application on Twitter](%{twitter_url}).
You should configure %{callback_url} as the Callback URL, and set Access Level to
Read, Write, and Access direct messages
After you create your application, make a note of the Consumer Key and Consumer Secret, and enter them here.
TEXT
      %></td>
    </tr>
    <tr>
      <td><%= f.blabel :consumer_key, :en => "Consumer Key" %></td>
      <td>
        <%= f.text_field :consumer_key %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :consumer_secret, :en => "Consumer Secret" %></td>
      <td>
        <%= f.password_field :consumer_secret %>
      </td>
    </tr>
  </table>
<% end %>
