<% fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <p>
          You will need access to a <a href="http://wimba.com">Wimba</a> account.
        </p>
      </td>
    </tr>
    <tr>
      <td><%= f.label :domain, "Domain:" %></td>
      <td>
        <%= f.text_field :domain %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :user, "Username:" %></td>
      <td>
        <%= f.text_field :user %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :password, "Password:" %></td>
      <td>
        <%= f.password_field :password, :autocomplete => false %>
      </td>
    </tr>
  </table>
<% end %>