<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%= fields_for :settings do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td colspan="2">
        <%= mt :description, "You will need access to a [Wimba](%{url}) account.", :url => "http://wimba.com" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :domain, :en => "Domain" %></td>
      <td>
        <%= f.text_field :domain, value: settings[:domain] %> <%= mt :domain_description, "(e.g. mycompany.wimba.com)" %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :user, :username, :en => "Username" %></td>
      <td>
        <%= f.text_field :user, value: settings[:user] %>
      </td>
    </tr>
    <tr>
      <td><%= f.blabel :password, :en => "Password" %></td>
      <td>
        <%= f.password_field :password, :autocomplete => false %>
      </td>
    </tr>
  </table>
<% end %>