<% content_for :page_title do %>Canvas Plugins<% end %>

<% 
  add_crumb 'Plugins' 
  jammit_css 'plugins'
%>

<h2>Canvas Plugins</h2>

<% if @plugins.any? %>
  <table class="list plugins">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Tag</th>
      <th>Website</th>
      <th>Author</th>
      <th>Version</th>
      <th>&nbsp;</th>
    </tr>
    <% @plugins.each do |plugin| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class='name'><span class="name"><%= h plugin.name %></span></td>
        <td class='description'><%= content_tag('span', h(plugin.description), :class => 'description') unless plugin.description.blank? %></td>
        <td class='tag'><%= h plugin.tag %></td>
        <td class='website'><%= content_tag('span', link_to(h(plugin.website), plugin.website), :class => 'url') unless plugin.website.blank? %></td>
        <td class="author"><%= plugin.author_website.blank? ? h(plugin.author) : link_to(h(plugin.author), plugin.author_website) %></td>
        <td class="version"><%= h plugin.version %></td>
        <td class="configure"><%= link_to("Configure", plugin_path(plugin.id)) if plugin.has_settings_partial? %></td>
      </tr>
    <% end %>
  </table>
<% else %>
    <p class="nodata">There are no Canvas plugins installed</p>
<% end %>
