<h2>Settings: <%=h @plugin.name %></h2>

<%= render :partial => "settings_header" %>

<div id="settings">
  <% form_for(@plugin_setting, :url => plugin_path(@plugin.id), :html => {:method => :put}) do |f| %>
      <% partial = render :partial => @plugin.settings_partial, :locals => {:settings => @plugin_setting.settings.merge(params[:settings] || {})} %>
      <%= f.error_messages if !@error_messages_handled %>
      <div class="box tabular">
        <%= partial %>
      </div>
      <%= submit_tag "Apply" %>
  <% end %>
</div>

<p><%=link_to("Return to plugins list", plugins_path)%></p>
