<form action="<%= self_enrollment_url %>" method="post" id="enroll_form" class="ic-Self-enrollment-form">
  <%= registration_summary || content_tag(:p, mt(:getting_started, "You are enrolling in **%{course}**.", :course => @course.name)) %>

  <p><%= t("Please enter your %{label_name} and password:", :label_name => @login_label_name) %></p>
  <input type="hidden" name="initial_action" value="log_in">

  <div class="ic-Form-control" id="email_info">
    <label class="ic-Label" for="student_email"><%= @login_label_name %></label>
    <input type="text" class="ic-Input" id="student_email" name="pseudonym[unique_id]">
  </div>

  <div class="ic-Form-control">
    <label class="ic-Label" for="student_password"><%= t "labels.password", "Password" %></label>
    <input type="password" id="student_password" class="ic-Input" name="pseudonym[password]">
  </div>

  <div class="ic-Self-enrollment-footer-modal-layout">
    <div class="ic-Self-enrollment-footer">
      <div class="ic-Self-enrollment-footer__Secondary">
        <a href="<%= privacy_policy_url %>" target="_blank" class="footer-info"><%= t '#site.view_privacy_policy', 'View Privacy Policy' %></a>
      </div>
      <div class="ic-Self-enrollment-footer__Primary">
        <button class="btn btn-primary" type="submit"><%= @confirm_enrollment_url ? t("buttons.next", "Next") : t("buttons.enroll_in_course", "Enroll in Course") %></button>
      </div>
    </div>
  </div>
</form>
