<form action="<%= self_enrollment_url %>" method="post" id="enroll_form" class="form-horizontal bootstrap-form">
  <%= registration_summary || content_tag(:p, mt(:getting_started, "You are enrolling in **%{course}**.", :course => @course.name)) %>
  <p><%= mt :log_in, "Please enter your email and password:" %></p>
  <input type="hidden" name="initial_action" value="log_in">
  <div class="control-group">
    <label class="control-label" for="student_email"><%= t "labels.email", "Email" %></label>
    <div class="controls">
      <input type="text" id="student_email" name="pseudonym[unique_id]">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="student_password"><%= t "labels.password", "Password" %></label>
    <div class="controls">
      <input type="password" id="student_password" name="pseudonym[password]">
    </div>
  </div>
  <div class="control-group embedded-footer">
    <a href="<%= privacy_policy_url %>" target="_blank" class="footer-info"><%= t '#site.view_privacy_policy', 'View Privacy Policy' %></a>
    <div class="controls">
      <button class="btn btn-primary" type="submit"><%= @confirm_enrollment_url ? t("buttons.next", "Next") : t("buttons.enroll_in_course", "Enroll in Course") %></button>
    </div>
  </div>
</form>
