{{#form-dialog
  title=title
  on-submit="submit"
  height=355
  width=490
}}
<div class="student-extension-dialog">
  <h2>{{extendFor}}</h2>

  <p>
    {{#t 'you_can_give_this_student_extra_time'}}
      You can give this student extra time on the current quiz attempt.
      How much time would you like to give them?
    {{/t}}
  </p>

  <dl class="clearfix">
    <dt>{{t 'started' 'Started' }}</dt>
    <dd>{{friendlyDatetime quizSubmission.startedAt}}</dd>
    <dt>{{t 'ending' 'Ending'}}</dt>
    <dd>{{friendlyDatetime quizSubmission.endAt}}</dd>
  </dl>

  <div class="relative-time">
    <label for="extend_quiz_mins">
      {{t 'end_the_quiz' 'End the quiz'}}
    </label>
    {{numeric-field
        value=extension.extendQuizMins
        id='extend_quiz_mins'
        min=0
        max=1440
        allowDecimal=false
        allowNegative=false
        class="text"}}

    <label for="extend_from_time">
      {{t 'minutes_from' 'minutes from'}}
    </label>
    {{view Ember.Select viewName="select"
        id="extend_from_time"
        content=timeOptions
        optionValuePath="content.id"
        optionLabelPath="content.name"
        value=extension.extendFromTime}}
    <p class="note">
      {{#t 'maximum_of_1440_minutes'}}
        Maximum of 1440 minutes (24 hours)
      {{/t}}
    </p>
  </div>

</div>
{{/form-dialog}}

