{{#form-dialog
  title=studentExtensionTitle
  on-submit="submitStudentExtensions"
  height=modalHeight
  width=490
}}
<div id="student-extension-dialog" class="clearfix">
  <h2>{{extensionsFor}}</h2>

  {{#unless unlimitedAttempts}}
    <div class="field extra-attempts">
      <label for="extra_attempts">
        {{t 'extra_attempts' 'Extra attempts:'}}
        <em class="note">{{quizExtraAttemptsNote}}</em>
      </label>
      <span class="input">
        {{input type="text" id="extra_attempts" value=extension.extraAttempts class="text"}}
        <span class="units">{{t 'attempts' 'attempts'}}</span>
      </span>
    </div>
  {{/unless}}

  {{#if quiz.timeLimit}}
    <div class="field extra-time">
      <label for="extra_time">
        {{t 'extra_time_on_every_attempt' 'Extra time on every attempt:'}}
        <em class="note">{{quizExtraTimeNote}}</em>
      </label>
      <span class="input">
        {{input type="text" id="extra_time" value=extension.extraTime class="text"}}
        <span class="units">{{t 'minutes' 'minutes'}}</span>
      </span>
    </div>
  {{/if}}

  <div class="field manually-unlock">
    {{input type="checkbox" id="manually_unlocked" checked=extension.manuallyUnlocked}}
    <label for="manually_unlocked">
      {{t 'manually_unlock' 'Manually unlock the quiz for the next attempt'}}
    </label>
  </div>
</div>
{{/form-dialog}}
