<% content_for :page_title do %>Notifications<% end %>

<% content_for :right_side do %>
  <div style="margin-bottom: 20px;">
  <p>Click any notification to expand it and see the details.  You can 
  also close the notification or click the title to visit the 
  associated item's page.</p>
  <a href="#" class="expand_notifications_link expand">Expand All Notifications<br/></a>
  <a href="#" class="collapse_notifications_link collapse" style="display: none;">Collapse All Notifications<br/></a>
  <a href="<%= context_url(@context, :clear_context_notifications_url) %>" class="clear_notifications_link delete-circle">Clear All Notifications</a><br/>
  </div>
  <%= render :partial => "shared/event_list", :object => @upcoming_events, :locals => {:title => "Coming Up", :display_count => 3, :period => "the next week", :show_context => @context.is_a?(User), :upcoming => true } %>
  <%= render :partial => "shared/event_list", :object => @recent_events, :locals => {:title => "Recent", :display_count => 3, :period => "the last 2 weeks", :show_context => @context.is_a?(User) } %>
<% end %>

<% content_for :stylesheets do %>
<style>
#notification_list li.notification {
  display: block;
  margin: 10px 10px 10px 20px;
  border: 1px solid #bbb;
  -moz-border-radius: 5px;
  padding: 5px 10px;
}
#notification_list li.notification.selected {
  border-width: 2px;
}
#notification_list li.notification .links {
  float: right;
}
#notification_list li.notification .links img {
  visibility: hidden;
}
#notification_list li.notification .links.item_hover img {
  opacity: 0.5;
  visibility: visible;
}
#notification_list li.notification .links a.undelete_notification_link img {
  visibility: visible;
  opacity: 0.5;
}
#notification_list li.notification .links.hover img,
#notification_list li.notification .links.hover a.undelete_notification_link img,
#notification_list li.notification .links a:focus img {
  visibility: visible;
  opacity: 1.0;
}
#notification_list li.notification .header {
  font-weight: bold;
  float: left;
}
#notification_list li.notification .date {
  text-align: right;
  font-size: 0.8em;
  color: #aaa;
}
#notification_list li.notification .body_teaser {
  font-size: 0.8em;
  margin-left: 10px;
  display: block;
  height: 2.0em;
  overflow: hidden;
}
#notification_list li.notification .body {
  font-size: 0.8em;
  margin-left: 10px;
  display: none;
}
#notification_list li.notification_type {
  font-size: 1.2em;
  color: #444;
}
</style>
<% end %>
<% js_block do %>
<script>
function moveSelection(direction, tryReverse) {
  var $selected = $("#notification_list li.notification.selected");
  if($selected.length == 0) {
    var $first = $("#notification_list li.notification:first");
    $first.addClass('selected');
    $first.triggerHandler('click', false);
    $("html,body").scrollTo($first);
    return;
  }
  var $obj = $selected.next();
  if(direction == "up") {
    $obj = $selected.prev();
  }
  while($obj.length > 0 && $obj.filter(".notification:visible").length == 0) { //!$obj.hasClass('notification')) {
    if(direction == "up") {
      $obj = $obj.prev();
    } else {
      $obj = $obj.next();
    }
  }
  if($obj.length == 0) { $obj = $selected; }
  $selected.removeClass('selected');
  $obj.addClass('selected');
  $obj.triggerHandler('click', false);
  if($obj.filter(":visible").length == 0 && tryReverse !== false) {
    moveSelection(direction == "up" ? "down" : "up", false);
    return;
  }
  $("html,body").scrollTo($obj);
}
function toggleNotification($notification, show) {
  if(show === true || (show !== false && $notification.find('.body').css('display') == 'none')) {
    $notification.find(".body").slideDown().end()
      .find(".collapse_notification_link").show().end()
      .find(".expand_notification_link").hide();
  } else {
    $notification.find(".body").slideUp().end()
      .find(".collapse_notification_link").hide().end()
      .find(".expand_notification_link").show();
  }
}
$(document).ready(function() {
  var reMeasure = true, minScroll = 0, maxScroll = 0;
  var measure = function() {
    if(reMeasure) {
      $("#notification_list .notification:not(.to_be_dimmed):not(.dimmed):not(.saved)").each(function() {
        var top = $(this).offset().top;
        var bottom = top + $(this).height();
        if(minScroll < top && maxScroll > bottom) {
          $(this).addClass('to_be_dimmed');
          $(this).find(".delete_notification_link").triggerHandler('click', true);
        }
      });
      reMeasure = false;
    }
    setTimeout(measure, 500);
  };
  setTimeout(measure, 1500);
  $(document).add($(window)).bind('scroll', function(event) {
    var scrollTop = $.windowScrollTop();
    var windowHeight = $(window).height();
    if(scrollTop < minScroll) {
      minScroll = scrollTop;
      reMeasure = true;
    }
    if(scrollTop + windowHeight > maxScroll) {
      maxScroll = scrollTop + windowHeight;
      reMeasure = true;
    }
    
  });
  $(".expand_notifications_link").click(function(event) {
    event.preventDefault();
    $("#notification_list li").find(".expand_notification_link").click();
    $(".expand_notifications_link").hide();
    $(".collapse_notifications_link").show();
  });
  $(".collapse_notifications_link").click(function(event) {
    event.preventDefault();
    $("#notification_list li").find(".collapse_notification_link").click();
    $(".expand_notifications_link").show();
    $(".collapse_notifications_link").hide();
  });
  $("#notification_list").find("li").hover(function() {
    $(this).find(".links").addClass('item_hover');
  }, function() {
    $(this).find(".links").removeClass('item_hover');
  }).find(".links").hover(function() {
    $(this).addClass('hover');
  }, function() {
    $(this).removeClass('hover');
  });
  $(".undelete_notification_link").click(function(event) {
    event.preventDefault();
    var $li = $(this).parents("li");
    $.ajaxJSON($(this).attr('href'), 'PUT', {undelete: '1'}, function(data) {
      $li.removeClass('dimmed').addClass('saved').find(".undelete_notification_link").fadeOut();
    });
  });
  $(".delete_notification_link").bind('click', function(event, keep) { //click(function(event) {
    event.preventDefault();
    var finished = function(data) {
      if(keep) {
        $(this).addClass('dimmed').find(".undelete_notification_link").fadeIn();
      } else {
        $(this).slideUp(function() {
          if($(this).hasClass('selected')) {
            moveSelection('down');
            $(this).remove();
          }
        });
      }
    }
    $(this).parents("li").confirmDelete({
      noMessage: true,
      url: $(this).attr('href'),
      confirmed: function() { if(!keep) { $(this).dim(); } },
      success: finished,
      error: finished
    });
  });
  $(".clear_notifications_link").click(function(event) {
    event.preventDefault();
    $("#notification_list li").dim();
    var result = confirm("Clear all notifications?");
    if(!result) { return; }
    $("#notification_list").loadingImage();
    $.ajaxJSON($(this).attr('href'), 'POST', {}, function(data) {
      $("#notification_list").loadingImage('remove');
      $("#notification_list li").fadeOut(function() {
        location.href = $(".context_url").attr('href');
      });
    }, function() {
      $("#notification_list").loadingImage('remove');
      $("#notification_list li").fadeOut(function() {
        location.href = $(".context_url").attr('href');
      });
    });
  });
  $(".clear_category_notifications_link").click(function(event) {
    event.preventDefault();
    var $next = $(this).parent(".notification_type").next(".notification:visible");
    while($next.length > 0) {
      $next.find(".delete_notification_link").click();
      $next = $next.next(".notification");
    }
  });
  $(document).click(function(event) {
    if($(event.target).closest("li.notification").length == 0) {
      $("#notification_list li.notification.selected").removeClass('selected');
    }
  });
  $("li.notification").click(function(event, toggle) {
    if($(event.target).closest("a").length == 0) {
      $("#notification_list li.notification.selected").removeClass('selected');
      $(this).addClass('selected');
      if(toggle !== false) {
        toggleNotification($(this));
      }
      $(this).find(":tabbable").add($(this)).filter(":first").focus();
    }
  });
  $(".collapse_notification_link").click(function(event) {
    event.preventDefault();
    var $notification = $(this).parents("li.notification");
    toggleNotification($notification, false);
  });
  $(".expand_notification_link").click(function(event) {
    event.preventDefault();
    var $notification = $(this).parents("li.notification");
    toggleNotification($notification, true);
  });
  $(document).keycodes("j k o v c", function(event) {
    var $selected = $("#notification_list li.notification.selected");
    if($selected.length == 0) {
      var $first = $("#notification_list li.notification:first");
      $first.addClass('selected');
      $first.triggerHandler('click', false);
      $("html,body").scrollTo($first);
      return;
    }
    if(event.keyString == "j") {
      moveSelection('down');
    } else if(event.keyString == "k") {
      moveSelection('up');
    } else if(event.keyString == "o") {
      toggleNotification($selected);
    } else if(event.keyString == "v") {
      location.href = $selected.find(".header_link").attr('href');
    } else if(event.keyString == "c") {
      $selected.find(".delete_notification_link").click();
    }
  });
  $(document).keycodes("shift+o", function(event) {
    $(".expand_notifications_link,.collapse_notifications_link").filter(":visible:first").click();
  }).keycodes("shift+c", function(event) {
    $(".clear_notifications_link").click();
  });;
});
</script>
<% end %>
<h2>Notifications</h2>
<ul id="notification_list" class="unstyled_list">
  <% if @message_types.empty? %>
    <li class="notification_type">No Notifications</li>
  <% end %>
  <% @message_types.each do |message_type, messages| %>
    <li class="notification_type">
      <div style="float: left;">
        <a name="<%= slugify(message_type).pluralize %>">
          <%= image_tag "#{slugify(message_type)}_icon.png" %> <%= message_type %> Notifications
        </a>
      </div>
      <a href="#" class="clear_category_notifications_link" style="float: right; padding-right: 10px; font-size: 0.6em; padding-top: 0.8em;">Clear All</a>
      <div class="clear"></div>
    </li>
    <% messages.each do |message| %>
      <li class="notification">
        <% body, *links = format_message(message.body, message.url, message.id) %>
        <div class="header">
          <a href="<%= links[0] %>" class="header_link">
          <%= image_tag "#{slugify(message_type)}_icon.png" %>
          <%= message.subject %>
          </a>
        </div>
        <div class="links">
          <span class="hidden_links">
          <a class="collapse_notification_link no-hover" style="display: none;" href="#" title="Collapse"><%= image_tag "collapse.png" %></a>
          <a class="expand_notification_link no-hover" href="#" title="Expand"><%= image_tag "expand.png" %></a>
          <a style="padding-left: 10px;" class="delete_notification_link no-hover" href="<%= context_url(@context, :context_notification_url, message.id) %>" title="Clear Notification"><%= image_tag "delete_circle.png" %></a>
          </span>
          <a class="undelete_notification_link no-hover" href="<%= context_url(@context, :context_notification_url, message.id) %>" style="display: none;" title="This message is marked as read and will be cleared.  Click to undo."><%= image_tag "check.png" %></a>
        </div>
        <div class="clear"></div>
        <div class="body"><%= body %></div>
        <div class="date">
          <%= datetime_string(message.created_at) %>
        </div>
        <div class="clear"></div>
      </li>
    <% end %>
  <% end %>
</ul>
<a href="<%= @context.is_a?(User) ? dashboard_url : context_url(@context, :context_url) %>" class="context_url" style="display: none;">&nbsp;</a>