<% js_bundle 'legacy/add_group_category' %>
<%= form_tag context_url(@context, :context_group_categories_url), {:id => "add_category_form", :style => "display: none;"} do %>
  <table>
    <tr>
      <td style="vertical-align: top; padding: 0.5em;"><%= before_label :name_for_groups, "Name for Groups" %></td>
      <td style="padding: 0.5em;"><input type="text" name="category[name]" maxlength="255" value="<%= t :default_name_for_groups, "Project Groups" %>"/></td>
    </tr>
    <% if @context.is_a?(Account) %>
      <input type="hidden" name="category[split_groups]" value="0">
      <input type="hidden" name="category[enable_self_signup]" value="0"/>
    <% else %>
      <tr>
        <td style="vertical-align: top; padding: 0.5em;"><%= before_label :self_signup, "Self Sign-Up" %></td>
        <td style="padding: 0.5em;">
          <label class="checkbox">
            <input type="checkbox" name="category[enable_self_signup]" id="category_enable_self_signup" value="1" />
            <%= t :allow_self_signup, "Allow self sign-up" %>
          </label>
          <%= link_to(image_tag('help.png'), '#', :class => 'self_signup_help_link no-hover',
                      :title => t(:self_signup_help_tooltip, "What Are Self Sign-Up Groups?")) %>
          <br/>
          <label class="checkbox">
            <input type="checkbox" name="category[restrict_self_signup]" id="category_restrict_self_signup" value="1" disabled />
            <%= t :restricted_self_signup, "Require group members to be in the same section" %>
          </label>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; padding: 0.5em;"><%= before_label :group_structure, "Group Structure" %></td>
        <td style="padding: 0.5em;">
          <div id="group_structure_standard_subcontainer">
            <input type="radio" name="category[split_groups]" id="category_split_groups" value="1"/>
            <%= t :group_structure_standard, "*Split students into* %{number_of_groups} *equal groups*",
              :number_of_groups => '<input type="text" name="category[split_group_count]" id="category_split_group_count" style="width: 25px; margin: 0;"/>'.html_safe,
              :wrapper => '<label for="category_split_groups" style="vertical-align: -4px">\1</label>' %><br/>
            <input type="radio" name="category[split_groups]" id="category_no_groups" value="0" checked="true"/>
            <label for="category_no_groups"><%= t 'labels.manually_create_groups', "I'll create groups manually" %></label>
          </div>
          <div id="group_structure_self_signup_subcontainer" style="display:none;">
            <%= t :group_structure_self_signup, "*Create* %{number_of_groups} *groups now*",
              :number_of_groups => '<input type="text" name="category[create_group_count]" id="category_create_group_count" value="0" style="width: 25px;"/>'.html_safe,
              :wrapper => '<label for="category_create_group_count">\1</label>' %><br/>
            <%= t :group_structure_group_limit, "*Limit groups to* %{group_limit} members",
              :group_limit => '<input type="number" name="category[group_limit]" id="category_group_limit" class="input-mini">'.html_safe,
              :wrapper => '<label for="category_group_limit">\1</label>' %>
            <small class="muted"><%= t :group_limit_blank, '(leave blank for no limit)' %></small>
          </div>
        </td>
      </tr>
    <% end %>
    <% hidden_dialog("self_signup_help_dialog") do %>
        <%= mt(:self_signup_help_message, <<-TEXT)
You can create sets of groups where students can sign up on their own.
Students are still limited to being in only one group in the set, but this way
students can organize themselves into groups instead of needing the teacher to
do the work. You can also require that group members all be part of the same
course section.

Keep in mind, students can move themselves from one group to another, so when
your students are done organizing themselves you may want to disable self
sign-ups.
TEXT
        %>
    <% end %>
    <tr>
      <td colspan="2" class="button-container-right-aligned" style="padding: 0.5em;">
        <button type="submit" class="btn btn-primary submit_button"><%= t 'buttons.create_category', "Create Category" %></button>
      </td>
    </tr>
  </table>
<% end %>
