<% group = group_detailed || nil %>
<li class="group">
  <span class="name"><%= group.name %></span>
  <a class="link" href="<%= context_url(@context, :context_group_url, group.id, :join => 1) %>">
    <% if group.auto_accept?(@current_user) %>
      <%= t 'actions.join_group', 'join this group' %>
    <% else %>
      <%= t 'actions.ask_to_join_group', 'ask to join this group' %>
    <% end %>
  </a>
  <div class="members">
    <%= t :member, 'member', :count => group.participating_users.length %>
  </div>
</li>