<% secondary_category ||= nil %>
<% category = secondary_category || nil %>
<div id="sidebar_category_<%= category ? category.id : 'blank' %>" class="sidebar_category">
  <h3 style="margin: 0;" class="category"><%= category && category.name %></h3>
  <ul class="unstyled_list" style="margin-bottom: 10px; margin-left: 10px;">
  <% @groups.select{|g| g.group_category == category}.each do |group| %>
    <li id="sidebar_group_<%= group.id %>"><a href="<%= group_url(group) %>"><%= group.name %></a></li>
  <% end %>
  </ul>
</div>
<% unless category %>
<ul style="display: none;">
  <li id="sidebar_group_blank"><a class="name" href="<%= group_url("{{ id }}") %>">&nbsp;</a></li>
</ul>
<% end %>
