<% student ||= nil %>
<% sections = student && student.sections_for_course(@context) %>
<li class="student user_<%= student ? student.id : "blank" %>" title="<%= t :drag_drop_instructions, "Click and Drag to move student to another group" %>">
  <div class="name"><%= student.last_name_first rescue "" %></div>
  <div class="section_code"><%= sections ? sections.map { |s| s.section_code }.join(", ") : "" %></div>
  <div style="display: none;" class="data">
    <% student && @memberships.select{|m| m.user_id == student.id}.each do |membership| %>
      <% next unless category = membership.group && membership.group.group_category %>
      <span class="category_<%= category.id %>_group_id"><%= membership.group.id %></span>
    <% end %>
    <span class="user_id"><%= student ? student.id : nbsp %></span>
    <span class="section_id"><%= sections ? sections.map { |s| s.id }.join(",") : "" %></span>
  </div>
</li>
