<% content_for :page_title do %><%= join_title (@context.is_a?(Account) ? t(:page_title_accounts, 'Account Groups') : t(:page_title, 'Course Groups')), @context.name %><% end %>
<% if @domain_root_account.enable_manage_groups2? %>
  <% js_bundle :manage_groups2 %>
<% else %>
  <% content_for :right_side do %>
    <div class="rs-margin-lr rs-margin-top">
      <% if @context.is_a?(Course) && !@context.students.empty? || @context.is_a?(Account) %>
          <a href="#" class="add_category_link btn button-sidebar-wide"><i class="icon-group-new"></i> <%= t 'buttons.add_group', 'Make a New Set of Groups' %></a>
      <% end %>
      <a href="<%= context_url(@context, :context_users_url) %>" class="btn button-sidebar-wide"><i class="icon-user"></i>  <%= @context.is_a?(Account) ? t('#buttons.view_account_roster', 'View Account Roster') : t('#buttons.view_course_roster', 'View Course Roster') %></a>
    </div>
    <h2 id="category_header" style="margin-top: 10px;<%= hidden if !@categories || @categories.empty? %>"><%= t :group_pages, "Group Pages" %></h2>
    <div class="rs-margin-lr">
      <%= render :partial => 'secondary_category', :collection => @categories %>
      <%= render :partial => 'secondary_category', :object => nil %>
    </div>
  <% end %>
  <% content_for :stylesheets do %>
  <style>
  #group_tabs .group_category {
    position: relative;
    height: 300px;
  }
  #group_tabs .left_side {
    position: relative;
    overflow: auto;
    height: 200px;
    margin-right: 5px;
  }
  #group_tabs .right_side {
    position: relative;
    overflow: auto;
    height: 200px;
    margin-left: 5px;
  }
  #group_tabs .group_category > .group {
    width: 45%;
    float: left;
    clear: left;
  }

  #group_tabs .group_category .group {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  #group_tabs .group_category .group .load-more {
    background: #DDD;
  }

  #group_tabs .group_category .group .inner-wrapper {
    padding: 5px;
  }

  #group_tabs .group_category .category_header {
    text-align: left; 
    -moz-border-radius: 5px;
    padding: 5px;
    margin-bottom: 1em; 
  }
  #group_tabs .group_category .category_header .category_name {
    font-weight: bold;
  }
  #group_tabs .group_category .category_header .links {
    float: right;
    clear: right;
  }
  #group_tabs .group_category.editing .category_header {
    display: none;
  }
  #group_tabs .group_category .group h3 {
    
  }
  #group_tabs .group_category .group.editing .links,
  #group_tabs .group_category .group.editing .group_name {
    display: none;
  }
  #group_tabs .group_category .right_side {
    float: right;
    width: 45%;
  }
  #group_tabs h3 {
    margin-bottom: 0.4em;
  }
  #group_tabs .group_category .group_blank {
    width: auto;
  }
  #group_tabs .group_category .group_blank .links a {
    display: none;
  }
  #group_tabs .group_category .group_blank .links a.blank_link {
    display: inline;
  }
  #group_tabs .group_category .group .group_user_count {
    font-size: 0.8em; 
    margin-left: 10px; 
    line-height: 1.0em;
    padding-bottom: 2px;
    float: right;
    clear: right;
  }
  #group_tabs .group_category .group.editing .group_user_count {
    display: none;
  }
  #group_tabs .group_category .group .links {
    float: right;
    clear: right;
    visibility: hidden;
  }
  #group_tabs .group_category .group.group-hover .links {
    visibility: visible;
  }
  #group_tabs .group_category .group.group-hover.editing .links {
    visibility: hidden;
  }
  #group_tabs .group_category .group .student_list {
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    max-height: 300px;
    overflow: auto;
    clear: both;
  }
  #group_tabs .group_category .group.hover {
    border: 2px dashed #aaa;
    min-height: 30px;
  }
  a.load_members_link, .loading_members {
    text-align: center;
    width: 100%;
    display: block;
    clear: both;
  }
  .student {
    background-color: #fff;
    list-style-type: none;
    cursor: move;
    padding: 2px 5px;
  }
  .student .name {
    margin-bottom: -2px;
  }
  .student .section_code {
    margin-left: 1.5em;
    margin-top: -2px;
    font-size: 0.9em;
    color: #888;
  }
  .student:hover, .student.dragging {
    background-color: #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  </style>
  <% end %>

  <% js_bundle :manage_groups %>

  <% if @context.is_a?(Course) && @context.students.empty? %>
    <div style="text-align: center;" id="no_students_message">
      <%= t 'messages.no_students', 'No students have been added for this course' %>
      <% if can_do @context, @current_user, :manage_students %>
        <div style="margin: 20px; font-size: 1.2em;">
          <a href="<%= course_users_path(course_id: @context) %>" style="padding-left: 20px;"><%= t 'actions.add_students', 'Add Students to the Course' %></a>
        </div>
      <% end %>
    </div>
  <% else %>
    <% js_env :add_user_url                => group_add_user_url("{{ id }}"),
              :remove_user_url             => group_remove_user_url("{{ id }}", "{{ user_id }}"),
              :list_users_url              => group_members_url("{{ id }}") ,
              :list_unassigned_users_url   => context_url(@context, :context_group_unassigned_members_url),
              :assign_unassigned_users_url => api_v1_group_category_assign_unassigned_members_url(:group_category_id => "{{ category_id }}"),
              :add_group_url               => context_url(@context, :context_groups_url) %>

    <div id="tabs_loading_wrapper" style="display: none;">
      <div style="text-align: left; <%= hidden unless @categories.empty? %>" id="no_groups_message">
        <% if @context.is_a?(Account) %>
          <h2><%= t 'headings.account_groups', "Account-level Student Groups" %></h2>
          <p><%= t 'account_group_explanation', <<-TEXT
          Account-level student groups are a good way to group students without being
          tied to a specific course. Every student group gets their own calendar, discussion 
          board and collaboration tools so they can organize themselves and work together
          more effectively.
          TEXT
          %></p>
        <% else %>
          <h2><%= t 'headings.course_groups', "Student Groups" %></h2>
          <p><%= t 'course_group_explanation', <<-TEXT
          Student groups are a useful way to organize students for things like group projects or 
          papers.  Every student group gets their own calendar, discussion board and collaboration
          tools so they can organize themselves and work together more effectively.
          TEXT
          %></p>
    
          <p><%= t 'group_assignment_instructions', <<-TEXT
          You can randomly assign students to groups of a specific size, or manually
          create and organize the groups.  Once your groups are created, you can set assignments
          to be "group submission" assignments, which means each group will have one submission for
          all users of that group.
          TEXT
          %></p>
        <% end %>
    
        <p><%= t "get_started_info", "To get started, click the \"Make a New Set of Groups\" link to the right." %></p>
      </div>
      <div id="group_tabs" style="<%= hidden if @categories.empty? %>;">
        <ul id="category_list">
          <% @categories.each do |category| %>
            <li class="category <%= 'student_organized' if category.student_organized? %>"><a href="#category_<%= category.id %>"><%= category.name %></a></li>
          <% end %>
        </ul>
        <%= render :partial => "category", :collection => @categories %>
      </div>
    </div>

    <ul style="display: none;">
      <li class="student user_template" title="<%= t :drag_and_drop_instructions, "Click and drag to move student to another group." %>">
        <div class="name"></div>
        <div class="section_code"></div>
        <div style="display: none;" class="data">
          <span class="user_id"></span>
          <span class="section_id"></span>
        </div>
      </li>
    </ul>

    <%= form_for [@context, Group.new], :html => {:id => "edit_group_form", :style => "display: none;"} do |f| %>
      <%= f.text_field :name, :style => "width: 95%;" %>
      <div style="font-size: 0.8em; margin: 4px 10px; float: left; display: none;">
        <%= f.text_field :max_membership, :style => "width: 25px;" %> users or less
      </div>
      <div class="button-container">
        <button type="submit" style="margin-left: 3px;" class="pull-right btn btn-small btn-primary"><%= t '#buttons.update', 'Update' %></button>
        <button type="button" class="pull-right btn button-secondary btn-small cancel_button"><%= t '#buttons.cancel', 'Cancel' %></button>
      </div>
      <div class="clear"></div>
    <% end %>
    <div style="display: none;">
      <%= render :partial => "category", :object => nil %>
    </div>
    <%= render :partial => "groups/add_group_category" %>
    <%= render :partial => "groups/edit_group_category" %>
  <% end %>
<% end %>
