<%
  js_bundle :group_settings
%>
<% content_for :page_title do %><%= join_title t(:group_settings_title, "%{group_name} Settings", :group_name => @group.name), @context.full_name %><% end %>

<div class="container v-gutter">
  <div class="row">
    <div class="span5">
      <%= form_for :group, :url => context_url(@context, :context_url), :html => {:method => :put} do |f| %>
        <%= hidden_field_tag :return_to, params[:return_to] %>

        <%= f.blabel :name, :en => "Title" %>
        <%= f.text_field :name %>

        <%= f.blabel :description, :en => "Description" %>
        <%= f.text_area :description, :rows => 5 %>

        <%= f.blabel :join_level, :en => "Join Permissions" %>
        <%= f.collection_select :join_level, Group.join_levels, :first, :last %>

        <label class="checkbox" for="group_is_public">
          <%= f.check_box :is_public %> <%= t 'is_public', 'This is a public group' %>
        </label>

        <div class="button-container">
          <button type="submit" class="btn"><%= t 'buttons.update', 'Update Group' %></button>
          <a href="<%= context_url(@context, :context_url) %>" class="btn btn button-secondary"><%= t '#buttons.cancel', 'Cancel' %></a>
        </div>
      <% end %>
    </div>

    <div class="span4 offset1">
      <p>
        <%= image_tag group_avatar_url(@group), :class => 'avatar' %>
        <a href="#" class="change_group_pic">Change avatar</a>
      </p>
      <%= form_tag api_v1_group_url(@group), :method => 'PUT', :class => 'group_avatar_form' do %>
        <p><input type="file" name="avatar" class="avatar_file"></p>
        <p><button type="submit" class="btn btn-small">Change</button>
        <%= link_to "Cancel", "#", :class => "cancel_avatar" %></p>
      <% end %>

      <%= form_tag "/api/v1/groups/#{@group.id}/invite", :class => 'invite_form v-gutter' do %>
        <label for=invite_email>Invite someone to canvas to join this group
          <input type=text name=email type=email id=invite_email placeholder="E-Mail Address">
        </label>
        <button type=submit class="btn btn-small">Invite</button>
      <% end %>
    </div>
  </div>
</div>
