<% content_for :page_title do %><%= t '#crumbs.groups', 'Groups' %><% end %>
<% add_crumb t('#crumbs.groups', 'Groups') %>

<% content_for :right_side do %>
<% end %>

<% jammit_css :context_list %>

<h2><%= t :heading_current_groups, 'Current Groups' %></h2>
<%= t(:no_groups, "No Groups") if @groups.empty? %>
<ul class="context_list">
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, group_path(group) %>
      <span class="subtitle"><%= group.context.name %></span>
      <% if group.context_type == 'Course' && !group.context.enrollment_term.default_term? %>
        <span class="subtitle"><%= group.context.enrollment_term.name %></span>
      <% end %>
    </li>
  <% end %>
</ul>
