<% content_for :page_title do %><%= join_title @group.name, @context.full_name %><% end %>
<% jammit_css :dashboard %>
<% js_bundle :dashboard %>
<%  @active_tab = "home" %>
<% content_for :auto_discovery do %>
  <% if @context_membership %>
    <%= auto_discovery_link_tag(:atom, feeds_group_format_url(@context_membership.feed_code, :atom), {:title => t('group_atom_feed', "Group Atom Feed")}) %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_group_format_url(@context.feed_code, :atom), {:title => t('group_atom_feed', "Group Atom Feed")}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>

  <% if can_do(@context, @current_user, :update) %>
    <div>
      <a href="#" id="edit_group">
        <i class="icon-edit"></i>
        <%= t 'edit_group',"Edit Group" %>
      </a>
    </div>
  <% end %>
  <% if can_do(@context.announcements.scoped.new, @current_user, :create) %>
    <div><a href="<%= group_announcements_path(@context) %>#new" class='add'><%= t 'new_announcement', "New Announcement" %></a></div>
  <% end %>
  <% locals = {:title => t('coming_up', "Coming Up"), :contexts_to_link_to => @context, :upcoming => true, :period => :one_week} %>
  <% if @current_user %>
    <% cache([@current_user, @context, 'group_upcoming_events' ]) do %>
      <%= render :partial => "shared/event_list", :object => @current_user.upcoming_events(:contexts => @context), :locals => locals %>
    <% end %>
  <% else %>
    <%= render :partial => "shared/event_list", :object => [], :locals => locals %>
  <% end %>
<% end %>

<div id="group_messages">
  <%= render :partial => 'shared/dashboard_messages' %>
  <%= render :partial => 'shared/recent_activity' %>
</div>

<% js_bundle :student_group_dialog %>
<% js_env({
  :student_mode => true,
  :group => @group.as_json[:group],
  :group_category => @group.group_category.try(:[], :group_category)
})%>
