<% notification = account_notification %>
<div class="communication_message dashboard_notification alert">
  <div class="header">
    <a class="close_notification_link close" href="#" rel="<%= dashboard_close_notification_path(notification.id) %>" title="<%= t :close, 'close' %>">×</a>
    <div class="header_title">
      <%= image_tag "#{notification.icon || 'warning'}.png", :class => "header_icon", :style => "padding: 0" %>
      <span class="title subject"><%= notification.subject %></span>
    </div>
    <div style="clear: left;"></div>
  </div>
  <div style="" class="content">
    <div class="message user_content">
      <%= user_content(notification.message) %>
    </div>
    <div class="clear"></div>
  </div>
</div>
