<table class="formtable registration_table">
  <tr>
    <td><%= form.blabel :name, :en => "Name" %></td>
    <td><%= text_field :user, :name %></td>
  </tr><tr>
    <td><%= form.blabel :unique_id, :en => "Email Address" %></td>
    <td><%= form.text_field :unique_id, :value => @pseudonym.try(:unique_id) %></td>
  </tr><tr>
    <td><%= form.blabel :school_name, :en => "School/Institution" %></td>
    <td><%= text_field :user, :school_name %></td>
  </tr><tr>
    <td><%= form.blabel :school_position, :en => "Position at School" %><br/><span style="font-size: 0.8em; padding-left: 10px;"><%= t('including_department', '(including dept)') %></span></td>
    <td style="vertical-align: top;"><%= text_field :user, :school_position %></td>
  </tr><tr>
    <td><%= form.blabel :phone, :en => "Phone Number" %><br/><span style="font-size: 0.8em; padding-left: 10px;"><%= t('optional', '(optional)') %></span></td>
    <td style="vertical-align: top;"><%= text_field :user, :phone %></td>
  </tr><tr>
    <td style="padding-top: 30px;"><%= form.blabel :time_zone, :en => "Time Zone" %></td>
    <td style="padding-top: 30px;"><%= time_zone_select :user, :time_zone, ActiveSupport::TimeZone.us_zones, :default => ((@domain_root_account && @domain_root_account.default_time_zone) || "Mountain Time (US & Canada)") %></td>
  </tr><tr>
    <% if form.object.new_record? %>
      <td><%= form.blabel :password, :en => "Password" %></td>
    <% else %>
      <td><%= form.blabel :password, :change_password, :en => "Change password" %></td>
    <% end %>
    <td><%= form.password_field :password, :style => "width: 150px;" %></td>
  </tr><tr>
    <td><%= form.blabel :password_confirmation, :en => "Confirm Password" %></td>
    <td><%= form.password_field :password_confirmation, :style => "width: 150px;" %></td>
  </tr><tr>
    <td colspan="2" style="padding-top: 20px;"><button type="submit" class="btn"><%= t('buttons.register', 'Register') %></button></td>
  </tr>
</table>