<% content_for :page_title do %><%= t('titles.confirm_user_merge', 'Confirm Merge User Accounts') %><% end %>

<% content_for :page_header do %>
  <h1><%= t('titles.confirm_user_merge', 'Confirm Merge User Accounts') %></h1>
<% end %>

<% content_for :page_subhead do %>
  <h2><%= t('users_to_merge', '%{first_user} and %{second_user}', :first_user => @current_user.name, :second_user => @user.name) %></h2>
<% end %>

<div style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 10px;">
  <h2><%= t('titles.really_merge', 'Really Merge User Accounts?') %></h2>
  <p><strong><%= t('no_undo_for_merge', "This process cannot be undone, so please make sure you're certain before you continue.") %></strong></p>
  <p>
    <%= t('merge_result_explanation', "Are you sure you want to merge the account, %{user_name}
      (%{user_email}) into this account, %{current_user_name} (%{current_user_email})?", 
            :user_name => @user.name, :user_email => @user.email,
            :current_user_name => @current_user.name, :current_user_email => @current_user.email) %>
  </p>
  <% form_tag :url => user_merge_path(@user), :html => {:method => :post} do %>
    <div class="button-container">
      <button type="submit" class="button"><%= t('buttons.merge_user_accounts', 'Merge User Accounts') %></button>
      <a href="<%= user_profile_path(@current_user) %>" class="button button-secondary"><%= t('#buttons.cancel', 'Cancel') %></a>
    </div>
  <% end %>
  <%= t('login_to_merge_different_account', 'To merge the account, %{current_user_name} 
  (%{current_user_email}) into another account, please log in to the new account:',
      :current_user_name => @current_user.name, :current_user_email => @current_user.email) %>
  <%= render 'shared/login' %>
</div>
