<%
# Copyright (C) 2013 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%# Customer-brandable dashboard right-sidebar logo %>
<% if brand_variable("ic-brand-right-sidebar-logo") != "" %>
<div class="ic-sidebar-logo">
  <%= image_tag(brand_variable("ic-brand-right-sidebar-logo"), :class => "ic-sidebar-logo__image", :alt => "Canvas by Instructure") %>
</div>
<% end %>
<%# Use the legacy to do list for non-students until it works for those roles %>
<% if planner_enabled? && !@current_user.non_student_enrollment? %>
  <div class="Sidebar__TodoListContainer"></div>
<% else %>
  <%= render :partial => 'courses/to_do_list', :locals => {:contexts => nil, :show_legacy_todo_list => true} %>
<% end %>
<% locals = {
    :title => t('coming_up', "Coming Up"),
    :period => :one_week,
    :show_context => true,
    :upcoming => true
  }
%>
<%= render :partial => "shared/event_list", :object => @upcoming_events, :locals => locals %>
<% if @show_recent_feedback %>
<%= render :partial => "shared/event_list", :object => @recent_feedback, :locals => {:title => t('recent_feedback', "Recent Feedback"), :period => :two_weeks, :show_context => true, :is_recent_feedback => true} %>
<% end %>
<div>
  <% if show_user_create_course_button(@current_user) %>
    <button type="button"
            id="start_new_course"
            class="element_toggler btn button-sidebar-wide"
            aria-controls="new_course_form"><%= t('start_new_course', 'Start a New Course') %></button>
    <%= render :partial => 'shared/new_course_form' %>
  <% end %>

  <a href="<%= grades_path %>" class="Button button-sidebar-wide">
  <%= t('View Grades') %>
  </a>
</div>
