<%# Customer-brandable dashboard right-sidebar logo %>
<% if brand_variable("ic-brand-right-sidebar-logo") != "" %>
<div class="ic-sidebar-logo">
  <%= image_tag(brand_variable("ic-brand-right-sidebar-logo"), :class => "ic-sidebar-logo__image", :alt => "Canvas by Instructure") %>
</div>
<% end %>

<%= render :partial => 'courses/to_do_list', :locals => {:contexts => nil} %>
<% locals = {
    :title => t('coming_up', "Coming Up"),
    :period => :one_week,
    :show_context => true,
    :upcoming => true
  }
%>
<%= render :partial => "shared/event_list", :object => @upcoming_events, :locals => locals %>
<% if @show_recent_feedback %>
<%= render :partial => "shared/event_list", :object => @recent_feedback, :locals => {:title => t('recent_feedback', "Recent Feedback"), :period => :two_weeks, :show_context => true, :is_recent_feedback => true} %>
<% end %>
<div class="rs-margin-lr">
  <% if show_user_create_course_button(@current_user) %>
    <button type="button"
            id="start_new_course"
            class="element_toggler btn button-sidebar-wide"
            aria-controls="new_course_form"><%= t('start_new_course', 'Start a New Course') %></button>
    <%= render :partial => 'shared/new_course_form' %>
  <% end %>

  <a href="<%= grades_path %>" class="Button button-sidebar-wide">
  <%= t('View Grades') %>
  </a>
</div>
