<% content_for :page_title do %><%= t('titles.merge_accounts', 'Merge User Accounts') %><% end %>

<div style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 10px;">
  <h2><%= t('titles.merge_accounts', 'Merge User Accounts') %></h2>
  <p><%= t('merge_definition', "For one reason or another you may end up with two logins instead of just
  one.  If that happens, you can merge the two logins together and consolidate
  the information from them.") %></p>
  <p>
    <%= t('login_to_merge_different_account', 'To merge the account, %{current_user_name} 
  (%{current_user_email}) into another account, please log in to the new account:',
      :current_user_name => @current_user.name, :current_user_email => @current_user.email) %>
  <%= render 'shared/login' %>
  </p>
</div>
