<% 
  jammit_css :login
  @headers = false
  @body_classes << "modal" if @body_classes
  content_for :page_title, t('register_as_teacher', "Register as a Teacher")
  @errors = [] 
  [@user, @pseudonym].each do |obj|
    obj.errors.full_messages.each do |m| 
      if !["Pseudonyms is invalid"].include?(m) 
        @errors << m.gsub("Unique", "Login")
      end
    end
  end
%>
<% js_block do %>
<script type="text/javascript">
require([
  'i18nObj' /* I18n.t */,
  'jquery' /* $ */,
  'jquery.fancyplaceholder' /* fancyPlaceholder */,
  'jquery.instructure_forms' /* getFormData, formErrors */,
  'jquery.rails_flash_notifications' /* flashError */
], function(I18n, $) {

$(function(){
  $(".field-with-fancyplaceholder input").fancyPlaceholder();
  var $form = $("#register_form");
  $form.find(':text:first').focus();
  $form.submit(function(event) {
    var data = $form.getFormData({object_name: 'pseudonym'}),
        success = true;
    
    if(!data['user[name]']) {
      $form.formErrors({
        'user[name]': <%= jt("username_required", "User name is required") %>
      });
      success = false;
    } 
    if(!data.unique_id || !data.unique_id.length || data.unique_id.length < 3 || !data.unique_id.match(/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,10}$/i)) {
      $form.formErrors({
        unique_id: <%= jt("invalid_email", "Invalid Email Address") %>
      });
      success = false;
    } 
    return success;
  });
  var errors = <%= raw(@errors.join(', ').to_json) %>;
  if (errors) {
    $.flashError(<%= jt("problems_with_fields", 'There were problems with the following fields: %{errors}', '{errors: errors}') %>);
  }
});
});
</script>
<% end %>
<div id="modal-box-top"></div>
<div id="modal-box-arbitrary-size">
  <div style="margin: 30px 80px 0; position: relative;">
    <h2><%= t('register_for_new_account', 'Register for a new account') %></h2>
    <% form_for @pseudonym, :url => users_path, :html => {:id => "register_form", :method => :post} do |form|  %>
      <table>
        <tr>
          <td colspan="2">
            <input type="hidden" name="new_teacher" value="1"/>
            <span class="field-with-fancyplaceholder"><%= label :user, :name, t('your_name', "Your name") %><%= text_field :user, :name, :class => "text" %></span>
            <span class="field-with-fancyplaceholder"><%= form.label :unique_id, t('email_address', "Email address") %><%= form.text_field :unique_id, :class => "text", :value => @pseudonym.try(:unique_id) %></span>
          </td>
        </tr>
        <% Canvas::Plugin.all_for_tag('registration_form').each do |plugin| %>
          <%= render :partial => plugin.settings[:registration_partial] %>
        <% end %>
        <tr>
          <td colspan="2">
            <button type="submit" class="button"><%= t('buttons.register', 'Register') %></button>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
<div id="modal-box-bottom"></div>
