<% 
  css_bundle :login
  @headers = false
  @body_classes << "modal" if @body_classes
  content_for :page_title, t('registration_complete', "Registration Complete")
%>
<% js_bundle 'legacy/users_registered' %>
<% js_block do %>
  <!-- Google Code for New Teacher Signup Conversion Page -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1016624328;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "WYEpCIj-0QEQyOnh5AM";
    var google_conversion_value = 0;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<% end %>

<div id="modal-box">
  <div style="margin: 55px 17px 0 45px; position: relative;">
    <h2><%= t('almost_there', "You're almost there...") %></h2>
    <% if @user.workflow_state == 'pending_approval' %>
      <%= render :partial => 'users/pending_approval' %>
    <% else %>
      <p><%= t('sent_email_paragraph', 
               "We sent an email to %{email_address}. *Click the link in the email to finish registering*. If you don't see it,
               **click to re-send the email**, and make sure to check your spam box.", 
               :email_address => @email_address, 
               :wrapper => {
                       '*' => '<b style="font-size: 1.1em;">\1</b>',
                       '**' => "<a href=\"#{re_send_confirmation_path(@cc.user_id, @cc.id)}\" class=\"re_send_confirmation_link\">\\1</a>"
               }) %></p>
    <% end %>
    <div style="margin-top:2em">
      <a href="#" id="play_overview_video_link"><%= image_tag("play_button.png", :alt => "Play overview video") %></a>
      <h3><%= t('while_you_wait', "While you're waiting...") %></h3>
      <p>
        <%= t('invite_to_read', 
              "We invite you to watch this brief overview of Canvas.  You may also *read about how Canvas is helping* to bring students in 27 countries closer to lecture halls, instructors and classmates.", 
              :wrapper => '<a href="http://www.instructure.com/images/case_study_byuh.pdf" title="' + h(t('links.download_pdf', 'download PDF')) + '" class="not_external">\1</a>') %>
      </p> 
    </div>
  </div>
</div>
<div id="video_wrapper" style="padding:0; overflow: hidden; display:none;">
  <div id="youtube_player">
    <%= t('need_flash', 'You need Flash player 8+ and JavaScript enabled to view this video.') %>
  </div>
</div>
<% content_for :stylesheets do %>
  <style type="text/css" media="screen">
    #play_overview_video_link{
      display: block;
      float: left;
      margin-right: 1em;
      background: url("/images/overview_video_thumbnail.png") no-repeat;
      width: 211px;
      height: 134px;
      border: 1px solid #999;
    }
    #play_overview_video_link img{
      opacity: 0.6;
      filter:alpha(opacity=60);
    }
    #play_overview_video_link:hover img, #play_overview_video_link:focus img{
      opacity: 0.9;
      -moz-opacity: 0.9;
      filter:alpha(opacity=90);
    }
    
  </style>
<% end %>
