<% content_for :page_title do %><%= @messages_view_header %><% end %>

<% add_crumb t('crumbs.sent_messages', "Sent Messages") %>

<% jammit_js :context_messages %>
<h2 id="messages_view" style="float: left;"><%= @messages_view_header %></h2>
<div class="clear"></div>

<div id="message_list" class="communication_messages_list">
  <div class="no_messages" style="<%= hidden unless @messages.empty? %>">
    <%= t('no_sent_messages', 'No sent messages') %>
  </div>
  <% @messages.each do |message| %>
    <%= render :partial => 'context/context_message', :object => message, :locals => {:show_mark_as_read => true} %>
  <% end %>
  <% @all_message_contexts.each do |context| %>
    <%= render :partial => 'context/context_message', :object => nil, :locals => {:context => context, :show_mark_as_read => true} %>
  <% end %>
  <%= will_paginate(@messages) %>
</div>
<% js_block :i18n_scope => "users.sent_messages" do %>
  <script type="text/javascript">
    $(function(){
      url = "<%= user_sent_messages_url(@context, :format => :json) %>";
      $('#message_list').pageless({
        totalPages: <%= @messages.total_pages %>,
        url: url,
        params: { 'view': $.queryParam("view") },
        loaderMsg: I18n.t("loading_more_results", "Loading more results"),
        scrape: function(data) {
            if(typeof(data) == 'string') {
              try {
                data = JSON.parse(data);
              } catch(e) {
                data = [];
              }
            }
            for(var idx in data) {
              var $message = messages.updateMessage(null, data[idx]);
            }
          return "";
        }
      });
    });
  </script>
<% end %>

