<% content_for :page_title do %><%= t('user_dashboard', 'User Dashboard') %><% end %>
<% css_bundle :dashboard %>
<% js_bundle :dashboard %>

<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_user_format_path(@current_user.feed_code, :atom), {:title => t('user_atom_feed', "User Atom Feed (All Courses)")}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <div class="placeholder"></div>
<% end %>

<div id="dashboard">
  <%= render :partial => 'shared/dashboard_invitation', :collection => @pending_invitations %>
  <%= render :partial => 'shared/dashboard_messages' %>

  <div class="ic-Dashboard-header">
    <div class="grid-row bottom-xs">
    <div class="col-xs-9">
      <h1 class="ic-Dashboard-header_title"><%= t :dashboard, "Dashboard" %></h1>
    </div>
    <div id="RecentActivityToggle_Container"
      class="col-xs-3 ic-Dashboard-content--align-right">
    </div>
    </div>
  </div>
  <div id="dashboard-activity" class="ic-Dashboard-Activity" style="display: <%= show_recent_activity? ? 'block' : 'none' %>">
    <%= render :partial => 'shared/recent_activity' %>
  </div>
  <%= render :partial => 'shared/dashboard_card' %>
</div>
