<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :page_title do %><%= t('Dashboard') %><% end %>
<% css_bundle :dashboard %>
<% js_bundle :dashboard %>
<% @body_classes << "dashboard-is-planner" if show_planner? %>

<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_user_format_path(@current_user.feed_code, :atom), {:title => t('user_atom_feed', "User Atom Feed (All Courses)")}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <% unless show_planner? %>
    <div class="placeholder"></div>
  <% end %>
<% end %>

<div id="dashboard" class="ic-dashboard-app">
  <%= render :partial => 'shared/dashboard_invitation', :collection => @pending_invitations %>
  <%= render :partial => 'shared/dashboard_messages' %>

  <div id="dashboard_header_container" class="ic-Dashboard-header">
    <h1 class="ic-Dashboard-header__title"><%= t "Dashboard" %></h1>
  </div>
  <% if planner_enabled? %>
    <div id="dashboard-planner" class="StudentPlanner__Container" style="display: <%= show_planner? ? 'block' : 'none' %>"></div>
  <% end %>
  <div id="dashboard-activity" class="ic-Dashboard-Activity" style="display: <%= show_recent_activity? ? 'block' : 'none' %>">
    <%= render :partial => 'shared/recent_activity' %>
  </div>

  <%= render :partial => 'shared/dashboard_card' %>
</div>
