<% content_for :page_title do %><%= t('user_dashboard', 'User Dashboard') %><% end %>
<% jammit_css :dashboard %>
<% js_bundle :dashboard %>
<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_user_format_path(@current_user.feed_code, :atom), {:title => t('user_atom_feed', "User Atom Feed (All Courses)")}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <div class="placeholder"></div>
<% end %>

<div id="dashboard">
<%= render :partial => 'shared/dashboard_invitation', :collection => @pending_invitations %>
<%= render :partial => 'shared/dashboard_messages' %>
<%= render :partial => 'shared/recent_activity' %>
</div>
