{{partial "settings/header"}}
{{partial "settings/section_select"}}
{{partial "settings/grading_period_select"}}
{{partial "settings/sort_select"}}
{{partial "settings/assignment_toggles_and_actions"}}

<div class="hr"></div>

{{partial "content_selection/header"}}
{{partial "content_selection/student"}}
{{partial "content_selection/assignment"}}

<div class="hr"></div>

{{partial "grading"}}

<div class="hr"></div>

{{partial "student_information/index"}}

<div class="hr"></div>

{{partial "assignment_information/index"}}

<div class="hr"></div>
