<h1>Screenreader Gradebook</h1>

<!-- global -->
<!-- -------- -->

<h2>Global Settings</h2>

<!-- filter by section -->
<div>
  <label for="section_select">Select a section</label>
  {{
    fast-select
    id="section_select"
    class="section_select"
    items=sections
    valuePath="id"
    labelPath="name"
    labelDefault=sectionSelectDefaultLabel
    selected=selectedSection
  }}
</div>

<!-- filter by name or secondary id -->

<!-- don't think this makes sense for this interface -->

<!-- grading history -->

<a href="{{ unbound gradingHistoryUrl }}">View Grading History</a>

<!-- download scores -->

<a href="{{ unbound downloadUrl }}">Download Scores (.csv)</a>

<!-- upload scores -->

<button id="upload" {{ action 'openDialog' 'upload' target=view }}>Upload Scores (.csv)</button>

<!-- set group weights -->

<button id="ag_weights" {{ action 'openDialog' 'ag_weights' target=view }} {{ bind-attr disabled=assignment_groups.isLoading }}>Set Group Weights</button>

<!-- show/hide student names -->

<div>
  <label>
  {{
    input
    type="checkbox"
    id="hide_names_checkbox"
    name="hide_names_checkbox"
    checked=hideStudentNames
  }}
  {{#t "hide_student_names_label"}}Hide Student Names{{/t}}
  </label>
</div>


<!-- not sure this makes sense in this interface -->

<!-- arrange columns by due date -->

<fieldset>
  <label for="arrange_assignments">Arrange assignments</label>
  {{
    fast-select
    name="arrange_assignments"
    id="arrange_assignments"
    items=assignmentSortOptions
    selected=assignmentSort
  }}

</fieldset>

<!-- treat ungraded as 0 -->

<div>
  <label for="ungraded">
  {{
    input
    type="checkbox"
    id="ungraded"
    name="ungraded"
    checked=includeUngradedAssignments
  }}
  {{#t "include_ungraded_assignments"}}Treat Ungraded as 0{{/t}}
  </label>
</div>

<!-- show concluded enrollments -->

<div>
  <label>
  {{
    input
    type="checkbox"
    id="concluded_enrollments"
    name="concluded_enrollments"
    checked=showConcludedEnrollments
    disabled=enrollments.isLoading
  }}
  {{#t 'show_concluded_enrollments_label'}}Show Concluded Enrollments{{/t}}
  </label>
</div>

<div>
  <label>
  {{
    input
    type="checkbox"
    id="show_notes"
    name="show_notes"
    checked=showNotesColumn
  }}
  {{#t "show_notes"}}Show Notes in Student Info{{/t}}
  </label>
</div>
<!-- -------- -->

<h2>Content Selection</h2>

<div>
  <label for="student_select">
    {{#t 'select_student'}}Select a student{{/t}}
  </label>
  {{
    fast-select id="student_select"
    class="student_select"
    items=studentsInSelectedSection
    valuePath="id"
    labelPath=displayName
    labelDefault=studentSelectDefaultLabel
    selected=selectedStudent
  }}
</div>
<div id="student_navigation">
  <button
    id="prev_student"
    {{action 'selectItem' 'selectedStudent' 'previous'}}
    {{bind-attr aria-disabled=ariaDisabledPrevStudent disabled=disablePrevStudentButton}}
  >
    {{#t 'previous_student'}}Previous Student{{/t}}
  </button>

  <button
    id="next_student"
    {{action 'selectItem' 'selectedStudent' 'next'}}
    {{bind-attr aria-disabled=ariaDisabledNextStudent disabled=disableNextStudentButton}}
  >
    {{#t 'next_student'}}Next Student{{/t}}
  </button>
</div>

<!-- not sure we need this
<div>
  <label for="assignment_group_select">Select an assignment group</label>
  <select
    id="assignment_group_select"
    class="assignment_group_select"
    name="assignment_group">
    <option value="">All</option>
    <option value="2">Test Assignment Group</option>
  </select>
</div>
-->

<div>
  <label for="assignment_select">
    {{#t 'select_assignment'}}Select an assignment{{/t}}
  </label>
   {{
    fast-select id="assignment_select"
    class="assignment_select"
    items=assignments
    valuePath="id"
    labelPath="name"
    labelDefault=assignmentSelectDefaultLabel
    selected=selectedAssignment
  }}
</div>

<div id="assignment_navigation">
  <button
    id="prev_assignment"
    {{action 'selectItem' 'selectedAssignment' 'previous'}}
    {{bind-attr aria-disabled=ariaDisabledPrevAssignment disabled=disablePrevAssignmentButton}}
  >
    {{#t 'previous_assignment'}}Previous Assignment{{/t}}
  </button>

  <button
    id="next_assignment"
    {{action 'selectItem' 'selectedAssignment' 'next'}}
    {{bind-attr aria-disabled=ariaDisabledNextAssignment disabled=disableNextAssignmentButton}}
  >
    {{#t 'next_assignment'}}Next Assignment{{/t}}
  </button>
</div>

<!-- student + assignment -->
<!-- -------------------- -->

{{#if selectedSubmission}}

<div id="grading">

  <h2>Grading</h2>

  <!-- see/change a student's grade for a specific assignment -->
  <div>
    <label for="student_and_assignment_grade">Grade</label>
    {{
      grading-cell
      assignment=selectedAssignment
      input-id="student_and_assignment_grade"
      submission=selectedSubmission
      on-submit-grade="gradeUpdated"
    }}
  </div>

  {{#if selectedSubmission.drop}}
  {{#t 'is_dropped'}}This grade is currently dropped for this student.{{/t}}
  {{/if}}
  <button
    id="submission_details"
    {{action 'openDialog' 'submission' target=view}}
  >
   {{#t 'submission_details'}}Submission Details{{/t}}
  </button>
</div>

{{/if}}

<!-- student -->
<!-- -------- -->
{{#if selectedStudent}}

<div id="student_information">

  <h2>Student Information</h2>

  <div>{{#t 'selected_student'}}Selected Student:{{/t}} 
    {{#if hideStudentNames}}
      {{selectedStudent.hiddenName}}
    {{else}}
      {{selectedStudent.name}}
    {{/if}}
  </div>

  {{#if selectedStudent.isLoaded}}

  <div>{{#t 'secondary_id'}}Secondary ID:{{/t}}
    <span id="secondary_id">
    {{#if hideStudentNames}}
      <em>{{#t "hidden_secondary_id"}}hidden{{/t}}</em>
    {{else}}
      {{selectedStudent.login_id}}
    {{/if}}
    </span>
  </div>

  <div>{{#t 'sections'}}Sections:{{/t}} {{selectedStudentSections}}</div>
  {{#each column in custom_columns}}
  {{
    custom-column-cell
    student=selectedStudent
    column=column
    dataForStudent=dataForStudent
    on-column-save='columnUpdated'
  }}
  {{/each}}

  <div>
    {{#t 'final_grade'}}Final Grade:{{/t}} 
    {{#if selectedStudent.total_grade.possible}}
      {{selectedStudent.total_percent}}%
    {{else}}
      -
    {{/if}}
  </div>
  <!-- sub-total grade for each assignment group (percentage + points) -->

  {{#each assignment_group in assignment_groups}}
    {{
      assignment-group-grades
      ag=assignment_group
      student=selectedStudent
      weightingScheme=weightingScheme
      gradingStandard=ENV.GRADEBOOK_OPTIONS.grading_standard
    }}
  {{/each}}
  {{else}}
  <p>{{#t 'submissions_loading'}}Submissions for this student are still loading...{{/t}}</p>
  {{/if}}
</div>

{{/if}}

<!-- assignment -->
<!-- ------------ -->

{{#if selectedAssignment}}
{{#with selectedAssignment}}

<div id="assignment_information">
  <h2>Assignment Information</h2>
  <div>Selected Assignment: <a {{bind-attr href="html_url"}}>{{name}}</a></div>
  <!-- how many points is the assignment worth -->

  <div>Points possible: {{points_possible}}</div>

{{/with}}

  <!-- is the assignment muted -->
  <div>
    <label for="assignment_muted_check">
      {{#t 'assignment_is_muted'}}Muted?{{/t}}
      {{
        assignment-muter
        assignment=selectedAssignment
        id='assignment_muted_check'
        name='assignment_muted_check'
      }}
    </label>
  </div>

  <!-- assignment stats: average/high/low score + submission count -->
  {{#if assignmentDetails}}
  {{#with assignmentDetails }}
  {{#if cnt}}
  <div>Average Score: {{average}}</div>
  <div>High Score: {{max}}</div>
  <div>Low Score: {{min}}</div>
  {{/if}}
  <div>{{cnt}} Submissions</div>
  {{/with}}
  {{/if}}
  <!-- go to assignment in speedgrader -->

  <a href="#speedgrader">See this assignment in speedgrader</a>

  <!-- message students who -->
  <button id="message_students" {{ action 'openDialog' 'message_students' target=view }}>Message students who...</button>
  <!-- set default grades -->
  <button id="set_default_grade" {{ action 'openDialog' 'set_default_grade' target=view }}>Set default grade</button>
  <!-- curve grades -->
  <button id="curve_grades" {{ action 'openDialog' 'curve_grades' target=view }}>Curve Grades</button>

</div>

{{/if}}

