<h1>Screenreader Gradebook</h1>

<!-- global -->
<!-- -------- -->

<h2>Global Settings</h2>
<!-- filter by section -->
<div>
  <label for="section_select">Select a section</label>
  {{
    fast-select
    id="section_select"
    class="section_select"
    items=sections
    valuePath="id"
    labelPath="name"
    labelDefault=sectionSelectDefaultLabel
    selected=selectedSection
  }}
</div>

<!-- filter by name or secondary id -->

<!-- don't think this makes sense for this interface -->

<!-- grading history -->

<a href="{{ unbound gradingHistoryUrl }}">View Grading History</a>

<!-- download scores -->

<a href="{{ unbound downloadUrl }}">Download Scores (.csv)</a>

<!-- upload scores -->

<button id="upload" {{ action 'openDialog' 'upload' target=view }}>Upload Scores (.csv)</button>

<!-- set group weights -->

<button id="ag_weights" {{ action 'openDialog' 'ag_weights' target=view }} {{ bind-attr disabled=assignment_groups.isLoading }}>Set Group Weights</button>

<!-- show/hide student names -->

<!-- not sure this makes sense in this interface -->

<!-- arrange columns by due date -->

<fieldset>
  <label for="arrange_assignments">Arrange assignments</label>
  {{
    fast-select
    name="arrange_assignments"
    id="arrange_assignments"
    items=assignmentSortOptions
    selected=assignmentSort
  }}

</fieldset>

<!-- treat ungraded as 0 -->

<div>
  <label for="ungraded">Treat Ungraded as 0</label>
  <input type="checkbox" name="ungraded" id="ungraded" value="ungraded">
</div>

<!-- show concluded enrollments -->

<div>
  <label for="concluded_enrollments">Show Concluded Enrollments</label>
  <input type="checkbox" name="concluded_enrollments" id="concluded_enrollments" value="concluded_enrollments">
</div>

<!-- -------- -->

<h2>Content Selection</h2>

<div>
  <label for="student_select">
    {{#t 'select_student'}}Select a student{{/t}}
  </label>
  {{
    fast-select id="student_select"
    class="student_select"
    items=studentsInSelectedSection
    valuePath="id"
    labelPath="name"
    labelDefault=studentSelectDefaultLabel
    selected=selectedStudent
  }}
</div>
<div id="student_navigation">
  <button
    id="prev_student"
    {{action 'selectItem' 'selectedStudent' 'previous'}}
    {{bind-attr aria-disabled='ariaDisabledPrevStudent'}}
    {{bind-attr disabled='disablePrevStudentButton'}}
  >
    {{#t 'previous_student'}}Previous Student{{/t}}
  </button>

  <button
    id="next_student"
    {{action 'selectItem' 'selectedStudent' 'next'}}
    {{bind-attr aria-disabled='ariaDisabledNextStudent'}}
    {{bind-attr disabled='disableNextStudentButton'}}
  >
    {{#t 'next_student'}}Next Student{{/t}}
  </button>
</div>

<!-- not sure we need this
<div>
  <label for="assignment_group_select">Select an assignment group</label>
  <select
    id="assignment_group_select"
    class="assignment_group_select"
    name="assignment_group">
    <option value="">All</option>
    <option value="2">Test Assignment Group</option>
  </select>
</div>
-->

<div>
  <label for="assignment_select">
    {{#t 'select_assignment'}}Select an assignment{{/t}}
  </label>
   {{
    fast-select id="assignment_select"
    class="assignment_select"
    items=assignments
    valuePath="id"
    labelPath="name"
    labelDefault=assignmentSelectDefaultLabel
    selected=selectedAssignment
  }}
</div>

<div id="assignment_navigation">
  <button
    id="prev_assignment"
    {{action 'selectItem' 'selectedAssignment' 'previous'}}
    {{bind-attr aria-disabled='ariaDisabledPrevAssignment'}}
    {{bind-attr disabled='disablePrevAssignmentButton'}}
  >
    {{#t 'previous_assignment'}}Previous Assignment{{/t}}
  </button>

  <button
    id="next_assignment"
    {{action 'selectItem' 'selectedAssignment' 'next'}}
    {{bind-attr aria-disabled='ariaDisabledNextAssignment'}}
    {{bind-attr disabled='disableNextAssignmentButton'}}
  >
    {{#t 'next_assignment'}}Next Assignment{{/t}}
  </button>
</div>

<!-- student + assignment -->
<!-- -------------------- -->

{{#if selectedSubmission}}

<div id="grading">

  <h2>Grading</h2>

  <!-- see/change a student's grade for a specific assignment -->

  <div>
    <label for="student_and_assignment_grade">Grade</label>
     {{
       input
       id="student_and_assignment_grade"
       name=grade
       value=selectedSubmissionGrade
     }}

  </div>

  <a href="#details">Submission Details</a>

</div>

{{/if}}

<!-- student -->
<!-- -------- -->
{{#if selectedStudent}}

<div id="student_information">

  <h2>Student Information</h2>

  <div>Selected Student: {{selectedStudent.name}}</div>

  <!-- what section they are in -->

  <div>Section: Section 3</div>
  <!-- secondary id -->
  {{#if selectedStudent.isLoaded}}
  <div>Secondary ID: {{selectedStudent.login_id}}</div>

  <!-- final score/grade -->

  <div>Final Grade: {{../studentGrades.final_grade}} ({{../studentGrades.final_score}})</div>

  <!-- sub-total grade for each assignment group (percentage + points) -->

  <div>Assignment Group Grade: 30% (50% of grade)</div>
  {{else}}
  <p>Submissions for this student are still loading...</p>
  {{/if}}

</div>

{{/if}}

<!-- assignment -->
<!-- ------------ -->

{{#if selectedAssignment}}
{{#with selectedAssignment}}

<div id="assignment_information">
  <h2>Assignment Information</h2>
  <div>Selected Assignment: <a {{bind-attr href="html_url"}}>{{name}}</a></div>
  <!-- how many points is the assignment worth -->

  <div>Points possible: {{points_possible}}</div>
  <!-- is the assignment muted -->

  <div>
    <label for="muted">Muted</label>
    <input type="checkbox" name="muted" id="muted" value="muted"><br>
  </div>

{{/with}}
  <!-- assignment stats: average/high/low score + submission count -->
  {{#if assignmentDetails}}
  {{#with assignmentDetails }}
  {{#if cnt}}
  <div>Average Score: {{average}}</div>
  <div>High Score: {{max}}</div>
  <div>Low Score: {{min}}</div>
  {{/if}}
  <div>{{cnt}} Submissions</div>
  {{/with}}
  {{/if}}
  <!-- go to assignment in speedgrader -->

  <a href="#speedgrader">See this assignment in speedgrader</a>

  <!-- message students who -->
  <button id="message_students" {{ action 'openDialog' 'message_students' target=view }}>Message students who...</button>
  <!-- set default grades -->
  <button id="set_default_grade" {{ action 'openDialog' 'set_default_grade' target=view }}>Set default grade</button>
  <!-- curve grades -->
  <button id="curve_grades" {{ action 'openDialog' 'curve_grades' target=view }}>Curve Grades</button>

</div>

{{/if}}
