<table class="individual-app">
  <tbody>
    <tr>
      <td class="individual-app-left" valign="top">
        <img class="img-polaroid" src="{{model.attributes.banner_image_url}}" />
        {{#if model.attributes.is_installed}}
          <div class="gray-box-centered">{{#t "app_already_installed"}}This app has already been installed{{/t}}</div>
        {{/if}}
        <a class="btn btn-primary btn-block add_app icon-add">
          {{#t "add_tool"}}Add Tool{{/t}}
        </a>
        <a href="#" class="app_cancel">&laquo; {{#t "back_to_app_center"}}Back to App Center{{/t}}</a>
      </td>
      <td class="individual-app-right" valign="top">
        <h2>{{ model.attributes.name }}</h2>
        <table class="star-table">
          <tbody>
            <td><div class="app-star"></div></td>
            <td><small>({{model.attributes.total_ratings}})</small></td>
          </tbody>
        </table>
        <p>{{{model.attributes.description}}}</p>
        <table>
          <tbody>
            </tr>
            <tr class="data-row">
              <td valign="top" class="data-label">{{#t "extensions"}}Extensions{{/t}}</td>
              <td valign="top" class="data-value">
                <ul>
                {{#each model.attributes.extensions}}
                  <li>{{titleize this}}</li>
                {{/each}}
                </ul>
              </td>
            </tr>
            <tr class="data-row">
              <td valign="top" class="data-label">{{#t "average_rating"}}Average Rating{{/t}}</td>
              <td valign="top" class="data-value">{{toPrecision model.attributes.average_rating 2}}</td>
            </tr>
            <tr class="data-row">
              <td valign="top" class="data-label">{{#t "education_levels"}}Education Level(s){{/t}}</td>
              <td valign="top" class="data-value">
                <ul>
                {{#each model.attributes.levels}}
                  <li>{{titleize this}}</li>
                {{/each}}
                </ul>
              </td>
            </tr>
            {{#if model.attributes.support_link}}
              <tr class="data-row">
                <td valign="top" class="data-label">{{#t "help_link"}}Help Link{{/t}}</td>
                <td valign="top" class="data-value"><a href="{{model.attributes.support_link}}" target="_blank">{{model.attributes.support_link}}</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="add-review">
  <a href="#" class="rate_app" title="{{#t "rate_tool"}}Rate this tool{{/t}}">{{#t "rate_tool"}}Rate this tool{{/t}}</a>
  <img src="/images/ajax-loader-linear.gif" style="display: none;" id="rate_app_loader" />
</div>

<div class="reviews collectionViewItems clearfix"></div>
<div class="paginatedLoadingIndicator"></div>

