<table class="table review-item">
  <tr>
    <td class="image-and-stars" valign="top">
      <img class="avatar_image" src="{{user.avatar_url}}" />
      <div class="star-sprite star-sprite-{{rating}}"></div>
    </td>
    <td class="review-content" valign="top">
      <div class="review-item-header">
        {{#t "posted_by_on"}}Posted by <span>{{user.name}}</span> on <span>{{created_at}}</span>{{/t}}
      </div>
      <p>{{comments}}</p>
    </td>
  </tr>
</table>
