<div id="app_{{id}}">
  <img class="banner_image" alt="{{name}}" src="{{banner_image_url}}"></img>
  <div class="details">
    <div class="content">
      <span class='name'>{{ name }}</span>
      <div class='desc'>{{{ truncate short_description 160 }}}</div>
    </div>
  </div>
</div>
