<%
# Copyright (C) 2023 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% set_active_tab "terms" %>
<% provide :page_title do %>
  <%= t :page_title, "%{account} Terms", :account => @context.name %>
<% end %>

<% js_bundle 'terms_index' %>
<% css_bundle :terms %>

<h1><%= t 'titles.term_details', "Term Details" %></h1>

<div class="terms-controls">
  <%= form_for @context,
               :url => context_url(@context, :context_terms_url),
               :html => { :method => :get } do |f| %>
    <label for="term_search">
      <%= t :terms_search_name, "Search by term name" %>
    </label>

    <input id="term_search"
           type="text"
           name="term_name"
           maxlength="50"
           placeholder="<%= t :terms_search_name, "Search by term name" %> …"
           value="<%= @term_name %>">

    <button type="submit" class="btn">
      <%= t "#buttons.search", "Search" %>
    </button>

    <% if @term_name.present? %>
      <a id="view_all_terms" href="<%= context_url(@context, :account_terms_url) %>">
        <%= t :terms_view_all, "View all terms" %>
      </a>
    <% end %>
  <% end %>

  <a href="#" class="icon-add add_term_link">
    <%= t :terms_add_new, "Add New Term" %>
  </a>
</div>

<div class="terms-wrapper">
  <% if @terms.empty? %>
    <p>
      <% if @term_name.present? %>
        <%= t :terms_no_results_name, "No terms found with name “%{name}”", :name => @term_name %>
      <% else %>
        <%= t :terms_no_results, "No terms found" %>
      <% end %>
    </p>
  <% end %>

  <table id="terms">
    <% @terms.each do |term| %>
      <%= render :partial => "term", :object => term %>
    <% end %>
    <%= render :partial => "term", :object => nil %>
  </table>
</div>

<a href="<%= context_url(@context, :context_term_url, "{{ id }}") %>"
   class="term_url"
   style="display: none"
>&nbsp;</a>

<% content_for :pagination do %>
  <% if params[:action] == 'index' %>
    <%= will_paginate(@terms) %>
  <% end %>
<% end %>

<%= yield :pagination %>
