<% if users.present? %>
    <% users.each do |user| %>
        <li class=<%= "member user_#{user.id}" %>>
            <label class="checkbox" for=<%= "user_#{user.id}" %>>
                <input name=<%= "user[#{user.id}]" %> type="hidden" value="0">
                <input class="select_user_checkbox" id=<%= "user_#{user.id}" %> name=<%="user[#{user.id}]" %> type="checkbox" value="1">
                <%= user.last_name_first %>
            </label>
        </li>
    <% end %>
<% else %>
    <li>
        <label><%= "No #{User.table_name.humanize.pluralize} match the selected #{Role.table_name.humanize.pluralize}" %></label>
    </li> 
<% end %>