<% content_for :page_title do %>
  <%= join_title t(:page_title, "Web Conferences"), @context.name %>
<% end %>

<% js_bundle(:conferences)  %>
<% jammit_css(:conferences) %>

<% if can_do(WebConference.new(:context => @context), @current_user, :create) %>
  <header class="row-fluid">
    <div class="span3 offset9 align-right padding-r">
      <button type="button" class="btn btn-primary new-conference-btn">
        <%= t(:new_conference, 'New Conference') %>
      </button>
    </div>
  </header>
<% end %>

<div class="item-group-container item-box">

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title">
        <a class="element_toggler"
           aria-controls="new-conference-list"
           aria-expanded="true">
          <i class="icon-mini-arrow-down"></i>
          <%= t(:new_conferences, 'New Conferences') %>
        </a>
      </h2>
    </div>
    <div class="item-group-expandable" id="new-conference-list">
      <ul class="ig-list">
        <li class="no-new-conferences">
          <div class="ig-row ig-row-empty">
            <div class="ig-empty-msg">
              <%= t(:no_new_conferences, 'There are no new conferences') %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="item-group-condensed">
    <div class="ig-header">
      <h2 class="ig-header-title">
        <a class="element_toggler"
            aria-controls="concluded-conference-list"
            aria-expanded="true">
          <i class="icon-mini-arrow-down"></i>
          <%= t(:concluded_conferences, 'Concluded Conferences') %>
        </a>
      </h2>
    </div>
    <div class="item-group-expandable" id="concluded-conference-list">
      <ul class="ig-list">
        <li class="no-concluded-conferences">
          <div class="ig-row ig-row-empty">
            <div class="ig-empty-msg">
              <%= t(:no_concluded_conferences, 'There are no concluded conferences') %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="add_conference_form"></div>
