<% content_for :page_title do %><%= join_title t(:page_title, "Web Conference"), @conference.title %><% end %>

<% js_bundle :conferences %>

<% if can_do(@conference, @current_user, :update) && !@conference.finished? %>
  <% content_for :right_side do %>
    <div class="rs-margin-all">
      <div id="sidebar_content">
        <p>
          <%= link_to(image_tag("edit.png", :alt => "") + " " + t(:edit_link, "Edit Conference"), context_url(@context, :context_conferences_url) + "#conference_#{@conference.id}", :class => "button button-sidebar-wide") %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<h2><%= t :conference_details, "Conference Details" %></h2>

<fieldset>
  <legend><%= t :basic_info, "Basic Info" %></legend>
  <table class="formtable">
    <tr>
      <th><%= before_label :name, "Name" %></th>
      <td><%=h @conference.title %></td>
    </tr>
    <% unless WebConference.conference_types.length > 1 -%>
    <tr>
      <th><%= before_label :type, "Type" %></th>
      <td><%=h @conference.conference_type %></td>
    </tr>
    <% end -%>
    <% if can_do(@conference, @current_user, :update) %>
      <% @conference.user_settings.each do |key, value| %>
      <tr>
        <th><%=h before_label(@conference.setting_name(key)) %></th>
        <td><%=h @conference.friendly_setting(value) %></td>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <th><%= before_label :duration, "Duration" %></th>
      <td><% if @conference.long_running? %><%= t :duration_long_running, "N/A, long-running" %><% else %><%= t :minute, "minute", :count => @conference.duration %><% end %></td>
    </tr>
    <tr>
      <th><%= before_label :status, "Status" %></th>
      <td>
      <% if @conference.available? %>
        <%= t 'status.new', "Hasn't started yet" %>
      <% elsif @conference.active? %>
        <%= t 'status.started', "Started %{time}", :time => time_string(@conference.started_at) %>
      <% elsif @conference.finished? %>
        <%= t 'status.finished', "Finished %{date_and_time} (%{duration})", :date_and_time => datetime_string(@conference.ended_at), :duration => t(:minute, "minute", :count => (@conference.running_time / 60)) %>
      <% end %>
      </td>
    </tr>
    <% unless @conference.description.blank? -%>
    <tr>
      <th><%= before_label :description, "Description" %></th>
      <td><%= @conference.description %></td>
    </tr>
    <% end -%>
  </table>
</fieldset>

<% unless @conference.external_urls.empty? %>
<fieldset>
  <legend><%= t :external_links, "External Links" %></legend>
  <ul>
  <% @conference.external_urls.each do |key, url_info| %>
    <li><%= link_to(@conference.external_urls_link_text(key), context_url(@context, :context_conference_url, @conference.id) + "?external_url=#{key}", :name => @conference.external_urls_name(key), :class => "external_url") %></li>
  <% end %>
  </ul>
</fieldset>
<% end %>

<fieldset>
  <legend><%= t 'labels.members', "Members" %></legend>
  <ul>
    <% @conference.users.each do |user| %>
      <li>
        <%= h user.last_name_first %>
      </li>
    <% end %>
  </ul>
</fieldset>

<div class="communication_message" style="border-bottom: 0px;">
  <div class="base_links">
    <% txt = nil
      if @conference.available?
        txt = t('buttons.start', "Start it now") if can_do(@conference, @current_user, :initiate)
      elsif @conference.active?
        txt = t('buttons.join', "Join it now") if can_do(@conference, @current_user, :join)
      elsif @conference.finished? && @conference.restartable?
        txt = t('buttons.restart', "Re-start it now") if can_do(@conference, @current_user, :initiate)
      end 
    %>
    <% if txt %>
    <a target="_blank" href="<%= context_url(@context, :context_conference_join_url, @conference.id) %>" class="button join_conference_link">
      <%= txt %>
    </a>
    <% end %>
    <% if can_do(@conference, @current_user, :close) %>
    <a href="<%= context_url(@context, :context_conference_close_url, @conference.id) %>" class="button close_conference_link"><%= t('buttons.end', "End it now") %></a>
    <% end %>
  </div>
</div>

