<%
  js_bundle :calendar_event
  jammit_css :tinymce
%>

<% calendar_event = full_calendar_event %>
<div id="full_calendar_event_holder" class="<%= 'editing' if @editing %>">
  <div class="calendar_event" id="full_calendar_event">
    <div style="float: right; text-align: right; font-size: 0.8em;">
      <div class="date_text" style="<%= hidden unless calendar_event && calendar_event.start_at %>">
        <span class="start_at_date_string" title="<%= date_string(calendar_event.start_at, :long) %>"><%= date_string(calendar_event.start_at, :long) %></span>
        <span class="non_all_day" style="<%= hidden if calendar_event.try_rescue(:all_day) %>">
          <span class="from_string" style="<%= hidden if calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"> from </span>
          <span class="at_string" style="<%= hidden unless calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"> at </span>
          <span class="start_at_time_string"><%= time_string(calendar_event.start_at) %></span>
          <span class="to_string" style="<%= hidden if calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"> to </span>
          <span class="end_at_time_string" style="<%= hidden if calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"><%= time_string(calendar_event.end_at) %></span>
        </span>
        <div style="display: none;">
          <span class="all_day"><%= calendar_event.try_rescue(:all_day) || false %></span>
          <span class="all_day_date"><%= date_string(calendar_event.try_rescue(:all_day_date), :long) %></span>
        </div>
      </div>
    </div>
    <h2 class="title">
      <%= calendar_event.try_rescue(:title) %>
    </h2>

    <div class="description user_content"><%= calendar_event && calendar_event.description && !calendar_event.description.empty? ? user_content(calendar_event.description) : t(:no_content, "No Content") %></div>
    <div class="course_id" style="display: none;"><%= @context.id if @context && @context.is_a?(Course) %></div>
  </div>
  <% if can_do(calendar_event, @current_user, :update_content) %>
  <% url = calendar_event.new_record? ? context_url(@context, :context_calendar_events_url) : context_url(@context, :context_calendar_event_url, calendar_event.id) %>
  <%= form_for calendar_event, :url => url, :html => {:method => (calendar_event.new_record? ? 'POST' : 'PUT'), :style => 'display: none;', :id => 'edit_calendar_event_form', :class => (calendar_event.new_record? ? 'new_event' : '')} do |f| %>
  <table class="formtable full_calendar_event_table" style="width: 100%;">
    <% if can_do(calendar_event, @current_user, :update) %>
    <tr>
      <td><%= f.blabel :title, :en => "Title" %></td>
      <td><%= f.text_field :title, :size => 20 %></td>
    </tr><tr>
      <td style="vertical-align: top;"><%= before_label :date, "Date" %></td>
      <td>
        <input type="text" name="start_date" value="<%= date_string(calendar_event.start_at) %>" style="width: 120px;" class="date_field"/>
      </td>
    </tr><tr>
      <td style="vertical-align: top;"><%= before_label :from, "From" %></td>
      <td>
        <% ot(:timespan, "%{start_time} *to* %{end_time}", :start_time => capture { %>
          <div style="float: left;">
            <input type="text" name="start_time" value="<%= time_string(calendar_event.start_at) unless calendar_event.all_day %>" style="width: 60px;" class="time_field"/>
          </div>
        <% }, :end_time => capture { %>
          <div style="float: left;">
            <input type="text" name="end_time" value="<%= time_string(calendar_event.end_at) unless calendar_event.all_day %>" style="width: 60px;" class="time_field"/>
          </div>
        <% }, :wrapper => '<div style="float: left;">&nbsp;\1&nbsp;</div>') %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="4">
        <div style="font-size: 0.8em; float: right;">
          <a href="#" class="switch_full_calendar_event_view"><%= t '#editor.switch_editor_html', "HTML Editor" %></a>
          <a href="#" class="switch_full_calendar_event_view" style="display:none;"><%= t '#editor.switch_editor_rich_text', "Rich Text Editor" %></a>
        </div>
        <div>
          <%= before_label :event_description, "Event Description" %>
        </div>
        <div><%= f.text_area :description, :style => 'width: 100%;' %></div>
      </td>
    </tr>
  </table>
  <div>
    <table id="calendar_event_location_info">
      <tbody>
        <tr>
          <td>
            <label for="calendar_event_location_name"><%= t 'labels.location', "Location" %></label>
            <input id="calendar_event_location_name" name="location_name" size="30" maxlength="255"  type="text" value="<%= calendar_event.location_name %>"/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="calendar_event_location_address"><%= t 'labels.address', "Address" %>:</label>
            <input id="calendar_event_location_address" name="location_address" size="30" maxlength="255" type="text" value="<%= calendar_event.location_address %>"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-actions">
    <button type="button" class="btn cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
    <button type="submit" class="btn btn-primary submit_button"><%= calendar_event.new_record? ? t('buttons.create', "Create Event") : t('buttons.update', "Update Event") %></button>
  </div>
  <% end %>
  <% end %>
</div>
