<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div id="full_calendar_event_holder">
  <div class="calendar_event" id="full_calendar_event">
    <div style="float: <%= direction('right') %>; text-align: <%= direction('right') %>; font-size: 0.8em;">
      <div class="date_text" style="<%= hidden unless calendar_event && calendar_event.start_at %>">
        <span class="start_at_date_string" title="<%= date_string(calendar_event.start_at, :long) %>"><%= date_string(calendar_event.start_at, :long) %></span>
        <span class="non_all_day" style="<%= hidden if calendar_event.try_rescue(:all_day) %>">
          <span class="from_string" style="<%= hidden if calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"> from </span>
          <span class="at_string" style="<%= hidden unless calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"> at </span>
          <span class="start_at_time_string"><%= time_string(calendar_event.start_at) %></span>
          <span class="to_string" style="<%= hidden if calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"> to </span>
          <span class="end_at_time_string" style="<%= hidden if calendar_event.end_at && calendar_event.end_at != calendar_event.start_at %>"><%= time_string(calendar_event.end_at) %></span>
        </span>
        <div style="display: none;">
          <span class="all_day"><%= calendar_event.try_rescue(:all_day) || false %></span>
          <span class="all_day_date"><%= date_string(calendar_event.try_rescue(:all_day_date), :long) %></span>
        </div>
      </div>
    </div>
    <h2 class="title">
      <%= calendar_event.try_rescue(:title) %>
    </h2>

    <div class="description user_content"><%= calendar_event && calendar_event.description && !calendar_event.description.empty? ? user_content(calendar_event.description) : t(:no_content, "No Content") %></div>
    <div class="course_id" style="display: none;"><%= @context.id if @context && @context.is_a?(Course) %></div>
  </div>
</div>
