<% content_for :right_side do %>
  <% return_to_url = return_to_calendar(:context => @context, :event => @event) %>
  <a class="base_calendar_url" href="<%= calendar_url_for() %>" style="display: none;">&nbsp;</a>
  <div id="sidebar_content">
    <ul class="page-action-list">
      <li><a class="return_url calendar_url" href="<%= return_to_url %>"><i class="icon-arrow-left" aria-hidden='true'></i> <%= t 'links.back_to_calendar', "Back to Calendar" %></a></li>
      <% if can_do(@event, @current_user, :update) %>
        <li>
          <%= link_to context_url(@context, :edit_context_calendar_event_url, @event.id, :return_to => params[:return_to]) do %>
            <i class="icon-edit" aria-hidden='true'></i> <%= t 'links.edit', "Edit Calendar Event" %>
          <% end %>
        </li>
        <% unless @event.new_record? %>
          <li><a href="<%= context_url(@context, :context_calendar_event_url, @event.id) %>" class="delete_event_link"><i class="icon-trash" aria-hidden='true'></i>  <%= t 'links.delete', "Delete the Event" %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render :partial => 'full_calendar_event', :locals => {:calendar_event => @event} %>
