<% content_for :secondary_content do %>
  <% form_for :user, :url => account_users_path(@account), :html => {:id => "new_user", :method => :get} do |f| -%>
  <fieldset class="textfield-inline-with-button">
    <legend><%= t 'titles.find_user', "Find A User" %></legend>
    <%= f.text_field :name %>
    <button class='button small-button'><%= t 'buttons.go', "Go" %></button>
  </fieldset>
  <% end -%>
  <div style="margin-top: 10px;">
    <%= link_to(image_tag('graph.png') + " " + t('links.view_statistics', "View Statistics"), statistics_account_path(@account), :class => "button button-sidebar-wide") %>
    <%= link_to(image_tag('group.png') + " " + t('links.manage_permissions', "Manage Role Permissions"), account_role_overrides_path(@account), :class => "button button-sidebar-wide") %>
    <% unless @account.root_account_id %>
      <%= link_to(image_tag('history.png') + " " + t('links.manage_terms', "Manage Terms"), account_terms_path(@account), :class => "button button-sidebar-wide") %>
    <% end %>
    <% if @account.sub_accounts.count > 0 %>
      <%= link_to(image_tag('ball.png') + " " + t('links.manage_subaccounts', "Manage Sub-Accounts"), account_sub_accounts_path(@account), :class => "button button-sidebar-wide") %>
    <% end %>
  </div>
<% end %>

<% js_block do %>
<script type="text/javascript">
(function($){
  $(function(){

    var $newUserForm = $("#new_user"),
        $userName = $("#new_user").find("#user_name"),
        autoComplete = $userName.autocomplete({
          serviceUrl: $newUserForm[0].action + ".json",
          onSelect: function(value, data){
            window.location = data
          <% if @account.all_users.count < 250 %>
          },
          
          lookup: <%= raw({
            :suggestions =>  @account.all_users.uniq.map{ |u| u.name || ""},
            :data        => @account.all_users.uniq.map{ |u| url_for(u)  }
          }.to_json) %>
          <% else %>
          }
          <% end %>
        });
        
        // get rid of this lookup part and it will use ajax queries to that serviceUrl above.  I just figured this would be faster
        // and since we dont have that many users per institution we can afford to send it in a pageload.
  });
})(jQuery);
</script>
<% end %>
