<% if can_do @account, @current_user, :read_roster %>
  <h2 id="user_name_label"><%= t 'titles.find_user', "Find A User" %></h2>
  <div class="rs-margin-lr">
    <%= form_for :user, :url => account_users_path(@account), :html => {:id => "new_user", :class => "ic-Form-control", :method => :get} do |f| -%>
      <div class="ic-Input-group">
        <input class="ic-Input" type="text" id="user_name" name="user[name]" value="<%= @user_query %>" aria-labelledby="user_name_label" />
        <button class='Button'><%= t 'buttons.go', "Go" %></button>
      </div>
    <% end -%>
  </div>
<% end %>

<% if use_new_styles? && can_do(@account, @current_user, :manage_account_settings) && @account.branding_allowed?%>
  <div class="rs-margin-lr">
    <%= link_to t("Open Theme Editor"), account_theme_editor_path(@account), :class => 'btn button-sidebar-wide' %>
  </div>
<% end %>
