<% content_for :secondary_content do %>
  <% form_for :user, :url => account_users_path(@account), :html => {:id => "new_user", :method => :get} do |f| -%>
  <fieldset class="textfield-inline-with-button">
    <legend><%= t 'titles.find_user', "Find A User" %></legend>
    <%= f.text_field :name %>
    <button class='button small-button'><%= t 'buttons.go', "Go" %></button>
  </fieldset>
  <% end -%>
  <div style="margin-top: 10px;">
    <%= link_to(image_tag('graph.png') + " " + t('links.view_statistics', "View Statistics"), statistics_account_path(@account), :class => "button button-sidebar-wide") %>
    <%= link_to(image_tag('group.png') + " " + t('links.manage_permissions', "Manage Role Permissions"), account_permissions_path(@account), :class => "button button-sidebar-wide") %>
    <% if @account.root_account? %>
      <%= link_to(image_tag('history.png') + " " + t('links.manage_terms', "Manage Terms"), account_terms_path(@account), :class => "button button-sidebar-wide") %>
    <% end %>
    <% if @account.sub_accounts.count > 0 %>
      <%= link_to(image_tag('ball.png') + " " + t('links.manage_subaccounts', "Manage Sub-Accounts"), account_sub_accounts_path(@account), :class => "button button-sidebar-wide") %>
    <% end %>
  </div>
<% end %>

<% js_block do %>
<script>
require([
  'jquery' /* jQuery, $ */,
  'jqueryui/autocomplete' /* /\.autocomplete/ */
], function($) {

  $(function($){
    var $newUserForm = $("#new_user"),
        $userName = $("#new_user").find("#user_name");
    $userName.autocomplete({
      source: $newUserForm[0].action + ".json",
      select: function(event, ui){
        window.location = ui.item.id;
      }
    });
  });
});
</script>
<% end %>
