<%
  notification = account_notification
%>
<div class="global-message image-block">
  <div class="image-block-image">
    <i class="<%=  notification_icon_classname(notification)  %>"></i>
    <span class="hidden-inline-text">
      <%= accessible_message_icon_text(notification_icon_type(notification)) %>
    </span>
  </div>
  <div class="image-block-content">
    <a class="close" href="#" data-url="<%= dashboard_close_notification_path(notification.id) %>" data-remove=".global-message" title="<%= t :close, 'close' %>" aria-label="<%= t :close, 'close' %>" role="button">×</a>
    <div class="title">
      <%= notification.subject %>
    </div>
    <div class="message user_content">
      <% # I don't see a problem with using gsub given that there are only potential substituations%>
      <% #    but if you found this comment while looking to add a third, it might be time to consider being smarter about this :p %>
      <%= user_content(notification.message.gsub(/(({{)|(%7B%7B))ACCOUNT_DOMAIN((}})|(%7D%7D))/,request.host_with_port).gsub(/(({{)|(%7B%7B))CANVAS_USER_ID((}})|(%7D%7D))/,@current_user.global_id.to_s)) unless notification.message.nil? %>
    </div>
  </div>
</div>
