<div id="add_assignment_type" style="padding: 0; display: none; position: relative;">
  <% form_for :assignment_group, :url => (context_url(@context, :context_assignment_groups_url) rescue "."), :html => {:id => "add_assignment_type_form", :style => "padding: 10px;"} do |f| %>
  <table class="formtable">
    <tr>
      <td><%= f.blabel :name, :en => "Name" %></td>
      <td><%= f.text_field :name, :style => " width:90%;" %></td>
    </tr>
    <tr class="weight_assignment_groups" style="<%= hidden unless (@context.weight_assignment_groups rescue false) %>">
      <td><%= f.blabel :group_weight, :en => "Weight" %></td>
      <td><%= t :percent_of_grade, "%{percent} % of grade", :percent => f.text_field(:group_weight, :size => 4) %></td>
    </tr><tr>
      <td colspan="2">
        <button type="submit" class="btn add_button"><%= t 'buttons.add_group', "Add Group" %></button>
        <button type="button" class="button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
      </td>
    </tr>
  </table>
  <% end %>
</div>

<% js_block do %>
<script>
require([
  'i18nObj' /* I18n.t */,
  'jquery' /* $ */,
  'jquery.instructure_forms' /* formSubmit, formErrors */,
  'jqueryui/dialog',
  'jquery.instructure_misc_plugins' /* showIf */
], function(I18n, $) {

window.attachAddAssignmentGroup = function($select, url) {
  var $group = $select;
  url = url || $("#add_assignment_type_form").attr('action');
  $group.change(function(event) {
    if($(this).val() == "new") {
      $("#add_assignment_type").dialog('close');
      $("#add_assignment_type").show().dialog({
        title: <%= jt('titles.add_assignment_group', "Add Assignment Group") %>,
        width: 300,
        height: "auto",
        autoSize: true,
        modal: true,
        autoOpen: false,
        overlay: {
          backgroundColor: "#000",
          opacity: 0.5
        },
        open: function() {
          $("#add_assignment_type_form :text:first").focus().select();
          $("#add_assignment_type_form").find(".weight_assignment_groups").showIf($group.hasClass('weight'));
          $("#add_assignment_type_form").data('group_select', $group)
            .attr('action', url);
        },
        close: function() {
          if($group.val() == "new") {
            $group[0].selectedIndex = 0;
          }
        }
      }).dialog('open');
    }
  });
  if($group.val() == "new") {
    $group[0].selectedIndex = 0;
//    $group.val($("#full_assignment .group_id").text());
  }
}
$(document).ready(function() {
  $("#add_assignment_type_form").formSubmit({
    beforeSubmit: function(data) {
      $(this).find("button").attr('disabled', true).filter(".add_button").text(<%= jt('messages.adding_group', "Adding Group...") %>);
    },
    success: function(data) {
      $(this).find("button").attr('disabled', false).filter(".add_button").text(<%= jt('buttons.add_group', "Add Group") %>);
      var group = data.assignment_group;
      var $group = $("#add_assignment_type_form").data('group_select');
      var $option = $(document.createElement('option'));
      $option.val(group.id).text(group.name);
      $group.children("option:last").before($option);
      $group.val(group.id);
      $("#add_assignment_type").dialog('close');
    },
    error: function(data) {
      $(this).formErrors(data);
      $(this).find("button").attr('disabled', false).filter(".add_button").text(<%= jt('errors.add_group_failed', "Add Group Failed") %>);
    }
  });
  $("#add_assignment_type .cancel_button").click(function(event) {
    $("#add_assignment_type").dialog('close');
  });
});
});
</script>
<% end %>
