<div id="add_assignment_type" style="padding: 0; display: none; position: relative;">
  <%= form_for :assignment_group, :url => (context_url(@context, :context_assignment_groups_url) rescue "."), :html => {:id => "add_assignment_type_form", :style => "padding: 10px;"} do |f| %>
  <table class="formtable">
    <tr>
      <td><%= f.blabel :name, :en => "Name" %></td>
      <td><%= f.text_field :name, :style => " width:90%;" %></td>
    </tr>
    <tr class="weight_assignment_groups" style="<%= hidden unless (@context.group_weighting_scheme rescue false) %>">
      <td><%= f.blabel :group_weight, :en => "Weight" %></td>
      <td><%= t :percent_of_grade, "%{percent} % of grade", :percent => f.text_field(:group_weight, :size => 4) %></td>
    </tr><tr>
      <td colspan="2">
        <button type="submit" class="btn add_button"><%= t 'buttons.add_group', "Add Group" %></button>
        <button type="button" class="btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
      </td>
    </tr>
  </table>
  <% end %>
</div>

<% js_bundle :add_assignment_group %>
