<% cache([@context, 'add_assignment']) do %>
  <div id="add_assignment_inline" class="add_assignment_inline" style="padding: 0; display: none; position: relative;">
    <%= form_for :assignment, :url => (context_url(@context, :context_assignments_url) rescue "."), :html => {:id => "add_assignment_inline_form", :style => "padding: 10px;"} do |f| %>
    <table class="formtable" style="width: 100%">
      <tr>
        <td><%= f.blabel :title, :en => "Name" %></td>
        <td><%= f.text_field :title, :style => "width:150px;" %></td>
      </tr>
      <tr>
        <td><%= f.blabel :assignment_group_id, :en => "Group" %></td>
        <td>
          <select name="assignment[assignment_group_id]">
            <% cnt = 0 %>
            <% @context.assignment_groups.each do |group| %>
              <% cnt += 1 %>
              <option value="<%= group.id %>"><%= group.name %></option>
            <% end %>
            <% if cnt == 0 %>
              <option value=""><%= t 'options.assignments', "Assignments" %></option>
            <% end %>
          </select>
        </td>
      </tr><tr>
        <td><%= f.blabel :points_possible, :en => "Points" %></td>
        <td><%= f.text_field :points_possible, :style => "width: 50px;" %></td>
      </tr><tr>
        <td style="vertical-align: top;"><%= f.blabel :due_at, :en => "Due" %></td>
        <td><%= f.text_field :due_at, :style => "width: 100px;", :class => "datetime_field" %></td>
      </tr><tr>
        <td class="button-container" colspan="2">
          <button type="button" class="btn cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
          <button type="submit" class="btn btn-primary "><%= t 'buttons.add_assignment', "Add Assignment" %></button>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
<% end %>
