<% 
  asset ||= nil
  js_bundle :aligned_outcomes 
%>
<% if LearningOutcome.non_rubric_outcomes? && asset && @context && @context.has_outcomes %>
  <% assignment = asset if asset.is_a?(Assignment)
  # TODO: if/when we support asset types other than Assignment, make sure to
  # internationalize all the _for_assignment strings
  %>
  <% assignment ||= asset.assignment rescue nil %>
  <div id="aligned_outcomes" style="display: none; margin-top: 20px;">
    <a href="<%= context_url(@context, :context_outcomes_for_asset_url, asset.asset_string) %>" class="outcomes_url" style="display: none;">&nbsp;</a>
    <h3><%= t 'titles.outcomes_for_assignment', "Outcomes for this Assignment" %></h3>
    <div style="margin-top: -1.5em; margin-bottom: 1.0em;">
    <% if can_do(@context, @current_user, :manage_outcomes) %>
      <a href="#" class="align_outcomes_link"><%= t 'actions.align_outcomes', 'align outcomes' %></a>
    <% end %>
    </div>
    <ul class="outcomes">
      <li class="outcome blank" style="display: none;">
        <a href="<%= context_url(@context, :context_outcome_url, "{{ id }}") %>" class="short_description">&nbsp;</a>
        <div class="description">
        </div>
        <% if assignment %>
        <div class="mastery">
          <%= t :mastery_info, "mastery details (either see rubric, or mastery as this point level)" %>
        </div>
        <% end %>
        <div style="display: none;">
          <span class="id">&nbsp;</span>
        </div>
      </li>
    </ul>
  </div>
  <div id="align_outcomes_dialog" style="display: none;">
    <h3><%= t 'titles.align_outcomes_for_assignment', "Align Outcomes for Assignment" %></h3>
    <%= t 'instructions.select_outcomes', "Select the outcomes you'd like aligned with this assignment." %>
    <% if assignment %>
      <%= t 'instructions.specify_mastery', "Then specify a mastery threshold for student scores on this assignment." %>
    <% end %>
    <% cache(['aligned_outcomes', @context].cache_key) do %>
      <ul class="all_outcomes" style="max-height: 150px; overflow: auto; list-style-type: none;">
        <% @context.learning_outcomes.active.each do |outcome| %>
          <li class="outcome">
            <input id="align_outcome_for_<%= outcome.id %>" type="checkbox" class="outcome_checkbox" value="<%= outcome.id %>">
            <label for="align_outcome_for_<%= outcome.id %>" class="short_description"><b><%= outcome.short_description %></b></label>
            <div class="rubric_aligned">
              <i><%= t 'outcome_mastery_based_on_rubric', "mastery based on rubric assessment" %></i>
            </div>
            <div class="description" style="font-size: 0.8em; margin-left: 20px;">
              <%= outcome.description %>
            </div>
          </li>
        <% end %>
      </ul>
      <% if assignment %>
        <%= t 'mastery_score_details', "*Students achieve mastery with a score of* %{score_text_field} or higher.",
              :wrapper => '<label for="aligned_outcomes_mastery_score">\1</label>',
              :score_text_field => '<input type="text" id="aligned_outcomes_mastery_score" style="width: 30px;" value=""/>'.html_safe
        %>
      <% end %>
    <% end %>
    <div class="button-container">
      <button class="button save_button"><%= t 'buttons.align_outcomes', 'Align Outcomes' %></button>
      <button class="button button-secondary cancel_button"><%= t '#buttons.cancel', 'Cancel' %></button>
    </div>
  </div>
<% end %>