<%
  assignment_group ||= nil
  group = assignment_group
  multiple_groups ||= false
  skip_assignments ||= false %>
<% cache(['assignment_group_render', @current_user || 'nobody', group || @context.asset_string, skip_assignments, Time.zone.utc_offset].cache_key, :expires_in => (tomorrow_at_midnight - Time.zone.now).to_i) do %>
<div class="assignment_group <%= 'assignment_group_editable' if can_do(assignment_group, @current_user, :update) %> group_<%= group ? group.id : "blank" %>" id="group_<%= group ? group.id : "blank" %>" style="min-width: 300px; <%= group ? "" : "display: none;" %>">
  <div class="header group_header">
    <div class="header_content">
      <div style="float: left; width: 20px;" class="group_move nobr">
        <%= image_tag "move.png", :class => "group_move_icon", :alt => t('alts.move', "Move"), :title => t('links.reorder_groups', "Reorder Groups") %>
        &nbsp;
      </div>
      <div style="float: left;">
        <span class="group_name" tabindex="0"><span class="name"><%= group.try_rescue(:name) || t('defaults.group_name', "Course Assignments") %></span>:</span>
        <a href="#" class="more_info_link" style="font-size: 0.8em; padding-left: 10px; display: none;"><%= t 'links.more_info', "more info..." %></a>
        <!--a href="#" class="hide_info_link" style="font-size: 0.8em; padding-left: 10px; display: none;">Hide Info</a-->
      </div>
      <div style="display: none;">
        <span class="rules"><%= group.try_rescue(:rules) || nbsp %></span>
        <span class="assignment_group_id"><%= (group ? group.id : nbsp) %></span>
        <span class="assignment_weighting_scheme"><%= group.try_rescue(:assignment_weighting_scheme) || nbsp %></span>
        <span class="default_assignment_name"><%= group.try_rescue(:default_assignment_name) || "Assignment" %></span>
        <a href="<%= context_url(@context, :controller => :assignment_groups, :action => :update, :id => (group ? group.id : "{{ id }}")) %>" class="assignment_group_url">&nbsp;</a>
      </div>
      <div style="float: right; margin-right: 5px; display: block;" class="links">
        <span class="more_info_brief" style="font-weight: bold; display: none; font-size: 0.8em; padding-right: 10px;" title="<%= t 'titles.percent_of_final_grade', 'Percent of Final Grade' %>"><span class="group_weight"><%= (group.try_rescue(:group_weight) || "0") %></span>%</span>
        <a href="<%= context_url(@context, :new_context_assignment_url, :assignment_group_id => (group ? group.id : "{{ id }}")) %>" class="add_assignment_link no-hover" style="padding-right: 15px;">
          <i class="icon-add standalone-icon"></i><span class="screen-reader-text"><%= t('alts.add_assignment', "Add Assignment") %></span>
        </a>
        <a href="<%= context_url(@context, :context_assignment_group_reorder_assignments_url, group ? group.id : "{{ id }}") %>" class="reorder_assignments_url" style="display: none;">&nbsp;</a>
        <a href="#" class="edit_group_link no-hover">
          <i class="icon-edit standalone-icon"></i><span class="screen-reader-text"><%= t('alts.edit_group_details', "Edit") %></span>
        </a>
        <% if (!group || !group.has_frozen_assignment_group_id_assignment?(@current_user)) %>
          <a href="<%= context_url(@context, :controller => :assignment_groups, :action => :destroy, :id => (assignment_group ? assignment_group.id : "{{ id }}")) %>" class="delete_group_link no-hover">
            <i class="icon-end standalone-icon"></i><span class="screen-reader-text"><%= t('alts.delete_assignment_group', "Delete Assignment Group") %></span>
          </a>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="more_info" style="min-height: 30px; display: none; padding-left: 30px; font-size: 0.8em;">
        <div class="group_weight_percent" style="font-weight: bold;"><%= t :group_weight, "*%{percent}% of total grade", :percent => (group.try_rescue(:group_weight) || "0"), :wrapper => '<span class="group_weight">\1</span>' %></div>
        <div class="rule_details"></div>
        <% if can_do(assignment_group, @current_user, :update) %>
        <div class="button-container">
          <button type="button" class="edit_group_link btn btn-small"><%= t 'links.edit_group_details', "Edit group details" %></button>
          <button type="button" class="hide_info_link btn btn-small"><%= t 'links.hide_info', "Hide info" %></button>
        </div>
        <div class="clear"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="assignment_list content">
    <div class="no_assignments_message" style="padding: 3px 10px;<%= multiple_groups || (group && group.active_assignments && group.active_assignments.length > 0) ? "display: none;" : "" %>">
      <%= t :no_assignments, "No assignments yet" %> <a href="<%= context_url(@context, :controller => :assignments, :action => :create) %>" class="add_assignment_link" style="padding-left: 15px;"> <%= t 'links.add_an_assignment', "Add an Assignment" %></a>
    </div>
    <% if !skip_assignments && group && group.active_assignments %>
      <%= render :partial => "shared/assignment",
                 :collection => group.active_assignments,
                 :locals => {
                   :context => @context
                 } %>
    <% end %>
  </div>
  <div class="padding" style="<%= group && group.active_assignments && group.active_assignments.length > 0 ? "display: none;" : "display: block;" %>"></div>
</div>
<% end %>
