<span class="ic-Login_icon-sso ic-Login_icon-sso--icon-only" role="presentation">
  <%= svg_icon "#{auth_type}" %>
</span>
<% if with_login_text %>
  <span class="ic-Login__sso-button__title ic-Login__sso-button__title--<%= auth_type %>">
    <%= t do %>
      Login with <span class="ic-Login__sso-button__title-caps"><%= auth_type %></span>
    <% end %>
  </span>
<% end %>
<% if sr_message.present? %>
  <span class="screenreader-only"><%= sr_message %><span>
<% end %>
