<% brief ||= false %>
<div class="conference communication_message" id="conference_<%= conference ? conference.id : "blank" %>" style="<%= hidden unless conference %>">
  <div class="header">
    <% if !brief %>
      <div class="link_box">
        <a href="<%= context_url(@context, :context_conference_url, conference ? conference.id : "{{ id }}") %>" style="<%= hidden unless can_do(conference, @current_user, :update) %>" class="edit_conference_link no-hover"><%= image_tag "edit.png", :title => t('buttons.edit', 'Edit Conference Details') %></a>
        <a href="<%= context_url(@context, :context_conference_url, conference ? conference.id : "{{ id }}") %>" style="<%= hidden unless can_do(conference, @current_user, :delete) %>" class="delete_conference_link no-hover"><%= image_tag "delete.png", :title => t('buttons.delete', 'Delete Conference') %></a>
      </div>
    <% end %>
    <%= link_to((conference ? conference.title : @context.is_a?(Course) ? t(:course_conference, "Course Conference") : t(:group_conference, "Group Conference")), context_url(@context, :context_conference_url, conference ? conference.id : "{{ id }}"), :class => "title") %>
    <span style="font-size: 0.8em; padding-left: 10px;">
      <%= t(:participant, "participant", :count => conference.added_users.length) if conference && conference.added_users.length > 0 %>
    </span>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="status">
      <% if ((!conference || conference.available?) rescue false) %>
        <%= t '#conferences.show.status.new', "Hasn't started yet" %>
      <% elsif (conference.active? rescue false) %>
        <%= t '#conferences.show.status.started', "Started %{time}", :time => time_string(conference.started_at) %>
      <% elsif (conference.finished? rescue true) %>
        <%= t '#conferences.show.status.finished', "Finished %{date_and_time} (%{duration})", :date_and_time => datetime_string(conference.ended_at), :duration => t('#conferences.show.minute', "minute", :count => (conference.running_time / 60)) %>
      <% end %>
      <div style="display: none;" class="long_running"><%= conference && conference.long_running? ? 1 : 0 %></div>
      <div style="display: none;" class="id"><%= conference && conference.id %></div>
      <div style="display: none;" class="has_advanced_settings"><%= conference && conference.has_advanced_settings %></div>
      <div style="display: none;" class="duration"><%= conference ? conference.duration : WebConference::DEFAULT_DURATION %></div>
      <div style="display: none;" class="user_ids"><%= Array(conference.user_ids).join(",") rescue nbsp %></div>
      <div style="display: none;" class="conference_type"><%= conference && conference.conference_type %></div>
      <%- if conference && conference.user_settings -%>
      <%- conference.user_settings.each do |key, value| -%>
      <div style="display: none;" class="user_settings[<%= key %>]"><%= value %></div>
      <%- end -%>
      <%- end -%>
    </div>
    <div class="description">
      <%= conference.description rescue "" %>
    </div>
  </div>
  <div class="base_links">
    <% txt = nil
      if conference && conference.available?
        txt = t('#conferences.show.buttons.start', "Start it now") if can_do(conference, @current_user, :initiate)
      elsif conference && conference.active?
        txt = t('#conferences.show.buttons.join', "Join it now") if can_do(conference, @current_user, :join)
      elsif conference && conference.finished? && conference.restartable?
        txt = t('#conferences.show.buttons.restart', "Re-start it now") if can_do(conference, @current_user, :initiate)
      elsif !conference
        txt = t('#conferences.show.buttons.start', "Start it now")
      end 
    %>
    <% if txt %>
    <a target="_blank" href="<%= context_url(@context, :context_conference_join_url, conference ? conference.id : "{{ id }}") %>" class="btn join_conference_link">
      <%= txt %>
    </a>
    <% end %>
    <a href="<%= context_url(@context, :context_conference_close_url, conference ? conference.id : "{{ id }}") %>" class="btn close_conference_link" style="<%= hidden unless can_do(conference, @current_user, :close) %>"><%= t('#conferences.show.buttons.close', "End it now") %></a>
  </div>
  <div class="clear"></div>
</div>
