<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% dashboard_invitation ||= nil %>
<% invitation = dashboard_invitation %>
<div class="ic-notification ic-notification--success">
  <div class="ic-notification__icon" role="presentation">
    <i class="icon-invitation"></i>
    <span class="screenreader-only">
      <%= accessible_message_icon_text("invitation") %>
    </span>
  </div>
  <div class="ic-notification__content">
    <div class="ic-notification__message notification_message">
      <%=
        mt(:invitation_text, "You have been invited to join [%{course}](%{link_to_course}) with the following user role: %{role_name}", {
          :course => invitation.long_name,
          :link_to_course => course_path(invitation.course_id, :invitation => invitation.uuid),
          :role_name => invitation&.role&.label
        })
      %>
    </div>
    <div class="ic-notification__actions">
      <%= form_tag course_enrollment_invitation_path(invitation.course_id) do %>
        <input type="hidden" name="invitation" value="<%= invitation.uuid %>" />
        <button type="submit" name="reject" class="Button Button--small"><%= t('buttons.decline', 'Decline') %></button>
        <button type="submit" name="accept" class="Button Button--small Button--success"><%= t('buttons.accept', 'Accept') %></button>
      <% end %>
    </div>
  </div>
</div>
