<% view ||= ""; top_view ||= 'dashboard' %>
<ul id="tab_dashboard_secondary" class="<%= 'current' if top_view == 'dashboard' %>" style="<%= hidden unless top_view == 'dashboard' %>">
  <li class="<%= "active" if view == "summary" %>"><%= link_to "Summary", dashboard_url %></li>
  <li><%= link_to "Grades", dashboard_grades_url %></li>
  <li class="<%= "active" if view == "calendar" %>"><%= link_to "Calendar", calendar_url %></li>
  <li class="<%= "active" if view == "files" %>"><%= link_to "My Files", dashboard_files_url %></li>
  <!--li class="<%= "active" if view == "tags" %>"><%= link_to "Tags", tags_url %></li-->
  <% inbox_text = "Inbox"
    inbox_text += "(#{@current_user.unread_inbox_items_count})" if @current_user && @current_user.unread_inbox_items_count && @current_user.unread_inbox_items_count > 0 %>
  <li class="<%= "active" if view == "inbox" %>"><%= link_to inbox_text, inbox_url %></li>
  <li class="<%= "active" if view == "eportfolios" %>"><%= link_to "ePortfolios", dashboard_eportfolios_url %></li>
</ul>
