<% enrollment ||= nil %>
<% show_section ||= false %>
<% include_type ||= false; show_information_link ||= false %>
<% enrollments = enrollment[1].sort_by(&:id) if enrollment.is_a?(Array) %>
<% enrollment = enrollment[1][0] if enrollment.is_a?(Array) %>
<% multiple_enrollments = enrollments && enrollments.length > 1 %>
<li id="enrollment_<%= enrollment.try_rescue(:id) || "blank" %>" class="user <%= "pending" if enrollment.try_rescue(:pending?) %> <%= enrollment.class.to_s.underscore %> user_<%= enrollment.try_rescue(:user_id) %>"
<% if enrollment.try_rescue(:user) %>
  title="<%= enrollment.user.name %>: <%= enrollment.user.email %>"
<% end %>>
  <span class="links" style="<%= hidden if enrollment && ((enrollment.user == @current_user && !can_do(@context.account, @current_user, :manage_admin_users)) || (@current_enrollment && @current_enrollment.type != 'TeacherEnrollment')) %>">
    <%
      lockedbysis = enrollment && enrollment.defined_by_sis?
      lockedbysis &&= !@context.account.grants_right?(@current_user, session, :manage_account_settings)
      if lockedbysis
        cant_unenroll = "cant_unenroll"
        unenroll_image = "delete_circle_gray.png"
      else
        cant_unenroll = ""
        unenroll_image = "delete_circle.png"
      end
      allowedbypermissions = ([StudentEnrollment, ObserverEnrollment].include?(enrollment.try(:class)) && can_do(@context, @current_user, :manage_students) || can_do(@context, @current_user, :manage_admin_users))
    %>
    <% if show_information_link %>
      <a href="#" class="user_information_link no-hover"><%= image_tag "information.png" %></a>
      <% if !lockedbysis && allowedbypermissions  && show_section && enrollments %>
        <a href="#" class="edit_section_link no-hover"><%= image_tag "edit.png" %></a>
      <% end %>
    <% end %>
    <% if allowedbypermissions && !multiple_enrollments %>
      <a href="<%= context_url(@context, :context_unenroll_url, (enrollment.try_rescue(:id) || "{{ id }}" ) ) %>" class="unenroll_user_link <%= cant_unenroll %> no-hover" title="<%= t 'links.unenroll_user_course', "Remove User from Course" %>"><i class="icon-end"></i></a>
    <% end %>
    <a href="<%= re_send_confirmation_url( enrollment.try_rescue(:user_id) || "{{ user_id }}", enrollment.try_rescue(:user).try_rescue(:communication_channel).try_rescue(:id) || "{{ communication_channel_id }}", :enrollment_id => enrollment.try_rescue(:id) || "{{ id }}" ) rescue "#" %>" class="re_send_confirmation_url" style="display: none;">&nbsp;</a>
  </span>
  <a href="<%= context_url(@context, :context_user_url, enrollment.try_rescue(:user_id) || "{{ user_id }}") %>" class="name"><%= enrollment.try_rescue(:user).try_rescue(:last_name_first) %></a>
  <div class="short_name"><%= enrollment.try_rescue(:user).try_rescue(:short_name) %></div>
  <% if include_type || (enrollment && enrollment.limit_privileges_to_course_section) %>
    <div class="enrollment_type">
      <%=
        if enrollment.try(:limit_privileges_to_course_section)
          case enrollment.try(:type)
            when 'TeacherEnrollment'
              t :enrolled_as_limited_teacher, "enrolled as a teacher with section-only access"
            when 'TaEnrollment'
              t :enrolled_as_limited_ta, "enrolled as a TA with section-only access"
            when 'ObserverEnrollment'
              t :enrolled_as_limited_observer, "enrolled as an observer with section-only access"
            when 'DesignerEnrollment'
              t :enrolled_as_limited_designer, "enrolled as a designer with section-only access"
            else
              t :enrolled_as_limited_student, "enrolled as a student with section-only access"
            end
        else
          case enrollment.try(:type)
            when 'TeacherEnrollment'
              t :enrolled_as_teacher, "enrolled as a teacher"
            when 'TaEnrollment'
              t :enrolled_as_ta, "enrolled as a TA"
            when 'ObserverEnrollment'
              t :enrolled_as_observer, "enrolled as an observer"
            when 'DesignerEnrollment'
              t :enrolled_as_designer, "enrolled as a designer"
            else
              t :enrolled_as_student, "enrolled as a student"
            end
        end
      %>
    </div>
  <% end %>
  <div class="email"><%= enrollment.try_rescue(:user).try_rescue(:email) %></div>
  <%# [nil] because we want a blank template to show up when enrollments is nil %>
  <% (enrollments || [nil]).each do |enrollment| %>
    <div class="enrollment_link enrollment_<%= enrollment.try_rescue(:id) || "blank" %>">
      <div class="associated_user associated" style="<%= hidden unless enrollment.try_rescue(:associated_user_id) %>">
        <%= before_label :linked_to, "linked to" %>
        <span class="associated_user_name associated_user_link"><%= context_user_name(@context, enrollment.try_rescue(:associated_user_id)) %></span>
        <span class="associated_user_id" style="display: none;"><%= enrollment.try_rescue(:associated_user_id) %></span>
      </div>
      <div class="associated_user unassociated" style="<%= hidden if enrollment.try_rescue(:associated_user_id) %>">
        <a href="#" class="associated_user_link"><%= t 'links.link_to_a_student', "link to a student" %></a>
      </div>
      <span class="enrollment_id" style="display: none;"><%= enrollment.try_rescue(:id) %></span>
    </div>
  <% end %>
  <% if show_section && enrollments %>
    <div class="sections">
    <% enrollments.each do |enrollment| %>
      <% if enrollment && enrollment.course_section %>
        <div class="section section_<%= enrollment.course_section_id %>">
          <div class="section_name"><%= enrollment.course_section.display_name %></div>
          <% unless lockedbysis %>
            <%= form_tag course_move_enrollment_url(@context, enrollment.id), {:class => "enrollment_course_section_form", :style => "display: none;"} do  %>
              <select title="<%= t 'titles.course_section', "Course Section" %>" name="course_section_id" class="course_section_id">
                <% @context.course_sections.active.each do |section| %>
                  <option value="<%= section.id %>" class="option_for_section_<%= section.id %>" <%= "selected=selected" if enrollment.course_section_id==section.id %>><%= section.display_name %></option>
                <% end %>
              </select>
              <% if allowedbypermissions && multiple_enrollments %>
                <a href="<%= context_url(@context, :context_unenroll_url, (enrollment.try_rescue(:id) || "{{ id }}" ) ) %>" class="unenroll_user_link <%= cant_unenroll %> no-hover" title="<%= t 'links.unenroll_user_section', "Remove User from Section" %>"><i class="icon-end"></i></a>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
  <span class="invitation_sent_at" style="display: none;"><%= datetime_string(enrollment.try_rescue(:updated_at)) || nbsp %></span>
  <span class="id" style="display: none;"><%= enrollment.try_rescue(:id) %></span>
  <span class="user_id" style="display: none;"><%= enrollment.try_rescue(:user_id) %></span>
 <span class="clear"></span>
</li>
