<% 
  title ||= "Events"
  display_count ||= 3
  display_count += 1 if event_list.length == display_count + 1
  period ||= "this period"
  show_context ||= false
  show_more ||= true
  upcoming ||= false
  is_recent_feedback ||= false
  partial = is_recent_feedback ? 'courses/recent_feedback' : 'courses/recent_event' 
  contexts_to_link_to ||= nil
%>
<div class="events_list">
  <h2><a class='event-list-view-calendar small-calendar' href='<%= calendar_url_for(contexts_to_link_to) %>'>View Calendar</a><%= title %></h2>
  <ul class="right-side-list events">
  <% if !event_list || event_list.empty? %>
    <li>
      <small>Nothing for <%= period %></small>
    </li>
  <% else %>    
    <% (event_list || []).each_with_index do |e, i| %>
      <%= render :partial => partial, :object => e, :locals => {:show_context => show_context, :is_hidden => i >= display_count, :upcoming => upcoming } %>
    <% end %>
    <% if event_list.length > display_count && show_more %>
    <li>
      <a href="#" class="more_link"><%= "at least" if event_list.length >= 20 %> <%= event_list.length - display_count %> more for <%= period %>&hellip;</a>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>