<div id="feedback_user_email" style="display: none;"><%= (session[:user_email] = @current_user.email) rescue (session[:user_email] || "") %></div>
<div id="feedback_dialog" style="display: none;"></div>
<div id="help_dialog" style="display: none;" title="<%= t('links.help', 'Help') %>">
  <ul>
    <li class="student message_teacher">
      <a href="#" class="message_teacher_link">
        <span class="text"><%= t('instructor_question', 'Ask your instructor a question') %></span>
        <span class="subtext"><%= t('instructor_question_sub', 'Questions are submitted to your instructor') %></span>
      </a>
    </li>
    <li class="student teacher admin">
      <a href="http://guides.instructure.com" target="_blank">
        <span class="text"><%= t('canvas_help', 'Search Canvas Guides') %></span>
        <span class="subtext"><%= t('canvas_help_sub', 'Find answers to common questions') %></span>
      </a>
    </li>
    <% @domain_root_account && @domain_root_account.custom_feedback_links.each do |link| %>
      <li class="<%= link[:classes] %>" target="_blank">
        <a href="<%= link[:url] %>">
          <span class="text"><%= link[:text] %></span>
          <span class="subtext"><%= link[:subtext] %></span>
        </a>
      </li>
    <% end %>
    <li class="student teacher admin">
      <a href="#" class="file_ticket_link">
        <span class="text"><%= t('report_problem', 'Report a Problem') %></span>
        <span class="subtext"><%= t('report_problem_sub', 'If Canvas misbehaves, tell us about it') %></span>
      </a>
    </li>
  </ul>
</div>
