<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% context ||= @context; purpose ||= 'rubric' %>
<div id="find_outcome_criterion_dialog" style="display: none;" class="find_outcome">
  <div class="loading_message" style="margin: 10px; text-align: center;">
  </div>
  <% css_bundle("side_tabs_table") %>
  <table style="border-collapse: collapse;" class="outcomes_holder side_tabs_table" style="display: none;">
    <tr>
      <td class="left">
        <ul class="outcomes_selects unstyled_list side_tabs" style="max-height: 350px; width: 200px;">
          <li class="outcomes_select blank" style="display: none;">
            <a href="#">
              <span class="title">&nbsp;</span>
              <span class="id" style="display: none;">&nbsp;</span>
            </a>
            <div class="display_name" style="font-size: 0.8em;">&nbsp;</div>
          </li>
        </ul>
      </td>
      <td class="right">
        <div class="side_tabs_content outcomes_list" style="max-height: 350px;">
          <div class="outcome blank" style="display: none; cursor: pointer;" title="<%= t 'titles.select_and_add_criterion', "Select and Add Criterion" %>">
            <div class="learning_outcome_id" style="display: none;"></div>
            <div class="header short_description" style="font-weight: bold; font-size: 1.2em;"></div>
            <div class="body description" style="margin: 10px 0; font-size: 0.8em;"></div>
            <% if purpose == 'rubric' %>
              <div><%= before_label :criterion_ratings, "Criterion Ratings" %></div>
              <table>
                <tr>
                  <td class="rating blank" style="display: none; padding: 2px 5px;">
                    <div class="description"></div>
                    <div class="long_description" style="font-size: 0.8em;"></div>
                    <div><%= t :points, "%{points} pts", :points => '<span class="points"></span>'.html_safe %></div>
                  </td>
                </tr>
              </table>
              <div style="font-size: 0.8em; margin-bottom: 10px;">
                <%= t :points_threshold, "threshold: %{points} pts", :points => '<span class="mastery_points">&nbsp;</span>'.html_safe %>
              </div>
            <% end %>
            <div class="button-container">
              <button type="button" class="btn select_outcome_link" style="float: <%= direction('right') %>; margin: 0 0.5em 0.5em 0.5em;">
                <%= t 'buttons.add_outcome', "Add Outcome" %>
              </button>
              <div style="float: <%= direction('right') %>; margin-top: 0.5em;">
                <% if purpose == 'rubric' %>
                  <input type="checkbox" class="criterion_for_scoring" checked /><label><%= t 'labels.use_for_scoring', "use this criterion for scoring" %></label>
                <% elsif purpose == 'question_bank' %>
                  <label for="outcome_question_bank_mastery" class="mastery_level_text">
                    <%= before_label :master_level, "set mastery for any score at or above" %>
                  </label>
                  <input type="text" class="mastery_level" id="outcome_question_bank_mastery" title="<%= t 'titles.mastery_level', "percent above which to set mastery" %>" style="width: 40px;"/>%
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <a href="<%= context_url(context, :list_context_outcomes_url) %>" style="display: none;" class="outcomes_list_url">&nbsp;</a>
</div>
