<li role="alert" class="ic-flash-static ic-flash-<%= flash_notice[:type] || 'warning' %> <%= flash_notice[:size] %> <%= flash_notice[:classes] %>" data-buffer-index="<%= flash_notice_counter %>">
  <% if flash_notice[:icon] %><i class="icon-<%= flash_notice[:icon] %>"></i><% end %>
  <%= flash_notice[:content] %>
  <a href='#' class='icon-end close_link'><%= t "close", "Close" %></a>
</li>
