<% if session[:from_pilot]
  session[:from_pilot] = nil
  @from_pilot = true
  flash[:notice] = t 'notices.redirected_from_pilot', "You've been redirected to the new version of Instructure Canvas.  Welcome!"
end %>
<div id="flash_message_holder">
  <div id="flash_message_wrapper">
    <div id="flash_notice_message" class="<%= 'long_show' if @from_pilot %>" style="<%= "display: none;" if !flash[:notice] && !flash[:html_notice] %>">
      <a href="#" class="close-link"><%= t 'links.close', "close" %></a>
      <%= flash[:html_notice] ? raw(flash[:html_notice]) : flash[:notice] %>
      <% flash[:notice] = nil; flash[:html_notice] = nil %>
    </div>
    <div id="flash_error_message" style="<%= "display: none;" if !flash[:error] %>">
      <a href="#" class="close-link"><%= t 'links.close', "close" %></a>
      <%= flash[:error]%>
      <% flash[:error] = nil %>
    </div>
  </div>
</div>
<% if flash[:scary_warning].present? %>
<style>
  #flash_scary_warning {
    position: fixed;
    z-index: 100000;
    bottom: 0;
    top: auto;
    left: 0;
    background-color: #FDD;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: black;
    width: 100%;
    padding: 15px;
    opacity: 0.90;
    color: black;
  }
</style>
<div id="flash_scary_warning">
  <img src="/images/warning.png" style="padding-right: 10px;" />
  <b><%= flash[:scary_warning] %></b>
</div>
<% end %>