<% notices = flash_notices() %>
<div id="flash_message_buffer" style="height:<%= notices.sum{ |n| n[:size] == 'xlarge' ? 60 : 30 } %>px;"></div>
<ul id="flash_message_holder">
  <% notices.each do |notice| %>
    <li class="static_message ui-state-<%= notice[:type] || 'warning' %> <%= notice[:size] %> <%= notice[:classes] %>">
      <i></i>
      <%= notice[:content] %>
      <a href='#' class='close_link'><%= t "close", "Close" %></a>
    </li>
  <% end %>
</ul>
