<% if session[:from_pilot]
  session[:from_pilot] = nil
  @from_pilot = true
  flash[:notice] = "You've been redirected to the new version of Instructure Canvas.  Welcome!"
end %>
<div id="flash_message_holder">
  <div id="flash_message_wrapper">
    <div id="flash_notice_message" class="<%= 'long_show' if @from_pilot %>" style="<%= "display: none;" if !flash[:notice] %>">
      <a href="#" class="close-link">close</a>
      <%= flash[:notice]%>
      <% flash[:notice] = nil %>
    </div>
    <div id="flash_error_message" style="<%= "display: none;" if !flash[:error] %>">
      <a href="#" class="close-link">close</a>
      <%= flash[:error]%>
      <% flash[:error] = nil %>
    </div>
  </div>
</div>