<% 
  dialog ||= false 
  jammit_css :full_assignment, :tinymce
  js_bundle :full_assignment, :manage_groups
  assignment = full_assignment
  assignment_exists = assignment && (assignment.id || assignment.new_record?) rescue false 
  if !assignment_exists
    assignment = @context.assignments.new
  end
  is_discussion_topic = !!(assignment && assignment.submission_types == "discussion_topic" && assignment.discussion_topic)
  is_external_tool = !!(assignment.try(:submission_types) == "external_tool")
  js_env :HIDE_DESCRIPTION => assignment.att_frozen?(:description, @current_user)
%>
<% js_block do %>
<script type="text/javascript">
  var editIfNoContent = <%= (assignment_exists && assignment.submission_types != "online_quiz" && !can_do(assignment, @current_user, :read_own_submission)) ? "true" : "false" %>;
</script>
<% end %>

<div id="edit_letter_grades_form" style="display: none;">
  <%= render :partial => "shared/grading_standard", :object => assignment.try(:grading_standard) %>
  <a href="<%= context_url(@context, :context_grading_standards_url) %>" style="display: none;" class="create_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_grading_standard_url, "{{ id }}") %>" style="display: none;" id="update_grading_standard_url">&nbsp;</a>
</div>
<div id="full_assignment_holder" class="<%= 'editing' if @editing %>" style="clear: right;">
  <% if params[:return_to] %>
    <a href="<%= clean_return_to(params[:return_to]) %>" class="redirect_on_finish_url" style="display: none;"></a>
  <% end %>
  <div class="assignment content_underline_links" id="full_assignment" style="<%= assignment && (assignment.id || assignment.new_record?) ? "" : "display: none;" %>">
    <% if (dialog) %>
      <a href="#" class="edit_full_assignment_link edit"><%= t 'links.edit_assignment_details', "Edit Assignment Details" %></a>
    <% end %>
    <div style="float: right; text-align: right; font-size: 0.8em;">
      <div class="date_text" style="<%= assignment_exists && assignment.due_at ? '' : 'display: none;' %>">
        <% ot(:due_by, "due %{date} by %{time}", :date => capture { %>
        <span class="due_date"><%= date_string(assignment.due_at) rescue "" %></span><% }, :time => capture { %>
        <span class="due_time"><%= time_string(assignment.due_at) rescue "" %></span><% }) %>
      </div>

      <div class="points_text" style="<%= assignment_exists && assignment.points_possible ? '' : 'display: none;' %>">
        <% ot(:out_of, "out of %{points}", :points => capture { %><span class="points_possible"><%= assignment.points_possible rescue "" %></span><% }) %>
      </div>
    </div>
    <h2 class="title">
      <%= assignment.title rescue "" %>
    </h2>
    <% if @locked %>
      <%= @locked.is_a?(Hash) ? lock_explanation(@locked, 'assignment', @context) : t('messages.locked', "This assignment is currently locked.") %>
    <% end %>
    <div class="quiz_content reminder" style="text-align: center; <%= "display: none;" unless assignment && assignment.submission_types == "online_quiz" && assignment.quiz %>">
      <div class="body">
        <%= before_label :grades_from_quiz, "Grades for this assignment come from the quiz" %> <span class="quiz_title"><%= assignment.submission_types == 'online_quiz' && assignment.quiz.title rescue nbsp %></span><br/>
        <a class="assignment_quiz_link" href="<%= context_url(@context, :context_quiz_url, ((assignment && assignment.submission_types == 'online_quiz' && assignment.quiz) ? assignment.quiz.id : "{{ quiz_id }}")) %>" style="font-weight: bold;"><%= t 'links.quiz', "Click here to go to the quiz" %></a>
        <a class="assignment_quiz_url" href="<%= context_url(@context, :context_quiz_url, "{{ quiz_id }}") %>" style="display: none;">&nbsp;</a>
      </div>
    </div>
    <div class="discussion_topic_content reminder-content" style="<%= hidden unless is_discussion_topic %>">
      <div class="body">
        <% ot('linked_to_discussion', "This assignment is linked to the discussion, %{discussion_topic}. Grading will be based on posts in the topic.", :discussion_topic => capture { %>
            <span class="discussion_topic_title"><%= is_discussion_topic && assignment.discussion_topic.title rescue nbsp %></span><% }) %><br/>
        <a class="assignment_topic_link content-link" href="<%= context_url(@context, :context_discussion_topic_url, (is_discussion_topic ? assignment.discussion_topic.id : "{{ discussion_topic_id }}")) %>" style="font-weight: bold;"><%= t 'links.discussion', "Click here to go to the discussion" %></a>
        <a class="assignment_topic_url" href="<%= context_url(@context, :context_discussion_topic_url, "{{ discussion_topic_id }}") %>" style="display: none;">&nbsp;</a>
      </div>
    </div>
    <div class="clear"></div>

    <% description = assignment && assignment.description && !assignment.description.empty? ? user_content(assignment.description) : t('defaults.no_content', "No Content") %>
    <div class="description user_content"><%= description %></div>
    <div class="course_id" style="display: none;"><%= @context.id if @context && @context.is_a?(Course) %></div>

    <div style="display: none;">
      <span class="timestamp"><%= assignment.due_at.to_i rescue "" %></span>
      <span class="due_date_string"><%= assignment.due_at.strftime("%m/%d/%Y") rescue "" %></span>
      <span class="due_time_string"><%= assignment.due_at.strftime("%I:%M%p").downcase rescue "" %></span>
      <span class="group_id"><%= (assignment_exists && !assignment.group_name.empty? ? assignment.group_name : t('defaults.other_group', "other")) rescue t('defaults.other_group', "other") %></span>
    </div>
  </div>
  <% if can_do(assignment, @current_user, :update_content) %>
  <% url = assignment && !assignment.new_record? ? context_url(@context, :context_assignment_url, assignment.id) : context_url(@context, :context_assignments_url) %>
  <% form_for assignment, :url => url, :html => {:method => (assignment && !assignment.new_record? ? 'PUT' : 'POST'), :id => 'edit_assignment_form', :style => 'display: none;'} do |f| %>
  <% show_more_grading_options = (assignment.min_score || assignment.max_score || assignment.mastery_score || !assignment.droppable?) rescue false %>
  <table class="formtable full_assignment_table" style="width: 100%;">
    <tr>
      <td colspan="4">
        <% unless assignment.att_frozen?(:description, @current_user) %>
          <a href="#" style="font-size: 0.8em; float: right;" class="switch_full_assignment_view"><%= t 'links.switch_views', "Switch Views" %></a>
        <% end %>
        <div class="assignment_content not_graded_content">
          <%= before_label :assignment_description, "Assignment Description" %>
        </div>
        <div class="quiz_content" style="display: none;">
          <%= before_label :quiz_summary, "Quiz Summary/Introduction" %>
        </div>
        <div class="external_tool_content" style="display: none;">
          <%= before_label :external_tool_introduction, "External Tool Instructions/Introduction" %>
        </div>
        <div class="clear"></div>
        <% if assignment.att_frozen?(:description, @current_user) %>
          <div class="description user_content"><%= description %></div>
        <% else %>
          <div><%= f.text_area :description, :style => 'width: 100%;' %></div>
        <% end %>
      </td>
    </tr>
    <% if can_do(assignment, @current_user, :update) %>
    <% if assignment.frozen_for_user?(@current_user)%>
      <tr>
        <td colspan="4">
          <%= t('description.assignment_is_frozen', 'Some settings have been administratively locked.') %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td style="width: 10%;">
        <div style="margin-bottom: 10px; <%= hidden if is_discussion_topic %>"><%= before_label :type, "Type" %></div>
      </td><td style="width: 40%;">
        <% if assignment.att_frozen?(:submission_types, @current_user) %>
          <% if assignment.submission_types == 'discussion_topic' %>
            <%= t 'options.discussion', "Discussion" %>
          <% elsif assignment.submission_types == 'online_quiz' %>
            <%= t 'options.quiz', "Quiz" %>
          <% elsif assignment.submission_types == 'external_tool' %>
            <%= t 'options.external_tool', "External Tool" %>
          <% elsif assignment.submission_types == 'attendance' %>
            <%= t 'options.attendance', "Attendance" %>
          <% elsif assignment.submission_types == 'not_graded' %>
            <%= t 'options.not_graded', "Not Graded" %>
          <% else %>
            <%= t 'options.assignment', "Assignment" %>
          <% end %>
        <% else %>
          <select class="assignment_type" name="assignment_type" style="<%= hidden if is_discussion_topic %>">
            <option value="assignment" <%= "selected" if (assignment.submission_types != 'online_quiz' && assignment.submission_types != 'attendance' && assignment.submission_types != 'not_graded' rescue true) %>><%= t 'options.assignment', "Assignment" %></option>
            <option value="discussion_topic" <%= "selected" if (assignment.submission_types == 'discussion_topic' rescue false) %>><%= t 'options.discussion', "Discussion" %></option>
            <option value="quiz" <%= "selected" if (assignment.submission_types == 'online_quiz' rescue false) %>><%= t 'options.quiz', "Quiz" %></option>
            <option value="external_tool" <%= "selected" if (assignment.submission_types == 'external_tool' rescue false) %>><%= t 'options.external_tool', "External Tool" %></option>
            <% if feature_enabled?(:attendance) %>
              <option value="attendance" <%= "selected" if (assignment.submission_types == 'attendance' rescue false) %>><%= t 'options.attendance', "Attendance" %></option>
            <% end %>
            <option value="not_graded" <%= "selected" if (assignment.submission_types == 'not_graded' rescue false) %>><%= t 'options.not_graded', "Not Graded" %></option>
          </select>
        <% end %>
      </td>
      <td colspan="2" style="width: 50%;">
        <a href="#" class="more_options_link"><%= t 'links.more_options', "more options" %></a>
      </td>
    </tr>
    <% unless assignment.att_frozen?(:submission_types, @current_user) %>
      <tr class="not_graded_content">
        <td colspan="4" style="font-size: 0.8em; padding-left: 10px; padding-top: 0; font-style: italic;"><%= t 'descriptions.not_graded', "This assignment will not appear in the gradebook" %></td>
      </tr>
      <tr class="discussion_topic_content">
        <td colspan="4" style="font-size: 0.8em; padding-left: 10px; padding-top: 0; font-style: italic;"><%= t 'descriptions.grades_from_discussion', "Grading for this assignment will be based on posts in the discussion" %></td>
      </tr>
      <tr class="quiz_content">
        <td colspan="4" style="font-size: 0.8em; padding-left: 10px; padding-top: 0; font-style: italic;"><%= t 'descriptions.grades_from_quiz', "Grades for this assignment will be pulled from the quiz results" %></td>
      </tr>
      <tr class="external_tool_content">
        <td colspan="4" style="font-size: 0.8em; padding-left: 10px; padding-top: 0; font-style: italic;"><%= t 'descriptions.grades_for_external_tool', "Grades for this assignment can be sent from the external tool, or entered manually." %></td>
      </tr>
      <tr class="external_tool_content">
        <td style="width: 10%;"><%= f.blabel :external_tool_url, :en => "URL" %></td>
        <%  f.object.external_tool_tag || f.object.build_external_tool_tag
            f.fields_for :external_tool_tag do |tag_form| %>
          <td colspan="3" id="external_tool_url">
            <%= link_to(image_tag('edit.png', :alt => 'Edit URL'), '#', :id => 'edit_external_tool_url') %>
            <%= tag_form.text_field(:url, :style => "width:95%", :readonly => true) %>
            <%= tag_form.hidden_field(:new_tab) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td style="width: 10%;"><%= f.blabel :title, :en => "Title" %></td>
      <td style="width: 40%;">
        <% if assignment.att_frozen?(:title, @current_user) %>
          <%= assignment.title %>
          <%= f.hidden_field :title, :class => "title" %>
        <% else %>
          <%= f.text_field :title, :style => "width: 140px;" %>
        <% end %>
      </td>
      <td style="width: 25%;" class="more_assignment_values"><%= f.blabel :assignment_group_id, :en => "Assignment Group" %></td>
      <td style="width: 25%;" class="more_assignment_values">
        <% if assignment.att_frozen?(:assignment_group_id, @current_user) %>
          <%= assignment.assignment_group.name %>
        <% else %>
          <%= f.select :assignment_group_id, (@assignment_groups.map {|g| [g.name, g.id]} << ["[ New Group ]", "new"]), :class => "#{(@context.weight_assignment_groups rescue false) ? 'weight' : ''}" %>
        <% end %>
      </td>
    </tr><tr class="assignment_content">
      <td style="width: 10%;"><%= f.blabel :points_possible, :en => "Points", :style => "width: 50px;" %></td>
      <td style="width: 40%;">
        <% if assignment.att_frozen?(:points_possible, @current_user) %>
          <%= assignment.points_possible %>
        <% else %>
          <!-- javascript check on change, if score is 0 then show text, "No score.  Any points set in the gradebook will be extra credit for this assignment's type" -->
          <%= f.text_field :points_possible, :style => "width: 140px;", :class => "points_possible" %>
        <% end %>
      </td>
      <td style="width: 25%;" class="nobr more_assignment_values">
        <%= f.blabel :grading_type, :en => "Grading By" %>
        <!--span style="padding-left: 15px; font-size: 0.8em;">Graded As</span-->
      </td><td style="width: 25%;" class="more_assignment_values">
        <%= f.hidden_field :grading_standard_id, :class => "grading_standard_id" %>
        <% if assignment.att_frozen?(:grading_type, @current_user) %>
          <%= assignment.grading_type %>
        <% else %>
          <%= f.select :grading_type, {t('options.points', "Points") => "points", t('options.letter_grade', "Letter Grade") => "letter_grade", t('options.percentage', "Percentage") => "percent", t('options.pass_fail', "Complete/Incomplete") => "pass_fail" }, {:selected => (assignment.grading_type || "points")}, {:class => "grading_type"} %>
        <% end %>
      </td>
    </tr><tr class="edit_letter_grades_link assignment_content" style="<%= "display: none;" if assignment.grading_type != "letter_grade" %>">
      <td style="width: 10%;" class="more_assignment_values"></td>
      <td style="width: 40%;" class="more_assignment_values"></td>
      <td style="width: 50%;" class="more_assignment_values" colspan="2" style="text-align: left; padding-top: 0;">
        <a href="#" style="padding-left: 10px; font-size: 0.8em;<%= "display: none;" if assignment.grading_type != "letter_grade" %>" class="edit_letter_grades_link"><%= t 'links.view_grading_levels', "View Grading Levels" %></a>
      </td>
    </tr><tr class="more_grading_options" style="<%= show_more_grading_options ? "" : "display: none;" %>">
      <td style="width: 10%;" class="more_assignment_values"></td>
      <td style="width: 40%;" class="more_assignment_values"></td>
      <td style="width: 25%;" class="more_assignment_values"><%= before_label :score_range, "Score Range" %></td>
      <td style="width: 25%;" class="more_assignment_values" title="<%= t 'titles.score_range', "Lowest and highest possible scores for this assignment" %>">
        <%= t :score_range, "%{min_score} to %{max_score}",
              :min_score => f.text_field(:min_score, :style => "width: 50px;", :class => "range_low"),
              :max_score => f.text_field(:max_score, :style => "width: 50px;", :class => "range_high") %>
      </td>
    </tr><tr class="more_grading_options" style="<%= show_more_grading_options ? "" : "display: none;" %>">
      <td style="width: 10%;" class="more_assignment_values"></td>
      <td style="width: 40%;" class="more_assignment_values"></td>
      <td style="width: 25%;" class="more_assignment_values"><%= before_label :master_level, "Mastery Level" %></td>
      <td style="width: 25%;" class="more_assignment_values">
        <%= t :mastery_level, "%{points} pts or higher",
              :points => f.text_field(:mastery_score, :style => "width: 50px;", :class => "mastery_level") %>
      </td>
    </tr><tr class="more_grading_options" style="<%= show_more_grading_options ? "" : "display: none;" %>">
      <td style="width: 10%;" class="more_assignment_values"></td>
      <td style="width: 40%;" class="more_assignment_values"></td>
      <td style="width: 50%;" class="more_assignment_values" colspan="2" style="text-align: right; display: none;">
        <input type="checkbox" name="never_drop" id="assignment_never_drop" <%= (assignment.droppable? rescue true) ? "" : "checked" %>/>
        <label for="assignment_never_drop"><%= t 'labels.never_drop', "Never drop this assignment" %></label>
      </td>
    </tr><tr style="display: none;">
      <td class="more_assignment_values" colspan="4" style="text-align: right; padding: 0; display: none;">
        <a href="#" style="padding-right: 10px; font-size: 0.8em;" class="more_grading_options_link"><%= t 'links.more_grading_options', "more grading options" %></a>
      </td>
    </tr><tr>
    <!-- Accept multiple submissions?  Take the best, first, last, etc? Does that even make sense? -->
      <td style="width: 10%; vertical-align: top;"><%= before_label :due, "Due" %></td>
      <td style="width: 40%; vertical-align: top;">
        <% if assignment.att_frozen?(:due_at, @current_user) %>
          <span class="due_date"><%= date_string(assignment.due_at) rescue "" %></span>
          <span class="due_time"><%= time_string(assignment.due_at) rescue "" %></span>
        <% else %>
          <%= f.text_field :due_at, :value => datetime_string(assignment.due_at, :due_date), :style => "width: 120px;", :class => "date_field" %>
        <% end %>
      </td>
      <td style="width: 50%;" class="more_assignment_values assignment_content" colspan="2">
        <% if assignment.att_frozen?(:group_category_id, @current_user) %>
          <% if assignment.has_group_category? %>
            <%= t('descriptions.assignment_group', 'The group for this assignment is: %{group_name}', :group_name => assignment.group_category.name) %>
          <% else %>
            <%= t('descriptions.no_group', 'There is no group for this assignment.') %>
          <% end %>
        <% end %>
          <div style="<%= hidden if assignment.att_frozen?(:group_category_id, @current_user)  %>">
            <input type="checkbox" name="group_assignment" id="assignment_group_assignment" <%= 'checked' if @assignment && @assignment.has_group_category? %>/>
            <label for="assignment_group_assignment"><%= t 'labels.group_assignment', "This is a Group Assignment" %></label>
            <div id="assignment_group_category" style="<%= hidden unless @assignment && @assignment.has_group_category? %>; margin-left: 20px;">
              <label for="assignment_group_category_select"><%= before_label :group_set, "Group Set" %></label>
              <select id="assignment_group_category_select" name="assignment[group_category_id]">
                <option value=""><%= t 'options.select_group_set', "[ Select Group Set ]" %></option>
                <% @context.group_categories.select{ |c| !c.student_organized? }.each do |category| %>
                  <option value="<%= category.id %>" <%= 'selected' if @assignment && category == @assignment.group_category %>><%= category.name %></option>
                <% end %>
                <option value="new"><%= t 'options.new_group_set', "[ New Group Set ]" %></option>
              </select><br/>
              <%= f.check_box :grade_group_students_individually %>
              <label for="grade_group_students_individually">
                <%= t 'labels.assign_grades_individually', "Assign grades to each student individually" %><br />
                <span style='font-size: 0.8em;'><%= t 'labels.assign_grades_individually_subtext', "(normally all students receive the same grade on group assignments)" %></span>
              </label>
            </div>
          </div>
      </td>
    </tr><tr>
      <td style="width: 10%; vertical-align: top;" class="more_assignment_values"><%= before_label :locked_until, "Locked Until" %></td>
      <td style="width: 40%; vertical-align: top;" class="more_assignment_values">
        <% if assignment.att_frozen?(:unlock_at, @current_user) %>
          <span class="unlock_date"><%= date_string(assignment.unlock_at) rescue "" %></span>
          <span class="unlock_time"><%= time_string(assignment.unlock_at) rescue "" %></span>
        <% else %>
          <%= f.text_field :unlock_at, :value => datetime_string(assignment.unlock_at), :style => "width: 120px;", :class => "date_field" %>
        <% end %>
      </td>
      <td style="width: 50%;" class="more_assignment_values assignment_content" colspan="2">
        <% if assignment.att_frozen?(:peer_reviews, @current_user) %>
          <% if assignment.peer_reviews %>
            <%= t('descriptions.peer_reviews_required', 'This assignment requires peer reviews.') %>
          <% else %>
            <%= t('descriptions.peer_reviews_not_required', 'This assignment does not require peer reviews.') %>
          <% end %>
        <% else %>
          <%= f.check_box :peer_reviews, :id => 'assignment_peer_reviews' %>
          <label for="assignment_peer_reviews"><%= t 'labels.require_peer_reviews', "Require Peer Reviews" %></label>
          <table id="assignment_peer_reviews_options" style="margin-left: 10px; <%= hidden unless @assignment && @assignment.has_peer_reviews? %>">
            <tr>
              <td colspan="2">
                <div>
                  <input type="radio" name="assignment[automatic_peer_reviews]" value="0" id="manual_peer_reviews" <%= 'checked' if !@assignment || !@assignment.automatic_peer_reviews %> />
                  <label for="manual_peer_reviews"><%= t 'labels.manually_assign_peer_reviews', "Manually Assign Peer Reviews" %></label>
                </div>
                <div>
                  <input type="radio" name="assignment[automatic_peer_reviews]" value="1" id="auto_peer_reviews" <%= 'checked' if @assignment && @assignment.automatic_peer_reviews %> />
                  <label for="auto_peer_reviews"><%= t 'labels.automatically_assign_peer_reviews', "Automatically Assign Peer Reviews" %></label>
                </div>
              </td>
            </tr>
            <tr class="auto_peer_reviews">
              <td><%= f.blabel :peer_review_count, :en => "Reviews Per User" %></td>
              <td><%= f.text_field :peer_review_count, :style => "width: 20px;" %></td>
            </tr><tr class="auto_peer_reviews">
              <td style="vertical-align: top;"><%= f.blabel :peer_reviews_assign_at, :en => "Assign Reviews", :style => "float: left;" %></td>
              <td>
                <div>
                  <%= f.text_field :peer_reviews_assign_at, :value => datetime_string(assignment.peer_reviews_assign_at, :due_date), :style => "width: 120px;", :class => "date_field" %>
                </div>
                <div style="font-size: 0.8em;"><%= t 'descriptions.assign_reviews_after_due_date', "Must come after due date. If blank, uses due date." %></div>
              </td>
            </tr>
          </table>
        <% end %>


      </td>
    </tr><tr class="submission_content">
      <td style="width: 10%; vertical-align: top;"><%= before_label :submission, "Submission" %></td>
      <td style="vertical-align: top;" colspan="1">
        <% if assignment.att_frozen?(:submission_types, @current_user) %>
          <% if (!assignment.submission_types || assignment.submission_types == "none") %>
            <%= t 'options.no_submission', "No Submission" %>
          <% elsif assignment.submission_types == "on_paper"%>
            <%= t 'options.on_paper', "On Paper" %>
          <% else %>
            <%= t 'options.online_submission', "Online Submission" %>
          <% end %>
        <% else %>
          <select name="submission_type" class="submission_type_option">
            <option value="none" <%= "selected" if (!assignment.submission_types || assignment.submission_types == "none") %>><%= t 'options.no_submission', "No Submission" %></option>
            <option value="online" <%= "selected" if (assignment.submission_types && assignment.submission_types.match(/media|online_text_entry|online_upload|online_url/)) %>><%= t 'options.online_submission', "Online Submission" %></option>
            <option value="on_paper" <%= "selected" if (assignment.submission_types == "on_paper") %>><%= t 'options.on_paper', "On Paper" %></option>
          </select>
        <% end %>
      </td>
      <td style="width: 10%; vertical-align: top;" class="more_assignment_values"><%= before_label :lock_submits_after, "Lock Submits After" %></td>
      <td style="width: 40%; vertical-align: top;" class="more_assignment_values">
        <% if assignment.att_frozen?(:lock_at, @current_user) %>
          <span class="set_lock_date"><%= date_string(assignment.lock_at) rescue "" %></span>
          <span class="set_lock_time"><%= time_string(assignment.lock_at) rescue "" %></span>
        <% else %>
          <%= f.text_field :lock_at, :value => datetime_string(assignment.lock_at), :style => "width: 120px;", :class => "date_field" %>
        <% end %>
      </td>
    </tr><tr class="submission_content">
      <td colspan="2">
        <% unless assignment.att_frozen?(:submission_types, @current_user) %>
          <div style="padding: 0px 30px;<%= "display: none;" if (!assignment.submission_types || !assignment.submission_types.match("online")) %>" class="online_submission_types">
            <div><input type="checkbox" name="online_upload" <%= "checked" if (assignment.submission_types && assignment.submission_types.match("online_upload")) %> id="assignment_online_upload"/><label for="assignment_online_upload"> <%= t 'labels.allow_file_uploads', "Allow File Uploads" %></label></div>
            <div><input type="checkbox" name="online_text_entry" <%= "checked" if (assignment.submission_types && assignment.submission_types.match("online_text_entry")) %> id="assignment_online_text_entry"/><label for="assignment_online_text_entry"> <%= t 'labels.allow_text_entry', "Allow Text Entry" %></label></div>
            <div><input type="checkbox" name="online_url" <%= "checked" if (assignment.submission_types && assignment.submission_types.match("online_url")) %> id="assignment_online_url"/><label for="assignment_online_url"> <%= t 'labels.allow_url', "Allow Website URL" %></label></div>
            <% if feature_enabled?(:kaltura) %>
              <div><input type="checkbox" name="media_recording" <%= "checked" if (assignment.submission_types && assignment.submission_types.match("media_recording")) %> id="assignment_media_recording"/><label for="assignment_media_recording"> <%= t 'labels.allow_media_recordings', "Allow Media Recordings" %></label></div>
            <% end %>
            <% if @context.turnitin_enabled? %>
              <div style="margin-top: 10px;">
                <%= f.check_box :turnitin_enabled %>
                <%= f.label :turnitin_enabled, :en => "Enable Turnitin Submission Evaluations" %>
                <div id="assignment_turnitin_settings" style="<%= hidden unless assignment && assignment.turnitin_enabled %>; margin-left: 20px;">
                  <a href="#" class="show_turnitin_settings" style="font-size: 0.9em"><%= t 'links.advanced_turnitin_settings', 'Advanced Settings...' %></a>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </td>
      <td style="width: 50%;" class="more_assignment_values assignment_content" colspan="2">
        <div id='restrict_file_extensions_options'>
          <% if assignment.att_frozen?(:allowed_extensions, @current_user) %>
            <% if assignment.allowed_extensions.present? %>
              <%= t('descriptions.allowed_extensions_list', 'Allowed file extensions: %{extensions}', :extensions => (assignment.allowed_extensions || []).join(",")) %>
            <% else %>
              <%= t('descriptions.no_extension_restriction', 'All file extensions are permitted.') %>
            <% end %>
          <% else %>
            <input type="checkbox" name="restrict_file_extensions" id="assignment_restrict_file_extensions" <%= 'checked' if @assignment && @assignment.allowed_extensions.present? %>/>
            <label for="assignment_restrict_file_extensions"><%= t 'labels.restrict_file_extensions', "Restrict the Permitted File Upload Extensions" %></label>
            <div id='allowed_extensions_options' style="margin-left: 20px;">
              <label for="assignment_allowed_extensions"><%= before_label :allowed_extensions, "Allowed File Extensions" %></label>
                <br>
                <%= f.text_field :allowed_extensions, :value => (assignment.allowed_extensions || []).join(",") %>
                <br>
                <span style='font-size: 0.8em;'><%= t 'descriptions.allowed_extensions', "enter a list of accepted extensions, for example: doc,xls,txt" %></span>
            </div>
          <% end %>

        </div>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <% if assignment.att_frozen?(:notify_of_update, @current_user) %>
          <% if assignment.notify_of_update %>
            <%= t('descriptions.users_are_notified', 'Users will be notified that content has changed') %>
          <% else %>
            <%= t('descriptions.users_are_not_notified', 'Users will not be notified that content has changed') %>
          <% end %>
        <% else %>
          <%= f.check_box :notify_of_update %>
          <%= f.label :notify_of_update, :en => "Notify users that this content has changed" %>
        <% end %>
      </td>
      <td colspan="2" class="more_assignment_values">
        <% if PluginSetting.settings_for_plugin(:assignment_freezer) && !assignment.frozen_for_user?(@current_user)%>
          <%= f.check_box :freeze_on_copy %>
          <%= f.label :freeze_on_copy, :en => "Lock assignment properties when copied" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <button type="submit" class="button"><%= t 'buttons.update', "Update Assignment" %></button>
        <button type="button" class="button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
      </td>
    </tr>
  </table>
  <% end %>
  <% end %>
</div>

<%= render :partial => "shared/add_assignment_group" %>
<%= render :partial => "groups/add_group_category" %>
<%= render :partial => "shared/turnitin_settings", :locals => {:assignment => assignment} %>
<%= render :partial => "shared/select_content_dialog", :locals => {:only => [:external_tools]} %>
