<% grading_standard_list ||= false %>
<% data = grading_standard.data rescue GradingStandard.default_grading_standard %>
<div class="grading_standard" id="grading_standard_<%= grading_standard ? grading_standard.id : 'blank' %>">
  <div class="display_grading_standard">
    <table style="width: 100%;">
      <caption class="screenreader-only">
        <%= t('grading_standard_name_table_summary', "A table with only one editable cell containing the name of your grading scheme.") %>
      </caption>
      <thead>
        <tr>
          <th colspan="4" class="standard_title">
            <div style="float: right;" class="displaying links">
              <% if !grading_standard_list %>
                <a href="#" class="find_grading_standard_link no-hover" title="<%= t('find_existing_scheme', 'Find Existing Grading Scheme') %>"><%= image_tag "find.png", :alt => t('find', "Find") %> <%= t('select_another_scheme','Select Another Scheme') %></a>
              <% end %>
                <a href="#" title="<%= t('edit_scheme', 'Edit Grading Scheme') %>" class="edit_grading_standard_link no-hover <%= 'read_only' if grading_standard && grading_standard.assessed_assignment? %>"><i class="icon-edit standalone-icon"></i></a>
              <% if grading_standard_list %>
                <a href="#" title="<%= t('delete_scheme', 'Delete Grading Scheme') %>" class="delete_grading_standard_link no-hover"><i class="icon-trash standalone-icon"></i></a>
              <% else %>
                <a href="#" title="<%= t('remove_scheme', 'Remove Grading Scheme') %>" class="remove_grading_standard_link no-hover <%= 'read_only' unless grading_standard %>"><i class="icon-end standalone-icon"></i></a>
              <% end %>
            </div>
            <div class="displaying title">
              <%= grading_standard.title rescue nbsp %>
            </div>
            <div class="editing_box">
              <label for="grading_standard_title"><%= before_label('scheme_name', 'Scheme Name') %></label>
              <input type="text" id="grading_standard_title" name="grading_standard[title]" class="scheme_name" value="<%= grading_standard.title rescue "" %>" style="width: 100px;"/>
            </div>
          </th>
        </tr>
        <tr>
          <th id="name_header" style="text-align: left; padding-right: 10px; width: 25%;"><%= before_label('name', 'Name') %></th>
          <th colspan="3" style="width: 75%;">
            <div style="float: left; margin-left: 10px;"><%= before_label('range', 'Range') %></div>
            <div class="clear"></div>
          </th>
        </tr>
      </thead>
    </table>
    <div class="data_holder">
    <table style="width: 100%; margin-bottom: 20px;" class="grading_standard_data">
      <caption class="screenreader-only">
        <%= t('grading_standard_summary', "A table that contains your grading scheme. The name of the value and the range are on the top. Each row contains a minimum and maximum percentage value.") %>
      </caption>
      <thead aria-hidden="true"><tr><td></td><td></td><td></td><td></td></tr></thead>
      <tr class="insert_grading_standard" style="display: none; font-size: 0.7em; line-height: 0.6em;">
        <td colspan="4">
          <a href="#" class="insert_grading_standard_link"><%= t('insert_here', 'insert here') %></a>
        </td>
      </tr>
      <% data.to_a.each_index do |idx|; row = data[idx] %>
        <tr class="grading_standard_row">
          <td style="width: 25%;">
            <div class="editing_box">
              <input type="text" class="standard_name" name="grading_standard[standard_data][scheme_<%= idx %>][name]" value="<%= row[0] %>" style="width: 25px;" aria-labelledby="name_header"/>
            </div>
            <div class="displaying name">
              <%= row[0] %>
            </div>
          </td>
          <td style="padding: 2px 5px; width: 25%;" class="max_score_cell" aria-label="<%= t('range_upper', 'Upper limit of range') %>">
            <div class="editing_box" aria-hidden="true">
              <span class="edit_max_score"><%= idx == 0 ? 100 : "< #{(data[idx - 1][1] * 100).round(2)}" %></span>%
            </div>
            <div class="displaying">
              <span class="max_score"><%= idx == 0 ? 100 : "< #{(data[idx - 1][1] * 100).round(2)}" %></span>%
            </div>
          </td>
          <td style="padding: 2px 5px; width: 25%;">
            <div class="editing_box">
              <span style="padding-right: 5px;" aria-hidden="true"><%= t('range_of_numbers', '%{lower_number} to %{higher_number}', :lower_number => '', :higher_number => '') %></span>
              <input type="text" class="standard_value" title="<%= t('range_lower', 'Lower limit of range') %>"
                     aria-label="<%= t('range_lower', 'Lower limit of range') %>" name="grading_standard[standard_data][scheme_<%= idx %>][value]" value="<%= row[1] * 100 %>" style="width: 37px;"/>%
            </div>
            <div class="displaying">
              <span style="padding-right: 5px;"><%= t('range_of_numbers', '%{lower_number} to %{higher_number}', :lower_number => '', :higher_number => '') %></span>
              <span class="min_score"><%= (row[1] * 100).round(2) %></span>%
            </div>
          </td>
          <td class="editing_box" style="padding: 2px 5px 2px 15px; width: 25%;">
            <a href="#" class="delete_row_link no-hover" tabindex="0" aria-label="<%= t('remove_row', 'Remove row')%>" title="<%= t('remove_row', 'Remove row')%>"><i class="icon-end standalone-icon"></i></a>
          </td>
        </tr>
        <tr class="insert_grading_standard" style="display: none; font-size: 0.7em; line-height: 0.6em;">
          <td colspan="4">
            <a href="#" class="insert_grading_standard_link"><%= t('insert_here', 'insert here') %></a>
          </td>
        </tr>
      <% end %>
      <tr class="insert_grading_standard" style="display: none; font-size: 0.7em; line-height: 0.6em;">
        <td colspan="4">
          <a href="#" class="insert_grading_standard_link"><%= t('insert_here', 'insert here') %></a>
        </td>
      </tr>
      <tr class="grading_standard_row blank" style="display: none;">
        <td>
          <div class="editing_box">
            <input type="text" class="standard_name" name="grading_standard[standard_data][scheme_blank][name]" value="" style="width: 25px;"/>
          </div>
          <div class="displaying">
            &nbsp;
          </div>
        </td>
        <td style="padding: 2px 5px;">
          <div class="editing_box">
            <span style="padding-right: 5px;"><%= t('range_of_numbers', '%{lower_number} to %{higher_number}', :lower_number => '', :higher_number => '') %></span>
            <span class="edit_max_score">&nbsp;</span>%
          </div>
          <div class="displaying">
            <span style="padding-right: 5px;"><%= t('range_of_numbers', '%{lower_number} to %{higher_number}', :lower_number => '', :higher_number => '') %></span>
            <span class="max_score">&nbsp;</span>%
          </div>
        </td>
        <td style="padding: 2px 5px;">
          <div class="editing_box">
            <input type="text" class="standard_value" name="grading_standard[standard_data][scheme_blank][value]" value="" style="width: 30px;"/>%
          </div>
          <div class="displaying">
            <span class="min_score">&nbsp;</span>%
          </div>
        </td>
        <td class="editing_box" style="padding: 2px 5px 2px 15px;">
          <a href="#" class="delete_row_link no-hover"><i class="icon-end standalone-icon"></i></a>
        </td>
      </tr>
    </table>
    </div>
    <% unless grading_standard_list %>
      <div class="displaying" style="text-align: right;">
        <a href="<%= context_url(@context, :context_grading_standards_url) %>"><%= t('managing_grading_standards', 'manage grading schemes') %></a>
        <button type="button" class="done_button btn"><%= t('buttons.done', 'Done') %></button>
      </div>
    <% end %>
    <div class="editing_box form-actions">
      <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', 'Cancel') %></button>
      <button type="button" class="btn btn-primary save_button"><%= t('buttons.save', 'Save') %></button>
    </div>
  </div>
  <div style="display: none;" class="find_grading_standard">
    <a href="<%= context_url(@context, :context_grading_standards_url) %>" rel="nofollow" class="grading_standards_url" style="display: none;">&nbsp;</a>
    <div class="loading_message" style="margin: 10px; text-align: center;">
      <%= t('loading_grading_standards', 'Loading Grading Standards...') %>
    </div>
    <table class="side_tabs_table grading_standards_holder" style="display: none;">
      <tr>
      
        <td class="left">
          <ul class="grading_standards_select unstyled_list side_tabs">
            <li class="grading_standard_select blank" style="display: none;">
              <a href="#">
                <span class="title"><%= t('some_standard', 'Some standard') %></span>
                <span class="id" style="display: none;">&nbsp;</span>
              </a>
              <div class="display_name" style="font-size: 0.8em;"><%= t('full_name', 'Full name, smaller text') %></div>
            </li>
          </ul>
        </td>
        <td class="right">
          <div class="side_tabs_content grading_standards">
            <div style="margin-bottom: 10px; display: none;" class="grading_standard_brief blank">
              <span class="id" style="display: none;">&nbsp;</span>
              <div>
                <div style="float: left;">
                  <a href="#" class="select_grading_standard_link"><b class="title">&nbsp;</b></a>
                  <span class="user_name" style="padding-left: 10px; font-size: 0.8em; color: #888;">
                    &nbsp;
                  </span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
              <div style="margin-left: 30px;" class="details">
                <table style="font-size: 0.8em;">
                  <tr class="details_row blank" style="display: none;">
                    <td class="name" style="padding-right: 20px;">&nbsp;</td>
                    <td style="padding: 2px 5px;"><span class="value">&nbsp;</span>%</td>
                    <td style="padding: 2px 5px;"><%= t('range_of_numbers', '%{lower_number} to %{higher_number}', :lower_number => '', :higher_number => '') %></td>
                    <td style="padding: 2px 5px;"><span class="next_value">&nbsp;</span>%</td>
                  </tr>
                </table>
              </div>
              <button type="button" class="btn select_grading_standard_link"><%= t('use_this_standard', 'Use This Grading Standard') %></button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div style="margin-top: 5px; text-align: right"><a href="#" class="cancel_find_grading_standard_link"><%= t('#buttons.cancel', 'Cancel') %></a></div>
  </div>
  <a href="<%= context_url(((grading_standard.context || @context) rescue @context), :context_grading_standard_url, grading_standard ? grading_standard.id : "{{ id }}") rescue "#" %>" style="display: none;" class="update_grading_standard_url">&nbsp;</a>
  <% unless grading_standard_list %>
    <textarea id="default_grading_standard_data" style="display: none;"><%= GradingStandard.default_grading_standard.to_json %></textarea>
  <% end %>
</div>
