<% data = grading_standard.data rescue GradingStandard.default_grading_standard %>
<div class="grading_standard" id="grading_standard_<%= grading_standard ? grading_standard.id : 'blank' %>">
  <div class="display_grading_standard">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th colspan="4" class="standard_title">
            <div style="float: right;" class="displaying">
              <a href="#" class="find_grading_standard_link no-hover" title="Find Existing Grading Scheme"><%= image_tag "find.png", :alt => "Find" %></a>
              <a href="#" title="Edit Grading Scheme" class="edit_grading_standard_link no-hover <%= 'read_only' unless can_do(grading_standard, @current_user, :update) %>"><%= image_tag "edit.png" %></a>
            </div>
            <div class="displaying title">
              <%= grading_standard.title rescue nbsp %>
            </div>
            <div class="editing_box">
              Scheme Name: 
              <input type="text" name="grading_standard[title]" value="<%= grading_standard.title rescue "" %>" style="width: 100px;"/>
            </div>
          </th>
        </tr>
        <tr>
          <th style="text-align: left; padding-right: 10px; width: 25%;">Name:</th>
          <th colspan="3" style="width: 75%;">
            <div style="float: left; margin-left: 10px;">Range:</div>
            <div class="clear"></div>
          </th>
        </tr>
      </thead>
    </table>
    <div style="max-height: 175px; overflow: auto; padding-bottom: 10px;">
    <table style="width: 100%; margin-bottom: 20px;" class="grading_standard_data">
      <tr class="insert_grading_standard" style="display: none; font-size: 0.7em; line-height: 0.6em;">
        <td colspan="4">
          <a href="#" class="insert_grading_standard_link">insert here</a>
        </td>
      </tr>
      <% data.to_a.each_index do |idx|; row = data[idx] %>
        <tr class="grading_standard_row">
          <td style="width: 25%;">
            <div class="editing_box">
              <input type="text" class="standard_name" name="grading_standard[standard_data][scheme_<%= idx %>][name]" value="<%= row[0] %>" style="width: 25px;"/>
            </div>
            <div class="displaying name">
              <%= row[0] %>
            </div>
          </td><td style="padding: 2px 5px; width: 25%;">
            <div class="editing_box">
              <input type="text" class="standard_value" name="grading_standard[standard_data][scheme_<%= idx %>][value]" value="<%= (row[1] * 100).to_i %>" style="width: 30px;"/>%
            </div>
            <div class="displaying">
              <span class="max_score"><%= (row[1] * 100).to_i %></span>%
            </div>
          </td><td style="padding: 2px 5px; width: 25%;">
            <div class="editing_box">
              <span style="padding-right: 5px;">to</span>
              <span class="edit_min_score"><%= (data[idx + 1][1] * 100).to_i + 1 rescue 0 %></span>%
            </div>
            <div class="displaying">
              <span style="padding-right: 5px;">to</span>
              <span class="min_score"><%= (data[idx + 1][1] * 100).to_i + 1 rescue 0 %></span>%
            </div>
          </td><td class="editing_box" style="padding: 2px 5px 2px 15px; width: 25%;">
            <a href="#" class="delete_row_link no-hover"><%= image_tag "delete_circle.png" %></a>
          </td>
        </tr>
        <tr class="insert_grading_standard" style="display: none; font-size: 0.7em; line-height: 0.6em;">
          <td colspan="4">
            <a href="#" class="insert_grading_standard_link">insert here</a>
          </td>
        </tr>
      <% end %>
      <tr class="insert_grading_standard" style="display: none; font-size: 0.7em; line-height: 0.6em;">
        <td colspan="4">
          <a href="#" class="insert_grading_standard_link">insert here</a>
        </td>
      </tr>
      <tr class="grading_standard_row blank" style="display: none;">
        <td>
          <div class="editing_box">
            <input type="text" class="standard_name" name="grading_standard[standard_data][scheme_blank][name]" value="" style="width: 25px;"/>
          </div>
          <div class="displaying">
            &nbsp;
          </div>
        </td><td style="padding: 2px 5px;">
          <div class="editing_box">
            <input type="text" class="standard_value" name="grading_standard[standard_data][scheme_blank][value]" value="" style="width: 30px;"/>%
          </div>
          <div class="displaying">
            <span class="max_score">&nbsp;</span>%
          </div>
        </td><td style="padding: 2px 5px;">
          <div class="editing_box">
            <span style="padding-right: 5px;">to</span>
            <span class="edit_min_score">&nbsp;</span>%
          </div>
          <div class="displaying">
            <span style="padding-right: 5px;">to</span>
            <span class="min_score">&nbsp;</span>%
          </div>
        </td><td class="editing_box" style="padding: 2px 5px 2px 15px;">
          <a href="#" class="delete_row_link no-hover"><%= image_tag "delete_circle.png" %></a>
        </td>
      </tr>
    </table>
    </div>
    <div class="editing_box button-container">
      <button type="button" class="save_button button">Save</button>
      <button type="button" class="cancel_button button-secondary">Cancel</button>
    </div>
  </div>
  <div style="display: none;" class="find_grading_standard">
    <a href="<%= context_url(@context, :context_grading_standards_url) %>" class="grading_standards_url" style="display: none;">&nbsp;</a>
    <div class="loading_message" style="margin: 10px; text-align: center;">
      Loading Grading Standards...
    </div>
    <table class="side_tabs_table grading_standards_holder" style="display: none;">
      <tr>
      
        <td class="left">
          <ul class="grading_standards_select unstyled_list side_tabs">
            <li class="grading_standard_select blank" style="display: none;">
              <a href="#">
                <span class="title">Some standard</span>
                <span class="id" style="display: none;">&nbsp;</span>
              </a>
              <div class="display_name" style="font-size: 0.8em;">Full name, smaller text</div>
            </li>
          </ul>
        </td>
        <td class="right">
          <div class="side_tabs_content grading_standards">
            <div style="margin-bottom: 10px; display: none;" class="grading_standard_brief blank">
              <span class="id" style="display: none;">&nbsp;</span>
              <div>
                <div style="float: left;">
                  <a href="#" class="select_grading_standard_link"><b class="title">&nbsp;</b></a>
                  <span class="user_name" style="padding-left: 10px; font-size: 0.8em; color: #888;">
                    &nbsp;
                  </span>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div style="margin-left: 30px;" class="details">
              <table style="font-size: 0.8em;">
                <tr class="details_row blank" style="display: none;">
                  <td class="name" style="padding-right: 20px;">&nbsp;</td>
                  <td><span class="value">&nbsp;</span>%</td>
                  <td style="padding: 2px 5px;">to</td>
                  <td><span class="next_value">&nbsp;</span>%</td>
                </tr>
              </table>
            </div>
            <button type="button" class="button select_grading_standard_link">Use This Grading Standard</button>
          </div>
        </td>
      </tr>
    </table>
    <div style="margin-top: 5px; text-align: right"><a href="#" class="cancel_find_grading_standard_link">Cancel</a></div>
  </div>
  <a href="<%= context_url(((grading_standard.context || @context) rescue @context), :context_grading_standard_url, grading_standard ? grading_standard.id : "{{ id }}") rescue "#" %>" style="display: none;" class="update_grading_standard_url">&nbsp;</a>
</div>
