<% @current_user.set_menu_data(session[:enrollment_uuid]) %>
<a href="<%= courses_path %>" class="menu-item-title">
  <%= @current_user.menu_data[:group_memberships_count].zero? ? t('links.courses', "Courses") : t('links.courses_and_groups', "Courses & Groups") -%>
  <span class="menu-item-title-icon"></span> <i class="icon-mini-arrow-down"></i></a>
<div class="menu-item-drop">
  <table cellspacing="0">
    <tr>
      <%= render(:partial => "shared/menu_courses", :locals => menu_courses_locals) %>
      <%= render(:partial => "shared/menu_section", :locals => menu_groups_locals) %>
      <%= render(:partial => "shared/menu_section", :locals => menu_accounts_locals) %>
    </tr>
  </table>
</div>
