<ul id="identity">
  <% if !@current_user %>
    <% if !@domain_root_account || @domain_root_account == Account.default %>
      <li><%= link_to t('links.sign_up_as_teacher', "Sign Up as a Teacher"), register_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% else %>
      <li><%= link_to t('links.log_in', "Log In"), login_path %></li>
    <% end %>
  <% else %>
    <% if @real_current_user && @real_current_user != @current_user %>
      <li class="user_name"><%= link_to t('masquerading.as', "As: *%{user_name}*", :user_name => @current_user.short_name, :wrapper => '<span class="emphasize-name">\1</span>'), user_profile_path(@current_user) %></li>
    <% else %>
      <li class="user_name"><%= link_to @current_user.short_name, user_profile_path(@current_user) %></li>
    <% end %>
    <% unless @current_user.fake_student? %>
      <li class="first inbox"><a href="<%= conversations_path %>"><span><%= t 'links.inbox', "Inbox" %></span>
      <% unread = @current_user.unread_conversations_count %>
      <b class="unread-messages-count"<% if unread == 0 %> style="display: none;"<% end %>><%= unread %></b>
      </a></li>
    <li><%= link_to t('links.settings', "Settings"), settings_profile_path %></li>
    <% end %>
    <li class="user_id" style="display: none;"><%= @current_user.id %></li>
    <li class="course_id" style="display: none;"><%= @context.id if @context && @context.is_a?(Course) %></li>
    <li id="current_context_code" style="display: none;"><%= @context.try_rescue(:asset_string) %></li>
    <li class="user_long_name" style="display: none;"><%= @current_user.name %></li>
    <li class="logout"><%= link_to t('links.logout', "Logout"), logout_path, :method => :delete %></li>
  <% end %>
  <% if help_link %>
    <li id="identity-help-container"><%= help_link %></li>
  <% end %>
</ul>
