<%=
    case invitation.type
    when 'TeacherEnrollment'
      mt :body_teacher, "You've been invited to join %{course} as a **teacher** for the user account **%{email_address}**.", :course => invitation.long_name, :email_address => invitation.user.email
    when 'TaEnrollment'
      mt :body_ta, "You've been invited to join %{course} as a **TA** for the user account **%{email_address}**.", :course => invitation.long_name, :email_address => invitation.user.email
    when 'ObserverEnrollment'
      mt :body_observer, "You've been invited to join %{course} as an **observer** for the user account **%{email_address}**.", :course => invitation.long_name, :email_address => invitation.user.email
    when 'DesignerEnrollment'
      mt :body_designer, "You've been invited to join %{course} as a **designer** for the user account **%{email_address}**.", :course => invitation.long_name, :email_address => invitation.user.email
    else
      mt :body_student, "You've been invited to join %{course} as a **student** for the user account **%{email_address}**.", :course => invitation.long_name, :email_address => invitation.user.email
    end
%>
<% if !@domain_root_account || @domain_root_account.allow_invitation_previews? %>
  <%= mt('wander_around_dont_get_lost', "Feel free to [wander around](%{link_to_course}) and see what it's like.", :link_to_course => course_path(invitation.course_id, :invitation => invitation.uuid)) %>
<% end %>
<%= t('accept_or_reject', "When you're ready, you can either accept or reject the invitation.") %>
<div class="button-container">
  <%= form_tag course_enrollment_invitation_path(invitation.course_id) do %>
    <input type="hidden" name="invitation" value="<%= invitation.uuid %>" />
    <button type="submit" name="accept" class="btn btn-small positive btn-primary"><%= t('buttons.accept', 'Accept Invitation') %></button>
    <button type="submit" name="reject" class="btn btn-small reject_button"><%= t('buttons.reject', 'Reject Invitation') %></button>
  <% end %>
</div>