<% if @mark_done and @mark_done.has_requirement? %>
  <div id="mark-as-done-container">
    <button id="mark-as-done-checkbox" class="btn <%= @mark_done.checked? ? "btn-success" : '' %>"
         data-url="<%= @mark_done.api_url %>" data-is-checked="<%= @mark_done.checked? %>">
      <i class="<%= @mark_done.checked? ? "icon-complete" : "icon-empty"%>"> </i>
      <span class="mark-done-labels">
        <span class="<%= @mark_done.checked? ? "visible" : "" %>"><%= t('Done') %></span>
        <span class="<%= @mark_done.checked? ? "" : "visible"%>"><%= t('Mark as done')%></span>
      </span>
    </button>
  </div>
<% end %>
