<li>
  <% if title == 'Needing Grading' %>
      <a href="<%= speed_grader_course_gradebook_path( menu_assignment.context_id, :assignment_id => menu_assignment.id) %>">
  <% else %>
      <a href="<%= course_assignment_path( menu_assignment.context_id, menu_assignment.id ) %>">
  <% end %>
    <span class="name-right-wrapper">
      <span class="secondary-right">
        <% if title == "To Turn In" %>
          due: <%= datetime_string(menu_assignment.due_at, :due_date, nil, true) %>
        <% elsif title == "Needing Grading" %>
          <%= menu_assignment.need_graded_count %> need<%= 's' if menu_assignment.need_graded_count.to_i == 1 %> grading
        <% elsif title == "Recently Graded" %>
          <% if menu_assignment.grading_type == 'points' %>
              <%= "#{menu_assignment.score}/#{menu_assignment.points_possible}" %>
          <% else %>
              <%= "#{menu_assignment.grade}" %>
          <% end %>
        <% end %>
      </span>
      <span class="name ellipsis" <%= "title='#{menu_assignment.title}'" if menu_assignment.title && menu_assignment.title.length > 35 %>><%= menu_assignment.title %></span>
    </span>
    <span class="subtitle"><%= menu_assignment.context_name %></span> 
  </a>  
</li>
