<div id="message_students_dialog" style="display: none;">
  <%= form_tag conversations_url, :id => "message_assignment_recipients" do %>
    <%= hidden_field_tag :recipients, "", :class => "recipient_ids" %>
    <%= hidden_field_tag :group_conversation, "true" %>
    <%= hidden_field_tag :bulk_message, "true" %>
    <%= hidden_field_tag :context_code, "" %>
    <h2><%= t('message_students_who', 'Message students who...') %></h2>
    <div style="margin-bottom: 15px;">
      <%= t('for_title', 'for %{title}', :title => '<span class="asset_title">&nbsp;</span>'.html_safe) %>
    </div>
    <div style="margin-bottom: 10px;">
      <select class="message_types" aria-label="<%= t(:message_type, "Message Type") %>">
      </select>
      <span class="cutoff_holder">
        <input type="text" class="cutoff_score" style="width: 35px;"/>
        <span class="out_of"> <%= t('out_of_points', 'out of %{points_possible}', :points_possible => '<span class="points_possible">&nbsp;</span>'.html_safe) %></span>
      </span>
    </div>
    <ul class="student_list">
      <li class="student blank" style="display: none;"><span class="name">&nbsp;</span><span class="score">&nbsp;</span></li>
    </ul>
    <div class="clear"></div>
    <table class="formtable" style="width: 100%;">
      <tr>
        <td style="font-weight: bold;" colspan="2">
          <%= label_tag :subject, before_label(:subject, "Subject") %>
          <%= text_field_tag :subject, "", :style => "width: 90%;" %>
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold;" colspan="2">
          <%= label_tag :body, before_label(:body, "Message") %>
          <%= text_area_tag :body, "", :style => "width: 90%; height: 100px;" %>
        </td>
      </tr>
    </table>
    <div class="button-container">
      <button class="btn dialog_closer"><%= t('#buttons.cancel', "Cancel") %></button>
      <button type="submit" class="btn btn-primary send_button"><%= t('buttons.send_message', 'Send Message') %></button>
    </div>
  <% end %>
</div>
