<%
  # Copyright (C) 2015 - present Instructure, Inc.
  #
  # This file is part of Canvas.
  #
  # Canvas is free software: you can redistribute it and/or modify it under
  # the terms of the GNU Affero General Public License as published by the Free
  # Software Foundation, version 3 of the License.
  #
  # Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  # A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
  # details.
  #
  # You should have received a copy of the GNU Affero General Public License along
  # with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% js_bundle :navigation_header %>

<% if @domain_root_account && @domain_root_account.feature_enabled?(:product_tours) %>
  <% js_bundle :nav_tourpoints %>
<% end %>

<%
  if k5_user?
    dashboard_title = t('Home')
    dashboard_icon_path = "shared/svg/svg_icon_home"
    courses_title = t('Subjects')
  else
    dashboard_title = t('Dashboard')
    dashboard_icon_path = "shared/svg/#{'k12/' if k12?}svg_icon_dashboard"
    courses_title = t('Courses')
  end
%>

<header id="mobile-header" class="no-print">
  <button type="button" class="Button Button--icon-action-rev Button--large mobile-header-hamburger">
    <i class="icon-solid icon-hamburger"></i>
    <span id="mobileHeaderInboxUnreadBadge" class="menu-item__badge" style="min-width: 0; top: 12px; height: 12px; right: 6px; display:none;"></span>
    <span class="screenreader-only"><%= dashboard_title %></span>
  </button>
  <div class="mobile-header-space"></div>
  <% context_crumb = crumbs.length > 1 && crumbs[1] %>
  <% if context_crumb %>
    <a class="mobile-header-title expandable" href="<%= context_crumb[1] %>" role="button" aria-controls="mobileContextNavContainer">
      <div><%= context_crumb[0] %></div>
      <% if crumbs.length > 2 %>
        <% sub_context_crumb = crumbs.last %>
        <div><%= sub_context_crumb[0] %></div>
      <% end %>
    </a>
  <% else %>
    <span class="mobile-header-title"><%= (yield :page_title).presence || @page_title || t('default_page_title', "Canvas LMS") %></span>
  <% end %>
  <% if show_immersive_reader? %>
    <div id="immersive_reader_mobile_mount_point"></div>
  <% end %>
  <% if show_student_view_button? %>
    <%= link_to course_student_view_path(course_id: @context, redirect_to_referer: 1), :class => "Button Button--icon-action-rev Button--large mobile-header-student-view", :id => "mobile-student-view", :"aria-label" => t('Student View'), :role => "button", :method => :post do %>
      <i class="icon-student-view"></i>
    <% end %>
  <% else %>
    <div class="mobile-header-space"></div>
  <% end %>
  <% if show_blueprint_button? %>
    <button class="mobile-header-blueprint-button Button Button--icon-action-rev Button--large" aria-label="<%= t "Open Blueprint Sidebar" %>">
      <i class="icon-blueprint"></i>
    </button>
  <% end %>
  <% if context_crumb %>
    <button type="button" class="Button Button--icon-action-rev Button--large mobile-header-arrow" aria-label="<%= t "Navigation Menu" %>">
      <i class="icon-arrow-open-down" id="mobileHeaderArrowIcon"></i>
    </button>
  <% else %>
    <div class="mobile-header-space"></div>
  <% end %>
</header>
<nav id="mobileContextNavContainer"></nav>

<header id="header" class="ic-app-header no-print <%= 'no-user' unless @current_user %>">
  <a href="#content" id="skip_navigation_link"><%= t 'links.skip_to_content', "Skip To Content" %></a>
  <div role="region" class="ic-app-header__main-navigation" aria-label="<%= t('Global Navigation') %>">
    <% unless @current_user.try(:prefers_high_contrast?) %>
      <div class="ic-app-header__logomark-container">
        <a href="<%= dashboard_url %>" class="ic-app-header__logomark">
          <span class="screenreader-only"><%= dashboard_title %></span>
        </a>
      </div>
    <% end %>
    <ul id="menu" class="ic-app-header__menu-list">
      <% if @current_user %>
        <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/profile') %>">
          <a id="global_nav_profile_link" role="button" href="/profile/settings" class="ic-app-header__menu-list-link">
            <div class="menu-item-icon-container">
              <div aria-hidden="true" class="fs-exclude ic-avatar <% if @real_current_user && @real_current_user != @current_user %>ic-avatar--fake-student<% end %>">
                <img src="<%= @current_user.try { |usr| avatar_image_attrs(usr).first } %>" alt="<%= @current_user.short_name %>" />
              </div>
              <span class="menu-item__badge"></span>
            </div>
            <div class="menu-item__text">
              <%= t('Account') %>
            </div>
          </a>
        </li>
      <% else %>
        <li class="menu-item ic-app-header__menu-list-item">
          <a id="global_nav_login_link" href="/login" class="ic-app-header__menu-list-link">
            <div class="menu-item-icon-container" aria-hidden="true">
              <%= render(partial: "shared/svg/svg_login_new_styles", formats: [:svg]) %>
            </div>
            <div class="menu-item__text">
              <%= t('Login') %>
            </div>
          </a>
        </li>
      <% end %>
      <% if @current_user && @current_user.adminable_accounts.present? %>
        <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/accounts') %>">
          <a id="global_nav_accounts_link" role="button" href="/accounts" class="ic-app-header__menu-list-link">
            <div class="menu-item-icon-container" aria-hidden="true">
              <%= render(partial: "shared/svg/svg_icon_accounts_new_styles", formats: [:svg]) %>
            </div>
            <div class="menu-item__text">
              <%= t('Admin') %>
            </div>
          </a>
        </li>
      <% end %>
      <li class="ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if current_page?(dashboard_url) %>">
        <a id="global_nav_dashboard_link" href="<%= dashboard_url %>" class="ic-app-header__menu-list-link">
          <div class="menu-item-icon-container" aria-hidden="true">
            <%= render(partial: dashboard_icon_path, formats: [:svg]) %>
          </div>
          <div class="menu-item__text">
            <%= dashboard_title %>
          </div>
        </a>
      </li>
      <% if @current_user %>
        <li class="menu-item ic-app-header__menu-list-item <%= 'ic-app-header__menu-list-item--active' if active_path?('/courses') %>">
          <a id="global_nav_courses_link" role="button" href="/courses" class="ic-app-header__menu-list-link">
            <div class="menu-item-icon-container" aria-hidden="true">
              <%= render(partial: "shared/svg/#{'k12/' if k12?}svg_icon_courses_new_styles", formats: [:svg]) %>
            </div>
            <div class="menu-item__text">
              <%= courses_title %>
            </div>
          </a>
        </li>
      <% end %>
      <% if @current_user && @current_user.current_active_groups? %>
        <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/groups') %>">
          <a id="global_nav_groups_link" role="button" href="/groups" class="ic-app-header__menu-list-link">
            <div class="menu-item-icon-container" aria-hidden="true">
              <%= render(partial: "shared/svg/svg_icon_groups_new_styles", formats: [:svg]) %>
            </div>
            <div class="menu-item__text">
              <%= t('Groups') %>
            </div>
          </a>
        </li>
      <% end %>
      <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/calendar') %>">
        <a id="global_nav_calendar_link" href="/calendar" class="ic-app-header__menu-list-link">
          <div class="menu-item-icon-container" aria-hidden="true">
            <%= render(partial: "shared/svg/#{'k12/' if k12?}svg_icon_calendar_new_styles", formats: [:svg]) %>
          </div>
          <div class="menu-item__text">
            <%= t('Calendar') %>
          </div>
        </a>
      </li>
      <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/conversations') %>">
      <!-- TODO: Add back global search when available -->
        <a id="global_nav_conversations_link" href="/conversations" class="ic-app-header__menu-list-link">
          <div class="menu-item-icon-container">
            <span aria-hidden="true"><%= render(partial: "shared/svg/#{'k12/' if k12?}svg_icon_inbox", formats: [:svg]) %></span>
            <span class="menu-item__badge"></span>
          </div>
          <div class="menu-item__text">
            <%= t('Inbox') %>
          </div>
        </a>
      </li>
      <% if @current_user.present? &&  @domain_root_account && @domain_root_account.feature_enabled?(:learner_passport) %>
        <% if (["admin", "teacher"] & @current_user.roles(@domain_root_account)).present? %>
          <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?("/users/#{@current_user.id}/passport") %>">
            <a id="global_nav_passport_link" role="button" href="<%="/users/#{@current_user.id}/passport/admin"%>" class="ic-app-header__menu-list-link">
              <div class="menu-item-icon-container" aria-hidden="true">
                <%= render(partial: "shared/svg/svg_icon_passport", formats: [:svg]) %>
              </div>
              <div class="menu-item__text">
                <%= t('Passport') %>
              </div>
            </a>
          </li>
        <% else %>
          <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?("/users/#{@current_user.id}/passport") %>">
            <a id="global_nav_passport_link" role="button" href="<%="/users/#{@current_user.id}/passport/learner"%>" class="ic-app-header__menu-list-link">
              <div class="menu-item-icon-container" aria-hidden="true">
                <%= render(partial: "shared/svg/svg_icon_passport", formats: [:svg]) %>
              </div>
              <div class="menu-item__text">
                <%= t('Passport') %>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
      <% if PageView.page_views_enabled? %>
        <li class="menu-item ic-app-header__menu-list-item" <%= ' ic-app-header__menu-list-item--active' if active_path?('/history') %>>
          <a id="global_nav_history_link" role="button" href="#" class="ic-app-header__menu-list-link">
            <div class="menu-item-icon-container" aria-hidden="true">
              <%= render(partial: "shared/svg/svg_icon_history", formats: [:svg]) %>
            </div>
            <div class="menu-item__text">
              <%= t('History') %>
            </div>
          </a>
        </li>
      <% end %>
      <% unless @current_user.nil? %>
        <%= render(partial: 'external_tools/global_nav_menu_items') %>
      <% end %>
      <li class="ic-app-header__menu-list-item">
        <%= link_to help_link_url,
                    :id => 'global_nav_help_link',
                    :role => 'button',
                    :class => "ic-app-header__menu-list-link",
                    :data => help_link_data do %>
          <div class="menu-item-icon-container" role="presentation">
            <% if %w{help information folder cog lifepreserver}.include? help_link_icon %>
              <%= render(partial: "shared/svg/svg_icon_#{help_link_icon}", formats: [:svg]) %>
            <% else # fallback for if it is not one of the expected icons we know we have %>
              <%= svg_icon help_link_icon %>
            <% end %>
            <span class="menu-item__badge"></span>
          </div>
          <div class="menu-item__text">
            <%= help_link_name %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="ic-app-header__secondary-navigation">
    <ul class="ic-app-header__menu-list">
      <li class="menu-item ic-app-header__menu-list-item">
        <a
          id="primaryNavToggle"
          role="button"
          href="#"
          class="ic-app-header__menu-list-link ic-app-header__menu-list-link--nav-toggle"
          aria-label="<% if @current_user.try(:collapse_global_nav?) %><%= t('Expand global navigation') %>
                <% else %><%= t('Minimize global navigation') %><% end %>"
          title="<% if @current_user.try(:collapse_global_nav?) %><%= t('Expand global navigation') %>
                <% else %><%= t('Minimize global navigation') %><% end %>"
        >
          <div class="menu-item-icon-container" aria-hidden="true">
            <%= render(partial: "shared/svg/svg_icon_navtoggle", formats: [:svg]) %>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div id="global_nav_tray_container"></div>
  <div id="global_nav_tour"></div>
</header>
