  <% js_bundle :navigation_header %>
  <header id="header" class="ic-app-header no-print <%= 'no-user' unless @current_user %>">
    <div class="ic-app-header__layout">
      <div class="ic-app-header__primary">
      <a href="#content" id="skip_navigation_link"><%= t 'links.skip_to_content', "Skip To Content" %></a>
        <div role="region" class="ic-app-header__main-navigation" aria-label="<%= t('Main Navigation') %>">
        <% unless @current_user.try(:prefers_high_contrast?) %>
          <div class="ic-app-header__logomark-container">
            <a href="<%= dashboard_url %>" class="ic-app-header__logomark">
              <span class="screenreader-only"><%= t 'links.dashboard', "Dashboard" %></span>
            </a>
          </div>
        <% end %>
          <ul id="menu" class="ic-app-header__menu-list">
            <% if @current_user %>
              <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/profile') %>">
                <a id="global_nav_profile_link" href="/profile" class="ic-app-header__menu-list-link">
                  <div class="menu-item-icon-container" aria-hidden="true">
                    <div class="ic-avatar <% if @real_current_user && @real_current_user != @current_user %>ic-avatar--fake-student<% end %>">
                      <img src="<%= @current_user.try { |usr| avatar_image_attrs(usr).first } %>" alt="<%= @current_user.short_name %>" />
                    </div>
                  </div>
                  <div class="menu-item__text">
                    <%= t('Account') %>
                  </div>
                </a>
              </li>
            <% else %>
              <li class="menu-item ic-app-header__menu-list-item">
                <a id="global_nav_login_link" href="/login" class="ic-app-header__menu-list-link">
                  <div class="menu-item-icon-container" aria-hidden="true">
                    <%= render(:partial => "shared/svg/svg_login_new_styles.svg") %>
                  </div>
                  <div class="menu-item__text">
                    <%= t('Login') %>
                  </div>
                </a>
              </li>
            <% end %>
            <% if @current_user && @current_user.all_accounts.count > 0 %>
              <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/accounts') %>">
                <a id="global_nav_accounts_link" href="/accounts" class="ic-app-header__menu-list-link">
                  <div class="menu-item-icon-container" aria-hidden="true">
                    <%= render(:partial => "shared/svg/svg_icon_accounts_new_styles.svg") %>
                  </div>
                  <div class="menu-item__text">
                    <%= t('Admin') %>
                  </div>
                </a>
              </li>
            <% end %>
            <li class="ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if current_page?(dashboard_url) %>">
              <a id="global_nav_dashboard_link" href="<%= dashboard_url %>" class="ic-app-header__menu-list-link">
                <div class="menu-item-icon-container" aria-hidden="true">
                    <%= svg_icon :dashboard %>
                </div>
                <div class="menu-item__text"><%= t('Dashboard') %></div>
              </a>
            </li>
            <li class="menu-item ic-app-header__menu-list-item <%= 'ic-app-header__menu-list-item--active' if active_path?('/courses') %>">
              <a id="global_nav_courses_link" href="<%= courses_path %>" class="ic-app-header__menu-list-link">
                <div class="menu-item-icon-container" aria-hidden="true">
                  <%= svg_icon :courses_new_styles %>
                </div>
                <div class="menu-item__text">
                  <%= t('Courses') %>
                </div>
              </a>
            </li>
            <% if @current_user && @current_user.current_groups.count > 0 %>
              <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/groups') %>">
                <a id="global_nav_groups_link" href="/groups" class="ic-app-header__menu-list-link">
                  <div class="menu-item-icon-container" aria-hidden="true">
                    <%= svg_icon :groups_new_styles %>
                  </div>
                  <div class="menu-item__text">
                    <%= t('Groups') %>
                  </div>
                </a>
              </li>
            <% end %>
            <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/calendar') %>">
              <a id="global_nav_calendar_link" href="/calendar" class="ic-app-header__menu-list-link">
                <div class="menu-item-icon-container" aria-hidden="true">
                  <%= svg_icon :calendar_new_styles %>
                </div>
                <div class="menu-item__text">
                  <%= t('Calendar') %>
                </div>
              </a>
            </li>
            <li class="menu-item ic-app-header__menu-list-item <%= ' ic-app-header__menu-list-item--active' if active_path?('/conversations') %>">
              <a id="global_nav_conversations_link" href="/conversations" class="ic-app-header__menu-list-link">
                <div class="menu-item-icon-container" aria-hidden="true">
                  <%= svg_icon :inbox %>
                  <span class="menu-item__badge" style="display: none">0</span>
                </div>
                <div class="menu-item__text">
                  <%= t('Inbox') %>
                </div>
              </a>
            </li>
            <% unless @current_user.nil? %>
              <%= render(:partial => 'external_tools/global_nav_menu_items') %>
            <% end %>
            <% if show_help_link? %>
            <li class="ic-app-header__menu-list-item">
             <%= link_to help_link_url,
                  :id => show_feedback_link? ? 'global_nav_help_link' : '',
                  :class => "ic-app-header__menu-list-link",
                  :data => help_link_data do %>
                <div class="menu-item-icon-container" role="presentation">
                  <%= svg_icon help_link_icon %>
                </div>
                <div class="menu-item__text">
                  <%= help_link_name %>
                </div>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <div role="region" aria-label="<%= t('Secondary Navigation') %>" class="ic-app-header__secondary-navigation">
          <ul class="ic-app-header__menu-list">
            <li class="menu-item ic-app-header__menu-list-item">
              <span aria-live="polite">
                <button
                  id="primaryNavToggle"
                  class="ic-app-header__menu-list-link ic-app-header__menu-list-link--nav-toggle"
                  aria-label="
                    <% if @current_user.try(:collapse_global_nav?) %><%= t('Expand global navigation') %>
                    <% else %><%= t('Minimize global navigation') %><% end %>"
                  title="
                    <% if @current_user.try(:collapse_global_nav?) %><%= t('Expand global navigation') %>
                    <% else %><%= t('Minimize global navigation') %><% end %>"
                >
                  <%= svg_icon :navtoggle %>
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="global_nav_tray_container"></div>
  </header>
