<%= form_for Course.new, :html => { :id => 'new_course_form',
                                    :class => 'bootstrap-form form-horizontal',
                                    'data-turn-into-dialog' => '{"width":500,"resizable":false}',
                                    :title => t('start_a_new_course', 'Start a New Course'),
                                    :style => 'display:none;' } do |f| %>

  <div class="control-group">
    <%= f.label :name, :en => "Course Name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name,
                       :placeholder => t('new_course_name_placeholder', 'Course Name'),
                       :class => 'input-xlarge',
                       :maxlength => '255' %>
    </div>
  </div>
  <div id="course_code_wrapper" class="control-group" style="display:none">
    <%= f.label :course_code, :en => "Short Name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :course_code,
                       :placeholder => t('sample_course_code', 'Course-101'),
                       :class => 'input-small',
                       :maxlength => '255' %>
      <div><%= t :course_cose_explanation, "This will be displayed in places with little space" %></div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :license,
                :en => "Content License",
                :class => "control-label" %>
    <div class="controls">
      <%= f.select :license, Course.licenses.map { |id, attrs| [attrs[:readable_license], id] } , {}, :class => 'input-xlarge' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox" for="course_is_public">
        <%= f.check_box :is_public %>
        Make course publicly visible
        <div>(student data will remain private)</div>
      </label>
    </div>
  </div>
  <input type="hidden" name="enroll_me" value="true">

  <div class="button-container">
    <button type="button"
            data-text-while-loading="<%= t 'cancel', "Cancel" %>"
            class="btn dialog_closer"><%= t 'cancel', "Cancel" %></button>
    <button class="btn btn-primary"
            data-text-while-loading="<%= t 'creating_course', 'Creating course...' %>"
            type="submit"><%= t 'create_course', 'Create course' %></button>
  </div>
<% end %>
