<% message_types = notification_list || {} %>
<% url = dashboard_notifications_path
  url = context_url(@context, :context_notifications_url) if @context && !@context.is_a?(User) %>

<h2><%= t('notifications', 'Notifications') %> <a href="<%=url %>" class="small_link"><%= t('view_all', 'View All') %></a></h2>
<ul class="unstyled_list notification_list">
  <% if !message_types.empty? %>
    <% message_types.each do |message_type, messages| %>
      <% if !messages.empty? %>
        <li>
          <a href="<%= url %>#<%= slugify(message_type).pluralize %>" class="<%= slugify(message_type) %>">
            <!--%= image_tag "#{slugify(message_type)}_icon.png" %--> 
            <%= pluralize(messages.length, "#{message_type} Alert") %>
          </a>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <li><%= t('no_notifications', 'No Notifications') %></li>
  <% end %>
</ul>
