<%
# Copyright (C) 2013 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<tbody>
  <% presenter = OverrideListPresenter.new(assignment, user) %>
  <% presenter.visible_due_dates.each do |due_date| %>
    <tr>
      <td <%= context_sensitive_datetime_title(due_date[:raw][:due_at], assignment.context) %>>
        <span aria-hidden="true"><%= due_date[:due_at] %></span>
        <span class="screenreader-only"><%= context_sensitive_datetime_title(due_date[:raw][:due_at], assignment.context, just_text: true, default_text: t('N/A')) %></span>
      </td>
      <td><%= due_date[:due_for] %></td>
      <td <%= context_sensitive_datetime_title(due_date[:raw][:unlock_at], assignment.context) %>>
        <span aria-hidden="true"><%= due_date[:unlock_at] %></span>
        <span class="screenreader-only"><%= context_sensitive_datetime_title(due_date[:raw][:unlock_at], assignment.context, just_text: true, default_text: t('N/A')) %></span>
      </td>
      <td <%= context_sensitive_datetime_title(due_date[:raw][:lock_at], assignment.context) %>>
        <span aria-hidden="true"><%= due_date[:lock_at] %></span>
        <span class="screenreader-only"><%= context_sensitive_datetime_title(due_date[:raw][:lock_at], assignment.context, just_text: true, default_text: t('N/A')) %></span>
      </td>
    </tr>
  <% end %>
</tbody>
