<% show_limit ||= 15; conferences ||= []; show_context ||= false; recent_messages ||= [] %>
<h2><%= t 'headings.recent_activity', 'Recent Activity' %></h2>
<div class="clear"></div>
<div id="topic_list" class="recent_messages_list <%= 'recent_messages_show_context' if show_context %>">
  <%= render :partial => 'users/ie7_upgrade' %>
  <%= render :partial => 'users/account_notification', :collection => @announcements %>
  <%= render :partial => 'users/cc_prefs', :locals => {:message_count => recent_messages.length} %>
  <div id="no_topics_message" style="<%= recent_messages && recent_messages.length > 0 ? 'display: none;' : '' %>">
    <div class="communication_message dashboard_notification">
      <div class="header">
        <div class="header_title">
          <%= image_tag "discussion_icon.png", :class => "header_icon", :style => "padding: 7px 2px 2px;" %>
          <span class="title subject"><%= t('no_recent_messages', 'No Recent Messages') %></span>
          <div class="sub_title">
            <span class="context_code"><%= t('information', 'Information') %></span>
          </div>
        </div>
        <div class="post_date time_ago_date"><%= datetime_string(Time.now) %></div>
        <div style="clear: left;"></div>
      </div>
      <div class="content">
        <div class="message user_content">
          <%= t 'empty_stream_message', <<-BODY 
          You don't have any messages to show in your stream yet.  Once you
          begin participating in your courses you'll see this stream fill up
          with messages from discussions, grading updates, private messages between
          you and other users, etc.
          BODY
          %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <% if conferences && !conferences.empty? %>
    <%= render :partial => "shared/conference", :collection => conferences, :locals => {:brief => true} %>
  <% end %>
  <% recent_messages.each_with_index do |topic, idx| %>
    <div class="topic_message <%= 'hidden_until_scroll' if idx > show_limit %>">
      <% cache(['dashboard_item_render', (@current_user.cache_key rescue 'nobody'), (topic.cache_key rescue 'no_content')].join('/')) do %>
        <%= render :partial => "context/dashboard_stream_item", :object => topic %>
      <% end %>
    </div>
  <% end %>
</div>
<div id="after_topic_list">&nbsp;</div>

<% if recent_messages.length >= show_limit %>
  <div>
    <a href="#" class="show_all_messages_link" style="display: none;"><%= t('more_messages', {:one => "1 more message from the past 2 weeks", :other => "%{count} more messages from the past 2 weeks"}, :count =>(recent_messages.length - show_limit)) %></a>
  </div>
<% end %>
