<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% recent_activity_item ||= nil %>
<% item = recent_activity_item %>
<tr>
  <td>
    <% if item.unread %>
      <div class="unread">
        <span class="screenreader-only"><%= t(:unread, "Unread") %></span>
      </div>
    <% end %>
  </td>
  <td>
    <a href="<%= item.path %>" class="content_summary">
      <span class="fake-link"><%= item.context.name %></span>
      <strong><%= item.state %></strong>
      <%= item.summary %>
    </a>
  </td>
  <td class="date">
    <%= friendly_datetime(item.updated_at, context: item.context, tag_type: :span) %>
  </td>
  <td class="remove">
    <% translated_close = t "Ignore %{item}", :item => item.summary %>
    <a class="close ignore-item" href="#" data-url="<%= dashboard_ignore_stream_item_url(item.stream_item_id) %>" data-remove='tr' title="<%= translated_close %>" aria-label="<%= translated_close %>" role="button">
      <i class="icon-x" aria-hidden="true"></i>
    </a>
  </td>
</tr>
