<% recent_activity_item ||= nil %>
<% item = recent_activity_item %>
<tr>
  <td>
    <% if item.unread %>
      <div class="unread"><span class="accessibly-hidden"><%= t(:unread, "Unread") %></span></div>
    <% end %>
  </td>
  <td>
    <a href="<%= item.path %>" class="content_summary">
      <span class="fake-link"><%= item.context.name %></span>
      <strong><%= item.state %></strong>
      <%= item.summary %>
    </a>
  </td>
  <td class="date" tabindex=0 >
    <%= friendly_datetime(item.updated_at, context: item.context, tag_type: :span) %>
  </td>
  <td class="remove">
    <% translated_close = t 'Ignore' %>
    <a class="close ignore-item" href="#" data-url="<%= dashboard_ignore_stream_item_url(item.stream_item_id) %>" data-remove='tr' title="<%= translated_close %>" aria-label="<%= translated_close %>" role="button">×</a>
  </td>
</tr>
