<div id="rubric_long_description_dialog" style="display: none;">
  <div class="description" style="border-bottom: 1px solid #ccc; padding: 5px 0; font-size: 1.2em; font-weight: bold; margin-bottom: 5px;">
  </div>
  <div class="editing">
    <textarea class="long_description" aria-label="<%= t 'labels.long_description', "Long Description" %>" name="long_description" style="width: 370px;"></textarea>
    <div class="button-container">
      <button type="button" class="btn btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
      <button type="button" class="btn save_button"><%= t 'buttons.update_description', "Update Description" %></button>
    </div>
  </div>
  <div class="displaying">
    <div class="long_description">
    </div>
  </div>
</div>
<div id="rubric_criterion_comments_dialog" style="display: none;">
  <div
    class="criterion_description"
    style="border-bottom: 1px solid #ccc; padding: 5px 0; font-size: 1.2em; font-weight: bold; margin-bottom: 5px;"
    tabindex="-1"
  ></div>
  <div class="editing">
    <label for="criterion_comments_textarea">
      <%= before_label :additional_comments, "Additional Comments" %>
    </label>
    <textarea
      id="criterion_comments_textarea"
      class="criterion_comments"
      name="criterion_comments"
      style="width: 370px;"></textarea>
    <div class="button-container">
      <button type="button" class="btn btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
      <button type="button" class="btn save_button"><%= t 'buttons.update_comments', "Update Comments" %></button>
    </div>
  </div>
  <div class="displaying">
    <%= before_label :additional_comments, "Additional Comments" %>
    <div class="criterion_comments" style="margin-top: 10px;">
    </div>
  </div>
</div>
