<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div id="rubric_long_description_dialog" style="display: none;">
  <div class="editing">
    <form id="edit_criterion_form" class="no-margin-bottom">
      <div>
        <label class="rating_form_label"><%= t "Description" %>
          <textarea class="description" rows="1" name="description"></textarea>
        </label>
      </div>
      <div>
        <label class="rating_form_label"><%= t "Long Description" %>
          <textarea class="long_description" rows="4" name="long_description"></textarea>
        </label>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn button-secondary cancel_button"><%= t "Cancel" %></button>
        <button type="button" class="btn save_button btn-primary"><%= t "Update Criterion" %></button>
      </div>
    </form>
  </div>
  <div class="displaying">
    <div class="long_description">
    </div>
  </div>
</div>
<div id="rubric_criterion_comments_dialog" style="display: none;">
  <div
    class="criterion_description"
    style="border-bottom: 1px solid #ccc; padding: 5px 0; font-size: 1.2em; font-weight: bold; margin-bottom: 5px;"
    tabindex="-1"
  ></div>
  <div class="editing">
    <label for="criterion_comments_textarea">
      <%= before_label :additional_comments, "Additional Comments" %>
    </label>
    <textarea
      id="criterion_comments_textarea"
      class="criterion_comments"
      name="criterion_comments"
      style="width: 370px;"></textarea>
    <div class="button-container">
      <button type="button" class="btn btn button-secondary cancel_button"><%= t "Cancel" %></button>
      <button type="button" class="btn save_button"><%= t "Update Comments" %></button>
    </div>
  </div>
  <div class="displaying">
    <%= before_label :additional_comments, "Additional Comments" %>
    <div class="criterion_comments" style="margin-top: 10px;">
    </div>
  </div>
</div>
<div id="rubric_rating_dialog" style="display: none;">
  <div class="description" style="border-bottom: 1px solid #ccc; padding: 5px 0; font-size: 1.2em; font-weight: bold; margin-bottom: 5px;">
    <span id="edit_rating_form_criterion_description"></span>
  </div>
  <div class="editing">
    <form id="edit_rating_form" class="no-margin-bottom">
      <div>
        <div><label id='rating_form_score_label' class="rating_form_label"><%= t "Rating Score" %></label></div>
        <span id='rating_form_max_score_label' hidden><%= t('Rating max score') %></span>
        <input id="points" aria-labelledby="rating_form_score_label" type="text" size="2" name="points" class="no-margin-bottom span1" />
        <span class="range_rating"><%= t('to') %> >
          <input aria-label="<%= t('Rating min score') %>" type="text" size="2" name="min_points" class="no-margin-bottom span1 min_points" placeholder="<%= t('min') %>"/>
        </span><%= t('pts') %>
      </div>
      <div>
        <label for="rating_form_title" class="rating_form_label"><%= t "Rating Title" %></label>
        <input id="rating_form_title" type="text" class="rating_description" style="width: 90%;" name="description"/>
      </div>
      <div>
        <label for="rating_form_description" class="rating_form_label"><%= t "Rating Description" %></label>
        <textarea id="rating_form_description" rows="4" style="width: 90%;" class="rating_long_description" name="rating_long_description" form="edit_rating_form"></textarea>
      </div>
      <div class="button-container">
        <button type="button" class="btn button-secondary cancel_button"><%= t "Cancel" %></button>
        <button type="button" class="btn btn-primary save_button ok_button"><%= t "Update Rating" %></button>
      </div>
    </form>
  </div>
</div>
