<noscript>
  <div role="alert" class="ic-flash-static ic-flash-error">
    <h1><%= t :javascript_required, "You need to have JavaScript enabled in order to access this site." %></h1>
  </div>
</noscript>

<% if session.has_key? :brand_config_md5 && !params[:previewing_from_themeeditor] %>
  <div role="alert" class="ic-flash-static ic-flash-info ic-flash--Theme-Editor">
    <% if params[:editing_brand_config] %>
      <%= t("You're editing your Canvas Theme! The changes have not been applied yet.") %>
    <% else %>
      <%= t do %>
        You're editing your Canvas Theme! Apply or cancel changes from within the.
        <%= link_to("Theme Editor", account_theme_editor_path(::Context.get_account(@context || @domain_root_account))) %>.
      <% end %>
      <br /> <%= t do %> Note: sub-account themes are not active during this preview. <% end %>
    <% end %>
  </div>
<% end %>

<% if @current_user.try(:show_bouncing_channel_message?) %>
  <div role="alert" class="ic-flash-static ic-flash-warning">
  <%= t(:bouncing_communication_channels, "There appears to be a problem with one of your contact methods. Please check your *Settings Page*.", wrapper: link_to('\1', settings_profile_path)) %>
  </div>
<% end %>
