<% topic_id = topic ? topic.id : "{{ id }}"
  show_context ||= false
  user_id = topic.user_id rescue "{{ user_id }}"
  topic_type = (topic.class.to_s.underscore rescue nil) if topic
  topic_type ||= "discussion_topic"
  topic_desc = topic_type.gsub("_", " ").capitalize
  is_announcement ||= false
  brief ||= false
  single_topic ||= false
  topic_context = topic.context rescue @context
  post_date = datetime_string(topic.created_at) rescue t('date_created', "Date Created")
  if !single_topic
    post_date = datetime_string(topic.last_reply_at) rescue t('last_post', "Last Post")
  end
  unread_count = topic ? topic.unread_count(@current_user) : 0
  reply_count = topic.discussion_entries.length rescue 0
%>
<div class="clear"></div>
<% if !topic || can_do(topic, @current_user, :read) %>
<div class="<%= topic_type %> topic communication_message <%= 'has_podcast' if topic && topic.podcast_enabled %> <%= 'has_unread_entries' if unread_count > 0 %> can_be_marked_as_read <%= topic ? topic.read_state(@current_user) : 'read' %>" style="<%= hidden unless topic %>" id="topic_<%= topic ? topic.id : "blank" %>" data-mark-read-url="<%= topic && context_url(topic_context, :api_v1_context_discussion_topic_mark_read_url, topic) %>">
  <div class="header">
    <div class="header_title">
      <%= image_tag "announcement.png", :class => "header_icon topic_icon announcement_icon", :alt => t('images.alt.announcement', "announcement"), :title => t('images.title.announcement', "Announcement"), :style => brief ? "width: 20px;" : "" %>
      <%= image_tag "discussion_topic.png", :class => "header_icon topic_icon discussion_topic_icon", :alt => t('images.alt.topic', "topic"), :title => t('images.title.topic', "Discussion"), :style => brief ? "width: 20px;" : "" %>
      <% if single_topic %>
        <span class="title"><%= topic.title rescue t('no_title', "No Title") %></span>
      <% else %>
        <a href="<%= context_url(topic_context, :controller => :discussion_topics, :action => :show, :id => topic_id) %>" class="title"><%= topic.title rescue t('no_title', "No Title") %></a>
      <% end %>
        <div class="sub_title" style="margin-left: 45px;">
        <span class="context_code"><%= topic_context.short_name rescue "" %></span>
        <a style="<%= hidden unless topic && topic.user %>" href="<%= context_url(topic_context, :context_user_url, user_id) %>" class="user_name"> <%= context_user_name(topic_context, topic && topic.user) %></a>
      </div>
    </div>
    <% if !brief %>
    <div class="link_box">
      <span class="links">
        <% if single_topic && topic && can_do(topic, @current_user, :reply) %>
          <a href="#" class="add_entry_link atr-reply" title="<%= t('links.reply', %{Add New Entry}) %>"><%= t('links.reply', %{Add New Entry}) %></a>
        <% end %>
        <a style="<%= "display: none;" if !can_do(topic, @current_user, :update) %>" href="<%= context_url(topic_context, :controller => :discussion_topics, :action => :update, :id => topic_id) %>" class="edit_topic_link no-hover"><%= image_tag "edit.png", :alt => t('images.alt.edit', "Edit"), :title => t('images.title.edit', "Edit %{topic}", :topic => topic_desc) %></a>
        <a style="<%= "display: none;" if !can_do(topic, @current_user, :delete) %>" href="<%= context_url(topic_context, :controller => :discussion_topics, :action => :destroy, :id => topic_id) %>" class="delete_topic_link no-hover"><%= image_tag "delete.png", :alt => t('images.alt.delete', "Delete"), :title => t('images.title.delete', "Delete %{topic}", :topic => topic_desc) %></a>
      </span>
    </div>
    <% end %>
    <% if !single_topic %>
      <div class="podcast">
        <a href="<%= context_url(topic_context, :controller => :discussion_topics, :action => :show, :id => topic_id) %>"><%= image_tag "atom.png", :title => t('images.title.podcast', 'This topic has a podcast feed.'), :alt => t('images.alt.podcast', 'Has a podcast') %></a>
      </div>
    <% end %>
    <div class="post_date">
      <div><%= post_date %></div>
      <div class="new-and-total-badge">
        <span class="tooltip new-items">
          <span class="tooltip_wrap">
            <span class="tooltip_text topic_unread_entries_tooltip"><%= t('unread_count_tooltip', { :zero => 'No unread entries', :one => '1 unread entry', :other => '%{count} unread entries' }, :count => unread_count) %></span>
          </span>
          <span class='topic_unread_entries_count'><%= unread_count if unread_count > 0%></span>
        </span>
        <span class="tooltip total-items">
          <span class="tooltip_wrap">
            <span class="tooltip_text">
              <%= t('reply_count_tooltip', { :zero => 'No replies', :one => '1 reply', :other => '%{count} replies' }, :count => reply_count) %>
            </span>
          </span>
          <span class='topic_reply_count'><%= reply_count if reply_count > 0 %></span>
        </span>
      </div>

    </div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar((topic.user_id rescue nil), @context.asset_string) %></div>
    <div class="course_id" style="display: none;"><%= topic_context.id if topic_context && topic_context.is_a?(Course) %></div>
    <div class="message user_content"><%= topic && user_content(topic.message) %></div>
    <textarea class="message_html" style="display: none;"><%= h(topic.try_rescue(:message)) %></textarea>
    <div class="notes" style="font-size: 0.8em; float: left;">
      <% if @context.respond_to?(:assignments) %>
        <div class="for_assignment" style="font-style: italic; <%= hidden unless topic && topic.for_assignment? %>">
          <% points_possible = topic.try(:assignment).try(:points_possible) %>
          <% ot 'assignment_topic', %{This topic is an assignment *(%{points})*.}, :points => (points_possible ? t('assignment_points', 'pt', :count => points_possible) : nbsp), :wrapper => capture { %>
          <span class="assignment_possible" style="<%= hidden unless topic && topic.assignment && topic.assignment.points_possible %>"><span class="assignment_points_possible">\1</span></span><% } %>
          <a href="<%= context_url(topic && topic.assignment ? topic.assignment.context : topic_context, :context_assignment_url, (topic && topic.assignment_id ? topic.assignment_id : '{{ assignment_id }}')) %>" class="topic_assignment_link assignment_title" style="display: none;"><%= topic.assignment.title rescue nbsp %></a>
          <span class="for_grading_text"><%= t('for_grading', %{Grading will be based on posts submitted to this topic.}) %></span>
          <a href="<%= context_url(topic && topic.assignment ? topic.assignment.context : topic_context, :context_assignment_url, '{{ assignment_id }}') %>" style="display: none;" class="topic_assignment_url">&nbsp;</a>
          <div style="display: none;">
            <span class="assignment_id assignment[id]"><%= topic.assignment_id rescue nbsp %></span>
            <span class="assignment_assignment_group_id assignment[assignment_group_id]"><%= topic.try_rescue(:assignment).try_rescue(:assignment_group_id) || nbsp %></span>
            <span class="assignment_points_possible assignment[points_possible]"><%= topic.try_rescue(:assignment).try_rescue(:points_possible) || nbsp %></span>
            <span class="assignment_due_at assignment[due_at]"><%= datetime_string(topic.try_rescue(:assignment).try_rescue(:due_at), :long) || nbsp %></span>
          </div>
        </div>
      <% end %>
      <div class="attachment_data" style="<%= hidden unless topic && topic.attachment %>">
        <%= t('attached_file', %{Attached File}) %> <a href="<%= context_url(topic ? topic_context : @context, :context_file_download_url, topic && topic.attachment ? topic.attachment_id : "{{ attachment_id }}") %>" class="attachment_name"><%= topic.attachment.display_name rescue nbsp %></a>
        <a href="<%= context_url(topic ? topic_context : @context, :context_file_download_url, "{{ attachment_id }}") %>" class="topic_attachment_url" style="display: none;">&nbsp;</a>
      </div>
      <div class="delayed_posting" style="<%= hidden unless topic && topic.post_delayed? && topic.delayed_post_at > Time.now %>">
        <%= t 'topic_locked', 'This topic will not be visible to users until *%{date}*', :date => (datetime_string(topic.delayed_post_at) rescue nbsp), :wrapper => '<span class="delayed_post_at">\1</span>' %>
      </div>
      <% if topic && topic.editor_id && topic.editor_id != topic.user_id %>
        <div><%= t 'edited_by', 'This topic was edited by %{user}', :user => link_to(context_user_name(topic_context, topic.editor_id), context_url(topic_context, :context_user_url, topic.editor_id)) %></div>
      <% end %>
      <% if topic && topic.locked? %>
        <div><%= t 'locked', 'This topic is closed for comments' %></div>
      <% end %>
    </div>
    <div class="source" style="font-size: 0.8em; float: left; color: #888;">
      <% feed = topic.external_feed rescue nil %>
      <% if feed %>
        <%= t 'retrieved_from_feed', 'Retrieved from %{feed}', :feed => link_to(feed.display_name, feed.url, :style => "color: #666;") %>
      <% end %>
    </div>
    <div class="clear"></div>
    <div style="display: none;">
      <a href="<%= context_url(topic_context, :controller => :discussion_topics, :action => :update, :id => topic_id) %>" class="edit_topic_url">&nbsp;</a>
      <span class="is_announcement"><%= (is_announcement || (topic && topic.is_announcement)) ? "1" : "0" %></span>
      <span class="podcast_enabled"><%= (topic && topic.podcast_enabled) ? "1" : "0" %></span>
      <span class="podcast_has_student_posts"><%= (topic && topic.podcast_has_student_posts) ? "1" : "0" %></span>
      <span class="require_initial_post"><%= (topic && topic.require_initial_post) ? "1" : "0" %></span>
      <span class="threaded"><%= topic.try(:threaded?) ? "1" : "0" %></span>
    </div>
  </div>
</div>
<% end %>
