<div id="uploading_please_wait_dialog" title="<%= t('titles.uploading', %{Uploading, Please Wait.}) %>" style="display:none;">
  <div id="uploading_progressbar"></div>
  <p><%= t 'notices.uploading_progress_info', 'Uploading and processing your zip file, if there are a lot of files in the zip file or it is very large, this may take a while.' %></p>
</div>
<%= form_for((@zfi || ZipFileImport.new), :url => context_url(@context, :context_zip_file_imports_url), :html => { :id => "zip_file_import_form", :multipart => true })  do |form| %>
  <input type="hidden" name="batch_id" value="<%= CanvasSlug.generate(@current_user.asset_string, 10) %>" id="zip_import_batch_id"/>
  <%= form.error_messages %>
  <div>
    <input type="file" name="zip_file" id="zip_file"/><br/>
    <span style="font-size: 0.8em; color: #a00; display: none;" id="zip_only_message"><%= t 'prompts.select_file', 'Please select a .zip file for uploading' %></span>
  </div>
  <div id="upload_to" style="margin: 10px 0;">
    <%= before_label :upload_to, 'Upload to' %>
    <select name="folder_id">
      <%= folders_as_options(Folder.root_folders(@context), :all_folders => @context.folders.active.select([:id, :name, :parent_folder_id]).to_a, :selected_folder_id => params[:folder_id].to_i) %>
    </select>
    <%= hidden_field_tag 'return_to', return_or_context_url %>
  </div>
  <div class="button-container">
    <a class="cancel_button btn" href="#"><%= t '#buttons.cancel', 'Cancel' %></a>
    <button type="submit" class="submit_button btn btn-primary"><%= t 'buttons.upload_file', 'Upload File' %></button>
  </div>
  <a href="<%= context_url(@context, :context_zip_file_import_url, "{{ id }}", :format => :json) %>" class="zip_file_import_status_url" style="display: none;">&nbsp;</a>
<% end %>
<% js_bundle :zip_file_imports %>
