<%
  content_for :page_title, t('updated_terms_of_use', 'Updated Terms of Use')

  css_bundle :login
  disable_account_css

  @headers = false
  @body_classes ||= []
  @body_classes << "modal"
%>

<%= form_tag("/api/v1/users/self", method: "put", class: "reaccept_terms clearfix", id: "modal-box") do %>
  <h2><%= t 'updated_terms_of_use', 'Updated Terms of Use' %></h2>
  <p>
    <%= t "Either you're a new user or the *terms of use* have changed since you last agreed to them.  Please agree to the *terms of use* and **privacy policy** before you continue.",
          wrapper: {
              '*' => link_to('\1', terms_of_use_url, target: '_blank'),
              '**' => link_to('\1', privacy_policy_url, target: '_blank')
          }
    %>
  </p>
  <p>
    <label class="checkbox">
      <input type="checkbox" name="user[terms_of_use]" value="1">
      <%= agree_to_terms %>
    </label>
    <input type="hidden" name="redirect_to_previous" value="true" />
  </p>
  <p>
    <button type="submit" class="btn btn-primary"><%= t "#buttons.submit", "Submit" %></button>
    <%= link_to(t("#buttons.cancel", "Cancel"), logout_path, :method => :delete, :class => "btn logout") %>
  </p>
<% end %>
