<%
  content_for :page_title, t('updated_terms_of_use', 'Updated Terms of Use')

  js_bundle :reaccept_terms
  jammit_css :login
  @headers = false
  @body_classes ||= []
  @body_classes << "modal"
%>

<form id="modal-box" class="reaccept_terms clearfix" action="/api/v1/users/self" method="PUT">
  <h2><%= t 'updated_terms_of_use', 'Updated Terms of Use' %></h2>
  <p>
    <%= t 'terms_have_changed',
          'The *terms of use* have changed. Please take a moment to review them before you continue using Canvas.',
          wrapper: link_to('\1', terms_of_use_url, target: '_blank')
    %>
  </p>
  <p>
    <label class="checkbox">
      <input type="checkbox" name="user[terms_of_use]" value="1">
      <%= agree_to_terms %>
    </label>
  </p>
  <p>
    <button type="submit" class="btn btn-primary"><%= t "#buttons.submit", "Submit" %></button>
    <%= link_to(t("#buttons.cancel", "Cancel"), logout_path, :method => :delete, :class => "btn logout") %>
  </p>
</form>
