<% content_for :page_title, t('title', 'Invalid Feed') %>

<div style="width: 410px; margin-left: auto; margin-right: auto; margin-top: 10px;">
  <h2><%= t('title', %{Invalid Feed}) %></h2>
  <p><%= t('bad_params', %{The parameters for the feed you were trying to access are invalid.}) %>
  <%= @problem %>
  </p>
  <p><%= t('feedback', %{If you're pretty sure this url was supposed to work, please tell us how you got here by clicking the link below, and we'll look into it.}) %></p>
  <a href="#" style="font-size: 1.2em;" class="submit_error_link discussion-topic"><%= t('links.feedback', %{Tell us what you were looking for}) %></a>
  <%= render :partial => "shared/errors/error_form", :locals => {:status => 400} %>
</div>
