<% content_for :page_title do %>
  <% if !@files_domain && !@unauthorized_user  %>
    <%= t('titles.log_in', %{Please Log In}) %>
  <% else %>
    <%= t('titles.unauthorized_action', %{Unauthorized}) %>
  <% end %>

<% end %>
<% @show_left_side = false %>
<% @show_embedded_chat = false %>
<div id="unauthorized_holder">
  <% css_bundle("unauthorized_message") %>
  <div id="unauthorized_message">
    <h2 class="ui-state-error">
      <% if @needs_cookies -%>
        <%= t('headings.needs_cookies', %{Cookies Required}) %>
      <% elsif !@files_domain && @unauthorized_user %>
        <%= t('headings.needs_login', %{Please Log In}) %>
      <% elsif @unauthorized_reason == :unpublished %>
        <%= t('headings.unpublished', %{Not Yet Available}) %>
      <% else -%>
        <%= t('headings.unauthorized_action', %{Unauthorized}) %>
      <% end -%>
    </h2>
    <% if @unauthorized_user && @current_user != @unauthorized_user %>
      <p><%= mt 'unauthorized_user_is_other', "%{current_user}, you are not authorized to view this page.  The link you followed to get here was for **%{unauthorized_user} (%{unauthorized_user_email})**.  If that's you, you may want to log out and log back in with that email address to gain access to this page.", :current_user => @current_user.name, :unauthorized_user => @unauthorized_user.name, :unauthorized_user_email => @unauthorized_user.email %>
      </p>
    <% elsif @unauthorized_user %>
      <p>
        <%= t "%{user_name}, you'll need to *log in* before you can view that page.", user_name: @unauthorized_user.name, wrapper: link_to(login_url, '\1') %>
      </p>
    <% elsif @unauthorized_message %>
      <p><%= @unauthorized_message %></p>
    <% elsif @needs_cookies %>
      <p><%= t('needs_cookies', %{Cookies are not enabled on your browser. Please adjust this in your security preferences before continuing.}) %></p>
    <% elsif @files_domain %>
      <p><%= t('needs_login', %{Access to this page is limited to authorized users.  You do not currently have permission to view this page.}) %></p>
    <% elsif @context %>
      <p>
        <% if @context.try_rescue(:is_public) %>
          <%= mt 'public_course', 'This page is part of the content for the course, **%{course}**.', :course => @context.name %>
        <% end %>
      <%= t('unauthorized_1', %{It appears that you don't have permission to access this page.  Please make sure you're authorized to view this content.}) %>
      <% if Setting.get("show_feedback_link", "false") == "true" %>
        <%= t('unauthorized_2', %{If you think you should be able to view this page, please use the "Help" link to notify support of the problem.}) %>
      <% end %>
      </p>
    <% end %>
  </div>
</div>
