<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :page_title do %>
  <%= t('titles.unauthorized_action', %{Unauthorized}) %>
<% end %>
<% @show_left_side = false %>
<% @show_embedded_chat = false %>
<div id="unauthorized_holder">
  <% css_bundle("unauthorized_message") %>
  <div id="unauthorized_message">
    <h2 class="ui-state-error">
      <% if @needs_cookies -%>
        <%= t('headings.needs_cookies', %{Cookies Required}) %>
      <% elsif @unauthorized_reason == :unpublished %>
        <%= t('headings.unpublished', %{Not Yet Available}) %>
      <% else -%>
        <%= t('headings.unauthorized_action', %{Unauthorized}) %>
      <% end -%>
    </h2>
    <% if @unauthorized_message %>
      <p><%= @unauthorized_message %></p>
    <% elsif @needs_cookies %>
      <p><%= t('needs_cookies', %{Cookies are not enabled on your browser. Please adjust this in your security preferences before continuing.}) %></p>
    <% elsif @files_domain %>
      <p><%= t('needs_login', %{Access to this page is limited to authorized users.  You do not currently have permission to view this page.}) %></p>
    <% elsif @context %>
      <p>
        <% if @context.try_rescue(:is_public) %>
          <%= mt 'public_course', 'This page is part of the content for the course, **%{course}**.', :course => @context.name %>
        <% end %>
      <%= t('unauthorized_1', %{It appears that you don't have permission to access this page.  Please make sure you're authorized to view this content.}) %>
      <% if Setting.get("show_feedback_link", "false") == "true" %>
        <%= t('unauthorized_2', %{If you think you should be able to view this page, please use the "Help" link to notify support of the problem.}) %>
      <% end %>
      </p>
    <% end %>
  </div>
</div>
