<div id="summary-statistics">
  <header class="padded">
    <h3 class="section-title inline">{{t 'quiz_summary' 'Quiz Summary'}}</h3>

    <aside class="pull-right">
      {{#each quizReport in quiz.quizReports}}
        {{render "quiz/statistics/summary/report_generator" quizReport}}
      {{/each}}
    </aside>
  </header>

  <table class="text-left">
    <thead>
      <tr>
        <th>
          <i class="icon-quiz-stats-avg"></i>
          {{t 'stats_mean' 'Avg Score'}}
        </th>
        <th>
          <i class="icon-quiz-stats-high"></i>
          {{t 'stats_high' 'High Score'}}
        </th>
        <th>
          <i class="icon-quiz-stats-low"></i>
          {{t 'stats_low' 'Low Score'}}
        </th>
        <th>
          <i class="icon-quiz-stats-deviation"></i>
          {{t 'stats_stdev' 'Std. Deviation'}}
        </th>
        <th>
          <i class="icon-quiz-stats-time"></i>
          {{t 'stats_avg_time' 'Avg Time'}}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="emphasized">{{avgScoreRatio}}%</td>
        <td>{{highScoreRatio}}%</td>
        <td>{{lowScoreRatio}}%</td>
        <td>{{forcePrecision scoreStdev}}</td>
        <td>{{formattedAvgDuration}}</td>
      </tr>
    </tbody>
  </table>

  <svg class="chart"></svg>
</div>