<tr>
  <td><%= delayed_job.id %></td>
  <td><%= delayed_job.attempts %> / <%= delayed_job.max_attempts || Delayed::Worker.max_attempts %></td>
  <td>
    <%= delayed_job.tag %>
  </td>
  <td>
    <div style="max-height: 100px; max-width: 200px; overflow: hidden;"><%= delayed_job.last_error %></div>
  </td>
  <td><%= delayed_job.priority %></td>
  <td><%= delayed_job.queue %></td>
  <td><%= delayed_job.run_at %></td>
  <td><%= delayed_job.locked_at %></td>
  <td><%= delayed_job.failed_at %></td>
  <td><%= delayed_job.locked_by %></td>
  <td>
    <%= link_to 'Show', delayed_job_path(delayed_job) %>
    <br>
    <%= link_to 'Edit', edit_delayed_job_path(delayed_job) %>
  </td>
  <td>
    <%= link_to 'ReQueue', queue_delayed_job_path(delayed_job), :confirm => "Are you sure you want this to be re-queued?\n(clears locked_at/locked_by sets run_at to now)", :method => :put %>
    <br>
    <%= link_to 'Hold', hold_delayed_job_path(delayed_job), :confirm => "Are you sure you want to put this on hold?\n(sets locked_at/locked_by)", :method => :put %>
    <br>
    <%= link_to 'Delete', delayed_job_path(delayed_job), :confirm => 'Are you sure you want to delete this job?', :method => :delete %>
  </td>
</tr>
