<style type="text/css">
  #delayed th, #delayed td{
    border: solid gray;
    text-align: center;
    padding: 5px;
  }
  #counts {
    border: none;
  }
  #counts th{
    text-align: center;
  } 
  #counts td{
    text-align: left;
    padding: 5px;
    vertical-align: top;
  }
</style>
<% content_for :page_title do %>Delayed Jobs<% end %>

<% content_for :page_header do %>
  <h1>Delayed Jobs</h1>
<% end %>

<%= render :partial => "nav" %>


<table id="counts">
  <tr>
    <th colspan="3">Delayed Job Counts</th>
  </tr>
  <tr>
    <th>Healthy Jobs</th>
    <th>Failed Jobs</th>
    <th>On Hold</th>
    <th>Popular Jobs</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>Waiting to run: <%= @counts[:healthy_waiting] %></li>
        <li>Running now: <%= @counts[:healthy_running] %></li>
        <li>Scheduled in future: <%= @counts[:healthy_future] %></li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Failed less than max: <%= @counts[:failed_not_max] %></li>
        <li>Failed max tries: <%= @counts[:failed_max] %></li>
        <li>Waiting to run: <%= @counts[:failed_waiting] %></li>
        <li>Running now: <%= @counts[:failed_running] %></li>
        <li>Scheduled in future: <%= @counts[:failed_future] %></li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Total: <%= @counts[:hold_total] %></li>
      </ul>
    </td>
    <td>
      <ul>
        <% @tags.each do |name, count| %>
          <li><%= name %>: <%= count %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<table>
    <% form_for @current_user, :url => '/delayed_jobs/hold'  do |f| %>
    <tr>
      <td>
        <input type="text" name="method_name" value="" style="width: 250px;"/>
      </td>
      <td>
        <button type="submit" class="button">Hold all with this method name</button>
      </td>
      <td>Example: update_associated_content_tags</td>
    </tr>
  <% end %>
  <% form_for @current_user, :url => '/delayed_jobs/queue'  do |f| %>
    <tr>
      <td>
        <input type="text" name="method_name" value="" style="width: 250px;"/>
      </td>
      <td>
        <button type="submit" class="button">Re-queue all with this method name</button>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate(@users, :style=>"margin-top: 1em;") %>

<table id="delayed">
  <tr>
    <th>Id</th>
    <th>Attempts</th>
    <th>Tag</th>
    <th>Last Error</th>
    <th>Priority</th>
    <th>Queue</th>
    <th>Run At</th>
    <th>Locked At</th>
    <th>Failed At</th>
    <th>Locked By</th>
  </tr>
  <tr><td colspan="10" style="text-align:left;font-weight:bolder;">Currently Running</td></tr>
      <%= render :partial => 'delayed_job', :collection => @running_now %>
  <tr><td colspan="10" style="text-align:left;font-weight:bolder;">Queued:</td></tr>
      <%= render :partial => 'delayed_job', :collection=> @delayed_jobs %>
</table>

<%= will_paginate(@users, :style=>"margin-top: 1em;") %>
