<% content_for :page_title do %>Delayed Job<% end %>

<% content_for :page_header do %>
  <h1>Delayed Job</h1>
<% end %>

<%= render :partial => "nav" %>

<p>
  <strong>Id:</strong>
  <%= @delayed_job.id %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @delayed_job.priority %>
</p>
<p>
  <strong>Attempts:</strong>
  <%= @delayed_job.attempts %>
</p>
<p>
  <strong>Max Attempts:</strong>
  <%= @delayed_job.max_attempts || Delayed::Worker.max_attempts %>
</p>
<p>
  <strong>Tag:</strong>
  <%= @delayed_job.tag %>
</p>
<p>
  <strong>Handler:</strong>
  <pre>
  <%= @delayed_job.handler %>
  </pre>
</p>
<p>
  <strong>Last Error:</strong>
  <pre>
  <%= @delayed_job.last_error %>
  </pre>
</p>
<p>
  <strong>Queue:</strong>
  <%= @delayed_job.queue %>
</p>
<p>
  <strong>Run At:</strong>
  <%= @delayed_job.run_at %>
</p>
<p>
  <strong>Locked At:</strong>
  <%= @delayed_job.locked_at %>
</p>
<p>
  <strong>Failed At:</strong>
  <%= @delayed_job.failed_at %>
</p>
<p>
  <strong>Locked By:</strong>
  <%= @delayed_job.locked_by %>
</p>

<p>
  <%= link_to "Edit", edit_delayed_job_path(@delayed_job) %> |
  <%= link_to 'Delete', delayed_job_path(@delayed_job), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "View All", delayed_jobs_path %>
</p>
