<div class="facebook_message">
  <div class="header">
    <div class="left_links">
      <%= image_tag "#{slugify(message.notification_category) || 'notification'}_icon.png", :class => "header_icon", :alt => "notification" %>
      <a href="<%= message.url %>" target="_top"><%= message.subject %></a>
      <div class="context_name">
        <span>
          <% if Context::ContextTypes.const_defined?(message.context_type) && message.context.respond_to?(:type) %>
            <%= message.context.type %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="right_links">
      <%= datetime_string(message.created_at) || nbsp %>
      <div class="delete_holder"><a class="delete_link" rel="<%= facebook_hide_message_url(message.id) %>" href="#"><%= t :hide, "Hide" %></a></div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="body">
    <div><%= raw(message.formatted_body || nbsp) %></div>
    <div style="clear: both;"></div>
  </div>
</div>
