<p>
  <div style="border-bottom: 1px solid #ccc; padding-bottom: 5px;">
    <div style="float: left;">
      <img src="http://<%= HostUrl.default_host %>/images/<%= "#{slugify(message.try_rescue(:notification_category)) || 'notification'}_icon.png" %>" class="header_icon" style="padding: 2px; vertical-align: bottom;" alt="notification" />
      <a href="<%= message.try_rescue(:url) %>" style="font-size: 1.2em; font-weight: bold;"><%= message.try_rescue(:subject) %></a>
      <div style="color: #888; margin-top: -2px; padding-left: 25px; font-size: 0.9em;">
        <span><%= cached_context_short_name(message.try_rescue(:context_code)) %></span>
      </div>
    </div>
    <div style="float: right; color: #888;"><%= datetime_string(message.try_rescue(:created_at)) || nbsp %></div>
    <div style="clear: left;"></div>
  </div>
  <div style="padding-top: 5px; padding-left: 25px;">
    <div><%= raw(message.try_rescue(:formatted_body) || nbsp) %></div>
    <div style="clear: both;"></div>
  </div>
</p>
