<% if @user %>
  <div style="float: right; margin-right: 5px;">
    <fb:bookmark></fb:bookmark>
  </div>
  <h2><%= image_tag "favicon_large.png", :style => 'vertical-align: middle;' %> <%= t :canvas_messages, "Canvas Messages" %></h2>
  <div style="float: left; padding: 0 5px 5px;"><fb:profile-pic uid='<%= @facebook_user_id %>'/></div>
  <div style="float: right; text-align: right; padding-left: 10px; margin-right: 5px;">
    <a href="<%= facebook_settings_url %>" class="btn"><%= t :notification_settings, "Notification Settings" %></a>
  </div>
  <span style="font-size: 1.5em;"><%= t :welcome, "Welcome back, %{name}!", :name => @user.name %></span>
  <div style="clear: left; margin-bottom: 5px;"></div>
  <% if @messages.blank? %>
    <b><%= t :all_set, "You're all set up!" %></b>
    <% if NotificationPolicy.for(@user).where('communication_channels.path_type' => 'facebook').first %>
      <%= t :no_messages_notice, "As things happen in the course you'll start seeing notifications show up here letting you know about things happening in your Canvas account." %>
    <% else %>
      <%= t :configure_notification_preferences_notice, "After you *configure your notification preferences* you should start to see notifications show up here letting you know about things happening in your Canvas account.", :wrapper => %{<a href="#{Facebook::Connection.app_url}/settings">\1</a>} %>
    <% end %>
    <%= t :bookmark_notice, "You can see the number of new Canvas notifications from your Facebook home page if you bookmark this 
    application." %><br/><br/>
    <div style="clear: right;"></div>
  <% else %>
    <%= t :notifications_notice, "Below you can see a list of your most recent notifications from Canvas. You can see the number of new Canvas notifications from your Facebook home page if you bookmark this application." %><br/><br/>
    <div style="clear: right; margin-bottom: 10px;"></div>
    <div id="messages">
      <%= render :partial => "message", :collection => @messages[0,25] %>
    </div>
    <%= t :more_information, "More information at %{domain_list}", :domain_list => @domains.map{|domain| link_to(domain, "http://#{domain}")}.to_sentence %>
  <% end %>

<% else %>
  <h2><%= image_tag "favicon_large.png", :style => 'vertical-align: middle;' %> <%= t :welcome_title, "Welcome to Instructure Canvas" %></h2>
  <%= t :welcome_message, "Welcome to a new breed of online learning software, courtesy of Instructure. We're here to make it easy for you to use the web to improve learning. Our interface is simple, clean and open, and we work with the tools you and your students are already using -- tools like Facebook -- to provide a more open, collaborative learning experience.  We roll it all up into one powerful, open package that does more than just tracks assignments. It encourages interaction and fosters learning." %>
  <div style="text-align: right;">
    <a href="http://www.instructure.com"><%= t :learn_more, "Learn More at instructure.com" %></a>
  </div>
  <div style="clear: left;"></div>
      <p>
        <%= t :notification_about, "The Canvas Facebook app is here to give you easier access to the interactions going on inside your courses.  You can set it to send you notifications when your assignments are graded, when due dates change, etc. Your private data will still stay private at Canvas." %>
      </p>
      <p>
        <%= t :installation_about, "To install the Canvas Facebook app, go to your profile page in Canvas and click the Facebook button to connect your account to Facebook." %>
      </p>
<% end %>
<% js_bundle 'legacy/facebook_index' %>
