<%= render :partial => "navigation", :locals => {:view => 'about'} %>

<div style="margin: 10px 50px 20px 0;">
<% if !@messages || @messages.empty? || !(@user && @user.notification_policies.any?{|p| p.communication_channel && p.communication_channel.path_type == 'facebook' }) %>
  <img src='http://<%= HostUrl.default_host %>/images/favicon_large.png' style='float: left; padding-right: 5px;'/> 
  <p style="font-size: 1.2em;">
  <h2>Welcome to Instructure Canvas</h2>
  Welcome to a new breed of online learning software, courtesy of Instructure. 
  We're here to make it easy for you to use the web to improve learning. Our interface 
  is simple, clean and open, and we work with the tools you and your students 
  are already using -- tools like Facebook -- to provide a more open, collaborative
  learning experience.  We roll it all up into one powerful, open package that does more 
  than just tracks assignments. It encourages interaction and fosters learning.
  </p>
  <div style="text-align: right;">
    <a href="http://www.instructure.com">Learn More at instructure.com</a>
  </div>
  <div style="clear: left;"></div>
<% end %>
<div>
<% if @user %>
  <fb:if-is-app-user>
    <div style="float: left; padding: 5px;"><fb:profile-pic uid='<%= @facebook_user_id %>'/></div>
    <p style="font-size: 1.2em;">Welcome back, <fb:name uid='<%= @facebook_user_id %>'/>!
    <% if !@messages || @messages.empty? %>
        <b>You're all set up!</b>
        <% if @user.notification_policies.any?{|p| p.communication_channel.path_type == 'facebook' } %>
          As things happen in the course you'll start seeing notifications show
          up here letting you know about things happening in your Canvas account.
        <% else %>
          After you <a href="http://apps.facebook.com/<%= Facebooker.facebooker_config['canvas_page_name'] %>/settings">configured your notification preferences</a>
          you should start to see notifications show up here letting you know
          about things happening in your Canvas account.
        <% end %>
        You can see the number of new Canvas notifications from your 
        Facebook home page if you bookmark this 
        application.<br/><br/>
        <fb:bookmark />
        </p>
    <% else %>
        <h2>Canvas Messages</h2>
        Below you can see a list of your most recent notifications from Canvas.  
        You can see the number of new Canvas notifications from your 
        Facebook home page if you bookmark this 
        application.<br/><br/>
        <fb:bookmark />
      </p>
      <% if @messages.empty? && @user %>
        <p>
          No messages to show.  Visit your classes at 
          <% @domains.map {|domain| link_to(domain, "http://#{domain}") }.join(", ") %>
        </p>
        
      <% elsif @user %>
        <%= render :partial => "message", :collection => @messages[0,25] %>
        <p>
          More information at 
          <% @domains.map {|domain| link_to(domain, "http://#{domain}") }.join(", ") %>
        </p>
      <% end %>
    <% end %>
    <fb:else>
      <p style="font-size: 1.2em;">You'll need to install the Facebook application before you
      can set your notification preferences.
      </p>
      <a href="<%= install_url %>" style="font-size: 1.5em; font-weight: bold;">Click here to install the application</a>.
    </fb:else>
  </fb:if-is-app-user>
<% else %>
  <fb:if-is-app-user>
    <% if params[:fb_key] %>
      <p style="font-size: 1.2em;">Before you can start using the Canvas Facebook app, we need
      to link it to your Canvas account.  Make sure you're signed in at Canvas, then 
      follow the link below to finish the setup process.</p>
      <a href="<%= authorize_url %>" style="font-size: 1.5em; font-weight: bold;">Click here to authorize Facebook access at <%= @oauth_request.original_host_with_port rescue "Canvas" %></a>.
    <% else %>
      <p style="font-size: 1.2em;"><b>You're not finished yet!</b>Before you can start using the Canvas Facebook app, we need
      to link it to your Canvas account.  However, since Canvas is running at more than one
      school, we need to make sure we know which school you're coming from.  Normally we keep track of
      this automatically, but it looks like your information got lost along the way somehow.</p>
      <p style="font-size: 1.2em; font-weight: bold;">Please go back to your
      school's Canvas site, click "Profile" and then click the Facebook icon to
      finish the setup process.</p>
    <% end %>
    <fb:else>
      <p style="font-size: 1.2em;">The Canvas Facebook app is here to give you easier access to the interactions
      going on inside your courses.  You can set it to send you notifications when your
      assignments are graded, when due dates change, etc.  Your private data will still stay
      private at Canvas.</p>
      <a href="<%= install_url %>" style="font-size: 1.5em; font-weight: bold;">Click here to install the application</a>.
    </fb:else>
  </fb:if-is-app-user>
<% end %>
</div>
</div>
