<div id="external_tools">
  <p><%= t :external_tools_note, "External tools are tools outside of Canvas that support Basic LTI integrations.  You will need to check with the author of the tool for the correct configuration parameters to add. Tools are configured at the account level, and can then be added as content in course modules for courses in the account." %>
  </p>
  <% @context.context_external_tools.active.each do |tool| %>
    <%= render :partial => 'external_tools/external_tool', :object => tool %>
  <% end %>
  <%= render :partial => 'external_tools/external_tool' %>
  <div id="external_tools_dialog" style="display: none;">
    <a href="<%= context_url(@context, :context_external_tools_url) %>" class="external_tools_url" style="display: none;">&nbsp;</a>
    <% form_for :external_tool, :url => '.', :html => {:id => 'external_tool_form'} do |f| %>
    <table class="formtable">
      <tbody>
        <tr>
          <td><%= f.blabel :name, :en => "Name" %></td>
          <td><%= f.text_field :name %></td>
        </tr><tr>
          <td><%= f.blabel :consumer_key, :en => "Consumer Key" %></td>
          <td><%= f.text_field :consumer_key %></td>
        </tr><tr>
          <td style="vertical-align: top;"><%= f.blabel :shared_secret, :en => "Shared Secret" %></td>
          <td>
            <%= f.text_field :shared_secret %>
            <div style="font-size: 0.8em;" class="shared_secret_note"><%= t :shared_secret_note, "enter a new value to change" %></div>
          </td>
        </tr><tr class="config_type_option">
          <td><%= f.blabel :config_type, :en => "Configuration Type" %></td>
          <td><%= f.select :config_type, [[t(:manual, "Manual Entry"),'manual'],[t(:by_url, "By URL"),'by_url'],[t(:by_xml, "Paste XML"),'by_xml']] %></td>
        </tr>
      </tbody><tbody class="config_type by_url">
        <tr>
          <td><%= f.blabel :config_url, :en => "Configuration URL" %></td>
          <td><%= f.text_field :config_url %></td>
        </tr>
      </tbody><tbody class="config_type by_xml">
        <tr>
          <td><%= f.blabel :config_xml, :en => "Paste XML Here" %></td>
          <td><%= f.text_area :config_xml, :style => "width: 300px; height: 60px;" %></td>
        </tr>
      </tbody><tbody class="config_type manual">
        <tr>
          <td><label for="external_tool_match_by"><%= before_label :match_by, "Match By" %></label></td>
          <td>
            <select id="external_tool_match_by">
              <option value="domain"><%= t :domain, "Domain" %></option>
              <option value="url"><%= t :url, "URL" %></option>
            </select>
          </td>
        </tr><tr class='tool_url'>
          <td><%= f.blabel :url, :en => "URL" %></td>
          <td><%= f.text_field :url %></td>
        </tr><tr class='tool_domain'>
          <td><%= f.blabel :domain, :en => "Domain" %></td>
          <td><%= f.text_field :domain %></td>
        </tr><tr>
          <td><%= f.blabel :privacy_level, :en => "Privacy" %></td>
          <td><%= f.select :privacy_level, [[t(:anonymous, "Anonymous"),'anonymous'],[t(:name_only, "Name Only"),'name_only'],[t(:public, "Public"),'public']] %></td>
        </tr><tr>
          <td colspan="2">
            <%= f.blabel :custom_fields_string, :en => "Custom Fields" %>
            <span style="font-size: 0.8em; color: #888;"><%= t('custom_fields_explanation', '(one per line, format: name=value)') %></span>
            <br/>
            <%= f.text_area :custom_fields_string, :style => "width: 550px; height: 30px;" %>
          </td>
        </tr><tr>
          <td colspan="2">
            <%= f.blabel :description, :en => "Description" %><br/>
            <%= f.text_area :description, :style => "width: 550px; height: 75px;" %>
          </td>
        </tr>
      </tbody><tbody>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button class="button save_button" type="submit"><%= t "#buttons.save_tool_settings", "Save Tool Settings" %></button>
              <button class="button button-secondary cancel_button" type="button"><%= t "#buttons.cancel", "Cancel" %></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<div class="button-container">
  <button class="button add_tool_link"><%= image_tag "add.png" %> <%= t "#buttons.add_external_tool", "Add External Tool" %></button>
</div>
