<div id="external_tools">
  <% @context.context_external_tools.active.each do |tool| %>
    <%= render :partial => 'external_tools/external_tool', :object => tool %>
  <% end %>
  <%= render :partial => 'external_tools/external_tool' %>
  <div id="external_tools_dialog" style="display: none;">
    <a href="<%= context_url(@context, :context_external_tools_url) %>" class="external_tools_url" style="display: none;">&nbsp;</a>
    <% form_for :external_tool, :url => '.', :html => {:id => 'external_tool_form'} do |f| %>
    <table class="formtable">
      <tr>
        <td><%= f.label :name, "Name:" %></td>
        <td><%= f.text_field :name %></td>
      </tr><tr>
        <td><%= f.label :consumer_key, "Consumer Key:" %></td>
        <td><%= f.text_field :consumer_key %></td>
      </tr><tr>
        <td style="vertical-align: top;"><%= f.label :shared_secret, "Shared Secret:" %></td>
        <td>
          <%= f.text_field :shared_secret %>
          <div style="font-size: 0.8em;" class="shared_secret_note">enter a new value to change</div>
        </td>
      </tr><tr>
        <td><label for="external_tool_match_by">Match By:</label></td>
        <td>
          <select id="external_tool_match_by">
            <option value="domain">Domain</option>
            <option value="url">URL</option>
          </select>
        </td>
      </tr><tr class='tool_url'>
        <td><%= f.label :url, "URL:" %></td>
        <td><%= f.text_field :url %></td>
      </tr><tr class='tool_domain'>
        <td><%= f.label :domain, "Domain:" %></td>
        <td><%= f.text_field :domain %></td>
      </tr><tr>
        <td><%= f.label :privacy_level, "Privacy:" %></td>
        <td><%= f.select :privacy_level, [['Anonymous','anonymous'],['Name Only','name_only'],['Public','public']] %></td>
      </tr><tr>
        <td colspan="2">
          <%= f.label :description, "Description:" %><br/>
          <%= f.text_area :description, :style => "width: 550px; height: 100px;" %>
        </td>
      </tr><tr>
        <td colspan="2">
          <div class="button-container">
            <button class="button save_button" type="submit">Save Tool Settings</button>
            <button class="button button-secondary cancel_button" type="button">Cancel</button>
          </div>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
<div class="button-container">
  <button class="button add_tool_link"><%= image_tag "add.png" %> Add External Tool</button>
</div>
