<div id="external_tools">
  <p><%= mt :external_tools_note, <<-HEREDOC, :lti_index_url => "https://lti-examples.heroku.com/index.html", :lti_examples_url => "http://help.instructure.com/entries/20878626-lti-tools-and-examples"
  External (LTI) Tools are an easy way to add new features to Canvas.
  They can be added to individual courses, or to all courses in an account.
  Once configured, you can link to them through course modules and create assignments for
  assessment tools.

  Click [here](%{lti_index_url}) to see some LTI tools that work great with Canvas. You can also check out the Canvas Community topics about LTI tools [here](%{lti_examples_url}).
  HEREDOC
        %>
  </p>
  <% @context.context_external_tools.active.each do |tool| %>
    <%= render :partial => 'external_tools/external_tool', :object => tool %>
  <% end %>
  <%= render :partial => 'external_tools/external_tool' %>
  <div id="external_tools_dialog" style="display: none;">
    <a href="<%= context_url(@context, :context_external_tools_url) %>" class="external_tools_url" style="display: none;">&nbsp;</a>
    <% form_for :external_tool, :url => '.', :html => {:id => 'external_tool_form'} do |f| %>
    <table class="formtable">
      <tbody>
        <tr>
          <td><%= f.blabel :name, :en => "Name" %></td>
          <td><%= f.text_field :name %></td>
        </tr><tr>
          <td><%= f.blabel :consumer_key, :en => "Consumer Key" %></td>
          <td><%= f.text_field :consumer_key %></td>
        </tr><tr>
          <td style="vertical-align: top;"><%= f.blabel :shared_secret, :en => "Shared Secret" %></td>
          <td>
            <%= f.text_field :shared_secret %>
            <div style="font-size: 0.8em;" class="shared_secret_note"><%= t :shared_secret_note, "enter a new value to change" %></div>
          </td>
        </tr><tr class="config_type_option">
          <td><%= f.blabel :config_type, :en => "Configuration Type" %></td>
          <td><%= f.select :config_type, [[t(:manual, "Manual Entry"),'manual'],[t(:by_url, "By URL"),'by_url'],[t(:by_xml, "Paste XML"),'by_xml']] %></td>
        </tr>
      </tbody><tbody class="config_type by_url">
        <tr>
          <td><%= f.blabel :config_url, :en => "Configuration URL" %></td>
          <td><%= f.text_field :config_url %></td>
        </tr>
      </tbody><tbody class="config_type by_xml">
        <tr>
          <td><%= f.blabel :config_xml, :en => "Paste XML Here" %></td>
          <td><%= f.text_area :config_xml, :style => "width: 300px; height: 60px;" %></td>
        </tr>
      </tbody><tbody class="config_type manual">
        <tr>
          <td><label for="external_tool_match_by"><%= before_label :match_by, "Match By" %></label></td>
          <td>
            <select id="external_tool_match_by">
              <option value="domain"><%= t :domain, "Domain" %></option>
              <option value="url"><%= t :url, "URL" %></option>
            </select>
          </td>
        </tr><tr class='tool_url'>
          <td><%= f.blabel :url, :en => "URL" %></td>
          <td><%= f.text_field :url %></td>
        </tr><tr class='tool_domain'>
          <td><%= f.blabel :domain, :en => "Domain" %></td>
          <td><%= f.text_field :domain %></td>
        </tr><tr>
          <td><%= f.blabel :privacy_level, :en => "Privacy" %></td>
          <td><%= f.select :privacy_level, [[t(:anonymous, "Anonymous"),'anonymous'],[t(:name_only, "Name Only"),'name_only'],[t(:email_only, "Email Only"),'email_only'],[t(:public, "Public"),'public']] %></td>
        </tr><tr>
          <td colspan="2">
            <%= f.blabel :custom_fields_string, :en => "Custom Fields" %>
            <span style="font-size: 0.8em; color: #888;"><%= t('custom_fields_explanation', '(one per line, format: name=value)') %></span>
            <br/>
            <%= f.text_area :custom_fields_string, :style => "width: 550px; height: 30px;" %>
          </td>
        </tr><tr>
          <td colspan="2">
            <%= f.blabel :description, :en => "Description" %><br/>
            <%= f.text_area :description, :style => "width: 550px; height: 75px;" %>
          </td>
        </tr>
      </tbody><tbody>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button class="btn cancel_button" type="button"><%= t "#buttons.cancel", "Cancel" %></button>
              <button class="btn btn-primary save_button" type="submit"><%= t "#buttons.save_tool_settings", "Save Tool Settings" %></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<div class="button-container">
  <button class="btn btn-primary add_tool_link"><i class="icon-add"></i> <%= t "#buttons.add_external_tool", "Add External Tool" %></button>
</div>
