<% if @domain_root_account.feature_enabled?(:lor_for_account) || (@current_user && @current_user.feature_enabled?(:lor_for_user)) %>
  <% visibility = ContextExternalTool.global_navigation_visibility_for_user(@domain_root_account, @current_user) %>

  <% cache([ContextExternalTool.global_navigation_menu_cache_key(@domain_root_account, visibility)]) do %>
    <% tools = ContextExternalTool.global_navigation_tools(@domain_root_account, visibility) %>
    <% tools.each do |tool|
        tool_path = account_external_tool_path(@domain_root_account, tool, :launch_type => 'global_navigation')
    %>
      <li id="<%= tool.asset_string %>_menu_item" class="menu-item ic-app-header__menu-list-item<% if current_page?(tool_path)%> ic-app-header__menu-list-item--active<% end %>">
        <a class='ic-app-header__menu-list-link' href="<%= tool_path %>">
          <% svg_path = tool.extension_setting(:global_navigation, :icon_svg_path_64) %>
          <% if svg_path %>
            <svg version="1.1" class="ic-icon-svg ic-icon-svg--lti menu-item__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64">
              <path d="<%= svg_path %>"/>
            </svg>
          <% else %>
            <img src="<%= tool.extension_setting(:global_navigation, :icon_url) %>" alt="" />
          <% end %>
          <div class="menu-item__text">
            <%= tool.label_for(:global_navigation) %>
          </div>
        </a>
      </li>
    <% end %>
  <% end %>
<% end %>
