<% if @domain_root_account.feature_enabled?(:lor_for_account) || (@current_user && @current_user.feature_enabled?(:lor_for_user)) %>
  <% visibility = ContextExternalTool.global_navigation_visibility_for_user(@domain_root_account, @current_user) %>

  <% cache([ContextExternalTool.global_navigation_menu_cache_key(@domain_root_account, visibility), use_new_styles?]) do %>
    <% tools = ContextExternalTool.global_navigation_tools(@domain_root_account, visibility) %>
    <% tools.each do |tool| %>
      <li id="<%= tool.asset_string %>_menu_item" class="menu-item <% if use_new_styles? %>ic-app-header__menu-list-item<% end %><% if account_external_tool_path?(request.fullpath)%> ic-app-header__menu-list-item--active<% end %>">
      <% if use_new_styles? %>
        <a class='ic-app-header__menu-list-link' href="<%= account_external_tool_path(@domain_root_account, tool, :launch_type => 'global_navigation') %>">
          <%# TODO: Make it so individual tool logos show up (rather than all as Commons) once LTI has a decent way of doing logos %>
          <%= render(:partial => 'shared/svg/svg_commons_logo.svg') %>
          <div class="menu-item__text">
            <%= tool.label_for(:global_navigation) %>
          </div>
        </a>
      <% else %>
        <a class='menu-item-no-drop' href="<%= account_external_tool_path(@domain_root_account, tool, :launch_type => 'global_navigation') %>">
          <%= tool.label_for(:global_navigation, I18n.locale) %>
        </a>
      <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>
