<% content_for :page_title do %><%= @resource_title %><% end %>
<% if @tag.try(:context_module) %>
  <% add_crumb @tag.context_module.name, context_url(@context, :context_context_modules_url) %>
<% end %>
<% add_crumb(@resource_title) unless @assignment %>

<% if @assignment && @assignment.description.present? %>
  <div class="description user_content" style="margin: 20px">
    <%= user_content(@assignment.description) %>
  </div>
<% end %>

<% js_bundle 'legacy/external_tools_tool_show' %>
<% js_bundle :external_tool_redirect if @redirect_return %>
<% js_bundle 'module_sequence_footer' %>


<% if @resource_url.start_with?('http://') %>
<div class="alert alert-error" id="insecure_content_msg">
  <p>
    <%= t('tool_insecure_warning', 'You are trying to launch insecure content from within a
    secure site (canvas).  Some internet browsers may prevent this content from loading.') %>
  </p>
  <p id="load_failure" class="hide">
    <%= t('tool_load_failure', 'It looks like your content might not load.  You can use this button to try launching it in a new tab.') %>
  </p>
</div>
<% end %>

<%= render :partial => 'external_tools/tool_post_iframe' %>

<% if @tag %>
  <% if @tag.context.is_a?(Assignment) && (can_do(@tag.context, @current_user, :grade) || can_do(@tag.context.context, @current_user, :manage_assignments)) %>
    <% content_for :right_side do %>
      <div class="rs-margin-all">
        <%= render :partial => 'assignments/external_grader_sidebar', :locals => { :assignment => @tag.context } %>
      </div>
    <% end %>
  <% end %>
  <%= render :partial => 'shared/sequence_footer', :locals => {:asset => @tag} %>
<% end %>
