<% course_home ||= false %>
<% if course_home %>
  <div class="h2"><%= @context.name %></div>
<% end %>
<a href="<%= context_url(@context, :context_wiki_page_wiki_page_revision_path, @page.new_record? ? @page : @page.id, 'latest') %>" id="latest_page_version" style="display: none;">&nbsp;</a>
<div id="wiki_show_view_main">
  <% if @page.new_record? %>
    <div class="someone_else_edited" style="display: none; font-size: 0.8em;">
      <%= mt 'notices.page_edited_while_viewing', 'This page has been updated by someone else since you started viewing it. [Click here to reload the page.](%{link})', :link => request.url %>
    </div>
    <% if @page.is_front_page? && can_do(@page, @current_user, :update) %>
      <% if !course_home %>
        <h3><%= t :welcome_message, 'Welcome to the Course Wiki' %></h3>
      <% end %>
      <% if course_home %>
        <p><%= t :course_home_wiki_page_description, 'You can use this page to organize or introduce your course however you like.  You can easily link to assignments, files, etc. using the "Page Tools" section you\'ll see on the right once you start editing.' %></p>
      <% else %>
        <p>
          <%= t :course_wiki_page_description, <<-EOT
          You can use this wiki to create supplemental pages or descriptions for your
          course material.  You can easily link to wiki pages from assignments, or link
          to other course material and files from any wiki page.  This makes it a great
          place for explaining hard concepts, allowing group projects, or creating just
          about any kind of page you could need in your course.
          EOT
          %>
        </p>
      <% end %>
      <p>
        <%= t :default_wiki_page_description, <<-EOT
        This page is the default wiki page, and students will see it when they
        click the "Pages" tab for this course.
        EOT
        %>
        <% if @context.default_view == 'wiki' %>
          <%= mt :default_wiki_page_is_course_home_page_warning, <<-EOT, :link => context_url(@context, :context_url)
Right now this is also set as the default course page, so visitors to your
course will see this page first.  You can change that from [the course home page](%{link}).
          EOT
          %>
        <% end %>
      </p>
    <% else %>
      <%= t 'notices.page_does_not_exist', 'This page doesn\'t exist yet.' %>
    <% end %>
    <div class="button-container" style="margin-bottom:10px;">
      <% if can_do(@page, @current_user, :update_content) %>
        <%= link_to t('buttons.start_editing', "Start Editing It now"), context_url(@context, :edit_context_wiki_page_url, @page), :id => "page_doesnt_exist_so_start_editing_it_now", :class => ("btn btn-large " + (@wiki.wiki_pages.length > 2 || !course_home ? "" : "dont_click")) %>
      <% end %>
    </div>
  <% else %>
    <div id="last_edited_by" class="clearfix">
      <% last_version = @page.versions.current.model rescue @page %>
      <% if can_do(@page, @current_user, :update_content) %>
        <a href="<%= context_url(@context, :context_wiki_page_wiki_page_revisions_path, @page) %>" id="page_history"><i class="icon-clock"></i> <%= t 'links.page_history', 'Page history' %></a>
      <% end %>
      <% if @page.user %>
        <%= t 'labels.last_edited', 'Last edited by %{name} %{time_ago} ago', :name => @page.user_name, :time_ago => (time_ago_in_words(last_version.updated_at) rescue "???") %>
      <% end %>
      <% if (@context.context.is_a?(Course) rescue false) %>
        <div><%= image_tag "warning.png", :style => "height: 10px;" %>
          <%= mt :group_wiki_warning, "This page is part of the group wiki, *not* your course wiki. If you're looking for the course wiki, [click here](%{link}).",
            :link => context_url(@context.context, :context_wiki_pages_url) %>
        </div>
      <% end %>
    </div>
    <div class="someone_else_edited" style="display: none; font-size: 0.8em;">
      <%= image_tag "warning.png", :style => "height: 12px;" %>
      <%= mt 'notices.page_edited_while_viewing', 'This page has been updated by someone else since you started viewing it. [Click here to reload the page.](%{link})', :link => request.url %>
    </div>
    <div class="course_id" style="display: none;"><%= @context.id if @context && @context.is_a?(Course) %></div>
    <% if @page.deleted? %>
      <div id="deleted_message" class="user_content" style="margin-top: 10px;">
        <%= t 'notices.page_deleted', 'This page has been deleted.' %>
      </div>
    <% else %>
      <div id="wiki_body" class="user_content">
        <% if @editing %>
          <%= t('editing_content', 'Editing Content.') %>
        <% else %>
          <% cache(['wiki_page_body_render', @page].cache_key) do %>
            <%= user_content(@page.body) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div id="wiki_edit_view_main" style="display:none; text-align: right;">
  <div>
    <a href="#" class="wiki_switch_views_link"><%= t '#editor.switch_editor_html', "HTML Editor" %></a>
    <a href="#" class="wiki_switch_views_link" style="display:none;"><%= t '#editor.switch_editor_rich_text', "Rich Content Editor" %></a>
  </div>
  <div class="clear"></div>
  <%= form_for(@page, :url => (@page.new_record?) ? context_url(@context, :context_wiki_pages_url) : context_url(@context, :context_wiki_page_url, @page)) do |f| -%>
    <%= f.hidden_field :title %>
    <%= f.text_area :body, :style => "width:99%;" %>
    <% if course_home %>
      <input type="hidden" name="return_to" value="<%= request.url %>"/>
    <% end %>
    <div id="below_editor">
      <% if can_do(@page, @current_user, :update) %>
        <div style="text-align: left; <%= hidden if @page.is_front_page? %>">
          <%= f.check_box :hide_from_students %>
          <%= f.label :hide_from_students, :en => "Hide this Page from Students" %>
        </div>
        <div style="text-align: left; <%= hidden if @page.is_front_page? %>">
          <%
            select_html = if @context.is_a?(Course)
              f.select :editing_roles, [
                [t('course_editing_roles.only_teachers', "Only Teachers"), "teachers"],
                [t('course_editing_roles.teachers_and_students', "Teacher and Students"), "teachers,students"],
                [t('course_editing_roles.anyone', "Anyone"), "teachers,students,public"]]
            else
              f.select :editing_roles, [
                [t('editing_roles.only_members', "Only Members"), "members"],
                [t('editing_roles.anyone', "Anyone"), "members,public"]]
            end
          %>
          <%= t 'editing_roles.prompt', '%{options} can edit this page', :options => select_html %>
        </div>
      <% end %>
      <div class="someone_else_edited" style="display: none; text-align: left;">
        <%= image_tag "warning.png" %>
        <%= t 'notices.page_edited_while_viewing_detailed', <<-EOT
        Someone else has edited this page since you first loaded it, and if you submit now you will overwrite their changes.
        You may want to reload the page and re-enter your changes to make sure you don't lose someone else's work.
        EOT
        %>
      </div>
      <div style="text-align: left; <%= hidden if @page.new_record? %>">
        <%= f.check_box :notify_of_update %>
        <%= f.label :notify_of_update, :en => "Notify users that this content has changed" %>
      </div>
      <div class="form-actions">
        <button type="button" id="cancel_editing" class="btn cancel_button"><%= t '#buttons.cancel', 'Cancel' %></button>
        <button type="submit" name="commit" id="wiki_page_submit" class="btn btn-primary"><%= t 'buttons.save_changes', 'Save Changes' %></button>
      </div>
    </div>
  <% end -%>
<% js_bundle 'legacy/wiki_pages_content' %>
</div>
<div id="wiki_page_version_number" style="display: none;"><%= @page.version_number %></div>
