<% course_home ||= false %>
<% cache([@page, @context, @wiki, @current_user, 'wiki_sidebar_links_partial'].cache_key) do %>
<div id="wiki_show_view_secondary">
  <% if !course_home && can_do(@wiki, @current_user, :manage) && @context.wiki.wiki_pages.length < 2 %>
    <div class="rs-margin-lr rs-margin-top">
    <p>
      <b><%= t :wiki_description_header, "What's a wiki for?" %></b>
      <% if @context.is_a?(Course) %>
        <%= t :wiki_description_for_course, <<-EOT
        Think of it as an open-ended place to hold content.  You could use it to describe your course, to provide
        helpful explanations of difficult topics, or even to let students work together on writing projects.
        EOT
        %>
      <% elsif @context.is_a?(Group) %>
        <%= t :wiki_description_for_group, <<-EOT
        Think of it as an open-ended place to hold content.  You could use it to describe your group, to provide
        helpful explanations of difficult topics, or even to let members work together on writing projects.
        EOT
        %>
      <% end %>
    </p>
    </div>
  <% end %>
  <div>
    <% pages = Canvas::ICU.collate_by(@context.wiki.wiki_pages.not_deleted.select{|p| !p.new_record? }){|p| p.title || CanvasSort::First} %>
    <% if pages.length > 10 %>
    <h2><%= t 'headers.common_pages', 'Common Pages' %></h2>
    <div class="rs-margin-lr rs-margin-bottom">
    <ul class="item_list limit_height" style="max-height: 100px;">
      <%= render :partial => 'wiki_pages/page_link' %>
      <% common_pages = pages.sort_by{|p| p.view_count} %>
      <%= render :partial => 'wiki_pages/page_link', :collection => common_pages[0..3], :locals => {:skip_front_page => true} %>
      <li><a href="#" class="more_pages_link" style="padding-left: 20px; font-size: 0.9em; <%= hidden unless common_pages.length > 4 %>"><%= t 'links.more', 'more...' %></a></li>
      <%= render :partial => 'wiki_pages/page_link', :collection => common_pages[4..9], :locals => {:skip_front_page => true, :hidden => true} %>
    </ul>
    </div>
    <% end %>
    <% if pages.length > 6 %>
    <h2><%= t 'headers.recent_changes', 'Recent Changes' %></h2>
    <div class="rs-margin-lr rs-margin-bottom">
    <ul class="item_list limit_height" style="max-height: 100px;">
      <% recent_pages = pages.sort_by{|p| p.last_revision_at}.reverse %>
      <%= render :partial => 'wiki_pages/page_link', :collection => recent_pages[0..2] %>
      <li><a href="#" class="more_pages_link" style="padding-left: 20px; font-size: 0.9em; <%= hidden unless recent_pages.length > 3 %>"><%= t 'links.more', 'more...' %></a></li>
      <%= render :partial => 'wiki_pages/page_link', :collection => recent_pages[3..9], :locals => {:skip_front_page => true, :hidden => true} %>
    </ul>
    </div>
    <% end %>
    <h2><%= t 'headers.all_pages', 'All Pages' %></h2>
    <div class="rs-margin-lr rs-margin-bottom">
    <% if pages.length < 8 %>
      <ul class="item_list limit_height">
        <%= render :partial => 'wiki_pages/page_link' %>
        <%= render :partial => 'wiki_pages/page_link', :collection => Canvas::ICU.collate_by(pages, &:title), :locals => {:skip_front_page => true} %>
      </ul>
    <% else %>
      <ul class="item_list limit_height">
        <li><a href="#" class="more_pages_link" style="padding-left: 20px; font-size: 0.9em;"><%= t 'links.show_all', 'show all...' %></a></li>
        <%= render :partial => 'wiki_pages/page_link', :locals => {:hidden => true} %>
        <%= render :partial => 'wiki_pages/page_link', :collection => Canvas::ICU.collate_by(pages, &:title), :locals => {:skip_front_page => true, :hidden => true} %>
      </ul>
    <% end %>
      </div>
  </div>

<% if can_do(@page, @current_user, :update_content) || (can_do(@page, @current_user, :delete) && !@page.is_front_page?) || can_do(@wiki, @current_user, :create_page)  %>
  <div class="rs-margin-lr <%= "rs-margin-bottom" if course_home %>">
    <hr />
  <% if can_do(@page, @current_user, :update_content)%>
    <%= link_to ('<i class="icon-edit"></i>').html_safe + " " + t('links.edit_page', "Edit this Page"), "#edit", :class => "edit_link btn button-sidebar-wide" %>
  <% end %>
  <a href="<%= polymorphic_url([@context, @page]) %>" class="wiki_page_url" style="display: none;">&nbsp;</a>
  <% if can_do(@wiki, @current_user, :create_page) %>
    <div id="wiki_page_new">
      <a class="new btn button-sidebar-wide element_toggler" aria-controls="add_wiki_page_form" href="#"><i class="icon-add"></i> <%= t 'links.create_page', 'Create a New Page' %></a>
      <%= form_for(:wiki_page, :url => context_url(@context, :context_wiki_pages_url), :html => {:method => :post, :style => "display: none", :id => 'add_wiki_page_form'}) do |f| -%>
        <div class="input-append">
          <%= f.text_field :title, :style => "width: 182px;", :placeholder => t(:title, "New page title"), :maxlength => "255" %>
          <button class="btn" type="submit"><%= t 'buttons.create', 'Create' %></button>
        </div>
        <input type="hidden" name="url_prefix" value="" id="url_prefix" />
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
</div>
<% end %>
<div id="wiki_edit_view_secondary" style="display:none;">
  <div>
    <h2><%= t 'headers.page_tools', 'Page Tools' %></h2>
    <ul class="item_list">
      <% unless @page.is_front_page? || @page.new_record? || !can_do(@page, @current_user, :update) %>
        <li>
          <a id="wiki_page_rename_link" class="icon-note-dark element_toggler" aria-controls="wiki_page_rename_section" href="#"><%= t 'links.rename_page', 'Rename this page' %></a>
          <div id="wiki_page_rename_section" style="display:none;">
            <%= form_for(@page, :url => polymorphic_url([@context, @page]), :html => {:id => 'rename_wiki_page_form'}) do |f| -%>
              <div class="input-append">
                <%= f.text_field :title, :style => "width: 157px;", :placeholder => t(:title, "New page title"), :maxlength => "255" %>
                <button class="btn" type="submit"><%= t 'buttons.rename', 'Rename' %></button>
              </div>
            <% end -%>
          </div>
        </li>
        <% unless @page.new_record? || !can_do(@page, @current_user, :delete) %>
          <li>
            <%= link_to t('links.delete_page', 'Delete this Page'), polymorphic_url([@context, @page]), :confirm => t('delete_page_confirmation', 'Are you sure you want to delete this page? This cannot be undone!'), :method => :delete, :id => "wiki_page_delete", :class => "icon-trash" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= render :partial => "shared/wiki_sidebar" %>
</div>
