<% form_for :wiki_page_comment, :url => context_url(@context, :context_wiki_page_wiki_page_comments_url, @page), :html => {:class => "wiki_page_comment current", :id => "add_wiki_page_comment_form"} do |f| %>
  <%= f.hidden_field :user_name, :value => current_user_identifier %>
  <div class="header commenting">
    <span class="user_name"><%= current_user_identifier %></span>
    <div class="clear"></div>
  </div>
  <div class="formatted_body">
    <a href="#" class="not_commenting add_comment_link"><%= t 'links.new_comment', 'Make a New Comment' %></a>
    <div class="commenting">
      <%= f.text_area :comments %>
    </div>
  </div>
  <div class="button-container commenting">
    <button type="submit" class="btn submit_button"><%= t 'buttons.add_comment', 'Add Comment' %></button>
    <button type="button" class="btn button-secondary cancel_button"><%= t '#buttons.cancel', 'Cancel' %></button>
  </div>
<% end %>
