<!-- hide if it's not current -->
<% comment = wiki_page_comment || nil %>
<div id="wiki_page_comment_<%= comment ? comment.id : "blank" %>" style="<%= hidden unless comment && comment.current? %>" class="wiki_page_comment <%= 'current' if !comment || comment.current? %> <%= 'deletable_comment' if can_do(comment, @current_user, :delete) %>">
  <div class="header">
    <span class="user_name"><%= comment.try_rescue(:user_name) %></span>
    <div class="links">
      <span class="created_at_formatted time_ago_date"><%= datetime_string(comment.try_rescue(:created_at)) %></span>
      <a href="<%= context_url(@context, :context_wiki_page_wiki_page_comment_url, @page, comment ? comment.id : "{{ id }}") %>" class="delete_comment_link no-hover" title="<%= t 'links.delete_comment', 'Delete Comment'%>" ><%= image_tag "delete.png" %></a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="formatted_body user_content">
    <%= user_content(comment.try_rescue(:formatted_body)) %>
  </div>
</div>
