<%
  content_for :page_title, join_title(@page.title.to_s, @context.name)
  js_bundle :wiki_page_show
  css_bundle :wiki_page
%>

<%= render :partial => 'bz/browser_warning' %>

<script>
  <%
    score = 0

    begin
      res = @context.assignments.active.where(:title => "Course Participation - #{@page.title}")
      if !res.empty?
        score = res.first.find_or_create_submission(@current_user).grade
      end
    rescue
      # intentionally blank, this is non-sessential
    end

    data = 0
    if @current_user
      result = RetainedData.where(:user_id => @current_user.id, :name => "module_position_#{@page.id}")
      unless result.empty?
        data = result.first.value.to_i
      end
    end
  %>

  window.openBzBoxPosition = <%= data %>;
  window.position_magic_field_name = "module_position_<%= @page.id %>";
  <% if !score.nil? && score.to_f > 0 %>
    window.startingBzParticipationScore = <%= score %>;
  <% end %>
</script>



<%= render "shared/mark_as_done" %>
<div id="wiki_page_show"></div>
