<div id="header_component_root"></div>
<form id="editCalendarEventFull" class="{{#if use_section_dates}}use_section_dates{{/if}}">
    <fieldset>
      <label for="calendar_event_title"><strong>{{#t}}Event Title{{/t}}</strong></label>
      <input type="text"
             name="title"
             id="calendar_event_title"
             class="title input-block-level"
             placeholder="{{#t}}Input Event Title{{/t}}"
             value="{{title}}"
             maxlength="255" />
    </fieldset>

  <textarea class="input-block-level"
            id="calendar-description"
            name="description"
            aria-label="{{#t "event_description"}}Event Description{{/t}}"
            style="width: 100%">{{description}}</textarea>

  {{#if course_sections}}
    <label class="label_with_checkbox" for="use_section_dates">
      {{checkbox "use_section_dates" disabled=disableSectionDates}}
      {{#t "different_date_for_each_section"}}Use a different date for each section{{/t}}
    </label>

    <input type="hidden"
           name="remove_child_events"
           value="{{#unless use_section_dates}}1{{/unless}}" />

    <div class="show_if_using_sections">
      {{#each course_sections}}
      <label class="row_header" for="section_{{id}}_start_date">{{name}}</label>
      <div class="date_start_end_row">
        <div class="date_field_container"
             {{#unless this.permissions.manage_calendar}}
                data-tooltip
                title="{{#t}}You don't have permission to edit this section.{{/t}}"
                tabindex="0"
             {{/unless}}>
          <input type="text"
                 id="section_{{id}}_start_date"
                 name="child_event_data[{{id}}][start_date]"
                 class="date_field start_date"
                 value="{{tDateToString event.start_at "medium"}}"
                 {{#unless this.permissions.manage_calendar}}disabled{{/unless}}
                 aria-label="{{#t "date"}}Date{{/t}}"
                 placeholder="{{#t "date"}}Date{{/t}}" />
        </div>
        <div class="time_range_container">
          <div class='date_field_container'
               {{#unless this.permissions.manage_calendar}}
                  data-tooltip
                  title="{{#t}}You don't have permission to edit this section.{{/t}}"
                  tabindex="0"
               {{/unless}}>
            <input type="text"
                   name="child_event_data[{{id}}][start_time]"
                   class="time_field start_time"
                   {{#unless all_day}} value="{{tTimeToString event.start_at "tiny"}}" {{/unless}}
                   {{#unless this.permissions.manage_calendar}}disabled{{/unless}}
                   aria-label="{{#t "start_time"}}Start Time{{/t}}"
                   placeholder="{{#t "start_time"}}Start Time{{/t}}" />
          </div>
          <span class="time_separator">-</span>
          <div class='date_field_container'
               {{#unless this.permissions.manage_calendar}}
                   data-tooltip
                   title="{{#t}}You don't have permission to edit this section.{{/t}}"
                   tabindex="0"
               {{/unless}}>
          <input type="text"
                   name="child_event_data[{{id}}][end_time]"
                   class="time_field end_time"
                   {{#unless all_day}} value="{{tTimeToString event.end_at "tiny"}}" {{/unless}}
                   {{#unless this.permissions.manage_calendar}}disabled{{/unless}}
                   aria-label="{{#t "end_time"}}End Time{{/t}}"
                   placeholder="{{#t "end_time"}}End Time{{/t}}" />
            <input type="hidden"
                   name="child_event_data[{{id}}][context_code]"
                   value="course_section_{{id}}" />
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  {{/if}}

  <div class="hide_if_using_sections date_start_end_row">
    <div class="date_field_container">
      <label class='screenreader-only' id='calendar_event_date_accessible_label'>
        {{#t}}Event Date{{/t}}
        {{datepickerScreenreaderPrompt 'date'}}
      </label>
      <input
             id="calendar_event_date"
             type="text"
             name="start_date"
             class="date_field start_date"
             value="{{start_date}}"
             placeholder="{{#t "date"}}Date{{/t}}"
             aria-labelledby='calendar_event_date_accessible_label'
             data-tooltip title="{{accessibleDateFormat 'date'}}"/>
    </div>
    <div id="start_and_end_times" class="time_range_container" data-testid="start_and_end_times">
      <div class='date_field_container'>
        <label class='screenreader-only' id='calendar_event_start_time_accessible_label'>
          {{#t}}Event Start Time{{/t}}
          {{datepickerScreenreaderPrompt 'time'}}
        </label>
        <input id="more_options_start_time"
              data-testid="more_options_start_time"
              type="text"
              name="start_time"
              class="time_field start_time"
              {{#unless all_day}} value="{{tTimeToString start_at "tiny"}}" {{/unless}}
              placeholder="{{#t "start_time"}}Start Time{{/t}}"
              aria-labelledby='calendar_event_start_time_accessible_label'
              data-tooltip title="{{accessibleDateFormat 'time'}}"/>
      </div>
      <span class="time_separator">-</span>
      <div class='date_field_container'>
        <label class='screenreader-only' id='calendar_event_end_time_accessible_label'>
          {{#t}}Event End Time{{/t}}
          {{datepickerScreenreaderPrompt 'time'}}
        </label>
        <input id="more_options_end_time"
              data-testid="more_options_end_time"
              type="text"
              name="end_time"
              class="time_field end_time"
              {{#unless all_day}} value="{{tTimeToString end_at "tiny"}}" {{/unless}}
              placeholder="{{#t "end_time"}}End Time{{/t}}"
              aria-labelledby='calendar_event_end_time_accessible_label'
              data-tooltip title="{{accessibleDateFormat 'time'}}"/>
      </div>
    </div>
  </div>

  <fieldset>
    <div id="recurring_event_frequency_picker"></div>
  </fieldset>

  <fieldset>
    <label class="location_label" for="calendar_event_location_name">{{#t "location_name"}}Location{{/t}}</label>
    <input id="calendar_event_location_name" data-testid="calendar_event_location_name" name="location_name" size="30" maxlength="255" type="text" value="{{location_name}}"/>
  </fieldset>

  <fieldset>
    <label class="location_label" for="calendar_event_location_address">{{#t "location_address"}}Address{{/t}}</label>
    <input id="calendar_event_location_address" data-testid="calendar_event_location_address" name="location_address" size="30" maxlength="255" type="text" value="{{location_address}}"/>
  </fieldset>

  <fieldset id="calendar_event_conference_field" data-testid="calendar_event_conference_field">
    <label for="calendar_event_conference_selection">{{#t}}Conferencing:{{/t}}</label>
    <div id="calendar_event_conference_selection"></div>
  </fieldset>

  {{#if should_show_blackout_dates}}
  <fieldset>
    <label class="label_with_checkbox">
      <input type="checkbox" id="calendar_event_blackout_date" {{#if blackout_date}}checked{{/if}} />
      {{#t}}Add to Course Pacing blackout dates{{/t}}
      <i class="icon-info" style="margin-left: 10px;" data-tooltip title="{{#t}}Enabling this option automatically moves Course Pacing assignment due dates to after the end date. Input for Time, Location and Calendar will be disabled.{{/t}}"></i>
    </label>
  </fieldset>
  {{/if}}

  {{#if k5_context}}
    <fieldset>
      <label class="label_with_checkbox" for="calendar_event_important_dates">
        <input type="checkbox" id="calendar_event_important_dates" {{#if important_dates}}checked{{/if}} />
        {{#t}}Mark as Important Date{{/t}}
        <span style="display: block"><small>{{#t}}Show event on homeroom sidebar{{/t}}</small></span>
      </label>
    </fieldset>
  {{/if}}

  {{!-- Only show duplicate form if is new record; this is only enabled for section dates. --}}
  {{#if newRecord}}
    <label class="label_with_checkbox" for="duplicate_event">
      <input type="checkbox" id="duplicate_event" name="duplicate" value="true"/>
      {{#t "repeat"}}Duplicate{{/t}}
    </label>

    <div class="duplicate_event_row duplicate_fields" style="display: none">
      <label for="duplicate_interval">
        <div class="duplicate_label">{{#t}}Every{{/t}}</div>
        <input value="1" disabled="true" type="number" id="duplicate_interval" name="duplicate_interval" min="1" />
        <select id="duplicate_frequency" name="duplicate_frequency">
          <option value="daily">{{#t}}Day(s){{/t}}</option>
          <option value="weekly" selected>{{#t}}Week(s){{/t}}</option>
          <option value="monthly">{{#t}}Month(s){{/t}}</option>
        </select>
      </label>
    </div>

    <div class="duplicate_event_row duplicate_fields" style="display: none">
      <label for="duplicate_count">
        <div class="duplicate_label" >{{#t}}For{{/t}}</div>
        <input value="1" disabled="true" type="number" id="duplicate_count" name="duplicate_count" min="1" max="{{recurringEventLimit}}" />
        <span class="occurences_div">{{#t}}additional occurrence(s){{/t}}</span>
      </label>
    </div>

    <div class="duplicate_event_row duplicate_fields" style="display: none">
      <label for="append_iterator" class="label_with_checkbox" data-tooltip title="{{#t}}Appends a number to the end of each event title (e.g. Event 1, Event 2, etc){{/t}}">
        <input value="true" disabled="true" type="checkbox" id="append_iterator" name="append_iterator" />
        {{#t}}Number each event{{/t}}
      </label>
    </div>
  {{/if}}

  <div class="form-actions">
    {{#if url}}
      <button type="button" class="btn delete_link">{{#t "delete"}}Delete{{/t}}</button>
    {{/if}}
    {{#if return_to_url}}
      <a href="{{return_to_url}}" class="btn" role="button">{{#t "#buttons.cancel"}}Cancel{{/t}}</a>
    {{/if}}
    <button type="submit" class="btn btn-primary">
      {{#if newRecord}}
        {{#t "buttons.create"}}Create Event{{/t}}
      {{else}}
        {{#t "buttons.update"}}Update Event{{/t}}
      {{/if}}
    </button>
  </div>

</form>
