<td>
  {{tDateToString created_at "medium"}}
</td>
<td>
  {{tTimeToString created_at "tiny"}}
</td>
{{#ifEqual event_type 'corrupted'}}
<td colspan="6">
  {{#t "event_type.corrupted"}}Details Not Available{{/t}}
</td>
{{else}}
<td>
  {{#if grade_before}}
    {{grade_before}}
  {{else}}
    {{#t "blank_placeholder"}}-{{/t}}
  {{/if}}
</td>
<td>
  {{#if grade_after}}
    {{grade_after}}
  {{else}}
    {{#t "blank_placeholder"}}-{{/t}}
  {{/if}}
</td>
<td>
  {{#if grader}}
    {{grader.name}}
  {{else}}
    {{#t "blank_placeholder"}}-{{/t}}
  {{/if}}
</td>
<td>
  {{#if student}}
    {{student.name}}
  {{else}}
    {{#t "blank_placeholder"}}-{{/t}}
  {{/if}}
</td>
<td>
  {{#if course}}
    {{course.name}}
  {{else}}
    {{#t "blank_placeholder"}}-{{/t}}
  {{/if}}
</td>
<td>
  {{#if assignment}}
    {{assignment.name}}
  {{else}}
    {{#t "blank_placeholder"}}-{{/t}}
  {{/if}}
</td>
{{/ifEqual}}
