<div class="ig-header">
  <h2 class="ig-header-title element_toggler"
     aria-controls="{{listId}}"
     aria-expanded="true"
     aria-label="{{title}} {{toggleMessage}}"
     tabindex="0"
     role="button">
    <i class="icon-mini-arrow-down"></i> {{title}}
  </h2>
</div>

<ul id="{{listId}}" class="ig-list collectionViewItems"></ul>

<ul class="ig-list no_content">
  <li>
    <div class="ig-row ig-row-empty">
      <div class="ig-empty-msg">
        {{#if isSurvey}}
          {{#t "no_surveys"}}No surveys found{{/t}}
        {{else}}
          {{#t "no_quizzes"}}No quizzes found{{/t}}
        {{/if}}
      </div>
    </div>
  </li>
</ul>
