<div class="ig-header">
  <h2 class="ig-header-title">
    <button aria-controls="{{listId}}"
     class="element_toggler accessible-toggler"
     aria-expanded="true"
     aria-label="{{title}} {{toggleMessage}}"
     tabindex="0">
      <i class="icon-mini-arrow-down"></i> {{title}}
    </button>
  </h2>
</div>

<ul id="{{listId}}" class="ig-list collectionViewItems"></ul>

<ul class="ig-list no_content">
  <li>
    <div class="ig-row ig-row-empty">
      <div class="ig-empty-msg">
        {{#if isSurvey}}
          {{#t "no_surveys"}}No surveys found{{/t}}
        {{else}}
          {{#t "no_quizzes"}}No quizzes found{{/t}}
        {{/if}}
      </div>
    </div>
  </li>
</ul>
