<%
     # Copyright (C) 2024 - present Instructure, Inc.
     #
     # This file is part of Canvas.
     #
     # Canvas is free software: you can redistribute it and/or modify it under
     # the terms of the GNU Affero General Public License as published by the Free
     # Software Foundation, version 3 of the License.
     #
     # Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
     # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
     # A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
     # details.
     #
     # You should have received a copy of the GNU Affero General Public License along
     # with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
     provide :page_title, t("Log in to Canvas")

     # course catalog link boolean
     enable_course_catalog = @domain_root_account.enable_course_catalog?

     # json-encoded array of authentication providers with each object containing id and auth_type
     auth_providers_json = @auth_providers.to_json

     # sso settings custom “login label”
     login_handle_name = @domain_root_account.login_handle_name_with_inference

     # custom logo
     possibly_customized_login_logo = brand_variable("ic-brand-Login-logo")
     default_login_logo = BrandableCSS.brand_variable_value("ic-brand-Login-logo")
     login_logo_url = possibly_customized_login_logo != default_login_logo ? possibly_customized_login_logo : nil
     login_logo_text = login_logo_url.present? ? @domain_root_account.short_name : nil

     # custom background
     body_bg_color = brand_variable("ic-brand-Login-body-bgd-color")
     body_bg_image = brand_variable("ic-brand-Login-body-bgd-image")

     # theme editor preview mode boolean
     is_preview_mode = params[:previewing_from_themeeditor].to_s.downcase == "true"

     # self-registration (none, all, observer)
     allowed_self_registration_type = @domain_root_account.self_registration_type if %w[all observer].include?(@domain_root_account.self_registration_type)

     # captcha
     recaptcha_key = @domain_root_account.recaptcha_key

     # free for teacher custom registration url
     fft_registration_url = @domain_root_account.settings[:fft_registration_url]

     # terms required
     terms_required = @domain_root_account.terms_required?

     # terms and privacy policy URLs
     tou_url = terms_of_use_url
     pp_url = privacy_policy_url

     # require email
     require_email = @domain_root_account.require_email_for_registration?

     # json-encoded object of password policy rules
     password_policy_data = @domain_root_account&.password_policy.to_json

     # custom forgot password URL
     forgot_password_url = (params[:canvas_login] != '1' && @domain_root_account.try(:forgot_password_external_url)) || nil
%>

<div id="new_login_data"
     <%= "data-enable-course-catalog='true'".html_safe if enable_course_catalog.present? %>
     <%= "data-auth-providers=#{raw auth_providers_json}" if auth_providers_json.present? %>
     <%= "data-login-handle-name='#{login_handle_name}'".html_safe if login_handle_name.present? %>
     <%= "data-login-logo-url='#{login_logo_url}'".html_safe if login_logo_url.present? %>
     <%= "data-login-logo-text='#{login_logo_text}'".html_safe if login_logo_text.present? %>
     <%= "data-body-bg-color='#{body_bg_color}'".html_safe if body_bg_color.present? %>
     <%= "data-body-bg-image='#{body_bg_image}'".html_safe if body_bg_image.present? %>
     <%= "data-is-preview-mode='true'".html_safe if is_preview_mode %>
     <%= "data-self-registration-type='#{allowed_self_registration_type}'".html_safe if allowed_self_registration_type.present? %>
     <%= "data-recaptcha-key='#{recaptcha_key}'".html_safe if recaptcha_key.present? %>
     <%= "data-fft-registration-url='#{fft_registration_url}'".html_safe if fft_registration_url.present? %>
     <%= "data-terms-required='true'".html_safe if terms_required %>
     <%= "data-terms-of-use-url='#{tou_url}'".html_safe if tou_url.present? %>
     <%= "data-privacy-policy-url='#{pp_url}'".html_safe if pp_url.present? %>
     <%= "data-require-email='true'".html_safe if require_email %>
     <%= "data-password-policy=#{raw password_policy_data}" if password_policy_data.present? %>
     <%= "data-forgot-password-url='#{forgot_password_url}'".html_safe if forgot_password_url.present? %>
></div>
