<tr class="<%= cycle("even", "odd") %>">
  <td><%= link_to(h(page_view.url), page_view.url ) %></td>
  <td style="white-space: nowrap;"><%= datetime_string page_view.created_at %></td>
  <td><%= image_tag("checked.png", :style => "width: 12px;") if page_view.participated? %></td>
  <td><%= page_view.interaction_seconds_readable %></td>
  <td class="user_agent"><%= page_view.user_agent %></td>
</tr>
