<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div id="pageviews">
  <table data-user-id="<%= @user.id %>" class="ic-Table ic-Table--hover-row ic-Table--condensed ic-Table--striped">
    <thead class='ui-widget-header'>
      <tr>
        <th><%= t('headers.url', "URL") %></th>
        <th><%= t('headers.date', "Date") %></th>
        <th><%= t('headers.participated', "Participated") %></th>
        <th><%= t('headers.time', "Time") %></th>
        <th>
          <div style="float:<%= direction('right') %>; margin-<%= direction('right') %>: 4px">
            <%= link_to("csv", user_page_views_path(@user, :format => :csv), :class => 'icon-ms-excel') %>
          </div>
          <%= t('headers.user_agent', "User Agent") %>
        </th>
      </tr>
    </thead>
    <tbody id="page_view_results">
    </tbody>
  </table>
</div>
<% css_bundle :page_views %>
<% js_bundle  :page_views %>
