<td class='comm-event-option' data-selection='{{selected.code}}' data-category='{{category}}' data-channelId='{{channelId}}'>
  <div class='comm-event-option-contents'>
    <div class="ui-buttonset event-option-selection grid-row center-xs">
      {{#each allButtons}}
      <input type="radio"
             class="frequency ui-helper-hidden-accessible"
             id="{{id}}"
             data-tooltip
             title="{{title}}"
             data-value="{{code}}"
             name="{{coordinate}}"
             {{#if active}}checked{{/if}}>
      <label for="{{id}}"
             class="ui-button ui-widget col-xs-3 {{#if active}}ui-state-active{{else}}ui-state-default{{/if}}"
             role="button"
             aria-disabled="false"
             {{#if active}}aria-pressed="true" aria-selected="true"{{else}}aria-pressed="false"{{/if}}
             data-value="{{code}}"
             data-tooltip
             title="{{title}}">
        <i class="{{icon}}"></i><span class="screenreader-only">{{title}}</span>
      </label>
      {{/each}}
    </div>
  </div>
</td>
