<td class='comm-event-option' data-selection='{{selected.code}}' data-category='{{category}}' data-channelId='{{channelId}}'>
  <div class='comm-event-option-contents'>
    <div class='event-option-selection'>
      <a href="#" class='change-selection'>
        <span class="ui-icon {{selected.image}}"></span> <span class='img-text'>{{selected.text}}</span>
        {{#if touch}}
        <span class='drop-arrow'>&#x25BC;</span>
        {{/if}}
      </a>
    </div>
    {{#if touch}}
      <select value='{{selected.code}}' class='mobile-select'>
        {{#each allButtons}}
        <option value='{{code}}' {{#if active}}selected='selected'{{/if}}> {{text}}: {{title}}</option>
        {{/each}}
      </select>
    {{else}}
      <div class="btn-group-was event-option-buttons">
        {{#each allButtons}}
        <input type="radio" class="{{code}}-button frequency" id="{{id}}" name="{{coordinate}}" title="{{title}}" data-value='{{code}}' {{#if active}}checked='checked'{{/if}}>
        <label for="{{id}}" class="{{code}}-label">{{title}}</label>
        {{/each}}
      </div>
    {{/if}}
  </div>
</td>
