<option value="group_{{id}}"
{{#if truncated_name}}
  {{! We must escape everything in the attributes because the boostrap-select.js will parse it, so we need to double escape. }}
  aria-label="{{escape_html name}}" data-content="<abbr class='text' data-value='{{id}}' title='{{escape_html name}}'>{{escape_html truncated_name}}</abbr>"
  >
  {{truncated_name}}
{{else}}
  >
  {{name}}
{{/if}}
</option>
