<option value="">{{defaultOption}}</option>
<optgroup data-content-type="{{t "Favorite Courses"}}" label="{{#t "course_options.favorite"}}Favorite Courses{{/t}}">
  {{#favorites}}
    {{>ui/features/conversations/jst/_courseOption.handlebars}}
  {{/favorites}}
</optgroup>
<optgroup data-content-type="{{t "More Courses"}}" label="{{#t "course_options.more_courses"}}More Courses{{/t}}">
  {{#more}}
    {{>ui/features/conversations/jst/_courseOption.handlebars}}
  {{/more}}
</optgroup>
<optgroup data-content-type="{{t "Concluded Courses"}}" label="{{#t "course_options.concluded"}}Concluded{{/t}}">
  {{#concluded}}
    {{>ui/features/conversations/jst/_courseOption.handlebars}}
  {{/concluded}}
</optgroup>
<optgroup data-content-type="{{t "Groups"}}" label="{{#t "course_options.groups"}}Groups{{/t}}">
  {{#groups}}
    {{>ui/features/conversations/jst/_groupOption.handlebars}}
  {{/groups}}
</optgroup>
