<%
# Copyright (C) 2019 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% if @submission.can_view_plagiarism_report('vericite', @current_user, session) && @submission.turnitin_data[:provider] == :vericite &&
  (vericite_score = @submission.vericite_data(true)[attachment&.asset_string] || @submission.originality_data[OriginalityReport.submission_asset_key(@submission)]) &&
  vericite_score[:similarity_score] %>
  <span class="turnitin_score_container">
    <span class="vericite_score_container_caret <%= vericite_score[:state] %>_score"></span>
    <a href="<%= context_url(@context, :context_assignment_submission_vericite_report_url, @submission.assignment_id, @submission.user_id, attachment&.asset_string || @submission.asset_string) %>"target="_blank" title="Similarity score -- more information" class="tooltip not_external turnitin_similarity_score <%= vericite_score[:state] %>_score">
    <%= vericite_score[:similarity_score] %>%
    <span class="tooltip_wrap right">
        <span class="tooltip_text"><%= t(:see_vericite_results, "See VeriCite results") %></span>
    </span>
    </a>
  </span>
  <% elsif can_do(@submission, @current_user, :view_turnitin_report) &&
    (turnitin_score = @submission.originality_data[attachment&.asset_string] || @submission.originality_data[OriginalityReport.submission_asset_key(@submission)]) &&
    (@submission.originality_data[:provider] == nil || @submission.originality_reports.present?) &&
    (turnitin_score[:similarity_score] || turnitin_score[:state] == 'pending') %>
  <span class="turnitin_score_container">
    <span class="turnitin_score_container_caret <%= turnitin_score[:state] %>_score"></span>
    <% if !@submission.has_originality_report? %>
    <a href="<%= context_url(@context, :context_assignment_submission_turnitin_report_url, @submission.assignment_id, @submission.user_id, attachment.asset_string) %>"
      title="Similarity score -- more information"
      target="_blank"
      class="not_external turnitin_similarity_score <%= turnitin_score[:state] %>_score">
      <%= turnitin_score[:similarity_score] %>%</a>
    <% else %>
      <% if turnitin_score[:error_message] %>
        <a title="<%= turnitin_score[:error_message] %>"
           href="<%= polymorphic_url([@context, @assignment, @submission, :originality_report], asset_string: attachment&.asset_string || @submission.asset_string) %>"
           data-tooltip="left"
           target="_blank" >
          <%= image_tag("turnitin_#{turnitin_score[:state]}_score.png", :alt => turnitin_score[:error_message]) %>
        </a>
      <% else %>
        <a href="<%= polymorphic_url([@context, @assignment, @submission, :originality_report], asset_string: attachment&.asset_string || @submission.asset_string, attempt: @submission.attempt) %>"
          target="_blank"
          title="<%= "Similarity score -- #{turnitin_score[:state]}" %>"
          class="not_external turnitin_similarity_score <%= turnitin_score[:state] %>_score"
          data-tooltip="left">
          <%= turnitin_score[:similarity_score].present? ? "#{turnitin_score[:similarity_score]}%" : ' ' %>
        </a>
      <% end %>
    <% end %>
  </span>
<% end %>
