<% js_block do %>
<script>
require([
  'INST' /* INST */,
  'i18nObj',
  'jquery' /* $ */,
  'jquery.ajaxJSON' /* ajaxJSON */,
  'jqueryui/dialog',
  'jqueryui/progressbar' /* /\.progressbar/ */
], function(INST, I18n, $) {

  INST.downloadSubmissions = function(url) {
    var cancelled = false;
    $("#download_submissions_dialog").dialog({
      title: <%= jt("#submissions.download_submissions", "Download Assignment Submissions") %>,
      close: function() {
        cancelled = true;
      }
    });
    $("#download_submissions_dialog .progress").progressbar({value: 0});
    var checkForChange = function() {
      if(cancelled || $("#download_submissions_dialog:visible").length == 0) { return; }
      $("#download_submissions_dialog .status_loader").css('visibility', 'visible');
      var lastProgress = null;
      $.ajaxJSON(url, 'GET', {}, function(data) {
        if(data && data.attachment) {
          var attachment = data.attachment;
          if(attachment.workflow_state == 'zipped') { 
            $("#download_submissions_dialog .progress").progressbar('value', 100);
            var message = <%= jt("#submissions.finished_redirecting", "Finished!  Redirecting to File...") %>;
            var link = "<a href=\"" + url + "\"><b> " + <%= jt("#submissions.click_to_download", "Click here to download %{size_of_file}", '{size_of_file: attachment.readable_size}') %> + "</b></a>"
            $("#download_submissions_dialog .status").html(message + "<br>" + link);
            $("#download_submissions_dialog .status_loader").css('visibility', 'hidden');
            location.href = url;
            return;
          } else {
            var progress = parseInt(attachment.file_state, 10);
            if(isNaN(progress)) { progress = 0; }
            progress += 5
            $("#download_submissions_dialog .progress").progressbar('value', progress);
            var message = null;
            if(progress >= 95){
              message = <%= jt("#submissions.creating_zip", "Creating zip file...") %>;
            } else {
              message = <%= jt("#submissions.gathering_files_progress", "Gathering Files (%{progress})...", '{progress: I18n.toPercentage(progress)}') %>;
            }
            $("#download_submissions_dialog .status").text(message);
            if(progress <= 5 || progress == lastProgress) {
              $.ajaxJSON(url + "&compile=1", 'GET', {}, function() {}, function() {});
            }
            lastProgress = progress;
          }
        }
        $("#download_submissions_dialog .status_loader").css('visibility', 'hidden');
        setTimeout(checkForChange, 3000);
      }, function(data) {
        $("#download_submissions_dialog .status_loader").css('visibility', 'hidden');
        setTimeout(checkForChange, 1000);
      });
    }
    checkForChange();
  };
});
</script>
<% end %>
<div id="download_submissions_dialog" style="display: none;">
  <%= image_tag "download.png" %> <%= mt('download_message', '**Your student submissions are being gathered** and compressed into a zip file. This may take some time, depending on the size and number of submission files.') %>
  <div class="progress" style="margin: 10px 5px;">
  </div>
  <div class="status_box" style="text-align: center;">
    <%= image_tag "ajax-loader-small.gif", :style => "visibility: hidden;", :class => "status_loader" %>&nbsp;<span class="status"><%= t('gathering_files', 'Gathering Files...') %></span>
  </div>
</div>
