<% content_for :page_title do %><%= join_title @assignment.title, context_user_name(@context, @submission.user) %><% end %>

<% if @assignment.submission_types == 'discussion_topic' && @assignment.discussion_topic %>
  <div style="width: 600px; margin: 10px auto;">
    <p>
      <% if @assignment.discussion_topic.for_group_discussion? && (group = @assignment.discussion_topic.group_category.group_for(@user)) %>
        <%= t('group_discussion_submission_description',
                "The submissions for this assignment are posts in the assignment's discussion for this group. Below are the discussion posts for %{user}, or you can *view the full group discussion*.",
                :user => context_user_name(@context, @submission.user),
                :wrapper => "<a href=\"#{context_url(group, :context_discussion_topics_url, :root_discussion_topic_id => @assignment.discussion_topic.id, :headless => 1)}\"><b>\\1</b></a>") %>
      <% else %>
        <%= t('discussion_submission_description',
                "The submissions for this assignment are posts in the assignment's discussion. Below are the discussion posts for %{user}, or you can *view the full discussion*.",
                :user => context_user_name(@context, @submission.user),
                :wrapper => "<a href=\"#{context_url(@assignment.context, :context_discussion_topic_url, @assignment.discussion_topic.id, :headless => 1)}\"><b>\\1</b></a>") %>
      <% end %>

    </p>
    <% @entries = @assignment.discussion_topic.discussion_entries.active.for_user(@user) %>
    <% if @assignment.discussion_topic.for_group_discussion? %>
      <% @entries = @assignment.discussion_topic.child_topics.map{|t| t.discussion_entries.active.for_user(@user) }.flatten.sort_by{|e| e.created_at} %>
    <% end %>
    <% @entries.each do |entry| %>
      <%= render :partial => 'discussion_topics/entry', :object => entry, :locals => {:out_of_context => true, :skip_sub_entries => true, :link_to_headless => true} %>
    <% end %>
    <div style="text-align: center; font-size: 1.2em; margin-top: 10px; display: none;">
      <a href="<%= context_url(@assignment.context, :context_discussion_topic_url, @assignment.discussion_topic.id, :headless => 1, :combined => 1) %>" class="forward"><%= t('show_entire_discussion', 'Show the Entire Discussion') %></a>
    </div>
  </div>
<% elsif @submission.submission_type == "online_url" %>
  <div style="text-align: center; width: 500px; margin: 10px auto; font-size: 0.8em;">
    <% image = @submission.attachment if @submission.processed? %>
    <%= t('external_url_submission', 'This submission was a URL to an external page.') %>
    <% if image %>
      <%= t('entry_with_image', "We've included a snapshot of what the page looked like when it was submitted. Or you can click to view the original submission.")  %>
    <% else %>
      <%= t('entry_no_image', 'Keep in mind that this page may have changed since the submission originally occurred.') %>
    <% end %>
    <div style="font-size: 1.4em; margin: 10px;">
      <a href="<%= @submission.url %>" class="not_external"><%= t('view_original_submission', 'View the Original Submission for %{user}', :user => context_user_name(@context, @submission.user)) %></a>
    </div>
    <div style="font-size: 1.4em; margin: 10px;">
      <a href="<%= @submission.url %>" class="not_external"><%= @submission.url %></a>
    </div>
  </div>
  <div style="text-align: center;">
  <% if @submission.processed %>
    <img src="<%= context_url(@context, :context_assignment_submission_url, @assignment.id, @submission.user_id, :download => image.id) %>" alt="<%= t('url_preview', 'URL Preview') %>"/>
  <% end %>
  </div>
<% elsif @submission.submission_type == "online_text_entry" %>
  <% js_bundle 'legacy/submissions_show_preview_text' %>
  <div style="text-align: right; margin-top: 15px;">
    <select class="data_view">
      <option value="paper"><%= t('paper_view', 'Paper View') %></option>
      <option value="plain_text"><%= t('plain_view', 'Plain Text View') %></option>
    </select>
  </div>
  <div id="submission_preview" class="paper user_content">
    <%= user_content(@submission.body) %>
  </div>
<% elsif @submission.submission_type == "online_upload" %>
  <div class="centered-block">
    <div class="centered-block-wrap">
      <div class="centered-block-inner">
        <ul class="ui-listview" style="margin-top: 30px">
          <li class="ui-listview-header"><%= mt('file_uploads_for_user', 'File Uploads for **%{user}**', :user => params[:hide_student_name] ? t('student', 'Student') : @submission.user.name) %></li>
          <% if @submission.attachments.empty? %>
            <li>
              <div class="ui-listview-text ui-listview-right"></div>
              <span class="ui-listview-text">
                <%= t('no_files', 'No files were uploaded for this submission') %>
              </span>
            </li>
          <% else %>
            <% @submission.attachments.each do |attachment| %>
              <li>
                <div class="ui-listview-text ui-listview-right" style="padding-left:5px; padding-right:5px;">
                  <% if can_do(@submission, @current_user, :view_turnitin_report) && (turnitin_score = @submission.turnitin_data[attachment.asset_string]) && turnitin_score[:similarity_score] %>
                    <span class="turnitin_score_container">
                      <span class="turnitin_score_container_caret <%= turnitin_score[:state] %>_score"></span>
                      <a href="<%= context_url(@context, :context_assignment_submission_turnitin_report_url, @submission.assignment_id, @submission.user_id, attachment.asset_string) %>" target="_blank" class="not_external turnitin_similarity_score <%= turnitin_score[:state] %>_score"><%= turnitin_score[:similarity_score] %>%</a>
                    </span>
                  <% end %>
                  <span><%= number_to_human_size(attachment.size) %></span>
                </div>
                <% preview_url = context_url(@context, :context_assignment_submission_url, @assignment.id, @submission.user_id, :download => attachment.id) %>
                <% if attachment.crocodoc_available? %>
                  <% preview_document = t('preview_crocodoc_document', 'Preview your submission and view teacher feedback, if available')
                     button_text = t('view_feedback_button', 'View Feedback')
                  %>
                <% elsif attachment.scribdable? || attachment.canvadocable? %>
                  <% preview_document = t('preview_submission', 'Preview your submission')
                     button_text = t('view_preview_button', 'Preview')
                  %>
                <% end %>
                <% if attachment.crocodoc_available? || attachment.scribdable? || attachment.canvadocable? %>
                  <div class="ui-listview-text ui-listview-right" style="padding: 4px 5px 0px 5px;">
                    <a href=<%= preview_url %> data-tooltip title="<%= preview_document %>" class="modal_preview_link btn" role="button" aria-hidden="true" tabindex="-1" data-attachment_id="<%= attachment.id %>" data-submission_id="<%= @submission.id %>" data-dialog-title="<%= attachment.display_name %>" <%= doc_preview_attributes(attachment) %>><%= button_text %></a>
                  </div>
                <% end %>
                <a href="<%= preview_url %>" class="ui-listview-text comment_attachment_link <%= attachment.mime_class %>">
                  <%= attachment.display_name %>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% js_bundle 'legacy/submissions_show_preview_upload' %>
<% elsif @submission.submission_type == "online_quiz" %>
  <% content_for :stylesheets do %>
    <meta HTTP-EQUIV="REFRESH" content="0; url=<%= context_url(@context, :context_quiz_history_url, @assignment.quiz.id, :user_id => @submission.user_id, :headless => 1, :version => @submission.quiz_submission_version) %>"/>
  <% end %>
  <div style="text-align: center;">
    <%= t('quiz_submission', 'This submission was a quiz submission.  Redirecting to quiz page.') %>
  </div>
<% elsif @submission.submission_type == 'media_recording' && @submission.media_comment_id %>
  <%= t('media_comment_link', "This submission is a media recording. *click here to view.*", :wrapper => '<div><a href="#" class="play_media_recording_link" '+ dataify(@submission, :media_comment_id, :media_comment_type) + '>\1</a></div>') %>
  <div style="width: 400px; margin: 10px auto;" id="media_recording_box">
    <div class="box_content">
    </div>
  </div>
  <div class="media_comment_id" style="display: none;"><%= @submission.media_comment_id %></div>

  <% js_bundle 'legacy/submissions_show_preview_media' %>
<% elsif @submission.has_submission? || @assignment.expects_external_submission? %>
  <div style="margin: 20px auto; width: 400px; height: 50px; font-size: 1.5em;  font-weight: bold;">
    <%= t('no_preview_available', 'No Preview Available') %>
  </div>
<% else %>
  <div style="margin: 20px auto; width: 200px; height: 50px; font-size: 1.5em;  font-weight: bold;">
    <%= t('no_submission', 'No Submission') %>
  </div>
<% end %>
