<label class="bold" for="grading-box-extended"><%= t('labels.grade', "Grade") %>

<% case assignment.grading_type %>
<% when "points", "percent", "letter_grade", "gpa_scale" %>
  <input type="text" id="grading-box-extended" maxlength="254"/>
<% when "pass_fail" %>
  <select id="grading-box-extended" class="pass_fail_grading_type">
    <option value="">---</option>
    <option value="complete"><%= t('#gradebooks.grades.complete', "Complete") %></option>
    <option value="incomplete"><%= t('#gradebooks.grades.incomplete', "Incomplete") %></option>
    <option value="EX"><%= t('Excused') %></option>
  </select>
<% end %>

<% if assignment.grading_type == "points" %>
  <%=
    t(
      "out of %{points_possible}",
      points_possible: I18n.n(round_if_whole(assignment.points_possible))
    )
  %>
<% elsif  assignment.grading_type != "gpa_scale" %>
  (<span class="score">&nbsp;</span> / <%= I18n.n(round_if_whole(assignment.points_possible)) %>)
<% end %>

</label>
