<% content_for :stylesheets do %>
<style type="text/css" media="screen">
  #content {
    position: relative;
    padding: 0;
  }
</style>
<% end %>
<% if !@students || @students.empty? %>
  <div id="no_students_message" class="pad-box">
    <p><%= t(:no_students, "No Students are enrolled in the course.") %></p>
    <% if can_do @context, @current_user, :manage_students %>
      <p><a href="<%= course_users_path(course_id: @context) %>" class="btn icon-add add_students"><%= t('links.add_students', "Add Students to the Course") %></a></p>
    <% end %>
  </div>
<% end %>
<% if !@just_assignments || @just_assignments.empty? %>
  <div id="no_assignments_message" class="pad-box">
    <p><%= t(:no_assignments, "No Assignments created yet for this course.") %></p>
    <% if can_do @context, @current_user, :manage_content, :manage_assignments %>
      <p><a href="<%= context_url(@context, :context_assignments_url) %>" class="btn"><%= t('links.add_assignments', "Add Assignments to the Course") %></a></p>
    <% end %>
  </div>
<% else %>
  <% 
    jammit_css :gradebooks, :datagrid
    js_bundle :datagrid, :gradebooks
    @show_left_side = false
    @show_embedded_chat = false
    add_crumb t(:try_out_the_new_gradebook, "Try out the new gradebook"), context_url(@context, :change_gradebook_version_context_gradebook_url, :version => 2), :id => 'change_gradebook_version_link_holder'
  %>
  <div style="display: none;"><input type="checkbox" id="hide_students_option"/><label for="hide_students_option"><%= t(:hide_names, "Hide Student Names") %></label></div>
  <div class="clear"></div>
  <%= form_tag context_url(@context, :update_submission_context_gradebook_url), { :id => "update_submission_form", :style => "display: none;" } do %>
  <% end %>
  <%= form_tag context_url(@context, :context_details_url, :fragment => "publish_grades"), { :id => "publish_to_sis_form", :style => "display: none;" } do %>
  <% end %>

  <div id="loading_gradebook_message" style="margin-top: 10px; margin-left: 10px;">
    <h3 id="loading_gradebook_status"><%= t('headers.loading_gradebook', "Loading Gradebook...") %></h3>
    <div id="loading_gradebook_progressbar" style="width: 250px;">
    </div>
    <a href="<%= context_url(@context, :context_gradebook_url) %>" class="gradebook_url" style="display: none;">&nbsp;</a>
  </div>
  <div id="datagrid_topleft" class="datagrid">
    <div class="content">
    </div>
  </div>
  <div id="datagrid_top" class="datagrid">
    <div class="content">
    </div>
  </div>
  <div class="clear"></div>
  <div id="datagrid_left" class="datagrid">
    <div class="content">
    </div>
  </div>
  <div id="datagrid_data" class="datagrid">
    <div class="content">
    </div>
    <div id="datagrid_filler">&nbsp;
    </div>
  </div>
  <%= render :partial => 'assignments', :hide_dropdowns => (!@students || @students.empty?) %>
  
  <div style="float: left; padding: 10px; display: none;" id="groups_data">
  <table style="width: auto; min-width: 200px;">
    <% tally = 0 %>
    <tr>
      <td colspan="2">
        <input type="checkbox" <%= "checked" if @context.group_weighting_scheme == 'percent' %> id="class_weighting_policy" name="class_weighting_policy"/>
        <label for="class_weighting_policy"><%= t(:weight_final, "Weight final grade based on groups") %></label>
        <a href="<%= context_url(@context, :context_url) %>" class="weighting_policy_url" style="display: none;">&nbsp;</a>
      </td>
    </tr>
    <% @groups.each do |group| %>
    <tr class="group" id="group_<%= group.id %>">
      <td><%= group.name %></td>
      <td>
        <input type="text" style="width: 50px;" value="<%= group.group_weight || 0 %>" name="group_weight" class="group_weight"/>%
        <div style="display: none;">
          <span class="assignment_group_id"><%= group.id %></span>
          <div class="rules"><%= group.rules %></div>
          <a href="<%= context_url(@context, :context_assignment_group_url, group.id) %>" class="assignment_group_url">&nbsp;</a>
        </div>
      </td>
      <% tally = tally + (group.group_weight || 0) %>
    </tr>
    <% end %>
    <tr>
      <td><b><%= t('titles.total', "Total") %></b></td>
      <td><b><span class="total_weight"><%= tally %></span>%</b></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: left;">
        <a href="<%= context_url(@context, :context_assignments_url) %>" target="_new" class="edit"><%= t('links.manage', "Manage Assignment Groups") %></a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="button" class="btn normalize_button"><%= t('buttons.normalize', "Make it Total 100%") %></button>
        <button type="button" class="cancel_button btn button-secondary"><%= t('buttons.done', "Done") %></button>
      </td>
    </tr>
  </table>
  </div>
  <%= form_for :assignment, :url => ".", :html => {:id => "default_grade_form", :style => "position: relative; display: none;"} do |f| %>
    <input type="hidden" name="assignment_id" class="assignment_id"/>
    <div><%= t(:default_grades, "Give all currently visible students the same grade for %{class} by entering and submitting a grade value below:", :class => raw('<span class="assignment_title" style="font-weight: bold;">&nbsp;</span>')) %></div>
    <div style="text-align: center; margin: 10px 10px 0;" class="grading_box_holder">
      <input type="text" name="default_grade" style="width: 100px;"/>
    </div>
    <div style="margin-bottom: 10px; font-size: 0.8em; text-align: center;">
      <%= t(:out_of_points_possible, "*out of* %{points_possible}", :wrapper => '<span class="out_of">\1</span>', :points_possible => raw('<span class="points_possible">&nbsp;</span>')) %>
    </div>
    <div style="text-align: left;">
      <input type="checkbox" name="overwrite_existing_grades" id="submission_overwrite_existing_grades"/>
      <label for="submission_overwrite_existing_grades"><%= t(:overwrite, "Overwrite already-entered grades") %></label>
    </div>
    <div class="button-container">
      <button type="submit" class="btn"><%= t('buttons.set_grade', "Set Grade") %></button>
      <button type="button" class="cancel_button btn button-secondary"><%= t('#buttons.cancel', "Cancel") %></button>
    </div>
    <a href="<%= context_url(@context, :context_assignment_url, "{{ id }}") %>" style="display: none;" class="default_grade_url">&nbsp;</a>
  <% end %>
  <%= form_tag ".", {:id => "re_upload_submissions_form", :multipart => true, :style => "display: none;"} do %>
    <a href="<%= context_url(@context, :submissions_upload_context_gradebook_url, "{{ assignment_id }}") %>" class="re_upload_submissions_url" style="display: none;">&nbsp;</a>
    <p style="font-size: 0.8em;"><%= t(:upload_info, <<-DETAILS)
      If you made changes to the student submission files you downloaded
      before, just zip them back up and upload the zip with the form below.
      Students will see the modified files in their comments for the
      submission.
      DETAILS
    %></p>
    <p style="font-size: 0.8em;">
      <i><%= t(:upload_warning, "Make sure you don't change the names of the submission files so we can recognize them.") %></i>
    </p>
    <input type="file" name="submissions_zip"/>
    <div class="button-container">
      <button type="submit" class="btn"><%= t('buttons.upload', "Upload Files") %></button>
    </div>
  <% end %>
  <form action="<%= context_url(@context, :update_submission_context_gradebook_url) %>" id="curve_grade_dialog" style="display: none;">
    <input type="hidden" name="_method" value="POST"/>
    <input type="hidden" name="assignment_id" class="assignment_id" value="10"/>
    <div style="font-size: 0.8em;">
      <%= t(:curve_average, "Enter an average grade for the curve for *the assignment*. The chart shows a best attempt at curving the grades based on current student scores.", :wrapper => '<span class="assignment_title" style="font-weight: bold;">\1</span>') %>
    </div>
    <div style="min-height: 100px;">
    <table cellpadding="0" cellspacing="0" style="margin: 2px auto;">
      <tr id="results_list">
      </tr>
      <tr id="results_values">
      </tr>
    </table>
    </div>
    <div style="text-align: center;">
      <%= before_label(:average_score, "Average Score") %>
      <input type="text" value="16" name="middle_score" id="middle_score" style="width: 25px;"/>
      <%= t(:out_of_points_possible, "*out of* %{points_possible}", :wrapper => '<span class="out_of">\1</span>', :points_possible => raw('<span class="points_possible">20</span>')) %>
    </div>
    <div style="margin-top: 10px;">
      <input type="checkbox" name="assign_blanks" id="assign_blanks"/>
      <label for="assign_blanks" style="font-size: 0.8em;"><%= t('labels.assign_blanks', "Assign zero's to unsubmitted students") %></label>
    </div>
    <div class="button-container">
      <button type="submit" class="btn"><%= t('buttons.curve_grades', "Curve Grades") %></button>
      <button type="button" class="cancel_button btn button-secondary"><%= t('#buttons.cancel', "Cancel") %></button>
    </div>
  </form>
  <div style="display: none;" id="gradebook_urls">
    <%= image_tag "forward.png", :id => "submission_view_image", :alt => t('titles.view', "View"), :title => t('titles.view', "View") %>
    <%= image_tag "pass.png", :id => "submission_entry_pass_image", :alt => t('titles.pass', "Pass"), :title => t('titles.pass', "Pass"), :class => "graded_icon" %>
    <%= image_tag "pass.png", :id => "submission_entry_complete_image", :alt => t('titles.complete', "Complete"), :title => t('titles.complete', "Complete"), :class => "graded_icon" %>
    <%= image_tag "fail.png", :id => "submission_entry_fail_image", :alt => t('titles.fail', "Fail"), :title => t('titles.fail', "Fail"), :class => "graded_icon" %>
    <%= image_tag "fail.png", :id => "submission_entry_incomplete_image", :alt => t('titles.incomplete', "Incomplete"), :title => t('titles.incomplete', "Incomplete"), :class => "graded_icon" %>
    <%= image_tag "link.png", :id => "submission_online_url_image", :alt => t('titles.url', "URL Submission"), :title => t('titles.url', "URL Submission"), :class => "submission_icon" %>
    <%= image_tag "word_bubble.png", :id => "submission_discussion_topic_image", :alt => t('titles.discussion', "Discussion Submission"), :title => t('titles.discussion', "Discussion Submission"), :class => "submission_icon" %>
    <%= image_tag "file.png", :id => "submission_online_upload_image", :alt => t('titles.upload', "File Upload Submission"), :title => t('titles.upload', "File Upload Submission"), :class => "submission_icon" %>
    <%= image_tag "text_entry.png", :id => "submission_online_text_entry_image", :alt => t('titles.text', "Text Entry Submission"), :title => t('titles.text', "Text Entry Submission"), :class => "submission_icon" %>
    <%= image_tag "pending_review.png", :id => "submission_pending_review_image", :alt => t('titles.quiz_review', "This quiz needs review"), :title => t('titles.quiz_review', "This quiz needs review"), :class => "submission_icon" %>
    <%= image_tag "media_comment.gif", :id => "submission_media_comment_image", :alt => t('titles.media', "Media Comment Submission"), :title => t('titles.media', "Media Comment Submission"), :class => "submission_icon" %>
    <%= image_tag "quiz.png", :id => "submission_quiz_image", :alt => t('title.quiz', "Quiz Submission"), :title => t('title.quiz', "Quiz Submission"), :class => "submission_icon" %>
    <a href="<%= context_url(@context, :context_assignment_submission_url, "{{ assignment_id }}", "{{ user_id }}", :download => "{{ attachment_id }}") %>" class="view_online_upload_url">&nbsp;</a>
    <a href="<%= context_url(@context, :speed_grader_context_gradebook_url, :assignment_id => "{{ assignment_id }}", :anchor => '{"student_id":{{ user_id }}}') %>" class="view_online_text_entry_url view_online_submission_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_quiz_history_url, "{{ quiz_id }}", :user_id => "{{user_id}}") %>" class="view_quiz_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_assignment_submissions_url, "{{ assignment_id }}") %>?zip=1" class="download_assignment_submissions_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_gradebook_url) %>.csv" class="gradebook_csv_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_gradebook_url) %>/history" class="gradebook_history_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_assignment_submission_turnitin_report_url, "{{ assignment_id }}", "{{ user_id }}", "{{ asset_string }}") %>" class="turnitin_report_url">&nbsp;</a>
    <%= image_tag 'pending_review.png', 
          :style => "position: absolute; top: 3px; right: 2px; cursor: pointer;", 
          :title => t('titles.submission_review', "This submission needs review"),
          :class => "pending_review" %>
    <%= image_tag 'turnitin_no_score.png', 
          :style => "position: absolute; top: 3px; right: 2px; cursor: pointer;", 
          :title => t('titles.turnitin', "This submission has a turnitin similarity score"),
          :alt => t('titles.turnitin', "This submission has a turnitin similarity score"),
          :class => "turnitin" %>
    <%= image_tag 'word_bubble.png', 
          :style => "position: absolute; top: 3px; right: 2px; cursor: pointer;", 
          :title => t('titles.new_message', "New message for this submission"),
          :class => "new_message" %>
  </div>
  <div id="loading_submission_details_dialog" style="display: none;">
    <a href="<%= context_url(@context, :context_assignment_submission_url, "{{ assignment_id }}", "{{ user_id }}") %>" class="submission_details_url" style="display: none;">&nbsp;</a>
    <div style="margin: 20px 10px; text-align: center; font-size: 1.5em; ">
      <%= t(:loading_submission, "Loading Submission Details...") %>
    </div>
  </div>
  <div id="submission_information" style="display: none;">
    <div style="display: none;">
      <span class="id">&nbsp;</span>
      <span class="assignment_id">&nbsp;</span>
      <span class="student_id">&nbsp;</span>
    </div>
    <div style="float: left;" class="submitted_at_box"><%= before_label(:assignment_submitted, "Submitted") %> <span class="submitted_at_string">submitted_at</span><span class="late_box"> <%= t(:assignment_submitted_late, "(late)") %></span></div>
    <div style="text-align: right; display: none;" class="submission_details">
    </div>
    <div style="padding: 5px 0px;">
      <b><%= before_label(:comments, "Comments for student") %></b>
      <div class="submission_comments" style="margin-left: 10px; _height: 100px; max-height: 100px; overflow: auto;">
        <div class="no_comments"><%= t(:no_comments, "No Comments") %></div>
      </div>
      <div class="submission_comment" id="submission_comment_blank" style="display: none;">
        <div class="comment" style="margin-left: 15px;">&nbsp;
        </div>
        <div class="attachments" style="text-align: right; font-size: 0.8em; margin-right: 10px;"></div>
        <div style="font-size: 0.8em; text-align: right; color: #888;">
          <span class="author_name">&nbsp;</span>,
          <span class="posted_at">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="add_comment" style="text-align: center; font-size: 0.8em; padding-bottom: 10px;">
      <div style="text-align: left;"><%= before_label(:send_comment, "Send a Comment to the Student") %></div>
      <textarea class="comment_text" style="width: 95%; margin: 0px auto; height: 80px; display: none; font-size: 1.2em;"></textarea>
      <div class="comment_attachments" style="width: 80%; text-align: right; margin: 0 auto;"></div>
      <div style="text-align: right; margin-right: 10px;"><a href="#" class="attach_comment_file_link"><%= t('links.attach_file', "Attach File") %></a></div>
      <div class="comment_attachment" style="display: none;">
        <input type="file" name="attachments[-1][uploaded_data]"/>
        <a href="#" class="delete_comment_attachment_link no-hover"><%= image_tag "delete_circle.png" %></a>
      </div>
      <div class="group_comment"><input type="checkbox" name="group_comment" value="1" id="group_comment_checkbox"/><label for="group_comment_checkbox"><%= t('labels.group_comment', "Send Comment to the Whole Group") %></label></div>
    </div>
    <div style="text-align: right;" class="submission_grade">
      <span style="font-weight: bold;"><%= before_label(:grade, "Grade") %></span> <span class="grade_entry">&nbsp;</span>
      <%= t(:out_of_points_possible, "*out of* %{points_possible}", :wrapper => '<span style="font-size: 0.8em;" class="out_of">\1</span>', :points_possible => raw("<span class=\"points_possible\">#{h(t('#not_applicable', "N/A"))}</span>")) %>
    </div>
    <div class="button-container save_buttons">
      <button type="button" class="btn update_button"><%= t('buttons.update', "Update") %></button>
      <button type="button" class="btn button-secondary cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
    </div>
  </div>
  <div id="assignment_details_dialog" style="display: none;">
    <%= t(:grade_statistics, "Grade statistics for %{assignment}", :assignment => raw('<b><a class="assignment_link title" href="#" target="_blank">&nbsp;</a></b>')) %>
    <div class="distribution">
      <div class="bar_left"></div>
      <div class="none_left"></div>
      <div class="some_left"></div>
      <div class="some_right"></div>
      <div class="none_right"></div>
      <div class="bar_right"></div>
    </div>
    <table style="margin: 5px 20px 10px; font-size: 1.2em;">
      <tr>
        <td style="padding: 2px 5px;"><%= before_label(:average_score, "Average Score") %></td>
        <td class="average" style="padding: 2px 5px; font-size: 1.1em; font-weight: bold;">&nbsp;</td>
      </tr><tr>
        <td style="padding: 2px 5px;"><%= before_label(:high_score, "High Score") %></td>
        <td class="max" style="padding: 2px 5px; font-size: 1.1em; font-weight: bold;">&nbsp;</td>
      </tr><tr>
        <td style="padding: 2px 5px;"><%= before_label(:low_score, "Low Score") %></td>
        <td class="min" style="padding: 2px 5px; font-size: 1.1em; font-weight: bold;">&nbsp;</td>
      </tr><tr>
        <td style="padding: 2px 5px;"><%= before_label(:total_grade_subs, "Total Graded Submissions") %></td>
        <td style="padding: 2px 5px; font-size: 1.1em; font-weight: bold;"><span class="cnt">&nbsp;</span> <%= t(:submissions, "submissions") %></td>
      </tr>
    </table>
  </div>
  <div style="display: none;">
    <div id="submission_comment_attachment_blank">
      <a href="<%= context_url(@context, :context_assignment_submission_url, "{{ assignment_id }}", "{{ user_id }}", :download => "{{ id }}", :comment_id => "{{ comment_id }}") %>" class="file"><%= t(:download, "Download %{attachment}", :attachment => raw('<span class="display_name">&nbsp;</span>')) %></a>
    </div>
  </div>
  <%= image_tag 'word_bubble.png', :title => t('titles.comments', "Submission Comments"), :id => "information_link", :style => "position: absolute; top: 2px; right: 1px; display: none; cursor: pointer;"  %>

<% end %>
<%= render :partial => 'submissions/submission_download' %>
<div style="display:none;">
  <%= render :partial => 'gradebook_uploads/form' %>
  <div id="gradebook_entry_template">
    <div class="table_entry assignment_ASSIGNMENT_ID student_USER_ID" id="submission_USER_ID_ASSIGNMENT_ID" style="position: relative; text-align: center; vertical-align: middle; min-height: 20px; visibility: hidden;">
      <span tabindex="0" class="grade HARD_CODED_CLASS" style="text-align: center; cursor: pointer;">
        <a href="#" class="no-hover no-underline"> - </a>
      </span>
      <span class="score">&nbsp;</span>
      <span class="pct"></span>
      <span class="letter_grade" style="display: none;"></span>
      <%= image_tag "pending_review.png",
        :style => "position: absolute; top: 3px; right: 2px; cursor: pointer; display: none;",
        :title => t('titles.submission_review', "This submission needs review"),
        :class => "pending_review" %>
      <div style="display: none;"></div>
    </div>
  </div>
  <div id="sort_columns_dialog" title="<%= t('labels.sort_columns', "Sort Gradebook Columns") %>">
    <h2><%= before_label(:sort_columns, "Sort Gradebook Columns") %></h2>
    <div style="margin-bottom: 5px;">
      <button type="button" class="btn sort_gradebook sort_columns by_due_date" title="<%= t('buttons.by_due_date', "By Due Date") %>" style="width: 300px;"><%= t('buttons.by_due_date', "By Due Date") %></button>
    </div>
    <div style="margin-bottom: 5px;">
      <button type="button" class="btn sort_gradebook sort_columns by_group" title="<%= t('buttons.by_group', "By Assignment Group") %>" style="width: 300px;"><%= t('buttons.by_group', "By Assignment Group") %></button>
    </div>
  </div>
  <div id="section_to_show_dialog" title="<%= t('titles.choose_section', "Choose A Section To Show") %>">
    <label for="section-to-show"><%= t('labels.choose_section', "Section to show") %></label>
    <select id="section-to-show">
      <option value="all"><%= t(:all_sections, "All") %></option>
    </select>
  </div>
  <div id="sort_rows_dialog" title="<%= t('labels.sort_rows', "Sort Gradebook Rows") %>">
    <h2><%= before_label(:sort_rows, "Sort Gradebook Rows") %></h2>
    <div style="margin-bottom: 5px;">
      <button type="button" class="btn sort_gradebook sort_rows by_display_name" title="<%= t('buttons.by_name', "By Student Name") %>" style="width: 300px;"><%= t('buttons.by_name', "By Student Name") %></button>
    </div>
    <div style="margin-bottom: 5px;">
      <button type="button" class="btn sort_gradebook sort_rows by_secondary_identifier" title="<%= t('buttons.by_email', "By Email/ID") %>" style="width: 300px;"><%= t('buttons.by_email', "By Email/ID") %></button>
    </div>
    <div style="margin-bottom: 5px;">
      <button type="button" class="btn sort_gradebook sort_rows by_section" title="<%= t('buttons.by_section', "By Section Name") %>" style="width: 300px;"><%= t('buttons.by_section', "By Section Name") %></button>
    </div>
    <div class="grade_sorts" style="display: none;">
      <div style="margin-bottom: 5px;">
        <button type="button" class="btn sort_gradebook sort_rows by_grade by_grade_desc" title="<%= t('buttons.by_total_desc', "By Total (Highest First)") %>" style="width: 300px;"><%= t('buttons.by_total_desc', "By Total (Highest First)") %></button>
      </div>
      <div style="margin-bottom: 5px;">
        <button type="button" class="btn sort_gradebook sort_rows by_grade by_grade_asc" title="<%= t('buttons.by_total_asc', "By Total (Lowest First)") %>" style="width: 300px;"><%= t('buttons.by_total_asc', "By Total (Lowest First)") %></button>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/message_students" %>
</div>

<script>
  var lastGradebookUpdate = "<%= ActiveSupport::TimeWithZone.new(Time.now, Time.zone).strftime("%Y-%m-%dT%H:%M:%S") %>";
  var sisPublishEnabled = <%= @context.allows_grade_publishing_by(@current_user) && can_do(@context, @current_user, :manage_grades) ? "true" : "false" %>;
  var readOnlyGradebook = <%= !can_do(@context, @current_user, :manage_grades) %>;
  <% if @context.grading_standard_enabled? %>
    var grading_scheme = <%= raw (@context.grading_standard.try(:data) || GradingStandard.default_grading_standard).to_json %>
  <% end %>
</script>
