<a class="display_name nobr" href="<%= context_url(@context, :context_url) %>/grades/<%= student.id %>"><%= student.name ? student.last_name_first : t(:new_student, "New Student") %></a>
<span class="hidden_name nobr" style="display: none;"><%= t(:student, "Student") %></span>
<%
  es = @enrollments_hash[student.id] if @context.course_sections.active.count > 1 && @enrollments_hash && @enrollments_hash[student.id]
  sections = Canvas::ICU.collate_by(es.map{ |e| e.course_section }.compact, &:display_name) if es
%>
  <div class="secondary_identifier <%= 'with_section' if es %>" title="<%= student.secondary_identifier %>"><%= student.secondary_identifier %></div>
<% if es %>
  <% sections.each do |section| %>
    <div class="course_section" data-course_section_id="<%= section.id %>" title="<%= section.display_name %>"><%= section.display_name %></div>
  <% end %>
  <div class="course_sections" data-course_section_ids="<%= sections.map{|s| s.id}.join(",") %>" style="display: none;"></div>
<% end %>
