<% content_for :page_title do %><%= t(:page_title, "Attendance") %><% end %>

<% if @assignments.empty? %>
  <div style="margin-left: 20px;">
    <h2><%= t('headers.attendance', "Attendance") %></h2>
    <%= t(:attendance_info, "No attendance assignments have been created.") %>
  </div>
<% else %>
  <style>
  #datagrid_topleft .content .cell, #datagrid_left .content .cell{
    border-left-width: 1px;
  }
  #datagrid_topleft .content .cell, #datagrid_top .content .cell{
    border-top-width: 1px;
  }
  </style>
  <div id="attendance_content">
    <div id="datagrid_topleft" class="datagrid">
      <div class="content">
      </div>
    </div>
    <div id="datagrid_top" class="datagrid">
      <div class="content">
      </div>
    </div>
    <div class="clear"></div>
    <div id="datagrid_left" class="datagrid">
      <div class="content">
      </div>
    </div>
    <div id="datagrid_data" class="datagrid">
      <div class="content">
      </div>
      <div id="datagrid_filler">&nbsp;
      </div>
    </div>
    <div id="attendance_loading_message">
      <h3><%= t('headers.loading_attendance', "Loading Attendance Table...") %></h3>
    </div>
    <table id="attendance" class="hidden-readable">
      <tr>
        <td>
          <div style="margin-top: 10px; margin-left: 10px;">
            <a href="#" class="help_link help"><%= t(:how_do_i, "How Do I...?") %></a>
          </div>
        </td>
        <% @assignments.each do |assignment| %>
          <td id="assignment_<%= assignment.id %>" class="assignment">
            <div class="assignment_content">
              <div class="title no-hover no-underline" title="<%= assignment.title %>"><a href="<%= context_url(@context, :edit_context_assignment_url, assignment.id) %>"><%= assignment.title %></a></div>
              <% if @at_least_one_due_at %>
                <div class="due_at"><%= datetime_string(assignment.due_at) rescue nbsp %>&nbsp;</div>
              <% end %>
              <div class="possible" style="float: left;"><%= t('#gradebooks.out_of_points_possible', "out of %{points_possible}", :points_possible => assignment.points_possible) if assignment.points_possible %></div>
              <div class="options"><a href="#" class="options_dropdown no-hover"><%= image_tag "blank.png", :alt => '' %></a></div>
            </div>
          </td>
        <% end %>
      </tr>
      <% @students.each do |student| %>
        <tr>
          <td id="student_<%= student.id %>" class="student">
            <div class="student_content">
              <a href="<%= context_url(@context, :context_url) %>/attendance/<%= student.id %>"><%= student.last_name_first %></a>
              <div class="secondary_identifier"><%= student.secondary_identifier %></div>
            </div>
          </td>
          <% @assignments.each do |assignment| %>
            <td id="submission_<%= student.id %>_<%= assignment.id %>" class="submission" title="<%= t('titles.click_to_change', "Click to Change") %>">
              <div class="submission_content" title="<%= t('titles.click_to_change', "Click to Change") %>"><%= image_tag "blank.png", :alt => '', :class => "blank_attendance" %></div>
            </td>
          <% end %>
          <td class="false_submission">
            <div class="false_submission_content">&nbsp;</div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div style="display: none;">
    <div id="attendance_how_to_dialog">
      <h3><%= t('headers.mark_attendance', "Mark Attendance") %></h3>
      <p><%= t(:mark_attendance_info, <<-DETAILS,
        The attendance view shows a table with students listed down the left
        and assignments listed across the top. To mark a student as present or
        absent, click the corresponding box until it shows the correct mark
        (%{present_icon} for present, %{absent_icon} for absent). You can also
        use the dropdown for each assignment to set everyone as present or
        absent.
        DETAILS
        :present_icon => image_tag("graded.16px.png"),
        :absent_icon => image_tag("not_graded.16px.png")) %></p>
      <h3><%= t('headers.edit_attendance', "Edit Attendance Details") %></h3>
      <p><%= t(:edit_attendance_info, "To edit the details for an attendance assignment, click the dropdown icon just below the assignment's name and then click \"Edit Assignment\".") %></p>
    </div>
    <%= image_tag "blank.png", :alt => '', :class => "blank_attendance" %>
    <%= image_tag "pass.png", :class => "pass_attendance" %>
    <%= image_tag "pass.png", :class => "complete_attendance" %>
    <%= image_tag "fail.png", :class => "fail_attendance" %>
    <%= image_tag "fail.png", :class => "incomplete_attendance" %>
    <a href="<%= context_url(@context, :update_submission_context_gradebook_url) %>" class="grade_submission_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_assignment_url, "{{ assignment_id }}") %>" class="set_default_grade_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_gradebook_url) %>" class="gradebook_url">&nbsp;</a>
  </div>
  <% css_bundle :datagrid, :attendance %>
  <% js_bundle :datagrid, :attendance %>
<% end %>
