<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  provide :page_title, t('Gradebook - %{context_name}', context_name: @context.name)
  add_body_class "gradebook full-width"
  @show_left_side = true
  @collapse_course_menu = true
  @show_embedded_chat = false

  css_bundle :slickgrid, :gradebook
  js_bundle :gradebook
%>
<% unless @current_user.try(:prefers_no_keyboard_shortcuts?) %>
  <div id="keyboard_navigation"></div>
<% end %>

<div id="gradebook_wrapper">
  <h1 class="screenreader-only"><%= t('Gradebook') %></h1>

  <div class="assignment-gradebook-container">
    <div class="accessibility_warning">
      <%= link_to t('Warning: For improved accessibility, please click here to use the Individual View Gradebook.'),
      context_url(@context, :change_gradebook_version_context_gradebook_url, :version => "srgb"),
        :id => "accessibility_warning", :class => "screenreader-only" %>
    </div>

    <%# EVAL-3711 Remove ICE Evaluate feature flag, remove the class once feature flag is removed %>
    <div id="<%= instui_nav? ? 'gradebook-toolbar' : 'gradebook-toolbar-instui-nav' %>" class="<%= instui_nav? ? '' : 'toolbar' %>">
      <div class="gradebook-menus">
        <span data-component="GradebookMenu" data-variant="DefaultGradebook"></span>
        <span data-component="ViewOptionsMenu"></span>
        <span data-component="ActionMenu"></span>
      </div>

      <div class="gradebook-filter-container" id="assignment-group-filter-container"></div>
      <div class="gradebook-filter-container" id="grading-periods-filter-container"></div>
      <div class="gradebook-filter-container" id="modules-filter-container"></div>
      <div class="gradebook-filter-container" id="sections-filter-container"></div>
      <div class="gradebook-filter-container" id="student-group-filter-container"></div>

      <div id="gradebook-actions">
        <%# EVAL-3711 Remove ICE Evaluate feature flag %>
        <% if !instui_nav? %>
          <% unless @current_user.try(:prefers_no_keyboard_shortcuts?) %>
            <button id="keyboard-shortcuts" class="Button--icon-action Button--active" type="button" style="margin-right: 12px">
              <span class="screenreader-only"><%= t('Keyboard Shortcuts') %></span>
              <i class="icon-keyboard-shortcuts"></i>
            </button>
          <% end %>
        <% end %>

        <span data-component="EnhancedActionMenu"></span>

        <div class="gradebook_menu" >
          <span id="gradebook-settings-modal-button-container"></span>
          <span data-component="GradebookSettingsModal"></span>
        </div>
      </div>
    </div>
    <div id="gradebook_app"></div>
    <div id="gradebook-grid-wrapper" class="use-css-transitions-for-show-hide" style="display:none;">
      <div id="gradebook_grid"></div>
    </div>
    <div style="display:none;">
      <%= render :partial => "shared/message_students" %>
      <%= render :partial => 'submissions/submission_download' %>
    </div>
  </div>

  <span data-component="GridColor"></span>
  <span data-component="StatusesModal"></span>
  <span data-component="AnonymousSpeedGraderAlert"></span>
  <span data-component="ApplyScoreToUngradedModal"></span>

  <% if show_message_students_with_observers_dialog? %>
    <span data-component="MessageStudentsWithObserversModal"></span>
  <% end %>

  <div id="assignment-posting-policy-tray"></div>
  <div id="hide-assignment-grades-tray"></div>
  <div id="post-assignment-grades-tray"></div>
</div>
