<%
  content_for :page_title, "Gradebook - #{@context.name}"
  @body_classes << "gradebook2 full-width"
  @show_left_side = false
  @show_embedded_chat = false
  add_crumb t(:individual_view, "Switch to Individual View"), context_url(@context, :change_gradebook_version_context_gradebook_url, :version => "srgb"), :id => 'change_gradebook_version_link_holder'
  jammit_css :slickgrid, :gradebook2
  js_bundle :gradebook2
%>
<div id="keyboard_navigation"></div>
<div id="gradebook_wrapper">
<h1 class="screenreader-only"><%= t('page_header_title', 'Gradebook') %></h1>
  <div class="gradebook-header">
    <div class="accessibility_warning">
      <%= link_to t(:accessibility_warning, 'Warning: The Gradebook Grid View is not accessible. Click here to use the Individual View instead.'), context_url(@context, :change_gradebook_version_context_gradebook_url, :version => "srgb"), :id => "accessibility_warning", :class => "screenreader-only" %>
    </div>
    <% if @context.feature_enabled?(:outcome_gradebook) || @context.feature_enabled?(:post_grades) %>
      <nav class="gradebook-navigation">
        <ul class="nav nav-pills gradebook-navigation-pills">
          <li class="active">
            <a href="#" data-id="assignment"><%= t(:grades, "Grades") %></a>
          </li>
          <% if @context.feature_enabled?(:outcome_gradebook) %>
          <li>
            <a href="#" data-id="outcome"><%= t(:learning_mastery, "Learning Mastery") %></a>
          </li>
          <% end %>
        </ul>
      </nav>
      <div class="section-button-placeholder"></div>
    <% end %>
  </div>

  <div class="assignment-gradebook-container hidden">
    <div id="gradebook-toolbar" class="toolbar">
      <div class="gradebook_dropdowns">
        <% if !@context.feature_enabled?(:outcome_gradebook) && !@context.feature_enabled?(:post_grades)%>
          <span class="section-button-placeholder"></span>
        <% end %>
        <% if multiple_grading_periods? %>
          <span class="multiple-grading-periods-selector-placeholder"></span>
        <% end %>
      </div>
      <div class="gradebook_filter">
        <% placeholder = t('filter_by_student', 'Filter by student name or secondary ID') %>
        <input type="text" class="search-query" placeholder="<%= placeholder %>" aria-label="<%= placeholder %>">
      </div>
        <% if @context.feature_enabled?(:post_grades) %>
            <div class="pull-right post-grades-placeholder"></div>
        <% end %>
      <div class="gradebook_menu">
        <span class="ui-buttonset">
          <% if @gradebook_is_editable && @context.allows_gradebook_uploads? %>
            <a class="gradebook_upload_link ui-button" href="#">
              <i class="icon-import"></i>
              <%= t('upload_scores', 'Import') %>
            </a>
          <% end %>

          <a class="ui-button" id=download_csv href="<%= context_url(@context, :context_gradebook_url) %>.csv">
            <i class="icon-export"></i>
            <%= t('download_scores', 'Export') %>
          </a>
        </span>

        <button id="gradebook_settings"><i class="icon-settings"></i></button>
        <ul style="display: none;" class="gradebook_drop_down ui-kyle-menu">
          <li><a href="<%= context_url(@context, :context_gradebook_url) %>/history"><%= t('view_grading_history', 'View Grading History') %></a></li>
          <% if @context.allows_grade_publishing_by(@current_user) && can_do(@context, @current_user, :manage_grades) %>
          <li><a id="publish_to_sis" href="<%= context_url(@context, :context_details_url,
                                                           :anchor => 'tab-grade-publishing') %>">
            <%= t('publish_to_sis', 'Publish grades to SIS') %>
          </a></li>
          <% end %>
          <% if @gradebook_is_editable %>
            <li><a class="dialog_opener" role="button" aria-controls="assignment_group_weights_dialog" href="<%= context_url(@context, :context_assignments_url) %>"><%= t('set_group_weights', 'Set Group Weights') %></a></li>
          <% end %>
          <li><a class="student_names_toggle" href="#" role="button"><%= t('hide_student_names', 'Hide Student Names') %></a></li>
          <li><a data-arrange-columns-by="due_date" href="#"><label><%= t('arrange_columns_by_due_date', 'Arrange columns by due date') %><input type="radio" name="arrange-columns-by" /></label></a></li>
          <li><a data-arrange-columns-by="assignment_group" href="#"><label><%= t('arrange_columns_by_group', 'Arrange columns by assignment group') %><input type="radio" name="arrange-columns-by" /></label></a></li>
          <li><a href="#"><label><%= t('show_attendance_columns', 'Show Attendance Columns') %> <input type="checkbox" id="show_attendance" /></label></a></li>
          <li><a href="#"><label><%= t('include_ungraded', "Treat Ungraded as 0") %><input type="checkbox" id="include_ungraded_assignments" /></label></a></li>
          <li><a href="#"><label><%= t('show_concluded_enrollments', "Show Concluded Enrollments") %><input type="checkbox" id="show_concluded_enrollments" /></label></a></li>
        </ul>
      </div>
    </div>
    <div id="gradebook-grid-wrapper" class="use-css-transitions-for-show-hide" style="display:none;">
      <div id="gradebook_grid"></div>
    </div>
    <div style="display:none;">
      <%= render :partial => "shared/message_students" %>
      <%= render :partial => 'submissions/submission_download' %>
    </div>
  </div>

  <% if @context.feature_enabled?(:outcome_gradebook) %>
    <div class="outcome-gradebook-container hidden"></div>
  <% end %>
</div>
