<% content_for :page_title do %><%= join_title t(:page_title, "Gradebook History"), @context.name %><% end %>
<% css_bundle :gradebook_history %>

<h1 class='screenreader-only'><%= t(:page_title, "Gradebook History") %></h1>

<% if !@days %>
  <%# temorary disabling of this page for large contexts %>
  <p>
  <%= t 'temporary_disabled', "The gradebook history page is not currently available for a course of this size." %>
  </p>
<% else %>

<a style="display: none;" title="POST" href="<%= context_url(@context, :update_submission_context_gradebook_url) %>" class="update_submission_grade_url">&nbsp;</a>
<ul id="gradebook-history">
<% @days.each do |day| %>
  <li>
    <h2 class='screenreader-only'><%= t(:grades_for_date, "Grades for Date") %></h2>
    <h3><%= date_string(day.date) %></h3>
    <ul>
    <% day.graders.each do |grader| %>
      <li class="grader">
        <h4><%= grader.name %></h4>
        <ul>
        <% grader.assignments.each do |assignment| %>
          <li class='gradebook-history-assignment'>
            <div class="assignment_header">
              <span class="changes ui-state-highlight ui-corner-all"><%= t(:submission_count, "change", :count => assignment.submission_count) %></span>
              <a href="<%= context_url(@context, :context_assignment_url, assignment.assignment_id) %>" class="assignment-header" aria-controls="assignment_<%= assignment.assignment_id %>" aria-expanded="false">
                <span aria-hidden="true"><%= assignment.name %></span>
                <span class="screenreader-only"><%= t("%{assignment_name} grade history", :assignment_name => assignment.name) %></span>
              </a>
              <span class="ui-icon ui-icon-circle-arrow-s"></span>
              <br class="clear" />
            </div>
            <div id="assignment_<%= assignment.assignment_id %>"class="assignment_details" style="display:none;">
              <table class="ic-Table ic-Table--condensed ic-Table--hover-row ic-Table--striped">
                <thead>
                  <tr>
                    <th><%= t('headers.student', "Student") %></th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t('headers.before', "Before") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t('headers.after', "After") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th><%= t('headers.current', "Current") %></th>
                  </tr>
                </thead>
                <tbody>
                  <% assignment.submissions.each_with_index do |submission, i| %>
                  <tr data-assignment-id="<%= submission.assignment_id %>" data-user-id="<%= submission.user_id %>">
                    <th scope="row" class="ic-Table--header-row"><%= submission.student_name %></th>
                    <td>
                      <a
                        href="#"
                        class="ui-corner-all revert-grade-link"
                        data-grade="<%= display_grade(submission.previous_grade) %>"
                      >
                        <span class="ui-icon ui-icon-arrowrefresh-1-w"></span>
                        <span
                          title="<%= graded_by_title(submission.previous_graded_at, submission.previous_grader) %>"
                          class='ui-corner-all grade'
                        >
                          <%= display_grade(format_grade(submission.previous_grade)) %>
                        </span>
                        <span class="revert"><%= t(:revert, "Revert to this grade") %></span>
                      </a>
                    </td>
                    <td>
                      <a
                        href="#"
                        class="ui-corner-all revert-grade-link"
                        data-grade="<%= display_grade(submission.new_grade) %>"
                      >
                        <span class="ui-icon ui-icon-arrowrefresh-1-w"></span>
                        <span
                          title="<%= graded_by_title(submission.new_graded_at, submission.new_grader) %>"
                          class='ui-corner-all grade'
                        >
                          <%= display_grade(format_grade(submission.new_grade)) %>
                        </span>
                        <span class="revert"><%= t(:revert, "Revert to this grade") %></span>
                      </a>
                    </td>
                    <td>
                      <span
                        title="<%= graded_by_title(submission.current_graded_at, submission.current_grader) %>"
                        class="current_grade <%= history_submission_class(submission) %>"
                      >
                        <%= display_grade(format_grade(submission.current_grade)) %>
                      </span>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
<% js_bundle :gradebook_history %>

<% end %>
