<div class="outcome-details carat-bottom">
  <div class="title">{{path}}</div>
  <div class="chart">
    {{#if ratings.result_count}}
      <div class="chart-image"></div>
      <ol class="ratings">
      {{#each ratings}}
        <li class="rating"><span class="legend-color" style="background-color: {{color}}" /> {{description}}</li>
      {{/each}}
      </ol>
    {{else}}
      <p><img src="/images/pie-chart-disabled.png" /></p>
      <p>{{#t "no_results"}}(no results){{/t}}</p>
    {{/if}}
  </div>
  <div class="mastery">{{#t "mastery_set_at"}}Mastery set at{{/t}}: {{mastery_points}}</div>
  <div class="description">{{{description}}}</div>
  <div class="view-more"><a href="{{url}}">{{#t "view_more_details"}}view more details{{/t}}</a></div>
</div>
