<div class="outcome-student-cell-content">
  {{>avatar}}
  <a class="student-grades-list student_context_card_trigger"
    data-student_id={{id}} data-course_id={{course_id}}
    href="{{grades_html_url}}">{{display_name}}</a>
  <div class="student-section">{{section_name}}</div>
</div>
