<button type="button" class="section-select-button">
  {{#t "showing_sections"}}
    Showing <span class="selected-section">{{currentSection}}</span>
  {{/t}}
</button>

<ul class="section-select-menu" id="section-to-show-menu">
  <li>{{#t "choose_a_section_to_show"}}Choose a section to show{{/t}}</li>
  {{#each sections}}
    <li>
      <a href="#">
        <label for="section_option_{{id}}">{{{name}}}</label>
        <input id="section_option_{{id}}" type="radio" value="{{id}}" name="section_to_show_radio" {{#if checked}} checked {{/if}} />
      </a>
    </li>
  {{/each}}
</ul>
