<li class="content_item file <%= 'locked' if content_file && !can_do(content_file, @current_user, :download) %> <%= 'currently_locked' if content_file && content_file.currently_locked %> <%= 'draggable' if can_do(content_file, @current_user, :update) %>" id="<%= content_file ? "folder_file_" + content_file.id.to_s : "folder_content_file" %>">
  <div style="display: none">
    <span class="content_type"><%= (content_file.content_type || nbsp) rescue nbsp %></span>
    <span class="size"><%= (content_file.readable_size || nbsp) rescue nbsp %></span>
    <span class="comments">&nbsp;</span>
    <span class="id"><%= content_file ? content_file.id : nbsp %></span>
    <span class="position"><%= content_file.position rescue nbsp %></span>
    <a href="<%= context_url(@context, :context_file_download_url, (content_file ? content_file.id : "{{ id }}")) %>" class="download_url">&nbsp;</a>
    <a href="<%= context_url(@context, :context_file_preview_url, (content_file ? content_file.id : "{{ id }}")) %>" class="preview_url">&nbsp;</a>
  </div>
  <div class="links">
    <a href='#' class="preview_item_link no-hover" style="<%= hidden unless content_file && !content_file.errored? && content_file.scribd_doc && can_do(content_file, @current_user, :update) rescue false %>" title="<%= t 'links.preview_file', "Preview this file" %>"><%= image_tag "preview.png" %></a>
    <a href="#" class="edit_item_link no-hover" style="<%= "display: none;" unless (can_do(content_file, @current_user, :update) rescue false) %>" title="<%= t 'links.rename', "Rename this file" %>"><%= image_tag "edit.png" %></a>
    <a href="#" class="delete_item_link no-hover" style="<%= "display: none;" unless (can_do(content_file, @current_user, :delete) rescue false) %>" title="<%= t 'links.delete', "Delete this file" %>"><%= image_tag "delete.png" %></a>
  </div>
  <div style="display: none;">
    <span class="lock_at"><%= datetime_string(content_file.lock_at) rescue nbsp %></span>
    <span class="unlock_at"><%= datetime_string(content_file.unlock_at) rescue nbsp %></span>
    <span class="last_lock_at"><%= datetime_string(content_file.last_lock_at) rescue nbsp %></span>
    <span class="last_unlock_at"><%= datetime_string(content_file.last_unlock_at) rescue nbsp %></span>
    <span class="document_id"><%= (content_file.scribd_doc.doc_id rescue nbsp) if can_do(content_file, @current_user, :download) %></span>
    <span class="access_key"><%= (content_file.scribd_doc.access_key rescue nbsp) if can_do(content_file, @current_user, :download) %></span>
  </div>
  <a href="<%= context_url(@context, :context_file_url, (content_file ? content_file.id : "{{ id }}")) %>" class="name attachment_url" title="<%= t('links.edit', "Click to edit, drag to move to another folder") if can_do(content_file, @current_user, :update) %>"><%= content_file.display_name rescue "" %></a>
  <div class="clear"></div>
</li>
