<% content_folder ||= nil %>
<li class="content_item folder <%= 'folder_locked' if content_folder && !can_do(content_folder, @current_user, :read_contents) %> <%= 'currently_locked_folder' if content_folder && content_folder.currently_locked %> <%= 'draggable' if can_do(content_folder, @current_user, :update) %>" id="<%= content_folder ? "folder_content_" + content_folder.id.to_s : "folder_content_folder" %>">
  <div class="links">
    <a href="#" class="edit_item_link no-hover" style="<%= "display: none;" unless (can_do(content_folder, @current_user, :update) rescue false) %>"><%= image_tag "edit.png" %></a>
    <a href="#" class="delete_item_link no-hover" style="<%= "display: none;" unless (can_do(content_folder, @current_user, :delete) rescue false) %>"><%= image_tag "delete.png" %></a>
  </div>
  <a href="<%= context_url(@context, :controller => :folders, :action => :update, :id => (content_folder ? content_folder.id : "{{ id }}")) %>" class="name folder_url" title="<%= t 'titles.edit_and_move_instructions', 'Click to edit, drag to move to another folder' %>"><%= content_folder.name rescue "" %></a>
  <div style="display: none;">
    <span class="lock_at"><%= datetime_string(content_file.lock_at) rescue nbsp %></span>
    <span class="unlock_at"><%= datetime_string(content_file.unlock_at) rescue nbsp %></span>
    <span class="last_lock_at"><%= datetime_string(content_file.last_lock_at) rescue nbsp %></span>
    <span class="last_unlock_at"><%= datetime_string(content_file.last_unlock_at) rescue nbsp %></span>
  </div>
  <div class="clear"></div>
</li>
