<% 
  content_for :page_title, join_title(t(:page_title, "Files"), @context && @context.name)
  jammit_css :full_files, :tinymce
  js_bundle :full_files 
  showing_all_contexts = @context.is_a?(UserProfile) && @context.user == @current_user && params[:show_all_contexts]
%>
  <h1 class="screenreader-only"><%= t 'files_title', "Files" %></h1>
<div id="file_uploads" style="display: none;">
  <div class="file_upload" id="file_upload_blank" style="display: none;">
    <div style="float: left;">
    <span class="status"></span> <span class="file_name"></span>
    </div>
    <a href="#" class="cancel_upload_link no-hover" ><%= image_tag "delete_circle.png" %></a>
    <div class="clear"></div>
    <div class="progress_bar"></div>
  </div>
</div>
<% if @too_many_contexts %>
  <div style="padding-bottom: 10px;">
    <%= image_tag "warning.png" %> <%= t 'warnings.too_many', "There were too many courses/groups to show all at once.  Below are the first 15 results." %>
  </div>
<% end %>
<div style="margin: 0; width: auto;" class="files_holder">
  <div id="files_structure" style="position: relative;">
    <div id="file_uploads_progress" style="display: none; position: absolute; right: 5px; background-color: #eee; z-index: 2; border: 1px solid #aaa; border-top-width: 0; padding: 2px 5px;">
      <a href="#" id="file_uploads_dialog_link"><%= t 'messages.uploading', "Uploading 5 Files..." %></a>
    </div>
    <ul id="files_structure_list" role="tree" aria-label="<%= t('file_list', 'File list') %>" aria-live="polite">
      <li id="swfupload_holder">
        <div id="file_swf"></div>
      </li>
      <% @contexts.each do |context| %>
        <% root_folder = Folder.root_folders(context).first %>
        <li id="folder_<%= root_folder.id %>" class="context folder folder_<%= root_folder.id %> <%= context.asset_string %>" style="display: none;" role="treeitem" tabindex="0" aria-expanded="true">
          <span class="text name" role="link" aria-controls="folder_<%= root_folder.id %> "><%= context.name %></span>
          <span class="text id" style="display: none;"><%= root_folder.id %></span>
          <ul>
          </ul>
        </li>
      <% end %>
      <li class="file file_blank" style="display: none;" role="treeitem" tabindex="0">
        <span class="id" style="display: none;">&nbsp;</span>
        <span class="text name" role="link">&nbsp;</span>
      </li>
      <li class="folder_blank" style="display: none;" role="treeitem" tabindex="0" aria-expanded="false">
        <span class="id" style="display: none;">&nbsp;</span>
        <span class="text name" role="link">&nbsp;</span>
        <ul>
        </ul>
      </li>
    </ul>
  </div>
  <ul id="files_content" class="files_content" aria-label="<%= t('file_details', 'File details') %>">
  </ul>
</div>
<% unless showing_all_contexts %>
  <div style="float: left; font-size: 0.8em; margin-right: 1.0em;">
    <%= t :storage_used, "Storage Used: %{size1} out of %{size2}",
          :size1 => "<span id=\"quota_used\">#{number_to_human_size(@quota_used)}</span>".html_safe,
          :size2 => "<span id=\"quota\">#{number_to_human_size(@quota)}</span>".html_safe %>
  </div>
<% end %>
<div style="float: right; font-size: 0.8em; margin-right: 1.0em;">
  <% if showing_all_contexts %>
    <a href="<%= files_url %>"><%= t 'links.show_personal_files', "just show my personal files" %></a>
  <% else %>
    <a href="<%= files_url(:show_all_contexts => 1) %>"><%= t 'links.show_all_files', "see files for all your courses/groups" %></a>
  <% end %>
</div>
<div class="clear"></div>
<ul style="display: none;" id="content_templates">
  <li id="drag_n_drop_panel" class="drag_panel">
    <div class="header">
      <%= image_tag "file_upload.png" %> <%= t :drop_here, "Drop files here to add them to this folder." %>
      <div style="font-size: 0.8em;">
        <%= t :drop_zip_files, "You can also drop zip files and choose to extract their contents into this folder." %>
      </div>
    </div>
    <div class="clear"></div>
  </li>
  <li id="folder_panel" class="content_panel clearfix">
    <div class="header">
      <span class="name">&nbsp;</span>
      <span class="content">&nbsp;</span>
      <div class="breadcrumb">
      </div>
    </div>
    <div class="links">
      <a href="#" class="rename_item_link no-hover folder_url" title="<%= t 'links.rename_folder', "Rename this Folder" %>"><%= image_tag "edit.png" %></a>
      <a href="#" class="delete_item_link no-hover folder_url" title="<%= t 'links.delete_folder', "Delete this Folder" %>"><%= image_tag "delete.png" %></a>
      <div class="sub_links">
        <!-- replace "Add File" with "Add Files" flash button if possible -->
        <span id="file_uploads_link">&nbsp;</span>
        <a href="#" class="add_file_link" id="add_file_link"><%= t 'links.add_file', "Add File" %></a><span> | </span>
        <a href="#" class="add_folder_link"><%= t 'links.add_folder', "Add Folder" %></a>
        <span class="download_zip" style="padding-left: 5px;">
          <a href="#" class="download_zip_link no-hover" title="<%= t 'links.download_as_zip', "Download files in this folder as a zip" %>"><%= image_tag "inst_tree/file_types/page_white_zip.png" %></a>
        </span>
        <span class="upload_zip" style="padding-left: 5px;">
          <a href="#" class="upload_zip_link no-hover" title="<%= t 'links.import_zip', "Import a zip file" %>"><%= image_tag "file_upload.png" %></a>
        </span>
        <span class="edit_link" style="padding-left: 5px;">
          <a href="#" class="lock_item_link no-hover folder_url" title="<%= t 'links.lock_folder', "Lock this Folder" %>"><%= image_tag "lock.png" %></a>
          <a href="#" class="unlock_item_link no-hover folder_url" style="display: none;" title="<%= t 'links.unlock_folder', "Unlock this Folder" %>"><%= image_tag "unlock.png" %></a>
        </span>
      </div>
    </div>
    <div class="clear"></div>
    <div class="details">
      <div class="currently_locked_box">
        <%= image_tag "lock.png" %> <%= t 'descriptions.folder_locked', "This folder is locked and cannot be viewed by students." %>
        <span class="lock_until"><br/><%= t 'descriptions.folder_locked_until', "It is locked until %{unlock_at}.",
                                          :unlock_at => '<span class="unlock_at_string" style="font-weight: bold;">&nbsp;</span>'.html_safe %></span>
        <span class="lock_after"><br/><%= t 'descriptions.folder_locked_after', "It will be locked after %{lock_at}.",
                                          :lock_at => '<span class="lock_at_string" style="font-weight: bold;">&nbsp;</span>'.html_safe %></span>
        <%= image_tag "mime_types/locked.png", :class => 'locked', :style => "display: none;", :title => t('titles.folder_locked', "Locked"), :alt => t('alts.folder_locked', "locked") %>
      </div>
    </div>
  </li>
  <li class="folder_item folder clearfix">
    <div class="header">
      <%= image_tag "blank.png", :alt => '', :class => "item_icon" %>
      <a href="#" class="name">&nbsp;</a>
    </div>
    <div class="links">
      <span class="edit_link">
        <a href="#" class="lock_item_link no-hover folder_url" title="<%= t 'links.lock_folder', "Lock this Folder" %>"><%= image_tag "lock.png" %></a>
        <a href="#" class="unlock_item_link no-hover folder_url" style="display: none;" title="<%= t 'links.unlock_folder', "Unlock this Folder" %>"><%= image_tag "unlock.png" %></a>
      </span>
      <a href="#" class="rename_item_link no-hover"><%= image_tag "edit.png" %></a>
      <a href="#" class="delete_item_link no-hover"><%= image_tag "delete.png" %></a>
    </div>
    <div class="clear"></div>
  </li>
  <li class="folder_item file clearfix">
    <div class="header">
      <%= image_tag "blank.png", :alt => '', :class => "item_icon" %>
      <a href="#" class="name download_url">&nbsp;</a>
      <div class="sub_header">
        <span class="readable_size">&nbsp;</span>
        <a href="#" class="preview_item_link" aria-hidden="true" tabindex="-1"><%= t 'links.preview', "preview" %></a>
        <span class="edit_item_content_link_holder" style="padding-left: 10px;">
          <a href="#" class="edit_item_content_link"><%= t 'links.edit_content', "edit content" %></a>
        </span>
      </div>
    </div>
    <div class="links">
      <span class="edit_link">
        <a href="#" class="lock_item_link no-hover attachment_url" title="<%= t 'links.lock_file', "Lock this File" %>"><%= image_tag "lock.png" %></a>
        <a href="#" class="unlock_item_link no-hover attachment_url" style="display: none;" title="<%= t 'links.unlock_file', "Unlock this File" %>"><%= image_tag "unlock.png" %></a>
      </span>
      <a href="#" class="rename_item_link no-hover attachment_url" title="<%= t 'links.rename_file', "Rename this File" %>"><%= image_tag "edit.png" %></a>
      <a href="#" class="delete_item_link no-hover attachment_url" title="<%= t 'links.delete_file', "Delete this File" %>"><%= image_tag "delete.png" %></a>
    </div>
    <div class="clear"></div>
  </li>
  <li id="file_panel" class="content_panel clearfix">
    <div class="header">
      <a href="#" class="display_name download_item_link">&nbsp;</a> 
      <span class="display_name cant_download">&nbsp;</span>
      <span class="readable_size">&nbsp;</span>
      <div class="breadcrumb">
      </div>
    </div>
    <div class="links">
      <span class="edit_link">
        <a href="#" class="lock_item_link no-hover attachment_url" title="<%= t 'links.lock_file', "Lock this File" %>"><%= image_tag "lock.png" %></a>
        <a href="#" class="unlock_item_link no-hover attachment_url" style="display: none;" title="<%= t 'links.unlock_file', "Unlock this File" %>"><%= image_tag "unlock.png" %></a>
      </span>
      <a href="#" class="rename_item_link no-hover attachment_url" title="<%= t 'links.rename_file', "Rename this File" %>"><%= image_tag "edit.png" %></a>
      <a href="#" class="delete_item_link no-hover attachment_url" title="<%= t 'links.delete_file', "Delete this File" %>"><%= image_tag "delete.png" %></a>
      <div class="sub_links">
        <a href="#" class="download download_item_link"><%= t 'links.download_file', "Download this File" %></a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="details">
      <span class="cant_download" style="font-weight: bold;"><%= t :locked, "This file isn't unlocked yet, so it can't be downloaded." %></span>
      <div class="currently_locked_box">
        <%= image_tag "lock.png" %> <%= t :locked2, "This file is locked and cannot be downloaded by students." %>
        <span class="lock_until"><br/><%= t 'descriptions.file_locked_until', "It is locked until %{unlock_at}.",
                                          :unlock_at => '<span class="unlock_at_string" style="font-weight: bold;">&nbsp;</span>'.html_safe %></span>
        <span class="lock_after"><br/><%= t 'descriptions.file_locked_after', "It will be locked after %{lock_at}.",
                                          :lock_at => '<span class="lock_at_string" style="font-weight: bold;">&nbsp;</span>'.html_safe %></span>
        <%= image_tag "mime_types/locked.png", :class => 'locked', :style => "display: none;", :title => t('titles.file_locked', "Locked"), :alt => t('alts.file_locked', "locked") %>
      </div>
    </div>
  </li>
  <li class="file_preview_container">
  </li>
  <li class="file_image_preview" style="text-align: center; margin-top: 10px;">
    <a href="#" class="no-hover"><img src="" alt="<%= t 'alts.file_preview', 'preview' %>" title=""/></a>
  </li>
  <li class="file_media_preview" style="text-align: center; margin-top: 10px; font-size: 1.2em;">
    <div class="media_preview">
    </div>
    <a href="#"><%= t 'links.download_with_size', "download the file (%{size})", :size => '<span class="readable_size">&nbsp;</span>'.html_safe %></a>
  </li>
  <li class="file_no_preview" style="text-align: center; margin-top: 10px; font-size: 1.2em;">
    <%= t 'messages.no_preview_avaialble', "No Preview Available" %><br/>
    <a href="#"><%= t 'links.download_with_size', "download the file (%{size})", :size => '<span class="readable_size">&nbsp;</span>'.html_safe %></a>
  </li>
  <li id="groups_panel" class="content_panel">
    <div class="header">
      <a href="#" class="name category_name groups_link">&nbsp;</a> for <span class="name context_name">&nbsp;</span>
      <div class="breadcrumb">
      </div>
    </div>
    <div class="links">
      <div class="sub_links">
        <a href="#" class="groups_link">See all groups for <span class="context_name">&nbsp;</span></a>
      </div>
    </div>
    <div class="clear"></div>
  </li>
  <li class="folder_item file add_item clearfix" id="add_file_form">
    <%= form_for :attachment, :url => "#", :html => {:class => "add_file_form add_form"} do |f| %>
      <%= f.hidden_field :folder_id %>
      <div class="header">
        <%= image_tag "blank.png", :alt => '', :class => "item_icon" %>
        <%= f.file_field :uploaded_data, :title => "File to Upload" %>
      </div>
      <div class="clear"></div>
      <div class="loading_message" style="display: none;">
        <%= image_tag "ajax-loader-bar.gif" %>
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-small"><%= t 'buttons.add_a_file', 'Add File' %></button>
        <button type="button" class="btn btn button-secondary cancel_button"><%= t '#buttons.cancel', 'Cancel' %></button>
      </div>
    <% end %>
  </li>
  <li class="folder_item folder add_item clearfix" id="add_folder_form">
    <%= form_for :folder, :url => "#", :html => {:class => "form-inline add_folder_form add_form header"} do |f| %>
      <%= f.hidden_field :parent_folder_id %>
      <%= image_tag "blank.png", :alt => '', :class => "item_icon" %>
      <span class="name" style="display: none;">&nbsp;</span>
      <%= f.text_field :name, :maxlength => "255", :size => '30', :title => "Folder Name" %>
    <% end %>
    <div class="clear"></div>
  </li>
</ul>
<div style="display: none;" id="file_context_links">
  <input type="text" id="rename_entry_field" style="width: 200px;"/>
  <%= image_tag "ajax-loader.gif", :class => "preview_loading_image" %>
  <% @contexts.each do |context| %>
    <% root_url = context_url(context, :context_url) rescue '' %>
    <a href="<%= root_url %>/files.json" class="<%= context.asset_string %>_attachments_url">&nbsp;</a>
    <a href="<%= root_url %>/folders" class="<%= context.asset_string %>_folders_url">&nbsp;</a>
    <a href="<%= root_url %>/files/reorder" class="<%= context.asset_string %>_reorder_attachments_url">&nbsp;</a>
    <a href="<%= root_url %>/groups" class="<%= context.asset_string %>_groups_url">&nbsp;</a>
    <a href="<%= root_url %>/files/{{ id }}" class="<%= context.asset_string %>_attachment_url">&nbsp;</a>
    <a href="<%= root_url %>/folders/{{ id }}" class="<%= context.asset_string %>_folder_url">&nbsp;</a>
    <a href="<%= root_url %>/files/{{ id }}/download?wrap=1" class="<%= context.asset_string %>_download_attachment_url">&nbsp;</a>
    <a href="<%= root_url %>/files/{{ id }}/preview" class="<%= context.asset_string %>_preview_attachment_url">&nbsp;</a>
    <a href="<%= root_url %>/zip_file_imports" class="<%= context.asset_string %>_zip_import_url">&nbsp;</a>
    <a href="<%= context_url(context, :context_zip_file_import_url, "{{ id }}", :format => :json) %>" class="<%= context.asset_string %>_zip_import_status_url" style="display: none;">&nbsp;</a>
    <a href="<%= context_url(context, :context_file_inline_view_url, "{{ id }}") rescue '#' %>" class="<%= context.asset_string %>_inline_view_attachment_url">&nbsp;</a>
    <a href="<%= context_url(context, :context_import_files_url) rescue '#' %>" class="<%= context.asset_string %>_import_url">&nbsp;</a>
  <% end %>
</div>
<div id="edit_content_dialog" style="display: none;" title="<%= t 'titles.edit_file_contents', "Edit File Contents" %>">
  <a href="#" class="switch_views" style="display:none; float: right"><%= t('switch_views', "Switch Views") %></a>
  <h2><%= t 'titles.edit_file', "Edit %{file}", :file => '<span class="display_name">&nbsp;</span>'.html_safe %></h2>
  <div class="loading_message">
  </div>
  <div class="content">
    <textarea id="edit_content_textarea" style="width: 550px; height: 270px"></textarea>
    <div class="button-container">
      <div class="html_edit_warning alert" style="display: none;">
        <%= t('edit_html_warning', "The HTML editor alters your HTML, you should download a backup before saving changes.") %>
      </div>
    </div>
  </div>
</div>
<div style="display: none;" id="form_templates">
  <%= image_tag "blank.png", :alt => '', :id => "content_blank_icon" %>
  <%= image_tag "lock_for_file_folder.png", :id => "content_locked_icon" %>
<div id="lock_item_dialog" style="display: none;">
  <%= form_for :attachment, :url => "", :html => {:id => "lock_attachment_form", :method => :put} do |f| %>
    <%= image_tag "lock_closed.png", :style => "float: left;", :alt => "" %>
    <h4 style="margin: 0;"><%= t 'titles.lock_file', "Lock %{file_name}", :file_name => '<span class="name">&nbsp;</span>'.html_safe %></h4>
    <%= t 'descriptions.lock_file', "When a file is locked, only teachers and TAs can access it." %>
    <div class="clear"></div>
    <table style="margin-top: 10px;">
      <tr>
        <td style="vertical-align: top; padding-right: 5px;">
          <%= f.check_box :just_hide %> 
        </td><td colspan="2" style="padding-bottom: 10px; padding-top: 3px; font-size: 0.8em;">
          <%= f.label :just_hide, :just_hide_file, :en => "Let students download or view the file if I link to it, just don't show it in the file listings for students" %>
        </td>
      </tr>
      <tr class="full_lock">
        <td style="padding-bottom: 10px;">
          <%= f.check_box :locked, :class => 'lock_checkbox' %> 
        </td><td colspan="2" style="padding-bottom: 10px; padding-top: 10px; ">
          <%= f.label :locked, :en => "Lock until I manually unlock it" %>
        </td>
      </tr><tr class="lock_range full_lock">
        <td>&nbsp;</td>
        <td style="vertical-align: top; padding-left: 5px; padding-top: 6px; white-space: nowrap;"><%= before_label :lock_until, "Lock Until" %></td>
        <td>
          <%= f.text_field :unlock_at, :class => "datetime_field", :style => "width: 120px;" %>
        </td>
      </tr><tr class="lock_range full_lock">
        <td>&nbsp;</td>
        <td style="vertical-align: top; padding-left: 5px; padding-top: 6px; white-space: nowrap;"><%= before_label :lock_after, "Lock After" %></td>
        <td>
          <%= f.text_field :lock_at, :class => "datetime_field", :style => "width: 120px;" %>
        </td>
      </tr><tr>
        <td colspan="3">
          <div class="form-actions">
            <button type="button" class="btn cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
            <button type="submit" class="btn btn-primary"><%= t 'buttons.lock_file', "Lock this File" %></button>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
  <%= form_for :folder, :url => "", :html => {:id => "lock_folder_form", :method => :put} do |f| %>
    <%= image_tag "lock_closed.png", :style => "float: left;", :alt => "" %>
    <h4 style="margin: 0;"><%= t 'titles.lock_folder', "Lock %{folder_name}", :folder_name => '<span class="name">&nbsp;</span>'.html_safe %></h4>
    <%= t 'descriptions.lock_folder', "When a folder is locked, only teachers and TAs can access it." %>
    <div class="clear"></div>
    <table style="margin-top: 10px;">
      <tr>
        <td style="vertical-align: top; padding-right: 5px;">
          <%= f.check_box :just_hide %> 
        </td><td colspan="2" style="padding-bottom: 10px; padding-top: 3px; font-size: 0.8em;">
          <%= f.label :just_hide, :just_hide_folder, :en => "Let students download or view files in this folder if I link to them, just don't show it in the file listings for students" %>
        </td>
      </tr>
      <tr class="full_lock">
        <td style="padding-bottom: 10px;">
          <%= f.check_box :locked, :class => 'lock_checkbox' %> 
        </td><td colspan="2" style="padding-bottom: 10px; padding-top: 10px;">
          <%= f.label :locked, :en => "Lock until I manually unlock it" %>
        </td>
      </tr><tr class="lock_range full_lock">
        <td>&nbsp;</td>
        <td style="vertical-align: top; padding-left: 5px; padding-top: 6px; white-space: nowrap;"><%= before_label :lock_until, "Lock Until" %></td>
        <td>
          <%= f.text_field :unlock_at, :class => "datetime_field", :style => "width: 120px;" %>
        </td>
      </tr><tr class="lock_range full_lock">
        <td>&nbsp;</td>
        <td style="vertical-align: top; padding-left: 5px; padding-top: 6px; white-space: nowrap;"><%= before_label :lock_after, "Lock After" %></td>
        <td>
          <%= f.text_field :lock_at, :class => "datetime_field", :style => "width: 120px;" %>
        </td>
      </tr><tr>
        <td colspan="3">
          <div class="form-actions">
            <button type="button" class="btn cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
            <button type="submit" class="btn btn-primary"><%= t 'buttons.lock_folder', "Lock this Folder" %></button>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>
</div>
<% js_bundle 'legacy/files_full_index' %>
<div id="download_folder_files_dialog" style="display: none;">
  <%= image_tag "download.png" %> <%= mt 'messages.gathering_and_zipping', "**The contents of this folder are being gathered** and compressed
into a zip file.  This may take some time, depending on the size and number of files." %>
  <div class="progress" style="margin: 10px 5px;">
  </div>
  <div class="status_box" style="text-align: center;">
    <%= image_tag "ajax-loader-small.gif", :style => "visibility: hidden;", :class => "status_loader" %>&nbsp;<span class="status"><%= t 'messages.gathering_files', "Gathering Files..." %></span>
  </div>
</div>
<div id="duplicate_filename_dialog" style="display: none;">
  <span class="duplicate_filename_prompt"></span><br /><br />
  <span class="duplicate_filenames"></span><br /><br />
  <div class="buttons" style="text-align: right; width: 100%">
    <button type="button" class="btn btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
    <button type="button" class="btn rename_button"><%= t 'buttons.rename_duplicate_attachment', "Rename New Files" %></button>
    <button type="button" class="btn overwrite_button"><%= t 'buttons.overwrite_duplicate_attachment', "Overwrite" %></button>
  </div>
</div>
<% unless showing_all_contexts %>
  <a href="<%= context_url(@context.is_a?(UserProfile) ? @context.user : @context, :quota_context_files_url) %>" class="quota_url" style="display: none;">&nbsp;</a>
<% end %>
