<% content_for :page_title do %><%= @attachment.display_name %>: <%= @context.name %><% end %>
<% add_crumb @attachment.display_name, context_url(@context, :context_file_url, @attachment) %>
<% if @attachment.locked_for?(@current_user) %>
  <div style="margin: 10px 50px;">
    <% if @attachment.folder && @attachment.folder.locked? %>
      The folder "<%= @attachment.folder.name %>," which includes this file, has been locked.
    <% elsif @attachment.lock_at && Time.now > lock_at %>
      This file has been locked since <%= datetime_string(@attachment.lock_at) %>
    <% elsif @attachment.unlock_at && Time.now < @attachment.unlock_at %>
      This file is set to be unlocked <%= datetime_string(@attachment.unlock_at) %>
    <% else %>
      This file has not been unlocked yet.
    <% end %>
  </div>
<% else %>
  <% if @attachment.inline_content? %>
    <% jammit_js :file_inline %>
    <iframe id="file_content" src="<%= safe_domain_file_url(@attachment) %>" style="width: 100%; height: 400px;"></iframe>
  <% elsif @attachment.content_type && @attachment.content_type.match(/\Aimage\//) %>
    <h2><%= @attachment.display_name %></h2>
    <%= link_to(image_tag(@attachment.cacheable_s3_url, :alt => @attachment.display_name), @attachment.cached_s3_url) %>
  <% else %>
    <h2><%= @attachment.display_name %></h2>
    <span style="font-size: 1.2em;">
      <%= link_to "Download #{@attachment.filename}", @attachment.cacheable_s3_url %>
    </span> (<%= @attachment.readable_size %>)
    <% if @attachment.scribdable? && @attachment.scribd_doc %>
      <div id="scribd_preview" data-doc-id="<%= @attachment.scribd_doc.doc_id %>" data-access-key="<%= @attachment.scribd_doc.access_key %>"></div>
    <% end %>
  <% end %>
<% end %>
<%= render :partial => 'shared/sequence_footer', :locals => {:asset => @attachment} %>
<% js_block do %>
<script>
$(document).ready(function() {
  var $preview = $("#scribd_preview");
  if($preview.length) {
    var sd = scribd.Document.getDoc( $preview.attr('data-doc-id'), $preview.attr('data-access-key'));
    $.each({
        'jsapi_version': 1,
        'disable_related_docs': true,
        'height' : '400px'
      }, function(key, value){
        sd.addParam(key, value);
    });
    sd.write($preview.attr('id'));
  }
});
</script>
<% end %>
