<html>
  <head>
    <style>
      <%= log_message_formatter.generate_stylesheet %>
    </style>
  </head>
  <body style="font-family:sans-serif;line-height:1.25;font-size:14px">
    <h1><%= meta[:full_description] %></h1>

    <code><b>bin/rspec <%= meta[:location] %></b></code>

    <h2>Ruby Error</h2>
    <pre style="overflow:auto; max-height: 300px;">
  <b><%= exception.class.name %> <%= exception.message %></b>
  <%= exception.backtrace.join("\n") %>
    </pre>

    <% if js_errors.present? %>
      <h2>JS Errors</h2>
      <ul>
        <% js_errors.each do |error| %>
          <li><%= error["errorMessage"] %> (<%= error["sourceName"] %>:<%= error["lineNumber"] %>)
        <% end %>
      </ul>

    <% end %>

    <h2>Rails Log</h2>
    <pre style="overflow:auto; max-height: 300px;">
<%= log_message_formatter.generate.html_safe %>
    </pre>

    <h2>Previous Spec Runs</h2>
    <pre style="overflow: auto; max-height: 300px;">(newest)
<%= recent_spec_runs.reverse.map do |run|
  if run[:pending]
    result = ' (pending)'
  elsif run[:exception]
    result = ' (failed)'
  else
    result = ''
  end

  "#{run[:location]}#{result}"
end.join("\n") %>
(oldest)</pre>

    <h2>Screenshot</h2>
    <img style="border:1px solid #000" src="./<%= screenshot_name %>" />
  </body>
</html>
