<html>
  <head>
    <style>
      <%= log_message_formatter.generate_stylesheet %>
    </style>
  </head>
  <body style="font-family:sans-serif;line-height:1.25;font-size:14px">
    <h1><%= data[:meta][:full_description] %></h1>

    <code><b>bin/rspec <%= data[:meta][:location] %></b></code>

    <h2>Ruby Error</h2>
    <pre style="overflow:auto; max-height: 300px;">
  <b><%= data[:exception].class.name %> <%= data[:exception].message %></b>
  <%= data[:exception].backtrace.join("\n") %>
    </pre>

    <% if data[:js_errors].present? %>
      <h2>JS Errors</h2>
      <ul>
        <% data[:js_errors].each do |error| %>
          <li><%= error["errorMessage"] %> (<%= error["sourceName"] %>:<%= error["lineNumber"] %>)
        <% end %>
      </ul>

    <% end %>

    <h2>Rails Log</h2>
    <pre style="overflow:auto; max-height: 300px;">
<%= log_message_formatter.generate.html_safe %>
    </pre>

    <h2>Previous Spec Runs</h2>
    <pre style="overflow: auto; max-height: 300px;">(newest)
<%= recent_spec_runs.reverse.map do |run|
  if run[:pending]
    result = ' (pending)'
  elsif run[:exception]
    result = ' (failed)'
  else
    result = ''
  end

  "#{run[:location]}#{result}"
end.join("\n") %>
(oldest)</pre>
    <% if !include_recordings? && (capture_screenshots? || capture_video?) %>
      /o\ Screenshot and screen capture skipped because we had too many failures this run
      (this was failure #<%= SeleniumDriverSetup.number_of_failures %>)
    <% end %>

    <% if data[:screen_capture_name] %>
      <h2>Screen Capture</h2>
      <a href="./<%= data[:screen_capture_name] %>">here</a>
    <% end %>

    <% if data[:screenshot_name] %>
      <h2>Screenshot</h2>
      <img style="border:1px solid #000" src="./<%= data[:screenshot_name] %>" />
    <% end %>
  </body>
</html>

