<%
  jammit_css :login
  jammit_js :user_sortable_name
  @headers = false
  @body_classes << "modal"
  content_for :page_title, t(:page_title, "Register %{email}", :email => @communication_channel.path)
%>

<div id="modal-box-top"></div>
<div id="modal-box-arbitrary-size">
  <h2><%= t 'titles.welcome_aboard', "Welcome aboard!" %></h2>
  <% js_block do %>
    <script>
      $(function() {
        var $registration_form = $('#registration_confirmation_form');
        var $disambiguation_box = $('.disambiguation_box');
        $('.button#back').click(function(event) {
          $disambiguation_box.slideDown();
          $registration_form.slideUp();
          event.preventDefault();
        });
        $('.button#register').click(function(event) {
          $disambiguation_box.slideUp();
          $registration_form.slideDown();
          event.preventDefault();
        });

        var $merge_link = $('.button#merge');
        $('input:radio[name="pseudonym_select"]').change(function() {
          $merge_link.attr('href', $('input:radio[name="pseudonym_select"]:checked').attr('value'));
        });
      });
    </script>
  <% end %>
  <% if @current_user && @current_user != @user && @user.registered? && @enrollment %>
    <p><%= mt 'details.wrong_account', "The invitation for %{course} was sent to **%{invited_user}**, but you are currently logged in as **%{current_user}**", :course => @course.name, :invited_user => @user.name, :current_user => @current_user.name %></p>
    <div class="button_box">
      <a href="<%= registration_confirmation_path(@communication_channel.confirmation_code, :enrollment => @enrollment.uuid, :transfer_enrollment => 1) %>" class="button" id='transfer'><%=  t 'buttons.transfer_enrollment', "Transfer Enrollment" %></a>
      <a href="<%= login_url(:enrollment => @enrollment.uuid, :pseudonym_session => { :unique_id => @user.pseudonym.try(:unique_id) }, :expected_user_id => @user.id) %>" class="button" id="login"><%=  t 'buttons.login_as', "Login as %{invited_user}", :invited_user => @user.name %></a>
    </div>
  <% elsif !@merge_opportunities.empty? %>
    <div class="disambiguation_box"<%= ' style="display: none;"'.html_safe if params[:register] %>>
      <% if @merge_opportunities.length == 1 && (@user.registered? || !@current_user || @current_user.communication_channels.active.email.by_path(@communication_channel.path).first) %>
        <p><% if @enrollment %>
          <%= mt 'details.account_exists_course', "The invitation for %{course} was sent to **%{email}**. An account already exists for this email address. Would you like to use this account?", :course => @course.name, :email => @communication_channel.path %>
        <% elsif @user.registered? %>
          <%= mt 'details.merge_one', "Would you like to combine **%{current_user}** and **%{other_user}**?", :current_user => friendly_name(@user, @merge_opportunities), :other_user => friendly_name(@merge_opportunities.first.last.find { |p| p.account == @root_account } || @merge_opportunities.first.last.first, @merge_opportunities) %>
        <% else %>
          <%= mt 'details.account_exists', "An account already exists for **%{email}**. Would you like to use this account?", :email => @communication_channel.path %>
        <% end %></p>
        <% if !@current_user && @merge_opportunities.first.last.length > 1 %>
          <p><strong><%=  t 'details.choose_login', "Select where you would like to login at." %></strong></p>
          <ul>
            <% @merge_opportunities.first.last.each_with_index do |pseudonym, i| %>
              <li><input type="radio" name="pseudonym_select" value="<%= merge_or_login_link(pseudonym) %>"<%= ' checked="checked"' if i == 0 %>>&nbsp;<%= pseudonym.account.name %> (<%= pseudonym.unique_id %>)</li>
            <% end %>
          </ul>
        <% end %>
        <div class="button_box">
          <% if @pseudonym %><a href="#" class="button" id="register"><%= t 'buttons.new_account', 'New Account' %></a><% end %>
          <a href="<%= merge_or_login_link(@merge_opportunities.first.last.first) %>" class="button not_external" id="merge"><%= @user.registered? ? t('buttons.merge', "Combine") : t('buttons.use_this_account', "Use This Account") %></a>
        </div>
      <% elsif @merge_opportunities.length == 1 && @current_user %>
        <p><% if @enrollment %>
          <%= mt 'details.logged_in_other_user_course', "The invitation for %{course} was sent to **%{email}**, but you are currently logged in as **%{user}**.", :course => @course.name, :email => @communication_channel.path, :user => (@current_pseudonym && @current_pseudonym.user == @current_user ? @current_pseudonym : @current_user.pseudonym).unique_id %>
        <% else %>
          <%= mt 'details.logged_in_other_user', "**%{email}** is a new account, but you are currently logged in as **%{user}**.", :email => @communication_channel.path, :user => (@current_pseudonym && @current_pseudonym.user == @current_user ? @current_pseudonym : @current_user.pseudonym).unique_id %>
        <% end %></p>
        <p><strong><%=  t 'details.add_email', "Would you like to add this email address to your current account?" %></strong></p>
        <div class="button_box">
          <a href="#" class="button" id="register"><%= t 'buttons.new_account', 'New Account' %></a>
          <a href="<%= registration_confirmation_path(@communication_channel.confirmation_code, :enrollment => @enrollment.try(:uuid), :confirm => 1) %>" class="button" id='merge'><%=  t 'buttons.add_email_address', "Add Email Address" %></a>
        </div>
      <% else %>
        <p><% if @enrollment %>
          <%= mt 'details.multiple_accounts_course', "The invitation for %{course} was sent to **%{email}**. There are %{count} accounts with this email address.", :course => @course.name, :email => @communication_channel.path, :count => @merge_opportunities.length %>
          <p><strong><%= t 'details.choose_account', "Select the account you would like to use." %></strong></p>
        <% elsif @user.registered? %>
          <%= mt 'details.merge_multiple', "Select the account you would like to combine with **%{current_user}**.", :current_user => friendly_name(@user, @merge_opportunities) %>
        <% else %>
          <%= mt 'details.multiple_accounts', "There are %{count} accounts with the email address **%{email}**.", :email => @communication_channel.path, :count => @merge_opportunities.length %>         <p><strong><%= t 'details.choose_account', "Select the account you would like to use." %></strong></p>
        <% end %></p>
        <ul>
          <% @merge_opportunities.each_with_index do |(user, pseudonyms), i| %>
            <% if pseudonyms.length == 1 || user == @current_user %>
              <li><span class="radio_spacer"><input type="radio" name="pseudonym_select" value="<%= merge_or_login_link(pseudonyms.first) %>"<%= ' checked="checked"' if i == 0 %> /></span><%= friendly_name(pseudonyms.first, @merge_opportunities) %></li>
            <% else %>
              <li><span class="radio_spacer"></span><%= user.name %>
                <ul>
                  <% pseudonyms.each_with_index do |pseudonym, j| %>
                    <li><span class="radio_spacer"><input type="radio" name="pseudonym_select" value="<%= merge_or_login_link(pseudonym) %>"<%= ' checked="checked"' if i == 0 && j == 0 %> /></span><%= pseudonym.account.name %> (<%= pseudonym.unique_id %>)</li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="button_box">
          <% if @pseudonym %><a href="#" class="button" id="register"><%= t 'buttons.new_account', 'New Account' %></a><% end %>
          <a href="<%= merge_or_login_link(@merge_opportunities.first.last.first) %>" class="button not_external" id="merge"><%= @user.registered? ? t('buttons.merge', "Combine") : t('buttons.use_this_account', "Use This Account") %></a>
        </div>
      <% end %>
    </div>
  <% elsif @enrollment && @pseudonym %>
    <div class="disambiguation_box"<%= ' style="display: none;"'.html_safe if params[:register] %>>
      <p><%= mt 'details.account_needed', "You've been invited to join **%{course}**. To accept this request you need a Canvas account. Click the link below to create a Canvas account.", :course => @course.name %></p>
      <div class="button_box">
        <a href="<%= login_url(:host => HostUrl.context_host(@root_account, @account_domain), :confirm => @communication_channel.confirmation_code, :enrollment => @enrollment.uuid) %>" class="button"><%=  t 'buttons.have_account', "I Have a Canvas Account" %></a>
        <a href="#" class="button" id="register"><%= t 'buttons.create_account', 'Create My Account' %></a>
      </div>
    </div>
  <% end %>

  <% if @pseudonym %>
    <% form_for :pseudonym, :url => registration_confirmation_url(@communication_channel.confirmation_code, :enrollment => @enrollment.try(:uuid)), :html => {:id => "registration_confirmation_form", :style => ((!@merge_opportunities.empty? || @enrollment) && !params[:register]) ? hidden : '' } do |form| %>
      <p><%= if @enrollment
          mt 'details.register_with_course', "In order to finish signing you up for the course **%{course}**, we'll need a few more pieces of information.", :course => @course.name
        else
          t 'details.register', "In order to finish signing you up, we'll need a few more pieces of information."
        end %></p>
      <%= (error_messages_for :object => [@user, @pseudonym], :header_message => nil).gsub("Unique", "Login") %>
      <input type="hidden" name="register" value="1"/>
      <table class="formtable">
        <tr>
          <td><%= form.blabel :unique_id, :en => "Email Address" %></td>
          <td>
            <%= form.text_field :unique_id %>
            <div style="font-size: 0.8em;"><%= t 'tips.login', "This is the email address you will use to login." %></div>
          </td>
        </tr>
        <tr>
          <td><%= blabel :user, :name, :en => "Full Name" %></td>
          <td>
            <%= text_field :user, :name, :value => @user.name %>
            <div style="font-size: 0.8em;"><%= t 'tips.name', "Teachers will use this name for grading." %></div>
          </td>
        </tr><tr>
          <td><%= blabel :user, :short_name, :en => "Short Name" %></td>
          <td>
            <%= text_field :user, :short_name, :value => @user.short_name %>
            <div style="font-size: 0.8em;"><%= t 'tips.short_name', "People will see this name in discussions, messages and comments." %></div>
          </td>
        </tr><tr>
          <td><%= blabel :user, :sortable_name, :en => "Sortable Name" %></td>
          <td>
            <%= text_field :user, :sortable_name, :value => @user.sortable_name %>
            <div style="font-size: 0.8em;"><%= t 'tips.sortable_name', "This name appears in sorted lists." %></div>
          </td>
        </tr><tr>
          <td><%= blabel :user, :time_zone, :en => "Time Zone" %></td>
          <td><%= time_zone_select :user, :time_zone, ActiveSupport::TimeZone.us_zones, :default => ((@pseudonym.account.default_time_zone) || "Mountain Time (US & Canada)"), :value => @user.time_zone %></td>
        </tr><tr>
          <td><%= form.blabel :password, :en => "Password" %></td>
          <td><%= form.password_field :password, :value => '' %></td>
        </tr><tr>
          <td><%= form.blabel :password_confirmation, :en => "Confirm Password"%></td>
          <td><%= form.password_field :password_confirmation, :value => '' %></td>
        </tr>
        <% if @pseudonym.account == Account.default %>
          <tr>
            <td colspan="2">
              <%= check_box :user, :subscribe_to_emails, :checked => true %>
              <%= label :user, :subscribe_to_emails, :en => "I want to receive information, news and tips from Instructure" %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class='button_box'>
        <% unless @merge_opportunities.empty? %>
          <a href="#" class="button" id="back"><%= t 'buttons.back', "Back" %></a>
        <% end %>
        <button type="submit" class="button"><%= t 'buttons.register', "Register" %></button>
      </div>
    <% end %>
  <% end %>

</div>
<div id="modal-box-bottom"></div>

<% js_block :i18n_scope => 'pseudonyms.regisration_confirmation' do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#registration_confirmation_form :text:first").focus().select();
  $("#registration_confirmation_form").submit(function(event) {
    var data = $(this).getFormData();
    success = true;
    if(!data['user[name]']) {
      $(this).formErrors({
        'user[name]': I18n.t('errors.user_name_required', "User name is required")
      });
      success = false;
    } else if(!data['user[short_name]']) {
      $(this).formErrors({
        unique_id: I18n.t('errors.short_name_required', "Short name is required")
      });
      success = false;
    } else if(!data["pseudonym[password]"] || !data["pseudonym[password]"].length) {
      $(this).formErrors({
        "pseudonym[password]": I18n.t('errors.password_required', "Password required")
      });
      success = false;
    } else if(data["pseudonym[password]"].length < 6) {
      $(this).formErrors({
        "pseudonym[password]": I18n.t('errors.password_too_short', "Password too short")
      });
      success = false;
    } else if(data["pseudonym[password]"] != data["pseudonym[password_confirmation]"]) {
      $(this).formErrors({
        "pseudonym[password_confirmation]": I18n.t('errors.passwords_dont_match', "Passwords don't match")
      });
      success = false;
    }
    return success;
  });
});
</script>
<% end %>
