<% content_for :page_title do %>Claim Email Address<% end %>

<% content_for :page_header do %>
  <h1>Claim Email Address</h1>
<% end %>

<% content_for :page_subhead do %>
  <h2><%= @cc.path %></h2>
<% end %>

<div style="width: 500px; margin: 10px auto;">
  <h2>Claim Email Address</h2>
  <table style="margin-bottom: 10px;">
    <tr>
      <td style="font-size: 0.9em; padding: 5px 10px 20px 20px;">Email Address:</td>
      <td colspan="2" style="font-weight: bold; padding-bottom: 20px;"><%= @cc.path %></td>
    </tr>
    <tr>
      <td style="font-size: 0.9em; padding: 5px 10px 5px 20px;">You're logged in as:</td>
      <td class="nobr" style="font-weight: bold;"><%= @current_user.name %></td>
      <td style="font-size: 0.8em; padding-left: 5px;"><span class="nobr">id: <%= @current_user.id %></span></td>
    </tr>
    <tr>
      <td style="font-size: 0.9em; padding: 5px 10px 5px 20px;">The email address<br/>currently belongs to:</td>
      <td class="nobr" style="font-weight: bold; vertical-align: middle;"><%= @cc.user.name %></td>
      <td style="font-size: 0.8em; padding-left: 5px; vertical-align: middle;"><span class="nobr">id: <%= @cc.user_id %></span></td>
    </tr>
  </table>
  <p>
  <% if @cc.user.communication_channels.email.unretired.count == 1 %>
    The user only has one email address, so to add it to your
    account you will have to merge this user into your account.  Do
    you want to do that?
  <% elsif @cc.user.pseudonyms.all?{|p| p.never_logged_in?} %>
    You can either transfer the email address 
    to your account or merge the entire user into your account.
    Which would you like to do?
  <% else %>
    Do you want to transfer the email address to your account?
  <% end %>
  </p>

  <% form_for @cc, :url => communication_channel_merge_path(@cc, @cc.confirmation_code), :html => {:style => "width: 100%;"} do |f| %>
    <% if @cc.user.communication_channels.email.unretired.count == 1 %>
      <div class="button-container nobr">
        <button name="communication_channel[event]" value="merge_users" type="submit" class="button">Merge User Accounts</button>
        <a href="<%= dashboard_path %>" class="button button-secondary">Never Mind</a>
      </div>
    <% elsif @cc.user.pseudonyms.all?{|p| p.never_logged_in?} %>
      <div class="button-container nobr">
        <button name="communication_channel[event]" value="claim_channel" type="submit" class="button">Claim the address<br/><%= @cc.path %></button>
        <button name="communication_channel[event]" value="merge_users" type="submit" class="button">Merge User<br/>Accounts</button>
        <a href="<%= dashboard_path %>" class="button button-secondary">Never Mind</a>
      </div>
    <% else %>
      <div class="button-container nobr">
        <button name="communication_channel[event]" value="claim_channel" type="submit" class="button">Claim the address<br/><%= @cc.path %></button>
        <a href="<%= dashboard_path %>" class="button button-secondary">Never Mind</a>
      </div>
    <% end %>
  <% end %>
</div>