<% alert ||= Alert.new; alert_counter ||= -1 %>
<% if alert_counter > 0 %>
  <div class="alert_separator"></div>
<% end %>
<% alert_counter = '{{id}}' if alert_counter == -1 %>
<%= form_for [@context, alert], :html => { :class => "alert displaying #{'blank' if alert.new_record?}" } do |f| %>
  <div class="links">
    <a href="#" class="displaying edit_link no-hover" title="<%= t('links.title.edit_alert', %{Edit alert}) %>"><i class="icon-edit"></i></a>
    <a href="#" class="delete_link no-hover" title="<%= t('links.title.delete_alert', %{Delete this alert}) %>"><i class="icon-trash"></i></a>
  </div>

  <div class="labelled_region">
    <span class="alert-label"><%= before_label :criteria, "Trigger an alert when" %></span>
    <ul class="criteria"></ul>
    <div class="add_criteria_line editing">
      <select title="<%= t :criteria, "Trigger an alert when" %>"></select>
      <a href="#" class="add_criterion_link icon-add" title="<%= t('Add Trigger') %>" aria-label="<%= t('Add Trigger') %>"><%= t 'buttons.add_criterion', "Trigger" %></a>
    </div>
  </div>

  <div class="labelled_region">
	  <span class="alert-label"><%= before_label :recipients, "Send a notification to" %></span>
	  <ul class="recipients"></ul>
	  <div class="add_recipients_line editing">
	    <select title="<%= t :recipients, "Send a notification to" %>"></select>
      <a href="#" class="add_recipient_link icon-add" title="<%= t('Add Recipient') %>" aria-label="<%= t('Add Recipient') %>"><%= t 'buttons.add_recipient', "Recipient" %></a>
	  </div>
  </div>

  <div class="labelled_region">
    <span class="alert-label"><%= before_label :repetition, "Repetition" %></span>
    <div class="repetition_group">
      <input type="radio" class="editing" name="repetition" value="none" checked="checked" id="repetition_none_<%= alert_counter %>" /> <label for="repetition_none_<%= alert_counter %>" class="no_repetition"><%= t('no_repetition_description', "Do not re-send alert") %></label><br class="editing"/>
      <input type="radio" class="editing" name="repetition" value="value" id="repetition_repetition_<%= alert_counter %>" /> <label for="repetition_repetition_<%= alert_counter %>" class="repetition" style="display:none;"><%= t('repetition_description', "Re-send alert every %{count} days until resolved", :count => "<span class='displaying'></span><input type='text' name='alert[repetition]' class='editing' size='2' />".html_safe) %></label>
    </div>
  </div>

  <div class="form-actions">
    <button class="editing Button cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
    <button type="submit" class="editing Button Button--primary submit_button"><%= t('buttons.save_alert', "Save Alert") %></button>
  </div>
<% end %>
