<header class="entry-header discussion-section admin-link-hover-area clearfix {{#if collapsable}}collapsable{{/if}}" {{#if collapsable}}data-event="toggleCollapsed"{{/if}}>
{{#if collapsable}}
<a href="#"
    id="collapse-discussion"
    class="collapsable"
    role="button"
    title="{{#t "collapsible_subdiscussion"}}Collapse Subdiscussion{{/t}}"
    data-event="toggleCollapsed">
    <span class="screenreader-only"></span>
</a>
{{/if}}
  {{#unless hiddenName}}
    {{>avatar author}}
  {{/unless}}
  <div class="discussion-header-content right-of-avatar">
    <div class="pull-left span4">
      <h2 class="discussion-title">
          {{#if hiddenName}}
            <span>{{hiddenName}}</span>
          {{else}}
            <a
            {{#if author}}
              class="author"
              {{#if author.html_url}}
                href="{{author.html_url}}"
                data-bypass
              {{/if}}
              {{#if author.url}}
                  href="{{author.url}}"
              {{/if}}
              title="{{#t "authors_name"}}Author's name{{/t}}">{{author.display_name}}
            {{else}}
              class="author unknown"
              >{{#t "unknown_author"}}>Unknown Author{{/t}}
            {{/if}}
          {{/if}}
        </a>
      </h2>
      <div class="discussion-pubdate hide-if-collapsed">{{friendlyDatetime created_at pubdate=true contextSensitive=true}}</div>
      <div class="show-if-collapsed discussion-subtitle summary ellipsis">{{summary}}</div>
    </div>
    <div class="admin-links hide-if-collapsed">
      <a role="button" class="al-trigger dim-till-hover" href="#"><i
          class="icon-settings standalone-icon"></i><i class="icon-mini-arrow-down standalone-icon"></i><span
          class="screenreader-only">{{#t "manage_discussion_entry"}}Manage Discussion Entry{{/t}}</span></a>
      <ul class="al-options">
        {{#if parent_id}}
          <li><a data-pushstate href="#entry-{{parent_id}}"><i class="icon-replied"></i> {{#t "go_to_parent"}}Go To Parent{{/t}}</a></li>
        {{else}}
          <li><a href="#topic" data-pushstate><i class="icon-discussion"></i> {{#t "go_to_topic"}}Go To Topic{{/t}}</a></li>
        {{/if}}
        {{#if canModerate}}
          <li><a data-event="edit" href="#"><i class="icon-edit"></i> {{#t "edit"}}Edit{{/t}}</a></li>
          <li><a data-event="remove" href="#"><i class="icon-trash"></i> {{#t "delete"}}Delete{{/t}}</a></li>
        {{/if}}
        {{#if speedgraderUrl}}
          <li><a href="{{speedgraderUrl}}"><i class="icon-check"></i> {{#t "open_in_speedgrader"}}Open in SpeedGrader{{/t}}</a></li>
        {{/if}}
      </ul>
    </div>
    <div class="discussion-header-right">
      <div class="headerBadges show-if-collapsed"></div>
    </div>
  </div>
</header>
<div class="discussion-section message_wrapper hide-if-collapsed">
  <span class="message-notification" data-bind="messageNotification"></span>
  <div data-bind="message" class="message user_content">{{convertApiUserContent message}}</div>
  {{#if editor}}
    <div class="discussion-fyi">{{#t "edited_comment"}}Edited by <a {{editor_href}}>{{editor.display_name}}</a> on {{edited_at}}{{/t}}</div>
  {{/if}}
  {{#if attachments}}
    <div class="comment_attachments">
      {{#each attachments}}
        <div><a href="{{url}}" class="{{mimeClass content-type}}" title="{{filename}}">{{display_name}}</a></div>
      {{/each}}
    </div>
  {{/if}}
</div>
{{#if inlineReplyLink}}
<div class="entry-controls hide-if-collapsed hide-if-replying">
  <div class="notification" data-bind="notification"></div>
  <a class="discussion-reply-action entry-control"
     data-event="addReply"
     href="#">
    <i class="icon-replied"></i>
    <span aria-hidden="true">{{#t "write_a_reply"}}Reply{{/t}}</span>
    <span class="screenreader-only">{{#t}}Reply to Comment{{/t}}</span>
  </a>
</div>
{{/if}}
