<% context_message ||= nil; show_context ||= false; brief ||= false %>
<% context ||= context_message.try_rescue(:context) || @context || Course.first %>
<% show_mark_as_read ||= false %>
<% message_read = context_message && context_message.read?(@current_user) %>
<div class="<%= 'read' if message_read && show_mark_as_read %> communication_message context_message context_message_<%= context_message ? context_message.id : "blank" %> for_<%= context.asset_string %>" style="<%= hidden unless context_message %>" id="context_message_<%= context_message ? context_message.id : "blank" %>">
  <% if !brief && context_message %><a name="message_<%= context_message.id %>"></a><% end %>
  <div class="header">
    <% if !brief %>
    <div class="link_box">
      <span class="links">
        <span class="author_id user_id" style="display: none;"><%= context_message.try_rescue(:user_id) || nbsp %></span>
        <span class="context_code" style="display: none;"><%= context.asset_string %></span>
        <a href="<%= context_url(context, :context_roster_message_url, context_message ? context_message.id : "{{ id }}") %>" class="mark_as_read_link no-hover" style="<%= hidden unless show_mark_as_read %>"><%= image_tag "check.png", :alt => "Mark as Read", :title => "Mark as Read" %></a>
        <a href="<%= context_message_reply_path(context_message ? context_message.id : "{{ id }}") %>" class="reply_link no-hover" style="<%= hidden unless can_do(context, @current_user, :send_messages) %>"><%= image_tag "reply.png", :alt => "Reply", :title => (context_message && context_message.user_id == @current_user.id ? "Reply to Recipients" : "Reply to Sender") %></a>
      </span>
    </div>
    <% end %>
    <div class="post_date created_at time_ago_date"><%= datetime_string(context_message.try_rescue(:created_at)) || nbsp %></div>
    <div class="header_title">
      <%= image_tag "email_big.png", :class => "header_icon topic_icon", :alt => "email", :title => "Email Message", :style => brief ? "width: 20px;" : "" %>
      <% if brief %>
        <a href="<%= context_url(context, :context_users_url, :all_messages => 1) %>#message_<%= context_message ? context_message.id : 'none' %>" class="title subject"><%= context_message.try_rescue(:subject) || "No Title" %></a>
      <% else %>
        <span class="title subject"><%= context_message.try_rescue(:subject) || "No Title" %></span>
      <% end %>
      <span class="root_context_message_id" style="display:none"><%= context_message ? context_message.root_context_message_id || context_message.id : '' %></span>
      <div class="sub_title" style="margin-left: 45px; line-height: 1em;">
        <span style="padding-left: 10px; <%= hidden unless show_context %>"><%= context.try_rescue(:short_name) %></span>
        <a href="<%= context_url(context, :context_user_url, context_message ? context_message.user_id : '{{ user_id }}') %>" class="user_name sender_name"><%= context_user_name(context, context_message.try_rescue(:user_id)) %></a>
        <span class="user_name">
        to 
        <% single_recipient = context_message && context_message.recipients.length == 1 %>
          <a style="<%= hidden unless single_recipient %>" href="<%= context_url(context, :context_user_url, context_message && !context_message.recipient_users.empty? ? context_message.recipient_users.first.id : "{{ recipient_id }}") %>" class="single_recipient_link recipient_name"><%= context_user_name(context, context_message.try_rescue(:recipient_users).try_rescue(:first)) || nbsp %></a>
          <a style="<%= hidden if single_recipient %>" href="#" class="show_recipients_link multiple_recipient_link"><span class="users_count"><%= context_message.try_rescue(:recipients).try_rescue(:length) || "0" %></span> Recipients</a>
        </span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="inner_content">
      <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar(context_message.try_rescue(:user_id), context.asset_string) %></div>
      <div class="message user_content formatted_body"><%= user_content(context_message.try_rescue(:formatted_body), context.asset_string, context_message.try_rescue(:asset_string)) || nbsp %></div>
      <div class="media_comment user_content">
        <a href="#" class="instructure_inline_media_comment audio_playback no-underline"><span class="media_comment_id" style="display: none;"><%= context_message.try_rescue(:media_comment_id) %></span>&nbsp;</a>
      </div>
      <div class="course_id" style="display: none;"><%= context.id if context && context.is_a?(Course) %></div>
      <div class="attachments_list" style="margin-top: 5px; <%= hidden unless context_message && !context_message.attachments.empty? %>">
        <% (context_message.try_rescue(:attachments) || []).each do |attachment| %>
          <div class="attachment">
            <a href="<%= context_url(context, :context_roster_message_attachment_url, context_message.id, attachment.id) %>" class="download"><%= attachment.display_name %> - <%= attachment.readable_size %></a>
          </div>
        <% end %>
        <div class="attachment_blank" style="display: none;">
          <a href="<%= context_url(context, :context_roster_message_attachment_url, (context_message ? context_message.id : "{{ id }}"), "{{ attachment_id }}") %>" class="download"><span class="display_name">&nbsp;</span> - <span class="readable_size">&nbsp;</span></a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <% if message_read && show_mark_as_read %>
    <div class="show_message_body">
      <a class="show_message_body_link" href="#">show full message</a>
    </div>
  <% end %>
  <div style="margin: 5px; <%= hidden if (context_message.try_rescue(:recipients).try_rescue(:length) == 1) %>">
    <% if brief %>
      <a href="<%= context_url(context, :context_users_url, :all_messages => 1) %>#message_<%= context_message ? context_message.id : 'none' %>" class="show_recipients_link"><span class="users_count"><%= context_message.try_rescue(:recipients).try_rescue(:length) || "0" %></span> Recipients</a>
    <% else %>
      <a href="#" class="_show_recipients_link _multiple_recipient_link" style="<%= hidden if true || (context_message && context_message.recipient_users.length <= 1) %>"><span class="users_count"><%= context_message.try_rescue(:recipients).try_rescue(:length) || "0" %></span> Recipients</a>
      <div class="recipients_list_holder" style="display: none;">
        <h3><span class="users_count"><%= context_message.try_rescue(:recipients).try_rescue(:length) || "0" %></span> Recipients</h3>
        <% if can_do(context, @current_user, :manage_students) || !context_message.try_rescue(:protect_recipients) %>
          <ul class="recipients_list">
            <% (context_message.try_rescue(:recipient_users) || []).each do |user| %>
              <li class="recipient">
                <a href="<%= context_url(context, :context_user_url, user.id) %>" class="user_name"><%= context_user_name(context, user) %></a><br/>
                <span class="id" style="display: none;"><%= user.id %></span>
              </li>
            <% end %>
            <li class="recipient recipient_blank" style="display: none;">
              <a href="<%= context_url(context, :context_user_url, '{{ recipient_id }}') %>" class="user_name name">&nbsp;</a><br/>
              <span class="id" style="display: none;">&nbsp;</span>
            </li>
          </ul>
        <% else %>
          Recipient list is protected
        <% end %>
      </div>
    <% end %>
  </div>
</div>
