<% message = dashboard_conversation_submission %>
<% submission = message.submission %>
<% assignment = submission.assignment %>
<% comments = submission.visible_submission_comments.to_a %>
<% comment_count = comments.size %>
<% hide_message ||= false %>
<% score = (submission.score && assignment.points_possible ? "#{submission.score} / #{submission.assignment.points_possible}" : submission.score) || t('not_scored', 'no score') %>
<% if comment_count > 0 %>
<div id="dashboard_conversation_message_<%= message.id %>" class="communication_sub_message submission <%= 'toggled_communication_sub_message' if hide_message %>">
  <div class="header">
    <div class="header_title">
      <a title="<%= t('links.title.assignment_name', %{Assignment name}) %>" href="<%= course_assignment_submission_path(assignment.context, assignment, submission.user.id) %>"><%= assignment.title %></a>
    </div>
    <div class="post_date time_ago_date"><%= datetime_string(comments.last.created_at) %></div>
    <div class="clear"></div>
    <a class="user_name" title="<%= t('links.title.submitter_name', %{Submitter's name}) %>" href="<%= user_path(submission.user.id) %>" class="user_name"><%= submission.user.short_name %></a>
    <div class="score"><%= score %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <ul>
      <% if comment_count > 3 %>
        <li>
          <a href="#" class="show_comments_link"><%= t('links.show_comments', { :one => "Show %{count} More Comment", :other => "Show %{count} More Comments" }, :count => comment_count - 2) %></a>
        </li>
      <% end %>
      <% comments.each_with_index do |comment, idx| %>
        <li style="<%= hidden if comment_count > 3 && idx < comment_count - 2 %>">
          <a title="<%= t('links.title.author_name', %{Author's name}) %>" href="<%= user_path(comment.author.id) %>" class="user_name"><%= comment.author.short_name %></a>
          <div class="post_date time_ago_date"><%= datetime_string(comment.created_at) %></div>
          <div class="clear"></div>
          <% if service_enabled?(:avatars) %>
            <div style="float: left; margin: 0 5px 0 0;"><%= link_to(avatar_image(comment.author.id, 30), user_path(comment.author.id), :style => 'z-index: 2; position: relative;') %></div>
          <% end %>
          <div class="user_content"><%= user_content(comment.formatted_body) %></div>
          <div class="clear"></div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<% end %>