  <% if @contexts && !@contexts.empty? && @contexts.any?{|c| can_do(c, @current_user, :send_messages) } %>
    <% topic_contexts = @contexts.select{|c| can_do(c.discussion_topics.new, @current_user, :create) } %>
    <% message_contexts = @contexts.select{|c| can_do(c, @current_user, :send_messages) } %>
    <% announcement_contexts = @contexts.select{|c| can_do(c.announcements.new, @current_user, :create) } %>
    <% collaboration_contexts = @contexts.select{|c| can_do(c.collaborations.new, @current_user, :create) } %>
    <% conference_contexts = @contexts.select{|c| can_do(c.web_conferences.new, @current_user, :create) } %>
    <% selected = false %>
    <div class="communication_message new_activity_message">
      <a class="textarea new_activity_message_link" href="#">Post a New Message...</a>
    </div>
    <div class="new_activity_message communication_message" style="display: none;">
      <div style="display: none;">
      <% @contexts.each do |context| %>
        <a href="<%= context_url(context, :context_user_url, "{{ user_id }}") %>" class="<%= context.asset_string %>_user_url">&nbsp;</a>
      <% end %>
      </div>
      <div class="message_type header">
        Message Type: 
        <% if !topic_contexts.empty? %><%= image_tag "discussion_topic.png", :title => "Discussion", :class => "discussion_topic #{selected ? '' : 'selected'}" %><% selected ||= 'discussion_topic' %><% end %>
        <% if !message_contexts.empty? %><%= image_tag "email_big.png", :title => "Private Message", :class => "context_message #{selected ? '' : 'selected'}" %><% selected ||= 'context_message' %><% end %>
        <% if !announcement_contexts.empty? %><%= image_tag "announcement.png", :title => "Announcement", :class => "announcement #{selected ? '' : 'selected'}" %><% selected ||= 'announcement' %><% end %>
      </div>
      <div class="activity_form discussion_topic_form" style="<%= hidden unless selected == 'discussion_topic' %>">
        <% form_for :discussion_topic, :html => {:class => "discussion_topic_form message_form"} do |f| %>
        <table style="width: 95%;">
          <tr>
            <td style="white-space: nowrap; font-weight: bold;">New Topic For:</td>
            <td style="width: 95%;">
              <select class="context_select">
              <% topic_contexts.each do |context| %>
                <option value="<%= context.asset_string %>"><%= context.short_name %></option>
              <% end %>
              </select>
            </td>
          </tr><tr>
            <td colspan="2">
              <%= f.label :title, "Subject:" %>
              <%= f.text_field :title, :style => "width: 275px;" %>
            </td>
          </tr><tr>
            <td colspan="2">
              <%= f.text_area :plaintext_message, :class => "textarea" %>
            </td>
          </tr><tr>
            <td colspan="2">
              <div style="float: right;">
                <a href="#">more options</a>
              </div>
              <button type="submit" class="button submit_button">Post Message</button>
              <button type="button" class="button button-secondary cancel_button">Cancel</button>
            </td>
          </tr>
        </table>
        <% end %>
        <div style="display: none;" class="template">
          <% topic_contexts.each do |context| %>
            <a href="<%= context_url(context, :context_discussion_topics_url) %>" class="<%= context.asset_string %>_post_url <%= context.asset_string %>_form_url <%= context.asset_string %>_topics_url">&nbsp;</a>
            <a href="<%= context_url(context, :context_discussion_topic_url, "{{ topic_id }}") %>" class="<%= context.asset_string %>_topic_url">&nbsp;</a>
            <a href="<%= context_url(context, :context_discussion_entries_url) %>" class="<%= context.asset_string %>_entries_url">&nbsp;</a>
            <a href="<%= context_url(context, :context_user_url, "{{ user_id }}") %>" class="<%= context.asset_string %>_user_url">&nbsp;</a>
            <a href="<%= context_url(context, :context_assignment_url, "{{ assignment_id }}") %>" class="<%= context.asset_string %>_assignment_url">&nbsp;</a>
            <a href="<%= context_url(context, :context_file_download_url, "{{ attachment_id }}") %>" class="<%= context.asset_string %>_attachment_url">&nbsp;</a>
          <% end %>
          <%= render :partial => "context/dashboard_topic", :locals => {:contextless => true} %>
        </div>
      </div>
      <div class="activity_form context_message_form" style="<%= hidden unless selected == 'context_message' %>">
        <% form_for :context_message do |f| %>
        <table style="width: 95%;">
          <tr>
            <td style="white-space: nowrap; font-weight: bold;">Message Users In:</td>
            <td style="width: 95%;">
              <select class="context_select">
              <% topic_contexts.each do |context| %>
                <option value="<%= context.asset_string %>"><%= context.short_name %></option>
              <% end %>
              </select>
            </td>
          </tr><tr>
            <td colspan="2">
              Recipients:
              <div>
                <% topic_contexts.each_with_index do |context, idx| %>
                  <ul style="<%= hidden unless idx == 0 %> max-height 50px; overflow: auto;" class="<%= context.asset_string %>_roster_list roster_list unstyled_list">
                    <% context.participants.each do |user| %>
                      <li>
                        <input type="checkbox" id="context_message_<%= context.asset_string %>_<%= user.id %>"/>
                        <label for="context_message_<%= context.asset_string %>_<%= user.id %>"><%= context_user_name(context, user) %></label>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </td>
          </tr><tr>
            <td colspan="2">
              <%= f.text_area :body, :class => "textarea" %>
            </td>
          </tr><tr>
            <td colspan="2">
              <div style="float: right;">
                <a href="#">more options</a>
              </div>
              <button type="submit" class="button submit_button">Post Message</button>
              <button type="button" class="button button-secondary cancel_button">Cancel</button>
            </td>
          </tr>
        </table>
        <% end %>
        <div style="display: none;" class="template">
          <% topic_contexts.each do |context| %>
            <a href="<%= context_url(context, :context_roster_messages_url) %>" class="<%= context.asset_string %>_post_url <%= context.asset_string %>_form_url">&nbsp;</a>
          <% end %>
        </div>
      </div>
      <div class="activity_form announcement_form" style="<%= hidden unless selected == 'announcement' %>">
        <% form_for :announcement do |f| %>
        <%= f.hidden_field :is_announcement, :value => true %>
        <table style="width: 95%;">
          <tr>
            <td style="white-space: nowrap; font-weight: bold;">New Announcement For:</td>
            <td style="width: 95%;">
              <select class="context_select">
              <% topic_contexts.each do |context| %>
                <option value="<%= context.asset_string %>"><%= context.short_name %></option>
              <% end %>
              </select>
            </td>
          </tr><tr>
            <td colspan="2">
              <%= f.text_area :plaintext_message, :class => "textarea" %>
            </td>
          </tr><tr>
            <td colspan="2">
              <div style="float: right;">
                <a href="#">more options</a>
              </div>
              <button type="submit" class="button submit_button">Post Message</button>
              <button type="button" class="button button-secondary cancel_button">Cancel</button>
            </td>
          </tr>
        </table>
        <% end %>
        <div style="display: none;" class="template">
          <% topic_contexts.each do |context| %>
            <a href="<%= context_url(context, :context_discussion_topics_url) %>" class="<%= context.asset_string %>_post_url <%= context.asset_string %>_form_url">&nbsp;</a>
          <% end %>
        </div>
      </div>
      <div class="activity_form collaboration_form" style="<%= hidden unless selected == 'collaboration' %>">
        Collab
      </div>
      <div class="activity_form conference_form" style="<%= hidden unless selected == 'conference' %>">
       Conf
      </div>
    </div>
  <% end %>
