<% comment = dashboard_submission_comment || nil; hide_comment ||= false; context_code ||= nil %>
<div style="<%= hidden unless comment %>" class="communication_sub_message <%= 'toggled_communication_sub_message' if hide_comment %> <%= 'blank' unless comment %>">
  <div class="header">
    <div class="header_title">
      <a href="<%= context_prefix(context_code) %>/users/<%= comment ? comment.author_id : @current_user.id %>" class="user_name"><%= context_user_name(context_code, comment ? comment.author_id : @current_user) %></a>
    </div>
    <div class="post_date time_ago_date"><%= datetime_string(comment.try_rescue(:created_at)) || nbsp %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar((comment.try_rescue(:author_id)), context_code) %></div>
    <div class="message user_content" style="<%= hidden unless comment %>">
      <%= raw(comment.try_rescue(:formatted_body) || nbsp) %>
      <%= inline_media_comment_link(comment) %>
    </div>
    <div class="attachments_list" style="margin-top: 5px; <%= hidden unless comment && !comment.cached_attachments.empty? %>">
      <% (comment.try_rescue(:cached_attachments) || []).each do |attachment| %>
        <div class="attachment">
          <a href="<%= context_prefix(context_code) %>/assignments/<%= submission ? submission.assignment_id : "{{ assignment_id }}" %>/submissions/<%= submission ? submission.user_id : "{{ user_id }}" %>?comment_id=<%= comment ? comment.id : "{{ comment_id }}" %>&download=<%= attachment.id %>" class="comment_attachment_link download"> <%= attachment.try_rescue(:display_name) %> - <%= attachment.try_rescue(:readable_size) %></a>
        </div>
      <% end %>
    </div>
    <% if !comment %>
     <% form_for :submission, :url => "#{context_prefix(context_code)}/assignments/#{submission ? submission.assignment_id : '{{ assignment_id }}'}/submissions/#{submission ? submission.user_id : '{{ user_id }}'}", :html => {:method => 'put', :class => "add_sub_message_form submission_comment_form"} do |f| %>
        <input type="hidden" name="from_dashboard" value="1"/>
        <%= f.text_area :comment, :style => "height: 50px;" %>
        <% if submission && submission.assignment.group_category_id %>
          <br/>
          <input type="checkbox" name="submission[group_comment]" id="submission_group_comment"/>
          <label for="submission_group_comment"><%= t('labels.group_comment', 'Send Comment to the Whole Group') %></label>
        <% end %>
        <div style="float: right;">
          <a href="<%= context_prefix(context_code) %>/assignments/<%= submission ? submission.assignment_id : "{{ assignment_id }}" %>/submissions/<%= submission ? submission.user_id : "{{ user_id }}" %>#comment" style="padding-right: 10px;" class="more_options_reply_link"><%= t('#links.more_options', %{more options}) %></a>
        </div>
        <span class="submission_user_id" style="display: none;"><%= submission.try_rescue(:user_id) %></span>
        <div class="button-container" style="padding-bottom: 5px;">
          <button type="submit" class="button small-button submit_button"><%= t('#buttons.post_message', %{Post Message}) %></button>
          <button type="button" class="button button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
