<% conference = dashboard_conference; show_context ||= false %>
<div style="<%= hidden unless conference %>" class="communication_message message_<%= conference.try_rescue(:context_code) || "no_context" %> <%= 'show_context_communication_message' if show_context %>">
  <%= render :partial => 'context/dashboard_ignore_link', :object => stream_item %>
  <div class="header">
    <div class="header_title">
      <%= image_tag "conference.png", :alt => 'web_conference', :title => "Web Conference", :class => "header_icon", :style => "width: 20px;" %>
      <a href="<%= context_prefix(conference.try_rescue(:context_code)) %>/conferences/<%= conference.try_rescue(:id) || "{{ id }}" %>" class="title subject"><%= conference.try_rescue(:title) %></a>
      <div class="sub_title">
        <span class="context_code group_<%= conference.try_rescue(:context_code) %>"><%= cached_context_short_name(conference.try_rescue(:context_code)) %></span>
        <a href="<%= context_prefix(conference.try_rescue(:context_code)) %>/users/<%= conference.try_rescue(:user_id) || "{{ user_id }}" %>" class="user_name"><%= context_user_name(conference.try_rescue(:context_code), conference.try_rescue(:user_id)) || nbsp %></a>
      </div>
    </div>
    <div class="post_date time_ago_date"><%= datetime_string(conference.try_rescue(:created_at)) || nbsp %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="course_id" style="display: none;"><%= conference.context_id if conference && conference.context_type == 'Course' %></div>
    <div class="message user_content">
      <%= user_content(conference.try_rescue(:description), conference.try_rescue(:context_code), conference.try_rescue(:asset_string)) || nbsp %>
    </div>
    <div class="links">
      <div style="float: left;">Last viewed <span class="time_ago_date"><%= datetime_string(conference.try_rescue(:updated_at)) %></span></div>
      <div style="float: right;"><a href="#" class="show_participants_link show_users_link"><%= pluralize(conference.try_rescue(:users).try_rescue(:length) || 1, "Participant") %></a></div>
      <div class="clear"></div>
    </div>
    <ul style="display: none;" class="users_list participants_list">
      <% (conference.try_rescue(:users) || []).each do |user| %>
        <li class="conferenceorator">
          <a href="<%= context_prefix(conference.try_rescue(:context_code)) %>/users/<%= user.id %>" class="user_name"><%= context_user_name(conference.try_rescue(:context_code), user.id) %></a><br/>
        </li>
      <% end %>
    </ul>      
    <div class="clear"></div>
  </div>
</div>
