<% comment = dashboard_context_sub_message || nil; hide_comment ||= false; context_code = comment.try_rescue(:context_code) || message.try_rescue(:context_code) %>
<div id="dashboard_context_sub_message_<%= comment ? comment.id : "blank" %>" style="<%= hidden unless comment %>" class="communication_sub_message <%= 'toggled_communication_sub_message' if hide_comment %> <%= 'blank' unless comment %>">
  <div class="header">
    <div class="header_title">
      <a title="<%= t('links.title.author_name', %{Author's name}) %>" href="<%= context_prefix(context_code) %>/users/<%= comment ? comment.user_id : @current_user.id %>" class="user_name"><%= context_user_name(context_code, comment ? comment.user_id : @current_user) %></a>
    </div>
    <div class="post_date time_ago_date"><%= datetime_string(comment.try_rescue(:created_at)) || nbsp %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar((comment.try_rescue(:user_id)), context_code, 30) %></div>
    <div class="course_id" style="display: none;"><%= comment.try_rescue(:context_id) if comment.try_rescue(:context_type) == 'Course' %></div>
    <div class="message user_content" style="<%= hidden unless comment %>"><%= user_content(comment.try_rescue(:formatted_body)) || nbsp %></div>
    <% if !comment %>
     <% form_for :context_message, :url => "#{context_prefix(context_code)}/messages", :html => {:class => "add_sub_message_form context_message_form"} do |f| %>
        <input type="hidden" name="from_dashboard" value="1"/>
        <%= f.hidden_field :recipients, :value => message && (message.user_id == @current_user.id ? message.recipient_users.map(&:id).join(',') : message.user_id) %>
        <%= f.hidden_field :root_context_message_id, :value => message.try_rescue(:id) %>
        <%= f.hidden_field :subject, :value => TextHelper.make_subject_reply_to(message.try_rescue(:subject) || '') %>
        <%= before_label(t(:'labels.to', 'To')) %> <%= message && (message.user_id == @current_user.id ? message.recipient_users.map{|u| context_user_name(context_code, u)} : [context_user_name(context_code, message.user_id)]).to_sentence() %>
        <%= f.text_area :body, :style => "height: 50px;" %>
        <div style="float: right;">
          <a href="<%= inbox_path(:include_contexts => context_code) %>#reply" class="more_options_reply_link"><%= t('#links.more_options', %{more options}) %></a>
        </div>
        <div class="button-container" style="padding-bottom: 5px;">
          <button type="submit" class="button small-button submit_button"><%= t('#buttons.post_message', %{Post Message}) %></button>
          <button type="button" class="button button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
