<% comments = dashboard_submission.submission_comments ; submission_comment = comments.shift; context_code = dashboard_submission.try_rescue(:context_code) %>
<% latest_date = [dashboard_submission.try_rescue(:submitted_at), dashboard_submission.try_rescue(:graded_at), submission_comment.try_rescue(:created_at)].compact.max %>
<% show_context ||= false %>
<% post_date = ([latest_date] + comments.map(&:created_at)).max %>
<div style="<%= hidden unless dashboard_submission %>" class="communication_message message_<%= context_code || 'blank' %> <%= 'show_context_communication_message' if show_context %>">
  <%= render :partial => 'context/dashboard_ignore_link', :object => stream_item %>
  <div class="header">
    <div class="post_date time_ago_date"><%= datetime_string(post_date) || nbsp %></div>
    <%= image_tag "grading_icon.png", :class => "header_icon", :alt => t('images.alt.submission', %{submission}), :title => t('images.title.submission', %{Assignment Submission}), :style => "padding: 7px 2px 2px 2px;" %>
    <a href="<%= context_prefix(context_code) %>/assignments/<%= dashboard_submission ? dashboard_submission.assignment_id : "{{ assignment_id }}" %>/submissions/<%= dashboard_submission ? dashboard_submission.user_id : "{{ user_id }}" %>" class="title subject"><%= dashboard_submission.try_rescue(:assignment).try_rescue(:title) || t('#defaults.assignment', %{Assignment}) %>, <%= context_user_name(context_code, dashboard_submission.user_id) %></a>
    <div class="sub_title">
      <span class="points_possible" style="<%= hidden unless dashboard_submission && dashboard_submission.score && dashboard_submission.assignment && dashboard_submission.assignment.points_possible %>">
        <%= t('#score_out_of', '%{score} out of %{points_possible}', :score => (dashboard_submission.score || ""), :points_possible => dashboard_submission.try_rescue(:assignment).try_rescue(:points_possible)) %>
        <%= t('pending_review', %{(still needs teacher review)}) if dashboard_submission && dashboard_submission.workflow_state == 'pending_review' %>
      </span>
      <span class="context_code group_<%= context_code %>"><%= cached_context_short_name(context_code) %></span>
      <a href="<%= context_prefix(context_code) %>/users/<%= submission_comment ? submission_comment.author_id : '{{ author_id }}' %>" class="user_name"><%= context_user_name(context_code, submission_comment.try_rescue(:author_id)) || nbsp %></a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar((submission_comment.try_rescue(:author_id)), context_code) %></div>
    <div class="message user_content"><%= raw(submission_comment.try_rescue(:formatted_body) || nbsp) %>
      <%= inline_media_comment_link(submission_comment) %>
    </div>
    <div class="attachments_list" style="margin-top: 5px; <%= hidden unless submission_comment.try(:cached_attachments) && !submission_comment.cached_attachments.empty? %>">
      <% (submission_comment.try_rescue(:cached_attachments) || []).each do |attachment| %>
        <div class="attachment">
          <a href="<%= context_prefix(context_code) %>/assignments/<%= dashboard_submission ? dashboard_submission.assignment_id : "{{ assignment_id }}" %>/submissions/<%= dashboard_submission ? dashboard_submission.user_id : "{{ user_id }}" %>?comment_id=<%= submission_comment ? submission_comment.id : "{{ comment_id }}" %>&download=<%= attachment.id %>" class="comment_attachment_link download"> <%= attachment.try_rescue(:display_name) %> - <%= attachment.try_rescue(:readable_size) %></a>
        </div>
      <% end %>
    </div>
    <% if dashboard_submission && !comments.empty? %>
      <div class="original_post_date">
        <% if dashboard_submission && latest_date == dashboard_submission.graded_at %>
          <%= t('state.graded', %{graded}) %>
        <% elsif dashboard_submission && latest_date == dashboard_submission.submitted_at %>
          <%= t('state.submitted', %{submitted}) %>
        <% elsif submission_comment %>
          <%= t('state.posted', %{posted}) %>
        <% end %>
        <span class="post_date time_ago_date"><%= datetime_string(latest_date) || nbsp %></span>
      </div>
    <% end %>
    <div class="subcontent">
      <% if comments.length > 3 %>
        <div class="communication_sub_message">
          <div class="content behavior_content">
            <a href="#" class="show_sub_messages_link"><%= t('links.show_more_comments', { :one => 'Show 1 More Comment', :other => 'Show %{count} More Comments' }, :count => (comments.length - 2)) %></a>
          </div>
        </div>
      <% end %>
      <% comments.each_with_index do |comment, idx| %>
        <%= render :partial => "context/dashboard_submission_comment", :object => comment, :locals => {:context_code => context_code, :show_context => show_context, :hide_comment => comments.length > 3 && idx < comments.length - 2, :submission => dashboard_submission} %>
      <% end %>
      <% if can_do(dashboard_submission, @current_user, :comment) %>
      <div class="communication_sub_message reply_message <%= 'lonely_behavior_message' if comments.empty? %>">
        <div class="content behavior_content">
          <a href="<%= context_prefix(context_code) %>/assignments/<%= dashboard_submission ? dashboard_submission.assignment_id : "{{ assignment_id }}" %>/submissions/<%= dashboard_submission ? dashboard_submission.user_id : "{{ user_id }}" %>" class="add_entry_link textarea"><%= t('links.add_comment', %{Add a Comment...}) %></a>
          <div class="less_important">
            <a href="<%= context_prefix(context_code) %>/assignments/<%= dashboard_submission ? dashboard_submission.assignment_id : "{{ assignment_id }}" %>/submissions/<%= dashboard_submission ? dashboard_submission.user_id : "{{ user_id }}" %>"><%= t('links.view_original_submission', %{View Original Submission}) %></a>
          </div>
        </div>
      </div>
      <%= render :partial => "context/dashboard_submission_comment", :object => nil, :locals => {:context_code => context_code, :submission => dashboard_submission} %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>
