<% conversation = dashboard_conversation %>
<% conversation_path = conversation_path(conversation.id) if conversation %>
<% conversation_participant = @current_user.conversation_participant(conversation.id) if conversation %>
<% messages = conversation_participant.recent_messages.reverse if conversation_participant %>
<% if messages.present? %>
<% message_count = messages.size %>
<div class="communication_message conversation message_no_context" style="<%= hidden unless conversation %>" id="conversation_<%= conversation ? conversation.id : "blank" %>">
  <%= render :partial => 'context/dashboard_ignore_link', :object => stream_item %>
  <% if conversation %><a name="conversation_<%= conversation.id %>"></a><% end %>
  <div class="header">
    <%= image_tag "email_big.png", :class => "header_icon", :alt => t('images.alt.email', "email"), :title => t('images.title.conversation', "Conversation"), :style => "width: 20px;" %>
    <a href="<%= conversation_path %>" class="title subject"><%= t(:conversation, "Conversation Activity") %></a>
    <div class="sub_title">
      <span class="user_name">
        <% if conversation.participants %>
          <% participants = conversation.participants.map{ |participant| capture{ %>
            <a href="<%= user_path(participant.id) %>"><%= participant.short_name %></a>
          <% }} %>
          <%= participants.to_sentence.html_safe %>
        <% else %>
          <a href="<%= conversation_path %>"><%= t(:participant_count, "participants", :count => conversation.participant_count) %></a>
        <% end %>
      </span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="subcontent">
      <% if message_count > 3 %>
        <div class="communication_sub_message">
          <div class="content behavior_content">
            <% show_more_link_text = t('links.show_messages', { :one => "Show %{count} More Message", :other => "Show %{count} More Messages" }, :count => message_count - 2) %>
            <% if conversation_participant.message_count > message_count %>
              <a href="<%= conversation_path %>"><%= show_more_link_text %></a>
            <% else %>
              <a href="#" class="show_sub_messages_link"><%= show_more_link_text %></a>
            <% end %>
          </div>
        </div>
      <% end %>
      <% messages.each_with_index do |m, idx| %>
        <% type = m.generated ? :event : (m.submission ? :submission : :message) %>
        <%= render :partial => "context/dashboard_conversation_#{type}", :object => m, :locals => {:hide_message => message_count > 3 && idx < message_count - 2, :conversation => conversation} %>
      <% end %>
      <div class="communication_sub_message reply_message">
        <div class="content behavior_content">
          <a href="<%= conversation_add_message_path(conversation ? conversation.id : '{{ id }}') %>" class="add_entry_link textarea"><%= t('links.add_message', "Add Message") %></a>
        </div>
      </div>
      <%= render :partial => "context/dashboard_conversation_message", :object => nil, :locals => {:conversation => conversation} %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<% end %>
