<% message = dashboard_conversation_message || nil %>
<% hide_message ||= false %>
<% author = message ? message.author : @current_user %>
<% conversation_path = "#{conversations_path}#/conversations/#{conversation ? conversation.id : '{{ id }}'}" %>
<div id="dashboard_conversation_message_<%= message ? message.id : "blank" %>" style="<%= hidden unless message %>" class="communication_sub_message <%= 'toggled_communication_sub_message' if hide_message %> <%= 'blank' unless message %>">
  <div class="header">
    <div class="header_title">
      <a title="<%= t('links.title.author_name', %{Author's name}) %>" href="<%= user_path(author.id) %>" class="user_name"><%= author.short_name %></a>
    </div>
    <div class="post_date time_ago_date"><%= message ? datetime_string(message.created_at) : nbsp %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <% if service_enabled?(:avatars) %>
      <div style="float: left; margin: 0 5px 0 -10px;"><%= link_to(avatar_image(author.id, 30), user_path(author.id), :style => 'z-index: 2; position: relative;') %></div>
    <% end %>
    <div class="message user_content" style="<%= hidden unless message %>"><%= message ? user_content(message.formatted_body) : nbsp %></div>
    <% if !message %>
      <% form_tag conversation_add_message_path(conversation ? conversation.id : '{{ id }}'), :class => "add_conversation_message_form" do %>
        <%= text_area_tag :body, "", :style => "height: 50px;" %>
        <div style="float: right;">
        <a href="<%= conversation_path %>" class="more_options_reply_link"><%= t('#links.more_options', %{more options}) %></a>
        </div>
        <div class="button-container" style="padding-bottom: 5px;">
          <button type="submit" class="button small-button submit_button"><%= t('#buttons.post_message', %{Post Message}) %></button>
          <button type="button" class="button button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
