<% entry = dashboard_topic_entry || nil; topic ||= nil; hide_entry ||= false; context_code ||= nil %>
<div style="<%= hidden unless entry %>" class="communication_sub_message <%= 'toggled_communication_sub_message' if hide_entry %> <%= 'blank' unless entry %>">
  <div class="header">
    <div class="header_title">
      <a title="Author's name" href="<%= context_prefix(context_code) %>/users/<%= entry ? entry.user_id : @current_user.id %>" class="user_name"><%= context_user_name(context_code, entry ? entry.user_id : @current_user) %></a>
    </div>
    <div class="post_date time_ago_date"><%= datetime_string(entry.try_rescue(:created_at)) || nbsp %></div>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar((entry.try_rescue(:user_id)), context_code, 30) %></div>
    <div class="course_id" style="display: none;"><%= topic ? topic.context_id : "" %></div>
    <div class="course_role" style="display: none;"><%= @role_lookups[context_code] if @role_lookups %></div>
    <div class="message user_content" style="<%= hidden unless entry %>"><%= raw entry.try_rescue(:truncated_message) || nbsp %></div>
    <% if !entry %>
     <% form_for :discussion_entry, :url => "#{context_prefix(context_code)}/discussion_entries", :html => {:class => "add_sub_message_form"} do |f| %>
        <input type="hidden" name="from_dashboard" value="1"/>
        <%= f.hidden_field :discussion_topic_id, :value => topic ? topic.id : "{{ topic_id }}" %>
        <%= f.text_area :plaintext_message, :style => "height: 50px;" %>
        <div style="float: right;">
          <a href="<%= context_prefix(context_code) %>/discussion_topics/<%= topic ? topic.id : "{{ topic_id }}" %>#reply" class="more_options_reply_link" style="padding-right: 10px; color: #666;">more options</a>
        </div>
        <div class="button-container" style="padding-bottom: 5px;">
          <button type="submit" class="button small-button submit_button">Post Message</button>
          <button type="button" class="button button-secondary cancel_button">Cancel</button>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
