<%
  item = deleted_item
  url_asset_string = item.asset_string

  # This is pretty hacky, but the controller expects an asset string that it
  # can split into a scope and an id, and it expects the scope to be a method
  # it can call on the context (in this case a course).  I'm fixing it here so
  # we don't have a colon in the url.  See ContextController#undelete
  url_asset_string = url_asset_string.gsub('quizzes:', '')
%>
<li class="item">
  <div class="links">
    <a class="restore_link btn" href="<%= context_url(@context, :context_undelete_item_url, url_asset_string) %>"><%= t('links.restore', %{restore}) %></a>
  </div>
  <div class="name">
    <% if item.is_a?(Enrollment) %>
      <%= item.short_name %> - <%= item.user.name %>
    <% elsif item.respond_to?(:name) %>
      <%= item.name %>
    <% elsif item.respond_to?(:title) %>
      <%= item.title %>
    <% else %>
      <%= item.class.to_s %>:<%= item.id %>
    <% end %>
  </div>
  <div class="type">
    <%= item.class.to_s %>
  </div>
  <div class="details">
    <% if item.respond_to?(:description) %>
      <%= HtmlTextHelper.strip_and_truncate(item.description, :max_length => 200) %>
    <% elsif item.respond_to?(:message) %>
      <%= HtmlTextHelper.strip_and_truncate(item.message, :max_length => 200) %>
    <% end %>
  </div>
  <table class="dates">
    <tr>
      <td><%= t('created', %{created}) %></td>
      <td><%= datetime_string(item.created_at) %></td>
    </tr><tr>
      <td><%= t('last_updated', %{last updated}) %></td>
      <td><%= datetime_string(item.updated_at) %></td>
    </tr>
  </table>
</li>
