<% item_types = ['DiscussionEntry'] %>
<div id="message_list" class="communication_messages_list <%= item_types.map{|t| @current_user.show_in_inbox?(t) ? "show_#{t.underscore}" : ""}.join(" ") %>">
  <div class="no_messages" style="<%= hidden unless !@message && @messages.empty? %>">
    <%= t('no_messages', %{Sorry, no messages yet.}) %>
  </div>
  <%= render :partial => 'context/inbox_item', :collection => @messages %>
  <%= render :partial => 'context/inbox_item', :object => nil %>
  <%= will_paginate(@messages) %>
</div>
<a href="<%= inbox_item_path("{{ id }}") %>" class="no-hover delete_inbox_item_link" id="message_delete_link" style="display: none; margin-right: 5px;"><%= image_tag "delete_circle.png" %></a>
<% js_block do %>
  <script type="text/javascript">
  require([
    'jquery' /* $ */,
    'jquery.instructure_misc_helpers' /* queryParam */,
    'jquery.instructure_misc_plugins' /* confirmDelete */,
    'jquery.templateData' /* getTemplateData */,
    'vendor/jquery.pageless' /* pageless */
  ], function($) {

    $(function(){
      $(".delete_inbox_item_link").click(function(event) {
        event.preventDefault();
        var $item = $(this).parents(".communication_message");
        $item.confirmDelete({
          noMessage: true,
          message: <%= raw t('inbox_delete_confirm', "Are you sure you want to delete this item from your inbox?").to_json %>,
          url: $(this).attr('href'),
          success: function() {
            if(!$(this).hasClass('read')) {
              var unread = parseInt($("#identity .unread-messages-count").text(), 10) || 0;
              unread--;
              if(unread <= 0) {
                $("#identity .unread-messages-count").remove();
              } else {
                $("#identity .unread-messages-count").text(unread);
              }
            }
            $(this).slideUp(function() {
              $(this).remove();
            });
          }
        });
      });
      $(".reply_inbox_item_link").click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        $(this).parents(".inbox_item").find(".inbox_item_link").triggerHandler('click', true);
      });
      $(".inbox_item .content").click(function(event) {
        $(this).parents(".inbox_item").find(".inbox_item_link").click();
      });
      $(".inbox_item_link").bind('click', function(event, reply) {
        event.preventDefault();
        var $item = $(this).parents(".inbox_item");
        var id = $item.attr('id').replace("inbox_item_", "");
        var asset_type = $item.getTemplateData({textValues: ['asset_type']}).asset_type;
        var url = $item.find(".inbox_item_url").attr('href');
        location.href = url;
      });
      url = "<%= discussion_replies_path(:format => :json) %>";
      $('#message_list').pageless({
        totalPages: <%= @messages.total_pages %>,
        url: url,
        params: { 'view': $.queryParam("view") },
        loaderMsg: <%= raw t('loading_results', "Loading more results").to_json %>,
        scrape: function(data) {
            if(typeof(data) == 'string') {
              try {
                data = $.parseJSON(data);
              } catch(e) {
                data = [];
              }
            }
            for(var idx in data) {
              var $item = messages.updateInboxItem(null, data[idx]);
            }
          return "";
        }
      });
    });
  });
  </script>
<% end %>
