<% inbox_item ||= nil %>
<% message_read = inbox_item && inbox_item.read? %>
<div class="clearfix <%= 'read' if message_read %> <%= inbox_item.try_rescue(:item_asset_string) %> communication_message inbox_item <%= inbox_item.try_rescue(:asset_type).try_rescue(:underscore) %>" style="<%= hidden unless inbox_item %>" id="inbox_item_<%= inbox_item ? inbox_item.id : "blank" %>">
  <div class="header">
    <div class="post_date">
      <span class="time_ago_date created_at" data-timestamp="<%= inbox_item.try_rescue(:created_at).try_rescue(:iso8601) %>" style="padding-right: 45px;"><%= datetime_string(inbox_item.try_rescue(:created_at)) || nbsp %></span>
      <a href="<%= inbox_item_path(inbox_item ? inbox_item.id : "{{ id }}") %>" class="delete_inbox_item_link no-hover" title="<%= t('links.title.remove_message', %{Remove this Message}) %>"><%= image_tag "delete_circle.png" %></a>
    </div>
    <div>
      <span class="unread_icons">
        <%= image_tag "discussion_topic.png", :class => "header_icon discussion_header_icon unread_icon", :alt => t('images.alt.topic', "topic"), :title => t('images.title.topic.unread', "Discussion Message") %>
      </span>
      <span class="read_icons">
        <%= image_tag "discussion_topic-gray.png", :class => "header_icon discussion_header_icon read_icon", :alt => t('images.alt.topic', "topic"), :title => t('images.title.topic.read', "Discussion Message - read") %>
      </span>
      <a href="<%= inbox_item_path(inbox_item ? inbox_item.id : "{{ id }}") %>" class="inbox_item_url" style="display: none;">&nbsp;</a>
      <a href="#" class="title inbox_item_link">
        <span class="subject"><%= inbox_item.try_rescue(:subject) || t('no_title', "No Title") %></span>
      </a>
      <div class="sub_title">
        <a class="context_name" style="display: inline;" href="<%= context_prefix(inbox_item.try_rescue(:context_code)) %>">
          <%= inbox_item.try_rescue(:context_short_name) %>
        </a>
        <a href="/<%= inbox_item.try_rescue(:context_type_plural) || "{{ context_type_pluralized }}" %>/<%= inbox_item.try_rescue(:context_id) || "{{ context_id }}" %>/users/<%= inbox_item.try_rescue(:sender_id) || "{{ sender_id }}" %>" class="user_name sender_name"><%= context_user_name('user', inbox_item.try_rescue(:sender_id)) %></a>
      </div>
    </div>
  </div>
  <div style="display: none;">
    <span class="asset_type"><%= inbox_item.try_rescue(:asset_type).try_rescue(:underscore) || nbsp %></span>
  </div>
  <div class="content">
    <div class="inner_content">
    <div style="float: left; margin: 0 5px 0 -10px;"><%= avatar(inbox_item.try_rescue(:sender_id), context_code: inbox_item.try_rescue(:context_code)) %></div>
    <div style="float: right; display: none;">
      <a href="<%= inbox_item_path(inbox_item ? inbox_item.id : "{{ id }}") %>" class="btn btn-small delete_inbox_item_link"><%= t('links.remove', %{Remove}) %></a>
    </div>
    <div class="body_teaser"><%= inbox_item.try_rescue(:body_teaser) || nbsp %></div>
    </div>
  </div>
</div>
