<% item_types = ['DiscussionEntry'] %>
<div id="message_list" class="communication_messages_list <%= item_types.map{|t| @current_user.show_in_inbox?(t) ? "show_#{t.underscore}" : ""}.join(" ") %>">
  <div class="no_messages" style="<%= hidden unless !@message && @messages.empty? %>">
    <%= t('no_messages', %{Sorry, no messages yet.}) %>
  </div>
  <%= render :partial => 'context/inbox_item', :collection => @messages %>
  <%= render :partial => 'context/inbox_item', :object => nil %>
  <%= will_paginate(@messages) %>
</div>
<a href="<%= inbox_item_path("{{ id }}") %>" class="no-hover delete_inbox_item_link" id="message_delete_link" style="display: none; margin-right: 5px;"><%= image_tag "delete_circle.png" %></a>
<% js_bundle 'legacy/context_inbox_items' %>
