<% content_for :page_title, join_title(t('titles.communication', "Communication"), @context.name) %>
<%
  js_bundle :collaborations, :topics
  jammit_css :tinymce
%>

<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_forum_format_path(@context_enrollment.feed_code, :atom), {:title => t('links.feeds.course_discussions', "Course Discussions Atom Feed")}) %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_forum_format_path(@context.feed_code, :atom), {:title => t('links.feeds.course_discussions', "Course Discussions Atom Feed")}) %>
  <% end %>
<% end %>


<% content_for :right_side do %>
  <div id="sidebar_content">
  <p>
    <% if can_do(@context.discussion_topics.new, @current_user, :create) %>
      <a href="#" class="add_topic_link button button-sidebar-wide"><%= image_tag 'add.png', :alt => '' %> <%= t('links.start_topic', %{Start a New Topic}) %></a>
    <% end %>
    <% if can_do(@context.web_conferences.new, @current_user, :create) %>
      <a href="#" class="add_collaboration_link button button-sidebar-wide"><%= image_tag 'add.png', :alt => '' %> <%= t('links.start_collaboration', %{Start a Collaboration}) %></a>
    <% end %>
    <% if can_do(@context.collaborations.new, @current_user, :create) %>
      <a href="#" class="add_conference_link button button-sidebar-wide"><%= image_tag 'add.png', :alt => '' %> <%= t('links.start_conference', %{Start a Web Conference}) %></a>
    <% end %>
  </p>
  </div>
  <%= render :partial => "shared/wiki_sidebar" %>
<% end %>

<h2><%= t('headings.discussions', %{Discussions}) %></h2>

<%= render :partial => "shared/topics", :object => @topics, :locals => { :topic_type => "discussion_topic" } %>

<%= render :partial => 'collaborations/forms' %>
