<% content_for :page_title do %><%= t('inbox.discussion_replies', "Discussion Replies") %><% end %>

<% js_bundle :discussion_replies %>

<% content_for :right_side do %>
  <% if @current_user && @current_user.unread_inbox_items_count && @current_user.unread_inbox_items_count > 0 %>
    <div class="rs-margin-lr rs-margin-all">
      <% form_tag mark_inbox_as_read_path, {:method => :delete, :id => "mark_inbox_as_read_form"} do %>
        <button class="button button-sidebar-wide" type="submit"><%= image_tag "pass.png" %> <span class="msg"><%= t('buttons.mark_all_as_read', %{Mark All Messages as Read}) %></span></button>
      <% end %>
    </div>
  <% end %>
<% end %>

<h2 id="messages_view" style="float: left;" data-view="action_items"><%= t('inbox.discussion_replies', "Discussion Replies") %></h2>
<div class="clear"></div>
<%= render :partial => "inbox_items" %>
