<% content_for :page_title do %><%= t('inbox.inbox', "Inbox") %><% end %>

<% content_for :right_side do %>
  <% if @current_user && @current_user.unread_inbox_items_count && @current_user.unread_inbox_items_count > 0 %>
    <div class="rs-margin-lr rs-margin-all">
      <% form_tag mark_inbox_as_read_path, {:method => :delete, :id => "mark_inbox_as_read_form"} do %>
        <button class="button button-sidebar-wide" type="submit"><%= image_tag "pass.png" %> <span class="msg"><%= t('buttons.mark_all_as_read', %{Mark All Messages as Read}) %></span></button>
      <% end %>
    </div>
  <% end %>
  <h2><%= t('headings.show_message_types', %{Show Message Types}) %></h2>
  <div class="rs-margin-lr">
    <a href="<%= user_path(@current_user) %>" class="update_user_url" style="display: none;">&nbsp;</a>
    <%= before_label('select_message_types', %{Select which message types you'd like to show up in your inbox}) %>
    <ul class="unstyled_list" id="visible_message_types">
      <% [['SubmissionComment', t('submission_comments', 'Submission Comments')], ['DiscussionEntry', t('discussion_replies', 'Discussion Replies')]].each do |type, desc| %>
        <li><input type="checkbox" value="<%= type.underscore %>" id="show_<%= type.underscore %>" <%= 'checked' if @current_user.show_in_inbox?(type) %> /><label for="show_<%= type.underscore %>"><%= desc %></label></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2 id="messages_view" style="float: left;" data-view="action_items"><%= t('inbox.inbox', "Inbox") %></h2>
<div class="clear"></div>
<%= render :partial => "inbox_items" %>
