<% 
  add_crumb(t('#crumbs.people', "People"), context_url(@context, :context_users_url))
  @active_tab="people"
  content_for :page_title, case @context
  when Course
    t('titles.course_roster', "Course Roster: %{course_name}", :course_name => @context.name)
  when Group
    t('titles.group_roster', "Group Roster: %{group_name}", :group_name => @context.name)
  end
%>

<% content_for :right_side do %>
  <div class="rs-margin-lr rs-margin-top">
    <a href="<%= inbox_url %>#reply" class="_message_link button button-sidebar-wide"><%= image_tag "email.png" %> <%= t('links.write_message', %{Write a Message}) %></a>
    <% if @context.is_a?(Course) %>
      <a href="<%= context_url(@context, :context_groups_url) %>" class="button button-sidebar-wide"><%= image_tag "group.png" %> <%= t('links.view_student_groups', %{View Student Groups}) %></a>
      <% if can_do(@context, @current_user, :manage_students) && @context.enable_user_notes %>
        <a href="<%= course_user_notes_path(@context) %>" class="button button-sidebar-wide"><%= t('links.view_faculty_journals', %{View Faculty Journals}) %></a>
      <% end %>
      <% if can_do(@context, @current_user, :manage_admin_users) || can_do(@context, @current_user, :read_as_admin)%>
        <a href="<%= course_prior_users_path(@context) %>" class="button button-sidebar-wide"><%= image_tag "history.png" %> <%= t('links.view_prior_enrollments', %{View Prior Enrollments}) %></a>
      <% end %>
    <% end %>
    <% if can_do(@context, @current_user, :read_roster) %>
      <a href="<%= context_url(@context, :context_user_services_url) %>" class="button button-sidebar-wide"><%= image_tag "link.png" %> <%= t('links.view_services', %{View Registered Services}) %></a>
    <% end %>
    <% if @context.is_a?(Course) && can_do(@context, @current_user, :manage_students) %>
      <a href="<%= context_url(@context, :context_details_url) %>#tab-users" class="button button-sidebar-wide"><%= image_tag "group.png" %> <%= t('links.manage_users', %{Manage Users}) %></a>
    <% end %>
  </div>
  
  <div class="message_options" style="width: auto; margin: 00px; border: 0px solid #888; -moz-border-radius: 5px; padding: 0px 10px; display: none;">
    <a href="#" class="close_message_link no-hover" style="float: right;"><%= image_tag 'delete_circle.png', :alt => 'close' %></a>
    <h3 style="margin-bottom: 0;"><%= t('headings.send_message', %{Send a Message}) %></h3>
    <div style="padding-left: 10px; line-height: 1.7em;">
      <div class="message_selected_recipients_link" style="display: none; margin-bottom: 10px;">
        <a href="#" class="message_selected_recipients_link email" style="display: none;"><%= t('links.message_recipients', %{Message Selected Recipients}) %></a>
      </div>
      <a href="#" class="message_all_students_link email">
        <%= case @context
            when Course
            t('links.message_all_students', "Message all Students")
            when Group
            t('links.message_all_group_members', "Mesage all Group Members")
            end %>
      </a><br/>
      <a href="#" class="message_all_teachers_link email" style="<%= hidden if @secondary_users.empty? %>"><%= t('links.message_teachers', "Message Teachers & TA's") %></a><br/>
    </div>
    <% if !@categories.empty? %>
      <div class="rs-margin-lr rs-margin-top">
      <h3 style="margin-bottom: 0;">Message a Group</h3>
      <% @categories.each do |category| %>
        <%= category %>
        <ul class="unstyled_list" style="margin-left: 10px;">
          <% @groups.select{|g| g.category == category}.each do |group| %>
            <li class="message_group">
              <a href="#" class="message_group_link mail">Message <%= group.name %></a>
              <% group.users.each do |user| %>
              <div class="recipient" style="display: none;">
                <a href="<%= context_url(@context, :context_user_url, user.id) %>" class="recipient_name"><%= context_user_name(@context, user) %></a>
                <span class="id" style="display: none;"><%= user.id %></span>
              </div>
              <% end %>
              <% %>
            </li>
          <% end %>
        </ul>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :stylesheets do %>
<style>
.context_message .recipients_list {
  padding: 0;
  margin: 3px 10px;
  font-size: 0.8em;
  list-style-type: none;
}
.recipient .email {
  margin-left: 10px;
  font-size: 0.85em;
}
.recipient .short_name {
  margin-left: 10px;
  font-size: 0.85em;
}
.fill_height_div {
  overflow: auto;
}
</style>
<% end %>

<table id="select_recipients" style="width: 100%;">
  <tr>
    <td style="width: 50%; vertical-align: top;" class="recipients student_recipients">
      <h2><%= @primary_users.keys.first %></h2>
      <div style="max-height: 300px; margin-right: 20px;" class="fill_height_div">
      <table>
      <% @primary_users[@primary_users.keys.first].each do |student| %>
        <tr class="recipient" id="recipient_<%= student.id %>">
          <td style="display: none;" class="selector"><input type="checkbox" class="recipient_selected" id="recipient_<%= student.id %>"/></td>
          <td>
            <a href="<%= context_url(@context, :context_user_url, student.id) %>" class="recipient_name"><%= can_do(@context, @current_user, :manage_students) ? student.name : student.short_name %></a>
            <% if can_do(@context, @current_user, :manage_students) %>
              <div class="short_name"><%= student.short_name %></div>
              <div class="email"><%= student.email %></div>
              <% if @enrollments_hash && (e = @enrollments_hash[student.id]) && e.course_section %>
                <div class="short_name course_section"><%= e.course_section.display_name %></div>
              <% end %>
            <% end %>
            <span class="id" style="display: none;"><%= student.id %></span>
          </td>
        </tr>
      <% end %>
      </table>
      </div>
    </td>
    <% unless !@secondary_users || @secondary_users.empty? %>
    <td style="vertical-align: top;" class="recipients teacher_recipients">
      <h2><%= @secondary_users.keys.first %></h2>
      <div style="max-height: 300px;" class="fill_height_div">
      <table>
      <% @secondary_users[@secondary_users.keys.first].each do |teacher| %>
        <tr class="recipient" id="recipient_<%= teacher.id %>">
          <td style="display: none;" class="selector"><input type="checkbox" class="recipient_selected" id="recipient_<%= teacher.id %>"/></td>
          <td>
            <a href="<%= context_url(@context, :context_user_url, teacher.id) %>" class="recipient_name"><%= teacher.name %></a>
            <% if can_do(@context, @current_user, :manage_admin_users) %>
              <div class="short_name"><%= teacher.short_name %></div>
              <div class="email"><%= teacher.email %></div>
              <% if @enrollments_hash && (e = @enrollments_hash[teacher.id]) && e.course_section %>
                <div class="short_name course_section"><%= e.course_section.display_name %></div>
              <% end %>
            <% end %>
            <span class="id" style="display: none;"><%= teacher.id %></span>
          </td>
        </tr>
      <% end %>
      </table>
      </div>
    </td>
    <% end %>
  </tr>
</table>
