<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :stylesheets do %>
<style>
#deleted_items_list {
  max-width: 600px;
}
#deleted_items_list li {
  padding: 5px;
}
#deleted_items_list li:hover {
  background-color: #eee;
  -moz-border-radius: 5px;
}
#deleted_items_list li .links {
  float: <%= direction('right') %>;
}
#deleted_items_list li .name {
  font-weight: bold;
  font-side: 1.1em;
}
#deleted_items_list li .type {
  margin-<%= direction('left') %>: 20px;
  font-style: italic;
}
#deleted_items_list li .details {
  font-size: 0.8em;
  margin: 5px 20px;
}
#deleted_items_list li .dates {
  font-size: 0.8em;
  margin: 5px 30px;
  font-style: italic;
}
#deleted_items_list li .dates td {
  padding-<%= direction('right') %>: 5px;
}

</style>
<% end %>

<h2><%= t('headings.restore__items', %{Restore Deleted Items}) %></h2>
<%= t('help.restore_items', %{Keep in mind that some items may have lost some of their associated data when they were deleted.  Make sure you confirm the results of any restores you perform.}) %>
<ul id="deleted_items_list" class="unstyled_list">
<%= render :partial => 'deleted_item', :collection => @deleted_items %>
</ul>
<% js_bundle 'legacy/context_undelete_item' %>
