  <div class="wizard_options">
  <h3><%= before_label :i_would_like_to, "I would like to" %></h3>
  <ul class="wizard_options_list">
    <li class="option create_calendar_event_option add_step">
      <a href="#" class="icon-add"><%= t 'links.new', "Create a New Event" %></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.create', "To start creating a calendar event, just click the day on the calendar
        where you want the event." %>
      </div>
    </li>
    <li class="option edit_calendar_event_option" style="display: none;">
      <a href="#" class="wizard_edit_calendar_event_details"></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.edit', "Great!  Now just enter a name for the event (*where?*).  You can specify a start and
        end time for the event if you like.  Or just a start time.  Or no time at all. Click \"Submit\" to finish.",
                :wrapper => '<a href="#" class="highlight_calendar_event_title"><b>\1</b></a>' %>
      </div>
    </li>
    <li class="option review_calendar_event_option" style="display: none;">
      <a href="#" class="wizard_review_calendar_event_details"></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.done',
        "Done!  The event is now created!  You can click it to see the details, edit
        and delete the event, or drag and drop it to a new day to change its date." %>
      </div>
    </li>
    <% if @contexts.any?{|c| c.respond_to?(:assignments) && can_do(c.assignments.scoped.new, @current_user, :create)} %>
      <li class="option create_assignment_option add_step">
        <a href="#" class="icon-assignment"><%= t 'links.create_assignment', "Create a New Assignment" %></a>
        <div class="details" style="display: none;">
          <%= t 'descriptions.create_assignment', "Just like with a calendar event, click the date you want to add the assignment
          to.  Or you can create an assignment without a due date by clicking in the
          \"Undated Events\" box (*where?*).",
               :wrapper => '<a href="#" class="highlight_undated_events"><b>\1</b></a>' %>
        </div>
      </li>
      <li class="option tab_assignment_option" style="display: none;">
        <a href="#" class="wizard_tab_assignment_details"></a>
        <div class="details" style="display: none;">
          <%= t 'descriptions.assignment', %{Sweet.  Now click the "Assignment" tab in the dialog to create an assignment
          instead of a calendar event.} %>
          <div style="text-align: center; margin-top: 5px; font-size: 1.5em;">
            <a href="#" class="highlight_assignment_tab"><%= t '#links.show_me_where', "Show Me Where" %></a>
          </div>
        </div>
      </li>
      <li class="option edit_assignment_option" style="display: none;">
        <a href="#" class="wizard_edit_assignment_details"></a>
        <div class="details" style="display: none;">
          <%= t 'descriptions.edit_assignment', %{Now just enter a name for the assignment (*where?*) and the assignment
          group it belongs to.  You can specify a due date if you want, too.
          Click "Submit" to finish.}, :wrapper => '<a href="#" class="highlight_assignment_title"><b>\1</b></a>' %>
        </div>
      </li>
      <li class="option review_assignment_option" style="display: none;">
        <a href="#" class="wizard_review_assignment_details"></a>
        <div class="details" style="display: none;">
          <%= t 'descriptions.assignment_done', "Done!  The assignment is now created!  You can click it to see the details, edit
          and delete the event, or drag and drop it to a new day to change its date." %>
        </div>
      </li>
    <% end %>
    <li class="option edit_step">
      <a href="#" class="icon-calendar-day"><%= t 'links.change_date', "Change the Date of an Event/Assignment" %></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.change_date', %{That one's easy.  Just drag the event to a new date and let go.  Or you can
        click the event and then click "Edit" to get a little more specific.} %>
      </div>
    </li>
    <li class="option delete_calendar_event_option delete_step">
      <a href="#" class="icon-end"><%= t 'links.delete', "Delete an Event/Assignment" %></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.delete', "Click the event or assignment on the calendar you want to delete." %>
      </div>
    </li>
    <li class="option confirm_delete_calendar_event_option" style="display: none;">
      <a href="#" class="wizard_confirm_delete_calendar_event_details"></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.delete2', %{Now click "Delete" (*where?*) and your event will be deleted.},
              :wrapper => '<a href="#" class="highlight_delete_event"><b>\1</b></a>' %>'
      </div>
    </li>
    <li class="option review_delete_calendar_event_option" style="display: none;">
      <a href="#" class="wizard_review_delete_calendar_event_details"></a>
      <div class="details" style="display: none;">
        <%= t 'descriptions.delete_done', "Done and done.  That was some serious deletion skills you had just there." %>
      </div>
    </li>
  </ul>
  </div>
  <div class="wizard_details">
    <div>
      <div class="header"></div>
    </div>
  </div>
  <div class="clear"></div>
<% js_bundle 'legacy/calendars_wizard_box' %>
 
