<% content_for :page_title do %><%= join_title t(:page_title, "Calendar"), @context.name %><% end %>
<% add_crumb t('crumbs.my_calendar', "My Calendar"), calendar_url %>

<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_calendar_format_url(@context_enrollment.feed_code, :atom), {:title => t(:feed_title, "Course Calendar Atom Feed")}) %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_calendar_format_url(@context.feed_code, :atom), {:title => t(:feed_title, "Course Calendar Atom Feed")}) %>
  <% end %>
<% end %>

<%= render :partial => "calendar", :object => @events, :locals => { :first_day => @first_day, :last_day => @last_day, :current => @current } %>

<% content_for :wizard_box do %>
  <%= render :partial => "calendars/wizard_box" %>
<% end %>

<% content_for :keyboard_navigation do %>
  <ul class="navigation_list" tabindex="-1">
    <li>
      <span class="keycode"><%= t 'keycodes.next_event', 'j' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.next_event', "Next Calendar Day/Event" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.previous_event', 'k' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.previous_event', "Previous Calendar Day/Event" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.open', 'o' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.open', "Open Current Event" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.edit', 'e' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.edit', "Edit Current Event" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.delete', 'd' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.delete', "Delete Current Event" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.new', 'n' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptoins.new', "New Event for Current Day" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.refresh', 'r' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.refresh', "Refresh Calendar" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.next_day', 'ctrl+right' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.next_day', "Next Calendar Day" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.previous_day', 'ctrl+left' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.previous_day', "Previous Calendar Day" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.next_week', 'ctrl+down' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.next_week', "Next Week" %></span>
    </li>
    <li>
      <span class="keycode"><%= t 'keycodes.previous_week', 'ctrl+up' %></span>
      <span class="colon">:</span>
      <span class="description"><%= t 'keycode_descriptions.previous_week', "Previous Week" %></span>
    </li>
  </ul>
<% end %>
