{{#each dates}}
{{#each events}}

<tr
  class="date detail_list {{#if passed}} date_passed{{/if}}{{#if date}} events_{{strftime date "%Y_%m_%d"}}{{/if}} syllabus_{{type}} {{#if subtype}}assignment_type_{{subtype}}{{/if}} related-{{related_id}}{{#if override}} special_date{{/if}}"
  data-workflow-state="{{workflow_state}}">
  {{#if @first}}
  <th scope="row" rowspan="{{eventCount}}" valign="top" class="day_date"
    data-date="{{#if date}}{{strftime date "%Y_%m_%d"}}{{/if}}">
    {{#if orig_date}}
    {{tDateToString orig_date "medium_with_weekday"}}
    {{/if}}
  </th>
  {{/if}}
  <td class="name{{#unless last}} not_last{{/unless}}">
    {{#ifEqual type 'sub_assignment' }}
    <span class="screenreader-only">{{#t}}Discussion Checkpoint{{/t}}</span>
    {{addIcon 'discussion'}}
    {{else}}{{#ifEqual subtype 'discussion_topic' }}
    <span class="screenreader-only">{{#t}}Discussion Topic{{/t}}</span>
    {{addIcon 'discussion'}}
    {{else}}{{#ifEqual subtype 'quiz' }}
    <span class="screenreader-only">{{#t}}Quiz{{/t}}</span>
    {{addIcon 'quiz'}}
    {{else}}{{#ifEqual type 'assignment'}}
    <span class="screenreader-only">{{#t}}Assignment{{/t}}</span>
    {{addIcon 'assignment'}}
    {{else}}{{#ifEqual type 'wiki_page' }}
    <span class="screenreader-only">{{#t}}Page{{/t}}</span>
    {{addIcon 'document'}}
    {{else}}{{#ifEqual type 'discussion_topic' }}
    <span class="screenreader-only">{{#t}}Discussion Topic{{/t}}</span>
    {{addIcon 'discussion'}}
    {{else}}
    <span class="screenreader-only">{{#t}}Calendar Event{{/t}}</span>
    {{addIcon 'calendar-month'}}
    {{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}
    {{#if html_url}}
    <a href="{{html_url}}">{{title}}</a>
    {{else}}
    {{title}}
    {{/if}}
    {{#if override}}
    <div class="special_date_title">({{override.title}})</div>
    {{/if}}
  </td>
  <td class="dates{{#unless last}} not_last{{/unless}}">
    {{#if start_at}}
    {{#if due_at}}
    <span class="tooltip-time-mount" data-datetime="{{unfudge due_at}}" data-time-text="{{tTimeHours due_at}}" data-label="{{t "due by"}}"></span>
    {{else}}{{#if todo_at}}
    <span class="tooltip-time-mount" data-datetime="{{unfudge todo_at}}" data-time-text="{{tTimeHours todo_at}}" data-label="{{t "to do:"}}"></span>
    {{else}}
    <span class="tooltip-time-mount" data-datetime="{{unfudge start_at}}" data-time-text="{{tTimeHours start_at}}"></span>
    {{#unless same_time}}
    <br><span class="tooltip-time-mount" data-datetime="{{unfudge end_at}}" data-time-text="{{tTimeHours end_at}}" data-label="{{t "to"}}"></span>
    {{/unless}}
    {{/if}}{{/if}}
    {{else}}
    &nbsp;
    {{/if}}
  </td>
</tr>
{{/each}}
{{/each}}