<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.context) %>/conversations/<%= asset.conversation_id %>
<% end %>
<%= t :body, "%{user_name} just added you to a conversation in Canvas.", :user_name => (asset.author.short_name rescue t(:unknown_user, "Unknown User")) %><br/>
<b><a href="<%= content :link %>"><%= t :link_text, "View Conversation" %></a></b>
