<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.context) %>/<%= asset.context.class.base_class.to_s.downcase.pluralize %>/<%= asset.context_id %>/announcements/<%= asset.id %>
<% end %>

<%= t :body, "You created this Announcement: %{title}, %{course}", :title => %{<b><a href="#{ content :link }">#{h asset.title}</a></b>}.html_safe, :course => asset.context.name %>
