<% define_content :link do %>
  <%= appointment_group_url(asset.appointment_group) %>
<% end %>

<%= t :message, '%{user} has signed you up for "%{appointment_name}".', :user => data.updating_user.name, :appointment_name => asset.title %><br>
<br>
<b><%= before_label :details, "Appointment details" %></b><br>
<%= before_label :date_and_time, "Date/time" %> <%= datetime_string(asset.start_at, asset.end_at) %><br>
<% if asset.appointment_group.participant_type == 'Group' -%>
<%= before_label :attendees, "Attendees" %> <%= asset.participants.map(&:name).to_sentence %><br>
<%= before_label :group, "Group" %> <%= asset.context.name %><br>
<% else -%>
<%= before_label :attendee, "Attendee" %> <%= asset.context.name %><br>
<% end -%>
<%= before_label :course, "Course" %> <%= asset.appointment_group.participant_type == 'Group' ?
                                            asset.appointment_group.contexts.first.name  :
                                            asset.appointment_group.contexts_for_user(user).map(&:name).join(", ") %><br>
<% if asset.appointment_group.available_slots -%>
<%= before_label :slots_remaining, "Available time slots" %> <%= asset.appointment_group.available_slots %><br>
<% end -%>
<br>
<a href="<%= content(:link) %>"><%= t :instructions, 'Sign up for a different time slot' %></a>
