<% define_content :link do %>
  <%= appointment_group_url(asset) %>
<% end %>

<%= t :message, 'Time slots have been added to "%{appointment_name}" and are available for signup.', :appointment_name => asset.title %><br>
<br>
<b><%= before_label :details, "Appointment details" %></b><br>
<%= before_label :dates, "Date(s)" %> <%= date_string(asset.start_at, asset.end_at, :no_words) %><br>
<%= before_label :signup_type, "Signup Type" %> <%=
  asset.participant_type == 'Group' ?
    t(:group_signup, "Group (%{group_category})", :group_category => asset.sub_contexts.first.name) :
    t(:individual_signup, "Individual") %><br>
<%= before_label :course, "Course" %> <%=
  asset.participant_type == 'Group' ?
    asset.contexts.first.name :
    asset.contexts_for_user(user).map(&:name).join(", ") %><br>
<% if asset.available_slots -%>
<%= before_label :slots_remaining, "Available time slots" %> <%= asset.available_slots %><br>
<% end -%>
<br>
<a href="<%= content(:link) %>"><%= t :instructions, "Sign up for a time slot" %></a>
