<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.assignment.context) %>/<%= asset.assignment.context.class.to_s.downcase.pluralize %>/<%= asset.assignment.context_id %>/assignments/<%= asset.assignment.id %>
<% end %>

The assignment <b><a href="<%= content :link %>"><%= asset.assignment.title %></a></b> for <%= asset.assignment.context.name %> appears to have been graded, but not published.  Publishing assignments notifies students that their grades have been entered and finalized.
