<%
  assignment = asset.assignment
  anonymize_students = assignment.anonymize_students?
  user_name = anonymize_students ? 'A student' : asset.user.name
  link = ''
  subject = ''

  if anonymize_students
    subject = t(
      'Late anonymous assignment: %{user_name} has submitted late for %{assignment_title}',
      user_name: user_name,
      assignment_title: assignment.title
    )
    link = speed_grader_course_gradebook_url(assignment.context, assignment_id: assignment.id) +
      "\#{\"anonymous_id\":\"#{asset.anonymous_id}\"}"
  else
    subject = t(
      'Late assignment: %{user_name} has submitted late for %{assignment_title}',
      user_name: user_name,
      assignment_title: assignment.title
    )
    link = course_assignment_submission_url(assignment.context, assignment, asset.user_id)
  end
%>

<% define_content :link do %>
  <%= link.html_safe %>
<% end %>

<% define_content :subject do %>
  <%= subject %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link, "Click here to view the submission" %>
  </a>
<% end %>

<p>
  <%= t(
    'user_resubmitted_sentence',
    '%{user_name} has just turned in a late submission for %{assignment_name} in the course %{course_name}',
    user_name: user_name,
    assignment_name: assignment.title,
    course_name: assignment.context.name
  ) %>
</p>
