<% define_content :link do %>
  <%= polymorphic_url([asset.context, asset]) %>
<% end %>

<% define_content :subject do %>
  <%= t('assignment_created', 'Assignment Created - %{assignment_name}, %{course_name}', :assignment_name => asset.title, :course_name => asset.context.name) %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link_text, 'View the assignment' %>
  </a>
<% end %>

<p><%= t('new_assignment', 'A new assignment has been created for your course, %{course_name}',
         :course_name => asset.context.name) %></p>

<hr style="border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:    -moz-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:     -ms-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:      -o-linear-gradient(left, #ddd, #aaa, #eee);" />

<p style="font-weight: bold;"><%= asset.title %></p>

<p>
<% if asset.multiple_due_dates_apply_to?(user) %>
  <%= t('multiple_due_dates', 'due: Multiple Dates') %>
<% elsif asset.due_at %>
  <%= t('due_at', 'Due: %{assignment_due_date_time}', :assignment_due_date_time => datetime_string(force_zone(asset.due_at))) %>
<% else %>
  <%= t('no_due_date', 'No Due Date') %>
<% end %>
</p>
