<% define_content :link do %>
  <%= course_assignment_submission_url(asset.assignment.context, asset.assignment, asset.user_id) %>
<% end %>

<% define_content :subject do %>
  <%= t('user_resubmitted', 'Re-Submission: %{user_name}, %{assignment_name}',
        :user_name => asset.user.name,
        :assignment_name => asset.assignment.title) %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link, "Click here to view the submission" %>
  </a>
<% end %>

<p><%= t('user_resubmitted_sentence', '%{user_name} has just turned in a re-submission for %{assignment_name} in the course %{course_name}',
         :user_name => asset.user.name,
         :assignment_name => asset.assignment.title,
         :course_name => asset.assignment.context.name) %></p>
