<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.assignment.context) %>/<%= asset.assignment.context.class.to_s.downcase.pluralize %>/<%= asset.assignment.context_id %>/assignments/<%= asset.assignment.id %>
<% end %>

This is a reminder that the assignment <b><a href="<%= content :link %>"><%= asset.assignment.title %></a></b> for <%= asset.assignment.context.name %> is due <b><%= datetime_string(force_zone(asset.assignment.due_at)) %></b>.
