<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.course) %>/<%= asset.course.class.to_s.downcase.pluralize %>/<%= asset.course_id %>/content_exports
<% end %>

<% define_content :subject do %>
<%= t :subject, "Course Export Failed: %{course}", :course => asset.course.name %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link, "Click to view exports" %>
  </a>
<% end %>

<p>
<%= t :body2, <<-BODY, :course => asset.course.name, :wrapper => '<em>\1</em>'
There was a problem exporting the course *%{course}*.
Please notify your system administrator, and give them the following export identifier:
BODY
%>
</p>

<p><strong>ContentExport:<%= asset.id %></strong></p>