<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.course) %>/<%= asset.course.class.to_s.downcase.pluralize %>/<%= asset.course_id %>?invitation=<%= asset.uuid %>
<% end %>

You've been invited to participate in the <%= asset.course.class.to_s.downcase %> <a href="<%= content :link %>"><%= asset.course.name %></a> as a <%= asset.readable_type %>.
<% email = asset.user.email; login = (asset.user.pseudonym.unique_id rescue "none") %>
Name: <%= asset.user.name %>
Email: <%= asset.user.email %>
<% if email != login %>Login: <%= asset.user.pseudonym.unique_id rescue "none" %><% end %>

