<% define_content :link do %>
  <%= course_url(asset.course) %>
<% end %>

<%=
    case asset.type
    when 'TeacherEnrollment'
      t :body_teacher, "You've been enrolled in the course %{course} as a teacher.", :course => %{<a href="#{content :link}">#{h asset.course.name}</a>}
    when 'TaEnrollment'
      t :body_ta, "You've been enrolled in the course %{course} as a TA.", :course => %{<a href="#{content :link}">#{h asset.course.name}</a>}
    when 'ObserverEnrollment'
      t :body_observer, "You've been enrolled in the course %{course} as an observer.", :course => %{<a href="#{content :link}">#{h asset.course.name}</a>}
    when 'DesignerEnrollment'
      t :body_designer, "You've been enrolled in the course %{course} as a designer.", :course => %{<a href="#{content :link}">#{h asset.course.name}</a>}
    else
      t :body_student, "You've been enrolled in the course %{course} as a student.", :course => %{<a href="#{content :link}">#{h asset.course.name}</a>}
    end
%>
<% email = asset.user.email; login = (asset.user.pseudonym.unique_id rescue "none") %>
<%= before_label :name, "Name" %> <%= asset.user.name %>
<%= before_label :email, "Email" %> <%= asset.user.email %>
<% if email != login %><%= before_label :username, "Username" %> <%= asset.user.pseudonym.unique_id rescue t(:none, "none") %><% end %>
