<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.course) %>/<%= asset.course.class.to_s.downcase.pluralize %>/<%= asset.course_id %>/details
<% end %>

<b><a href="<%= content :link %>"><%= asset.user.name %></a></b> just accepted their invitation to participate in the <%= asset.course.class.to_s.downcase %> <%= asset.course.name %> as a <%= asset.readable_type %>.
