<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.assignment.context) %>/<%= asset.assignment.context.class.to_s.downcase.pluralize %>/<%= asset.assignment.context_id %>/assignments/<%= asset.assignment_id %>
<% end %>

The group <%= asset.group.name %> has just turned in a late submission for <b><a href="<%= content :link %>"><%= asset.assignment.title %></a> in the course <%= asset.assignment.context.name %></b>. 
