<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.context) %>/<%= asset.context.class.to_s.downcase.pluralize %>/<%= asset.context_id %>/imports/list
<% end %>

<% define_content :subject do %>
  <%= t :subject, "Content Import Failed: %{course_name}", :course_name => asset.context.name %>
<% end %>

<p><%= t :body, "There was a problem importing some content into your course %{destination}.", :destination => asset.context.name %></p>

<p><%= t :notify_admin2, "Please notify your system administrator, and point them to your *import info page*", :wrapper => "<a href=\"#{content(:link)}\">\\1</a>" %></p>
