<% define_content :link do %>
  <%= course_url(asset) %>
<% end %>

<%= t :subject, "New Course for %{account}", :account => asset.root_account.name %>

<%= mt :body, "A new course **%{course}** has been added for the account **%{account}**.", :course => asset.name, :account => asset.root_account.name %>
<% if !asset.teachers.empty? %>
<%= before_label :teachers, "Teachers" %>
<% asset.teachers.each do |teacher| %>
  - <a href="<%= course_user_url(asset, teacher) %>"><b><%= teacher.name %> (<%= teacher.email %>)</b></a>
<% end %><% end %>
