<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.context) %>/<%= asset.context.class.to_s.downcase.pluralize %>/<%= asset.context_id %>/files
<% end %>

<%= data.count %> new files have been added for the course, <%= asset.context.name %>.

<b><a href="<%= content :link %>">View files</a></b>
