<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.context) %>/<%= asset.context.class.to_s.downcase.pluralize %>/<%= asset.context_id %>/discussion_topics/<%= asset.discussion_topic_id %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "New Comment for %{discussion_topic}: %{course}", :discussion_topic => asset.title, :course => asset.context.name %>
<% end %>

<p><%= t :body, "%{user} posted a new comment on the thread %{discussion_topic} for %{course}:", :user => asset.user.short_name, :discussion_topic => asset.title, :course => asset.context.name %></p>

<hr style="border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:    -moz-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:     -ms-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:      -o-linear-gradient(left, #ddd, #aaa, #eee);" />

<p><%= html_to_text(asset.message).gsub(/\n/, '</p><p>') %></p>

<hr style="border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:    -moz-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:     -ms-linear-gradient(left, #ddd, #aaa, #eee);
    background-image:      -o-linear-gradient(left, #ddd, #aaa, #eee);" />

<p><a href="<%= content :link %>"><%= t :details, "Click here to join the conversation" %></a></p>
