<% define_content :link do %>
  <%= user_url(asset) %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "New User" %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link, "Click here to view user" %>
  </a>
<% end %>

<p><%= t :body, "A new user, %{user}, has just registered for the account %{account}", :user => asset.name, :account => asset.account.name %></p>
