<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.group.context) %>/<%= asset.group.context.class.to_s.downcase.pluralize %>/<%= asset.group.context_id %>/groups/<%= asset.group.id %>
<% end %>
A new student organized group named <b><a href="<%= content :link %>"><%= asset.group.name %></a></b> was created for the <%= asset.group.context.class.to_s.downcase %> <%= asset.group.context.name %>. The first member is <%= asset.user.name %>.