<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.context) %>/<%= asset.context.class.to_s.downcase.pluralize %>/<%= asset.context_id %>/files
<% end %>

<% define_content :subject do %>
  <%= t('subject', '%{count} new files added for the course, %{name}:', 
          :count => data.count,
          :name => asset.context.name) %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t 'see_details', 'You can view them here' %>
  </a>
<% end %>

<p><%= t('body', '%{count} new files have been added for the course, %{name}:', 
        :count => data.count,
        :name => asset.context.name) %></p>
