<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.default_host %>/users/<%= asset.id %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "New Teacher Registration" %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :details, "Click here to view teacher" %>
  </a>
<% end %>

<p><%= t :body, "%{user} just registered as a teacher at %{website}.", :user => asset.name, :website => (HostUrl.context_host(asset.latest_pseudonym.account) rescue nil) || HostUrl.default_host %></p>

<table border="0" style="font-size: 14px; color: #444444;
    font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif';
    border-collapse: collapse;">
    <tr>
        <td style="padding-right: 10px;"><%= t(:school_name, 'School Name') %>:</td>
        <td style="font-weight: bold;"><%= asset.school_name %></td>
    </tr>
    <tr>
        <td style="padding-right: 10px"><%= t(:school_position, 'School Position') %>:</td>
        <td style="font-weight: bold;"><%= asset.school_position %></td>
    </tr>
    <tr>
        <td style="padding-right: 10px;"><%= t(:phone, 'Phone') %>:</td>
        <td style="font-weight: bold;"><%= asset.phone %></td>
    </tr>
    <tr>
        <td style="padding-right: 10px;"><%= t(:email, 'Email') %>:</td>
        <td style="font-weight: bold;"><%= asset.email %></td>
    </tr>
</table>