<% define_content :link do %>
  <%= course_quiz_url(asset.quiz.context, asset.quiz) %>
<% end %>

<p>
  <% define_content :subject do %>
    <%= t :subject, "Quiz Regrade Finished: %{quiz}, %{context}", :quiz => asset.quiz.title, :context => asset.quiz.context.name %>
  <% end %>
</p>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link_message, "You can view the quiz here:" %>
  </a>
<% end %>

<p><%= t :body, "A regrade has finished for the quiz %{quiz}", :quiz => asset.quiz %></p>
