<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.submission.assignment.context) %>/<%= asset.submission.assignment.context.class.to_s.downcase.pluralize %>/<%= asset.submission.assignment.context_id %>/assignments/<%= asset.submission.assignment_id %>/submissions/<%= asset.submission.user_id %>
<% end %>

<%= t :body, "You've been reminded to assess: *%{title}* for %{context}.", :title => asset.rubric_association.title, :context => asset.rubric_association.context.name, :wrapper => "<b><a href=\"#{content :link}\">\\1</a></b>" %>
