<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.rubric_association.context) %>/<%= asset.rubric_association.context.class.to_s.downcase.pluralize %>/<%= asset.rubric_association.context_id %>/rubrics/<%= asset.rubric_association.rubric_id %>
<% end %>

<%= t :body, "You've been reminded to assess: *%{title}* for %{context}.", :title => asset.rubric_association.title, :context => asset.rubric_association.context.name, :wrapper => "<b><a href=\"#{content :link}\">\\1</a></b>" %>
