<% define_content :link do %>
  <%= polymorphic_url([asset.assignment.context, asset.assignment]) %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "Assignment Graded: %{assignment}, %{context}", :assignment => asset.assignment.title, :context => asset.assignment.context.name %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t(:link_message, "You can review the assignment here") %>
  </a>
<% end %>

<p><%= t :body, "Your assignment, %{assignment}, has been graded.", :assignment => asset.assignment.title %></p>

<p><%= t :graded_date, "graded: %{date}", :date => (datetime_string(force_zone(asset.graded_at)) rescue t(:no_date_set, "No Date Set")) %></p>

<% if user.try(:send_scores_in_emails?, asset.assignment.context.root_account) %>
  <% if asset.excused? %>
    <p><%= t :excused, "This assignment has been excused." %>
  <% elsif asset.score %>
    <p><%= t :score, "score:  %{score} out of %{total}", :score => asset.score, :total => (asset.assignment.points_possible || t(:not_applicable, "N/A")) %>
  <% end %>
<% end %>

<p><%= t(:score_pending_review, "score pending review by the teacher") if asset.pending_review? %></p>
