<% assignment = asset.assignment %>

<% define_content :link do %>
  <%= polymorphic_url([assignment.context, assignment, asset]) %>
<% end %>

<% define_content :subject do %>
  <%= t "Submission Posted: %{title}, %{course}", title: assignment.title, course: assignment.context.name %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link, "You can view it here" %>
  </a>
<% end %>

<p><%= t :body, "Your instructor has released grade changes and new comments for %{title}. These changes are now viewable.", :title => assignment.title %></p>
