<%
  # For discussion checkpoints, use the parent assignment instead of the sub-assignment
  # to ensure correct assignment IDs and URLs in notifications
  assignment = asset.assignment
  assignment = assignment.parent_assignment if assignment.checkpoint? && assignment.parent_assignment
%>
<% define_content :link do %>
  <% if assignment.context.feature_enabled?(:assignments_2_student) %>
    <%= course_assignment_url(assignment.context, assignment) %>
  <% else %>
    <%= course_assignment_submission_url(assignment.context, assignment, asset.user_id) %>
  <% end %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "Grade Changed: %{assignment}, %{context}", :assignment => assignment.title, :context => assignment.context.name %>
<% end %>

<% define_content :footer_link do %>
  <a href="<%= content(:link) %>">
    <%= t :link_message, "You can review the assignment here" %>
  </a>
<% end %>

<% if send_student_names(asset, user) %>
  <p><%= t "The grade on assignment %{assignment_title} has been changed for %{name}.", :assignment_title => assignment.title, name: asset.user.name %></p>
<% else %>
  <p><%= t :body, "The grade on your assignment %{assignment_title} has been changed.", :assignment_title => assignment.title %></p>
<% end %>

<p><%= t :regraded_date, "re-graded: %{date}", :date => (datetime_string(force_zone(asset.graded_at)) rescue t(:no_date_set, "No Date Set")) %></p>

<% if user.try(:send_scores_in_emails?, assignment.context) %>
  <% if asset.excused? %>
    <p><%= t :excused, "This assignment has been excused." %></p>
  <% elsif asset.score %>
    <% if assignment.restrict_quantitative_data?(user)%>
      <p><%=t :grade, "grade: %{letter_grade}", :letter_grade => assignment.score_to_grade(asset.score, asset.grade, true)%></p>
    <% else %>
      <p><%= t :score, "score: %{score} out of %{total}", :score => asset.score, :total => (assignment.points_possible || t(:not_applicable, "N/A")) %></p>
    <% end %>
  <% end %>
<% end %>

<p><%= t(:score_pending, "score pending review by the teacher") if asset.pending_review? %></p>
