<% define_content :link do %>
  http://<%= HostUrl.context_host(asset.context) %>/messages/<%= asset.id %>/reply
<% end %>
<%= case asset.context
  when Course
    t :course_body, "%{user_name} just sent you a message from the Canvas Course %{course_name}:", :user_name => (asset.user.name rescue t(:unknown_user, "Unknown User")), :course_name => asset.context.name
  when Group
    t :group_body, "%{user_name} just sent you a message from the Canvas Group %{group_name}:", :user_name => (asset.user.name rescue t(:unknown_user, "Unknown User")), :group_name => asset.context.name
  when Account
    t :account_body, "%{user_name} just sent you a message from the Canvas Account %{account_name}:", :user_name => (asset.user.name rescue t(:unknown_user, "Unknown User")), :account_name => asset.context.name
  when User
    t :user_body, "%{initiator_user_name} just sent you a message from the Canvas User %{source_user_name}:", :initiator_user_name => (asset.user.name rescue t(:unknown_user, "Unknown User")), :source_user_name => asset.context.name
  else
    t :context_body, "%{user_name} just sent you a message from the Canvas Context %{context_name}:", :user_name => (asset.user.name rescue t(:unknown_user, "Unknown User")), :context_name => asset.context.name
end %><br/>
<b><a href="<%= content :link %>"><%= asset.subject %></a></b>
