<% namespace = asset.find_namespace_for_user(user) %>
<% define_content :link do %>
  http://<%= HostUrl.context_host(namespace.context) %>/<%= namespace.context.class.to_s.downcase.pluralize %>/<%= namespace.context_id %>/wiki/<%= namespace.namespace + ":" if !namespace.default? %><%= asset.url %>
  <% end %>

A page has been updated on the wiki for <%= namespace.context.name %>.  
<br/>
<b><a href="<%= content :link %>"><%= asset.title.titleize %></a></b>
