<td class="center">
  <a href="{{html_url}}" class="avatar" title="{{name}}"><img src="{{avatar_url}}" alt="{{name}}"></a>
</td>
<td>
  <a href="{{html_url}}" data-user-id="{{id}}" class="roster_user_name">{{name}}</a>
</td>
<td>
  {{login_id}}
</td>
