{{#if singleSubmission}}
  {{#each submissions}}
    {{#if ../showSubmissionStatus}}
      {{#t "submitted"}}<label>Submitted:</label> {{submittedAt}}{{proxy_submitter_label_text}}{{/t}}
    {{/if}}
    {{#if custom_grade_status_id}}
      <span class="submission-custom-grade-status-pill-{{custom_grade_status_id}}"></span>
    {{else}}
      {{#if late_policy_status}}
        <span class="submission-status-pill submission-{{late_policy_status}}-pill"></span>
      {{else}}
        {{#if late}}
          <span class="submission-late-pill"></span>
        {{else}}
          {{#if missing}}
            <span class="submission-missing-pill"></span>
          {{else}}
            {{#if excused}}
              <span class="submission-excused-pill"></span>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
{{else}}
  <label for="submission_to_view" class="ic-Label">
    {{#t "submission_to_view"}}Submission to view:{{/t}}
  </label>
  <select id="submission_to_view" class="ic-Input">
    {{#eachWithIndex submissions startingValue="1"}}
      <option value="{{value}}" {{#if late}}class=late{{/if}} {{#if selected}}selected{{/if}}>
        {{#if ../showSubmissionStatus}}
          {{submittedAt}}{{#if proxy_submitter}}({{proxy_submitter}}){{/if}}
        {{else}}
          {{#t}}Submission {{_index}}{{/t}}
        {{/if}}
        {{#if custom_grade_status_name}}
          {{custom_grade_status_name}}
        {{else}}
          {{#if late}}
            {{#t}}LATE{{/t}}
          {{else}}
            {{#if missing}}
              {{#t}}MISSING{{/t}}
            {{/if}}
          {{/if}}
        {{/if}}
        {{#if grade}}
          {{#t "grade"}}(grade: {{grade}}){{/t}}
        {{/if}}
      </option>
    {{/eachWithIndex}}
  </select>
{{/if}}

{{#if linkToQuizHistory}}
  <a href="{{quizHistoryHref}}" class=see-all-attempts>
    {{#t "see_all_quiz_attempts"}}See all quiz attempts{{/t}}
  </a>
{{/if}}