<div class="group-user-name ellipsis">
  <i class="icon-drag-handle" aria-hidden="true"></i>
  {{name}} {{#if pronouns}}<i>({{pronouns}})</i>{{/if}}
</div>
{{#if is_inactive}}
  <span style="margin-left:0.5em" class="label"
        title="{{#t}}This user is currently not able to access the course{{/t}}">
    {{#t}}inactive{{/t}}
  </span>
{{/if}}
{{#if isLeader}}<i class="icon-user group-leader"
  aria-label="{{#t 'group_leader'}}Group Leader{{/t}}"
  title="{{#t 'group_leader'}}Group Leader{{/t}}"></i>{{/if}}
{{#if canAssignToGroup}}
  <a role="button"
     href="#"
     data-user-id="user_{{id}}"
     class="assign-to-group"
     aria-haspopup="true"
     aria-label="{{#t "assign_user_to_group"}}Assign {{name}} to a group{{/t}}">
      <i class="icon-plus"></i>
  </a>
{{/if}}
<div id="group_{{groupId}}_user_{{id}}_menu_selector" style="position: absolute; top: -2px; right: 0;"></div>
