<!-- taken from app/views/shared/_enrollment.html.erb -->
{{#each this}}
<li id="enrollment_{{id}}" class="user user_{{user_id}} {{typeClass}}" title="{{user.name}}: {{user.login_id}}">
  <span class="links">
    {{#if can_be_removed}}
    <a href="/courses/{{course_id}}/unenroll/{{id}}" class="unenroll_user_link no-hover" title="{{#t "links.unenroll_user"}}Remove User from Course{{/t}}">
      <img alt="delete_enrollment" src="/images/delete_circle.png" />
    </a>
    {{/if}}
    <a href="/confirmations/{{user_id}}/re_send/{{user_id}}?enrollment_id={{id}}" class="re_send_confirmation_url" style="display: none;">&nbsp;</a>
  </span>
  <a href="/courses/{{course_id}}/users/{{user_id}}"
     {{#ifEqual type "StudentEnrollment"}}
     data-course_id={{course_id}}
     data-student_id={{user_id}}
     {{/ifEqual}}
     class="name {{#ifEqual type "StudentEnrollment"}}student_context_card_trigger{{/ifEqual}}"
     >{{user.sortable_name}}</a>
  <div class="short_name">{{user.short_name}}</div>
  <div class="enrollment_type">{{typeLabel}}</div>
  <div class="email">{{user.login_id}}</div>

  <span class="clear"></span>
</li>
{{/each}}
