<div class="bz-dynamic-syllabus">
<% if @editable %>
  <a href="/courses/<%= @course.id %>/dynamic_syllabus/edit">Edit</a>
<% end %>

  <h1><%= @course.intro_title %></h1>
  <div class="bz-course-intro-text"><%= @course.intro_text ? @course.intro_text.html_safe : '' %></div>

  <!--
    We need parts, which organized modules, have title, description, and task boxes.
      - let's put the part ID on the module table.

    Modules need images and intro text added.
  -->

  <div class="bz-course-part-task-box" id="bz-task-part-box"> </div>

  <% CoursePart.where(:course_id => @course.id).order(:position, :id).each do |part|
     part_count = 0
     part_modules = @course.context_modules.active.where(:part_id => part.id)
     progressions = {}
     all_complete = true
     part_modules.each do |mod|
       progress = @progressions.where(:context_module_id => mod.id).first
       progressions[mod.id] = progress
       all_complete = false if progress.workflow_state != 'completed'
     end
  %>
  <div class="bz-course-part <%= all_complete ? 'bz-part-complete bz-part-collapsed' : '' %>">
    <h2><%= part.title %></h2>

    <% if all_complete %>
      <button class="bz-expand-collapse-button" type="button" onclick="
        $(this.parentNode).toggleClass('bz-part-collapsed');
        if($(this.parentNode).hasClass('bz-part-collapsed'))
          this.innerHTML = 'Expand';
        else
          this.innerHTML = 'Collapse';
      ">Expand</button>
    <% end %>

    <p><%= part.intro ? part.intro.html_safe : '' %></p>

    <% if false %>
    <!-- commented as it isn't used in this version -->
    <div class="bz-course-part-task-box">
      <h3><%= part.task_box_title %></h3>
      <div><%= part.task_box_intro ? part.task_box_intro.html_safe : "" %></div>
    </div>
    <% end %>

    <% part_modules.each do |mod| %>
    <% part_count += 1 %>
    <% progress = progressions[mod.id] %>
    <div class="bz-course-part-module-box <%= progress.workflow_state %> ">
      <div class="bz-module-image"><img src="<%= mod.image_url %>" alt="" /></div>
      <h3><%= part_count %> <%= mod.name %></h3>
      <div><%= mod.intro_text ? mod.intro_text.html_safe : '' %></div>
      <% if progress.workflow_state == 'completed' %>
        <a href="/courses/<%= @course.id %>/modules/items/<%= mod.content_tags.first.id %>" class="bz-button-pick-up">Completed</a>
      <% elsif progress.workflow_state == 'locked' %>
        <!-- locked, no button needed -->
      <% else %>
        <%
          ump = UserModulePosition.where(:user_id => @current_user.id, :module_id => mod.id, :course_id => @course.id)
          if ump.empty?
        %>
          <a class="bz-button-pick-up" href="/courses/<%= @course.id %>/modules/items/<%= progress.current_position_tag_without_progress.id %>">Pick up where you left off</a>
        <% else %>
          <a class="bz-button-pick-up" href="/courses/<%= @course.id %>/modules/items/<%= ump.first.module_item_id %>">Pick up where you left off</a>

        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
