<div class="bz-dynamic-syllabus">
  <h1><%= @course.intro_title %></h1>
  <%= @course.intro_text %>

  <!--
    We need parts, which organized modules, have title, description, and task boxes.
      - let's put the part ID on the module table.

    Modules need images and intro text added.
  -->

  <% CoursePart.where(:course_id => @course.id).order(:position, :id).each do |part| %>
  <% part_count = 0 %>
  <div class="bz-course-part">
    <h2><%= part.title %></h2>
    <p><%= part.intro %></p>

    <div class="bz-course-part-task-box">
      <h3><%= part.task_box_title %></h3>
      <div><%= part.task_box_intro %></div>
    </div>

    <% @course.context_modules.active.where(:part_id => part.id).each do |mod| %>
    <% part_count += 1 %>
    <% progress = @progressions.where(:context_module_id => mod.id).first %>
    <div class="bz-course-part-module-box <%= progress.workflow_state %> ">
      <img src="<%= mod.image_url %>" alt="" />
      <h3><%= part_count %> <%= mod.name %></h3>
      <div><%= mod.intro_text %></div>
      <a href="/courses/<%= @course.id %>/modules/items/<%= progress.current_position_tag_without_progress.id %>">Pick up where you left off</a>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
