<h1>Course Modules for Dynamic Syllabus</h1>

<hr />

<%= form_tag "/courses/#{@course.id}/dynamic_syllabus/modules_edit", {:method => :post} do %>

  <% @course.context_modules.active.each do |mod| %>
  <div>
    <h3><%= mod.name %></h3>
    <input type="hidden" name="module_id[]" value="<%= mod.id %>" />
    <label>Intro text:
      <textarea name="intro_text[]" style="width: 300px; height: 150px;">
        <%= mod.intro_text %>
      </textarea>
      <br />
    <label>Image:
      <input type="text" name="image_url[]" value="<%= mod.image_url %>" /></label>
      <br />
    <label>Course Part:
      <select name="part_id[]">
          <option value="">-none-</option>
        <% @course_parts.each do |part| %>
          <option value="<%= part.id %>" <%= (part.id == mod.part_id) ? 'selected' : '' %>><%= part.title %></option>
        <% end %>
      </select></label>
  </div>
  <% end %>

  <input type="submit" value="Save" />

<% end %>
