<h1>LinkedIn Data Export</h1>

<%= form_tag do |f| %>
  What is your email (the export spreadsheet will be emailed to you when it is ready)?
  <br />
  <%= text_field_tag :email, @email %>
  <br />
  Enter the Course IDs for the Fellows whose data should be exported:
  <br />
  <%= text_field_tag 'course_ids[]' %>
  <br />
  <%= text_field_tag 'course_ids[]' %>
  <br />
  <%= text_field_tag 'course_ids[]' %>
  <br />
  <%= submit_tag 'Request export' %>
<% end %>

<p>
Note: You can send anyone with a Portal account to <a href="/bz/linked_in_auth">this page</a> for them to authorize Braven's access to their LinkedIn profile.
</p>
