<div class="my-cohort-info-page">
<h1>My Cohort Info</h1>

<% output_any = false %>

<% @current_user.enrollments.active.each do |enrollment| %>
  <% next if !params[:course_id].nil? && params[:course_id].to_s != enrollment.course_id.to_s %>

  <% if output_any %>
    <hr />
  <% end %>

  <% output_any = true %>

  <% if params[:course_id].nil? %>
    <!-- if there is more than one course, we want more info, otherwise, unnecessary -->
    <h2><%= Course.find(enrollment.course_id).name %></h2>
    <h3><%= enrollment.course_section.name %></h3>
  <% end %>

  <% info = CohortInfo.where(:course_id => enrollment.course_id, :section_name => enrollment.course_section.name) %>
  <% if info.any?
       info = info.first
  %>
    <table class="ll individual_info">
      <caption>Learning Labs</caption>
      <tr><th>Times:</th><td><%= info.ll_times %></td></tr>
      <tr><th>Location:</th><td><%= info.ll_location %></td></tr>
    </table>
    <table class="lc individual_info">
      <caption>Leadership Coach</caption>
      <tr><th>Name:</th><td><%= info.lc_name %></td></tr>
      <tr><th>Email:</th><td><%= info.lc_email %></td></tr>
      <tr><th>Phone:</th><td><%= info.lc_phone %></td></tr>
    </table>
    <table class="ta individual_info">
      <caption>TA</caption>
      <tr><th>Name:</th><td><%= info.ta_name %></td></tr>
      <tr><th>Email:</th><td><%= info.ta_email %></td></tr>
      <tr><th>Phone:</th><td><%= info.ta_phone %></td></tr>
      <tr><th>Office hours:</th><td><%= info.ta_office %></td></tr>
    </table>
  <% else %>
    <!-- no additional info -->
  <% end %>

  <table class="fellows_info">
    <caption>Fellows</caption>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Interests</th>
    </tr>
    <% enrollment.course_section.students.active.each do |student| %>
      <tr>
      <td>
      <%= student.name %>
      </td><td>
      <%= student.email %>
      </td><td>
      <%= student.industry_interests.join(", ") %>
      </td>
      </tr>
    <% end %>
  </table>

<% end %>

<% if !output_any %>
  <p>You are not a member of this course.</p>
<% end %>

</div>
