<table id="instant-survey-report">
	<caption>Survey Stats for <%= @name %></caption>
	<tr><th>Option</th><th>Votes</th></tr>
	<% @aggregate_result.each do |row| %>
	<tr>
	  <td><%= row["value"] %></td>
	  <td><%= row["cnt"] %></td>
	</tr>
	<% end %>
</table>

<table id="instant-survey-report-details">
	<caption>Individual Responses</caption>
	<tr><th>Name</th><th>Email</th><th>Response</th></tr>
	<% @individual_responses.each do |row| %>
	<tr>
	  <td><%= row["name"] %></td>
	  <td><%= row["email"] %></td>
	  <td><%= row["value"] %></td>
	</tr>
	<% end %>
</table>
