<li class="static ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" aria-selected="true">
  <a href="#tab-0" class="ui-tabs-anchor">{{#t 'everyone_tab'}}Everyone{{/t}}</a>
</li>
{{#each collection}}
  <li role="tab" class="ui-state-default ui-corner-top" aria-selected="false">
    <a href="/courses/{{course_id}}/groups#tab-{{id}}" class="group-category-tab-link ui-tabs-anchor">
      {{name}}
    </a>
  </li>
{{else}}
  <li class="ui-state-default ui-corner-top" role="tab" aria-selected="false"><a href="/courses/{{course.id}}/groups" class="ui-tabs-anchor">{{#t 'groups'}}Groups{{/t}}</a></li>
{{/each}}
