<li class="{{#unless can_be_removed}}cannot_remove{{/unless}}">
  {{#if can_be_removed}}
    <div class="ellipsis" title="{{name}} - {{enrollmentName role}}">{{name}} - {{enrollmentName role}}</div>
    <a href="#" title="{{#t "remove_user_from_course_section"}}Remove user from {{name}}{{/t}}">
      <i class="icon-x" aria-hidden="true"></i>
      <span class="screenreader-only">
        {{#t "remove_user_from_course_section"}}Remove user from {{name}}{{/t}}
      </span>
    </a>
  {{else}}
    <div class="ellipsis" title="{{#t}}You cannot remove this enrollment.{{/t}}">{{name}} - {{enrollmentName role}}</div>
  {{/if}}
  <input type="hidden" name="sections[]" value="section_{{id}}">
</li>
