<%
# Copyright (C) 2014 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  css_bundle :login
  @headers = false
  provide :page_title, t(:page_title, "Log Out")
  add_body_class "full-width ic-Login-Body"
%>
<div class="ic-Login">
  <div class="ic-Login__container">
    <div class="ic-Login__content">
      <div class="ic-Login__innerContent">
        <div class="ic-Login__header">
          <%= render :partial => 'login/shared/header_logo' %>
        </div>
        <div class="ic-Login__body">
          <h1 class="ic-Login__title">
            <%= t 'log_out', 'Log Out' %>
          </h1>
          <p class="ic-Login__text">
            <%= t 'details.log_out', 'Are you sure you want to log out of Canvas?' %>
          </p>
          <%= form_tag logout_path, method: :delete do %>
            <div class="ic-Login__actions">
              <%= link_to(t(:cancel, "Cancel"), '/', :class => "ic-Login__link") %>
              <div class="ic-Login__actions--right">
                <button type="submit" class="Button Button--login" id="Button--logout-confirm">
                  <%= t("Log Out") %>
                </button>
              </div>
            </div>
          <% end %>
        </div> <!-- end ic-Login__body -->
      </div> <!-- end ic-Login__innerContent -->
    </div> <!-- end ic-Login__content -->
  </div> <!-- end ic-Login__content -->
</div> <!-- end ic-Login__container -->
