<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<style media="screen">
  #unauthorized_message div {
    font-size: 1.1em;
    padding: 1em;
    font-weight: 500;
    margin: 0;
  }

  #unauthorized_message p {
    padding: 1em;
  }

  #unauthorized_message p.error {
    background-color: lightgray
  }
</style>

<% content_for :page_title do %>
  <%= t 'Failed to Log In' %>
<% end %>

<div id="unauthorized_holder">
  <% css_bundle("unauthorized_message") %>
  <div id="unauthorized_message">
    <h2 class="ui-state-error">
      <%= t 'Failed to Log In' %>
    </h2>

    <p class="error">
      <%= flash[:delegated_message] %>
    </p>

    <div>
      <%= raw(SettingsService.get_settings(object: :school, id: 1)['error_help_text']) %>
    </div>

    <p>
      <%= t "You can try to *log in again*.", wrapper: link_to('\1', login_url) %>
    </p>
  </div>
</div>
