{{#if hasSubCheckboxes }}
  <div class="treeitem-heading">
    <a href="#" id="caret-{{cid}}" tabindex="-1" aria-hidden="true" class="checkbox-caret">
      <i class="icon-arrow-down"></i><i class="icon-arrow-right"></i></a>

    <label class="checkbox">
      <input type="checkbox" tabindex="-1" name="{{property}}" value="1" id="checkbox-{{cid}}"/>
      <i aria-hidden="true" class="{{iconClass}}"></i>
      <span data-bind="title" class="checkbox-title">{{title}}</span>
      {{#if screenreaderType}}<span class="screenreader-only">({{screenreaderType}})</span>{{/if}}

      {{#if count}}
        <span data-bind="count">({{n count}})</span>
      {{/if}}
      {{#if sub_count}}
        <span class="sub_count">({{sub_count}})</span>
      {{/if}}
    </label>
  </div>

  <ul role="group">
    {{#if showModuleOptions}}
      <li>
        <div class="module_options" id="module-options-{{cid}}">
          <div class="ic-Form-control ic-Form-control--radio ic-Form-control--radio-inline">
            <div class="ic-Radio">
              <input id="module-option-1-{{cid}}" type="radio" name="module-option-group-{{cid}}" value="one" checked="checked">
              <label for="module-option-1-{{cid}}" class="ic-Label">Import as one module</label>
            </div>
            <div class="ic-Radio">
              <input id="module-option-2-{{cid}}" type="radio" name="module-option-group-{{cid}}" value="separate">
              <label for="module-option-2-{{cid}}" class="ic-Label">Import sub-modules separately</label>
            </div>
          </div>
        </div>
      </li>
    {{/if}}

    <li data-content="sublevelCheckboxes">
  </ul>
{{else}}
  <div class="treeitem-heading">
    <label class="checkbox no-caret">
      <input tabindex="-1" type="checkbox" name="{{property}}" value="1" id="checkbox-{{cid}}" />
      {{#if isTopLevel}}<i aria-hidden="true" class="{{iconClass}}"></i>{{/if}}
      <span data-bind="title" class="checkbox-title">{{title}}</span>

      {{#if screenreaderType}}<span class="screenreader-only">({{screenreaderType}})</span>{{/if}}

      {{#if count}}
      <span data-bind="count">({{n count}})</span>
      {{/if}}
    </label>
  </div>
{{/if}}
