{{#if settings.source_course_name}}
  <span><a href="{{settings.source_course_html_url}}" data-tooltip title="{{escape_html settings.source_course_name}}">{{truncate settings.source_course_name 25}}</a></span>
{{else}}
   {{#if attachment}}
        <span><a href="{{attachment.url}}" data-tooltip title="{{attachment.filename}}">{{truncate_left  attachment.filename 25}}</a></span>
   {{/if}}
{{/if}}
