<%
   has_multiple_sections = @context.course_sections.active.count > 1
%>

<% if can_do(@context, @current_user, :manage_students) || can_do(@context, @current_user, :manage_admin_users) %>
  <% if @context.completed? || @context.soft_concluded? %>
    <%= t('cannot_add_users_to_concluded_course', %{You cannot add users to a concluded course.}) %>
  <% else %>
    <a href="#" class="add_users_link btn btn-primary"><i class="icon-group-new"></i> <%= t('links.add_users', %{Add Users}) %></a>
  <% end %>
<% end %>

<% form_tag course_enroll_users_url(@context), {:id => "enroll_users_form", :style => "display: none;"} do  %>
  <h2><%= t('headings.add_users', %{Add Course Users}) %></h2>

  <div class="add-course-users">
    <div class="header">
      <div class="id-holder">
        <%= render :partial => 'enrollment_type_select' %>
      </div>
      <div class="id-holder" style="<%= hidden unless has_multiple_sections %>" id="course_section_id_holder">
        <%= label_tag :course_section_id, :en => 'For the section' %>
        <select title="<%= t('titles.course_section', 'Course Section') %>" name="course_section_id" id="course_section_id">
          <% @context.course_sections.active.each do |section| %>
            <option value="<%= section.id %>" class="option_for_section_<%= section.id %>"><%= section.display_name %></option>
          <% end %>
        </select>
      </div>
      <div style="clear:both">
          <span id="limit_privileges_to_course_section_holder" style="padding-left: 10px; white-space: nowrap;">
            <input type="checkbox" id="limit_privileges_to_course_section" name="limit_privileges_to_course_section" value="1"/>
            <%= label_tag :limit_privileges_to_course_section, :en => 'these admins can only grade students in their section' %>
          </span>
      </div>
      <div class="teacherless_invite_message" style="<%= hidden unless @context.teacherless? %> font-size: 0.8em;">
        <%= t('teacherless_invite_details', %{If you invite a teacher and they accept, you will give up administrative privileges for this course.}) %>
      </div>
    </div>
    <%= render :partial => 'shared/user_lists' %>
    <% unless @context.available? %>
      <div style="font-size: 0.8em;" tabindex="0">
        <i><%= t('invite_to_unpublished_course', %{Since the course hasn't been published, students and TAs will be added, but won't be invited to join the course.  Invitations will be sent out when the course is published.}) %></i>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <button type="button" class="btn go_back_button"><%= t('buttons.modify_users', %{Go back and edit the list of users}) %></button>
    <button type="button" class=" btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
    <button type="button" class="btn btn-primary verify_syntax_button"><%= t('buttons.continue', %{Continue...}) %></button>
    <button type="submit" class="btn btn-primary add_users_button"><%= t('buttons.add_users', %{OK Looks Good, Add These Users}) %></button>
  </div>

<% end %>