<% js_bundle 'legacy/courses_course_wizard_box' %>

<% content_for :wizard_box do %>
  <% #cache(['wizard_box_partial', @context, @current_user].cache_key) do %>

  <div class="wizard-box__container">
    
    <div class="wizard-box__columns">
    
      <div class="wizard_options">
        <a class="wizard-box__logo" href="<%= dashboard_url %>">
          <%= render(:partial => 'shared/svg/svg_canvas_logo') %>
        </a>
        <ul class="wizard_options_list">
          <% if can_do @context, @current_user, :manage_content %>
            <li class="option download_step <%= 'completed' unless @context.attachments.active.first.nil? %>">
              <a href="<%= context_url(@context, :context_content_migrations_url) %>" class="header"><%= t('links.import', %{Import Content}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-download"></i>
                </div>
                <p>
                  <%= t 'details.import', %{If you've been using another course management system, you probably have stuff in there that you're going to want moved over to Canvas. We can walk you through the process of easily migrating your content into Canvas.} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :manage_content, :manage_assignments %>
            <li class="option assignments_step <%= 'completed' unless @context.assignments.active.first.nil? %>">
              <a href="<%= context_url(@context, :context_assignments_url, :wizard => 1) %>" class="header"><%= t('links.assignments', %{Add Course Assignments}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-assignment"></i>
                </div>
                <p>
                  <%= t 'details.assignments', %{Add your assignments.  You can just make a long list, or break them up into groups - and even specify weights for each assignment group.} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :manage_students %>
            <li class="option students_step <%=  'completed' unless @context.students.first.nil? %>">
              <a href="<%= course_users_path(course_id: @context) %>" class="header"><%= t('links.students', %{Add Students to the Course}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-group-new"></i>
                </div>
                <p>
                  <%= t 'details.students', %{You'll definitely want some of these.  What's the fun of teaching a course if nobody's even listening?} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :manage_content, :manage_files %>
            <li class="option download_step <%= 'completed' unless @context.attachments.active.first.nil? %>" style="display: none;">
              <a href="<%= context_url(@context, :context_files_url, :wizard => 1) %>" class="header"><%= t('links.files', %{Add Course Files}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-folder"></i>
                </div>
                <p>
                  <%= t 'details.files', %{The Files tab is the place to share lecture slides, example documents, study helps -- anything your students will want to download.  Uploading and organizing your files is easy with Canvas.  We'll show you how.} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :update %>
            <li class="option content_step <%= 'completed' if @context.tab_configuration %>">
              <a href="<%= context_url(@context, :context_details_url) %>#tab-navigation" class="header"><%= t('links.navigation', %{Select Navigation Links}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-link"></i>
                </div>
                <p>
                  <%= t 'details.navigation', %{By default all links are enabled for a course.  Students won't see links to sections that don't have content.  For example, if you haven't created any quizzes, they won't see the quizzes link.  You can sort and explicitly disable these links if there are areas of the course you don't want your students accessing.} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :manage_content %>
            <li class="option content_step completed">
              <a href="#" class="header"><%= t('links.home', %{Choose a Course Home Page}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-home"></i>
                </div>
                <p>
                  <%= t 'details.home2', %{When people visit the course, this is the page they'll see.  You can set it to show an activity stream, the list of course modules, a syllabus, or a custom page you write yourself.  The default is the course activity stream.  To customize this, just click %{choose_home_page}.}, :choose_home_page => "<strong class='change_home_page_layout_indicate'>#{h(t('#courses.show.links.choose_home_page', %{Choose Home Page}))}</strong>".html_safe %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :manage_calendar %>
            <li class="option calendar_step <%= 'completed' unless @context.calendar_events.active.first.nil? %>">
              <a href="<%= calendar_path(:wizard => 1) %>" class="header"><%= t('links.calendar', %{Add Course Calendar Events}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-calendar-day"></i>
                </div>
                <p>
                  <%= t 'details.calendar', %{Here's a great chance to get to know the calendar -- and add any non-assignment events you might have to the course.  Don't worry, we'll help you through it.} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if can_do @context, @current_user, :manage_admin_users %>
            <li class="option ta_step <%= 'completed' unless @context.tas.empty? %>">
              <a href="<%= course_users_path(:course_id => @context) %>" class="header"><%= t('links.tas', %{Add TAs to the Course}) %></a>
              <div class="details" style="display: none;">
                <div class="wizard-box__feature-icon">
                  <i class="icon-user-add"></i>
                </div>
                <p>
                  <%= t 'details.tas', %{You may want to assign some TAs to help you with the course.  TAs can grade student submissions, help moderate the discussions and even update due dates and assignment details for you.} %>
                </p>
              </div>
            </li>
          <% end %>
          <% if !@context.available? && can_do(@context, @current_user, :change_course_state) %>
          <li class="option publish_step">
            <a href="#" class="header"><%= t('links.publish', %{Publish Course}) %></a>
            <div class="details" style="display: none;">
              <% if !@current_user && @pending_teacher %>
                <div class="wizard-box__feature-icon">
                  <i class="icon-unpublish"></i>
                </div>
                <p>
                  <%= t 'details.publish.not_registered', %{This course is claimed and ready, but you'll need to finish the registration process before you can publish the course.  You should have received an email from Canvas with a link to finish the process.  Be sure to check your spam box.} %>
                </p>
                <div style="text-align: center; font-size: 1.2em;">
                  <b><a href="<%= re_send_confirmation_path(@pending_teacher.id, @pending_teacher.communication_channel.id) %>" class="re_send_confirmation_link"><%= t('links.re_send_confirmation', %{Re-Send the Confirmation Email}) %></a></b>
                </div>
              <% else %>
                <div class="wizard-box__feature-icon">
                  <i class="icon-publish"></i>
                </div>
                <p>
                  <%= mt 'details.publish.form', %{All finished?  Time to publish your course!  Click the button below to make it official! Publishing will allow the users to begin participating in the course.} %>
                </p>
                <%= form_for @context, :url => course_path(@context), :html => {:method => :put} do |f| %>
                  <input type="hidden" name="course[event]" value="offer"/>
                  <div class="wizard_details--calltoaction">
                    <button type="submit" class="btn btn-success btn-large"><%= t('buttons.publish', %{Publish Course}) %></button>
                  </div>
                <% end %>
              <% end %>
            </div>
          </li>
          <% end %>
          <li class="option intro" style="display: none;">
            <a href="#" class="header"><%= t('links.publish', %{Publish Course}) %></a>
            <div class="details" style="display: none;">
              <% if @context.created? %>
                <% if @context_just_saved %>
                  <div class="wizard-box__feature-icon">
                    <i class="icon-check"></i>
                  </div>
                  <div class="wizard-box--details-inner">
                  <p>
                    <%= mt 'details.created.saved', %{Done and done!  Your course, %{course} is now officially created.  It's only visible to you until it is published -- but before you jump the gun, you'll want to run through the list to the left to get a feel for how Canvas works and to make sure you really are ready to teach. If you need to leave and come back before then, just save *this link* to get back here later. Please **log in** or ***register*** to claim this course.}, :course => @context.name, :wrapper => {
                    '*' => content_tag('b', link_to('\1', course_path(@context, :verification => @context.uuid), :title => t('links.title.bookmark', 'Copy or bookmark this link'))),
                    '**' => content_tag('b', link_to('\1', login_path)),
                    '***' => content_tag('b', link_to('\1', register_path)),
                  } %>
                  </p>
                  </div>
                <% else %>
                  <div class="wizard-box__feature-icon">
                    <i class="icon-warning"></i>
                  </div>
                  <p>
                    <%= mt 'details.created.not_saved', %{This class has been created, but not claimed.  It'll get deleted if it's not claimed within a week.  In the mean time, tick through the list to the left to make sure you're ready to go. If you need to leave and come back before then, just save *this link* to get back here later.

    Please **log in** or ***register*** to claim this course.}, :wrapper => {
                    '*' => content_tag('b', link_to('\1', course_path(@context, :verification => @context.uuid), :title => t('links.title.bookmark', 'Copy or bookmark this link'))),
                    '**' => content_tag('b', link_to('\1', login_path)),
                    '***' => content_tag('b', link_to('\1', register_path)),
                  } %>
                  </p>
                <% end %>
              <% elsif @context.claimed? %>
                <% if @context_just_saved %>
                  <div class="wizard-box__feature-icon">
                    <i class="icon-check"></i>
                  </div>
                  <p>
                    <%= mt 'details.claimed.saved', %{Done and done!  Your course, %{course} is now officially created. It's only visible to you until it is published -- but before you jump the gun, you'll want to run through the list to the left to get a feel for how Canvas works and to make sure you really are ready to teach.}, :course => @context.name %>
                  </p>
                <% else %>
                  <div class="wizard-box__feature-icon">
                    <i class="icon-question"></i>
                  </div>
                  <p>
                    <%= mt 'details.claimed.not_saved', %{Great, so you've got a course...  Now what?  Well, before you go publishing it to the world, you may want to check and make sure you've got the basics laid out.  Work through the list on the left to ensure that your course is ready to use. *This course is visible only to teachers until it is published*}, :wrapper => '<b>\1</b>' %>
                  </p>
                <% end %>
              <% else %>
                <div class="wizard-box__feature-icon">
                  <i class="icon-instructure"></i>
                </div>
                <p>
                  <%= mt 'details.available', %{Now that your course is set up and available, you probably won't need this checklist anymore.  But we'll keep it around in case you realize later you want to try something new, or you just want a little extra help as you make changes to your course content.} %>
                </p>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="wizard_details__layout">

        <div class="wizard-box__close-wizard">
          <div class="ic-Expand-link ic-Expand-link--from-right ic-Expand-link--Secondary">
            <a href="#" class="close_wizard_link ic-Expand-link__trigger">
              <div class="ic-Expand-link__layout">
                <i class="icon-x ic-Expand-link__icon"></i>
                <span class="ic-Expand-link__text">Close and return to Canvas</span>
              </div>
            </a>
          </div>
        </div>
        
        <h3 class="wizard_details__headline"><%= t('headings.next_steps', %{Next Steps}) %></h3>
        <div class="wizard_details__container">
          <div class="wizard_details"> 
            <h3 class="header" style="display: none;">&nbsp;</h3>
            <div class="wizard_details__calltoaction">
              <a class="link btn btn-primary btn-large">&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <% #end %>
<% end %>
