<div class="reminder">
  <h2><%= t('headings.invitation', %{Invitation}) %></h2>
  <div class="body">
    <%= case @pending_enrollment
        when StudentEnrollment
          t 'invitation.student', "You've been invited to join this course as a *student* for the user account *%{user}*.", { :user => @pending_enrollment.user.email, :wrapper => '<b>\1</b>' }
        when TeacherEnrollment
          t 'invitation.teacher', "You've been invited to join this course as a *teacher* for the user account *%{user}*.", { :user => @pending_enrollment.user.email, :wrapper => '<b>\1</b>' }
        when TaEnrollment
          t 'invitation.ta', "You've been invited to join this course as a *TA* for the user account *%{user}*.", { :user => @pending_enrollment.user.email, :wrapper => '<b>\1</b>' }
        when ObserverEnrollment
          t 'invitation.observer', "You've been invited to join this course as an *observer* for the user account *%{user}*.", { :user => @pending_enrollment.user.email, :wrapper => '<b>\1</b>' }
        when DesignerEnrollment
          t 'invitation.designer', "You've been invited to join this course as a *designer* for the user account *%{user}*.", { :user => @pending_enrollment.user.email, :wrapper => '<b>\1</b>' }
        else
          t 'invitation.other', "You've been invited to join this course for the user account *%{user}*.", { :user => @pending_enrollment.user.email, :wrapper => '<b>\1</b>' }
        end
    %>
    <%= t('invitiation.look_around', %{Feel free to wander around and look over the course.  When you're ready, you can either accept or reject the invitation.}) %>
    <div class="button-container">
      <%= form_tag course_enrollment_invitation_path(@context) do %>
        <button type="submit" name="accept" class="btn btn-small positive btn-primary"><%= t('buttons.accept', %{Accept Invitation}) %></button>
        <button type="submit" name="reject" class="btn btn-small reject_button"><%= t('buttons.reject', %{Reject Invitation}) %></button>
      <% end %>
    </div>
  </div>
</div>
