<% 
  show_context ||= false
  comment = nil
  grade = nil
  score = nil

  cache(['recent_feedback_render', recent_feedback || 'blank_feedback', Time.zone.utc_offset].cache_key) do 
    context = recent_feedback.context
    assignment = recent_feedback.assignment
    url = context_url(context, :context_assignment_submission_url, :assignment_id => recent_feedback.assignment_id, :id=>@current_user.id)
    grade = readable_grade(recent_feedback)
    score = recent_feedback.score
    comment = recent_feedback.last_teacher_comment
    comment_text = comment.comment if comment
    icon_explanation, icon_class = icon_data(:context => context, 
                                             :current_user => @current_user, 
                                             :recent_event => assignment, 
                                             :submission => recent_feedback, 
                                             :student_only => true)
  %>
<li style="<%= hidden if is_hidden %>" class="event">
  <a
    data-track-category="dashboard"
    data-track-label="recent feedback"
    class="<%= icon_class %> tooltip" href="<%= url %>"
  >
    <span class="tooltip_wrap">
      <span class='tooltip-carat'></span>
      <span class="tooltip_text">
        <% if recent_feedback.workflow_state != 'unsubmitted' %>
          <span style="display: block;"><%= before_label(icon_explanation.try(:capitalize)) %> 
            <% if recent_feedback.workflow_state == 'graded' %>
              <span style="font-size: 0.8em;"><%= datetime_string(recent_feedback.graded_at) %></span>
            <% else %>
              <span style="font-size: 0.8em;"><%= datetime_string(recent_feedback.submitted_at) %></span>
            <% end %>
          </span>
          <% unless recent_feedback.workflow_state == 'graded' %>
            <span style="display: block; font-style: italic;"><%= t('not_graded', %{not graded}) %></span>
          <% end %>
        <% else %>
          <span style="display: block; font-style: italic;"><%= icon_explanation.try(:capitalize) %></span>
          <span style="display: block; font-size: 0.8em;"><%= translated_due_date(assignment) %></span>
        <% end %>
        <% if assignment.points_possible %>
          <span style="display: block;">
            <% if grade %>
              <%= t 'submission_points.with_score', %{Score: %{score} *out of %{points_possible}*}, :score => render_score(score), :points_possible => assignment.points_possible,
                :wrapper => '<span style="font-size: 0.8em;">\1</span>' %>
            <% else %>
              <span style="font-size: 0.8em;"><%= t 'submission_points.without_score', "out of %{points_possible}", :points_possible => assignment.points_possible %></span>
            <% end %>
          </span>
        <% end %>
        <span style="display: block;"><%= t 'comments', "Comments: %{count}", :count => recent_feedback.submission_comments.length %></span>
        <% if show_context %>
          <span style="display: block; font-size: 0.8em;"><%= context.short_name %></span>
        <% end %>
      </span>
    </span>
    <div style="border-bottom: 1px dotted #aaa;">
      <% if comment && comment.media_comment? %>
        <% kaltura_thumbnail_url = CanvasKaltura::ClientV3.new.thumbnail_url(comment.media_comment_id, :width => 50, :height => 35, :bgcolor => "F3F4F5") %>
        <img src="<%= kaltura_thumbnail_url %>" style="float: right; padding-left: 3px;" alt=""/>
      <% end %>
      <b class="ellipsis"><%= recent_feedback.assignment.title %></b>
      <% if comment_text or grade %>
        <em class="ellipsis" style="color: #808080; border: 0;">
          <% if grade %>
            <strong><%= grade %></strong>
            <%= " - " if comment_text && (!comment || !comment.media_comment?) %>
          <% end %>
          <% if comment_text %>
            <span class="<%= 'hidden-readable' if comment && comment.media_comment? %>">
            &ldquo;<%= comment_text %>&rdquo;
            </span>
          <% end %>
        </em>
      <% end %>
    </div>
    <div class="clear"></div>
  </a>
  <div class="clear"></div>
</li>

<% end %>
