<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<li style="<%= hidden if is_hidden %>" class="event">

<%
  recent_feedback ||= nil
  show_context ||= false
  comment = nil
  grade = nil
  score = nil

  cache(['recent_feedback_render3', @current_user&.course_nickname_hash, recent_feedback || 'blank_feedback', Time.zone.utc_offset].cache_key) do
    assignment = recent_feedback.assignment
    preserve_grade = ["letter_grade", "pass_fail"].include?(recent_feedback.assignment.grading_type)
    context = recent_feedback.assignment.context
    if recent_feedback.assignment.a2_enabled?
      context_symbol = :context_assignment_url
      context_params = {:id => recent_feedback.assignment_id}
    else
      context_symbol = :context_assignment_submission_url
      context_params = {:assignment_id => recent_feedback.assignment_id, :id => @user&.id || @current_user.id}
    end
    url = context_url(context, context_symbol, context_params)
    grade = readable_grade(recent_feedback)
    score = recent_feedback.score
    comment = recent_feedback.last_teacher_comment
    comment_text = HtmlTextHelper.strip_and_truncate(comment.comment, :max_length => 120) if comment
    icon_explanation, _, icon_class = icon_data(:context => context,
                                             :current_user => @current_user,
                                             :recent_event => assignment,
                                             :submission => recent_feedback,
                                             :student_only => true)
  %>

  <a
    data-track-category="dashboard"
    data-track-label="recent feedback"
    class="recent_feedback_icon" href="<%= url %>"
  >
    <i class="<%= icon_class %>"></i>
    <div class="event-details">
      <% if comment && comment.media_comment? %>
        <% kaltura_thumbnail_url = CanvasKaltura::ClientV3.new.thumbnail_url(comment.media_comment_id, :width => 50, :height => 35, :bgcolor => "F3F4F5") %>
        <img src="<%= kaltura_thumbnail_url %>" style="max-width: 50px; max-height: 35px; float: <%= direction('right') %>; padding-<%= direction('left') %>: 3px;" alt=""/>
      <% end %>
      <b class="event-details__title recent_feedback_title">
        <%= recent_feedback.assignment.title %>
      </b>
      <% if show_context %>
        <p class="event-details__context">
          <%= context.nickname_for(@current_user, :short_name) %>
        </p>
      <% end %>
      <% if grade %>
        <% if recent_feedback.assignment.restrict_quantitative_data?(@current_user) && !preserve_grade %>
          <p><strong><%= recent_feedback.assignment.score_to_grade(score, grade, true) %></strong></p>
        <% else %>
          <p><strong><%= grade %></strong></p>
        <% end %>
      <% end %>
      <% if comment_text %>
        <p>"<%= comment_text %>"</p>
      <% end %>
    </div>
    <div class="clear"></div>
  </a>
  <div class="clear"></div>

<% end %>
</li>
