<div class="rs-margin-lr rs-margin-top">
  <% @course_settings_sub_navigation_tools.each do |tool| %>
    <a class='btn button-sidebar-wide course-settings-sub-navigation-lti'
      href="<%= course_external_tool_path(@context, tool, launch_type: 'course_settings_sub_navigation') %>">
      <img class="icon" src="<%= tool.course_settings_sub_navigation(:icon_url) %>" />
      <%= tool.label_for(:course_settings_sub_navigation) %>
    </a>
  <% end %>
  <% if can_do(@context, @current_user, :use_student_view) %>
    <%= link_to course_student_view_path(@context), :method => :post, :class => 'btn button-sidebar-wide student_view_button' do %>
      <i class="icon-student-view"></i>
      <%= t('links.student_view', 'Student View') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :read_reports) %>
    <%= link_to context_url(@context, :context_statistics_url), :class => 'btn button-sidebar-wide' do %>
      <i class="icon-stats"></i>
      <%= t('links.stats', 'Course Statistics') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :read) %>
    <%= link_to calendar_url_for(@context), :class => 'btn button-sidebar-wide', :id => 'course_calendar_link' do %>
      <i class="icon-calendar-day"></i>
      <%= t('links.calendar', 'Course Calendar') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :change_course_state) %>
    <% if @context.completed? %>
      <%= form_tag context_url(@context, :context_unconclude_url) do %>
        <button class="btn button-sidebar-wide" type="submit">
          <i class="icon-add"></i>
          <%= t('buttons.unconclude', 'Un-Conclude Course') %>
        </button>
      <% end %>
    <% elsif !@context.soft_concluded? %>
      <%= link_to context_url(@context, :context_confirm_action_url, :event => 'conclude'), :class => 'btn button-sidebar-wide' do %>
        <i class="icon-lock"></i>
        <%= t('links.conclude', 'Conclude this Course') %>
      <% end %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :delete) && !@context.deleted? %>
    <%= link_to context_url(@context, :context_confirm_action_url, :event => 'delete'), :class => 'btn button-sidebar-wide delete_course_link' do %>
      <i class="icon-trash"></i>
      <%= t('links.delete', 'Permanently Delete this Course') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :read) && show_user_create_course_button(@current_user) %>
    <%= link_to context_url(@context, :context_start_copy_url), :class => 'btn button-sidebar-wide copy_course_link' do %>
      <i class="icon-copy-course"></i>
      <%= t('links.copy', 'Copy this Course') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :manage_content, :manage_files, :manage_quizzes) %>
    <%= link_to context_url(@context, :context_content_migrations_url), :class => 'btn button-sidebar-wide import_content' do %>
      <i class="icon-upload"></i>
      <%= t('links.import', 'Import Content into this Course') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :read) %>
    <%= link_to context_url(@context, :course_content_exports_url), :class => 'btn button-sidebar-wide' do %>
      <i class="icon-download"></i>
      <%= t('links.export_content', 'Export Course Content') %>
    <% end %>
  <% end %>

  <% if can_do(@context, @current_user, :reset_content) %>
    <%= link_to context_url(@context, :course_reset_url), :class => 'btn button-sidebar-wide reset_course_content_button' do %>
      <i class="icon-reset"></i>
      <%= t('links.reset', 'Reset Course Content') %>
    <% end %>

    <div <%= hidden(true) %> id="reset_course_content_dialog">
      <p><%= mt('help.reset_course_content', 'Resetting course content will permanently delete all associated assignments, discussions, quizzes, modules, rubrics, pages, files, learning outcomes, question banks, collaborations, conferences, or any other content. This action is irreversible, and the data *cannot* be recovered. Are you sure you wish to continue?') %></p>

      <%= form_for @context, :url => context_url(@context, :course_reset_url), :html => { :method => :post } do %>
        <div class="button-container">
          <button type="button" class="btn cancel_button">
            <%= t('#buttons.cancel', 'Cancel') %>
          </button>
          <button type="submit" class="btn btn-danger submit_button">
            <%= t('buttons.reset', 'Reset Course Content') %>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <table class="summary">
    <caption>
      <h3><%= t('headings.current_users', 'Current Users') %></h3>
    </caption>

    <tbody>
      <% @all_roles.each do |base_role| %>
        <tr>
          <td><%= base_role[:plural_label] %>:</td>
          <td><%= user_count(base_role[:count]) %></td>
        </tr>
        <% base_role[:custom_roles].each do |cr|
           next if skip_custom_role?(cr)
        %>
          <tr>
            <td><%= cr[:label] %>:</td>
            <td><%= user_count(cr[:count]) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
