<% sidebar_weighting ||= nil %>
<% groups = sidebar_weighting || @context.assignment_groups.active %>
<div role="complementary" aria-label="<%= t('Assignment Weights') %>">
<% if @context.group_weighting_scheme == "percent" %>
  <h2><%= before_label 'assignments_weighting', 'Assignments are weighted by group' %></h2>

  <table class="summary">
    <thead>
    <tr>
      <th scope='col'><%= t('headings.group', %{Group}) %></th>
      <th scope='col'><%= t('headings.weight', %{Weight}) %></th>
    </tr>
    </thead>
    <tbody>
    <% if groups.empty? %>
      <tr>
        <th scope='row' colspan="2"><%= t('no_groups', %{No Groups Set Up}) %></th>
      </tr>
    <% else %>
      <% tally = 0 %>
      <% groups.each do |group| %>
        <tr>
          <th scope='row'><%= group.name || t('default_name', "Group") %></th>
          <td><%= ((group.group_weight.to_s + "%") || "none") rescue "none" %></td>
          <% tally += group.group_weight || 0 %>
        </tr>
      <% end %>
      <tr style="font-weight: bold;">
        <th scope='row'><%= t('headings.total', %{Total}) %></th>
        <td><%= number_to_percentage(tally, :precision => 0) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h2><%= t('not_weighted', 'Course assignments are not weighted.') %></h2>
<% end %>
</div>