<% add_crumb t('#crumbs.confirmation', "Confirmation") %>
<% content_for :page_title, t('titles.confirm', 'Confirm Action') %>

<% content_for :page_header do %>
  <h1><%= t('headings.confirm', %{Confirm Action}) %></h1>
<% end %>

<div style="margin: 10px auto; width: 600px;">
  <% if params[:event] == "delete" %>
    <h2><%= t('headings.confirm_delete', %{Confirm Course Deletion}) %></h2>
    <%= t 'details.confirm_delete', %{Are you sure you want to delete this course?  Once it is deleted students and teachers will no longer have access to it.  If you just want to remove it from the course dropdown then you should *conclude the course instead*.}, :wrapper => link_to('\1', context_url(@context, :context_confirm_action_url, :event => 'conclude')) %>

    <% form_tag context_url(@context, :context_url), {:method => :delete} do %>
      <input type="hidden" name="event" value="delete"/>
      <div class="form-actions">
        <a href="<%= context_url(@context, :context_url) %>" class="btn"><%= t('#buttons.cancel', %{Cancel}) %></a>
        <button class="btn btn-danger" type="submit"><%= t('buttons.delete_course', %{Delete Course}) %></button>
      </div>
    <% end %>
  <% else %>
    <h2><%= t('headings.confirm_conclude', %{Confirm Conclude Course}) %></h2>
    <%= t 'details.confirm_conclude', %{Are you sure you want to conclude this course?  Students and teachers will still be able to see the course contents in a read-only format from their "past courses" page.  If you don't want anyone to see the course, you can *delete the course completely*.}, :wrapper => link_to('\1', context_url(@context, :context_confirm_action_url, :event => 'delete')) %>

    <% form_tag context_url(@context, :context_url), {:method => :delete} do %>
      <input type="hidden" name="event" value="conclude"/>
      <div class="form-actions">
        <a href="<%= context_url(@context, :context_url) %>" class="btn"><%= t('#buttons.cancel', %{Cancel}) %></a>
        <button class="btn btn-primary" type="submit"><%= t('buttons.conclude_course', %{Conclude Course}) %></button>
      </div>
    <% end %>
  <% end %>
</div>
