<% content_for :page_title, t('titles.copy_course', 'Copy Course') %>
<% add_crumb t('#crumbs.copy_course', 'Copy Course') %>

<h2><%= t'headings.copy_course', 'Copy %{course}', :course => @context.name %></h2>
<p>
  <%= t('details', %{Enter the following details to begin creating a copy of this course.}) %>
</p>
<% form_for :course, :url => course_copy_course_url(@context), :html => {} do |f| %>
  <table class="formtable">
    <tr>
      <td><%= f.label :name, :en => "Name" %></td>
      <td><%= f.text_field :name, :value => @context.name %></td>
    </tr>
    <tr>
      <td><%= f.label :course_code, :en => "Course Code" %></td>
      <td><%= f.text_field :course_code, :value => @context.course_code %></td>
    </tr>
    <tr>
      <td><%= f.label :start_at, :en => "Start Date" %></td>
      <td><div><%= f.text_field :start_at, :class => 'datetime_field', :style => "width: 120px;", :value => @context.start_at %></div></td>
    </tr>
    <tr>
      <td><%= f.label :conclude_at, :en => "End Date" %></td>
      <td><div><%= f.text_field :conclude_at, :class => 'datetime_field', :style => "width: 120px;", :value => @context.conclude_at %></div></td>
    </tr>
    <% if can_do(@context.account, @current_user, :manage_courses) %>
      <tr>
        <td><%= f.label :enrollment_term_id, :en => "Term" %></td>
        <td>
          <select name="course[enrollment_term_id]" id="course_enrollment_term_id">
            <% @context.root_account.enrollment_terms.sort_by{|t| t.start_at || Time.parse("Jan 1 2000")}.each do |term| %>
              <option value="<%= term.id %>" <%= 'selected' if term.id == @context.enrollment_term_id %>><%= term.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <div class='button-container'>
          <button type="submit" class="button"><%= t('buttons.create_course', %{Create Course}) %></button>
          <a href="<%= context_url(@context, :context_url) %>" class="button button-secondary"><%= t '#buttons.cancel', 'Cancel' %></a>
        </div>
      </td>
    </tr>
  </table>
<% end %>

<% js_block do %>
<script>
require([
  'jquery' /* $ */,
  'jquery.instructure_date_and_time' /* time_field, datetime_field */
], function($) {

$(document).ready(function() {
  $(".datetime_field").datetime_field();
});

});
</script>
<% end %>
