<% content_for :page_title, t('titles.copy_course', 'Copy Course') %>
<% add_crumb t('#crumbs.copy_course', 'Copy Course') %>

<h2><%= t'headings.copy_course', 'Copy %{course}', :course => @context.name %></h2>
<p>
  <%= t('details', %{Please enter the details for the new course.}) %>
</p>
<%= form_for :course, :url => course_copy_course_url(@context), :html => {:id => "copy_course_form", :class => "form-horizontal"} do |f| %>

  <div class="control-group">
    <label class="control-label"><strong><%= t('name', 'Name') %></strong></label>
    <div class="controls"><%= f.text_field :name, :value => @context.name %></div>
  </div>

  <div class="control-group">
    <label class="control-label"><strong><%= t('course_code', 'Course Code') %></strong></label>
    <div class="controls"><%= f.text_field :course_code, :value => @context.course_code %></div>
  </div>
  <div class="control-group">
    <label class="control-label"><strong><%= t('start_at', 'Start Date') %></strong></label>
    <div class="controls"><%= f.text_field :start_at, :class => 'datetime_field', :style => "width: 165px;", :value => datetime_string(@context.start_at, :verbose, nil, true) %></div>
  </div>
  <div class="control-group">
    <label class="control-label"><strong><%= t('conclude_at', 'End Date') %></strong></label>
    <div class="controls"><%= f.text_field :conclude_at, :class => 'datetime_field', :style => "width: 165px;", :value => datetime_string(@context.conclude_at, :verbose, nil, true) %></div>
  </div>
  <% if can_do(@context.account, @current_user, :manage_courses) %>
    <div class="control-group">
      <label class="control-label"><strong><%= t('enrollment_term_id', 'Term') %></strong></label>

      <div class="controls">
        <select name="course[enrollment_term_id]" id="course_enrollment_term_id">
          <% @context.root_account.enrollment_terms.sort_by { |t| t.start_at || SortFirst }.each do |term| %>
            <option value="<%= term.id %>" <%= 'selected' if term.id == @context.enrollment_term_id %>><%= term.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <strong><%= t('content_label', 'Content') %></strong>
    </div>

    <div class="controls">
      <div class="radio">
        <label>
          <input type="radio" name="selective_import" checked value=false>
          <%= t('select_all_content', 'All content') %>
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="selective_import" value=true>
          <%= t('select_specific_content', 'Select specific content') %>
        </label>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div id="date_shift"></div>
  </div>

  <div class='form-actions'>
    <a href="<%= context_url(@context, :context_url) %>" class="btn button-secondary"><%= t '#buttons.cancel', 'Cancel' %></a>
    <button type="submit" class="btn btn-primary"><%= t('buttons.create_course', %{Create Course}) %></button>
  </div>

<% end %>

<% js_bundle :copy_course %>
