<% 
  content_for :page_title, "Course Details: #{@context.name}"
  jammit_css :course_details
  jammit_js :course_details
  @active_tab = "settings"
  
  enrollment_hashes  = {} 
  ['StudentEnrollment', 'TeacherEnrollment', 'TaEnrollment', 'ObserverEnrollment'].each do |type|
    enrollment_hashes[type] = {} 
    list = @context.detailed_enrollments.select{|e| e.type == type && e.active_or_pending?}.sort_by{|e| e.user.sortable_name rescue 'a' }
    if type == 'StudentEnrollment' && @context.visibility_limited_to_course_sections?(@current_user)
      user_ids = @context.students_visible_to(@current_user).map(&:id)
      list = list.select{|e| user_ids.include?(e.user_id) }
    end
    list.each{|e| enrollment_hashes[type][e.user] ||= []; enrollment_hashes[type][e.user] << e }
  end
  can_rename_course = can_do(@context.account, @current_user, :manage_courses) || !@context.root_account.settings[:prevent_course_renaming_by_teachers]
  students = enrollment_hashes['StudentEnrollment'].map{|k, v| v[0]} #@context.detailed_enrollments.select{|e| e.type == 'StudentEnrollment' && e.active_or_pending?}.sort_by{|e| e.user.sortable_name rescue "a" }
  teachers = enrollment_hashes['TeacherEnrollment'].map{|k, v| v[0]} #@context.detailed_enrollments.select{|e| e.type == 'TeacherEnrollment' && e.active_or_pending?}.sort_by{|e| e.user.sortable_name rescue "a" }
  tas = enrollment_hashes['TaEnrollment'].map{|k, v| v[0]} #@context.detailed_enrollments.select{|e| e.type == 'TaEnrollment' && e.active_or_pending?}.sort_by{|e| e.user.sortable_name rescue "a" }
  observers = enrollment_hashes['ObserverEnrollment'].map{|k, v| v[0]} #@context.detailed_enrollments.select{|e| e.type == 'ObserverEnrollment' && e.active_or_pending?}.sort_by{|e| e.user.sortable_name rescue "a" }
  has_multiple_sections = @context.course_sections.active.count > 1
%>
<% content_for :right_side do %>

  <div class="rs-margin-lr rs-margin-top">
    <% if can_do(@context, @current_user, :manage) %>
      <a href="<%= context_url(@context, :context_statistics_url) %>" class="button button-sidebar-wide"><%= image_tag "graph.png" %> Course Statistics</a>
      <a href="<%= calendar_url(:include_contexts => @context.asset_string, :anchor => {:show => "group_#{@context.asset_string}"}.to_json) %>" class="button button-sidebar-wide"><%= image_tag "calendar_icon.png" %> Course Calendar</a>
    <% end %>
    
    <% if can_do(@context, @current_user, :update) %>
        <a href="<%= context_url(@context, :context_confirm_action_url, :event => 'conclude') %>" class="delete_course_link button button-sidebar-wide"><%= image_tag "delete.png" %>End this Course</a>
        <a href="<%= context_url(@context, :context_start_copy_url) %>" class="button button-sidebar-wide"><%= image_tag "file_multiple.png" %>Copy this Course</a>
        <a href="<%= context_url(@context, :context_imports_url) %>" class="button button-sidebar-wide"><%= image_tag "file_multiple.png" %>Import Content into this Course</a>
    <% end %>
    <table class="summary" style="margin-top: 20px;">
      <thead>
      <tr>
        <th colspan="2">Current Users</th>
      </tr>
      </thead>
      <tr>
        <td>Students:</td>
        <td class="student_count"><%= students.empty? ? "None" : students.length %></td>
      </tr>
      <tr>
        <td>Teachers:</td>
        <td class="teacher_count"><%= teachers.empty? ? "None" : teachers.length %></td>
      </tr>
      <tr>
        <td>TA's:</td>
        <td class="ta_count"><%= tas.empty? ? "None" : tas.length %></td>
      </tr>
      <tr>
        <td>Observers:</td>
        <td class="ta_count"><%= observers.empty? ? "None" : observers.length %></td>
      </tr>
    </table>
  </div>
<% end %>

<div id="course_details_tabs" style="display:none;">
  <ul>
    <li><a href="#tab-details">Course Details</a></li>
    <li><a href="#tab-sections">Sections</a></li>
    <li><a href="#tab-users" id="tab-users-link">Users</a></li>
    <li><a href="#tab-navigation">Navigation</a></li>
  </ul>
  <div id="tab-details">
    <h2>Course Details</h2>
    <% form_for @context, :html => {:id => "course_form"} do |f| %>
    <table class="formtable">
      <tr>
        <td style="vertical-align: top; width: 10%;"><%= f.label :name, "Name:" %></td>
        <td style="width: 40%; vertical-align: top;" class="nobr">
          <% if can_rename_course %>
            <%= f.text_field :name, :class => "course_form", :style => "width: 150px;" %>
          <% else %>
            <span class="course_form name"><%= @context.name %></span>
          <% end %>
          <span class="course_info name"><%= @context.name %></span>
        </td>
        <% if feature_and_service_enabled?(:twitter) %>
          <td class="hashtag_form" style="<%= hidden unless @context.hashtag && @context.hashtag != "" %> vertical-align: top;"><%= f.label :hashtag, "Hashtag:" %></td>
          <td class="hashtag_form" style="<%= hidden unless @context.hashtag && @context.hashtag != "" %> width: 60%;">
            <%= f.text_field :hashtag, :class => "course_form" %>
            <span class="course_info" id="course_hashtag"><%= @context.hashtag %></span>
            <div style="font-size: 0.8em;" id="hashtag_options"><span class="course_form">
              <%= f.check_box :show_public_context_messages %>
              <%= f.label :show_public_context_messages, "collect public messages for this hashtag" %>
            </span></div>
          </td>
        <% end %>
      </tr>
      <tr>
        <td style="width: 10%; white-space: nowrap;"><%= f.label :course_code, "Course Code:" %></td>
        <td class="nobr">
          <% if can_rename_course %>
            <span class="course_form"><%= f.text_field :course_code, :style => "width: 100px;" %></span>
          <% else %>
            <span class="course_form course_code"><%= @context.course_code %></span>
          <% end %>
          <span class="course_info course_code"><%= @context.course_code %></span>
        </td>
        <% if feature_and_service_enabled?(:twitter) %>
          <td colspan="2" style=" display: none; padding-left: 10px;"><span class="course_form" style="font-size: 0.8em;">
            <a href="#" class="hashtag_dialog_link help"> What's a hashtag?</a>
            <div id="hashtag_dialog" style="display: none; font-size: 0.8em;">
              <%= image_tag "twitter.png", :style => "float: left; margin: 10px;" %>
              <p>Hashtags are special phrases that let people consistently mention the same
              idea (like a course) on web sites like Twitter.  For example, the message "I like #instructure" is
              using the hashtag "instructure".</p>
              <p>Hashtags should consist of letters, numbers, dashes and underscores (no spaces).  The 
              hashtag should be unique, easily recognizable, and short.  Short hashtags are better
              since sites like Twitter limit the number of letters per message.</p>
              <p>Examples:<br/>
              <table style="margin-left: 20px;"><tr>
                <td>too general:</td>
                <td><b> #biology</b></td>
              </tr><tr>
                <td>too long:</td>
                <td><b> #san-fransisco-university-biology-100</b></td>
              </tr><tr>
                <td>much better:</td>
                <td><b> #usu-bio100</b></td>
              </tr></table>
              </p>
              <div class="button-container">
                <button type="button" class="close_dialog_button button">Cool, Thanks</button>
              </div>
            </div>
          </span>
          </td>
        <% end %>
      <% if current_user_is_site_admin? %>
        </tr><tr>
          <td><%= f.label :root_account_id, "Root Account:" %></td>
          <td><%= @context.root_account.name %></td>
      <% end %>
      </tr><tr>
        <td><%= f.label :account_id, "Department:" %></td>
        <td>
          <span class="course_form">
            <% if can_do(@context.root_account, @current_user, :manage) %>
              <% if @context.root_account.all_accounts.count > 500 %>
                <a href="<%= context_url(@context.root_account, :context_sub_accounts_url, :format => :json) %>" id="course_account_id_url" style="display: none;">&nbsp;</a>
                <input type="hidden" name="course[account_id]" id="course_account_id" value="<%= @context.account_id %>"/>
                <input type="text" name="account[name]" id="course_account_id_lookup" value="<%= @context.account.name %>" style="width: 150px;"/>
              <% else %>
                <select name="course[account_id]" id="course_account_id">
                  <%= render :partial => "shared/account_options", :locals => {:account => @context.root_account} %>
                </select>
              <% end %>
            <% else %>
              <%= @context.account.name %>
            <% end %>
          </span>
          <span class="course_info account_name"><%= @context.account.name %></span>
        </td>
      </tr><tr>
        <td><%= f.label :enrollment_term_id, "Term:" %></td>
        <td>
          <span class="course_form">
            <% if can_do(@context.root_account, @current_user, :manage) %>
              <select name="course[enrollment_term_id]" id="course_enrollment_term_id">
                <% @context.root_account.enrollment_terms.sort_by{|t| t.start_at || Time.parse("Jan 1 2000")}.each do |term| %>
                  <option value="<%= term.id %>" <%= 'selected' if term.id == @context.enrollment_term_id %>><%= term.name %></option>
                <% end %>
              </select>
            <% else %>
              <%= @context.enrollment_term.name %>
            <% end %>
          </span>
          <span class="course_info term_name"><%= @context.enrollment_term.name %></span>
        </td>
      </tr><tr>
        <td style="width: 10%;"><%= f.label :start_at, "Starts:" %></td>
        <td class="nobr">
          <span class="course_form"><%= f.text_field :start_at, :class => "date_entry" %></span>
          <span class="course_info start_at"><%= datetime_string(@context.start_at) || "No Date Set" %></span>
        </td>
      </tr><tr>
        <td style="width: 10%;"><%= f.label :conclude_at, "Ends:" %></td>
        <td class="nobr">
          <span class="course_form"><%= f.text_field :conclude_at, :class => "date_entry" %></span>
          <span class="course_info conclude_at"><%= datetime_string(@context.conclude_at) || "No Date Set" %></span>
        </td>
      </tr><tr>
        <td style="width: 10%;"><%= f.label :storage_quota, "File Storage:" %></td>
        <td>
          <span class="course_form">
            <% if can_do(@context.account, @current_user, :manage_courses) %>
              <%= f.text_field :storage_quota, :style => "width: 50px;", :title => "megabytes", :value => @context.quota %>
            <% else %>
              <%= @context.quota %>
            <% end %>
          </span>
          <span class="course_info quota"><%= @context.quota %></span>
          megabytes
        </td>
      <% if @context.turnitin_enabled? %>
      </tr><tr>
        <td style="width: 10%;"><%= f.label :turnitin_comments, "Turnitin Submission Comments:" %></td>
        <td class="nobr">
          <span class="course_form"><span style="font-size: 0.8em;">these comments will be shown to students when submitting a Turnitin-enabled assignment</span><br/><%= f.text_area :turnitin_comments, :style => "width: 90%; height: 50px;" %></span>
          <span class="course_info turnitin_comments"><%= @context.turnitin_comments %></span>
        </td>
      <% end %>
      </tr><tr>
        <td style="vertical-align: top; width: 10%;"><%= f.label :license, "License:" %></td>
        <td colspan="3">
          <span class="course_form">
            <%= f.select :license, [['Private (Copyrighted)', 'private'], ['CC Attribution Non-Commercial No Derivatives', 'cc_by_nc_nd'], ['CC Attribution Non-Commercial Share Alike', 'cc_by_nc_sa'], ['CC Attribution Non-Commercial', 'cc_by_nc'], ['CC Attribution No Derivatives', 'cc_by_nd'], ['CC Attribution Share Alike', 'cc_by_sa'], ['CC Attribution', 'cc_by'], ['Public Domain', 'public_domain']] %>
            <%= license_help_link %>
          </span>
          <span class="course_info readable_license"><%= @context.readable_license %></span>
        </td>
      </tr><tr>
        <td style="vertical-align: top; width: 10%;">Visibility:</td>
        <td colspan="3">
          <span class="course_form">
            <%= f.check_box :is_public, :class => "is_public_checkbox" %>
            <%= f.label :is_public, "Make this course publicly visible" %>
            <span style='font-size: 0.8em; padding-left: 5px;'>(student data will remain private)</span>      
          </span>
          <span class="course_info is_public"><%= @context.is_public ? 'Public' : 'Private' %></span>
          <div class="public_options">
            <span class="course_form">
              <%= f.check_box :indexed %>
              <%= f.label :indexed, "Include this course in the public course index" %>
            </span>
            <span class="course_info indexed">
              <%= @context.indexed ? "Included in public course index" : "" %>
            </span>
          </div>
        </td>
      </tr><tr>
        <td></td>
        <td colspan="3">
          <span class="course_info self_enrollment_message" style="<%= hidden unless @context.self_enrollment %>">
            This course has enabled open enrollment.  Students can self-enroll in the course
            once you share with them this url:<br/>
            <input type="text" class="copyable" value="<%= h(course_self_enrollment_url(@context, @context.self_enrollment_code)) %>"/>
          </span>
          <a href="#" class="course_form course_form_more_options_link" style="padding-left: 20px;">more options</a>
          <div class="course_form_more_options" style="display: none; padding-left: 20px;">
            <% if @context.self_enrollment_allowed? %>
              <%= f.check_box :self_enrollment, :class => 'self_enrollment_checkbox' %>
              <%= f.label :self_enrollment, "Let students self-enroll by sharing with them a secret URL" %><br/>
              <div class="open_enrollment_holder" style="display: none;">
              <%= f.check_box :open_enrollment %>
              <%= f.label :open_enrollment, "Add a \"Join this Course\" link to the course home page" %><br/>
              </div>
            <% end %>
            <%= f.check_box :publish_grades_immediately %>
            <%= f.label :publish_grades_immediately, "Publish Grades Immediately" %><br/>
            <%= f.check_box :allow_student_assignment_edits %>
            <%= f.label :allow_student_assignment_edits, "Let Students edit Assignment Descriptions" %><br/>
            <%= f.check_box :allow_student_forum_attachments %>
            <%= f.label :allow_student_forum_attachments, "Let Students attach files to Discussion Posts" %><br/>
            <%= f.check_box :allow_student_organized_groups %>
            <%= f.label :allow_student_organized_groups, "Let Students organize their own Groups" %><br/>
            <%= f.select :default_wiki_editing_roles, [["Only Teachers", "teachers"], ["Teacher and Students", "teachers,students"], ["Anyone", "teachers,students,public"]] %>
            can edit course wiki pages by default<br/>
            <div class="changed_default_wiki_editing_roles" style="display: none; padding-left: 20px; font-size: 0.8em;">
              <input type="checkbox" name="update_default_pages" id="update_default_pages"/>
              <label for="update_default_pages">Change pages currently editable by "<span><%= @context.readable_default_wiki_editing_roles %></span>" to "<span class="default_wiki_editing_roles_change">&nbsp;</span>".
            </div>
          </div>
        </td>
      </tr><tr>
        <td colspan="4">
          <% if can_do(@context, @current_user, :update) %>
            <a href="#" class="edit_course_link button"><%= image_tag "edit.png" %>Edit Course Details</a>
          <% end %>
          <% if current_user_is_site_admin? && Account.root_accounts.length > 1 %>
            <a href="#" class="move_course_link button"><%= image_tag "ball.png" %>Move To Another Account</a>
          <% end %>
          <span class="course_form">
            <button type="submit" class="button">Update Course Details</button>
            <button type="button" class="cancel_button button-secondary">Cancel</button>
          </span>
        </td>
      </tr>
    </table>
    <% end %>
    
  </div>
  <div id="tab-sections">
    <h2 style="margin-top: 10px;">Course Sections</h2>
    <ul id="sections">
      <% @context.course_sections.active.each do |section| %>
        <li class="section">
          <% if can_do(section, @current_user, :delete) %>
            <% if section.deletable? %>
              <a class="section_link delete_section_link no-hover" title="Delete Section" href="<%= context_url(@context, :context_section_url, section) %>"><%= image_tag "delete_circle.png", :alt => "delete" %></a>
            <% else %>
              <a class="section_link cant_delete_section_link no-hover" href="#" title="You can't delete sections that have users enrolled"><%= image_tag "delete_circle_gray.png", :alt => "can't delete" %></a>
            <% end %>
          <% end %>
          <% if can_do(section, @current_user, :update) && !section.defined_by_sis? %>
            <a class="section_link edit_section_link no-hover" title="Edit Section" href="<%= context_url(@context, :context_section_url, section) %>"><%= image_tag "edit.png", :alt => "edit" %></a>
          <% end %>
          <a href="<%= context_url(@context, :context_section_url, section) %>" class="name">
            <%= section.display_name %>
          </a>
          <span class="users_count">
            (<%= pluralize(section.enrollments.count, "User") %>)
          </span>
          <div class="clear"></div>
        </li>
      <% end %>
      <li class="section_blank" style="display: none;">
        <a href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" title="Delete Section" class="delete_section_link no-hover" ><%= image_tag "delete_circle.png", :alt => "delete" %></a>
        <a class="edit_section_link no-hover" href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" title="Edit Section"><%= image_tag "edit.png", :alt => "edit" %></a>
        <a href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" class="name">
        </a>
        <div class="clear"></div>
      </li>
      <% if can_do(@context.course_sections.new, @current_user, :create) %>
        <li>
          <% form_for :course_section, :url => context_url(@context, :context_sections_url), :html => {:id => "add_section_form", :style => "margin-top: 20px;"} do |f| %>
            <h3><%= f.label :name, "Add a New Section:" %></h3>
            <%= f.text_field :name %>
            <button class="button small-button" type="submit">Add Section</button>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% form_for :course_section, :url => "", :html => {:id => "edit_section_form", :method => :put, :style => "display: none;"} do |f| %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div id="tab-users">
    <h2 style="margin-top: 10px;">Current Users</h2>
    <div style="margin-bottom: 10px; <%= hidden if (students + teachers + tas + observers).select{|e| e.invited? }.empty? %>">
      <span class="unaccepted_invitations"><%= (students + teachers + tas + observers).select{|e| e.invited? }.length %></span>
      Invitations haven't been accepted.  You can click a user's name to re-send their invitation
      <% if @context.available? %>
        or<br/>
        <span><button type="button" href="<%= course_re_send_invitations_url %>" class="button re_send_invitations_link">Re-Send All Unaccepted Invitations</button></span>
      <% end %>
    </div>
    <table style="width: 100%;">
      <tr>
        <td style="vertical-align: top; padding-right: 30px;">
          <h3>Students <span class="tally">(<span class="student_count"><%= students.length %></span>)</span></h3>
          <ul class="user_list student_enrollments">
            <% if students.empty? %>
              <li class="none">No Students Enrolled</li>
            <% else %>
              <%= render :partial => 'shared/enrollment', :collection => enrollment_hashes['StudentEnrollment'].to_a.sort_by{|e| e[0].sortable_name rescue 'a' }, :locals => {:show_section => has_multiple_sections, :show_information_link => true} %>
            <% end %>
            <%= render :partial => 'shared/enrollment', :object => nil, :locals => {:show_information_link => true} %>
          </ul>
          <h3>Observers <span class="tally">(<span class="observer_count"><%= observers.length %></span>)</span></h3>
          <ul class="user_list observer_enrollments">
            <% if observers.empty? %>
              <li class="none">No Observers Enrolled</li>
            <% else %>
              <%= render :partial => 'shared/enrollment', :collection => enrollment_hashes['ObserverEnrollment'].to_a.sort_by{|e| e[0].sortable_name rescue 'a' }, :locals => {:show_information_link => true} %>
            <% end %>
          </ul>
        </td>
        <td style="vertical-align: top;">
          <h3>Teachers <span class="tally">(<span class="teacher_count"><%= teachers.length %></span>)</span></h3>
          <ul class="user_list teacher_enrollments">
            <% if teachers.empty? %>
              <li class="none">No Teachers Assigned</li>
            <% else %>
              <%= render :partial => 'shared/enrollment', :collection => enrollment_hashes['TeacherEnrollment'].to_a.sort_by{|e| e[0].sortable_name rescue 'a' }, :locals => {:show_section => has_multiple_sections, :show_information_link => true} %>
            <% end %>
          </ul>
          <h3>TA's <span class="tally">(<span class="ta_count"><%= tas.length %></span>)</span></h3>
          <ul class="user_list ta_enrollments">
            <% if tas.empty? %>
              <li class="none">No TA's Assigned</li>
            <% else %>
              <%= render :partial => 'shared/enrollment', :collection => enrollment_hashes['TaEnrollment'].to_a.sort_by{|e| e[0].sortable_name rescue 'a' }, :locals => {:show_section => has_multiple_sections, :show_information_link => true} %>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
    <% if can_do(@context, @current_user, :manage_students) || can_do(@context, @current_user, :manage_admin_users) %>
        <a href="#" class="add_users_link button"><%= image_tag "add.png" %>Add Users</a>
    <% end %>
    <% form_tag course_enroll_users_url(@context), {:id => "enroll_users_form", :style => "display: none;"} do  %>
    <h2>Add Course Users</h2>
    <div style="margin-top: 5px;">
      <div>
        <label for="enrollment_type">Add More </label>
        <select name="enrollment_type" title="Enrollment Type" id="enrollment_type">
          <% if can_do(@context, @current_user, :manage_students) %>
            <option value="StudentEnrollment">Students</option>
          <% end %>
          <% if can_do(@context, @current_user, :manage_admin_users) %>
            <option value="TeacherEnrollment">Teachers</option>
            <option value="TaEnrollment">TA's</option>
          <% elsif @context.teacherless? %>
            <option value="TeacherEnrollment" class="teacherless_invite">Teachers</option>
          <% end %>
          <option value="ObserverEnrollment">Observers</option>
        </select>
        <span id="limit_priveleges_to_course_section_holder" style="padding-left: 10px; white-space: nowrap;">
          <input type="checkbox" id="limit_priveleges_to_course_section" name="limit_priveleges_to_course_section" value="1"/>
          <label for="limit_priveleges_to_course_section">these admins can only grade students in their section</label>
        </span>
        <% if can_do(@context.account, @current_user, :manage_admin_users) %>
          <div style="white-space: nowrap;">
            <input type="checkbox" id="auto_accept_enrollment" name="auto_accept" value="1"/>
            <label for="auto_accept_enrollment">don't send invite, just auto-accept these users</label>
          </div>
        <% end %>
      </div>
      <div style="<%= hidden unless has_multiple_sections %>" id="course_section_id_holder">
        <label for="course_section_id">For the section:</label>
        <select title="Course Section" name="course_section_id" id="course_section_id">
          <% @context.course_sections.active.each do |section| %>
            <option value="<%= section.id %>" class="option_for_section_<%= section.id %>"><%= section.display_name %></option>
          <% end %>
        </select>
      </div>
      <div class="teacherless_invite_message" style="<%= hidden unless @context.teacherless? %> font-size: 0.8em;">
        If you invite a teacher and they accept, you will give up administrative priveleges for this course.
      </div>
      <div id="email_list_boxes">
        <a id="email_lists_path" style="display:none;" href="<%= url_for email_lists_path(:format => :json) %>"></a>  
        <div id="user_emails_textarea_container" style="z-index: 2;">
          <span style="font-size: 0.8em;">Copy and paste a list of email addresses to add users to this course.</span>
          <textarea name="user_emails" class="user_emails"></textarea>
        </div>
        <div id="user_emails_parsed" style="z-index: 1; display:none;">
          <div class="ui-helper-reset ui-widget-content ui-corner-all" id="email_lists_processed_people">
            <div id="user_emails_duplicates_found" class="ui-widget">
              <div class="ui-state-highlight ui-corner-all"> 
                <p>
                  <span style="float: left; margin-right: 0 0.3em;" class="ui-icon ui-icon-info"></span>
                  <strong>Notice:</strong> <strong class='duplicate_count'>???</strong> duplicate address<span class="duplicates_plurality">es</span> found, duplicates have been removed.
                </p>
              </div>
            </div>
            <div id="user_emails_no_valid_emails" class="ui-widget">
              <div class="ui-state-highlight ui-corner-all"> 
                <p><span style="float: left; margin-right: 0 0.3em;" class="ui-icon ui-icon-info"></span>
                <strong>Sorry,</strong> it does not seem as if there were any valid email addresses typed in, please go back and try again.</p>
              </div>
            </div>
            <div id="user_emails_with_errors" class="ui-widget">
              <div class="ui-state-highlight ui-corner-all"> 
                <p>
                  <span style="float: left; margin-right: 0 0.3em;" class="ui-icon ui-icon-alert"></span>
                  <strong>Alert:</strong> There were <strong class="errors_count">???</strong> errors parsing that list of emails. There may be some that 
                  were invalid, you might need to go back and fix any errors.  If you proceed as is, <strong class="addresses_count">???</strong>
                  users will be added.
                </p>
              </div>
            </div>

            <div class="person ui-helper-reset ui-state-default ui-corner-all" id="email_lists_processed_person_template" style="display:none;">
              <div class="name">Last, First</div>
              <div class="address">user@domain.com</div>
            </div>      
          </div>
        </div>
      </div>
      <% unless @context.available? %>
      <div style="font-size: 0.8em;">
        <i>Since the course hasn't been published, students and TA's will be added, but won't be
        invited to join the course.  Invitations will be sent out when the course is published.</i>
      </div>
      <% end %>
    </div>
    <div class="button-container">
      <button type="button" class="button verify_syntax_button">Continue...</button>
      <button type="submit" class="button add_users_button">OK Looks Good, Add These Users</button>
      <button type="button" class="go_back_button button-secondary">Go back and edit the list of emails</button>
      <button type="button" class="cancel_button button-secondary">Cancel</button>
    </div>
    <% end %>
    <div style="text-align: center; display: none;" id="enrollment_dialog">
      <span class="name">User</span>
      <div class="admin_enrollment_re_send">
        hasn't yet accepted the invitation to join the course.  The invitation was sent:
      </div>
      <div class="student_enrollment_re_send">
        <% if @context.available? %>
          hasn't yet accepted the invitation to join the course.  The invitation was sent:
        <% else %>
          was added to the course:
        <% end %>
      </div>
      <div class="accepted_enrollment_re_send">
        has already received and accepted the invitation to join the course, but you can still
        re-send the invitation if they need it.
      </div>
      <div style="margin: 10px;" class="invitation_sent_at">Just Now</div>
      <div style="margin: 15px 10px; font-weight: bold;">
        <div class="admin_enrollment_re_send">
          <a href="#" class="re_send_invitation_link button">Re-Send Invitation</a>
        </div>
        <div class="accepted_enrollment_re_send">
          <a href="#" class="re_send_invitation_link button">Re-Send Invitation</a>
        </div>
        <div class="student_enrollment_re_send">
          <% if @context.available? %>
            <a href="#" class="re_send_invitation_link button">Re-Send Invitation</a>
          <% else %>
            Invitations aren't sent until the course is <a href="<%= context_url(@context, :context_url) %>">published</a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="link_student_dialog" style="display: none;">
      <% form_tag context_url(@context, :context_link_enrollment_url), {:id => "link_student_dialog_form"} do %>
        <input type="hidden" name="enrollment_id" class="enrollment_id"/>
        <p>
          When an observer is linked to a student, they have access to that student's grades
          and course interactions.
          <span class="existing_user">
            Right now this observer is linked to the student, <b class="existing_user_name">&nbsp;</b>.
          </span>
        </p>
        <p>
        To link the course observer <b class="short_name">&nbsp;</b> to a student, select
        the student's name from the list below.
        </p>
        <p>
          <label for="student_enrollment_link_option">Student:</label>
          <select name="student_id" class="student_options" id="student_enrollment_link_option">
            <option value="none" class="blank">[ Select Student ]</option>
          </select>
        </p>
        <div class="button-container">
          <button type="submit" class="button save_button">Link to Student</button>
          <button type="button" class="button button-secondary">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
  <div id="tab-navigation">
    <% form_tag context_url(@context, :context_update_nav_url), {:id => "nav_form", :title => "Edit Course Navigation" } do %>
      <input type="hidden" name="tabs_json" id="tabs_json" value="[]" />
      <% tabs = sortable_tabs %>
      <p style="margin-bottom: 4px; padding-top: 10px">
        Drag and drop items to reorder them in the course navigation.
      </p>
      <% tabs.each do |tab|
        tab[:disabled_message] = ['Grades', 'People', 'Discussions'].include?(tab[:label]) ? "This page can't be disabled, only hidden" : "Page disabled, will redirect to course home page"
      end %>
      <ul id="nav_enabled_list" class="nav_list connectedSortable">
        <% tabs.select {|t| !t[:hidden] }.each do |tab|  %>
          <!-- <span class="ui-icon ui-icon-arrowthick-2-n-s" style="float: left; display: none;"></span> -->
          <li class="navitem <%= 'enabled' if tab[:label] != 'Home' %> <%= tab[:label].downcase %>" id="nav_edit_tab_id_<%= tab[:id] %>"><%= tab[:label] %><span class="disabled_message"><%= tab[:disabled_message] %></span></li>
        <% end %>
      </ul>

      <ul id="nav_disabled_list" class="nav_list connectedSortable">
        <li class="disabled">
          Drag items here to hide them from students.
          <div style="font-size: 0.8em;">
            Disabling most pages will cause students who visit those
            pages to be redirected to the course home page.
          </div>
        </li>
        <% tabs.select {|t| t[:hidden] }.each do |tab|  %>
          <!-- <span class="ui-icon ui-icon-arrowthick-2-n-s" style="float: left; display: none;"></span> -->
          <li class="navitem enabled <%= tab[:label].downcase %>" id="nav_edit_tab_id_<%= tab[:id] %>"><%= tab[:label] %><span class="disabled_message"><%= tab[:disabled_message] %></span></li>
        <% end %>
      </ul>

      <p>
        <button type="submit" class="button">Save</button>
      </p>
    <% end %>
  </div>
</div>
<% if current_user_is_site_admin? %>
  <div id="move_course_dialog" style="display: none;">
    <h2>Move the course to another root account</h2>
    Select a new root account for this course.  After you move the
    course you'll want to specify a new department for the
    course as well.
    <% form_for :course, :url => course_url(@context), :html => {:method => :put} do |f| %>
      <table class="formtable">
        <tr>
          <td>
            <%= f.label :root_account_id, "Root Account:" %>
          </td>
          <td>
            <%= f.select :root_account_id, Account.root_accounts.sort_by(&:name).map{|a| [a.name, a.id] }, :selected => @context.root_account_id %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button type="submit" class="button">Move Course</button>
              <button type="button" class="button button-secondary cancel_button">Cancel</button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
