<%
# Copyright (C) 2013 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<div class="clearfix">
<h2 class="pull-left"><%= @context.name %></h2>
<% if @context.open_enrollment && @context.self_enrollment_enabled? %>
  <a class="btn course_enrollment_link pull-right" data-open-as-dialog="" title="<%= t('links.join_course', %{Join this Course}) %>" href="/enroll/<%= @context.self_enrollment_code %>">
    <i class="icon-user-add"></i>
    <%= t('links.join_course', %{Join this Course}) %>
  </a>
<% end %>
</div>
<p><%= format_message(@context.public_description).first %></p>
