<% content_for :page_title, t('titles.courses', 'Courses') %>

<% content_for :auto_discovery do %>
  <% if @current_user %>
      <%= auto_discovery_link_tag(:atom, feeds_user_format_path(@current_user.feed_code, :atom), {:title => t('titles.rss.course_announcements', "Course Announcements Atom Feed")}) %>
  <% end %>
<% end %>

<% if show_user_create_course_button(@current_user) %>
  <% content_for :right_side do %>
    <div class="rs-margin-lr">
      <button type="button"
              id="start_new_course"
              class="element_toggler btn button-sidebar-wide"
              aria-controls="new_course_form"><%= t('start_new_course', 'Start a New Course') %></button>
      <%= render :partial => 'shared/new_course_form' %>
    </div>
  <% end %>
<% end %>

<% jammit_css :context_list %>

<% unless @current_enrollments.empty? %>
  <h2><%= t('headings.my_courses', %{My Courses}) %></h2>
  <ul class="unstyled_list context_list current_enrollments">
    <% @current_enrollments.each do |enrollment| %>
      <%= render :partial => "shared/current_enrollment", :object => enrollment %>
    <% end %>
  </ul>
<% end %>

<% unless @past_enrollments.empty? %>
  <h2><%= t('headings.past_enrollments', %{Past Enrollments}) %></h2>
  <ul class="unstyled_list context_list past_enrollments">
    <% @past_enrollments.each do |enrollment| %>
      <%= render :partial => "shared/current_enrollment", :object => enrollment %>
    <% end %>
  </ul>
<% end %>

<% unless @future_enrollments.empty? %>
  <h2><%= t('headings.future_enrollments', 'Future Enrollments') %></h2>
  <ul class="unstyled_list context_list future_enrollments">
    <% @future_enrollments.each do |enrollment| %>
      <%= render :partial => 'shared/current_enrollment', :object => enrollment %>
    <% end %>
  </ul>
<% end %>
