<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  provide :page_title, join_title(t(:page_title, "Course Details"), @context.name)
  css_bundle :course_settings
  js_bundle :course_settings
  set_active_tab "settings"

  can_manage = can_do(@context, @current_user, :manage)

  can_manage_courses = can_do(@context.account, @current_user, :manage_courses, :manage_courses_admin)
  can_rename_course = can_manage_courses || (can_manage && !@context.root_account.settings[:prevent_course_renaming_by_teachers])
  can_change_course_availability = can_manage_courses || (can_manage && !@context.root_account.settings[:prevent_course_availability_editing_by_teachers])
  can_manage_master_courses = can_manage_courses && can_do(@context.account, @current_user, :manage_master_courses)
  has_multiple_sections = @context.course_sections.active.count > 1
  show_publish_controls = can_do(@context, @current_user, :change_course_state, :manage_courses_publish) && (@context.unpublished? || @context.unpublishable?)

  is_master_course = MasterCourses::MasterTemplate.is_master_course?(@context)
  blueprint_subscription = @context.master_course_subscriptions.active.first
  master_course = blueprint_subscription&.master_template&.course

  can_see_restrict_quantitative_setting = ((@context&.restrict_quantitative_data || @context&.account&.restrict_quantitative_data[:value]) && @context&.root_account&.feature_enabled?(:restrict_quantitative_data))

  if @context.elementary_subject_course?
    navigation_help_text = t("help.edit_navigation_k5", "Drag and drop items to reorder them in the subject navigation.")
    disabled_tab_text = t("tab_hidden_if_disabled_k5", "Tab disabled, won't appear in subject navigation")
  else
    navigation_help_text = t("help.edit_navigation", "Drag and drop items to reorder them in the course navigation.")
    disabled_tab_text = t("tab_hidden_if_disabled", "Page disabled, won't appear in navigation")
  end
%>

<% provide :right_side do %>
  <%= render :partial => 'settings_sidebar', :locals => { blueprint_subscription: blueprint_subscription, show_publish_controls: show_publish_controls } %>
<% end %>

<h1 class="screenreader-only"><%= t 'course_settings_title', "Course Settings" %></h1>
<div id="course_details_tabs" style="display:none;" class="ui-tabs-minimal">
  <ul>
    <li id="course_details_tab"><a href="#tab-details"><%= t('tabs.details', %{Course Details}) %></a></li>
    <li id="sections_tab"><a href="#tab-sections"><%= t('tabs.sections', %{Sections}) %></a></li>
    <% unless @context.elementary_homeroom_course? %>
      <% if can_do(@context, @current_user, :update) %>
        <li id="navigation_tab"><a href="#tab-navigation"><%= t('tabs.navigation', %{Navigation}) %></a></li>
      <% end %>
      <% if can_do(@context, @current_user, :read_as_admin) %>
        <li id="external_tools_tab"><a href="#tab-tools" id="tab-tools-link"><%= t('tabs.tools', %{Apps}) %></a></li>
      <% end %>
      <% if @publishing_enabled %>
        <li id="grade_publishing_tab"><a href="#tab-grade-publishing" id="tab-grade-publishing-link"><%= t('Grade Syncing') %></a></li>
      <% end %>
      <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
        <li id="alerts_tab"><a href="#tab-alerts" id="tab-alerts-link"><%= t('tabs.alerts', %{Alerts}) %></a></li>
      <% end %>
      <% if can_do(@context, @current_user, :view_feature_flags) %>
        <li id="feature_flags_tab"><a href="#tab-features" id="tab-features-link"><%= t('Feature Options') %></a></li>
      <% end %>
      <% if @context.grants_right?(@current_user, session, :update) && @context.root_account.feature_enabled?(:microsoft_group_enrollments_syncing) %>
        <li id="integrations_tab"><a href="#tab-integrations" id="tab-integrations-link"><%= t('Integrations') %></a></li>
      <% end %>
    <% end %>
  </ul>
  <div id="tab-details">
    <h2>
      <%= t('headings.details', %{Course Details}) %>
      <% unless show_publish_controls %>
        <% if @context.created? || @context.claimed? %>
          <span id='course-status' class='published-status unpublished pull-right'>
            <%= t('labels.course_status_unpublished', %{Course is Unpublished}) %>
            <i class="icon-unpublished"></i>
          </span>
        <% else %>
          <% if @context.unpublishable? %>
            <span data-tooltip title="" id='course-status' class='published-status published pull-right'>
              <%= t('labels.course_status_published', %{Course is Published}) %>
              <i class="icon-publish icon-Solid"></i>
            </span>
          <% else %>
            <% unpublish_tooltip = t('tooltips.cannot_unpublish_course', %{You cannot unpublish this course if there are graded student submissions}) %>
            <span data-tooltip title="<%= unpublish_tooltip %>" id='course-status' class='published-status published pull-right'>
              <%= t('labels.course_status_published', %{Course is Published}) %>
              <i class="icon-publish icon-Solid"></i>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </h2>
    <%= form_tag course_path(@context), :id => "course_reload_form", :method => :put do %>
      <%= hidden_field_tag :for_reload, true %>
      <%= hidden_field_tag :continue_to, course_settings_url(@context) %>
    <% end %>
    <% opts = {:id => "course_form", :class => "formtable"} %>
    <% opts[:disabled] = 'disabled' unless can_manage %>
    <%= form_for @context, :html => opts do |f| %>
    <div class="coursesettings">
      <div class="form-row">
        <div class="form-label">
          <% if @context.elementary_enabled? %>
            <%= f.blabel :card_image, :en => "Card Image" %>
          <% else %>
            <%= f.blabel :image, :en => "Image" %>
          <% end %>
        </div>
        <div>
          <div class="CourseImageSelector__Container"></div>
        </div>
      </div>
      <% if @context.elementary_enabled? %>
        <div class="form-row">
          <div class="form-label">
            <%= f.blabel :banner_image, :en => "Wide Banner Image" %>
            <p class="form-label-info"><%= I18n.t("The image will be cropped to a 5:1 aspect ratio") %></p>
          </div>
          <div>
            <div id="course_banner_image_selector_container"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label nobr"><%= f.blabel :course_color, :en => "Color" %></div>
          <div>
            <div id="course_color_picker_container"></div>
          </div>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-label"><%= f.blabel :name, :course_name, :en => "Name" %></div>
        <div>
          <% if can_rename_course %>
            <%= f.text_field :name, :class => "course_form", :maxlength => '255' %>
          <% else %>
            <span id="course_name"><%= @context.name %></span>
          <% end %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label nobr"><%= f.blabel :course_code, :en => "Course Code" %></div>
        <div>
          <% if can_rename_course %>
            <%= f.text_field :course_code, :maxlength => '255' %>
          <% else %>
            <span id="course_course_code"><%= @context.course_code %></span>
          <% end %>
        </div>
      </div>
      <% if @context.elementary_enabled? %>
        <div class="form-row friendly-name-row">
          <div class="form-label nobr"><%= f.blabel :friendly_name, :en => "Friendly Name" %></div>
          <div class="tall-row">
            <% if can_manage %>
              <%= f.text_field :friendly_name, :maxlength => '255' %>
            <% else %>
              <span id="course_friendly_name"><%= @context.friendly_name %></span>
            <% end %>
            <div class="aside palign">
              <%= t("If provided, this name will be used in preference to the course's actual name on the dashboard and in notifications.") %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-label nobr"><%= f.blabel :blueprint_course, :en => "Blueprint Course" %></div>
        <div class="nobr">
          <% if master_course %>
            <% if master_course.grants_right? @current_user, session, :read %>
              <a href="<%= course_url(master_course) %>"><%= master_course.nickname_for(@current_user) %></a>
            <% else %>
              <%= master_course.nickname_for(@current_user) %>
            <% end %>
            (courses/<%= master_course.id %>)
          <% else %>
            <% if can_manage_master_courses %>
              <div id="blueprint_menu"></div>
            <% else %>
              <span id="course_blueprint"><%= is_master_course ? t("Yes") : t("No") %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @context.root_account.feature_enabled?(:course_templates) %>
        <div class="form-row">
          <div class="form-label nobr"><%= f.blabel :course_template, :en => "Course Template" %></div>
          <div class="nobr">
            <% editable = if @context.template?
                   @context.can_stop_being_template? && @context.grants_right?(@current_user, session, :delete_course_template)
                 else
                   @context.can_become_template? && @context.grants_right?(@current_user, session, :add_course_template)
                 end
            %>
            <div id="course_template_details" data-is-editable=<%= editable %> %>></div>
          </div>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-label"><%= f.blabel :time_zone, :en => "Time Zone" %></div>
        <div>
          <% if can_manage %>
            <%= f.time_zone_select :time_zone, I18nTimeZone.us_zones, :model => I18nTimeZone %>
          <% else %>
            <% if name = @context.time_zone.try(:name) %>
              <%= I18n.send(:translate, I18nTimeZone[name].keyify, name.dup) %>
            <% else %>
              <%= t(:none, "None") %>
            <% end %>
          <% end %>
        </div>
      <% if @context.sis_source_id && can_do(@context, @current_user, :read_sis) || can_do(@context.root_account, @current_user, :manage_sis) %>
        </div><div class="form-row">
          <div class="form-label"><%= f.blabel :sis_source_id, :en => "SIS ID" %></div>
          <div style="word-wrap: break-word;">
            <% if can_manage && can_do(@context.root_account, @current_user, :manage_sis) %>
              <%= f.text_field :sis_source_id, :title => t('sis_source_id', "SIS ID"), :value => @context.sis_source_id %>
            <% else %>
              <span id="course_sis_source_id">
                <%= @context.sis_source_id %>
              </span>
            <% end %>
          </div>
      <% end %>
      <% if @current_user && Account.site_admin.account_users_for(@current_user).present? %>
        </div><div class="form-row">
          <div class="form-label"><%= f.blabel :root_account, :en => "Root Account" %></div>
          <div><%= link_to @context.root_account.name, account_url(@context.root_account.id), :id => "course_root_account" %></div>
      <% end %>
      </div><div class="form-row">
        <div class="form-label"><%= f.blabel :account_id, :en => "Subaccount" %></div>
        <div>
          <% can_edit_account = false %>
          <% if can_manage %>
            <% account_chain = @context.account.account_chain.reverse %>
            <% account_chain.each do |account| %>
              <% if can_do(account, @current_user, :manage_courses, :manage_courses_admin) %>
                <% if account.root_account? && account.all_accounts.active.count > Setting.get('course_settings_sub_account_dropdown_limit', '500').to_i %>
                  <a href="<%= context_url(account, :context_sub_accounts_url, :format => :json, :include_self => "1") %>" id="course_account_id_url" style="display: none;">&nbsp;</a>
                  <input type="hidden" name="course[account_id]" id="course_account_id" value="<%= @context.account_id %>"/>
                  <input type="text" name="account[name]" id="course_account_id_lookup" value="<%= @context.account.name %>" style="width: 150px;"/>
                <% else %>
                  <select name="course[account_id]" id="course_account_id">
                    <%= render :partial => "shared/account_options", :locals => {:account => account} %>
                  </select>
                <% end %>
                <% can_edit_account = true %>
                <% break %>
              <% end %>
            <% end %>
          <% end %>

          <% unless can_edit_account %>
            <span id="course_account_id">
              <% if can_do(@context.account, @current_user, :read) %>
                <%= link_to @context.account.name, account_url(@context.account.id) %>
              <% else %>
                <%= @context.account.name %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
      <% if (@context.elementary_subject_course? && @context.sis_batch_id.blank?) || (@context.elementary_homeroom_course? && @synced_subjects.length > 0) %>
        <div class="form-row">
          <div class="form-label nobr"><%= f.blabel :enrollments_from_homeroom, :en => "Enrollments" %></div>
          <div class="tall-row">
            <% if @context.elementary_subject_course? && @context.sis_batch_id.blank? %>
              <div class="nobr">
                <%= f.check_box :sync_enrollments_from_homeroom, class: 'sync_enrollments_from_homeroom_checkbox', :disabled => !can_manage || @context.homeroom_course %>
                <%= f.label :sync_enrollments_from_homeroom, :en => "Sync enrollments and subject start/end dates from homeroom" %><br/>
              </div>
              <div class="sync_enrollments_from_homeroom_select">
                <% format_options = options_from_collection_for_select(@homeroom_courses, 'id', 'name', @context.homeroom_course_id) %>
                <% if can_manage %>
                  <%= f.select :homeroom_course_id, format_options %>
                <% else %>
                  <%= @homeroom_courses&.detect{|c| c.id == @context.homeroom_course_id}&.name %>
                <% end %>
                <div class="aside palign">
                  <% latest_progress = @context.progresses.where(tag: 'sync_homeroom_enrollments').last %>
                  <% if latest_progress&.completed? %>
                    <%= t("Last synced: %{datetime}", datetime: latest_progress.updated_at.strftime('%B %e, %Y at %l:%M %p')) %>
                  <% elsif latest_progress&.pending? %>
                    <span class="sync_enrollments_from_homeroom_progress" data-url="<%= api_v1_progress_url(latest_progress) %>"><%= image_tag "ajax-loader-small.gif", :class => "status_loader", :alt => t('Loading') %> <%= t('Sync in progress') %></span>
                  <% end %>
                </div>
              </div>
            <% elsif @context.elementary_homeroom_course? && @synced_subjects.length > 0 %>
              <div class="palign">
                <%= I18n.t("This homeroom syncs enrollments and subject start/end dates to: ") %>
                <% links = @synced_subjects.each_with_index do |subject, i| %>
                  <a href="<%= course_url(subject) %>"><%= subject.name %></a><% if i < @synced_subjects.length - 1 %>, <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-label"><%= f.blabel :enrollment_term_id, :en => "Term" %></div>
        <div>
          <% if can_manage && can_do(@context.account, @current_user, :manage_courses, :manage_courses_admin) %>
            <select name="course[enrollment_term_id]" id="course_enrollment_term_id">
              <% @context.root_account.enrollment_terms.active.sort_by{|t| t.start_at || CanvasSort::First}.each do |term| %>
                <option value="<%= term.id %>" <%= 'selected' if term.id == @context.enrollment_term_id %>><%= term.name %></option>
              <% end %>
            </select>
          <% else %>
            <span id="course_enrollment_term_id">
              <%= @context.enrollment_term.name %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="form-row course-participation-row">
        <div class="form-label"><label for="availability_options_container"><%= f.blabel :participation_id, :en => "Participation" %></label></div>
        <div class="nobr">
          <div id="availability_options_container"></div>
          <%= f.hidden_field :start_at, :value => @context.start_at&.iso8601 %>
          <%= f.hidden_field :conclude_at, :value => @context.conclude_at&.iso8601 %>
          <%= f.hidden_field :restrict_enrollments_to_course_dates %>
          <%= f.hidden_field :restrict_student_past_view %>
          <%= f.hidden_field :restrict_student_future_view %>
        </div>
      </div>
      <% if can_see_restrict_quantitative_setting %>
      <div class="form-row course-quantitative-data-row">
        <div class="form-label"><label for="restrict_quantitative_data_options"><%= f.blabel :restrict_quantitative_data, :en => "Quantitative Data Options" %></label></div>
        <div class="nobr">
          <div id="restrict_quantitative_data_options_container"></div>
          <%= f.hidden_field :restrict_quantitative_data %>
        </div>
      </div>
      <% end %>
      <% if @context.root_account.feature_enabled?(:default_due_time) %>
      <div class="form-row language-row">
        <div class="form-label"><%= f.blabel :default_due_time, en: "Default due time" %></div>
        <div class="tall-row">
          <% if Account.site_admin.feature_enabled?(:customizable_default_due_time) %>
            <div id="default_due_time_container" style="width: 350px"></div>
            <%= f.hidden_field :default_due_time %>
          <% else %>
            <%= f.select :default_due_time, options_for_select(default_due_time_options(@context), default_due_time_key(@context)), {}, {'aria-describedby' => 'due-time-description'} %>
          <% end %>
          <div class="aside palign" id="due-time-description">
            <%= t("This influences the user interface for setting due dates. It does not change the time due for any existing assignments.") %>
          </div>
        </div>
      </div>
      <% end %>
      <% if available_locales.size > 1 %>
      <div class="form-row language-row">
        <div class="form-label"><%= f.blabel :locale, :language, :en => "Language" %></div>
        <div class="tall-row">
          <% no_language = t(:no_language_preference, "Not set (user-configurable, defaults to %{language})", :language => available_locales[infer_locale(:context => @context.account)]) %>
          <% if can_manage %>
            <div>
              <%= f.select :locale,
                           [[no_language, nil]] + available_locales.invert.sort_by { |desc, _| Canvas::ICU.collation_key(desc) },
                           {:selected => @context.locale}, {:class => 'locale', 'aria-describedby' => 'language-description'} %>
              <%= render :partial => 'shared/locale_warning' %>
            </div>
            <div class="aside palign" id="language-description">
              <%= t('language_overrides_preferences', "This will override any user/system language preferences. This is only recommended for foreign language courses") %>
            </div>
          <% else %>
            <%= @context.locale ? available_locales[@context.locale] : no_language %>
          <% end %>
        </div>
      <% end %>
      </div><div class="form-row">
        <div class="form-label"><%= f.blabel :storage_quota_mb, :storage_quota, :en => "File Storage" %></div>
        <div>
          <% if can_manage && can_do(@context.account, @current_user, :manage_storage_quotas) %>
            <%= f.text_field :storage_quota_mb, :style => "width: 50px;", :title => t('megabytes', "megabytes"), :value => @context.storage_quota_mb %>
          <% else %>
            <%= @context.storage_quota_mb %>
          <% end %>
          <%= t('megabytes', %{megabytes}) %>
        </div>
      <% if @context.turnitin_enabled? %>
      </div><div class="form-row">
        <div class="form-label"><%= f.blabel :turnitin_comments, :en => "Turnitin Comments" %></div>
        <div class="nobr">
          <span class="aside"><%= t('turnitin', %{these comments will be shown to students when submitting a Turnitin-enabled assignment}) %></span>
          <br/>
          <%= f.text_area :turnitin_comments, :style => "width: 90%; height: 50px;", :disabled => !can_manage %>
        </div>
      <% end %>
      </div>
      <% if @context.root_account.feature_enabled?(:filter_speed_grader_by_student_group) %>
        <div class="form-row">
          <div class="form-label">
            <label for="course_large_course"><%= t("Large Course:") %></label>
          </div>
          <div id="course_large_course">
            <%= f.check_box :filter_speed_grader_by_student_group, disabled: !can_manage %>
            <%= f.label :filter_speed_grader_by_student_group, t("Launch SpeedGrader Filtered by Student Group") %>
          </div>
        </div>
      <% end %>
      <div class="form-row" style="align-items:start;">
        <div class="form-label">
          <label for="course_grading_scheme"><%= before_label('grading_scheme', %{Grading Scheme}) %></label>
        </div>
        <div id="course_grading_scheme">
          <div class="checkbox-flex-container">
            <%= f.check_box :course_grading_standard_enabled, :class => "grading_standard_checkbox", :disabled => !can_manage %>
            <%= f.label :course_grading_standard_enabled, :en => "Enable course grading scheme" %>
          </div>
          <% if Account.site_admin.feature_enabled?(:grading_scheme_updates) %>
            <input type="hidden" name="course[grading_standard_id]" id="grading_standard_id" value="<%= @context.grading_standard_id %>" />
            <div id="grading_scheme_selector" class="grading_scheme_selector"></div>
          <% else %>
            <div class="grading_standard_link" style="margin-<%= direction('left') %>: 20px;">
              <a href="#" class="edit_letter_grades_link"><%= @context.grading_standard_enabled? ? t('view_grading_scheme', "view grading scheme") : t('set_grading_scheme', "set grading scheme") %></a>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label"><label for="course_license"><%= before_label('license', %{License}) %></label></div>
        <div colspan="3">
          <% if can_manage %>
            <% cc, non_cc = Course.licenses.map { |id, attrs| [attrs[:readable_license].call, id]}.partition{|n, id| id.start_with?('cc')} %>
            <select name="course[license]" id="course_license">
              <%= options_for_select(non_cc, @context.license) %>
              <%= grouped_options_for_select([[t("Creative Commons Licenses"), cc]], @context.license) %>
            </select>
            <%= license_help_link %>
          <% else %>
            <%= @context.readable_license %>
          <% end %>
        </div>
      </div><div class="form-row">
        <div class="form-label"><%= f.blabel :usage_rights_required, :en => "File Copyright" %></div>
        <div id="usage_rights_required" class="checkbox-flex-container">
          <%= f.check_box :usage_rights_required, :disabled => !can_manage || @context.account.usage_rights_required[:locked] %>
          <%= f.label :usage_rights_required, t('Copyright and license information must be provided for files before they are published.') %>
        </div>
      </div><div class="form-row course-visibility-row">
        <div class="form-label"><label for="course_visibility"><%= before_label('course_visibility', %{Visibility}) %></label></div>
        <div colspan="3" id="course_visibility">
          <% if can_do(@context, @current_user, :manage_course_visibility) %>
            <span>
              <%= f.select :course_visibility, @context.course_visibility_options.map{ |id, attrs| [attrs[:setting], id] }, {}, {"aria-label" => t("Course Visibility Options")} %>
              <%= visibility_help_link %>
            </span>
            <div class="panel-border">
              <%= f.check_box :custom_course_visibility %>
              <%= f.label :custom_course_visibility, :en => "Customize" %>
              <div id="customize_course_visibility">
                <% Course::CUSTOMIZABLE_PERMISSIONS.map do |setting, options| %>
                  <%= f.label :"#{setting}_visibility_option", options[:get_setting_name].call, :class => "#{setting}-visibility" %>
                  <%= f.select(
                    :"#{setting}_visibility_option",
                    @context.course_visibility_options.map{ |id, attrs| [attrs[:setting], "#{id}"] },
                    {},
                    {
                      :id => options[:setting],
                      "aria-label" => t(:visibility_option, "%{type} Visibility Options", type: options[:setting]),
                      "data-flexibility" => options[:flex]
                    }
                  ) %>
                <% end %>
              </div>
            </div>
            <br/>
            <div class="public_options checkbox-flex-container">
              <%= f.check_box :indexed %>
              <%= f.label :indexed, :en => "Include this course in the public course index" %>
            </div>
          <% else %>
            <div>
              <%= @context.course_visibility == 'course' ?
                  t('If you need to make your course public please contact your administrator/support.') :
                  t('Contact your administrator if you need to change course visibility.') %>
            </div>
            <span>
              <% vis_value = @context.course_visibility_options[@context.course_visibility][:setting] %>
              <%= f.select :course_visibility, [[vis_value, @context.course_visibility]], {}, {"disabled" => true, "aria-label" => t("Course Visibility Options")} %>
              <%= visibility_help_link %>
            </span>
            <div class="public_options checkbox-flex-container">
              <%= f.check_box :indexed, disabled: true %>
              <%= f.label :indexed, en: "Include this course in the public course index" %>
            </div>
          <% end %>
        </div>
      </div><div class="form-row">
        <div class="form-label"><label for="course_course_format"><%= before_label('course_format', %{Format}) %></label></div>
        <% format_options = [[t('#course.course_format.not_set', 'Not Set'), ''],
          [t('#course.course_format.on_campus', "On-Campus"), "on_campus"],
          [t('#course.course_format.online', "Online"), "online"],
          [t('#course.course_format.blended', "Blended"), "blended"]] %>
        <div>
          <% if can_manage %>
            <%= f.select :course_format, format_options %>
          <% else %>
            <%= (format_options.detect{|text, key| key == @context.course_format} || format_options.first).first %>
          <% end %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="conditional_release"><%= before_label('conditional_release', %{Mastery Paths}) %></label>
        </div>
        <div id="conditional_release">
          <div class="checkbox-flex-container">
            <%= f.check_box :conditional_release, :class => "conditional_release_checkbox", :disabled => !can_manage || @context.account.conditional_release[:locked] %>
            <%= f.label :conditional_release, t("Enable individual learning paths for students based on assessment") %>
          </div>
          <div id="conditional_release_caution_text" class="aside palign caution-text">
            <i class='icon-warning-borderless'></i>
            <div>
              <p>
                <%= t do %>
                  Disabling the Mastery Paths feature will release configured assignments and content to all students.
                  If the feature is re-enabled, these assignments will need to be configured for Mastery Paths again.
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% if @context.feature_enabled?(:epub_export) && !@context.account.enable_offline_web_export? %>
        <div class="form-row">
          <div class="form-label"><label for="course_epub_export"><%= before_label('course_epub_export', %{Epub Export}) %></label></div>
          <div colspan="3" id="epub_export">
            <div class="checkbox-flex-container">
              <%= f.check_box :organize_epub_by_content_type, :disabled => !can_manage %>
              <%= f.label :organize_epub_by_content_type, t("Organize epub by content type (default is by module).") %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @context.account.enable_offline_web_export? %>
        <div class="form-row">
          <div class="form-label"><label for="course_offline_export"><%= before_label('course_offline_export', %{Offline Course}) %></label></div>
          <div colspan="3" id="offline_web_export">
            <div class="checkbox-flex-container">
              <%= f.check_box :enable_offline_web_export, :disabled => !can_manage %>
              <%= f.label :enable_offline_web_export, t("Allow course content to be downloaded and viewed offline") %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @context.elementary_enabled? %>
        <div class="form-row">
          <div class="form-label nobr"><%= f.blabel :homeroom_course_header, :en => "Homeroom Course" %></div>
          <div class="nobr">
            <%= f.check_box :homeroom_course, :disabled => !can_manage || @context.enable_course_paces %>
            <%= f.label :homeroom_course, :en => "Enable as homeroom course" %>
            <a class="icon-question disabled-warning"
              id="homeroom_disabled_tooltip"
              data-tooltip
              title= "<%= t("Homeroom Course cannot be used with Course Pacing")%>">
            </a><br/>
          </div>
        </div>
      <% end %>
      <% if @context.account.feature_enabled?(:course_paces) %>
        <div class="form-row course-paces-row">
          <div class="form-label nobr"><%= f.blabel :course_paces, :en => "Course Pacing" %></div>
          <div class="tall-row">
            <div class="nobr">
              <%= f.check_box :enable_course_paces, :disabled => !can_manage || @context.homeroom_course%>
              <%= f.label :enable_course_paces, :en => "Enable Course Pacing" %>
              <a class="icon-question disabled-warning"
                id="pacing_disabled_tooltip"
                data-tooltip
                title= "<%= t("Course Pacing cannot be used with Homeroom Course")%>">
              </a><br/>
            </div>
            <div id="course_paces_caution_text" class="aside palign caution-text">
              <i class='icon-warning-borderless'></i>
              <div>
                <p>
                  <%= t ("Course Pacing is in active development.")%>
                </p>
                <p>
                  <%= t do %>
                    Learn more about this feature in the <a href="<%= t(:'#community.course_pacing') %>" target="_blank">Course Pacing User Group</a>.
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-label"><label for="course_public_description"><%= before_label('course_description', %{Description}) %></label></div>
        <div colspan="3">
          <%= f.text_area :public_description, :style => "height: 100px;", :disabled => !can_manage %>
        </div>
      </div><div class="form-row">
        <div></div>
        <div colspan="3">
          <span class="self_enrollment_message" style="<%= hidden unless @context.self_enrollment_enabled? && !is_master_course %>">
            <% if @context.root_account.self_registration? %>
              <%= t 'course_open_enrollment', <<~TEXT, :url => enroll_url(@context.self_enrollment_code || '{{ self_enrollment_code }}'), :url2 => register_url, :code => @context.self_enrollment_code || '{{ self_enrollment_code }}', :wrapper => '<b>\1</b>'
                    This course has enabled open enrollment. Students can
                    self-enroll in the course once you share with them this URL:
                    *%{url}*. Alternatively, they can sign up at *%{url2}* and
                    use the following join code: *%{code}*
                  TEXT
              %>
            <% else %>
              <%= t 'course_open_enrollment_without_code', <<~TEXT, :url => enroll_url(@context.self_enrollment_code || '{{ self_enrollment_code }}'), :wrapper => '<b>\1</b>'
                    This course has enabled open enrollment. Students can
                    self-enroll in the course once you share with them this URL:
                    *%{url}*
                  TEXT
              %>
            <% end %>
          </span>
          <% if !@context.elementary_homeroom_course? %>
            <a href="#" role="button" class="course_form course_form_more_options_link" style="padding-<%= direction('left') %>: 20px;"><%= t('links.more_options', %{more options}) %></a>
            <div class="course_form_more_options" style="display: none; padding-<%= direction('left') %>: 20px;">
              <% if @context.self_enrollment_allowed? %>
                <div class="checkbox-flex-container">
                  <%= f.check_box :self_enrollment, :class => 'self_enrollment_checkbox', :disabled => !can_manage %>
                  <label for="course_self_enrollment">
                    <% if @context.root_account.self_registration? %>
                      <%= t :self_enrollment, "Let students self-enroll by sharing with them a secret URL or code" %>
                    <% else %>
                      <%= t :self_enrollment_without_code, "Let students self-enroll by sharing with them a secret URL" %>
                    <% end %>
                  </label>
                </div>
                <br/>
                <div class="open_enrollment_holder checkbox-flex-container" style="display: none;">
                <%= f.check_box :open_enrollment, :disabled => !can_manage %>
                <%= f.label :open_enrollment, :en => "Add a \"Join this Course\" link to the course home page" %><br/>
                </div>
              <% end %>
              <% unless @context.elementary_subject_course? %>
                <div class="checkbox-flex-container">
                <%= f.check_box :show_announcements_on_home_page, :disabled => !can_manage %>
                <%= f.label :show_announcements_on_home_page, :en => "Show recent announcements on Course home page" %><br/>
                </div>
                <%= f.select :home_page_announcement_limit, options_for_select(1..15, @context.home_page_announcement_limit || 3), {}, {:disabled => !can_manage || !@context.show_announcements_on_home_page?, :style => 'width: 75px'} %>
                <%= f.label :home_page_announcement_limit, :en => 'Number of announcements shown on the homepage' %><br/>
              <% end %>
              <div class="checkbox-flex-container">
              <%= f.check_box :allow_student_forum_attachments, :disabled => !can_manage %>
              <%= f.label :allow_student_forum_attachments, :en => "Let students attach files to discussions" %><br/>
              </div>
              <% unless @context.elementary_subject_course? %>
                <div class="checkbox-flex-container">
                <%= f.check_box :allow_student_discussion_topics, :disabled => !can_manage %>
                <%= f.label :allow_student_discussion_topics, :en => "Let students create discussion topics" %><br/>
                </div>
              <% end %>
              <div class="checkbox-flex-container">
              <%= f.check_box :allow_student_discussion_editing, :disabled => !can_manage %>
              <%= f.label :allow_student_discussion_editing, :en => "Let students edit or delete their own discussion replies" %><br/>
              </div>
              <div class="checkbox-flex-container">
              <%= f.check_box :allow_student_organized_groups, :disabled => !can_manage %>
              <%= f.label :allow_student_organized_groups, :en => "Let students organize their own groups" %><br/>
              </div>
                <div class="checkbox-flex-container">
                <%= f.check_box :hide_final_grades, :disabled => !can_manage %>
                <%= f.label :hide_final_grades, :en => "Hide totals in student grades summary" %><br/>
                </div>
              <% unless @context.elementary_subject_course? || (@context.restrict_quantitative_data && @context.root_account.feature_enabled?(:restrict_quantitative_data)) %>
                <div class="checkbox-flex-container">
                <%= f.check_box :hide_distribution_graphs, :disabled => !can_manage %>
                <%= f.label :hide_distribution_graphs, :en => "Hide grade distribution graphs from students" %><br/>
                </div>
              <% end %>
              <% if has_multiple_sections %>
                <div class="checkbox-flex-container">
                  <%= f.check_box :hide_sections_on_course_users_page, :disabled => !can_manage %>
                  <%= f.label :hide_sections_on_course_users_page, :en => "Hide sections on the People page from students" %><br/>
                </div>
              <% end %>
              <% unless @context.elementary_subject_course? %>
                <div class="checkbox-flex-container">
                <%= f.check_box :lock_all_announcements, :disabled => !can_manage || @context.account.lock_all_announcements[:locked] %>
                <%= f.label :lock_all_announcements, :en => 'Disable comments on announcements' %><br />
                </div>
              <% end %>
              <%= f.select :default_wiki_editing_roles, [
                [t('#course.wiki_permissions.only_teachers', "Only Teachers"), "teachers"],
                [t('#course.wiki_permissions.teachers_students', "Teacher and Students"), "teachers,students"],
                [t('#course.wiki_permissions.all', "Anyone"), "teachers,students,public"]], {}, :disabled => !can_manage %>
              <label for="course_default_wiki_editing_roles">
                <%= t(%{can create, rename, and edit course pages by default}) %>
              </label><br/>
              <div class="changed_default_wiki_editing_roles" style="display: none; padding-<%= direction('left') %>: 20px; font-size: 0.8em;">
                <input type="checkbox" name="update_default_pages" id="update_default_pages"/>
                <label for="update_default_pages"><%= t 'wiki_editing_roles_change_existing', %{Change pages currently editable by "%{current_setting}" to "%{new_setting}".}, :current_setting => content_tag('span', @context.readable_default_wiki_editing_roles), :new_setting => content_tag('span', nbsp, :class => 'default_wiki_editing_roles_change') %></label>
              </div>
              <% if @context.root_account.feature_enabled?(:javascript_csp) %>
                <hr />
                <div id="csp_options"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% if can_manage %>
        <div class="form-row">
          <div colspan="4">
            <% if Setting.get('cross_root_account_course_moves', 'false') == 'true' &&
              Account.site_admin.grants_any_right?(@current_user, :manage_courses, :manage_courses_admin) && Account.root_accounts.length > 1 %>
                <a href="#" class="move_course_link btn"><i class="icon-arrow-right"></i> <%= t('links.move_course', %{Move To Another Account}) %></a>
            <% end %>
            <span class="course_form">
              <div class="form-actions">
                <button type="submit" class="btn btn-primary"><%= t('buttons.update_course', %{Update Course Details}) %></button>
              </div>
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="tab-sections">
    <h2 style="margin-top: 10px;"><%= t('headings.sections', %{Course Sections}) %></h2>
    <ul id="sections">
      <% @context.course_sections.active.order(CourseSection.best_unicode_collation_key('name')).each do |section| %>
        <li class="section">
          <% if can_do section, @current_user, :read %>
            <a href="<%= context_url(@context, :context_section_url, section) %>" class="name">
              <%= section.display_name %>
            </a>
          <% else %>
            <span class="name">
              <%= section.display_name %>
            </span>
          <% end %>
          <span class="users_count">
            (
              <%= t 'enrollment_count', 'User', :count => section.enrollments.not_fake.where.not(:workflow_state => "rejected").count %><% if section && section.sis_source_id %>,
                <%= t 'section_sis_id', 'SIS ID: %{section_sis}', :section_sis => section.sis_source_id %>
              <% end %>
            )
          </span>
          <span class="section_links">
            <% if can_do(section, @current_user, :update) && !section.defined_by_sis? %>
              <a class="Button Button--icon-action edit_section_link"
                role="button"
                title="<%= t('links.title.edit_section', %{Edit Section}) %>"
                href="<%= context_url(@context, :context_section_url, section) %>">
                <i class="icon-edit" aria-hidden="true"></i>
                <span class="screenreader-only"><%= t('Edit Section "%{name}"', :name => section.name) %></span>
              </a>
            <% end %>
            <% if can_do(section, @current_user, :delete) %>
              <% if section.deletable? %>
                <a class="Button Button--icon-action delete_section_link"
                  role="button"
                  title="<%= t('links.title.delete_section', %{Delete Section}) %>"
                  href="<%= context_url(@context, :context_section_url, section) %>">
                  <i class="icon-end" aria-hidden="true"></i>
                  <span class="screenreader-only">
                    <%= t('Delete Section "%{name}"', :name => section.name) %>
                  </span>
                </a>
              <% else %>
                <a class="Button Button--icon-action cant_delete_section_link"
                  role="button"
                  href="#"
                  title="<%= t('links.title.cant_delete', %{You can't delete sections that have users enrolled}) %>">
                  <i class="icon-end" aria-hidden="true"></i>
                  <span class="screenreader-only"><%= t('Delete Section "%{name}"', :name => section.name) %></span>
                </a>
              <% end %>
            <% end %>
          </span>
          <div class="clear"></div>
        </li>
      <% end %>
      <li class="section_blank" style="display: none;">
        <a href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" class="name"></a>
        <span class="section_links">
          <a class="Button Button--icon-action no-hover edit_section_link"
            role="button"
            href="<%= context_url(@context, :context_section_url, "{{ id }}") %>"
            title="<%= t('links.title.edit_section', %{Edit Section}) %>">
              <i class="icon-edit" aria-hidden="true"></i>
              <span class="screenreader-only">
                <%= t('Edit Section "%{name}"', :name => "%%name%%") %>
              </span>
          </a>
          <a class="Button Button--icon-action delete_section_link"
            role="button"
            href="<%= context_url(@context, :context_section_url, "{{ id }}") %>"
            title="<%= t('links.title.delete_section', %{Delete Section}) %>"
            class="no-hover">
              <i class="icon-end" aria-hidden="true"></i>
              <span class="screenreader-only"><%= t('Delete Section "%{name}"', :name => "%%name%%") %></span>
          </a>
        </span>
        <div class="clear"></div>
      </li>
      <% if can_do(@context.course_sections.temp_record, @current_user, :create) %>
        <li>
          <%= form_for :course_section, :url => context_url(@context, :context_sections_url), :html => {:id => "add_section_form", :class => "form-inline", :style => "margin-top: 20px;"} do |f| %>
            <h3><%= f.blabel :name, :course_section_name, :en => "Add a New Section" %></h3>
            <%= f.text_field :name %>
            <button class="btn btn-primary" type="submit" title="<%= t('Add Section') %>" aria-label="<%= t('Add Section') %>"><i class="icon-plus" role="presentation"></i> <%= t('buttons.add_section', %{Section}) %></button>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= form_for :course_section, :url => "", :html => {:id => "edit_section_form", :method => :put, :style => "display: none;"} do |f| %>
      <%= f.text_field :name, :id => "course_section_name_edit", :'aria-label' => t('buttons.edit_section_name', "Edit section name") %>
    <% end %>
  </div>
  <% if can_do(@context, @current_user, :update) && !@context.elementary_homeroom_course? %>

  <div id="tab-navigation">
    <h2 class="screenreader-only"><%= t('headings.navigation', %{Course Navigation}) %></h2>
    <div class="screenreader-only drag_and_drop_warning" tabindex="0">
      <%= t('nav_items_keyboard_drag_and_drop',
      'Warning: For improved accessibility in reordering Course Navigation elements, please use the Move To Dialog option found in the menu.') %>
    </div>

    <%= form_tag context_url(@context, :context_update_nav_url), {:id => "nav_form", :title => t('titles.edit_navigation', "Edit Course Navigation") } do %>
      <input type="hidden" name="tabs_json" id="tabs_json" value="[]" />
      <% tabs = sortable_tabs %>
      <div style="width: 400px; padding-top: 10px">
        <p style="margin: 0">
          <%= navigation_help_text %>
        </p>
        <% if @context.elementary_subject_course? %>
          <p style="font-size: 0.8em; margin: 6px 0 0">
            <%= t("help.edit_navigation_info_k5", "If enabled, LTI tools will always appear last under the Resources tab in the order you choose.") %>
          </p>
        <% end %>
      </div>
      <% tabs.each do |tab|
        tab[:disabled_message] = [Course::TAB_GRADES, Course::TAB_DISCUSSIONS].include?(tab[:id]) ? t('tab_cant_disable', "This page can't be disabled, only hidden") : t('tab_disabled', "Page disabled, will redirect to course home page")
        tab[:disabled_message] = disabled_tab_text if tab[:external] || @context.elementary_subject_course?
      end %>
      <h3 class="screenreader-only"><%= t('Enabled Links') %></h3>
      <ul id="nav_enabled_list" class="nav_list connectedSortable">
        <li class="disabled" aria-hidden="true" style="height: 1px">
          <%# This item is just here to serve as an anchor for dragging/dropping if all tabs are disabled %>
        </li>
        <% tabs.select {|t| !t[:hidden] }.each do |tab|  %>
          <li aria-label="<%= tab[:label] %>" class="navitem <%= 'enabled' if @context.tab_enabled?(tab) %>"
              id="nav_edit_tab_id_<%= tab[:id] %>"
          >
            <%= tab[:label] %>
            <% if @context.tab_enabled?(tab) %>
              <div class="admin-links">
                <a class="al-trigger al-trigger-gray" role="button" href="#">
                  <i class="icon-more" aria-hidden="true"></i>
                  <span class="screenreader-only">
                    <%= t('Settings for %{tab_label}', { tab_label: tab[:label]}) %>
                  </span>
                </a>
                <ul class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                  <li role="presentation">
                    <a href="#" class="icon-x disable_nav_item_link" id="disable_nav_item_link_<%= tab[:id] %>" role="menuitem" title="Disable this item"><%= t("Disable") %></a>
                  </li>
                  <li role="presentation">
                    <a href="#" class="icon-updown move_nav_item_link" id="move_nav_item_link_<%= tab[:id] %>" role="menuitem" title="Move this item"><%= t("Move") %></a>
                  </li>
                </ul>
              </div>
              <span class="disabled_message"><%= tab[:disabled_message] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>

      <h3 class="screenreader-only"><%= t('Disabled Links') %></h3>
      <ul id="nav_disabled_list" class="nav_list connectedSortable">
        <li class="disabled">
          <%= t('drag_to_hide', %{Drag items here to hide them from students.}) %>
          <div style="font-size: 0.8em;">
            <% unless @context.elementary_subject_course? %>
              <%= t('drag_details', %{Disabling most pages will cause students who visit those pages to be redirected to the course home page.}) %>
            <% end %>
          </div>
        </li>
        <% tabs.select {|t| t[:hidden] }.each do |tab|  %>
          <li aria-label="<%= tab[:label] %>"
              class="navitem enabled"
              id="nav_edit_tab_id_<%= tab[:id] %>"
          >
            <%= tab[:label] %>
            <div class="admin-links">
                <a class="al-trigger al-trigger-gray" role="button" href="#">
                  <i class="icon-more" aria-hidden="true"></i>
                  <span class="screenreader-only"><%= t('Settings for %{tab_label}', { tab_label: tab[:label]}) %>
                  </span>
                </a>

                <ul id="content-2" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-3">
                  <li role="presentation">
                    <a href="#" class="icon-plus enable_nav_item_link" id="enable_nav_item_link_<%= tab[:id] %>" role="menuitem" title="Enable this item"><%= t("Enable") %></a>
                  </li>
                  <li role="presentation">
                    <a href="#" class="icon-updown move_nav_item_link" id="move_nav_item_link_<%= tab[:id] %>" role="menuitem" title="Move this item"><%= t("Move") %></a>
                  </li>
                </ul>
              </div>
              <span class="disabled_message"><%= tab[:disabled_message] %></span>

          </li>
        <% end %>
      </ul>

      <p>
        <button type="submit" class="btn btn-primary"><%= t('#buttons.save', %{Save}) %></button>
      </p>
    <% end %>
  </div>

  <% end %>

  <% if can_do(@context, @current_user, :read_as_admin) && !@context.elementary_homeroom_course? %>
    <div id="tab-tools">
      <%= render :partial => 'external_tools/external_tools', :object => @context.context_external_tools.active %>
    </div>
  <% end %>

  <% if @publishing_enabled && !@context.elementary_homeroom_course? %>
    <div id="tab-grade-publishing">
      <h2><%= t('Grade Syncing') %></h2>
      <%= form_tag context_url(@context, :context_publish_to_sis_url), { :id => "publish_to_sis_form", :style => "display: none;" } do %><% end %>
      <a href="#" id="publish_grades_link" class="btn disabled">...</a>
      <ul id="publish_grades_messages"></ul>
    </div>
  <% end %>

  <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) && !@context.elementary_homeroom_course? %>
    <div id="tab-alerts">
      <h2><%= t(:alerts_title, "Alerts") %></h2>
      <%= render :partial => 'alerts/alerts' %>
    </div>
  <% end %>

  <% if can_do(@context, @current_user, :view_feature_flags) && !@context.elementary_homeroom_course? %>
    <div id="tab-features"></div>
  <% end %>

  <% if @context.grants_right?(@current_user, session, :update) && @context.root_account.feature_enabled?(:microsoft_group_enrollments_syncing) && !@context.elementary_homeroom_course? %>
    <div id="tab-integrations"></div>
  <% end %>
</div><!-- end course details tab -->

<% if Account.site_admin.grants_any_right?(@current_user, :manage_courses, :manage_courses_admin) %>
  <div id="move_course_dialog" style="display: none;">
    <h2><%= t('headings.move_course', %{Move the course to another root account}) %></h2>
    <%= t('deatils.move_course', %{Select a new root account for this course.  After you move the course you'll want to specify a new department for the course as well.}) %>
    <%= form_for :course, :url => course_url(@context), :html => {:method => :put} do |f| %>
      <table class="formtable">
        <tr>
          <td>
            <%= f.blabel :root_account_id, :en => "Root Account" %>
          </td>
          <td>
            <%= f.select :root_account_id, Account.root_accounts.active.order("name DESC").select([:id, :name]).map{|a| [a.name, a.id] }, :selected => @context.root_account_id %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
              <button type="submit" class="btn btn-primary"><%= t('buttons.move_course', %{Move Course}) %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
<div id="edit_letter_grades_form" style="display: none;" data-context_code="<%= @context.asset_string %>">
  <%= render partial: "shared/grading_standard", object: @context.grading_standard, locals: {read_only: !can_manage} %>
  <a href="<%= context_url(@context, :context_grading_standards_url) %>" style="display: none;" class="create_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_grading_standard_url, "{{ id }}") %>" style="display: none;" id="update_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_url) %>" style="display: none;" id="update_course_url">&nbsp;</a>
</div>
