<% 
  content_for :page_title, join_title(t(:page_title, "Course Details"), @context.name)
  jammit_css :course_settings
  js_bundle :course_settings
  @active_tab = "settings"

  can_rename_course = can_do(@context.account, @current_user, :manage_courses) || !@context.root_account.settings[:prevent_course_renaming_by_teachers]
  has_multiple_sections = @context.course_sections.active.count > 1

  publishing_enabled = @context.allows_grade_publishing_by(@current_user) && can_do(@context, @current_user, :manage_grades)

  can_see_users = can_do(@context, @current_user, :read_roster, :manage_students, :manage_admin_users)
%>

<% content_for :right_side do %>
  <%= render :partial => 'settings_sidebar' %>
<% end %>

<div id="course_details_tabs" style="display:none;" class="ui-tabs-minimal">
  <ul>
    <li id="course_details_tab"><a href="#tab-details"><%= t('tabs.details', %{Course Details}) %></a></li>
    <li id="sections_tab"><a href="#tab-sections"><%= t('tabs.sections', %{Sections}) %></a></li>
    <% if can_do @context, @current_user, :update %>
      <li id="navigation_tab"><a href="#tab-navigation"><%= t('tabs.navigation', %{Navigation}) %></a></li>
    <% end %>
    <% if can_do @context, @current_user, :update %>
      <li id="external_tools_tab"><a href="#tab-tools" id="tab-tools-link"><%= t('tabs.tools', %{Apps}) %></a></li>
    <% end %>
    <% if publishing_enabled %>
      <li id="grade_publishing_tab"><a href="#tab-grade-publishing" id="tab-grade-publishing-link"><%= t('tabs.grade_publishing', %{Grade Publishing}) %></a></li>
    <% end %>
    <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
      <li id="alerts_tab"><a href="#tab-alerts" id="tab-alerts-link"><%= t('tabs.alerts', %{Alerts}) %></a></li>
    <% end %>
    <% if can_do @context, @current_user, :manage_feature_flags %>
      <li id="feature_flags_tab"><a href="#tab-features" id="tab-features-link"><%= t('tabs.feature_options', %{Feature Options}) %></a></li>
    <% end %>
  </ul>
  <div id="tab-details">
    <h2><%= t('headings.details', %{Course Details}) %></h2>
    <%= form_for @context, :html => {:id => "course_form"} do |f| %>
    <table class="coursesettings">
      <tr>
        <td class="form-label"><%= f.blabel :name, :course_name, :en => "Name" %></td>
        <td class="nobr">
          <% if can_rename_course %>
            <%= f.text_field :name, :class => "course_form", :maxlength => '255', :style => "width: 150px;" %>
          <% else %>
            <span class="course_form name"><%= @context.name %></span>
          <% end %>
          <span class="course_info name"><%= @context.name %></span>
        </td>
      </tr>
      <tr>
        <td class="form-label nobr"><%= f.blabel :course_code, :en => "Course Code" %></td>
        <td class="nobr">
          <% if can_rename_course %>
            <span class="course_form"><%= f.text_field :course_code, :maxlength => '255', :style => "width: 100px;" %></span>
          <% else %>
            <span class="course_form course_code"><%= @context.course_code %></span>
          <% end %>
          <span class="course_info course_code"><%= @context.course_code %></span>
        </td>
      <% if @context.sis_source_id && can_do(@context.root_account, @current_user, :read_sis) || can_do(@context.root_account, @current_user, :manage_sis) %>
        </tr><tr>
          <td class="form-label"><%= f.blabel :sis_source_id, :en => "SIS ID" %></td>
          <td>
            <span class="course_form">
              <% if can_do(@context.root_account, @current_user, :manage_sis) %>
                <%= f.text_field :sis_source_id, :style => "width: 50px;", :title => t('sis_source_id', "SIS ID"), :value => @context.sis_source_id %>
              <% else %>
                <%= @context.sis_source_id %>
              <% end %>
            </span>
            <span class="course_info sis_source_id"><%= @context.sis_source_id %></span>
          </td>
      <% end %>
      <% if @current_user && Account.site_admin.account_users_for(@current_user).present? %>
        </tr><tr>
          <td class="form-label"><%= f.blabel :root_account_id, :en => "Root Account" %></td>
          <td><%= link_to @context.root_account.name, account_url(@context.root_account.id)  %></td>
      <% end %>
      </tr><tr>
        <td class="form-label"><%= f.blabel :account_id, :en => "Department" %></td>
        <td>
          <span class="course_form">
            <% if can_do(@context.root_account, @current_user, :manage_courses) %>
              <% if @context.root_account.all_accounts.count > 500 %>
                <a href="<%= context_url(@context.root_account, :context_sub_accounts_url, :format => :json) %>" id="course_account_id_url" style="display: none;">&nbsp;</a>
                <input type="hidden" name="course[account_id]" id="course_account_id" value="<%= @context.account_id %>"/>
                <input type="text" name="account[name]" id="course_account_id_lookup" value="<%= @context.account.name %>" style="width: 150px;"/>
              <% else %>
                <select name="course[account_id]" id="course_account_id">
                  <%= render :partial => "shared/account_options", :locals => {:account => @context.root_account} %>
                </select>
              <% end %>
            <% elsif can_do(@context.account, @current_user, :read) %>
              <%= link_to @context.account.name, account_url(@context.account.id) %>
            <% else %>
              <%= @context.account.name %>
            <% end %>
          </span>
          <span class="course_info account_name">
            <% if can_do(@context.account, @current_user, :read) %>
              <%= link_to @context.account.name, account_url(@context.account.id) %>
            <% else %>
              <%= @context.account.name %>
            <% end %>
          </span>
        </td>
      </tr><tr>
        <td class="form-label"><%= f.blabel :enrollment_term_id, :en => "Term" %></td>
        <td>
          <span class="course_form">
            <% if can_do(@context.root_account, @current_user, :manage_courses) %>
              <select name="course[enrollment_term_id]" id="course_enrollment_term_id">
                <% @context.root_account.enrollment_terms.active.sort_by{|t| t.start_at || CanvasSort::First}.each do |term| %>
                  <option value="<%= term.id %>" <%= 'selected' if term.id == @context.enrollment_term_id %>><%= term.name %></option>
                <% end %>
              </select>
            <% else %>
              <%= @context.enrollment_term.name %>
            <% end %>
          </span>
          <span class="course_info term_name"><%= @context.enrollment_term.name %></span>
        </td>
      </tr><tr>
        <td class="form-label"><%= f.blabel :start_at, :en => "Starts" %></td>
        <td class="nobr">
          <span class="course_form"><%= f.text_field :start_at, :class => "date_entry", :value => datetime_string(@context.start_at, :verbose, nil, true) %></span>
          <span class="course_info start_at"><%= datetime_string(@context.start_at, :verbose, nil, true) || t('no_date', "No Date Set") %></span>
        </td>
      </tr><tr>
        <td class="form-label"><%= f.blabel :conclude_at, :en => "Ends" %></td>
        <td class="nobr">
          <span class="course_form"><%= f.text_field :conclude_at, :class => "date_entry", :value => datetime_string(@context.conclude_at, :verbose, nil, true) %></span>
          <span class="course_info conclude_at"><%= datetime_string(@context.conclude_at, :verbose, nil, true) || t('no_date', "No Date Set") %></span>
          <div class="course_form">
            <%= f.check_box :restrict_enrollments_to_course_dates %>
            <%= f.label :restrict_enrollments_to_course_dates, :en => "Users can only participate in the course between these dates" %>
            <div class="aside palign">
              <%= t('course_overrides_term', %{This will override any term availability settings.}) %>
            </div>
          </div>
          <div class="course_info restrict_dates uneditable aside">
            <%= @context.restrict_enrollments_to_course_dates ? t('date_restricted', "Users can only participate in the course between these dates") : t('not_date_restricted', "These dates will not affect course availability") %>
          </div>
        </td>
      <% if available_locales.size > 1 %>
      </tr><tr>
        <td class="form-label"><%= f.blabel :locale, :language, :en => "Language" %></td>
        <td>
          <div class="course_form">
            <% no_language = t(:no_language_preference, "Not set (user-configurable, defaults to %{language})", :language => available_locales[infer_locale(:context => @context.account)]) %>
            <%= f.select :locale, [[no_language, nil]] + available_locales.invert.sort, {:selected => @context.locale}, {:class => 'locale'} %>
            <%= render :partial => 'shared/locale_warning' %>
            <p> <%= mt :transifex_message, <<-TEXT, :transifex_url => "https://www.transifex.com/projects/p/canvas-lms/"
Join the [Canvas Translation Community](%{transifex_url})
TEXT
            %>
            </p>
          </div>
          <span class="course_info locale"><%= @context.locale ? available_locales[@context.locale] : no_language %></span>
          <div class="aside palign">
            <%= t('language_overrides_preferences', "This will override any user/system language preferences. This is only recommended for foreign language courses") %>
          </div>
        </td>
      <% end %>
      </tr><tr>
        <td class="form-label"><%= f.blabel :storage_quota_mb, :storage_quota, :en => "File Storage" %></td>
        <td>
          <span class="course_form">
            <% if can_do(@context.account, @current_user, :manage_storage_quotas) %>
              <%= f.text_field :storage_quota_mb, :style => "width: 50px;", :title => t('megabytes', "megabytes"), :value => @context.storage_quota_mb %>
            <% else %>
              <%= @context.storage_quota_mb %>
            <% end %>
          </span>
          <span class="course_info storage_quota_mb"><%= @context.storage_quota_mb %></span>
          <%= t('megabytes', %{megabytes}) %>
        </td>
      <% if @context.turnitin_enabled? %>
      </tr><tr>
        <td class="form-label"><%= f.blabel :turnitin_comments, :en => "Turnitin Comments" %></td>
        <td class="nobr">
          <span class="course_form"><span class="aside"><%= t('turnitin', %{these comments will be shown to students when submitting a Turnitin-enabled assignment}) %></span><br/><%= f.text_area :turnitin_comments, :style => "width: 90%; height: 50px;" %></span>
          <span class="course_info turnitin_comments"><%= @context.turnitin_comments %></span>
        </td>
      <% end %>
      </tr>
      <tr>
        <td class="form-label">
          <label><%= before_label('grading_scheme', %{Grading Scheme}) %></label>
        </td>
        <td>
          <span class="course_info grading_scheme_set">
            <%= @context.grading_standard_enabled? ? (@context.grading_standard_title || t('grading_standard_currently_set', "Currently Set")) : t('grading_standard_not_set', "Not Set") %>
          </span>
          <div class="course_form">
            <%= f.check_box :grading_standard_enabled, :class => "grading_standard_checkbox" %>
            <%= f.label :grading_standard_enabled, :en => "Enable course grading scheme" %>
            <div class="grading_standard_link" style="margin-left: 20px;">
              <a href="#" class="edit_letter_grades_link"><%= @context.grading_standard_enabled? ? t('view_grading_scheme', "view grading scheme") : t('set_grading_scheme', "set grading scheme") %></a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="form-label"><%= f.blabel :license, :en => "License" %></td>
        <td colspan="3">
          <span class="course_form">
            <%= f.select :license, Course.licenses.map { |id, attrs| [attrs[:readable_license], id] }%>
            <%= license_help_link %>
          </span>
          <span class="course_info readable_license"><%= @context.readable_license %></span>
        </td>
      </tr><tr>
        <td class="form-label"><label><%= before_label('course_visibility', %{Visibility}) %></label></td>
        <td colspan="3">
          <span class="course_form">
            <%= f.check_box :public_syllabus %>
            <%= f.label :public_syllabus, :en => "Make the syllabus for this course publicly visible" %>
          </span>
          <div>
            <span class="course_form">
              <%= f.check_box :is_public, :class => "is_public_checkbox" %>
              <%= f.label :is_public, :en => "Make this course publicly visible" %>
              <span class="aside checklabelfix"><%= t('help.public_course', %{(student data will remain private)}) %></span>
            </span>
          </div>
          <span class="course_info is_public"><%= @context.is_public ? t('public_course', 'Public') : t('private_course', 'Private') %></span>
          <div class="public_options">
            <span class="course_form">
              <%= f.check_box :indexed %>
              <%= f.label :indexed, :en => "Include this course in the public course index" %>
            </span>
            <span class="course_info indexed">
              <%= @context.indexed ? t('indexed_course', "Included in public course index") : "" %>
            </span>
          </div>
        </td>
      </tr><tr>
        <td></td>
        <td colspan="3">
          <span class="self_enrollment_message" style="<%= hidden unless @context.self_enrollment %>">
            <% if @context.root_account.self_registration? %>
              <%= t 'course_open_enrollment', <<-TEXT, :url => enroll_url(@context.self_enrollment_code || '{{ self_enrollment_code }}'), :url2 => register_url, :code => @context.self_enrollment_code || '{{ self_enrollment_code }}', :wrapper => '<b>\1</b>'
                    This course has enabled open enrollment. Students can
                    self-enroll in the course once you share with them this URL:
                    *%{url}*. Alternatively, they can sign up at *%{url2}* and
                    use the following join code: *%{code}*
                  TEXT
              %>
            <% else %>
              <%= t 'course_open_enrollment_without_code', <<-TEXT, :url => enroll_url(@context.self_enrollment_code || '{{ self_enrollment_code }}'), :wrapper => '<b>\1</b>'
                    This course has enabled open enrollment. Students can
                    self-enroll in the course once you share with them this URL:
                    *%{url}*
                  TEXT
              %>
            <% end %>
          </span>
          <a href="#" class="course_form course_form_more_options_link" style="padding-left: 20px;"><%= t('links.more_options', %{more options}) %></a>
          <div class="course_form_more_options" style="display: none; padding-left: 20px;">
            <% if @context.self_enrollment_allowed? %>
              <%= f.check_box :self_enrollment, :class => 'self_enrollment_checkbox' %>
              <label for="course_self_enrollment">
                <% if @context.root_account.self_registration? %>
                  <%= t :self_enrollment, "Let students self-enroll by sharing with them a secret URL or code" %>
                <% else %>
                  <%= t :self_enrollment_without_code, "Let students self-enroll by sharing with them a secret URL" %>
                <% end %>
              </label><br/>
              <div class="open_enrollment_holder" style="display: none;">
              <%= f.check_box :open_enrollment %>
              <%= f.label :open_enrollment, :en => "Add a \"Join this Course\" link to the course home page" %><br/>
              </div>
            <% end %>
            <%= f.check_box :allow_student_forum_attachments %>
            <%= f.label :allow_student_forum_attachments, :en => "Let students attach files to discussions" %><br/>
            <%= f.check_box :allow_student_discussion_topics %>
            <%= f.label :allow_student_discussion_topics, :en => "Let students create discussion topics" %><br/>
            <%= f.check_box :allow_student_discussion_editing %>
            <%= f.label :allow_student_discussion_editing, :en => "Let students edit or delete their own discussion posts" %><br/>
            <%= f.check_box :allow_student_organized_groups %>
            <%= f.label :allow_student_organized_groups, :en => "Let students organize their own groups" %><br/>
            <%= f.check_box :hide_final_grades %>
            <%= f.label :hide_final_grades, :en => "Hide totals in student grades summary" %><br/>
            <%= f.check_box :hide_distribution_graphs %>
            <%= f.label :hide_distribution_graphs, :en => "Hide grade distribution graphs from students" %><br/>
            <%= f.check_box :lock_all_announcements %>
            <%= label_tag :course_lock_all_announcements, :en => 'Disable comments on announcements' %><br />
            <%= f.select :default_wiki_editing_roles, [
              [t('#course.wiki_permissions.only_teachers', "Only Teachers"), "teachers"],
              [t('#course.wiki_permissions.teachers_students', "Teacher and Students"), "teachers,students"],
              [t('#course.wiki_permissions.all', "Anyone"), "teachers,students,public"]] %>
            <label for="course_default_wiki_editing_roles">
              <%= t('wiki_editing_roles', %{can create, rename, and edit course wiki pages by default}) %>
            </label><br/>
            <div class="changed_default_wiki_editing_roles" style="display: none; padding-left: 20px; font-size: 0.8em;">
              <input type="checkbox" name="update_default_pages" id="update_default_pages"/>
              <label for="update_default_pages"><%= t 'wiki_editing_roles_change_existing', %{Change pages currently editable by "%{current_setting}" to "%{new_setting}".}, :current_setting => content_tag('span', @context.readable_default_wiki_editing_roles), :new_setting => content_tag('span', nbsp, :class => 'default_wiki_editing_roles_change') %></label>
            </div>
          </div>
        </td>
      </tr><tr>
        <td colspan="4">
          <% if can_do(@context, @current_user, :update) %>
            <a href="#" class="edit_course_link btn"><i class="icon-edit"></i> <%= t('links.edit_course', %{Edit Course Details}) %></a>
          <% end %>
          <% if Account.site_admin.grants_right?(@current_user, nil, :manage_courses) && Account.root_accounts.length > 1 %>
            <a href="#" class="move_course_link btn"><i class="icon-arrow-right"></i> <%= t('links.move_course', %{Move To Another Account}) %></a>
          <% end %>
          <span class="course_form">
            <div class="form-actions">
              <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
              <button type="submit" class="btn btn-primary"><%= t('buttons.update_course', %{Update Course Details}) %></button>
            </div>
          </span>
        </td>
      </tr>
    </table>
    <% end %>
    
  </div>
  <div id="tab-sections">
    <h2 style="margin-top: 10px;"><%= t('headings.sections', %{Course Sections}) %></h2>
    <ul id="sections">
      <% @context.course_sections.active.each do |section| %>
        <li class="section">
          <% if can_do section, @current_user, :read %>
            <a href="<%= context_url(@context, :context_section_url, section) %>" class="name">
              <%= section.display_name %>
            </a>
          <% else %>
            <span class="name">
              <%= section.display_name %>
            </span>
          <% end %>
          <span class="users_count">
            (
              <%= t 'enrollment_count', 'User', :count => section.enrollments.not_fake.count %><% if section && section.sis_source_id %>,
                <%= t 'section_sis_id', 'SIS ID: %{section_sis}', :section_sis => section.sis_source_id %>
              <% end %>
            )
          </span>
          <span class="section_links">
            <% if can_do(section, @current_user, :update) && !section.defined_by_sis? %>
              <a class="no-hover edit_section_link" title="<%= t('links.title.edit_section', %{Edit Section}) %>" href="<%= context_url(@context, :context_section_url, section) %>"><i class="icon-edit standalone-icon"></i><span class="screen-reader-text"><%= t('images.alt.edit', %{Edit}) %></span></a>
            <% end %>
            <% if can_do(section, @current_user, :delete) %>
              <% if section.deletable? %>
                <a class="no-hover delete_section_link" title="<%= t('links.title.delete_section', %{Delete Section}) %>" href="<%= context_url(@context, :context_section_url, section) %>"><i class="icon-end standalone-icon"></i><span class="screen-reader-text"><%= t('images.alt.delete', %{Delete}) %></span></a>
              <% else %>
                <a class="no-hover cant_delete_section_link" href="#" title="<%= t('links.title.cant_delete', %{You can't delete sections that have users enrolled}) %>"><i class="icon-end standalone-icon"></i><span class="screen-reader-text"><%= t('images.alt.delete', %{Delete}) %></span></a>
              <% end %>
            <% end %>
          </span>
          <div class="clear"></div>
        </li>
      <% end %>
      <li class="section_blank" style="display: none;">
        <a href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" class="name"></a>
        <span class="section_links">
          <a class="no-hover edit_section_link" href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" title="<%= t('links.title.edit_section', %{Edit Section}) %>"><i class="icon-edit standalone-icon"></i><span class="screen-reader-text"><%= t('images.alt.edit', %{Edit}) %></span></a>
          <a class="delete_section_link" href="<%= context_url(@context, :context_section_url, "{{ id }}") %>" title="<%= t('links.title.delete_section', %{Delete Section}) %>" class="no-hover"><i class="icon-end standalone-icon"></i><span class="screen-reader-text"><%= t('images.alt.delete', %{Delete}) %></span></a>
        </span>
        <div class="clear"></div>
      </li>
      <% if can_do(@context.course_sections.scoped.new, @current_user, :create) %>
        <li>
          <%= form_for :course_section, :url => context_url(@context, :context_sections_url), :html => {:id => "add_section_form", :class => "form-inline", :style => "margin-top: 20px;"} do |f| %>
            <h3><%= f.blabel :name, :course_section_name, :en => "Add a New Section" %></h3>
            <%= f.text_field :name %>
            <button class="btn btn-primary" type="submit"><i class="icon-add"></i> <%= t('buttons.add_section', %{Add Section}) %></button>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= form_for :course_section, :url => "", :html => {:id => "edit_section_form", :method => :put, :style => "display: none;"} do |f| %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <% if can_do @context, @current_user, :update %>

  <div id="tab-navigation">

    <div class="hidden-readable" tabindex="0" aria-label="keyboard instructions">

      
      <%= t('navigation_keyboard_hint',
        'If using a screen reader, to change the order of the course navigation links,
        Turn off the virtual cursor or virtual buffer on your screen reader (press Insert-z for JAWS).
        Press control-home to jump to the top of the page, then press the tab key until you reach the first course navigation link.
        Press the up and down arrows until you hear the link you wish to move, and then press space to select it
        Then, press the up and down arrow keys until you locate the new position.
        Finally, press space again to place the link you are moving directly after the current link.
        When finished, reenable the virtual buffer/cursor.') %>
    </div>

    <% keyboard_navigation([
         {:key => t('keycodes.next_navigation_link', 'Up'), :description => t('keycode_descriptions.next_navigation_link', 'Select next navigation link')},
         {:key => t('keycodes.previous_navigation_link', 'Down'), :description => t('keycode_descriptions.previous_navigation_link', 'Select previous navigation link')},
         {:key => t('keycodes.toggle_navigation_dragging', 'Space'), :description => t('keycode_descriptions.toggle_navigation_dragging', 'Select link to begin dragging, or drop previously selected link')}
     ]) %>

    <%= form_tag context_url(@context, :context_update_nav_url), {:id => "nav_form", :title => t('titles.edit_navigation', "Edit Course Navigation") } do %>
      <input type="hidden" name="tabs_json" id="tabs_json" value="[]" />
      <% tabs = sortable_tabs %>
      <p style="margin-bottom: 4px; padding-top: 10px">
        <%= t('help.edit_navigation', %{Drag and drop items to reorder them in the course navigation.}) %>
      </p>
      <% tabs.each do |tab|
        tab[:disabled_message] = [Course::TAB_GRADES, Course::TAB_PEOPLE, Course::TAB_DISCUSSIONS].include?(tab[:id]) ? t('tab_cant_disable', "This page can't be disabled, only hidden") : t('tab_disabled', "Page disabled, will redirect to course home page")
        tab[:disabled_message] = t("tab_hidden_if_disabled", "Page disabled, won't appear in navigation") if tab[:external]
      end %>
      <ul id="nav_enabled_list" aria-label="Enabled Links" class="nav_list connectedSortable">
        <% tabs.select {|t| !t[:hidden] }.each do |tab|  %>
          <li aria-label="<%= tab[:label] %>" class="navitem <%= 'enabled' if tab[:id] != Course::TAB_HOME %> <%= tab[:label].downcase %>" id="nav_edit_tab_id_<%= tab[:id] %>" tabindex="0"><%= tab[:label] %><span class="disabled_message"><%= tab[:disabled_message] %></span></li>
        <% end %>
      </ul>

      <ul id="nav_disabled_list" aria-label="Disabled Links" class="nav_list connectedSortable">
        <li class="disabled">
          <%= t('drag_to_hide', %{Drag items here to hide them from students.}) %>
          <div style="font-size: 0.8em;">
            <%= t('drag_details', %{Disabling most pages will cause students who visit those pages to be redirected to the course home page.}) %>
          </div>
        </li>
        <% tabs.select {|t| t[:hidden] }.each do |tab|  %>
          <li aria-label="<%= tab[:label] %>" class="navitem enabled" id="nav_edit_tab_id_<%= tab[:id] %>" tabindex="0"><%= tab[:label] %><span class="disabled_message"><%= tab[:disabled_message] %></span></li>
        <% end %>
      </ul>

      <p>
        <button type="submit" class="btn btn-primary"><%= t('#buttons.save', %{Save}) %></button>
      </p>
    <% end %>
  </div>

  <% end %>

  <% if can_do @context, @current_user, :update %>
    <div id="tab-tools">
      <%= render :partial => 'external_tools/external_tools', :object => @context.context_external_tools.active %>
    </div>
  <% end %>

  <% if publishing_enabled %>
    <div id="tab-grade-publishing">
      <h2><%= t('headings.grade_publishing', %{Grade Publishing}) %></h2>
      <%= form_tag context_url(@context, :context_publish_to_sis_url), { :id => "publish_to_sis_form", :style => "display: none;" } do %><% end %>
      <a href="#" id="publish_grades_link" class="btn disabled">...</a>
      <ul id="publish_grades_messages"></ul>
    </div>
  <% end %>

  <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
    <div id="tab-alerts">
      <h2><%= t(:alerts_title, "Alerts") %></h2>
      <%= render :partial => 'alerts/alerts' %>
    </div>
  <% end %>

  <% if can_do @context, @current_user, :manage_feature_flags %>
    <div id="tab-features"></div>
  <% end %>
</div><!-- end course details tab -->

<% if Account.site_admin.grants_right?(@current_user, nil, :manage_courses) %>
  <div id="move_course_dialog" style="display: none;">
    <h2><%= t('headings.move_course', %{Move the course to another root account}) %></h2>
    <%= t('deatils.move_course', %{Select a new root account for this course.  After you move the course you'll want to specify a new department for the course as well.}) %>
    <%= form_for :course, :url => course_url(@context), :html => {:method => :put} do |f| %>
      <table class="formtable">
        <tr>
          <td>
            <%= f.blabel :root_account_id, :en => "Root Account" %>
          </td>
          <td>
            <%= f.select :root_account_id, Account.root_accounts.active.sort_by(&:name).map{|a| [a.name, a.id] }, :selected => @context.root_account_id %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
              <button type="submit" class="btn btn-primary"><%= t('buttons.move_course', %{Move Course}) %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
<script>
  var sisPublishEnabled = <%= publishing_enabled %>;
</script>
<div id="edit_letter_grades_form" style="display: none;" data-context_code="<%= @context.asset_string %>">
  <%= render :partial => "shared/grading_standard", :object => @context.grading_standard %>
  <a href="<%= context_url(@context, :context_grading_standards_url) %>" style="display: none;" class="create_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_grading_standard_url, "{{ id }}") %>" style="display: none;" id="update_grading_standard_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_url) %>" style="display: none;" id="update_course_url">&nbsp;</a>
</div>
