<% content_for :page_title, @context.name %>
<% if @context.feature_enabled?(:draft_state) %>
  <% jammit_css :course_show %>
<% end %>
<% @active_tab ||= "home" %>
<h1 class='screenreader-only'><%= @context.name %></h1>
<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_course_format_path(@context_enrollment.feed_code, :atom), {:title => "Course Atom Feed"}) %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_course_format_path(@context.feed_code, :atom), {:title => "Course Atom Feed"}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <div id="course_show_secondary">
    <% @can_manage_content = can_do(@context, @current_user, :manage_content) %>
    <% if @context.feature_enabled?(:draft_state) %>

      <% if @can_manage_content || @course_home_view != 'feed' %>
        <div class="course-options">
          <% if @can_manage_content %>
            <a class="button-sidebar-wide element_toggler" aria-controls="edit_course_home_content_form" href="<%= context_url(@context, :context_details_url) %>">
              <i class="icon-target"></i>
              <%= t('links.choose_home_page', %{Choose Home Page}) %>
            </a>
          <% end %>

          <% if @course_home_view != 'feed' %>
            <a class="button-sidebar-wide" href="<%= context_url(@context, :context_url, :view => 'feed') %>">
              <i class="icon-stats"></i>
              <%= t('links.view_course_stream', %{View Course Stream}) %>
            </a>
          <% end %>

          <% if @can_manage_content %>
            <a href="#" class="button-sidebar-wide wizard_popup_link  <%= 'auto_open' if @context.created? || @context.claimed? %>">
              <i class="icon-question"></i> <%= t('links.course_setup', %{Course Setup Checklist}) %>
            </a>

            <a class="button-sidebar-wide" href="<%= context_url(@context, :new_context_discussion_topic_url, :is_announcement => true) %>"><i class="icon-announcement"></i> <%= t('links.new_announcement', %{New Announcement}) %>
            </a>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <% if @can_manage_content %>
        <div class="secondary-button-group rs-margin-lr rs-margin-top rs-margin-bottom">
          <a href="#" class="btn button-sidebar-wide wizard_popup_link  <%= 'auto_open' if @context.created? || @context.claimed? %>"><i class="icon-question"></i> <%= t('links.course_setup', %{Course Setup Checklist}) %></a>
          <a class="btn button-sidebar-wide" href="<%= context_url(@context, :new_context_discussion_topic_url, :is_announcement => true) %>"><i class="icon-announcement"></i> <%= t('links.new_announcement', %{New Announcement}) %></a>
        </div>
      <% end %>
    <% end %>

    <% if @context.available? && @context.self_enrollment && @context.open_enrollment && (!@context_enrollment || !@context_enrollment.active?) && !session["role_course_#{@context.id}"] %>
      <div class="rs-margin-lr rs-margin-top">
        <a href="<%= enroll_url(@context.self_enrollment_code) %>" title="<%= t('links.join_course', %{Join this Course}) %>" class="btn button-sidebar-wide self_enrollment_link" data-open-as-dialog><i class="icon-user-add"></i>  <%= t('links.join_course', %{Join this Course}) %></a>
      </div>
    <% elsif @context_enrollment && @context_enrollment.self_enrolled && @context_enrollment.active? && (!session["role_course_#{@context.id}"]) %>
      <div class="rs-margin-lr rs-margin-top">
        <a href="#" class="btn button-sidebar-wide self_unenrollment_link"><i class="icon-end"></i> <%= t('links.drop_course', %{Drop this Course}) %></a>
      </div>
      <div id="self_unenrollment_dialog" style="display: none;">
        <h2><i class="icon-warning"></i> <%= t('headings.confirm_unenroll', %{Confirm Unenrollment}) %></h2>
        <%= t('details.confirm_unenroll', %{Are you sure you want to unenroll in this course?  You will no longer be able to see the course roster or communicate directly with the teachers, and you will no longer see course events in your stream and as notifications.}) %>
        <div class="button-container">
          <a href="<%= course_self_unenrollment_path(@context, @context_enrollment.uuid) %>" class="btn btn-primary action"><i class="icon-end"></i> <span><%= t('links.drop_course', %{Drop this Course}) %></span></a>
          <a href="#" class="btn dialog_closer"><%= t('#buttons.cancel', %{Cancel}) %></a>
        </div>
      </div>
    <% elsif temp_type = session["role_course_#{@context.id}"] %>
      <div class="rs-margin-lr rs-margin-top">
        <%= image_tag "warning.png" %> <%= t 'acting_as', %{You are currently viewing this course with the role: %{enrollment_type}.  You will only have permissions and access available to users of this role.}, :enrollment_type => content_tag('strong', Enrollment.readable_type(temp_type)) %>
        <a class="btn button-sidebar-wide"><i class="icon-user"></i> <%= t('links.restore_role', %{Restore Role and Permissions}) %></a>
      </div>
    <% end %>
    <%= render :partial => 'assignments_needing_grading', :locals => {:contexts => [@context]} %>
    <%= render :partial => "group_list", :object => @user_groups %>
    <%= nbsp unless @current_user %>
  </div>
  <% if @course_home_view == 'wiki' %>
    <% unless @context.feature_enabled?(:draft_state) %>
      <% js_bundle :wiki %>
      <%= render :partial => "wiki_pages/wiki_right_side", :locals => {:course_home => true} %>
    <% end %>
  <% elsif @course_home_view == 'assignments' %>
    <%= render :partial => 'assignments/assignments_list_right_side', :locals => {:course_home => true} %>
  <% elsif @course_home_view == 'syllabus' %>
    <%= render :partial => 'assignments/syllabus_right_side', :locals => {:course_home => true} %>
  <% else %>
    <% locals = {:title => "Coming Up", :display_count => 3, :period => "the next week", :contexts_to_link_to => @context, :upcoming => true} %>
    <% if @current_user %>
      <% cache(safe_cache_key([@current_user, @contexts, 'course_upcoming_events' ])) do %>
        <%= render :partial => "shared/event_list", :object => @current_user.upcoming_events(:contexts => @contexts), :locals => locals %>
      <% end %>
    <% else %>
      <%= render :partial => "shared/event_list", :object => [], :locals => locals %>
    <% end %>
  <% end %>
  <% if @show_recent_feedback %>
    <%= render :partial => "shared/event_list", :object => @recent_feedback, :locals => {:title => t('titles.recent_feedback', "Recent Feedback"), :display_count => 3, :period => t('period_name', "the last 2 weeks"), :contexts_to_link_to => @context, :is_recent_feedback => true} %>
  <% end %>
<% end %>

<%
  jammit_css :dashboard
  case @course_home_view
  when 'wiki'
    jammit_css :tinymce
  when 'modules'
    js_bundle :context_modules
  when 'assignments'
    js_bundle :assignments
  when 'syllabus'
    js_bundle :syllabus
    jammit_css :tinymce
  else
    js_bundle :dashboard
  end
%>

<% js_bundle 'legacy/courses_show' %>
<% if @context.created? || @context.claimed? %>
  <div class="reminder" style='text-align:center;'>
  <h2><%= t('headings.unpublished', %{This Course is Unpublished}) %></h2>
  <div class="body"><%= t 'teachers_only', "Only teachers can see this course until it is *published*", :wrapper => (can_do(@context, @current_user, :update) ? '<a href="#" class="publish_course_in_wizard_link"><b>\1</b></a>' : '\1') %>
  </div>
  </div>
<% end %>
<% if @context.has_open_course_imports? %>
  <div class="reminder" style="text-align: center;">
    <h2><%= t('headings.importing', 'This course is being imported') %></h2>
    <div class="body">
      <p><%= t 'importing', 'Course copy/migration in progress. This means some content may be temporarily unavailable.' %></p>
    </div>
  </div>
<% end %>
<% if @pending_enrollment %>
  <%= render :partial => 'shared/dashboard_invitation', :object => @pending_enrollment %>
<% end %>

<% if @context.feature_enabled?(:draft_state) %>
  <% content_for :right_side do %>
    <div id="edit_course_home_content" style="display: none;">
      <h2><%= t('draft_state.headings.set_layout', %{Set Home Page Layout}) %></h2>
      <%= form_for :course, :url => context_url(@context, :context_url), :html => {:tabindex=>"0", :'data-turn-into-dialog'=>'{"height": 300, "width":500,"modal":true}', :title=>t('headings.choose_home_page_title', %{Choose Home Page}), :style => "display:none", :id => "edit_course_home_content_form", :method => :put} do |f| %>
        <label for="edit_course_home_content_select"><%= t('draft_state.labels.select_content', %{Select what you'd like to display on the homepage.}) %></label>
        <br>
        <select name="course[default_view]" id="edit_course_home_content_select">
          <option value="feed" <%= 'selected' if @context.default_view == 'feed' %>><%= t('draft_state.options.recent_activity_dashboard', %{Recent Activity Dashboard}) %></option>
          <option value="wiki" <%= 'selected' if @context.default_view == 'wiki' %>><%= t('draft_state.options.custom_page', %{Pages Front Page}) %></option>
          <option value="modules" <%= 'selected' if @context.default_view == 'modules' %>><%= t('draft_state.options.modules', %{Course Modules}) %></option>
          <option value="assignments" <%= 'selected' if @context.default_view == 'assignments' %>><%= t('draft_state.options.assignments', %{Assignments List}) %></option>
          <option value="syllabus" <%= 'selected' if @context.default_view == 'syllabus' %>><%= t('draft_state.options.syllabus', %{Syllabus}) %></option>
        </select>
        <div class="button-container">
          <a type="button" class="btn button-secondary dialog_closer"><%= t('draft_state.buttons.cancel', %{Cancel}) %></a>
          <button type="submit" class="btn btn-primary"><%= t('draft_state.buttons.update_layout', %{Save}) %></button>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div id="edit_course_home_content" style="display: none;">
    <%= form_for :course, :url => context_url(@context, :context_url), :html => {:id => "edit_course_home_content_form", :method => :put} do |f| %>
      <h2><%= t('headings.set_layout', %{Set Home Page Layout}) %></h2>
      <p>
        <label for="edit_course_home_content_select"><strong><%= t('labels.select_content', %{When people visit the course page, show them}) %></strong></label>
        <select name="course[default_view]" id="edit_course_home_content_select">
          <option value="feed" <%= 'selected' if @context.default_view == 'feed' %>><%= t('options.recent_activity_dashboard', %{the Recent Activity Dashboard}) %></option>
          <option value="wiki" <%= 'selected' if @context.default_view == 'wiki' %>><%= t('options.custom_page', %{a Page I'll Design Myself}) %></option>
          <option value="modules" <%= 'selected' if @context.default_view == 'modules' %>><%= t('options.modules', %{the Course Modules/Sections}) %></option>
          <option value="assignments" <%= 'selected' if @context.default_view == 'assignments' %>><%= t('options.assignments', %{the Assignment List}) %></option>
          <option value="syllabus" <%= 'selected' if @context.default_view == 'syllabus' %>><%= t('options.syllabus', %{the Assignments with Syllabus}) %></option>
        </select>
      </p>
      <div class="select_details ui-state-highlight ui-corner-all" style="display: none; padding: 1em; font-size: 12px;">
        <div class="feed_details options_details">
          <%= mt 'details.recent_activity_dashboard', "The **recent activity dashboard** lets participants see the most recent conversations, announcements, discussions, and interactions for this course.  It's very similar to the dashboard page users see when they first log in, but only shows content for this specific course." %>
        </div>
        <div class="wiki_details options_details">
          <%= mt 'details.custom_page', "You can **design your own course home page** and include whatever links, images or rich media you like." %>
        </div>
        <div class="modules_details options_details">
          <%= mt 'details.modules', "You can organize your course into **modules or sections**, where each section contains a related set of files, assignments, pages, etc.  If you want, you can also sequence modules by defining criteria and prerequisites that need to be completed before each module is unlocked.

            -This layout is probably best for courses that aren't based on a specific schedule like a term or semester." %>
        </div>
        <div class="assignments_details options_details">
          <%= mt 'details.assignments', "This view shows the **list of assignments** for this course, with upcoming and recent assignments at the top." %>
        </div>
        <div class="syllabus_details options_details">
          <%= mt 'details.syllabus', "The **syllabus view** lets you write up a description of course expectations or introduce the course with links, images, etc. and then also shows a calendar view of all assignments and course events." %>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" class="btn"><%= t('buttons.update_layout', %{Update Layout}) %></button>
        <button type="button" class="btn button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>

<div id="course_home_content">
  <% unless @context.feature_enabled?(:draft_state) %>
    <div style="float: right; text-align: left;" class="floating_links clearfix">
      <% if can_do(@context, @current_user, :manage_content) || @course_home_view != 'feed' %>
        <div style="font-size: 0.9em;">
          <% if can_do(@context, @current_user, :manage_content) %>
            <a href="<%= context_url(@context, :context_details_url) %>" class="edit_course_home_content_link"><%= t('links.change_layout', %{Change Home Page Layout}) %></a>
          <% end %>
          <% if can_do(@context, @current_user, :manage_content) && @course_home_view != 'feed' %>
            | 
          <% end %>
          <% if @course_home_view != 'feed' %>
            <a href="<%= context_url(@context, :context_url, :view => 'feed') %>"><%= t('links.course_stream', %{See Course Stream}) %></a>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @course_home_view == 'wiki' %>
    <% if @context.feature_enabled?(:draft_state)
         js_bundle :wiki_page_show %>
      <div id="wiki_page_show"></div>
    <% else %>
      <%= render :partial => "wiki_pages/content", :locals => {:course_home => true } %>
    <% end %>
  <% elsif @course_home_view == 'modules' %>
    <% if @context.feature_enabled?(:draft_state) %>
      <%= render :partial => 'context_modules/content_next', :locals => {:course_home => true} %>
    <% else %>
      <%= render :partial => 'context_modules/content', :locals => {:course_home => true} %>
    <% end %>
  <% elsif @course_home_view == 'assignments' %>
    <% if @context.feature_enabled?(:draft_state) %>
      <%
        @body_classes << 'hide-content-while-scripts-not-loaded'
        @body_classes << 'with_item_groups'
        js_bundle :assignment_index
        jammit_css :new_assignments
      %>
    <% else %>
      <%= render :partial => 'assignments/assignments_list_content', :locals => {:course_home => true} %>
    <% end %>
  <% elsif @course_home_view == 'syllabus' %>
    <%= render :partial => 'assignments/syllabus_content', :locals => {:course_home => true} %>
  <% else %>
    <%= render :partial => 'shared/dashboard_messages' %>
    <%= render :partial => 'shared/recent_activity' %>
  <% end %>
</div>
<% if @context.public_license? %>
  <div class="public-license" style="margin-top: 20px;">
    <a href="<%= @context.license_url %>"><%= image_tag "cc/#{@context.license}.png", :style => "float: left; padding-right: 5px;" %></a>
    <span style="font-size: 0.8em; display: block; line-height: 1.5em;"><%= t 'license_notice', %{This course content is offered under a %{license_type} license.  Content in this course can be considered under this license unless otherwise noted.}, :license_type => content_tag('b', link_to(@context.readable_license, @context.license_url)) %></span>
    <div class="clear"></div>
  </div>
<% end %>
<%= render :partial => "course_wizard_box" %>

<% js_bundle :course %>
