<div class="ic-Action-header">
</div>

<%= form_tag url: course_conclude_user_enrollments_path(@context) do %>
  <div>
    <div id="group_categories_tabs" class="ui-tabs-minimal ui-tabs ui-widget ui-widget-content ui-corner-all">
      <div id="tab-0" class="roster-tab tab-panel ui-tabs-panel form-inline ui-widget-content ui-corner-bottom" style="min-height: 800px;" aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false">
        <%= submit_tag "Grade Out Users", class: 'btn btn-primary pull-right', id: 'grade-out-btn' %>

        <div class="v-gutter">
          <div data-view="users">
            <table class="roster ic-Table ic-Table--hover-row ic-Table--condensed ic-Table--striped">
              <thead>
                <tr>
                  <th>
                    <%= check_box_tag '#', nil, false, id: 'select-all-enrollments' %> Select All
                  </th>
                  <th scope="col"><span class="screenreader-only">Profile Picture</span></th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">SIS ID</th>
                  <th scope="col">Role</th>
                  <th scope="col">Enrollment State</th>
                  <th scope="col">Last Activity</th>
                </tr>
              </thead>
              <tbody class="user-enrollments">
                <% @context.student_enrollments.each do |enrollment| %>
                  <tr class="rosterUser al-hover-container TeacherEnrollment" id="user_1">
                    <td>
                      <%= check_box_tag 'enrollment_ids[]', enrollment.id, false, id: dom_id(enrollment) %>
                    </td>
                    <td class="center">
                        <a href="/courses/1/users/1" class="avatar" style="background-image: url(/images/messages/avatar-50.png)"><span class="screenreader-only">canvas-admin@example.com</span></a>
                    </td>
                    <td>
                      <%= enrollment.user.sortable_name %>
                    </td>
                    <td>
                        <%= link_to enrollment.user.email, course_user_path(@context, enrollment.user) %>
                    </td>
                    <td>
                      <%= enrollment.user&.primary_pseudonym&.sis_user_id %>
                    </td>
                    <td>
                        <div><%= enrollment_name(enrollment) %></div>
                    </td>
                    <td>
                      <%= enrollment.workflow_state&.titleize %>
                    </td>
                    <td>
                      <div data-tooltip="" data-html-tooltip-title="Feb 7 at 11:21am">
                        <%= I18n.l(enrollment.last_activity_at&.to_date, format: :date_at_time) if enrollment.last_activity_at.present? %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="paginatedLoadingIndicator" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :strongmind_javascript do %>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    var label = "Hold on! You’re about to grade out these selected students for this particular course section. Are you sure you want to do this?";
    $(window).on("load", function(event) {
      $('#select-all-enrollments').on("change", function(e2) {
        $(':checkbox').prop("checked", $(this).prop("checked"));
      });

      $('#grade-out-btn').click(function(e) {
        e.preventDefault();

        if ($(':checked').length) {
          var result = confirm(label);
          if (result) {
            $('form').trigger('submit');
          }
        }
      });
    });
  </script>
<% end %>
