<% content_for :page_title, @context.name %>
<% jammit_css :course_show %>
<% @active_tab ||= "home" %>
<h1 class='screenreader-only'><%= @context.name %></h1>
<% content_for :auto_discovery do %>
  <% if @context_enrollment %>
    <%= auto_discovery_link_tag(:atom, feeds_course_format_path(@context_enrollment.feed_code, :atom), {:title => "Course Atom Feed"}) %>
  <% elsif @context.available? %>
    <%= auto_discovery_link_tag(:atom, feeds_course_format_path(@context.feed_code, :atom), {:title => "Course Atom Feed"}) %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <div id="course_show_secondary">
    <% @can_manage_content = can_do(@context, @current_user, :manage_content) %>
    <% if @can_manage_content && can_do(@context, @current_user, :change_course_state) && @context.unpublishable? %>
      <div id="course_status" class="text-center">
        <h4>
          <%= t('headers.course_status', %{Course Status}) %>
        </h4>
        <div id='course_status_actions' class="ui-buttonset">
          <%= form_for @context do |f| %>
            <% if @context.created? || @context.claimed? %>
              <button type="button" class='ui-button btn-unpublish disabled'>
                <i class="icon-unpublish"></i>
                <%= t('#buttons.unpublished', %{Unpublished}) %>
              </button>
              <button type='submit' class="ui-button btn-publish">
                <i class="icon-unpublished"></i>
                <%= t('#buttons.publish', %{Publish}) %>
              </button>
              <input type='hidden' name='course[event]' value='offer' />
            <% else %>
              <button type='submit' class="ui-button">
                <i class="icon-unpublish"></i>
                <%= t('#buttons.unpublish', %{Unpublish}) %>
              </button>
              <button type="button" class="ui-button disabled btn-published">
                <i class="icon-publish"></i>
                <%= t('#buttons.published', %{Published}) %>
              </button>
              <input type='hidden' name='course[event]' value='claim' />
            <% end %>
          <% end %>
        </div>
      </div>

      <% if @can_manage_content || @course_home_view != 'feed' || @course_home_sub_navigation_tools.present? %>
        <div class="course-options">
          <% @course_home_sub_navigation_tools.each do |tool| %>
            <a class="button-sidebar-wide course-home-sub-navigation-lti"
               href="<%= course_external_tool_path(@context, tool, launch_type: 'course_home_sub_navigation') %>">
              <img class="icon" src="<%= tool.course_home_sub_navigation(:icon_url) %>" />
              <%= tool.label_for(:course_home_sub_navigation) %>
            </a>
          <% end %>
          <% if @can_manage_content %>
            <a class="button-sidebar-wide element_toggler" aria-controls="edit_course_home_content_form" href="<%= context_url(@context, :context_details_url) %>">
              <i class="icon-target"></i>
              <%= t('links.choose_home_page', %{Choose Home Page}) %>
            </a>
          <% end %>

          <% if @course_home_view != 'feed' %>
            <a class="button-sidebar-wide" href="<%= context_url(@context, :context_url, :view => 'feed') %>">
              <i class="icon-stats"></i>
              <%= t('links.view_course_stream', %{View Course Stream}) %>
            </a>
          <% end %>

          <% if @can_manage_content %>
            <a href="#" class="button-sidebar-wide wizard_popup_link  <%= 'auto_open' if @context.created? || @context.claimed? %>">
              <i class="icon-question"></i> <%= t('links.course_setup', %{Course Setup Checklist}) %>
            </a>

            <a class="button-sidebar-wide" href="<%= context_url(@context, :new_context_discussion_topic_url, :is_announcement => true) %>"><i class="icon-announcement"></i> <%= t('links.new_announcement', %{New Announcement}) %>
            </a>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <% if @can_manage_content || @course_home_sub_navigation_tools.present? %>
        <div class="secondary-button-group rs-margin-lr rs-margin-top rs-margin-bottom">
        <% @course_home_sub_navigation_tools.each do |tool| %>
          <a class="btn button-sidebar-wide course-home-sub-navigation-lti"
             href="<%= course_external_tool_path(@context, tool, launch_type: 'course_home_sub_navigation') %>">
            <img class="icon" src="<%= tool.course_home_sub_navigation(:icon_url) %>" />
            <%= tool.label_for(:course_home_sub_navigation) %>
          </a>
        <% end %>
        <% if @can_manage_content %>
            <a href="#" class="btn button-sidebar-wide wizard_popup_link  <%= 'auto_open' if @context.created? || @context.claimed? %>"><i class="icon-question"></i> <%= t('links.course_setup', %{Course Setup Checklist}) %></a>
            <a class="btn button-sidebar-wide" href="<%= context_url(@context, :new_context_discussion_topic_url, :is_announcement => true) %>"><i class="icon-announcement"></i> <%= t('links.new_announcement', %{New Announcement}) %></a>
        <% end %>
        </div>
      <% end %>
    <% end %>

    <% if @context.available? && @context.self_enrollment_enabled? && @context.open_enrollment && (!@context_enrollment || !@context_enrollment.active?) %>
      <div class="rs-margin-lr rs-margin-top">
        <a href="<%= enroll_url(@context.self_enrollment_code) %>" title="<%= t('links.join_course', %{Join this Course}) %>" class="btn button-sidebar-wide self_enrollment_link" data-open-as-dialog><i class="icon-user-add"></i>  <%= t('links.join_course', %{Join this Course}) %></a>
      </div>
    <% elsif @context_enrollment && @context_enrollment.self_enrolled && @context_enrollment.active? %>
      <div class="rs-margin-lr rs-margin-top">
        <a href="#" class="btn button-sidebar-wide self_unenrollment_link"><i class="icon-end"></i> <%= t('links.drop_course', %{Drop this Course}) %></a>
      </div>
      <div id="self_unenrollment_dialog" style="display: none;">
        <h2><i class="icon-warning"></i> <%= t('headings.confirm_unenroll', %{Confirm Unenrollment}) %></h2>
        <%= t('details.confirm_unenroll', %{Are you sure you want to unenroll in this course?  You will no longer be able to see the course roster or communicate directly with the teachers, and you will no longer see course events in your stream and as notifications.}) %>
        <div class="button-container">
          <a href="<%= course_self_unenrollment_path(@context, @context_enrollment.uuid) %>" class="btn btn-primary action"><i class="icon-end"></i> <span><%= t('links.drop_course', %{Drop this Course}) %></span></a>
          <a href="#" class="btn dialog_closer"><%= t('#buttons.cancel', %{Cancel}) %></a>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'assignments_needing_grading', :locals => {:contexts => [@context]} %>
    <%= render :partial => "group_list", :object => @user_groups %>
    <%= nbsp unless @current_user %>
  </div>
  <% if @course_home_view == 'assignments' %>
    <%= render :partial => 'assignments/assignments_list_right_side', :locals => {:course_home => true} %>
  <% elsif @course_home_view == 'syllabus' %>
    <%= render :partial => 'assignments/syllabus_right_side', :locals => {:course_home => true} %>
  <% elsif @course_home_view != 'wiki' %>
    <% locals = {:title => "Coming Up", :display_count => 3, :period => "the next week", :contexts_to_link_to => @context, :upcoming => true} %>
    <% if @current_user %>
      <% cache(safe_cache_key([@current_user, @contexts, 'course_upcoming_events' ])) do %>
        <%= render :partial => "shared/event_list", :object => @current_user.upcoming_events(:contexts => @contexts), :locals => locals %>
      <% end %>
    <% else %>
      <%= render :partial => "shared/event_list", :object => [], :locals => locals %>
    <% end %>
  <% end %>
  <% if @show_recent_feedback %>
    <%= render :partial => "shared/event_list", :object => @recent_feedback, :locals => {:title => t('titles.recent_feedback', "Recent Feedback"), :display_count => 3, :period => t('period_name', "the last 2 weeks"), :contexts_to_link_to => @context, :is_recent_feedback => true} %>
  <% end %>
<% end %>

<%
  jammit_css :dashboard
  case @course_home_view
  when 'wiki'
    jammit_css :tinymce
  when 'modules'
    js_bundle :context_modules
  when 'assignments'
    js_bundle :assignments
  when 'syllabus'
    js_bundle :syllabus
    jammit_css :tinymce
  else
    js_bundle :dashboard
  end
%>

<% js_bundle 'legacy/courses_show' %>
<% if @context.created? || @context.claimed? %>
  <div class="reminder" style='text-align:center;'>
  <h2><%= t('headings.unpublished', %{This Course is Unpublished}) %></h2>
  <div class="body"><%= t 'teachers_only', "Only teachers can see this course until it is *published*", :wrapper => (can_do(@context, @current_user, :update) ? '<a href="#" class="publish_course_in_wizard_link"><b>\1</b></a>' : '\1') %>
  </div>
  </div>
<% end %>
<% if @context.has_open_course_imports? %>
  <div class="reminder" style="text-align: center;">
    <h2><%= t('headings.importing', 'This course is being imported') %></h2>
    <div class="body">
      <p><%= t 'importing', 'Course copy/migration in progress. This means some content may be temporarily unavailable.' %></p>
    </div>
  </div>
<% end %>
<% if @pending_enrollment %>
  <%= render :partial => 'shared/dashboard_invitation', :object => @pending_enrollment %>
<% end %>

<% has_front_page = @context.wiki && @context.wiki.front_page %>
<% content_for :right_side do %>
  <div id="edit_course_home_content" style="display: none;">
    <h2><%= t('draft_state.headings.set_layout', %{Set Home Page Layout}) %></h2>
    <%= form_for :course, :url => context_url(@context, :context_url), :html => {:tabindex=>"0", :'data-turn-into-dialog'=>'{"height": 300, "width":500,"modal":true}', :title=>t('headings.choose_home_page_title', %{Choose Home Page}), :style => "display:none", :id => "edit_course_home_content_form", :method => :put} do |f| %>
      <label for="edit_course_home_content_select"><%= t('draft_state.labels.select_content', %{Select what you'd like to display on the home page.}) %></label>

      <div class="form_group"><label class="radio"><input type="radio" name="course[default_view]" value="feed" <%= 'checked' if @context.default_view == 'feed' || (!has_front_page && @context.default_view == 'wiki') %>><%= t('draft_state.options.course_activity_stream', %{Course Activity Stream}) %></label></div>
      <div class="form_group">
        <label class="radio"><input type="radio" name="course[default_view]" value="wiki" <%= 'checked' if has_front_page && @context.default_view == 'wiki' %><%= 'disabled' unless has_front_page %>>
          <span class="<%= 'ui-state-disabled' unless has_front_page %>"><%= t('draft_state.options.custom_page', %{Pages Front Page}) %></span></label>
        <% if has_front_page %>
          <small>&emsp;<%= @context.wiki.front_page.title %>&emsp;[ <%= link_to t('change_home_page', 'Change'), polymorphic_url([@context, :wiki_pages]) %> ]</small>
        <% else %>
          <small>&emsp;[ <%= link_to t('front_page_not_set', 'Front page must be set first'), polymorphic_url([@context, :wiki_pages]) %> ]</small>
        <% end %>
      </div>
      <div class="form_group"><label class="radio"><input type="radio" name="course[default_view]" value="modules" <%= 'checked' if @context.default_view == 'modules' %>><%= t('draft_state.options.modules', %{Course Modules}) %></label></div>
      <div class="form_group"><label class="radio"><input type="radio" name="course[default_view]" value="assignments" <%= 'checked' if @context.default_view == 'assignments' %>><%= t('draft_state.options.assignments', %{Assignments List}) %></label></div>
      <div class="form_group"><label class="radio"><input type="radio" name="course[default_view]" value="syllabus" <%= 'checked' if @context.default_view == 'syllabus' %>><%= t('draft_state.options.syllabus', %{Syllabus}) %></label></div>

      <div class="button-container">
        <a type="button" class="btn button-secondary dialog_closer"><%= t('draft_state.buttons.cancel', %{Cancel}) %></a>
        <button type="submit" class="btn btn-primary"><%= t('draft_state.buttons.update_layout', %{Save}) %></button>
      </div>
    <% end %>
  </div>
<% end %>

<div id="course_home_content">
  <% if @course_home_view == 'wiki' %>
    <% js_bundle :wiki_page_show %>
    <div id="wiki_page_show"></div>
  <% elsif @course_home_view == 'modules' %>
    <%= render :partial => 'context_modules/content_next', :locals => {:course_home => true} %>
  <% elsif @course_home_view == 'assignments' %>
    <%
      @body_classes << 'hide-content-while-scripts-not-loaded'
      @body_classes << 'with_item_groups'
      js_bundle :assignment_index
      jammit_css :new_assignments
    %>
  <% elsif @course_home_view == 'syllabus' %>
    <%= render :partial => 'assignments/syllabus_content', :locals => {:course_home => true} %>
  <% else %>
    <%= render :partial => 'shared/dashboard_messages' %>
    <%= render :partial => 'shared/recent_activity' %>
  <% end %>
</div>
<% if @context.public_license? %>
  <div class="public-license" style="margin-top: 20px;">

    <a href="<%= @context.license_url %>"><%= image_tag "cc/#{@context.license}.png", :style => "float: left; padding-right: 5px;", :alt => @context.readable_license   %></a>
    <span style="font-size: 0.8em; display: block; line-height: 1.5em;"><%= t 'license_notice', %{This course content is offered under a %{license_type} license.  Content in this course can be considered under this license unless otherwise noted.}, :license_type => content_tag('b', link_to(@context.readable_license, @context.license_url)) %></span>
    <div class="clear"></div>
  </div>
<% end %>
<%= render :partial => "course_wizard_box" %>

<% js_bundle :course %>
