<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  set_active_tab 'settings'
  css_bundle :statistics
  add_crumb t('#crumbs.stats', "Statistics")
 %>

<% provide :page_title, join_title(t(:page_title, "Course Statistics"), @context.name) %>
<div style="padding: 0 20px;" id="stats">
  <h1><%= t 'Statistics for %{course}', :course => @context.name %></h1>

  <% active_students = @context.participating_students.where("enrollments.type<>'StudentViewEnrollment'").distinct.count %>
  <% inactive_students = @context.student_enrollments.invited_by_date.distinct.count(:user_id) %>

  <% active_topics =  @context.discussion_topics.active.pluck(:id) %>
  <% total_topics = active_topics.length %>
  <%
    active_assignments = @context.assignments.active
    assignment_counts_by_type = active_assignments.group(:submission_types).except(:order).count
    assignment_counts = assignment_counts_by_type.inject(Hash.new(0)) do |counts, (types, count)|
      split_types = (types || '').split(',')
      if split_types.length == 1
        counts[types] += count
      else
        split_types.each { |type| counts[type] += count }
      end
      counts
    end
  %>
  <% total_entries = DiscussionEntry.active.where(:discussion_topic_id => active_topics).count %>
  <% total_assignments = active_assignments.select(&:expects_submission?).length %>
  <% submission_counts = @context.submissions.having_submission.group(:submission_type).except(:order).count %>
  <% total_submissions = submission_counts.values.sum %>

  <%
    rubric_associations = @context.rubric_associations.bookmarked.distinct.pluck(:rubric_id)
  %>
  <div id="reports-tabs" style="display:none;">
    <ul>
      <li><a href="#tab-totals"><%= t('Totals') %></a></li>
      <li><a href="#tab-assignments"><%= t('Assignments') %></a></li>
      <li><a href="#tab-students" id="students_stats_tab"><%= t('Students') %></a></li>
      <li><a href="#tab-files"><%= t('File Storage') %></a></li>
    </ul>
    <div class="stats" id="tab-totals">
      <h2><%= t('Running Totals') %></h2>
      <table>
        <tr>
          <td><%= t('Discussions') %></td>
          <td><%= total_topics %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('Discussion Posts') %></td>
          <td class="indent"><%= total_entries %></td>
        </tr>

        <tr>
          <td><%= t('Assignments') %></td>
          <td><%= assignment_counts_by_type.values.sum %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('Assignment Groups') %></td>
          <td class="indent"><%= @context.assignment_groups.active.count %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('Course Rubrics') %></td>
          <td class="indent"><%= rubric_associations.count %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('All Rubrics') %></td>
          <td class="indent"><%= @context.rubrics.active.count %></td>
        </tr>

        <tr>
          <td><%= t('Active Students') %></td>
          <td><%= active_students %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('Unaccepted Students') %></td>
          <td class="indent"><%= inactive_students %></td>
        </tr>

        <tr>
          <td><%= t('Quizzes') %></td>
          <td class="quiz_count"><%= @context.quizzes.active.count %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('Quiz Questions') %></td>
          <td class="indent quiz_question_count"><%= @context.quizzes.active.map{|q| (q.quiz_data || []).length}.sum %></td>
        </tr>

        <tr>
          <td class="indent"><%= t('Quiz Submissions') %></td>
          <td class="indent quiz_submission_count"><%= Quizzes::QuizSubmission.where(quiz_id: @context.quizzes.active).count %></td>
        </tr>
      </table>
    </div>
    <div class="stats" id="tab-assignments">
      <h2><%= t('Assignments Usage Report') %></h2>
      <table>
        <thead>
          <tr>
            <th><%= t('Submission Type') %></th>
            <th><%= t('# Assignments') %></th>
            <th><%= t('# Submissions') %></th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <th><%= t('All Assignments') %></th>
            <th><%= total_assignments %></th>
            <th><%= total_submissions %></th>
          </tr>
        </tfoot>

        <tbody>
          <tr>
            <td><%= t('File Upload') %></td>
            <td><%= assignment_counts.fetch('online_upload', 0) %></td>
            <td><%= submission_counts.fetch('online_upload', 0) %></td>
          </tr>

          <tr>
            <td><%= t('Text Entry') %></td>
            <td><%= assignment_counts.fetch('online_text_entry', 0) %></td>
            <td><%= submission_counts.fetch('online_text_entry', 0) %></td>
          </tr>

          <tr>
            <td><%= t('Website URL') %></td>
            <td><%= assignment_counts.fetch('online_url', 0) %></td>
            <td><%= submission_counts.fetch('online_url', 0) %></td>
          </tr>

          <tr>
            <td><%= t('Quiz') %></td>
            <td><%= assignment_counts.fetch('online_quiz', 0) %></td>
            <td><%= submission_counts.fetch('online_quiz', 0) %></td>
          </tr>

          <tr>
            <td><%= t('Discussion Topic') %></td>
            <td><%= assignment_counts.fetch('discussion_topic', 0) %></td>
            <td><%= submission_counts.fetch('discussion_topic', 0) %></td>
          </tr>

          <tr>
            <td><%= t('Student Annotation') %></td>
            <td id="student-annotation-assignment-count"><%= assignment_counts.fetch('student_annotation', 0) %></td>
            <td id="student-annotation-submission-count"><%= submission_counts.fetch('student_annotation', 0) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="tab-students">
      <h2><%= t('headings.students', %{Recently Logged-In Users}) %></h2>
      <ul class="item_list"></ul>
    </div>

    <div class="stats" id="tab-files">
      <h2><%= t('File Storage') %></h2>
      <table>
        <tr>
          <td><%= before_label('allotted_storage', 'Allotted Storage') %></td>
          <td style="padding-<%= direction('left') %>: 10px; text-align: <%= direction('right') %>;"><%= number_to_human_size(@context.quota) %></td>
          <td></td>
        </tr>

        <tr>
          <td><%= before_label('uploaded_files', 'Uploaded Files') %></td>
          <td style="padding-<%= direction('left') %>: 10px; text-align: <%= direction('right') %>;"><%= number_to_human_size(@files_size) %></td>
          <td style="padding-<%= direction('left') %>: 10px; text-align: <%= direction('right') %>;"><%= t 'file_count', 'file', :count => @file_count %></td>
        </tr>

        <% if @media_file_count && @media_file_count > 0 %>
        <tr>
          <td><%= before_label('media_files', 'Media Files') %></td>
          <td style="padding-<%= direction('left') %>: 10px; text-align: <%= direction('right') %>;"><%= number_to_human_size(@media_files_size) %></td>
          <td style="padding-<%= direction('left') %>: 10px; text-align: <%= direction('right') %>;"><%= t 'file_count', 'file', :count => @media_file_count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% js_bundle :course_statistics %>
