<% content_for :page_title, t('titles.transfer_invitation', 'Invitation to %{course}', :course => @context.name) %>

<div style="margin: 10px auto; width: 600px;">
  <h2><%= t('headings.transfer_invitation', %{Accept Enrollment Invitation}) %></h2>
  <%= t 'details', %{The enrollment invitation you're accepting was extended to the user %{user1} (id: %{id1}, %{email1}), but you're currently logged in as %{user2} (id: %{id2}, %{email2}).}, :user1 => @pending_enrollment.user.name, :id1 => @pending_enrollment.user_id, :email1 => @pending_enrollment.user.email, :user2 => @current_user.name, :id2 => @current_user.id, :email2 => @current_user.email %>
  <%= before_label('you_can', %{You can}) %>
  <ul class="claim_list">
    <% if @pending_enrollment.user.pseudonyms.all?{|p| p.never_logged_in? } && @pending_enrollment.user.communication_channel %>
      <li>
        <%= link_to t('links.combine', "Those are both me.  Combine them into one account."), communication_channel_merge_path(@pending_enrollment.user.communication_channel, @pending_enrollment.user.communication_channel.confirmation_code, 'communication_channel[event]' => 'merge_users'), :method => :post %>
      </li>
    <% end %>
    <li>
      <%= link_to t('links.enroll_now', "Enroll as %{user} (id: %{id}, %{email})", :user => @current_user.name, :id => @current_user.id, :email => @current_user.email), course_enrollment_invitation_path(@context, :accept => 1, :transfer_enrollment => 1), :method => :post %>
    </li>
    <li>
      <%= link_to t('links.logout', "Logout so I can log in as %{user} (id: %{id}, %{email})", :user => @pending_enrollment.user.name, :id => @pending_enrollment.user_id, :email => @pending_enrollment.user.email), logout_path, :method => :delete, :class => "logout" %>
    </li>
  </ul>
</div>
