<div id="group_<%= outcome_group ? outcome_group.id : "blank" %>" class="outcome_group outcome_item" style="<%= hidden unless outcome_group %>">
    <div class="header">
      <% unless outcome_group && outcome_group.learning_outcome_group_id == nil %>
        <a href="#" class="reorder_link no-hover"><%= image_tag "move.png" %></a>
        <div class="title">
          <%= outcome_group.try_rescue(:title) %>
        </div>
        <div class="links">
          <% if !outcome_group || can_do(outcome_group, @current_user, :delete) || can_do(@context, @current_user, :manage_outcomes) %>
            <a href="<%= context_url(@context, :context_outcome_group_url, outcome_group ? outcome_group.id : "{{ id }}") %>" class="add_outcome_link no-hover"><%= image_tag "add.png" %></a>
            <a href="<%= context_url(@context, :context_outcome_group_url, outcome_group ? outcome_group.id : "{{ id }}") %>" class="edit_group_link no-hover"><%= image_tag "edit.png" %></a>
            <a href="<%= context_url(@context, :context_outcome_group_url, outcome_group ? outcome_group.id : "{{ id }}") %>" class="delete_group_link no-hover"><%= image_tag "delete.png" %></a>
          <% end %>
        </div>
        <div class="clear"></div>
        <div class="description">
          <%= raw(truncate_html(outcome_group.try_rescue(:description))) %>
        </div>
        <textarea style="display: none;" class="description"><%= outcome_group.try_rescue(:description) %></textarea>
      <% end %>
      <div style="display: none;">
        <div class="asset_string"><%= outcome_group.try_rescue(:asset_string) %></div>
        <div class="id"><%= outcome_group && outcome_group.id %></div>
      </div>
    </div>
    <div style="display: block; height: 10px;"></div>
    <div class="child_outcomes">
      <% if outcome_group %>
          <% outcome_group.sorted_content.each do |item| %>
            <% if item.is_a?(LearningOutcome) %>
              <%= render :partial => "outcome", :object => item %>
            <% elsif item.is_a?(LearningOutcomeGroup) %>
              <%= render :partial => "outcome_group", :object => item %>
            <% end %>
          <% end %>
      <% end %>
    </div>
</div>
