<% form_for :learning_outcome, :url => context_url(@context, :context_outcomes_url), :html => {:id => "edit_outcome_form", :class => "learning_outcome", :style => "display: none;"} do |f| %>
  <div class="header">
    <div class="short_description">
    <%= before_label :short_description, "Short description" %>
    <%= f.text_field :short_description, :class => "outcome_short_description" %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="body">
    <%= before_label :longer_description, "Longer description" %>
    <div>
      <div style="text-align: right; margin-right: 10%;">
        <a href="#" class="switch_views_link"><%= t 'links.switch_views', 'Switch views' %></a>
      </div>
      <%= f.text_area :description, :style => "width: 100%; height: 150px;" %>
    </div>
    <input type="hidden" name="learning_outcome[rubric_criterion][enable]" value=""/>
    <div style="display: none;">
      <input type="checkbox" id="outcome_include_rubric_example" name="learning_outcome[rubric_criterion][enable]" value="1"/>
      <label for="outcome_include_rubric_example"> <%= t(:criterion_definition, "Define a criterion for use in rubrics") %></label>
    </div>
    <div id="outcome_criterion_dialog" style="display: none;">
      <%= t(:criterion_dialog, 
      "Learning outcomes can be included in assignment rubrics as an easy way
      to assess mastery of outcomes aligned to specific assignments.  When you define
      a learning outcome, you should also define a criterion that can be used
      when building assignment rubrics.  Define as many rubric columns as you
      need, and specify a point threshold that will be used to define mastery
      of this outcome.") %>
    </div>
    <table class="rubric_criterion">
      <tr class="criterion_title">
        <td>
          <%= before_label :criterion_ratings, "Criterion ratings" %> <a class="information" href="#" id="outcome_information_link"><%= t :whats_this, "What's this?" %></a>
          <div style="margin-top: 3px;">
            <a href="#" class="add_rating_link no-hover add-small" style="font-size: 0.8em;"><%= t :add_rating, "Add rating" %></a>
          </div>
        </td>
      </tr>
      <tr class="rating blank" style="display: none;">
        <td>
          <input type="text" name="learning_outcome[rubric_criterion][_ratings][0][description]" class="outcome_rating_description"/>
          <span><% ot :outcome_rating_points, "%{input_box} pts", :input_box => capture { %>
          <input type="text" name="learning_outcome[rubric_criterion][_ratings][0][points]" style="width: 20px;" class="outcome_rating_points"/><% } %></span>
          <span style="padding-left: 30px;"><a href="#" class="delete_rating_link no-hover" title="<%= t :remove_criterion_rating, "Remove criterion rating" %>"><%= image_tag "delete_circle.png" %></a></span>
           <div class="clear"></div>
        </td>
      </tr>
      <tr class="add_holder">
        <td>
          <%= before_label :threshold, "Threshold" %>
          <input type="text" name="learning_outcome[rubric_criterion][mastery_points]" style="width: 20px;" class="mastery_points"/> / <span class="points_possible">&nbsp;</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="button-container">
    <button type="submit" class="button submit_button"><%= t "#buttons.update_learning_outcome", "Update Learning Outcome" %></button>
    <button type="button" class="button button-secondary cancel_button"><%= t "#buttons.cancel", "Cancel" %></button>
  </div>
<% end %>

<% form_for :learning_outcome_group, :url => context_url(@context, :context_outcome_groups_url), :html => {:id => "edit_outcome_group_form", :class => "outcome_group", :style => "display: none;"} do |f| %>
  <div class="header">
    <div class="title">
    <%= before_label :grouping_name, "Grouping Name" %>
    <%= f.text_field :title, :maxlength => '255', :size => '30' %>
    </div>
    <div class="clear"></div>
    <div class="description">
      <%= before_label :grouping_description, "Grouping Description" %>
      <div>
        <%= f.text_area :description, :style => "width: 100%; height: 150px;" %>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="button-container">
      <button type="submit" class="button submit_button"><%= t "#buttons.update_outcome_group", "Update Outcome Group" %></button>
      <button type="button" class="button button-secondary cancel_button"><%= t "#buttons.cancel", "Cancel" %></button>
    </div>
  </div>
<% end %>
