{{#if CAN.VIEW_TOOLBAR}}
<div class="header-bar-outer-container">
  <div class="header-bar-container sticky-toolbar" data-sticky>
    <div class="header-bar flex-container">
      <div class="header-bar-left header-left-flex">
        {{#if course_home}}
        <h2 class="course-title ellipsis" title="{{course_title}}">{{course_title}}</h2>
        {{else}}
          {{#if CAN.VIEW_PAGES}}
            <a class="btn{{#if front_page}} btn-primary{{/if}} view_all_pages" href="{{wiki_pages_path}}">{{#t 'buttons.view_all_pages'}}View All Pages{{/t}}</a>
          {{/if}}
        {{/if}}
      </div>
      <div class="header-bar-right">
        {{#unless course_home}}
          {{#if front_page}}
            <span class="front-page label">{{#t 'labels.front_page'}}Front Page{{/t}}</span>
          {{/if}}
          {{#if CAN.PUBLISH}}
            <span class="publish-button"></span>
          {{else}}
            {{#if CAN.VIEW_UNPUBLISHED}}
              {{#if published}}
                <span class='published-status published'>
                  <i class="icon-publish"></i> {{#t 'published_indicator'}}Published{{/t}}
                </span>    
              {{else}}
                <span class='published-status unpublished'>
                  <i class="icon-unpublished"></i> {{#t 'unpublished_indicator'}}Not Published{{/t}}
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/unless}}
        {{#if CAN.UPDATE_CONTENT}}
          <a href="{{wiki_page_edit_path}}" class="btn edit-wiki"><i class="icon-edit"></i> {{#t 'buttons.edit'}}Edit{{/t}}</a>
        {{/if}}
        {{#if CAN.ACCESS_GEAR_MENU}}
          <div class="inline-block" role="application">
            <a class="btn al-trigger" tabindex="0" role="button" href="#">
              <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
              <span class="screenreader-only">{{#t 'toolbar_menu.settings'}}Settings{{/t}}</span>
            </a>
            <ul class="al-options">
            {{#if CAN.DELETE}}
              <li><a href="#" class="icon-trash delete_page{{#unless deletable}} disabled{{/unless}}" {{#unless deletable}}aria-disabled="true"{{/unless}}>{{#t "delete_wiki"}}Delete{{/t}}</a></li>
            {{/if}}
            {{#if CAN.READ_REVISIONS}}
              <li><a href="{{wiki_page_history_path}}" class="icon-clock view_page_history">{{#t "view_page_history_wiki"}}View Page History{{/t}}</a></li>
            {{/if}}
            </ul>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="page-changed-alert" role="alert" aria-atomic="true" aria-live="polite"></div>
  </div>
</div>
{{/if}}

<div class="show-content user_content clearfix">
  <h2 class="page-title">{{title}}</h2>
  {{#if locked_for_user}}
    <div class="locked-alert alert alert-warning">
      {{#if lock_info.context_module.prerequisites}}
        {{#if lock_info.unlock_at}}
          {{#t 'page_locked_by_modules_until'}}This page will be available on {{lock_info.unlock_at}} if you have completed these modules:{{/t}}
        {{else}}
          {{#t 'page_locked_by_modules'}}This page will be available once you have completed these modules:{{/t}}
        {{/if}}
        <ul>
          {{#each lock_info.context_module.prerequisites}}{{#ifEqual this.type "context_module"}}
            {{#if this.name}}
              <li>
                {{#ifAll ../../../../modules_path this.id}}
                  <a href="{{../../../../modules_path}}/{{this.id}}">{{this.name}}</a>
                {{else}}
                  {{this.name}}
                {{/ifAll}}
              </li>
            {{/if}}
          {{/ifEqual}}{{/each}}
        </ul>
      {{else}}
        {{#if lock_info.unlock_at}}
          {{#t 'page_locked_until'}}This page will be available on {{lock_info.unlock_at}}{{/t}}
        {{else}}
          {{#t 'page_locked'}}This page is locked{{/t}}
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    {{convertApiUserContent body}}
  {{/if}}
</div>
