<td role="gridcell">
  <a href="{{html_url}}" class="wiki-page-link{{#if CAN.PUBLISH}} {{#unless published}}un{{/unless}}published{{/if}}">{{title}}</a>
  {{#if front_page}} <span class="front-page label">{{#t 'labels.front_page'}}Front Page{{/t}}</span>{{/if}}
</td>
<td role="gridcell">{{tDateToString created_at "medium"}}</td>
<td role="gridcell">{{tDateToString updated_at "medium"}}{{#if last_edited_by.display_name}} by {{last_edited_by.display_name}}{{/if}}</td>
{{#if CAN.MANAGE}}
  {{#if CAN.PUBLISH}}
    <td role="gridcell" class="publish-cell"></td>
  {{/if}}
  <td role="gridcell">
    <div class="inline-block">
      <a id="{{page_id}}" class="al-trigger al-trigger-gray" href="#" role="button" data-popup-within="#application">
        <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        <span class="screenreader-only">{{#t 'menu.settings'}}Settings{{/t}}</span>
      </a>
      <ul class="al-options">
        <li><a href="#" class="icon-edit edit-menu-item" title="{{#t 'menu.edit'}}Edit{{/t}}">{{#t 'menu.edit'}}Edit{{/t}}</a></li>
        <li><a href="#" class="icon-trash delete-menu-item{{#unless deletable}} disabled{{/unless}}" title="{{#t 'menu.delete'}}Delete{{/t}}" {{#unless deletable}}aria-disabled="true"{{/unless}}>{{#t 'menu.delete'}}Delete{{/t}}</a></li>
        {{#unless front_page}}
          <li><a href="#" class="icon-document use-as-front-page-menu-item{{#unless published}} disabled{{/unless}}" title="{{#t 'menu.use_front_page'}}Use as Front Page{{/t}}" {{#unless published}}aria-disabled="true"{{/unless}}>{{#t 'menu.use_front_page'}}Use as Front Page{{/t}}</a></li>
        {{/unless}}
        {{#each wiki_page_menu_tools}}
        <li>
          <a class="menu_tool_link" href="{{url}}">
            {{#if icon_url}}<img class="icon" alt="" src="{{icon_url}}" />{{/if}}
            {{title}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </td>
{{/if}}
