<div class="edit-content">
  <div class="edit-header">
    {{#if CAN.EDIT_TITLE}}
      <label for="title" class="screenreader-only">{{#t "title_label"}}Page Title{{/t}}</label>
      <input id="title" name="title" type="text" class="span4 title" value="{{title}}" maxlength="255" autofocus>
    {{else}}
      <h2>{{title}}</h2>
    {{/if}}
    <div>
      <div class="help_dialog"></div>
      <a href="#" class="switch_views">
        {{#t "#editor.switch_editor_html"}}HTML Editor{{/t}}
      </a>
      <a href="#" class="switch_views" style="display:none;">
        {{#t "#editor.switch_editor_rich_text"}}Rich Content Editor{{/t}}
      </a>
    </div>
  </div>

  <textarea rows="20" cols="40" name="body" class="body" aria-hidden="true"{{#unless PAGE_RIGHTS.update}} autofocus{{/unless}}>{{convertApiUserContent body forEditing=1}}</textarea>

  {{#if CAN.EDIT_ROLES}}
    <div class="control-group options">
      <label class="control-label"><strong>{{#t "options_label"}}Options{{/t}}</strong></label>
      <div class="controls">
        <select name="editing_roles">
          {{#if SHOW.COURSE_ROLES}}
            <option value="teachers"{{#if IS.TEACHER_ROLE}} selected{{/if}}>{{#t "course_editing_roles.only_teachers"}}Only teachers{{/t}}</option>
            <option value="teachers,students"{{#if IS.STUDENT_ROLE}} selected{{/if}}>{{#t "course_editing_roles.teachers_and_students"}}Teachers and students{{/t}}</option>
            <option value="teachers,students,public"{{#if IS.ANYONE_ROLE}} selected{{/if}}>{{#t "course_editing_roles.anyone"}}Anyone{{/t}}</option>
          {{else}}
            <option value="members"{{#if IS.MEMBER_ROLE}} selected{{/if}}>{{#t "editing_roles.only_members"}}Only members{{/t}}</option>
            <option value="members,public"{{#if IS.ANYONE_ROLE}} selected{{/if}}>{{#t "editing_roles.anyone"}}Anyone{{/t}}</option>
          {{/if}}
        </select>
        {{#t "editing_roles.can_edit_page"}}can edit this page{{/t}}
      </div>
    </div>
  {{/if}}
</div>

<div class="form-actions clearfix">
  <div>
    <label for="notify_of_update" class="checkbox clearfix pull-left" style="margin-top:5px">
      {{checkbox "notify_of_update"}}
      {{#t "notify_users_text"}}Notify users that this content has changed{{/t}}
    </label>
    <a class="btn cancel" tabindex="0" role="button">{{#t "buttons.cancel"}}Cancel{{/t}}</a>
    <button class="btn btn-primary submit">{{#t "buttons.save"}}Save{{/t}}</button>
  </div>
</div>
