<%
  jammit_css :login
  @headers = false
  @body_classes << "modal"
  content_for :page_title, t(:page_title, "App Login")
%>
<div id="modal-box">
  <h2>
    <% if @key.icon_url %>
      <%= image_tag @key.icon_url, :alt => '', :class => 'icon_url' %>
    <% end %>
    <%= @app_name %>
  </h2>
  <p>
  <%= mt 'details.allow_application', "%{app_name} is requesting access to your account.", :app_name => @app_name %>
    <br/><br/>
    <%= mt 'details.login_name', "You are logging into this app as %{user_name}.", :user_name => link_to(@current_user.short_name, user_profile_url(@current_user), :popup => true) %>
    <% if @current_user.email.present? && @current_user.email != @current_user.short_name %>
      <br/>
      <%= t 'details.email', "Your email address is %{email}.", :email => @current_user.email %>
    <% end %>
  </p>
  <div class="button_box">
    <%= link_to(t(:cancel, "Cancel"), oauth2_auth_deny_path, :class => "button") %>
    <%= link_to(t(:log_in, "Log in"), oauth2_auth_accept_path, :method => :post, :class => "button btn-primary") %>
  </div>
</div>
