<% possible_collaborators = @users %>
<% if possible_collaborators.size > 0 %>
  <%= before_label :collaborate_with, "Collaborate With" %>
  <div style="margin-left: 10px">
    <a href="#" class="select_all_link"><%= t '#links.select_all', "Select All" %></a> |
    <a href="#" class="deselect_all_link"><%= t '#links.deselect_all', "Deselect All" %></a>
  </div>
  <ul class="collaborator_list">
    <% possible_collaborators.each do |user| %>
      <li class="collaborator collaborator_<%= user.id %>">
        <%= check_box :user, "#{user.id}".to_sym, :value => user.id %>
        <%= label :user, "#{user.id}".to_sym, context_user_name(@context, user, true) %>
      </li>
    <% end %>
  </ul>
<% end %>
