<%= content_tag :div, class: "collaboration #{collaboration.style_class} collaboration_#{collaboration.id}", data: data_attributes do %>
  <div class="collaboration-header clearfix">
    <h2>
      <a class="title" href="<%= context_url(@context, :context_collaboration_url, collaboration.id) %>" target="_blank"><%= collaboration.title %></a>
    </h2>
    <%= collaboration_links(collaboration, @current_user) %>
  </div>
  <div class="description"><%= collaboration.description %></div>
  <%= render 'collaborations/collaboration_footer', collaboration: collaboration %>
<% end %>
