<%= form_for([@context, Collaboration.new], :html => { :target => '_blank',
                                                      :style => 'display: none; margin-top: 10px;' }) do |f| %>
<h2 tabindex="-1"><%= t 'titles.new', "Start a New Collaboration" %></h2>
<table class="formtable">
  <tr>
    <td style="white-space: nowrap">
      <%= f.label :collaboration_type, t('labels.collaboration_type', 'Collaborate using:') %>
    </td>
    <td style="width: 90%;">
      <select id="collaboration_collaboration_type" name="collaboration[collaboration_type]">
        <% Collaboration.collaboration_types.each do |collab_type| %>
          <% next if collab_type['type'] == 'etherpad' && @sunsetting_etherpad %>
          <% if collab_type['type'] == 'google_docs' %>
            <% if @domain_root_account && feature_and_service_enabled?(:google_docs) %>
              <option value="<%= collab_type['name'] %>"><%= collab_type['name'] %></option>
            <% end %>
          <% elsif (Collaboration.collaboration_class(collab_type['type'].titleize.gsub(/\s/, "")).config rescue false) %>
            <option value="<%= collab_type['name'] %>"><%= collab_type['name'] %></option>
          <% end %>
        <% end %>
      </select>
    </td>
  </tr><tr id="google_docs_description" style="display: none;" class="collaboration_type <%= 'unauthorized' unless @google_docs_authorized%>">
    <td colspan="2" style="padding: 5px 20px 10px">
      <%= image_tag "google_docs_icon.png", :style => "float: right; margin-left: 15px;" %>
      <%= mt 'descriptions.google_docs', "Google Docs is a great place to collaborate on a group project.  It's like Microsoft Word, but lets you work together with others on the same file at the same time without having to email it around.  \n  \n**Warning**: you (and all your collaborators) will need a Google account in order to participate in any Google Docs collaborations." %>
    </td>
  </tr><tr id="etherpad_description" style="display: none;" class="collaboration_type">
    <td colspan="2" style="padding: 5px 20px 10px">
      <%= image_tag "ether_pad.png", :style => "float: right; margin-left: 15px; margin-top: 5px;" %>
      <%= mt 'descriptions.etherpad', <<-HEREDOC, :etherpad_deletion_policy_url => "http://titanpad.com/ep/pro-help/#deletionpolicy"
EtherPad is an open source project that lets you quickly set up shared documents.  It's fast enough that you can see what others are typing as they're typing it. On the other hand, "pads" aren't protected by a password so anyone with a link to them can edit them. EtherPad is better suited than Google Docs if you want to support anonymity and/or allowing people without Google accounts to participate.  \n  \n**Warning**: be sure you are familiar with [EtherPad's deletion policy](%{etherpad_deletion_policy_url}) to ensure your work is preserved.
HEREDOC
        %>
    </td>
  </tr><tr class="collaborate_data">
    <td style="white-space: nowrap">
      <%= f.label :title, t('labels.document_name', 'Document name:') %>
    </td>
    <td>
      <%= f.text_field :title, :style => "width: 300px;" %>
    </td>
  </tr><tr class="collaborate_data">
    <td style="white-space: nowrap; vertical-align: top;">
      <%= f.label :description, t('labels.description', 'Description:') %>
    </td>
    <td>
      <%= f.text_area :description, :style => "width: 400px; height: 50px;" %>
    </td>
  </tr><tr>
    <td colspan="2">
      <div class="collaborate_data">
        <div class="collaborator_list"></div>
        <div class="collaboration-actions form-actions">
          <button type="button" class="btn cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
          <button type="submit" class="btn btn-primary"><%= t 'buttons.start_collaborating', "Start Collaborating" %></button>
        </div>
      </div>
      <div id="collaborate_authorize_google_docs" class="collaboration_authorization" style="display: none; margin: 20px;">
        <% if @google_drive_upgrade %>
          <%= t '#instructions.authorize_google_drive', "Before you can collaborate on documents, you need to authorize Canvas
            to access your Google Drive account:" %>
          <div class="button-container">
            <a class="btn button-default-action" href="<%= oauth_url(:service => :google_drive, :return_to => (request.url + "#add_collaboration")) %>"><%= t '#buttons.authorize_google_drive', "Authorize Google Drive Access" %></a>
            <button type="button" class="btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
          </div>
        <% else %>
          <%= t '#instructions.authorize_google_docs', "Before you can collaborate on documents, you need to authorize Canvas
            to access your Google Docs account:" %>
          <div class="button-container">
            <a class="btn button-default-action" href="<%= oauth_url(:service => :google_docs, :return_to => (request.url + "#add_collaboration")) %>"><%= t '#buttons.authorize_google_docs', "Authorize Google Docs Access" %></a>
            <button type="button" class="btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>
<% end %>
<div id="delete_collaboration_dialog" style="display: none;">
  <%= image_tag "google_docs.png", :style => "float: left;" %>
  <%= t 'messages.delete_google_doc_as_well', "This collaboration is being stored as a Google Doc.  Did you want to delete it just
  from Canvas, or remove it from Google Docs as well?" %>
  <div style="margin-top: 15px;">
  <button type="button" class="btn delete_button"><%= mt 'buttons.delete_from_canvas', "Just Delete  \nfrom Canvas" %></button>
  <button type="button" class="btn delete_button delete_document_button"><%= mt 'buttons.delete_from_google_docs', "Also Delete From  \nGoogle Docs" %></button>
  </div>
</div>
<%= form_tag(context_url(@context, :context_collaboration_url, "{{ id }}"), {:id => "edit_collaboration_form", :method => :put, :style => "display: none; margin-top: 10px;", :class => 'collaboration communication_message'}) do %>
  <div class="header">
    <%= text_field :collaboration, :title, :style => "width: 300px;", :value => t('collaboration_name', "%{course_or_group_name} Collaboration", :course_or_group_name => @context.name) %>
  </div>
  <div class="content">
  <%= before_label :description, "Description:" %><br>
  <%= text_area :collaboration, :description, :style => "width: 400px; height: 50px;" %>
  </div>
  <div class="footer">
    <div class="collaborator_list"></div>
  </div>
  <div class="button-container">
    <button type="submit" class="btn button-default-action"><%= t 'buttons.update', "Update Collaboration" %></button>
    <button type="button" class="btn button-secondary cancel_button"><%= t '#buttons.cancel', "Cancel" %></button>
  </div>
<% end %>
<% js_bundle 'legacy/collaborations_forms' %>
