<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% provide :page_title, t('error_title', 'Google Drive Collaboration Error') %>

<div style="width: 410px; margin-left: auto; margin-right: auto; margin-top: 50px;">
  <h2><%= t('headings.page', %{Google Drive Collaboration Error}) %></h2>
  <p><%= t('error_summary', %{It looks like this collaboration isn't working. Possible causes:}) %>
    <ul>
      <li><%= t('error_cause_3', %{The google doc no longer exists.}) %></li>
      <li><%= t('error_cause_1', %{The creator's Google Drive account is different from the account used to create the collaboration.}) %></li>
      <li><%= t('error_cause_2', %{The collaboration's creator is no longer an author on the google doc.}) %></li>
    </ul>
    <%= t('resolution', %{Contact the creator and let them know.}) %>
  </p>
</div>

