<div class="form-dialog-content">
  {{#if allFull}}
    <p class='separated'>
      {{#t "all_available_groups_full"}}
        All available groups are full.
      {{/t}}
    </p>
    <p>
      {{#t "all_groups_full_suggestion"}}
        Either change group limits or add more groups.
      {{/t}}
    </p>
  {{else}}
    <fieldset class="dotted-separator">
      <h5>{{#t 'where_to_move'}}Where would you like to move <b>{{userName}}</b>?{{/t}}</h5>
    </fieldset>
    <fieldset class="pad-box top-only">
      <label
        id="new-group-list-label"
        for="move_from_group_{{groupId}}">
          {{#t "move_to_group_label" }}Move to group{{/t}}:
      </label>
      <select
        id="move_from_group_{{groupId}}"
        class="single-select"
        aria-labelledby="new-group-list-label"
        size='7'
        tabindex='0'>
        {{#each groups}}
          {{#unless isFull}}
            <option
              value="{{id}}">
                {{name}}
            </option>
          {{/unless}}
        {{/each}}
      </select>
    </fieldset>
  {{/if}}
</div>

<div class="form-controls">
  <button
    class="btn dialog_closer"
    type="button"
  >{{#t "#buttons.cancel"}}Cancel{{/t}}</button>
  {{#unless allFull}}
    <button
      class="set-group btn btn-primary"
      data-text-while-loading='{{#t "saving"}}Saving...{{/t}}'
      type="submit"
    >{{#t "#buttons.save"}}Save{{/t}}</button>
  {{/unless}}
</div>
