<div class="group-user-name ellipsis">
  <i class="icon-drag-handle" aria-hidden="true"></i>
  {{name}}
</div>
{{#if is_inactive}}
  <span style="margin-left:0.5em" class="label"
        title="{{#t}}This user is currently not able to access the course{{/t}}">
    {{#t}}inactive{{/t}}
  </span>
{{/if}}
{{#if isLeader}}<i class="icon-user group-leader"
  aria-label="{{#t 'group_leader'}}Group Leader{{/t}}"
  title="{{#t 'group_leader'}}Group Leader{{/t}}"></i>{{/if}}
{{#if canAssignToGroup}}
  <a href="#"
     data-user-id="user_{{id}}"
     class="assign-to-group"
     aria-haspopup="true"
     aria-label="{{#t "assign_user_to_group"}}Assign {{name}} to a group{{/t}}">
      <i class="icon-plus"></i>
  </a>
{{/if}}
{{#if canEditGroupAssignment}}
  <div>
    <a href="#"
       id='group-{{groupId}}-user-user_{{id}}-actions'
       data-user-id="user_{{id}}"
       class="al-trigger group-user-actions"
       data-kyle-menu-options='{"appendMenuTo": "body"}'
       role="button">
        <i class="icon-more" aria-hidden="true"></i>
        <span class="screenreader-only">
          {{#t "edit_group_membership"}}Edit {{name}}'s membership{{/t}}
        </span>
    </a>
    <ul class="al-options">
        <li>
          <a href="#"
             data-user-id="user_{{id}}"
             aria-label="{{#t "remove_from_group"}}Remove {{name}} from group{{/t}}"
             class="icon-trash remove-from-group">
              {{#t "remove"}}Remove{{/t}}
          </a>
        </li>
      {{#if isLeader}}
    <li>
        <a href="#"
           data-user-id="user_{{id}}"
           aria-label="{{#t "remove_user_as_leader"}}Remove {{name}} as leader{{/t}}"
           class="icon-user remove-as-leader">
            {{#t "remove_as_leader"}}Remove as Leader{{/t}}
        </a>
      </li>
      {{else}}
      <li>
        <a href="#"
           data-user-id="user_{{id}}"
           aria-label="{{#t "set_user_as_leader"}}Set {{name}} as leader{{/t}}"
           class="icon-user set-as-leader">
            {{#t "set_as_leader"}}Set as Leader{{/t}}
        </a>
      </li>
      {{/if}}
      <li>
        <a href="#"
           data-focus-returns-to='group-{{groupId}}-user-user_{{id}}-actions'
           data-user-id="user_{{id}}"
           aria-label="{{#t "move_to_new_group"}}Move {{name}} to a new group{{/t}}"
           class="icon-updown edit-group-assignment">
            {{#t "move"}}Move To...{{/t}}
        </a>
      </li>
    </ul>
  </div>
{{/if}}
