<div class="group-user-name ellipsis" title="{{name}}"><i class="icon-drag-handle"></i>{{name}}</div>
{{#if canAssignToGroup}}
  <a href="#"
     data-user-id="{{id}}"
     class="assign-to-group"
     title="{{#t "assign_to_group"}}Assign to Group{{/t}}"
     aria-label="{{#t "assign_user_to_group"}}Assign {{name}} to a group{{/t}}">
      <i class="icon-plus"></i>
  </a>
{{/if}}
{{#if canEditGroupAssignment}}
  <div class="inline-block" role="application">
    <a href="#"
       id='group-{{groupId}}-user-{{id}}-actions'
       data-user-id="{{id}}"
       class="al-trigger group-user-actions"
       data-kyle-menu-options='{"appendMenuTo": "body"}'
       role="button">
        <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        <span class="screenreader-only">
          {{#t "edit_user_group_assignment"}}Remove or move {{name}} from group{{/t}}
        </span>
    </a>
    <ul class="al-options">
      <li>
        <a href="#"
           data-user-id="{{id}}"
           aria-label="{{#t "remove_from_group"}}Remove {{name}} from group{{/t}}"
           class="icon-trash remove-from-group">
            {{#t "remove"}}Remove{{/t}}
        </a>
      </li>
      <li>
        <a href="#"
           data-focus-returns-to='group-{{groupId}}-user-{{id}}-actions'
           data-user-id="{{id}}"
           aria-label="{{#t "move_to_new_group"}}Move {{name}} to a new group{{/t}}"
           class="icon-updown edit-group-assignment">
            {{#t "move"}}Move To...{{/t}}
        </a>
      </li>
    </ul>
  </div>
{{/if}}
