<div class="group-user-name ellipsis" title="{{name}}">{{name}}</div>
{{#if canAssignToGroup}}
  <a href="#" data-user-id="{{id}}" 
     class="assign-to-group" 
     title="{{#t "assign_to_group"}}Assign to Group{{/t}}"
     aria-label="{{#t "assign_user_to_group"}}Assign user {{name}} to a group{{/t}}"
  >
    <i class="icon-plus"></i>
  </a>
{{/if}}
{{#if canRemoveFromGroup}}
  <a href="#" data-user-id="{{id}}"
     class="remove-from-group"
     title="{{#t "remove_from_group"}}Remove from Group{{/t}}"
     aria-label="{{#t "remove_user_from_group"}}Remove user {{name}} from this group{{/t}}"
  >
    <i class="icon-x"></i>
  </a>
{{/if}}
