<div class="item-group-container">
  {{#if days}}
    {{#each days}}
      <div class="agenda-day{{#if isToday}} agenda-today{{/if}}">
        <h3 class="agenda-date" tabindex="-1">
          <span aria-hidden="true">{{date}}</span>
          <span class="screenreader-only">{{accessibleDate}}</span>
        </h3>

        <div class="agenda-events">
          <div class="item-group-condensed">
            <ul class="ig-list">
              {{#each events}}
                <li class="agenda-event" data-event-id="{{id}}">
                  <div class="ig-row" tabindex="0" role="button">
                    <span class="ig-title group_{{contextCode}} {{#if isCompleted}}calendar__event--completed{{/if}}">
                      <span class="screenreader-only">{{readableType}},</span>
                      <i class="icon-{{iconType}}"></i>
                      {{#truncate title 60}}{{/truncate}}
                      {{#if isCompleted}}<span class="screenreader-only">,(completed),</span>{{/if}}
                    </span>
                    <span class="screenreader-only">,{{contextInfo.name}},</span>
                    <div class="ig-details">
                      {{#if assignment}}
                        <b>{{#t "due"}}Due{{/t}}</b><span class="screenreader-only">,</span>
                        {{strftime originalStart "%l:%M%P"}}
                      {{else}}
                        {{#unless all_day}}
                          <span class="screenreader-only">{{#t "starts_at"}}Starts at{{/t}},</span>
                          {{strftime originalStart "%l:%M%P"}}
                        {{/unless}}
                      {{/if}}
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    {{#t "no_events"}}No events after this date.{{/t}}
  {{/if}}
</div>

<div class="agenda-actions">
  {{#if meta.hasMore}}
    <a href="#" class="btn agenda-load-btn" role="button">Load more</a>
  {{/if}}
  <i class="loading-spinner"
    aria-label="{{#t "loading"}}Loading{{/t}}"
    aria-hidden="true"></i>
</div>
