<ul id="context-list">
  {{#each contexts}}
    <li data-context="{{asset_string}}"
        class="context_list_context hover-container">
      <span class="context-list-toggle-box group_{{asset_string}}"
            aria-labelledby="group_{{asset_string}}_checkbox_label"
            tabindex="0"
            role="checkbox"></span>
      <label id="group_{{asset_string}}_checkbox_label">
        {{name}}
      </label>
      <button type="button" tabindex="0" class="Button Button--icon-action ContextList__MoreBtn">
        <i class="icon-more" aria-hidden="true"></i>
        <span class="screenreader-only">
          {{#t}}Open {{name}} Color Picker{{/t}}
        </span>
      </button>
    </li>
  {{/each}}
</ul>
<div id="color_picker_holder"></div>
