<li>
  <a class="ag_sections_toggle"></a>
  <input type="checkbox" name="context_codes[]" value="{{asset_string}}" id="option_{{asset_string}}">
  <label for="option_{{asset_string}}">{{name}}</label>
  <ul class="ag_sections hidden">
    {{#each course_sections}}
      {{#if can_create_ag}}
        <li>
          <input type="checkbox" name="sections[]" value="{{asset_string}}" id="option_{{asset_string}}">
          <label for="option_{{asset_string}}">{{name}}</label>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</li>
