<form action='#' id='edit_appointment_form'>
  <div class="left-column-wrapper">
    <p>
      <b>{{#t "name"}}Name{{/t}}</b><br />
      <input type="text" name="title" style="width: 190px" value="{{appointment_group.title}}">
    </p>
    <p>
      <b>{{#t "location"}}Location{{/t}}</b><br />
      <input type="text" name="location" style="width: 190px" value="{{appointment_group.location_name}}">
    </p>
    <div class="select-calendar-container">
      <b>{{#t "calendar"}}Calendar{{/t}}</b><br />
      <button class="button ag_contexts_selector"></button>
      <div class="ag-menu-container"></div>
    </div>
    <p>
      <input type="checkbox" class="group-signup-checkbox" id="group-signup-checkbox" name="use_group_signup" value="1" {{#ifEqual participant_type "Group"}}checked{{/ifEqual}}>
      <label for="group-signup-checkbox">Have students sign up in groups.</label>
    </p>
    <div class="group-signup" style="display: none">
      <b>{{#t "group_category"}}Group Category{{/t}}</b><br />
      <div class="group_select">
        <select name="group_category_id"></select>
      </div>
    </div>
  </div>
  <div class="right-column-wrapper">
    <div class="time-block-list-wrapper">
      <div class="time-block-list">
        <table class="time-block-list-header">
          <tr>
            <th class="date-column">Date</th>
            <th class="time-range-column" colspan="4">Time Range</th>
          </tr>
        </table>
        <div class="time-block-list-body-wrapper">
          <table class="time-block-list-body"></table>
        </div>
        <div class="splitter" style="font-size: 0.8em">
          <p>
            <a class="split-link button small-button" href="#">Split</a>into slots of <input type="number" name="duration" value="30" style="width: 40px" /> minutes each.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-top: 1.5em">
      <div id="options_help_dialog" style="display: none;">
        <p>{{#t "appt_group_options_help1"}}Some existing reservations are over the limit you have added. These will not be affected, this change only prevents new reservations from being made.{{/t}}</p>
        <p>{{#t "appt_group_options_help2"}}You can, however, manually remove any existing reservations.{{/t}}</p>
      </div>
      <b>Options</b>
      <ul class="ag-options">
        <li>
          <input type="checkbox" id="appointment-blocks-per-slot-option-button" name="per_slot_option" value="1" />
          <label for="appointment-blocks-per-slot-option-button">Limit each time slot to</label>
          <input type="number" name="participants_per_appointment" value="{{appointment_group.participants_per_appointment}}" min="1" style="width: 40px;" />
          <label for="appointment-blocks-per-slot-option-button">
            <span {{#ifEqual participant_type "Group"}} {{else}} style="display:none;" {{/ifEqual}} class="per_appointment_groups_label">groups.</span>
            <span {{#ifEqual participant_type "Group"}} style="display:none;" {{/ifEqual}} class="per_appointment_users_label">users.</span>
          </label>
          <a href="#" class="reservation_help hidden" title="{{#t "affect_reservations"}}How will this affect reservations?{{/t}}">
            <img alt="Help" src="/images/help.png">
          </a>
        </li>
        <li>
          <input type="checkbox" id="appointment-blocks-participant-visibility-button" name="participant_visibility" value="1" />
          <label for="appointment-blocks-participant-visibility-button">Allow students to see who has signed up for time slots.</label>
        </li>
        <li>
          <input type="checkbox" id="max-per-student-option" name="max_appointments_per_participant_option" value="1">
          <label for="max-per-student-option">Limit participants to attend</label>
          <input type="number" name="max_appointments_per_participant" value="{{appointment_group.max_appointments_per_participant}}" min="1" style="width: 40px">
          <label for="max-per-student-option">appointment(s).</label>
          <a href="#" class="reservation_help hidden" title="{{#t "affect_reservations"}}How will this affect reservations?{{/t}}">
            <img alt="Help" src="/images/help.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="details-wrapper">
    <b>Details:</b><br />
    <textarea name="description" style="width: 100%">{{appointment_group.description}}</textarea>
  </div>
</form>
