<form id="editCalendarEventFull" class="{{#if use_section_dates}}use_section_dates{{/if}}">
  <input type="text" class="title input-block-level" name="title" placeholder="{{#t "event_title"}}Event Title{{/t}}" value="{{title}}" maxlength="255"/>

  <textarea class="input-block-level" name="description" style="width: 100%">{{description}}</textarea>

  {{#if course_sections}}
    <label><input type="checkbox" name="use_section_dates" value="1" {{#if use_section_dates}}checked{{/if}}>{{#t "different_date_for_each_section"}}Use a different date for each section{{/t}}</label>
    <input type="hidden" name="remove_child_events" value="{{#unless use_section_dates}}1{{/unless}}" />
  {{/if}}

  <div class="hide_if_using_sections date_start_end_row">
    <span><input type="text" name="start_date" class="date_field" value="{{dateToString start_at "MMM d, yyyy"}}" placeholder="{{#t "date"}}Date{{/t}}"/></span>
    <span><input type="text" name="start_time" class="time_field" {{#unless all_day}} value="{{dateToString start_at "h:mmtt"}}" {{/unless}} placeholder="{{#t "start_time"}}Start Time{{/t}}"/></span>
    <span>{{#t "to"}}to{{/t}}</span>
    <span><input type="text" name="end_time" class="time_field" {{#unless all_day}} value="{{dateToString end_at "h:mmtt"}}" {{/unless}} placeholder="{{#t "end_time"}}End Time{{/t}}"/></span>
  </div>

  {{#if course_sections}}
    <table class="formtable show_if_using_sections">
      {{#each course_sections}}
      <tr class="date_start_end_row">
        <th>
          <label for="section_{{id}}_start_date">{{name}}</label>
        </th>
        <td>
          <span><input type="text" id="section_{{id}}_start_date" name="child_event_data[{{id}}][start_date]" class="date_field" value="{{dateToString event.start_at "MMM d, yyyy"}}" placeholder="{{#t "date"}}Date{{/t}}"/></span>
          <span><input type="text" name="child_event_data[{{id}}][start_time]" class="time_field" {{#unless all_day}} value="{{dateToString event.start_at "h:mmtt"}}" {{/unless}} placeholder="{{#t "start_time"}}Start Time{{/t}}"/></span>
          <span>{{#t "to"}}to{{/t}}</span>
          <span><input type="text" name="child_event_data[{{id}}][end_time]" class="time_field" {{#unless all_day}} value="{{dateToString event.end_at "h:mmtt"}}" {{/unless}} placeholder="{{#t "end_time"}}End Time{{/t}}"/></span>
          <input type="hidden" name="child_event_data[{{id}}][context_code]" value="course_section_{{id}}">
        </td>
      </tr>
      {{/each}}
    </table>
  {{/if}}

  <div class="button-container">
    <button type="submit" class="btn {{#if url}} btn-primary {{/if}}">
      {{#if newRecord}}
        {{#t "buttons.create"}}Create Event{{/t}}
      {{else}}
        {{#t "buttons.update"}}Update Event{{/t}}
      {{/if}}
    </button>
    {{#if url}}
      <button type="button" class="btn delete_link">{{#t "delete"}}Delete{{/t}}</button>
    {{/if}}
    {{#if return_to_url}}
      <a href="{{return_to_url}}" class="btn">{{#t "#buttons.cancel"}}Cancel{{/t}}</a>
    {{/if}}
  </div>

</form>
