<tr {{#if locked}}class="locked"{{/if}}>
  <td class="date-column">
    <input name="date" class="date_field"
      value="{{fcMomentToDateString date "medium_with_weekday"}}"
      aria-label="{{t "date_label" "Date"}}{{datepickerScreenreaderPrompt 'date'}}"
      {{#if locked}}disabled{{/if}} type="text"
      data-tooltip title="{{accessibleDateFormat 'date'}}"/>
    </div>
  </td>
  <td class="start-time-column">
    <input name="start_time" class="time_field start_time" value="{{fcMomentToString start "tiny"}}"
      aria-label="{{t "start_time_label" "Start Time"}}{{datepickerScreenreaderPrompt 'time'}}"
      {{#if locked}} disabled{{/if}} type="text"
      data-tooltip title="{{accessibleDateFormat 'time'}}"/>
  </td>
  <td class="separator-column">-</td>
  <td class="end-time-column">
    <input name="end_time" class="time_field end_time" value="{{fcMomentToString end "tiny"}}"
      aria-label="{{t "end_time_label" "End Time"}}{{datepickerScreenreaderPrompt 'time'}}"
      {{#if locked}} disabled{{/if}} type="text"
      data-tooltip title="{{accessibleDateFormat 'time'}}"/>
  </td>
  <td class="delete-column">
    {{#unless locked}}
      <a href="#" class="delete-block-link icon-end">
        <span class="screenreader-only">{{#t "delete_link"}}Delete Time Range{{/t}}</span>
      </a>
    {{/unless}}
  </td>
</tr>
