{{#if events}}
  <b>Undated Events</b>
  <ul>
    {{#each events}}
      <li class="undated_event event group_{{contextCode}} {{id}}" data-event-id="{{id}}">
        <i class='icon-{{icon}}' aria-hidden='true'></i>
        <a href="{{details_url}}" class='undated_event_title'>{{title}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="spin_holder"></div>
  <a href="#" data-text-while-loading="Loading undated events..." class="undated-events-link">Show undated events</a>
{{/if}}
