{{#if unloaded}}
  <div class="spin_holder"></div>
  <a href="#" data-text-while-loading="{{#t "loading_undated_events"}}Loading undated items...{{/t}}" class="undated-events-link">{{#t "show_undated_events"}}Show undated items{{/t}}</a>
{{else}}
  {{#if events}}
    <ul id="undated_events_list">
      {{#each events}}
        <li class="undated_event event group_{{contextCode}} {{id}}" data-event-id="{{id}}">
          <i class='icon-{{icon}}' aria-hidden='true'></i>
          <a href="{{details_url}}" class='undated_event_title {{#if isCompleted}}calendar__event--completed{{/if}}'>
            {{#truncate title 35}}{{/truncate}}
            {{#if isCompleted}}<span class="screenreader-only">,(completed),</span>{{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    {{#t "no_undated_events"}}No undated items.{{/t}}
  {{/if}}
{{/if}}
