<div class="content-box border border-trbl border-round">
  <div class="grid-row">
    <div id="calculation_int_left_side" style="{{ hiddenUnlessExists calculation_int }}"
      class="col-xs-4 border border-r">
      <div>
        {{#ifIncludes writeStates state }}
          <div id="calculation_int_container" 
            data-initial-value="{{calculation_int}}" 
            data-label="{{calculationIntLabel}}" 
            data-calculation-int-description="{{ calculationIntDescription }}">
          </div>
        {{ else }}
          <label for="calculation_int" id="calculation_int_label">
            {{ calculationIntLabel }}
          </label>
          <span id="calculation_int">{{calculation_int}}</span>
          <span class="outcomes-calculation-int-italics">
            {{ calculationIntDescription }}
          </span>
        {{/ifIncludes}}
      </div>
      <div>
      </div>
    </div>
    <div id="calculation_int_example_container" class="col-xs-{{#ifExists calculation_int}}8{{ else }}12{{/ifExists}}">
    </div>
  </div>
</div>

