<h2 class="screenreader-outcome-title screenreader-only" tabindex="0">
  {{title}}
</h2>
<h2 class="title" role="presentation">
  <i class="icon-outcomes" aria-hidden="true"></i>
  {{#unless doNotRenderTitleLink}}
    <a href='{{html_url}}'>{{title}}</a>
  {{else}}
    {{title}}
  {{/unless}}
</h2>
{{#if friendly_description}}
  <div class="friendly-description">
    <div class="friendly-description-title">{{#t}}Friendly Description{{/t}}</div>
    <div class="friendly-description-info">{{{friendly_description}}}</div>
  </div>
{{/if}}
<div class="description user_content">
  {{{description}}}
</div>
{{#unless hideMasteryScale}}
  <table class="criterion">
    <thead>
      <tr>
        {{#each ratings}}
        <th class="rating" aria-label='{{description}}'>
          <h3>{{description}}</h3>
        </th>
        {{/each}}
        <th class="total" aria-label='{{#t}}Total Points{{/t}}'>
          <h3 class="total">{{#t}}Total Points{{/t}}</h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each ratings}}
        <td class="rating">
          {{#t}}{{n points precision=2 strip_insignificant_zeros=true}} Points{{/t}}
        </td>
        {{/each}}
        <td class="total">
          {{#t}}{{n points_possible precision=2 strip_insignificant_zeros=true}} Points{{/t}}
        </td>
      </tr>
    </tbody>
  </table>
{{/unless}}

{{#if setQuizMastery}}
  <label for="outcome_mastery_at">
    {{#t "mastery_at_label"}}Set mastery for any score at or above:{{/t}}
    <input type="text" name="mastery_at" id="outcome_mastery_at" value="60" />
    %
  </label>
{{else}}
  {{#if useForScoring}}
    <label for="outcome_use_for_scoring">
      <input type="checkbox" id="outcome_use_for_scoring" class="criterion_for_scoring" checked />
      {{#t "use_for_scoring"}}Use this criterion for scoring{{/t}}
    </label>
  {{else}}
    {{#unless hideMasteryScale}}
     <p>{{#t}}Mastery: {{n mastery_points precision=2 strip_insignificant_zeros=true}} Points{{/t}}</p>
    {{/unless}}
  {{/if}}
{{/if}}

{{#unless hideMasteryScale}}
  <div id="calculation_method" data-calculation-method="{{calculation_method}}">
    {{#t}}Calculation Method{{/t}}: {{ friendlyCalculationMethod }}
  </div>

  <div class="content-box">
    <div class="grid-row">
      <!-- Hook for OutcomeCalculationMethodFormView -->
      <div class="col-xs-12 outcome-calculation-method-form"></div>
    </div>
  </div>
{{/unless}}

{{#if can_manage}}
  {{#unless hideMasteryScale}}
    {{#if assessedInContext}}
      <div id="assessed_info_banner" class="alert alert-info outcome-assessed-info-banner ">
        <span>
          <span class="outcome-assessed-info-banner-with-mastery-scale">
            {{#t}}This outcome has been used to assess a student and some edits will affect student results.{{/t}}
          </span>
        </span>
      </div>
    {{/if}}
  {{/unless}}
  <div class="pull-right">
    <button class="move_button ui-button ui-widget ui-state-default ui-corner-all">
      <span aria-hidden="true">{{#t}}Move{{/t}}</span>
      <span class="screenreader-only">{{#t}}Move Outcome{{/t}}</span>
    </button>
    {{#if can_edit}}
      <button class="edit_button ui-button ui-widget ui-state-default ui-corner-all">
        <span aria-hidden="true">{{#t "links.edit_outcome"}}Edit{{/t}}</span>
        <span class="screenreader-only">{{#t}}Edit Outcome{{/t}}</span>
      </button>
    {{/if}}
    {{#if can_unlink}}
      <button class="delete_button ui-button ui-widget ui-state-default ui-corner-all"
        {{#if assessedInContext}} disabled {{/if}}>
        <span aria-hidden="true">{{#t "links.delete_outcome"}}Delete{{/t}}</span>
        <span class="screenreader-only">{{#t}}Delete Outcome{{/t}}</span>
      </button>
    {{/if}}
  </div>
{{/if}}
