<div class="ig-row {{#if published}}ig-published{{/if}}">
  <a href="{{htmlUrl}}" class="ig-title ellipses">
    <i class='icon-{{iconType}}'></i>
    {{name}}
  </a>
  <div class="ig-details row-fluid">
    <div class="span6 ellipses">
      <!-- TODO: VDD -->
      {{#if dueAt}}
        <strong>{{#t "due_date"}}Due{{/t}}</strong>
        {{datetimeFormatted dueAt}}
      {{/if}}
    </div>
    <div class="span6 ellipses">
      {{#if pointsPossible}}{{#t "points_possible"}}{{pointsPossible}} pts{{/t}}{{/if}}
    </div>
  </div>
</a>
