<% association = rubric_association || nil %>
<div id="association_<%= association ? association.id : "blank" %>" class="rubric_association" style="<%= hidden unless association %>">
  <a name="association_<%= association ? association.id : "{{ id }}" %>"></a>
  <div class="header">
    <div class="links">
      <a href="#" class="edit_association_link no-hover"><%= image_tag "edit.png" %></a>
      <a href="<%= context_url(@context, :context_rubric_association_url, association ? association.id : "{{ id }}") %>" class="delete_association_link no-hover"><%= image_tag "delete.png" %></a>
    </div>
    <div class="association_display title">
      <a href="<%= context_url(@context, :context_rubric_association_rubric_assessments_url, association ? association.id : "{{ id }}") %>"><%= (association.title || t('no_name', "No Name")) rescue t('no_name', "No Name") %></a>
    </div>
    <div class="association_edit">
      <%= blabel :rubric_association, :title, :en => "Name" %>
      <%= text_field :rubric_association, :title, :value => ((association.title || t('assessment_name', "Assessment Name")) rescue t('assessment_name', "Assessment Name")) %>
    </div>
  </div>
  <div class="content">
    <% if @context.is_a?(User) %>
      <div class="association_display" style="text-align: left; margin-bottom: 10px;">
        <a href="<%= association.url rescue "{{ url }}" %>" class="association_url link"><%= t('view_assessed_page', 'View the Page Being Assessed') %></a>
      </div>
      <div class="association_edit">
        <%= blabel :rubric_association, :url, :en => "URL to Assess" %>
        <%= text_field :rubric_association, :url, :value => ((association.url || "http://") rescue "http://") %>
      </div>
      <div class="association_display" style="font-size: 0.8em;">
        <table style="width: 100%;"><tr>
          <td style="vertical-align: top;">
            <%= before_label('invited_assessors', 'Invited Assessors') %>
            <ul class="unstyled_list assessor_list" style="margin-left: 20px;">
              <% if !association || association.assessment_requests.incomplete.empty? %>
                <li class="none_assigned_message"><%= t('none_invited', 'None Invited') %></li>
              <% else %>
                <% association.assessment_requests.incomplete.each do |assessment| %>
                  <li style="<%= 'font-weight: bold;' if assessment.completed? %>" title="<%= t('assessment_completed', 'Assessment Completed') if assessment.completed? %>"><%= assessment.assessor_name %></li>
                <% end %>
              <% end %>
            </ul>
            <% if association && !association.rubric_assessments.empty? %>
              <%= before_label('completed_assessments', 'Completed Assessments') %>
              <ul class="unstyled_list" style="margin-left: 20px;">
                <% association.rubric_assessments.each do |assessment| %>
                  <li><%= assessment.assessor_name %></li>
                <% end %>
              </ul>
            <% end %>
            <div style="margin: 10px 0 0;" class="rubric_assessment_invitation">
              <a href="#" class="add_rubric_assessment_link add-small"><%= t('invite_new_assessor', 'Invite New Assessor') %></a>
              <a href="<%= context_url(@context, :context_rubric_association_invite_assessor_url, (association ? association.id : "{{ id }}")) %>" class="add_rubric_assessment_url" style="display: none;">&nbsp;</a>
              <% form_for :rubric_assessment, :url => ".", :html => {:class => "add_rubric_assessment_form", :style => "display: none;"} do |f| %>
                <%= text_field :rubric_assessment, :assessor_email, :style => "width: 150px;" %>
                <div class="button-container">
                  <button type="submit" class="btn"><%= t('buttons.invite', 'Invite') %></button>
                </div>
              <% end %>
            </div>
          </td><td style="vertical-align: top; width: 60%;" class="description">
            <%= association && association.description || t("no_description", "No Description") %>
          </td>
        </tr></table>
      </div>
      <div class="association_edit" style="margin-top: 10px;">
        <table><tr>
          <td>
            <div class="association_new">
              <%= blabel :rubric_association, :invitations, :en => "People to Assess" %><br/>
              <%= text_area :rubric_association, :invitations, :value => t('emails_to_invite', '"Paste in here the email addresses of those you want to invite to assess this work"') , :style => "width: 90%; height: 75px;" %>
            </div>
          </td><td>
            <%= blabel :rubric_association, :description, :en => "Assessment Instructions" %><br/>
            <%= text_area :rubric_association, :description, :value => ((association.description || t('instructions', "Instructions")) rescue t('special_instructions', "Type any special instructions you have for those assessing your work")), :style => "width: 90%; height: 75px;" %>
          </td>
        </tr></table>
      </div>
    <% else %>
      <div class="association_display" style="font-size: 0.8em;">
        <table style="width: 100%;"><tr>
          <td style="vertical-align: top;">
            <%= before_label('unsubmitted_assessments', 'Unsubmitted') %>
            <ul class="unstyled_list" style="margin-left: 20px;">
              <% if association %>
                <% association.unsubmitted_users.each do |user| %>
                  <li><%= context_user_name(@context, user) %></li>
                <% end %>
              <% end %>
            </ul>
            <% if association && !association.rubric_assessments.empty? %>
              <%= before_label('submitted_and_incomplete_assessments', 'Submitted and Incomplete') %>
              <ul class="unstyled_list" style="margin-left: 20px;">
                <% association.assessment_requests.incomplete.each do |assessment| %>
                  <li><%= context_user_name(@context, assessment.user) %></li>
                <% end %>
              </ul>
              <%= before_label('submitted_and_completed_assessments', 'Submitted and Completed') %>
              <ul class="unstyled_list" style="margin-left: 20px;">
                <% association.rubric_assessments.each do |assessment| %>
                  <li><%= context_user_name(@context, assessment.user) %></li>
                <% end %>
              </ul>
            <% end %>
          </td><td style="vertical-align: top; width: 60%;" class="description">
            <%= association && association.description || t("no_description", "No Description") %>
          </td>
        </tr></table>
      </div>
      <div class="association_edit" style="margin-top: 10px;">
        <table><tr>
          <td>
          </td><td>
            <%= blabel :rubric_association, :description, :en => "Assessment Instructions" %><br/>
            <% if @context.is_a?(User) %>
              <%= text_area :rubric_association, :description, :value => ((association.description || t('instructions', "Instructions")) rescue t('special_instructions', "Type any special instructions you have for those assessing your work")), :style => "width: 90%; height: 75px;" %>
            <% else %>
              <%= text_area :rubric_association, :description, :value => ((association.description || t('instructions', "Instructions")) rescue t('submitting_instructions', "Type any instructions for those submitting items for assessment")), :style => "width: 90%; height: 75px;" %>
            <% end %>
          </td>
        </tr></table>
      </div>
    <% end %>
    <div style="text-align: right; font-size: 0.8em; margin-top: 0;">
      <a href="#" class="toggle_rubric_link"><%= t 'links.show_rubric', 'Show Rubric' %></a>
    </div>
    <div class="rubric_holder" style="display: none;">
      <%= render :partial => "shared/rubric", :object => (association.rubric rescue nil), :locals => {:editable => true, :rubric_association => association} %>
    </div>
    <div class="association_buttons association_edit button-container">
      <button type="button" class="save_button btn"><%= t('buttons.save_assessment', 'Save Assessment') %></button>
      <button type="button" class="cancel_button button-secondary"><%= t('#buttons.cancel', 'Cancel') %></button>
    </div>
    <a href="<%= context_url(@context, :context_rubric_association_url, association ? association.id : "{{ id }}") %>" style="display: none;" class="update_rubric_association_url">&nbsp;</a>
  </div>
</div>
