<% content_for :page_title, t(:page_title, "Assessments") %>

<% content_for :right_side do %>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_association_link add"><%= t('add_rubric_assessment', 'Add Rubric Assessment') %></a>
<% end %>
<% content_for :stylesheets do %>
  <style>
    .rubric_association {
      border: 1px solid #aaa;
      -moz-border-radius: 5px;
      margin-bottom: 10px;
    }
    .rubric_association .header {
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      background-color: #ddd;
      padding: 2px 5px;
      font-size: 1.2em;
      border-bottom: 1px solid #aaa;
    }
    .rubric_association .content {
      padding: 10px;
    }
    .rubric_association .links {
      float: right;
    }
    .rubric_association#association_new .association_new {
      display: block;
    }
    .rubric_association .association_new {
      display: none;
    }
    .rubric_association.editing .association_display {
      display: none;
    }
    .rubric_association.editing .association_edit {
      display: block;
    }
    .rubric_association .association_edit {
      display: none;
    }
    .rubric_association .rubric .rubric_title .links {
      display: none;
    }
    .rubric_association table.rubric {
      margin-top: 0;
    }
    .rubric_association table.rubric td, 
    .rubric_association table.rubric th,
    .rubric_association table.rubric table.ratings td {
      border-color: #ccc;
    }
    .rubric_association table.rubric thead th {
      background-color: #eee;
    }
  </style>
<% end %>
<% js_bundle :edit_rubric %>
<% js_block do %>
<script>
require([
  'i18nObj' /* I18n.t */,
  'jquery' /* $ */,
  'jquery.ajaxJSON' /* ajaxJSON */,
  'jquery.instructure_forms' /* formSubmit, getFormData */,
  'jquery.instructure_misc_plugins' /* confirmDelete */,
  'jquery.loadingImg' /* loadingImage */,
  'jquery.templateData' /* fillTemplateData */,
  'vendor/jquery.scrollTo' /* /\.scrollTo/ */
], function(I18n, $) {

  window.rubricEditing = null;
  window.rubricAssociation = {
    addAssessment: function($association, assessment) {
      $association.find(".assessor_list").find(".none_assigned_message").remove();
      $association.find(".assessor_list").append("<li>" + assessment.assessor_name + "</li>");
    }
  }
  $(document).ready(function() {
    $(".association_edit textarea").focus(function() {
      $(this).select();
    });
    $(".add_rubric_assessment_link").click(function(event) {
      event.preventDefault();
      var $form = $(this).parents(".rubric_assessment_invitation").find(".add_rubric_assessment_form");
      $form.slideToggle();
      $form.attr('action', $(this).parents(".rubric_assessment_invitation").find(".add_rubric_assessment_url").attr('href'));
    });
    $(".rubric_association .add_rubric_assessment_form").formSubmit({
      beforeSubmit: function(data) {
        $(this).loadingImage();
      },
      success: function(data) {
        $(this).loadingImage('remove');
        $(this).slideUp();
        rubricAssociation.addAssessment($(this).parents(".rubric_association"), data.assessment_request);
      }
    });
    $(".add_rubric_association_link").click(function(event) {
      event.preventDefault();
      if ($("#association_new").length > 0) {
        return;
      }
      var $association = $("#association_blank").clone(true).removeAttr('id');
      $association.find(".rubric").removeAttr('id').show();
      $association.attr('id', 'association_new');
      $association.find(".edit_association_link").click();
      $association.find(".toggle_rubric_link").click();
      $("#rubrics").prepend($association.show());
      $("html,body").scrollTo($association);
    });
    $(".edit_association_link").click(function(event) {
      event.preventDefault();
      if ($(this).parents(".rubric_association").hasClass('editing')) {
        return;
      }
      $(this).parents(".rubric_association").addClass('editing');
      var $rubric = rubricEditing.editRubric($(this).parents(".rubric_association").find(".rubric:first"));
      $rubric.find("tr.summary").next().hide();
      $(this).parents(".rubric_association").find(":text:visible:first").focus().select();
    });
    $(".rubric_association .association_buttons .cancel_button").click(function() {
      $(this).parents(".rubric_association").removeClass('editing');
      rubricEditing.hideEditRubric($(this).parents(".rubric_association").find(".rubric"));
      if ($(this).parents(".rubric_association").attr('id') == 'association_new') {
        $(this).parents(".rubric_association").slideUp(function() {
          $(this).remove();
        });
      }
    });
    $(".rubric_association .delete_association_link").click(function(event) {
      event.preventDefault();
      $(this).parents(".rubric_association").confirmDelete({
        url: $(this).attr('href'),
        message: <%= jt('are_you_sure_prompt', "Are you sure you want to delete this assessment?  All results will be lost.") %>,
        success: function() {
          $(this).slideUp(function() {
            $(this).remove();
          });
        }
      });
    });
    $(".rubric_association .toggle_rubric_link").click(function(event) {
      event.preventDefault();
      $(this).parents(".rubric_association").find(".rubric_holder").slideToggle();
      $(this).text($(this).text() == "Show Rubric" ? "Hide Rubric" : "Show Rubric");
    });
    $(".rubric_association .association_buttons .save_button").click(function() {
      var $association = $(this).parents(".rubric_association");
      $association.loadingImage();
      var url = $association.attr('id') == 'association_new' ? $(".add_rubric_association_url").attr('href') : $association.find(".update_rubric_association_url").attr('href');
      var method = $association.attr('id') == 'association_new' ? "POST" : "PUT";
      var data = rubricEditing.rubricData($association.find(".rubric:first"));
      data = $.extend(data, $association.find(".association_edit").getFormData());
      data.match_assessment_to_association = "1";
      data['rubric_assessment[user_id]'] = $(".current_user_id").text();
      $.ajaxJSON(url, method, data, function(data) {
        var association = data.rubric_association;
        $association.loadingImage('remove')
        $association.fillTemplateData({
          data: association,
          hrefValues: ['id', 'rubric_id'],
          id: 'association_' + association.id
        });
        $association.find(".association_url").attr('href', association.url);
        for (var idx in association.assessment_requests) {
          var assessment = association.assessment_requests[idx];
          rubricAssociation.addAssessment($association, assessment);
        }
        $association.find(".association_buttons .cancel_button").click();
        var rubric = data.rubric;
        rubric.rubric_association_id = association.id;
        rubricEditing.updateRubric($association.find(".rubric:first"), rubric);
      });
    });
  });
});
</script>
<% end %>

<div id="rubrics">
  <div style="display: none;" id="rubric_parameters">
    <input type="hidden" name="association_type" value="<%= @context.class.to_s %>"/>
    <input type="hidden" name="association_id" value="<%= @context.id %>"/>
    <input type="hidden" name="purpose" value="bookmark"/>
  </div>
  <span class="current_user_id" style="display: none;"><%= @current_user.id %></span>
  <a href="<%= context_url(@context, :context_rubric_associations_url) %>" class="add_rubric_association_to_existing_rubric_url" style="display: none;">&nbsp;</a>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_association_url" style="display: none;">&nbsp;</a>
  <%= render :partial => "rubric_association", :collection => @rubric_associations %>
</div>
<%= render :partial => "rubric_association", :object => nil %>
<%= render :partial => "shared/rubric_forms" %>
