<% content_for :page_title, t(:page_title, "Rubrics") %>
<% add_crumb t('#crumbs.rubrics', "Rubrics") %>
<% content_for :right_side do %>
  <div class="rs-margin-all">
    <a href="<%= context_url(@context, :context_rubrics_url) %>" class="btn button-sidebar-wide add_rubric_link"><i class="icon-add"></i> <%= t('buttons.add_rubric', 'Add Rubric') %></a>
  </div>
<% end %>

<% js_bundle :edit_rubric %>
<% jammit_css :learning_outcomes %>
<% content_for :stylesheets do %>
<style>
#rubrics .find_rubric_link {
  display: none;
}
#rubrics ul {
  list-style-type: none;
  padding-left: 0px;
}
#rubrics ul li {
  padding: 3px 5px;
  margin-bottom: 5px;
}
#rubrics ul li .title {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}
#rubrics ul li .links {
  float: right;
  opacity: 0.5;
}
#rubrics ul li .details {
  clear: left;
  display: block;
  font-size: 0.7em;
  margin-left: 20px;
}
#rubrics ul li:hover {
  background-color: #eee;
  -moz-border-radius: 5px;
}
#rubrics ul li:hover .links {
  opacity: 1.0;
}
</style>
<% end %>
<% js_bundle 'legacy/rubrics_index' %>
<h1>
  <% case @context.class.to_s %>
    <% when 'Course' %>
      <%= t 'course_rubrics', "Course Rubrics" %>
    <% when 'User' %>
      <%= t 'user_rubrics', "User Rubrics" %>
    <% when 'Account' %>
      <%= t 'account_rubrics', "Account Rubrics" %>
  <% end %>
</h1>
<a href="<%= context_url(@context, :context_rubrics_url) %>" id="add_rubric_url" style="display: none;">&nbsp;</a>
<div id="rubrics" class="raw_listing">
  <ul>
  <% @rubric_associations.each do |association| %>
    <% rubric = association.rubric %>
    <li>
      <a href="<%= context_url(@context, :context_rubric_url, association.rubric_id) %>" class="title"><%= rubric.title %></a>
      <span class="links">
        <% if can_do(rubric, @current_user, :update) %>
          <a href="<%= context_url(@context, :context_rubric_url, association.rubric_id) %>#edit" class="hide-till-hover" aria-label="<%= t('edit_rubric', 'Edit Rubric') %>" title="<%= t('edit_rubric', 'Edit Rubric') %>"><i class="icon-edit standalone-icon"></i></a>
        <% end %>
        <% if can_do(association, @current_user, :delete) %>
          <a href="<%= context_url(@context, :context_rubric_url, rubric.id) %>" class="delete_rubric_link hide-till-hover" title="<%= t('delete_rubric', 'Delete Rubric') %>" aria-label="<%= t('delete_rubric', 'Delete Rubric') %>"><i class="icon-end standalone-icon"></i></a>
        <% end %>
      </span>
      <span class="details">
        <%= rubric.criteria.length %> <%= rubric.criteria.length == 1 ? 'criterion' : 'criteria' %><br/>
        <%= t('points_possible', {:one => "1 point possible", :other => "%{count} points possible"}, :count => rubric.points_possible) %>
      </span>
    </li>
  <% end %>
  </ul>
  <div style="display: none;" id="rubric_parameters">
    <input type="hidden" name="rubric_association[association_type]" value="<%= @context.class.to_s %>"/>
    <input type="hidden" name="rubric_association[association_id]" value="<%= @context.id %>"/>
    <input type="hidden" name="rubric_association[purpose]" value="bookmark"/>
  </div>
  <span class="current_user_id" style="display: none;"><%= @current_user.id %></span>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_association_url" style="display: none;">&nbsp;</a>
</div>
<%= render :partial => "shared/find_outcome" %>
<%= render :partial => "shared/rubric", :object => nil, :locals => {:for_context => true} %>
<%= render :partial => "shared/rubric_forms" %>
<%= render :partial => "shared/rubric_criterion_dialog" %>
