<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% provide :page_title do %><%= @actual_rubric.title %><% end %>
<% add_crumb t('#crumbs.rubrics', 'Rubrics'), context_url(@context, :context_rubrics_url) %>
<% add_crumb @actual_rubric.title %>

<% js_bundle :edit_rubric %>
<% css_bundle :learning_outcomes %>

  <style>
    #rubrics .find_rubric_link {
      display: none;
    }
    #rubrics .rubric_title .links {
      display: none;
    }
    #right-side-wrapper {
      height: 100%;
    }
  </style>

<% js_bundle 'rubrics_show' %>
<% if @context.root_account.feature_enabled?(:instui_nav) %>
  <div class="rubric-header">
    <div class="rubric-header-left">
      <h1 class="rubric-title"><%= @actual_rubric.title %></h1>
    </div>
    <div class="rubric-header-right" id="rubric-action-buttons">
      <% if !!js_env.dig(:PERMISSIONS, :manage_rubrics)%>
        <% if can_do(@actual_rubric, @current_user, :update) %>
          <a href="#" class="edit_rubric_link Button button-sidebar-wide"><i class="icon-edit" aria-hidden="true" style="margin-right: 7px;"></i> <%= t('titles.edit_rubric', 'Edit Rubric') %></a>
        <% else %>
          <%= t('rubric_can_not_modify', 'Rubrics cannot be modified once they have been used in more than one place.') %>
        <% end %>
        <% if can_do(@actual_rubric, @current_user, :delete) %>
          <a href="#" style="margin-left: 12px" class="delete_rubric_link Button button-sidebar-wide"><i class="icon-trash" aria-hidden="true" style="margin-right: 7px;"></i> <%= t('buttons.delete', 'Delete Rubric') %></a>
        <% end %>
      <% end %>
      <a href="<%= context_url(@context, :context_rubrics_url) %>" class="rubrics_url" style="display: none;">&nbsp;</a>
    </div>
  </div>
<% else %>
  <% provide :right_side do %>
    <div id="rubric-action-buttons">
      <% if !!js_env.dig(:PERMISSIONS, :manage_rubrics)%>
        <% if can_do(@actual_rubric, @current_user, :update) %>
          <a href="#" class="edit_rubric_link Button button-sidebar-wide"><i class="icon-edit" aria-hidden="true"></i> <%= t('titles.edit_rubric', 'Edit Rubric') %></a>
        <% else %>
            <%= t('rubric_can_not_modify', 'Rubrics cannot be modified once they have been used in more than one place.') %>
        <% end %>
        <% if can_do(@actual_rubric, @current_user, :delete) %>
          <a href="#" class="delete_rubric_link Button button-sidebar-wide"><i class="icon-trash" aria-hidden="true"></i> <%= t('buttons.delete', 'Delete Rubric') %></a>
        <% end %>
      <% end %>
      <a href="<%= context_url(@context, :context_rubrics_url) %>" class="rubrics_url" style="display: none;">&nbsp;</a>
    </div>
  <% end %>
<% end %>
<div id="rubrics" class="raw_listing">
  <% [@actual_rubric].each do |rubric| %>
    <%= render :partial => "shared/rubric", :object => rubric, :locals => {:association => @account, :editable => can_do(rubric, @current_user, :update), :edit_view => true, :for_context => true} %>
  <% end %>
  <div style="display: none;" id="rubric_parameters">
    <input type="hidden" name="rubric_association[association_type]" value="<%= @context.class.to_s %>"/>
    <input type="hidden" name="rubric_association[association_id]" value="<%= @context.id %>"/>
    <input type="hidden" name="rubric_association[purpose]" value="bookmark"/>
  </div>
  <span class="current_user_id" style="display: none;"><%= @current_user.id %></span>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_association_url" style="display: none;">&nbsp;</a>
</div>
<%= render :partial => "shared/find_outcome" %>
<%= render :partial => "shared/rubric", :object => nil %>
<%= render :partial => "shared/rubric_criterion_dialog" %>
