<% content_for :page_title do %><%= @actual_rubric.title %><% end %>
<% add_crumb t('#crumbs.rubrics', 'Rubrics'), context_url(@context, :context_rubrics_url) %>
<% add_crumb @actual_rubric.title %>

<% content_for :right_side do %>
  <div class="rs-margin-all">
  <% if can_do(@actual_rubric, @current_user, :update) %>
    <a href="#" class="edit_rubric_link button button-sidebar-wide"><%= image_tag "edit.png" %> <%= t('titles.edit_rubric', 'Edit Rubric') %></a>
  <% else %>
      <%= t('rubric_can_not_modify', 'Rubrics cannot be modified once they have been used in more than one place.') %>
  <% end %>
  <% if can_do(@actual_rubric, @current_user, :delete) %>
    <a href="#" class="delete_rubric_link button button-sidebar-wide"><%= image_tag "delete.png" %> <%= t('buttons.delete', 'Delete Rubric') %></a>
  <% end %>
  </div>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="rubrics_url" style="display: none;">&nbsp;</a>
<% end %>

<% js_bundle :edit_rubric %>
<% jammit_css :learning_outcomes %>
<% content_for :stylesheets do %>
<style>
#rubrics .find_rubric_link {
  display: none;
}
#rubrics .rubric_title .links {
  display: none;
}
</style>
<% end %>
<% js_block do %>
<script>
require([
  'i18nObj' /* I18n.t */,
  'jquery' /* $ */,
  'jquery.instructure_misc_plugins' /* fragmentChange */
], function(I18n, $) {
  $(document).ready(function() {
    $("#right-side .edit_rubric_link").click(function(event) {
      event.preventDefault();
      $(".rubric:visible:first .edit_rubric_link").click();
    });
    $("#right-side .delete_rubric_link").click(function(event) {
      event.preventDefault();
      var callback = function() {
        location.href = $(".rubrics_url").attr('href');
      }
      callback.confirmationMessage = <%= jt('prompts.are_you_sure_delete', "Are you sure you want to delete this rubric? Any course currently associated with this rubric will still have access to it, but, no new courses will be able to use it.") %>;
      $(".rubric:visible:first .delete_rubric_link").triggerHandler('click', callback);
    });
    $(document).fragmentChange(function(event, hash) {
      if(hash == '#edit') {
        $("#right-side .edit_rubric_link").click();
      }
    });
  });
});
</script>
<% end %>
<h2><%= @actual_rubric.title %></h2>
<div id="rubrics" class="raw_listing">
  <% [@actual_rubric].each do |rubric| %>
    <%= render :partial => "shared/rubric", :object => rubric, :locals => {:association => @account, :editable => can_do(rubric, @current_user, :update), :edit_view => true, :for_context => true} %>
  <% end %>
  <div style="display: none;" id="rubric_parameters">
    <input type="hidden" name="rubric_association[association_type]" value="<%= @context.class.to_s %>"/>
    <input type="hidden" name="rubric_association[association_id]" value="<%= @context.id %>"/>
    <input type="hidden" name="rubric_association[purpose]" value="bookmark"/>
  </div>
  <span class="current_user_id" style="display: none;"><%= @current_user.id %></span>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_association_url" style="display: none;">&nbsp;</a>
</div>
<%= render :partial => "shared/find_outcome" %>
<%= render :partial => "shared/rubric", :object => nil %>
<%= render :partial => "shared/rubric_forms" %>
<%= render :partial => "shared/rubric_criterion_dialog" %>
