<% content_for :page_title do %><%= @actual_rubric.title %><% end %>
<% add_crumb t('#crumbs.rubrics', 'Rubrics'), context_url(@context, :context_rubrics_url) %>
<% add_crumb @actual_rubric.title %>

<% content_for :right_side do %>
  <% if can_do(@actual_rubric, @current_user, :update) %>
    <a href="#" class="edit_rubric_link btn button-sidebar-wide"><i class="icon-edit"></i> <%= t('titles.edit_rubric', 'Edit Rubric') %></a>
  <% else %>
      <%= t('rubric_can_not_modify', 'Rubrics cannot be modified once they have been used in more than one place.') %>
  <% end %>
  <% if can_do(@actual_rubric, @current_user, :delete) %>
    <a href="#" class="delete_rubric_link btn button-sidebar-wide"><i class="icon-end"></i> <%= t('buttons.delete', 'Delete Rubric') %></a>
  <% end %>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="rubrics_url" style="display: none;">&nbsp;</a>
<% end %>

<% js_bundle :edit_rubric %>
<% css_bundle :learning_outcomes %>
<% content_for :stylesheets do %>
  <style>
    #rubrics .find_rubric_link {
      display: none;
    }
    #rubrics .rubric_title .links {
      display: none;
    }
  </style>
<% end %>
<% js_bundle 'legacy/rubrics_show' %>
<h2><%= @actual_rubric.title %></h2>
<div id="rubrics" class="raw_listing">
  <% [@actual_rubric].each do |rubric| %>
    <%= render :partial => "shared/rubric", :object => rubric, :locals => {:association => @account, :editable => can_do(rubric, @current_user, :update), :edit_view => true, :for_context => true} %>
  <% end %>
  <div style="display: none;" id="rubric_parameters">
    <input type="hidden" name="rubric_association[association_type]" value="<%= @context.class.to_s %>"/>
    <input type="hidden" name="rubric_association[association_id]" value="<%= @context.id %>"/>
    <input type="hidden" name="rubric_association[purpose]" value="bookmark"/>
  </div>
  <span class="current_user_id" style="display: none;"><%= @current_user.id %></span>
  <a href="<%= context_url(@context, :context_rubrics_url) %>" class="add_rubric_association_url" style="display: none;">&nbsp;</a>
</div>
<%= render :partial => "shared/find_outcome" %>
<%= render :partial => "shared/rubric", :object => nil %>
<%= render :partial => "shared/rubric_forms" %>
<%= render :partial => "shared/rubric_criterion_dialog" %>
