<div id="summary_quiz_{{id}}"
  {{#if can_update}}
    class="
    ig-row
    {{#if publishable}}ig-publishable{{/if}}
    {{#if published}}ig-published{{/if}}
    ig-editable"
  {{else}}
    class="ig-row"
  {{/if}}
>
  <div class="ig-row__layout">

    <div class="ig-type-icon">
      <i class="icon-quiz" aria-hidden="true"></i>
    </div>

    <div class="ig-info">
      <a href="{{url}}" class="ig-title">
        {{title_label}}
      </a>
      <div class="ig-details">
        {{#if showAvailability }}
        <div class="ig-details__item date-available" data-view="date-available"></div>
        {{/if}}
        {{#if showDueDate }}
        <div class="ig-details__item date-due" data-view="date-due"></div>
        {{/if}}
        {{#if possible_points_label}}
          <div class="ig-details__item">{{possible_points_label}}</div>
        {{/if}}
        {{#if question_count_label}}
          <div class="ig-details__item">{{question_count_label}}</div>
        {{/if}}
      </div>
    </div>

    {{#if can_update}}
    <div class="ig-admin">
      {{#if cyoe.isTrigger}}
      <a href="{{edit_url}}?return_to={{return_to}}#mastery-paths-editor" title="{{#t}}Edit Mastery Paths for {{title_label}}{{/t}}">{{#t}}Mastery Paths{{/t}}</a>
      {{/if}}
      {{#if cyoe.isReleased}}
      <span class="pill mastery-path-icon" aria-hidden="true" data-tooltip title="{{#t}}Released by Mastery Path: {{cyoe.releasedLabel}}{{/t}}">
        <i class="icon-mastery-path"></i>{{cyoe.releasedLabel}}
      </span>
      <span class="screenreader-only">{{#t}}Released by Mastery Path: {{cyoe.releasedLabel}}{{/t}}</span>
      {{/if}}
      <span class="sis-button" data-view="sis-button"></span>
      <span data-view="lock-icon" class="lock-icon"></span>
      <span data-view="publish-icon" class="publish-icon"></span>

      <div class="inline-block">
        <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="ui-id-{{id}}-1" href="#">
          <i class="icon-more" aria-hidden="true"></i>
          <span class="screenreader-only">{{#t}}Options for {{title_label}}{{/t}}</span>
        </a>

        <ul id="ui-id-{{id}}-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="ui-id-{{id}}-2">
          <li role="presentation">
            <a href="{{edit_url}}" id="ui-id-{{id}}-2" class="icon-edit" tabindex="-1" role="menuitem" title='{{#t}}Edit Quiz{{/t}}'>{{#t}}Edit{{/t}}</a>
          </li>
          {{#if cyoe.isCyoeAble}}
          <li role="presentation">
              <a href="{{edit_url}}?return_to={{return_to}}#mastery-paths-editor" class="icon-mastery-path" tabindex="-1" role="menuitem" title="{{#t}}Edit Mastery Paths for {{title_label}}{{/t}}">{{#t}}Mastery Paths{{/t}}</a>
          </li>
          {{/if}}
          {{#unless is_locked}}
            <li role="presentation">
            {{#if permissions.delete}}
              <a href="{{url}}" id="ui-id-{{id}}-3" class="delete-item icon-trash" tabindex="-1" role="menuitem" title='{{#t}}Delete Quiz{{/t}}'>{{#t}}Delete{{/t}}</a>
            {{else}}
              <a id="ui-id-{{id}}-3" class="delete-item icon-trash disabled" aria-disabled="true" tabindex="-1" role="menuitem" title='{{#t}}Delete Quiz{{/t}}'>{{#t}}Delete{{/t}}</a>
            {{/if}}
            </li>
          {{/unless}}
          {{#if migrateQuizEnabled}}
            <li role="presentation">
              <a href="#" id="ui-id-{{id}}-4" class="icon-export migrate" tabindex="-1" role="menuitem" title='{{#t}}Migrate Quiz{{/t}}'>{{#t}}Migrate{{/t}}</a>
            </li>
          {{/if}}
          {{>ExternalTools/external_tools_menu quiz_menu_tools}}
        </ul>
      </div>
    </div>
    {{/if}}

  </div>
</div>
