{{yield}}
<div class="button-container">
  <button class="btn btn-primary confirm-dialog-confirm-btn" {{action 'confirm'}}>
    {{confirm-text}}
  </button>

  <button class="btn confirm-dialog-cancel-btn" {{action 'cancel'}}>
    {{cancel-text}}
  </button>
</div>
