<form class="form-dialog" {{bind-attr id=id}}>
  <div class="form-dialog-content">
    {{yield}}
  </div>

  <div class="form-controls">
    <button class="btn confirm-dialog-cancel-btn" {{action 'cancel'}}>
      {{cancel-text}}
    </button>

    <button class="btn btn-primary confirm-dialog-confirm-btn" {{action 'confirm'}} {{bind-attr disabled=submit-disabled}}>
      {{confirm-text}}
    </button>
  </div>
</form>
