{{#if multipleDates}}

  <strong>{{multipleDatesLabel}}</strong>

  {{#ic-tooltip title=multipleDatesTitle linkHref=linkHref}}
    <dl class="vdd_tooltip_content dl-horizontal">
      {{#each date in statusDates}}
        <div class="clearfix">
          <dt>{{date.title}}</dt>
          <dd>
            <dd>
              {{#if showDueDates}}
                {{#if date.dueDate}}
                  {{tDateToString date.dueDate 'short'}}
                {{else}}
                  -
                {{/if}}
              {{else}}
                {{date.availableMultiLabel}}
                {{tDateToString date.availableDate 'short'}}
              {{/if}}
            </dd>
          </dd>
        </div>
      {{/each}}
    </dl>
  {{/ic-tooltip}}

{{else}}
    {{#if singleDate}}
      <strong>{{singleDateLabel}}</strong>
      {{tDateToString singleDateValue singleFormat}}
    {{/if}}
{{/if}}
