<a title class="vdd_tooltip_link"
  {{bind-attr aria-labelledby='selectorId'}}
  {{bind-attr data-tooltip-selector='selectorId'}}
  {{bind-attr href='linkHref'}}>
  {{title}}
</a>
<div style="display:none;" {{bind-attr id='selectorId'}}>
  {{yield}}
</div>
