<% content_for :page_title do %><%= @association.title %><% end %>
<% @users = @assessments.map{|a| a.assessor} %>
<% js_block do %>
<script>
  var fileIndex = 1;
  var students = [<%= @assessments.map{|a| "\"#{a.id}\"" }.join(",") %>];
  var submissionData = {};
  <% @assessments.each do |assessment|
    student = assessment.assessor
  %>
    submissionData["<%= assessment.id %>"] = <%= data = {}
      data[:user] = student
      data[:id] = assessment.id
      data[:assessment] = assessment
      raw data.to_json(:include_root => false)
    %>;
  submissionData.rubric_association_id = <%= @association.id %>;
  <% end %>
  var currentIndex = 0;
  var currentStudent = students[currentIndex];
  function fillData(clear) {
    $("#navigation_links,.student_name_option,#assessor_count_message").showIf(students.length > 1);
    var data = submissionData[currentStudent];
    var url = $("#submission_" + data.id + "_url").attr('href'); //data.url;
    $(".content_frame").hide();
    var $content = $("#submission_content_" + data.id).show();
    if(url && $content.attr('src') != url) {
      $content.attr('src', url);
    }
    $content.focus()
    $("#student_name").text(data.user.name);
    $("#gradebook_rubric .rubric").each(function() {
      var $rubric = $(this);
      var id = $rubric.attr('id').substring(7);
      $rubric.find(".criterion_description").removeClass('completed').removeClass('original_completed').end()
        .find(".rating").removeClass('selected').removeClass('original_selected').end()
        .find(".criterion_points").val("").change();
      if(submissionData[currentStudent].assessment) {
        var assessment = submissionData[currentStudent].assessment;
        for(var idx in assessment.data) {
          var rating = assessment.data[idx];
          if(rating.points || rating.points === 0) {
            $rubric.find("#criterion_" + rating.criterion_id)
              .find(".criterion_description").addClass('original_completed').end()
              .find("#rating_" + rating.id).addClass('original_selected').end()
              .find(".criterion_points").val(rating.points).change();
          }
        }
      }
    });
    $("#gradebook_comment .submission_comments").empty();
    $("#gradebook_comment textarea").val(data.assessment && data.assessment.comments);
    $("#assessment_comments_body").text(data.assessment && data.assessment.comments);
    $("#student_index").text(currentIndex + 1);
    $(".score_box .grading_value").val("").val(data.submission && data.submission.grade ? data.submission.grade : "");
    $(".score_box .score").text(data.submission && data.submission.score ? data.submission.score : "");
    $("#comment").val("");
//    $(".score").fillTemplateData({
//      data: data
//    });
    updateTallies();
    $(".prev_link").attr('disabled', currentIndex < 1);
    $(".next_link").attr('disabled', currentIndex >= students.length - 1);
    if(clear) {
      hideRubric();
      hideComment();
    }
    $("#next_content").hide();
    $("#prev_content").hide();
    if((data.submission && data.submission.grade != null && data.submission.grade != "") || (data.submission && data.submission.submission_comments && data.submission.submission_comments.length > 0)) {
      showSummary();
    } else {
      hideSummary();
    }
    var url = $("#next_content").attr('src');
    if(currentIndex + 1 < students.length) {
      var url = $("#submission_" + students[currentIndex + 1] + "_url").attr('href');
      var $next = $("#submission_content_" + students[currentIndex + 1]);
      if($next.length > 0 && url && $next.attr('src') != url) {
        $next.attr('src', url);
      }
    }
    var url = $("#prev_content").attr('src');
    if(currentIndex > 0) {
      var url = $("#submission_" + students[currentIndex - 1] + "_url").attr('href');
      var $prev = $("#submission_content_" + students[currentIndex - 1]);
      if($prev.length > 0 && url && $prev.attr('src') != url) {
        $prev.attr('src', url);
      }
    }
  }
  function updateTallies() {
    var total = 0.0;
    var tally = 0.0;
    var isLoading = false;
    for(var i in submissionData) {
      if(submissionData[i].submission && submissionData[i].submission.score == "...") {
        isLoading = true;
      } 
      if(submissionData[i].submission && submissionData[i].submission.score != null && submissionData[i].submission.score != "") {
        pts = parseFloat(submissionData[i].submission.score);
        if(!isNaN(pts)) {
          total += pts;
        }
        tally += 1;
      }
    }
    var avg = total / tally;
    if(isNaN(avg) || !isFinite(avg)) { avg = 0; }
    avg = Math.round(avg * 10) / 10;
    if(isLoading) { avg = "..."; }
    $(".grade_average").text(avg);
    $(".submissions_graded").text(tally);
    $(".total_submissions").text(students.length);
  }
  function showSummary() {
    var submission = submissionData[currentStudent].submission;
    $("#grade_summary").fillTemplateData({
      data: submission
    });
    var comments = 0;
    if(submission && submission.submission_comments) {
      comments = submission.submission_comments.length;
    }
    $("#grade_summary").find("#comment_message").text(comments + " Comments");
    $("#grade_summary").show().fadeTo('normal', 0.9);
  }
  function hideSummary() {
    $("#grade_summary").hide();//fadeTo('normal', 0.0);
  }
  function showRubric() {
    var offset = $(".header").offset();
    var width = $(".header").outerWidth();
    var height = $("#gradebook_header").outerHeight();
    var rubricWidth = $("#gradebookrubric").outerWidth();
    $("#gradebook_rubric .rubric:visible").find(".rating.selected").removeClass('selected').end()
      .find(".criterion_description.completed").removeClass('completed').end()
      .find(".rating.original_selected").addClass('selected').end()
      .find(".criterion_description.original_completed").addClass('completed');
    $("#gradebook_rubric").css('right', 0)
      .css('top', height - 1)
      .fadeIn('normal', function() {
        if($(this).css('display') == "block") {
          $(".score_box .grading_value").focus();
        }
        $("#gradebook_rubric .rubric:visible")
          .find(".rating.original_selected").addClass('selected').end()
          .find(".criterion_description.original_completed").addClass('completed');
      });
    $("#gradebook_comment").hide();
  }
  function hideRubric() {
    $("#gradebook_rubric .rubric:visible").find(".rating.selected").removeClass('selected').end()
      .find(".criterion_description.completed").removeClass('completed');
    $("#gradebook_rubric").fadeOut('normal', function() {
      $("#gradebook_rubric .rubric:visible")
        .find(".rating.original_selected").addClass('selected').end()
        .find(".criterion_description.original_completed").addClass('completed');
    });
    $("#submission_content").focus();
  }
  function toggleRubric() {
    if($(".rubric_link:visible").length == 0) { return; }
    if($("#gradebook_rubric").css('display') == "block") {
      hideRubric();
    } else {
      showRubric();
    }
  }
  function showComment() {
    $("#comment").val(submissionData[currentStudent].submission ? submissionData[currentStudent].submission.comment : "");
    var offset = $(".header").offset();
    var height = $("#gradebook_header").outerHeight();
    var rubricWidth = $("#gradebook_comment").outerWidth();
    $("#gradebook_comment").css('right', 0)
      .css('top', height - 1)
      .fadeIn('normal', function() {
        $("#gradebook_comment").css('overflow', 'auto');
        setTimeout("$('#gradebook_comment').show().find('#comment').focus()", 10);
      });
    $("#gradebook_comment textarea").select();
    $("#gradebook_rubric").hide();
  }
  function hideComment() {
    $("#submission_content").focus();
    $("#gradebook_comment").fadeOut('normal');
  }
  function toggleComment() {
    if($("#gradebook_comment").css('display') == "block") {
      hideComment();
    } else {
      showComment();
    }
  }
  function revertContent() {
//    if($("#other_content").length > 0) {
//      $("#submission_content").attr('id', 'no_content');
//      $("#other_content").attr('id', 'submission_content');
//    }
  }
  function next() {
//    updateData(true);
    currentIndex++;
    if(currentIndex >= students.length) {
      currentIndex = students.length - 1;
      currentStudent = students[currentIndex];
      return;
      //alert("This is the last entry");
    }
    currentStudent = students[currentIndex];
    var content = $("#submission_content").hide().parents("tr").hide().end();
    var next = $("#next_content").show().parents("tr").show().end();
    var prev = $("#prev_content").hide().parents("tr").hide().end();
    $("#no_content").hide().parents("tr").hide();
    next.attr('id', 'submission_content');
    content.attr('id', 'prev_content');
    prev.attr('id', 'next_content');
    fillData(true);
  }
  function prev() {
    revertContent();
    revertContent();
    currentIndex--;
    if(currentIndex < 0) {
      currentIndex = 0;
      currentStudent = students[currentIndex];
      return;
      //alert("This is the first entry");
    }
    currentStudent = students[currentIndex];
    var content = $("#submission_content").hide().parents("tr").hide().end();
    var next = $("#next_content").hide().parents("tr").hide().end();
    var prev = $("#prev_content").show().parents("tr").show().end();
    $("#no_content").hide().parents("tr").hide();
    next.attr('id', 'prev_content');
    content.attr('id', 'next_content');
    prev.attr('id', 'submission_content');
    fillData(true);
  }
  function resizeFrame() {
    var height = $(window).height();
    var topHeight = $("#gradebook_header").outerHeight();
    $(".content_frame").height(height - topHeight - 1);
  }
  function updateData(background) {
    revertContent();
    var data = submissionData[currentStudent];
    data.submission = data.submission || {};
    data.submission.grade = $(".score_box .grading_value").val();
    data.submission.comment = $("#comment").val();
    var $form = $("#update_submission_form");
    var formData = {
      'rubric_assessment[comments]': $("#gradebook_comment textarea").val(),
      'rubric_assessment[assessment_type]': 'invited_assessment'
    };
    $("#gradebook_header").loadingImage();
    $("#gradebook_comment").loadingImage();
    var formSuccess = function(data) {
      $("#gradebook_header").loadingImage('remove_once');
      $("#gradebook_comment").loadingImage('remove_once');
      var assessment = data.rubric_assessment;
      submissionData[assessment.id].assessment = assessment;
      if(currentStudent == assessment.id) {
        fillData();
      }
    };
    var formError = function(data) {
      if(!background) {
        $("#gradebook_header").loadingImage('remove_once');
        $("#gradebook_comment").loadingImage('remove_once');
      }
//      alert("error" + data);
    };
    var url = $(".edit_assessment_link").attr('href');
    url = $.replaceTags(url, 'rubric_association_id', submissionData.rubric_association_id);
    url = $.replaceTags(url, 'assessment_id', submissionData[currentStudent].id)
    if($("#gradebook_comment:visible").length > 0 && $("#gradebook_comment .comment_attachments input[type='file']").length > 0) {
      formData['submission[comment]'] = formData['submission[comment]'] || "See attached files";
      $.ajaxJSONFiles(url + ".text", 'PUT', formData, $("#gradebook_comment .comment_attachments input[type='file']"), formSuccess, formError);
    } else {
      $.ajaxJSON(url, 'PUT', formData, formSuccess, formError);
    }
    //fillData();
    revertContent();
  }
$(document).ready(function() {
  fillData();
  resizeFrame();
  $(window).resize(resizeFrame);
  $(".prev_link").click(function(event) {
    event.preventDefault();
    prev();
  });
  $(".next_link").click(function(event) {
    event.preventDefault();
    next();
  });
  $(".score_box .grading_value").change(function() {
    updateData()
  });
  $("#comment").keydown(function(event) {
    if(event.keyCode == 13 && event.ctrlKey) { // ctrl-enter
      updateData();
//      submissionData[currentStudent].comment = $("#comment").val();
      event.preventDefault();
      hideComment();
    } else if (event.keyCode == 27) { // esc
//      submissionData[currentStudent].comment = $("#comment").val();
      event.preventDefault();
      fillData(true);
      hideComment();
    }
  });
  $(document).keydown(function(event) {
    if (event.keyCode == 27) { event.preventDefault(); event.stopPropagation(); return false; }
  });
  $(".save_comment_button").click(function(event) {
    updateData();
//    submissionData[currentStudent].comment = $("#comment").val();
    event.preventDefault();
//    hideComment();
  });
  $(".hide_rubric_link").click(function(event) {
    event.preventDefault();
    hideRubric();
  });
  $(".cancel_comment_button").click(function(event) {
    event.preventDefault();
    $("#gradebook_comment > .comment_attachments").empty();
    hideComment();
  });
  $(".rubric_link").click(function(event) {
    event.preventDefault();
    showRubric();
  });
  $(".comment_link").click(function(event) {
    event.preventDefault();
    showComment();
  });
  $(".score_box .grading_value").blur(function() {
    var score = $(this).val();
    if(!submissionData[currentStudent].submission || score != submissionData[currentStudent].submission.grade) {
      updateData();
    }
//    submissionData[currentStudent].score = $(".score_box .grading_value").val();
//    fillData()
  });
  $(".student_name_option").click(function() {
    options = {};
    for(idx in students) {
      var student = submissionData[students[idx]].user;
      var studentName = student.name;
      var i = idx;
      if(!studentName || studentName == "New Student") {
        studentName = student.email;
      }
      if(student.grade) {
//        studentName += " (" + student.score + ")";
      }
      options[studentName] = function() {
//        updateData(true);
        var i = $(this).parent().children(".option").index($(this));
        currentIndex = i;
        currentStudent = students[i];
        fillData(true);
      };
    }
    $(this).dropdownList({ options: options, height: 200, width: 200 });
  });
  $(document).keydown(function(event) {
    if($(event.target).hasClass("keyAllow")) {
      return true;
    } else if(event.keyCode == 75) { // k
      event.preventDefault();
      prev();
    } else if (event.keyCode == 74) { // j
      event.preventDefault();
      next();
    } else if (event.keyCode == 71) { // g
      event.preventDefault();
      $(".score_box .grading_value").focus().select();  
    } else if (event.keyCode == 83) { // s
      event.preventDefault();
      $('.score_box .grading_value').focus();
    } else if (event.keyCode == 9) { // tab
//      event.preventDefault();
//      if(event.shiftKey) {
//        prev();
//      } else {
//        next();
//      }
    } else if (event.keyCode == 70) { // f
      event.preventDefault();
      toggleComment();
    } else if (event.keyCode == 82) { // r
      event.preventDefault();
      toggleRubric();
    } else if (event.keyCode == 13) { // enter
      event.preventDefault();
      hideRubric();
      updateData();
    } else if (event.keyCode == 27) { // esc
      event.preventDefault();
      hideRubric();
//      fillData();
    }
  });
  $("#gradebook_rubric .rubric.assessing .rating").click(function(event) {
    event.preventDefault();
    $(this).parents(".criterion").find(".rating.selected").removeClass('selected')
    $(this).addClass('selected');
    $(this).parents(".criterion").find(".criterion_points").val($(this).find(".points").text()).change();
  });
  $("#gradebook_rubric .clear_button").click(function(event) {
    event.preventDefault();
    $(this).parents("#gradebook_rubric").find(".rubric:visible").find(".rating.selected").removeClass('selected').end()
      .find(".criterion_description.completed").removeClass('completed').end()
      .find(".criterion_points").val("").end()
      .find(".rubric_total").val("0").end();
    $("#gradebook_rubric .save_button").click();
  });
  $("#gradebook_rubric .save_button").click(function() {
    var $rubric = $("#gradebook_rubric .rubric:visible:first");
    var url = $rubric.find(".edit_assessment_link").attr('href');
    url = $.replaceTags(url, 'rubric_association_id', submissionData.rubric_association_id);
    url = $.replaceTags(url, 'assessment_id', submissionData[currentStudent].id)
    var method = 'PUT';
    if($rubric.find(".criterion_description.completed:visible").length == 0) {
      method = 'DELETE';
    }
    var data = {};
    
    $rubric.find(".criterion:visible").each(function() {
      var id = $(this).attr('id');
      var pre = "rubric_assessment[" + id + "]";
      data[pre + "[points]"] = $(this).find(".criterion_points").val();
      if($(this).find(".rating.selected")) {
        data[pre + "[description]"] = $(this).find(".rating.selected .description").text();
      }
    });
    data['rubric_assessment[assessment_type]'] = 'invited_assessment'
    $rubric.loadingImage();
    $.ajaxJSON(url, method, data, function(data) {
      $rubric.loadingImage('remove');
      $rubric.find(".rating").removeClass('selected').removeClass('original_selected').end()
        .find(".criterion_description").removeClass('completed').removeClass('original_completed');
      var assessment = data.rubric_assessment || {};
      if(method == 'DELETE') {
        var id = $rubric.attr('id').substring(7);
        delete submissionData[currentStudent].assessment;
        $rubric.find(".criterion_description").removeClass('completed').removeClass('original_completed').end()
          .find(".rating").removeClass('selected').removeClass('original_selected').end()
          .find(".criterion_points").val("").change();
      } else {
        for(var idx in assessment.ratings) {
          var rating = assessment.ratings[idx];
          var $criterion = $rubric.find("#criterion_" + rating.criterion_id);
          $criterion.find(".criterion_description").addClass('completed').addClass('original_completed');
          $criterion.find("#rating_" + rating.id).addClass('selected').addClass('original_selected');
          $criterion.find(".criterion_points").val(rating.points).change();
        }
        if(assessment.artifact) {
          submissionData[currentStudent].submission = assessment.artifact.submission
        }
        submissionData[currentStudent].assessment = assessment;
        fillData();
      }
    });
  });
  $("#gradebook_rubric input.criterion_points").bind('change blur', function() {
    var $rubric = $(this).parents(".rubric");
    var $criterion = $(this).parents(".criterion");
    var points = $(this).val();
    $criterion.find(".rating.selected").removeClass('selected');
    if(points && points.length > 0 && !isNaN(points)) {
      $criterion.find(".criterion_description").addClass("completed");
    }
    $criterion.find(".rating").each(function() {
      var val = parseInt($(this).find(".points").text(), 10);
      if(!isNaN(val) && val == parseInt(points)) {
        $(this).addClass('selected');
      }
    });
    var total = 0;
    $rubric.find(".criterion_points:visible").each(function() {
      var score = parseInt($(this).val(), 10);
      if(isNaN(score)) { score = 0; }
      total += score;
    });
    $rubric.find(".rubric_total").text(total);
  });
  $(".score_box .grading_box").show();
  $("html,body").css('overflow', 'hidden');
  $(".attach_comment_file_link").click(function(event) {
    event.preventDefault();
    var $attachment = $("#comment_attachment_input_blank").clone(true).removeAttr('id');
    $attachment.find("input").attr('name', 'attachments[' + (fileIndex++) + '][uploaded_data]');
    $("#gradebook_comment > .comment_attachments:first").append($attachment.slideDown());
  });
  $(".delete_comment_attachment_link").click(function(event) {
    event.preventDefault();
    $(this).parents(".comment_attachment_input").slideUp(function() {
      $(this).remove();
    });
  });
});
</script>
<% end %>
<% content_for :stylesheets %>
<style>
a {
  color: #eee;
}
#student_name {
  font-family: arial, sans-serif;
}
.student_name_option {
  width: 16px;
  height: 16px;
  background-image: url('/images/menu_option_faint.png');
  cursor: pointer;
}
.student_name_option:hover {
  background-image: url('/images/menu_option_hover.png');
}
#course {
  font-size: 0.8em;
  font-family: Arial;
  margin-left: 10px;
  vertical-align: bottom;
  color: #ccc;
}
#assignment {
  font-family: Arial;
  font-size: 1.5em;
}
.floater {
  float: left;
  margin-left: 10px;
}
.message {
  color: #ccc;
  font-size: 0.8em;
  padding-bottom: 20px;
}
.grade_average {
  color: #fff;
  font-weight: bold;
}
.assignment_description {
  padding-left: 30px;
}
#gradebook_header {
  background: #444;
  border-bottom: 2px solid #000; 
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
.links {
  float: right;
  margin-top: 0px;
  padding-right: 0px;
}
.links a {
  color: #ddd;
  font-family: Arial;
  font-size: 0.8em;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}
.score_box {
  float: right;
  margin-right: 50px;
  padding-top: 0px;
}
.popup {
  position: absolute;
  background: #eee;/* url(images/shadow_back.png) repeat-x;*/
  border: 1px solid #000;
  padding: 5px;
  display: none;
  overflow: hidden;
}
#grade_summary {
  position: fixed;
  right: 20px;
  bottom: 2px;
  background: #fff;
  filter: alpha(opacity=0);
  opacity: 0.0;
}
.popup .popup_header {
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 20px;
}
.popup .popup_content {
  font-size: 0.8em;
}
.popup a {
  color: #444;
}
.popup a.big_link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0.5em;
  color: #000;
}
.rubric_title {
  display: none;
}
#gradebook_rubric table.rubric {
  margin-top: 5px;
}
</style>
<% end %>
<div id="grade_summary" class="popup" style="min-width: 200px;">
  <div style="float: right;"><a href="#" class="big_link" onclick="hideSummary()">&#215;</a></div>
  <div class="popup_header">Score: <span id="grade_display" class="grade"></span>
  </div>
  <div class="popup_content comment" id="comment_message" style="margin-left: 20px;">
  </div>
</div>
<div id="gradebook_comment" class="popup" style="width: 300px; padding: 5px;">
  
  <div id="assessment_comments_body" style="<%= hidden if @assessing %>"></div>
  <textarea id="assessment_comments" style="width: 95%; <%= hidden unless @assessing %>"></textarea>
  <div class="button-container" style="<%= hidden unless @assessing %>">
    <button type="button" class="save_comment_button button">Save</button>
    <button type="button" class="cancel_comment_button button-secondary">Cancel</button>
  </div>
  <div style="<%= hidden if @assessing %> text-align: right;">
    <a href="#" class="cancel_comment_button">Close</a>
  </div>
</div>
<div id="gradebook_rubric" class="popup" style="min-width: 300px;">
  <%= render :partial => "shared/rubric", :object => @association.rubric, :locals => {:association => @association.association, :editable => false, :assessing => @assessing} %>
  <div class="button-container" style="<%= hidden unless @assessing %>">
    <button type="button" class="save_button button">Save</button>
    <a href="#" class="hide_rubric_link button-secondary">Cancel</a>
  </div>
  <div style="<%= hidden if @assessing %> text-align: right;">
    <a href="#" class="hide_rubric_link">Close</a>
  </div>
  <div style="clear: right;"></div>
</div>
<div id="gradebook_header">
  <% form_tag({ :controller => :gradebooks, :course_id => @context.id, :action => :update_submission }, { :id => "update_submission_form", :style => "padding: 0; margin: 0" }) do %>
    <div class="floater" style="padding-top: 5px;">
      <%= image_tag "logo_small.png" %>
    </div>
    <div class="floater">
      <div style="margin-bottom: 5px;">
        <span id="student_name"></span>
        <%= image_tag 'blank.png', :class => 'student_name_option' %>
      </div>
      <div id="navigation_links" class="button-container">
        <button type="button" class="prev_link">Previous</button>
        <button type="button" class="next_link">Next</button>
      </div>
    </div>
    <div class="floater assignment_description">
      <div id="assignment"><%= @association.title %></div>
      <div id="course"><%= @context.name %></div>
      <div id="assessor_count_message"><span id="student_index">0</span> of <span class="total_submissions">0</span> Assessors</div>
    </div>
    <div class="floater links">
      <% if @association.rubric %>
      <a href="#" class="rubric_link">Rubric</a><br/>
      <% end %>
      <a href="#" class="comment_link">Feedback</a>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
<div style="display: none;">
<% @assessments.each do |student| %>
  <a id="submission_<%= student.id %>_url" href="<%= student.assessment_url %>">&nbsp;</a>
<% end %>
</div>
<div id="submission">
  <% @assessments.each do |student| %>
    <iframe id="submission_content_<%= student.id %>" class="content_frame" src="/loading_submission.html" style="border: 0px; width: 100%; height: 300px;"></iframe>
  <% end %>
  <iframe id="submission_content" class="content_frame" src="" style="border: 0px;  width: 100%; height: 300px;"></iframe>
  <iframe id="next_content" src="" class="content_frame" style="border: 0px;  width: 100%; height: 300px;"></iframe>
  <iframe id="prev_content" src="" class="content_frame" style="border: 0px;  width: 100%; height: 300px;"></iframe>
  <iframe id="no_content" class="no_content content_frame" src="about:blank" style="border: 0px;  width: 100%; height: 300px;"></iframe>
</div>
