<% 
  context_module = context_module_next
  editable ||= can_do(@context, @current_user, :manage_content)
  workflow_state = context_module && context_module.workflow_state
  published_status = context_module && context_module.published? ? 'published' : 'unpublished'
  @modules ||= []
%>
<% cache_if_module(context_module, editable, true) do %>

<div
  class="item-group-condensed context_module
    <%= 'editable_context_module' if editable %>"
    aria-label="<%= context_module ? context_module.name : "" %>"
    data-workflow-state="<%= context_module ? context_module.workflow_state : "{{ workflow_state }}"%>"
    data-module-url="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>"
    data-module-id="<%= context_module ? context_module.id : "{{ id }}" %>"
    id="context_module_<%= context_module ? context_module.id : "blank" %>"
    style="<%= hidden unless context_module %>"
>
  <a name="module_<%= context_module.id if context_module %>"></a>
  <div class="ig-header header">
    <span
      class="sortable-handle reorder_module_link"
      title="<%= t('reorder_modules', %{Drag to reorder modules}) %>"
      style="<%= hidden unless @modules.length > 1 && editable %>"
    >
      <a aria-label="<%= t('reorder_modules', 'Drag to reorder modules') %>" href="#" class="icon-drag-handle"></a>
    </span>
    <a
      href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/reorder"
      rel="nofollow"
      class="reorder_items_url"
      style="display: none;">&nbsp;</a>
    <h2
      href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/collapse"
      class="ig-header-title collapse_module_link"
      aria-controls="context_module_content_<%= context_module && context_module.id %>"
    >
      <i class="icon-mini-arrow-down"></i>
      <span class="name"><%= context_module.try_rescue(:name) || nbsp %></span>
    </h2>
    <h2
      href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/collapse"
      class="ig-header-title expand_module_link"
      aria-controls="context_module_content_<%= context_module && context_module.id %>"
    >
      <i class="icon-mini-arrow-right"></i>
      <span class="name"><%= context_module.try_rescue(:name) || nbsp %></span>
    </h2>



    <div class="ig-header-admin">
      <span class="completion_status" style="<%= "visibility: hidden;" if !context_module || (context_module.completion_requirements || []).empty? %>">
        <i class="icon-check complete_icon"><span class="screenreader-only"><%= t('images.title.complete', "Module Completed") %></span></i>
        <%= image_tag "blank.png", :alt => t('images.alt.incomplete', "incomplete"), :title => t('images.title.incomplete', "Module Incomplete"), :class => "incomplete_icon" %>
        <i class="icon-lock locked_icon"><span class="screenreader-only"><%= t('images.title.locked', "Module Locked") %></span></i>
      </span>

      <% if editable %>
        <span
          data-module-type="module"
          data-id="<%= context_module && context_module.id %>"
          data-course-id="<%= context_module && context_module.context_id %>"
          data-published="<%= published_status == 'published' %>"
          data-publishable="<%= true %>"
          title=""
          data-tooltip
          class="publish-icon module <%= published_status %>"
        >
          <i class="icon-<%= published_status %>"></i>
        </span>

        <a href="#"
          rel="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/items"
          class="add_module_item_link btn"><i class="icon-plus"></i><span class="screenreader-only"><%= t('links.add_item', %{Add Content}) %></span></a>
        <a href="#" class="btn al-trigger" aria-label="<%= t("manager_module", "Manage module") %>">
          <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        </a>
        <ul class="al-options">
          <li>
            <a
              href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>"
              class="icon-edit edit_module_link"
              title="<%= t('links.title.edit_module', %{Edit}) %>"><%= t('links.text.edit_module', %{Edit}) %></a>
          </li>
          <li>
            <a
              href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>"
              class="delete_module_link icon-trash"
              title="<%= t('links.title.delete_module', %{Delete this module}) %>"><%= t('links.text.delete_module', %{Delete}) %></a>
          </li>
        </ul>
      <% end %>
      <span style="display: none;">
        <span class="name"><%= context_module && context_module.name %></span>
        <span class="id"><%= context_module && context_module.id %></span>
        <span class="require_sequential_progress"><%= context_module.try_rescue(:require_sequential_progress) || nbsp %></span>
      </span>
    </div>
  </div>

  <div class="content" id="context_module_content_<%= context_module && context_module.id %>">
    <ul class="ig-list items context_module_items <%= 'manageable' if editable %>">
      <% if context_module %>
        <% context_module.content_tags_visible_to(@current_user).each do |tag| %>
          <%= render :partial => 'context_modules/module_item_next', :object => tag, :locals => {:completion_criteria => context_module.completion_requirements, :editable => editable} %>
        <% end %>
      <% end %>
    </ul>

    <div class="footer">
      <div class="progression_container">
        <a href="#" class="progression_details_link" title="<%= t('links.title.student_progress', %{See Student Progress for this Module}) %>" style="display: none;">
          <span class="progression_started"><%= t 'progression_started_count', '*%{count}* In Progress', :count => 0, :wrapper => '<span class="progression_started_count">\1</span>' %></span> <span class="progression_complete"><%= t'progression_complete_count', '*%{count}* Complete', :count => 0, :wrapper => '<span class="progression_complete_count">\1</span>' %></span>
        </a>
        <span class="progression_state" style="<%= hidden if editable || !context_module || ((context_module.prerequisites || []).empty? && (context_module.completion_requirements || []).empty?) %>"></span>
        <div class="unlock_details" style="<%= hidden unless context_module && context_module.to_be_unlocked %>"><%= t 'module_will_unlock_at', 'will unlock *%{unlock_date}*', :wrapper => '<span class="unlock_at">\1</span>', :unlock_date => (datetime_string(context_module.try_rescue(:unlock_at)) || nbsp) %></div>
      </div><!-- progression_container -->

      <%= render :partial => "context_modules/prerequisits_footer", :locals => {:editable => editable, :context_module => context_module} %>
    </div><!-- footer -->
  </div>
</div>
<% end %>
