<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  course_home ||= false
  js_env({
    :COLLAPSED_MODULES => @collapsed_modules,
    :IS_STUDENT => can_do(@context, @current_user, :participate_as_student),
    :COURSE_ID => @context.id,
    :PUBLISH_MENU_PROGRESS_ID => @progress&.id,
    :NO_MODULE_PROGRESSIONS => @context.large_roster,
  })
%>
<% js_bundle :module_student_view_peer_reviews %>
<% js_bundle :module_dnd %>
<% css_bundle :react_files %>

<% if @can_edit %>
  <div tabindex="0" class="drag_and_drop_warning screenreader-only" >
    <%= t('modules_keyboard_hint_updated',
          'Warning: For improved accessibility in reordering Modules (or Module items), please use the Move To Dialog option found in the menu.') %>
  </div>
<% end %>

<% if Account.site_admin.feature_enabled?(:instui_header) %>
<%
context_modules_header_props = {
  title: t("Modules"),
  viewProgress: {
    label: t('links.student_progress', 'View Progress'),
    url: progressions_course_context_modules_path(@context),
    visible: @can_view_grades,
  },
  publishMenu: {
    courseId: @context.id,
    runningProgressId: @progress&.id,
    disabled: @modules.empty?,
    visible: @context.grants_any_right?(@current_user, session, :manage_content, :manage_course_content_edit),
  },
  expandCollapseAll: {
    label: t('Collapse All'),
    dataUrl: context_url(@context, :context_url) + '/collapse_all_modules',
    dataExpand: false,
    ariaExpanded: false,
    ariaLabel: t('Collapse All Modules'),
  },
  addModule: {
    label: t('Add Module'),
    visible: @can_add,
  },
  moreMenu: {
    label: t("Modules Settings"),
    menuTools: {
      items: external_tools_menu_items_raw_with_modules(@menu_tools, %i[module_index_menu module_index_menu_modal]),
      visible: @allow_menu_tools,
    },
    exportCourseContent: {
      label: t("Export Course Content"),
      url: context_url(@context, :context_start_offline_web_export_url),
      visible: @allow_web_export_download,
    },
  },
  lastExport: {
    label: t("Last Export: "),
    url: context_url(@context, :context_offline_web_exports_url),
    date: @last_web_export.nil? ? nil : datetime_string(force_zone(@last_web_export.created_at)),
    visible: !@last_web_export.nil?
  },
}
%>
<div id="context-modules-header-root" data-props='<%=context_modules_header_props.to_json%>'></div>

<% else %>

<% js_bundle :context_modules_publish_menu %>

<% if course_home %>
  <div class="screenreader-only"><%= @context.name %></div>
  <h2 class="context-modules-title screenreader-only"><%= t('headings.course_modules', %{Course Modules}) %></h2>
<% else %>
  <h1 class="context-modules-title screenreader-only"><%= t('headings.course_modules', %{Course Modules}) %></h1>
<% end %>

<div class="header-bar">
  <div class="header-bar-right header-bar__module-layout">
    <div class="header-bar-right__buttons">
      <button class="btn" id="expand_collapse_all" aria-expanded="false" data-expand="false" data-url="<%= context_url(@context, :context_url) %>/collapse_all_modules" aria-label="<%= t('Collapse All Modules') %>"><%= t('Collapse All') %></button>
      <% if @can_view_grades %>
        <a class="btn module_progressions_link" href="<%= progressions_course_context_modules_path(@context) %>"><%= t('links.student_progress', 'View Progress') %></a>
      <% end %>
      <% if @allow_web_export_download %>
        <%= form_tag(context_url(@context, :context_start_offline_web_export_url)) do %>
          <button type="submit" class="btn offline_web_export">
            <i class="icon-export" role="presentation"></i>
            <%= t("Export Course Content") %>
          </button>
        <% end %>
      <% end %>
      <% if @context.grants_any_right?(@current_user, session, :manage_content, :manage_course_content_edit) %>
        <div id="context-modules-publish-menu" data-course-id="<%= @context.id %>" data-progress-id="<%= @progress&.id %>" style="display: inline-block;" data-disabled="<%= @modules.empty? %>"></div>
      <% end %>
      <% if @can_add %>
        <button class="btn btn-primary add_module_link">
          <i class="icon-plus" role="presentation"></i>
          <span class="screenreader-only"><%= t("Add") %></span>
          <%= t('Module') %>
        </button>
      <% end %>
      <% if @context.grants_any_right?(@current_user, session, :manage_content, :manage_course_content_add) && (@menu_tools[:module_index_menu].present? || @menu_tools[:module_index_menu_modal].present?) %>
        <div class="inline-block module_index_tools">
          <a class="al-trigger btn" role="button" aria-haspopup="true" aria-owns="toolbar-1" href="#">
            <i class="icon-more" aria-hidden="true"></i>
            <span class="screenreader-only"><%= t("Modules Settings") %></span>
          </a>

          <ul id="toolbar-1" class="al-options" role="menu" aria-hidden="true" aria-expanded="false">
            <%= external_tools_menu_items(@menu_tools[:module_index_menu], {link_class: "menu_tray_tool_link", settings_key: :module_index_menu, in_list: true}) %>
            <%= external_tools_menu_items(@menu_tools[:module_index_menu_modal], {link_class: "menu_tray_tool_link", settings_key: :module_index_menu_modal, in_list: true}) %>
          </ul>
        </div>
      <% end %>
    </div>
    <% if @last_web_export %>
      <small class="muted">
        <%= t("Last Export: ") %>
        <a href="<%= context_url(@context, :context_offline_web_exports_url) %>">
          <%= datetime_string(force_zone(@last_web_export.created_at)) %>
        </a>
      </small>
    <% end %>
  </div>
</div>
<% end %>

<div id="external-tool-mount-point"></div>
<div id="direct-share-mount-point"></div>
<div id="differentiated-modules-mount-point"></div>
<div class="item-group-container" id="context_modules_sortable_container">
  <div id="no_context_modules_message" style="display:none;">
    <% if can_do(@context.context_modules.temp_record, @current_user, :create) %>
      <div id="modules_homepage_user_create"></div>
    <% else %>
      <p><%= t('help.no_modules', %{No modules have been defined for this course.}) %></p>
    <% end %>
  </div>
  <div
    id="context_modules"
    aria-label="<%= t('headings.course_modules', %{Course Modules}) %>"
    class="ig-list <%= 'editable' if @can_add || @can_edit %>"
  >
    <% cache(@modules_cache_key) do %>
      <% preload_modules_content(@modules) %>
      <% @modules.each do |m| %>
        <%= render :partial => 'context_modules/context_module_next', :object => m, :as => :context_module %>
      <% end %>
    <% end %>
  </div>

</div>

<%= render :partial => 'context_modules/context_module_next', :object => nil, :as => :context_module %>
<%= render :partial => 'context_modules/module_item_next', :object => nil, :as => :module_item %>

<% if @can_add || @can_edit %>
  <%= render :partial => "context_modules/add_context_module_form" %>

  <div id="add_module_prerequisite_dialog" style="display: none;">
    <span class="context_module_id" style="display: none;">&nbsp;</span>
    <div>
      <%= t 'add_prerequisite', "Add prerequisite to *%{module}*", :wrapper => '<span class="module_name">\1</span>', :module => 'module' %>
    </div>
    <div style="text-align: center;" class="prerequisite_module_select">
    </div>
    <div class="button-container">
      <button type="button" class="btn submit_button"><%= t('buttons.add_prerequisite', %{Add Prerequisite}) %></button>
      <button type="button" class="btn button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
    </div>
  </div>

  <%= render :partial => "shared/select_content_dialog", :locals => {:for_modules => true, lti_app_placements: [Lti::ResourcePlacement::LINK_SELECTION, Lti::ResourcePlacement::RESOURCE_SELECTION] }  %>
  <div id="edit_item_dialog" style="display: none;">
    <%= form_for :content_tag, :url => "", :html => {:id => "edit_item_form", :method => :put, :style => "margin: 20px 10px;"} do |f| %>
      <p tabindex="0"> </p>
      <table class="formtable">
        <tr>
          <td><%= f.blabel :title, :en => "Title" %></td>
          <td><%= f.text_field :title, :style => "width: 200px;" %></td>
        </tr>
        <tr class="external external_url">
          <td><%= f.blabel :url, :en => "URL" %></td>
          <td><%= f.text_field :url, :style => "width: 200px;" %></td>
        </tr>
        <tr>
          <td><label for="content_tag_indent_select"><%= before_label('indent', %{Indent}) %></label></td>
          <td>
            <select name="content_tag[indent]" id="content_tag_indent_select">
              <% 0.upto(3) do |i| %>
                <option value="<%= i %>"><%= t('indent.n', { :zero => %{Don't Indent}, :one => %{Indent 1 Level}, :other => %{Indent %{count} Levels} }, :count => i) %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr class="external">
          <td colspan="2">
            <%= f.check_box :new_tab %>
            <%= f.label :new_tab, :en => "Load in a new tab" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
              <button type="submit" class="btn btn-primary"><%= t('#buttons.update', %{Update}) %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
    <form>
    <table>
    </table>
    </form>
  </div>
  <div id="add_prerequisite_dialog" style="display: none;">
    <h3><%= t 'headings.add_prerequisite', 'Add Prerequisite to %{name}', :name => '<span class="name">&nbsp;</span>'.html_safe %></h3>
    <p style="display: none;"><%= t('select_prerequisite', %{Select the type of prerequisite.  Students cannot see a module until all prerequisites are satisfied.}) %>
      <div>
        <label class="screenreader-only" for="prerequisite_type_select"><%= t('Select type of prerequisite') %></label>
        <select id="prerequisite_type_select" class="type" style="display: none;">
          <option value="module"><%= t('prerequisites.another_module', %{Another Module}) %></option>
        </select>
      </div>
    </p>
    <p class="module_details"><%= t 'module_details', %{Modules are shown in sequential order, so only modules that are above %{name} can be set as prerequisites.}, :name => '<span class="name">&nbsp;</span>'.html_safe %>
      <div>
        <label class="screenreader-only" for="prerequisite_module_select"><%= t('Select prerequite module') %></label>
        <select id="prerequisite_module_select" class="module_id">
        </select>
      </div>
    </p>
  </div>
<% end %>
<div style="display: none;">
  <a href="<%= context_url(@context, :progressions_context_context_modules_url) %>" class="progression_list_url">&nbsp;</a>
  <select id="module_list" aria-label="<%= t('Select prerequisite module') %>">
    <option value="">[ <%= t('select_module.instructions', %{Select Module}) %> ]</option>
    <% @modules.each do |m| %>
      <option value="<%= m.id %>" class="context_module_option context_module_<%= m.id %>"><%= t 'select_module.name', '%{module}', :module => m.name %></option>
    <% end %>
  </select>
  <div id="display_criterion_blank" class="criterion pull-left" style="display: none;">
    <span class="id" style="display: none;">&nbsp;</span>
    <span class="type" style="display: none;">&nbsp;</span>
    <span class="name"><%= t('module', %{module}) %></span>
    <span><a href="#" class="delete_prerequisite_link" title="<%= t('links.title.remove_prerequisite', %{Remove this prerequisite}) %>">&#215;</a></span>
  </div>
  <div id="completion_criterion_option" class="completion_criterion_option">
    <% ot 'criterion_for_assignment', '%{assignment} %{select_criterion}', :assignment => capture { %>
    <span style="padding: 0 4px;">
      <select class="id assignment_picker" tabindex="0" aria-label="<%= t('Requirement subject') %>"></select>
    </span>
    <% }, :select_criterion => capture { %>
    <span style="padding: 0 4px;">
      <select class="type assignment_requirement_picker" tabindex="0" aria-label="<%= t('Requirement') %>">
        <option class="any" value="must_view"><%= t('requirements.must_view', %{view the item}) %></option>
        <option class="assignment wiki_page" value="must_mark_done"><%= t(%{mark as done}) %></option>
        <option class="wiki_page discussion_topic" value="must_contribute"><%= t('requirements.must_contribute', %{contribute to the page}) %></option>
        <option class="assignment quiz graded" value="must_submit"><%= t('requirements.must_submit', %{submit the assignment}) %></option>
        <option class="assignment quiz graded" value="min_score"><%= t('requirements.must_score_at_least', %{score at least}) %></option>
      </select>
    </span>
    <% } %>
    <span class="min_score_box" style="display: none;" tabindex="0">
      <label class="screenreader-only" for="criterion_min_score"><%= t('Minimum Score') %></label>
      <input id="criterion_min_score" type="text" class="min_score" style="width: 30px; margin-<%= direction('right') %>: 5px;"/>
      <span class="points_possible_parent"><%= t 'assignment_points_possible', '/ %{points_possible}', :points_possible => '<span class="points_possible">&nbsp;</span>'.html_safe %></span>
    </pan>
  </div>
  <%= image_tag "flagged_question_dim.png", :id => "criterion_image_min_score", :class => "image not_blank", :alt => t('images.alt.min_score', "minimum score"), :title => t('images.title.min_score', "Students must get at least a %{min_score} on this item before the module is considered complete", :min_score => "{{ min_score }}") %>
  <%= image_tag "preview_dim.png", :id => "criterion_image_must_view", :class => "image not_blank", :alt => t('images.alt.must_view', "must view"), :title => t('images.title.must_view', "Students must view this item before the module is considered complete") %>
  <%= image_tag "text_entry_dim.png", :id => "criterion_image_must_submit", :class => "image not_blank", :alt => t('images.alt.must_submit', "must submit"), :title => t('images.title.must_submit', "Students must submit this assignment before the module is considered complete") %>
  <%= image_tag "text_entry_dim.png", :id => "criterion_image_must_contribute", :class => "image not_blank", :alt => t('images.alt.must_contribute', "must contribute"), :title => t('images.title.must_contribute', "Students must contribute to this item before the module is considered complete") %>
  <%= image_tag "blank.png", :id => "criterion_image_blank", :class => "image", :alt => "" %>
</div>
<div id="current_user_progression_list" class="user_<%= @current_user && @current_user.id %>" style="display: none;">
  <div class="progression progression_blank">
    <div class="context_module_id">&nbsp;</div>
    <div class="workflow_state">&nbsp;</div>
    <div class="requirements_met">&nbsp;</div>
    <div class="current_position">&nbsp;</div>
    <div class="collapsed">&nbsp;</div>
  </div>
</div>

<% unless @current_user.try(:prefers_no_keyboard_shortcuts?) %>
  <%=  render :partial => "context_modules/keyboard_navigation" %>
<% end %>
