<%
  @body_classes << 'padless-content'
  course_home ||= false
  js_env({
    :COLLAPSED_MODULES => @collapsed_modules,
    :CAN_MANAGE_MODULES => @can_edit,
    :IS_STUDENT => can_do(@context, @current_user, :participate_as_student),
    :COURSE_ID => @context.id,
    :NO_MODULE_PROGRESSIONS => @context.large_roster,
  })
  js_bundle :context_modules
  css_bundle :content_next
%>
<% if course_home %>
  <div class="screenreader-only"><%= @context.name %></div>
  <h2 class="context-modules-title screenreader-only"><%= t('headings.course_modules', %{Course Modules}) %></h2>
<% else %>
  <h1 class="context-modules-title screenreader-only"><%= t('headings.course_modules', %{Course Modules}) %></h1>
<% end %>

<div class="header-bar">
  <div class="header-bar-right header-bar__module-layout">
    <div class="header-bar-right__buttons">
      <% if @can_edit %>
        <a class="btn module_progressions_link" href="<%= progressions_course_context_modules_path(@context) %>"><%= t('links.student_progress', 'View Progress') %></a>
      <% end %>
      <% if @allow_web_export_download %>
        <%= form_tag(context_url(@context, :context_start_offline_web_export_url)) do %>
          <button type="submit" class="btn offline_web_export">
            <i class="icon-export" role="presentation"></i>
            <%= t("Export Course Content") %>
          </button>
        <% end %>
      <% end %>
      <% if @can_edit %>
        <button class="btn btn-primary add_module_link">
          <i class="icon-plus" role="presentation"></i>
          <span class="screenreader-only">Add</span>
          <%= t('#context_modules.buttons.add_module', 'Module') %>
        </button>
      <% end %>
    </div>
    <% if @last_web_export %>
      <small class="muted">
        <%= t("Last Export: ") %>
        <a href="<%= context_url(@context, :context_offline_web_exports_url) %>">
          <%= datetime_string(force_zone(@last_web_export.created_at)) %>
        </a>
      </small>
    <% end %>
  </div>
</div>

<% if @can_edit %>
  <div class="hidden-readable screenreader-only" aria-label="<%= t('keyboard instructions') %>">
    <%= t('modules_keyboard_hint_updated',
          'Warning: For improved accessibility in reordering Modules (or Module items), please use the Move To Dialog option found in the menu.') %>
  </div>
<% end %>

<div class="item-group-container" id="context_modules_sortable_container">

  <div id="no_context_modules_message" style="display:none; clear: both;">
    <% if can_do(@context.context_modules.temp_record, @current_user, :create) %>
      <%= mt 'help.create', <<TEXT, :button => t('#context_modules.buttons.add_module_first', 'Add a New Module')
  Course modules let you organize your assignments, pages, files, etc. into smaller sections or units. Modules could be centered around a theme, focused on a specific topic, or even just grouped chronologically.

  You can also sequence modules by defining criteria and prerequisites for each module. Students won't be able to access modules until they have unlocked all their prerequisites. That way you can prevent students from accessing certain content or files until they have, say, gotten at least 75% on a review quiz.

  To start organizing your course into modules, click the "%{button}" button to the right.
TEXT
  %>
    <% else %>
      <p><%= t('help.no_modules', %{No modules have been defined for this course.}) %></p>
    <% end %>
  </div>

  <div
    id="context_modules"
    aria-label="<%= t('headings.course_modules', %{Course Modules}) %>"
    class="ig-list <%= 'editable' if @can_edit %>"
  >
    <% cache(@modules_cache_key) do %>
      <% preload_modules_content(@modules, @can_edit) %>
      <% @modules.each do |m| %>
        <%= render :partial => 'context_modules/context_module_next', :object => m, :as => :context_module, :locals => { :editable => @can_edit } %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render :partial => 'context_modules/context_module_next', :object => nil, :as => :context_module %>
<%= render :partial => 'context_modules/module_item_next', :object => nil, :as => :module_item, :locals => { :editable => @can_edit } %>

<% if @can_edit %>
  <form id="move_context_module_form" style="display:none" class="form-dialog" title="Move Module">
    <div class="form-dialog-content">
      <h4><%= t("Place ") %> <span id="move_module_name"></span></h4>
      <div class="move-module-before-after-container">
        <input type="radio" name="move_location" value="before" id="move_location_before" class="move-module-label-spacer" /><label class="move-module-label-width" for="move_location_before"><%= t("Move Module Before") %></label>
          <strong class="move-module-or"><%= t('move_module.or', "OR") %></strong>
        <input type="radio" name="move_location" value="after" id="move_location_after" class="move-module-label-spacer" /><label class="move-module-label-width" for="move_location_after"><%= t("Move Module After") %></label>
      </div>
      <div class="move-module-select-spacer">
        <label class="screenreader-only" for="move_context_module_select"><%= t('Select module to move before or after') %></label>
        <select name="move_context_module_select" id="move_context_module_select"></select>
      </div>

    </div>
    <div class="form-controls">
      <button type="button" id="move_module_cancel_btn" class="btn"">Cancel</button>
      <button type="submit" class="btn btn-primary">Move</button>
    </div>
  </form>

  <form id="move_module_item_form" style="display:none" class="form-dialog" title="Move Item">
    <div class="form-dialog-content">
      <h4><%= t('move_module_item.place', "Place ") %><span id="move_module_item_name"></span></h4>
      <p><%= t('move_module_item.into', "into") %>
      <label class="screenreader-only" for="move_module_item_module_select"><%= t('Select module to move item into') %></label>
      <select name="move_module_item_module_select" id="move_module_item_module_select"></select>
      <div class="move-module-before-after-container">
        <input type="radio" name="item_move_location" value="before" id="item_move_location_before" class="move-module-label-spacer" /><label class="move-module-label-width" for="item_move_location_before"><%= t("Move Module Item Before") %></label>
          <strong class="move-module-or"><%= t('move_module_item.or', "OR") %></strong>
        <input type="radio" name="item_move_location" value="after" id="item_move_location_after" class="move-module-label-spacer" /><label class="move-module-label-width" for="item_move_location_after"><%= t("Move Module Item After") %></label>
      </div>
      <div class="move-module-select-spacer">
        <label class="screenreader-only" for="move_module_item_select"><%= t('Select module item to place item before or after') %></label>
        <select name="move_module_item_select" id="move_module_item_select"></select>
      </div>

    </div>
    <div class="form-controls">
      <button type="button" id="move_module_item_cancel_btn" class="btn">Cancel</button>
      <button type="submit" class="btn btn-primary">Move</button>
    </div>
  </form>

  <%= render :partial => "context_modules/add_context_module_form" %>

  <div id="add_module_prerequisite_dialog" style="display: none;">
    <span class="context_module_id" style="display: none;">&nbsp;</span>
    <div>
      <%= t 'add_prerequisite', "Add prerequisite to *%{module}*", :wrapper => '<span class="module_name">\1</span>', :module => 'module' %>
    </div>
    <div style="text-align: center;" class="prerequisite_module_select">
    </div>
    <div class="button-container">
      <button type="button" class="btn submit_button"><%= t('buttons.add_prerequisite', %{Add Prerequisite}) %></button>
      <button type="button" class="btn button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
    </div>
  </div>

  <%= render :partial => "shared/select_content_dialog", :locals => {:for_modules => true, lti_app_placements: [Lti::ResourcePlacement::LINK_SELECTION, Lti::ResourcePlacement::RESOURCE_SELECTION] }  %>
  <div id="edit_item_dialog" style="display: none;">
    <%= form_for :content_tag, :url => "", :html => {:id => "edit_item_form", :method => :put, :style => "margin: 20px 10px;"} do |f| %>
      <p tabindex="0"> </p>
      <table class="formtable">
        <tr>
          <td><%= f.blabel :title, :en => "Title" %></td>
          <td><%= f.text_field :title, :style => "width: 200px;" %></td>
        </tr>
        <tr class="external external_url">
          <td><%= f.blabel :url, :en => "URL" %></td>
          <td><%= f.text_field :url, :style => "width: 200px;" %></td>
        </tr>
        <tr>
          <td><label for="content_tag_indent_select"><%= before_label('indent', %{Indent}) %></label></td>
          <td>
            <label class="screenreader-only" for="content_tag_indent_select"><%= t('Select indentation') %></label>
            <select name="content_tag[indent]" id="content_tag_indent_select">
              <% 0.upto(3) do |i| %>
                <option value="<%= i %>"><%= t('indent.n', { :zero => %{Don't Indent}, :one => %{Indent 1 Level}, :other => %{Indent %{count} Levels} }, :count => i) %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr class="external">
          <td colspan="2">
            <%= f.check_box :new_tab %>
            <%= f.label :new_tab, :en => "Load in a new tab" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
              <button type="submit" class="btn btn-primary"><%= t('#buttons.update', %{Update}) %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
    <form>
    <table>
    </table>
    </form>
  </div>
  <div id="add_prerequisite_dialog" style="display: none;">
    <h3><%= t 'headings.add_prerequisite', 'Add Prerequisite to %{name}', :name => '<span class="name">&nbsp;</span>'.html_safe %></h3>
    <p style="display: none;"><%= t('select_prerequisite', %{Select the type of prerequisite.  Students cannot see a module until all prerequisites are satisfied.}) %>
      <div>
        <label class="screenreader-only" for="prerequisite_type_select"><%= t('Select type of prerequisite') %></label>
        <select id="prerequisite_type_select" class="type" style="display: none;">
          <option value="module"><%= t('prerequisites.another_module', %{Another Module}) %></option>
        </select>
      </div>
    </p>
    <p class="module_details"><%= t 'module_details', %{Modules are shown in sequential order, so only modules that are above %{name} can be set as prerequisites.}, :name => '<span class="name">&nbsp;</span>'.html_safe %>
      <div>
        <label class="screenreader-only" for="prerequisite_module_select"><%= t('Select prerequite module') %></label>
        <select id="prerequisite_module_select" class="module_id">
        </select>
      </div>
    </p>
  </div>
<% end %>
<div style="display: none;">
  <a href="<%= context_url(@context, :progressions_context_context_modules_url) %>" class="progression_list_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_context_modules_assignment_info_url) %>" class="assignment_info_url">&nbsp;</a>
  <label class="screenreader-only" for="module_list"><%= t('Select prerequisite module') %></label>
  <select id="module_list">
    <option value="">[ <%= t('select_module.instructions', %{Select Module}) %> ]</option>
    <% @modules.each do |m| %>
      <option value="<%= m.id %>" class="context_module_option context_module_<%= m.id %>"><%= t 'select_module.name', '%{module}', :module => m.name %></option>
    <% end %>
  </select>
  <div id="display_criterion_blank" class="criterion" style="display: none; float: left;">
    <span class="id" style="display: none;">&nbsp;</span>
    <span class="type" style="display: none;">&nbsp;</span>
    <span class="name"><%= t('module', %{module}) %></span>
    <span><a href="#" class="delete_prerequisite_link" title="<%= t('links.title.remove_prerequisite', %{Remove this prerequisite}) %>">&#215;</a></span>
  </div>
  <div id="completion_criterion_option" class="completion_criterion_option">
    <% ot 'criterion_for_assignment', '%{assignment} %{select_criterion}', :assignment => capture { %>
    <span style="padding: 0 4px;">
      <label class="screenreader-only" for="criterion_assignment_picker"><%= t('Requirement subject') %></label>
      <select id="criterion_assignment_picker" class="id assignment_picker" tabindex="0"></select>
    </span>
    <% }, :select_criterion => capture { %>
    <span style="padding: 0 4px;">
      <label class="screenreader-only" for="criterion_requirement_picker"><%= t('Requirement') %></label>
      <select id="criterion_requirement_picker" class="type assignment_requirement_picker" tabindex="0">
        <option class="any" value="must_view"><%= t('requirements.must_view', %{view the item}) %></option>
        <option class="assignment wiki_page" value="must_mark_done"><%= t(%{mark as done}) %></option>
        <option class="wiki_page discussion_topic" value="must_contribute"><%= t('requirements.must_contribute', %{contribute to the page}) %></option>
        <option class="assignment quiz graded" value="must_submit"><%= t('requirements.must_submit', %{submit the assignment}) %></option>
        <option class="assignment quiz graded" value="min_score"><%= t('requirements.must_score_at_least', %{score at least}) %></option>
      </select>
    </span>
    <% } %>
    <span class="min_score_box" style="display: none;" tabindex="0">
      <label class="screenreader-only" for="criterion_min_score"><%= t('Minimum Score') %></label>
      <input id="criterion_min_score" type="text" class="min_score" style="width: 30px; margin-right: 5px;"/>
      <span class="points_possible_parent"><%= t 'assignment_points_possible', '/ %{points_possible}', :points_possible => '<span class="points_possible">&nbsp;</span>'.html_safe %></span>
    </pan>
  </div>
  <%= image_tag "flagged_question_dim.png", :id => "criterion_image_min_score", :class => "image not_blank", :alt => t('images.alt.min_score', "minimum score"), :title => t('images.title.min_score', "Students must get at least a %{min_score} on this item before the module is considered complete", :min_score => "{{ min_score }}") %>
  <%= image_tag "preview_dim.png", :id => "criterion_image_must_view", :class => "image not_blank", :alt => t('images.alt.must_view', "must view"), :title => t('images.title.must_view', "Students must view this item before the module is considered complete") %>
  <%= image_tag "text_entry_dim.png", :id => "criterion_image_must_submit", :class => "image not_blank", :alt => t('images.alt.must_submit', "must submit"), :title => t('images.title.must_submit', "Students must submit this assignment before the module is considered complete") %>
  <%= image_tag "text_entry_dim.png", :id => "criterion_image_must_contribute", :class => "image not_blank", :alt => t('images.alt.must_contribute', "must contribute"), :title => t('images.title.must_contribute', "Students must contribute to this item before the module is considered complete") %>
  <%= image_tag "blank.png", :id => "criterion_image_blank", :class => "image", :alt => "" %>
  <a href="<%= context_url(@context, :reorder_context_context_modules_url) %>" class="reorder_modules_url">&nbsp;</a>
</div>
<div id="current_user_progression_list" class="user_<%= @current_user && @current_user.id %>" style="display: none;">
  <div class="progression progression_blank">
    <div class="context_module_id">&nbsp;</div>
    <div class="workflow_state">&nbsp;</div>
    <div class="requirements_met">&nbsp;</div>
    <div class="current_position">&nbsp;</div>
    <div class="collapsed">&nbsp;</div>
  </div>
</div>

<%= render :partial => "context_modules/keyboard_navigation" %>
