<% @body_classes << 'padless-content' %>
<% course_home ||= false %>
<%
  js_env({
    :COLLAPSED_MODULES => @collapsed_modules,
    :CAN_MANAGE_MODULES => can_do(@context, @current_user, :manage_content),
    :COURSE_ID => @context.id,
    :NO_MODULE_PROGRESSIONS => @context.large_roster,
    :ENABLE_DRAFT => @context.feature_enabled?(:draft_state),
  })
%>
<% js_bundle :context_modules %>
<%# jammit_css :context_modules_next %>

<style>
.context_module .items {
  min-height: 10px; /* sortable on empty */
}

#no_context_modules_message {
  padding: 10px;
}

.context_module_item {
  border: none !important;
}

.al-options a {
  display: block !important;
}

.item-group-container {
  min-height: 450px;
}

.header .publish-icon {
  position: relative;
  bottom: 7px;
}

.context_module .header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.collapse_module_link, .expand_module_link {
  cursor: pointer;
}

.ig-header .icon-lock {
  display: none;
}

.locked_module .ig-header .icon-lock {
  display: inline;
}

.unlock_at_text {
  font-weight: normal;
  font-size: 12px;
}

.add_module_item_link {
  display: inline-block !important;
  margin-left: 10px;
}

.ig-header {
  position: relative;
}

.ig-header-admin {
  position: absolute;
  top: 0;
  right: 0;
}

.context-modules-main-header {
  height: 33px;
  padding: 15px;
}

.context_module .context_module_items.manageable .context_module_item .move_item_link {
  display: inline !important;
  visibility: visible !important;
}

.context_module {
  border-top: none;
  background-color: transparent;
  min-width: auto;
  margin-bottom: 0;
}

.context_module .header {
  background-color: transparent;
  border-bottom: none;
  padding: auto;
  color: #3d454c;
}
.sortable-handle a, .draggable-handle a {
  color: #b4b7ba;
}
.context_module .links a, .context_module .reorder_module_link, .context_module .move_item_link {
  opacity: 1;
}

.context_module_item .completion_requirement {
  font-size: inherit;
  padding-left: 0;
  margin-top: auto;
  color: inherit;
}

.context_module_item.context_module_item_hover {
  background: #fff;
}

.draggable-handle {
  /* shared with assignments, dry it up */
  color: #b4b7ba;
  margin: 0 4px 0 -15px;
  padding: 0 0px 0 10px !important;
}

.sortable-handle,
.draggable-handle,
.draggable-handle a {
  /* not working on headers >:| */
  cursor: move !important;
}

.context_module_item .type_icon i {
  color: inherit;
}

.context_module_item .item_name .title {
  padding: 0;
  color: inherit;
  font-size: 13px;
}

.context_module_placeholder {
  height: 40px !important;
  border: none !important;
}

</style>

<% if course_home %>
  <div class="screenreader-only"><%= @context.name %></div>
<% end %>

<h2 class="context-modules-title screenreader-only"><%= t('headings.course_modules', %{Course Modules}) %></h2>

<div class="header-bar">
  <% if can_do(@context, @current_user, :manage_content) %>
    <div class="header-bar-right">
      <a class="btn btn-small" class="module_progressions_link" href="<%= progressions_course_context_modules_path(@context) %>"><%= t('links.student_progress', 'View Progress') %></a>
      <button class="btn btn-small btn-primary add_module_link"><%= t('#context_modules.buttons.add_module', 'Create a Module') %></button>
    </div>
  <% end %>
</div>

<div class="hidden-readable" tabindex="0" aria-label="keyboard instructions">
  <%= t('modules_keyboard_hint',
        'To change the order of the course modules and module items,
        first turn the cursor off on your screen reader. Insert-z in JAWS.
        Press tab to select the first module.
        Press up and down to choose a module or module item.
        Press space to select the module or module item to start dragging.
        Then press up and down to select a destination.
        Then press space a second time to drop selection after destination.') %>
</div>

<% keyboard_navigation([
   {:key => t('keycodes.next_module_item', 'Up'), :description => t('keycode_descriptions.next_module_item', 'Select next module or module item')},
   {:key => t('keycodes.previous_module_item', 'Down'), :description => t('keycode_descriptions.previous_module_item', 'Select previous module or module item')},
   {:key => t('keycodes.toggle_module_dragging', 'Space'), :description => t('keycode_descriptions.toggle_module_dragging', 'Select item to begin dragging, or drop previously selected item')}
]) %>

<div class="item-group-container" id="context_modules_sortable_container">

  <div id="no_context_modules_message" style="display:none; clear: both;">
    <% if can_do(@context.context_modules.scoped.new, @current_user, :create) %>
      <%= mt 'help.create', <<TEXT, :button => t('#context_modules.buttons.add_module_first', 'Add a New Module')
  Course modules let you organize your assignments, pages, files, etc. into smaller sections or units. Modules could be centered around a theme, focused on a specific topic, or even just grouped chronologically.

  You can also sequence modules by defining criteria and prerequisites for each module. Students won't be able to access modules until they have unlocked all their prerequisites. That way you can prevent students from accessing certain content or files until they have, say, gotten at least 75% on a review quiz.

  To start organizing your course into modules, click the "%{button}" button to the right.
TEXT
  %>
    <% else %>
      <p><%= t('help.no_modules', %{No modules have been defined for this course.}) %></p>
    <% end %>
  </div>

  <div
    id="context_modules"
    aria-label="<%= t('headings.course_modules', %{Course Modules}) %>"
    class="ig-list <%= 'editable' if can_do(@context, @current_user, :manage_content) %>"
  >
    <% editable = can_do(@context, @current_user, :manage_content) %>
    <% cache([@context.cache_key, editable, 'all_context_modules_draft_2', collection_cache_key(@modules)].join('/')) do %>
      <% ContextModule.send(:preload_associations, @modules, :content_tags => :content) %>
      <% @modules.each do |m| %>
        <%= render :partial => 'context_modules/context_module_next', :object => m, :locals => {:editable => editable } %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render :partial => 'context_modules/context_module_next', :object => nil %>
<%= render :partial => 'context_modules/module_item_next', :object => nil, :locals => {:editable => editable} %>

<% if can_do(@context, @current_user, :manage_content) %>
  <% form_for :context_module, :url => context_url(@context, :context_context_modules_url), :html => {:id => "add_context_module_form", :style => "display: none;"} do |f| %>
    <table class="formtable">
      <tr>
        <td colspan="2">
          <div class="module_name">
            <%= f.text_field :name, :placeholder => t('module_name', %{Module Name}), :class => 'input-block-level' %>
          </div>
        </td>
      </tr><tr>
        <td colspan="2">
          <input type="checkbox" id="unlock_module_at"/>
          <label for="unlock_module_at"><%= t('#labels.lock_module_until', %{lock module until a given date}) %></label>
        </td>
      </tr><tr class="unlock_module_at_details">
        <td>
          <%= before_label('unlock_at', %{Unlock At}) %>
        </td><td>
          <%= f.text_field :unlock_at, :class => "datetime_field" %>
        </td>
      </tr><tr>
        <td colspan="2">
        <div class="prerequisites_entry">
          <b><%= before_label('modules.before_students_view', %{Before students can view this module}) %></b>
          <div class="prerequisites_list">
            <div class="no_prerequisites_message"><%= t('no_preprequisites', %{No prerequisites defined}) %></div>
            <div class="criteria_list" style="display: none;">
            </div>
            <div id="criterion_blank" class="criterion clearfix" style="display: none;">
              <div style="float: left">
                <span class="prereq_desc"><%= t('must_complete_prerequisites', %{They must complete}) %></span>
                <span class="option">
                </span>
              </div>
              <div style="float: right;">
                <a href="#" class="delete_criterion_link dim-till-hover"><i class="icon-end standalone-icon" title="Delete"></i></a>
              </div>
              <div class="clear"></div>
            </div>
            <div style="font-size: 0.9em;">
              <a href="#" class="add_prerequisite_link icon-add"><%= t('links.add_prerequisite', %{Add prerequisite}) %></a>
            </div>
          </div>
        </div>
        <div class="completion_entry">
          <b><%= before_label('module_complete_when', %{This module is complete when}) %></b>
          <div class="completion_criteria_list">
            <div class="no_items_message"><%= t('prerequisites_need_item', %{You'll need to add items before you can specify how a user will complete this module}) %></div>
            <div class="no_criteria_message" style="display: none;"><%= t('no_requirements', %{No requirements defined}) %></div>
            <div class="criteria_list" style="display: none;">
            </div>
            <div style="font-size: 0.9em;">
              <a href="#" class="add_completion_criterion_link icon-add"><%= t('links.add_requirement', %{Add requirement}) %></a>
            </div>
          </div>
        </div>
      </td>
    </tr><tr>
        <td colspan="2">
          <%= f.check_box :require_sequential_progress, :id => "require_sequential_progress" %>
          <%= f.label :require_sequential_progress, :en => "students must move through requirements in this module in sequential order", :for => "require_sequential_progress" %>
        </td>
    </tr><tr>
      <td colspan="2">
        <div class="button-container">
          <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
          <button type="submit" class="btn btn-primary submit_button"><%= t('buttons.add_module', %{Add Module}) %></button>
        </div>
        <a href="<%= context_url(@context, :context_context_modules_url) %>" style="display: none;" class="add_context_module_url">&nbsp;</a>
      </td>
    </tr>
  </table>
  <% end %>
  <div id="add_module_prerequisite_dialog" style="display: none;">
    <span class="context_module_id" style="display: none;">&nbsp;</span>
    <div>
      <%= t 'add_prerequisite', "Add prerequisite to *%{module}*", :wrapper => '<span class="module_name">\1</span>', :module => 'module' %>
    </div>
    <div style="text-align: center;" class="prerequisite_module_select">
    </div>
    <div class="button-container">
      <button type="button" class="btn submit_button"><%= t('buttons.add_prerequisite', %{Add Prerequisite}) %></button>
      <button type="button" class="btn button-secondary cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
    </div>
  </div>
  <%= render :partial => "shared/select_content_dialog", :locals => {:for_modules => true} %>
  <div id="edit_item_dialog" style="display: none;">
    <% form_for :content_tag, :url => "", :html => {:id => "edit_item_form", :method => :put, :style => "margin: 20px 10px;"} do |f| %>
      <table class="formtable">
        <tr>
          <td><%= f.blabel :title, :en => "Title" %></td>
          <td><%= f.text_field :title, :style => "width: 150px;" %></td>
        </tr>
        <tr class="external_url">
          <td><%= f.blabel :url, :en => "URL" %></td>
          <td><%= f.text_field :url, :style => "width: 200px;" %></td>
        </tr>
        <tr>
          <td><label for="content_tag_indent_select"><%= before_label('indent', %{Indent}) %></label></td>
          <td>
            <select name="content_tag[indent]" id="content_tag_indent_select">
              <% 0.upto(3) do |i| %>
                <option value="<%= i %>"><%= t('indent.n', { :zero => %{Don't Indent}, :one => %{Indent 1 Level}, :other => %{Indent %{count} Levels} }, :count => i) %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr class="external_tool">
          <td colspan="2">
            <%= f.check_box :new_tab %>
            <%= f.label :new_tab, :en => "Load this tool in a new tab" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="button-container">
              <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', %{Cancel}) %></button>
              <button type="submit" class="btn btn-primary"><%= t('#buttons.update', %{Update}) %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
    <form>
    <table>
    </table>
    </form>
  </div>
  <div id="add_prerequisite_dialog" style="display: none;">
    <h3><%= t 'headings.add_prerequisite', 'Add Prerequisite to %{name}', :name => '<span class="name">&nbsp;</span>'.html_safe %></h3>
    <p style="display: none;"><%= t('select_prerequisite', %{Select the type of prerequisite.  Students cannot see a module until all prerequisites are satisfied.}) %>
      <div>
        <select class="type" style="display: none;">
          <option value="module"><%= t('prerequisites.another_module', %{Another Module}) %></option>
        </select>
      </div>
    </p>
    <p class="module_details"><%= t 'module_details', %{Modules are shown in sequential order, so only modules that are above %{name} can be set as prerequisites.}, :name => '<span class="name">&nbsp;</span>'.html_safe %>
      <div>
        <select class="module_id">
        </select>
      </div>
    </p>
  </div>
  <div id="student_progression_dialog" style="display: none;" title="<%= t 'titles.student_progression', 'Module Progression by Student' %>">
    <h2 style="margin-top: 0;"><%= t('headings.student_progress', %{Module Progress by Student}) %></h2>
    <table class="side_tabs_table" style="width: 100%;">
      <tr>
        <td class="left">
          <div style="display: none;">
            <%= before_label('sort_by', %{Sort By}) %> 
            <a href="#"><%= t('links.sort_by_name', %{Name}) %></a> | 
            <a href="#"><%= t('links.sort_by_progress', %{Progress}) %></a>
          </div>
          <ul class="side_tabs student_list">
            <li class="student blank" style="display: none;">
              <a href="#">
                <span class="name"><%= t('student_name', %{Student Name}) %></span>
                <span class="id" style="display: none;">&nbsp;</span>
              </a>
              <div class="sub_content current_module"></div>
            </li>
          </ul>
        </td>
        <td class="right">
          <div class="side_tabs_content">
            <div style="text-align: right; padding-right: 5px;">
              <a href="#" class="refresh refresh_progressions_link"><%= t('links.reload_student', %{Reload Student's Progress}) %></a>
            </div>
            <table class="module_progressions" style="width: 100%;">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th><%= t('table_headings.module', %{Module}) %></th>
                  <th><%= t('table_headings.state', %{State}) %></th>
                </tr>
              </thead>
              <tbody>
                <tr class="module blank" style="display: none;">
                  <td class="icon">
                    <i class="icon-check"></i>
                    <i class="icon-lock"></i>
                  </td>
                  <td class="details">
                    <span class="name">&nbsp;</span>
                    <span class="id" style="display: none;">&nbsp;</span>
                    <div class="still_need_completing" style="font-size: 0.6em; padding-left: 10px; color: #888; font-weight: normal;">
                    </div>
                  </td>
                  <td class="progress" style="vertical-align: top;">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id="module_progression_dialog" style="display: none;">
    <h2 style="margin-top: 0;"><%= t 'headings.student_progress_for_module', "Student Progress for %{module}", :module => '<span class="module_name">&nbsp;</span>'.html_safe %></h2>
    <div style="max-height: 200px; overflow: auto;">
      <div>
        <div class="completed_list progression_list" style="margin-bottom: 10px;">
          <h3 style="margin: 0;"><%= t('headings.students_completed', %{Students who have Completed the Module}) %></h3>
          <ul>
          </ul>
        </div>
        <div class="started_list progression_list" style="margin-bottom: 10px;">
          <h3 style="margin: 0;"><%= t('headings.students_in_progress', %{Students who are Working on the Module}) %></h3>
          <ul>
          </ul>
        </div>
        <div class="unlocked_list progression_list" style="margin-bottom: 10px;">
          <h3 style="margin: 0;"><%= t('headings.students_unlocked', %{Students who have Unlocked (but not started) the Module}) %></h3>
          <ul>
          </ul>
          </div>
        <div class="locked_list progression_list" style="margin-bottom: 10px;">
          <h3 style="margin: 0;"><%= t('headings.students_locked', %{Students who haven't Unlocked the Module}) %></h3>
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div style="display: none;">
  <a href="<%= context_url(@context, :progressions_context_context_modules_url) %>" class="progression_list_url">&nbsp;</a>
  <a href="<%= context_url(@context, :context_context_modules_assignment_info_url) %>" class="assignment_info_url">&nbsp;</a>
  <select id="module_list">
    <option value="">[ <%= t('select_module.instructions', %{Select Module}) %> ]</option>
    <% @modules.each do |m| %>
      <option value="<%= m.id %>" class="context_module_option context_module_<%= m.id %>"><%= t 'select_module.name', 'the module, %{module}', :module => m.name %></option>
    <% end %>
  </select>
  <div id="display_criterion_blank" class="criterion" style="display: none; float: left;">
    <span class="id" style="display: none;">&nbsp;</span>
    <span class="type" style="display: none;">&nbsp;</span>
    <span class="name"><%= t('module', %{module}) %></span>
    <span><a href="#" class="delete_prerequisite_link" title="<%= t('links.title.remove_prerequisite', %{Remove this prerequisite}) %>">&#215;</a></span>
  </div>
  <div id="completion_criterion_option" class="completion_criterion_option">
    <% ot 'criterion_for_assignment', 'For %{assignment} users must %{select_criterion}', :assignment => capture { %>
    <span style="padding: 0 4px;">
      <select class="id assignment_picker">
      </select>
    </span>
    <% }, :select_criterion => capture { %>
    <span style="padding: 0 4px;">
      <select class="type assignment_requirement_picker">
        <option class="any" value="must_view"><%= t('requirements.must_view', %{view the item}) %></option>
        <option class="assignment wiki_page discussion_topic" value="must_contribute"><%= t('requirements.must_contribute', %{contribute to the page}) %></option>
        <option class="assignment quiz" value="must_submit"><%= t('requirements.must_submit', %{submit the assignment}) %></option>
        <option class="assignment quiz" value="min_score"><%= t('requirements.must_score_at_least', %{score at least}) %></option>
      </select>
    </span>
    <% } %>
    <span class="min_score_box" style="display: none;">
      <input type="text" class="min_score" style="width: 35px;"/>
      <span class="points_possible_parent"><%= t 'assignment_points_possible', 'out of %{points_possible}', :points_possible => '<span class="points_possible">&nbsp;</span>'.html_safe %></span>
    </span>
  </div>
  <%= image_tag "flagged_question_dim.png", :id => "criterion_image_min_score", :class => "image not_blank", :alt => t('images.alt.min_score', "minimum score"), :title => t('images.title.min_score', "Students must get at least a %{min_score} on this item before the module is considered complete", :min_score => "{{ min_score }}") %>
  <%= image_tag "preview_dim.png", :id => "criterion_image_must_view", :class => "image not_blank", :alt => t('images.alt.must_view', "must view"), :title => t('images.title.must_view', "Students must view this item before the module is considered complete") %>
  <%= image_tag "text_entry_dim.png", :id => "criterion_image_must_submit", :class => "image not_blank", :alt => t('images.alt.must_submit', "must submit"), :title => t('images.title.must_submit', "Students must submit this assignment before the module is considered complete") %>
  <%= image_tag "text_entry_dim.png", :id => "criterion_image_must_contribute", :class => "image not_blank", :alt => t('images.alt.must_contribute', "must contribute"), :title => t('images.title.must_contribute', "Students must contribute to this item before the module is considered complete") %>
  <%= image_tag "blank.png", :id => "criterion_image_blank", :class => "image", :alt => "" %>
  <a href="<%= context_url(@context, :reorder_context_context_modules_url) %>" class="reorder_modules_url">&nbsp;</a>
</div>
<div id="current_user_progression_list" class="user_<%= @current_user && @current_user.id %>" style="display: none;">
  <div class="progression progression_blank">
    <div class="context_module_id">&nbsp;</div>
    <div class="workflow_state">&nbsp;</div>
    <div class="requirements_met">&nbsp;</div>
    <div class="current_position">&nbsp;</div>
    <div class="collapsed">&nbsp;</div>
  </div>
</div>
<% if can_do(@context, @current_user, :manage_grades) %>
<div style="display: none;" id="progression_list">
  <a href="#" class="progression_list_url">&nbsp;</a>
  <% cache([@context, @current_user, 'students_visible_to_user'].cache_key, :no_locale => true) do %>
    <% @context.students_visible_to(@current_user).except(:select).select("users.id, users.name").order_by_sortable_name.each do |student| %>
      <div class="student student_<%= student.id %>">
        <div class="id"><%= student.id %></div>
        <div class="name"><%= student.last_name_first %></div>
        <div class="current_module">&nbsp;</div>
        <div class="progressions">
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="progression" id="progression_list_blank">
    <div class="context_module_id">&nbsp;</div>
    <div class="workflow_state">&nbsp;</div>
  </div>
</div>
<% end %>

<% content_for :keyboard_navigation do %>
  <ul class="navigation_list" tabindex="-1">
    <li>
      <span class="keycode"><%= t('keycodes.next', %{j}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.next', %{Next Module/Item}) %></span>
    </li>
    <li>
      <span class="keycode"><%= t('keycodes.previous', %{k}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.previous', %{Previous Module/Item}) %></span>
    </li>
    <li>
      <span class="keycode"><%= t('keycodes.edit', %{e}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.edit', %{Edit Module/Item}) %></span>
    </li>
    <li>
      <span class="keycode"><%= t('keycodes.delete', %{d}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.delete', %{Delete Current Module/Item}) %></span>
    </li>
    <li>
      <span class="keycode"><%= t('keycodes.indent', %{i}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.indent', %{Increase Indent}) %></span>
    </li>
    <li>
      <span class="keycode"><%= t('keycodes.outdent', %{o}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.outdent', %{Decrease Indent}) %></span>
    </li>
    <li>
      <span class="keycode"><%= t('keycodes.new', %{n}) %></span>
      <span class="colon">:</span>
      <span class="description"><%= t('key.description.new', %{New Module}) %></span>
    </li>
  </ul>
<% end %>

