<% 
  editable ||= can_do(@context, @current_user, :manage_grades) || can_do(@context, @current_user, :manage_content)
  @modules ||= []
%>
<% cache(['context_module_render_', (context_module.try_rescue(:cache_key) || @context.asset_string), editable].join('/')) do %>

<div class="context_module <%= 'editable_context_module' if editable %>" id="context_module_<%= context_module ? context_module.id : "blank" %>" style="<%= hidden unless context_module %>">
  <a name="module_<%= context_module.id if context_module %>"></a>
  <div class="header context-module-header">

    <div class="context-module-left-toolbar">
      <span class="reorder_module_link" title="<%= t('reorder_modules', %{Drag to reorder modules}) %>" style="cursor: move; <%= 'hidden' unless @modules.length > 1 %>"><%= image_tag "move.png", :alt => t('reorder_modules', 'Drag to reorder modules') %></span>
      <span class="completion_status" style="<%= "visibility: hidden;" if !context_module || (context_module.completion_requirements || []).empty? %>">
        <%= image_tag "pass.png", :alt => t('images.alt.complete', "done"), :title => t('images.title.complete', "Module Completed"), :class => "complete_icon" %>
        <%= image_tag "blank.png", :alt => t('images.alt.incomplete', "incomplete"), :title => t('images.title.incomplete', "Module Incomplete"), :class => "incomplete_icon" %>
        <%= image_tag "lock.png", :alt => t('images.alt.locked', "locked"), :title => t('images.title.locked', "Module Locked"), :class => "locked_icon" %>
      </span>
      <span class="name"> <%= context_module.try_rescue(:name) || nbsp %></span>
    </div><!-- context-module-left-toolbar -->

    <ul class="context-module-toolbar">
      <li class="context-module-toolbar-item">
        <div class="admin-links">
          <button class="al-trigger ui-button"><span class="al-trigger-inner">Manage (will be accessibly hidden)</span></button>
          <ul class="al-options">
            <li>
              <a href="#" rel="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/items" class="add_module_item_link icon-plus"><%= t('links.add_item', %{Add Content}) %></a>
            <li>
              <a href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>" class="icon-edit edit_module_link" title="<%= t('links.title.edit_module', %{Edit}) %>"><%= t('links.text.edit_module', %{Edit}) %></a>
            </li>
            <li>
              <a href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>" class="delete_module_link icon-trash" title="<%= t('links.title.delete_module', %{Delete this module}) %>"><%= t('links.text.delete_module', %{Delete}) %></a>
            </li>
          </ul>
        </div>
      </li>

      <li class="context-module-toolbar-item adjust-top">
        <a href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/collapse" class="expand_module_link icon icon-expand" title="<%= t('links.show_contents', %{Show module contents}) %>"></a>
        <a href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/collapse" class="collapse_module_link icon icon-collapse" title="<%= t('links.hide_contents', %{Hide module contents}) %>"></a>
      </li>

      <li class="context-module-toolbar-item"><span class="id" style="display: none;"><%= context_module ? context_module.id : nbsp %></span></li>
      <li class="context-module-toolbar-item"><span class="unlock_at"><%= datetime_string(context_module.try_rescue(:unlock_at)) || nbsp %></span></li>
    </ul><!-- end context-module-toolbar -->

    <div class="clear"></div>
    <div style="display: none;">
      <span class="require_sequential_progress"><%= context_module.try_rescue(:require_sequential_progress) || nbsp %></span>
      <a href="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>/reorder" rel="nofollow" class="reorder_items_url" style="display: none;">&nbsp;</a>
    </div>
  </div>
  <div class="content">
    <div class="items context_module_items <%= 'manageable' if editable %>" style="min-height: 10px;">
      <% if context_module %>
        <% context_module.content_tags.select {|tag| !tag.deleted? }.each do |tag| %>
          <%= render :partial => 'context_modules/module_item', :object => tag, :locals => {:completion_criteria => context_module.completion_requirements, :editable => editable} %>
        <% end %>
      <% end %>
    </div>
    <div class="collapsed">
    </div>
  </div>

  <div class="footer">
    <div class="progression_container">
      <a href="#" class="progression_details_link" title="<%= t('links.title.student_progress', %{See Student Progress for this Module}) %>" style="display: none;">
        <span class="progression_started"><%= t 'progression_started_count', '*%{count}* In Progress', :count => 0, :wrapper => '<span class="progression_started_count">\1</span>' %></span> <span class="progression_complete"><%= t'progression_complete_count', '*%{count}* Complete', :count => 0, :wrapper => '<span class="progression_complete_count">\1</span>' %></span>
      </a>
      <span class="progression_state" style="<%= hidden if editable || !context_module || ((context_module.prerequisites || []).empty? && (context_module.completion_requirements || []).empty?) %>"></span>
      <div class="unlock_details" style="<%= hidden unless context_module && context_module.to_be_unlocked %>"><%= t 'module_will_unlock_at', 'will unlock *%{unlock_date}*', :wrapper => '<span class="unlock_at">\1</span>', :unlock_date => (datetime_string(context_module.try_rescue(:unlock_at)) || nbsp) %></div>
    </div><!-- progression_container -->

    <div class="clear"></div>
    <div class="prerequisites_footer" style="<%= hidden unless context_module && context_module.prerequisites && !context_module.prerequisites.empty? %>">
      <div class="prerequisites_message" style="float: left;">
        <%= before_label('prerequisites', %{Prerequisites}) %> 
      </div>
      <div class="prerequisites">
      <% if context_module %>
        <% (context_module.prerequisites || []).each do |pre| %>
          <div class="criterion <%= pre[:type] %>_criterion" style="float: left;">
            <span class="id" style="display: none;"><%= pre[:id] %></span>
            <span class="type" style="display: none;"><%= pre[:type] %></span>
            <span class="name"><%= pre[:name] || t('default_module_name', "module") %></span>
            <span style="padding-left: 3px;"><a href="#" class="delete_prerequisite_link" title="<%= t('links.title.remove_prerequisite', %{Remove this prerequisite}) %>" style="text-decoration: none;">&#215;</a></span>
          </div>
        <% end %>
      <% end %>
    </div><!-- prerequisites -->
  </div><!-- prerequisites_footer -->
    <div class="clear"></div>
  </div><!-- footer -->
</div>
<% end %>
