<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% provide :keyboard_navigation do %>
  <ul class="navigation_list" tabindex="-1">
    <li>
      <span class="keycode"><%= t('Up') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Previous Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('Down') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Next Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('Space') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Move Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('j') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Previous Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('k') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Next Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('e') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Edit Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('d') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Delete Current Module/Item") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('i') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Increase Indent") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('o') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("Decrease Indent") %></span>
    </li>
    <li>
      <span class="keycode"><%= t('n') %></span>
      <span class="colon">:</span>
      <span class="description"><%= t("New Module") %></span>
    </li>
  </ul>
<% end %>
