<%
  module_item_next ||= nil
  module_item = module_item_next
  published_status = (module_item && module_item.published?) ? 'published' : 'unpublished'
  tag = module_item || nil; completion_criteria ||= nil; editable ||= false
@module_item_image_tags ||= {
  'min_score' => image_tag("flagged_question_dim.png", :class => "image not_blank", :alt => t('images.alt.min_score', "minimum score"), :title => t('images.title.min_score', "Students must reach the minimum score on this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'max_score' => image_tag("flagged_question_dim.png", :class => "image not_blank", :alt => t('images.alt.max_score', "maximum score"), :title => t('images.title.max_score', "Students must not exceed the maximum score on this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'must_view' => image_tag("preview_dim.png", :class => "image not_blank", :alt => t('images.alt.must_view', "must view"), :title => t('images.title.must_view', "Students must view this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'must_contribute' => image_tag("text_entry_dim.png", :class => "image not_blank", :alt => t('images.alt.must_contribute', "must contribute"), :title => t('images.title.must_contribute', "Students must contribute to this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'must_submit' => image_tag("text_entry_dim.png", :class => "image not_blank", :alt => t('images.alt.must_submit', "must submit"), :title => t('images.title.must_submit', "Students must submit this assignment before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'indent' => "<i class='icon-arrow-right'></i>".html_safe,
  'outdent' => "<i class='icon-arrow-left'></i>".html_safe,
  'edit' => "<i class='icon-edit'></i>".html_safe,
  'delete' => "<i class='icon-end'></i>".html_safe,
  'other' => image_tag("blank.png", :class => "image", :alt => '')
}
 %>
<% criterion = completion_criteria && completion_criteria.find{|c| c[:id] == tag.id} %>

<li
  id="context_module_item_<%= tag ? tag.id : "blank" %>"
  style="<%= hidden unless module_item %>"
  class="
    context_module_item
    <%= module_item.content_type_class if module_item %>
    <%= 'also_assignment' if module_item && module_item.graded? %>
    indent_<%= tag.try_rescue(:indent) || '0' %>
    <%= 'progression_requirement' if criterion %>
    <%= criterion[:type] if criterion %>_requirement
    <%= module_item.item_class if module_item %>
  "
>
<div class="ig-row <%= 'with-completion-requirements' if criterion%> <%= 'ig-published' if module_item && module_item.published? %> <%= 'student-view' unless editable %>">
    <div class="ig-title module-item-title ellipses">
      <% if editable || module_item.nil? %>
      <span
        class="draggable-handle move_item_link"
        title="<%= t('drag_to_reorder', %{Drag to reorder or move item to another module}) %>"
      ><i class="icon-drag-handle"></i></span>
      <% end %>
      <span class="type_icon" title="<%= module_item.content_type if module_item %>">
        <i class="icon-document" aria-label="Item type: Document"></i>
        <i class="icon-download" aria-label="Item type: Download"></i>
        <i class="icon-discussion" aria-label="Item type: Discussion"></i>
        <i class="icon-assignment" aria-label="Item type: Assignment"></i>
        <i class="icon-quiz" aria-label="Item type: Quiz"></i>
        <i class="icon-link" aria-label="Item type: Link"></i>
      </span>

      <span class="item_name">
        <% if tag && tag.content_type == 'ExternalUrl' && tag.new_tab %>
          <a aria-label='<%= tag.title %>' class="title external_url_link" target="_blank" href="<%= tag.url %>"
             data-item-href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag.id %>"><%= tag.title %></a>
        <% else %>
          <a title="<%= tag && tag.title %>" class="title"
             href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>"><%= tag && tag.title %></a>
        <% end %>
        <span title="<%= tag && tag.title %>" class="title locked_title"><%= tag && tag.title %></span>
        <span class="points_possible" style="display: none;"><%= tag.try_rescue(:assignment).try_rescue(:points_possible) || nbsp %></span>
        <span class="requirement" style="display: none;">&nbsp;</span>
        <span class="completion_requirement" style="display: none;">&nbsp;</span>
        <span class="position" style="display: none;"><%= tag && tag.position %></span>
        <span class="url" style="display: none;"><%= tag.try(:url) if editable %></span>
        <span class="new_tab" style="display: none;"><%= tag.try(:new_tab) ? '1' : '0' if editable %></span>
      </span>
    </div>

    <div class="requirement-description">
      <span class="completion_requirement">
        <span class="requirement_type min_score_requirement">
          <% score_display = content_tag(:span, criterion && criterion[:min_score] || nbsp, class: 'min_score') %>
          <span class="unfulfilled"><%= t 'min_score.unfulfilled', 'must score at least a %{score}', :score => score_display %></span>
          <span class="fulfilled"><%= t 'min_score.fulfilled', 'scored at least a %{score}', :score => score_display %></span>
        </span>
        <span class="requirement_type max_score_requirement">
          <% score_display = content_tag(:span, criterion && criterion[:max_score] || nbsp, class: 'min_score') %>
          <span class="unfulfilled"><%= t 'max_score.unfulfilled', 'must score no more than a %{score}', :score => score_display %></span>
          <span class="fulfilled"><%= t 'max_score.fulfilled', 'scored no more than a%{score}', :score => score_display %></span>
        </span>
        <span class="requirement_type must_view_requirement">
          <span class="unfulfilled"><%= t('must_view.unfulfilled', %{must view the page}) %></span>
          <span class="fulfilled"><%= t('must_view.fulfilled', %{viewed the page}) %></span>
        </span>
        <span class="requirement_type must_contribute_requirement">
          <span class="unfulfilled"><%= t('must_contribute.unfulfilled', %{must contribute to the content of the page}) %></span>
          <span class="fulfilled"><%= t('must_contribute.fulfilled', %{contributed to the content of the page}) %></span>
        </span>
        <span class="requirement_type must_submit_requirement">
          <span class="unfulfilled"><%= t('must_submit.unfulfilled', %{must submit the assignment}) %></span>
          <span class="fulfilled"><%= t('must_submit.fulfilled', %{submitted the assignment}) %></span>
        </span>
      </span>
    </div> <!-- requirement description end -->

    <div class="module_item_icons nobr">
      <!-- dead code? -->
      <span class="criterion <%= 'defined' if criterion %>">
        <span class="min_score" style="display: none;"><%= (criterion && criterion[:min_score]) || nbsp %></span>
        <span class="criterion_type" style="display: none;"><%= (criterion && criterion[:type]) || nbsp %></span>
      </span>
      <!-- /dead code -->
      <span class="type" style="display: none;"><%= tag ? tag.content_type_class : nbsp %></span>
      <span class="id" style="display: none;"><%= tag ? tag.id : nbsp %></span>
      <span class="graded" style="display: none;"><%= tag && tag.graded? ? '1' : '0' %></span>
    </div>

    <div class="ig-details row-fluid">
      <div class="span4 due_date_display" style="text-align: right"></div>
      <div class="span4 points_possible_display"></div>
    </div>

    <% if editable || module_item.nil? %>
      <div class="ig-admin">
        <span
          data-module-type="<%= module_item && module_item.content_type_class %>"
          data-content-id="<%= module_item && module_item.content_id %>"
          data-id="<%= module_item_publishable_id(module_item) %>"
          data-course-id="<%= module_item && module_item.context_id %>"
          data-module-id="<%= module_item && module_item.context_module_id %>"
          data-module-item-id="<%= module_item && module_item.id %>"
          data-published="<%= module_item && published_status == 'published' %>"
          data-publishable="<%= module_item_publishable?(module_item) %>"
          data-unpublishable="<%= module_item_unpublishable?(module_item) %>"
          title=""
          data-tooltip
          class="publish-icon <%= published_status %>"
        >
          <i class="icon-<%= published_status %>"></i>
        </span>

        <div class="inline-block" role=application">
          <a class="al-trigger al-trigger-gray" role="button" tabindex="0" href="#">
            <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
            <span class="screenreader-only"><%= t('settings', 'Settings') %></span>
          </a>

          <ul class="al-options">
            <li><a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" class="outdent_item_link" title="<%= t('links.outdent_item', %{Decrease indent}) %>"><%= @module_item_image_tags['outdent'] %> <%= t('links.outdent', %{Decrease indent}) %></a></li>
            <li><a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" class="indent_item_link" title="<%= t('links.indent_item', %{Increase indent}) %>"><%= @module_item_image_tags['indent'] %> <%= t('links.indent', %{Increase indent}) %></a></li>
            <li><a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" class="edit_item_link edit_link" title="<%= t('links.edit_item_details', %{Edit item details}) %>"><%= @module_item_image_tags['edit'] %> <%= t('links.edit_item', %{Edit}) %></a></li>
            <li>
              <a href="#<%= tag ? tag.id : "{{ id }}" %>"
                 aria-label="<%= t('links.move_item_label', %{Move this item}) %>"
                 class="move_module_item_link icon-updown"
                 title="<%= t('links.move_item', %{Move this item}) %>"
              ><%= t('modules_item_move_to', "Move to...") %></a>
            </li>
            <li><a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" class="delete_item_link delete_link" title="<%= t('links.remove_item_from_module', %{Remove this item from the module}) %>"><%= @module_item_image_tags['delete'] %> <%= t('links.remove_item', %{Remove}) %></a></li>
            <% menu_type_to_class = {
                :assignment_menu => Assignment,
                :quiz_menu => Quizzes::Quiz,
                :wiki_page_menu => WikiPage
              }
            %>
            <% menu_type_to_class.each do |menu_type, content_class| %>
              <% if !tag || tag.content.is_a?(content_class) %>
                <% @menu_tools[menu_type].each do |tool| %>
                  <li class="<%= menu_type %>">
                    <% tool_path = course_external_tool_path(@context, tool, launch_type: menu_type,
                                                             :module_items => [tag ? tag.id : "{{ id }}"]) %>
                    <a class="menu_tool_link" href="<%= tool_path %>">
                      <% if icon_url = tool.extension_setting(menu_type, :icon_url) %><img class="icon" src="<%= icon_url %>" /><% end %>
                      <%= tool.label_for(menu_type) %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</li>

