<% tag = module_item || nil; completion_criteria ||= nil; editable ||= false
@module_item_image_tags ||= {
  'min_score' => image_tag("flagged_question_dim.png", :class => "image not_blank", :alt => t('images.alt.min_score', "minimum score"), :title => t('images.title.min_score', "Students must reach the minimum score on this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'max_score' => image_tag("flagged_question_dim.png", :class => "image not_blank", :alt => t('images.alt.max_score', "maximum score"), :title => t('images.title.max_score', "Students must not exceed the maximum score on this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'must_view' => image_tag("preview_dim.png", :class => "image not_blank", :alt => t('images.alt.must_view', "must view"), :title => t('images.title.must_view', "Students must view this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'must_contribute' => image_tag("text_entry_dim.png", :class => "image not_blank", :alt => t('images.alt.must_contribute', "must contribute"), :title => t('images.title.must_contribute', "Students must contribute to this item before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'must_submit' => image_tag("text_entry_dim.png", :class => "image not_blank", :alt => t('images.alt.must_submit', "must submit"), :title => t('images.title.must_submit', "Students must submit this assignment before the module is considered complete"), :style => "vertical-align: top; padding-top: 2px;"),
  'indent' => "<i class='icon-arrow-right standalone-icon'></i>".html_safe,
  'outdent' => "<i class='icon-arrow-left standalone-icon'></i>".html_safe,
  'edit' => "<i class='icon-edit standalone-icon'></i>".html_safe,
  'delete' => "<i class='icon-end standalone-icon'></i>".html_safe,
  'other' => image_tag("blank.png", :class => "image", :alt => '')
}
 %>
<% criterion = completion_criteria && completion_criteria.find{|c| c[:id] == tag.id} %>
<table id="context_module_item_<%= tag ? tag.id : "blank" %>" tabindex="0" aria-label='<%= t('module.item_aria_label', "%{item_label} Module Item", :item_label => (tag ? tag.title : "")) %>' class="context_module_item <%= module_item.content_type_class if module_item %> <%= 'also_assignment' if module_item && module_item.graded? %> indent_<%= tag.try_rescue(:indent) || '0' %> <%= 'progression_requirement' if criterion %> <%= criterion[:type] if criterion %>_requirement <%= module_item.item_class if module_item %>" style="<%= hidden unless module_item %>">
  <tr>
    <td class="module_item_icons nobr">
      <span style="cursor: move;" aria-hidden="true" title="<%= t('drag_to_reorder', %{Drag to reorder or move item to another module}) %>" class="move_item_link"><%= image_tag "move.png" %></span>

      <span class="completion_status">
        <%= image_tag "blank.png", :alt => t('images.alt.complete', "done"), :title => t('images.title.complete', "Module Item Completed"), :class => "complete_item_icon" %>
        <%= image_tag "blank.png", :alt => t('images.alt.incomplete', "incomplete"), :title => t('images.title.incomplete', "Module Item Incomplete"), :class => "incomplete_item_icon" %>
      </span>

      <span class="type_icon" title="<%= module_item.content_type if module_item %>">
        <i class="icon-document" aria-label="Item type: Document"></i>
        <i class="icon-download" aria-label="Item type: Download"></i>
        <i class="icon-discussion" aria-label="Item type: Discussion"></i>
        <i class="icon-assignment" aria-label="Item type: Assignment"></i>
        <i class="icon-quiz" aria-label="Item type: Quiz"></i>
        <i class="icon-link" aria-label="Item type: Link"></i>
      </span>

      <span class="criterion <%= 'defined' if criterion %>">
        <span class="min_score" style="display: none;"><%= (criterion && criterion[:min_score]) || nbsp %></span>
        <span class="criterion_type" style="display: none;"><%= (criterion && criterion[:type]) || nbsp %></span>
      </span>

      <span class="type" style="display: none;"><%= tag ? tag.content_type_class : nbsp %></span>
      <span class="id" style="display: none;"><%= tag ? tag.id : nbsp %></span>
      <span class="graded" style="display: none;"><%= tag && tag.graded? ? '1' : '0' %></span>
    </td><!-- module_item_icons -->

    <td style="text-align: left;" class="item_name">
      <% if tag && tag.content_type == 'ExternalUrl' && tag.new_tab %>
        <a aria-label='<%= tag.title %>' class="title external_url_link" target="_blank" href="<%= tag.url %>"
           data-item-href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag.id %>"><%= tag.title %></a>
      <% else %>
        <a aria-label='<%= tag && tag.title %>' class="title" href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>"><%= tag && tag.title %></a>
      <% end %>
      <span class="title locked_title"><%= tag && tag.title %></span>
      <span class="points_possible" style="display: none;"><%= tag.try_rescue(:assignment).try_rescue(:points_possible) || nbsp %></span>
      <span class="requirement" style="display: none;">&nbsp;</span>
      <span class="completion_requirement" style="display: none;">&nbsp;</span>
      <span class="position" style="display: none;"><%= tag && tag.position %></span>
      <span class="url" style="display: none;"><%= tag.try(:url) if editable %></span>
      <span class="new_tab" style="display: none;"><%= tag.try(:new_tab) ? '1' : '0' if editable %></span>
      <div class="completion_requirement">
        <div class="requirement_type min_score_requirement">
          <% score_display = content_tag(:span, criterion && criterion[:min_score] || nbsp, class: 'min_score') %>
          <span class="unfulfilled"><%= t 'min_score.unfulfilled', 'must score at least a %{score}', :score => score_display %></span>
          <span class="fulfilled"><%= t 'min_score.fulfilled', 'scored at least a %{score}', :score => score_display %></span>
        </div>
        <div class="requirement_type max_score_requirement">
          <% score_display = content_tag(:span, criterion && criterion[:max_score] || nbsp, class: 'min_score') %>
          <span class="unfulfilled"><%= t 'max_score.unfulfilled', 'must score no more than a %{score}', :score => score_display %></span>
          <span class="fulfilled"><%= t 'max_score.fulfilled', 'scored no more than a%{score}', :score => score_display %></span>
        </div>
        <div class="requirement_type must_view_requirement">
          <span class="unfulfilled"><%= t('must_view.unfulfilled', %{must view the page}) %></span>
          <span class="fulfilled"><%= t('must_view.fulfilled', %{viewed the page}) %></span>
        </div>
        <div class="requirement_type must_contribute_requirement">
          <span class="unfulfilled"><%= t('must_contribute.unfulfilled', %{must contribute to the content of the page}) %></span>
          <span class="fulfilled"><%= t('must_contribute.fulfilled', %{contributed to the content of the page}) %></span>
        </div>
        <div class="requirement_type must_submit_requirement">
          <span class="unfulfilled"><%= t('must_submit.unfulfilled', %{must submit the assignment}) %></span>
          <span class="fulfilled"><%= t('must_submit.fulfilled', %{submitted the assignment}) %></span>
        </div>
      </div>
    </td><!-- .item_name -->

    <td class="due_date_display">&nbsp;</td>
    <td class="points_possible_display">&nbsp;</td>

    <td class="links">
      &nbsp;
      <a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" aria-label="<%= t('links.outdent_label', %{Decrease indent}) %>" class="outdent_item_link" title="<%= t('links.outdent', %{Decrease indent}) %>"><%= @module_item_image_tags['outdent'] %></a>
      <a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" aria-label="<%= t('links.indent_label', %{Increase indent}) %>" class="indent_item_link" title="<%= t('links.indent', %{Increase indent}) %>"><%= @module_item_image_tags['indent'] %></a>
      <a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" aria-label="<%= t('links.edit_item_details_label', %{Edit item details}) %>" class="edit_item_link edit_link" title="<%= t('links.edit_item', %{Edit item details}) %>"><%= @module_item_image_tags['edit'] %></a>
      <a href="<%= context_url(@context, :context_url) %>/modules/items/<%= tag ? tag.id : "{{ id }}" %>" aria-label="<%= t('links.remove_item_label', %{Remove this item from the module}) %>" class="delete_item_link delete_link" title="<%= t('links.remove_item', %{Remove this item from the module}) %>"><%= @module_item_image_tags['delete'] %></a>
    </td>
  </tr>
</table>
