<%
  module_item_conditional_next ||= nil
  module_item ||= module_item_conditional_next
  item_data ||= { published_status: 'unpublished' }
  completion_criteria ||= nil
  editable ||= false
  criterion = completion_criteria && completion_criteria.find{|c| c[:id] == module_item.id}
%>

<li
  id="context_module_item_<%= module_item ? module_item.id : 'blank' %>"
  class="context_module_item context_module_item_conditional_info indent_<%= module_item.try_rescue(:indent) || '0' %>"
>
  <div class="ig-row">
<%
  if item_data[:mastery_paths][:locked]
%>
    <span class="type_icon" title="<%= t('Locked Content') %>">
      <span class="ig-type-icon">
        <i class="icon-lock" aria-label="<%= t('Item type: Locked') %>"></i>
      </span>
    </span>
    <div class="ig-info">
      <div class="module-item-title">
        <span class="item_name" id="module-item-locked-<%= module_item.id %>">
          <em class="ig-title">
            <%= t('Locked until "%{item_name}" is graded', {item_name: module_item.content.title}) %>
          </em>
        </span>
      </div>
    </div>
<%
  else
%>
    <span class="type_icon" title="<%= t('Content Choice') %>">
      <span class="ig-type-icon">
        <i class="icon-unlock" aria-label="<%= t('Item type: Choice') %>"></i>
      </span>
    </span>
    <div class="ig-info">
      <div class="module-item-title">
        <span class="item_name">
          <a href="<%= item_data[:choose_url] %>" title="<%= t('Choose Assignment Group') %>" class="ig-title">
            <%= t('Choose Assignment Group') %>
          </a>
        </span>
        <span class='conditional_options_count'>
          <%= t({ one: '1 Option', other: '%{count} Options' }, { count: item_data[:mastery_paths][:assignment_sets].count }) %>
        </span>
      </div>
    </div>
<%
  end
%>
  </div>
</li>
