<%
  hide_footer = true
  prerequisites = []

  if editable
    hide_footer = context_module && context_module.prerequisites && !context_module.prerequisites.empty?
    prerequisites = (context_module.prerequisites || []) if context_module
  else
    hide_footer = context_module && context_module.active_prerequisites && !context_module.active_prerequisites.empty?
    prerequisites = (context_module.active_prerequisites || []) if context_module
  end
%>

<div class="prerequisites_footer" style="<%= hidden unless hide_footer%>">
    <div class="prerequisites_message" style="float: left;">
      <%= before_label('prerequisites', %{Prerequisites}) %> 
    </div>
    
    <div class="prerequisites">
      <% if context_module %>
        <% prerequisites.each do |pre| %>
          <div class="criterion <%= pre[:type] %>_criterion" style="float: left;">
            <span class="id" style="display: none;"><%= pre[:id] %></span>
            <span class="type" style="display: none;"><%= pre[:type] %></span>
            <span class="name"><%= pre[:name] || t('default_module_name', "module") %></span>
            <span><a href="#" class="delete_prerequisite_link" title="<%= t('links.title.remove_prerequisite', %{Remove this prerequisite}) %>">&#215;</a></span>
          </div>
        <% end %>
      <% end %>
   </div><!-- prerequisites -->
</div><!-- prerequisites_footer -->
