<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  hide_footer = true
  prerequisites = []

  if editable
    hide_footer = context_module && context_module.prerequisites && !context_module.prerequisites.empty?
    prerequisites = (context_module.prerequisites || []) if context_module
  else
    hide_footer = context_module && context_module.active_prerequisites && !context_module.active_prerequisites.empty?
    prerequisites = (context_module.active_prerequisites || []) if context_module
  end
  prereq_list = prerequisite_list(prerequisites)
%>

<div class="prerequisites">
  <% if context_module %>
    <% prerequisites.each do |pre| %>
      <div class="prerequisite_criterion <%= pre[:type] %>_criterion pull-left">
        <span class="id" style="display: none;"><%= pre[:id] %></span>
        <span class="type" style="display: none;"><%= pre[:type] %></span>
        <span class="name" style="display: none;"><%= pre[:name] %></span>
      </div>
    <% end %>
  <% end %>

  <div class="prerequisites_message" title='<%= "#{t('Prerequisites:')} #{prereq_list}" %>' style="<%= hidden unless hide_footer%>">
    <%= before_label('prerequisites', %{Prerequisites}) %>
    <%= prereq_list %>
  </div>
</div>
