<%
  content_for :page_title, @tag.title
  add_crumb @tag.context_module.name, context_url(@context, :context_context_modules_url)
  add_crumb @tag.title
  js_bundle :file_inline
  js_bundle 'module_sequence_footer'
%>

<% if @tag.locked_for? @current_user %>
  <h2><%= @tag.title %></h2>
  <%= lock_explanation({:context_module => @tag.context_module, :asset_string => "content_tag_#{@tag.id}"}, nil, @context) %>
<% else %>
  <ul style="margin-top:0" class="ui-listview ui-listview-no-rounded-bottom">
    <li class="active">
      <span style="font-size:18px; text-align: center; padding: .2em" class="ui-listview-text">
        <a href="<%= @tag.url %>"><%= @tag.title %></a>
      </span>
    </li>
    <li>
      <span style="padding:0" class="ui-listview-text">
        <%= iframe(@tag.url, :id => 'file_content', :style => "width:100%; height: 400px; float:left;") %>
        <!-- had to float then clear this because there was a space below the iframe I couldnt figure out how to get to go away -->
        <div class="clear"></div>
      </span>
    </li>
  </ul>
<% end %>
<%= render :partial => 'shared/sequence_footer', :locals => {:asset => @tag} %>
