<div class="form-column-left">
  {{#t 'group_assignment_header'}}Group Assignment{{/t}}
</div>

<div class="form-column-right">
  <div class="border border-trbl border-round">

    {{!-- Group Assignment selection --}}
    <label class="checkbox flush">
      {{checkbox "has_group_category"
        id="assignment_has_group_category"
        prefix=prefix
        checked=groupCategoryId
        disabled=groupCategoryIdFrozen}}
      {{#t "is_group_assignment"}}This is a Group Assignment{{/t}}
    </label>

    {{!-- Individual grading? --}}
    <div class="nested">
      <div class="group_submission_warning alert" style="display:none">
        {{#t "students_already_submitted_warning"}}Prior individual submissions will
        not be counted as group submissions and will show incorrectly in
        speedgrader.{{/t}}
      </div>
      <div id="group_category_options" style="{{hiddenUnless groupCategoryId}}">
      <label class="checkbox" >
        {{checkbox "grade_group_students_individually"
          id=null
          prefix=prefix
          checked=gradeGroupStudentsIndividually
          disabled=groupCategoryIdFrozen}}
        {{#t "grade_group_students_individually"}}
          Assign Grades to Each Student Individually
        {{/t}}
      </label>

      {{!-- Group selection --}}
      <label for="group_category_id">
        {{#t "group_set"}}Group Set{{/t}}
      </label>
      <select id="assignment_group_category_id"
        name="{{#if nested}}assignment[group_category_id]{{else}}group_category_id{{/if}}"
        {{disabledIfIncludes frozenAttributes "group_category_id"}}>
        {{#each groupCategories}}
          <option value="{{id}}" {{selectedIf ../groupCategoryId this.id}}>
            {{name}}
          </option>
        {{/each}}
        <option value="new">
          [ {{#t "group_category_options"}}New Group Category{{/t}} ]
        </option>
      </select>
    </div>
  </div>
</div>
