<li style="<%= student ? "" : "display: none;" %>" id="student_<%= student ? student.id : "blank" %>" class="student">
  <div style="float: left;">
    <div class="editing">
      <input type="text" name="name" value="<%= student.name rescue "" %>" title="Student Name"/>
    </div>
    <div class="showing">
      <span class="name" style="padding-right: 10px;" title="Click to Edit Name"><%= student && student.name ? student.name : "New Student" %></span>
    </div>
  </div>
  <div style="float: right;" class="links">
    <div class="showing">
      <% id = student ? student.student_enrollments.find_by_course_id(@context.id) : "{{ id }}"%>
      <a href="<%= context_url(@context, :context_unenroll_url, :id => id) %>" class="delete_student_link" title="Remove this Student">&#215;</a>
    </div>
    <div class="editing">
      <button type="button" class="button small-button save_name_button">Ok</button>
    </div>
  </div>
  <div style="float: right; margin-right: 30px;">
    &lt;<span class="email"><%= student && student.email ? student.email : "no email" %></span>&gt;
  </div>
  <div class="clear"></div>
</li>
