<% view ||= 'name' 
  hide_scratch ||= false
%>
<ul id="wizard-steps" style='display:none;'>
  <li class="first <%= "active" if view == 'name' %>"><a href="<%= url_for :action => "name" %>">
    <span class="title"><%= t :step1, "Step 1" %></span>
    <span class="subtitle"><%= t :course_name, "Course Name" %></span>
    </a>
  </li>
  <li class="<%= "active" if view == 'assignments' %>"><a href="<%= url_for :action => "assignments" %>">
    <span class="title"><%= t :step2, "Step 2" %></span>
    <span class="subtitle"><%= t :assignments, "Assignments" %></span>
    </a>
  </li>
  <li class="<%= "active" if view == 'students' %>"><a href="<%= url_for :action => "students" %>">
    <span class="title"><%= t :step3, "Step 3" %></span>
    <span class="subtitle"><%= t :students, "Students" %></span>
    </a>
  </li>
  <li class="<%= "active" if view == 'setup' %>"><a href="<%= url_for :action => "setup" %>">
    <span class="title"><%= t :step4, "Step 4" %></span>
    <span class="subtitle"><%= t :review_and_save, "Review and Save" %></span>
    </a>
  </li>
  <li id="hide-scratch" style="<%= hidden if hide_scratch %>">
    <%= link_to t(:start_from_scratch, "Start From Scratch"), getting_started_url(:fresh => 1) %>
    <% if @context && session[:saved_course_uuid] == @context.uuid %>
      | <%= link_to t(:visit_course_page, "Visit Course Page"), course_url(@context) %>
    <% end %>
  </li>
</ul>

<% js_block do %>
  <script type="text/javascript">
  require([
    'jquery' /* $ */,
    'jquery.instructure_misc_plugins' /* chevronCrumbs */
  ], function($) {
    $(function(){
      $("#wizard-steps").chevronCrumbs();
    });
  });
  </script>
<% end %>
