<% content_for :page_title do %><%= t :page_title, "Try It: Assignments" %><% end %>

<%= render :partial => 'wizard_secondary_nav', :locals => {:view => 'assignments'} %>

<% content_for :right_side do %>
  <div class="rs-margin-lr rs-margin-top">
      <p><%= t :skip_assignments_notice, "Not ready to create your assignments?  Feel free to skip this step, you can always come back to it later after your course is set up." %></p>
      <p>
        <a href="#" class="wizard_popup_link help <%= 'was_auto_open' if @assignments.empty? %>"><%= t :how_do_i, "How Do I...?" %></a>
      </p>
      <p>
        <% ot :add_assignment_link, "*Add Assignment* to %{group_name}", :group_name => capture { %>
        <select class="assignment_groups_select">
          <% @groups.each do |group| %>
            <option value="<%= group.id %>"><%= group.name %></option>
          <% end %>
        </select>
        <% }, :wrapper => "<a href=\"#{context_url(@context, :new_context_assignment_url)}\" class=\"add_assignment_link add groupless_link\">\\1</a>" %>
        <br/>
        <a href="#" class="add_group_link add"> <%= t :add_assignment_group_link, "Add Assignment Group" %></a>
      </p>
      <%= render :partial => 'assignments/group_weights', :locals => {:editable => can_do(@context, @current_user, :manage_grades)} %>
  </div>
  <div class="rs-margin-lr" style="text-align: right; white-space:nowrap;">
    <a href="<%= url_for :action => "name" %>" class="previous_step_button button small-button"><%= t "#buttons.previous", "Previous" %></a>
    <a href="<%= url_for :action => "students" %>" class="next_step_button button big-button"><%= t :student_next_step_link, "Next Step: Students" %></a>
    <div style="margin-top: 5px; margin-right: 5px;"><a href="<%= context_url(@context, :context_url) %>" class="save_button button button-secondary"><%= t :save_and_skip, "Save & Skip the Rest" %></a></div>
  </div>
<% end %>

<% js_bundle :assignments %>

<div style="margin-bottom: 10px; padding-left: 20px; " id="class_weighting_box">
  <input type="checkbox" id="class_weighting_policy" name="class_weighting_policy" <%= "checked" if @context.group_weighting_scheme == 'percent' %>/>
  <label for="class_weighting_policy"><%= t :grade_weight_label, "Weight the final grade based on assignment groups" %></label>
  <a href="<%= url_for (@context) %>" class="context_url" style="display: none;">&nbsp;</a>
</div>
<div id="groups" class="groups_editable">
  <%= render :partial => "shared/assignment_group", :collection => @groups, :locals => { :multiple_groups => @groups.length > 1 } %>
</div>
<% if @groups.length == 1 %>
  <% if @context.teacherless? %>
    <p style="margin-top: 30px;"><%= t :grade_groups_notice, "Nicely done. Next you'll want to define the assignments for your course. Most classes base grades either on straight points, or points according to types (50% of your grade is from tests, 20% is from papers, etc.). In Canvas you add assignments, quizzes, or whatever into groups and optionally weight those groups. Build your Canvas course to match the grading scheme of your actual course, and we'll take care of computing your final grade for you." %></p>
  <% else %>
    <p style="margin-top: 30px;">
    <%= t :default_group_notice, "*Now we're getting somewhere!* Next you'll want to add
    your course assignments.  Assignments are organized into groups (quizzes, papers, etc.), 
    and each group can be weighted to count as a percentage of the final score.  We've added a 
    default group above to get you started.  You can add assignments to it by clicking the plus icon,
    or use the links to the right to create your own groups.", :wrapper => "<b>\\1</b>" %></p>
  <% end %>
  <p><%= t :confused_notice, "Confused? Click the \"How Do I...?\" link to the right for more help." %></p>
<% end %>
<%= render :partial => "shared/assignment_group", :object => nil %>
<%= render :partial => "shared/assignment", :object => nil %>

<%= render :partial => "assignments/add_assignment_form" %>
<%= render :partial => "assignments/add_assignment_group_form" %>
<div style="display: none;">
  <a href="<%= context_url(@context, :controller => "assignment_groups", :action => "reorder") %>" class="reorder_groups_url">&nbsp;</a>
</div>
<div id="full_assignment_details" style="display: none;">
  <%= render :partial => "shared/full_assignment", :object => @context.assignments.new, :locals => {:dialog => true} %>
</div>
<%= image_tag "graded.png", :style => "display: none; width: 16px;", :id => "submitted_icon", :class => "submitted_icon" %>

<% content_for :wizard_box do %>
  <%= render :partial => "assignments/wizard_box" %>
<% end %>
<% js_block do %>
<script>
require([
  'INST' /* INST */
], function(INST) {
  INST.gettingStartedPage = true;
});
</script>
<% end %>
