<% content_for :page_title, t(:page_title, "Try It: Save") %>

<% content_for :right_side do %>
  <% unless @context.teacherless? %>
    <div class="rs-margin-lr rs-margin-top">
        <p><%= t :unpublished_notice, "Don't worry, this course will stay visible to just you until you publish it. When you publish, your course will become active and students will be notified that it's has been created and they are enrolled. You can publish at any time from the course's main page." %></p>
    </div>
  <% end %>
  <div class="rs-margin-lr" style="text-align: right; white-space:nowrap;">
    <% form_tag getting_started_finalize_url, {:id => "publish_course_url"} do %>
      <a href="<%= url_for :action => "students" %>" class="previous_step_button button small-button"><%= t "#buttons.previous", "Previous" %></a>
      <button type="submit" class="button big-button"><%= t "#buttons.save_course", "Save Course" %></button>
    <% end %>
  </div>
<% end %>

<% js_block do %>
  <script>
  require([
    'jquery' /* $ */
  ], function($) {
    $(function(){
      $.each(['assignment', 'student'], function(i, thing){
        $(".hide_"+ thing +"s_link,.show_"+ thing +"s_link").click(function(event) {
          event.preventDefault();
          $(".hide_"+ thing +"s_link").toggle();
          $(".show_"+ thing +"s_link").toggle();
          $("#"+ thing +"_list").slideToggle();
        });
      });
    });
  });
  </script>
<% end %>

<%= render :partial => 'wizard_secondary_nav', :locals => {:view => 'setup'} %>

<h2><%= t "#titles.review_and_save", "Review and Save" %></h2>
  <p><%= t :summary_notice, "*That's it! You're done!* Here's the summary of everything you put in. Feel free to click any section to go back and edit the information there. When you're sure you've got everything right, click the save button to go to your course page.", :wrapper => "<b>\\1</b>" %>
  </p>
<div>
  <table style="width: 100%;">
    <tr>
      <td style=" width: 130px; text-align: right; padding-right: 20px;"><%= link_to before_label(:course_name, "Course Name"), :action => 'name' %></td>
      <td><span style="font-size: 1.2em; font-weight: bold;"><%= @context.name %></span></td>
    </tr><tr>
      <td style="text-align: right; padding-right: 20px; vertical-align: top;"><%= link_to t(:assignments, "Assignments"), :action => 'assignments' %></td>
      <td>
      </a> 
        <b>
          <%= @assignments && !@assignments.empty? ? t(:total_assignment_count, { :one => "1 Assignment Total", :other => "%{count} Assignments Total" }, :count => @assignments.length) : t(:no_assignments, "No Assignments Created") %>
        </b>
        <% if @assignments && !@assignments.empty? %>
        <a href="#" style="padding-left: 20px; font-size: 0.9em; display: none;" class="hide_assignments_link"><%= t '#buttons.hide', "Hide" %></a>
        <a href="#" style="padding-left: 20px; font-size: 0.9em;" class="show_assignments_link"><%= t "#buttons.show", "Show" %></a>
        <div id="assignment_list" style="display:none;">
          <table style="width: 100%;" class="summary">
            <tr>
              <th style="min-width: 150px;"><%= t "short_header.assignment", "Assignment" %></th>
              <th><%= t "short_header.type", "Type" %></th>
              <th><%= t "short_header.points", "Pts" %></th>
              <th><%= t "short_header.due", "Due" %></td>
            </tr>
            <% @assignments.each do |assignment| %>
            <tr>
              <td><%= assignment.title ? assignment.title : t("short_header.assignment", "Assignment") %></td>
              <td><%= assignment.assignment_group.name rescue "-" %></td>
              <td><%= assignment.points_possible rescue "-" %></td>
              <td><%= assignment.due_at.strftime("%b %d") rescue "-" %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <% end%>
      </td>
    </tr><tr>
      <td style="text-align: right; padding-right: 20px; vertical-align: top;"><%= link_to before_label(:students, 'Students'), :action => 'students' %></td>
      <td>
        <b>
          <%= @students && !@students.empty? ? t(:total_students_count, { :one => "1 Student Total", :other => "%{count} Students Total" }, :count => @students.length) : t(:no_students, "No Students Added") %> 
        </b>
        <% if @students && !@students.empty? %>
        <a href="#" style="padding-left: 20px; font-size: 0.9em; display: none;" class="hide_students_link"><%= t "#buttons.hide", "Hide" %></a>
        <a href="#" style="padding-left: 20px; font-size: 0.9em;" class="show_students_link"><%= t "#buttons.show", "Show" %></a>
        <div id="student_list" style="display:none;">
          <table style="width: 100%;" class="summary">
            <tr>
              <th style="min-width: 150px;"><%= t "short_header.student", "Student" %></th>
              <th><%= t "short_header.email", "Email" %></th>
            </tr>
            <% @students.each do |student| %>
            <tr>
              <td><%= student.name ? student.name : t(:new_student, "New Student") %></td>
              <td><%= student.email ? student.email : t(:no_email, "no email") %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <% end %>
      </td>
    </tr>
  </table>
  </div>
</div>
