<% content_for :page_title, t(:page_title, "Try It: Add Students") %>
<% content_for :right_side do %>
<div class="rs-margin-lr rs-margin-top">
    <% if @context.teacherless? %>
      <p><%= t :teacherless_add_student_skip, "You can always skip this step and invite your classmates (or even your teacher) to share this course later on." %>
      </p>
    <% else %>
      <p><%= t :teacher_add_student_skip, "If you're not sure who's going to be in your class, you can skip this step and add students (along with TAs and other teachers) anytime after you finish the wizard." %>
      </p>
    <% end %>
</div>
<div class="rs-margin-lr" style="text-align: right;">
  <a href="<%= url_for :action => "assignments" %>" class="previous_step_button button small-button"><%= t "#buttons.previous", "Previous" %></a>
  <a href="<%= url_for :action => "setup" %>" class="next_step_button button big-button"><%= t :save_next_step_link, "Next Step: Save" %></a>
  <div style="margin-top: 5px; margin-right: 5px;"><a href="<%= context_url(@context, :context_url) %>" class="save_button button  button-secondary"><%= t :save_and_skip, "Save & Skip the Rest" %></a></div>
</div>
<% end %>
<% content_for :stylesheets do %>
<style>
.user_list {
  margin: 0;
}
.user_list li {
  -moz-border-radius: 3px;
  display: block;
  list-style-type: none;
  margin-bottom: 1px;
}
.user_list .user .links{
  float: right;
  margin: 0 10px;
}
.user_list .user .name, .user_list .user .short_name{
  display: none;
  float: left;
}
.user_list .user .email{
  float: right;
}
.user_list .user:hover {
  background-color: #eee;
}
#content .user_list .user .name {
  display: inline;
}
.user_list .user .associated_user {
  display: none
}
</style>
<% end %>

<%= render :partial => 'wizard_secondary_nav', :locals => {:view => 'students'} %>

<p style="margin-top: 10px;">
<%= if @context.teacherless?
  if @context.root_account.login_handle_name_is_customized?
    t :teacherless_add_student_notice_with_login_handle, "If you'd like, you can invite your fellow classmates to also use this course. That way they won't have to set up the grading policies all over again, and we'll also give you a place to share files and collaborate. Just paste in a list of users below to invite others to join. You can use their email addresses or %{login_handle_name}.", :login_handle_name => @context.root_account.login_handle_name
  else
    t :teacherless_add_student_notice_just_email, "If you'd like, you can invite your fellow classmates to also use this course. That way they won't have to set up the grading policies all over again, and we'll also give you a place to share files and collaborate. Just paste in a list of email addresses below to invite others to join."
  end
else
  if @context.root_account.login_handle_name_is_customized?
    t :teacher_add_student_notice_with_login_handle, "*Next, you'll want to add students to your course.* You can add them one by one or as a whole list. You can paste in their %{login_handle_name}, just their email address (bob@example.com), or their name and address #(\"Jones, Bob M.\" <bob@example.com>)#. Multiple users should be separated by commas or be on separate lines.", :wrapper => { "*" => "<b>\\1</b>", "#" => "<span style=\"white-space:nowrap;\">\\1</span>" }, :login_handle_name => @context.root_account.login_handle_name
  else
    t :teacher_add_student_notice_just_email, "*Next, you'll want to add students to your course.* You can add them one by one or as a whole list. Paste in just email addresses (bob@example.com) or names with addresses #(\"Jones, Bob M.\" <bob@example.com>)# separated by commas or on separate lines.", :wrapper => { "*" => "<b>\\1</b>", "#" => "<span style=\"white-space:nowrap;\">\\1</span>" }
  end
end %>
</p>

<% form_tag course_enroll_users_url(@context), {:id => "enroll_users_form"} do  %>
<h2><%= t "#titles.add_students", "Add Students" %></h2>
<div style="margin-top: 5px;">
<%= render :partial => 'shared/user_lists' %>
</div>
<div class="button-container">
  <button type="button" class="button verify_syntax_button"><%= t "#buttons.continue", "Continue" %></button>
  <button type="submit" class="button add_users_button"><%= t :looks_good, "OK Looks Good, Add These Users" %></button>
  <button type="button" class="go_back_button button-secondary"><%= t :go_back_and_edit, "Go back and edit the list of users" %></button>
</div>
<br /><br />
<% end %>

<h2><%= t "#titles.students", "Students" %> <span class="tally">(<span class="student_count"><%= @students.length %></span>)</span></h2>

<ul class="user_list student_enrollments">
  <% if @students.empty? %>
    <li class="none"><%= t :no_enrollments, "No Students Enrolled" %></li>
  <% else %>
    <%= render :partial => 'shared/enrollment', :collection => @students %>
  <% end %>
  <%= render :partial => 'shared/enrollment', :object => nil %>
</ul>


<% js_bundle :user_lists %>
