<% content_for :page_title do %><%= t :page_title, "Try It: New Course" %><% end %>

<% content_for :page_header do %>
  <h1><%= t :use_canvas_for_grading, "Use Canvas for Grading" %></h1>
<% end %>

<% content_for :page_subhead do %>
  <h2><%= t :setup, "Set up a new Course in Canvas" %></h2>
<% end %>

<%= render :partial => 'wizard_secondary_nav', :locals => {:view => '', :hide_scratch => true} %>

<div style="width: 600px; margin: 20px auto;">
    <p><%= t :teacherless_explanation, "You can use Canvas to keep track of how you're doing in all your courses, whether they're using Canvas or not.  Just tell us how your course's grading policy is set up and then enter your scores manually.  You can also invite your classmates to use the course you set up so they can track their grades, too!" %></p>
    <div style="margin-top: 10px; font-size: 1.5em; text-align: center;">
      <a href="<%= getting_started_url(:teacherless => 1) %>"><%= t :get_started, "Click here to get started" %></a>
    </div>
</div>
