<%
   page_title = case @communication_channel.path_type
     when 'email'
       t :page_title_email, "Claim Email Address"
     when 'sms'
       t :page_title_sms, "Claim Cell Number"
     else
       t :page_title, 'Claim Address'
     end
   %>
<% content_for :page_title do %><%= page_title %><% end %>

<% content_for :stylesheets do %>
<style>
ul.claim_list {
  margin-top: 20px;
  padding-left: 40px;
  line-height: 1.7em;
  font-size: 1.2em;
  color: #444;
}
</style>
<% end %>
<div style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px;">
  <h2><%= page_title %></h2>
  <% if @enrollment %>
    <%= t :details_enrollment,
    "The enrollment invitation for %{course} was for *%{email}*
    which is not yet associated with a Canvas user.  You can log in to claim it
    or create a new user.", :course => @enrollment.course.name, :email => @communication_channel.path,
    :wrapper => '<div style="padding: 5px 20px; font-weight: bold; font-size: 1.1em;">\1</div>' %>
  <% else %>
    <%= t :details, "To finish registering the *%{email}*
    click one of the options below:", :email => @communication_channel.path,
      :wrapper => '<div style="padding: 5px 20px; font-weight: bold; font-size: 1.1em;">\1</div>' %>
  <% end %>
  <ul class="claim_list">
    <li><a href="<%= registration_confirmation_url(@pseudonym.id, @communication_channel.confirmation_code) %>"><%= t 'links.accept', "Finish Setting me up as %{email}", :email => @communication_channel.path %></a></li>
    <% if @current_user %>
      <li style="font-size: 0.8em;"><a href="<%= claim_pseudonym_url(@pseudonym.id, @communication_channel.confirmation_code, :claim => "1") %>"><%= mt 'links.add', "Add %{email} to my existing Account, **%{username}**", :email => @communication_channel.path, :username => @current_user.name %></a></li>
      <li style="font-size: 0.8em;"><a href="<%= login_url(:re_login => '1') %>"><%= t 'links.login_as_another_user', "Log In as Another User" %></a></li>
    <% else %>
      <li style="font-size: 0.8em;"><a href="<%= login_url %>"><%=
          case @communication_channel.path_type
            when 'email'
              t 'links.registered_with_a_different_email', "I already registered with a different email address"
            when 'sms'
              t 'links.registered_with_a_different_sms', "I already registered with a different cell number"
            else
              t 'links.registered_with_a_different_address', "I already registered with a different address"
            end
         %></a></li>
    <% end %>
  </ul>
</div>
