<% 
  @body_classes ||= []
  jammit_css :login
  @headers = false
  @body_classes << "modal" 
%>

<% content_for :page_title do %>Change Password<% end %>

<div id='modal-box'>
  <div style="margin: 80px 10px 0">
    <h2>Change login password for <%= @pseudonym.user.name %></h2>
    <% form_for @pseudonym, :url => change_password_url(@pseudonym.id, @cc.confirmation_code), :html => {:method => :post} do |form| %>
    <table class="formtable">
      <% if @cc.user.pseudonyms.active.select{|p| p.account.password_authentication? }.length > 1 %>
        <tr>
          <td><label for="pseudonym_id_select">Login to Change:</label></td>
          <td>
            <select id="pseudonym_id_select" name="pseudonym[id]">
              <% @cc.user.pseudonyms.active.each do |p| %>
                <option value="<%= p.id %>" <%= 'selected' if p == @pseudonym %> ><%= p.unique_id %> &nbsp;&nbsp;-&nbsp;&nbsp; <%= p.account.display_name %></option>
              <% end %>
            </select>
          </td>
        </tr>
      <% else %>
        <tr>
          <td colspan="2">
            <div style="padding: 5px 0; font-weight: bold; font-size: 1.1em;"><%= @cc.path %></div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td style="vertical-align: middle;"><%= form.label :password, form.object.new_record? ? nil : "New Password:" %></td>
        <td>
          <%= form.password_field :password, :class => "text" %>
        </td>
      </tr><tr>
        <td colspan="2"><%= form.error_message_on :password %></td>
      </tr><tr>
        <td style="vertical-align: middle;" class="nobr"><%= form.label :password_confirmation, "Confirm New Password:"%></td>
        <td><%= form.password_field :password_confirmation, :class => "text" %>
        </td>
      </tr><tr>
        <td colspan="2"><%= form.error_message_on :password_confirmation %></td>
      </tr><tr>
        <td colspan="2" style="text-align: right;"><button type="submit" class="button">Update Password</button></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
