<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :page_title do %><%= t :title, "Developer Keys" %><% end %>

<% css_bundle :developer_keys %>
<% js_bundle(:developer_keys) %>

<div class="ic-Action-header">
  <div class="ic-Action-header__Primary">
    <h2 class="ic-Action-header__Heading"><%= t :developer_keys, "Developer Keys" %></h2>
  </div>
  <div class="ic-Action-header__Secondary">
    <button
      type="button"
      class="Button Button--primary add_key"
      title="<%= t :add_developer_key, "Add Developer Key" %>"
      aria-label="<%= t :add_developer_key, "Add Developer Key" %>"
    >
      <i class="icon-plus" aria-hidden="true"></i>&nbsp;
      <%= t('Developer Key') %>
    </button>
  </div>
</div>

<table id="keys" class="ic-Table">
  <thead>
    <tr>
      <th><%= t :name, "Name" %></th>
      <th><%= t :user, "User" %></th>
      <th><%= t :details, "Details" %></th>
      <th><%= t :stats, "Stats" %></th>
      <th><%= t :notes, "Notes" %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="loading">
  <button class='btn show_all' type="button"><%= t :show_all, "Show All %{count} Keys", :count => @keys.total_entries %></button>
  <img src="/images/ajax-loader-medium-444.gif" class="loader">
</div>


<div id='edit_dialog' title='<%= t :key_settings, "Key Settings" %>'>
</div>
