<% content_for :page_title do %><%= t :title, "Developer Keys" %><% end %>

<% js_bundle :developer_keys %>
<% jammit_css :developer_keys %>

<h2 style="float: left;"><%= t :developer_keys, "Developer Keys" %></h2>
<a href="#" style='float: right;' class='btn btn-primary add_key'><i class="icon-add"></i><%= t :add_developer_key, "Add Developer Key" %></a>
<div class='clear'></div>
<table id="keys">
  <thead>
    <tr>
      <th><%= t :name, "Name" %></th>
      <th><%= t :user, "User" %></th>
      <th><%= t :details, "Details" %></th>
      <th><%= t :stats, "Stats" %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="loading">
  <button class='btn show_all' type="button"><%= t :show_all, "Show All %{count} Keys", :count => @keys.total_entries %></button>
  <img src="/images/ajax-loader-medium-444.gif" class="loader">
</div>
<div id='edit_dialog' title='<%= t :key_settings, "Key Settings" %>'>
</div>
