<td>
  {{#if dueAt}}
    {{friendlyDatetime dueAt}}
  {{else}}
    -
  {{/if}}
</td>
<td>
  {{#if title}}
    {{title}}
  {{else}}
    {{#t 'everyone'}}Everyone{{/t}}
  {{/if}}
</td>
<td>
  {{#if alwaysAvailable}}
    -
    <span class="screenreader-only">
      {{#t "no_lock_or_unlock_date_for_quiz"}}
        No lock or unlock date for quiz.
      {{/t}}
    </span>
  {{else}}
    {{#if hasLockDateRange}}
      {{{friendlyDateRangeString}}}
    {{else}}
      {{#if lockAt}}
        {{friendlyLockAt}}
      {{else}}
        {{#if unlockAt}}
          {{friendlyUnlockAt}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</td>
