<td>
  {{#if dueAt}}
    {{tDateToString dueAt 'short_weekday'}}, {{tDateToString dueAt 'date_at_time'}}
  {{else}}
    -
  {{/if}}
</td>
<td>
  {{#if title}}
    {{title}}
  {{else}}
    {{#t 'everyone'}}Everyone{{/t}}
  {{/if}}
</td>
<td>
  {{#if unlockAt}}
    {{tDateToString unlockAt 'short_weekday'}}, {{tDateToString unlockAt 'date_at_time'}}
  {{else}}
    -
  {{/if}}
</td>
<td>
  {{#if lockAt}}
    {{tDateToString lockAt 'short_weekday'}}, {{tDateToString lockAt 'date_at_time'}}
  {{else}}
    -
  {{/if}}
</td>
