<h1 class="screenreader-only">{{#t "quizzes_title"}}Quizzes{{/t}}</h1>
<div class='header-bar'>
  <div class='header-bar-left form-inline'>
    <label class='hidden-inline-text' for='searchTerm'>
      {{searchPlaceholder}}
    </label>
    {{input value=searchFilter placeholder=searchPlaceholder class='search-filter' id='searchTerm'}}
  </div>
  <div class='header-bar-right form-inline'>
    {{#if canManage}}
    <a id='new-quiz'
        {{bind-attr href='newQuizLink'}}
        {{bind-attr title=addQuiz }}
        {{bind-attr aria-label=addQuiz }}
        class='btn btn-primary new-quiz-link icon-plus' role='button'>
        {{#t 'add_quiz'}}Quiz{{/t}}
      </a>

      {{#ic-actions title='settings'}}
        {{#ic-menu-item on-select='editBanks'}}
          <i class='icon-edit'></i>
          {{#t 'links.manage_question_banks'}}Manage Question Banks{{/t}}
        {{/ic-menu-item}}
      {{/ic-actions}}
    {{/if}}
  </div>
</div>

<div class='item-group-container'>
  {{#unless model.length}}
    <ul class="ig-list">
      <li>
        <div class="ig-row ig-row-empty">
          <div class="ig-empty-msg">
            {{#t "no_quizzes"}}No quizzes available{{/t}}
          </div>
        </div>
      </li>
    </ul>
  {{/unless}}

  {{#if rawAssignments.length }}
    <div data-view='assignment' class='item-group-condensed'>
      <div class='ig-header'>
        <h2 class='ig-header-title element_toggler'
          {{bind-attr aria-label=assignmentsLabel}}
          aria-controls='assignment-quizzes'
          aria-expanded='true'
          tabindex="0"
          role='button'>
          <i class='icon-mini-arrow-down auto_rotate'}}></i>
          {{#t 'assignments'}}Assignment Quizzes{{/t}}
        </h2>
      </div>
        <ul id='assignment-quizzes' class='ig-list collectionViewItems'>
          {{#if assignments.length }}
            {{#each assignments}}
              {{render 'quiz_index_row' this}}
            {{/each}}
          {{else}}
            <li>
              <div class='ig-row ig-row-empty'>
                <div class='ig-empty-msg'>
                  {{#t 'no_quizzes_found'}}No quizzes found{{/t}}
                </div>
              </div>
            </li>
          {{/if}}
        </ul>
    </div>
  {{/if}}

  {{#if rawPractices.length }}
    <div class='item-group-condensed'>
      <div class='ig-header'>
        <h2 class='ig-header-title element_toggler'
          {{bind-attr aria-label=practicesLabel}}
          aria-controls='practice-quizzes'
          aria-expanded='true'
          role='button'>
          <i class='icon-mini-arrow-down auto_rotate'}}></i>
          {{#t 'practice'}}Practice Quizzes{{/t}}
        </h2>
      </div>
      <ul id='practice-quizzes' class='ig-list collectionViewItems'>
        {{#if practices.length}}
          {{#each practices}}
            {{render 'quiz_index_row' this}}
          {{/each}}
        {{else}}
          <li>
            <div class='ig-row ig-row-empty'>
              <div class='ig-empty-msg'>
                {{#t 'no_quizzes_found'}}No quizzes found{{/t}}
              </div>
            </div>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}

  {{#if rawSurveys.length }}
    <div class='item-group-condensed'>
      <div class='ig-header'>
        <h2 class='ig-header-title element_toggler'
          {{bind-attr aria-label=surveysLabel}}
          aria-controls='surveys-quizzes'
          aria-expanded='true'
          role='button'>
          <i class='icon-mini-arrow-down auto_rotate'}}></i>
          {{#t 'surveys'}}Surveys{{/t}}
        </h2>
      </div>
      <ul id='surveys-quizzes' class='ig-list collectionViewItems'>
        {{#if surveys.length}}
          {{#each surveys}}
            {{render 'quiz_index_row' this}}
          {{/each}}
        {{else}}
          <li>
            <div class='ig-row ig-row-empty'>
              <div class='ig-empty-msg'>
                {{#t 'no_quizzes_found'}}No quizzes found{{/t}}
              </div>
            </div>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}

  {{#unless finishedPaginationLoading}}
    <div class='paginated-loading'>
      <img src='/images/ajax-loader-medium-444.gif' />
      {{#t 'loading'}}Loading{{/t}}
    </div>
  {{/unless}}

</div>
