<li class='quiz'>
<div {{bind-attr class=':ig-row :ig-editable publishable:ig-publishable published:ig-published' }}>
    <a {{bind-attr href='html_url'}} class='ig-title ellipses'>
      <i class='icon-quiz'></i>
      {{title}}
    </a>
    <div class='ig-details row-fluid'>
      <div class='span4 ellipses description'>
        {{#if due_at}}
          <strong>{{#t 'due'}}Due{{/t}}</strong>
          {{tDateToString due_at 'date_at_time'}}
        {{/if}}
      </div>
      <div class='span3 ellipses'>
        {{questionCountLabel}}
      </div>
      <div class='span3 ellipses'>
        {{#if unlock_at}}
          <strong>{{#t 'available'}}Available{{/t}}</strong>
          {{tDateToString unlock_at 'short'}}
        {{/if}}
      </div>
      <div class='span2 ellipses'>
        {{pointsPossible}}
      </div>
    </div>
    {{#if canUpdate}}
      <div class="ig-admin">

        {{render 'publish' this}}
        {{#ic-actions title='settings'}}
          {{#ic-menu-item on-select='edit'}}
            <i class='icon-edit'></i>
            {{#t 'edit'}}Edit{{/t}}
          {{/ic-menu-item}}
          {{#ic-menu-item on-select='delete'}}
            <i class='icon-trash'></i>
            {{#t 'delete'}}Delete{{/t}}
          {{/ic-menu-item}}
        {{/ic-actions}}

      </div>
    {{/if}}
  </div>
</li>
