<div class="container-fluid" id="quiz-show">
  <div class="row-fluid edit-header">
    <div class="span7">
      <label class="screenreader-only">
        {{#t "quiz_title"}}Quiz Title{{/t}}
      </label>
      <h1>{{title}}</h1>
    </div>

    {{#if canUpdate}}
      <div class="span4 teacher-action-buttons pull-right">
        {{ic-publish-icon
          disabled=canNotUnpublish
          is-published=showAsPublished
          disabled-message=disabledMessage
          on-publish='publish'
          on-unpublish='unpublish'
        }}

        <a {{bind-attr href="editURL"}} class="btn">
          <i class="icon-edit"></i>{{#t 'edit'}}Edit{{/t}}
        </a>
        {{#ic-actions}}
          {{#ic-menu-item on-select="speedGrader"}}
            <i class="icon-speed-grader"></i>
            <a {{bind-attr href="speedGraderUrl"}}>
              {{#t "speed_grader"}}Speed Grader{{/t}}
            </a>
          {{/ic-menu-item}}

          {{#ic-menu-item on-select="messageStudents"}}
            <i class="icon-discussion"></i>
            {{#t 'Message Students'}}Message Students{{/t}}
          {{/ic-menu-item}}
          {{#ic-menu-item}}
            <i class="icon-mark-as-read"></i>
            {{#t 'preview'}}Preview{{/t}}
          {{/ic-menu-item}}

          {{#ic-menu-item on-select="showStudentResults"}}
            <i class="icon-group"></i>
            {{#t 'show_quiz_results'}}Show Student Quiz Results{{/t}}
          {{/ic-menu-item}}

          {{! reuse existing ic-menu-item or order issues arise }}
          {{#ic-menu-item class="js-due-date-toggler" on-select="toggleLock"}}
            {{#if lockAt}}
              <i class="icon-unlock"></i>
              {{#t 'unlock_this_quiz_now'}}Unlock This Quiz Now{{/t}}
            {{else}}
              <i class="icon-lock"></i>
              {{#t 'lock_this_quiz_now'}}
                Lock This Quiz Now
              {{/t}}
            {{/if}}
          {{/ic-menu-item}}

          {{#ic-menu-item class="js-delete" on-select="confirmDeletion"}}
            <i class="icon-trash"></i>
            {{#t "delete"}}Delete{{/t}}
          {{/ic-menu-item}}

        {{/ic-actions}}
      </div>

    {{else}}
      <div class="span4 student-action-buttons pull-right">
        <button {{action "takeQuiz"}} class="btn btn-primary">
          {{#t 'take_quiz'}}Take Quiz{{/t}}
        </button>
      </div>
    {{/if}}
  </div>

  {{#if canUpdate}}
    {{partial "quiz/show_teacher"}}
  {{else}}
    {{partial "quiz/show_student"}}
  {{/if}}

  <div id="module_sequence_footer"></div>
</div>
