<% email_select ||= nil %>
<select class="email_select contact_select" name="channel_id">
  <% if @email_channels.empty? %>
    <option value=""><%= t(:default_email_option, "[Select Email]") %></option>
  <% end %>
  <% @email_channels.each do |c| %>
    <option class="channel_option_<%= c.id %>" value="<%= c.id %>" <%= "selected" if c == email_select %>><%= c.path %></option>
  <% end %>
  <option value="new"><%= t(:new_email_option, "New Email Address") %></option>
</select>
