<table class="formtable">
  <tr>
    <td><%= form.blabel :unique_id, :email_address, :en => "Email Address" %></td>
    <td><%= form.text_field :unique_id %></td>
  </tr><tr>
    <td><%= label :user, :time_zone, before_label(:time_zone, "Time Zone") %></td>
    <td><%= time_zone_select :user, :time_zone, TimeZone.us_zones, :model => I18nTimeZone, :default => (@domain_root_account && @domain_root_account.default_time_zone) || "Mountain Time (US & Canada)" %><%# that default time zone is a value, not text %></td>
  </tr><tr>
    <td><%= form.label :password, form.object.new_record? ? t('labels.password', "Password") : t('labels.change_password', "Change password") %></td>
    <td><%= form.password_field :password, :style => "width: 150px;" %></td>
  </tr><tr>
    <td><%= form.blabel :password_confirmation, :confirm_password, :en => "Confirm Password"%></td>
    <td><%= form.password_field :password_confirmation, :style => "width: 150px;" %></td>
  </tr><tr>
    <td colspan="2">
    <button type="submit" class="btn"><%= t('buttons.register', "Register") %></button></td>
  </tr>
</table>
