  <tr>
    <td colspan="7" class="notification_type">
      <%= notification_preference.category_description %>
      <% if notification_preference.category == 'Message' %>
        <div style="font-weight: normal; font-size: 0.8em;">
          <%= t('notifications_hints.messages', 'You must have at least one "right away" notification for email messages.') %>
        </div>
      <% elsif notification_preference.category == 'Grading' && @domain_root_account && @domain_root_account.settings[:allow_sending_scores_in_emails] != false %>
        <div style="font-weight: normal; font-size: 0.8em; margin-left: 10px;">
          <%= check_box :user, :send_scores_in_emails, :checked => @current_user.send_scores_in_emails? %>
          <%= label :user, :send_scores_in_emails, :en => "Include scores when alerting about grade changes." %>
        </div>
      <% elsif notification_preference.category == 'Course Content' %>
        <div style="font-weight: normal; font-size: 0.8em;">
          <%= t('notifications_hints.course_content', "Will notify you of changes to any wiki or assignment pages (could be a lot of notifications)") %>
        </div>
      <% end %>
    </td>
  </tr>
  <% list.each do |preference| %>
  <tr class="preference preference_<%= notification_preference.id %>">
    <td colspan="2" style="padding-left: 10px;">
      <select class="contact_type_select">
        <option value="email_select" <%= "selected" if preference.communication_channel.path_type == "email" %>><%= t('contact_types.email', "Email Me at") %></option>
        <option value="sms_select" <%= "selected" if preference.communication_channel.path_type == "sms" %>><%= t('contact_types.sms', "Text my Cell at") %></option>
        <% if !@current_user.user_services.for_service('facebook').empty? %>
          <option value="facebook_select" <%= 'selected' if preference.communication_channel.path_type == 'facebook' %>><%= t('contact_types.facebook', "Notify me on Facebook") %></option>
        <% end %>
        <% if !@current_user.user_services.for_service('twitter').empty? %>
          <option value="twitter_select" <%= 'selected' if preference.communication_channel.path_type == 'twitter' %>><%= t('contact_types.twitter', "Notify me via Twitter") %></option>
        <% end %>
      </select>
      <span style="white-space: nowrap;">
        <% if preference.communication_channel.path_type == "email" %>
          <%= render :partial => "email_select", :object => preference.communication_channel %>
        <% elsif preference.communication_channel.path_type == "sms" %>
          <%= render :partial => "sms_select", :object => preference.communication_channel %>
        <% elsif preference.communication_channel.path_type == 'facebook' %>
          <%= render :partial => "facebook_select", :object => preference.communication_channel %>
        <% elsif preference.communication_channel.path_type == 'twitter' %>
          <%= render :partial => "twitter_select", :object => preference.communication_channel %>
        <% end %>
      </div>
      <div style="display: none;">
        <div class="category_slug"><%= notification_preference.category_slug %></div>
      </div>
    </td>
    <td class="frequency <%= "selected" if !preference.frequency || preference.frequency == "immediately" %> immediately" title="<%= t('frequencies.right_away', "Notify me right away") %>"><div>&nbsp;</div></td>
    <td class="frequency <%= "selected" if preference.frequency == "daily" %> daily" title="<%= t('frequencies.daily', "Send notifications for the day in one message") %>"><div>&nbsp;</div></td>
    <td class="frequency <%= "selected" if preference.frequency == "weekly" %> weekly" title="<%= t('frequencies.weekly', "Send notifications for the week in one message") %>"><div>&nbsp;</div></td>
    <td class="frequency <%= "selected" if preference.frequency == "never" %> never" title="<%= t('frequencies.never', "Don't send me anything") %>"><div>&nbsp;</div></td>
    <td style="padding-left: 2px;">
      <a href="#" class="delete_preference_link no-hover" style="opacity: 0.6; <%= hidden unless list.length > 1 %>"><%= image_tag "delete_circle.png" %></a>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="7" style="text-align: right; font-size: 0.8em;">
      <a href="#" class="add-small add_notification_link add_notification_<%= notification_preference.id %>"> <%= t('links.add_notification_continue', "And Also...") %></a>
    </td>
  </tr>
