<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% sms_select ||= nil %>
  <select class="sms_select contact_select" name="channel_id">
    <% if @sms_channels.empty? %>
      <option value="" class="blank_option"><%= t(:default_sms_option, "[Select Cell]") %></option>
    <% end %>
    <% @sms_channels.each do |c| %>
      <option value="<%= c.id %>" class="channel_option_<%= c.id %>" <%= "selected" if c == sms_select %>><%= c.path %></option>
    <% end %>
    <option value="new"><%= t(:new_sms_option, "New Cell Number") %></option>
  </select>
