<% content_for :stylesheets do %>
<style>
.channel_list .channel .default_link {
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}
.channel_list.single .hidden_for_single {
  display: none;
}
.channel_list .channel:hover .default_link {
  display: block;
  opacity: 0.5;
}
.channel_list .channel.unconfirmed .default_link {
  display: none;
}
.channel_list .channel.default .default_link,
.channel_list .channel.default:hover .default_link {
  display: block;
  opacity: 1.0;
}
.channel_list .channel.default .delete_channel_link {
  display: none;
}
#right-side table.channel_list tr.channel.unconfirmed > td {
}
#right-side table.channel_list tr.channel.unconfirmed > td a {
  color: #888;
  font-style: italic;
}
</style>
<% end %>

<h2><%= t('headers.ways_to_contact', "Ways to Contact") %></h2>
<div class="rs-margin-lr">
<table class="<%= 'single' if @email_channels.length <= 1 %> summary channel_list email_channels" style="width: 100%; margin-left: 0; margin-right: 0;">
  <thead>
    <tr>
      <th style="padding: 0;">&nbsp;</th>
      <th><%= t('headers.email_addresses', "Email Addresses") %></th>
      <th style="padding: 0;" class="hidden_for_single">&nbsp;</th>
    </tr>
  </thead>
  <% @email_channels.each do |c| %>
    <tr class="channel <%= "default" if c.position && c.position <= 1 %> <%= "unconfirmed" if c.state == :unconfirmed %> pseudonym_<%= c.pseudonym &&c.pseudonym.id %>" id="channel_<%= c.id %>">
      <td style="padding: 0; text-align: center;">
        <a href="<%= user_profile_url(@current_user) %>" class="default_link no-hover"><%= image_tag "star.png", :title => t('titles.default_email_address', "Default email address") %></a>
      </td>
      <td><div style="overflow: hidden; position: relative;">&nbsp;
      <div style="position: absolute; top: 0; left: 0; font-size: 0.8em;" title="<%=h c.path %>">
        <a href="#" class="path"><%= c.path %></a>
      </div></div></td>
      <td style="padding: 0; text-align: center;" class="hidden_for_single">
        <% if c.state == :unconfirmed && (@user.grants_right?(@current_user, nil, :manage_user_details) || (@real_current_user && @user.grants_right?(@real_current_user, nil, :manage_user_details))) %>
            <a href="<%= registration_confirmation_url(c.confirmation_code) %>" class="confirm_channel_link no-hover"><%= image_tag "pass.png", :title => t('titles.confirm_email_address', "Confirm Email Address") %></a>
        <% end %>
        <a href="<%= communication_channel_url(c.id) %>" class="delete_channel_link no-hover"><%= image_tag "delete.png", :title => t('titles.remove_email_address', "Remove email address") %></a>
        <% if c.active? && CommunicationChannel.active.email.by_path(c.path).count(:all, :joins => { :user => :pseudonyms }, :conditions => ["communication_channels.user_id<>? AND pseudonyms.workflow_state='active'", @user.id]) != 0 %>
          <a href="<%= registration_confirmation_url(c.confirmation_code) %>" class="merge_users_link no-hover"><%= image_tag "group.png", :title => t('titles.merge_users', "Another user has the same email address.  Click here to combine user accounts.") %></a>
        <% end %>
        <span class="pseudonym_id" style="display: none;"><%= c.pseudonym_id %></span>
        <span class="channel_id" style="display: none;"><%= c.id %></span>
        <span class="user_id" style="display: none;"><%= c.user_id %></span>
      </td>
    </tr>
  <% end %>
  <tr class="channel blank unconfirmed" style="display: none;">
    <td style="padding: 0; text-align: center;">
      <a href="<%= user_profile_url(@current_user) %>" class="default_link no-hover"><%= image_tag "star.png", :title => t('titles.default_email_address', "Default email address") %></a>
    </td>
    <td><div style="overflow: hidden; position: relative;">&nbsp;
    <div style="position: absolute; top: 0; left: 0; font-size: 0.8em;" title="">
      <a href="#" class="path">&nbsp;</a>
    </div></div></td>
    <td style="padding: 0; text-align: center;" class="hidden_for_single">
      <a href="<%= communication_channel_url("{{ channel_id }}") %>" class="delete_channel_link no-hover"><%= image_tag "delete.png" %></a>
      <span class="pseudonym_id" style="display: none;">&nbsp;</span>
      <span class="channel_id" style="display: none;">&nbsp;</span>
      <span class="user_id" style="display: none;">&nbsp;</span>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="text-align: center;">
      <a href="#" class="add_email_link add"><%= t('links.add_email_address', "Add Email Address") %></a>
    </td>
  </tr>
</table>
<table class="summary channel_list other_channels" style="width: 100%; margin-left: 0; margin-right: 0;">
  <thead>
    <tr>
      <th><%= t('headers.other_contact', "Other Contacts") %></th>
      <th colspan='2'><%= t('headers.contact_type', "Type") %></th>
    </tr>
  </thead>
  <tbody style="font-size: 0.8em">
  <% @other_channels.each do |c| %>
    <tr class="channel <%= "unconfirmed" if c.state == :unconfirmed %> pseudonym_<%= c.pseudonym_id %>" id="channel_<%= c.id %>">
      <td><a href="#" class="path"><%= c.path_description %></a></td>
      <td><%= c.path_type %></td>
      <td style="padding: 0; text-align: center;">
        <% if c.state == :unconfirmed && (@user.grants_right?(@current_user, nil, :manage_user_details) || (@real_current_user && @user.grants_right?(@real_current_user, nil, :manage_user_details))) %>
            <a href="<%= registration_confirmation_url(c.confirmation_code) %>" class="confirm_channel_link no-hover"><%= image_tag "pass.png", :title => t('titles.confirm_email_address', "Confirm Email Address") %></a>
        <% end %>
        <a href="<%= communication_channel_url(c.id) %>" class="delete_channel_link no-hover"><%= image_tag "delete.png", :title => t('titles.remove_email_address', "Remove email address"), :style => (c.first?) ? "display: none;" : "" %></a>
        <span class="pseudonym_id" style="display: none;"><%= c.pseudonym_id %></span>
        <span class="channel_id" style="display: none;"><%= c.id %></span>
        <span class="user_id" style="display: none;"><%= c.user_id %></span>
      </td>
    </tr>
  <% end %>
  <tr class="channel blank unconfirmed" style="display: none;">
    <td><a href="#" class="path">&nbsp;</a></td>
    <td><%= t('contact_types.sms', "sms") %></td>
    <td style="padding: 0; text-align: center;">
      <a href="<%= communication_channel_url("{{ channel_id }}") %>" class="delete_channel_link no-hover"><%= image_tag "delete.png" %></a>
      <span class="pseudonym_id" style="display: none;">&nbsp;</span>
      <span class="channel_id" style="display: none;">&nbsp;</span>
      <span class="user_id" style="display: none;">&nbsp;</span>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3" style="text-align: center;">
      <a href="#" class="add_contact_link add"> <%= t('links.add_contact_method', "Add Contact Method") %></a>
    </td>
  </tr>
  </tfoot>
</table>
</div>
<div id="communication_channels" style="display: none;">
<ul>
  <li><a href="#register_email_address"><%= t('links.email', "Email") %></a></li>
  <li><a href="#register_sms_number"><%= t('links.text_sms', "Text (SMS)") %></a></li>
</ul>
<% form_tag communication_channels_url, {:id => "register_email_address"} do %>
<input type="hidden" name="communication_channel[type]" value="email"/>
<table>
  <tr>
    <td style="white-space: nowrap"><%= label :communication_channel, :address, before_label(:email_address, "Email Address") %></td>
    <td><%= text_field :communication_channel, :address %></td>
  </tr>
  <% if @domain_root_account == Account.default %>
  <tr>
    <td colspan="2">
      <input type="checkbox" id="build_pseudonym_for_email" name="build_pseudonym" value="1"/>
      <label for="build_pseudonym_for_email"><%= t('labels.enable_login_for_email', "I want to log in to Canvas using this email address") %></label>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <button type="submit" class="button"><%= t('buttons.register_email', "Register Email") %></button>
    </td>
  </tr>
</table>
<% end %>
<% form_tag communication_channels_url, {:id => "register_sms_number"} do %>
<input type="hidden" name="communication_channel[type]" value="sms"/>
<table>
  <tr>
    <td style="white-space: nowrap; vertical-align: top;"><%= before_label(:cell_number, "Cell Number") %></td>
    <td>
      <input type="text" class="user_selected sms_number"/><br/>
      <span style="font-size: 0.8em; color: #a44" class="should_be_10_digits"><%= t('validations.should_be_10_digits', "should be 10-digit number") %></span>
    </td>
  </tr><tr>
    <td><%= before_label(:carrier, "Carrier") %></td>
    <td>
      <select class="user_selected carrier">
        <option value="other"><%= t(:default_carrier_option, "[Select Carrier]") %></option>
        <option value="#@txt.att.net"><%= t('carriers.a_t_and_t', "AT&T") %></option>
        <option value="#@message.alltel.com"><%= t('carriers.alltel', "Alltel") %></option>
        <option value="#@myboostmobile.com"><%= t('carriers.boost', "Boost") %></option>
        <option value="#@cingularme.com"><%= t('carriers.cingular', "Cingular") %></option>
        <option value="#@mobile.celloneusa.com"><%= t('carriers.cellular_one', "CellularOne") %></option>
        <option value="#@sms.mycricket.com"><%= t('carriers.cricket', "Cricket") %></option>
        <option value="#@messaging.nextel.com"><%= t('carriers.nextel', "Nextel") %></option>
        <option value="#@messaging.sprintpcs.com"><%= t('carriers.sprint_psc', "Sprint PCS") %></option>
        <option value="#@tmomail.net"><%= t('carriers.t_mobile', "T-Mobile") %></option>
        <option value="#@vtext.com"><%= t('carriers.verizon', "Verizon") %></option>
        <option value="#@vmobl.com"><%= t('carriers.virgin_mobile', "Virgin Mobile") %></option>
        <option value="other"><%= t('carriers.other', "Other Carrier") %></option>
      </select>
    </td>
  </tr><tr>
    <td style="white-space: nowrap; vertical-align: top;"><%= before_label(:sms_email, "SMS Email") %></td>
    <td>
      <%= text_field :communication_channel, :address, :class => "sms_email" %><br/>
    </td>
  </tr><tr>
    <td colspan="2">
      <button type="submit" class="button"><%= t('buttons.register_sms', "Register SMS") %></button>
    </td>
</table>
<% end %>
</div>
<div id="confirm_email_channel" style="display: none;" class="dialog">
  <div style="text-align: center;"><%= t(:sent_confirmation_email, <<-TEXT, :email_address => raw('<span class="path" style="font-weight: bold;">&nbsp;</span>'))
    We emailed a confirmation link to %{email_address}. Click the link in that
    email to finish registering. Make sure to check your spam box in case it
    got filtered.
    TEXT
  %></div>
  <div style="text-align: center; margin: 10px 0; font-weight: bold;">
    <a href="#" class="re_send_confirmation_link"><%= t('links.resend_confirmation', "Re-Send Confirmation") %></a>
    <a href="<%= re_send_confirmation_url("{{ user_id }}", "{{ id }}") %>" class="re_send_confirmation_url" style="display: none;">&nbsp;</a>
  </div>
  <div class="button-container">
    <button type="button" class="button cancel_button"><%= t('buttons.ok_thanks', "Ok, Thanks") %></button>
  </div>
</div>
<% form_tag "", {:id => "confirm_communication_channel", :style => "display: none;", :class => "dialog"} do %>
  <input type="hidden" name="pseudonym_id" value=""/>
  <input type="hidden" name="channel_id" value=""/>
  <input type="hidden" name="user_id" value=""/>
  <div style="text-align: center;"><%= t(:sent_confirmation_sms, <<-TEXT, :sms_number => raw('<span class="path" style="font-weight: bold;">&nbsp;</span>'))
    We sent a four-character confirmation code to %{sms_number}.
    Enter the code below to activate this sms number.
    TEXT
  %></div>
  <div style="text-align: center;">
    <input type="text" style="width: 100px; font-size: 1.5em;" name="code"/><br/>
    <span style="display: none;" class="channel_id">&nbsp;</span>
    <a href="<%= registration_confirmation_path("{{ code }}") %>" style="display: none;" class="register_channel_link">&nbsp;</a>
  </div>
  <div style="margin: 0 0 5px; text-align: center; font-size: 0.8em;">
    <a href="#" class="re_send_confirmation_link"><%= t('links.resend_confirmation', "Re-Send Confirmation") %></a>
  </div>
  <div class="status_message" style="visibility: hidden; text-align: center; color: #444; font-weight: bold"><%= t(:confirming_contact, "Confirming...") %></div>
  <div class="button-container">
    <button type="submit" class="button"><%= t('buttons.confirm', "Confirm") %></button>
  </div>
<% end %>
<div style="display: none;" id="select_templates">
  <%= render :partial => "email_select" %>
  <%= render :partial => "sms_select" %>
  <%= render :partial => "facebook_select" %>
  <%= render :partial => "twitter_select" %>
</div>
