<% content_for :page_title do %>
  <%= join_title t(:page_title, "User Settings"), @user.name %>
<% end %>

<% content_for :right_side do %>
  <% if @current_user.registered? %>
  <%= render :partial => "ways_to_contact" %>
  <div class="rs-margin-lr">
    <hr />
    <a href="#" class="edit_settings_link btn button-sidebar-wide"><i class="icon-edit"></i> <%= t('links.edit_settings', "Edit Settings") %></a>
    <% mfa_settings = @user.mfa_settings %>
    <% if mfa_settings != :disabled %>
      <a href="<%= otp_login_path %>" class="btn button-sidebar-wide"><%= image_tag "lock.png" %> <%= @user.otp_secret_key ? t('links.reconfigure_mfa', "Reconfigure Multi-Factor Authentication") : t('links.configure_mfa', "Set Up Multi-Factor Authentication") %></a>
    <% end %>
    <% if mfa_settings == :optional && @user.otp_secret_key %>
      <a href="<%= disable_mfa_path('self') %>" class="btn button-sidebar-wide" id="disable_mfa_link"><%= image_tag "unlock.png" %> <%= t('links.disable_mfa', "Disable Multi-Factor Authentication") %></a>
    <% end %>
  </div>
  <% end %>
<% end %>

<% js_env :folder_id => @user.profile_pics_folder.id,
          :PASSWORD_POLICY => @domain_root_account.password_policy,
          :PASSWORD_POLICIES => Hash[@password_pseudonyms.map{ |p| [p.id, p.account.password_policy]}],
          :PROFILE => @user_data
%>
<% js_bundle :profile %>
<% jammit_css :profile_edit %>

<% if service_enabled?(:avatars) %>
  <a href="#" class="profile_pic_link <%= @user.avatar_state %>" title="<%= t('titles.click_to_change_profile_pic', "Click to change profile pic") %>" style="float: left; margin-right: 5px; min-width: 50px; min-height: 50px; display: inline-block;">
    <%= square_avatar_image(@user) %>

    <i class="icon-edit"></i>
  </a>
<% end %>
<h2 style="padding-top: 0.3em;"><%= t('headers.users_profile', "%{user}'s Settings", :user => @user.short_name) %></h2>
<div class="clear"></div>
<%= form_for @user, :url => profile_path, :html => {:id => "update_profile_form", :style => "margin-bottom: 20px;", :class => 'form-inline'} do |f| %>
<table class="profile_table">
  <tr>
    <% editable_name = @user.user_can_edit_name? %>
    <td><%= f.blabel :name, :en => "Full Name" %></td>
    <td><span class="full_name <%= editable_name ? 'display_data' : 'edit_or_show_data' %>"><%=h @user.name %></span>
      <%= f.text_field :name, :class => "edit_data", :maxlength => 255, :size => 30 if editable_name %>
      <span class="edit_or_show_data" style="font-size: 0.8em; color: #888;"><br/><%= t('hints.name', "This name will be used for grading.") %></span>
  </tr>
  <tr>
    <td><%= f.blabel :short_name, :en => "Display Name" %></td>
    <td><span class="short_name <%= editable_name ? 'display_data' : 'edit_or_show_data' %>"><%=h @user.short_name %></span>
      <%= f.text_field :short_name, :class => "edit_data", :maxlength => 255, :size => 30 if editable_name %>
      <span class="edit_or_show_data" style="font-size: 0.8em; color: #888;"><br/><%= t('hints.short_name', "People will see this name in discussions, messages and comments.") %></span>
    </td>
  </tr>
  <tr>
    <td><%= f.blabel :sortable_name, :en => "Sortable Name" %></td>
    <td><span class="sortable_name <%= editable_name ? 'display_data' : 'edit_or_show_data' %>"><%=h @user.sortable_name %></span>
      <%= f.text_field :sortable_name, :class => "edit_data", :maxlength => 255, :size => 30  if editable_name %>
      <span class="edit_or_show_data" style="font-size: 0.8em; color: #888;"><br/><%= t('hints.sortable_name', "This name appears in sorted lists.") %></span>
    </td>
  </tr>
  <% active_email_channels = @email_channels.select { |cc| cc.active? } %>
  <% if active_email_channels.length > 1 %>
    <tr>
      <td><label for="default_email_id"><%= before_label(:default_email, "Default Email") %></label></td>
      <td>
        <span class="default_email unique_id display_data"><%=h @default_email_channel.path %></span>
        <select id="default_email_id" name="default_email_id" class="default_email edit_data">
          <% active_email_channels.select.each do |cc| %>
            <option value="<%= cc.id %>" <%= "selected" if cc == @default_email_channel %> ><%=h cc.path %></option>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
  <% if available_locales.size > 1 %>
  <tr>
    <td><%= f.blabel :locale, :en => "Language" %></td>
    <td>
      <% no_language = t(:no_language_preference, "System Default (%{language})", :language => available_locales[infer_locale(:root_account => @domain_root_account, :accept_language => request.headers['Accept-Language'])]) %>
      <span class="locale display_data"><%= @user.locale ? available_locales[@user.locale] : no_language %></span>
      <span class="edit_data"><%= f.select :locale, [[no_language, nil]] + available_locales.invert.sort, {:selected => @user.locale}, {:class => 'locale'} %>
      <%= render :partial => 'shared/locale_warning' %>
      <span style="font-size: 0.8em; color: #888;"><br/><%= t('hints.language', "This will override any browser or account settings.") %></span>
      </span>
    </td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.blabel :time_zone, :en => "Time Zone" %></td>
    <td>
      <span class="time_zone display_data"><%= @user.time_zone.try(:name) || t(:none, "None") %></span>
      <span class="edit_data"><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :model => I18nTimeZone, :default => ((@domain_root_account && @domain_root_account.default_time_zone.name) || "Mountain Time (US & Canada)") %><%# that default time zone is a value, not text %></span>
    </td>
  </tr>
  <% if @domain_root_account == Account.default %>
    <tr>
      <td colspan="2">
        <div class="edit_data">
          <label for="user_subscribe_to_emails" class="checkbox">
            <%= f.check_box :subscribe_to_emails %>
            <%= t(:subscribe_to_emails, "I want to receive information, news and tips from Instructure") %>
          </label>
        </div>
      </td>
    </tr>
  <% end %>
  <% if !@password_pseudonyms.empty? %>
  <tr class="edit_data_row select_change_password_row" style="display: none;">
    <td><%= before_label(:password, "Password") %></td>
    <td><label for="change_password_checkbox" class="checkbox"><input type="checkbox" id="change_password_checkbox" name="pseudonym[change_password]" value="1"/><%= t('labels.change_password', "Change Password") %></label></td>
  </tr>
  <% end %>
  <tr class="change_password_row" style="display: none;">
    <td class="nobr"><label for="profile_pseudonym_id"><%= before_label(:password_for, "Password For") %></label></td>
    <td>
      <select name="pseudonym[password_id]" id="profile_pseudonym_id">
        <% @password_pseudonyms.each do |p| %>
          <option value="<%= p.id %>"><%= p.unique_id %></option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><label for="old_password"><%= before_label(:old_password, "Old Password") %></label></td>
    <td><input type="password" style="width: 150px;" id="old_password" name="pseudonym[old_password]"/></td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><%= label :pseudonym, :password, before_label(:new_password, "New Password") %></td>
    <td><%= password_field :pseudonym, :password, :value => "", :style => "width: 150px;" %></td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><%= label :pseudonym, :password_confirmation, before_label(:confirm_password, "Confirm Password") %></td>
    <td><%= password_field :pseudonym, :password_confirmation, :value => "", :style => "width: 150px;" %></td>
  </tr>
  <tr class="edit_data_row more_options_link_row" style="display: none;">
    <td colspan="2"><a href="#" class="more_options_link" style="display: none;"><%= t('links.more_options', "more options") %></a></td>
  </tr>
  <tr class="edit_data_row" style="display: none;">
    <td colspan="2">
      <p><a style="font-size: 0.9em" href="<%= user_delete_url(@user.id) %>" class="admin"><%= t('links.delete_account', "Delete My Account") %> </a></p>
      <div class="form-actions">
        <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
        <button type="submit" class="btn btn-primary"><%= t('buttons.update_settings', "Update Settings") %></button>
      </div>

    </td>
  </tr>
</table>
<% end %>
<% if @current_user.registered? %>
<div style="<%= hidden unless @pseudonyms.length > 1 %> margin-bottom: 20px;">
<h2><%= t('headers.ways_to_log_in', "Ways to Log In") %></h2>
<table class="summary pseudonym_list">
  <thead>
    <tr>
      <th><%= t('headers.organization', "Organization") %></th>
      <th><%= t('headers.login', "Login") %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
<% @pseudonyms.each do |p| %>
  <% if p.first? || p.account_id %>
  <tr id="pseudonym_<%= p.id %>" class="pseudonym">
    <td><%= p.account.name %></td>
    <td><a href="<%= login_url(:host => HostUrl.context_host(p.account)) %>" class="not_external"><%= p.unique_id %></a></td>
    <td>
      <a class="delete_pseudonym_link no-hover" href="<%= profile_pseudonym_url(p.id) %>" style="<%= hidden if p.managed_password? || (p.sis_user_id && !can_do(p.account, @current_user, :manage_sis)) %>" title="<%= t('titles.remove_account_from_profile', "Remove account from this profile") %>"><%= image_tag "delete.png" %></a>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<div style="text-align: center; display: none;">
  <a href="#" class="add"><%= t('links.add_account', "Add Account") %></a>
</div>
</div>

<% unless (@domain_root_account && @domain_root_account.service_enabled?(:none)) %>
<a name="registered_web_services"></a>
<h2><%= t('headers.web_services', "Web Services") %></h2>
<p><%= t(:web_services, <<-TEXT)
Canvas can make your life a lot easier by tying itself in with the web tools
you already use.  Click any of the services in "Other Services" to see what we mean.
TEXT
%></p>
<p>
<input type="checkbox" id="show_user_services" <%= 'checked' if @user.show_user_services %>/> <label for="show_user_services"><%= t('labels.show_user_services', "Let fellow course/group members see which services I've linked to my profile") %></label>
</p>
<table style="width: 100%;"><tr>
  <td style="vertical-align: top; width: 50%; padding-right: 20px;">
    <h3><%= t('headers.registered_services', "Registered Services") %></h3>
    <div style="margin-left: 20px; margin-bottom: 20px;">
    <ul id="registered_services" class="unstyled_list">
      <% @user.user_services.select{|s| !UserService.configured_service?(s.service) || feature_and_service_enabled?(s.service) }.each do |service| %>
        <li class="service clearfix" id="service_<%= service.service %>">
          <a href="<%= profile_user_service_url(service.id) %>" class="delete_service_link no-hover" style="float: right; padding-top: 0.5em; padding-right: 10px;" title="<%= t('titles.unregister_service', "Unregister Service") %>"><%= image_tag "delete_circle.png" %></a>
          <a href="<%= service.service_access_link %>">
            <%= image_tag "#{service.service}.png", :style => "vertical-align: middle; float: left;" %> 
          </a>
          <div style="float: left; padding-left: 5px;">
            <%= service.service.titleize rescue t(:unknown_service, "Unknown") %>
            <div style="font-size: 0.6em; line-height: 0.5em;">
              <% if service.has_profile_link? %>
                <a href="<%= service.service_user_link %>">
                  <%= t('links.view_your_profile', "view your profile") %>
                </a>
              <% elsif service.has_readable_user_name? %>
                <span><%= service.service_user_name %></span>
              <% end %>
              <% if service.service == 'facebook' && feature_and_service_enabled?(:facebook) && Facebook.config['canvas_name'] %>
                <div style="line-height: 2.0em;">
                  <a href="<%= service.service_access_link %>"><%= t('links.view_facebook_app', "view the Facebook app") %></a>
                </div>
              <% end %>
            </div>
          </div>
          <div class="clear"></div>
        </li>
      <% end %>
      <li id="service_blank" class="service clearfix" style="display: none;">
        <a href="<%= profile_user_service_url("{{ id }}") %>" class="delete_service_link no-hover" style="float: right;" title="<%= t('titles.unregister_service', "Unregister Service") %>"><%= image_tag "delete_circle.png" %></a>
        <span class="service">&nbsp;</span>
      </li>
    </ul>
    <%= t(:no_registered_services, "No Registered Services") if @user.user_services.empty? %>
    </div>
  </td>
  <td style="vertical-align: top; width: 50%; padding-left: 20px;">
    <h3><%= t('headers.other_services', "Other Services") %></h3>
    <div style="margin-left: 20px;">
    <%= before_label(:other_services, "Click any service below to register") %>
    <% services = @user.user_services.map{|s| s.service} %>
    <ul id="unregistered_services" class="unstyled_list">
      <li id="unregistered_service_google_docs" class="service" style="<%= hidden if !feature_and_service_enabled?(:google_docs) || services.include?("google_docs") %>">
        <a href="#" class="btn btn-small"><%= image_tag "google_docs_icon.png" %> <%= t('links.google_docs', "Google Docs") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.authorize_google_docs', "Authorize Google Docs") %>" id="unregistered_service_google_docs_dialog">
          <div>
            <%= image_tag "google_docs.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.google_docs_access', "Google Docs Access") %></div>
            <%= t(:google_docs_description, <<-TEXT)
            Once you authorize us to see your Google Docs you'll be able to submit your assignments
            directly from Google Docs, and create and share documents with members of your classes.
            TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a class="btn" href="<%= oauth_url(:service => "google_docs", :return_to => settings_profile_url) %>"><%= t('buttons.authorize_google_docs', "Authorize Google Docs Access") %></a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_skype" class="service" style="<%= hidden if services.include?("skype") || !service_enabled?(:skype) %>">
        <a href="#" class="btn btn-small"><%= image_tag "skype_icon.png" %> <%= t('links.skype', "Skype") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.register_skype', "Register Skype") %>" id="unregistered_service_skype_dialog">
          <div>
            <%= image_tag "skype.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.share_skype_id', "Share your Skype ID") %></div>
            <%= t(:skype_description, <<-TEXT)
            Skype offers free online voice and video calls.  Lots of students use
            Skype as a free, easy way to communicate.  If you register your Skype Name
            and enable visibility, then other students can easily find your contact
            and call or add you using Skype.
            TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="text-align: center; font-size: 1.2em; margin-top: 10px;">
            <%= form_for :user_service, :url => profile_create_user_service_url, :html => {:class => "create_user_service_form"} do |f| %>
            <%= f.hidden_field :service, :value => "skype" %>
            <table class="formtable">
              <tr>
                <td><%= f.blabel :user_name, :skype_name, :en => "Skype Name" %></td>
                <td><%= f.text_field :user_name, :style => "width: 150px;" %></td>
              </tr><tr>
                <td colspan="2">
                  <button type="submit" class="btn btn-primary"><%= t('buttons.save_skype_name', "Save Skype Name") %></button>
                </td>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </li>
      <li id="unregistered_service_facebook" class="service" style="<%= hidden if !feature_and_service_enabled?(:facebook) || services.include?("facebook") %>">
        <a href="#" class="btn btn-small"><%= image_tag "facebook_icon.png" %> <%= t('links.facebook', "Facebook") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.authorize_facebook', "Authorize Facebook") %>" id="unregistered_service_facebook_dialog">
          <div>
            <%= image_tag "facebook.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.facebook_access', "Facebook Access") %></div>
            <%= t(:facebook_description, <<-TEXT)
            If you have a Facebook account, you can install the Canvas app and receive
            course notifications on your profile.  You can specify which types of
            notifications you want and how often you'd like them sent.
            TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="text-align: center; font-size: 1.2em; margin-top: 10px;">
            <a class="btn btn-primary" href="<%= oauth_url(:service => "facebook", :return_to => settings_profile_url) %>"><%= t('buttons.register_facebook_account', "Register Your Facebook Account") %></a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_linked_in" class="service" style="<%= hidden if services.include?("linked_in") || !feature_and_service_enabled?(:linked_in) %>">
        <a href="#" class="btn btn-small"><%= image_tag "linked_in_icon.png" %> <%= t('links.linkedin', "LinkedIn") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.authorize_linkedin', "Authorize LinkedIn") %>" id="unregistered_service_linked_in_dialog">
          <div>
            <%= image_tag "linked_in.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.linkedin_access', "LinkedIn Access") %></div>
            <%= t(:linkedin_description, <<-TEXT)
            LinkedIn is a great resources for business networking, and can be 
            helpful long after you've finished your education.
            If you have a LinkedIn account, you can register it here.  Then if you
            allow fellow course/group members to see your registered services, they
            can easily invite you to link with them without having to search LinkedIn
            for your profile.
            TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="text-align: center; font-size: 1.2em; margin-top: 10px;">
            <a class="btn btn-primary" href="<%= oauth_url(:service => "linked_in", :return_to => settings_profile_url) %>"><%= t('buttons.register_linkedin_account', "Register Your LinkedIn Account") %></a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_twitter" class="service" style="<%= hidden if services.include?("twitter") || !feature_and_service_enabled?(:twitter) %>">
        <a href="#" class="btn btn-small"><%= image_tag "twitter_icon.png" %> <%= t('links.twitter', "Twitter") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.authorize_twitter', "Authorize Twitter") %>" id="unregistered_service_twitter_dialog">
          <div>
            <%= image_tag "twitter.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.twitter_access', "Twitter Access") %></div>
            <%= mt(:twitter_description, <<-TEXT)
Twitter is a service for posting and subscribing to short messages.
If you have a Twitter account, you can register it here.  Then if you allow
fellow course/group members to see your registered services, they can 
easily connect with your Twitter account.

You can also sign up to have notifications sent to your Twitter account.
These notifications will be sent as direct messages to yourself from
yourself, and won't appear in your public stream.
TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a class="btn btn-primary" href="<%= oauth_url(:service => "twitter", :return_to => settings_profile_url) %>"><%= t('buttons.authorize_twitter', "Authorize Twitter Access") %></a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_delicious" class="service" style="<%= hidden if services.include?("delicious") || !service_enabled?(:delicious) %>">
        <a href="#" class="btn btn-small"><%= image_tag "delicious_icon.png" %> <%= t('links.delicious', "Delicious") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.delicious_login', "Delicious Login") %>" id="unregistered_service_delicious_dialog">
          <div>
            <%= image_tag "delicious.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.delicious_login', "Delicious Login") %></div>
            <%= t(:delicious_description, <<-TEXT)
            Delicious is a tool that lets you store and share your bookmarks with others.
            Canvas's rich content editor will let you search your Delicious tags
            to easily link from within Canvas to other resources you find useful.
            TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="font-size: 1.0em; margin-top: 10px;">
            <%= form_for :user_service, :url => profile_create_user_service_url, :html => {:class => "create_user_service_form"} do |f| %>
            <%= f.hidden_field :service, :value => "delicious" %>
            <table class="formtable">
              <tr>
                <td><%= f.blabel :user_name, :en => "User Name" %></td>
                <td><%= f.text_field :user_name, :style => "width: 150px;" %></td>
              </tr><tr>
                <td><%= f.blabel :password, :en => "Password" %></td>
                <td><%= f.password_field :password, :style => "width: 150px;" %></td>
              </tr><tr>
                <td colspan="2">
                  <button type="submit" class="btn btn-primary"><%= t('buttons.save_login', "Save Login") %></button>
                </td>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </li>
      <li id="unregistered_service_diigo" class="service" style="<%= hidden if services.include?("diigo") || !service_enabled?(:diigo) %>">
        <a href="#" class="btn btn-small"><%= image_tag "diigo_icon.png" %> <%= t('links.diigo', "Diigo") %></a>
        <div style="display: none; text-align: left;" class="content" title="<%= t('titles.diigo_login', "Diigo Login") %>" id="unregistered_service_diigo_dialog">
          <div>
            <%= image_tag "diigo.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;"><%= t('headers.diigo_login', "Diigo Login") %></div>
            <%= t(:diigo_description, <<-TEXT)
            Diigo is a social bookmarking tool tailored specifically to research and
            education.  
            Canvas's rich content editor will let you search your Diigo tags
            to easily link from within Canvas to other resources you find useful.
            TEXT
            %>
            <div class="clear"></div>
          </div>
          <div style="font-size: 1.0em; margin-top: 10px;">
            <%= form_for :user_service, :url => profile_create_user_service_url, :html => {:class => "create_user_service_form"} do |f| %>
            <%= f.hidden_field :service, :value => "diigo" %>
            <table class="formtable">
              <tr>
                <td><%= f.blabel :user_name, :en => "User Name" %></td>
                <td><%= f.text_field :user_name, :style => "width: 150px;" %></td>
              </tr><tr>
                <td><%= f.blabel :password, :en => "Password" %></td>
                <td><%= f.password_field :password, :style => "width: 150px;" %></td>
              </tr><tr>
                <td colspan="2">
                  <button type="submit" class="btn btn-primary"><%= t('buttons.save_login', "Save Login") %></button>
                </td>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </td>
</tr></table>
<% end %>
<h3><%= before_label(:'headers.approved_integrations', "Approved Integrations") %></h3>
<div style="margin-left: 20px;">
  <% if @user.access_tokens.empty? %>
    <div id="no_approved_integrations"><%= t(:no_approved_integrations, <<-TEXT)
      Third-party applications can request permission to access
      the Canvas site on your behalf.  As you begin authorizing
      applications you will see them listed here.
      TEXT
    %></div>
  <% end %>
  <div id="access_tokens_holder" style="<%= hidden if @user.access_tokens.empty? %>">
    <%= t(:approved_integrations, <<-TEXT)
    These are the third-party applications you have authorized
    to access the Canvas site on your behalf:
    TEXT
    %>
    <table id="access_tokens" class="summary" style="margin-top: 10px;">
      <thead>
        <tr>
          <th><%= t('headers.application_abbrev', "App") %></th>
          <th><%= t('headers.purpose', "Purpose") %></th>
          <th><%= t('headers.dates', "Dates") %></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "access_token", :collection => @user.access_tokens %>
        <%= render :partial => "access_token" %>
      </tbody>
    </table>
  </div>
  <% unless @real_current_user %>
    <div style="margin-top: 10px;">
      <a href="#" class="btn btn-primary add_access_token_link"><i class="icon-add"></i> <%= t('buttons.new_access_token', "New Access Token") %></a>
    </div>
  <% end %>
  <div id="token_details_dialog" style="display: none;" title="<%= t('titles.access_token_details', "Access Token Details") %>">
    <p><%= t(:access_token_description, <<-TEXT, :wrapper => '<a href="https://canvas.instructure.com/doc/api/index.html" target="_blank" class="external">\1</a>')
      Access tokens can be used to allow other applications to make API calls
      on your behalf.  You can also generate access tokens and *use the Canvas
      Open API* to come up with your own integrations.
      TEXT
    %></p>
    
    <div class="loading_message"><%= t(:loading_token_details, "Loading Token Details...") %></div>
    <div class="error_loading_message"><%= t(:error_loading_token_details, "Error Loading Token Details") %></div>
    <div class="results">
      <table>
        <tr>
          <th><%= before_label(:token, "Token") %></th>
          <td>
            <div class="visible_token">&nbsp;</div>
            <div class="full_token_warning"><%= mt(:full_token_warning, <<-TEXT)
**Copy this token down now**. Once you leave this page you won't be able to
retrieve the full token anymore, you'll have to regenerate it to get a new
value.
TEXT
            %></div>
          </td>
        </tr><tr>
          <th><%= before_label(:token_application, "App") %></th>
          <td class="app_name">&nbsp;</td>
        </tr><tr>
          <th><%= before_label(:token_purpose, "Purpose") %></th>
          <td class="purpose">&nbsp;</td>
        </tr><tr>
          <th><%= before_label(:token_created, "Created") %></th>
          <td class="created">&nbsp;</td>
        </tr><tr>
          <th><%= before_label(:token_last_used, "Last Used") %></th>
          <td class="used">&nbsp;</td>
        </tr><tr>
          <th><%= before_label(:token_expires, "Expires") %></th>
          <td class="expires">&nbsp;</td>
        </tr>
        <% unless @real_current_user %>
          <tr class="refresh_token">
            <td colspan="2">
              <div class="button-container">
                <button class="btn regenerate_token"><%= t('buttons.regenerate_token', "Regenerate Token") %></button>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div id="add_access_token_dialog" style="display: none;" title="<%= t('titles.new_access_token', "New Access Token") %>">
    <h2><%= t('headers.generate_access_token', "Generate an Access Token") %></h2>
    <%= mt(:generate_access_token_description, <<-TEXT, :documentation_url => 'https://canvas.instructure.com/doc/api/index.html')
Access tokens are what allow third-party applications to access Canvas
resources on your behalf. These tokens are normally created automatically for
applications as needed, but if [you're developing a new or limited
project](%{documentation_url}) you can just generate the token from here.
TEXT
    %>
    <%= form_for :access_token, :url => profile_tokens_url, :html => {:id => "access_token_form", :style => "margin-top: 10px;"} do |f| %>
      <table class="formtable">
        <tr>
          <td><%= f.blabel :purpose, :en => "Purpose" %></td>
          <td><%= f.text_field :purpose %></td>
        </tr>
        <tr>
          <td><%= f.blabel :expires_at, :en => "Expires" %></td>
          <td>
            <div><%= f.text_field :expires_at, :class => "expires_field datetime_field", :style => "width: 120px;" %></div>
            <div style="font-size: 0.8em;" class="hint"><%= t('hints.expires_at', "leave blank for no expiration") %></div>
          </td>
        </tr>
          <td colspan="2">
            <div class="button-container">
              <button class="btn cancel_button" type="button"><%= t('#buttons.cancel', "Cancel") %></button>
              <button class="btn btn-primary submit_button" type="submit"><%= t('buttons.generate_token', "Generate Token") %></button>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<h3><%= t(:feature_options, 'Feature Options') %></h3>
<div class="feature-flag-wrapper">
  <!-- this is populated by FeatureFlagAdminView -->
</div>

<div id="profile_pic_dialog" style="display: none;">
  <a href="<%= profile_pics_url %>" class="profile_pics_url" style="display: none;">&nbsp;</a>
  <%= t(:profile_pictures, "Select the image you'd like to use as your profile pic, or upload a new image:") %>
  <div class="profile_pic_list" style="background: #eee; padding: 5px; -moz-border-radius: 5px; margin: 5px 10px;">
    <h3 style="padding-left: 10px; padding-top: 10px;"><%= t('headers.loading_images', "Loading Images...") %></h3>
    <div class="clear"></div>
  </div>
  <a href="#" class="add_pic_link add"><%= t('links.upload_new_image', "Upload a new Image") %></a>
  <%= form_for :attachment, :url => context_url(@user, :context_files_url, :format => 'json'), :html => {:id => "add_pic_form", :style => "display: none;"} do |f| %>
    <input type="hidden" name="format" value="text" />
    <%= f.file_field :uploaded_data %>
    <button type="submit" class="btn btn-small"><%= t('buttons.add_picture_file', "Add File") %></button>
  <% end %>
  <div class="form-actions">
    <button type="button" class="btn cancel_button button-secondary"><%= t('#buttons.cancel', "Cancel") %></button>
    <button type="button" class="btn select_button btn-primary"><%= t('buttons.select_image', "Select Image") %></button>
  </div>
</div>
<% else %>
  <p class="alert alert-info">
    <%= t "confirm_email_instructions", <<-TEXT, :email => @current_user.email, :wrapper => {'*' => '<a href="' + re_send_confirmation_path(@current_user, @current_user.communication_channel) + '" class="re_send_confirmation_link">\1</a>'}
      Before you can edit your profile, you need to verify your email address (%{email}) by clicking the link in the email we sent you.
      If you don't see it, *click to re-send the email*, and make sure to check your spam box.
    TEXT
    %>
  </p>
<% end %>
