<% content_for :page_title do %>
  Profile - <%= @user.name %>
<% end %>

<% content_for :right_side do %>
  <%= render :partial => "ways_to_contact" %>
  <div class="rs-margin-lr">
    <hr />
    <a href="#" class="edit_profile_link button button-sidebar-wide"><%= image_tag "edit.png" %> Edit Profile</a>
  </div>
<% end %>

<% jammit_js :profile %>

<% content_for :stylesheets do %>
<style>
.profile_table td {
  vertical-align: top;
  padding: 2px 5px;
}
.profile_table .edit_data {
  display: none;
}
.profile_table.editing .edit_data {
  display: inline;
}
.profile_table.editing .display_data {
  display: none;
}
#registered_services .service {
  font-size: 1.2em;
  padding: 2px;
}
#registered_services .service .delete_service_link {
  display: none;
}
#registered_services .service.service-hover {
  background-color: #eee;
  -moz-border-radius: 3px;
}
#registered_services .service.service-hover .delete_service_link {
  display: inline;
}
#unregistered_services .button{
  width: 150px;
  margin: 3px;
}
#unregistered_services .button img {
  vertical-align: middle;
}
.profile_pic_link img {
  max-width: 50px;
}
.profile_pic_list span.img {
  float: left;
  width: 50px;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
}
.profile_pic_list img {
  max-height: 75px;
  min-height: 25px;
  max-width: 50px;
  vertical-align: middle;
}
.profile_pic_list span.img:hover {
  padding: 2px;
  border: 2px solid #888;
}
.profile_pic_list span.img.selected {
  padding: 2px;
  border: 2px solid #444;
}
</style>
<% end %>
<% if service_enabled?(:avatars) %>
  <a href="#" class="profile_pic_link <%= @user.avatar_state %>" title="Click to change profile pic" style="float: left; margin-right: 5px; min-width: 50px; min-height: 50px; display: inline-block;">
    <%= avatar_image(@user.id) %>
  </a>
<% end %>
<h2 style="padding-top: 0.3em;"><%= @user.short_name %>'s Profile</h2>
<div class="clear"></div>
<% form_for @user, :url => profile_url, :html => {:id => "update_profile_form", :style => "margin-bottom: 20px;"} do |f| %>
<table class="profile_table">
  <tr>
    <td><%= f.label :name, "Full Name:" %></td>
    <td><span class="full_name display_data"><%=h @user.name %></span>
      <% if @user.creation_unique_id %>
        <span class="edit_data"><%= @user.name %> (can't change)</span>
      <% else %>
        <%= f.text_field :name, :class => "edit_data" %>
      <% end %>
      <span class="edit_or_show_data" style="font-size: 0.8em; color: #888;"><br/>This name will be used by teachers for grading.</span>
  </tr>
  <tr>
    <td><%= f.label :short_name, "Display Name:" %></td>
    <td><span class="short_name display_data"><%=h @user.short_name %></span>
      <%= f.text_field :short_name, :class => "edit_data" %>
      <span class="edit_or_show_data" style="font-size: 0.8em; color: #888;"><br/>People will see this name in discussions, messages and comments.</span>
    </td>
  </tr>
  <% active_email_channels = @email_channels.select { |cc| cc.active? } %>
  <% if active_email_channels.length > 1 %>
    <tr>
      <td><label for="default_email_id">Default Email:</label></td>
      <td>
        <span class="default_email unique_id display_data"><%=h @default_email_channel.path %></span>
        <select id="default_email_id" name="default_email_id" class="default_email edit_data">
          <% active_email_channels.select.each do |cc| %>
            <option value="<%= cc.id %>" <%= "selected" if cc == @default_email_channel %> ><%=h cc.path %></option>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><%= f.label :time_zone, "Time Zone:" %></td>
    <td>
      <span class="time_zone display_data"><%= @user.time_zone || "None" %></span>
      <span class="edit_data"><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => ((@domain_root_account && @domain_root_account.default_time_zone) || "Mountain Time (US & Canada)") %></span>
    </td>
  </tr>
  <% if @domain_root_account == Account.default %>
    <tr>
      <td colspan="2">
        <div class="edit_data">
          <%= f.check_box :subscribe_to_emails %>
          <%= f.label :subscribe_to_emails, "I want to receive information, news and tips from Instructure" %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if !@password_pseudonyms.empty? %>
  <tr class="edit_data_row select_change_password_row" style="display: none;">
    <td>Password:</td>
    <td><input type="checkbox" id="change_password_checkbox" name="pseudonym[change_password]" value="1"/><label for="change_password_checkbox">Change Password</label></td>
  </tr>
  <% end %>
  <tr class="change_password_row" style="display: none;">
    <td class="nobr"><label for="profile_pseudonym_id">Password For:</label></td>
    <td>
      <select name="pseudonym[password_id]" id="profile_pseudonym_id">
        <% @password_pseudonyms.each do |p| %>
          <option value="<%= p.id %>"><%= p.unique_id %></option>
        <% end %>
      </select>
    </td>
  </tr>
  <!--tr class="change_password_row" style="display: none;">
    <td>Old Password:</td>
    <td><input type="password" name="old_password" value="" style="width: 150px;"/></td>
  </tr-->
  <tr class="change_password_row" style="display: none;">
    <td><label for="old_password">Old Password:</label></td>
    <td><input type="password" style="width: 150px;" id="old_password" name="pseudonym[old_password]"/></td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><%= label :pseudonym, :password, "New Password:" %></td>
    <td><%= password_field :pseudonym, :password, :value => "", :style => "width: 150px;" %></td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><%= label :pseudonym, :password_confirmation, "Confirm Password:" %></td>
    <td><%= password_field :pseudonym, :password_confirmation, :value => "", :style => "width: 150px;" %></td>
  </tr>
  <tr class="edit_data_row more_options_link_row" style="display: none;">
    <td colspan="2"><a href="#" class="more_options_link" style="display: none;">more options</a></td>
  </tr>
  <tr class="edit_data_row" style="display: none;">
    <td colspan="2">
      <p><a style="font-size: 0.9em" href="<%= user_delete_url(@user.id) %>" class="admin">Delete My Profile </a></p>
      <button type="submit" class="button">Update Profile</button>
      <button type="button" class="cancel_button button-secondary">Cancel</button>
    </td>
  </tr>
</table>
<% end %>
<div style="<%= hidden unless @pseudonyms.length > 1 %> margin-bottom: 20px;">
<h2>Ways to Log In</h2>
<table class="summary pseudonym_list">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Login</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
<% @pseudonyms.each do |p| %>
  <% if p.first? || p.account_id %>
  <tr id="pseudonym_<%= p.id %>" class="pseudonym">
    <td><%= p.account_name %></td>
    <td><a href="<%= login_url(:host => HostUrl.context_host(p.account)) %>" class="not_external"><%= p.unique_id %></a></td>
    <td>
      <a class="delete_pseudonym_link no-hover" href="<%= profile_pseudonym_url(p.id) %>" style="<%= hidden if p.managed_password? %>" title="Remove account from this profile"><%= image_tag "delete.png" %></a>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<div style="text-align: center; display: none;">
  <a href="#" class="add">Add Account</a>
</div>
</div>

<% unless @domain_root_account && @domain_root_account.service_enabled?(:none) %>
<a name="registered_web_services"></a>
<h2>Web Services</h2>
<p>Canvas can make your life a lot easier by tying itself in with the web tools
you already use.  Click any of the services in "Other Services" to see what we mean.</p>
<p>
<input type="checkbox" id="show_user_services" <%= 'checked' if @user.show_user_services %>/><label for="show_user_services">Let fellow course/group members see which services I've linked to my profile</label>
</p>
<table style="width: 100%;"><tr>
  <td style="vertical-align: top; width: 50%; padding-right: 20px;">
    <h3>Registered Services</h3>
    <div style="margin-left: 20px; margin-bottom: 20px;">
    <ul id="registered_services" class="unstyled_list">
      <% @user.user_services.select{|s| !UserService.configured_service?(s.service) || feature_and_service_enabled?(s.service) }.each do |service| %>
        <li class="service" id="service_<%= service.service %>">
          <a href="<%= profile_user_service_url(service.id) %>" class="delete_service_link no-hover" style="float: right; padding-top: 0.5em; padding-right: 10px;" title="Unregister Service"><%= image_tag "delete_circle.png" %></a>
          <a href="<%= service.service_access_link %>">
            <%= image_tag "#{service.service}.png", :style => "vertical-align: middle; float: left;" %> 
          </a>
          <div style="float: left; padding-left: 5px;">
            <%= service.service.titleize rescue "Unknown" %>
            <div style="font-size: 0.6em; line-height: 0.5em;">
              <% if service.has_profile_link? %>
                <a href="<%= service.service_user_link %>">
                  view your profile
                </a>
              <% elsif service.has_readable_user_name? %>
                <span><%= service.service_user_name %></span>
              <% end %>
              <% if service.service == 'facebook' && feature_and_service_enabled?(:facebook) && Facebook.config['canvas_name'] %>
                <div>
                  <a href="<%= service.service_access_link %>">view the Facebook app</a>
                </div>
              <% end %>
            </div>
          </div>
          <div class="clear"></div>
        </li>
      <% end %>
      <li id="service_blank" class="service" style="display: none;">
        <a href="<%= profile_user_service_url("{{ id }}") %>" class="delete_service_link no-hover" style="float: right;" title="Unregister Service"><%= image_tag "delete_circle.png" %></a>
        <span class="service">&nbsp;</span>
      </li>
    </ul>
    <%= "No Registered Services" if @user.user_services.empty? %>
    </div>
  </td>
  <td style="vertical-align: top; width: 50%; padding-left: 20px;">
    <h3>Other Services</h3>
    <div style="margin-left: 20px;">
    Click any service below to register:
    <% services = @user.user_services.map{|s| s.service} %>
    <ul id="unregistered_services" class="unstyled_list">
      <li id="unregistered_service_google_docs" class="service" style="<%= hidden if !feature_and_service_enabled?(:google_docs) || services.include?("google_docs") %>">
        <a href="#" class="button small-button"><%= image_tag "google_docs_icon.png" %> Google Docs</a>
        <div style="display: none; text-align: left;" class="content" title="Authorize Google Docs" id="unregistered_service_google_docs_dialog">
          <div>
            <%= image_tag "google_docs.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">Google Docs Access</div>
            Once you authorize us to see your Google Docs you'll be able to submit your assignments
            directly from Google Docs, and create and share documents with members of your classes.
            <div class="clear"></div>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a class='button' href="<%= oauth_url(:service => "google_docs", :return_to => profile_url) %>">Authorize Google Docs Access</a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_skype" class="service" style="<%= hidden if services.include?("skype") %>">
        <a href="#" class="button small-button"><%= image_tag "skype_icon.png" %> Skype</a>
        <div style="display: none; text-align: left;" class="content" title="Register Skype" id="unregistered_service_skype_dialog">
          <div>
            <%= image_tag "skype.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">Share your Skype ID</div>
            Skype offers free online voice and video calls.  Lots of students use
            Skype as a free, easy way to communicate.  If you register your Skype Name
            and enable visibility, then other students can easily find your contact
            and call or add you using Skype.
            <div class="clear"></div>
          </div>
          <div style="text-align: center; font-size: 1.2em; margin-top: 10px;">
            <% form_for :user_service, :url => profile_create_user_service_url, :html => {:class => "create_user_service_form"} do |f| %>
            <%= f.hidden_field :service, :value => "skype" %>
            <table class="formtable">
              <tr>
                <td><%= f.label :user_name, "Skype Name:" %></td>
                <td><%= f.text_field :user_name, :style => "width: 150px;" %></td>
              </tr><tr>
                <td colspan="2">
                  <button type="submit" class="button">Save Skype Name</button>
                </td>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </li>
      <li id="unregistered_service_facebook" class="service" style="<%= hidden if !feature_and_service_enabled?(:facebook) || services.include?("facebook") %>">
        <a href="#" class="button small-button"><%= image_tag "facebook_icon.png" %> Facebook</a>
        <div style="display: none; text-align: left;" class="content" title="Authorize Facebook" id="unregistered_service_facebook_dialog">
          <div>
            <%= image_tag "facebook.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">Facebook Access</div>
            If you have a Facebook account, you can install the Canvas app and receive
            course notifications on your profile.  You can specify which types of
            notifications you want and how often you'd like them sent.
            <div class="clear"></div>
          </div>
          <div style="text-align: center; font-size: 1.2em; margin-top: 10px;">
            <a class="button" href="<%= oauth_url(:service => "facebook", :return_to => profile_url) %>">Register Your Facebook Account</a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_linked_in" class="service" style="<%= hidden if services.include?("linked_in") || !feature_and_service_enabled?(:linked_in) %>">
        <a href="#" class="button small-button"><%= image_tag "linked_in_icon.png" %> LinkedIn</a>
        <div style="display: none; text-align: left;" class="content" title="Authorize LinkedIn" id="unregistered_service_linked_in_dialog">
          <div>
            <%= image_tag "linked_in.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">LinkedIn Access</div>
            LinkedIn is a great resources for business networking, and can be 
            helpful long after you've finished your education.
            If you have a LinkedIn account, you can register it here.  Then if you
            allow fellow course/group members to see your registered services, they
            can easily invite you to link with them without having to search LinkedIn
            for your profile.
            <div class="clear"></div>
          </div>
          <div style="text-align: center; font-size: 1.2em; margin-top: 10px;">
            <a class="button" href="<%= oauth_url(:service => "linked_in", :return_to => profile_url) %>">Register Your LinkedIn Account</a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_twitter" class="service" style="<%= hidden if services.include?("twitter") || !feature_and_service_enabled?(:twitter) %>">
        <a href="#" class="button small-button"><%= image_tag "twitter_icon.png" %> Twitter</a>
        <div style="display: none; text-align: left;" class="content" title="Authorize Twitter" id="unregistered_service_twitter_dialog">
          <div>
            <%= image_tag "twitter.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">Twitter Access</div>
            Twitter is a service for posting and subscribing to short messages.
            If you have a Twitter account, you can register it here.  Then if you allow
            fellow course/group members to see your registered services, they can 
            easily connect with your Twitter account.
            <div class="clear"></div>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a class="button" href="<%= oauth_url(:service => "twitter", :return_to => profile_url) %>">Authorize Twitter Access</a>
          </div>
        </div>
      </li>
      <li id="unregistered_service_delicious" class="service" style="<%= hidden if services.include?("delicious") %>">
        <a href="#" class="button small-button"><%= image_tag "delicious_icon.png" %> Delicious</a>
        <div style="display: none; text-align: left;" class="content" title="Delicious Login" id="unregistered_service_delicious_dialog">
          <div>
            <%= image_tag "delicious.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">Delicious Login</div>
            Delicious is a tool that lets you store and share your bookmarks with others.
            Canvas's rich content editor will let you search your Delicious tags
            to easily link from within Canvas to other resources you find useful.
            <div class="clear"></div>
          </div>
          <div style="font-size: 1.0em; margin-top: 10px;">
            <% form_for :user_service, :url => profile_create_user_service_url, :html => {:class => "create_user_service_form"} do |f| %>
            <%= f.hidden_field :service, :value => "delicious" %>
            <table class="formtable">
              <tr>
                <td><%= f.label :user_name, "User Name:" %></td>
                <td><%= f.text_field :user_name, :style => "width: 150px;" %></td>
              </tr><tr>
                <td><%= f.label :password, "Password:" %></td>
                <td><%= f.password_field :password, :style => "width: 150px;" %></td>
              </tr><tr>
                <td colspan="2">
                  <button type="submit" class="button">Save Login</button>
                </td>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </li>
      <li id="unregistered_service_diigo" class="service" style="<%= hidden if services.include?("diigo") %>">
        <a href="#" class="button small-button"><%= image_tag "diigo_icon.png" %> Diigo</a>
        <div style="display: none; text-align: left;" class="content" title="Diigo Login" id="unregistered_service_diigo_dialog">
          <div>
            <%= image_tag "diigo.png", :style => "float: left; padding-right: 5px;" %>
            <div style="font-size: 1.2em; font-weight: bold;">Diigo Login</div>
            Diigo is a social bookmarking tool tailored specifically to research and
            education.  
            Canvas's rich content editor will let you search your Diigo tags
            to easily link from within Canvas to other resources you find useful.
            <div class="clear"></div>
          </div>
          <div style="font-size: 1.0em; margin-top: 10px;">
            <% form_for :user_service, :url => profile_create_user_service_url, :html => {:class => "create_user_service_form"} do |f| %>
            <%= f.hidden_field :service, :value => "diigo" %>
            <table class="formtable">
              <tr>
                <td><%= f.label :user_name, "User Name:" %></td>
                <td><%= f.text_field :user_name, :style => "width: 150px;" %></td>
              </tr><tr>
                <td><%= f.label :password, "Password:" %></td>
                <td><%= f.password_field :password, :style => "width: 150px;" %></td>
              </tr><tr>
                <td colspan="2">
                  <button type="submit" class="button">Save Login</button>
                </td>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </td>
</tr></table>
<% end %>
<div id="profile_pic_dialog" style="display: none;">
  <a href="<%= profile_pics_url %>" class="profile_pics_url" style="display: none;">&nbsp;</a>
  Select the image you'd like to use as your profile pic, or upload a new image:
  <div class="profile_pic_list" style="background: #eee; padding: 5px; -moz-border-radius: 5px; margin: 5px 10px;">
    <h3 style="padding-left: 10px; padding-top: 10px;">Loading Images...</h3>
    <div class="clear"></div>
  </div>
  <a href="#" class="add_pic_link add">Upload a new Image</a>
  <% form_for :attachment, :url => context_url(@user, :context_files_url), :html => {:id => "add_pic_form", :style => "display: none;"} do |f| %>
    <input type="hidden" name="format" value="text" />
    <%= f.file_field :uploaded_data %>
    <button type="submit" class="button small-button">Add File</button>
  <% end %>
  <div class="button-container">
    <button type="button" class="button select_button">Select Image</button>
    <button type="button" class="button cancel_button button-secondary">Cancel</button>
  </div>
</div>
