{{#if isPassFail}}
  {{
    fast-select
    id=input-id
    items=passFailGrades
    value=value
    ariaDescribedBy="grading-out-of-text"
  }}
{{ else }}
  <input {{bind-attr value=value id=input-id disabled=isInPastGradingPeriodAndNotAdmin}}
          type="text" aria-describedby="grading-out-of-text" />
{{/if}}
<span id="grading-out-of-text">
    {{outOfText}}
</span>

{{#if submission.late}}
  <div class="deduction-box">
    <div class="deduction-box-labels">
      <div class="submission_late_penalty">
        {{#t}}Late Penalty{{/t}}
      </div>
      <div class="submission_final_grade">
        {{#t}}Final Grade{{/t}}
      </div>
    </div>
    <div class="deduction-box-values">
      <div class="submission_late_penalty">
        <strong>{{late_penalty}}</strong>
      </div>
      <div class="submission_final_grade">
        <strong>{{final_grade}}</strong>
      </div>
    </div>
  </div>
{{/if}}

{{#unless isPassFail}}
<div class="checkbox">
  <label class="checkbox">
    {{
      input
      type="checkbox"
      id="submission-excused"
      name="submission-excused"
      checked=excused
      disabled=isInPastGradingPeriodAndNotAdmin
    }}
    {{#t}}Excuse This Assignment for the Selected Student{{/t}}
  </label>
</div>
{{/unless}}
