<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<h2 class="ic-Login-confirmation__headline">
  <% if @provider.icon_url %>
    <%= image_tag @provider.icon_url, :alt => t("Provider icon"), :class => 'ic-Login-confirmation__auth-icon' %>
  <% end %>
  <%= @provider.app_name %>
</h2>
<p>
  <strong><%= mt 'details.allow_application', "%{app_name} is requesting access to your account.", :app_name => @provider.app_name %></strong>
</p>
<p>
  <%= mt 'details.login_name', "You are authorizing this app as %{user_name}.", :user_name => link_to(@current_user.short_name, user_profile_url(@current_user), :popup => true, target:"_blank") %>
  <% if @current_user.email.present? && @current_user.email != @current_user.short_name %>
    <br/>
    <%= t 'details.email', "Your email address is %{email}.", :email => @current_user.email %>
  <% end %>
</p>
<% if @special_confirm_message %>
  <p><%= @special_confirm_message %></p>
<% end %>
<%= form_tag oauth2_auth_accept_path, id: "oauth2_accept_form" do %>
  <div class="button_box ic-Login-confirmation__actions">
    <%= link_to(t(:cancel, "Cancel"), oauth2_auth_deny_path, :class => "Button Button--block") %>
    <%=  submit_tag(t("Authorize"),  class: "Button Button--primary Button--block", data: {disable_with: t('Please wait...')}) %>
  </div>
  <% if @provider.scopes == ["/auth/userinfo"] %>
    <div class="control-group">
      <%= check_box_tag(:remember_access, "1", false, :class => "checkbox") %>
      <%= label_tag :remember_access, t('labels.remember_access', "Remember my authorization for this service"), class: "checkbox" %>
    </div>
  <% end %>
<% end %>
