<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  js_bundle :oauth2_confirm
  provide :page_title, t(:page_title, "App Login")
%>

<div class="face">
  <p>
    <%= mt 'details.allow_application', " Allow %{app_name} to access your Canvas account.", :app_name => @provider.app_name %>
  </p>
  <% if @domain_root_account&.feature_enabled?(:oauth2_deny_post) %>
    <%= form_tag oauth2_auth_deny_post_path, id: "oauth2_deny_form", style: "display:none" do %>
    <% end %>
  <% end %>
  <%= form_tag oauth2_auth_accept_path, id: "oauth2_accept_form" do %>
    <%= hidden_field_tag :custom_csrf_token, @custom_csrf_token %>
    <div class="button_box">
      <%= submit_tag(t("authorize", "Authorize"), class: "Button Button--primary Button--block", data: {disable_with: t("please_wait", "Please wait...")}) %>
      <% if @domain_root_account&.feature_enabled?(:oauth2_deny_post) %>
        <button type="submit" form="oauth2_deny_form" class="Button Button--block"><%= t(:cancel, "Cancel") %></button>
      <% else %>
        <%= link_to(t(:cancel, "Cancel"), oauth2_auth_deny_path, :class => "Button Button--block") %>
      <% end %>
    </div>
    <% if @provider.scopes == ["/auth/userinfo"] %>
      <div class="control-group">
        <label class="checkbox" for="remember_access">
          <%= check_box_tag(:remember_access, "1", false, :class => "checkbox") %>
          <%= t 'remember_auth', 'Remember Authorization' %>
        </label>
      </div>
    <% end %>
  <% end %>
</div>
