<%
  content_for :page_title, t(:page_title, "App Login")
%>
<div class="face">
  <p>
    <%= mt 'details.allow_application', " Allow %{app_name} to access your account.", :app_name => @provider.app_name %>
  </p>
  <%= form_tag oauth2_auth_accept_path do %>
    <div class="button_box">
      <button type="submit" class="btn btn-large btn-primary"><%= t 'authorize', 'Authorize' %></button>
      <%= link_to(t(:cancel, "Cancel"), oauth2_auth_deny_path, :class => "btn btn-large") %>
    </div>
    <% if true#unless @provider.scopes.blank? %>
      <div class="control-group">
        <label class="checkbox" for="remember_access">
          <%= check_box_tag(:remember_access, "1", false, :class => "checkbox") %>
          <%= t 'remember_auth', 'Remember Authorization' %>
        </label>
      </div>
    <% end %>
<% end %>
</div>
