<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%
  provide :page_title, t(:page_title, "App Login")
%>

<div class="face">
  <p>
    <%= mt 'details.allow_application', " Allow %{app_name} to access your account.", :app_name => @provider.app_name %>
  </p>
  <%= form_tag oauth2_auth_accept_path do %>
    <div class="button_box">
      <button type="submit" class="Button Button--primary Button--block"><%= t 'authorize', 'Authorize' %></button>
      <%= link_to(t(:cancel, "Cancel"), oauth2_auth_deny_path, :class => "Button Button--block") %>
    </div>
    <% if @provider.scopes == ["/auth/userinfo"] %>
      <div class="control-group">
        <label class="checkbox" for="remember_access">
          <%= check_box_tag(:remember_access, "1", false, :class => "checkbox") %>
          <%= t 'remember_auth', 'Remember Authorization' %>
        </label>
      </div>
    <% end %>
<% end %>
</div>
