<div class='pull-right group-categories-actions'>
  <button {{bind-attr class="studentCanOrganizeGroupsForCourse::hide :btn :btn-primary :add_group_link"}} aria-controls="testdialog" {{action 'newGroup'}} >
    <i class='icon-plus' aria-label="new"></i> {{#t 'group'}}Group{{/t}}
  </button>
</div>
<div id="group_categories_tabs" class="ui-tabs-minimal ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class='collectionViewItems ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
    <li class="ui-state-default ui-corner-top"><a {{bind-attr href=usersPath}}>{{#t 'student_groups_tabs_everyone'}}Everyone{{/t}}</a></li>
    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="#">{{#t 'student_groups_tabs_groups'}}Groups{{/t}}</a></li>
  </ul>
  <div class="roster-tab tab-panel">
    <div class="form-inline clearfix content-box">
      <label for="search_field" class="screenreader-only">{{searchAriaLabel}}</label>
      {{view Ember.TextField
      value=filterText
      id="search_field"
      action="filter"
      type="search"
      onEvent="keyPress"
      placeholder=searchPlaceholder
      aria-label=searchAriaLabel
      }}
    </div>
    {{#groups-lazy-list data=groups href=groupsUrl}}
    {{#each sortedGroups itemController="group" }}
    <div {{bind-attr class=":accordion :student-groups :content-box showBody isMember"}} {{bind-attr id=sgid}}>
      <div class="student-group-header clearfix" {{action 'toggleBody'}}>
        <i class="icon-mini-arrow-right" aria-hidden="true"></i>
        <i class="icon-mini-arrow-down" aria-hidden="true"></i>
        <div class="student-group-title">
          <h3 {{action 'toggleBody'}} href="#" {{bind-attr aria-expanded=isExpanded}} aria-controls="student-group-body" role="button" {{bind-attr aria-label=groupName}}>
            {{name}}
            <small>{{group_category.name}}</small>
          </h3>
          {{#if isMember}}
            <a {{action 'visitGroup'}} href="#" aria-label="visit group page">{{#t 'visit'}}Visit{{/t}}</a>
          {{/if}}
        </div>

        {{#if isMember}}
          {{#if canSignup}}
            <a href="#" class="student-group-join" {{action "leave" this bubbles=false}} aria-label="leave group">{{#t 'student_groups_leave'}}Leave{{/t}}</a>
          {{else}}
              <span class="student-group-join">&nbsp</span>
          {{/if}}
        {{else}}
          {{#if canSignup}}
            {{#if isFull}}
              <span class="student-group-join" aria-hidden="true">{{#t 'full'}}Full{{/t}}</span>
              <span class="screenreader-only">{{#t 'group_full'}}Group is full{{/t}}</span>
            {{else}}
              {{#if shouldSwitch}}
              <a href="#" class="student-group-join" {{action "join" this bubbles=false}} aria-label="switch to group">{{#t 'student_groups_switch'}}Switch To{{/t}}</a>
              {{else}}
              <a href="#" class="student-group-join" {{action "join" this bubbles=false}} aria-label="join group">{{#t 'student_groups_join'}}Join{{/t}}</a>
              {{/if}}
            {{/if}}
          {{else}}
            {{#if isFull}}
              <span class="student-group-join" aria-label="group is full">{{#t 'full'}}Full{{/t}}</span>
            {{else}}
              <span class="student-group-join" aria-label="group is invite only">{{#t 'invite_only'}}Invite Only{{/t}}</span>
            {{/if}}
          {{/if}}
        {{/if}}
        <span class="student-group-students">
          {{i18nStudentsCount}}
        </span>
      </div>
      <div {{bind-attr class=":student-group-body showBody::hidden"}} {{bind-attr aria-expanded=isExpanded}}>
        <ul class="student-group-list clearfix" aria-label="group members" tabindex='0' role='region'>
          {{#each users}}
            <li tabindex='0' role='listitem'>
              {{#if display_name}}{{display_name}}{{else}}{{short_name}}{{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
    {{/groups-lazy-list}}
  </div>
</div>
