<%-
  @locale = raw I18n.locale.to_json
  @body_classes ||= []
  @body_classes << "context-#{@context.asset_string}" if @context
  if @current_user && @context && @context.respond_to?(:grants_any_right?) && !can_do(@context, @current_user, :manage)
    @body_classes << "student-logged-in"
  end
  yield :pre_html

-%><!DOCTYPE html>
<html class="scripts-not-loaded" lang=<%= @locale %>>
<head>
  <meta charset="utf-8">
  <script src="/javascripts/vendor/jquery-1.7.2.js"></script>
  <title><%= (yield :page_title).presence || @page_title || t('default_page_title', "Canvas LMS") %></title>
  <!--[if lte IE 9]> <meta http-equiv=refresh content="0; URL=/ie-9-is-not-supported.html" /> <![endif]-->
  <%= favicon_link_tag(favicon) %>
  <%= favicon_link_tag(brand_variable('ic-brand-apple-touch-icon'), rel: 'apple-touch-icon', type: nil) %>
  <%= yield :auto_discovery %>
  <%= yield :head %>
  <%= yield :meta_tags %>
  <%= include_custom_meta_tags %>
  <% if use_new_styles? %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="<%= brand_variable('ic-brand-primary') %>">
  <% end %>
  <%= include_css_bundles %>
  <%= yield :stylesheets %>
  <%= include_account_css %>
  <script>
    window.bz_custom_css_url = <%= custom_css_url.to_json.html_safe %>;
    try {
      if(window.location.pathname != '/' && window.location.pathname.indexOf('/login') != 0 && !window.location.pathname.match(/courses\/[0-9]+$/)) {
        var message = "";
        message += 'last_url=' + encodeURIComponent(window.location.href) + "&";
        message += 'last_url_title=' + encodeURIComponent(document.title);
        var request = new XMLHttpRequest();
        request.open("POST", "/bz/last_user_url", true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.send(message);
      }
    } catch(e) {}
  </script>
  <script>
    // listen for any clicks on links that have href="#" and queue them to be fired on dom ready.
      function _earlyClick(e){
        var cur = e.target || e.srcElement;
        while ( cur && cur.ownerDocument ) {
          if ( cur.getAttribute('href') == '#' ) {
            e.preventDefault();
            _earlyClick.clicks = _earlyClick.clicks || [];
            _earlyClick.clicks.push(cur);
            break;
          }
          cur = cur.parentNode;
        }
      }
      document.addEventListener('click', _earlyClick);
  </script>
  <script src="/bz_support.js?20180605"></script>
  <script src="/DragDropTouch.js"></script>
  <link rel="stylesheet" type="text/css" href="/bz_support.css?20170823" />
  <%= render 'shared/google_analytics' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700,300,600,400' rel='stylesheet' type='text/css'>
  <link href="/font/TradeGothicNo.20-CondBold.css" rel="stylesheet" type="text/css" />
</head>
