<%-
  @body_classes ||= []
  keyboard_navigation = (yield :keyboard_navigation).presence
  left_side = nil
  left_side_custom = nil
  right_side = (yield :right_side).presence
  wizard = (yield :wizard_box).presence
  top_nav = (yield :top_nav).presence

  content_for :pre_html do
    @body_class_no_headers = @headers == false
    @show_embedded_chat = embedded_chat_visible
    @show_fixed_bottom = (@fixed_warnings.present? || (@real_current_user && @real_current_user != @current_user)) && (!@body_class_no_headers || @outer_frame)
    @body_classes << "no-headers" if @body_class_no_headers
    unless (@body_classes.include? "no-headers") || (@show_left_side == false)
      left_side = (yield :left_side).presence
      left_side_custom = (yield :left_side_custom).presence
      @show_left_side ||= (section_tabs.length > 0 || left_side_custom.try(:length))
    end
    @body_classes << "with-left-side" if @show_left_side
    #we dont want to render a right side unless there is actually content in it.
    @body_classes << "with-right-side" if right_side and not right_side.strip.empty?
    @body_classes << "padless-content" if @padless
    @body_classes << "with-embedded-chat" if @show_embedded_chat
    @body_classes << 'with-fixed-bottom' if @show_fixed_bottom
    @body_classes << 'pages' if controller.js_env[:WIKI_PAGE].present?
    @body_classes << @active_tab
  end

  jammit_css(:instructure_eportfolio) if @eportfolio_view === true
  content_for :head, include_common_stylesheets

-%>
<%= render :partial => "layouts/head" %>
<body class="<%= (@body_classes).uniq.join(" ") %>">
<div id="application">
  <noscript><div role="alert" class="ic-flash-static ic-flash-error"><h1><%= t :javascript_required, "You need to have JavaScript enabled in order to access this site." %></h1></div></noscript>
  <%= render :partial => 'shared/flash_notices' %>

  <div id="header" class="no-print <%= 'no-user' unless @current_user %>">
    <div id="header-inner">
      <a href="#content" id="skip_navigation_link"><%= t 'links.skip_to_content', "Skip To Content" %></a>
      <a id="header-logo" href="<%= dashboard_url %>"><%= t 'links.dashboard', "My Dashboard" %></a>
      <b id="header-logo-secondary"></b>
      <div id="topbar" role="navigation" aria-label="<%= t('navigation.user_menu', 'User Menu') %>">
        <% if (identity = (yield :identity).presence) %>
          <%= identity %>
        <% else %>
          <%- cache_if(!@real_current_user, [@current_user || 'nobody', 'identity-15m'], :expires_in => 15.minutes) do -%>
            <%= render(:partial => 'shared/identity') %>
          <%- end -%>
        <% end %>
      </div>
      <%= render(:partial => "shared/keyboard_navigation_hint") if keyboard_navigation %>
      <% if @current_user %>
      <ul role="navigation" id="menu" aria-label="<%= t('navigation.main', 'Main Navigation') %>">
        <%- cache([@current_user, 'home-menu-15m'], :expires_in => 15.minutes) do -%>
        <li id="courses_menu_item" class="menu-item">
          <%= render(:partial => 'shared/home_menu') %>
        </li>
        <%- end -%>
        <li id="grades_menu_item" class="menu-item">
          <%= link_to(t('menu.grades', 'Grades'), :grades, :class=>"menu-item-no-drop") %>
        </li>
        <li id="calendar_menu_item" class="menu-item">
          <a href="<%= calendar_path %>" class="menu-item-no-drop"><%= t('menu.calendar', 'Calendar') %></a>
        </li>
        <%= render(:partial => 'external_tools/global_nav_menu_items') %>
      </ul>
      <% end %>
    </div>
  </div>
  <div id="instructure_ajax_error_box">
    <div style="text-align: right; background-color: #fff;"><a href="#" class="close_instructure_ajax_error_box_link"><%= t('links.close', 'Close') %></a></div>
    <iframe id="instructure_ajax_error_result" src="about:blank" style="border: 0;"></iframe>
  </div>

  <%= yield :leading_content %>

  <div id="wrapper-container">
    <div id="wrapper">
      <% if @show_left_side %>
        <%# @left_side_list_view is temporary until we redo eportfolios %>
        <div id="left-side" class="<% if !@no_left_side_list_view %>list-view<% end %>">
        <% if left_side %>
          <%= left_side %>
        <% else %>
          <% if @context.try(:short_name) %>
            <div class='h1' id="section-tabs-header">
              <%= @context.short_name %>
              <% if @context && @context.is_a?(Group) && can_do(@context, @current_user, :manage)%>
                <a  class="al-trigger" href="#" style="display:inline-block; float:right" data-popup-within="#wrapper">
                  <i class="icon-mini-arrow-down"></i>
                  <span class="screenreader-only"><%= t("group_switch","Switch")%></span>
                </a>
                <ul class="al-options">
                  <% @context.group_category.groups.active.by_name.each do |group| %>
                    <li><%= link_to group.short_name, group_path(group) %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if @context && @context.respond_to?(:context)  %>
                <a href="<%= url_for(@context.context) %>" id="section-tabs-header-subtitle" class="ellipsis"><%= @context.context.name %></a>
              <% elsif @context && @context.respond_to?(:enrollment_term) && !@context.enrollment_term.default_term? %>
                <span id="section-tabs-header-subtitle" class="ellipsis"><%= @context.enrollment_term.name %></span>
              <% end %>
            </div>
          <% end %>
          <%= section_tabs %>
        <% end %>
        <% if left_side_custom %>
          <%= left_side_custom %>
        <% end %>
      </div>
      <% end %>
      <div id="main">
        <div id="not_right_side">
          <div id="content-wrapper">
            <%= render_crumbs %>
      <div id="right-side-wrapper">
        <aside id="right-side" role="complementary">
          <%= right_side %>
        </aside>
      </div>
            <%= render :partial => 'shared/content_notices' if @context && @context.respond_to?(:content_notices) %>
            <div id="content" role="main" class="container-fluid">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" id="footer">
        <a href="http://www.instructure.com" class="footer-logo">
          <span class="screenreader-only">
            <%= t(:instructure_description, 'Instructure, makers of the open source learning management system Canvas') %>
          </span>
        </a>
        <span id="footer-links">
          <% if Setting.get("show_opensource_linkback", "false") == "true" %>
            <a href="http://instructure.com"><%= t('open_source_learning_management_system', 'Open Source LMS') %></a>
          <% end %>
          <%= help_link %>
          <%= render :partial => 'shared/footer_links' %>
        </span>
      </footer>
    </div>
  </div>

  <% if @show_embedded_chat %>
    <%= render :partial => 'shared/embedded_chat' %>
  <% end %>

  <% if @show_fixed_bottom %>
    <%= render :partial => 'layouts/fixed_bottom' %>
  <% end %>

  <% if wizard %>
    <div id="wizard_spacer_box"></div>
    <div id="wizard_box" role="dialog" tabindex="-1">
      <div class="shadow shadow_1"></div>
      <div class="shadow shadow_3"></div>
      <div class="shadow shadow_5"></div>
      <div class="wizard_content">
        <div class="links">
          <a href="#" class="close_wizard_link"><i class="icon-x"></i><span class="screen-reader-text"><%= t('links.close', 'Close') %></span></a>
        </div>
        <%= wizard %>
      </div>
    </div>
  <% end %>
  <% if keyboard_navigation %>
    <div id="keyboard_navigation">
      <%= keyboard_navigation %>
      <div class='hidden-readable' tabindex='0'>
        <%= t('keyboard_navigation.close', 'Press comma to close this dialog') %>
      </div>
    </div>
  <% end %>
    <div style="display:none;"><!-- Everything inside of this should always stay hidden -->
      <div id="ajax_authenticity_token"><%= form_authenticity_token %></div>
      <% if @context && session && temp_type = session["role_#{@context.asset_string}"] %>
        <span id="switched_role_type" class="<%= @context.asset_string %>" data-role="<%= temp_type %>"><%= Enrollment.readable_type(temp_type) %></span>
      <% end %>
      <% if @page_view %>
        <a href="<%= page_view_path(@page_view.id || @page_view.temporary_id) %>" id="page_view_update_path">&nbsp;</a>
        <div id="page_view_id"><%= @page_view.id || @page_view.temporary_id %></div>
      <% end %>
      <% if equella_enabled? %>
        <a id="equella_endpoint_url" href="<%= @equella_settings.endpoint %>">&nbsp;</a>
        <a id="equella_callback_url" href="<%= external_content_success_url('equella') %>">&nbsp;</a>
        <a id="equella_cancel_url" href="<%= external_content_cancel_url('equella') %>">&nbsp;</a>
        <a id="equella_action" href="<%= @equella_settings.default_action %>">&nbsp;</a>
        <% if @equella_settings.teaser %>
          <div id="equella_teaser"><%= @equella_settings.teaser %></div>
        <% end %>
      <% end %>
    </div>
  <% cache('global_dialogs_render') do %>
    <%= render :partial => "shared/global_dialogs" %>
  <% end %>
  <div id='aria_alerts' class='hide-text affix' role="alert" aria-live="assertive"></div>
  <%= render :partial => 'layouts/foot', :locals => { :include_common_bundle => true } %>
</div> <!-- #application -->
</body>
</html>
