<%-
  @locale = raw I18n.locale.to_json
  @body_classes ||= []
  @body_class_no_headers = @headers == false
  @body_classes << "no-headers" if @body_class_no_headers
  unless (@body_classes.include? "no-headers") || (@show_left_side == false)
    left_side = yield :left_side
    left_side_custom = yield :left_side_custom
    @show_left_side ||= (section_tabs.length > 0 || left_side_custom.try(:length)) 
  end
  right_side = yield :right_side
  wizard = yield :wizard_box
  top_nav = yield :top_nav
  keyboard_navigation = yield :keyboard_navigation
  @body_classes << "with-left-side" if @show_left_side
  #we dont want to render a right side unless there is actually content in it.
  @body_classes << "with-right-side" if right_side and not right_side.strip.empty? 
  @body_classes << "padless-content" if @padless
  @body_classes << "context-#{@context.asset_string}" if @context

-%><!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie ie7 scripts-not-loaded" lang=<%= @locale %>> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 scripts-not-loaded" lang=<%= @locale %>> <![endif]-->
<!--[if gte IE 9 ]><html class="ie ie9 scripts-not-loaded" lang=<%= @locale %>> <![endif]-->
<!--[if !(IE)]><!--> <html class="not-ie scripts-not-loaded" lang=<%= @locale %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= yield :page_title || t('missing_page_title', "Add a page title here.") %></title>
  <noscript> <meta http-equiv=refresh content="0; URL=/enable-javascript.html" /> </noscript>
  <!--[if lte IE 6]> <meta http-equiv=refresh content="0; URL=/ie-6-is-not-supported.html" /> <![endif]-->

  <%= yield :auto_discovery %>
  <% if @active_tab %>
    <style>
      #section-tabs .<%= @active_tab %> {
        position: relative;
        background-color: white;
        margin-right: -1px;
        z-index: 11;
        padding: 7px 0 7px 23px;
        font-size: 17px;
      }
    </style>
  <% end %>
  <%= include_common_stylesheet %>
  <% if @eportfolio_view === true %>
    <%= stylesheet_link_tag "compiled/instructure_eportfolio.css" %>
  <% end %>
  <%= include_css_bundles %>
  <!--[if lte IE 8]> <%= javascript_include_tag "vendor/html5.js" %> <![endif]-->
  <%= yield :stylesheets %>
  <%= stylesheet_link_tag(Account.site_admin.settings[:global_stylesheet], :media => 'all') if @domain_root_account != Account.site_admin && Account.site_admin.settings[:global_stylesheet].present? %>
  <%= stylesheet_link_tag(@domain_root_account.settings[:global_stylesheet], :media => 'all') if @domain_root_account && @domain_root_account.settings[:global_stylesheet].present? %>
  <script>
    // listen for any clicks on links that have href="#" and queue them to be fired on dom ready.
      _earlyClick = function(e){
        e = e || window.event;
        var cur = e.target || e.srcElement;
        while ( cur && cur.ownerDocument ) {
          if ( cur.getAttribute('href') === '#' ) {
            e.preventDefault ? e.preventDefault() : e.returnValue = false;
            _earlyClick.clicks = _earlyClick.clicks || [];
            _earlyClick.clicks.push(cur);
            break;
          }
          cur = cur.parentNode;
        }
      };
      document.addEventListener ?
        document.addEventListener('click', _earlyClick, false) :
        document.attachEvent('onclick', _earlyClick);
  </script>
</head>
<body class="<%= (@body_classes << @active_tab).uniq.join(" ") %>">
  <div id="header" class="no-print <%= 'no-user' unless @current_user %>">
    <div id="header-inner">
      <a href="#content" id="skip_navigation_link"><%= t 'links.skip_to_content', "Skip To Content" %></a>
      <a id="header-logo" href="<%= root_url %>"><%= t 'links.dashboard', "My Dashboard" %></a> 
      <b id="header-logo-secondary"></b>  
      <div id="topbar"> 
        <% if (identity = yield :identity) %>
          <%= identity %>
        <% else %>
          <%- cache_if(!@real_current_user, [@current_user || 'nobody', 'identity-15m'], :expires_in => 15.minutes) do -%>
            <%= render(:partial => 'shared/identity') %>
          <%- end -%>
        <% end %>
      </div>
      <%= render(:partial => "shared/keyboard_navigation_hint") if keyboard_navigation %>
      <% if @current_user %>
      <ul role="navigation" id="menu">
        <%- cache([@current_user, 'home-menu-15m'], :expires_in => 15.minutes) do -%>
        <li id="courses_menu_item" class="menu-item">
          <%- if show_home_menu? -%>
            <%= render(:partial => 'shared/home_menu') %>
          <%- else  -%>
            <a href="<%= dashboard_path %>" class="menu-item-no-drop"><%= t 'links.home', 'Home' %></a>
          <%- end -%>
        </li>
        <%- end -%>
        <li id="assignments_menu_item" class="menu-item">
        <% 
        # this will cache the assignments menu for 3 minutes.  the way it is right now it does 3 really expensive queries every page load.
        # to do this better we would either figure a better way to find needing_submitting, needing_grading, and recently_graded
        # or use delayed_job and memcache together to compute and cache it outside of the scope of a request
        # so by just caching this stupidly for 3 minutes, if there is a new thing that should show up in the last 3 minutes, it wont show up.
        cache([@current_user, 'assignments_menu'], :expires_in => 3.minutes) do %>
          <%# if there is anything inside the assignments drop down %>
        <%-
          max_to_show = 8
          assignment_sets = {
            :needing_submitting => t('menu.assignments_needing_submitting', "To Turn In"),
            :needing_grading    => t('menu.assignments_needing_grading', "To Grade"),
            :recently_graded    => t('menu.assignments_recently_graded', "Recently Graded")
          }
          total_shown = 0
          if assignment_sets.any?{ |k, v| @current_user.send("assignments_#{k}").length > 0 }  
        -%>
          <a href="/assignments" class="menu-item-title"><%= t('menu.assignments', 'Assignments') %><span class="menu-item-title-icon"></span></a>
          <div class="menu-item-drop">
            <table cellspacing="0">
              <tr>
                <% assignment_sets.each do |k,v| 
                    if (set = @current_user.send("assignments_#{k}")).length > 0
                      set = set[0,(max_to_show - total_shown)]
                      total_shown += set.length
                     %><%= render(:partial => "shared/menu_section", :locals => { 
                                  :max_to_show => max_to_show,
                                  :more_link_for_over_max => assignments_path,
                                  :collection => set,
                                  :collection_size => total_shown >= max_to_show ? @current_user.send("assignments_#{k}_total_count"): set.length,
                                  :partial => "shared/menu_assignment",
                                  :key => k,
                                  :title => v })  %>
                    <%
                    end
                  end 
                %>
              </tr>
            </table>
          </div>
          <%- else #there is not anything to show in the assignments drop down  -%>
          <a href="/assignments" class="menu-item-no-drop"><%= t('menu.assignments', 'Assignments') %></a>
          <%- end -%>
        <% end %>
        </li>
        <li id="grades_menu_item" class="menu-item">
          <%= link_to(t('menu.grades', 'Grades'), :grades, :class=>"menu-item-no-drop") %>
        </li>
        <li id="calendar_menu_item" class="menu-item">
          <a href="<%= calendar_path %>" class="menu-item-no-drop"><%= t('menu.calendar', 'Calendar') %></a>
        </li>      
      </ul>
      <% end %>
    </div>
  </div>
  <div id="instructure_ajax_error_box">
    <div style="text-align: right; background-color: #fff;"><a href="#" class="close_instructure_ajax_error_box_link"><%= t('links.close', 'Close') %></a></div>
    <iframe id="instructure_ajax_error_result" src="about:blank" style="border: 0;"></iframe>
  </div>
<%= render :partial => 'shared/flash_notices' %>



<div id="wrapper-container">
  <div id="wrapper">
    <% if @show_left_side %>
    <div id="left-side">
      <% if left_side %>
        <%= left_side %>
      <% else %>
        <% if @context.try(:short_name) %>
          <h1 id="section-tabs-header"><%= @context.short_name %></h1>
          <% if @context && @context.respond_to?(:context)  %>
            <a href="<%= url_for(@context.context) %>" id="section-tabs-header-subtitle" class="ellipsis"><%= @context.context.name %></a>
          <% elsif @context && @context.respond_to?(:enrollment_term) && !@context.enrollment_term.default_term? %>
            <span id="section-tabs-header-subtitle" class="ellipsis"><%= @context.enrollment_term.name %></span>
          <% end %>
        <% end %>
        <%= section_tabs %>
      <% end %>
      <% if left_side_custom %>
        <div class="left-side-inner">
          <%= left_side_custom %>
        </div>
      <% end %>
    </div>
    <% end %>
    <div id="main">
      <div id="right-side-wrapper">
        <aside id="right-side" role="complementary">
          <%= right_side %>
        </aside>
      </div>
      <div id="not_right_side">
        <%= render_crumbs %>
        <div id="content" role="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer role="contentinfo" id="footer">
      <a href="http://www.instructure.com"><%= image_tag 'footer-logo.png', :alt => t('instructure_description', "Instructure, makers of the open source learning management system Canvas") %></a>
      <span id="footer-links">
        <% if Setting.get_cached("show_opensource_linkback", "false") == "true" %>
          <a href="http://instructure.com"><%= t('open_source_learning_management_system', 'Open Source LMS') %></a>
        <% end %>
        <%= help_link %>
        <%= render :partial => 'shared/footer_links' %>
      </span>
    </footer>
  </div>
</div>

<% if wizard %>
  <div id="wizard_spacer_box"></div>
  <div id="wizard_box" role="dialog">
    <div class="shadow shadow_1"></div>
    <div class="shadow shadow_3"></div>
    <div class="shadow shadow_5"></div>
    <div class="wizard_content">
      <div class="links">
        <a href="#" class="close_wizard_link close-link"><%= t('links.close', 'Close') %></a>
      </div>
      <%= wizard %>
    </div>
  </div>
<% end %>
<% if keyboard_navigation %>
  <div id="keyboard_navigation">
    <%= keyboard_navigation %>
  </div>
<% end %>
  <div style="display:none;"><!-- Everything inside of this should always stay hidden -->
    <div id="ajax_authenticity_token"><%= form_authenticity_token %></div>
    <div id="time_zone_offset"><%= ActiveSupport::TimeWithZone.new(Time.now.utc, Time.zone).utc_offset / -60 %></div>
    <% if @context && session && temp_type = session["role_#{@context.asset_string}"] %>
      <span id="switched_role_type" class="<%= @context.asset_string %>" data-role="<%= temp_type %>"><%= Enrollment.readable_type(temp_type) %></span>
    <% end %>
    <% if @page_view %>
      <a href="<%= page_view_path(@page_view.id || @page_view.temporary_id) %>" id="page_view_update_path">&nbsp;</a>
      <div id="page_view_id"><%= @page_view.id || @page_view.temporary_id %></div>
    <% end %>
    <div id="domain_root_account_id"><%= @domain_root_account.try(:id) %></div>
    <% if equella_enabled? %>
      <a id="equella_endpoint_url" href="<%= @equella_settings.endpoint %>">&nbsp;</a>
      <a id="equella_callback_url" href="<%= external_content_success_url('equella') %>">&nbsp;</a>
      <a id="equella_cancel_url" href="<%= external_content_cancel_url('equella') %>">&nbsp;</a>
      <a id="equella_action" href="<%= @equella_settings.default_action %>">&nbsp;</a>
      <% if @equella_settings.teaser %>
        <div id="equella_teaser"><%= @equella_settings.teaser %></div>
      <% end %>
    <% end %>
  </div>
<% cache('global_dialogs_render') do %>
  <%= render :partial => "shared/global_dialogs" %>
<% end %>

<script>
  window.JSON || document.write('<%= (javascript_include_tag "#{js_base_url}/vendor/json2.js").gsub("</script>", "<\\/script>") %>');

  INST = <%= raw(inst_env.to_json) %>;
  ENV = <%= raw js_env.to_json %>;

  // TODO: move this out when we have a single require call
  require = {
    translate: <%= use_optimized_js? %>,
    baseUrl: '<%= js_base_url %>',
    paths: {
      common: 'compiled/bundles/common',
      jqueryui: 'vendor/jqueryui',
      uploadify: '../flash/uploadify/jquery.uploadify.v2.1.4',
      use: 'vendor/use'
    },
    use: {
      'vendor/backbone': {
        deps: ['underscore', 'jquery'],
        attach: function(_, $){
          return Backbone;
        }
      },

      // slick grid shim
      'vendor/slickgrid/lib/jquery.event.drag-2.0.min': {
        deps: ['jquery'],
        attach: '$'
      },
      'vendor/slickgrid/slick.core': {
        deps: ['jquery', 'use!vendor/slickgrid/lib/jquery.event.drag-2.0.min'],
        attach: 'Slick'
      },
      'vendor/slickgrid/slick.grid': {
        deps: ['use!vendor/slickgrid/slick.core'],
        attach: 'Slick'
      },
      'vendor/slickgrid/slick.editors': {
        deps: ['use!vendor/slickgrid/slick.core'],
        attach: 'Slick'
      },
      'vendor/slickgrid/plugins/slick.rowselectionmodel': {
        deps: ['use!vendor/slickgrid/slick.core'],
        attach: 'Slick'
      }
    }
  };
</script>

<%= javascript_include_tag "#{js_base_url}/vendor/require.js" %>
<%= javascript_include_tag "#{js_base_url}/compiled/bundles/common" %>
<%= include_js_bundles %>
<%= include_account_js %>
<%= render_js_blocks %>
<%= render_hidden_dialogs %>

<script>
// Determines if the scripts are loaded.
// When we get everything out of the views, and have a single top-level
// `require`, this becomes meaningless and will be abandoned.
(function() {
  var attempts = 0;
  var timeout = 10;
  var check = function() {
    attempts++;
    var done = require.resourcesDone === true
    var giveup = attempts === 100; // 1 second
    if (done || giveup) {
      var className = document.documentElement.className;
      document.documentElement.className = className.replace(/scripts-not-loaded/, '');
      return;
    }
    setTimeout(check, timeout);
  };

  check();
}).call(this);
</script>
</body>
</html>
