<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<%-
  set_badge_counts_for(@context, @current_user, @current_enrollment) if @set_badge_counts

  @body_classes ||= []
  keyboard_navigation = (yield :keyboard_navigation).presence
  left_side = nil
  left_side_custom = nil
  right_side = (yield :right_side).presence
  wizard = (yield :wizard_box).presence
  top_nav = (yield :top_nav).presence

  if @collapse_course_menu
    subnav_menu_text = t('Show Navigation Menu')
    subnav_menu_text = t('Show Courses Navigation Menu') if active_path?('/courses')
    subnav_menu_text = t('Show Account Navigation Menu') if active_path?('/profile')
    subnav_menu_text = t('Show Admin Navigation Menu') if active_path?('/accounts')
    subnav_menu_text = t('Show Groups Navigation Menu') if active_path?('/groups')
  else
    subnav_menu_text = t('Hide Navigation Menu')
    subnav_menu_text = t('Hide Courses Navigation Menu') if active_path?('/courses')
    subnav_menu_text = t('Hide Account Navigation Menu') if active_path?('/profile')
    subnav_menu_text = t('Hide Admin Navigation Menu') if active_path?('/accounts')
    subnav_menu_text = t('Hide Groups Navigation Menu') if active_path?('/groups')
  end

  content_for :pre_html do
    @collapse_global_nav = @current_user.try(:collapse_global_nav?)
    @body_class_no_headers = @headers == false
    @show_embedded_chat = embedded_chat_visible
    @show_fixed_bottom = (@fixed_warnings.present? || (@real_current_user && @real_current_user != @current_user)) && (!@body_class_no_headers || @outer_frame)
    @body_classes << "no-headers" if @body_class_no_headers
    unless (@body_classes.include? "no-headers") || (@show_left_side == false)
      left_side = (yield :left_side).presence
      left_side_custom = (yield :left_side_custom).presence
      @show_left_side ||= (section_tabs.length > 0 || left_side_custom.try(:length))
    end
    @body_classes << "with-left-side" if @show_left_side
    @body_classes << "course-menu-expanded" if @body_classes.include?("with-left-side") && !@collapse_course_menu
    #we dont want to render a right side unless there is actually content in it.
    @body_classes << "with-right-side" if right_side and not right_side.strip.empty?
    @body_classes << "padless-content" if @padless
    @body_classes << "with-embedded-chat" if @show_embedded_chat
    @body_classes << 'with-fixed-bottom' if @show_fixed_bottom
    @body_classes << 'pages' if controller.js_env[:WIKI_PAGE].present?
    @body_classes << @active_tab
    @body_classes << 'Underline-All-Links__enabled' if @current_user && @current_user.feature_enabled?(:underline_all_links)
    @body_classes << 'is-masquerading-or-student-view' if @real_current_user && @real_current_user != @current_user
    @body_classes << 'primary-nav-expanded' unless @collapse_global_nav
    @body_classes << 'primary-nav-transitions' if @collapse_global_nav
    # We probably want to consider doing this everywhere, all the time.
    @body_classes << 'full-width' if @domain_root_account.try(:feature_enabled?, :new_user_tutorial)
  end

  css_bundle(:instructure_eportfolio) if @eportfolio_view === true
  css_bundle(:new_user_tutorials) if tutorials_enabled?

  content_for :head, include_common_stylesheets

  load_blueprint_courses_ui
-%>
<%= render :partial => "layouts/head" %>
<body class="<%= (@body_classes).uniq.join(' ') %> hide-interface">
<%if @real_current_user && @real_current_user != @current_user %>
  <div class="screenreader-only">
    <% if @current_user.fake_student? %>
        <%= t("You are currently logged into Student View") %>
      <% else %>
        <%= t("You are currently masquerading as %{user_name}", :user_name => @current_user.short_name) %>
    <% end %>
  </div>
<% end %>
<%# Flash messages must be outside of #application or they won't work in screenreaders with modals open. %>
<%= render :partial => 'shared/static_notices' %>
<%= render :partial => 'shared/flash_notices' %>
<div id="application" class="ic-app">
  <%= render(:partial => 'shared/new_nav_header') unless @headers == false %>

  <div id="instructure_ajax_error_box">
    <div style="text-align: right; background-color: #fff;"><a href="#" class="close_instructure_ajax_error_box_link"><%= t('links.close', 'Close') %></a></div>
    <iframe id="instructure_ajax_error_result" src="about:blank" style="border: 0;" title="<%= t('Error') %>"></iframe>
  </div>

  <%= yield :leading_content %>

  <div id="wrapper" class="ic-Layout-wrapper">
  <div class="ic-app-nav-toggle-and-crumbs no-print">
      <% if crumbs.length > 1 %>
          <div class="ic-app-crumbs">
          <%= render_crumbs %>
          </div>

          <% if tutorials_enabled? %>
            <div class="TutorialToggleHolder"></div>
          <% end %>
      <% end %>
      <% if @current_user && @current_user.pseudonym.unique_id.downcase != 'teastudent'  %>
          <div class="sm-menu-item dropdown">
            <a id="sm-profile-dropdown" href="/profile" type="button" aria-haspopup="true" data-toggle="dropdown" data-id="profile-dropdown" aria-owns="sm-profile-dropdown" aria-labelledby="type-filter-description" aria-expanded="false">
              <div class="sm-menu-item-icon-container" aria-hidden="true">
                <div class="ic-avatar <% if @real_current_user && @real_current_user != @current_user %>ic-avatar--fake-student<% end %>">
                  <img src="<%= @current_user.try { |usr| avatar_image_attrs(usr).first } %>" alt="<%= @current_user.short_name %>" />
                </div>
                <div class="sm-profile-dropdown-icon-container">
                  <i class="icon-arrow-open-down"></i>
                </div>
              </div>
            </a>
            <ul class="dropdown-menu pull-right" aria-labelledby="sm-profile-dropdown">
              <% if js_env[:SETTINGS][:enable_profiles] %>
                <li class="ic-NavMenu-list-item">
                  <a href="/profile" class="sm-profile-dropdown-link"><%= t('Profile') %></a>
                </li>
              <% end %>
              <li class="ic-NavMenu-list-item">
                <a href="/profile/communication" class="sm-profile-dropdown-link"><%= t('Notifications') %></a>
              </li>
              <li class="ic-NavMenu-list-item">
                <a href="/files" class="sm-profile-dropdown-link"><%= t('Files') %></a>
              </li>
              <% if js_env[:SETTINGS][:enable_profiles] %>
              <li class="ic-NavMenu-list-item">
                <a href="/dashboard/eportfolios" class="sm-profile-dropdown-link"><%= t('ePortfolios') %></a>
              </li>
              <% end %>
              <li class="ic-NavMenu-list-item">
                <a href="/profile/settings" class="sm-profile-dropdown-link"><%= t('Settings') %></a>
              </li>
              <li class="ic-NavMenu-list-item">
                <form
                    ref="logoutForm"
                    action="/logout"
                    method="post"
                    class="sm-invisible-form"
                  >
                    <input name="utf8" value="✓" type="hidden"/>
                    <input name="_method" value="delete" type="hidden"/>
                    <input name="authenticity_token" value="<%= cookies[:_csrf_token] %>" type="hidden"/>
                    <button
                      type="submit"
                      class="sm-profile-dropdown-link">
                      <%= t('Logout') %>
                    </button>
                  </form>
              </li>
            </ul>
          </div>
        <% elsif @current_user && @current_user.pseudonym.unique_id.downcase == 'teastudent'  %>
	        <div class="sm-menu-item">
          </div>
        <% else %>
          <div class="sm-menu-item">
            <a id="global_nav_login_link" href="/login" class="ic-app-header__menu-list-link">
              <div class="sm-menu-item-icon-container" aria-hidden="true">
                <%= render(:partial => "shared/svg/svg_login_new_styles.svg") %>
              </div>
            </a>
          </div>
        <% end %>
    </div>
    <div id="main" class="ic-Layout-columns">
      <% if @display_header_image %>
      <div class="sm-course-header-image" style="background-image: url('<%= @image %>')">
      <% end %>

      <% if @show_left_side %>
        <div id="left-side"
          class="ic-app-course-menu sm-course-menu <% if !@no_left_side_list_view %>list-view<% end %>"
          style="display: <%= @collapse_course_menu ? "none" : "block" %>"
          >
          <% if left_side %>
            <%= left_side %>
          <% else %>
            <% if @context && @context.is_a?(Group) && can_do(@context, @current_user, :manage) && @context.group_category %>
              <a  class="al-trigger al-trigger--within-left-menu" href="#" data-popup-within="#wrapper">
                <%= t("Switch Group")%>
                <i class="icon-mini-arrow-down"></i>
              </a>
              <ul class="al-options">
                <% @context.group_category.groups.active.by_name.each do |group| %>
                  <li class="<%= 'active-selection' if group_homepage_pathfinder(group) %>"><%= link_to group.short_name, group_path(group) %></li>
                <% end %>
              </ul>
            <% end %>
            <% if @context && @context.respond_to?(:enrollment_term) && !@context.enrollment_term.default_term? %>
              <span id="section-tabs-header-subtitle" class="ellipsis"><%= @context.enrollment_term.name %></span>
            <% end %>
            <% if !@distraction_free %>
              <%= section_tabs %>
            <% else %>
              <div class="sm-spacer"></div>
            <% end %>
            <% if !@distraction_free && defined? @context.grants_any_right? && !can_do(@context, @current_user, :participate_as_student) %>
              <div class="sm-teacher-tools-container" style="display: none">
                <a href="#" type="button" aria-haspopup="true" class="sm-left-nav-toggler" data-toggle="dropdown" data-id="teacher-tools" aria-owns="sm-teacher-tools" aria-labelledby="type-filter-description" aria-expanded="false">
                  <div class="filter-option pull-left"><%= t("Teacher Tools")%></div>
                  <i class="icon-arrow-open-down"></i>
                </a>
                <%= hidden_section_tabs %>
              </div>
            <% end %>

          <% end %>
          <% if left_side_custom %>
            <%= left_side_custom %>
          <% end %>
          <div class="sm-course-menu-clear"></div>
        </div>
      <% end %>

      <% if @display_header_image %>
      </div>
      <% end %>

      <div id="not_right_side" class="ic-app-main-content">
        <div id="content-wrapper" class="ic-Layout-contentWrapper">
            <%= render :partial => 'shared/content_notices' if @show_left_side && @context && @context.respond_to?(:content_notices) %>
          <div id="content" class="ic-Layout-contentMain" role="main">
            <%= yield %>
            <div id="files-app"></div>
          </div>
        </div>
        <div id="right-side-wrapper" class="ic-app-main-content__secondary">
          <aside id="right-side" role="complementary">
            <%= right_side %>
          </aside>
        </div>
      </div>
    </div>
    <% if @show_footer %>
      <%= render :partial => 'shared/canvas_footer' %>
    <% end %>
  </div>

  <% if @show_embedded_chat %>
    <%= render :partial => 'shared/embedded_chat' %>
  <% end %>

  <% if @show_fixed_bottom %>
    <%= render :partial => 'layouts/fixed_bottom' %>
  <% end %>

  <% if wizard %>
    <div id="wizard_box" tabindex="-1">
      <div class="wizard_content">
        <div class="links">
          <a href="#" class="close_wizard_link"><i class="icon-x"></i><span class="screenreader-only"><%= t('links.close', 'Close') %></span></a>
        </div>
        <%= wizard %>
      </div>
    </div>
  <% end %>
  <% if keyboard_navigation %>
    <div id="keyboard_navigation">
      <%= keyboard_navigation %>
      <div class='hidden-readable' tabindex='0'>
        <%= t('keyboard_navigation.close', 'Press comma to close this dialog') %>
      </div>
    </div>
  <% end %>
    <div style="display:none;"><!-- Everything inside of this should always stay hidden -->
      <% if @context && session && temp_type = session["role_#{@context.asset_string}"] %>
        <span id="switched_role_type" class="<%= @context.asset_string %>" data-role="<%= temp_type %>"><%= Enrollment.readable_type(temp_type) %></span>
      <% end %>
      <% if @page_view %>
        <div id="page_view_id"><%= @page_view.id %></div>
      <% end %>
      <% if equella_enabled? %>
        <a id="equella_endpoint_url" href="<%= @equella_settings.endpoint %>">&nbsp;</a>
        <a id="equella_callback_url" href="<%= external_content_success_url('equella') %>">&nbsp;</a>
        <a id="equella_cancel_url" href="<%= external_content_cancel_url('equella') %>">&nbsp;</a>
        <a id="equella_action" href="<%= @equella_settings.default_action %>">&nbsp;</a>
        <% if @equella_settings.teaser %>
          <div id="equella_teaser"><%= @equella_settings.teaser %></div>
        <% end %>
      <% end %>
    </div>
  <% cache('global_dialogs_render') do %>
    <%= render :partial => "shared/global_dialogs" %>
  <% end %>
  <div id='aria_alerts' class='hide-text affix' role="alert" aria-live="assertive"></div>
  <div id='StudentTray__Container'></div>
  <% if tutorials_enabled? %>
    <div class="NewUserTutorialTray__Container"></div>
  <% end %>
  <%= render :partial => 'layouts/foot', :locals => { :include_common_bundle => true } %>
</div> <!-- #application -->
<script>
  (function(apiKey){
    (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=[];
      v=['initialize','identify','updateOptions','pageLoad'];for(w=0,x=v.length;w<x;++w)(function(m){
      o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
      y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
      z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

    // Call this whenever information about your visitors becomes available
    // Please use Strings, Numbers, or Bools for value types.

      let visitor = {
          id:              '<%= lti_opaque_hash_for_current_user %>',
          name:            '<%= @current_user.name if @current_user%>',
          email:           '<%= @current_user.email  if @current_user%>',
          school_name:     '<%= @current_user.school_name if @current_user %>',
          course_id:       '<%= @context.id if @context%>',
          is_student:      '<%= @is_student %>',
          full_path:       '<%= request.try(:fullpath)%>',
          rails_env:       '<%= Rails.env %>',
      }

      let account = {
          id:  '<%= ENV["CANVAS_DOMAIN"] %>'
      }

      pendo.initialize({ visitor: visitor, account: account }); })('18d9cdc9-0b28-4f89-7c87-e4d3802e665f');
</script>
<script type="text/javascript" async
 src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript" src="https://cdn.flipswitch.com/cdn/lib/iFrame-Resizer/javascript/iframeResizer.min.latest.js"></script>
<script type="text/javascript">
    const isOldIE = (navigator.userAgent.indexOf("MSIE") !== -1); // Detect IE10 and below
    function onResize() {
        var removeScrollbars = function(e) {
            e.iframe.scrolling = "no";
        };
        return removeScrollbars;
    }

    iFrameResize({
        checkOrigin: false,
        heightCalculationMethod: isOldIE ? 'max' : 'lowestElement',
        scrolling: true, // Enable scrollbars for non-iframeResizer content...
        resizedCallback: onResize() // Only runs if parent iFrameResizer detects a "resize" event from child...
    }, '.sm_iframe');
</script>
<% if ENV['JIRA_COLLECTOR'] %>
<script type="text/javascript" src="https://strongmind.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/wy1zps/b/20/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-UK&collectorId=c6509dcb"></script>
<% end %>
</body>
</html>
