<%-
  set_badge_counts_for(@context, @current_user, @current_enrollment) if @set_badge_counts

  @body_classes ||= []
  keyboard_navigation = (yield :keyboard_navigation).presence
  left_side = nil
  left_side_custom = nil
  right_side = (yield :right_side).presence
  wizard = (yield :wizard_box).presence
  top_nav = (yield :top_nav).presence

  content_for :pre_html do
    @body_class_no_headers = @headers == false
    @show_embedded_chat = embedded_chat_visible
    @show_fixed_bottom = (@fixed_warnings.present? || (@real_current_user && @real_current_user != @current_user)) && (!@body_class_no_headers || @outer_frame)
    @body_classes << "no-headers" if @body_class_no_headers
    unless (@body_classes.include? "no-headers") || (@show_left_side == false)
      left_side = (yield :left_side).presence
      left_side_custom = (yield :left_side_custom).presence
      @show_left_side ||= (section_tabs.length > 0 || left_side_custom.try(:length))
    end
    @body_classes << "with-left-side" if @show_left_side
    #we dont want to render a right side unless there is actually content in it.
    @body_classes << "with-right-side" if right_side and not right_side.strip.empty?
    @body_classes << "padless-content" if @padless
    @body_classes << "with-embedded-chat" if @show_embedded_chat
    @body_classes << 'with-fixed-bottom' if @show_fixed_bottom
    @body_classes << 'pages' if controller.js_env[:WIKI_PAGE].present?
    @body_classes << @active_tab
  end

  css_bundle(:instructure_eportfolio) if @eportfolio_view === true

  if request.user_agent.to_s =~ /Android/i
    js_bundle :smartbanner
    css_bundle :smartbanner
  end

  content_for :head, include_common_stylesheets

-%>
<%= render :partial => "layouts/head" %>
<body class="<%= (@body_classes).uniq.join(" ") %>">
<%# Flash messages must be outside of #application or they won't work in screenreaders with modals open. %>
<%= render :partial => 'shared/static_notices' %>
<%= render :partial => 'shared/flash_notices' %>
<div id="application" <% if use_new_styles? %>class="ic-app"<% end %>>

  <% if use_new_styles? %>
    <%= render(:partial => 'shared/new_nav_header') %>

  <%# Begin default Canvas header %>
  <% else %>
  <div id="header" class="no-print <%= 'no-user' unless @current_user %>">
    <div id="header-inner">
      <a href="#content" id="skip_navigation_link"><%= t 'Skip To Content' %></a>
      <a id="header-logo" href="<%= dashboard_url %>"><%= t 'links.dashboard', "My Dashboard" %></a>
      <b id="header-logo-secondary"></b>
      <%= render(:partial => "shared/user_header_navigation") %>
      <%= render(:partial => "shared/keyboard_navigation_hint") if keyboard_navigation %>
      <%= render(:partial => "shared/primary_header_navigation") %>
    </div>
  </div>
  <%# End default Canvas header %>
  <% end %>

  <div id="instructure_ajax_error_box">
    <div style="text-align: right; background-color: #fff;"><a href="#" class="close_instructure_ajax_error_box_link"><%= t('links.close', 'Close') %></a></div>
    <iframe id="instructure_ajax_error_result" src="about:blank" style="border: 0;"></iframe>
  </div>

  <%= yield :leading_content %>

  <div id="wrapper-container" <% if use_new_styles? %>class="ic-app-container"<% end %>>
    <div id="wrapper" <% if use_new_styles? %>class="ic-app-main-layout-vertical"<% end %>>
      <% #Start new styles div %>
      <% if crumbs.length > 1 && use_new_styles? %>
        <div class="ic-app-nav-toggle-and-crumbs">
          <% if @show_left_side %>
            <button type="button" aria-hidden="true" id="courseMenuToggle" class="Button Button--link Button--small ic-app-course-nav-toggle" title="<%= t('Show and hide courses menu') %>"><i class="icon-hamburger"></i></button> 
            <div class="ic-app-crumbs">
          <% end %>
          <%= render_crumbs %>
          <% if @show_left_side %></div><% end %>
        </div>
      <% end %>
    <% if use_new_styles? %><div class="ic-app-main-layout-horizontal"><% end %>
      <% if @show_left_side %>
          <div id="left-side" class="<% if !@no_left_side_list_view %>list-view<% end %> <% if use_new_styles? %>ic-app-course-menu<% end %>">
          <% if left_side %>
            <%= left_side %>
          <% else %>
            <% if @context.try(:short_name) && !use_new_styles? %>
              <h1 id="section-tabs-header">
                <%= @context.short_name %>
              </h1>
            <% end %>
            <% if @context && @context.is_a?(Group) && can_do(@context, @current_user, :manage) && @context.group_category %>
              <a  class="al-trigger" href="#" style="display:inline-block; float:right" data-popup-within="#wrapper">
                <i class="icon-mini-arrow-down"></i>
                <span class="screenreader-only"><%= t("group_switch","Switch")%></span>
              </a>
              <ul class="al-options">
                <% @context.group_category.groups.active.by_name.each do |group| %>
                  <li><%= link_to group.short_name, group_path(group) %></li>
                <% end %>
              </ul>
            <% end %>
            <% if @context && @context.respond_to?(:context)  %>
              <a href="<%= url_for(@context.context) %>" id="section-tabs-header-subtitle" class="ellipsis"><%= @context.context.name %></a>
            <% elsif @context && @context.respond_to?(:enrollment_term) && !@context.enrollment_term.default_term? %>
              <span id="section-tabs-header-subtitle" class="ellipsis"><%= @context.enrollment_term.name %></span>
            <% end %>
            <%= section_tabs %>
          <% end %>
          <% if left_side_custom %>
            <%= left_side_custom %>
          <% end %>
        </div>
        <% end %>
        <div id="main" <% if use_new_styles? %>class="ic-app-main-and-right-side"<% end %>>
          <div id="not_right_side" <% if use_new_styles? %>class="ic-app-main-content"<% end %>>
            <div id="content-wrapper" <% if use_new_styles? %>class="ic-app-main-content__primary"<% end %>>
                <% unless use_new_styles? %><%= render_crumbs %><% end %>
                <%= render :partial => 'shared/content_notices' if @show_left_side && @context && @context.respond_to?(:content_notices) %>
              <div id="content" role="main" <% unless use_new_styles? %>class="container-fluid"<% end %>>
                <%= yield %>
              </div>
            </div>
            <div id="right-side-wrapper" <% if use_new_styles? %>class="ic-app-main-content__secondary"<% end %>>
              <aside id="right-side" role="complementary">
                <%= right_side %>
              </aside>
            </div>
          </div>
        </div>
      <% #End new styles div %>
      <% if use_new_styles? %></div><% end %>
      <%= render :partial => 'shared/canvas_footer' %>
    </div>
  </div>

  <% if @show_embedded_chat %>
    <%= render :partial => 'shared/embedded_chat' %>
  <% end %>

  <% if @show_fixed_bottom %>
    <%= render :partial => 'layouts/fixed_bottom' %>
  <% end %>

  <% if wizard %>
    <div id="wizard_box" tabindex="-1">
      <div class="wizard_content">
        <div class="links">
          <a href="#" class="close_wizard_link"><i class="icon-x"></i><span class="screen-reader-text"><%= t('links.close', 'Close') %></span></a>
        </div>
        <%= wizard %>
      </div>
    </div>
  <% end %>
  <% if keyboard_navigation %>
    <div id="keyboard_navigation">
      <%= keyboard_navigation %>
      <div class='hidden-readable' tabindex='0'>
        <%= t('keyboard_navigation.close', 'Press comma to close this dialog') %>
      </div>
    </div>
  <% end %>
    <div style="display:none;"><!-- Everything inside of this should always stay hidden -->
      <% if @context && session && temp_type = session["role_#{@context.asset_string}"] %>
        <span id="switched_role_type" class="<%= @context.asset_string %>" data-role="<%= temp_type %>"><%= Enrollment.readable_type(temp_type) %></span>
      <% end %>
      <% if @page_view %>
        <a href="<%= page_view_path(@page_view.id || @page_view.temporary_id) %>" id="page_view_update_path">&nbsp;</a>
        <div id="page_view_id"><%= @page_view.id || @page_view.temporary_id %></div>
      <% end %>
      <% if equella_enabled? %>
        <a id="equella_endpoint_url" href="<%= @equella_settings.endpoint %>">&nbsp;</a>
        <a id="equella_callback_url" href="<%= external_content_success_url('equella') %>">&nbsp;</a>
        <a id="equella_cancel_url" href="<%= external_content_cancel_url('equella') %>">&nbsp;</a>
        <a id="equella_action" href="<%= @equella_settings.default_action %>">&nbsp;</a>
        <% if @equella_settings.teaser %>
          <div id="equella_teaser"><%= @equella_settings.teaser %></div>
        <% end %>
      <% end %>
    </div>
  <% cache('global_dialogs_render') do %>
    <%= render :partial => "shared/global_dialogs" %>
  <% end %>
  <div id='aria_alerts' class='hide-text affix' role="alert" aria-live="assertive"></div>
  <%= render :partial => 'layouts/foot', :locals => { :include_common_bundle => true } %>

</div> <!-- #application -->
</body>
</html>
