<%
# Copyright (C) 2012 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>
<%- if @include_masquerade_layout %>
  <% provide :head, include_masquerade_stylesheets %>
<% end %>
<%- body_classes << 'bare-layout' %>
<%- body_classes << 'is-masquerading-or-student-view' if @real_current_user && @real_current_user != @current_user -%>
<%= render :partial => "layouts/head" %>
<body class="<%= (body_classes).uniq.join(" ") %>">
<%= yield %>
<div id="react-router-portals"></div>
<%= render :partial => 'layouts/foot', :locals => { :include_common_bundle => true } %>
<%- if @include_masquerade_layout %>
  <%= render partial: "layouts/fixed_bottom" %>
<% end %>
</body>
</html>
