<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= (page_title = yield :page_title) ? page_title : render(:partial => 'shared/page_title') %></title>
  <%= yield :auto_discovery %>
  <%= stylesheet_link_tag 'theme/jquery-ui-theme' %>
  <%= stylesheet_link_tag "instructure", "utility_classes" %>
  <%= yield :stylesheets %>
  
  <%= javascript_include_tag "firebugx.js", "jquery-1.3.2.js", "jquery-attr-patch.js" "jquery-ui-1.7.2.js", "date.js", "reminders.js", "instructure_helper.js", "ajax_errors.js", "page_views.js", :cache => "cache/interactions" %>
  <script type="text/javascript">
    INST.environment = "<%= ENV["RAILS_ENV"] %>";
    INST.logPageViews = <%= @headers === false ? "false" : "true" %>;
  </script>
  <%= yield :javascripts %>
</head>
<body>
<div id="container">
<div id="header">
  <a href="#skip_navigation" id="skip_navigation_link"><%= t 'links.skip_navigation', "Skip Navigation" %></a>
  <a href="<%= root_url %>" class="no-hover"><%= image_tag 'logo.png', :alt => t('links.home', "Instructure Home"), :class => "logo", :style => "filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/logo.png)" %></a>
  <%= (page_header = yield :page_header) ? page_header : render(:partial => 'shared/page_header') %>
  <%= (page_subhead = yield :page_subhead) ? page_subhead : render(:partial => 'shared/page_subhead') %>
  <div class="clear"></div>
</div>
<%= (identity = yield :identity) ? identity : render(:partial => 'shared/identity') %>
<div class="clear"></div>
<% secondary_nav = yield :secondary_nav
  if secondary_nav && !secondary_nav.strip.empty?
 %>
<div id="nav-level2">
  <%= secondary_nav %>
  <div class="clear"></div>
</div>
<% end %>
<div id="instructure_ajax_error_box">
  <div style="text-align: right; background-color: #fff;"><a href="#" class="close_instructure_ajax_error_box_link"><%= t 'links.close', "Close" %></a></div>
  <iframe id="instructure_ajax_error_result" src="about:blank" style="border: 0;"></iframe>
</div>
<%= render :partial => 'shared/flash_notices' %>
<% sidebar = yield :right_side %>
<% keyboard_navigation = yield :keyboard_navigation %>
<% if sidebar %>
  <div id="content">
    <a name="skip_navigation"></a>
    <%= render(:partial => "shared/keyboard_navigation_hint") if keyboard_navigation %>
    <!--div id="ajax_loading_message" style="display: none;"><%= image_tag 'ajax-loader.gif' %> <span class="message"><%= t 'messages.loading', 'Loading...' %></span></div-->
    <%= render :partial => "shared/reminders_box", :object => @reminders %>
    <%= yield %>
  </div>
  <div id="sidebar">
    <%= (right_side = yield :right_side) ? right_side : render(:partial => 'shared/right_side') %>
  </div>
<% else %>
  <div id="wide_content">
    <a name="skip_navigation"></a>
    <%= render(:partial => "shared/keyboard_navigation_hint") if keyboard_navigation %>
    <!--div id="ajax_loading_message" style="display: none;"><%= image_tag 'ajax-loader.gif' %> <span class="message"><%= t 'messages.loading', 'Loading...' %></span></div-->
    <%= render :partial => "shared/reminders_box", :object => @reminders %>
    <%= yield %>
  </div>
<% end %>
</div>
<div class="clear" id="wizard_spacer_box"></div>
<% wizard = yield :wizard_box %>
<% if wizard %>
  <% js_block do %>
  <script>
    I18n.scoped('eportfolio', function(I18n) {
      $(document).ready(function() {
        $(".close_wizard_link").click(function(event) {
          event.preventDefault();
          $("#wizard_box").slideUp('slow', function() {
            $(".wizard_popup_link").slideDown();
          });
        });
        $(".wizard_popup_link").click(function(event) {
          event.preventDefault();
          $(".wizard_popup_link").slideUp('slow');
          $("#wizard_box").slideDown('slow', function() {
            $(this).triggerHandler('wizard_opened');
            $(document).add($(window)).triggerHandler('scroll');
          });
        });
        setInterval(function() {
          $("#wizard_spacer_box").height($("#wizard_box").height());
          $("#wizard_spacer_box").showIf($("#wizard_box:visible").length > 0);
        }, 500);
        $(".wizard_options_list .option").click(function(event) {
          var $a = $(event.target).closest("a");
          if($a.length > 0 && $a.attr('href') != "#") { return; }
          event.preventDefault();
          $(this).parents(".wizard_options_list").find(".option.selected").removeClass('selected');
          $(this).addClass('selected');
          var $details = $("#wizard_box").find(".wizard_details");
          var data = $(this).getTemplateData({textValues: ['header']});
          data.link = I18n.t('action_instructions', "Click to %{action}", {action: data.header});
          $details.fillTemplateData({
            data: data
          });
          $details.find(".details").remove();
          $details.find(".header").after($(this).find(".details").clone(true).show());
          var url = $(this).find(".header").attr('href');
          if(url != "#") {
            $details.find(".link").show().attr('href', url);
          } else {
            $details.find(".link").hide();
          }
          $details.hide().fadeIn('fast');
        });
        setTimeout(function() {
          $(".wizard_popup_link.auto_open:first").click();
        }, 500);
        $(window).bind('resize', function(event) {
          $(window).data('height', $(window).height());
        });
        $(document).add($(window)).bind('scroll', function(event) {
          $("#wizard_box").triggerHandler('document_scroll');
        });
        $("#wizard_box").bind('document_scroll', function(event) {
          var doAbsolute = $.browser.msie && navigator.appVersion.match('MSIE 6.0');
          if(doAbsolute) {
            var height = $(this).height();
            var windowHeight = $(window).height(); //data('height');
            var scrollTop = $.windowScrollTop();
            $(this).css({
              position: 'absolute',
              left: 0,
              top: (scrollTop + windowHeight - height)
            });
          } else {
          }
        });
        setInterval(function() {
          $("#wizard_box").triggerHandler('document_scroll');
        }, 1000);
        $(window).trigger('resize');
      });
    });
  </script>
  <% end %>
  <div id="wizard_box">
    <div class="shadow shadow_1"></div>
    <!--div class="shadow shadow_2"></div-->
    <div class="shadow shadow_3"></div>
    <!--div class="shadow shadow_4"></div-->
    <div class="shadow shadow_5"></div>
    <div class="wizard_content">
      <div class="links">
        <a href="#" class="close_wizard_link no-hover"><%= image_tag "delete_circle.png" %></a>
      </div>
      <div style="display: block;"></div>
      <%= wizard %>
    </div>
  </div>
<% end %>
<% if keyboard_navigation %>
  <div id="keyboard_navigation">
    <%= keyboard_navigation %>
  </div>
<% end %>
<div id="ajax_authenticity_token" style="display: none;"><%= form_authenticity_token %></div>
<% if @page_view %>
  <div style="display: none;">
    <a href="<%= page_view_url(@page_view) %>" class="page_view_url">&nbsp;</a>
    <div id="page_view_id"><%= @page_view.id %></div>
  </div>
<% end %>
<% if ENV['RAILS_ENV'] == 'production' %>
  <script type="text/javascript">
    // initialize google analytics.
    $.trackPage('UA-9138420-1', { domainName: document.location.hostname });
  </script>
<% end %>
</body>
</html>
