<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Facebook Page</title>
  <noscript> <meta http-equiv=refresh content="0; URL=/javascript-is-required.html" /> </noscript> 
  <!--[if lte IE 6]> <meta http-equiv=refresh content="0; URL=/ie-6-is-not-supported.html" /> <![endif]-->
  <%= include_stylesheets :common, :media => "all" %>
  <%= include_stylesheets :facebook %>
</head>
<body>
  <div id="fb-root">
    <%= yield %>
  </div>
  
  <script>
    var INST = <%= raw(inst_env.to_json) %>;
  </script>
  <%= include_javascripts :common %>

  <%= include_javascripts(*jammit_js_bundles) unless jammit_js_bundles.empty?  %>
  <%= render_js_blocks %>
  <script src="https://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({
      appId  : <%= Facebook.config['app_id'] %>,
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
    FB.Canvas.setSize();
    $(document).ready(function() {
      FB.Canvas.setSize({height: $("#fb-root").height() + 50});
      setTimeout(function() {
        FB.Canvas.setSize({height: $("#fb-root").height() + 50});
      }, 1000);
    });
  </script>
</body>
</html>
