<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= t :title, "Facebook Page" %></title>
  <noscript> <meta http-equiv=refresh content="0; URL=/enable-javascript.html" /> </noscript> 
  <!--[if lte IE 8]> <meta http-equiv=refresh content="0; URL=/ie-8-is-not-supported.html" /> <![endif]-->
  <%= include_common_stylesheets %>
  <%= include_stylesheets :facebook %>
</head>
<body>
  <div id="fb-root">
    <%= yield %>
  </div>

  <script>

    INST = <%= raw(inst_env.to_json) %>;
    ENV = <%= raw js_env.to_json %>;

    require = {
      //urlArgs: "bust=" + +new Date(),
      translate: true,
      baseUrl: '<%= js_base_url %>',
      priority: ['common'],
      paths: {
        common: 'compiled/bundles/common',
        jqueryui: 'vendor/jqueryui',
        uploadify: '../flash/uploadify/jquery.uploadify-3.1.min'
      }
    };
  </script>

  <%= javascript_include_tag "#{js_base_url}/vendor/require.js" %>
  <%= include_js_bundles %>
  <%= render_js_blocks %>


  <script src="https://connect.facebook.net/en_US/all.js"></script>

  <script>
  require(['jquery'], function($) {

    FB.init({
      appId  : <%= Facebook::Connection.config['app_id'] %>,
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
    FB.Canvas.setSize();
    $(document).ready(function() {
      FB.Canvas.setSize({height: $("#fb-root").height() + 50});
      setTimeout(function() {
        FB.Canvas.setSize({height: $("#fb-root").height() + 50});
      }, 1000);
    });

  });
  </script>
</body>
</html>
