<% course ||= nil %>
<% if !course || !course.deleted? %>
<% teacher_names = course && (course.teacher_names || course.teachers.uniq.map(&:name)) %>
<% student_count = course && (course.student_count || course.students.where("enrollments.type <> ?", "StudentViewEnrollment").count) %>
<li class="course" id="course_<%= course ? course.id : "blank" %>" style="<%= hidden unless course %>">
  <div class="course <%= 'unpublished' if course && course.read_attribute(:workflow_state) && (course.created? || course.claimed?) %>">
    <div class="name">
      <a href="<%= course_path(course ? course.id : "{{ id }}") %>" class="name"><%= (course && course.name) || nbsp %></a>
      <%= image_tag "hammer.png", :title => t(:course_unpublished_title, "This course hasn't been published yet"), :alt => t(:course_unpublished_tooltip, "Unpublished"), :class => "unpublished_icon", :style => (course && course.read_attribute(:workflow_state) && (course.created? || course.claimed?) ? "" : "display: none;") %>
    </div>
    <% if course %>
    <div class="details ellipsis">
      <div>
        <span style="padding-right: 30px;">
          <%= show_code_and_term_for(course) %>
        </span>

        <% if course.respond_to?(:sis_source_id) && course.sis_source_id %>
          <%= before_label(t(:sis_id_label, "SIS ID")) %> <%= course.sis_source_id %>
        <% end %>
      </div>
      <% teacher_names_new = teacher_names[0, 2] %>
      <% teacher_names_new << t(:more_count, { :one => "1 more", :other => "%{count} more" }, :count => teacher_names.length - 2) if teacher_names.length > 2 %>
      <span style="display: inline-block; min-width: 80px;"><%= t(:student_count, { :one => "1 Student", :other => "%{count} Students" }, :count => student_count || 0) %></span>
      <%= before_label(t(:teachers_label, "Teachers")) %> <%= teacher_names.blank? ? t(:none, 'none') : teacher_names_new.to_sentence %>
    </div>
    <% end %>
    <div class="info">
      <span class="links">
        <%= link_to t(:settings_link, "Settings"), course_settings_path(course ? course : "{{ id }}") %> |
        <%= link_to t(:statistics_link, "Statistics"), course_statistics_path(course ? course : "{{ id }}") %> |
        <%= link_to t(:homepage_link, "Homepage"), course_path(course ? course : "{{ id }}") %>
      </span>
    </div>
  </div>
</li>
<% end %>
