<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% batch = sis_batch_messages %>
<ul>
  <% if batch.processing_errors && batch.processing_errors.length > 0 %>
    <li><%= t("There were a total of %{count} errors.", count: batch&.data.dig(:counts, :error_count))%>
    <li><%= t(:sis_batch_errors_title, "Errors that prevent importing") %>
      <ul>
        <% batch.processing_errors.each do |message| %>
          <li><%= message.first %> - <%= message.last %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if batch.processing_warnings && batch.processing_warnings.length > 0 %>
    <li><%= t("There were a total of %{count} warnings.", count: batch&.data.dig(:counts, :warning_count))%>
    <li><%= t(:sis_batch_warnings_title, "Warnings")%>
      <ul>
        <% batch.processing_warnings.each do |message| %>
          <li><%= message.first %> - <%= message.last %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
