<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% counts = sis_batch_counts.data[:counts] %>
<ul>
  <li><%= t(:imported_items_title, "Imported Items") %>
    <ul>
      <li><%= before_label(t(:accounts_label, "Accounts")) %> <%= counts[:accounts] %></li>
      <li><%= before_label(t(:terms_label, "Terms")) %> <%= counts[:terms] %></li>
      <li><%= before_label(t(:courses_label, "Courses")) %> <%= counts[:courses] %></li>
      <li><%= before_label(t(:sections_label, "Sections")) %> <%= counts[:sections] %></li>
      <li><%= before_label(t(:users_label, "Users")) %> <%= counts[:users] %></li>
      <li><%= before_label(t(:enrollments_label, "Enrollments")) %> <%= counts[:enrollments] %></li>
      <li><%= before_label(t(:crosslists_label, "Crosslists")) %> <%= counts[:xlists] %></li>
      <li><%= before_label(t("Admins")) %> <%= counts[:admins] %></li>
      <li><%= before_label(t("Group Categories")) %> <%= counts[:group_categories] %></li>
      <li><%= before_label(t(:groups, "Groups")) %> <%= counts[:groups] %></li>
      <li><%= before_label(t(:group_enrollments, "Group Enrollments")) %> <%= counts[:group_memberships] %></li>
      <li><%= before_label(t("User Observers")) %> <%= counts[:user_observers] %></li>
      <li><%= before_label(t("Change SIS IDs")) %> <%= counts[:change_sis_ids] %></li>
    </ul>
  </li>
</ul>
