<% batch = sis_batch_messages %>
<ul>
  <% if batch.processing_errors && batch.processing_errors.length > 0 %>
    <li><%= t(:sis_batch_errors_title, "Errors that prevent importing") %>
      <ul>
      <% batch.processing_errors.each do |message| %>
        <li><%= message.first %> - <%= message.last %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
  <% if batch.processing_warnings && batch.processing_warnings.length > 0 %>
    <li><%= t(:sis_batch_warnings_title, "Warnings")%>
      <ul>
      <% batch.processing_warnings.each do |message| %>
        <li><%= message.first %> - <%= message.last %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
