<%
# Copyright (C) 2016 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% if !@account.site_admin? &&
    @account.root_account? &&
    @account.grants_right?(@current_user, :manage_site_settings) %>
    <fieldset id="add_sis_app_token">
        <h2 class="screenreader-only"><%= t('SIS Agent Token Authentication') %></h2>
        <legend><%= t("SIS Agent Token Authentication") %></legend>
        <p style="font-size: 0.9em;"><%= t("This will allow you to authenticate Canvas for posting grades to SIS") %></p>
        <%= f.fields_for :settings do |settings| %>
            <table class="formtable">
                <tr>
                    <td><%= settings.blabel :sis_app_token, :en => "SIS Agent Token" %></td>
                    <td><%= settings.text_field :sis_app_token, :value => @account.settings[:sis_app_token] %></td>
                </tr>
                <tr>
                    <td><%= settings.blabel :sis_app_url, :en => "SIS App URL" %></td>
                    <td><%= settings.text_field :sis_app_url, :value => @account.settings[:sis_app_url] %></td>
                </tr>
            </table>
        <% end %>
    </fieldset>
<% end %>
