<% add_crumb t(:page_title, 'Profile Pictures') %>
<% content_for :page_title do %><%= t(:page_title, "Profile Pictures") %><% end %>

<% content_for :stylesheets do %>
<style>
.views .selected {
  font-weight: bold;
  font-size: 1.1em;
}
#avatars {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
#avatars tr .avatar_state {
  width: 50px;
}
#avatars td {
  border-bottom: 1px dotted #ddd;
  padding: 2px 0;
}
#avatars td.link_holder {
  text-align: right;
}
</style>
<% end %>
<h1><%= t(:title, "Profile Pictures") %></h1>
<div class="views">
  <span style="padding-right: 10px; font-weight: bold;"><%= before_label :show, 'Show' %> </span>
  <a href="?avatar_state=submitted" id="submitted_profile"  class="<%= 'selected' if @avatar_state == 'submitted' %>"><%= t(:submitted_link, { :zero => "Submitted", :one => "Submitted %{count}", :other => "Submitted %{count}" }, :count => @avatar_counts[:submitted] || 0) %></a> |
  <a href="?avatar_state=reported" id="reported_profile"class="<%= 'selected' if @avatar_state == 'reported' %>"><%= t(:reported_link, { :zero => "Reported", :one => "Reported %{count}", :other => "Reported %{count}" }, :count => @avatar_counts[:reported] || 0) %></a> |
  <a href="?avatar_state=re_reported" id="re_reported_profile" class="<%= 'selected' if @avatar_state == 're_reported' %>"><%= t(:re_reported_link, { :zero => "Approved, Re-Reported", :one => "Approved, Re-Reported %{count}", :other => "Approved, Re-Reported %{count}"}, :count => @avatar_counts[:re_reported] || 0) %></a> |
  <a href="?avatar_state=any" id="any_profile" class="<%= 'selected' if @avatar_state == 'any' %>"><%= t(:all_link, { :zero => "All", :one => "All %{count}", :other => "All %{count}" }, :count => @avatar_counts[:all] || 0) %></a>
</div>

<% if @users.empty? %>
  <h2 style="padding-top: 20px;"><%= t(:no_avatars_message, "No Profile Pics to Show") %></h2>
<% end %>
<table id="avatars">
<% @users.each do |user| %>
  <tr class="<%= user.avatar_state %>">
    <td style="width: 54px;">
      <%= avatar user, url: nil %>
    </td>
    <td class="avatar_state">
      <% if user.avatar_state == :reported %>
        <span class="screenreader-only"><%= t('Reported') %></span>
        <i class="icon-warning" aria-hidden="true"></i>
      <% end %>
      <% if user.avatar_state == :re_reported %>
        <span class="screenreader-only"><%= t('Re-Reported') %></span>
        <i class="icon-warning" aria-hidden="true"></i>
      <% end %>
      <% if user.avatar_state == :locked %>
        <span class="screenreader-only"><%= t('Locked') %></span>
        <i class="icon-lock" aria-hidden="true"></i>
      <% end %>
      <% if user.avatar_state == :approved %>
        <span class="screenreader-only"><%= t('Approved') %></span>
        <i class="icon-check" aria-hidden="true"></i>
      <% end %>
    </td>
    <td>
      <div class="name"><a href="<%= user_url(user.id) %>"><%= user.name %></a></div>
      <div class="email"><%= user.email %></div>
    </td>
    <td class="link_holder">
      <div class="links">
        <a href="#" class="update_avatar_link approve_avatar_link" data-state="approved" style="<%= hidden unless user.avatar_approvable? %>"><%= t(:approve_link, "approve") %></a>
        <a href="#" class="update_avatar_link lock_avatar_link" data-state="locked" style="<%= hidden if user.avatar_state == :locked %>"><%= t(:lock_link, "lock") %></a>
        <a href="#" class="update_avatar_link unlock_avatar_link" data-state="approved" style="<%= hidden unless user.avatar_state == :locked %>"><%= t(:unlock_link, "unlock") %></a>
        <a href="#" class="update_avatar_link reject_avatar_link" data-state="none"><%= t(:delete_link, "delete") %></a>
        <div style="display: none;">
          <a href="<%= update_avatar_image_url(user.id) %>" class="user_avatar_url">&nbsp;</a>
        </div>
      </div>
      <div class="progress" style="visibility: hidden;">
        <%= t(:saving, "Saving...") %>"
      </div>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@users, :style=>"margin-bottom: 1em;") %>

<% js_bundle :manage_avatars %>
