<% content_for :page_title do %><%= t(:page_title, "Confirm Delete") %><% end %>
<% add_crumb t(:page_title, "Confirm Delete") %>

<h2><%= t(:title, "Confirm Delete %{user} from %{account}", :user => @user.name, :account => @account.name) %></h2>

<%= form_for :user, :url => account_user_url(@context, @user), :html => {:method => :delete} do |f| %>
  <%= t(:confirm_delete,
  "Are you sure you want to delete this user from the account %{account}?
  This will remove the user's data (including grades) from all
  courses and groups.  This process cannot be undone.", :account => @account.name) %>

  <div class="form-actions">
    <a href="<%= account_url(@context) %>" class="btn"><%= t("#buttons.cancel", "Cancel")%></a>
    <button type="submit" class="btn btn-primary"><%= t(:delete_button, "Delete %{user}", :user => @user.name) %></button>
  </div>
<% end %>