<%
  @active_tab = "settings"
  add_crumb t(:settings_crumb, "Settings")
  js_bundle :account_settings
  jammit_css :account_settings, :reports, :tinymce
  content_for :page_title, t(:page_title, "Account Settings")
%>

<% content_for :right_side do %>
  <%= render :partial => "courses_right_side" unless @account.site_admin? %>
  <%= render :partial => "additional_settings_right_side" %>
<% end %>

<% content_for :stylesheets do %>
  <style type="text/css" media="screen">
    fieldset {
      margin: 2em 0;
    }
    legend{
      font-size: 1.1em;
    }
  </style>
<% end %>


<div id="account_settings_tabs" style="display:none;">
  <ul>
    <% if can_do(@context, @current_user, :manage_account_settings) %>
    <li><a href="#tab-settings"><%= t(:tab_settings, "Settings") %></a></li>
    <% end %>
    <li><a href="#tab-users" id="tab-users-link"><%= t(:tab_admins, "Admins") %></a></li>
    <% if @account.root_account? %>
      <li><a href="#tab-announcements" id="tab-announcements-link"><%= t(:tab_announcements, "Announcements") %></a></li>
    <% end %>
    <% if !@available_reports.blank? %>
      <li><a href="#tab-reports" id="tab-reports-link"><%= t(:tab_reports, "Reports") %></a></li>
    <% end %>
    <% if can_do(@context, @current_user, :manage_account_settings) %>
      <li><a href="#tab-tools" id="tab-tools-link"><%= t(:tab_external_tools, "External Tools") %></a></li>
    <% end %>
    <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
      <li><a href="#tab-alerts" id="tab-alerts-link"><%= t(:tab_alerts, "Alerts") %></a></li>
    <% end %>
  </ul>
  <% if can_do(@context, @current_user, :manage_account_settings) %>
    <div id="tab-settings">
      <% form_for :account, :url => account_url(@account), :html => {:method => :put, :id => "account_settings"} do |f| %>
        <fieldset id="account_settings" class="">
          <legend><%= t(:account_settings_title, "Account Settings") %></legend>
          <table class="formtable">
            <tr>
              <td><%= f.blabel :name, :en => "Account Name" %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <% if !@account.root_account? && (@context.sis_source_id && can_do(@context.root_account, @current_user, :read_sis) || can_do(@context.root_account, @current_user, :manage_sis)) %>
              <tr>
                <td><%= f.blabel :sis_source_id, :en => "SIS ID" %></td>
                <td>
                  <span class="course_form">
                    <% if can_do(@context.root_account, @current_user, :manage_sis) %>
                      <%= f.text_field :sis_source_id, :title => "SIS ID", :value => @context.sis_source_id %>
                    <% else %>
                      <span class="sis_source_id"><%= @context.sis_source_id %></span>
                    <% end %>
                  </span>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>
                <%= f.blabel :default_course_storage_quota, :en => "Default Course File Quota" %>
              </td>
              <td><%= t(:megabytes_field, "%{text_field} megabytes", :text_field => f.text_field(:default_storage_quota_mb, :id => 'account_default_course_storage_quota', :style => "width: 50px;", :title => t(:megabytes_tooltip, "megabytes"))) %></td>
            </tr>
            <% if @account.root_account? && !@account.site_admin? %>
            <tr>
              <td>
                <%= f.blabel :default_user_storage_quota, :en => "Default User File Quota" %>
              </td>
              <td><%= t(:megabytes_field, "%{text_field} megabytes", :text_field => f.text_field(:default_user_storage_quota_mb, :id => 'account_default_user_storage_quota', :style => "width: 50px;", :title => t(:megabytes_tooltip, "megabytes"))) %></td>
            </tr>
            <% end %>
            <% if available_locales.size > 1 %>
            <tr>
              <td><%= f.blabel :default_locale, :default_language, :en => "Default Language" %></td>
              <td>
                <% no_language = t(:no_language_preference, "Not set (defaults to %{language})", :language => available_locales[infer_locale(:context => @context.parent_account)]) %>
                <%= f.select :default_locale, [[no_language, nil]] + available_locales.invert.sort, :selected => @context.default_locale %>
                <p style="font-size: 0.9em;"><%= t(:default_language_description, "This will override any browser/OS language settings. Preferred languages can still be set at the course/user level.") %></p>
              </td>
            </tr>
            <% end %>
            <% if @account.root_account? %>
              <tr>
                <td><%= f.blabel :default_time_zone, :en => "Default Time Zone" %></td>
                <td>
                  <%= f.time_zone_select :default_time_zone, ActiveSupport::TimeZone.us_zones %>
                </td>
              </tr>
              <% unless @account.site_admin? %>
                <% f.fields_for :settings do |settings| %>
                  <tr>
                    <td><%= settings.blabel :self_enrollment, :en => "Allow Self-Enrollment" %></td>
                    <td>
                      <%= settings.select :self_enrollment, [
                              [t(:never_allow_self_enrollment_option, 'Never'), ''],
                              [t(:self_enroll_for_manually_created_courses_option, 'For Manually-Created Courses'), 'manually_created'],
                              [t(:self_enroll_for_any_courses_option, 'For Any Courses'), 'any']
                        ], :selected => @account.settings[:self_enrollment] %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><%= settings.check_box :prevent_course_renaming_by_teachers, :checked => @account.settings[:prevent_course_renaming_by_teachers] %>
                    <%= settings.label :prevent_course_renaming_by_teachers, :en => "Don't let teachers rename their courses" %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><%= settings.check_box :allow_sending_scores_in_emails, :checked => @account.settings[:allow_sending_scores_in_emails] != false %>
                    <%= settings.label :allow_sending_scores_in_emails, :en => "Students can opt-in to receiving scores in email notifications" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </fieldset>
        <%= render :partial => 'additional_settings' %>

        <% unless @account.site_admin? %>
          <fieldset>
            <legend><%= t(:quiz_ip_filters_title, "Quiz IP Address Filters")%>
              <%= link_to(image_tag('help.png'), '#', :class => 'ip_help_link no-hover', :title => t(:quiz_ip_filters_help_tooltip, "What are Quiz IP Filters?")) %></legend>

            <div id="ip_filters_dialog" style="display: none;">
              <h2><%= t(:quiz_ip_filters_help_title, "What are Quiz IP Filters?") %></h2>
              <%= mt(:quiz_ip_filters_help_message,
              "Quiz IP filters are a way to limit access to quizzes to computers in a specified IP range.\n\n" +

              "Specify a set of IP address filters that teachers can use to " +
              "protect access to quizzes.  Filters can be a comma-separated " +
              "list of addresses, or an address followed by a mask " +
              "(\"192.168.217.1/24\" or \"192.168.217.1/255.255.255.0\").\"") %>
            </div>
            <table>
              <tbody id="ip_filters">
                <% ((@account.settings[:ip_filters] || {}).sort_by(&:first) << [nil, nil]).each do |name, filter| %>
                  <tr class="ip_filter <%= raw ' blank" style="display: none;' if name.nil? %>">
                    <td><%= before_label(t(:ip_filter_name_label, "Name")) %></td>
                    <td><input class="name" value="<%= name %>"/></td>
                    <td><%= before_label(t(:ip_filter_filter_label, "Filter")) %></td>
                    <td><input class="value" value="<%= filter %>" maxlength="255"/></td>
                    <td>
                      <a href="#" class="delete_filter_link"><%= image_tag "delete_circle.png" %></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <a href="#" class="add-small add_ip_filter_link" style="font-size: 0.9em;"><%= t(:add_ip_filter_link, "Add another filter") %></a>
          </fieldset>
        <% end %>

        <fieldset>
          <legend><%= t(:features_title, "Features") %></legend>
          <% f.fields_for :settings do |settings| %>
            <% if @account.root_account? %>
              <% if Account.site_admin.grants_right?(@current_user, :manage_site_settings) %>
                <div>
                  <%= settings.check_box :admins_can_change_passwords, :checked => @account.settings[:admins_can_change_passwords] == true %>
                  <%= settings.label :admins_can_change_passwords, :en => "Password setting by admins" %>
                </div>
                <% unless @account.site_admin? %>
                  <div>
                    <%= f.check_box :enable_user_notes, :checked => @account.enable_user_notes %>
                    <%= f.label :enable_user_notes, :en => "Faculty Journal" %>
                  </div>
                  <div>
                    <%= settings.check_box :enable_eportfolios, :checked => @account.settings[:enable_eportfolios] != false %>
                    <%= settings.label :enable_eportfolios, :en => "ePortfolios" %>
                  </div>
                  <div>
                    <%= f.check_box :allow_sis_import, :checked => @account.allow_sis_import %>
                    <%= f.label :allow_sis_import, :en => "SIS imports" %>
                  </div>
                  <div>
                    <%= settings.check_box :enable_alerts, :checked => @account.settings[:enable_alerts] %>
                    <%= settings.label :enable_alerts, :en => "Alerts" %>
                  </div>
                <% end %>
                <div>
                  <%= settings.check_box :global_includes, :checked => @account.settings[:global_includes] %>
                  <%= settings.label :global_includes, :en => "Global CSS/JavaScript includes" %>
                </div>
              <% end %>
              <div>
                <%= settings.check_box :open_registration, :checked => @account.open_registration? %>
                <%= settings.label :open_registration, :en => "Open Registration" %>
                <% if @account.delegated_authentication? %>
                  <%= link_to(image_tag('warning.png'), '#', :class => 'open_registration_delegated_warning_link no-hover', :title => t(:open_registration_delegated_warning_tooltip, "An External Identity Provider is Enabled")) %></legend>

                  <div id="open_registration_delegated_warning_dialog" style="display: none;">
                      <%= t(:open_registration_delegated_warning_message,
                      "An external identity provider is enabled, and users created via open registration may not be able to log in unless
                      the external identity provider's login form has a link back to %{url}.", :url => login_url(:canvas_login => 1)) %>
                  </div>
                <% end %>
              </div>
              <div>
                <%= settings.check_box :users_can_edit_name, :checked => @account.settings[:users_can_edit_name] != false %>
                <%= settings.label :users_can_edit_name, :en => "Users can edit display name" %>
              </div>
            <% end %>
            <% unless @account.site_admin? %>
              <div>
                <input type="checkbox" id="enable_equella" <%= 'checked' if !@account.settings[:equella_endpoint].blank? %> />
                <label for="enable_equella"><%= t 'labels.equella', 'Equella' %></label>
              </div>
              <div>
                <input type="checkbox" name="turnitin" id="turnitin" <%= 'checked' unless @account.turnitin_account_id.blank? %> />
                <label for="turnitin"><%= t 'labels.turnitin', 'Turnitin' %></label>
              </div>
             <% end %>
          <% end %>
          <% f.fields_for :services do |services| %>
            <% Account.services_exposed_to_ui_hash(:setting).sort_by { |k,h| h[:name] }.each do |key, service| %>
              <div>
                <%= services.check_box key, :checked => @account.service_enabled?(key) %>
                <%= services.label key, service[:name] + " " %>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset id="account_settings_global_includes_settings" style="<%= hidden unless @account.allow_global_includes? %>">
          <legend><%= t(:global_js_and_css_includes_title, "Global JavaScript and CSS Includes") %></legend>
          <p style="font-size: 0.9em;"><%= t(:global_js_and_css_includes_description, "These files will be included on all page loads for your account") %></p>
          <% f.fields_for :settings do |settings| %>
            <table class="formtable">
              <tr>
                <td><%= settings.blabel :global_javascript, :en => "Global JavaScript URL" %></td>
                <td><%= settings.text_field :global_javascript, :value => @account.settings[:global_javascript] %></td>
              </tr>
              <tr>
                <td><%= settings.blabel :global_stylesheet, :en => "Global CSS URL" %></td>
                <td><%= settings.text_field :global_stylesheet, :value => @account.settings[:global_stylesheet] %></td>
              </tr>
            </table>
            <div>
              <%= settings.check_box :sub_account_includes, :checked => @account.settings[:sub_account_includes] %>
              <%= settings.label :sub_account_includes, :en => "Let sub-accounts define additional includes" %>
            </div>
          <% end %>
        </fieldset>

        <% if @account.root_account? && !@account.site_admin? && Setting.get_cached("show_feedback_link", "false") == "true"  %>
          <fieldset>
            <legend><%= t(:custom_links_to_include_in_the_help_dialog_popup, "Custom Links to include in the help dialog popup") %></legend>
            <p style="font-size: 0.9em;"><%= t(:if_you_would_like_to_link_to_your_own_campus_support_website_in_the_help_dialog_you_can_do_that_here, "If you would like to link to your own campus support website in the help dialog you can do that here") %></p>
            <% f.fields_for :custom_help_links do |custom_help_links, i| %>
              <div id="custom_help_links">
                <% ((@account.settings[:custom_help_links] || []) << {}).each_with_index do |help_link, i| %>
                  <div class="custom_help_link <%= raw ' blank" style="display: none;' if help_link.empty? %>">
                    <a href="#" class="delete" title="<%= t(:delete, "delete") %>">&nbsp;</a>
                    <table class="formtable">
                      <tr>
                        <td><label for="custom_help_links_<%= i %>_text"><%= before_label :help_link_text, "Text to display for link" %></label></td>
                        <td><input type="text" name="account[custom_help_links][<%= i %>][text]" value="<%= help_link[:text] %>" id="custom_help_links_<%= i %>_text"></td>
                      </tr>
                      <tr>
                        <td><label for="custom_help_links_<%= i %>_subtext"><%= before_label :help_link_subtext, "Sub-text" %></label></td>
                        <td><input type="text" name="account[custom_help_links][<%= i %>][subtext]" value="<%= help_link[:subtext] %>" id="custom_help_links_<%= i %>_subtext"></td>
                      </tr>
                      <tr>
                        <td><label for="custom_help_links_<%= i %>_text"><%= before_label :help_link_url, "URL" %></label></td>
                        <td><input type="text" name="account[custom_help_links][<%= i %>][url]" value="<%= help_link[:url] %>" id="custom_help_links_<%= i %>_url"></td>
                      </tr>
                      <tr>
                        <td><label><%= before_label :help_link_available_to, "Available to" %></label></td>
                        <td>
                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="user"  <%= 'checked' if help_link.empty? or help_link[:available_to].try :include?, 'user' %> id="custom_help_links_<%= i %>_available_to_user">
                          <label for="custom_help_links_<%= i %>_available_to_user"><%= t :help_link_available_to_all_users, "Users" %></label>

                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="student" <%= 'checked' if help_link[:available_to].try :include?, 'student' %> id="custom_help_links_<%= i %>_available_to_student">
                          <label for="custom_help_links_<%= i %>_available_to_student"><%= t :help_link_available_to_all_students, "Students" %></label>

                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="teacher" <%= 'checked' if help_link[:available_to].try :include?, 'teacher' %> id="custom_help_links_<%= i %>_available_to_teacher">
                          <label for="custom_help_links_<%= i %>_available_to_teacher"><%= t :help_link_available_to_all_teachers, "Teachers" %></label>

                          <input type="checkbox" name="account[custom_help_links][<%= i %>][available_to][]" value="admin" <%= 'checked' if help_link[:available_to].try :include?, 'admin' %> id="custom_help_links_<%= i %>_available_to_admin">
                          <label for="custom_help_links_<%= i %>_available_to_admin"><%= t :help_link_available_to_all_admins, "Admins" %></label>
                        </td>
                      </tr>
                    </table>
                  </div>
                <% end %>
              </div>
            <% end %>
            <a href="#" class="add-small add_custom_help_link" style="font-size: 0.9em;"><%= t(:add_a_custom_help_link, "Add a custom help link") %></a>
          </fieldset>
        <% end %>

        <% unless @account.site_admin? %>
          <fieldset id="enable_equella_settings" style="display: none;">
            <legend><%= t(:equella_settings_title, "Equella Settings") %></legend>
            <% f.fields_for :settings do |settings| %>
              <table class="formtable">
                <tr>
                  <td style="vertical-align: top;"><%= settings.label :equella_endpoint, :en => "Equella Endpoint" %></td>
                  <td>
                    <%= settings.text_field :equella_endpoint, :value => @account.settings[:equella_endpoint] %>
                    <div style="font-size: 0.9em;"><%= t(:equall_endpoint_help, "This is the URL to your equella service.  It will probably look something like \"%{sample_url}\".", :sample_url => "http://oer.equella.com/signon.do") %></div>
                  </td>
                </tr>
                <tr>
                  <td><%= settings.blabel :equella_teaser, :en => "Equella Comments" %></td>
                  <td><%= settings.text_area :equella_teaser, :style => "width: 90%; height: 75px;", :value => @account.settings[:equella_teaser] %></td>
                </tr>
              </table>
            <% end %>
          </fieldset>

          <fieldset id="turnitin_settings" style="display: none;">
            <legend><%= t(:turnitin_settings_title, "Turnitin Settings") %></legend>
            <table class="formtable">
              <tr>
                <td><%= f.blabel :turnitin_account_id, :en => "Turnitin Account ID" %></td>
                <td><%= f.text_field :turnitin_account_id, :class => "turnitin_account_settings" %></td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_shared_secret, :en => "Turnitin Shared Secret" %></td>
                <td><%= f.text_field :turnitin_shared_secret, :class => "turnitin_account_settings" %></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <a href="<%= account_turnitin_confirmation_path(@account.id, "{{ account_id }}", "{{ shared_secret }}") %>" class="confirm_turnitin_settings_link button"><%= t(:confirm_turnitin_settings_link, "confirm Turnitin settings") %></a>
                </td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_comments, :en => "Submission Comments" %></td>
                <td>
                  <span style="font-size: 0.9em;"><%= t(:turnitin_comments_help, "these comments will be shown to students when submitting a Turnitin-enabled assignment") %></span>
                  <%= f.text_area :turnitin_comments, :style => "width: 90%; height: 50px;" %>
                </td>
              </tr>
              <tr>
                <td><%= f.blabel :turnitin_pledge, :en => "Turnitin Pledge" %></td>
                <td>
                  <span style="font-size: 0.9em;"><%= t(:turnitin_pledge_help, "students must check a box acknowledging that they agree with this pledge") %></span>
                  <%= f.text_area :turnitin_pledge, :style => "width: 90%; height: 50px;" %>
                </td>
              </tr>
            </table>
          </fieldset>
        <% end %>

        <% if @account.root_account? and not Account.services_exposed_to_ui_hash(:service).empty? %>
          <fieldset>
            <legend><%= t(:enabled_web_serices_title, "Enabled Web Services") %></legend>
            <% f.fields_for :services do |services| %>
              <% Account.services_exposed_to_ui_hash(:service).sort_by { |k,h| h[:name] }.each do |key, service| %>
                <div>
                  <%= services.check_box key, :checked => @account.service_enabled?(key) %>
                  <%= services.label key, service[:name] + " " %>
                </div>
              <% end %>
            <% end %>
            <div style="display:none;">
              <!-- put all of the helpful dialogs describing what each service does in here
                   the magic is in giving it an id of "<name_of_service>_help_dialog" and class="service_help_dialog" -->
              <div class="service_help_dialog" title="<%= t(:about_google_docs_tooltip, "About Google Docs Previews") %>" id="google_docs_previews_help_dialog">
                <%= mt(:about_google_docs,
                  "In order to make it easier for users, rather than forcing them to download " +
                  "things like Word docs, PDFs, Excel spreadsheets, and open office documents " +
                  "(In addition to requiring that those programs be installed on their on their " +
                  "computer), in many areas throughout Canvas, it will allow you an inline " +
                  "preview of the document.\n\n" +

                  "If Scribd has been enabled for this account, it will try to use it to show the preview. " +
                  "But because Scribd uses flash paper to display the documents, and many users " +
                  "(namely those using an iPad/iPhone) do not have Flash Player installed, that preview " +
                  "will not work.  By leaving Google Docs Previews enabled, when a browser does not have " +
                  "Flash enabled, or if Scribd is not enabled, it will use preview powered by Google Docs. " +
                  "Using this service is subject to Google's viewer [terms of service](%{terms_url})", :terms_url => "https://docs.google.com/viewer/TOS") %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <% if @account.root_account? && !@account.site_admin? %>
          <fieldset>
            <legend><%= t(:create_courses_title, "Who Can Create New Courses") %></legend>
            <div style="font-size: 0.8em;"><%= t(:create_courses_description, "(Account Administrators can always create courses)") %></div>
            <% f.fields_for :settings do |settings| %>
              <div>
                <%= settings.check_box :teachers_can_create_courses, :checked => @account.teachers_can_create_courses? %>
                <%= settings.label :teachers_can_create_courses, :en => "Teachers" %>
              </div>
              <div>
                <%= settings.check_box :no_enrollments_can_create_courses, :checked => @account.no_enrollments_can_create_courses? %>
                <%= settings.label :no_enrollments_can_create_courses, :en => "Users with no enrollments" %>
              </div>
              <div>
                <%= settings.check_box :students_can_create_courses, :checked => @account.students_can_create_courses? %>
                <%= settings.label :students_can_create_courses, :en => "Students" %>
              </div>
            <% end %>
          </fieldset>
        <% end %>

        <div class="button-container">
          <button type="submit" class="button"><%= t(:update_settings_button, "Update Settings") %></button>
        </div>
      <% end %>
    </div>
  <% end %>
  <div id="tab-users">
    <h2><%= t(:account_admins_title, "Account Admins") %></h2>
    <ul class="admins_list user_list list admins">
      <%= render :partial => 'account_user', :collection => @account_users %>
      <%= render :partial => 'account_user', :object => nil %>
    </ul>
    <% if can_do(@context, @current_user, :manage_account_memberships) %>
      <% js_bundle :user_lists %>
      <a href="#" class="add_users_link button"><%= image_tag "add.png" %><%= t('links.add_admins', %{Add Account Admins}) %></a>
      <% form_tag account_add_account_user_url(@account), {:id => "enroll_users_form", :style => "display: none;"} do  %>
        <h2><%= t(:add_admin_title, "Add Account Admins") %></h2>
        <div style="margin-top: 5px;">
          <div>
            <%= label_tag :membership_type, :en => "Add More" %>
            <select name="membership_type" id="admin_membership_type">
            <% @context.account_membership_types.each do |type| %>
              <option value="<%= type %>"><%= AccountUser.readable_type(type) %></option>
            <% end %>
            </select>
          </div>
          <%= render :partial => 'shared/user_lists' %>
        </div>
        <div class="button-container">
          <button type="button" class="button verify_syntax_button"><%= t('buttons.continue', %{Continue...}) %></button>
          <button type="submit" class="button add_users_button"><%= t('buttons.add_users', %{OK Looks Good, Add These Users}) %></button>
          <button type="button" class="go_back_button button-secondary"><%= t('buttons.modify_users', %{Go back and edit the list of users}) %></button>
          <button type="button" class="cancel_button button-secondary"><%= t('#buttons.cancel', %{Cancel}) %></button>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @account.root_account? %>
    <div id="tab-announcements">
      <h2><%= t(:global_announcements_title, "Global Announcements") %></h2>
      <p>
        <%= mt(:global_announcements_description,
        "Global announcements are a way for you to post sticky messages on the dashboard " +
        "of all users in your account.  They will appear on each user's " +
        "dashboard for the given time period or until the user clicks the " +
        "\"close\"(×) link to ignore the alert. **These announcements should be " +
        "used sparingly.**") %>
      </p>
      <ul class="announcements_list unstyled_list">
        <% @announcements.each do |announcement| %>
          <li class="alert">
            <% if can_do(@account, @current_user, :manage_alerts) %>
              <a href="#" rel="<%= context_url(@account, :context_account_notification_url, announcement) %>" class="delete_notification_link close" title="<%= t(:delete_announcement_tooltip, "Delete this Announcement") %>">×</a>
            <% end %>
            <div class="subject">
              <%= image_tag("#{announcement.icon}.png") %><%= announcement.subject %>
            </div>
            <div>
              <span>
                <%= t(:alert_timespan, "from %{start_at} to %{end_at}",
                      :start_at => datetime_string(announcement.start_at),
                      :end_at => datetime_string(announcement.end_at)) %>
              </span>&nbsp;&nbsp;
              <%= link_to(context_user_name(@account, announcement.user_id), user_path(announcement.user_id)) %>
            </div>
            <div class="message user_content">
              <%= user_content(announcement.message) %>
            </div>
          </li>
        <% end %>
      </ul>
      <% if can_do(@account, @current_user, :manage_alerts) %>
        <a href="#" class="button element_toggler" role="button" data-hide-while-target-shown="true" aria-controls="add_notification_form"><%= image_tag "add.png" %><%= t(:add_announcement_link, "Add a New Announcement") %></a>
        <% form_for :account_notification, :url => account_account_notifications_url(@account), :html => {:id => "add_notification_form", :style => 'display: none;', :class => 'well', :role => "region" } do |f| %>
          <table class="formtable">
            <tr>
              <td><%= f.blabel :subject, :en => "Subject" %></td>
              <td><%= f.text_field :subject %></td>
            </tr><tr>
              <td><%= f.blabel :start_at, :en => "Starts" %></td>
              <td><%= f.text_field :start_at, :class => 'datetime_field' %></td>
            </tr><tr>
              <td><%= f.blabel :end_at, :en => "Ends" %></td>
              <td><%= f.text_field :end_at, :class => 'datetime_field' %></td>
            </tr><tr>
              <td><%= f.blabel :account_notification_icon, :en => "Icon" %></td>
              <td>
                <select id="account_notification_icon" name="account_notification[icon]">
                  <option value="warning" class="warning"><%= t(:alert_icon_warning_option, "warning") %></option>
                  <option value="calendar_icon" class="calendar"><%= t(:alert_icon_calendar_option, "calendar") %></option>
                  <option value="group" class="people"><%= t(:alert_icon_people_option, "people") %></option>
                  <option value="help" class="help"><%= t(:alert_icon_help_option, "help") %></option>
                  <option value="file" class="file"><%= t(:alert_icon_file_option, "file") %></option>
                </select>
              </td>
            </tr><tr>
              <td><%= f.blabel :message, :en => "Message" %></td>
            </tr>
          </table>
          <div>
            <%= f.text_area :message, :class => 'alert_message', :style => "height: 100px;" %>
          </div>
          <div class="button-container">
            <button type="submit" class="button"><%= image_tag "add.png" %> <%= t(:add_announcement_button, "Add Announcement") %></button>
            <button type="button" class="element_toggler button-secondary" aria-controls="add_notification_form"><%= t('#buttons.cancel', %{Cancel}) %></button>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if !@available_reports.blank? %>
    <div id="tab-reports">
      <table class="reports">
        <tr class="reports">
          <th class="reports"><%= t 'headers.report_name', 'Name' %></th>
          <th class="reports"><%= t 'headers.report_last_run', 'Last Run' %></th>
          <th class="reports"></th>
        </tr>
        <% @available_reports.each do |report, details|
           title = details[:title] || details
           description = details[:description]
           description_partial = details[:description_partial]
           description_partial = report + '_description' if description_partial == true
           parameters_partial = details[:parameters_partial]
           parameters_partial = report + '_parameters' if parameters_partial == true
           last_complete = @last_complete_reports[report]
           last_report = @last_reports[report]
           in_progress = last_report && last_report.in_progress?
           #the extra text is added so that you can give more than the date for the last run report
           extra_text = last_complete.try(:parameters).try(:[], "extra_text")
        %>
          <tr id="<%= report %>" class="reports">
            <td class="title reports">
              <span class="title"><%= title %></span>
              <% if description || description_partial %>
                <a href="#" class="open_report_description_link"><%= image_tag "help.png"%></a>
                <div style="display: none" class="report_description">
                  <%= description_partial ? render(:partial => description_partial) : description %>
                </div>
              <% end %>
            </td>
            <td class="last-run reports">
              <% if last_complete %>
                <%= datetime_string(last_complete.created_at) %>
                <%#the extra text is added so that you can give more than the date for the last run report %>
                <% if extra_text %>
                  (<%= extra_text %>)
                <% end %>
                <%= link_to image_tag("download.png"), context_url(last_complete.account, :context_file_download_url, last_complete.attachment.id) %>
              <% else %>
                <%= t 'report_last_run_never', 'Never' %>
              <% end %>
            </td>
            <td class="action reports">
              <% if parameters_partial %>
                <div style="display: none">
                  <div class="report_dialog">
                    <form id="<%= report %>_form" class="run_report_form" action="<%= account_run_report_path %>">
                      <div class="report_parameters">
                        <%= render :partial => parameters_partial if parameters_partial %>
                      </div>
                      <br />
                      <input type="hidden" name="report_type" value="<%= report %>" />
                      <a href="#" id="run_<%= report %>" class="button run_report_link"><%= t 'links.run_report', 'Run Report' %></a><br/>
                    </form>
                  </div>
                </div>
                <span class="running_report_message" style="<%= hidden unless in_progress %>">
                  <%= t('report_running', 'The report is running.*You\'ll receive an email when it is done.*', :wrapper => '<div>\1</div>') %>
                </span>
                <a href="#" id="configure_<%= report %>" style="<%= hidden if in_progress %>" class="button configure_report_link"><%= t 'links.configure_report', 'Configure...' %></a>
              <% else %>
                <form id="<%= report %>_form" class="run_report_form" action="<%= account_run_report_path %>">
                  <input type="hidden" name="report_type" value="<%= report %>" />
                  <span class="running_report_message" style="<%= hidden unless in_progress %>">
                    <%= t('report_running', 'The report is running.*You\'ll receive an email when it is done.*', :wrapper => '<div>\1</div>') %>
                  </span>
                  <a href="#" id="run_<%= report %>" style="<%= hidden if in_progress %>" class="button run_report_link"><%= t 'links.run_report', 'Run Report' %></a>
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <% if can_do(@context, @current_user, :manage_account_settings) %>
      <div id="tab-tools">
        <h2><%= t(:external_tools_title, "External Tools") %></h2>
        <%= render :partial => 'external_tools/external_tools', :object => @context.context_external_tools.active %>
      </div>
  <% end %>
  <% if @context.root_account.settings[:enable_alerts] && can_do(@context, @current_user, :manage_interaction_alerts) %>
      <div id="tab-alerts">
        <h2><%= t(:alerts_title, "Alerts") %></h2>
        <%= render :partial => 'alerts/alerts' %>
      </div>
  <% end %>
</div>
