<% content_for :page_title do %><%= @account.name %><% end %>
<%
  @active_tab = "courses"
  add_crumb "Courses", account_path(@account)
%>
<% content_for :right_side do %>
  <%= render :partial => 'courses_right_side' %>
<% end %>


<h2>Courses In This Account</h2>
<% if @associated_courses_count > 0 %>
  <% if @term %>
    <h3 style="margin-bottom: 1em;">For the term <strong><%= @term.name %></strong></h3>
  <% end %>
  <% if @associated_courses_count > @maximum_courses_im_gonna_show %>
    <p class='ui-state-highlight' style='padding:0.7em;'>
      There are too many courses to show (<%= number_with_delimiter(@associated_courses_count) %>).  
      Please use the finder on the right to find a specific course.
    </p>
  <% end %>

  <ul class='courses' style="list-style-type: none;">
    
    <%= render :partial => "course", :collection => @courses %>
    <%= render :partial => "course" %>
  </ul>  
</div>
<% else %>
  <h3>There are no courses in this <%= ( @root_account.enrollment_terms.active.count > 1 ) ? "term" : "account" %></h3>
  <ul class='courses' style="list-style-type: none;">
    <%= render :partial => "course" %>
  </ul>
<% end %>
<% js_block do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#filter").keyup(function(){
    var val = $(this).val().toLowerCase();
    $(".courses li .name a").each(function(){
      $(this).closest('li')[ $(this).text().toLowerCase().match(val) ? 'show' : 'hide']();
    });
  });
  
  
  $(".courses .course,.groups .group").bind('focus mouseover', function(event) {
    $(this).find(".info").addClass('info_hover');
  });
  $(".courses .course,.groups .group").bind('blur mouseout', function(event) {
    $(this).find(".info").removeClass('info_hover');
  });
  $("#enrollment_term").change(function() {
    if(location.href != $(this).val()) {
      location.href = $(this).val();
    }
  });
  if($("#new_course").length > 0) {
    var $newCourseForm = $("#new_course"),
      $courseName = $("#course_name"),
      autoComplete = $courseName.autocomplete({
        minChars: 4,
        deferRequestBy: 150, //miliseconds
        serviceUrl: $newCourseForm[0].action + ".json",
        onSelect: function(value, data){
          window.location = $newCourseForm[0].action + "/" + data
        <% if @associated_courses_count < @maximum_courses_im_gonna_show %>
        },
        
        lookup: <%= raw({
          :suggestions =>  @courses.map{ |c| c.name || ""},
          :data        => @courses.map{ |c| c.id  }
        }.to_json) %>
        <% else %>
        }
        <% end %>
      });
      
      // get rid of this lookup part and it will use ajax queries to that serviceUrl above.  I just figured this would be faster
      // and since we dont have that many users per institution we can afford to send it in a pageload.
  }
  $("#course_account_id option").each(function() {
    $(this).html($(this).text());
  });
});
</script>
<% end %>
