<% content_for :page_title do %><%= @account.name %><% end %>
<%
  @active_tab = "courses"
  add_crumb t(:courses_crumb, "Courses"), account_path(@account)
%>
<% content_for :right_side do %>
  <%= render :partial => 'courses_right_side' %>
<% end %>


<h1><%= t(:title, "Courses In This Account") %></h1>
<% if @associated_courses_count > 0 %>
  <% if @term %>
    <h3 style="margin-bottom: 1em;"><%= mt(:subtitle_term, "For the term **%{term}**", :term => @term.name) %></h3>
  <% end %>
  <% if @associated_courses_count > @maximum_courses_im_gonna_show %>
    <p class='ui-state-highlight' style='padding:0.7em;'>
      <%= t(:too_many_courses_message, "There are too many courses to show (%{count}). " +
      "Please use the finder on the right to find a specific course.", :count => @associated_courses_count) %>
    </p>
  <% end %>

  <ul class='courses' style="list-style-type: none;">
    <%= render :partial => "course", :collection => @courses %>
    <%= render :partial => "course" %>
  </ul>
</div>
<% else %>
  <h3><%= @root_account.enrollment_terms.active.count > 1 ?
          t(:no_courses_term_message, "There are no courses in this term") :
          t(:no_courses_account_message, "There are no courses in this account") %></h3>
  <ul class='courses' style="list-style-type: none;">
    <%= render :partial => "course" %>
  </ul>
<% end %>
