<% title = join_title t("Upload Gradebook"), @context.name %>
<% content_for :page_title, title %>

<h1><%= title %></h1>

<%= form_for [@context, GradebookUpload.new], html: {multipart: true, title: t("Choose a CSV file to upload:")} do |f| %>
  <p aria-hidden="true">
    <a class="icon-question"
      target="_blank"
      href="https://community.canvaslms.com/docs/DOC-2850">
      <%= t "What should the CSV file look like?" %>
    </a>
  </p>
  <p style="font-size: 1.2em;">
    <%= f.label :uploaded_data, t("Choose a CSV file to upload:") %>
    <%= f.file_field :uploaded_data %>
  </p>

  <%= f.submit t("Upload Data"), class: "btn btn-primary" %>
<% end %>
