<%
  content_for :page_title, join_title(t(:page_title, "Gradebook"), @context.name)
  css_bundle :slickgrid, :gradebook_uploads
  js_bundle :gradebook_uploads
%>

<div id="spinner" style="height:250px"></div>

<form id="gradebook_importer_resolution_section" style="display:none;">
  <h3><%= t('headers.import_error', "There was some stuff I couldn't figure out with the data that you uploaded:") %></h3>
  <div class="student_section" style="display:none;">
    <h4><%= t('headers.missing_student', "You uploaded rows for the following students, I couldn't decide which student in your class they are.  Please tell me which student they are.") %></h4>
    <table cellspacing="0" class="ui-widget ui-widget-content">
      <thead>
        <tr>
          <th class="ui-widget-header"><%= t(:student_question, "Student in question") %></th>
          <th class="ui-widget-header"><%= t(:student_answer, "This person is really") %></th>
        </tr>
      </thead>
      <tbody>
        <tr id="student_resolution_template" style="display:none">
          <th class='name'><%= t(:student_example, "Some Guy") %></th>
          <td>
            <select name="student_-iterator-">
              <option value=""><%= t(:choose_option, "-- Choose --") %></option>
              <option value="ignore" class="ignore"><%= t(:ignore_student_option, "Not in my class, Ignore this row.") %></option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="assignment_section" style="display:none">
    <h4><%= t('headers.missing_assignment', "You uploaded some assignments that don't appear to be in your gradebook before now.  Please tell me if it is a new assignment, or if it represents an existing assignment.") %></h4>
    <table cellspacing="0" class="ui-widget ui-widget-content">
      <thead>
        <tr>
          <th class="ui-widget-header"><%= t(:assignment_question, "Assignment in question") %></th>
          <th class="ui-widget-header"><%= t(:assignment_answer, "This Assignment is") %></th>
        </tr>
      </thead>
      <tbody>
        <tr id="assignment_resolution_template" style="display:none;">
          <th class='title'><%= t(:assignment_example, "Equity Indices Quiz") %></th>
          <td>
            <select name="assignment_-iterator-">
              <option value=""><%= t(:choose_option, "-- Choose --") %></option>
              <option value="new" class="new"><%= t(:new_assignment_option, "A new assignment") %></option>
              <option value="ignore" class="ignore"><%= t(:ignore_assignment_option, "Bogus, ignore it") %></option>
            </select>
            <span class="points_possible_section">
              <label><%= t('labels.points_possible', "Points Possible") %></label>
              <input type="text" class="points_possible" />
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button-container">
    <button type="submit" class="btn"><%= t('buttons.continue', "Continue %{icon}", :icon => raw('&rarr;')) %></button>
  </div>
</form>

<div id="no_changes_detected" style="display:none;">
  <h2><%= t('headers.no_changes', "There were no changes detected in the gradebook you uploaded.") %></h2>
  <p>
  <%= link_to(t('links.back', "Go back to Gradebook"), polymorphic_url([@context, 'gradebook'])) %>
  </p>

</div>

<%= form_tag({}, {:method => "put", :id => "gradebook_grid_form", :style => "display:none;"}) do %>
  <div id="gradebook_uploader_container">
    <div id="grid">
      <div id="gradebook_grid_header"></div>
      <div id="gradebook_grid"></div>
    </div>
  </div>

  <input type="hidden" name="json_data_to_submit" value="" />
  <div class="button-container" style="padding-left:7px;">
    <button type="submit" class="btn"><%= t('buttons.save_changes', "Save Changes") %></button>
    <%= link_to t('#buttons.cancel', "Cancel"), :back , :class => "btn btn button-secondary" %>
    <span id="assignments_without_changes_alert" style="display:none; margin-left: 50px;"><%= t('notices.unchanged', "Note: You uploaded some assignments that had no grade changes detected. They have been hidden.") %></span>
  </div>
<% end -%>

<div id="assignments_outside_current_periods" class="hidden">
  <h4><%= t('headers.past_grading_periods_prevent_editing', "The following assignments cannot be edited because they are not in a current grading period:") %></h4>
</div>

<style>
  /*keep this here because jquery.rule needs it to stick in dynamic styles for the slick.grid to keep all of the columns the same width*/
</style>
